[2022-03-12 09:15] rdstern opened #7296 "Plot geoms need re-spacing or other corrections (or reverting to an earlier version)"
I had sent this for @shadrackkibet and/or @N-thony I suggest an initial check that this just needs careful re-spacing of the controls?  But now I find it is another 0.7.4 issue - this time a major thing to change, but perhaps a setting has been altered in the move to 0.7.4? So @dannyparsons or @ChrisMarsh82 is this linked to the change to a version that also works under Linux?

Perhaps, if too man

[2022-03-13 08:47] rdstern opened #7297 "Changes in menu items"
I list changes - some new - in frm main.  I assume as agreed earlier, that @shadrackkibet will handle, or supervise this, so the results can be merged quickly.

a) In the Prepare > Check Data menu:
1) Change Duplicates... to Duplicate Rows...
2) Make Import from Open Refine not visible.  (We may re-instate it later.
3) And just a pointer, that we will (soon?) add Statistical Data Disclosure, using

[2022-03-13 11:32] rdstern opened #7298 "New bug in File > Open"
This has been there for a long time!  There have been some bugs introduced in Version 0.7.4 and this is different.

![image](https://user-images.githubusercontent.com/11226469/158057092-0496adf0-5645-4aee-8e45-395d06a8c87e.png)

The message says it all!  Here is how to get it.
a) Open From Library > Instat > Browse > Climatic > Niger and open sadore.xlxs.  Open the sheet called sadore.
b) Now retu

[2022-03-13 19:49] rdstern opened #7299 "Small changes in the Prepare > Check Data > Duplicates dialogue"
1. Could the name of the dialogue be Duplicate Rows.  That is at the top of the dialogue and hopefully also the Menu item (unless that should wait for other changes to the menus - see #7297 .
2. The most used option is the second, namely Selected Variables.  So could that become the first button, and hence the default when you first use the dialogue.  The Data Frame is then second.  The Successive

[2022-03-14 05:36] rdstern commented on #7296
@dannyparsons has written on skype: "ok it may be the Linux sizing"
"thankfully this is all one control so hopefully easy to fix"
I have asked him, whether he will fix, or explain, so someone else can try.

[2022-03-14 12:05] rdstern opened #7301 "Problem when running 64 bit?"
@shadrackkibet @Patowhiz does anyone else get this problem with the master version.

I have been running the current Any CPU and this has been working fine.  But I prefer 64 bit, so changed to that option.  Now I get:

![image](https://user-images.githubusercontent.com/11226469/158168349-7b8010eb-22f9-470d-a7d4-e01ab105866b.png)
This is at the bottom of the screen and the message above comes repea

[2022-03-15 07:15] #7296 closed

[2022-03-15 07:46] shadrackkibet commented on #7301
@rdstern try the following.

Navigate to the `bin` folder and delete it then try again.

For example, my `bin` folder is in the following path.

`C:\Users\SHADRACK\Source\Repos\R-Instat\instat\bin`

[2022-03-15 08:13] rdstern commented on #7301
@shadrackkibet magic - seems ok now.  Many thanks

[2022-03-15 09:09] geoo89 opened #7303 "Date comparison"
**Describe the bug**
I want to filter rows having a date entry before/after a certain date. It's not clear whether this works or is possible.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a column with date-times in ISO format (it appears that it is detected as a date)
![image](https://user-images.githubusercontent.com/678199/158342953-563c339d-d0e9-4f9a-b7c2-d62cfc609bef.png)
2. C

[2022-03-15 10:09] rdstern commented on #7303
@geoo89 you are right, we don't yet cope well with data-time variables.  As a work-around you could use Prepare > Column: Date > Make Date, and put in your date-time variable, to produce (say) date1, that is just a date variable.  Then the filter should work better on that variable.

[2022-03-15 10:25] rdstern opened #7304 "Help needed, plus serious bug on Find Replace of text variables"
This messy dataset is supplied with the R rrefine package.  It may have to be installed.  It includes a messy data set, (together with a tidy version)
I would like to show how these data can be tidied in R-Instat.  I need some help on using regex (which is one way of tidying.  This could usefully involve one of the documentation team, maybe @Kelvin-23  as it is good stuff for a video.  I also foun

[2022-03-15 11:16] lloyddewit commented on #6726
I reopened this issue because of the above comments that @rdstern made in PR #6734.

[2022-03-15 11:53] Patowhiz opened #7306 "Selector Does Not Show the Correct Variable Types Based on the Receiver Selected"
In most of the climatic dialogs the selector doesn’t filter the variables to be selected according to expected column types of the receiver for instance in the Transform dialog when selecting date, all variables are displayed in the selector. I went through the entire Check Data and Prepare menus of the Climatic menu and found the same problem in those dialogs. I’m suspecting that other dialogs ha

[2022-03-15 12:20] rdstern commented on #7306
@Patowhiz ok, but when data are defined as climatic, then those dialogues are filled automatically.  And the date is always one of those.

[2022-03-15 12:57] geoo89 commented on #7303
Example file:

[date_example.csv](https://github.com/africanmathsinitiative/R-Instat/files/8253447/date_example.csv)

[2022-03-15 12:59] Patowhiz commented on #7303
@rdstern another important question is why or how R-Instat recognised the column as a date column on import, notice the D in the column name. But in the filter dialog it's recognised as a numeric, notice the presence of the numeric number pad.
@geoo89 thanks for supplying the sample data.

[2022-03-15 13:15] Patowhiz commented on #7303
This issue relates to Issue #6685.

[2022-03-15 13:23] Patowhiz commented on #7301
@rdstern R-Instat now also relies on other libraries, for instance SQLite. Changing the preferred platform architecture (32 bit or 64 bit) requires you to also use the appropriate library architecture target. Not doing so results to such errors.

@rdstern I think you can now close this issue. Thanks.

[2022-03-15 13:46] rdstern commented on #7303
@Patowhiz as I men tioned before, that's because it is a date-time vartiable.  I defined the date from that and it ius recognised

![image](https://user-images.githubusercontent.com/11226469/158391417-582935d3-a2a6-4700-b0b2-6f61c523505a.png)

[2022-03-15 13:46] Patowhiz commented on #7288
@rdstern @dannyparsons this relates to our email conversation.

My quote

@dannyparsons response quote

I think the conversation on the way forward can proceed here.

[2022-03-15 15:36] #7301 closed

[2022-03-16 04:36] shadrackkibet commented on #7297
@Vitalis95 include the following in your PR. Consistency is key!

Climatic>Tidy and Examine>Duplicate Rows...
Options by Context > Check data> Duplicate Rows...

Change Filter to Filter Rows... in all right clicks
The same applies to Column selection in all right clicks

[2022-03-16 04:44] rdstern commented on #7297
@shadrackkibet great that your comments overlapped with mine.  a) Good to add your consistency items.
b) Pleased you liked my addition for Filter to `Filter Rows...`
c) Do you want to keep `Column Selection...`, rather than `Select Columns...`  I (only) slightly prefer `Select Columns...`, but happy to go with your preference.

[2022-03-16 05:00] shadrackkibet commented on #7297
@rdstern I like **Select Columns...** let us change it.

We need to change dialog names at the top but that can be done later.

[2022-03-16 05:23] rdstern commented on #7297
@shadrackkibet great.  It shows it is a bit useful writing the R-Instat help, alongside the programming.  And I like calling "your" new objects `Selects  `, just as we have `Filters`!

[2022-03-16 06:25] rdstern opened #7310 "Confirm and correct error in Non-numeric dialogue"
We are now just about complete in our use of factors and labels in R-Instat.  This is making it easy to transform data between character, factor and numeric.
When you make a factor (or character?) into a numeric variable and it has some non-numeric values, then it invites you to check, and that loads the Prepare > Check Data > Non-Numeric Values dialogue.
a) Now that dialogue currently only accept

[2022-03-16 07:14] shadrackkibet commented on #7310
@N-thony this can be simply solved by changing the `function_exp` parameter to `function_exp="is.na(as.numeric(as.character(x=fert)))"`. Please check that it works in general otherwise you could do this only when a column is a `factor`.

Perhaps it is safer to use `function_exp="is.na(fert) != is.na(as.numeric(as.character(x=fert)))"`. We rely on coarsion here which is dangerous!

[2022-03-16 07:25] rdstern commented on #7310
Thanks @shadrackkibet for the R code.

[2022-03-16 07:57] maxwellfundi opened #7311 "Abnormally big rows heights on the grid from import shapefile"
**Describe the bug**
The grid has abnormally big row heights when I load a shape file.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Climatic>File> Import and Tidy Shape file
2. Select your shape file
3. Click Ok
4. See the outcome in the grid

**Expected behaviour**
To  have normal row heights in the grid

**Screenshots**
![image](https://user-images.githubusercontent.com/9798689/1

[2022-03-16 08:56] maxwellfundi opened #7313 "Developer Error when renaming a column"
**Describe the bug**
I get two consecutive developer errors when I try rename a column from the right click menu.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to File>Import and load any data of your choice.
2. From a column name you want to rename, right click and select Rename Column
3. Two consecutive developer errors appear.

Note: After clicking OK the second time, the dialog ope

[2022-03-16 09:10] #7173 closed

[2022-03-16 11:13] Ivanluv commented on #6634
Am working on this

[2022-03-16 15:22] Patowhiz commented on #6936
@rdstern @dannyparsons @N-thony this is caused by repeated function calls at the `ucrFactor` control level. The effect is not noticeable when the levels are a few but when we have over 1000 values, this is expected. Omitting the repetition in calling of functions when the dialog reloads should fix this issue.

From my assessment, we have 2 possible approaches;
1. Short term fix - introduce a flag

[2022-03-16 16:56] rdstern commented on #6936
@Patowhiz thanks for that.  I don't quite understand refactoring, but the change needs to be well done.  There are other dialogues, particularly the filter that also show the different levels of a factor.  I wonder what happens to them?

[2022-03-16 17:46] shadrackkibet commented on #4185
My idea as follows;

This could be done at `databook` level. We need to have some sort of a stack data structure that will have options depending on the number of retrievals we can have -  this is like saving copies of data frames - we can decide to save specific elements that change in the stack eg just column names. However, this needs careful thought because it will have implications on the siz

[2022-03-16 17:49] rdstern commented on #7095
@dannyparsons this (serious?) bug does appear elsewhere too.  A new simple example is to open diamonds and the to do filter and filter from factors.  Choose any factor, then press return and it crashes in the same way.

I wonder what else doesn't work?

[2022-03-16 18:03] rdstern commented on #4185
@Patowhiz I was after something very simple, that would only work, perhaps for one data frame and just one command back.  It just adapts what you did at the end of a command once.  It also doesn't add to the databook, but is stored temperarily somewhere - as we currently do with graphs.  All it would do is on any action - grid or dialogue where needed, is to take a copy of the data frame.  (assumi

[2022-03-16 19:43] #7275 closed

[2022-03-17 06:20] Patowhiz commented on #7162
I've looked into this and it looks like the structures done by @ChrisMarsh82 can be used by the data selector, similarly to the way the data view reads from them, in this case I mean the .Net data book object to be precise.

So @rdstern @dannyparsons I'm now implementing this. Thanks.

[2022-03-17 08:10] Patowhiz commented on #7162
This issue relates to issue #7161.
Solving this issue partly solves issue #7161

[2022-03-17 08:17] anastasia-mbithe commented on #7254
Hello @dannyparsons, so what I get is that, this should be added as another top radio button in the Conversions dialog. Am I right?

[2022-03-17 08:27] rdstern opened #7316 "Controlling the numerical display in grid controls"
This has come because of the new contrasts dialogue.  It is now looking great as a teaching tool.  I record here a particular improvement that would also be useful.
In addition this is an example of a dialogue where we would like to press Ok and then look at the dialogue again.  We can always get last dialogue, but it would be even better if we could opt to keep it open.  That's issue #7180

Here

[2022-03-17 09:10] #4356 closed

[2022-03-17 11:33] rdstern commented on #7095
@dannyparsons so principal components analysis also doesn't work.  It is another instance that is ok in 0.7.3 but not in our current version.  I tried with the decathlon data from factominer - which we use in this dialogue.  Then input the 10 variables and it crashes in the same place as the others.

Given it isn't urgent, I am assuming that @shadrackkibet and @fran2or continue with version 0.7.4

[2022-03-17 12:27] Patowhiz opened #7317 "Link in the wait dialog points to unavailable page"
When I click on the wait dialog link, the page it points to, is no longer available.
The link points to https://www.ilri.org/biometrics/default.htm
@rdstern any suggestion to another web page?

![click](https://user-images.githubusercontent.com/21179007/158808319-e1002c7b-4efc-4796-8d61-a93b53d9bc0b.PNG)

[2022-03-17 13:59] Patowhiz commented on #7147
One of the items that we discussed with @N-thony was about the **Default** column. @rdstern I was wondering as to why we need that column if the option suggests that it's about creating an **Empty** data frame?

I'm of the opinion that a data frame with defaults is NOT an empty one(If I'm wrong then consider this comment null and void).
If a user wants a data frame with defaults they could use the

[2022-03-17 15:47] Patowhiz commented on #7162
After further investigations, I've realised that the primary reason as to why the dialogs take long to load is because of the repeated function calls at the `ucrSelector` control level. The effect is not noticeable when the variables are few but when we have over 1000 variables, this is expected.

Omitting the repetition in calling of functions particularly `LoadList()` in the `ucrSelector` reduce

[2022-03-17 16:31] rdstern opened #7318 "Extend the PCA dialogue"
Looking in more detail this should be a reasonably easy improvement.
We currently already use the factominer package.
Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/158806613-69140d2d-fc28-453f-952f-9f4e88458a51.png)

The factominer package says:
[code]
These are exciting additions, particularly:
a) Multiple receiver for additional numeric variables.  Sup

[2022-03-17 19:54] #7310 closed

[2022-03-18 14:21] anastasia-mbithe opened #7319 "Issues in the Prepare>Date>Make Date dialog"
@Patowhiz and I have been looking at the Prepare >Make Date Dialog, specifically the Year and day of the Year option.
We noticed 3 issues;
1. The dialog positions the new column at the end of the dataset instead of after the date of the year column.
2. The cut-off up down control does not reset back to 0(current original value).
3. The selector should allow only numeric variables since the option

[2022-03-20 18:59] #7280 closed

[2022-03-20 19:03] #7293 closed

[2022-03-22 09:27] rdstern commented on #7304
@lilyclements after asking various people we think this is a puzzle you may be able to diagnose quite quickly.

With the data above I think there may be 2 slightly different things needed.  Both could usefully illustrate how easily we can tidy the data above (from rrefine package).  Perhaps initially how easily we could tidy the last variable:

a) In find/replace I would like to find something in

[2022-03-22 10:11] derekagorhom commented on #7299
@rdstern we looked into this issue with @Patowhiz  and we also realized that the dialog is producing duplicate R commands. I wonder if this was intentional.

What the dialog produces;
[code]

What we think it should be producing;
[code]

If the current duplicated R commands is not correct, should we correct it in PR #7305 or in a new PR?

[2022-03-22 12:32] Patowhiz commented on #7162
@rdstern @dannyparsons I imported the same data using R-Instat functions in R studio and below is a benchmark comparison of the 2 softwares in my machine.

Import command;
[code]
Bench mark time;

| Trial | RStudio  | R-Instat |
| -------------| ------------- | ------------- |
| 1 | 7.480  | 5.876 |
| 2 | 7.416  | 5.181 |
| 3 | 7.449  | 5.125 |
| 4 | 7.456  | 5.540 |
| 5 | 7.393  | 5.820 |
| 6 | 7

[2022-03-22 12:40] Patowhiz commented on #7161
@rdstern @dannyparsons I imported the same data using R-Instat functions in R studio and below is a benchmark comparison of the 2 softwares in my machine.

Import command;
[code]
Bench mark time;

| Trial | RStudio  | R-Instat |
| -------------| ------------- | ------------- |
| 1 | 7.480  | 5.876 |
| 2 | 7.416  | 5.181 |
| 3 | 7.449  | 5.125 |
| 4 | 7.456  | 5.540 |
| 5 | 7.393  | 5.820 |
| 6 | 7

[2022-03-22 17:01] lilyclements commented on #7304
To (a):

[code]

Although this isn't the "tidyverse" way to achieve this. We can achieve it with a `case_when` (or `ifelse`) option.
However, we then have an issue with factors. So have to convert the variable to a character (and then convert it back). We can keep the levels in the correct order by the `var_levels <- levels(...)` line

[code]

To (b): What output would you want when locating the r

[2022-03-23 03:50] Patowhiz commented on #7180
Looking into this now.

[2022-03-23 08:55] rdstern opened #7323 "Two small improvements to the Prepare > Data Frame > Row Numbers/Names dialogue"
This is a simple task and should only take a few minutes I hope.
1) The first option says Copy Row Names into Column.  Change this into `Copy Row Numbers or Names into a Column`
2) Move the other options down, so there is room for a checkbox for this option.
3) Add a checkbox (default checked) with label Make the Column into a Key for the data Frame.

When checked it runs the same code as in the P

[2022-03-24 05:47] N-thony commented on #7319
I also notice that when you click the `Origin radio button` under the `Single Column` option, it opens pull-down control without a default value.
![image](https://user-images.githubusercontent.com/68591383/159850702-2142453a-b5f5-4dd4-90d2-39f2f720006f.png)

[2022-03-24 05:57] N-thony commented on #7319
I think the observations are correct, @anastasia-mbithe can you try to solve those 4 points raised above?Thanks.

[2022-03-24 06:27] N-thony commented on #7316
@rdstern is this okay? I have fixed number of decimals to 3.
![image](https://user-images.githubusercontent.com/68591383/159855539-b8f67774-c758-42f5-8b70-c6d43ff3327d.png)

[2022-03-24 06:33] Patowhiz commented on #7180
@rdstern @dannyparsons I would like to add, we may want to also be careful with "Ok and Keep", especially for dialogs that produce new columns. For instance, as a user I would expect the newly created column to be available in the dialog that I'm keeping, especially if I'm doing operations that apply on results of each other.

[2022-03-24 06:41] rdstern commented on #7316
@N-thony that looks perfect.  I would like to check also with simple examples, like -1, 1, 0 0.  They should remain as simple integers

[2022-03-24 07:42] Patowhiz commented on #7304
@rdstern a few items that I noticed while using the dialog in looking at this;

1. Currently we are just producing a new column when we do a replace, regardless of whether there was any replacements or not. Wouldn't be a nice idea if we also showed some feedback summary if the replacements done like the way excel does. We could do this in the output window.
2. The include regular expressions check

[2022-03-24 07:43] Patowhiz commented on #7304
@rdstern In regards to your [comment](https://github.com/africanmathsinitiative/R-Instat/issues/7304#issuecomment-1074928574) above.

If I was a user who never bothered to understand regular expressions and wanted the last variable to only have "Yes" and "No". This is how I will do it R-Instat.

1. I will use  Prepare>Column: Text>Transform dialog to get a the first substring (Start value = 1, End

[2022-03-24 07:53] Patowhiz commented on #7304
@rdstern more questions in regards to the same. If I wanted to extract just 1 character from a column rows. And this character is in different position/index in the different rows. Which dialog can I use if I don't want to use regular expressions?

[2022-03-24 08:07] Patowhiz commented on #7304
@rdstern  you say;

When I input `y\S*` expression the dialog gives me an error and I'm not thrown out of R-Instat. I'm only thrown out of R-Instat if I use the script window to run the command, that is, the error is trapped when the dialog is used but not when the script window is used.

@rdstern can you confirm if that is also the case on your side?

[2022-03-24 08:11] rdstern commented on #7304
@Patowhiz no - I tried with Version 0.7.4 and it throws me out from the dialogue.

[2022-03-24 08:14] Patowhiz commented on #7304
Try to replicate the same using the latest changes in the master.

[2022-03-24 08:22] N-thony commented on #7148
@derekagorhom can you try this?

[2022-03-24 08:22] N-thony commented on #7205
@derekagorhom can you this too?

[2022-03-24 08:27] rdstern commented on #7304
@Patowhiz I like most of your comments above.  My only defence is that if you think this dialogue is poor now, then you shouldn't have looked at it before.  @N-thony has done some good work on recent improvements, but I know there is more to do.

a) But I think "my" solution to the editing of the y and n, given above, may be at least as good as yours.  It will be just a single step to the user, an

[2022-03-24 08:33] derekagorhom commented on #7205
yes please i would like to work on this

[2022-03-24 09:46] Vitalis95 opened #7327 "A bug in Describe >Multivariate>Principal Component Analysis dialog"
Here is the dialog,
I have used `decathlon` data from `FactoMineR` package

![image](https://user-images.githubusercontent.com/89011415/159885089-7ea50a80-3fba-42e3-adec-bbc0dadcfc88.png)

 When I click `OK` , I get the following bug;

![image](https://user-images.githubusercontent.com/89011415/159874842-657fd268-aa67-4647-928c-83b6aef9be1d.png)

When I ran the R-Script generated in RStudio,  it w

[2022-03-24 10:39] Patowhiz commented on #7304
@rdstern @dannyparsons in regards to handling the error. Below is my detailed overview of why R-Instat 'runtime' breaks instead of handling the error.

An expression like `y\S*` inside an R command statement throws an R error generally because `'\S' is an unrecognized escape in character string starting ""y\S`".

When such expression is included in the scripts produced by this dialog. The R.Net en

[2022-03-24 16:08] Patowhiz commented on #7286
@geoo89 very true. I've fixed this in PR #7328 .

[2022-03-25 06:57] N-thony commented on #7205
@derekagorhom I was helping Dennis on this and made some progress, have a look of the change in #7244 so far, and then we will continue.

[2022-03-25 09:56] rdstern commented on #7161
@Patowhiz I wonder how much further we can go with this?
In R it is quite easy to get (very) wide files. and I think the limits on number of variables is just the same as the number of rows.  For example if I take the diamonds data - which is 10 variables and 53,000 rows I can transpose the data to be 10 rows and 53,000 variables.  I assume thaqt isn't a problem in RStudio but may be a mess in R-I

[2022-03-26 09:14] Patowhiz commented on #7161
@rdstern thanks for asking.

Yes it is easy in R, as I stated in my above comment. Our biggest drawback is in the `data_book$import_data` R function when it comes to wide datasets(it adds a whopping 4 mins on average!). Remember we use this function to import all types of data, it's the entry to R-Instat. I have not looked into the R function in detail to understand why it takes time to execute fo

[2022-03-26 09:34] rdstern commented on #7161
@Patowhiz sounds good.  I am happy with your 2 above.  I am not specially worried about memory, particularly as I think memory use by metadata will be dwarfs by or (perhaps soon to come) undo use of memory.  And I really don't see memory limitations as a common problem for R-Instat users.  I am really happy that we can already manage 3 million, by 50 almost (but not quite) on a 32 bit implementati

[2022-03-27 08:11] rdstern opened #7330 "Improvements needed in select facility"
The select facility is still "work in progress".  I suggest certain improvements are needed, before the next version.

![image](https://user-images.githubusercontent.com/11226469/160272611-72c69455-23f8-4d6d-a1c9-f40d563d0e91.png)

I think @shadrackkibet is already working on the fact that calculations do not work yet once a selection is in operation.
The calculate above shows another small proble

[2022-03-27 13:18] #7295 closed

[2022-03-27 18:30] rdstern opened #7331 "Problems introduced on temperature quality control"
This is in the new development version and has been introduced since version 0.7.4.  It seems ok there.
There may be more errors, but one of them is obvious.  I can supply data where I noticed it, if need be, but I think it will be obvious for any data, e.g. dodoma.

In the first check the default is the limits for tmax are 10 to 50 and tmin is 1 to 30.  In the results it was obvious (in my data)

[2022-03-28 05:43] #7277 closed

[2022-03-28 07:28] shadrackkibet commented on #7331
@Vitalis95 @N-thony could you carefully check what might have happened?

 Might be linked to the recent changes in  #7265

[2022-03-28 07:29] rdstern opened #7332 "Possibly corrected feature in PICSA graphs has resurfaced"
Here it is:  I thought this was fixed ages ago?  It is an extremely annoying bug, because we are getting reasonable statistics wrong.

![image](https://user-images.githubusercontent.com/11226469/160344270-97a907a2-bbcf-4fed-8b17-b5770db4ef34.png)

Here is another example:

![image](https://user-images.githubusercontent.com/11226469/160344733-7d7e37c9-f88d-4d85-b8ac-fc94b0939250.png)

I checked wit

[2022-03-28 12:23] N-thony commented on #7297
@Vitalis95 as you agreed to be the one making text control and database changes, can you resolve items a.1) b.1) c.1)2) ?

[2022-03-28 12:24] N-thony commented on #7332
@rdstern I will have a look of this.

[2022-03-29 05:27] shadrackkibet commented on #6190
@Wycklife could you move this issue into the R-Instat Data repo? That is where it belongs.

[2022-03-29 07:10] N-thony commented on #7205
@derekagorhom how is it going with this?

[2022-03-29 10:00] Vitalis95 commented on #7297
@N-thony items b.1) and c.2) was solved in PR #7308 while items a.1) and c.1) have sorted them out in PR #7324

[2022-03-29 10:48] anastasia-mbithe commented on #7323
@rdstern Should I link the new checkbox (add key) to the first radio button only? Since its the only one creating a new column.

[2022-03-29 10:50] rdstern commented on #7323
@anastasia-mbithe that's right.  It is only needed for the first option

[2022-03-29 13:52] Patowhiz commented on #7298
@rdstern the bug is caused by R function `data_book$import_RDS` R function.

When importing excel, csv and other non rds files we use, `data_book$import_data`. This function converts the set data frame names into lower case before checking on whether to rename or not. However the `data_book$import_RDS` doesn't do that.

In summary;
1. `data_book$import_RDS` implementation will just do a check like

[2022-03-29 14:10] Patowhiz opened #7337 "Error when I import SPSS data"
I get the error in the screenshot below when I try importing spss data. Please note this error was not there just a few days ago.

The data
[ZZHR62FL.zip](https://github.com/africanmathsinitiative/R-Instat/files/8372183/ZZHR62FL.zip)

The error
![import_error](https://user-images.githubusercontent.com/21179007/160629799-d452f83c-1b03-4e1e-9235-0497fcee0404.PNG)

[2022-03-30 06:45] rdstern opened #7339 "Simple edits to the data frame metadata"
@shadrackkibet please check these suggestions and then I wonder who could do them I assume possibly Antoine, as one of the points involves select!

![image](https://user-images.githubusercontent.com/11226469/160766527-b0ea5873-e5b2-4e1d-842c-e43edc359fd4.png)

Suggestions:
1) Move the current Row Count field to before the Column Count.  Call it `Rows`.
2) Call Column Count simply` Columns`.
3) Mov

[2022-03-30 07:53] rdstern opened #7340 "Extend select when data has value labels"
Now I know why the sj packages includes searching in value labels.  I am afraid we need it in select.  @shadrack, it will become clear when you look at the SPSS data I sent in skype.
These data are excellent candidates for select, because there are quite a number of variables.  Some are labelled.  I was assuming the labelled variables would be the ones that become factors.  It is still important t

[2022-03-30 08:23] Patowhiz commented on #7337
@rdstern @lloyddewit @shadrackkibet
This bug is a fairly recent addition. And it may have affected other places as well.
I have traced it to `append_to_variables_metadata` function which is called in numerous places.

Error stack trace
[code]

Old Function
[code]

New Function
[code]

Notice where
`self$append_to_changes(list(Added_variables_metadata, curr_col, property))` has been added in the ne

[2022-03-30 08:29] rdstern commented on #7337
@Patowhiz good to discuss with @N-thony.  We have been trying to sort out labelling v factors in datasets, and I thought had been making progress.  BHut it seems at a heavy price.  Good spot!  SPSS produces labelled data when imported, so it is possible that that has been affected.

Just the sort of problem we usually spot after a new version is released.  It could be a good example to both correc

[2022-03-30 08:48] rdstern opened #7341 "Small addition needed in the Prepare > Column: Factor > View/Delete Labels dialogue"
This should be a very simple task.  @shadrack to allocate.

It is on the View button:

It is a 4th option in the Display Options group.  That box can start higher, then add another checkbox at the bottom, default unchecked.  The label is `Max Labels:`.  If checked it opens an updown with default 15.  It can go up or down in integer jumps.  I assume down to 1, but try and check.  Can use MICS surve

[2022-03-30 09:05] N-thony commented on #7337
@rdstern you are right, and also very carefully on reviewing the code. @Patowhiz thanks for the spot, this error was introduced in #7247 by `self$append_to_changes(list(Added_variables_metadata, curr_col, property))`, hopefully now we fixed it as disucssed. :)

[2022-03-30 12:27] Patowhiz commented on #7337
More updates.

I've traced the error to the `new_val` argument. That additional check of  new_val == "" is the source of the error `missing value where TRUE/FALSE needed`.

For some reasons, which I don't know and according to the code its shouldn't, the argument at times has length zero and yet it's never missing. I've confirmed it's never missing (it shouldn't anyway because it has default value

[2022-03-30 13:10] Patowhiz commented on #7337
@rdstern @N-thony Now I fully understand the source of the problems.

We actually do have places that do `append_to_variables_metadata(new_val = NULL)`.
So doing  `if( new_val == "" )` like in this case will definitely throw `missing value where TRUE/FALSE needed`.

I think this is not easy to spot as it required checking several areas where this function is called (and it's in many places).
Solut

[2022-03-30 13:12] N-thony commented on #7337
@Patowhiz nice, something like  ` if (property == labels_label && is.null(new_val))` should work?

[2022-03-30 16:46] N-thony commented on #7332
@rdstern I have been looking into this then I found that when we were running the code for both Facets option `row` or `column` we were missing to add  `dplyr::group_by(station)` that is why result was still the same.

ChomaChipata_merged_by_station_s_year <- data_book$get_data_frame(data_name="ChomaChipata_merged_by_station_s_year")
ChomaChipata_merged_by_station_s_year <- ChomaChipata_merged_by_

[2022-03-31 07:59] derekagorhom commented on #7205
Closed #7205

[2022-03-31 08:44] Patowhiz commented on #6936
@rdstern okay. I'm now refactoring this control.

[2022-03-31 08:47] Patowhiz commented on #7161
This issue broadly relates to issue #6936 and #7161. Will solve it in a series of several pull requests. Thanks.

[2022-03-31 08:54] rdstern commented on #7161
@Patowhiz excellent.  Exciting too!

[2022-03-31 08:58] rdstern commented on #6936
@Patowhiz that's great.  There are quite a number of dialogues that load a factor.  For example the Filter dialogue has filter from factor, and also loads the levels when you want to choose a subset of the levels.  I am hoping they all use (or will use) the same.

[2022-03-31 09:00] Patowhiz commented on #6936
Yes.

[2022-03-31 09:10] anastasia-mbithe commented on #7319
@rdstern, what should be the cut-off for 2000 in this dialog, while making a two digit year?

[2022-03-31 09:40] #7199 closed

[2022-03-31 10:47] lilyclements commented on #7262
To create separate tables in the output, we can use the `map` function in the `purrr` package.

E.g., for the survey data if we wish to get a frequency table for the variable "fert" for the variable "size", with "village" as a factor we would run the folllowing:

[code]

This is pretty much the same as we ran before, but with `columns_to_summarise = .x` in the summary table function, and `data = .

[2022-04-01 03:25] shadrackkibet commented on #7340
It is easy to extend the selection to include a value label. We can have a checkbox that opens up input to type the text.

[2022-04-01 06:10] shadrackkibet commented on #7339
@rdstern I agree with these changes. I like them. I claim that point (5) should be fixed even if life is too short!

@N-thony Implement as suggested. Point (5) might be tricky but give it a try. If not let me know and I will have a look at it.

[2022-04-01 06:58] shadrackkibet commented on #7341
@anastasia-mbithe this is an easy one to add. Let us know here if you experience any challenges.

[2022-04-02 05:51] rdstern opened #7349 "Possible small improvement in the data grid?"
@ChrisMarsh82 I now find that I use your new version of the data grid much more than I thought I would.
I find the arrows very useful indeed.  For example, with my usual climatic data the start of the data is often boring (lots of values are missing, i.e. NA) So nice that I can go to the end of the data so  easily and quickly!  (And with no 1 million data limit for large data sets.
We used to use

[2022-04-02 07:01] rdstern opened #7350 "Small change in Prepare > Data Object > Rename Data Frame"
Perhaps @Vitalis95 could make this change quickly as it includes a change to the menu.
I find the word Data Object to be very confusing on the menu.  Our data frames are made into a Data Book.  So I suggest we call this Data Book instead.  I'll check quickly with @volloholic .

But the small change can be seen by comparison with the Prepare > Data Frame > Rename Columns.  There you can also (for a

[2022-04-02 14:27] #7286 closed

[2022-04-02 14:33] #7332 closed

[2022-04-02 15:08] #7340 closed

[2022-04-03 05:17] rdstern opened #7351 "Deleting key variables should also delete the key"
We need key variables for our comments system.  And we have just added the default that making a column from the row variable usually automatically makes it a key variable.
Slightly separate from this is what happens when we delete variables.  I think nothing happens to the key, so that remains.  I suggest that deleting a variable should check and if it is a key or part of a key, then that key sho

[2022-04-04 09:41] rdstern commented on #7351
@dannyparsons I have realised it is more complicated than this!
![image](https://user-images.githubusercontent.com/11226469/161515882-00597b0a-d180-4cf9-8523-a860f6426a96.png)

a) When I make a second key with different variables, then it appears as field key1 in the data frame metadata.
b) When I delete a key it still remains in the metadata.  So in the figure above I have deleted key from the hh

[2022-04-04 17:50] #7323 closed

[2022-04-04 18:33] #7331 closed

[2022-04-05 06:50] rdstern commented on #7232
@N-thony has anything happened on this issue?  Would you like to allocate it or share it with someone else?

[2022-04-05 06:51] N-thony commented on #7232
@rdstern thanks for reminding me. I will share it with one the intern.

[2022-04-05 07:16] #7029 closed

[2022-04-05 07:20] #7298 closed

[2022-04-05 07:20] #7337 closed

[2022-04-05 08:31] rdstern commented on #7232
I have just found this!
![image](https://user-images.githubusercontent.com/11226469/161711475-5e992d19-21ad-4a08-8b10-9d3682283dab.png)
That is from Version 0.7.2, so before the new grid.  It may be that @ChrisMarsh82 needs be involved, but I suspect the code hasn't changed, it's just not doing anything with the new-style grid we now have.

Looking above, since I wrote this message I note that @N-

[2022-04-05 08:54] N-thony commented on #7232
@rdstern thanks, that is really helpful, I will investigate and try to fix it first, also contact when it will be necessary @ChrisMarsh82 wh

[2022-04-05 09:48] #7259 closed

[2022-04-05 16:56] glezmoreno opened #7357 "Error importing any file"
I'm trying to test R-instant but the import data tool does not work as it indicates "cannot import this file with the current options". I first tried with my own CSV using separated comma, semicolon, deleting columns and changing the options but it didn't work. Finally I tested the tutorial and tried to add the dodoma data from the climatic dataset and it can't be imported either

![image](https:/

[2022-04-06 06:26] rdstern opened #7359 "New bug in regular sequence dialogue?"
Am I right?  I thought this was (at last working fine?
I think @Patowhiz fixed this dialogue, but perhaps @N-thony can check whether I am right about this bug.
[survey for merge.zip](https://github.com/africanmathsinitiative/R-Instat/files/8424141/survey.for.merge.zip)
This is the file I prepared to check a merge dialogue.  Here are the steps I took:
a) In survey1, which is of length 34
b) Go into

[2022-04-06 07:24] shadrackkibet commented on #7357
@glezmoreno thanks for reporting the following bug.

Not sure what's happening from your end. This might be caused by the previous steps. If you could provide more information on what you did before trying to load the dataset then I can try to replicate it.

In the meantime, I suggest you try the following.

1) Close R-Instat using the close button(Red X  - Top left).
![image](https://user-images.

[2022-04-06 08:33] N-thony commented on #7359
@rdstern you are right, I'm able to reproduce this. I think the control are not updating the R code correctly.

[2022-04-06 09:20] N-thony opened #7360 "Pasting on Data View Grid seems to not work again"
I have tried to paste from Excel to the current Data View Grid and this seems to not work, but when I tried with version 0.7.2 it is working fine.

[2022-04-06 09:43] Patowhiz opened #7361 "Levels/labels Inconsistency"
I write here for further discussions and @rdstern may wish to add.
Currently there is 2 main of checking the labels of a factor, we can use;
1. Column metadata grid which has a `labels` column to show the `labels levels` of the factor.
2. Labels/Level which has a grid that can have the label and level columns.

However, when looking at the dialog, it wasn't quite clear as to whether those columns

[2022-04-06 16:07] glezmoreno commented on #7357
Yes, I have tried to close the software and reboot but it still shows the same problem. The steps were basic: install R-Instat and try to load dataset using the same route as you told me File>Import From Library>Load From Instat Collection>Browse>Climatic>Climatic_guide_dataset.xlsx>Open

In fact the problem seems to be general with any dataset. If I try to open any dataset from R library it gives

[2022-04-06 20:14] shadrackkibet commented on #7357
Happy to take this discussion to an email/skype/zoom and discuss it further if you are happy?

This looks like a different error message. You may try deleting the following file `etc/Renviron.site` and see if it works. Refer to the solution provided in https://github.com/rdotnet/rdotnet/issues/62#issuecomment-369065108

[2022-04-10 11:57] rdstern commented on #3040
I now have data for analysis that (I think) needs this facility.  I assume it will affect the data sheet and hence the data book structure, but I hope in a minor way.
I think it is needed for importing data from SPSS better.  (And from Stata or SAS that all allow multiple missing value codes.
I hope it could easily be added in a minimal way, because I suggest that's all we need.
An example data fr

[2022-04-10 12:09] rdstern opened #7365 "Possible bug on View/Delete Labels dialogue"
I suggest this be investigated by @shadrackkibet because I think it may need a contact with the package producer.  It is quite a serious bug - if I am right and it isn't something we are doing?
Here is an example:
![image](https://user-images.githubusercontent.com/11226469/162617168-ee78a242-8e60-434b-b73d-3887d3659952.png)

The problem seems to be with any labelled variable, where there is just a

[2022-04-10 12:23] shadrackkibet opened #7366 "Disable Levels/labels in cell right"
**Levels/labels** tool strip item should be disabled when the active cell is not a factor /ordered factor column.

![image](https://user-images.githubusercontent.com/26301973/162617712-860a96c4-9ee8-4f6e-9f07-9a5a098f0efe.png)

Just check how this is done in the column right-click.

![image](https://user-images.githubusercontent.com/26301973/162617871-60e8d410-2a7e-46fe-8ca0-0b65f8780329.png)

[2022-04-10 20:00] rdstern commented on #7349
@ChrisMarsh82 an addition, perhaps related small improvement is in the default number of variables.  It is an enquiry I have regularly given to @dannyparsons and he was never sure, with the old grid.  I hope the answer might be clearer now.
The default size is 1000 rows and 30 variables at a time.  I have been running with 40 variables for a long time now on my machine, and it all seems ok.  I now

[2022-04-11 09:52] Patowhiz commented on #7360
@N-thony thanks. I'm looking into this.

[2022-04-11 10:08] Patowhiz opened #7367 "Issues with ucrInputs events"
`ucrInput`
This custom control has redundant event `ContentsChanged` which is already part of `ucrCore` as `ControlContentsChanged`. References to `ContentsChanged` should be removed to avoid future confusion at dialog and other custom controls level. For instance dialogs using  `ucrInputTextBox` can just listen to `ControlContentsChanged`.

`ucrInputTextBox`
This control doesn't raise `ControlVal

[2022-04-11 15:35] N-thony opened #7371 "Minor bug on the selector data frame control to remember the current data frame"
The selector data frame control seems to not remember the current data frame, when you open the a dialogue when there is not dataset loaded in the dataview, and reopen the selector dataframe doesn't select the current dataframe by default or when you have different datasets `data1`, `data2`, and `data3`, with `data1` as current data in the `Data View` then open any dialogue, the selector dataframe

[2022-04-11 20:27] Patowhiz commented on #7367
@lloyddewit your suggestions on this issue will be highly appreciated.

[2022-04-12 07:42] rdstern commented on #4712
This is a @dannyparsons question, see above, because I like our rule that the dialogue "remembers" its setting from when it was used last and that's simple and I don't want to change that.  But:
a) I have often moved to a new data frame, perhaps opened it, and then gone back to a dialogue and forgotten it is still on the old data frame.  Could we (say) have the current data frame in the pull-down

[2022-04-12 08:53] Patowhiz commented on #7148
@derekagorhom is now looking into this. He can confirm.

[2022-04-12 08:56] N-thony commented on #7273
@mmulahvictor can you try this? Let me know if you need help.

[2022-04-12 09:01] Patowhiz commented on #4712
@rdstern yes, @dannyparsons responded in my email about the idea of letting the user know about the selected sheet. And I've been looking into this.
I'm not sure if we can have styling in winforms combobox items, I'll check.
The solution I've been leading towards is showing a bold label that indicates the selected sheet in the data view window whenever it's different from the selected data frame i

[2022-04-12 09:47] rdstern opened #7373 "Check on efficiency of select code"
I tried with the poulet dataset from the factoMiner package.  It has 43 rows and 7400 variables.
It takes a long time to import, but that is a single time, and I hope that @Patowhiz is looking at that.
I then tried a select.  I used starts with AA, which is just a few variables.
a) This took a very long time.  It also put the waiting message about 6 different times.  I wonder if the VB code could

[2022-04-12 10:01] rdstern commented on #7367
@Patowhiz what do I test here?

[2022-04-12 18:53] lloyddewit commented on #7367
@rdstern I responded in PR #7368

[2022-04-12 19:03] lloyddewit commented on #7367
Happy to give feedback. I'll do this when I review PR #7368

[2022-04-13 05:25] rdstern opened #7374 "A csv file that File > Open has trouble with?"
[TTC 1981-2018.zip](https://github.com/africanmathsinitiative/R-Instat/files/8478380/TTC.1981-2018.zip)

I was able to read it, by opening in Excel and then saving as xlsx.  But opening as csv gave an error

Perhaps @Patowhiz or @N-thony could examine?

[2022-04-13 07:31] #7147 closed

[2022-04-13 07:36] #7359 closed

[2022-04-14 06:59] mmulahvictor commented on #7273
@N-thony I will try it out.

[2022-04-14 07:00] rdstern opened #7377 "Serious bug in calculations again"
I was trying to test a new pull request - #7329 and fell over the same bug (I think) that was reported before, namely
![image](https://user-images.githubusercontent.com/11226469/163330086-0b50e4ce-18c7-4503-9d97-1e282000754b.png)

I have captured the dialogue that is the cause:
![image](https://user-images.githubusercontent.com/11226469/163330212-a6ae7d6a-5ec1-4368-a7d8-2e880559b0e1.png)

That's a

[2022-04-14 07:29] #7366 closed

[2022-04-14 09:50] Patowhiz commented on #7374
I'm looking into this.

[2022-04-14 10:10] N-thony commented on #7374
Okay.

[2022-04-14 11:56] Patowhiz commented on #7374
@rdstern just to be clear the error is only thrown when you skip 2 lines? That's what is happening on my machine. I'm able to import it when I don't skip any lines, or when I skip 1,3 or more lines.

[2022-04-14 12:04] N-thony commented on #7374
I get this error
![image](https://user-images.githubusercontent.com/68591383/163386945-6036ddff-482c-4843-91e0-9c476413e43a.png)

[2022-04-16 08:31] Patowhiz commented on #7374
@rdstern currently, in R-Instat, we can't  handle duplicate column names when **importing** csv files. That's what is causing the bug.

When you skip 2 lines, the **Date/Lat** row which becomes the column header ends up having duplicate columns names, notice the `-3.4` is twice when you view the csv file in an editor. You can't see this in the preview window because the sequence of commands used a

[2022-04-16 08:31] rdstern opened #7379 "File export as a single file is always available?"
Here is an example:
![image](https://user-images.githubusercontent.com/11226469/163668137-80f61fe7-4717-49ce-aff5-a0d939567e2d.png)

I can export multiple data frames in a wide variety of formats and the option to export as a single file seems always available?  Is this true, or only for Excel?  For other formats, like csv or SPSS I assume I would get multiple files?

[2022-04-16 09:55] N-thony commented on #7279
@rdstern I'm not able to reproduce item d), please check again otherwise we can close this?

[2022-04-16 11:53] Patowhiz commented on #7379
@rdstern click on the  **Save as single file** checkbox and see what happens. I think that will answer your question.
The checkbox option  is the one that determines what file types will be available for single files.

Remember, originally we designed this form to do that automatically. But later it was generally agreed that was not the preferred design.

[2022-04-16 11:57] rdstern commented on #7379
@Patowhiz   Aha - thanks.  I can write the help now!

[2022-04-16 12:15] Patowhiz commented on #7379
So you can close this issue.

[2022-04-16 12:17] #7379 closed

[2022-04-16 17:07] rdstern opened #7382 "Add (Merge) Columns has problem with example for the Help"
The data are 3 files from the climdex.pcic package.  They are 3 separate elements.  The longest is tmin, so add the others to that.
This works fine with the left-join in the ordinary merge, but gives an error in this dialogue.
![image](https://user-images.githubusercontent.com/11226469/163684494-91e5787e-017d-48aa-a60b-2cbc3ce76208.png)

I would like to merge the flag field as well, but that's an

[2022-04-16 18:15] N-thony commented on #7382
@rdstern that is correct, the two datasets don't have the same legngth therefore for it to work you needed just to check `New Data Frame` to create a new dataframe see screenshot below and it works fine. I will add a check for the length in this case a give a message if the length is not the same to check `New Data Frame`
![image](https://user-images.githubusercontent.com/68591383/163686703-78b722

[2022-04-16 20:09] rdstern commented on #7382
No it should still work with a left join.  That's why the example we used before had 2 observations missing in the second data, i.e. was only of length 34.

[2022-04-17 08:18] rdstern opened #7384 "Something seems changed in the filter system?"
In the merged version the filter system doesn't seem to work.
a) When I do filter from Factor, say using Village from the survey data, it doesn't work in that none of the villages are then defined as filters - I selected all the villages and it all works fine in Version 0,7.4.
b) When I define a filter, then it does work, and the filter is made correctly.  But it isn't saved as a filter.  So, if I

[2022-04-17 14:02] rdstern opened #7385 "Change the place of the Factor > View/Delete Labels dialogue"
The View/Delete labels dialogue is being slightly improved, pull request #7362.
In writing the Help it also seems to me to be in the wrong place.  It is hidden in the Prepare > Column: Factor menu.
I suggest we move it to the Prepare > Check Data menu, I suggest it goes just below One Variable Frequencies and above the horizontal line there.  I also suggest it is a move, so we delete it from its c

[2022-04-17 16:47] rdstern commented on #7077
I am re-opening this issue, because  as I write the Help I realise this item was omitted:

A minor change in the Prepare > Column: Numeric > Sample/Permute Rows dialogue is to add a checkbox With Replacement and default unchecked. (See the Prepare > Data Reshape > Random Subset for this control.)

Currently the dialogue permutes, but doesn't yet sample!

[2022-04-18 11:03] N-thony commented on #7384
I'm looking at this.

[2022-04-18 12:15] N-thony commented on #7384
@rdstern this problem is more general, it was introduced in PR #7322. It happens when the dataset is updated (deleting or adding a column to the dataframe) for example with adding column you can try to recode factor variable with `Recode Factor dialogue` it will create a `new recoded column` and when you reopen the dialogue, the `new recoded column` is not listed in the selector, same when you del

[2022-04-18 12:18] N-thony commented on #7384
Here is another example
![image](https://user-images.githubusercontent.com/68591383/163807150-84cb89ab-7618-489b-b4ae-7cfc5930f39d.png)

[2022-04-18 12:20] N-thony commented on #7384
@Patowhiz could you look into this since you worked on #7322?

[2022-04-18 16:26] rdstern opened #7387 "Two additions to the File > New Data Frame"
I suggest this might become 2 separate pull requests, but just one if they both prove to be easy.
a) As mentioned in the Discussion topic #7378 add a further "data type" called Sequence.  The default is a variable from 1, 2, 3, ... .  I think that is simply the command seq(1,length).  Optionally you can give a default number, in which case, for a value, x, it gives seq(x, length+x-1).
b) Add a new

[2022-04-18 16:34] rdstern opened #7388 "Improve the coding for the Regular sequence dialogue"
@anastasia-mbithe perhaps you may like to try this task?

Could you look at the discussion topic #7378.  I hope you will find it interesting as a topic that could perhaps be included in a maths camp?

Within that topic I found that the regular sequence dialogue is practically unusable for long datasets.  Could you check how it is coded?  I suspect that the problem may be related to the preview, bu

[2022-04-18 16:40] rdstern commented on #6264
@lloyddewit as we may be doing more stress tests, I wonder if it could be convenient to add this into R-Instat.  What do you think?

[2022-04-19 06:03] Patowhiz opened #7389 "Column selection and row names dialog problems"
@rdstern in comment says;

@Patowhiz and @shadrackkibet I tried with the poulet data as you suggested.  The selector works fine now.  I have not checked back to the time difference, but this is very satisfactory now.  So I am approving.
I hope @shadrackkibet can check the code and merge, when he is happy.  Perhaps, at the same time he could try the steps I took, because I seemed to find problems w

[2022-04-19 06:04] Patowhiz commented on #7389
@rdstern I'm looking into this.

[2022-04-19 06:07] rdstern commented on #7389
@Patowhiz that's great.  Could you perhaps also look at #7384 at the same time.  Perhaps your changes have affected both select and filter?

[2022-04-19 06:10] Patowhiz commented on #7384
@N-thony okay.

[2022-04-20 07:54] #7382 closed

[2022-04-20 08:20] lloyddewit commented on #6264
Timing is needed for performance testing. Performance tests are slightly different to stress tests.
If we wanted to have a set of performance tests that we could run automatically, then we would probably use a testing framework like XUnit (as used for the RScript automatic unit tests). Testing frameworks automatically time the tests so adding a timer to R-Instat wouldn't add value.

If we want to

[2022-04-20 10:01] #7374 closed

[2022-04-20 10:11] rdstern commented on #7237
Not sure about these anymore, so closing

[2022-04-20 10:11] #7237 closed

[2022-04-20 10:21] rdstern commented on #6877
There is still a further option that we need for the Rename with part of this dialogue.  Perhaps @lily could help to puzzle out what is needed, because I am not sure.  Then maybe @N-thony could implement.

Some examples are above and I give a further one here.
In the Prepare > Column: Numeric > Permute/Sample Rows I use the following example:
![image](https://user-images.githubusercontent.com/1122

[2022-04-20 10:47] rdstern opened #7392 "Very small change needed in Contrasts dialogue"
@anastasia-mbithe  This is looking very good now.  But it only allows factors.  This should include ordered factors.  You don't need to change anything on the display, but just include them in what you allow.  (Though perhaps you do, see below.)

I am confused now, because I defined fert1 in the rice survey data in the calculator as ceiling(fert).  Then made it an ordered factor and it didn't appe

[2022-04-20 15:33] Patowhiz commented on #7389
@rdstern I also noticed, when using wide data data set like the  **poulet** data of **factoMineR** package, that doing an operation that affects new columns takes a lot of time when there is a column selection. Even adding the column selection took longer. I'll investigate further regarding this.

@rdstern so I used the dodoma data set to solve item (a). The selection now is visible in dialogs. Yo

[2022-04-20 15:35] Patowhiz commented on #7389
@rdstern the error you got in item (b) is similar to what I have outlined above. Let me investigate further then get back to you.

[2022-04-20 21:01] rdstern commented on #7389
I think you have now hit the big improvement still needed in the select system, before a new version can be released.  I think it is already there in Version 0.7.4.  You cannot make a new variable when you have a select. See #7330

[2022-04-21 08:00] rdstern opened #7394 "Minor and possibly major issue with the Add (Merge) Data dialogue"
@N-thony this is also possibly a nice task to involve one of the others also in the steps below.  I suggest it is a good example of the use of R-Instat that also makes a good test.  Perhaps someone could try - as a user and report to you and @lilyclements?
a) Open the usual rice survey data
b) Add a variable, called say fert1 which takes the 4 values 0,, 1, 2, 3.  It uses the calculator and is fer

[2022-04-21 09:10] #7384 closed

[2022-04-21 09:15] #7077 closed

[2022-04-21 10:57] rdstern opened #7396 "Problem refreshing the selector when new variables are produced?"
@Patowhiz I think this is general, but here is the example I used.
a) Opened sentences data from the stringr package.
b) Used Prepare > Column: Text > Find/Replace and
c) Option replace and replace a by z.  Used option replace All.  So got another character variable.
d) Wanted to do more on the new variable, but it isn't in the selector.  Try as I might, I can't get it into the selector, when just

[2022-04-21 11:31] lilyclements commented on #7330
@rdstern this bug is occurring from the `add_columns_to_data` function.

Namely, in the line
``` private$data[[curr_col_name]] <- curr_col ```
(This is currently line 659, but may not be after future merges!)

The issue is that a new column is added (or, in the case of rearranging, is rearranged) in the unselected data set. But is not added to the selected data set.
This is because `private$data`

[2022-04-21 11:58] Patowhiz commented on #7396
@rdstern I think this was fixed in PR #7393, which has now been merged. Could you try testing this with the latest changes in the master.

If it's been fixed then I think this issue can now be closed.

[2022-04-21 12:12] rdstern commented on #7396
@Patowhiz yes it seems to be resolved.  Great.  Closing!

[2022-04-21 12:12] #7396 closed

[2022-04-21 14:28] Patowhiz commented on #7288
@rdstern I'm now looking into this.

[2022-04-21 19:59] rachelkg opened #7397 "Program crashes when i try to use Export Dataset"
I recently updated via visual basic and am using R-Instat through there. When i try to open Export dataset it stops working. This is the message in VB:
![2022-04-21_12-57-29](https://user-images.githubusercontent.com/85707390/164542889-2da5f143-7ddd-431c-84c6-37b6b2525187.png)

[2022-04-22 06:10] rdstern opened #7398 "Minor changes in the Prepare > Column: Text > Transform dialogue?"
These are just cosmetic changes and I would like discussion, by one or two developers, even though they are trivial to do.  Perhaps @lilyclements could consider with whom?

a) I use this dialogue regularly, but the only option I have used is the last - namely Substring.  We seem to have an informal convention that the initial top radio button is the one on the left.  I am not sure we need that con

[2022-04-22 08:00] N-thony opened #7400 "Another small bug when trying to delete a dataframe from Data View window"
This bug occurs when trying to delete a data frame from the Data View Window. You can try with any dataset.
Right click on the dataframe name from the Data View window as shown in screenshot below, and then click Delete
![image](https://user-images.githubusercontent.com/68591383/164644107-3bf3fbfa-1c57-4c49-af70-15ffce0b6c69.png)
Then you get this error
![image](https://user-images.githubuserconte

[2022-04-22 08:15] Patowhiz commented on #7400
yes thanks.

[2022-04-22 15:23] Patowhiz commented on #7288
@rdstern in  https://github.com/africanmathsinitiative/R-Instat/issues/7304#issuecomment-1077362079 says

[2022-04-22 16:29] Patowhiz commented on #7384
@rdstern I think this can be closed now. It was fixed by PR #7393 which has been merged.

[2022-04-22 16:30] Patowhiz commented on #7384
Oh! It's now closed. Thanks.

[2022-04-22 16:31] Patowhiz commented on #7389
So this is now being done by @N-thony

[2022-04-23 06:10] rdstern opened #7405 "Small correction and code check on Column: Text > Distance dialogue"
The small correction is that the Method control currently doesn't remember its previous setting.
I understand you may also be checking the quality of the code.  Here is an example where I wonder if the R code can be improved?  That should probably involve discussion.
Most dialogues seem to generate code in 3 parts:
a) getting the data frame, or the variables from the data book.
b) Doing something

[2022-04-23 06:24] rdstern opened #7406 "Small correction needed in the Random Samples dialogue"
@Vitalis95 this is a really curious one.
a) With any data set use the random samples dialogue and go to Discrete Empirical.  You don't need to do anything there!
b) Then go to (say) Poisson, which just has a single parameter.  It can't now be edited, because discrete empirical had the first argument as non-editable.  (I think geometric has the same problem!)
c) It is easy to proceed - if you go to

[2022-04-23 06:35] rdstern opened #7407 "Small correction needed in the Column: Text > Split code"
I don't know how general this is in the dialogue.  I opened the usual survey data frame and used split on the village variable.  There waqs nothing to split, but that's ok.  It works.
Then I went to the rrefine lateformetting data frame from the library and tried the binary option on the second variable - the day of the week one.  Doesn't matter what you use - it won't work.  Mine gave the error b

[2022-04-23 08:53] Patowhiz commented on #7387
@rdstern I read the issue #7378. Interesting and good ideas.
I'm just a bit concerned with the consistency that we generally want to introduce in R-Instat.
I thought the column types that we have in this dialog should generally be consistent with those supported in R-Instat as displayed in the data viewer? Or you are leaning towards sacrificing that consistency for the functionality?

[2022-04-23 09:43] Patowhiz opened #7408 "Unusual Sequence of .Net load event in the dialogs"
In some dialogs, for instance the regular sequencer dialog, the input controls load event is raised after the form load event has finished. I found this rather odd, because the expected sequence of events is, the controls to first raise their load events before the form raises its load event.

I have also found this to have unintended consequences like reduced performance when loading the dialogs

[2022-04-23 09:47] Patowhiz commented on #7408
I also found the same issue in the filter custom control when I was refactoring the factor control in PR #7358. The filter control that contains the factor control had it's load event raised before the factor control. This made the reogrid inside the factor control throw a visibility error

[2022-04-23 10:00] rdstern commented on #7387
@Patowhiz goodpoint, it isn't a type in quite the same way.  However, I am happy with the result, namely to be able (easily) to have a new data frame with just a sequence variable - and no variables with NAs that we then don't use.  Maybe a horizontal line before sequence, or a completely different way to add this variable could be interesting?

[2022-04-23 11:25] Patowhiz commented on #7387
@rdstern I suggest a right click or a button inside the **Default** column cells that opens a pop up or pop down, in which a user can choose expressions that will give the default values, and these expressions can of course have brief explanations of what they are (similar to what we have in the command and construct examples). This design also allows us to toggle the expressions shown based on th

[2022-04-23 12:06] Patowhiz commented on #7408
I've observed that when we toggle the visibility of the custom controls just when or after loading the form, the load event of those controls is always raised. Some of these controls like the `ucrInputs` end up raising other custom events like `ControlContentsChanged` and `ControlValueChanged` which dialogs use to perform different operations.

I think refactoring some of these controls to make su

[2022-04-24 09:10] rdstern opened #7409 "Improve the Prepare > R-Objects dialogues"
This work could involve more than one person and there may be multiple pull requests.

a) The simplest is perhaps to start with the Prepare > R Objects > Rename.  The multiple selector is a bit odd there - and the same in all of them.  This has a control to select the type of Object.  Would it be easy to add an `All` category to them, which would simply list all of them.  That would be the default

[2022-04-25 07:23] anastasia-mbithe commented on #7392
@rdstern,
 So the dialog is already set to allow factors and ordered factors. Our problem is that the Selector does not update on reopening the dialog. I used the survey data and converted "field" to factor, opened the dialog for the first time and "field" was added to the list of factors. I then Converted another variable, "size" to a factor, this time it was not updated in the selector.
I have a

[2022-04-25 07:38] anastasia-mbithe commented on #7392
I have fixed the last part of the issue in PR #7411

[2022-04-25 09:01] N-thony opened #7414 "Small Bug in the Merge Dialogue"
While testing PR #7404, the bug in the screenshot below is expected, and this is not coming from the change made in PR #7404 but from the way the dialogue was implemented.
![image](https://user-images.githubusercontent.com/68591383/165055914-374a9e06-b5d2-4d91-bde4-bc5f72f7be57.png)

[2022-04-25 09:46] derekagorhom commented on #7398
hello @rdstern can i work on this?

[2022-04-25 12:07] Patowhiz commented on #7161
@lilyclements you can have a look at my https://github.com/africanmathsinitiative/R-Instat/issues/7161#issuecomment-1075126561 above. Would be very useful to get your general response in regards to the R functions responsible for import.

[2022-04-25 15:15] Patowhiz opened #7418 "Should we rename the use graph menu/dialog to Rename graph?"
@rdstern I looked into the **Use Graph** dialog, and the main functionality that makes it different from **View Graph** is it's ability to rename the graph.

Shouldn't we just name it **Rename Graph**?
The word use graph to me, meant like I want to use the graph, as it is, for other functions like combine it with others etc.

[2022-04-25 18:07] #7249 closed

[2022-04-26 07:15] Vitalis95 commented on #7418
@rdstern, Can I rename the graph?
I can do this task

[2022-04-26 07:22] Vitalis95 commented on #7361
@rdstern, can I work on this?

[2022-04-26 07:40] #7400 closed

[2022-04-26 07:52] #7350 closed

[2022-04-26 08:00] #7095 closed

[2022-04-26 08:00] #7377 closed

[2022-04-26 08:05] #7388 closed

[2022-04-26 09:03] #7406 closed

[2022-04-26 09:10] #6936 closed

[2022-04-26 09:49] N-thony commented on #7397
@rachelkg this bug was fixed by @Patowhiz in PR #7403 which is merged. You can update your master and try again.

[2022-04-26 09:59] lilyclements commented on #7161
Looking into this, it seems the slowness is in the `"add_defaults_variables_metadata"` function where there is a for loop for each column. In this function, we call `append_to_variables_metadata`, where the metadata values get appended to the current metadata.
As the metadata increases, the appending takes longer.

I created some dummy data, and looking at the timings:
To increase from 500 to 1000

[2022-04-27 09:07] anastasia-mbithe opened #7421 "Selector does not update on reopening some dialogs."
This follows from Pull request #7392.
I opened the survey data and converted one variable to a factor, then opened the contrasts dialog. The selector adds the newly converted column.
I then closed the dialog and converted another variable to a factor. On reopening the dialog, the selector did not add the new factor.
I tried changing the data frame to the Dodoma data and changed it again to the ori

[2022-04-27 09:26] N-thony opened #7422 "Minor bug with the Prepare>Data Frame>Rename Columns Dialogue"
In the Rename Column Dialogue, under Multiple option, `OK button` seems to still be disabled though the grid is filled as shown in the screenshot below
![image](https://user-images.githubusercontent.com/68591383/165487444-94f259ec-d586-4178-a394-9489cdc72f5a.png)

@derekagorhom  can you have a look at it?

[2022-04-27 09:35] anastasia-mbithe commented on #6550
@shadrackkibet, Can I take this over?

[2022-04-28 07:43] N-thony commented on #7387
@rdstern could you test this now? Thanks.

[2022-04-28 07:44] lilyclements commented on #7405
@anastasia-mbithe why is this in "blocker"?

[2022-04-28 08:30] #7398 closed

[2022-04-28 09:20] #4712 closed

[2022-04-28 09:20] #7288 closed

[2022-04-28 09:20] #7371 closed

[2022-04-28 12:19] lilyclements opened #7428 "Bug in ucrBase - "Ok" and "To Script" repeated"
The "OK" and "To Script" words on the ucrBase are repeated (see image below)

<img width="336" alt="image" src="https://user-images.githubusercontent.com/21180424/165750357-f13e56bc-7246-41c1-bfbc-28b84ad0292a.png">

[2022-04-28 13:58] Vitalis95 opened #7430 "Converting data frame produced to character and numeric in correlation dialog"
In correlation dialog:
When saving to a new data frame(**Display on data frame** control is checked) and **Display on Diagonal** control is *blank* ,the resulting matrix is currently character. Could therefore the columns have a (C) afterwards, to show this. Also, when the *NA* option is used, or a number, e.g. 1, then ideally the columns would be numeric

[2022-04-28 15:00] anastasia-mbithe commented on #7405
@rdstern, We can close this. The first part was fixed in #7419. For the second part, we couldn't recreate the bug, and the code works fine.

[2022-04-28 16:04] shadrackkibet commented on #6550
Yes, please.

[2022-04-28 18:17] #7407 closed

[2022-04-28 19:00] #7341 closed

[2022-04-28 19:07] #7385 closed

[2022-04-29 09:58] N-thony opened #7431 "Combining the Open last dialogue button from the Toolstrip bar"
In the toolstrip bar we have two buttons that simplify the opening of the dialogues, the first one open directly the recent dialogue opened and the second has a small arrow which gives the lit of the top 10 recent dialogue opened.
Now, we would like to combining the two button functionalities to one. We will get rid of the first button that only reopen the recent dialogue and then add it implement

[2022-04-29 10:21] #7081 closed

[2022-04-29 11:10] #7257 closed

[2022-04-29 15:30] N-thony commented on #7394
@rdstern  as discussed with @lilyclements , and we went through the steps you have explained above, we confronted the the results produced by `Add (Merge) Data Dialogue` with `Merge Dialogue` as explained above. We (I and you too) went through those steps and we didn't find this problem. Therefore, I'm going to close this  issue.

[2022-04-29 17:39] #6905 closed

[2022-04-30 09:54] rdstern opened #7433 "Problem in Row Numbers /Names dialogue"
I used the mrcars example.  In a default way it gave me the error shown

![image](https://user-images.githubusercontent.com/11226469/166100765-be7c3606-2821-423e-a29e-abe470489e4c.png)

[2022-04-30 13:50] rdstern opened #7434 "Problem in the Prepare > Column: Numeric > Transform dialogue"
I found it with the survey data, using the round function.  I think it is a general problem.  It is in the append_to_variables_metadata function.  Again perhaps @N-thony could check first?

![image](https://user-images.githubusercontent.com/11226469/166108181-d77a2114-2174-44ad-b5fc-7cbf6bd5a1ff.png)

[2022-04-30 15:06] N-thony commented on #7433
@rdstern this is due to the fact that we are missing to pass the data name in the function `data_book$add_key(col_names="row")` which is supposed to be `data_book$add_key(data_name="mtcars", col_names="row")`

[2022-05-01 05:47] rdstern opened #7435 "The Edit > Script dialogue executes twice"
This is, I hope, a trivial issue to sort out.  If it misses this release that's not a problem.

This [site ](https://www.statology.org/dist-function-in-r/) has a trivial, but interesting, example.  I would like to use it in the help for the Scale/Distance dialogue.

Here is the start with the data:
[code]
I would like to put these into R-Instat in 3 different ways.
a) File > New Data Frame, - 4 va

[2022-05-01 05:56] rdstern opened #7436 "Improving the Scale/Distance dialogue?"
This is working fine.  But I am now interested in using [this little summary](https://www.statology.org/dist-function-in-r/) to calculate the help.  It gives different answers to our dialogue.

I have now realised that it is calculating the distances between the variables (columns) and we calculating it between the rows.  You can see this by trying the example and adding another row of data.

I tr

[2022-05-01 12:16] N-thony commented on #7433
@rdstern this issue is related to issue `#7434` and it seems to be more general. @Patowhiz  I suspect that this bug was introduced in either your changes in `PR #7404` or `PR #7432`.
Another thing I found is when you click on `Reset`  in `Row Number /Names` it runs the code for adding the key twice as shown in the screenshot below.
![image](https://user-images.githubusercontent.com/68591383/166145

[2022-05-02 08:56] rdstern opened #7437 "Corrections needed in the new Tables dialogue"
@Ivanluv in the (new combined) summary tables dialogue, I find the problem is likely to be caused by the changes in the selector control, and hence by @Patowhiz changes.

I think the selector control does not refresh when the receiver is changed, nor for other changes, like changing the class of data.  So this dialogue, and presumably others are not usable.

a) When I go to the summary button and

[2022-05-03 03:58] rdstern opened #7438 "Merge (and some other) dialogues don't work now"
**Describe the bug**
Program crashes when I use the merge dialogue  This could be caused by the controls changes by @Patowhiz ?  As @N-thony has queried, there may be pull requests to merge that will fix this?

**To Reproduce**
Steps to reproduce the behaviour:
Import from library the 3 data sets from the climdex package (not sure this is needed even, but it is what I did.)
Go to merge.
You don't

[2022-05-03 04:32] N-thony commented on #7438
@rdstern this bug is fixed in PR #7415.

[2022-05-03 05:01] rdstern commented on #7438
@N-thony and @ChrisMarsh82 and @lloyddewit and I also see I approved last week!  So at last I have found something that I'm ahead of the others!

[2022-05-03 07:26] lloyddewit commented on #7438
@N-thony I still have an open question in PR #7415. Please can you respond?
(or we can discuss verbally if that's easier)

[2022-05-03 08:56] N-thony commented on #7438
@lloyddewit as discussed, it is true that PR #7415 fix the issue in the Merge dialogue and it can be merge since it doesn't harm anything else. However, the problem is still there and it will be good to fix from the source. We suspect that the `controlvaluechanged` event is called a bit early as it isn't supposed too.
@Patowhiz hopefully you will look at it and fix it as reported in some others is

[2022-05-03 09:33] #7414 closed

[2022-05-03 09:52] #7367 closed

[2022-05-03 10:05] #7240 closed

[2022-05-03 12:18] #7254 closed

[2022-05-04 06:30] Patowhiz commented on #7437
@rdstern in regards to the selector, did you test the dialog with the latest changes from the master?

[2022-05-04 06:52] rdstern commented on #7437
@Patowhiz yes I did and have just shown to Ivan.  We think we know the problem.  It is when the data selector refreshes.  I think you will see immediately I show you, but I'll give an example.
a) With the usual survey data and the summary tables dialogue, the first receiver just has factors, but the second just has numeric type variables.  You get the factors ok, but still have the factors in the

[2022-05-04 07:34] Patowhiz commented on #7437
@rdstern in regards to the selector, the bug is caused by a very tiny increment loop error (my fault caused by juggling different programing languages at the same time). I would expect all developers to have missed it. I have now fixed it.
Thanks for the testing.

[2022-05-04 08:40] N-thony commented on #7438
Same problem with the `Duplicate Column`
![image](https://user-images.githubusercontent.com/68591383/166648301-220c2317-4dc2-496e-8946-5dc63a779abb.png)

[2022-05-04 08:42] #7204 closed

[2022-05-04 09:33] Patowhiz commented on #7433
@rdstern thanks for finding this bug.
@N-thony in regards to the selector, it's because of how the dialog is set up.
I have now factored such set ups in the data frame selector.

[2022-05-04 10:13] Patowhiz commented on #7433
@N-thony in the dialog, code line 157, `ucrBase.clsRsyntax.AddToAfterCodes(clsAddKeyFunction, iPosition:=0)`, is what's causing the bug that you found in the your comment above.

Basically, the original author of the code anticipated code line 160, `ucrBase.clsRsyntax.RemoveFromAfterCodes(clsAddKeyFunction)`,  will work on reset. But that's not the case.

I have now fixed it in PR #7443

[2022-05-04 12:36] Ivanluv opened #7446 "Error Message when running code for the Summary table"
When running the Summary table code, I seem to be getting an error that was previously not there.
@lilyclements I wonder whether this could this be from the changes we have made in the `summary_ table` function?
Am using the survey dataset in this illustration
![image](https://user-images.githubusercontent.com/45068931/166681986-1bbfd080-bbd2-4150-8b52-e9436f9d6987.png)

![image](https://user-imag

[2022-05-04 12:57] rdstern opened #7448 "Mapping problem"
@lloyddewit This is (I think) another example of the same error you have fixed elsewhere?

It occurs when you produce a map and then try to add facets - bottom right.

![image](https://user-images.githubusercontent.com/11226469/166685150-7858dd25-d7cd-47df-8efe-6e506d0dd9f7.png)

It crashes out with the code below:

# Code generated by the dialog, Climatic Maps
gadm36_GHA_1 <- data_book$get_data_f

[2022-05-04 14:05] Patowhiz opened #7450 "Redundant event in the data frame selector"
Currently the only purpose of the data frame selector is to select and display data frames. Whenever a different data frame is selected it raises data frame changed event. This event is just a replacement of `ControlValueChanged` that all our custom controls use when their values change.

I suggest replacing `DataFrameChanged` event with the `ControlValueChanged` for this control to be consistent

[2022-05-04 14:28] Vitalis95 opened #7452 "In Correlation dialog, Make Two variables default in 2/3 Variables and Multiple variables in Multivariate"
The Correlation dialog is in  **2/3 variables and Multivariate** in Prepare menu  and also  **Compare** in Climatic menu.
So,  could we make the default of the buttons at the top to be;
Two/Three Variables - **Two Variables.**
Multivariate - **Multiple variables**
Compare - **Multiple Variables**

[2022-05-04 15:09] Patowhiz commented on #7161
@N-thony I think this can now be added to a blocker and @lilyclements can now be tagged to it. Thanks

[2022-05-04 15:10] N-thony commented on #7448
@Patowhiz you have added the condition to prevent this bug and I think this is more general however the problem is still there, if you observe the `R code` above, you will find that there is a problem in  `ggplot2::facet_wrap(dir="h", facets=, ~ Station.Type)` the second parameter since to not have the value. I have partially fixed this in PR #7454.

[2022-05-04 15:54] #7437 closed

[2022-05-04 17:55] rdstern opened #7455 "Error in the Check Station Locations dialogue"
Here is the dialogue with the "usual" Ghana data we have been using

![image](https://user-images.githubusercontent.com/11226469/166748721-5ca5171f-aa54-4365-8765-013528913e68.png)

Here is the error:
![image](https://user-images.githubusercontent.com/11226469/166748896-cd025ae9-6002-4003-b4e0-0adf68b7eda8.png)

With @Patowhiz trap it is triggered, but still stops later.  So I moved on in the code

[2022-05-05 06:17] Patowhiz commented on #7448
@N-thony agreed.

[2022-05-05 06:20] Patowhiz commented on #7455
@N-thony would be very useful to have this fixed and merged before the next final release. @rdstern I think we may use this dialog too?

[2022-05-05 13:59] #7448 closed

[2022-05-05 14:42] #7438 closed

[2022-05-06 07:36] anastasia-mbithe commented on #7316
@rdstern, can we close this issue since it was fixed in PR #7411 ?

[2022-05-06 07:39] N-thony commented on #7316
@anastasia-mbithe you are right.

[2022-05-06 07:39] #7316 closed

[2022-05-06 09:15] lloyddewit opened #7458 "Catch any exceptions thrown by the `RScript` library"
The `RScript` library builds an object model from valid R script. If it cannot parse the R script, then it raises an exception.
R-Instat calls `RScript` at various places in the code but does not always catch the `RScript` exceptions.
PR #7453 gives an example of how to catch `RScript` exceptions.
Please find the other locations where `RScript` is called and add similar `try-catch` blocks.

[2022-05-06 09:29] lloyddewit opened #7459 "Add syntax highlighting to the output window"
The output window displays R statements. Currently all the R code is shown in the same font and colour.
Other editors and development environments use syntax highlighting when they display code. This makes the code easier to understand.

On 05/05/22, @volloholic , @ChrisMarsh82 and @lloyddewit discussed the output window. @volloholic requested syntax highlighting for the output window.

The output

[2022-05-06 09:35] #7450 closed

[2022-05-06 12:01] maxwellfundi opened #7460 "Renaming multiple columns - Make it easier."
**Is your feature request related to a problem? Please describe.**
When I select **Multiple** option on the rename column dialog box, I can only convert to a case to or clean name.

**Describe the solution you'd like**
I would like to be able to rename multiple columns at one go by having - for each column selected for renaming, a corresponding text box to appear to type in the new column name.

*

[2022-05-06 12:05] N-thony commented on #7460
@maxwellfundi in the new version, I think that is possible
![image](https://user-images.githubusercontent.com/68591383/167128088-9859560b-5e52-4333-b3d4-4a6dc1937303.png)

[2022-05-06 12:11] maxwellfundi commented on #7460
@N-thony  Thank you so much. I think I need to update my version. I am on 0.7.4.

[2022-05-06 12:49] rdstern commented on #7460
Hi @maxwellfundi @N-thony has improved the rename considerably and I really like it now.  There still remains one further option to add.  I wonder if you will need it?
We are preparing Version 0.7.5 now, ready for a workshop on Monday.  So it should be up soon.

[2022-05-06 13:00] N-thony commented on #7387
At the same time, it will be good to make the 2 `Nud controls`  a bit wider
![image](https://user-images.githubusercontent.com/68591383/167136220-cf5b27af-3cd1-4145-a9bd-e95f00fab132.png)

[2022-05-06 14:22] Patowhiz commented on #7387
@rdstern @N-thony keep in mind that we need a more general solution for other dialogs too, in regards to inputting and displaying these long numbers.

[2022-05-09 07:59] EstherNjeriLiberatta opened #7461 "New Names Receiver not empty when Dialogue is opened, Prepare>Data Reshape>Transpose Columns."
**Describe the bug**
NULL appearing in the New Names receiver without having any data frame.

**To Reproduce**
Steps to reproduce the behaviour:
Do not load any data.
1. Go to 'Prepare menu'
2. Click on 'Data Reshape'
3. Scroll down to 'Transpose'
4. See error

**Expected behaviour**
All receivers should be empty.

![image](https://user-images.githubusercontent.com/74548350/167361606-3841cb18-d5a0

[2022-05-09 09:39] dannyparsons commented on #7357
Unless this file is still on the machine somewhere from a previous R installation?

[2022-05-09 09:43] dannyparsons commented on #6249
Relates to #7357

[2022-05-09 09:54] dannyparsons commented on #7357
Here's a further suggested solution in this thread https://community.rstudio.com/t/unable-to-load-shared-object-on-startup-in-rstudio-only-r4-0-0-rstudio-1-2-5042/67069/3

[2022-05-09 10:15] EstherNjeriLiberatta opened #7462 "Reversed order of added ranked variables in the Prepare>column:Numeric>Row Summaries"
**Describe the bug**
I added field and size variables to get their row ranks. Everything works fine except the ranks came in reversed order. As seen in the images below:
![image](https://user-images.githubusercontent.com/74548350/167378788-51e4b53d-d11d-49df-8a5c-190d9749b8ea.png)

![image](https://user-images.githubusercontent.com/74548350/167379014-da91a349-fd3c-4295-bd53-76ceae4af4b8.png)

**To

[2022-05-09 12:06] lilyclements commented on #7446
@Ivanluv I have made the fixes so it is ready to review in #7463. The issue occurred from fixing the conflicts last week after this file was edited on multiple branches. In future, when there are R code changes we should merge it into the master branch, and then update your branch (as oppose to merge into your branch)

[2022-05-12 12:48] N-thony commented on #6249
@dannyparsons this is what I did to fix this problem with some others laptop.
I have added `C:\Program Files\R-Instat\0.7.5\static\R-4.1.3\bin\x64` in the Environment Variables Path for both user and system.

[2022-05-13 07:01] anastasia-mbithe commented on #7409
@rdstern, I am unassigning myself this task. I thought I could be able to do it until I had a discussion with @Ivanluv about the issue. We realized it needs manipulation and a greater understanding of the internal functions in R-instat, how the different objects are stored, and how they are "gotten". Maybe someone else can take up the task.

[2022-05-16 05:05] N-thony opened #7472 "Combine the three plot options buttons in Climatic Maps to one similar with the Ok button?"
This is found during the KMD workshop, we found that it will be simple if we can combine the three plot options buttons to one similar to the `Ok button` with the small arrow on the right where when you click, you will have the remaining option i.e `S.F options` and `Map options`.
![image](https://user-images.githubusercontent.com/68591383/168523244-d99e84bc-8517-48cd-8dd3-2f11ad65c513.png)
@rdste

[2022-05-16 05:12] N-thony opened #7473 "Minor bug with the Prepare > Add (Merge) Columns Dialogue"
This is also found during the KMD workshop, the bug appears when the keys columns have different name with `Add (Merge) Columns Dialogue`, but it doesn't appear when using the general `Merge dialogue`.
![image](https://user-images.githubusercontent.com/68591383/168523725-382e7278-eec8-4685-90d0-b25417a43101.png)

[2022-05-16 09:12] N-thony opened #7475 "Minor Bug with File > Close Data Book"
During the KMD workshop, we noticed that File > Close Data Book seems to not work in the following cases.

1. When the Filter is active and try to `Close Data Book` and it seems to not work
2. After saving a dataset with `File > Save As > Save Data As` then try to `Close Data Book` same as 1), it doesn't close the databook
![image](https://user-images.githubusercontent.com/68591383/168559299-f20eb

[2022-05-16 09:28] N-thony opened #7477 "Column Metadata doesn't open with the default selected dataset in the Data View"
I have loaded the survey for `rwanda.RDS` file which comes with two datasets `rwanda_daily` and `rwanda_stations`, the default selected data in the `Data View window` is `rwanda_daily` but I select `rwanda_stations` then when I open `Column Metadata` it still open `rwanda_daily` by default rather than `rwanda_stations`. This was abit confusing for user during the workshop and always we were suppos

[2022-05-16 09:44] #7462 closed

[2022-05-16 10:11] #7461 closed

[2022-05-16 10:29] rdstern commented on #7477
I agree, but it is only (I assume) the first time the meta-data are loaded?  Once they have been loaded on one occasion I assume they will remember their position - that's what we do with dialogues.  So, I see this failure the first time as a bit of an inconvenience and would be happy for it to be fixed, but only if it is really quick and easy.

[2022-05-16 12:36] #7473 closed

[2022-05-17 07:10] Vitalis95 opened #7479 "Improving Climatic Summary dialog by making Annual button to be the default"
During KMD workshop, we found that `Annual` button was the one used mostly, we can make `Annual`  to be the default and `Station` to be the last button

![image](https://user-images.githubusercontent.com/89011415/168749365-aff3ac37-b923-4c1d-ac9f-d93f18b7fdc9.png)

[2022-05-17 14:33] lilyclements commented on #7472
@N-thony This is interesting! What happens if you press the "Options" button and not the little arrow next to it?

[2022-05-17 14:54] rdstern commented on #7472
@N-thony I'm changing my mind - it should still say Plot Options!  And - like the other down arrows, the Plot Options is repeated there as the first of the 3 options.
@lilyclements I hope you like it?  If so, then we will just have the single Plot Options button on all the graphics.  Quite a number have multiple alternatives, like Labels Ridge Plots, etc.  They might even be "complete" for each di

[2022-05-18 05:16] rdstern commented on #7304
@N-thony, building on @Patowhiz  comments during our recent discussions, and his screen-shot of Excel above I now suggest a small edit in the Replace button part of this dialogue.
![image](https://user-images.githubusercontent.com/11226469/168961880-71927db2-65c5-4ffb-b2ec-96b24c6fd5eb.png)

In the figure above, swap the checkbox for a group-box containing 3 vertical radio buttons.  It has a label

[2022-05-18 07:14] N-thony commented on #7472
@lilyclements if you are happy with this change, I will push it to be merge quickly so that it will be used as an example during our `tidying design session`.

[2022-05-18 07:57] N-thony commented on #7304
@anastasia-mbithe can you make these changes?

[2022-05-18 21:42] rdstern opened #7483 "Add new arithmetic keyboard to the calculator"
This keyboard will take some designing -
a) I assume the keyboard could be called Arithmetic.
b) The top-left button could be called bigq and would produce gmp::as.bigq( ).
c) the R-Help button will call the gmp package.
d) Using this key will then be combined with the ordinary +, - , * / and power keys from the main keyboard.  I wonder about a small change to those keys (except ^ to have a space

[2022-05-19 10:11] derekagorhom commented on #7422
@N-thony i am having problems implementing  the Contains function to check if the column name contains any spaces

[2022-05-19 11:31] EstherNjeriLiberatta opened #7485 "Minor bug with the Climatic >Check Data> Climatic Boxplot Dialogue"
**Describe the bug**
Code that seems to omit the options available in the station's combo box when plot options are applied.

**To Reproduce**
Steps to reproduce the behavior:
I used Rwanda.RDS dataset.
1. Go to 'Climatic menu'
2. Click on 'Check Data'
3. Scroll down to 'Boxplot'
4. Add in your variables. For the `Station` combo box, change the value from `None` to `Facet Wrap/Row/Column`and click

[2022-05-19 14:34] opokunn opened #7486 "climatic-summary missing-missing options(Feature to determine period(Month) of missing data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am a meteorologist with the Ghana Meteorological Agency attending an R-Instat training. After going through the R-Instat training I realized that I will need another option to make decision-making easier for me. Whiles trying to make a de

[2022-05-20 05:36] rdstern commented on #7485
@EstherNjeriLiberatta well explained.  A work-around is to go to the offending control (Station) on the main dialogue and re-affirm (click again) on facet wrap.  Then it is happy.  I wonder if this can help to identify why the control is not updated automatically.

[2022-05-20 09:06] EstherNjeriLiberatta commented on #7485
@rdstern I have opened a PR that fixes the bug. Thank you.

[2022-05-20 11:22] derekagorhom opened #7488 "Bug in the Start of Rains Dialogue"
We encountered this bug during the GMet workshop, this bug is found in the `0.7.5` version of R-instat but not in the older version (`0.7.4` seems to work fine)
![Start of Rains Bug](https://user-images.githubusercontent.com/76208189/169515476-a1d24e57-1b04-4f38-8b98-a0023d1fa624.png)

This bug occurred when we used the` Start of Rain` dialogue
1. Go to 'Climatic'
2. Click on 'Prepare'
3. Scroll d

[2022-05-20 11:30] Patowhiz commented on #7165
@rdstern please note point 2 from @shadrackkibet comment. I would recommend the same for simplicity. And there are various way we can detect this and show the user the right dialog.

That point can be it's own issue.

[2022-05-20 13:25] anastasia-mbithe commented on #7483
@rdstern, do we have factorials for, bigq, rational numbers?

[2022-05-20 13:43] Wycklife opened #7489 "VB.Net Designer Error"
I have been getting this error whenever I try to open dlgCalculator designer from VB.Net solution Explorer.
How do I fix it?

![image](https://user-images.githubusercontent.com/33898404/169540928-4520f33f-3ec8-4221-a5e9-924084326c15.png)

[2022-05-23 09:06] #7460 closed

[2022-05-23 09:16] #7149 closed

[2022-05-23 09:26] EstherNjeriLiberatta commented on #7486
Hello @rdstern what are your thoughts on this?

[2022-05-23 10:15] VimbayiChimonyo commented on #7488
Hi, I have the same problem.
![image](https://user-images.githubusercontent.com/87077260/169797881-fe7e2acb-40a9-4ec7-8957-5c228475e9b2.png)

Thanks for the assist

[2022-05-23 10:21] N-thony commented on #7488
@VimbayiChimonyo I'm looking into this, I will let you know once fixed it.

[2022-05-23 10:25] rdstern commented on #7488
@N-thony thanks for looking at this.  I couldn't see the variable col_name in the code, so I assume the bug might be caused by something changed (maybe by Patrick) in the metadata?  I hope it will be easy to find.  I hope it will be pretty obvious, particularly as it has appeared since version 0.7.4.  If not obvious, then you could ask Danny to have a quick look?

[2022-05-23 13:42] N-thony opened #7493 "Add more data types to the column header - and improve the display of lists"
@rdstern @dannyparsons  could we now have the possibility to make datetime?
I have been looking this link https://stackoverflow.com/questions/44970127/remove-timezone-during-posixlt-conversion-in-r
@lilyclements what do you think?
Probably add an option in Year - Month -Day, a checkbox when it is checked it open a groupbox containing hour,min,sec input controls where we can fill and make a datetim

[2022-05-24 05:49] rdstern opened #7494 "Improve the mapping dialogue in R-Instat"
The Climatic > Mapping > Map dialogue was very popular in the recent climatic workshops.  There is currently a small improvement to the Plot Options button waiting to be merged (#7481).  This issue is to investigate a further related improvement in that dialogue.
The dialogue has the option to add points (usually station positions) and they can be labelled.  So, that adds geom_point and geom_label

[2022-05-24 06:08] rdstern opened #7495 "Use and possibly improve the Describe > General > Graphics dialogue"
We have simple mapping in the Climatic menu, but not (yet) in the Describe > Specific Tables/Graphs menu.  We should be able to use the Describe > General > Graphics dialogue and build the current maps (that are easy with the Climatic > Mapping > Maps dialogue), and build the same maps, layer by layer.
I was unable to do this.  I couldn't even get the first (sf) layer to work.   I think this was j

[2022-05-24 06:26] rdstern commented on #5317
@lilyclements and @dannyparsons please can we return to this issue?
I also note that the summary dialogue respects a filter, but the start of the rains ignores it.  As the code will be changing I wonder if that might be another (easy?) option to add.  Maybe that could become a separate issue, as it is also ignored by the end of the rains, etc?

[2022-05-24 06:30] rdstern opened #7496 "Climatic > Prepare > Spells has the same problem as the Start of the rains recently"
@N-thony when using the Climatic > Prepare > Spells dialogue I get the same col_name not found error that was recently fixed in the Start of the Rains dialogue.

[2022-05-24 06:40] N-thony commented on #7496
@rdstern this might be fixed by PR #7492

[2022-05-24 06:48] rdstern commented on #7496
ok, thanks.  I have approved #7492 so let's see what @ChrisMarsh82 says on that, and check, once it is merged

[2022-05-24 06:51] rdstern opened #7497 "Fix oddity in the Climatic > Dates > Infill Missing Dates dialogue"
This is not urgent and I suggest is a simple R-tweak, so I am suggesting for @shadrackkibet .

In the Fill Date Gaps dialogue there is a checkbox to Ensure Complete Years.  The data in the library for climdex_pcic provides a simple example.  After adding the data variable it goes from 20/11/1959 to 31/10/2004.

When the checkbox is ticked, then it seems fine for the start of the series, but the en

[2022-05-24 08:36] rdstern commented on #6377
@Patowhiz this was asked for, by KMD.  I suggest it could be a good time to work on this dialogue now.  But you have quite a lot on your plate, so I wonder if someone else can at least start on this one.  I suggest the items above are all useful.  I am still goin g with the idea of an export to Excel, so multiple sheets can be exported, including the comments.  Then the Excel data sheet can be sav

[2022-05-24 10:19] rdstern opened #7498 "Small change in PICSA rainfall graphs dialogue"
@N-thony has made a change in the Plot options dialogue for the Mapping dialogue.  I suggest we apply this feature to other plotting dialogues, and start with the Climatic > PICSA > Rainfall Graphs.

Now this is different to our other graphics dialogues in a small way.  In most of the others, I mainly use the Plot Options button and then (rarely) the Box Options or Jitter Options, etc.  Here I alm

[2022-05-24 10:43] rdstern opened #7499 "Implement the PICSA Temperature dialogue"
@N-thony I suggest this can start initially in a very simple way.  So there is a chance it can be implemented in Version 0.7.6?  Later in the implementation it will need some skillful R, and I suggest @shadrackkibet may help with the R aspects.  I am not sure who is best placed to do this.
a) It can start as a copy of the PICSA rainfall dialogue, though the sub-dialogue will be slightly different.

[2022-05-24 11:37] dannyparsons commented on #7499
Given that the code for this dialog is so large and complex I suggest we should not make a copy but use the same dialog and subdialog where different parts could be shown/hidden depending on the "mode" it is opened in i.e. "rainfall", "temperature" or "general".

The general can have all the available options whereas the "rainfall" and "temperature" can show/hide the relevant section and change la

[2022-05-24 11:54] N-thony commented on #7493
I'm not sure if we need this since we can make datetime through the Calculator Dailogue

[2022-05-24 11:57] N-thony commented on #7498
@derekagorhom once PR #7481 is merged, it will be easy to implement this.

[2022-05-24 13:15] anastasia-mbithe commented on #7405
I am closing this since it was fixed in #7419

[2022-05-24 13:15] #7405 closed

[2022-05-24 14:11] lilyclements commented on #7493
We can run any R function through the calculator dialog so I don't understand why this is a problem?
In R-Instat we can give a front end to the code. Do you think this is something this is useful to have in a front end? I think it sounds sensible, and in the PLH work there are variables that are date-time. But what do you think? I'm not sure of the reasons why this hasn't been previously implement

[2022-05-24 14:20] rdstern commented on #7493
For now I am happy to use the calculator, but later I suggest it will be good to also have a dialogue.  But also, for now, we currently have type (D) for all these types of data.  I feel the types would be clearer in R-Instat if we kept (D) for a date variable and had (DT) for date-time and (T) for time.   I have sometimes found it confusing when some current type (D) variables don't work, as I ex

[2022-05-24 14:55] dannyparsons commented on #7493
Roger's suggestions sounds sensible to me.

[2022-05-24 16:59] VimbayiChimonyo commented on #7496
@N-thony  and @rdstern I tried correcting the calculations file based on the suggested but now I am getting the attached error. I could I have made a mistake in the edits? I have attached the script as a word doc
![image](https://user-images.githubusercontent.com/87077260/170090627-cf43851c-92f7-4179-b23a-e09ad4e5bef8.png)
[calculation.docx](https://github.com/africanmathsinitiative/R-Instat/files

[2022-05-24 19:30] rdstern commented on #4918
@ChrisMarsh82 we missed Version 0.7.5, which would have been useful, in both climatic workshops, where we had columns for each day of the month, so more than 30 variables - though less than 40.
So I am still happy with the number of rows remaining at 1000.  Could we please raise the (default) number of variables.  I think you said 100 would be possible, that thet would be great.  But, if that is t

[2022-05-24 19:54] rdstern commented on #7349
@N-thony one more small improvement perhaps, is that the paging << <  > >> are always there.  Perhaps they are only needed for the rows, when they are more than the limit (1000) and/or columns (30, perhaps to become 100).  Could they be omitted when they are not needed.  That could help with the size of the text when there are also filters and/or selects.

[2022-05-25 08:01] N-thony commented on #7349
@derekagorhom can you try this?

[2022-05-25 10:24] #7472 closed

[2022-05-25 10:51] #7497 closed

[2022-05-25 11:23] #7202 closed

[2022-05-25 12:02] N-thony commented on #7498
@derekagorhom you can work on this anytime now.

[2022-05-25 12:55] #7485 closed

[2022-05-25 13:00] ChrisMarsh82 commented on #7496
I've asked Shadrack to review #7492 as it is R code

[2022-05-25 13:03] N-thony opened #7502 "R-Instat run as administrator?"
During the KMD workshop with version 0.7.5 we found that `corrr` package was missing in the use of the `Correlation Dialogue` and needed to be installed, we could easily install the package through `Tools > Install R Packages...` but we couldn't since the system required to have the administrator grant to install any or make a changes in disk `C:`, Roger was stuck we this situation since the only

[2022-05-25 17:10] rdstern commented on #7502
@N-thony I agree we don't want to have to run R-Instat as an administrator.  But I would also like anyone to be able to add packages, without needing administrator rights.  This is what I can do when using RStudio.  So I am not sure that the packages - at least extra packages need to be in the directories where administrator rights are needed.  @ChrisMarsh82 I asked this in #7064 in December last

[2022-05-26 10:37] Wycklife opened #7503 "Small bug with the Calculator Help"
When you first open the Calculator and click on Help button, it takes you to the right help information as shown below.

![image](https://user-images.githubusercontent.com/33898404/170469479-86597970-3dac-456e-bc99-9bd5cd7b0ab0.png)

When I select another keyboard from the list, i.e Maths, and clicked on Help, it opens the right help information.
Return to Basic and Click on Help, it still opens t

[2022-05-26 10:42] rdstern commented on #7279
@N-thony In the 2 recent workshops this dialogue seems useful.  I still need to check for the oddity above and suggest we may find more quirks as we use it more.  So while a developer makes small improvements I hope that @Wycklife can make serious use of the dialogue, and I think more oddities will appear.  It is quite sensible to use it for the entry of some of the additional data from the Kenya

[2022-05-27 09:59] rdstern commented on #4557
@shadrackkibet suggested this would be a good challenge for @N-thony to try?

[2022-05-29 08:51] #7475 closed

[2022-05-29 17:19] #7479 closed

[2022-05-30 06:30] N-thony commented on #6195
@Vitalis95 is this still in the `Review in Progress column`, if not then move to the respective column.

[2022-05-30 07:06] shadrackkibet commented on #4372
@africanmathsinitiative/developers the last bullet point remains here. Any volunteer to try it out? Very happy to give guidance on how to do it.

[2022-05-30 07:09] #7299 closed

[2022-05-30 08:12] N-thony commented on #7279
@EstherNjeriLiberatta please implements items a) and b). c) isn't a problem, you just need to define key before adding a comment in the data, perhaps add a tooltip to `Add comment` in the Comment subdialogue.

[2022-05-30 08:32] Vitalis95 opened #7507 "Re-ordering code in Scatter Plot dialog"
When I checked Scatter plot dialog code in vb,  I realized it does not follow our normal system
Setting initial values for the controls and setting defaults are in `InitialiseDialog()` sub as shown below:
![image](https://user-images.githubusercontent.com/89011415/170948497-053ea1d4-049d-40eb-94d7-c41c5f722c1a.png)

It should be; Setting initial values for the controls be in `InitialiseDialog()` s

[2022-05-30 08:47] rdstern commented on #4228
@shadrackkibet my understanding now is that we should try to use our `selects` in most (perhaps all) the dialogues where we currently have the Position button, for a new variable.  I am not sure of the R code behind.  I give examples, as we may wish to start by adding the R-code to a sample of the dialogues.

a) With the Niamey climatic data in the library - the Excel version called Sadore, we hav

[2022-05-30 09:49] Patowhiz commented on #7221
@rdstern the ReoGrid seems to not have this feature as a setting option. I have asked them in issue https://github.com/unvell/ReoGrid/issues/468 in their repo.

In the meantime, I suggest manually calculating the length of the longest row header and just setting it's pixels equivalent as the width of the row header.

[2022-05-30 10:07] rdstern commented on #7221
@Patowhiz sometimes the row variable is quite wide, e.g. mtcars in the datasets provided.  I've copied the row contents into the initial row for clarity:
![image](https://user-images.githubusercontent.com/11226469/170968575-0ad4dee6-5d2e-43ec-986c-b9ce1a576340.png)

I notice there that 7 characters are sometimes shown as well, e.g. Lincoln, Cadilla.  If we could have 7 numbers shown, i.e. up to 99

[2022-05-30 10:16] AmsaleEjigu opened #7509 "Climatic >File >Import from IRI Data Library"
The dialogue **Climatic >File >Import from IRI Data Library** is trowing an error:

data_book$download_from_IRI(source="UCSB_CHIRPS", data="daily_improved_global_0p05_prcp", path="C:/Users/amsal/Documents/CHIRPS", min_lon=15.1, min_lat=-26.6, min_date=as.Date(x="1981/1/1"), max_date=as.Date(x="2022/3/31"), name="ucsb chirps", download_type="Point")
rm()

@shadrackkibet could you please have a look

[2022-05-30 10:44] Patowhiz commented on #7221
@rdstern for the `ReoGrid`. I would suggest always showing the entire contents. `ReoGrid` seems to not have a setting option that allows a user to increase or reduce the length of the row header (I think they typically just replicated what is possible in excel, and my excel version doesn't allow this).

I've been looking into how we can align the row header contents after adjusting it's width. So

[2022-05-30 11:42] Patowhiz opened #7511 "Shape files imported do not show up under recent files in the data viewer"
When I import a shape file, then close the data book. It does not show in the list of recent files. Even when I reopen R-Instat.
I would expect shape files just like any other files to be shown in the list of recent files.

[2022-05-30 11:47] Patowhiz opened #7512 "Data sets imported from library, do not show up under recent sections"
When I import a data set from the library, then I close the data book, it's not displayed in the recent section.

This may require more discussions with @rdstern . Because a data set from library is a bit different from an actual file from the hard disk.

[2022-05-30 11:49] rdstern commented on #7511
I agree.  But I think if it does show, then it will also need the "ordinary" File > Import to be used for the importing.  Which will be nice, but perhaps not as urgent as other tasks just now?  This is the same with netCDF files I think, which also are imported through a different dialogue.

[2022-05-30 11:50] Patowhiz commented on #7511
@rdstern I agree

Just to clarify, this only happens when you use;
![shapefile](https://user-images.githubusercontent.com/21179007/170986417-a476d9de-b571-4750-a773-921ad6a35338.png)

[2022-05-30 11:54] rdstern commented on #7512
Agree again and not really sure what we want.
Within a session I like the fact that opening a file from the R library, it remembers where you were last.  Like all good dialogues do.  Opening an R-Instat file from the library it doesn't remember anything. Shame!

[2022-05-30 11:56] lilyclements commented on #5317
@dannyparsons I have attached an R file with in it the SOR code in Tidyverse format, and then the summary system.

There was only two lines that were the other way around in the summary system (step 3 and 4 in attached file) - and this is to do with the grouping. From memory it isn't as simple as just "switching" those two manipulations around. Perhaps I am wrong, however. If it is more complicate

[2022-05-30 11:58] rdstern opened #7513 "Small improvement needed in the Prepare > Data Frame > Row Numbers/Names dialogue."
This is the following option:
![image](https://user-images.githubusercontent.com/11226469/170987626-43ce039f-2c24-4186-b568-5300de552897.png)

It works fine, but also makes an extra variable, called row, which is TRUE.  The new first variable.  This variable is not needed.

[2022-05-30 15:19] rdstern opened #7515 "Exception error appears again?"
This doesn't seem to be doing any harm, but just appears after some time.

![image](https://user-images.githubusercontent.com/11226469/171021405-25975f0a-097d-4ba1-aad2-b2078fb5cafa.png)

This is with Version 0.7.5.  I earlier did an inventory plot, but I think the error appears after using the Prepare > Data Frame > Select Columns.  And it isn't when I open the dialogue.  It is only after some ti

[2022-05-30 15:31] shadrackkibet commented on #7509
@Amsale2022 thanks for looking into this dialog. It used to work but not sure what might have happened. Maybe the URLs might have changed. I will check.

[2022-05-31 04:53] Patowhiz commented on #7165
@dannyparsons @rdstern I've been looking at this. Below are my findings and suggestions.

The column that is the source of trouble is of class/type `"sfc_MULTIPOLYGON" "sfc"`.

The `convert_to_character_matrix()` R function, used by the data viewer grid, uses `as.character()` to convert any non-numeric columns to character columns so that the data view can be able to display them.

Assuming you ha

[2022-05-31 09:17] lloyddewit commented on #7515
@rdstern Thanks for finding this. The root cause of the out of memory error may be tricky to find. It may or may not be related to the translations. If you're able to find a relaiable way to trigger this error, then I'm happy to investigate

[2022-05-31 09:34] #7319 closed

[2022-05-31 10:16] #7446 closed

[2022-06-01 07:45] #7221 closed

[2022-06-02 07:48] #7488 closed

[2022-06-02 08:54] Patowhiz commented on #7489
@lloyddewit that's weird.
@N-thony are you also getting the error explained by @Wycklife above?

[2022-06-02 09:21] Patowhiz commented on #7489
@Vitalis95 kindly also check if you are also getting the error explained by @Wycklife above?

[2022-06-02 09:49] rdstern opened #7518 "Error message when null data frame?"
This problem came to mind with @Patowhiz mentioning the null data book in trying to resolve @Wycklife error #7489.
I give the route to my set of error messages and I am not sure we need to do anything about it.
a) I had a data frame with a factor.  I made filter from factor and used 6 levels, so I made 6 filters.
b) Then I discovered a mistake in the name of one level of the factor.  I corrected i

[2022-06-02 10:37] rdstern commented on #4228
After discussions with @lilyclements I gather the common R code, behind all this, remains likely to use purrr.  I really look forward to seeing how this might work.

[2022-06-02 11:38] N-thony commented on #7494
@EstherNjeriLiberatta thanks for moving this in the blocker, could you explain the issue that is blocking your progress?

[2022-06-02 11:51] N-thony commented on #6377
@Patowhiz thanks for the discussion, can you share your idea on this so that @Vitalis95 will start the work?

[2022-06-02 12:06] N-thony commented on #6550
@anastasia-mbithe how is it going with this? Any progress?

[2022-06-02 12:53] Patowhiz commented on #7518
@rdstern going by your explanation, I think you meant
`Error message when data frame has no rows?` as the issue title.

[2022-06-02 12:55] Patowhiz commented on #7518
This can be implemented at the R level. And obviously the message can be displayed at the VB.Net level.

[2022-06-02 13:15] Patowhiz commented on #6377
@N-thony let me look into this then get back with concrete answers that @Vitalis95 can use.

[2022-06-03 07:42] N-thony commented on #7489
@lloyddewit @Patowhiz I tried again today, and it works
![image](https://user-images.githubusercontent.com/68591383/171810599-28331650-514a-4272-b73a-3a5108ff5b8f.png)

[2022-06-03 08:02] #7165 closed

[2022-06-03 08:07] rdstern opened #7522 "Calculated data frames to show information on their history"
The summary system produces new data frames.  They are TRUE in the Calculated column.  But they don't say which data frame they were produced from.
We are also producing new data frames from the correlations and the distances dialogues.
a) I propose that the calculated field in the metadata, should show a) The data frame name that produced it.
b) If a filter was in operation, then I propose that w

[2022-06-03 08:16] rdstern commented on #7418
@Patowhiz I am closing this issue, which we discussed.  We agreed it is not rename graph, but indeed it is correctly a Use graph!  It was a good discussion!

[2022-06-03 08:16] #7418 closed

[2022-06-03 09:54] rdstern commented on #6877
@shadrackkibet are you ok to specify the R commands for the remaining task(s), here.  It is "simply" a the code for a find-replace on the variable names that is needed - possibly - as an addition, also on the variable labels.  I am not sure whether this will be an additional radio button, or just extra options in the existing one?  If not you, then the R needed is a @lilyclements or @dannyparsons

[2022-06-05 07:43] #7513 closed

[2022-06-05 08:13] #7494 closed

[2022-06-05 08:41] rdstern opened #7525 "Small change needed in Prepare > Check > View/Delete Labels dialogue"
I came to this issue when also investigating the problem of coping with multiple missing values in R.  This led me to the following site and hence to[ the hospital o data](https://stackoverflow.com/questions/43529972/set-missing-values-for-multiple-labelled-variables) downloaded from here.

It has 14 variables but only 8 are displayed in this dialogue.  Please simply change the selector to include

[2022-06-05 09:08] rdstern commented on #3432
It would be good to make some progress on this topic.  I am hoping @shadrackkibet can examine the problem from the R perspective first.
SPSS has up to 3 different missing value codes, and they can also differ for different variables.  SAS and Stata allows many more.
They are discussed on importing by the haven package and then (particularly) by the labelled package.  Perhaps sjlabelled may also be

[2022-06-06 07:53] #7422 closed

[2022-06-06 10:29] #7477 closed

[2022-06-06 10:36] rdstern commented on #6419
@shadrackkibet can you advise please.  Is this some nifty R that is needed?  I hope that is quite a small step and then anyone can implement.  We now have @Tula1 who could make use of this once done.

[2022-06-06 11:29] Ivanluv commented on #7428
This seems to be fixed

[2022-06-06 12:57] shadrackkibet commented on #3432
@rdstern are you able to attach the Pakistan data?

I understand that we already have a way to define multiple values as missing values when importing data - Perhaps this is limited to some file extensions. Is this the feature we need in a dialog? What about Replace values dialog? I do not seem to clearly understand the request here.

What exactly do we mean when we say "multiple missing values"?

[2022-06-06 13:02] shadrackkibet commented on #7428
@lilyclements can you confirm then we can close?

[2022-06-06 14:58] rdstern commented on #3432
@shadrackkibet I have sent the Pakistan MICS data on skype.

When you import into R-Instat you will notice that some numeric variables (possibly age) also have 99 as refused.  It is a single label for the numeric variable.  There are also some (ordinary) missing values as well.  I think it could be recognised automatically as a tagged missing value instead, if we had them in R-Instat.

This reflec

[2022-06-06 19:18] rdstern commented on #6739
@lilyclements I suggest we have been going round in circles on this topic for long enough, both here and in #5744.  I suggest, while we wait to have a really general solution, we return to the simple task and add `stat_cor `and `stat_regline_equation` to our list of stats.  That's what we need initially.  And that should be easy to add.

[2022-06-07 06:56] #7428 closed

[2022-06-07 07:29] #7489 closed

[2022-06-07 07:36] #7498 closed

[2022-06-07 07:48] #7525 closed

[2022-06-07 08:29] N-thony commented on #7327
@Vitalis95 is this bug fixed now?

[2022-06-07 09:55] Vitalis95 commented on #7327
@N-thony , the bug is still there although output is produced

![image](https://user-images.githubusercontent.com/89011415/172351888-613ac1ed-230c-4bac-b744-ff02f688bd4c.png)

[2022-06-07 09:58] rdstern commented on #7327
@Vitalis95 I suggest you hang on a few minutes, while I clarify issue #7318 .  Then check that the bug is fixed in the extended dialogue.

[2022-06-07 10:29] EstherNjeriLiberatta opened #7528 "Adding Point options and Label Repel options in the mapping dialogue."
**Is your feature request related to a problem? Please describe.**
Difficult to find the `geom_label_repel `and `geom_point` options unless you click on plot options.

**Describe the solution you'd like**
Suggestion by @rdstern is to add the Plot and Label options among the features in the drop-down to make it easier for users to find them.

![image](https://user-images.githubusercontent.com/74548

[2022-06-07 11:27] N-thony opened #7529 "Minor bug with File > New Data Frame"
This bug was found by @berylwaswa when recording a video with this dialogue, the bug occurs when there is space or any other character that R doesn't support in column name.
![image](https://user-images.githubusercontent.com/68591383/172368495-c4b6f41f-9775-4e42-9aee-52f80daa2733.png)

[2022-06-07 13:20] Ivanluv commented on #7294
This seems to be working from my end.

[2022-06-07 13:50] Ivanluv commented on #7294
If so then ,following the same steps ,this bug might be in all the graphics dialogues that have **geoms** added within the main dialogue eg in the Bar chart dialogue that has `geom_text ` geom  added  when the **Add Labels** check box is checked

[2022-06-07 13:52] Patowhiz commented on #7477
@rdstern from your above [comment](https://github.com/africanmathsinitiative/R-Instat/issues/7477#issuecomment-1127499183), did you mean that you only want this functionality when the user views the column metadata viewer the first time? If so, then please note that PR #7526 implementation seems to have added code that will always change the selected column metadata in the viewer, that is, "it won

[2022-06-08 06:21] rdstern commented on #6739
@lilyclements has agreed this would be useful.  @N-thony I hope these could be quick and easy to add?  If so, please could you suggest who might do this.  Thanks

[2022-06-08 07:58] derekagorhom commented on #7317
hello @Patowhiz has there any website suggestion to replace this webpage yet?

[2022-06-08 08:02] rdstern opened #7532 "Add a menu for Crop Models"
This will be specified by me together with Sophie and Francis, once Sophie is on github.
I suggest the Options by Context Menu will (at the same time) be called Experiments
I also suggest we have a main menu item called Crop Model.  This will implement the apsimx package in R-Instat.

a) One initial item could be Examples, which will open any of the built-in examples of data.  This will be a simpl

[2022-06-08 08:21] #7430 closed

[2022-06-08 08:26] N-thony opened #7533 "Unhide Data Frame seems to not work"
I have tried this by loading `dodoma` and `ghana` datasets but you can try with any datasets, then I have hidden `ghana` by clicking on Hide in dataview sheet menu context, it is fine  then when I tried to `Unhide` using `Hide/Unhide Data Frame` dialogue, it seems to not work.
The code generating by the `Hide/Unhide Data Frame` dialogue is
![image](https://user-images.githubusercontent.com/6859138

[2022-06-08 09:22] shadrackkibet commented on #7533
I tried to replicate this bug but I failed. Below is the log file showing the steps. I loaded `Survey` and `mtcars` datasets. I did hide then unhide `mtcars` from the dialog and all seems to work as expected.

What is not intuitive from the dialog is how to unhide datasets. We should find ways to make it intuitive to the user that to unhide you have to remove items from the multiple receiver.

[co

[2022-06-08 10:12] rdstern opened #7534 "Plotting bug in PICSA rainfall is still there occasionally!"
Here is the dialogue, with multiple y-variables - that's the new feature.
![image](https://user-images.githubusercontent.com/11226469/172590904-a6ed4e4e-caa0-4f9e-aa68-08dd076c31c3.png)

Here are the results - note the means the same for the 2 stations, and they are clearly not the same!

![image](https://user-images.githubusercontent.com/11226469/172591290-a61ce26d-1fd9-4958-9fca-cd141f4d1b0b.png

[2022-06-08 10:25] lloyddewit opened #7535 "Document process to ensure that list of required R packages in Linux AppImage is kept up to date"
In PR #7335 , @ChrisMarsh82 commented:

Please could we clarify this process.
Where should we document the process? Is the [Wiki](https://github.com/africanmathsinitiative/R-Instat/wiki/Information-for-developers#adding-a-new-r-package-to-r-instat) the best location?

[2022-06-08 10:40] rdstern commented on #7064
@lloyddewit and @ChrisMarsh82 just asking again on the location of the R packages in R_Instat, as packages are being discussed now.  I note that with RStudio it is easy to add a package.  In R-Instat (released version), they can only be added if you have administrator rights.  It would be good if that didn't have to be the case.

[2022-06-08 11:25] anastasia-mbithe commented on #7392
I am closing this issue because it was fixed in PR #7411 and in issue #7421

[2022-06-08 11:25] #7392 closed

[2022-06-08 11:26] Patowhiz commented on #7064
In windows platform, there are specific directories(in AppData directory) designated for apps to store their data. These directories don't require administrator rights. Softwares like web browsers use them.

I'd suggest that to be the default folder path. It's standard for an app targeting windows to use that.

[2022-06-08 11:27] rdstern opened #7538 "Select all levels control for a factor doesn't seem to work now"
I found this in 2 places - there may be more.  Try with the usual survey data.
a) Filter - then Filter from Factor - select all levels doesn't seem to do anything.
b) Filter , Define New filter and choose a factor.  The select all levels again seems to do nothing.

[2022-06-08 11:37] rdstern opened #7539 "Check on refreshing of data selector?"
This may be a feature and hence not necessarily to be corrected?

With the usual survey data I go into a dialogue, say 1-variable summarise.  I then realise I need a calculated variable.
So I come out the dialogue and use the calculator to produce a new variable, called calc.

Now I return to the dialogue.  The selector is as I left it, i.e. calc isn't there.  If I press reset, then it is there.

[2022-06-08 12:00] VimbayiChimonyo opened #7540 "Seasonal climatic summaries instead oy annual summarise"
Hello instat family. I am new at using r instat and would like to calculate seasonal climatic summaries instead on annual summaries. In southern Africa the season starts somewhere in October and ends the following year around April May. Maybe the solution has been give somewhere but how can I switch from an annual e.g. 2000 summary output to an intraannual 2000-2001 summary output

[2022-06-08 12:07] rdstern commented on #7540
In the section of the climatic menu on Dates, try the Use Date dialogue.  That allows you to choose your starting month.  Many countries use July to June, unless the season may not have quite finished by the end of June.  In that case, start from August.  We call this the shifted year.  Then define your data as climatic with the shifted year.
Sometimes you will have some analyses from January and

[2022-06-08 12:25] lilyclements commented on #7533
@N-thony @shadrackkibet I also could not replicate this error.
Can we try and get into a habit that when giving bug reports, we attach the output script in a file as well as give a detailed outline? (This is quite straight forward now we have a Save option on the Output Window script?)

[2022-06-08 12:41] N-thony commented on #7533
@lilyclements it works but the problem I found as Shadrack explained above, is you need to remove the `dataframe` from the receiver and then run again, it may be good to re-design this dialogue, it seems not friendly to use it from my view.
![image](https://user-images.githubusercontent.com/68591383/172618656-1fb4e764-8a34-4b7c-91fa-f0eeae32e311.png)

[2022-06-08 13:14] lilyclements commented on #7533
@N-thony i see. So perhaps if the data selector only displayed hidden data frames? Then you put in the receiver data frames to redisplay?

[2022-06-08 14:38] lilyclements commented on #7533
@shadrackkibet this sounds like a really good idea. I think it would simplify the dialog for the user. We could do a similar idea in the hide/show columns dialog too?

[2022-06-08 15:33] shadrackkibet commented on #7533
@rdstern I agree with your suggestion in b) for c) I wouldn't say I like hiding things completely in our metadata windows. I am happy with using properties to show when things change - TRUE or FALSE (Perhaps we use colours to alert the user when something has changed). In this case, we are hiding or unhiding. In some instances, we change the properties of columns. I claim that is exactly why do ha

[2022-06-08 17:53] rdstern commented on #7533
@shadrackkibet I could "buy that" perhaps for the data frame metadata, i.e. to have TRUE and FALSE for hidden data frames.  But are you sure for the column metadata?  Remember we sometimes have over 7000 variables and it could be much higher.  I suggest it would sometimes be very useful to just view the selected variables there.

[2022-06-09 07:05] Patowhiz opened #7543 "Tracking, detecting and responding to data and metadata changes at VB.Net level"
Currently at the VB.Net level we have no way of knowing the exact data and metadata changes. For instance,

1. When using the calculator dialog, if a user is just producing an output and not a column, the R link always calls for the grids to refresh their data, even though in this case it's not necessary. This also cascades to the grids calling other functions.
2. When any dialog produces an outpu

[2022-06-09 07:23] N-thony commented on #6373
@rdstern is this done or there is still something you would like to check with Alaghie or Sophie or Juliana?

[2022-06-09 07:29] N-thony commented on #7496
This was fixed in #7492

[2022-06-09 07:49] Patowhiz commented on #7317
@derekagorhom that's a good question for @rdstern. You can discuss this with him and fix it. Thanks.

[2022-06-09 07:49] #7452 closed

[2022-06-09 09:09] #7113 closed

[2022-06-09 12:37] N-thony commented on #7534
@derekagorhom I think you worked on this dialogue recently, while working on this issue can you fix this small problem? When you click on multiple receive, the single receiver is still present
![image](https://user-images.githubusercontent.com/68591383/172848353-d9260faf-3f09-4a81-926f-2a9b8113a831.png)

[2022-06-09 12:50] Patowhiz opened #7545 ""Select all" button text in the Filter From Factors sub dialog does not toggle to "Unselect all" after click it"
This button should behave like the one in the define filter sub dialog.

[2022-06-09 14:19] Vitalis95 commented on #7534
@derekagorhom, after pulling the changes you made on PR #7505 , I got the following bugs; These bugs were not there before because I am also working on the same dialog. As you work on this issue can you also fix these small problems?
This is the dialog when I load a dataset;
![image](https://user-images.githubusercontent.com/89011415/172861723-d13ac59a-074b-45e0-9239-6f4028e87e25.png)

When I go t

[2022-06-09 16:37] Amsale2022 opened #7547 "Bug whele inporting netCDF file"
While importing a netcdf file on R-Instat with the dialogue: File>Import and Tidy NetCDF File, the option for lat/lot does not show up.

![Screenshot (10)](https://user-images.githubusercontent.com/104636673/172897654-164dc933-a7e8-4686-bedb-3dd42e28d753.png)

Here is the link for the nc file.
https://drive.google.com/file/d/1dANhSAAye1aiWlAkhwsQYdrO6fzwxh1W/view?usp=sharing

@dannyparsons kindly

[2022-06-09 17:52] #7538 closed

[2022-06-10 06:36] N-thony opened #7550 "Minor improvement on reordering of data frame tabs in Data View"
Currently the reordering of data frame tab in the Data View works fine except that the current data frame tab is changed by the last data frame after reordering in Data View's tab. What we need to improve is to maintain the current data frame though reordering is applied.

[2022-06-10 07:20] Patowhiz opened #7551 "Add options similar to the selector right click menu"
When a user wants to add all contents of the selector to a multiple receiver, they have to right click then click on Add all option.
Would be ideal if a user could get this option under the  Add options similar to what we have in the Ok and To Script buttons.

[2022-06-10 07:38] rdstern commented on #7551
I like that option, and you showed it as the pull-down on the Add control.  I note the right-click has 2 further options, but I've never used them, so perhaps omit for now.
The norm is also to include the main key, i.e. Add as the first option?  I also notice that if you select and use the ordinary Add, then it does an Add Selected, but that's fine.

In the review, we were asked whether the Add ke

[2022-06-10 08:07] #7528 closed

[2022-06-10 08:49] Patowhiz commented on #7551
@rdstern
The other options are Select all and Clear selection, which I think are not tied in an way to the Add button.
If you select and use the ordinary Add, it should add all that are selected. If nothing is selected, then it won't add anything.
If you select and use the Add all option, then all contents will be selected then added to the receiver.

[2022-06-10 11:21] Patowhiz commented on #7545
@N-thony do you have anyone in mind to have a look at this. Should be easy for any one to attempt.

[2022-06-10 11:40] N-thony opened #7555 "Minor bug with the translation Plot Options > Themes > Simple Options, All Options Sub Dialogues"
This problem is due to the translation, it is difficult for the specific user to know the element text changes he is making for the Plot since all of them are `Element Text`, see screenshot below
![image](https://user-images.githubusercontent.com/68591383/173057085-21755828-1402-4817-b5cf-4279baec418f.png)

[2022-06-10 18:39] rdstern commented on #5744
The 2 stats for stat_cor and stat_regline_equation have now been added.  They are from the ggpubr package.  I did ask a question there, on how to give the correlation information without the p value.  This is [here](https://github.com/kassambara/ggpubr/issues/240).  It was answered, and then closed.  I wonder if we can add that feature to our implementation of the stat.  I tried, but failed, to do

[2022-06-12 08:03] #7555 closed

[2022-06-12 09:39] rdstern opened #7556 "Change the specific plots to the new system"
I am suggesting @EstherNjeriLiberatta for this, as (I am afraid) you did the PICSA and mapping graphs very well!

a) I suggest there be a single button, just `Plot Options`.  And it has the same pull-down as for the mapping dialogue.
b) Then the first option is also Plot Options.
c) This is followed by each of the remaining options for that dialogue, and they could be in alphabetical order.
d) I s

[2022-06-13 07:08] Patowhiz commented on #6377
@rdstern in climsoft we can import;
1. Hourly or daily data - station id and element code should be in a column. And they can be multiple. The station id and element code should exist in the database.  If they are not in the data file, then you can still choose them while importing.  The observation date time can be in the form of a datetime column or separate columns of year, month, day and hour.

[2022-06-13 07:14] Patowhiz commented on #6377
Here is the same sample file in a single rds file. This has another sample that has the level column that Climsoft can ingest (especially for upper air data).
[climsoft_sample_file_formats.zip](https://github.com/africanmathsinitiative/R-Instat/files/8888823/climsoft_sample_file_formats.zip)

[2022-06-13 16:31] rdstern commented on #6377
@Patowhiz thanks - great.  With rainfall, how do we organise trace values for import into Climsoft?

[2022-06-13 16:56] Patowhiz commented on #6377
@rdstern the value will have to to be with T flag, for instance 0T.
Then climsoft will separate the value and flag during import.

[2022-06-13 18:12] #7483 closed

[2022-06-13 18:21] #7507 closed, assigned to Vitalis95

[2022-06-14 09:56] derekagorhom commented on #7534
I am currently working on it

[2022-06-14 10:55] N-thony commented on #7495
@anastasia-mbithe please, can you give the update on this?

[2022-06-14 11:51] Vitalis95 commented on #6377
@rdstern @Patowhiz, this is the sketch of the dialog. Have a look at it and if there is anything I still need to add before I start implementing .

![WhatsApp Image 2022-06-14 at 2 43 32 PM](https://user-images.githubusercontent.com/89011415/173569519-ccfd856a-45a8-44fd-99b3-06befd124dd6.jpeg)

[2022-06-14 11:59] N-thony commented on #6377
@Vitalis95 good start, @rdstern what do you think?

[2022-06-14 13:40] Patowhiz commented on #6377
@Vitalis95 this looks good so far.

I suggest you remove the date control, until when we support date time objects well.

Then also add an hour input text box, this will be for setting the default hour that will go to the hour column.

The station id will always be optional. If the elements are not stacked, then we have to unstack them with their values. If unstacked we don't need to. I'm not sure

[2022-06-14 15:49] rdstern opened #7558 "Summary maps for satellite or reanalysis data"
This issue is initially not for R-Instat.  But it is an analysis that R-Instat users should be able to draw on.
The task is first to document the code used by @dannyparsons that uses R (presumably RStudio) to read netcdf files, of daily data
 (gridded data), produce summaries, such as annual totals, or means or total number of rain days, or mean rain per rain day.  Then produce a map of the result

[2022-06-14 18:08] #7024 closed

[2022-06-15 06:09] rdstern commented on #3432
@N-thony I wonder who you could suggest now to work on this problem?

The initial task should be easy.  As mentioned above, my theory is that R-Instat needs to be able to cope with the multiple missing values that are used by SPSS or Stata or SAS.  The first step, suggested above, uses RStudio, which (I assume) can handle this feature.  We can use the MICS hh data to check, setting the importing o

[2022-06-15 06:34] Vitalis95 commented on #6377
@Patowhiz  thanks, we can have a call on skype

[2022-06-15 06:42] N-thony commented on #3432
@rdstern I think @EstherNjeriLiberatta can take this over with support from @lilyclements.

[2022-06-15 06:47] rdstern commented on #6377
a) @Patowhiz and @Vitalis95 I would like to keep the date field, even though it isn't used directly.  It is needed before data frames are defined as climatic and I strongly suggest this dialogue could usefully be for defined climatic data.

b) I agree we need an hour field.  I assume this could be a textbox, for a single value.  But I suggest it could also take a variable, so could then be used to

[2022-06-15 06:48] rdstern commented on #3432
@N-thony and @EstherNjeriLiberatta that would be great

[2022-06-15 07:06] Patowhiz commented on #6377
@rdstern
I totally agree with your item (b)

Adding and working with climsoft element codes is what I'm trying to avoid, they are generally not standard and may differ in different Met services. To me that's an unnecessary extra step to users. In the output format that I have suggested, climsoft will always force you to match them.

I'm happy to retain the date, but then I suggest  removing the ye

[2022-06-15 07:23] rdstern commented on #6377
@Patowhiz I would also be happy if this were to be a reshape dialogue, rather than an export dialogue.  That would also solve my problem of wanting to propose "good practice", while also keeping the system as simple as possible for the user.

You see even if Climsoft can only import csv, I would like to encourage users to look at the data first, and this would be simpler if it were exported in Exc

[2022-06-15 07:27] Patowhiz commented on #6377
Agreed. We can initially just have it produce a new data frame. The later @Vitalis95 can add the option of export.
Then @rdstern you may have to now propose a new name for the dialog and it's menu item label.

[2022-06-15 14:06] rdstern commented on #5744
@lilyclements we now have stat_cor and stat_regline_equation in the list of geoms, and they seem to work.  Is it possible to add to  the parameters?

![image](https://user-images.githubusercontent.com/11226469/173841441-8a5689e0-21ab-46e7-bf59-81103cd097a6.png)

Currently y~x is the only option for the formula.  Could we add more examples?  How exactly would this work?
In stat_cor there also seems

[2022-06-15 15:27] rdstern commented on #7318
The initial changes in this dialogue should be easy.  This is to add a multiple receiver that can accept either numeric or factor type data - so relatively unrestricted.  There should be a checkbox, default unchecked, with label Extra Variables.  If checked, then the multiple receiver becomes visible.
Then the dialogue needs correction.  The existing script (with the error) is as follows:

[code]

[2022-06-16 12:18] lilyclements commented on #6671
@rdstern can you explain this point?: "Where there is Distribution in the General dialogue, have Model instead and then include the Fit_Model_List. Is that easy to do? Perhaps the default is glm." What is the "Fit_Model_List"?

[2022-06-17 07:13] rdstern opened #7565 "Possibly add a primes key to the new integer keyboard?"
This is only (at this stage) if it is really easy (less than 45 minutes?) for @lilyclements to code!  Then @anastasia-mbithe or @Wycklife could implement.
It changes the current prime key to `is_prime` and adds a vectorised key called `prime` to the keyboard.

a) We already have a `next prime` key, so (I presume) this could be done via purrr so the command prime(from = n) gives a set of prime numb

[2022-06-17 10:41] #7534 closed

[2022-06-17 10:59] Amsale2022 opened #7566 "A bug for PICSA plot option - V0.7.6"
I am testing the R-Instat v0.7.6 candidate version and encounter an error when using the PICSA Plot option:
**Climatic > PICSA Rainfall Graphs**, then **PICSA Options, Lines, Add Mean Lines**. The plotting works but does not allow to add the mean line. A screenshot of the error message is attached.
Thanks.

![PICSA Plot option](https://user-images.githubusercontent.com/104636673/174285438-b80f8962

[2022-06-17 11:03] N-thony commented on #7566
@Amsale2022 thanks for reporting, this bug was also reporting in #7534 which is fixed in PR #7561 actually merged, hopefully it iwll be in the final release of 0.7.6

[2022-06-17 12:06] Amsale2022 commented on #7566
@N-thony thanks. However, the issues is a bit different from #7534 where the mean was miscalculated when multiple y-variable are used but plots are produced. Here, the plot is not being produced rather interrupted with the error message.

[2022-06-17 12:24] N-thony commented on #7566
@Amsale2022 okay, can you update your local master with the latest changes and then try it again? if it still there then we can find how to fix it.

[2022-06-21 09:18] Vitalis95 commented on #7318
@lilyclements , I am asking you help here;
this is the code
`PCA(X, scale.unit = TRUE, ncp = 5, ind.sup = NULL,quanti.sup = NULL, quali.sup = NULL, row.w = NULL,col.w = NULL, graph = TRUE,axes = c(1,2))`

But `ind.sup = NULL,quanti.sup = NULL, quali.sup = NULL` does not take the column names but rather takes the ****position** of the column,** i.e `ind.sup = 8,quanti.sup = 11:12, quali.sup = 13` w

[2022-06-22 09:38] lloyddewit commented on #4557
In PR #7508 , @Patowhiz  stated:

If not, @lloyddewit @N-thony and @rdstern I now strongly suggest that we comment out the lines that call the functions added here or at the very least the code line that I mentioned for now until we get the solution.
It's now clear from our current workshop, that it's very confusing to the users when the sheet that is active keeps on changing, especially when doin

[2022-06-22 12:36] anastasia-mbithe commented on #7495
@rdstern,  I downloaded a shapefile kenya data from GADM(used the first file), then I used y=lon and x=lat, added geom_sf in the layers, with geometry=geometry and this is what was produced

![Screenshot 2022-06-22 152906](https://user-images.githubusercontent.com/89011047/175029299-c9e5a683-8fba-4e8d-b1d1-d01ef29d5a33.png)

I have tested in version 0.7.5, 0.7.6 and the development version and it

[2022-06-23 08:31] N-thony opened #7568 "Minor bug when trying to rename a dataframe from Data Frame MetaData Grid"
I always get this error when I try to rename a dataframe from Data Frame MetaData Grid
![image](https://user-images.githubusercontent.com/68591383/175254059-e324993f-5ed3-4723-9eb8-cec8181a15bc.png)

[2022-06-24 07:02] #7019 closed

[2022-06-24 11:36] Vitalis95 commented on #6740
@rdstern, what is you take on this?

[2022-06-26 07:53] #7499 closed

[2022-06-27 06:44] N-thony commented on #7568
@derekagorhom any progress on this?

[2022-06-27 06:45] N-thony commented on #6377
@Vitalis95 how is it going with this?

[2022-06-27 07:00] Vitalis95 commented on #6377
@N-thony , I have started adding controls to the dialog. I am suppose to have a call with @rdstern or @Patowhiz so that I will know the functions to use. I have texted them on skype

[2022-06-27 08:02] derekagorhom commented on #7568
I am working on it

[2022-06-27 08:25] N-thony commented on #7566
@derekagorhom please check if you can reproduce this bug.

[2022-06-27 08:39] derekagorhom commented on #7566
hey @Amsale2022, i tried reproducing the bug you mentioned (i.e using the the single variable), but it produces a result for me.
![Screenshot (434)](https://user-images.githubusercontent.com/76208189/175897012-c605e90c-c32e-4ab1-a5a7-be0eb9d46781.png)

would you like to schedule a meeting so that we can solve this issue?

[2022-06-27 13:43] EstherNjeriLiberatta opened #7573 "Correct spacing between the Point(Scatter) plot dialogue."
**Describe the bug**
This is not a bug but a request for change in the dialogue design. There appears to be too much space between the dialogue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Describe menu'
2. Click on 'Specific Tables/Graphs'
3. Scroll down to 'Point(Scatter) Plot'
4. See dialogue

**Screenshots**
![image](https://user-images.githubusercontent.com/74548350/175953368

[2022-06-27 15:52] Amsale2022 commented on #7566
@N-thony thanks for looking at the issue and for the discussions. It is working with the updated master. I also checked the mean calculation separately and works fine. Hence you may close the issue.

Thanks
Amsale

[2022-06-28 05:32] #7566 closed

[2022-06-28 07:32] N-thony commented on #7532
@EstherNjeriLiberatta I think the first step for this will be to add the crop menu.

[2022-06-28 07:53] EstherNjeriLiberatta commented on #7532
@N-thony Thanks, will do.

[2022-06-28 09:25] N-thony commented on #5349
@anastasia-mbithe please, can you try this? Thanks.

[2022-06-28 12:59] N-thony commented on #1504
@dannyparsons we can think about implementing this now. I will look into it.

[2022-06-28 13:01] N-thony opened #7576 "Ensure multiple clears on reopen if the column no longer exists"
We now have a partial fix - the single receiver clears on reopen if the column no longer exists.

Still to do:
- Checks columns exists on reopening in multiple receiver
- Check the column satisfies metadata conditions for single & multiple receivers on reopen
- Implement checks when receiver is for other types - not only columns

_Originally posted by @dannyparsons in https://github.com/africanmat

[2022-06-28 13:01] N-thony opened #7577 "Ensure multiple receiver clears on reopen if the column no longer exists"
We now have a partial fix - the single receiver clears on reopen if the column no longer exists.

Still to do:
- Checks columns exists on reopening in multiple receiver
- Check the column satisfies metadata conditions for single & multiple receivers on reopen
- Implement checks when receiver is for other types - not only columns

_Originally posted by @dannyparsons in https://github.com/africanmat

[2022-06-29 21:26] lilyclements commented on #7318
@Vitalis95 good question! I suggest we do this using the `which` function.

I don't know what `X` is in your example, so I'll give an example with the `decathlon` data set in the `FactoMineR` package.

If we wanted to give the axis for the `100m` and `Long.jump` variables, we can create `col_1` and `col_2` below and call them into the `axes` argument:

[code]

[2022-06-30 07:12] Vitalis95 commented on #7318
@lilyclements , thanks
The arguments I am suppose to add are `quanti.sup ` and  `quali.sup`  and they don't take the column names but they take the column position. The arguments also may take more than one variable.

[2022-06-30 07:18] lilyclements commented on #7318
@Vitalis95 great - that can be sorted the same way as with the axes argument (so using  ‘which’).
just set quali.sub to be equal to a vector of values and input them in e.g. quali.sub = c(col_3, col_4)

[2022-06-30 10:01] Vitalis95 commented on #7318
@lilyclements , I tried running the following in the script window, col_1 and col_2 are quantitative while col_3 is qualitative but I got an error

`library(FactoMineR)`
`data("decathlon")`
`col_1 <- which(colnames(decathlon) == "100m")`
`col_2 <- which(colnames(decathlon) == "Long.jump")`
`col_3 <-which(colnames(decathlon) == "Competition")`
`last_model <- FactoMineR::PCA(X=data_book$get_columns_

[2022-06-30 10:50] lilyclements commented on #7318
@Vitalis95 thanks for giving the code with the output.

There's a few very small things going on here.

I'll outline my thinking to solve this.

The code you've given is running:

[code]

The error says "undefined columns selected".

From this we can gather there is an issue with the columns given.  "undefined columns selected" generally means it does not recognise the column names.

Looking at th

[2022-06-30 12:49] Patowhiz opened #7583 "New feature requests on the climsoft import dialog"
As a user;

1.  I may want to import data either from observation initial or final.
2. I may also not want to import the stations metadata.
3. I may want to import just the elements or stations metadata without the observation data.

The current import dialog lacks these functionalities.
I suggest redesigning the current dialog to factor in such functionalities.

[2022-06-30 13:38] Patowhiz opened #7584 "Showing count of selections in R-Instat generally"
Currently, controls that display multiple selections don't  give a hint on the number of selections done. For instance, the factors control, multiple receivers.

It would be nice if these controls could have the ability to show the selections done.

[2022-06-30 13:46] Patowhiz opened #7585 "Removing of unused levels in Levels/Labels dialog"
I now use the levels/labels dialog  a lot. At times, as part of my routine checking of data after an operation like merging or appending of 2 data frames.
Can the dialog be modified to allow notification and removing of unused levels? Instead of me having to navigate to that dialog.

[2022-07-03 07:10] rdstern opened #7586 "Editing texts with escape characters is an effective way to stop R-Instat"
The datasets from Climsoft (at least the Zimbabwe version) each contained missing values coded as \N.

This is easy to cope with, in R-Instat once you know the \ is treated as an escape character by R.  So add another \ to the string.  For example when importing the data (File > Open) on the data below, specify the missing value code as \\N works fine.

Here is an example dataset:
[element.txt](ht

[2022-07-04 07:41] Ivanluv commented on #7330
@lilyclements my understanding is that the selected data frame is displayed after applying the selection conditions on the original data frame, is this correct? if so since, currently, the  new column is added in the unselected data set, could we reload the selected data frame with the added columns included?

[2022-07-04 08:59] derekagorhom commented on #7317
@rdstern do you have any recommended links we could use

[2022-07-04 09:52] #7576 closed

[2022-07-04 11:44] lilyclements commented on #7330
@Ivanluv yes you are right, and that's a good question/point. Personally, I'm not sure what is the best solution - I'm glad Shadrack fixed this bug though!

@Ivanluv @rdstern what do you both think is best? If you add a new column into a selected data frame, should it become a part of the selected data frame set of columns?
(I'm hoping this will be a trivial fix, but I am not as experienced in tha

[2022-07-04 12:45] lilyclements commented on #7565
@rdstern I've had a look at this, mainly looking at stackoverflow.

So do we want two functions? One for `prime`, and one for `is_prime`, where `prime` gives a vector containing prime numbers, and `is_prime` checks if the current variable is a prime number.

Had a look on stack overflow, and to find `is_prime`, I think the following is a good solution:

[code]

The `prime` options found generally

[2022-07-04 14:19] rdstern commented on #7330
@Ivanluv @lilyclements I am hoping this issue has now been fixed.  The (at least partial) solution by @shadrackkibet is to remove the select when doing the calculation/transformation (I hope) and then to re-apply the select afterwards.  This has turned out to be quite a neat feature, as follows:
a) If the select is variables a, b, c. and then you make d <- a+b+c, then d is not included after makin

[2022-07-04 17:08] rdstern opened #7587 "More possible keys on the integer keyboard - binary, octal and hexadecimal?"
I notice that the lists provided, with the correction by @lilyclements now easily gives the first 1000 prime numbers, both as ordinary numbers and in binary.
That has made me wonder about including keys to transform from integer to binary - and also octal and hex, while we are there?  That should add another interesting teaching point for children at maths-camps?

The R.utils package - already inc

[2022-07-05 06:15] anastasia-mbithe commented on #7565
@rdstern and @lilyclements, This is great! However, my biggest worry is how we will incorporate this into the calculator. If you look at the calculator code it's implemented differently from the other dialogs, and it's effective with **single functions. (When I say single functions I mean functions like Factorize(), nextPrime(), isprime() etc)
That's why last time @Wycklife and I had a hard time w

[2022-07-05 06:43] rdstern commented on #7565
@anastasia-mbithe that's an interesting idea.  I was hoping that if @lilyclements writes this as an R-Instat function,  then the calculator could simply call it?  Or might there even be a (for now) trivial package that we then load in the same way as other packages.  We will soon be having our own packages, so might this be a simple start?
@anastasia-mbithe did you also see my other suggestions ye

[2022-07-05 08:03] lilyclements commented on #7565
@rdstern @anastasia-mbithe once the new lists/data frame PR is merged (hopefully soon as it’s ready for review) I can add these new prime functions to the stand-alone-functions.R file. Then we can make the changes to the calculator with the primes.

@rdstern ill look into the binary, octal, etc functions and comment on the issue related to them about it

[2022-07-05 08:53] N-thony commented on #7585
@Patowhiz could @derekagorhom take this over with your supervision?

[2022-07-05 09:42] N-thony opened #7588 "Inconsistency between in Climatic > Dates > Generates Dates and the corresponding dialogue title"
While discussing with @Wycklife , I found that the `Generates Dates...` sub menu title is different to its corresponding dialogue i.e `Regular Sequence`. @rdstern, could we make it consistent by changing the dialogue title from `Regular Sequence` to `Generates Dates`?
![image](https://user-images.githubusercontent.com/68591383/177299024-c5c32c76-e147-4b3a-9a5a-f911970ee34c.png)
![image](https://us

[2022-07-05 10:05] rdstern opened #7589 "Possibly add additional summaries to one variable summarise (customised) dialogue"
@lilyclements and @Ivanluv I am not sure if we are going over old ground again here?  I have been trying this dialogue as I write the help.

The one variable (customised) dialogue seems now to work with (all?) different types of data.  But I was hoping for more summaries as follows:
a) For date variables it could give summaries, (the ordinary summary command does - min, quartiles, mean, etc, expre

[2022-07-05 10:06] N-thony opened #7590 "Bug when trying to load csv file with the French translation"
I'm able to load this data under the `English translation` but when I switch to `French translation`, I'm no longer able to load.
Here is the loading under English translation
![image](https://user-images.githubusercontent.com/68591383/177304246-2ccf5c60-e25e-4132-8c5c-3c9ab996aae4.png)

this is what I get when I switch to French
![image](https://user-images.githubusercontent.com/68591383/17730436

[2022-07-05 10:34] N-thony commented on #7590
@lloyddewit could we discuss this?

[2022-07-06 07:56] lloyddewit commented on #7590
@N-thony Thank you for finding and documenting this bug.
I agree that setting the controls to `DoNotTranslate` seems the best solution.

Do you mean just the controls in this dialog?
If yes, then I agree. Basically any control that creates an enumeration parameter (e.g. `Automatic`) should be set as `DoNotTranslate`.

[2022-07-06 08:04] Ivanluv commented on #7589
@rdstern which dialogue has this Missing Button?

[2022-07-06 09:10] N-thony commented on #7590
@lloyddewit ideally it will be good setting the controls to any susceptible dialogues.

[2022-07-06 10:03] N-thony opened #7594 "@N-thony could you explore getting this information from the .Net databook."
@N-thony could you explore getting this information from the .Net databook.
One of the objectives in refactoring current R-Instat implementations is to have very minimal interactions with R especially when loading dialogs. It helps with making R-Instat work optimally with both wide and long datasets.

I understand there may be no structures in place yet for the above functionality. If so and it ne

[2022-07-07 07:54] Patowhiz commented on #7585
@N-thony yes, @derekagorhom can take over this. happy to discuss also.

[2022-07-07 18:41] rachelkg opened #7597 "Menu items translating inconsistently"
Hello @lloyddewit and @N-thony,

I am reviewing the French version in Preparation for the DRC course in August. I have noticed that some menu items that are present and correctly translated in Crowd-in are not translating. I am also pretty sure that these used t be translated correctly. Please see examples below.
![2022-07-07_11-04-45](https://user-images.githubusercontent.com/85707390/177843357-0

[2022-07-07 19:13] rachelkg opened #7598 "French lay out issues in the Import from file dialog"
Hello @N-thony and @lloyddewit,

Apologies for bombarding you. This is a dialog that we did not address on the first round as it was complicated and due to be updated. It has a number of issues. @N-thony please could you review it and correct them?

- Top Checkbox: Tous les fichier de ce type (type is not visible)
- Première ligne est les noms de colonnes (I updated the crowd-in translation to nom

[2022-07-07 19:22] rachelkg opened #7599 "New Data Frame dialog translation issues"
Hello @N-thony and @lloyddewit,

On all:
New data frame name, the box slightly overlaps the French text cutting off the colon.
On the empty tab:
the variable Name and Variable Label checkboxes are not translated. (These are not in crowd-in).
![2022-07-07_12-18-08](https://user-images.githubusercontent.com/85707390/177855329-7ad341be-849a-46a5-9e8c-adf7b05d8bec.png)

On the other tabs:
the Try butt

[2022-07-07 20:24] rachelkg opened #7600 "Save as dialog translation does not reflect the Crowdin text"
Hello @lloyddewit,

This is more of an oddity than a big issue. In crowdin Save Data As is translated as 'Enregistrer les données sous' however, in R-Instat the title of this dialog Save Data As is 'Enregistrer des données comme'.
![2022-07-07_13-03-29](https://user-images.githubusercontent.com/85707390/177864613-8d9ad9b6-5eb3-49c9-bd77-b7bf5732fd83.png)
![2022-07-07_13-18-52](https://user-images.

[2022-07-07 20:27] rachelkg opened #7601 "Export Data... dialog not translating"
Hello @lloyddewit and @N-thony

Though I am in the french version. This dialog is showing up completely in english.
![2022-07-07_13-25-18](https://user-images.githubusercontent.com/85707390/177865546-4dbf0588-e1c9-434d-9e50-8215aeedab26.png)

Though the menu item is translating correctly:
![2022-07-07_13-25-43](https://user-images.githubusercontent.com/85707390/177865614-fd2318dc-7b31-43d5-aba7-2c

[2022-07-07 20:34] rachelkg opened #7602 "Rename Columns Dialog Title and Tab titles not translating"
Hello @lloyddewit and @N-thony,

In the Prepare > Data frame > Rename Columns The title of the dialog is not translated and neither are the top tabs, Single (In crowdin), Rename With (Not in crowdin).
![2022-07-07_13-29-22](https://user-images.githubusercontent.com/85707390/177866530-53fe153d-da25-4f8d-9b15-e0654c75df36.png)

[2022-07-08 05:37] rdstern commented on #7349
@ChrisMarsh82 I think you said that changing the default number of variables to 100 would have negligible effect on speed, etc.  If so, then please could this be undertaken for the July update?

[2022-07-08 05:43] rdstern commented on #7003
@ChrisMarsh82 I sometimes find tI cannot see the bottom results in the Output window.  Here is an example:
![image](https://user-images.githubusercontent.com/11226469/177924381-43ee5e33-bf04-41ec-8a92-f459bcedc356.png)

There are about another 7 lines of output that I can't see.  I find the only way to show them is to execute the dialogue again.

I understand there may be larger improvements in th

[2022-07-08 07:03] lloyddewit commented on #7601
@rachelkg Thank you for finding and documenting these translation issues (also for issues #7597 and #7598). Thank you also for adding the correct translation labels to these issues.
@N-thony and I discussed the translations a couple of days ago. I understand that there is a French language workshop coming up and we would like the next release to be ready in time for this workshop. We'd like the ne

[2022-07-08 07:09] #7587 closed

[2022-07-08 13:27] rachelkg commented on #7601
Thanks @lloyddewit thanks so much for your response. Just to let you know my plan, I will be off all of next week but back after the 18th, and intend to keep checking through the first few menus and the tutorial process then. Thanks, Rachel

[2022-07-09 07:09] rdstern opened #7605 "Ok and Keep should become the same as Ok and close"
I think this may just need the Ok and Keep to also change the new variable when applicable.

You can use almost any dataset for illustration, e.g. our usual survey from the library.

Try then Prepare > Check Data > Non-numeric values.  Use the village to put the non-numeric into a variable called `nonum`.

a) If you use Ok and Keep then it keeps the dialogue as before, but also keeps the new varia

[2022-07-09 10:14] rdstern opened #7606 "Extend the drop-down on the Add control?"
This may need some discussion, so we do the right thing here.

![image](https://user-images.githubusercontent.com/11226469/178095912-ecb14589-d388-4d05-8d21-cb0ba69aca15.png)

@Patowhiz and @ChrisMarsh82 I am suggesting Chris may have a view here, because he never liked my right-click in the data selector!

a) The drop-down should be added to the selector also when it is selecting data frames.  Fo

[2022-07-10 06:35] rdstern opened #7607 "Fix remaining minor bug on PICSA graph dialogues"
The  3 PICSA dialogues are working well now.  This is a great relief and they are also impressive.
A bug that remains concerns the resetting of a control when the dialogue is used repeatedly.  I suspect there are more "features" like this, in these  - and in similar dialogues.
The simplest example I have found uses the dodoma data from the library - the rds file.
Get the annual summary of the tota

[2022-07-10 09:24] #6740 closed

[2022-07-11 05:22] #2761 closed

[2022-07-11 06:21] rdstern opened #7608 "Further improve the Describe > One Variable >Rating data dialogue"
This dialogue is now better than previously, following but I suggest there is scope for further improvements following #6786.  @N-thony to allocate.

Two examples to use are as follows.
a) the efc data for the 9 variables on caring.  This is the library data for the sjplot package.  Each rating has 4 options, so there is no neutral option.
b) Use File > New Data Frame > Random and then the 2nd to

[2022-07-11 06:56] rdstern opened #7609 "Improve the running of code from the script window"
The following code does not run either from the script window, or using the new Edit > Script

I think that is probably simply due to the fact that an open bracket is not (yet?) counted as an indicator that the command line is continuing.  If all the as.factor commands are put on a single line, then the example does run. But if I put just one of those lines in the initial command, so the continuat

[2022-07-11 07:24] N-thony commented on #7547
@Amsale2022 could we meet this week now Vitalis is back? Thanks

[2022-07-11 07:26] Patowhiz commented on #7606
c) It's about time we implemented drag and drop as a standard between the selector and the receivers.
d) I should be able to reorder the items in the receiver. This makes sense for certain dialogs in which the order of the contents in the receiver matters.

[2022-07-11 07:28] N-thony commented on #6978
@Vitalis95 any progress?

[2022-07-11 07:30] N-thony commented on #6377
@Vitalis95 how is it going here?

[2022-07-11 07:32] N-thony commented on #7318
@Vitalis95 any progress from Lily's code?

[2022-07-11 07:33] N-thony commented on #6671
@rdstern what do you think?

[2022-07-11 07:35] N-thony commented on #7495
@rdstern this seems to be fixed. Is there anything you would like to be done?

[2022-07-11 07:36] N-thony commented on #7565
@lilyclements @anastasia-mbithe any progress on this?

[2022-07-11 07:38] Patowhiz commented on #7003
For windows version, this type of output should be possible through the browser control.

[2022-07-11 07:38] Vitalis95 commented on #6978
@rdstern , What is your take on this?

[2022-07-11 07:41] N-thony commented on #7279
@lilyclements @EstherNjeriLiberatta could we have a quick discussion today?

[2022-07-11 07:42] N-thony commented on #7573
@EstherNjeriLiberatta any progress?

[2022-07-11 07:43] N-thony commented on #7317
@rdstern would you like to suggest another link? Thanks

[2022-07-11 07:44] N-thony commented on #7585
@derekagorhom you have a `go` to work on this.

[2022-07-11 08:12] derekagorhom commented on #7585
Yes please

[2022-07-11 11:05] N-thony commented on #7547
Well received

[2022-07-12 10:24] #7387 closed

[2022-07-12 13:29] N-thony commented on #7598
@derekagorhom can you help @Fidel365 on this? Thanks.

[2022-07-12 15:02] lilyclements opened #7613 "Improve efficiency in install_packages.R file"
Currently, we get the package versions by installing the R packages. The `available.packages` function can help increase efficiency

@ChrisMarsh82 I have put the R script below. `packs ` and `version` should give the same output as in the `Rsetup.R` file. However, at the moment they do not (if I run it for all pkgs).
I'm not sure why this is - I've run a recursive function to keep getting the `imp

[2022-07-12 15:18] MeSophie commented on #7532
@rdstern @N-thony  @Amsale2022 , This is the sketch of Apsimx-Examples dialog, It will import the apsimx file.
If anyone of you have anything to add, it is highly appreciated.

![IMG_20220712_180603_792](https://user-images.githubusercontent.com/106779233/178523705-4a2065da-3092-4e11-aa25-2f35e16c70d8.jpg)

[2022-07-13 05:20] rdstern commented on #7493
@N-thony version 0.7.6 is holding up well in the important India (IMD) workshop that I am finishing today.  The only 2 bugs/inconveniencies have been a bug in the use of the PICSA rainfall graphs (Vitalis is looking at that) and the confusion here about date-time variables.
In the data I have sent you, the first sheet had a (current) date variable.  And it looks like an ordinary date too.
a) If yo

[2022-07-13 12:21] lilyclements commented on #7455
@rdstern can you send the data you used to find this error?

[2022-07-13 13:15] MeSophie opened #7615 "A bug while Importing dataset using File>Import from File in French version"
**Describe the bug**
When importing dataset using File>Import From File in French version, I get the following error;

![image](https://user-images.githubusercontent.com/106779233/178740432-e8ca7f94-3b0e-4a0c-aa24-a387b6536e95.png)

But when I  use English version to import the same dataset , it works fine as shown below;

![image](https://user-images.githubusercontent.com/106779233/178740960-877a

[2022-07-13 13:34] N-thony commented on #7615
@MeSophie thanks for reporting this bug. @lloyddewit will it be good to merge PR #7591 that attends to fix this? Thanks.

[2022-07-14 07:18] lloyddewit commented on #6744
I expanded this issue to include the proposal in PR #7610 :

RStudio has a good approach. They have an editor and a console. The user can type commands directly into the console (or paste/ctrl-enter commands from the editor). The console executes the lines sequentially. If the statement is incomplete then it changes the console prompt from '>' to '+'. If the user presses 'escape', then it clears t

[2022-07-14 07:18] #7609 closed

[2022-07-14 08:26] rdstern commented on #7012
I suggest it is urgent that we react to @shadrackkibet question above.  After discussions with @volloholic I think there is a solution that could work.

I first describe the old and the current situations.
a) The old situation was that the graph was saved as part of the R-Instat data book.  It was always associated with a particular data frame, and hence it was one of the objects saved with that d

[2022-07-14 08:44] rdstern commented on #6744
@lloyddewit this is an exciting advance.  When you made the recent change (to include brackets in a multiline command) I also checked that this change also worked in the Edit > Script dialogue.  I am assuming the new console may make this dialogue obsolete, but I wonder if it may still have a role, because the scripts needed will often have a particular structure, that is made easy through this di

[2022-07-14 15:21] rdstern commented on #5931
We found two problems with the crops dialogue on the recent workshop for IMD.  I report this, but think we may not have used the controls well.  So wait with a) for now.  And point b) needs to wait for the improved output window.

a) It requires access to 2 data frames.  There are 6 single receivers on the top right.  The first four use the daily data and the last 2 use the summary data, to give t

[2022-07-14 15:28] rdstern opened #7617 "Very small change in New-Filter sub-dialogue"
The problem is shown here

![image](https://user-images.githubusercontent.com/11226469/179018237-137707b7-b658-4798-8063-89bc2cbff190.png)

Here are the data:
[test_of_blank.csv](https://github.com/africanmathsinitiative/R-Instat/files/9113102/test_of_blank.csv)

It imports with variable b as a factor, so right-click and make it a character variable.  Then try and make the filter.

The correction

[2022-07-14 18:16] rdstern opened #7618 "Improve the wakefield keyboard in Prepare > Calculator"
When using the wakefield keyboard, when there is a data frame, the first argument for each key is always (n = length...) where length is the length of the data frame.  Currently the command is given, for example, as

wakefield::age(n = , x = 20:35 , prob = NULL, name = "Age")

or

wakefield::age()
if the arguments are not shown.
I would like it to be wakefield::age(n = 36).  I suppose it could be

[2022-07-14 20:14] rdstern opened #7619 "Improve the R-Help control on the Prepare > Column: Calculator"
The last calculator keyboard (integer) has the improved control - but it is not quite right there.  So:

- [x] a) Improve that control.  It currently adds the main package - gmp - when you press the key - and that is fine.  But it should also be the first key - called gmp - when you press the arrow for the list.  So there will be the 3 packages there.
- [x] b) Implement the same R-Help with down a

[2022-07-15 06:13] rdstern opened #7620 "Add a control of factor level order to the Describe > Two/Three Variable > Pivot Table dialogue"
This is a pretty amazing resource for data exploration.
One limitation is that factors appear in alphabetical order.  It ignores the special ordering we may have.

Often that isn't too much of a problem, but sometimes it is!
Note that a factor we may wish to have in the factor-level order may not be given in the dialogue initially.
The vignette recognises the problem and gives an example where the

[2022-07-15 06:44] #7607 closed

[2022-07-15 06:52] rdstern opened #7621 "Change to Describe > Specific Tables/Graphs > Summary Tables Dialogue"
This is again a @lilyclements plus @Ivanluv challenge?

a) A simple change is that the menu item should now say Frequency/Summary Table - not just Summary Table.  And the title at the top of the dialogue should also say Frequency/Summary Table.
b) In the frequency tables we currently have to choose between counts and percentages.  It will sometimes be useful to give both.  I am not sure how to giv

[2022-07-15 08:17] anastasia-mbithe commented on #5349
I have two scenarios for this issue, using a scatter/point plot;
When the receivers are empty, the X/Y axes show discrete, when you fill the receivers with variables, the X/Y axes automatically changes to continuous.
When we do the same for the general graphics dialog, the X/Y axes remain discrete in both cases.

Looking at the code, the axes look for when the global aesthetics is >0, then it's co

[2022-07-16 10:04] shadrackkibet opened #7626 "Remove or find an alternative to "signmedian.test" R package"
The message from CRAN reads as follows;

![image](https://user-images.githubusercontent.com/26301973/179350160-18245fb4-2cde-499a-9d8d-e008cd4a2642.png)

We are still installing this package for some reason. Good to check where it is used and find an alternative. If not possible we can save the archived version for use.

[2022-07-16 10:47] shadrackkibet opened #7627 "R-Instat download flagged by windows defender as malicious?"
What can be done about the following? Windows defender flags R-Instat download as potentially malicious. A possible reason could be because the website isn't secured therefore it can be subject to a MITM.

![image](https://user-images.githubusercontent.com/26301973/179351292-7862a13e-9038-443a-b8e9-246b8adb044a.png)
![image](https://user-images.githubusercontent.com/26301973/179351381-b7311c10-73e

[2022-07-16 10:53] shadrackkibet commented on #7627
Aha! I guess that's because it is missing the digital signature!
![image](https://user-images.githubusercontent.com/26301973/179351945-6eabe278-fc25-4355-8680-0f69f51f33ca.png)

[2022-07-16 11:28] shadrackkibet commented on #7617
@rdstern what's the problem here? Isn't it correct to disable **Add Condition** until when the input control contains something?

I think the issue here is making it "user friendly" so that it is obvious to the user that this field should contain something so that **Add Condition** is enabled. Another way could be to make it obvious when is **Add condition** enabled.

[2022-07-16 11:39] shadrackkibet commented on #6406
@rdstern what about when you have two defined filters already? Say Filter1 and Filter2? Should we allow Filter1 & Filter2? or you would prefer Filter2 to be a new filter always as you've suggested above?

**Note:** I am thinking about making a combination of two filters rather than being bold in thinking about nesting many filters. I think combining only two might be already useful in climatic!

[2022-07-16 11:57] rdstern commented on #7627
@shadrackkibet you are right to be concerned.  We have the digital signature and should have it in place by the end of next week.

[2022-07-16 12:02] rdstern commented on #7617
@shadrackkibet the example of data shows that we sometimes want to select all rows when the character variable is empty.  We can't put "", because the system adds the quotes.  So if it is enabled with an empty string, then we can select to choose or avoid those rows.

When the variable is a factor, we can choose that level easily - just select that category.  How to choose the empty rows for a cha

[2022-07-16 12:09] rdstern commented on #6406
@shadrackkibet I hadn't thought about that!  I was thinking that you would usually choose another condition from a variable to add to an existing filter.  But now you mention it, yes, that condition could be an existing filter.  If that is easy to code, then great.  And I agree that we could stop with 2 filters.  The sub-dialogue should remain simple.  If it is complicated to add filters to other

[2022-07-16 12:21] rdstern commented on #7626
@shadrackkibet could you check in the code as well?  I tried, and can see we load it.  But I can't see that we use it anywhere.  If I am right, let's just delete it from the set of packages.

[2022-07-16 13:57] shadrackkibet commented on #7626
As far as I can see.

In 2017 it was used in the One variable Fit model see https://github.com/africanmathsinitiative/R-Instat/pull/2912/files/5db975eae2a176d1714437f0ffc3906ce3810fd6
I believe we've changed this dialog since then and therefore this package is no longer used anywhere. Therefore we should remove it.

[2022-07-17 07:09] #7590 closed

[2022-07-17 07:09] #7615 closed

[2022-07-17 11:16] N-thony opened #7630 "Futher improvement to the Data View Grid Paging"
We would like now to have a facility of going to a specific page by enter the page number.
@Patowhiz as discussed in our last trip together with @ChrisMarsh82 the code of going to a specific page is ready but what is required here is to have customized `input text control` that will fit within the labels for entering the page number. we can discussed this more during the Rwanda Met workshop.
![ima

[2022-07-18 06:16] #7617 closed

[2022-07-18 08:55] derekagorhom commented on #7588
@N-thony since the PR has been closed, the new PR should only contain the title name change from `Regular Sequence` to `Generate Dates`.
What about when it creates and new column, originally the column name is always `Regular` should that change to maybe `Dates` or that is ok for now

[2022-07-18 10:14] rdstern opened #7632 "Improving the script window?"
@lloyddewit I have been thinking a bit more about the enhancements to the script window, and whether a console window - like RStudio - would be useful in R-Instat.

To start with we have had various suggestions in the past concerning possible improvements in the script window.  I am assuming many of these will be resolved through the proposed work.  They are:
#6744
#6683
#6645
#6619
#6541
#6178
#5

[2022-07-18 10:14] anastasia-mbithe commented on #7565
@rdstern and @lilyclements, there is this package called primes I just came across, I think it will help us fix this issue.
There are different functions that include;
generate_n_primes(n,min,max)
k_tuple(min, max, tuple)
nth_prime(x)

What do you think about it and which functions can we consider?

[2022-07-18 10:16] #7626 closed

[2022-07-18 11:15] rdstern commented on #7565
Good find @anastasia-mbithe it looks great.  I'm delighted as there's lots you can add from here.  It will be good to add the package first, so this improvement gets into the July release.  Can you start with that.
Then perhaps suggest a design for the expanded keyboard that uses as many of the functions as seems convenient.

Note the important generate_n_primes can include (for us) the n, because

[2022-07-18 11:29] anastasia-mbithe commented on #7565
Thanks for the feedback.
Just a small correction, there is generate_n_primes(n), and generate_primes(min, max).
Yes, I agree we can start with generate_n_primes().

[2022-07-18 11:55] lilyclements commented on #7565
@anastasia-mbithe nice find! Looks like a great package :)

[2022-07-18 12:07] lilyclements commented on #4932
To extend on this slightly (after reading #7632), in the script window it would make the script a lot more readable if we had colour changes in the R codes (e.g. comments colours, `if`/`else` colours, etc).
Perhaps as well, but this is a "luxury", offering different skins (or skin options).

[2022-07-18 12:09] lilyclements commented on #4444
@rdstern I think this is fixed and this PR can be closed, but, I might be testing wrong since I didn't know about the original issue!

[2022-07-18 12:11] lilyclements commented on #4381
@Patowhiz this was a comment from 2018. Did merging that PR resolve the issues in this issue?

[2022-07-18 12:13] lilyclements commented on #7632
@rdstern thank you for collating the PRs on this. I agree with these issues on reasons why I, as an R user, would use RStudio over R-Instat.

Another reason is that if I write an open bracket, RStudio automatically adds the close-bracket (similarly with quotations).

Additionally, the formatting is better in RStudio (adds in breaks to make it more readable):

[code]

I can add these comments to se

[2022-07-18 13:15] Ivanluv commented on #7455
[gadm36_GHA_shp (1).zip](https://github.com/africanmathsinitiative/R-Instat/files/9132151/gadm36_GHA_shp.1.zip)
@lilyclements  this dataset can also be used to generate the error

[2022-07-18 13:16] lilyclements commented on #7620
@rdstern I've written some code here to rearrange the factor levels.

@Ivanluv this should be ready for use in R-Instat

[code]

[2022-07-18 14:25] lilyclements commented on #7318
@Vitalis95 if you run this in your script window, you'll see it works. The issue is that your summary object is not a model, so it does not save into the add_model properly.

If you instead run,

[code]

(i.e., remove the `summary`) you'll see it works. So if it is a `summary` object it should not be saved as a `model` (I think it's saved as a table? But I suggest checking the One Variable > Summa

[2022-07-18 14:40] rdstern commented on #7632
@lilyclements keep writing these points here as @lloyddewit is planning to improve the script window to add as much as possible to support running R scripts.
One query we had is whether "proper" R users need what might be called the console window as well.  We don't need for the results, as they come in the results window.  Do you use it very much, in RStudio or mainly edit using the top (script)

[2022-07-18 14:59] lilyclements commented on #7632
I don't use the console much at all, unless I need to make a quick calculation.
At the moment, the line of code will run if I press CTRL + Enter in R-Instat instead of just Enter, so personally I think this is console-y enough. At least, I wouldn't say it's a priority. (Although! It would be nice if the cursor moved down to the next line after press CTRL + Enter)

[2022-07-18 16:59] rdstern commented on #7161
@Patowhiz or @N-thony or @lilyclements I wonder where we are now with the wide data files?

I tried another simple example as follows - this isn't reading.  It is manipulating.

[wide_data.csv](https://github.com/africanmathsinitiative/R-Instat/files/9133644/wide_data.csv)

These data are 10 numeric variables and 10000 rows.  (It is easy to make, and I seem to remember that you and @ChrisMarsh82 w

[2022-07-19 10:08] anastasia-mbithe commented on #7565
@rdstern, Unfortunately generate_n_primes() does not accept vectors. is it okay to have nth_prime() for the start?

[2022-07-19 10:17] #7608 closed

[2022-07-19 10:34] lilyclements commented on #7565
@anastasia-mbithe this is interesting.

@anastasia-mbithe @rdstern have we considered having the calculator to have the ability to do things that don't necessarily require the data frame for (and, say, disabiling the data frame selector when those buttons are chosen?). Perhaps this defeats the point but I am intrigued why we wouldn't.
Could `generate_n_primes` be something that is more appropriate

[2022-07-19 11:11] Ivanluv commented on #7318
@lilyclements  when I try to get `last_summary `, in the code below ,after the assignment I get `NULL  ` object.I think  the problem might be with the summary function

`utils::data(package="factoextra", X=decathlon2)`

`data_book$import_data(data_tables=list(decathlon2=decathlon2))`
`col_data <- data_book$get_columns_from_data(data_name="decathlon2",
                                            co

[2022-07-19 11:53] rdstern commented on #7565
@anastasia-mbithe I am still happy with the generate_n_primes in the calculator, where it would give the command just like that including the n parameter, either as a number of sa nrows(dataframe).
Intriguing to also add a sequences button (as @lilyclements suggests) into the regular sequences dialogue and also include it - and other sequences - there too.  I like that idea!!!

[2022-07-19 12:14] lilyclements commented on #7318
@Ivanluv if you run the following, then the summary is given:

`last_summary <- summary(object=FactoMineR::PCA(X=col_data, ncp=3, graph=FALSE))`

But it is a good point that `last_summary` is a `NULL` object. From looking at the `summary.PCA` function, this is occurring because the function calls `cat` not `print`/`return`. `cat` doesn't have a return value, so we cannot save this summary using th

[2022-07-19 12:27] Ivanluv commented on #7318
@lilyclements  I would prefer not saving the ` summary` done on the `PCA `object and just have the results printed on the output window

[2022-07-20 06:16] N-thony commented on #6978
@rdstern what do you think?

[2022-07-20 06:18] N-thony commented on #6377
@rdstern could you comment on this so that @Vitalis95 moves to the next step? Thanks.

[2022-07-20 06:20] N-thony commented on #6686
@rdstern what do you say?

[2022-07-20 06:25] rdstern commented on #6377
@N-thony after discussion with @Patowhiz I assumed the dialogue should not actually duplicate the File > Export dialogue, but just prepare a data frame that would be in the right shape for the export.  @Vitalis95 asked about examples that produce a new data frame and I have suggested that the code would presumably be similar to that used by any of the dialogues in the Prepare > Data Reshape menu,

[2022-07-20 06:37] N-thony opened #7633 "Minor design change on Climatic > File > Import Shapefiles"
Could we make the ucrInput text Dataframe Name control a bit wider? Even though with the French version we still have space
![image](https://user-images.githubusercontent.com/68591383/179913577-d96f8737-4dcd-446d-9f30-8f01c9e9bad0.png)

[2022-07-20 06:40] N-thony commented on #7532
@MeSophie  can you add just on top of the base button the `input text  control` for naming the data frame?
See the screenshot below.
![image](https://user-images.githubusercontent.com/68591383/179913988-a90f256e-4395-453c-ab1b-055f67bb1ff6.png)

[2022-07-20 06:47] N-thony commented on #7556
@EstherNjeriLiberatta I have added @Fidel365 to help you on this since we have many dialogues where these changes are needed and also for him to have something to work on. As discussed you were happy to share some dialogues with him, I hope everything is going well.

[2022-07-20 06:51] N-thony commented on #7533
@Vitalis95  can you check with @shadrackkibet on how to implement some of these changes suggested above?

[2022-07-20 07:05] rdstern opened #7634 "Improve the Model > Fit Model > One Variable and 2 variable dialogues"
The task is to add randomisation and Bayesian methods to the one and two variable dialogue (or dialogues).  The current one variable dialogue is as follows:
![image](https://user-images.githubusercontent.com/11226469/179900347-739c4496-f276-4ed4-a6c5-48cf38182bf6.png)

![image](https://user-images.githubusercontent.com/11226469/179909725-bdaea78f-eae8-4706-b8bb-384f63a57da3.png)

I suggest that th

[2022-07-20 14:03] Vitalis95 commented on #7318
@rdstern  What do you think of this?

[2022-07-20 16:05] rdstern commented on #6345
@lily This error is still here.  I suggest instead of fixing the error, we add further distribution options to the current list.  This would be useful anyway.
a) I hope a "quick-win" - though not a solution to the error is to add `glm.nb `(negative binomial) from the MASS package.  This should be included whenever the poisson is there.  We already detect integer variables, so this may be easy.
b)

[2022-07-21 08:28] #6602 closed

[2022-07-21 09:37] rdstern commented on #7632
@lloyddewit I build on @lilyclements point above, on the readability of RStudio, written code.  In particular when we use the script window we often get a very long single working line.

Here is an example:
[code]

In one way I quite like this structure, namely there is a single line - the one starting last_table <- that is doing all the work.  So the overall structure is easy to see, i.e.
a) get

[2022-07-21 13:42] rdstern commented on #3432
I wonder if the answer to [this question](https://stackoverflow.com/questions/57822058/how-to-tag-different-missing-data-in-r) helps?

[2022-07-22 10:13] rdstern opened #7643 "Correction and improvements to Select facility"
This is an example of the current situation:
![image](https://user-images.githubusercontent.com/11226469/180415141-158b2266-1988-4b16-a8a5-90fd71d23ec0.png)

a) At the bottom it always seems to say Columns 1 to 100 of 100 (329).  As shown in the filter, the second 100 should be the number of selected variables - it always seems to be fixed at 100.  Look at the filter to see that it should be the n

[2022-07-22 17:50] rachelkg opened #7645 "Missing Translations in Right Click menus"
Hello @lloyddewit and @N-thony,

i am continuing my run through if the tutorial in R-Instat in preparations for August 1st.

I have noticed that there are items in each of the right-click menus that are not translating.

Interestingly, though the column right click menu and the data frame right click menus look almost identical in terms of content, their translations are different. Levels/labels i

[2022-07-22 18:00] rachelkg commented on #7645
One more. This is the right-click menu in the variable selector.
![2022-07-22_10-59-00](https://user-images.githubusercontent.com/85707390/180497256-890b9428-bed8-4f8a-8900-bfde3bae86ef.png)

[2022-07-22 18:12] rachelkg opened #7646 "One variable Graph translation in R-instat not consistent with Crowdin."
Hello @lloyddewit and @N-thony,

In one variable graph the translation of Graph Options is wrong. I checked crowdin and the translation in crowdin is correct but not showing correctly in R-Instat. I have re-approved it in crowdin but thought I would mention it in case one of you knew of a different reason this might happen.

Thanks,

Rachel

![2022-07-22_11-03-13](https://user-images.githubusercon

[2022-07-22 18:25] #7565 closed

[2022-07-22 18:56] rachelkg opened #7647 "Items not translated on the Correlations dialog"
Hello @lloyddewit and @N-thony,

There are items on the correlations dialog that are not translated in the French version.

Multiple Variable: In crowdin
Two variables:  In crowdin

Display Options box content not in Crowdin

Data Frame Name: not in Crowdin (but Dataframe Name is, perhaps we could update to this?)

First Variable: in crowdin
Second Variable: in crowdin
Model Name: not in crowdin

[2022-07-22 19:02] rachelkg commented on #7647
In the correlation graph and display options subdialog there is also an untranslated option.

Reverse Legend Order: (not in crowdin).
![2022-07-22_12-00-28](https://user-images.githubusercontent.com/85707390/180506282-086c2f0e-549a-4e21-888c-b9d65bdc64a0.png)

[2022-07-22 22:04] rachelkg opened #7648 "Levels and Labels dialog translation doesn't match Crowdin"
Hello @lloyddewit, @N-thony and @dannyparsons

Here is an other instance where the approved translation in Crowdin is not what is showing up in R-Instat. Add Factor Level should be Ajouter le niveau de facteur but instead it is still showing an old version Ajouter le facteur niveau.

Is this a problem with how things have been approved? Please let me know if this is something i can fix, i would be

[2022-07-22 22:31] rachelkg commented on #7598
This view also has similar problems:
![2022-07-22_15-30-26](https://user-images.githubusercontent.com/85707390/180576781-7a3c3b7e-48b4-4f11-abf6-bfa56af70c63.png)

[2022-07-22 22:35] rachelkg opened #7649 "Visualise data text not translated"
Hello @lloyddewit and @N-thony
Adjust size of variable is not translated and not in crowdin
![2022-07-22_15-34-14](https://user-images.githubusercontent.com/85707390/180577055-4998e7ca-c618-412d-bdd1-fd7ba9e023c4.png)

[2022-07-22 22:51] rachelkg opened #7650 "Line plot dialog french layout issues"
Hello @lloyddewit, @N-thony and @rdstern

Roger please weigh in on this Ajouter des box which is showing up in English and french.

The line plot dialog has a lot of layout issues which result in the text being cut off in french and there are also a number of items that appear in english in the french version.

Line, Smooth, Dumbell and Slope not translated

Line view:
Actually there is also an in

[2022-07-25 07:13] N-thony opened #7651 "Minor bug in the Define New Column Selection Dialogue in version 0.7.7"
When I try to define the new column selection I get the following design problem. The is because the Select by input combo doesn't have a default value.
![image](https://user-images.githubusercontent.com/68591383/180719124-c6a6bcea-5c70-4f20-96da-edc3f14cbbf0.png)

[2022-07-25 10:37] Fidel365 commented on #7598
@rachelkg, is this not the same dialogue we have been working on in this PR, we have been fixing overlapping in this dialogue

[2022-07-26 06:34] rdstern commented on #7515
![image](https://user-images.githubusercontent.com/11226469/180937026-fcaeebad-6bdc-42d0-822f-252539ec7b4b.png)

@lloyddewit Just to report that this message has not gone away.  I don't recall getting it with the real version, but I have mainly been getting it with the development version.  I assume there must be something running in the background all the time, that is gradually making it run out

[2022-07-26 07:08] lloyddewit commented on #7515
@rdstern Thank you for the update. I'm wondering if it could be specific to your machine. The next time you get the exception (or the 'A script is making the computer run slowly ...' message), could you open task manager to see if there is a memory hungry process running in the background?

@africanmathsinitiative/developers have you ever had the exception shown above?

Thanks

[2022-07-26 14:03] Patowhiz commented on #7583
In the more options, we should be able to select the stations a user want. And that option should allow the user be able to search for the station because at times the stations could be many, for instance over 3000.

[2022-07-27 04:49] rdstern commented on #7349
@ChrisMarsh82 in the current workshop we started with many datasets that have the day of the month as an individual variable.  So there were more than 30 variables in the data.  We introduced the Tools > Options so all participants changed the default.  I had hoped Version 0.7.7 would increase the default number of rows to 50.  Could this change please be included in the next release.  Thanks

[2022-07-27 05:03] rdstern opened #7659 "Improve the presentation of the results for the crop dialogue"
In the current crops dialogue, the table of results needs to be copied and pasted into Excel.  Then edited to present the results better and with fractions.  This is for PICSA.
a) In the output window it is now harder to copy part of the output from a command.  (It is easy to copy a whole output.)
b) But we could eventually produce a table with the required results in exactly the format we need.
c

[2022-07-27 05:09] rdstern commented on #5486
@lilyclements I suggest this is now getting more useful to do as part of our improved tabulation of results.
Many suggestions are above.  In addition I would like it to be easy to specify a single year, element, station, because that's often what we need.  Producing a good table of the data should now use our new tabulation system.

Not specially urgent, but very good to work towards.  It would be

[2022-07-27 05:17] rdstern opened #7660 "Continue to improve the current output window"
I know there is current work on this aspect by @Patowhiz and @ChrisMarsh82 .

The current situation has some inconveniences in our recent courses.  They are sufficient that I hope improvements can be made in the next release.
a) Sometimes the output window is blank and you have to scroll upwards quite a long way to see any results.
b) On other occasions the output isn't all visible in the window a

[2022-07-27 06:45] Patowhiz commented on #7583
I suggest by default that the data should be unstacked. Reason being, most climatic dialogs (if not all) expected the climatic data to be unstacked. So the "Unstack data" option should be "Stack data".

[2022-07-27 08:22] N-thony opened #7661 "Minor bug in the Climatic Maps Dialogue"
We need to add the facility of reducing the Station Labels size
![image](https://user-images.githubusercontent.com/68591383/181198598-f8d819df-9101-4845-997f-94325e83841a.png)

[2022-07-27 11:33] N-thony opened #7662 "Minor bug in Climatic > Check Data > QC Temperature"
The Difference checkbox doesn't keep the state on reopen of the Dialogue
![image](https://user-images.githubusercontent.com/68591383/181236839-58c581dc-3c6e-41c5-bfe7-20d48bdc5905.png)

[2022-07-27 12:09] N-thony opened #7663 "Minor design problem with Climatic > Compare > Conditional Quantiles"
There is too much spacce at the bottom of the dialogue that we need to reduce, under the Base button
![image](https://user-images.githubusercontent.com/68591383/181243169-f360bc94-8277-40c6-ab8f-c1cf6ef3e702.png)

[2022-07-27 12:25] Ivanluv commented on #7621
@rdstern do you mean the counts and percentages in the Describe >Two Way Frequencies dialogue?

[2022-07-27 12:27] rdstern commented on #7621
No, I am thinking that for now we leave that.  I am thinking of the general tabulation of frequencies

[2022-07-27 13:11] N-thony opened #7664 "Minor bug in the Transform Dialogue"
The Tmax and Tmin receivers should fill automatically tmax and tmin variables
![image](https://user-images.githubusercontent.com/68591383/181255122-5cda27a2-b3b5-42c3-b0c3-b60207dabdbf.png)

[2022-07-27 18:09] rachelkg commented on #7598
@Fidel365 it is the same dialog but a different view, therefore different options/layers are visible. Please make sure that you check resolve the issues on all the layers of this dialog.

Thanks,

Rachel

[2022-07-28 10:52] lloyddewit commented on #7648
@rachelkg I merged the latest CrowdIn changes into the database in PR #6569 and #7665. Does this solve the issue?
thanks

[2022-07-28 13:07] N-thony opened #7668 "Minor improvement to the PICSA Temperature/Rain Dialogue"
It will be nice to auto fill the temperature or rain variables in their corresponding receiver in the PICSA Temperature/Rain Dialogue
![image](https://user-images.githubusercontent.com/68591383/181512201-785d94b8-16e2-42ac-ae1e-42bb81720f0d.png)

in addition the PICSA Temperature sudialogue keep the title as `PICSA Rainfall Graph` rather than `PICSA Temperature Graph`
![image](https://user-images.

[2022-07-28 13:19] N-thony opened #7670 "Minor bug in the Climatic Summary Dialogue"
The Within Year receiver should fill automatically the month by default
![image](https://user-images.githubusercontent.com/68591383/181515157-a66a06d9-1e0b-49b1-b409-a1a9169e0b19.png)

[2022-07-28 18:48] MeSophie opened #7671 "Error message when using the Display daily data dialog in R-Instat 0.7.7 with French translation."
When clicking on **Display Daily Data** (Climatic>Check Data>Display Daily Data), an error message appears before the dialogue interface is displayed.

![Error1](https://user-images.githubusercontent.com/106779233/181613646-89267d34-7f9a-4949-a0d5-65a708043528.png)

After filling the **Display Daily Data** dialog and clicking ok we receive another error message as showing below.
![Error2](https://

[2022-07-28 19:49] MeSophie opened #7672 "Error message when using the Density Plot dialog in R-Instat 0.7.7 with French translation."
When clicking on **Density Plot** (Climatic>Compare>Display Density Plot>Density/Ridges), an error message appears after clicking on ok as showing the figure below

![image](https://user-images.githubusercontent.com/106779233/181623430-2e9f140c-58af-4e0e-9ec1-cf0eb5c18639.png)

[2022-07-28 20:32] #7646 closed

[2022-07-28 20:34] rachelkg commented on #7648
Yes! it seems to have resolved the issues where the tranlsation did not match the Crowdin entry. I will check and close the other issues it has resolved.

It has not resolved the items that are showing up in English.

Thanks,

Rachel