[2018-09-18 08:56] rdstern commented on #4803
Perfect, that's correct.  It should be possible to save any one or more of these variables.  They are each the same length as the data columns for the models, so they can go back into the same data frame.
They could have fixed names, or (ideally) have names that increment if one is used, e.g. res1, stres1, fit1, lev1.

[2018-09-18 12:34] shadrackkibet commented on #4803
@rdstern Should this be comboboxes?
![image](https://user-images.githubusercontent.com/26301973/45687756-370e4b80-bb58-11e8-9bfa-f56b98214948.png)

[2018-09-18 13:55] rdstern commented on #4803
I guess so.  It is a new column name, as we have in many other dialogues, e.g. calculator, duplicate column, etc.

[2018-09-19 06:15] rdstern commented on #4573
In giving the workshop for Haiti - over zoom - this was the one aspect that caused a problem.  The data started in November 1939, and finished in August 2018.  There were no missing values in the first and last years, though they were just partial years.

This was only pending.  I have changed it now.  The most urgent (and most used) will be from January to December.  So I would be quite happy wit

[2018-09-19 14:06] rdstern commented on #4898
This would be a good one to solve while David is with you.  With him there it could be quite quick - and instructive too?

[2018-09-19 17:46] #4956 closed

[2018-09-20 13:30] Patowhiz commented on #4439
@rdstern @dannyparsons I'm finalising on the command option and so far I've noticed we can have a default command option that makes the Empty option redundant. Below is the default command  that I propose to be shown, on first load and on clicking reset. The output command will just be the same as   when the empty command option is used. I welcome any reservations.

![new data frame](https://user-

[2018-09-20 14:33] rdstern opened #4969 "Cumulative distribution on Climatic > Prepare > Transform"
This is probably a separate **Cumulative** button at the top of this **Transform** dialogue, perhaps at the start.  It would be good to discuss with @volloholic and @dannyparsons may add to this entry.

It is "simply" the cumulative sum, just as we can already do in the calculator.  It is on the Transform keyboard where there is cumsum, cummean, cummax, cummin.  For now I can only think we really

[2018-09-20 14:36] dannyparsons commented on #4439
That's an interesting idea. I had thought `data.frame()` would be the default but I see your reasoning for this. I think I still feel that some users would find even modifying this code daunting compared to the simple nuds so I don't feel it makes Empty redundant. I do think we could make the Construct option eventually make Empty redundant though with some additions. I don't think the complexity

[2018-09-20 14:38] #4947 closed

[2018-09-20 14:48] dannyparsons commented on #4969
If we use the base `cumsum()` function then it deals with missing values as you stated.
The dialog already has station and year receivers - so the year could be shifted year column, which is your a).
b) would be possible with our own function - I think probably getting it to work in the normal way is still where we should start.
I was wondering whether sum, max, min, product are options in a combo

[2018-09-20 15:03] rdstern commented on #4969
Great.

Yes, I was assuming the options in a combo box may be very little extra work over doing it for just the sum.

[2018-09-20 15:27] Patowhiz commented on #4439
@rdstern I like your idea much more than retaining your empty. We could quickly implement this as a combobox as you suggest or as a subdialog that shows "sample commands for different dataframes". The subdialog could constitute a clickable but uneditable table or listview(something similar to how our datasets are arranged in the dataset dialog) which will have columns; commands and description. We

[2018-09-20 15:37] Patowhiz commented on #4439
In addition we could have this subdialog styled very well to make it straight forward to use and almost feel part of this dialog, like the way we made the comment subdialog.

[2018-09-20 21:05] dannyparsons commented on #4439
I don't think a whole subdialog is needed for this. Possibly an **Examples** button next to the textbox witha pull down that list the examples, when you click on one it sets thats as the text.

[2018-09-21 07:34] Patowhiz commented on #4439
I will look into the above suggestion.
@rdstern @dannyparsons this dialog is almost done. Outline all the commands and their comments that will be shown when this button is clicked.

[2018-09-21 07:35] rdstern commented on #4439
Great.  I am looking forward to seeing this.

[2018-09-21 08:30] Patowhiz commented on #4439
What about those examples? Which ones should be shown?

[2018-09-21 09:32] rdstern commented on #4439
I had my a) and b) above

Then we could have a few others that put data into a data frame, e.g. as above:

data.frame(x=1:30, y=rnorm(30,mean = 100, sd = 15), z = runif(30, min = 10, max = 30))

data.frame( block = gl(4,3), treat = c("C","A","B","B","C","A","A","B","C","A","C","B"), yield = (74, 68, 50,62,68,57,70,56,83, 67, 67,59).

[2018-09-21 12:05] Patowhiz commented on #4439
This is the final outlook of the form. The only thing remaining is the examples of the command option.
The default option is Command radio button.

![command](https://user-images.githubusercontent.com/21179007/45880132-a03bcc00-bdaf-11e8-82d5-a797cea24274.JPG)

![construct](https://user-images.githubusercontent.com/21179007/45880138-a762da00-bdaf-11e8-8cd6-f010951bcb99.JPG)

![empty](https://user-

[2018-09-21 13:12] dannyparsons commented on #4439
This is looking good.

1. How does the examples button work? I was expecting a drop down button on it.
2. Default should be Construct
3. On Empty, have the rows and columns options aligned vertically instead of horizontally, like it is currently. And also move rows about 20 points down and right so its further away from the edge and the top buttons.

Otherwise all looks good.

[2018-09-21 13:54] Patowhiz commented on #4439
Okay, will adjust accordingly. The examples button will show a pop-up
window when clicked. Which will have the commands and their descriptions.
I'm yet to finalize on it.

On Fri, Sep 21, 2018, 4:12 PM Danny Parsons <notifications@github.com>
wrote:

[2018-09-21 14:01] rdstern commented on #4439
Looks very good.

[2018-09-21 14:52] dannyparsons commented on #4439
I thought you could use a splitbutton for this, like we have on the toolbar.

[2018-09-21 18:50] Patowhiz commented on #4439
Okay I'll try that out.

On Fri, Sep 21, 2018, 5:52 PM Danny Parsons <notifications@github.com>
wrote:

[2018-09-22 08:04] rdstern commented on #4206
I think this is done now?

[2018-09-22 20:21] rdstern opened #4974 "Adding Julian day numbers to Make date dialogue"
**Is your feature request related to a problem? Please describe.**
This is another possible option when there is a single column for the day number and you specify the origin.  There are currently 3 options, namely Excel, Gregorian and Specify.  The data from CHIRPS, etc (from IRI data library have the date column (via NetCDF) as Julian day number.  This is when the origin is 1 January 4713BC.  So

[2018-09-22 20:32] rdstern commented on #4412
In preparation for Rwanda I have downloaded CHIRPS data and tamsat data for one district, round Kigali.
[tamsat_chirps_data.zip](https://github.com/africanmathsinitiative/R-Instat/files/2408131/tamsat_chirps_data.zip)

As mentioned above, the short summary is not available.  Hence you cannot select a subset.  That's not a great problem, because you can select a sensible subset in area from the IRI

[2018-09-23 12:15] rdstern opened #4975 "Adding the adjusted boxplot into R-Instat"
**Is your feature request related to a problem? Please describe.**
In our quality control of rainfall we use statistics from an adjusted (skew) boxplot to identify the outliers.  But we don't yet have the adjusted boxplot as a graph.

**Describe the solution you'd like**
There is an adjbox function in robustbase, which is already one of the packages we use in R-Instat.  So we should be able to pro

[2018-09-23 15:11] shadrackkibet commented on #4865
We had an issue previously with right click being long! Adding this seems to make the right click longer again?

[2018-09-23 15:14] shadrackkibet commented on #4830
This problem seems to be fixed elsewhere? I have tried severally to replicate it but i can't. I am going to close this now.

[2018-09-23 15:14] #4830 closed

[2018-09-23 15:32] shadrackkibet commented on #4748
@rdstern  do you still get this bug? Seems to have been fixed now. If so then this can be closed.

[2018-09-23 15:53] shadrackkibet commented on #4517
This is related with #4480, so one of this should be closed.

[2018-09-23 15:58] rdstern commented on #4975
This is now a draft text for the guide:
We use the data for Dodoma and Filter with Rain>0
Then one way to get an adjusted boxplot is to start with the ordinary boxplot, i.e. **Describe > Specific > Boxplot**
Then choose to save the boxplot as a graph called **adjboxplot**. It is a boxplot with **Rain** as the y and the **month_abbr** as x.
Now press the **script button**.

This gives the following

[2018-09-23 16:00] shadrackkibet commented on #2775
My understanding is that there is only One component that remains on this. That is adding of options to display Date and  Occurrence for end of rains and end of season. This have been reported in another issue #4112 . So one of this should be closed.

[2018-09-23 16:39] shadrackkibet opened #4976 "Add Key dialog"
**Describe the bug**
When add key dialog is loaded for the first time Button check unique is enabled. when you click on this you get a bug which is undesirable. So i think this should be disabled as long as the multiple receiver is empty.

**Screenshots**
![image](https://user-images.githubusercontent.com/26301973/45930349-b42a2e00-bf67-11e8-9fc1-48d053773109.png)

[2018-09-24 06:13] rdstern commented on #4890
Please could the Acknowledgements item be added to the bottom (?) of the R-Instat Help menu.  The help Context is 151 and the Help ID is Acknowledgements.

[2018-09-24 06:42] rdstern opened #4977 "Help IDs on R-Instat's windows"
I have added help IDs (and a current blank help) on the different windows in R-Instat.  I don't know whether there will be sufficient improvements in the help file for the update this week, so I have made this a 0.4.24 item.  But the Help Context numbers can be added anytime.  They are as follows:  (I have also given the Help IDs, but I think it is the context numbers that are usually used in the

[2018-09-24 11:43] rdstern opened #4978 "Help IDs on File and Prepare Menus"
In **File Menu:**
**Open NetCDF**: Help Context Number is 393
Export > **Export R Objects**: Help Context Number is 554
Export > **Export R Workspace**: Help Context Number is 555
Export > **Export Graph as Image**: Help Context Number is 556

In **Prepare Menu**, this is on the Check Data dialogues:
**Duplicates** : Help Context Number is 547
**Compare Columns**: Help Context Number is 546
**Non-

[2018-09-24 12:03] Patowhiz commented on #4439
@dannyparsons I've just realised that the split button can only exists in a toolbar(I stand corrected if I'm wrong). In this case, I think adding a toolbar will be an overkill.

[2018-09-24 12:06] Patowhiz commented on #4439
I could kill create a nice pop up, because I still think a drop down won't be nice in terms of UI and UX. Though, I'm open to just using the drop down if it's a better alternative in your opinion

[2018-09-24 12:12] dannyparsons commented on #4412
I'll have a look to see if there's anything we can do quickly for this

[2018-09-24 12:14] dannyparsons commented on #4974
@shadrackkibet this should just be another option in the combo box assuming this can be done with the origin parameter? Have a look online to see how others do this for R. If it's anything more complicated than that I suggest leaving it till next version.

[2018-09-24 12:17] #2339 closed

[2018-09-24 12:28] #2775 closed

[2018-09-24 12:29] dannyparsons commented on #4976
Agreed, good point.

[2018-09-24 12:34] dannyparsons commented on #4439
I think you can add a toolbar of custom size and just have a split button, so it won't look like a toolbar. Have a play around but happy that you just make a decision on what you think looks best and easy to do.

[2018-09-24 13:54] #4976 closed

[2018-09-24 14:39] shadrackkibet commented on #4978
Working on this.

[2018-09-24 14:57] shadrackkibet commented on #4978
I have added this help IDs  but seems not work, is there something that needs to be updated for this to work?

[2018-09-24 15:17] rdstern commented on #4978
For now they won't work.  I have updated my version of the help file, but just on my machine and not even used it yet to produce a chm file.  It is only when this new version is included that the help will go to the right place.

For now it is enough for the numbers to be added or changed as given in the issues.

Then I will check later, once the help file is updated.

[2018-09-24 15:40] #4978 closed

[2018-09-24 15:40] #4977 closed

[2018-09-24 15:59] Patowhiz commented on #4977
All the dialogs outlined here are yet to be fixed. This should still be open.

[2018-09-24 20:51] rdstern opened #4981 "Help IDs in climatic menu"
On the **Climatic > File Menu**

The first is **Import Shape Files**.  Question:  Should it be plural?  I suggest **Import Shape File...** as we only import a single file at a time.  Within the dialogue it is written as Import Shapefiles.  Should it be **Import Shape File** again.
Anyway the Help Context number is 557.

While on the mapping the Dialogue **Check Data > Station Maps** has Help Conte

[2018-09-24 21:06] rdstern opened #4982 "Help IDs in Options by Context Menu"
**Define Options by Context Data**.  Help Context is 572
**Prepare > Calculate Difference Between Options** Help Context is 581
**Describe > Compare Two Options** Help Context is 585
**Describe > Compare Multiple Options** (Dialogue not yet enabled) Help Context is 586
The current Model Dialogues seem odd to me.
**Model > Fit Model** looks pretty general to me, but it currently goes to the Model >

[2018-09-24 21:53] rdstern commented on #4890
Here is the current text:  It isn't very good.  Please improve.  I am also thinking of deleting the 2nd and 3rd paragraphs:

The original Instat started over 30 years ago and was on a BBC microcomputer.  Later, four staff members were the main contributors to the Windows upgrade, namely Ian Dale, Colin Grayer, Joan Knock and Roger Stern, from the SSC, University of Reading.  For the Windows versio

[2018-09-24 22:57] dannyparsons opened #4983 "Import or Open?"
We have both Open and Import in various places on File and Climatic menus. On the climatic menu particularly it is looks very inconsistent. There's also just 'Climsoft' and 'Clidata' with no open or import.

![image](https://user-images.githubusercontent.com/11214914/45983488-cc16b600-c02a-11e8-8a8a-e08392ac7dd9.png)

This relates to #4981 and might be good to resolve while doing the help.

I woul

[2018-09-25 04:39] shadrackkibet commented on #4783
I am not sure if we can be able to do this with the current functions from SPEI package. @dannyparsons could you please shed some light on how to go about this?

[2018-09-25 06:42] rdstern commented on #4783
Currently the R-code gives the command without saving the structure.  I tried with Dodoma.  It is a command for monthly data, so first use Climatic > Summary > Climatic Summaries and get the monthly totals of the rain column.  That is of length 948, i.e. 79 times 12.

1. Then we need to set the missing option to TRUE in the SPI dialogue.  I suggest that should be the default?
2. Currently the R co

[2018-09-25 07:11] rdstern opened #4984 "Adding plot to Prepare > R Objects > View?"
We currently have Print and Structure as the ways to view an object.
I suggest we add a third, namely **Plot (where applicable)**.

An example is the output from the SPEI package.  This produces an object and one generic method of looking at it, is plot.  It isn't a ggplot, but that doesn't matter!

Ideally, when we use that option, it would check whether the plot is a generic method for that obje

[2018-09-25 07:12] mmumbo opened #4985 "Appending Files with inconsistent Metadata"
When you rename the columns on just a Right click on the column name, this creates an inconsistency in the names in the metadata hence when trying to Append the two data sets it brings this error message attached in the screenshot below below that does not disappear even after restarting the software as recommended. Is it the same on your side? @africanmathsinitiative/developers

![image](https://

[2018-09-25 07:21] mmumbo opened #4987 "Recode Factors among the options upon Right click on column"
Recode factor is so powerful and frequently used feature that should be easily available on just a  Right click to the column name besides being on **Prepare>Column:Factor>Recode Factor**
This was recommended after a discussion with @volloholic  on the same

[2018-09-25 07:51] Muthenya commented on #4802
This is how I have set up the Conversions option.  I thought it would be great to borrow from the designer set up from the Conversions dialog.

![image](https://user-images.githubusercontent.com/32125033/45998634-19873780-c0ac-11e8-86a5-02a74b8fb1bb.png)

[2018-09-25 08:08] rdstern commented on #4983
I would suggest we draw a mild distinction that Open is used when we usually take the whole file.  We just Open it - at least that's the default.
Import from is when we usually decide what we want from something larger.

Now, with Open we do have options, e.g. from Excel we usually open a single sheet, or even part of a sheet.  And with NetCDF we can get an interesting subset.  But the default is

[2018-09-25 08:17] rdstern commented on #4802
Oh.  It looks nice, but is not what I thought would be happening.  We don't need the facility for conversions in 2 places.  I originally thought it would go there - in Transform - but Danny suggested to separate dialogue.

So the extra tab you have in Transform could now become Cumulative and have the Cumulative sums within Station and Year, as described in #4969.

And the other changes, on this d

[2018-09-25 15:16] Muthenya commented on #4969
This is the current implementation.

![image](https://user-images.githubusercontent.com/32125033/46024266-13ff1100-c0ef-11e8-9fb0-d1f98e439771.png)

[2018-09-25 15:54] dannyparsons commented on #4783
It returns an object of class `spei`. The fitted values, `last_model$fitted`, is what we want to save. Not so simple yet as this is a `ts` (time series) object and not a data frame or vector. Since we want this as a single column then we can just do `as.vector(last_model$fitted)` and save this as a new column.
We should think what happens when a filter is applied, because then you won't get someth

[2018-09-25 16:14] dannyparsons commented on #4985
@mmumbo could you explain exactly the steps you did to get the problem? I'm not sure exactly what you mean by _an inconsistency in the names in the metadata_?

[2018-09-25 16:20] dannyparsons commented on #4983
That's different to what I was thinking but happy with that distinction. Although I would have thought with this logic that it should be Import from ODK or Open from ODK since ODK is a software and not a file or file type.

[2018-09-25 21:03] rdstern commented on #4983
Agreed with the from ODK,  I would say Open From ODK then, (and Open From CSPRO, because you usually take the lot.

[2018-09-25 21:11] maxwellfundi commented on #4890
@rdstern will this text be in form of pdf or its already on the help file?

[2018-09-25 21:14] maxwellfundi commented on #4381
@Patowhiz could this be closed then now that you opened another isssue on other  things that need to be  done?

[2018-09-25 21:14] maxwellfundi commented on #4825
@Patowhiz  what the state of this?

[2018-09-25 21:20] maxwellfundi commented on #4915
@dannyparsons Am aware we fixed the bug that was to be fixed on here. Have you got time this week to have a look at other things needed here?

[2018-09-26 01:15] dannyparsons commented on #4890
I think it can just be a textbox for now.

[2018-09-26 01:18] dannyparsons commented on #4915
I'm looking into some of these things for the release.

[2018-09-26 05:52] rdstern commented on #4969
Great

[2018-09-26 07:40] rdstern commented on #4890
It could be in both.  It is currently in the help file with context number 151.

[2018-09-26 12:31] Muthenya commented on #4987
If this is agreed I can get to it.

[2018-09-26 13:39] dannyparsons commented on #4987
We have mentioned that the right click is already quite long. I think we need to decide how we judge what is common enough for the right click. For some data I'm sure **Recode Factor** is used a lot but I'm not sure in general.

[2018-09-26 14:46] mmumbo commented on #4985
I was trying to Append some data set that was having inconsistent names of the variables, so i realized the data was wide (so many additional columns) so i decided to rename the column names of the **Block1, Block2** and **Block3** of the attached data. Later on i appended the columns successfully. so again i wanted to append the **Yield**  together with the combined Blocks then that's where the e

[2018-09-26 16:06] Patowhiz commented on #4439
@rdstern @dannyparsons  the wakefield won't run, is there a prerquisite for this?
wakefield::r_data_theme(n = 100, data_theme = "the_works")

Then what would be comments for the other examples?

<img width="370" alt="new file" src="https://user-images.githubusercontent.com/21179007/46093135-37918c80-c1bf-11e8-92ee-4ceabb242736.png">

[2018-09-26 16:31] dannyparsons commented on #4439
What do you mean it won't run? Was there an error message? Do you have the `wakefield` package installed?

[2018-09-26 17:32] Patowhiz commented on #4439
@dannyparsons sorry, I meant, it's that specific function that @rdstern asked me to add - `wakefield::r_data_theme(n = 100, data_theme = "the_works")` . It throws an error. when you run it without explicitly importing the library in the first run(the function fails to identify function r_data_frame of the wakefield, probably it's masked). The same applies to
`r_data_theme(, "survey")`
`r_data_them

[2018-09-27 09:11] shadrackkibet commented on #4783
Thanks for this insights, i can now proceed with the task.

[2018-09-27 12:47] #4946 closed

[2018-09-27 18:00] shadrackkibet opened #4993 "Removed unused levels."
**Describe the bug**

Why is OK enabled when there is no unused level?. I think it should be disabled!
![image](https://user-images.githubusercontent.com/26301973/46164942-fb7e2a80-c297-11e8-996e-0d97c27339c0.png)

[2018-09-27 18:15] dannyparsons commented on #4993
I can think of a case you want it to be enabled.
If you're preparing a script to be rerun again, maybe on different data, then you might want to ensure no empty levels, even if your current data doesn't have any, you want it in the script in case it does when it's rerun.

I hadn't thought about this before so it was good to bring up. I don't think that's the reason it is enabled currently but I th

[2018-09-27 19:09] #4607 closed

[2018-09-27 21:41] Muthenya commented on #4845
@dannyparsons this can now be closed.

[2018-09-27 21:51] Muthenya commented on #4659
Should this be closed? Or is it going to remain open because of the improvements (checks) to the Year option?

[2018-09-28 00:59] #4845 closed

[2018-09-28 01:00] dannyparsons commented on #4659
I think we can close and open separate issues for improvements.

[2018-09-28 01:00] #4659 closed

[2018-09-28 06:41] shadrackkibet commented on #4775
@rdstern what is the state of this issue? Anything remaining here?

[2018-09-28 07:02] shadrackkibet commented on #4770
There are two components remaining here: **4** and **6.**

@rdstern  in 4 you are suggesting we add **Not Between** option. I suspect this is same as the outer option which is now there , it is only that there is a bug and Ok is not enabled when this is selected. If this is correct then we can fix the bug. If not then could you distinguish the two(Outer and Not between) options?

[2018-09-28 07:12] shadrackkibet commented on #4724
@rdstern I think Beth worked on this and it is now working better(I hope). Can you confirm that this is now working properly?. One problem i noticed is that  the conditional spells checkbox doesn't reset which we can fix.

[2018-09-28 07:35] shadrackkibet commented on #4106
I think most of this are now done. @rdstern if there is something not yet done then it is better to have a separate issue with specific components to be worked on.

[2018-09-28 08:08] shadrackkibet commented on #4981
@JacklineKemboi is now working on this.

[2018-09-28 09:14] Patowhiz commented on #4603
I think what's remaining here is the Quarter abbreviation and week abbreviation and week name. They are the ones disabled after the last PR that addressed this issue.

[2018-09-28 09:34] dannyparsons commented on #4982
Yes fit model should have its own help and the General could go to the General Model dialog

[2018-09-28 09:57] jackykemboi commented on #4283
@rdstern I found this iterative map very interesting. Do you think its worth spending some time on it.
[http://r-nold.blogspot.com/2014/06/malawi-animated-rainfall-map.html](url)

[2018-09-28 10:13] shadrackkibet commented on #4283
I see this are good maps to consider. We might want to have a specific dialog to produce this kind of maps.

[2018-09-28 14:31] rdstern commented on #4770
They are the same.

[2018-09-28 14:38] rdstern commented on #4106
I agree.  I do have a new item for the climatic summary, and it is better to have it as a new issue

[2018-09-28 14:39] shadrackkibet commented on #4770
great

[2018-09-28 14:48] #4106 closed

[2018-09-28 14:57] rdstern commented on #4283
This is perfect for you to show here in Rwanda as you ask what other maps a Met service would find useful in addition to what you have produced.  You can ask others later, but start with Meteo Rwanda.

We can discuss beforehand this, and some other examples you might show.

I notice that as soon as Charles Vanya has this example he discusses how to extend the example.  I was also wondering about a

[2018-09-28 15:17] shadrackkibet commented on #4981
This  can now be closed.

[2018-09-28 15:17] shadrackkibet commented on #4982
This can also be closed.

[2018-09-28 15:26] #4981 closed

[2018-09-28 15:27] #4982 closed

[2018-09-28 15:38] shadrackkibet commented on #4766
So, for now i am going to work on **2,3** and **4**

[2018-09-28 16:06] maxwellfundi commented on #4890
@rdstern suggested this should lead to the help which has been addressed in #4999

[2018-09-28 16:06] #4890 closed

[2018-09-28 16:58] rdstern commented on #4412
Having arrived in Rwanda I find that they are using the ENACTS satellite data practically all the time.  I think that is a similar netcdf to the ones above.  It might be interesting to ask at the IRI end as well as trying to fix the importing.  Apparently the choice from ENACTS also allows a choice of locations, but I am not sure about the shape of the resulting file.

[2018-09-29 08:04] rdstern commented on #4283
I have updated to the latest version.
I have half-followed your tutorial.  It is easy to get the initial map of Rwanda.  I have failed to add the layers for the towns or the rivers.

In my version the sf button is disabled.
So I chose to add a layer.  Then I used sf, and the file RWA_Towns_NISR or RWA_Rivers_NISR.
I put in the geometry.  and it says:

**Error running R command(s)
Error in st_trans

[2018-09-29 08:07] rdstern commented on #4283
A small item that should be easy to fix.
In the map options they go from min to max.  I used it quickly with -1 as the min and -3 as the max.  Silly I know, but could be done by others!  (-1 is the smaller absolute number after all.)
It works, but there is no map outline anymore!

Could we check these and adjust automatically, i.e. if the difference is negative, then it swaps them round?

[2018-09-30 05:42] rdstern opened #5001 "Reading GrADS and/or Matlab files into R"
**Is your feature request related to a problem? Please describe.**
We currently read netCDF files easily into R.
I am finding some datasets that come as GrADS files (or matlab files).  I found one that looked interesting on the IRI library.

**Describe the solution you'd like**
It is possible our rio now reads these files?  There is an R package to read matlab files, so I wonder if this is now ava

[2018-09-30 08:36] rdstern commented on #4783
This is now looking great.

I am re-opening for a small addition.  Could there also be the control to save the model (i.e. the spei object) with a chosen name - just as in the regression models?

This would be underneath the save index.

A second small change is to move the menu item.  It is currently in Climatic > SPI and in the describe section of the menu.    It is more appropriate in the model

[2018-09-30 08:54] rdstern opened #5002 "Improving the Prepare > R Objects > View dialogue"
**Is your feature request related to a problem? Please describe.**
In R-Instat we produce many R Objects - each linked to a data frame, i.e. they become part of what we now call a Data Sheet.
The **Prepare > R Objects > View** dialogue is where we can examine these objects.  I would like to see its use expanded, partly to be able to examine the objects more and partly to support our teaching of R.

[2018-09-30 17:35] rdstern opened #5003 "Using the Prepare > Data Frame > Convert dialogue"
[wgenf (2).genform1.txt](https://github.com/africanmathsinitiative/R-Instat/files/2431793/wgenf.2.genform1.txt)

I still have problems identifying the right set of options to translate factor columns into numeric.
Here is a big example.  I am looking at New Zealand daily climatic data downloaded, so I can check on the clifro package, before getting back in contact with the Sri Lanka team.  This ha

[2018-10-01 11:03] shadrackkibet commented on #4029
Can someone explain how this should work?

[2018-10-01 11:18] #4783 closed

[2018-10-01 15:30] shadrackkibet commented on #3519
@rdstern anything remaining here?

[2018-10-01 15:44] shadrackkibet commented on #3994
I think you can now paste into the script window and you can also edit content. So this can now be closed.

[2018-10-01 15:45] shadrackkibet commented on #4820
@lilyclements did you manage to replicate this?

[2018-10-01 19:14] jackykemboi commented on #4283
@rdstern  I have attached Rwanda shapefiles
[Rwandan Shape files.zip](https://github.com/africanmathsinitiative/R-Instat/files/2435264/Rwandan.Shape.files.zip)

[2018-10-02 14:28] lilyclements commented on #4820
I’ve had this issue occur several times but am unsure what the common factor is. It’s only ever occurred to me when RStudio is open, however, it doesn’t occur every time RStudio is open.

So I’m not sure what to suggest since I’m not sure what the issue exactly is.

[2018-10-02 18:12] #3994 closed

[2018-10-03 17:14] rdstern commented on #4915
The current version reads some files but fails on reading the Rwanda station data.  On inspection this is because some of the stations have non-numeric station ID columns.  Can it just read them in as strings?

I hope this might be simple enough to fix this week?  We are now planning for a quick update on Friday, because of the bug in the new data_book, that made the QC temperature dialogue unusab

[2018-10-03 17:44] rdstern opened #5006 "Extending the missing option in the summary statistics dialogues"
**Is your feature request related to a problem? Please describe.**
The missing option is working well in the summaries now.  However it does not cope with the (common) climatic system when data does not start in January, or end in December.
However the summaries for climatic have the useful feature that the years and months) are (almost) each the same length.
I propose a simple extension to the se

[2018-10-04 17:20] dannyparsons commented on #4915
@maxwellfundi have you looked into this? I don't see why the database has the station ID column as string but should be able to do something on the R side if necessary. Is it clear why this gives an error?

[2018-10-04 17:30] maxwellfundi commented on #4915
@dannyparsons  you are wrong on this. We found out that the station ID is can acually be a string. For the Rwanda met they have some stations id that have alphabe letters in them eg 13452PLR as the station Id.

So if you could change this so that it accepts this kind of id too would be great!

[2018-10-04 18:03] dannyparsons commented on #4605
According the [this question](https://stackoverflow.com/questions/35701663/ggplot2-add-hline-with-population-median-for-each-facet/35701887) and the [ggplot2 documentation](https://ggplot2.tidyverse.org/reference/geom_abline.html) the way to do this is either create the summary data frame and use that for the lines or create columns for the summaries in the same data frame. Neither of these are id

[2018-10-04 18:11] dannyparsons commented on #5006
This shouldn't be difficult yes, it's just a slightly different version of the max number of missing.

[2018-10-04 19:09] dannyparsons commented on #4605
Please collect the error messages and R code when this happens otherwise it's difficult to fix.

[2018-10-05 07:56] shadrackkibet opened #5008 "Consistency in Buttons leading to the subdialog."
**Describe the bug**
I had a quick look at the buttons leading to the subdialog in most of our dialogs and i find that they are not consistent. Some have ellipses(...) and others don't . I think we should agree which format to follow.
Looking at Describe menu almost all buttons do not have ellipses. In models,Prepare and climatic some dialogs have this. Is this a decision that was made before?
![i

[2018-10-05 16:59] dannyparsons commented on #5008
I think we later decided not to have `...` which is why some earlier dialogs still have them. I think @lilyclements looked into the standard for this before?

[2018-10-05 21:39] dannyparsons commented on #4196
@maxwellfundi Could you or could you assign someone to add this geom now? I would like this for the workshop in the next release. I am going to think about the design of the dialog and specify that but the geom can already be added.

[2018-10-05 21:57] dannyparsons commented on #4196
@rdstern I think this is a separate **Describe > Specific > Mosaic** dialog as opposed to extending the existing bar chart dialog. Although bar char is technically a subset of what `geom_mosaic` can do, there's lots of different concepts and I think keeping them separate makes sense.

[2018-10-06 17:53] dannyparsons opened #5010 "Add x axis label angle to bar chart + mosaic main dialogs"
**Is your feature request related to a problem? Please describe.**
When doing bar charts, and now mosaic plots, with a large number of categories and/or long category labels the labels on the x axis often overlap. Finding this option in themes is complicated.

**Describe the solution you'd like**
An option on the main dialog to make the x axis labels angle 90. This could be a simple checkbox to ha

[2018-10-07 14:59] rdstern commented on #4825
What is the state now?  Can it be merged?

[2018-10-07 15:53] rdstern commented on #3961
Is this now ready, at least for some dialogues?
I see 4 situations where this control might "take over", at least partially.
a) **Simple situations**, e.g. **Prepare > Column: Date > Use Date**, and **Prepare > Column > Calculate > Duplicate Column**.  Here there is a single existing column and the calculated column is also a single one.  The dialogues that write more than one column are also "sim

[2018-10-07 21:17] rdstern opened #5011 "Enhance the Duplicate Column dialogue"
**Is your feature request related to a problem? Please describe.**
When a column is duplicated it would be good to be able to change the type of the column at the same time.  That's often why you want a duplicate.

**Describe the solution you'd like**
This was the one dialogue that could choose the place for the new variable.  That is now redundant.  So the same position in the dialogue could be u

[2018-10-08 08:47] maxwellfundi opened #5013 "QC Temperature dialog"
**Is your feature request related to a problem? Please describe.**
Difference  option and Ok are enabled when we have only one element.

**Describe the solution you'd like**
Difference options should  be disabled when we got one element selected

[2018-10-08 08:55] maxwellfundi opened #5015 "PICSA Rainfall Graph Lines needs improvement"
**Describe the bug**
When we have multiple stations and include facets, then add the mean line/median etc it produces a single line which is in all graphs other than producing different lines for each of the facet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Climatic >PICSA > Rainfall graph
2. Add your variables in the receivers
3. go to plot options
4. Add facets click return
5. g

[2018-10-08 09:14] maxwellfundi opened #5016 "PICSA Rainfall dates labels on Y axis have issues with facets"
**Describe the bug**
When you create a PICSA Rainafall graph with an one of the options of format as date selected then later add facets throws an error shown below. (sometimes with a swap of order then it works)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Climatic >PICSA Rainfall Graph
2. Fill in the all the receivers
3. Click Ok to produce the graph
4. Go back to PICSA rainfall m

[2018-10-08 09:38] maxwellfundi opened #5017 "QC Rainfall dialog Consecutive option needs a threshold"
**Is your feature request related to a problem? Please describe.**
The Consecutive QC Option needs a threshold option

**Describe the solution you'd like**
its desirable that the consecutive option on this dialog have an NUD where the user can select the threshold of the rainfall they want to consider for the consecutive number of days.

**Additional context**
![image](https://user-images.githubus

[2018-10-08 12:00] maxwellfundi opened #5018 "Export to CPT Enabled bug"
**Describe the bug**
- [ ] Okay is enabled even when the file path is empty
- [ ] After saving there is no message or indication that saving has been successful
- [ ] Currently the output file is a txt file
- [ ] Currently with missing values are left blank on the output file

**Expected behaviour**
- Okay should not be enabled when the save file path is empty.
- We need a message box after saving

[2018-10-08 12:15] maxwellfundi commented on #5018
@rdstern Please confirm the missing value options here.

[2018-10-08 12:16] Muthenya commented on #4951
This is the current implementation of the facet.grid option and I've set it as the default. @dannyparsons I need your help on having the HTML table on the output window.

![image](https://user-images.githubusercontent.com/32125033/46608132-591e3c80-cb0c-11e8-97f8-4b7a280d565a.png)

[2018-10-08 12:30] maxwellfundi opened #5019 "Renaming shape files columns bug"
**Describe the bug**
When a shape file is loaded and you would like to rename a column, below developer error appears. When you say okay a few times then the renaming dialog appears. Renaming happens normally.

**To Reproduce**
Steps to reproduce the behaviour:
1. Import a shape file
2. Right click on the column you want to rename

**Expected behaviour**
Clicking on rename columns right click menu

[2018-10-08 12:50] maxwellfundi opened #5020 "Open netCDF dialog bug"
**Describe the bug**
When importing the netcdf from library then you go to the options subdialog, under the subset tab click on single points or points radio buttons then go back to the main dialog it produces the below bug

**Screenshots**
If applicable, add screenshots to help explain your problem, particularly of error messages.
![image](https://user-images.githubusercontent.com/9798689/4660987

[2018-10-08 14:16] Muthenya commented on #4951
@rdstern just for clarification, the facet option is only for the **Count** option in the **Graph Frequencies** ?

[2018-10-09 07:29] maxwellfundi commented on #4196
I will take on this task today.

[2018-10-09 07:32] rdstern opened #5021 "Changes in the climatic menu"
I collect together suggested changes following the Rwanda workshop:
1. Add Stack, Unstack, Append to the Climatic > Tidy and Explore menu.  Together with Merge they are in a small separate section (i.e. horizontal lines round) in the same order as in Prepare, i.e. Stack, Unstack, Merge, Append.
2. Promote and rename the **Climatic > Check Data > Station Maps** to the last item in the **Climatic >

[2018-10-09 07:43] rdstern commented on #5018
1. I think the output to CPT is OK as a txt file for now.  I'll check later.
2. There should be a numeric input control with label **Code Missing Values as:** .  The default is -999.  It is to type in and not an up-down control.
3. This replacement of blank by -999 is not (quite the) same as doing it within the (single) output variable, because there may be additional missing values caused by the

[2018-10-09 08:38] rdstern commented on #5017
In my list of tasks for the rainfall I agree that the consecutive could do with a threshold value.  Perhaps Shadrack could also check for the omit zero in the outlier.  Maybe they could be the same threshold and just set once.  So the threshold box - already there, moves left and is always visible.  Default is 0.05.

The Outlier option which is currently Omit zero becomes "Omit below threshold"
Th

[2018-10-09 08:44] rdstern commented on #5017
Could there also be testing of the dry month option.
a) So when there is the sub-dialogue it doesn't initially have the first month ticked.
b) There is a check on the problem that sometimes (I think usually if the threshold isn't changed) the result is null, i.e. there are no months in the output file - when there should be, from the data.

[2018-10-09 08:54] rdstern commented on #4915
If the input of the stations is to be a text, rather than numeric, then I think all that needs to change is to put quotes round each station when sending the command to R.

Can someone do that in the AMI team?  Then (to test it) I think the test database could be edited to add non-numeric characters to some of the station IDs there.  I can test if the change is merged.

It would be good to get thi

[2018-10-09 11:42] Patowhiz commented on #3961
This is ready, awaiting @dannyparsons further review. I understand it touches deeper code and he has to take time to probably carefully review. But once it's merged the dialogs that will use it, would probably just need 1 line of code.

[2018-10-09 11:46] rdstern opened #5024 "Adding a rugplot to the PICSA rainfall graphs"
**Is your feature request related to a problem? Please describe.**
The rainfall dialogues on the start and and length of the rains can each produce a logical column.  It would be good if this could also be displayed on the PICSA rainfall graphs

**Describe the solution you'd like**
A rug-plot [see here](https://ggplot2.tidyverse.org/reference/geom_rug.html) would seem ideal.  It would need an addi

[2018-10-09 11:50] rdstern opened #5025 "Facet by Station in PICSA rainfall graphs"
**Is your feature request related to a problem? Please describe.**
We often wanted this, and it isn't difficult to go to the plotting options with the current dialogue.

**Describe the solution you'd like**
Either a field on the main dialogue with Facet by Station.  Or a copy of the facet tab on the PICSA options

[2018-10-09 11:50] dannyparsons commented on #4605
I suggest we close this as other issues have been raised separately now.

[2018-10-09 11:50] #4605 closed

[2018-10-09 11:51] dannyparsons commented on #5015
Here's my response from here https://github.com/africanmathsinitiative/R-Instat/issues/4605#issuecomment-427114922

[2018-10-09 12:49] dannyparsons commented on #5018
I've changed the bug bullet points to checkboxes in the first comment so that they can be checked off separately.

The missing values sounds like it should be done within the R method. It should be simple R code but I can look at that if needed.

Also @maxwellfundi it is not very clear why some of these things are bugs. It would be useful to others who don't know about the dialog to have this desc

[2018-10-09 13:00] dannyparsons commented on #5020
You mean when you click on these options and don't put anything in the for the points? Or anytime you use these options?

[2018-10-09 13:01] dannyparsons commented on #4951
We are still yet to get the tables to display in the output window with these functions so I don't think we can do anything other than a browser still for now.

[2018-10-09 14:35] rdstern opened #5026 "PICSA Crop adds new conditional option?"
**Is your feature request related to a problem? Please describe.**
Currently the PICSA CROP calculation gives a table of the risk of not being able to grow the crop based on 3 separate components.
The user specifies the date(s) of planting, (e.g. 1 March) water requirement(s), (e.g. 400mm) and duration(s) of the crop (e.g. 100 days).
The calculation then finds the 3 corresponding risks:
a) 1 March

[2018-10-10 09:56] lilyclements commented on #5008
So, I went through these guides 18 months ago:
https://msdn.microsoft.com/en-us/library/windows/desktop/dn742401(v=vs.85).aspx
https://msdn.microsoft.com/en-us/library/windows/desktop/dn742478.aspx

Then I wrote up key points from them which I sent over at the time. I'll send over to you Shadrack since this was before you started so you most definitely haven't seen it before. However, since it was

[2018-10-10 12:32] dannyparsons commented on #4951
Yes that sounds fine.

[2018-10-11 06:32] rdstern opened #5034 "Bug on plotting"
**Describe the bug**
I was looking to check whether geom_col had been implemented, when I got our dreaded very serious error message.  It should not be given here.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start R-Instat
2. With **no data frame selected**, go to Describe > Specific > Line Plot (say).  Then Plot Options >  Layers and Add Layer
This gives the error.

**Expected behaviou

[2018-10-11 06:57] rdstern opened #5035 "Add date option to the Climatic > Prepare > Climatic Summaries dialogue"
**Is your feature request related to a problem? Please describe.**
There are 3 options (radio buttons at the top) for this dialogue.  This option is only needed for the second button, where the summary is by both year and within year, e.g. month, i.e. Annual + Within.

**Describe the solution you'd like**
A checkbox in this situation labelled **Add Date Column**.
It already adds a Year column, and

[2018-10-11 07:42] maxwellfundi commented on #1908
@evanstats please take on this task

[2018-10-11 19:28] rdstern commented on #4803
I was looking at the broom package.  I just wonder if broom::augment() might be just what is needed?  All links with the tidy stuff too?

[2018-10-12 05:39] rdstern opened #5036 "Small correction needed to Model > Hypothesis"
**Describe the bug**
The code for this dialogue is not written to the script file correctly

**To Reproduce**
Open a dataset, say Samrain from the climatic datasets in the climatic guide.
Goto the Model > Hypothesis dialogue
Run a 2 sample t-test, say ttest(Strt2,Strt2,paired=TRUE)
Check it works OK.  No error in Try and produces some results in the output window.
Now go back to the dialogue
Press

[2018-10-12 06:40] rdstern opened #5037 "Using broom and adding text to graphs"
**Is your feature request related to a problem? Please describe.**
I have wanted to be able to add results to graphs for a long time, e.g. the correlation coefficient to our scatter-plots or the regression equation when using a line plot and adding the fitted line.

From stack-overflow this was a somewhat tricky problem in the past.  Now there seems to be an excellent solution.  And I suggest it f

[2018-10-12 10:05] Wycklife commented on #5021
@rdstern I have made the changes and i'm asking whether to change the name Tidy and Examine to Tidy and Explore.

[2018-10-12 10:07] rdstern commented on #5021
Thanks.  Let's leave it as it is now.

[2018-10-12 11:40] Wycklife commented on #5021
Okay

[2018-10-14 14:11] rdstern opened #5039 "More on the PICSA rainfall"
**Describe the bug**
This might be fixed when the code is changed for the dates.
By themselves they have worked fine for me.  They even worked when I had day numbers  more than 366, which was a relief.

But I was using data from Dodoma, where there is a shifted year, i.e. starting from 1 August.  This is currently ignored.  So I had to transform the numbers to those from 1 January to get the right

[2018-10-14 14:54] rdstern commented on #5039
Another "feature", perhaps not a bug, but interesting.  On the total rainfall I am keen to start the y-axis at zero, even if there are no data close to there.  When I specify zero as the start and breaks of 200 it still starts at 100 and not zero.  I would like more control of these limits.

I found I had to add 2 further elements (they might also be useful in our ordinary plotting.

I finished by

[2018-10-14 20:27] rdstern opened #5040 "A new dialogue needed in Climatic > Tidy menu?"
I describe the general problem briefly, then the particular example I had today.
We start with an Excel file with daily climatic data - say Dodoma.
Then there is another file, also Dodoma, with some overlapping data and some new data.
We have to merge the two files.  We would like to do the following:
1) Where the data "overlap", i.e. we have 2 values for the same day, same station, same element,

[2018-10-15 05:19] rdstern opened #5041 "Help on the R-Instat windows"
The right-click in the script window has a (disabled) Help option.  Also the log window.

There are 6 windows in R-Instat.  I have an entry in the help file for each of them and am starting to add some information ready for the next release.

The context numbers are as follows:
R-Instat Windows: 539  (This is the overall one with the 6 windows as children of this entry)
Spreadsheet (Data View) 134

[2018-10-15 09:08] Muthenya commented on #1908
@rdstern and @maxwellfundi first an item to clarify then a suggestion:
1.Concerning the adding of the Colour Palletes, I went through the documentation and found the try types of palletes, namely;  sequential, diverging, and qualitative. I believe this is what we need for the three radio buttons?
2. For the case of the radio buttons, I propose that they are set up the same way as in the Conversion

[2018-10-15 09:34] rdstern commented on #1908
I am happy with your radio buttons.

The second tab is called Titles and is a copy of the Titles tab on the full plot sub-dialogue.  I assume it can actually be the same, though perhaps not, because the code may be different for a (wind rose) function than in general.

And incidentally I find the space for the titles is very small.  There could be more visible space to type.

[2018-10-15 10:53] rdstern opened #5043 "Small issue in the Tidy dialogue"
The dialogue to tidy the daily data is working well, at least for the examples I have had recently - mainly in the old Instat layout!

Today I had a new (small) problem.  Some whole years were missing.  So, when the data were imported from Excel, they came as logical columns, not numeric.  The dialogue insists on numeric, but I think it would work OK with those logical columns.  They are anyway NA

[2018-10-15 11:30] rdstern opened #5044 "Start of the rains not working well with missing values"
**Describe the bug**
The start of the rains has a date column and also gives the day number in the year of the start.  They cope inconsistently with missing values in the data.

There may be 2 separate problems.  The one today was on data from Tanzania.  A small sample was sent to Lazarus  It can be used to solve these problems by AMI, but is not then to be shared.

What is clear from the problem

[2018-10-15 12:01] rdstern opened #5045 "Message on day of year"
**Describe the bug**
This is an inconvenience, rather than a big problem.  I suggest it could be a good challenge for one of the new programmers to solve.

**To Reproduce**
Get a climatic dataset, e.g. Dodoma from the library - use the rds file
Set up the shifted day of year, year and perhaps month, starting from 1 August.
Go to the start of rains dialogue.  Do a simple definition 20mm in 3 days b

[2018-10-15 14:38] #4901 closed

[2018-10-15 14:45] dannyparsons commented on #5043
I thought we actually agreed that the receiver would accept all columns for cases where the years are character columns. It's a rare case where it is better to allow any column and then give an error for character columns because it would be very easy to not notice that one year is missing from the list if character columns are excluded.

And here this is a reason for allowing logical columns so I

[2018-10-16 07:25] maxwellfundi opened #5047 "Adding percentages on Mosaic Plots"
**Is your feature request related to a problem? Please describe.**
It was desirable from the participants of the Kampala workshop to have the percentage figures embedded on the plot.

A clear and concise description of what you want to happen.
when the Mosaic plots are produced then there would be an accompanying percentage figures on the plot.

[2018-10-16 07:32] rdstern commented on #5047
This is good.  I have wanted summaries on (our) bar charts as well.  Just as is done by sjplot.

But now I wonder whether this is a more general discussion on how to add summary statistics in general to the plots.  I am also interested in adding correlations to scatterplots, equations of the line to regression plots and peaks and valleys to time-series plots.  I wonder if a separate tab in the plo

[2018-10-16 07:54] maxwellfundi opened #5048 "Sorting needs to remove the previous variables from receiver."
**Describe the bug**
When you had sorted by a certain column(s), the previous columns still remain on the receiver when you want to filter with another column. This happens when you use the right click on the data.

**Expected behaviour**
On right clicking on data view on a column and click on sort, then the receiver on the sort dialog should remove previous selected columns and add the current on

[2018-10-16 07:57] maxwellfundi opened #5049 "Summaries output- Standard notation for large numbers"
**Is your feature request related to a problem? Please describe.**
When you do a summary of large numbers, then the output is in scientific notation.

**Describe the solution you'd like**
I would like to have an option of not having scientific notation for large numbers. Default of normal notation is desired.

[2018-10-16 09:29] dannyparsons commented on #5049
We can set an option for this https://stackoverflow.com/a/25947542/6424231

It's not as simple as on/off but essentially we can do this by setting `options(scipen=0)` for scientific notation "on" and `options(scipen=999)` for scientific notation "off". I think these two options are enough and we don't need to allow different numbers to be used. This can always be done in the script window if reall

[2018-10-16 11:11] rdstern commented on #5049
This is great.  I like it.
Looking at the graph, I think I prefer the default being the same as R, namely to go into scientific when appropriate.  At least that's what I understand it is.  I certainly don't want scientific all the time.

But the presentation above shows exactly why  we sometimes have scientific.  What is there is very nice, but also awful!  So, it is good to be able to get the sci

[2018-10-16 17:38] dannyparsons commented on #5049
In ggplot2 this can be changed through the scales, not the theme, to do it for a specific graph, which we don't yet have.

The example we noticed this for was prices in Ugandan Shillings which could be in the billions, and trillions in summaries. So it could have been changed to US dollars but nice to keep it as it is.
The output from `summary()` was very confusing for almost everyone. We could po

[2018-10-16 18:35] Muthenya commented on #5013
From the dialog I noticed that when the Difference checkbox is checked, okay can only be enabled when both the element receivers are filled. I believe this is the current "fix" for this. I just thought why is this (enable/disable) only proposed for the Difference checkbox and not the rest as well. It's not going to be uniform since for like the case of acceptable range checkboxes they are specific

[2018-10-17 04:25] maxwellfundi opened #5051 "Filtering with very many levels of a factor it takes lots of time"
**Describe the bug**
When filtering a variable with very many levels of the factor, it takes too long to load the levels on the ucrfactor(the grid on the filter dialog).

This needs to be optimized.

[2018-10-17 04:30] maxwellfundi opened #5052 "Two-way frequencies bug- Sometimes doesnt open browser"
**Describe the bug**
While working on two way frequencies, sometimes it seems not to open the browser to display results and throws the below. Am not quite sure the exact cause for this bug and we need to investigate it further.

**Expected behaviour**
When OK is pressed the resulting table should be open n browser.

**Screenshots**
![image](https://user-images.githubusercontent.com/9798689/470623

[2018-10-17 04:43] maxwellfundi opened #5053 "When filtering entry levels are not being dropped in the output"
**Describe the bug**
When I have a dataset with say 4 levels of a factor, then i do say a summary of all the variables, then I do a filter say to have three of the 4 levels, then go back to summaries dialog, I get the same result- The filtered out levels are not dropped after filtering.

**Expected behaviour**
Filtered out variables should be dropped when doing consecutive operations.

[2018-10-17 04:51] Muthenya commented on #5043
Currently the receiver has no restrictions.

[2018-10-17 08:20] rdstern opened #5054 "Summary dialogue and links and types of data"
I have found what I call my first positive bug.  (If it is a bug)  I am not sure whether we should do anything about it (yet?), but wanted to report while it is fresh in my mind.

One of the strengths of R-Instat is the linking (and using the links) from multiple data frames.
My task recently was to update the Dodoma rainfall to 2018 and then produce some PICSA graphs.  And they are urgent.  The w

[2018-10-17 08:50] Patowhiz commented on #5051
Let me check on this

[2018-10-17 11:44] Muthenya commented on #5043
@dannyparsons could you have a look at this?

[2018-10-17 13:47] #5043 closed

[2018-10-18 07:11] rdstern opened #5057 "Improving the exceedance graphs"
I needed to do these for PICSA in Tanzania.  They are important and can look good in R (and hence R-Instat).  The dialogue is in Describe > Specific > Cumulative Plots and also in Climatic > Seasonal Forecast Support > Cumulative/Exceedance Graphs.  Once it is working a bit better, then  in Climatic I suggest we move it (or possibly add it also to the Climatic > PICSA menu..

I have suggested Maxw

[2018-10-18 09:57] dannyparsons commented on #5039
angle = 90, vjust = 0.5 or angle = x, hjust = 1 where 0 < x < 90

Remove as.numeric() and add group = 1 in geom_line aes.

Set default to 12

Detect the shifted year and be able to choose manually through a month combo box.

Add limits and overlap from scales to subdialog. ggplot default for both as our defaults

colour, line type and size - same for all lines

e.g. "Mean: value" option for text o

[2018-10-18 11:00] dannyparsons commented on #5057
I think there are two simple changes that could be done now:

1. Instead of a checkbox for exceedance have two radio buttons at the top for cumulative/exceedance. This would then be consistent with other dialogs like boxplot

2. Since the y axis is always 0 to 1 I suggest we have the break point options on the main dialog. So the sequence from, to, by controls. I think this would also make the cod

[2018-10-18 19:44] dannyparsons commented on #5039
@rdstern please check the improvements to some of the issues. Those checked above have been done.

[2018-10-19 17:46] rdstern commented on #4751
@Muthenya what is the current state of the Transform dialogue?  I think you have the most recent version?  Perhaps it could be merged, because the existing version has real problems - seems worse than before for simple things, particularly spells.

@lilyclements is looking at the main spells dialogue over the weekend.  I thought she could compare with the results from the spells in Transform, but

[2018-10-19 19:46] Muthenya commented on #4751
I'm already through with the changes and I've informed Danny to have a look at it so that it can be merged soon.

[2018-10-20 04:32] rdstern commented on #3711
@lilyclements is about to look briefly at the problems of coping with missing values in the climatic Transform and Summary dialogues.  As far as I can see there are problems all over.  For example the spell in Transform doesn't (yet) cope with missing values.

I wonder if this is the moment when we start by stepping back a bit and consider adding naniar to the packages in R-Instat.
a) The idea of

[2018-10-20 10:18] rdstern opened #5064 "Dialogue for the visdat package"
I propose this as a new dialogue.  It seems very simple as there are few options - but extremely useful.

The precise layout of the dialogue needs to be discussed.  I suggest there could be a single dialogue for the 3 functions visdat::vis_dat, vis_miss and vis_guess

We can choose between a whole data frame and selected columns in each case (I hope).  And it would be possible to filter also.  In

[2018-10-20 17:33] rdstern commented on #5064
Here are some examples with data from Malawi.

This is the default for vis_dat

![mzimba1 showing missing and types of data](https://user-images.githubusercontent.com/11226469/47258632-f9257f80-d495-11e8-9c8f-7fe114bc847e.jpeg)

Then here is vis_miss
![missing value plot](https://user-images.githubusercontent.com/11226469/47258646-2b36e180-d496-11e8-8db6-b3ea482087f1.png)

And here is vis_guess wi

[2018-10-21 05:48] rdstern opened #5065 "Running R-Instat as administrator"
Running R-Instat as administrator is one of the options suggested by R-Instat for loading additional packages if they do not all load.

The desktop icon for R-Instat currently doesn't give this option.  Most software on my desktop does.  There are just 2, namely R-Instat and Genstat that do not include this option when I right-click on the icon.  Is this something that can be changed in the instal

[2018-10-21 09:53] dannyparsons commented on #5065
You can do this directly from the .exe file in the programs folder e.g. C:\Program Files (x86)\AMI\R-Instat 0.4.25. Not sure why it's not included in the shortcut too.

Might be a setting in installation. @maxwellfundi ?

[2018-10-21 16:26] dannyparsons opened #5067 "Missing parameter(s?) from geom_smooth"
Colour is missing as a layer parameter for `geom_smooth`. Can it be added to the geom definition? This would be a good time to check if any other parameters are missing from `geom_smooth`.

[2018-10-22 08:41] maxwellfundi commented on #5067
Great, we will be looking at this today. I remember formula was left out because we did not have editable input textboxes. We can actually revisit that as well.

[2018-10-22 09:16] dannyparsons commented on #5067
That would be good to look into. The common ones like `colour` are most important to get working.

[2018-10-22 12:08] maxwellfundi commented on #4895
This should be easy too and we will work together with @Ogik99 to add it to the list of geoms.

[2018-10-23 06:36] dannyparsons commented on #4577
No the latest version of RDotNet still doesn't include the updates for R 3.5.

[2018-10-23 06:52] maxwellfundi commented on #4577
Okay, I really hoped this would work. But lets wait and see when it is
updated to handle this version.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Tue, Oct 23, 2018 at 9:36 AM Danny Parsons <notifications@github.com>
wrote:

[2018-10-23 06:54] Muthenya commented on #5013
I would propose it stays as it is for now. @maxwellfundi ?

[2018-10-23 07:10] dannyparsons commented on #4577
Their is still discussion on the topic and I'm hoping an update will be released soon.

[2018-10-23 07:38] Muthenya opened #5070 "Small bug on Make Date dialog"
**Describe the bug**
The Make Date dialog has **Ok** enabled even when the receivers are empty. I observed that on the first option, **Single Column**, when **Ok** is enabled there, it's also enabled on the other options.

**Expected behaviour**
**Ok** should be enabled only when the conditions for the specific option are satisfied. In this case, the receivers for the respective options are filled

[2018-10-23 07:44] dannyparsons commented on #5070
Good spot thanks. This is a good task for a new programmer.

[2018-10-23 07:47] Muthenya commented on #5070
@Wycklife you can take this up.

[2018-10-23 09:07] maxwellfundi commented on #5065
@rdstern  I have noticed that you can not run R-Instat from the desktop in Admin mode, however, from your start up menu, you can right click on the R-Instat Icon and then on more you will find this option as shown below.
I will check why this option is not available for the desktop icon.

![image](https://user-images.githubusercontent.com/9798689/47349374-310e0c00-d6bc-11e8-8feb-5781ba123444.png)

[2018-10-23 10:18] Muthenya commented on #5018
The first checkbox can be checked now.
Then I guess we are now remaining with the last checkbox since the second one has been clarified by Roger and I'm don' think there is justification for the third one.

[2018-10-23 13:36] maxwellfundi commented on #5013
I think if Ok is not enable is fine at the moment however it would be nice to have enhancements for these options. I dont see this as urgent @rdstern what do you think?

[2018-10-25 09:28] Patowhiz commented on #4766
How I wish that instead of producing a logical column with a summary, we could just have the cells in those columns with non numerics highlighted in different colors, then all I will need to do is check on the summary and if I'm not using the filter just scroll quickly to a particular cell. Assuming the logical column is not mandatory.

[2018-10-25 11:24] mmumbo opened #5077 "Changing the size of layer parameter"
@africanmathsinitiative/developers
**Describe the bug**
After i have added the **geom_hline** layer to my line plot, i have noticed that the line is too thin so when i tried to increase the length 0.9 thickness, its flipping a lot, you cannot easily key in any value directly. Could this be the same on your side?

**To Reproduce**
Steps to reproduce the behaviour:
1. Click **Plot Options**
2. Selec

[2018-10-25 17:03] chrismclarke opened #5078 "Improve overall user interface"
**Is your feature request related to a problem? Please describe.**
The overall style looks outdated, I'm not sure if you're planning on waiting to whatever frontend cross-platform framework overhaul takes place (v2.0), but otherwise it might be worth investigating simple ways to make the current appearance a bit more modern and polished.

**Describe the solution you'd like**
Modern UI overhaul - f

[2018-10-25 17:10] chrismclarke commented on #3568
If you're considering this then the main trade-off I see is how close to an excel-like grid system you require vs freedom to use popular tools/frameworks. If you want to get as close to excel as possible you'd probably want to be using c++, and could possibly start with a fork from the libreoffice calc tool (assuming open licence allows). If a reasonable grid will suffice then I would recommend bu

[2018-10-25 19:35] Patowhiz commented on #5077
I'm getting the same problem too.

[2018-10-26 08:19] mmumbo commented on #5077
On the same window, similar problem happens when you try to change the **yintercept** value

[2018-10-26 09:01] rdstern commented on #5021
Thank you for the changes.

I re-open this issue, because one item could have more prominence.

I was thinking of the Mapping dialogue at the bottom of the Describe section of the climatic menu, rather than under Climatic > Describe > Mapping.

I would like it one level up, i.e. as **Climatic > Mapping** , and just below Climatic > CM SAF.

Thanks

[2018-10-27 11:47] lilyclements opened #5079 "Start of Rains - start date/doy NA values"
I had a look into the start of rains bug where if we have a missing value outside of the time interval we are interested in we are given a missing value in the output for `start_doy` but get a start of rains value for `start_date`.
E.g. we are interested in start of rains dates from day 306 to 366, and on day 274 for one year there is a missing value for rainfall. This means that the `start_doy` o

[2018-10-29 09:07] Ogik99 commented on #5064
@dannyparsons any further guidance on this

[2018-10-29 10:05] dannyparsons commented on #5078
@maxwellfundi looked into some of these things before including metro framework. Do you remember the conclusions from that? Possibly @Patowhiz could continue to look into some of these things.

[2018-10-29 10:30] #5034 closed

[2018-10-29 10:54] dannyparsons commented on #4766
This might be fine for a small number of rows but typically we are using large data for this. For example, we have just used this with Lesotho Met's daily climatic data and with only 20 out of over 100 stations in R-Instat we had about 400,000 rows so it would be impossible to see this by looking at the cells.

However I do agree we would like to have better use of colours in the grid generally as

[2018-10-29 11:08] dannyparsons commented on #4766
A small and simple improvement would be to be able to give the name of the subset data frame that's produced if you check to do the filter/subset. I've commented that here as I don't think it should prevent the current pull request being merged and I don't expect Shadrack necessarily has time to do this.

[2018-10-29 11:20] dannyparsons commented on #5077
In general these up/down or "spin" controls were not designed to be typed in. They behave strange when you type in because it forces a max and min value in the format set up.

We should really only be using these for values within a specific range where  using the up/down arrows is easy. For line size the range of normal values is not too big but its interesting that you found this problematic. We

[2018-10-29 12:21] dannyparsons commented on #5064
These plots all look good. My only question is whether we include any more of these types of missing value plots that come from the `nanair` package described here: https://cran.r-project.org/web/packages/naniar/vignettes/naniar-visualisation.html. Or at least decide how we might split these up into dialogs.

Other plots include `gg_miss_upset`, `gg_miss_var`, `gg_miss_case`, `gg_miss_fct`, `gg_mi

[2018-10-29 12:22] Patowhiz commented on #5078
I prefer the [Universal Windows Platform](https://docs.microsoft.com/en-gb/windows/uwp/get-started/) UWP because microsoft has put much focus on it and have used it even in their own apps. It targets windows 10 OS and the standards used in developing a UWP application are similar to those of Android,JavaFX and HTML5 UI frameworks.

If we were to adapt to the latest recommended microsoft windows ap

[2018-10-29 13:09] isedwards commented on #3568
Part of the motivation for building on [RStudio](https://github.com/rstudio/rstudio) was to engage with their community and to see how much support there may be for an "R-Instat-Studio" solution that is suitable for a wider user base than RStudio.  The RStudio code looks clean an extensible and I can see how value could be added there.

LibreOffice calc is an interesting idea, especially if the go

[2018-10-29 15:26] #4766 closed

[2018-10-29 16:19] #4439 closed

[2018-10-29 16:33] dannyparsons commented on #5035
I agree there's no reason we shouldn't do this. I think to make it most general the summary should be "first" date from the date column instead of calculating a date. For example, if you did a within year and used dekad instead of month then it's not obvious how to calculate a date from this but you can always get the first date, which should always be what you want.

This would only not give you

[2018-10-29 16:41] dannyparsons commented on #5035
If we want to be safer we could have an option for annual summaries to do a calculation of the date from the year as an alternative to first date.

[2018-10-29 20:24] #4895 closed

[2018-10-29 20:24] #5067 closed

[2018-10-30 05:40] Patowhiz commented on #4802
@Muthenya could you share the final design layout for this dialog

[2018-10-30 09:03] Ogik99 commented on #5064
@dannyparsons I think we can have one dialog with many functions just like the case with the geoms. For starters, we could have vis_guess, vis_miss and eventually add more plots from the nanair package.

[2018-10-30 12:42] fran2or opened #5084 "Option of Not Using a fill when Creating Maps"
**Describe the bug**
You are not able to make a map without selecting a variable to fill (Eg. using districts). It is currently made in such a way that it enforces to put a variable in the **fill** receiver. The **OK** tab is not made accessible to you if the  **fill** receiver is not filled
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Climatic >> Check Data '
2. Click on 'Station

[2018-10-30 14:48] #5018 closed

[2018-10-30 14:52] dannyparsons commented on #4552
This is now improved but needs good testing with the CPT software.

Things to check:

- missing value code. Default has been set to -999. This is without quotes. Is this correct or should it be "-999"? Or does it matter?
- missing values in lat/lon. What happens if there are missing values here? Currently they are not replaced. Should they be or will CPT not working anyway with this?
- output form

[2018-10-30 20:41] Muthenya commented on #4802
Here it is.
I've picked two options.

![image](https://user-images.githubusercontent.com/32125033/47748691-72924e80-dc9c-11e8-82be-97b2ee6f96fc.png)

![image](https://user-images.githubusercontent.com/32125033/47749018-37444f80-dc9d-11e8-93d4-26c49db041ca.png)

[2018-10-30 22:08] rdstern commented on #4803
I opened R-Instat - from Visual Studio.  I opened the survey data set, went to model general and fitted yield v fert.  Worked ok.
Returned to the dialogue and used the saving residuals etc option.  It crashed out at line 453 of clsRSyntax.vb with message
            SystemNull Reference Exception: Object Reference not set to an instance of an object.

[2018-10-30 23:38] dannyparsons commented on #5084
Can you explain first what the reason was for deciding that latitude and longitude should be required?

[2018-10-30 23:46] dannyparsons commented on #4803
I can't reproduce this. Can you show me this?

[2018-10-30 23:51] dannyparsons commented on #5084
It is also good practice to link to the issue or pull request that you are referring to for the related discussions. I can see a pull request with some of these changes here https://github.com/africanmathsinitiative/R-Instat/pull/5060. Were the discussions on GitHub or just in the office?

[2018-10-31 10:06] lilyclements commented on #3711
I've been working on multiple imputation so felt it was a good opportunity to have a little look over `naniar` as well as `visdat`. I have a few notes in an R script on the functions - mainly based on the functions seen here https://cran.r-project.org/web/packages/naniar/vignettes/getting-started-w-naniar.html but I do plan to go over more of the functions in the packages. Also there are some foun

[2018-10-31 10:37] rdstern commented on #4803
I tried again on the Model > Two variable and it works fine.  But crashes on the Model > General.

[2018-10-31 23:07] shadrackkibet commented on #4803
I think it crashes because the subdialog is not yet linked properly with general models dialog. Other dialogs that use this subdialog will crash.

[2018-11-01 08:52] rdstern commented on #5064
I have been discussing this issue with Danny.  We now agree with you as above.
both
So there would be a single dialogue with options from both visdat and naniar.  We also add the geom_miss_point to the set of geoms, in ggplot.

So, as above, you could start with the dialogue as proposed above, using the three options from visdat.  Once we have each looked in more detail at the naniar options, then

[2018-11-01 10:14] dannyparsons commented on #5084
I agree, that's right. We don't need to try force "interesting" graphs when the simple things might also be useful. Is someone going to take over Jacky's pull request on this?

[2018-11-01 10:55] rdstern opened #5087 "Using the new File > New with the wakefield package"
The wakefield packages generates random samples.  I can easily use it to generate single columns.  I just put, for example,
wakefield::animal(100)
to generaqte a single column.  That's great.

But there is also the command
wakefield::r_data_theme(n = 100, data_theme = "the_works")
or "survey" or "survey2".

This generates a whole data frame.  I tried as a command and it gave an error, namely:

Err

[2018-11-01 12:15] dannyparsons commented on #5064
The design should be radio buttons at the top, one for each function - they will need short, sensible names which represent the function.
Then a selector on the left. On the right side two normal radio buttons: 1. Whole data frame 2. Select column. When you select 2. a multiple receiver appears below to choose which columns to include in the graph. If you select 1. it just uses the whole data fram

[2018-11-01 12:19] dannyparsons commented on #5087
This is an issue with the wakefield package where that function doens't work without the package being loaded. We could report this to the developers.

[2018-11-01 13:44] rdstern commented on #5087
I had loaded wakefield ealier, so did have it on my machine anyway

[2018-11-01 14:49] dannyparsons commented on #5087
I distinguish between **installing** and **loading** a package. R-Instat installs over 200 packages (including `wakefield`) but we only load a handful on start up.

When I say **loaded** I mean running the line: `library(wakefield)` in your R session to load the package into the namespace (meaning `wakefield::` isn't needed any more). You should be able to run any function from a package without l

[2018-11-02 18:41] #5021 closed

[2018-11-03 10:42] #5070 closed

[2018-11-03 10:46] Muthenya commented on #5084
I can take this up.

[2018-11-04 22:11] #4801 closed

[2018-11-05 06:43] Patowhiz commented on #5087
As @dannyparsons says, I found this issue when creating and testing this dialog. It also occurred in RStudio. There are certain wakefield functions that use a function which fails to run when the package is not explicitly loaded. It

[2018-11-05 06:47] Patowhiz commented on #5087
I mentioned the same in the PR that was addressing this dialog PR [4439](https://github.com/africanmathsinitiative/R-Instat/issues/4439)

[2018-11-05 08:02] Patowhiz commented on #4802
Looks nice.

[2018-11-05 10:06] #5087 closed

[2018-11-05 10:07] dannyparsons commented on #5087
I've set wakefield to load on startup to avoid this issue. If the problem gets fixed in wakefield itself we can remove this.

[2018-11-06 09:18] Muthenya commented on #4820
@lilyclements has this ever occurred again?

[2018-11-06 09:33] lilyclements commented on #4820
I don’t use R-Instat very much these days, but when I was playing around on it over summer it happened on several occasions over different weeks

[2018-11-06 09:49] rdstern commented on #5039
In trying the PICSA graphs the lines no longer show and also I could not change the y-axis.  When I make the changes in the dialogue it immediately resets.

[2018-11-06 09:53] rdstern opened #5094 "Adding a rug plot to the PICSA rainfall graphs"
![start with rug plot](https://user-images.githubusercontent.com/11226469/48055625-4ef56980-e1b0-11e8-950f-3e26bc3a6132.jpeg)

I have added (manually) what might be an acceptable rugplot, see above.  It isn't quite right, because it displays missing (last 2 years) as no date, but that would be easy to fix.  I did this by making the status numeric (I couldn't get the logical to show.) and then plot

[2018-11-06 10:17] Muthenya commented on #4952
@rdstern is this still awaiting further discussion?

[2018-11-10 16:55] rdstern opened #5096 "Improving the controls for the French (and other) translations"
The French translation has moved on a bit in Version 0.4.26.
There are some basic issues still to be resolved as follows:
a) When French (or any other language than English) the custom control at the bottom of the dialogue add a Lan button.  This is very nice and switches the language within that dialogue.  But it is sometimes in an odd (overlapping) place in some dialogues.  @dannyparsons will in

[2018-11-11 07:56] rdstern opened #5097 "Adding Try to the File > New dialogue"
The new File > New Data frame is working very well.  I am delighted!

a) Could the **Try** control be added?  It is in the **Prepare > Calculate > Calculations**, and **Prepare > Generate > Enter**.  It would be good to have it, in each of our "half-way" dialogues.
b) Now wakefield is added automatically when R-Instat is loaded I can just have the command r_data(500,the_works) and I get an interes

[2018-11-11 08:17] dannyparsons commented on #5097
Good idea.

[2018-11-11 08:23] rdstern opened #5098 "Adding Try to the new Model > Model dialogue"
Could it also be added to this dialogue?

[2018-11-11 08:47] dannyparsons commented on #5098
Could be, yes.

[2018-11-11 11:40] rdstern opened #5100 "Improving R-Instat for random sampling?"
I use the rice survey to discuss how we might have random sampling made easier in R-Instat?

The essence is the **sample** command in R which we already have in **Prepare > Column: Reshape > Random subset.**

My problem was to sample first the villages out of 10.  This was either equally likely or probability proportional to size.  I took 4 as follows (in the script window - but could alternativel

[2018-11-12 05:48] rdstern commented on #4283
**Contour plots with irregular data:**
@jackykemboi I think you mentioned this problem. [Here seems to be a possible solution](https://stackoverflow.com/questions/19339296/plotting-contours-on-an-irregular-grid).

It could be nice if you are writing up your AMI work for the report, because it actually uses Rwanda rainfall too!

[2018-11-12 07:13] Patowhiz commented on #5097
I'm still struggling to understand how (c) will be more convenient. Generally, the purpose of the dialog is to create a new dataframe, I don't see the feature being so convenient on this dialog. Perhaps I'm missing something.

[2018-11-12 07:31] Patowhiz commented on #5097
About (a) I'm assuming there is no meaningful output that will be shown, the control will only help to check if the script generated results to an error?

[2018-11-12 08:47] Patowhiz commented on #5097
In regard to option (b) , I've added 2 wakefield commands;

1. wakefield::r_data_theme(n = 100, data_theme = "the_works")
2. wakefield::r_data_frame(n = 30, id, race, age, sex, hour, iq, height, died, Scoring = rnorm, Smoker = valid)

[2018-11-12 08:53] rdstern commented on #5097
On a) you are correct.  It could say: "Command(s) produced an error".
Otherwise it could just say Ok.  Ideally it might say "Commands produced a data frame" or even "Commands produced a data frame with xxx variables and yyy rows" - substitute for the xxx and yyy.

[2018-11-12 09:10] rdstern commented on #5097
On c) you may be right.  I'd be interested to get Danny's ideas too.
A recent example I ran was in #5100, namely:

villages <-sample(1:10,4,prob=c(20,10,8,30,11,24,18,21,6,12)/160)
sort(villages)

vill=rep(c(4,7,8,9),times=c(6,6,6,6))
v4 <- sample(30, 6)
v7 <- sample(18,6)
v8 <- sample(21,6)
v9 <- sample(6,6)
fld <- c(v4,v7,v8,v9)
data.frame(village=as.factor(vill),field=fld)

If you just have the

[2018-11-12 09:13] Patowhiz commented on #5097
I'd go for "Command(s) produced an error" and "Ok". But I'm flexible, @dannyparsons what's your suggestion on this.

[2018-11-12 09:15] rdstern commented on #5097
I'd be happy with that.

[2018-11-12 17:01] shadrackkibet commented on #5100
Good that this has been reported here. When doing my assignment i tried random sampling in R-Instat but i could't do it "**simply**" so i resorted back to doing it in R.

[2018-11-13 06:43] Muthenya commented on #5098
@dannyparsons what was the reason for not having the try in the current version?

[2018-11-13 07:32] rdstern opened #5104 "Making the pull-down work in the Model > General > Fit dialogue"
This dialogue has the facility to remember the previous functions used.  Just like the **Prepare > Column: Calculations > Calculate** dialogue.  But it is inactive.

It would be good if it could work.
Could it start with a default formula remembered - doesn't need to be visible, but ok if it is.  It contains simply (1).  This fits a null model.  It is sometimes a useful starting point.

At the sam

[2018-11-13 14:06] Muthenya commented on #5104
@rdstern is this what you had in mind?

![image](https://user-images.githubusercontent.com/32125033/48418494-79be5f80-e766-11e8-986f-0fa2041e0bd1.png)

[2018-11-13 14:18] rdstern commented on #5104
With the brackets round it.  But mainly that it stores the previous models that were used, i.e. that thr down-arrow in that field where you have the 1 should work.
If you look at the calculate dialogue and try 2+3.  Then 4+5.  Then come back to the dialogue and look at this, you will see it has stored those it used before in the session.  I ould like the same field in Model to do the same.  Hope t

[2018-11-13 14:30] Muthenya commented on #5104
Yes, that's what it does now. Let me add the brackets.

[2018-11-13 16:15] dannyparsons commented on #5097
That sounds ok. As in the Add Key dialog the text or textbox colour can be red/green for error/no error. Then its very clear.

[2018-11-13 16:18] dannyparsons commented on #5097
I am not very keen on c) since it means you've got the full power of the script window in the dialog then and could bring a new set of complications to consider.

I think if we had a good dialog for producing samples such as these then I hope this then wouldn't seem as necessary.

[2018-11-13 16:20] dannyparsons commented on #5098
Yes I don't think it was ever considered, so there was never a decision not to have it.

[2018-11-13 16:23] dannyparsons commented on #5104
I don't mind having `1` in the dropdown list, and you don't need brackets for it to work, but the textbox part should be blank by default.

[2018-11-14 06:51] Muthenya commented on #5098
Okay. @shadrackkibet had implemented this. I think what remains now will be to just test it. I can make the Try button and text box visible again.

[2018-11-14 07:11] rdstern commented on #5041
@Muthenya I have added you, not so you do this, but perhaps you could help one of the new team on this task.  It should be quick and easy.

[2018-11-17 11:47] rdstern opened #5109 "The summary tables dialogue"
**Describe the bug**
The option in the Describe > Specific > Summary tables to change the precision does not always work.

**To Reproduce**
This is possible to see with the library **survey** file from the Instat collection.  This can be the rds file or the one in the Intro guide.  The village and variety columns need to be factors.
Now use **Describe > Specific > Summary Tables**
Have Village and

[2018-11-17 16:45] rdstern opened #5110 "Another small problem in the Model > Genwral > Fit Model dialogue"
[Tomato.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/2592017/Tomato.xlsx)

I add some Tomato data to illustrate the problems - and because this would also be useful for our library.

The dialogue is generally working well.  The problem comes when you switch data frames.  It doesn't clear properly.

So I opened the survey data set from the library and fitted a model - any model.
T

[2018-11-19 08:15] MainaJohnO opened #5111 "Frequency table and graph options subdialog"The Total Column check box""
Using the inbuilt R data set namely CO2 from the package datasets.

From the Two Way Frequencies Dialog under the Climatic Menu. See attached filled dialog
two way frequencies dialog
![two way frequencies dialog](https://user-images.githubusercontent.com/32262789/48698159-6a706380-ebf7-11e8-9147-de9682d42818.PNG)

Using the options button, it takes me to the subdialog, under the table options we h

[2018-11-19 08:43] MainaJohnO commented on #5111
Using the inbuilt R data set namely CO2  from the package datasets.

From the Two Way Frequencies Dialog under the Climatic Menu. See attached filled dialog
![two way frequencies dialog](https://user-images.githubusercontent.com/32262789/48694926-c1256f80-ebee-11e8-8fd9-05ae05e2e025.PNG)
Using the options button, it takes me to the subdialog,  under the table options we have the Total Column check

[2018-11-19 09:22] Muthenya commented on #5110
@rdstern I have not been able to reproduce these bugs.

[2018-11-19 13:24] mmumbo opened #5112 "Make Date format description"
**Describe the bug**
On the make data diolog, under **Single Column**. The single column dialog is overlying the **Format Description**, so one dialog is hiding the other. I believe this could be fixed

**How it looks**

![image](https://user-images.githubusercontent.com/11607243/48704115-d4443980-ec06-11e8-8b74-606ed2115773.png)

**How it should look like**
![image](https://user-images.githubuser

[2018-11-19 13:35] mmumbo opened #5113 "Specifying Date Format"
**Describe the bug**
On the make date dialog, while trying to **Specify Format** for instance when you want to change from YY/MM/DD to DD/MM/YY it does not accept the format, is this the same from your side?

**The snapshot is shown below**
![image](https://user-images.githubusercontent.com/11607243/48710353-11b1c280-ec19-11e8-9b3a-025eb9a093d0.png)

[2018-11-21 01:04] fran2or opened #5115 "PICSA Crops Dialogue Does Not Work"
**Describe the bug**
I have been trying to use the PICSA crop dialogue to generate probabilities but this always freezes R-Instat after filling the receivers respectively. This happens  in all post R-Instat 0.4.20 versions I have used. The most recent one I have used and got the same issue was 0.4.25.
**To Reproduce**
Steps to reproduce the behaviour:
1. Follow the **climatic** menu >>**prepare**

[2018-11-21 01:34] fran2or opened #5116 "Working with the R Code Generated from the Start of the Rains Dialogue"
**Describe the bug**
I have been trying to work with the R Code generated form R-Instat and I thought I should bring the following to your attention:
i.) The rain_day sub-calculation needs to be assigned  to rain_day. It wasn't assigned to rain_day.

ii.) The result_name of dry spell period should be _dry_spell_period_ not _dry spell_ because it overrides the sub calculation _dry_spell_.

iii.) Ca

[2018-11-21 18:00] #5041 closed

[2018-11-21 18:06] dannyparsons commented on #5111
From discussion I thought it was determined that the checkbox on the subdialog was for the name of the Total column and not to include or exclude it. So I suggest next steps:

- Possibly rename the checkbox on the sub dialog to make it clearer that this is the name for the total column
- Check in the R function being used whether there is an option to include/exclude the total column and include i

[2018-11-21 18:07] dannyparsons commented on #5110
I think this might be caused only when you do things on the sub dialog like save the residuals or fitted values. So it could be a sub dialog linking issue.

[2018-11-21 18:10] dannyparsons commented on #5112
@africanmathsinitiative/developers this is easy to fix by bringing the format box on top, and should be done urgently since its quick and an annoying bug.

[2018-11-21 18:13] dannyparsons commented on #5113
The Specify Format is to specify the format of your text column so that R is able to know how to convert it to a Date. A Date column itself is then only displayed in a single format.
For the standard formats you don't need to specify the format but if your text column was `1-Jan-2018` you would have to specify a format `%d-%m-%Y`, but then the new Date column would look the same.

This should be m

[2018-11-21 18:21] dannyparsons commented on #5116
In the latest version 0.4.27 we have modified the start of rains code so that it deals correctly with missing values. This has also simplified the code to be shorter with correct assignment of functions. Please check when you update to the latest version to see if the output looks improved.

The names for the different calculation steps have not been discussed in detail so your view on these names

[2018-12-01 08:00] rdstern opened #5118 "Date control problem in climatic"
I occasionally get a developer error in the climatic commands when I press the button to change the start/end dates button that is on most of the dialogues, e.g. Climatic > Prepare > Start of the Rains.

When it occurs it gives 2 successive messages about invalid dates.  Then I get to the sub-dialogue and it works fine.  So it isn't stopping any work.

The error message comes twice and is with the

[2018-12-02 08:38] #4573 closed

[2018-12-02 08:46] rdstern opened #5119 "Climatic infill when the data frame has a filter?"
The infill is one of the few dialogues that changes existing columns.

I made a mistake recently, when I finished the analyses on one station (2 data frames) and then opened a second station in a new data frame.  (They were sufficiently different that I wanted to keep them apart for now.
The first data frame (station) had already been infilled.  It now had a filter applied.  I now wanted to infill

[2018-12-02 08:49] rdstern commented on #5015
I think this has now been addressed.  Can it be closed?

[2018-12-02 09:10] rdstern opened #5120 "Remaining minor issues with PICSA rainfall graphs"
These are broadly working well.

Remaining aspects to be addressed include:

a) The Median line doesn't seem to work.  When I look at the code it seems that some hasn't been changed from the Mean.  So it sort of works if you do Mean and Median together.  But it doesn't do the Median alone, because of the code for the mean.
b) On the Y-axis tab the Specify Lower and Upper limits always reset to be

[2018-12-05 11:31] rdstern commented on #5120
There is a larger task for the PICSA graphs and that is to add a rug plot to the x-axis to indicate the years when no start, etc was possible.  This is at least for the start, end and length.  This needs careful thought.  At this stage we either give it the thought, but, if not, then could we just have a rug plot tab so we show intent?

A second more tricky addition would be to add one or more "sp

[2018-12-05 14:19] lilyclements commented on #3711
Another package I have come across which is new and deals with missing data is `finalfit`.
It has some crossover in terms of functions as `naniar` and `visdat`.

For example
`vis_miss` in `visdat` is equivalent to `missing_plot` in `finalfit`, just flipped on the co-ordinates. (Although I prefer `vis_miss` aesthetically and in its parameters)

However there are some nice functions in `finalfit` th

[2018-12-05 15:57] lilyclements commented on #3711
So here's an example of something I have not found how to visualise in the `naniar` or `visdat` packages (although may be possible!) to quickly look at missingness

Using the `airquality` data:

`airquality %>%
  mutate(Month = factor(Month)) %>%
  missing_pairs(c("Ozone", "Solar.R", "Wind", "Month"))`

![image](https://user-images.githubusercontent.com/21180424/49524867-766d4e00-f8a4-11e8-9403-4a

[2018-12-10 14:22] rdstern opened #5121 "Add Statistical Problem Solving directory to the R-Instat library"
In the longer term we may need a re-think of the R-Instat library.
In the short term it would be useful to have some of the data sets in the R-Instat library for further AIMS courses to make more use the same problems as in our recent course in Cameroon.  And also for James in his course in Maseno.

One data set would be the R file for the survey that is sort of there already.  But change the name

[2018-12-11 07:53] #5112 closed

[2018-12-11 08:55] #5104 closed

[2018-12-11 10:36] #5036 closed

[2018-12-11 15:48] rdstern opened #5122 "Adding prediction as a command in the script window"
I give an example of the help I need.

Open the standard survey data set using open from library.

Use the Model > General > Fit Model, or Model > Model dialogues

Fit the lm model with Yield as the response variable and Fert + Variety as the model (say), if you are using General > Fit Model.  It is lm( yield ~ Fert + Variety) in the Model > Model dialogue.  In either case save the model as Fert_V

[2018-12-13 12:31] rdstern opened #5123 "Opening an rds file"
**Describe the bug**
I have saved a file - as an rds file.  It now will not let me open it again.  It gives me the following message:

**Error running R command(s)
Error in InstatDataObject$import_RDS(data_RDS = new_RDS) :
  Cannot import an objects of classDataBook,R6
The error occurred in attempting to run the following R command(s):
new_RDS <- readRDS(file="C:/Users/Roger Stern/Dropbox (SSD)/Ro

[2018-12-13 13:58] dannyparsons commented on #5118
I think this is caused when the month and day values are both changing and so after one is changed you can get an invalid date before the other is correctly updated. i.e. first month changes to April then before day is changed from 31 it has an invalid date. So I think we just need to prevent the checking until both have updated.

[2018-12-13 13:59] #5015 closed

[2018-12-13 15:16] dannyparsons commented on #5122
This is an example you can use, with specified values of `carat` and `cut`.
[code]
Here's another example using the original data, which is equivalent to our saving of fitted values:
[code]

The data frame that you pass to prediction as the second function must contain all the explanatory columns of the model, but can also contain others.

[2018-12-14 06:49] Muthenya opened #5124 "Small bug on Insert Columns/Rows Dialog"
**Describe the bug**
I've noticed that **Ok** is enabled eve when there is no data loaded. This is the case for both options, that is, **Insert Columns** and **Insert Rows**.

**Expected behaviour**
I think **Ok** should be enabled only when there is a data frame loaded, otherwise where will the inserting happen?

**Screenshots**
![image](https://user-images.githubusercontent.com/32125033/49987660

[2018-12-14 10:05] rdstern commented on #4254
There is a small task now, instead of the special duplicates for climatic.  We have duplicates in the Prepare > Check data menu.
Could there be a copy of this dialogue in the Climatic > Tidy and Examine menu.  It should go under Replace Values and before the horizontal line.

While there could you add the 2 one-variable summaries also to the bottom of the same menu.  The second is to be called **O

[2018-12-16 10:14] rdstern opened #5125 "Adding to the Model dialogue - 1 - existing keyboards"
From looking at the Prediction documentation I suggest our new Model > Model dialogue be extended by a) Adding missing keys to the existing keyboards
b) Adding new keyboards
Here is propose the first.  We may then have further issues for each new keyboard or a larger issue for a set of new keyboards.

There are various keys missing from the stats and the MASS keyboards.  They are as follows:
1. Fr

[2018-12-16 12:07] rdstern opened #5126 "Adding to the model dialogue - 2 - new keyboards"
From the prediction package, it copes with many more models than we have now, - or will have in the near future - in our "usual" dialogues.  I strongly suggest that adding more keyboards to the "halfway" Model > Model dialogue could be both interesting and also important.

We need to make a selection (of course), but much of relatively recent research has enabled a very wide collection of models t

[2018-12-17 11:29] rdstern opened #5127 "Adding to the model dialogue 3 - a predict dialogue"
I suggest this is important.  I indicate this through showing the "system" in Genstat.  I think we can do even better!
Here is the dialogue for fitting a model.  This is like our Model > General > Fit or Model > Model

![image](https://user-images.githubusercontent.com/11226469/50071862-227b3700-01cb-11e9-8ea9-af112b04a594.png)

Notice that Predict is not enabled.  I now run the model.  This is li

[2018-12-18 12:05] #5084 closed

[2019-01-10 07:37] maxwellfundi commented on #5078
I remember we had a small discussion on this and Metro framework was what seemed good at that time because it supports the controls we are using, its free unlike Telerik and all we needed to do was to use the metro framework controls and there would be very little or no change in the actual functionality of the code behind controls. However, it was not worth the investment of time given things wou

[2019-01-10 08:55] maxwellfundi commented on #5078
I think we will work closely with @jkmusyoka and see what the impression would be with his course. @jkmusyoka  when is this starting?

[2019-01-10 11:47] Ogik99 commented on #5125
@rdstern which exact method should we put in the functions?
The documentation for both the MASS and stats functions provide two methods (please see the link below for the ppr function as an example)
https://www.rdocumentation.org/packages/stats/versions/3.5.2/topics/ppr

[2019-01-12 18:01] rdstern commented on #5121
I am no longer sure about this directory.  Good to discuss.  But I use this thread to also consider the data sets used for illustration when we have help information on the dialogues.

So here is a list of suggestions.  It would be good to have some action for the next version, as they might be useful for James' Maseno course.  So I am suggesting John and Beryl consider and include Maxwell in the

[2019-01-17 05:47] shadrackkibet commented on #5127
I like this ideas, I was trying to obtain prediction intervals  using R-Instat but it was not possible(maybe). This is for modelling course at AIMS . I did the same thing in R and i was able to obtain my results.
` predict(fit1,data.frame(Gestation = 27),interval = 'predict')`.  The results i was trying to replicate are on page 17 of this lecture notes  [05_Saturday_Hypothesis_Testing.pdf](https:/

[2019-01-17 07:55] rdstern commented on #5127
And there is a package called **prediction**, that claims to make this all easier.  Can you get the prediction intervals (i.e. not the usual confidence intervals) just as easily with the **prediction** package?

[2019-01-17 08:34] Ogik99 commented on #5094
@rdstern  should we add the rugplots option on the PICSA dialogue as a check box perhaps?

[2019-01-17 08:42] Ogik99 commented on #5037
@maxwellfundi and @dannyparsons any thoughts on this

[2019-01-17 09:10] shadrackkibet opened #5128 "Layers options subdialog.(Height Numeric updown)"
**Is your feature request related to a problem? Please describe.**
In layer parameters(Geom Parameters) tab , Nud for height should allow input such as height = 0.01.

**Describe the solution you'd like**
change the decimal places for nud to increase by 0.01.

**Describe alternatives you've considered**
Using the script window i edited this and on running  i was able to obtain the plot i wanted.
A

[2019-01-17 12:08] maxwellfundi commented on #5037
@Ogik99  I will have to look up on this issue. The idea is great to have text on the graphs we produce. Will revert as soon as I know a little more about it

[2019-01-18 07:17] maxwellfundi commented on #5121
@MainaJohnO  Sounds good, as soon all these datasets are in order i can easily put them in the library. please create the folder and lets collaborate.
let me know when everything is done.

[2019-01-18 09:22] #5128 closed

[2019-01-18 09:23] maxwellfundi commented on #5128
One more thing @shadrackkibet, did you mean just for jitter or you have had these challenges with other Height parameters?

[2019-01-18 17:05] shadrackkibet commented on #5128
I was using jitterplot for this case.Thanks.

[2019-01-18 17:16] shadrackkibet commented on #5128
There is another issue with use graph dialog, Seems adding layers isn't working anymore in version 0.4.27. I  am going to write up as as separate issue when i find time.

[2019-01-21 07:47] maxwellfundi commented on #5037
I think we can easily add this feature to especially lineplots at the moment @Ogik99 for a start.

[2019-01-22 09:54] dannyparsons commented on #5057
@maxwellfundi My two suggestions above are good tasks for someone to do with your support who wants to get into understanding `ggplot2`. Can you coordinate this?

[2019-01-22 09:57] maxwellfundi commented on #5057
@dannyparsons  yeah we can do this together with @Ogik99

[2019-01-22 09:58] dannyparsons commented on #5123
I think you are trying to open a newer RDS file with an older version of R-Instat.
This is because new RDS files are now called `DataBook`s and not recognised by older versions of R-Instat.
Note that the reverse is not a problem, older RDS files will still open in newer versions of R-Instat and will be converted to `DataBook`s.

The first issue can be solved by updating the version of R-Instat - w

[2019-01-22 10:05] dannyparsons commented on #5124
Yes I agree, good spot.

[2019-01-22 10:09] dannyparsons commented on #5125
@Ogik99 Has this progressed? If so, please link the pull request to the issue so it can be accessed from here.

[2019-01-22 10:19] dannyparsons commented on #5084
@fran2or This is now fixed and will be available in the next released version.

[2019-01-22 11:12] dannyparsons commented on #5126
@lilyclements do these functions require a survival object as the input? If so that would need some thought as currently we're assuming a formula as the main specification.

This might be the same for the `survey` package where there is a `survey` object that many of the functions use.

[2019-01-22 11:39] maxwellfundi commented on #4896
@Wycklife  Could you please make these changes on the titles of these dialogs?

I have looked up and the correct word is **Shapefile** not Shape File.

I am also putting this for the next milestone so needs to be done soon.

[2019-01-22 11:46] maxwellfundi commented on #4577
@dannyparsons  was there any outcome on discussions on this? Are we likely to go to R 3.5.0 soon?

[2019-01-22 11:49] rdstern commented on #5126
I agree that items that need a special type of object are a new step and currently we are not that far in the functions in the keyboards.  I think there are quite a lot of survival "keys" that can be used.  Then the next step in this dialogue (or maybe it is another dialogue, because it is a sort of Use Model idea, is to be able to start with special objects.  This is for surveys, survival, extrem

[2019-01-22 12:11] lilyclements commented on #5126
@dannyparsons most require a survival object as the input:
* `survreg` "usually" requires the `Surv` object. I don't know of a case where it doesn't, but I know it does not have to
* `cox.zph` has its input as a `coxph` model as this is testing the assumptions for the model. This is more on the test side than the modelling side so not sure how appropriate it is here anyway.
* `clogit` doesn't use

[2019-01-22 12:16] maxwellfundi commented on #4759
@africanmathsinitiative/developers  except @Muthenya did anyone else got to reproduce this error?

[2019-01-23 08:36] dannyparsons commented on #5121
We can easily make these. There are four types of randomisation: with/without replacement, complete block/rep. Should we have one of each? That means 4 times the number of data sets which gets quite a lot. Or a mixture or all the same type of randomisation? Same question for the 24 obs, it that one design or multiple?

[2019-01-23 08:54] rdstern commented on #5121
We don't want too many as these will be primarily to discuss analyses, rather than sampling.  And the different sampling schemes don't matter so much with the larger sample size.  I'll check with David, but I suggest perhaps one of each with the 24, choosing ones that clearly show the differences.  Then just one - without replacement for one sample.  Then perhaps 4 with 10 cases - (instead of 5) a

[2019-01-24 17:19] #5124 closed

[2019-01-24 17:20] #5098 closed

[2019-01-25 08:30] dannyparsons commented on #4915
I believe the bug of non numeric IDs is now fixed. @maxwellfundi can you confirm?

[2019-01-25 08:32] dannyparsons commented on #5018
@Muthenya @rdstern I think all the main points here have been resolved. Is that correct?

[2019-01-25 08:39] dannyparsons commented on #4974
Here is a solution to this https://stackoverflow.com/a/52309820/6424231

The code is:
[code]

So we can just add another item to the "Origin" combo box for "Julian Day Number" and use this code in that case.

I've assigned to @Wycklife. Check with @maxwellfundi if you need support.

[2019-01-25 08:51] Muthenya commented on #5018
Yes, they have

[2019-01-25 09:07] dannyparsons commented on #5035
@africanmathsinitiative/developers here is another task to be taken up. The suggested is a checkbox on the climatic summaries dialog which produces another summary. This should only be visible when the Annual or Annual + Within buttons are selected.

There still needs to be a discussion on the implementation of the code - someone could start by making the design changes @africanmathsinitiative/dev

[2019-01-25 09:13] maxwellfundi commented on #4915
I dont  seem to remember if  this was actually fixed and i think if it was then there would be a reference to the PR that fixed it.
Looking at the dialog, there are a couple of things that needed to be done that still are pending including

- [ ] Changing the start date and end date to date pickers

- [ ] Adding the "Unstack Data"  check box like @rdstern  would like.

[2019-01-25 09:14] dannyparsons commented on #4347
Adding the keyboard to the calculator could be taken up @Ivanluv @Wycklife @africanmathsinitiative/developers  from Roger's comment https://github.com/africanmathsinitiative/R-Instat/issues/4347#issuecomment-355746807

[2019-01-25 09:14] dannyparsons commented on #5035
Either for @Wycklife or @Ivanluv

[2019-01-25 09:17] dannyparsons commented on #4283
I'm closing this now as the main task of creating the dialog is complete.

[2019-01-25 09:17] #4283 closed

[2019-01-25 09:20] dannyparsons opened #5134 "Label points on climatic map dialog"
From Roger:

So adding the option to label the stations with their name - or any column should be a simple addition.

@maxwellfundi @Muthenya You might want to look into this and support @Ivanluv or @Wycklife to do this - or it could be taken up by @Ogik99 when she gets back.

[2019-01-25 09:41] dannyparsons opened #5136 "Renaming a data frame and only changing the case"
**Describe the bug**
If you try rename and data frame and only change the case e.g. "Dodoma" to "dodoma" you get an error:

![image](https://user-images.githubusercontent.com/11214914/51737657-348ba780-209e-11e9-8f20-c353f553a160.png)

This looks like an error from reogrid where it does not distinguish between sheet names that only differ by case.

**Details (optional):**
 - R-Instat Version 0.4.2

[2019-01-25 09:45] maxwellfundi commented on #4915
@Ivanluv  Could you start with the addition of the checkbox and changing the input textboxes to date pickers.

[2019-01-25 14:01] dannyparsons commented on #5008
@africanmathsinitiative/developers someone could go through all dialogs with links to subdialogs and make changes to have consistency.
I think most of our buttons should **not** have `...` from the explanation above.

Maybe "Function..." should keep the `...`? This might be rare enough that we remove it for this case too.

[2019-01-25 14:04] dannyparsons commented on #5010
This is done on Mosaic Plots but not Bar Chart. This would be a good task for @africanmathsinitiative/developers. The implementation should be very similar to what is already there for Mosaic Plots which is a checkbox also with an nud.

[2019-01-25 14:07] dannyparsons commented on #5044
These should all be now fixed.

[2019-01-25 14:07] #5044 closed

[2019-01-25 14:13] dannyparsons commented on #5079
This should now be fixed for start of rains

[2019-01-25 14:13] #5079 closed

[2019-01-28 07:02] Muthenya commented on #5035
This is from Roger's initial comment. Should the Omit Missing Values Checkbox be removed?

[2019-01-30 06:10] Ivanluv commented on #5010
@rdstern would this be needed for boxplots too?

[2019-01-30 08:18] maxwellfundi commented on #5057
@rdstern I now have this design for the cumulative distribution. I have one question here, the `from, to, by ` are for the cummulative plot and I was wondering if would you like also to be able to change the values of the sequence in the `scale_y_reverse(breaks=seq(1,0,-0.25), labels = seq(0,1,0.25))`

![image](https://user-images.githubusercontent.com/9798689/51967603-d0dbf280-2480-11e9-9d19-a768

[2019-01-30 08:41] rdstern commented on #5010
It would also be useful for boxplots.

But @dannyparsons and @maxwellfundi what has happened to the idea of having some of the common options on themes on the main themes tab?  I am happy that this could be so common an option for the  bar charts and mosaic plots that it goes on the main dialogue.  In general I was happy that (for other graphs) this could be on the main themes tab.

[2019-01-30 08:55] maxwellfundi commented on #5057
@rdstern  From this conversation, @dannyparsons  suggested these changes as the ones we can actually do now.

[2019-01-30 09:20] rdstern commented on #5057
I am still thin king about this same bug of the scale always reverting to discrete and 0.25.
In checking the approach you have taken, it would be good to try some examples.  One is from Instat data sets > Climatic > Climatic Guide Datasets > samrain.  Then almost any columns can be used, e.g. strt1 for a single column or strt1 and end for multiple, etc.

You will find that the limits of the y-axis

[2019-01-30 21:13] rdstern commented on #5096
I gather the latest version will be used in mid-February in West Africa, - in French.
It would be good if a start could be made on some of the ideas above.  I have included Maxwell so he could plan this activity?
1. I notice also that the right-click menus are not translated.
2. The routine job is for the controls to be the appropriate size.
3. As mentioned above, when finding a control is not wid

[2019-01-31 09:01] rdstern commented on #5096
I have looked at a few more dialogues:
1.) In the dialogue of Column: Reshape > Column Summaries we see:
a) On the lhs the controls are all check boxes - so not translated.  I hope this can be resolved when Danny is back?
b) On rhs it just says Des.  That is going to be Proportion/Pourcentiles.  Let's shorten to Propn and omit Des.
c) The sub-dialogue is practically all check-boxes so isn't transl

[2019-02-03 18:04] dannyparsons commented on #5096
@africanmathsinitiative/developers please let's begin some of these tasks. Particularly the tasks of checking the size of controls in French for common dialogs like Filter and others. This is really important for the workshops in French in one weeks time.

[2019-02-04 06:10] Ogik99 commented on #4807
@maxwellfundi, @dannyparsons  any updates on this

[2019-02-05 08:01] dannyparsons commented on #4807
The issue on ggplot2's repo was closed so I'm not sure if anything was done. Someone could check with the latest version of ggplot2 what happens with `ggplot(mtcars, aes(y = disp)) + geom_boxplot()` now.

[2019-02-05 13:06] Ogik99 commented on #4807
The scale on the x axis still exists.

[2019-02-05 14:21] #4811 closed

[2019-02-06 06:16] dannyparsons opened #5146 "New dialog: Graph GUI (ggplotgui)"
There is a new package ggplotgui which has a nice interface for constructing graphs including getting the equivalent R code https://cran.r-project.org/web/packages/ggplotgui/README.html

This will be a very simple dialog to add as it just needs to run `ggplotgui::ggplot_shiny(df)` to launch the gui.

It could go towards the bottom of the Describe menu as `Graph GUI`.

@maxwellfundi please assign t

[2019-02-06 06:54] Ogik99 commented on #4804
geom_sf was already added. This issue can be closed @maxwellfundi

[2019-02-06 06:54] maxwellfundi commented on #5146
@Ivanluv  I strongly suggest that you work together with @Ogik99 on this dialog to get an idea of how these dialogs really works.

[2019-02-06 06:57] #4804 closed

[2019-02-06 06:59] dannyparsons opened #5147 "New `position_dodge2` for ggplot"
A comment from [this closed issue](https://github.com/africanmathsinitiative/R-Instat/issues/4804) that has not yet been addressed.

It may not need any action for boxplot but it might require general changes somewhere.

[2019-02-06 08:36] dannyparsons commented on #5096
This shouldn't be closed by a single pull request. @Ogik99 its good you linked to this issue but you could have something like "related to #5096" so that it doesn't close the issue when your pull request is merged.

[2019-02-06 08:57] Muthenya opened #5150 "Bug when clicking the Lan button in some dialogs"
**Describe the bug**
This follows from the French translation issue. I take two dialogs for example, the Calculator and Transform Text.

**To Reproduce**
For the **Prepare > Column Calculate > Calculator**, when you have changed the Keyboard say from **Basic** to **Maths**, then you click the **Lan** button the added keyboard to the right is "cut"**Expected behaviour**
A clear and concise descript

[2019-02-06 09:53] dannyparsons opened #5151 "Filter Dialog Layout"
The filter dialog now looks a bit strange. Can I suggest the filter preview box has its width reduced so the dialog doesn't need to be extended. But then make it a multi line textbox so more is visible. The label could then be moved up closer the group box.

![image](https://user-images.githubusercontent.com/11214914/52333337-0ac37080-2a0e-11e9-85bc-d5e4262961e0.png)

[2019-02-06 10:27] rdstern commented on #5151
Agreed.  It is usually relatively short anyway, so even making it multi-line is a luxury.  But great if it is easy.

[2019-02-06 13:21] rdstern commented on #1908
It would be good - for an odd reason - if this could be completed and reported on (documented) by mid-March if it is not completed for this deadline.
The reason is that the CLIMSOFT meeting will discuss simplifying the installation process (of CLIMSOFT).  Currently a special wind rose programme is installed.  I believe that the wind roses in R-Instat are an improvement and it would be good to have

[2019-02-07 07:25] dannyparsons opened #5154 "Translation: Lan button overlaps on some dialogs"
@rdstern which dialogs did you notice this on?

[2019-02-07 07:26] dannyparsons opened #5155 "Translation: check boxes do not translate"
This is because text for our custom control checkbox control is set at run time so text does not get added to resource file.

[2019-02-07 07:28] dannyparsons opened #5156 "Translations: Main Windows are not translated"
The main windows e.g. data view, output window do not have text or right click menus translated. Probably they just need to be set as localisable.
@maxwellfundi can you check this?

[2019-02-07 07:50] dannyparsons opened #5158 "Header in General Summaries dialog does not translate (French)"

[2019-02-07 07:53] dannyparsons opened #5159 "'New Data Frame Name' text does not translate on dialogs"
@rdstern is this the case on all dialogs? It is part of a user control so its possible.

[2019-02-07 07:54] dannyparsons commented on #5096
I have made the translation suggestions in the file.

@Muthenya can you confirm if all the size changes suggested by Roger have been done.

If so I will close this as other points have been moved to new issues.

[2019-02-07 08:10] Muthenya commented on #5096
I'm on it.

[2019-02-07 08:14] dannyparsons commented on #5146
Just the designer has been done so this shouldn't be closed yet.

[2019-02-07 08:27] rdstern commented on #5154
I can't find it much now.  I have only checked (so far) when going into a dialogue, not after returning, etc.  The only one with a slight issue I found now is Model > Model.

Maybe it has gone away.

[2019-02-07 08:29] dannyparsons commented on #5151
@Ivanluv @Wycklife @Muthenya could someone who is free take this up?

[2019-02-07 08:48] dannyparsons opened #5161 "Temporary switching between languages"
From @rdstern here: https://github.com/africanmathsinitiative/R-Instat-Translations/issues/3

[2019-02-07 08:55] dannyparsons commented on #5161
I can see the usefulness of this but with an option like these we're then really confusing which language the software is "in". If the menus are now in English I think users will forgot its still really in French and not go to the Options dialog to change it properly.

Unless I've misunderstood your suggestion? I do think we could have a shortcut to changing the language somewhere in Tools or the

[2019-02-07 11:15] Muthenya commented on #5151
There is a control between the label and the group box, that is, the  ucrSave for when you pick the **Apply as subset option**. Will the length of the preview textbox need to be increased since it is now multi-line like below or can it remain as it was before?

![image](https://user-images.githubusercontent.com/32125033/52407805-4cbde680-2ae2-11e9-8f8b-5f70c45cc804.png)

[2019-02-07 11:25] rdstern commented on #5159
No.  Most of the headers seem to be translated.

And now I find that in the File menu, the New data frame is now translated.  But Open Data frame, and Open from Library (i.e. the next 2) are not!

[2019-02-07 11:46] dannyparsons commented on #5151
This looks good in your image.

[2019-02-07 11:48] dannyparsons commented on #5159
Are you talking about the dialog headers?
I was meaning the label in places like the Stack dialogs where there is a "New Data Frame Name" label for the output that you mentioned is not translated.

[2019-02-07 12:01] #5151 closed

[2019-02-07 12:07] rdstern commented on #5159
Oh yes, there are 2 different things.  Perhaps they should be on separate issues.

[2019-02-07 12:37] dannyparsons commented on #5159
I made one from your comment that General Summaries header was not translated https://github.com/africanmathsinitiative/R-Instat/issues/5158
But it might be more general than that.

[2019-02-07 12:49] Ogik99 commented on #5147
We could add "position_dodge2" to histogram and bar charts. This is the information am getting from the link below:
https://ggplot2.tidyverse.org/reference/position_dodge.html

[2019-02-07 13:39] maxwellfundi opened #5165 "Packages to add"
devtools
ggplotgui

[2019-02-07 13:40] dannyparsons commented on #5147
Yes good idea, we can have `position = "dodge2"` as an option for those geoms that accept it.

[2019-02-07 15:16] dannyparsons commented on #5165
devtools is an existing package. You can check in the R setup file to see current packages before suggesting them.

[2019-02-08 06:16] dannyparsons commented on #5165
I suggest we don't update packages for this version since `ggplotgui` will not be needed and we should have time to test package changes when we update. Let's do this soon after this version before the next.

[2019-02-08 06:17] dannyparsons commented on #5096
@Muthenya are these ok now?

[2019-02-08 06:21] maxwellfundi commented on #5165
@dannyparsons  Sounds good. Thank you.

[2019-02-08 07:46] Muthenya commented on #5096
There are some more edits I made on the dialogs we had worked on previously. This needs review and it can then be merged. I just need to confirm with you @dannyparsons whether you  made changes on the translations for the Stack dialog.

[2019-02-08 07:59] dannyparsons commented on #5096
yes I've updated the translation file for the Stack dialog changes, so just designer changes are needed now.

[2019-02-08 08:24] Muthenya commented on #5096
Okay. This is ready.

[2019-02-08 09:00] Wycklife commented on #5035
@dannyparsons I have already added  the Add date column check  to the climatic summary dialog, and made it visible for annual+within only. I'm awaiting for further discussion on this.

[2019-02-08 09:23] Muthenya opened #5168 "Bug on the Prepare > Column: General > Enter Dialog buttons when translated to French"
**Describe the bug**
The following are bugs when the Enter dialog is in French:

1. Only the closing brackets for both the usual and square brackets appear.
2. The font for the buttons `Rep`, `Seq `and `SEQ2 `are not consistent. All should be in lower case.
3. The  `c()` appears as `(c)`. Which is not right.
4. I'm not certain on the translations of `Lun-` and  `mon+`. Are these correct for month

[2019-02-08 12:07] dannyparsons commented on #5168
Thanks. This is probably a machine translation problem then and could be corrected in the translation file.

[2019-02-09 11:06] rdstern commented on #5155
So do we have to add it manually to the resource file?  If so, then do we have to check and potentially change the resource file every time we edit text on a checkbox?

[2019-02-09 11:14] rdstern commented on #5161
My reasoning was simply that I found in French, some text in a dialogue was not clear - so I found it very useful to be able to look at the English equivalent.  I think many users will find that to be a useful feature in the dialogue.

It is the same in the menus.  If I am working in French, (and don't understand a menu item) then I might want quickly to see what it is in the base language, i.e. E

[2019-02-09 11:59] dannyparsons commented on #5155
I think what we can do is set the checkbox text in the resource file only, and then modify the code so that it picks the text from the resource file. This would mean only having the text in the resource file so avoiding inconsistency issues. I still need to check how exactly to implement this approach first.

[2019-02-09 12:04] dannyparsons commented on #5161
If you are mainly doing it for one item at a time then how about showing the English on a tooltip or by right clicking or by pressing/holding down a certain key (not sure if that's possible)?

[2019-02-09 12:14] Muthenya opened #5172 "Adding an option to omit the risks from the start in Climatic > PICSA > Crops dialogue"
**Is your feature request related to a problem? Please describe.**
 This follows Roger’s suggestion and discussions with Danny on the PICSA Crop dialog definitions.

**Describe the solution you'd like**
1. - First is adding a checkbox to make Planting Day(s) optional. Default (to be discussed).
2. - Second is a suggestion to make the other two definitions optional as well by adding two checkboxes

[2019-02-09 12:20] dannyparsons commented on #5172
@rdstern we discussed whether it could be useful for each condition to be optional. Maybe not for the current use in PICSA but in general it might be with this data?

[2019-02-12 05:04] shadrackkibet opened #5175 "Correlogram in R-Instat."
**Is your feature request related to a problem? Please describe.**
 `ar(),arima()` functions are used in to model time series data. I tried doing time series analysis using R-Instat .I was happy to find this two functions in modelling menu(Modelling dialog). Perhaps this could be made easier in future, by having individual dialogs?. One thing that is missing in R-Instat is  **Correlogram**. This

[2019-02-12 07:12] rdstern commented on #5013
Thanks for the reminder.  In the temperature QC all the other options are possible with just a single element.  Hence, as suggested at the top of this thread, the logical (and clear, clean) solution is for the difference option to be disabled if only one temperature element is included.

The solution above, of keeping the difference checkbox enabled, but not allowing OK remains alright for now tho

[2019-02-12 07:25] maxwellfundi commented on #4252
This has already been done. Closing this now

[2019-02-12 07:25] #4252 closed

[2019-02-12 07:29] maxwellfundi commented on #5096
Closing this one too and incase something about translations is raised it can go to a new issue.

[2019-02-12 07:29] #5096 closed

[2019-02-12 07:33] maxwellfundi commented on #5121
@ZIRANA11 @MainaJohnO please let me know when your folder is ready  with all the datasets needed for this directory. Its needed for the next release.

[2019-02-12 07:41] maxwellfundi commented on #5120
@dannyparsons  I hope you will have a chance to have a look a this.

[2019-02-12 08:22] Ogik99 commented on #1504
What is the status of this issue?
@africanmathsinitiative/r-instat

[2019-02-12 08:24] Ogik99 commented on #1682
@maxwellfundi , @dannyparsons  did you finally conclude on this

[2019-02-12 08:30] Ogik99 commented on #1789
@dannyparsons  can i pick up this issue

[2019-02-12 11:12] Muthenya commented on #4892
@dannyparsons what's your take on this?

[2019-02-12 11:16] Muthenya commented on #4743
I feel this is sensible enough. Are there still discussions on this?

[2019-02-12 11:29] Muthenya commented on #4987
Is this still awaiting further discussion?

[2019-02-12 11:39] Ivanluv commented on #4820
I haven't been able to replicate the bug .

[2019-02-12 12:06] Wycklife commented on #5035
I'm asking whether the code implementation for this issue has been discussed.

[2019-02-12 12:14] Muthenya commented on #5111
@MainaJohnO just a small correction. This should be the **Describe** menu and not the Climatic.

[2019-02-12 15:15] MainaJohnO commented on #5121
Hello Maxwell,

The data sets needed for the next release are ready and accessible in the
drop box folder I shared with you namely *R-Instat Library Copy*

On Tue, Feb 12, 2019 at 10:33 AM Maxwell Fundi <notifications@github.com>
wrote:

[2019-02-13 09:59] rdstern commented on #5175
You raise an example of a general problem here.  The model dialogue currently starts with a dataset and then produces an object, plus some results.  The next dialogue we need (or addition to this dialogue, is to be able to start with these objects and then produce further results.

I think it is another "halfway" dialogue to start with, and just below the current model dialogue.  Then later, we ta

[2019-02-13 11:50] dannyparsons commented on #5065
@maxwellfundi any update on this?

[2019-02-13 11:51] dannyparsons commented on #4896
@Wycklife was this change made?

[2019-02-13 12:17] Ivanluv commented on #5111
Unable to find a way to exclude the total column. @maxwellfundi I need guidance with this

[2019-02-13 17:31] #4955 closed

[2019-02-13 17:40] dannyparsons commented on #5120
We have labelled this to a new milestone for when its needed.

[2019-02-13 17:45] dannyparsons commented on #1504
There is still work to do on this for the remaining issues which will require some more discussion first.

[2019-02-13 18:08] dannyparsons commented on #1789
Yes this would be a great piece of work to get done. Although it is not a small task!

The first step is to design the tab for the sub dialog that will correspond to the `scale_x_discrete` function. Currently the continuous option (`scale_x_continuous`) has been done - if you go to Plot Options > X-Axis > choose "Continuous".
So we need a design of the controls for the "Discrete" option which will

[2019-02-13 18:11] dannyparsons commented on #4892
Yes, `Replace` and `Replace All` could have a multiple receiver. There should then be an option (radio buttons) of either replacing the original columns, or providing a prefix for the new columns.

[2019-02-13 18:14] dannyparsons commented on #4743
If there's further comments we can reopen but I'll close it now.

[2019-02-13 18:14] #4743 closed

[2019-02-13 18:18] dannyparsons commented on #4987
My opinion would be to not have it on the right click menu. While it's an important dialog, I would think you usually only reorder the levels once and keep that order once you're happy with it.
I think the right click should be reserved for dialogs that you might use multiple times, like convert. Once you've gone to reorder from the menu once, its in the last dialog shortcut if you need to use it

[2019-02-13 18:20] dannyparsons commented on #4820
Thank @Ivanluv. @lilyclements lets look at this this week.

[2019-02-13 18:23] dannyparsons commented on #5035
It's still not clear to me how we'll do the R code for this. Maybe it would be good to get your pull request merged with the checkbox disabled while the R code is not there.

[2019-02-13 18:27] dannyparsons commented on #5121
Thanks @MainaJohnO. The structure need to be reviewed and the datasets need to be checked that they conform to the style guide before going in. I can do this with @rdstern but welcome others to check too.

[2019-02-13 18:31] dannyparsons commented on #5175
I would call this our general "Use Model" dialog with keyboards to manipulate created models.
The range of possible functions might be bigger but we could group them sensibly.

[2019-02-13 18:35] dannyparsons commented on #5111
@Ivanluv did you look at the documentation for the R function `sjPlot::sjtab`?
This option may not exist at all, and then all we can do is raise it as an issue to the author of the function.

As well as that my first point should be done:

[2019-02-13 18:46] Muthenya commented on #4987
I agree @dannyparsons.

[2019-02-13 19:20] #4987 closed

[2019-02-13 19:43] rdstern commented on #5172
Yes, happy to allow any of the three to be ignored, though ignoring the start is by far the most important.  This is because you may want to calculate the risk as you get starting rains and hence are ready to plant.  One can make arguments to ignore the rainfall total (e.g. would a crop needing much less water change the risk very much), but it is not so important.

The next big change in this dia

[2019-02-14 06:20] Ivanluv commented on #5111
@dannyparsons I did look at the Documentation but found no option .Alternatively am renaming the checkbox

[2019-02-14 09:13] dannyparsons commented on #5111
I couldn't either, it probably doesn't exist.

[2019-02-14 22:05] Muthenya commented on #4892
Okay. @dannyparsons do you have an idea of how the dialog should appear now?

[2019-02-15 08:45] dannyparsons commented on #4892
Multiple receiver, then instead of "new column name" two radio buttons for replace columns or new columns and if new columns a text box for the prefix for the new columns.

[2019-02-15 09:54] Wycklife opened #5179 "Inconsistency of menu naming for some dialogs"
**Is your feature request related to a problem? Please describe.**
In some of the dialogs, the naming begins with menu item unlike others where the menu item name appear last as shown below:
ExportDataSetToolStripMenuItem.

**Describe the solution you'd like**
I suggest all the names begin with menu item for all the dialogs for consistency. As shown below
mnuPrepareDataFrame.

[2019-02-15 10:01] dannyparsons commented on #5179
I agree the consistent naming is better programming practice.
I've labelled it as an ANYTIME task as it should be done but I wouldn't put it as very high priority above other current tasks.

[2019-02-15 15:03] #4820 closed

[2019-02-16 13:37] dannyparsons opened #5182 "File types that require extra packages to import"
See the table here from `rio` https://github.com/leeper/rio on the packages that are installed by default. Many are not, such as `readODS`, which means you get an error trying to import `.ods` with `rio` until you install the `readODS` package yourself. This is to keep the `rio` package itself fairly small.

So we need to decide what we do with these formats for R-Instat. For each of the extra for

[2019-02-16 14:45] dannyparsons opened #5184 "Add group to Line Plot main dialog"
On the line plot dialog we set the `group` aesthetic automatically sometimes - when the x axis is a factor otherwise you don't get a line. It also then relates to what is set for the colour aesthetic.

This works fine for many graphs, but if you then want to override the `group` aesthetic to get different lines by another variable by going to the subdialog, when you return it can still get reset b

[2019-02-16 16:10] rdstern opened #5185 "NetCDF gives an error on import on using the Options first"
This is an almost bug, plus an inconvenience.

a) You can currently open a file, then go to Options and change the options to point, or points.  They are initially blank.  With them still blank you can press ok and it doesn't know what to do, so it gives an error message.

My simple solution is to disable OK when they are not filled in.

b) In the same Options sub-dialogue there is X and Y.  Now X

[2019-02-16 19:07] rdstern commented on #5182
I agree with a for ods files.  We needed them for the AIMS teaching.
I also notice that rio, in importing files a=can also read (and write) zip files.  This seems very interesting as a way of being able to read multiple files of a particular type.

I hope the open of multiple files and zip files does not affect the single sheets/files that we have now.  I realise this might be easy to have as opti

[2019-02-16 22:51] #5125 closed

[2019-02-17 11:40] #5185 closed

[2019-02-17 11:43] dannyparsons commented on #5185
The X and Y are actually supposed to display as they are labelled in the NETcdf file, which is sometimes x/lon/X/long etc. - although I realised that wasn't working in checking this and it was fixed as X! So that is now fixed and I also added the condition to display (lon)/(lat) as well when the labels in the file are just x/y.

[2019-02-17 13:13] maxwellfundi commented on #5065
So i have been looking at this today and it appears there has been some issue with running the vs executable as admin. Am not sure exactly how to add to the menu on the desktop at the moment but one of the solutions would be to have R-Instat run as an admin always. Would this be desirable?

[2019-02-17 13:17] dannyparsons commented on #5065
No we definitely don't want it always running as admin as non admins should be able to run it.
Do you have some links for what you found out so that we understand it?

[2019-02-17 17:12] dannyparsons commented on #5184
@maxwellfundi Wycklife has asked for more tasks so I've assigned this to him as well. Yvonne might still want to be involved and could be done jointly.

[2019-02-17 19:14] dannyparsons commented on #5182
`readODS` is now added.

I think probably doing c) for the remaining types would be a good at least for now. That's much better than getting giving the error that you currently get.

[2019-02-18 12:21] dannyparsons opened #5190 "Import data - preview multiple sheets"
We now have importing of multiple sheets from Excel.
The data frame preview of the import dialog needs to be updated to preview all the sheets being imported. This can be done with the grid as we just use multiple tabs.

The exact same thing will be needed for when we import multiple files, so this should be considered when implementing.

[2019-02-18 12:22] dannyparsons commented on #5190
The preview will also help to identify sheets that won't import, instead of giving an error when running.

[2019-02-19 12:46] Muthenya commented on #5010
I've noticed that the default value for the angle in the plots subdialog is 10 degrees. Could we make them equal such that both the values in the nuds are 90 degrees, or is there a reason for the 10?

[2019-02-19 14:16] Patowhiz commented on #1504
@dannyparsons though not included in our recent milestone we could discuss more on this if it's included in the next milestone

[2019-02-19 14:21] Patowhiz commented on #5146
@Ogik99 Could you please share the design for this dialog

[2019-02-19 14:24] dannyparsons commented on #1504
I think what we really want to solve this and not slow down dialogs by having a lot of interaction with R is to store column metadata in the front end and use this as a central checking point.
That requires quite a bit of restructuring of core code which is probably why its not been addressed sooner.

[2019-02-19 14:26] #4896 closed

[2019-02-19 18:36] dannyparsons commented on #5172
There was some confusion on my part about what change was needed here. From discussing again I'm afraid we need to go back to how the dialog was before - so not checkboxes for the definition options.

For planting day, when you make the planting day condition optional, you still provide planting day(s), the only change is that it does not check the condition of start day before planting day - but

[2019-02-19 18:51] rdstern commented on #5172
No the planting date is not used for the length, nor the total calculation.  Take a 90 day crop and calculation of risks for 3 planting dates 1st 11th and 21st April.  For the 1st April you calculate the total precipitation from 1 April (day 92) to day 182, i.e. 90 days.  And the end risk is just whether it is before day 182.  For the 11th April you simply move your calculation on 10 days, i.e. to

[2019-02-19 19:13] dannyparsons commented on #5172
Maybe I have misunderstood then. Here are how the current conditions are implemented in the dialog.

**Definitions:**
`start_day`: start of the rains as calculated from start of rains dialog
`end_day`: end of rains/season as calculated from end of rains/season dialog
`planting_day`: possible planting day as defined in the crops dialog
`planting_length`: length of crop as defined in the crops dialo

[2019-02-19 21:50] fran2or commented on #5172
Yes - Danny , this is correct.

[2019-02-20 04:04] Muthenya commented on #5172
@dannyparsons what's the way forward now?

[2019-02-20 06:20] maxwellfundi commented on #5065
@dannyparsons  This was from a video I watched about this issue and I will find it and share. Meanwhile there is also a stackoverflow thread on something similar- https://stackoverflow.com/questions/6652486/how-to-set-run-as-administrator-flag-on-shortcut-created-by-msi-installer

It seems that there are some edits we will need to do to our desktop shortcut which is not very clear to me yet but am

[2019-02-20 07:02] maxwellfundi commented on #1908
Am now on this today 💯

[2019-02-20 07:23] maxwellfundi commented on #1908
I have found that the colour palletes have the following options

**sequential**,-  `Blues BuGn BuPu GnBu Greens Greys Oranges OrRd PuBu PuBuGn PuRd Purples RdPu Reds YlGn YlGnBu YlOrBr YlOrRd`

**diverging**- `BrBG PiYG PRGn PuOr RdBu RdGy RdYlBu RdYlGn Spectral`

 **qualitative**- `Accent 8 Dark2 8 Paired 12 Pastel1 9 Pastel2 8 Set1 9 Set2 8 Set3 12`

I feel these options are too many and I am s

[2019-02-20 07:44] maxwellfundi commented on #1908
@rdstern @dannyparsons  because the titles for this plot are the same as those we currently have for the general plots, could maybe have a button that says `Add Titles` on the main dialog and then have it just open the sdgPlots but just the titles tab with others disabled? I am thinking of  not repeating code aspect here.

Else I could just get those controls on the subdialog, or main dialog and s

[2019-02-20 10:12] rdstern commented on #5172
That is correct.  Just also to check that rain_total_actual is the total from (planting_day to planting_day+planting_length)

[2019-02-20 10:19] maxwellfundi commented on #5057
@dannyparsons I am not certain that I will have this done by tomorrow....

[2019-02-20 10:26] rdstern commented on #1908
Hi @maxwellfundi.  I hope my description of what could be done, above - on October 11th is an answer to the question on palletes.  We currently don't have them at all in our graphics, which is a big omission generally.  This is the first example, so it would be interesting (and perhaps worthwhile) to consider having them all.  Then we have an example, at least of the range of palletes if ever we n

[2019-02-20 11:15] dannyparsons commented on #5065
I notice that the .exe in Program Files does have the Run as Administrator option as in your second link. It seems strange that its not simple or automatic for the shortcut.
I think the suggestion in the link is not what we want as that is just requiring it to run at the highest access level, whereas we just want the option to run as admin.

@isedwards Have you had any experience in trying to do t

[2019-02-20 11:21] dannyparsons commented on #5172
Yes, that's correct.

[2019-02-20 11:23] dannyparsons commented on #5172
Ok so now, when we uncheck "Require start day before planting day" we just do exactly the same thing expect we don't check condition 1.
But the `planting_day` is still used for conditions 2. and 3. Is that also correct?

@Muthenya let's just get this cleared up before you proceed.

[2019-02-20 11:28] dannyparsons commented on #1908
I agree, its easier to start by adding them all in, otherwise we have to decide which ones to use.
We can get user feedback about which ones are common and whether there are too many for them once implemented.

But I do agree in general that this list could be overwhelming to users if they are not at least categorised, so it was a good point to bring up.

For titles, I don't mind either way. It de

[2019-02-20 11:29] dannyparsons commented on #5057
Ok thanks for informing. I think concentrate on your other tasks for now and update again by the end of today. Then we can decide what to do.

[2019-02-20 12:12] maxwellfundi commented on #1908
@dannyparsons  As we saw in Rwanda with @Muthenya  and @rdstern  the met people were impressed by the windrose already but wanted titles as every graph like this needs a title. So I actually think the titles are very important.

As on of now i have added all the options for the colors, just getting them to work with the dialog.

[2019-02-20 12:15] dannyparsons commented on #1908
Ok then sounds like the title controls should be on the main dialog to make that really easy for them.

[2019-02-20 12:25] maxwellfundi commented on #1908
Yeah
Regards
Maxwell Fundi
|| Phone :+254728508241||

Powered By  SalesHandy
<https://www.saleshandy.com/signup/?utm_source=gmail&utm_medium=emailfooter&utm_campaign=branding>

On Wed, Feb 20, 2019 at 3:15 PM Danny Parsons <notifications@github.com>
wrote:

[2019-02-20 13:27] rdstern commented on #5172
Yes, and just to confirm that it is planting_day, in conditions 2 and 3, as specified in the crops dialogue and not starting_day as found from the dialogue for the start of the rains.

[2019-02-20 13:27] fran2or commented on #5172
Yes - this is also correct.

I had also asked if they could be two options so one caters for Roger's
way and the other caters fro Graham's way (which generates probability by
using subset of the data based on successful planting days) @dannyparsons
<https://github.com/dannyparsons> as we discussed.

On Wed, Feb 20, 2019 at 11:23 AM Danny Parsons <notifications@github.com>
wrote:

--
**************

[2019-02-20 13:41] dannyparsons commented on #5172
Great thanks, so @Muthenya I think you can now proceed as I suggested. Removing the checkboxes and having a single check box for the planting day condition.

[2019-02-20 18:23] #5165 closed

[2019-02-20 18:24] dannyparsons opened #5193 "Packages to add"
- **ggalt** - we have **ggalt::geom_encircle** in our geom list but package is not added

[2019-02-20 18:29] dannyparsons opened #5194 "Split Text into Maximum components"
In the Split Text dialog we can split a column into components split by a character e.g. `:` but you have to give the number of components (columns) to return. Often you just want the maximum possible number of components and to have blank values when there were less than the maximum in that row.

The dialog uses `stringr::str_split_fixed` where you must specify `n`. There is also `stringr::str_sp

[2019-02-20 18:47] Muthenya commented on #5172
Okay. Thanks.

[2019-02-20 18:54] Muthenya commented on #5172
Do we still go with the name "Require Start Day Before Planting Day"? It seems a bit long. Then what will be the default for the checkbox?

[2019-02-20 19:23] dannyparsons opened #5196 "Improvements to End of Rains/Season dialog layout"
I'm sure this is in another issue but I can't find it easily and good to have it separate here.
Once my pull request #5195 on the calculation is merged the dialog can also be improved:

1. Checkboxes for End of Rains/Season change to radio buttons at the top of the dialog
2. There is then much more space on the dialog for the controls as the End of Rains controls can be on top of the End of Season

[2019-02-20 19:26] dannyparsons commented on #5172
I think its fine to have slightly longer labels on these special dialogs because they need some explanation to be clear.
The default should be checked, i.e. `start_check = TRUE`, which is what the dialog currently does.

[2019-02-21 04:28] Wycklife commented on #5196
@africanmathsinitiative/developers I would like to take over on this issue.

[2019-02-21 05:55] Ivanluv commented on #5196
@africanmathsinitiative/developers  am helping out on this

[2019-02-21 09:56] maxwellfundi commented on #5097
@Patowhiz Whats the state of this?

[2019-02-21 09:56] dannyparsons commented on #5196
Thanks I have assigned you both. I'll let you know when it can be taken over.

[2019-02-21 10:35] Patowhiz commented on #5097
In progress

On Thu, Feb 21, 2019, 12:56 PM Maxwell Fundi <notifications@github.com>
wrote:

[2019-02-21 12:32] dannyparsons opened #5198 "Replace depreciated dplyr::select_, dplyr::filter_ etc. functions"
The dplyr functions to use variables within their functions has been depreciated and replaced with a different system described here https://dplyr.tidyverse.org/articles/programming.html

There are now warnings that the old functions are depreciated so we need to replace them soon before they are removed completely and will break our code.

Here's an example of the new code which we should be able

[2019-02-21 14:14] maxwellfundi commented on #5057
Moved this to the next milestone

[2019-02-21 14:15] maxwellfundi commented on #5064
This one too moves to next milestone, @Ogik99 is away at the moment

[2019-02-21 14:16] maxwellfundi commented on #5097
Are you able to report if you can finish this today @Patowhiz by the time of release?

[2019-02-21 14:19] maxwellfundi commented on #1908
This is being reviewd by @Muthenya

[2019-02-21 17:36] #4802 closed

[2019-02-21 17:36] #4969 closed

[2019-02-21 18:42] dannyparsons commented on #5196
My pull request is merged but it's only half complete. I need to still update the code for the End of Season part so its not quite ready for this task yet.

[2019-02-21 18:42] dannyparsons commented on #5198
This is also the basis for our calculation system so very important to update correctly.

[2019-02-21 18:45] dannyparsons commented on #5172
@Muthenya the "Require Start Day Before Planting Day" is an additional checkbox. It doesn't replace the "Planting Day(s)" label. The planting days are always given. This can be an additional checkbox next to planting days.

[2019-02-21 18:57] Patowhiz commented on #5097
I'm still working on a bug in regards to this.

[2019-02-21 20:20] #3524 closed

[2019-02-21 20:31] dannyparsons commented on #1908
I don't think this is the best layout for choosing the colour palette. Horizontal radio buttons are meant to be for an overall choice for the dialog or tab. So it looks a little odd just as a choice for a type of palette. It's fine for a start and good the option is now there, but I think we can do better.

![image](https://user-images.githubusercontent.com/11214914/53199237-6f89e800-3616-11e9-912

[2019-02-21 21:16] #4974 closed

[2019-02-21 21:23] Muthenya commented on #5172
Okay. I'm thinking of having the checkbox just above the "Planting Day(s)" label as below;

![image](https://user-images.githubusercontent.com/32125033/53202615-09ae5800-3638-11e9-8356-df1a97a6e3a9.png)

Will this do?

[2019-02-21 21:42] dannyparsons commented on #5172
Yes that looks good. Just without the `:` at the end.

[2019-02-21 21:46] Muthenya commented on #5172
Done.

[2019-02-22 10:45] isedwards opened #5202 "Installation blocked by Windows Defender"
A [standard certificate from GlobalSign](https://www.globalsign.com/en/code-signing-certificate/microsoft-authenticode/) is $289/year.

Paying $410 for Extended Validation (EV) gets "Immediate reputation with Microsoft SmartScreen".  I think Windows Defender is part of SmartScreen, so it's not clear whether the cheaper standard certificate would be enough to solve the problem, or whether EV would

[2019-02-22 10:58] dannyparsons commented on #5202
From [here](https://stackoverflow.com/questions/48946680/how-to-avoid-the-windows-defender-smartscreen-prevented-an-unrecognized-app-fro) it seems the EV might be useful. I see that they also have 2 and 3 year prices which I'm sure we'll use and reduce the yearly price so it might be worth getting the EV.

[2019-02-22 11:39] isedwards commented on #5202
Extended Validation will validate an organisation, whereas Standard Validation is often used to sign an executable by an individual.  I see a lot of installations, even for well-known projects, that are signed by "Bob Smith" and I honestly don't know whether Bob is legitimately involved with the software.

[2019-02-22 11:43] dannyparsons commented on #5202
Ok so sounds like we might want more of an organisational certificate if we're thinking about not just R-Instat.

[2019-02-23 17:03] #5113 closed

[2019-02-23 18:01] dannyparsons opened #5203 "Make Date from a numeric column"
If data comes in with a date column in the format `20190101` (known an YEARMODA) or any other variation of this without `-` or `/` separators then it will be a numeric column by default. The Make Date dialog only accepts non numeric columns when using a format. This is because:
[code]
R assumes a numeric value is a number from an origin date, not a format.

So you can easily convert this to a char

[2019-02-25 08:44] Ivanluv commented on #5194
@dannyparsons using stringr::str_split with 'simplify=TRUE' as the third argument returns a data frame

[2019-02-25 09:08] Ogik99 commented on #5146
![graph gui designer](https://user-images.githubusercontent.com/43957868/53326216-0ea02f80-38f6-11e9-83c8-fa7b2905b2d4.PNG)

[2019-02-25 10:53] dannyparsons commented on #5194
Excellent! Thanks for finding this!

We could implement this in the dialog now!

I would suggest now having two radio buttons:
1. "Maximum Number of Components" using `stringr::str_split` with `simplify = TRUE` and
2. "Fixed Number of Components" using `stringr::str_split_fixed` as it is currently.

Possibly 1. would be the default now.

[2019-02-25 12:26] Ivanluv commented on #5194
@dannyparsons how am I to implement the designer changes on this?
![image](https://user-images.githubusercontent.com/45068931/53337143-99daee80-3911-11e9-83aa-11b7bd8d02e7.png)

[2019-02-25 12:55] dannyparsons commented on #5194
The binary columns option remains the same, its a different concept not related to `str_split`. Try it, to figure out what it does.

[2019-02-26 10:10] dannyparsons commented on #5203
The receiver data type should also change so that all columns are available when using "Specify Format"

[2019-02-26 12:36] maxwellfundi commented on #5147
@Ogik99  Its just Bar and Boxplot that can have dodge2 as the value of position parameter?

[2019-02-26 12:56] maxwellfundi commented on #5097
@Patowhiz  Any update on this?

[2019-02-26 14:49] dannyparsons opened #5205 "Problem importing `data.table` as .RData file"
When you import a data frame which also has the `data.table` class it reads the data in but has an error displaying it in the grid. I think this is because importing is fine but then because of the different syntax of the `data.table` it doesn't extract the data frame from the `data_book` correctly.

To fix we just need to check if the data has the `data.table` class and if so remove it with `as.d

[2019-02-26 15:32] maxwellfundi commented on #5121
@dannyparsons @rdstern could you have a look at these datasets so that i include them in the library by the next release?

[2019-02-27 07:09] rdstern opened #5206 "Reordering a factor with many levels"
This is (for my first time) not a real issue because I can do it!  But not the way I thought I would.  So I report as a sort of "feature".  It can then be closed, unless there is a better way.  But it does need to be mentioned in our help, because it isn't so obvious to me at least.

The problem was climatic data from 65 stations in Poland.  We displayed them as graphs and they looked surprisingly

[2019-02-27 07:44] #5184 closed

[2019-02-27 08:26] #4810 closed

[2019-02-27 08:29] Ogik99 commented on #5147
@maxwellfundi I think position_dodge2 can be added to all geoms that have the position parameter

[2019-02-27 08:45] Ivanluv commented on #5194
@dannyparsons Is this fine?
![image](https://user-images.githubusercontent.com/45068931/53477147-1f32e000-3a85-11e9-96bc-191483bf1901.png)

[2019-02-27 08:54] maxwellfundi commented on #5147
If thats the case then i think you can add them as one of the options on the  position parameter @Ogik99

[2019-02-27 08:57] Ogik99 commented on #5147
@maxwellfundi please check this link:
https://ggplot2.tidyverse.org/reference/position_dodge.html

[2019-02-27 09:39] Ivanluv commented on #5194
@dannyparsons ,I think this looks better
![image](https://user-images.githubusercontent.com/45068931/53480631-a33c9600-3a8c-11e9-8e02-b3c7cc458a9c.png)

[2019-02-27 12:01] Muthenya commented on #4983
Is there any more discussions on this @dannyparsons and @rdstern?
Work can begin on this, possibly by @Wycklife or @Ivanluv.

[2019-02-27 12:08] Muthenya commented on #4952
@rdstern?

[2019-02-27 13:28] dannyparsons commented on #5121
Yes.

[2019-02-27 13:38] dannyparsons commented on #5147
I would expect any geom which can have `position = "dodge"` could also have `position = "dodge2"`.
The documentation does not always give all the cases where it can be used. It's best to try it out with an example.

[2019-02-27 13:39] dannyparsons commented on #5194
Yes, the second looks better. But I would have them on the right side, under the Split By receiver. With the nud then under them. It's clearer if they are all together.

[2019-02-27 13:40] dannyparsons commented on #4983
I'm happy with Roger's distinctions.

[2019-02-27 16:35] Patowhiz commented on #5097
Try will be visible and operational for both Construct and Command option

[2019-02-27 17:44] dannyparsons opened #5208 "Information message when closing filter sub dialog without adding a condition"
A common issue for users is when they are defining a filter they select the column and set the condition values but don't always know to click the "Add Condition" button.

We could have a really easy help for this by having an information pop up when you click Return and there is a column selected in the receiver. When you click "Add Condition" it clears to receiver so likely if the receiver if fi

[2019-02-27 18:14] dannyparsons opened #5209 "Go to import NETcdf file dialog if chosen from Open From File Dialog"
A confusion for users I've seen is that they choose a NETcdf (.nc) file from Open From File and then it says it does not recognise the file. They didn't realise there is a separate dialog for NETcdf files and then they think R-Instat can't import them.

To help with this if a user chooses a NETcdf file from the Open From File dialog we should be able to close that dialog and automatically open the

[2019-02-27 18:59] dannyparsons opened #5210 "Rename data frame dialog should reset New Name when reopening/changing data frame"
The rename column dialog works well in that the New Name updates to the current name when you change column. This is really helpful to prevent accidentally overriding a column when new name is still the value from a previous use of the dialog.

The rename data frame dialog doesn't work like this and never updates when you change data frame. I think it should work as the rename column and update on

[2019-02-27 20:39] rdstern opened #5211 "Add logit and logistic functions to the calculator"
In the workshop we had data that looked like pervcentages (0 to 100) or proportions (0 to 1).  They are percentage cloud cover each day.
For analysis it would be good to be able to calculate the logit transform.  This is available (sort of) in the stats package, where it is called qlogis.  The inverse is called plogis.

I suggest these are 2 new keys at the bottom of the maths keyboard.  They can

[2019-02-27 20:57] rdstern opened #5212 "Add days_in_month to the Use Date dialogue"
This should (I hope be really easy.  It was needed in this workshop.

In the current workshop I was asked to produce a column from the date that gave the number of days in the corresponding month.  This could usefully be added to our Prepare > Column: Date > Use Date dialogue.  It can go in the second group after the leap year option.

It should be easy, because it is in lubridate and is the days_

[2019-02-27 21:11] dannyparsons commented on #5212
Yes, agreed. I've assigned to @Ivanluv and @Wycklife, whoever needs a task to take up first should do this. It will need edits the R method, if you look at the current R method it should be easy to adapt for this function.

[2019-02-28 12:21] Ogik99 commented on #5147
@dannyparsons this makes sense. I have added 'position=dodge2' to all geoms that initially had 'postion = dodge'

[2019-02-28 13:56] maxwellfundi commented on #5147
Great

On Thursday, February 28, 2019, Ogik99 <notifications@github.com> wrote:

--
Regards
Maxwell Fundi
|| Phone :+254728508241||

[2019-02-28 17:12] dannyparsons opened #5214 "Addition to Plot Options - coordinates tab"
There are a number of useful coordinates functions that could be added to this tab. One I find very useful is
`ggplot2::coord_equal` which makes x and y the same scale. This one would be easy to add as a simple check box.

When someone does this, can you also look at the other functions, there are quite a few that start with `ggplot2::coord_`. Eventually we should have them all. I would like `coor

[2019-03-01 05:14] Patowhiz commented on #5194
I second Danny on the positioning of the radio buttons

[2019-03-01 05:17] Patowhiz commented on #5194
@Ivanluv so when I check on the Maximum Number of Components radio button, the ucrNud gets hidden?

[2019-03-01 06:14] Patowhiz opened #5215 "Custom Controls Enhancements"
**Is your feature request related to a problem? Please describe.**
Currently our controls lack methods that ease how dialogs and other controls can interact with them while at the same time promoting the principles of Object Oriented Programming. For instance there is no clear easy way of getting currently selected dataframe from the selector and we have to access it through its internal controls

[2019-03-01 06:30] Patowhiz opened #5216 "Custom Utility Classes, Functions, Enumerations"
**Is your feature request related to a problem? Please describe.**
Currently we have lots of code that could be standardized through utility classes, functions and enumerations.
**Describe the solution you'd like**
For instance ;

1. The column types are currently defined hard coded strings "constants", as a developer I have to peek into the receiver to correctly get the spellings of the column ty

[2019-03-01 06:45] Ivanluv commented on #5194
@Patowhiz  Yes that's how its supposed to work

[2019-03-01 08:03] dannyparsons commented on #5215
Can you be more specific and list the places where we currently don't have methods? Then we can know what there is to do.

[2019-03-01 11:08] dannyparsons opened #5217 "Reporting distance when extracting points from NetCDF file"
**Is your feature request related to a problem? Please describe.**
When extracting points from a NetCDF file the R function extracts the nearest point to the request point. It's import for users to know how close the selected point is from their requested point.

**Describe the solution you'd like**
For a single point, a message in the output window reporting the distance. This could also be added

[2019-03-01 12:07] maxwellfundi commented on #1908
@dannyparsons this is a good suggestion to just have the list of all these. I will look on to how we can have this kind of a combo box as it seems easier for the user.

[2019-03-01 12:25] Wycklife commented on #5212
@africanmathsinitiative/developers What is the appropriate name for the checkbox to be used in this?

[2019-03-01 13:19] rdstern commented on #5212
It is "Days in Month".

[2019-03-04 05:47] Ogik99 commented on #5024
@dannyparsons any additional comments on this.

[2019-03-04 07:25] rdstern commented on #5024
I hope this can be discussed in the next 2 weeks.  I now realize there are too many issues on this topic!
In #5039 I describe what is remaining and then in #5094 I show my version of a rugplot - which looks quite nice, while in #5120 I discuss some remaining issues.  In #5120 I also wonder about an alternative to the rugplot - though perhaps the alternative and the rugplot could be options.

I am

[2019-03-04 07:25] #5024 closed

[2019-03-04 07:32] Ivanluv commented on #5210
@dannyparsons  do you mean it should make changes to the original Data frame?

[2019-03-04 07:56] Ogik99 commented on #4839
@dannyparsons any thoughts on this?

[2019-03-04 07:59] Ogik99 commented on #4806
@maxwellfundi any thoughts on this.

[2019-03-04 08:03] Ogik99 commented on #4805
@maxwellfundi can we now go ahead with specifying the string names of the various shape points

[2019-03-04 09:43] isedwards opened #5223 "DPI awareness, screen resolution and scaling"
**Describe the bug**
Some users experience display problems when using the application with high resolution (high-DPI) devices and display scaling.  Some of the controls are sized incorrectly and some elements are only partially visible.

**To Reproduce**
This bug has currently been observed on Windows 7 machines with the resolution set to 1366 x 768 and scaling set to 125%.  The next step is to s

[2019-03-04 09:43] isedwards commented on #5223
I think I've read that it works differently on Windows 7 vs Windows 10, and one article that I've read suggests it differs depending on the version of Visual Studio that is used during development.

Here are a couple of articles that I have in my bookmarks - the first is to make the application DPI aware, so that it knows how to correctly scale:
    http://www.visualstudioextensibility.com/2015/02

[2019-03-04 09:58] dannyparsons commented on #5210
Yes so when I change the data frame, the new name should default to the current name. I think this works now but only the first time or when you reset.

To see issue, load two data frames, then rename one of the data frames. Now when you try to rename the other data frame, the default name is the same as you just renamed, which isn't a sensible default. It could also lead to accidentally replacing

[2019-03-04 10:03] dannyparsons commented on #4839
I think this would be covered by the model or tests dialog, where you could do:
`out<-BIB.test(run,psi,monovinyl,test="waller",group=FALSE)`
We then need a new dialog "Use Model" which similarly lists the model objects created and has a calculator to do functions on them, which would include plot.

@rdstern is there already an issue on this?

[2019-03-04 10:08] #4983 closed

[2019-03-04 10:40] dannyparsons commented on #5223
@isedwards thanks for looking into this. I have just tested on a virtual Windows 7 machine and can confirm that the same issue appears both with 125% and 150% scaling.

[2019-03-04 10:46] Ogik99 commented on #4805
We can use the same approach we applied in defining string names for the linetypes.

[2019-03-04 11:26] maxwellfundi commented on #4805
@Ogik99  yes thats correct. We can define a list of these then use the list in a similar way as we did for the linetypes.

[2019-03-04 11:29] dannyparsons commented on #5223
These two points may be useful information for https://github.com/opencdms/Climsoft/issues/450

1. We previously noticed the issue for developers who have dpi scaling above 100% on their machines. With this scaling the designers were modified to match the scaling and made everything too big when viewed with no scaling. So we have been careful to only modify the designer files when dpi scaling is 1

[2019-03-04 12:43] #5214 closed

[2019-03-04 16:09] #5147 closed

[2019-03-04 16:15] dannyparsons opened #5224 "Pasting into factor grids doesn't update R code"
**Describe the bug**
When you paste into a factor grid e.g. levels/labels or recode factor if you paste on the cell directly (as opposed to double clicking to enter the cell first and pasting) then click OK it doesn't update the R code.

**To Reproduce**
Go to Levels/Labels for a factor. Copy the first label, paste it onto the second label directly (without entering the cell), don't click anything

[2019-03-05 09:50] rdstern opened #5225 "Relevant review of Blue Sky Statistics package for R"
This is a good looking add-on for R.  It is like R-Instat and tries to be an SPSS equivalent.  It seems interesting in its own right.  We don't have to compete with all other packages.  It is fine if students and others from our target audiences choose Blue Sky in improved statistics teaching.  We are also happy for users to be able to choose 2 packages or more.

Blue Sky is reviewed [here](http:/

[2019-03-05 16:44] rdstern opened #5228 "Making more use of plotly?"
Some of the graphs we produce - but not all - can be investigated further with plotly.  And that is fun.

But currently using plotly is sort of "hidden".  Also it doesn't work for all graphs.  For example I think it doesn't work for combined graphs (for example Describe > One Variable > Graph with all variables from diamonds).  But it does work for facets, etc.

So I have 2 suggestions.
a) Could w

[2019-03-05 16:55] #5212 closed

[2019-03-05 17:25] rdstern opened #5229 "Enhancing the Define Climatic Data Dialogue"
Our "climatic system" involves the step of defining relevant variables as climatic.

However it is incomplete.  I have (at least) 3 additions for consideration, of which one is possibly urgent.  I would like to discuss them all, but don't want this discussion to then delay what might be a simple set of additions.  So I would like to start with part a).
a) When comparing station and satellite data

[2019-03-06 07:48] maxwellfundi commented on #5228
This seems a very good and also important addition I like how easy it would be to view an interactive graph from the drop down and that is easy to do. Am not sure how easy it is to do the detection of a graph acceptable by plotly. @dannyparsons any ideas?

[2019-03-06 09:23] maxwellfundi commented on #5210
@Ivanluv  How is this going? Any progress?

[2019-03-06 09:28] Ivanluv commented on #5210
@maxwellfundi I am not sure in how to implement this

[2019-03-06 10:11] #4805 closed

[2019-03-06 10:12] dannyparsons commented on #5228
We could check that it is a `ggplot` graph to allow use of plotly which is easy to do in the R code.

[2019-03-06 10:14] maxwellfundi commented on #5209
We have also experienced this before with shape files and I think this would be a quick fix for just one type of file.
Can we actually get to advance our import from file to detect the file type and use the correct methods to import the files?

[2019-03-06 10:15] #5172 closed

[2019-03-06 10:37] dannyparsons commented on #5209
Yes good to do for other special imports like shape files as well.

Long term it would be good that this is all one dialog and that's the better solution. My suggestion was a quicker fix since you could easily get the import dialog to redirect to the specific dialog when a netcdf file or shape file is chosen and close the main import dialog. Then there's only minimal code changes needed. You could

[2019-03-06 10:44] maxwellfundi commented on #5209
Okay as a quick fix then, I suggest we do a similar thing for other files too then we can embark on getting to this dialog to open all other files.

[2019-03-06 10:49] dannyparsons commented on #5209
Sounds good, it should just need to add a check on the file type selected and then close and open the right dialog.

[2019-03-06 10:50] dannyparsons commented on #5209
With the file already selected of course.

[2019-03-06 11:18] dannyparsons commented on #5208
@Muthenya could you take this on?

[2019-03-06 11:21] dannyparsons commented on #5206
This relates to #4421. But as well, having a way to type or paste the new order would be good, probably then with a different control displaying the levels.

[2019-03-06 11:21] #5206 closed

[2019-03-06 11:22] #4661 closed

[2019-03-06 12:06] Muthenya commented on #5208
Okay.

[2019-03-06 12:30] #5203 closed

[2019-03-06 14:38] rdstern commented on #5208
That's great.  Just to check, there was work earlier on improving the filter sub-dialogue, see #4529 I think?  This was to stop users having to type TRUE, etc.  What has happened to that?

[2019-03-06 15:12] #5205 closed

[2019-03-07 06:13] maxwellfundi commented on #5121
Great, good if this can be done sooner @dannyparsons

[2019-03-07 06:15] maxwellfundi commented on #3961
@dannyparsons  Could you please have a look at this. This will need alot more time to test before release so the earlier we get this done the better.

[2019-03-07 07:54] maxwellfundi commented on #5196
@dannyparsons  a quick reminder on this, please let @Ivanluv  and @Wycklife know when they can take over this job.

[2019-03-07 08:55] Wycklife commented on #5210
This works well well from my review.

[2019-03-07 09:50] dannyparsons commented on #3961
Good idea, I have another deadline today but will try get to it by tomorrow.

[2019-03-07 17:46] Ogik99 commented on #4806
The viridis colour scale will be applicable to the colour and fill aesthetics. I found the link below to be useful
https://ggplot2.tidyverse.org/reference/scale_viridis.html

[2019-03-07 19:03] #5211 closed

[2019-03-07 22:42] rdstern commented on #4555
I am returning to this issue as I write the R-Instat climatic guide.  Could we please explore whether the as_factor function from the forcats package can replace our current way of producing factors from character data.
I don't know if it will solve the oddities with labelled data.  But (as a default) having factor levels in data order, rather than alphabetical order is nice.
We may have to use fc

[2019-03-07 22:52] rdstern opened #5235 "Minor change on the importing from Excel"
**Is your feature request related to a problem? Please describe.**
It is great that we can now import multiple sheets from Excel.  But often I would like to import only 1 sheet.
Currently the first sheet is ticked by default.

**Describe the solution you'd like**
Either have no sheets ticked by default.  Only enable ok when one or more is ticked.
Or have a checkbox (switch) at the top which says M

[2019-03-08 02:06] rdstern opened #5236 "Adding a line to connect medians in a boxplot"
I am trying to produce the following graph - which is easy in the old Instat - as shown below:
![image](https://user-images.githubusercontent.com/11226469/54002138-9ae2fb80-411b-11e9-8c47-bfff8ec1fa06.png)

This is a single set of boxplots with a line connecting the medians.
In R-Instat I first got the boxplots.
Then added a layer.  I used stat_summary
Then I use the layer parameters.  I make the

[2019-03-08 08:34] Wycklife commented on #5235
@rdstern Which options should we go with?

[2019-03-08 08:36] dannyparsons commented on #5236
@Wycklife could you try and reproduce this?

[2019-03-08 08:44] Wycklife commented on #5236
@dannyparsons I'm going through it now

[2019-03-08 08:46] Wycklife commented on #5236
@dannyparsons I'm going through it now

[2019-03-08 10:04] #5208 closed

[2019-03-08 14:06] rdstern opened #5238 "Use date has problems with shifted year"
I will send the file in case the problem is not obvious.
It is with the shifted year option starting in July.  I did both the **year** numeric and the **year as a name**.
It was with monthly data, but I don't think that caused the problem.  I have now checked with the daily data and all seems ok.  So it is an issue with the monthly data.

The year numeric is fine.
The year as name appeared to work

[2019-03-08 16:49] rdstern commented on #5120
I keep trying to use this dialogue after general use of data.  In that case the Year column (for the x) has not been through our climatic system.  Please can we have a way this can be allowed without necessarily having to define a date column, when we have yearly data now.

One possibility could be to have a right-click option in the x-variable receiver that allows all numeric columns.  There may

[2019-03-10 13:14] rdstern opened #5239 "View dialogue gives error"
When you use Prepare > Data Frame > View and opt to select the columns the 3rd option is for html in the output window.
This gives the sjplot stuff and gives the error below.  I suspect the command has changed?

If it isn't easy to fix then perhaps we can disable for now?

**Error running R command(s)

Error: 'sjt.df' is not an exported object from 'namespace:sjPlot'
The error occurred in attempti

[2019-03-10 13:33] rdstern opened #5240 "Giving summary statistics in the correct order"
There's potentially more than one issue here, but it needs discussion first.

In the new guide I first did boxplots.  I had 12 boxplots for 89 years of monthly rainfall data, with one boxplot for each month.

I wanted to present the same 5-number summary as numeric output.  I also wanted the results in order - usually going from minimum lower quartile, median, upper quartile, maximum.

There are 2

[2019-03-10 13:39] rdstern commented on #4346
I repeat the question above about the need for the Multiple option on the graphics.  It still has various bugs and the annoyance (sort of fiddle) of having to use the Plot options first, because they are disabled.
I hoped @volloholic might say something, but after 15 months perhaps that's not going to happen.

I used the multiple graphs in the climatic tutorial.  The alternative is to use an addit

[2019-03-10 14:37] rdstern commented on #5228
I have another question about our use of plotly.  It seems the ideal environment for looking at the outliers in our climatic (or other) data.  When there is a scatterplot, etc you can hover over a point and it tells you the x and the y values.  That's fine, but it would be much better if it could also tell you the value of other variables from the same data frame.  For the climatic data this would

[2019-03-10 14:51] dannyparsons commented on #5228
Yes you can label a layer with any variable and it will only show when you hover in plotly.

[2019-03-10 14:58] rdstern commented on #5228
That's exactly what I want.  How do I tell plotly which variable(s) to use?  Can I do this once in plotly, or do we have to add something when we use the dialogue?  Here is an example plot where I would like to do this - and explain how to do it in the new climatic guide graphics section.

![image](https://user-images.githubusercontent.com/11226469/54086818-56c24780-4323-11e9-9303-4e7308816af5.png

[2019-03-10 15:14] dannyparsons commented on #5228
You can add text or label as an aes when you create the graph then this will be visible in plotly.

[2019-03-10 15:25] rdstern commented on #5228
Yes, but then it is there for all points and the whole thing is a mess.  That's already useful, because I can zoom in plotly, but I really only wanted it as an addition in the hover.

![image](https://user-images.githubusercontent.com/11226469/54087213-14026e80-4327-11e9-942d-e0b49cf4212a.png)

[2019-03-10 15:45] dannyparsons commented on #5228
What was the command for that? It shouldn't add that with text or label aes.

[2019-03-10 16:10] rdstern commented on #5228
I just added another layer to the scatterplot, see below.  Then called plotly also from the dialogue.

# Code generated by the dialog, Scatter Plot
Dodoma_merge <- data_book$get_data_frame(data_name="Dodoma_merge")
last_graph <- ggplot2::ggplot(data=Dodoma_merge, mapping=ggplot2::aes(colour=month, x=Sunh, y=SDU)) + ggplot2::geom_point() + ggplot2::geom_text(mapping=ggplot2::aes(label=Date), size=2

[2019-03-10 16:21] dannyparsons commented on #5228
oh no you don't need a `geom_text` layer, just add `label = Date` into `geom_point`.

[2019-03-10 16:43] rdstern commented on #5228
Brilliant.  I added it to the aes in the script file and it works perfectly.  Now how do I do that from the dialogues?  It is perfect for examining the outliers.  Can I have more than one - so both Station and Date if needed.

[2019-03-10 17:04] dannyparsons commented on #5228
From the Point Layer Options there should be a receiver for label.
For multiple you could do something like `label = paste(station, date)` (although you couldn't do this from the dialog)

[2019-03-10 17:05] dannyparsons commented on #5228
We could do something automatic in climatic dialog for this.

[2019-03-10 20:13] rdstern commented on #5228
I tried the same with boxplots, i.e. adding label = variable and it doesn't seem to work for them.  It just gives the value there.  That would have been very nice for climatic.  It works fine for jitter so that's good.

Great if it can work for boxplot.
That also makes me keen to have the boxplot plus jitter working well,  That's when the jitter is behind the boxplot, so you only see the outliers.

[2019-03-11 13:47] rdstern opened #5241 "Small addition for output window?"
This is very small and only to be done if trivially easy.
I was tidying the output window.  I selected a section and pressed the Delete key.  Nothing happened.
I did my right-click and found it was very easy to delete the selection.
 Would it be natural to be able to use the delete key as well.  Would that be very quick to do?

[2019-03-11 13:53] rdstern opened #5242 "Changing right-click in reogrid a lttle?"
Currently in R-Instat the main right-click menu is only activated from the name field.
In Genstat there is a similar right-click menu, but it works from within the grid as well.

It (like R-Instat) has some options that recognise the variable - like convert to factor, and others that simply open a dialogue - like Reorder columns.

I find that I have hardly, if ever, used the special current right-

[2019-03-11 18:31] rdstern opened #5243 "Objects in the data frame metadata?"
As I explain R-Instat I wonder about adding the existence of objects of different types to the data frame metadata.  There would be one field for each type of object, e.g. ggplot.  There can be multiple graph objects, so they are either like the levels of a factor, or a pull-down if that is possible?
This would be useful both to know what objects are part of the data frame and also to explain the

[2019-03-11 19:35] Patowhiz commented on #5241
Yes this is a trivial thing and sounds very logical to do

[2019-03-11 22:39] maxwellfundi commented on #5121
@rdstern @dannyparsons A gentle reminder to have a look at these datasets that needs to go to the library by next release.

[2019-03-12 00:14] rdstern opened #5244 "Column metadata with scientific notation"
In the column metadata, one of the elements is called Scientific and is always FALSE.  Can it be changed to be TRUE.  I wasn't able to edit this field.  If so, then does it display in the grid or just in R?

[2019-03-12 16:15] dannyparsons opened #5245 "Climate quality control check (for rainfall?) by week days"
**Is your feature request related to a problem? Please describe.**
The table and graph below are from the **JAMESFINLAY** station in the Western Kenya data for the period 1991 - 1995. I looked into this in detail because of the large number of missing values. Firstly we noticed that there were consistently about 5 missing values per month and all the elements were missing on the same days. The gra

[2019-03-12 16:20] dannyparsons commented on #5245
Also to add, although this could be done across elements its particularly useful to discover for rainfall because since Sunday rain is recorded on Monday I could fill in the missing Sunday values with 0 and it shouldn't effect the actual rainfall totals.

[2019-03-13 03:30] Patowhiz commented on #5241
What about on pressing the backspace?

[2019-03-13 09:38] Wycklife commented on #5236
@dannyparsons I've try this and getting the same issues. I have used dodoma dataset to try this.

[2019-03-13 10:10] Wycklife commented on #5064
I've used a different dataset (CSO4.rds) to test this, and it seems to have no error.

[2019-03-13 12:46] #5006 closed

[2019-03-13 12:58] dannyparsons commented on #5121
Thanks I will check those and then let you know when its ready for someone to add over into the repo.

[2019-03-13 12:59] dannyparsons commented on #5244
I think I've just disabled editing but can easily allow this. I believe its set up to only allow you to type TRUE/FALSE. It's just for the grid and its on a column by column basis.

[2019-03-13 13:26] dannyparsons commented on #5241
Yes good idea.

Also, is undo possible?

[2019-03-13 13:57] dannyparsons commented on #5236
Can you then look into the R code and see what the issues are? Does it give an R error? Or is it that the dialog is not adding R code for the layer? Or is it adding the layer incorrectly etc.
You should be able to give a much more technical description of the problem than Roger because he's only testing as a user. Good that you've been able to replicate, but now you should be trying to debug.

[2019-03-14 01:56] Patowhiz commented on #5242
@rdstern what do you mean by from within the grid the  grid itself? If by that you mean the rows and the cells then it's important to note that context menu's on grids are generally activated on Column, Row and Cell(s) right click. As a standard, depending on what's being selected on the grid the nature or content of the context menu changes based on what could be done on the selected "part" of th

[2019-03-14 02:43] Patowhiz commented on #5239
@rdstern your suspicions are true, according to [CRAN NEWS](https://cran.r-project.org/web/packages/sjPlot/news/news.html) as of sjPlot 2.5.0 the `sjPlot::sjt.df` was deprecated and replaced with `sjPlot::tab_df` . The parameter names used are also different.

[code]

I'll go ahead and replace this with the new function name.

[2019-03-14 09:16] Ivanluv commented on #5190
@dannyparsons  can I get help on how to implementation this

[2019-03-14 09:58] rdstern commented on #5242
Thanks.  You are phrasing it properly.  So in Genstat it is the same right-click menu irrespective of whether you are in columns or cells.

The reasoning is that you will still be in a column when you are in a cell.  So I am suggesting we don't have a special cell's right click.  It is the same as the column right-click.

I am not suggesting you change the row right-click.

[2019-03-14 11:13] Wycklife commented on #5236
We have been looking at this and we found that we needed to add the `geom="line"` as well as the `group=1` parameter into the `stat_summary` to have

`stat_summary(fun.y = median, geom="line", group=  1, color= "blue", size = 1.5)`

@maxwellfundi  Suggests that we add a checkbox on the layer parameters to add in the group parameter into `stat_summary` so that its passed in.

However we will need t

[2019-03-14 12:39] dannyparsons commented on #5236
Thanks good to see how this works now. The `group` issue is interesting because its also an aesthetic. What have we done for other geoms where group is an aesthetic and layer parameter?

If we want to make this easier for boxplots we could have a checkbox on the main dialog that would add this layer?

[2019-03-14 16:19] #5193 closed

[2019-03-14 17:00] #5210 closed

[2019-03-14 17:52] dannyparsons commented on #5121
I've gone through the new library folder. Really happy to see the organisation of the new structure and the consistency we now have in files names/sheet names/column names. I think this makes us look much more professional. So well done @ZIRANA11 and @MainaJohnO.

I made a few small changes to some names. A general point would be to avoid using `data` in the name of a file or sheet e.g. I changed

[2019-03-14 19:08] MainaJohnO commented on #5121
@dannyparsons <https://github.com/dannyparsons>  The ILRI and CAST data
files you suggested they remain as they were. Corrected the western_kenya.
RDS file .

On Thu, Mar 14, 2019 at 8:52 PM Danny Parsons <notifications@github.com>
wrote:

[2019-03-15 08:15] maxwellfundi commented on #5121
Great @dannyparsons I am on it

[2019-03-15 08:19] maxwellfundi commented on #5236
@dannyparsons At the moment we do not have any of the geoms with the ability to add `aes` on the layer parameters.

I had discussed with @Wycklife that its alot easier to have a checkbox on main dialog but from the issue it seemed that its not whats needed.

Do you think we can just have this checkbox on the main dialog now? @rdstern would that be okay with you?

[2019-03-15 08:23] rdstern commented on #5236
I would be ok with that

[2019-03-15 08:55] rdstern opened #5249 "Small edit needed in data frame metadata"
The figure below shows the problem.  In the data frame metadata the first field, namely the data frame names are always shown in full.  (This can be messy if the names are long) They should be constrained to remain within their field.  I think the data frame labels (next field) may have the same problem.  I assume this is a simple setting that needs to change.  An example is below:

![image](https

[2019-03-15 09:00] maxwellfundi commented on #5236
@Wycklife  you can now take up this and add the check box on the main dialog

[2019-03-15 09:08] Wycklife commented on #5235
According to me, the multiple sheets receiver seems to work the same way as Select All receiver. What do others think about this?

[2019-03-15 10:12] dannyparsons commented on #5235
Roger's suggestion is that the multiple sheets checkbox only allows you to check one item when it is unchecked - so the sheet items become like radio buttons. The Select All is different it just selects all the sheets.

I thought about not having any sheets checked by default but I think the most common case is you want the first sheet so its extra work to always have to select a sheet.

I'm not s

[2019-03-15 10:21] rdstern opened #5250 "Adding a right-click to the Column metadata"
In the Column metadata, see below, the right-click on the left-hand side gives the same as the right-click in the data, when you currently click in the name field.
Please could we add the right-click on the bottom tab.  This could be exactly the same as the right-click on the bottom tab in the actual data.

That's actually pretty useful, particularly as the metadata is "complete", i.e. for all col

[2019-03-15 10:59] dannyparsons commented on #5250
I think one reason we didn't yet do this was because you can easily delete the date frames from the right clicks and you may think you are just deleting the metadata.

[2019-03-15 11:01] dannyparsons commented on #5236
We should only have this on the main dialog if we actually want it there, not just because its difficult any other way.
I'm happy if its felt to be common enough for the main dialog. But if not, we should not make the main dialog more busy then necessary and look to solve the general problem.

[2019-03-15 11:06] rdstern commented on #5236
I agree we should try to solve the main problem.  And we may also want to connect other aspects, not least the means, quartiles and there are nice examples connecting the data points.  However, having one example as a tickbox on the main boxplot dialogue would be useful and the obvious one is either the medians or to have an option to display and then connect the means.  So the only simple ones is

[2019-03-15 11:18] rdstern commented on #5250
I don't buy that reason.  Anyone thinking they should want to delete all the metadata and leave the data should be suitably punished!
My reasoning is that (as with SPSS) you may want to always have the data on view.  But particularly with the R-Instat restrictions on data that view may sometimes not be as useful as having column metadata + output windows.  That's why we put the right-click on the

[2019-03-15 11:55] dannyparsons commented on #5236
How about a checkbox to connect boxplots with a line and a dropdown to choose median/mean/LQ/UQ? That would be simple as its just the function parameter in the geom.

[2019-03-15 12:09] rdstern commented on #5236
Lovely.  Could we then have more than one???

[2019-03-15 12:21] dannyparsons commented on #5236
Now you're pushing it!
I can't think of an easy way to design that without taking a lot of space. If there was we could. The advantage of the simple dropdown is that other functions could also be typed in.

[2019-03-15 12:24] rdstern commented on #5236
I understand.  In that case could my pull-down have mean, median, quartiles, rather than lower and upper separately?

[2019-03-15 12:28] dannyparsons commented on #5236
Possibly, that would then be 2 extra layers. Someone could try to do it and see if its difficult or not,

[2019-03-15 12:31] rdstern commented on #5236
Let's start with just one then first.  The mean or median would be fine and the most used options by far.

[2019-03-15 16:04] Patowhiz commented on #5215
I'll have the specifics added as I improve and add the methods in the PR.

[2019-03-15 17:32] rdstern opened #5252 "Trivial change in the Windows"
The Log Window is called Log.  Please could it be **Log Window**.  And could Script - in the Script Window be called **Script Window**.  This would be consistent with the other 4 Windows.

[2019-03-15 18:46] dannyparsons commented on #5252
Yes agreed.

[2019-03-16 07:46] rdstern opened #5253 "Long pending improvements in ggplot graphs"
There are a number of improvements to the graphs that have been waiting a long time.  Could those be reviewed in the week after the CLIMSOFT workshop?  I have suggested Maxwell and Danny to lead this - but not necessarily to do it!

Here are three.  I am sure there are more.

One that has a lot of discussion is that you currently can't edit a geom that was produced on the main dialogue.  For examp

[2019-03-16 08:22] rdstern opened #5254 "Add label as a geom aesthetic at least for geom_point?"
Adding the label doesn't change the visible plot.  But the information is picked up by the plotly display and that's great.  It may do no harm to add it to lots of geoms?  But I have (so far) looked at geom_point and geom_jitter and it works fine.  (It doesn't seem to do anything in geom_boxplot.) So I'd be happy if it is added to point and jitter for now.

For information, my label is the Date co

[2019-03-16 10:47] rdstern opened #5255 "Add options button to correlations when just 2 variables etc?"
I thought we already had an issue on this topic, but couldn't find it.  I have also found some other problems with the correlations dialogue.  I think they should all be easy?

1. Could we add the Options button to the 2-variable case?  I hope it might be trivial to add?
We now have to treat 2 as an example of many.  This adds an unnecessary step.
If, for some reason this is difficult, then could

[2019-03-16 14:41] dannyparsons commented on #5253
One source of bugs with the multiple option is that sometimes all the necessary columns for the plot do not get carried over when stacking. As the plot gets more complicated it's harder to keep track of all the columns being used in different layers, facets etc.
A solution to this is to carry all additional columns. It simplifies the code and removes these potential errors.

[2019-03-16 14:42] dannyparsons commented on #5253
On the addition of summary layers, I think this links to having an intermediate way of adding a layer which is simpler than the full method.

[2019-03-16 19:50] rdstern opened #5256 "Correct Kenya data when in CLIMSOFT meeting"
When you open the file WesternKenya.RDS you get 3 data frames.
1. Stations
2. Rainfall
3. All elements for about 7 stations

Please could you discuss with Marcellin and Samuel to correct the names/columns for the "All elements data frame."

The names of the columns are X2, X3, X5, X17, X18, X56, then X101, X102, X105, X106, X111, X139.
We should at least add labels to say what these numbers mean.

[2019-03-17 05:18] dannyparsons commented on #5256
The columns are already labelled with the element names but they could be changed to the column names.

[2019-03-17 09:37] rdstern opened #5257 "New data sets for the R-Instat library"
In the climatic guide I am (still) using the data from Samaru Nigeria.
[Samaru56.zip](https://github.com/africanmathsinitiative/R-Instat/files/2974978/Samaru56.zip)

The original Samaru56 is in the climatic guide datasets and I think it can stay there.
The 2 sets are the reorganised data.  They can go into a Nigeria folder

[2019-03-17 13:46] rdstern opened #5258 "Problems importing multiple files with Excel"
I have been using the Importing from Excel repeadedly.  It has been working very well.  Now it has a problem.  I suspect something is not clearing, so pressing reset may make it OK.  Or if I start again.  I don't wish to do that yet so we find the problem.  I suspect it is something not clearing.

First 2 small general points:
a) When I use multiple sheets and then return to the dialogue it is bac

[2019-03-17 21:51] rdstern commented on #4915
Now you are in the meeting it could be a good time to plan and possibly implement some of the improvements to the Climsoft dialogue.  I attach the first part of the Climsoft importing for the R-Instat climatic guide.  It doesn't make for easy reading.

Here are some points I noticed in using the current dialogue.
1) When I return to the dialogue (having made a connection) the top button says "Esta

[2019-03-18 15:22] rdstern opened #5259 "More climatic data for the library - Lesotho"
[Thaba_Tseka_original.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/2978902/Thaba_Tseka_original.xlsx)

Here is an Excel file to go into a new directory, i.e. Climatic > Lesotho.

There will be more, but this is to start with.

[2019-03-18 16:24] rdstern commented on #4529
In the climatic documentation I am using the Filter sub-dialogue, both with thye condition Date1 == NA and with Dup1 ==TRUE.
I know Lazarus has been making improvements to this dialogue.  Are they close to being in a new version yet, or do I assume the filter is the same as now, i.e. you have to type NA and TRUE?

[2019-03-18 17:52] rdstern opened #5260 "Small edit to Climatic > Define Climatic Data dialogue"
When you have duplicates in the data, the dialogue gives a message.  It says: "Use the Climatic > Check Data > Duplicates dialogue.

The name has now changed.  It is now Climatic > Tidy and Examine > Duplicates.

At the same time, and only if it is trivially easy, the Check Unique goes red after you press OK on that message.  I would slightly prefer it to go red immediately.

[2019-03-20 05:06] rdstern commented on #5235
OK.  I can live with it, as it is.  I am usually importing from Excel files with multiple sheets and not wanting the first.  This "feature" is currently the same as in the Filter sub-dialogue, where the first factor level is ticked by default - and I get messed up by that on occasions too.
But let's leave it as it is for now.  It works well overall.

[2019-03-20 05:13] rdstern opened #5261 "Minor edit on File > Open"
![image](https://user-images.githubusercontent.com/11226469/54660494-95e45b80-4ace-11e9-949e-7b1241777448.png)

Here is what I would like on this dialogue.
Currently the file name at the top is left justified, so you have no idea of the name of the file.  The field is also very small.
If it could be right-justified, as above, then you would know the name of the file you are opening.