[2017-03-23 09:03] rdstern commented on #2724
Great.  Thanks.  Looking forward.

[2017-03-23 09:14] rdstern commented on #2819
I suggest there are two options.  The first is that we keep the rule that climatic dialogues (like any others) keep what they had when you used them before.  So they would not autofill after you "corrected" the define dialogue.  As long as the user can complete that field i.e. the column is in the selector, then I am OK with that.

If the user wants them to autofill, then they press RESET.  My und

[2017-03-23 10:10] lilyclements commented on #2810
When we make the new version today, this will be fixed in it. This issue can be closed now.

[2017-03-23 10:23] lilyclements commented on #2819
Looked at the nuds and increased the maximum for the Capacity to be 500 and Water Balance max to be the maximum possible number. What is the preferred maximum value for Water Balance?

As for the issue with writing in the nuds, it is a Visual Basic issue due to the decimal places. I feel, particularly with the nud for Water Balance then decimal points are surely needed? What are your thoughts?
If

[2017-03-23 10:33] rdstern commented on #2819
If you are changing the dialogue to include > for the first time, this would be good, because it can then be used as an alternative for the start of the rains.  So the earliest date when the water balance is more than 40mm could be the start.

Of course then a sensible question is the first date that it is full.  So that would be the maximum.

The water balance is usually in mms, so I am not keen

[2017-03-23 11:09] lilyclements commented on #2819
Sorted the nud values out. Currently, I have only implemented where Water Balance =< Rain-Amount. Shall I implement now for the version for today to have Water Balance >= as well as =<?

[2017-03-23 11:10] rdstern commented on #2819
Only if easy.  It isn't needed for today.

[2017-03-23 11:18] lilyclements commented on #2819
I'll keep fixing small bugs around the software and see what jobs Danny gives us for corruption. I'll only start on this today if I think I can finish it today!

[2017-03-23 13:41] lilyclements opened #2846 "dlgImportDataset bug"
There are two bugs in this part:
* If I have a dataset called A and then import another dataset where in "New dataframe name:" it has the same name as a previous dataset (e.g. A) then it overwrites the previous dataset. We need a prefix of some sort to have A1 as the second dataset and/or a warning if you overwrite a file
* Sometimes when importing from xlsx, it only imports the first nine lines.

[2017-03-23 13:51] lilyclements opened #2848 "Metadata bug with Climatic_Type and Class alterations"
There is a bug with the metadata. I can set my variables as a climatic_type, and then if I alter the class of one of these variables, that variable has a climatic_type as NA now as opposed to what I set it as before.

![image](https://cloud.githubusercontent.com/assets/21180424/24250911/58eb3a0e-0fd0-11e7-8419-a93a935bef5e.png)

[2017-03-23 15:26] dannyparsons commented on #2834
@stevekogo Is on this now. It needs to be fixed for today's version.

[2017-03-23 15:38] dannyparsons commented on #2846
Can you specify conditions for the 9 lines bug? That should be fixed urgently.

[2017-03-23 19:46] #2820 closed

[2017-03-24 14:40] rdstern commented on #1920
I have been checking this dialogue.  Some parts run well.
a) It does not recognise the defined climate data.  The firlds could be completed automatically, as is done in  some of the other dialogues, e.g. start of the rains.
b) My first test - with the Dodoma data - was the annual rainfall indices.  OK except for 2.  Got error message with the percentile ones:  (indices 25 and 26), e.g.
-----------

[2017-03-24 14:46] rdstern commented on #1920
I now did the 2 monthly rainfall indices.
They seem to work nicely except for the formatting.  The 5-day looks like this:  82.79999999999999715783 in the sheet.
I suspect this might be a more general formatting issue.  Good to discuss with David and Danny.

[2017-03-24 15:00] rdstern commented on #1920
Missing values  seems not to work.
In the Dodoma data the last year has 2 months missing and 2012 has one month missing.  I changed the criteria in the dialogue to 75 days, but couldn't see that anything has changed in the commands.  Certainly the results are unchanged.  Good if this could be checked.

[2017-03-24 15:01] rdstern commented on #1920
I tried the temperature inidces - all of them - bravely - and it just threw me out of the program.  I was using the latest compiled version.  perhaps you could check what happens here?

[2017-03-24 15:03] rdstern commented on #1920
Another thought.  Our data sets will often have multiple stations with station an extra factor column.  What happens then?  Ideally it would do each station in turn, adding the station as another column into the summary data frame.

[2017-03-24 15:24] rdstern commented on #2836
The climatic events are working much better now.  Well done indeed.

I used the data from Timehre - shared above I think, but could try with another.

Definition was from day 92 to 366.
7 day rainfall > 80% point.
4 days out of 7 with rain
It ran OK.
Then changed 4 days to 2 days.  Also ran OK.  But we noticed that the second set was sometimes later than the first set and this cannot be.  The cond

[2017-03-24 15:39] rdstern opened #2854 "Bug in Calculator or elsewhere - perhaps from climatic dialogues?"
I tried the calculator in a simple way and it seems fine.
I then repeated an error from this morning, this time using Dodoma
a) Got start of rains
b) Got end of the rains - in column called Water1
c) then tried calculation, namely **Water1 + 366** putting the result in a column called **End**

---------------------------
Error running R command(s)
---------------------------
Error in Water1 + 366

[2017-03-24 16:31] dannyparsons commented on #2854
from your error it seems Water1 is not recognised as a numeric column. Could you check the class of this in the metadata? @lilyclements could try replicate this as well.

[2017-03-24 17:03] rdstern opened #2855 "Describe > One Variable > Graphs"
I tried (as usual) with the diamonds data set
Violin plots still don't work.
Violin plus jitter don't either.

Good to go through and check the different options - or disable them for now.

[2017-03-25 07:42] rdstern commented on #2757
The dialogue seems to work.  For the graphs why disable the sort option?  It would be useful.
I assume the work will resume (at some stage) on the tables being in the output window?

[2017-03-25 07:52] rdstern commented on #2759
I still don't understand why the Counts checkbox, or Option remains absent from the 4 options in this dialogue.  For the graphs it should be trivial.  For the tables I would be happy for now if none checked gave just counts, i.e. the same as just the first checked.  Ideally there would be a bit of code - user control? for a set of checkboxes where none checked automatically checks the first, when

[2017-03-25 14:22] lilyclements commented on #2854
I'll have a look at this later, apologies. As for the vast amount of R code - first time it runs, the assignment runs. The assignments do not run after the first time. Is this because Ive set assignment in the initialise? I'm not sure.

[2017-03-26 12:52] lilyclements opened #2857 "dlgLabels - enhancement"
Small query about dlgLabels.
@africanmathsinitiative/developers These are general notes and issues from yesterday

1. Unanimous feedback I had from everyone from the AIMS students is that the factor grid here is too small especially when dealing with long names or names with similar starts (e.g, we saw "United" and didn't know if it were UK, USA, UAE, turns out it was United Republic of Tanzania).

[2017-03-26 13:48] lilyclements commented on #2846
So, it seems to be with xlsx files,

[2017-03-26 13:53] lilyclements commented on #2846
So, it seems to be with xlsx files (potentially any excel file?). For example, any of the Climatic_guide_datasets:

[code]

If I close and reopen then press OK, it runs it fine

[2017-03-26 14:18] rdstern commented on #2857
Delighted to have this issue opened.  I would like to include a more general context to this all, partly because I have wanted improvements to the Levels/Labels dialogue for some time.  But there are others as well that we could reflect on.

a) Most statistics packages don't deal very well with Factor columns.  We have started OK, and it would be great to do better.
b) We can cope quite well with

[2017-03-26 14:33] rdstern commented on #2846
On names I am happy with the actions in other software, where it warns you and allows you to overwrtie if you wish.  I sometimes do wish.  Ideally it would also have the option to add a prefix.  I don't particularly need the option to make a new name myself.  But I don't mind if it gives me the old name and then asks, or if it gives me its proposed new name.

[2017-03-27 05:57] Lunalo commented on #2857
@lilyclements

I encountered the first part of this issue when demonstrating to AIMS students during corruption workshop.

We should  restrict if the user only want to see the levels and their labels but not adding new level(s)

In fact the title of the dialog might be misleading . It is levels/labels. Is there a possibility of splitting this dialog into two?
Add Levels and Levels/Labels.

[2017-03-27 09:12] lilyclements opened #2861 "dlgLabels - R-Error"
I have moved the issues of the labels bug to here. @africanmathsinitiative/developers let me know your thoughts on the following -

If the user opens Levels/Labels to explore their data and presses OK without adding a new level, an R error comes up saying that new_levels is not specified.
If I then add a level and press OK then it runs fine, as expected.
If I then re-open the dialog and do not add

[2017-03-27 09:47] lilyclements commented on #2857
I have moved the bug part of the issue to #2861 now to keep it separate.

There are two other things we are discussing here - Dealing with factor columns/etc and the dlgLabels. Perhaps we should split one of these into another issue to discuss them separately?

[2017-03-27 10:49] lilyclements opened #2862 "Receiver label-names consistency - enhancement"
@africanmathsinitiative/developers There is very little consistency between the label names for the receivers. I just opened five random dialogs and got:
Selected Variable(s):
Columns to Transform:
Factor Selected:
No name at all - _(Steve is working on that dialog so I mentioned that on the pull request as that needs to be fixed!)_
Variable:

I mentioned this to Danny and he made the point that w

[2017-03-27 10:51] lilyclements commented on #2857
As for Rogers point -

In what way do other packages not "deal well" with factors? The only click-and-select package I have used is minitab and I did not use that too much. Apologies if the question is tough to answer. Perhaps when I'm back tomorrow you can show me how on another software programme?

[2017-03-28 08:58] rdstern commented on #2759
These comments apply to both the one-way and the two-way frequencies.

1) They are examples of graphs (and tables) that use a special function - here sjp.xtab (and sjp.frq for oneway).  This is similar to the special function used already for wind roses.
2) Usually we don't do this - we build up the ggplot ourselves.  But we want to take advantage of these special functions when they are useful.

[2017-03-28 11:32] stevekogo commented on #2762
@rdstern The bugs are bow fixed and the dialog seems to work fine like it used to before the new system was implemented. I will now go ahead and swap the receivers as you mentioned.

[2017-03-28 11:52] stevekogo commented on #2762
@rdstern What is the main reason for swapping the receivers? I hope we will still perform the same summaries w.r.t the column types.

[2017-03-28 11:54] stevekogo commented on #2762
Initially, having numeric columns in the multiple receiver and factor column in the single receiver resulted in summaries by factor. Will this still be the case upon swapping the receivers?

[2017-03-28 11:55] stevenndungu commented on #2759
@rdstern thanks for the additions above. I am happy starting it off then will ask when not certain on what to do.
A quick check from you:
1) I have changed the design slightly to,
![image](https://cloud.githubusercontent.com/assets/20383893/24403215/817d34f2-13c4-11e7-84c3-dcbb02c4233a.png)
i thought of changing to the above design to accommodate the option of having customized tables and graphs i

[2017-03-28 12:26] lilyclements commented on #2759
The layout looks okay. I have a few comments on the tiny details of it (Frequencies is spelt wrong on the first image, not equally spaced etc) but I assume I can make them on the pull request? I'm on my phone so can't do pull requests great right now!
Also, in a couple of dialogs now I've seen where we want to have a checkbox for ucrSave but not the corresponding textbox/combobox. Perhaps we shoul

[2017-03-28 12:43] rdstern commented on #2762
The main reason is simply that the idea is that there is a particular column of interest.  And this is to be examined in relation to various other columns.  It just seems more logical to put the single column first.  The analyses stay as before.

[2017-03-28 12:52] stevekogo commented on #2762
What happens to the multiple receiver, do we still need to restrict it to
columns of the same type?

On Tue, Mar 28, 2017 at 3:43 PM, rdstern <notifications@github.com> wrote:

[2017-03-28 12:54] rdstern commented on #2762
Yes.  Just the same as before.

[2017-03-28 13:56] stevenndungu commented on #2759
@lilyclements thanks on ucrsave, am happy to discuss that.
When graph is checked we have weights, Flip coordinates and frequencies group box only other options am planning to have them in the subdialog after the form changes you made are merged. Note: weight is for both Table and Graph that's why I placed it above there but flip I can bring it under the Graph checkbox.

Yes, `sjp.xtab`has strictly

[2017-03-28 19:58] lilyclements opened #2868 "Easy-to-Use Software"
@africanmathsinitiative/developers I've been trying to have a little think about how to make the software easier to use after a comment on Friday that R-Instat is not "easy to use". I've had a little explore of other softwares for some ways I think they make it easy.
I don't know if these ideas weren't implemented for a reason, if this is the case it would be good to know why.

So, as a quick draf

[2017-03-29 07:02] dannyparsons commented on #2868
I like this discussion and agree with many of the points.
On the issue of the Add button, our current implementation requires the concept of a current receiver, so that the variables available in the selector can change for different receivers. If we want to move the add button to the receivers we have to think how it will be compatible with this.

[2017-03-29 07:08] dannyparsons commented on #2868
Your point about not experiencing other software is interesting too. Roger wrote a very nice document way back in the beginning (October 2015) comparing the interface and menus of other stats software. I don't think any of us could appreciate it much at the time but now it would be quite useful to revisit when thinking about "making it easy". I will try to find and forward to everyone.

[2017-03-29 07:22] maxwellfundi commented on #2868
@lilyclements  This is a good start with these discussions and as Danny has forwarded the document by Roger, we need to revisit the document then have more points of comparison so that we could end up with a structure of making our package easier.

[2017-03-29 13:09] dannyparsons commented on #1944
There is a simple, very quick solution to this which we could implement now. For radio buttons that we would like to have as "buttons" instead of "circles" we can just change the Appearance property in design view to "Button" for each radio button. I suggest we do this now for these kind of radio buttons.

The appearance could still be improved on but I think that's something we could improve late

[2017-03-29 13:53] lilyclements commented on #2759
Okay, so the col, cell, row options would be radio buttons. However, there is an option to show the counts or not - surely that is what `show.n` does? This is a boolean which is default `TRUE` and when `FALSE` this doesn't show the counts

[2017-03-29 15:06] #2861 closed

[2017-03-29 16:51] rdstern commented on #2757
Steven thank you for the drafts of the sub-dialogues.  I have now looked at the function in more detail - in RStudio.  I used the ggplot diamonds data as an example.  Some of those columns (3) are factors and the others are numerical.  Here are my thoughts - here on the graph - next on the table:
a) We do want to allow either type of data to be used to be used (numeric or factor).
b) We don't need

[2017-03-29 17:23] rdstern commented on #2757
Now I look at the details for the table, most of them are different from the graph.

So it could be that the items that are the same would be on the main dialogue, and those that are different are on the sub-dialogue, in their respective tabs - sort of as you have.

This could mean that the "Group Data" option (see item j) above, is on the main dialogue.  And you may want to move the saving of the

[2017-03-29 18:16] stevenndungu commented on #2757
Wauw! Well simplified. Thanks for this, I will make the adjustments and have the sub-dialogue working tomorrow.

[2017-03-30 06:11] rdstern commented on #2757
For reference for later.  This would be great to get working with these options, and in this form.
There are then some further possible steps that could be welcome given this command and the menu.
a) Investigate the stringdist package.  The place for the dialogue is already there, namely Prepare > Column:Text > Distance.
b) Consider having a "wrapper" for this command, so that it can be used for c

[2017-03-30 06:56] Lunalo opened #2873 "Passing NULL value in the receiver for columsns to Carry in dlgStack"
Hi Team,

I learnt from  @stevekogo  review that if the ucrChkColumnsToCarry is unchecked then we should pass a NULL value to id.vars.

id.vars parameter is set for the ucrColumnsToCarry which is linked to the above named checkbox.

The checkbox need to be unchecked on default which means the receiver should be invisible. If the checkbox is unchecked then the focus should be on this receiver.

We

[2017-03-30 07:34] dannyparsons commented on #2873
Thanks for specifying this issue. This is something we need to incorporate into the new system. I will investigate.

Your suggestion of setting the parameter default to NULL won't work for Stack because it use's the `melt` function not an instat object method.

[2017-03-30 08:31] rdstern commented on #2759
In your proposed dialogue above:
a) The label in the first block should remain the same.  It could be Display (Table).  In the second it could be Margin (Graph).
b) You are correct that it does not seem possible, in the graph, to have the y-axis showing the counts.  I have written to the person who produces the package, so please (for now) keep the dialogue as you have it, with the counts disabled

[2017-03-30 08:58] rdstern commented on #2759
I now (already have a reply from Daniel Ludecke - who has written the sjplot package.    On my item be he says as follows:

Dear Roger,

thank you for your feedback. Your first suggestion seems already to be solved:

For counts, you can use `sjp.grpfrq()`: sjp.grpfrq(diamonds$color, diamonds$cut)

[2017-03-30 09:20] Lunalo commented on #2873
Thanks @dannyparsons

This will be very helpful

[2017-03-30 10:25] rdstern commented on #2757
[http://www.lse.ac.uk/methodology/tutorials/SPSS/describingCategorical.aspx](url)

This is an interesting and simple video that shows the use of the same function in SPSS.  In the tutorial there are some interesting things to notice.  One is the dialogues that contain the variable labels rather than the short names of the columns.  Notice also the use of value labels - which are our factor labels.

[2017-03-30 13:08] dannyparsons opened #2875 "Include package names in functions?"
In R you can include the name of the package with the function name. For example:

`rio::export(data, "mydata.csv")`

is equivalent to:

`export(data, "mydata.csv")`

This can be useful if you have multiple packages using the same function name. In our setup we make sure to load the packages in the correct order so this is not needed.

However, we may still want to include these:

1. As good pract

[2017-03-31 06:13] Lunalo commented on #2873
If actually we want to pass NULL value by default then why should we have the checkbox to control the passing of id.vars.

I would suggest we remove the checkbox since a value of parameter is being passed whether it is checked or unchecked ? @dannyparsons  @rdstern  @stevekogo

[2017-03-31 06:53] Lunalo commented on #2875
@dannyparsons  this is very interesting . I partly like the idea of calling the functions with their packages  because:-
1) Because of some of the reasons you gave
2) It will encourage learning .

But i tend to believe this might only work well for the functions we are calling directly from r.
We should also understand that this is not the only way of importing/ loading  R packages because we stil

[2017-03-31 07:16] dannyparsons commented on #2873
The checkbox is because id columns are optional. If it is checked then it should pass the column names - not NULL.

[2017-03-31 07:39] dannyparsons commented on #2875
For instat methods they don't have a package so this doesn't apply (but eventually they will be in an R package as well) so eventually we will be able to do this consistently.

The separate point on loading packages I think we discussed that this should be done by each dialog as there are too many packages and it's too slow to load all at the beginning - also inefficient as a user may only use a s

[2017-03-31 13:04] lilyclements opened #2878 "dlgDescribeOneVariable - Summaries bug"
There is a problem with the sub dialog (sdgSummaries) for dlgDescribeOneVariable. An error occurs if I have a factor and a variate in my receiver, and under custom summaries, only apply summaries suitable for a variate. (i.e., do not apply the checkboxes in the "Common" groupbox)
Since the factor is only running NA's in this instance as it does not have any suitable summary statistics from what ha

[2017-03-31 13:28] rdstern commented on #2757
One extra check box for the table output is as follows:
g) Name for the Counts.  If checked, then  you can input a string.  The default is N.  The is the string.cnt argument.

One reason I think this could be useful is shown by the example with the standard survey data.  Get the table with Village as the factor and Yield as the weights.  Then the values in the N column are the total yields in each

[2017-03-31 13:46] lilyclements opened #2879 "One Variable Graph - Single Graphs bug"
On One Variable Graph, facets and combine graphs save well. However, there is an error with "Single Graphs"

If I open the dialog for the first time, and select "Single Graphs" and "Save Graph", the graph does not save: 1. it always calls the graph _onevar1_ if I reopen the dialog and add different variables/etc, 2. It doesn't show up on the dlgUseGraph dialog.

If I then save another graph (e.g.

[2017-03-31 15:33] dannyparsons opened #2882 "Aborting R command mid process"
Just putting this here as reference. We should do this before July.

We need to be able to abort an R command mid process so that the program cannot get stuck. I believe this will be useful: https://binary-studio.com/2015/10/23/task-cancellation-in-c-and-things-you-should-know-about-it/

[2017-03-31 15:45] dannyparsons commented on #2882
and this http://www.dreamincode.net/forums/topic/222748-tasks-net-40/

[2017-03-31 15:48] dannyparsons commented on #2882
https://msdn.microsoft.com/en-us/library/dd997396(v=vs.110).aspx

[2017-03-31 15:50] dannyparsons commented on #2882
https://msdn.microsoft.com/en-us/library/dd537607(v=vs.110).aspx

[2017-03-31 15:51] dannyparsons commented on #2882
https://msdn.microsoft.com/en-us/library/system.threading.tasks.task(v=vs.110).aspx

[2017-04-01 08:23] rdstern opened #2885 "Using the metadata grids more, including variable labels"
[Enhancing the Column metadata and Dara Frame metadata windows.docx](https://github.com/africanmathsinitiative/Instat/files/887471/Enhancing.the.Column.metadata.and.Dara.Frame.metadata.windows.docx)

I have continued to ponder what we should do about variable and value labels.  I am particularly interested in value labels to really sort out our use of factors.  But I think it could be good, and si

[2017-04-02 07:52] rdstern opened #2886 "Adding labels to R-Instat"
This is urgent, because we need to solve various problems in our current use of R-Instat with factors.  Here are some problems.  Then I give the directions for the solution.  But there are various ways we can solve the problem and the route/dialogues is not completely clear to me.

First we need to understand two terms, namely **Variable Labels** and **Value Labels**.

There is an interesting disc

[2017-04-02 10:07] rdstern commented on #2886
To motivate the discussion on **Value Labels** in R-Instat I consider first **Genstat** and then **SPSS** and **Excel/Open Office** as well as R.
![genstat levels and labels](https://cloud.githubusercontent.com/assets/11226469/24585864/60f67998-178c-11e7-8df9-9d5a78acd058.jpg)

I have used our usual survey data set (in Genstat) and made the Fert column into a factor column.  I have also added a la

[2017-04-02 11:29] rdstern commented on #2886
Improving the Factor Data Frame.
Currently there is a dialogue **Prepare > Column: Factor > Factor Data Frame**.
I propose improvements to this dialogue.
1) A minor change is that the **Contrasts checkbox should be unchecked** by default.
2) The data frame has (correctly) the name of the column.
3) I think the initial column (also called Village, and made into a factor) might have a different name

[2017-04-03 06:23] stevekogo commented on #2878
This is an interesting bug. Let me dig into the summaries method and try to fix it.

[2017-04-03 06:27] rdstern commented on #2886
The idea of our factor data frame does seem to hold up, but the way it handles being linked to a factor column needs further clarification and discussion for a number of reasons.
1) Currently you can generate a factor data frame from a factor column.  But we don't yet have a way of saying that an existing data frame now qualifies as a factor data frame.  For example when entering climatic data we

[2017-04-03 09:23] maxwellfundi commented on #2697
@dannyparsons  i would like Hmisc package to be added for the One Way Frequency Dialog to do weights.

[2017-04-03 12:46] dannyparsons commented on #2697
Ok will add this in next time

[2017-04-03 13:30] rdstern commented on #2815
Please could work resume on the keys and links dialogues?
I am suggesting John and Steven, because I assume they will become world authorities on the Prepare menu!  That's your paper after all.
The recent SPSS datasets I have attached could be used as a realistic check on the system, see #2757 .
The first 2 columns in the main file can make a key.  This dialogue seems to be working.
But the View k

[2017-04-04 07:26] rdstern commented on #2759
I have yet to see how far you have got on the 2-way dialogue.  I presume - like one-way frequencies, for now it will be a choice between a table and a graph.  That will mean the block can be in the same place, making for a neater dialogue.

1. For the graph you have the choice between dodge and stacked.  That is the bar.pos argument, where the default (I think) is side-by-side (dodge).  This is th

[2017-04-04 08:01] stevenndungu commented on #2759
I am making the adjustments needed, sorry I got back to one way frequencies to check on the review comments yesterday (I will check with you on skype on the same - because i feel there is a little of mis-understanding of how the dialogue should work from different reviewers, which you can clarify).

[2017-04-04 12:11] PatrykNjoroge opened #2893 "Generating Random Samples"
![generating random samples](https://cloud.githubusercontent.com/assets/23484030/24655850/95c78cda-1948-11e7-96c9-bd6ce2d4ed74.PNG)
Hi team,
I was generating Random samples and I encountered this error while trying to run a command.
Thanks
Patrick

[2017-04-04 12:23] dannyparsons commented on #2893
Hi Patrick, thanks for reporting this and giving the error message.
Could you help us my telling us how we can reproduce this error? So could you say which data set you used and the sequence of things you did to leading up to this dialog (if any) and also what you did in the dialog before clicking OK. Thanks.

[2017-04-04 12:38] PatrykNjoroge commented on #2893
Hi Danny,

Hi @dannyparsons I had two sets of data frames "attitude and air quality" from the stats package. I wanted to perform a simulation of "air quality" data and therefore I was prompted to select the data frame I want to work with. It is important to note that I had previously selected "attitude" before reverting to "air quality". The issue was later resolved by the "reset button".
Thanks

[2017-04-04 12:47] dannyparsons commented on #2893
Thanks Patrick.
@africanmathsinitiative/developers Can someone try to reproduce this from Patrick's description? Then try to find the issue if you can reproduce it. If not, then discuss with Patrick to get more details about what he was trying.

[2017-04-04 13:33] Lunalo commented on #2893
@dannyparsons

Currently , the sample size is being updated in the control but not in r code every time we change the dataframe.

This dialog has similarity with model dialogs since they are both using ucrDistributions.

 The dialog also has the old code and to update it needs ucrDistributions to be updated too.

Should we just fix this bug in the old code or wait until ucrDistributions is fixed?

[2017-04-04 13:35] dannyparsons commented on #2893
I think it should be fixed now so that it doesn't give an error. Then we can come back to it to re implement it in the new system.

[2017-04-04 13:37] Lunalo commented on #2893
okay, let me fix it.

[2017-04-04 13:46] mmumbo opened #2894 "Redesign Describe One Variable"
Hi team,
I was trying to create some summaries on measure of central tendency 'Describe one variable' dialogue but i find it a bit unclear on these areas;
(1.) Removing a variable from the receiver dialogue, besides double clicking is it possible to add a left                        arrow as indicated in the screenshot below to remove variable from the receiver dialogue?

(2) Can 'customise' radio

[2017-04-04 14:19] lilyclements commented on #2894
I agree with (2). I'm not keen on there being both a "Customise" checkbox and a "Summaries..." button. While I am aware the checkbox means that the base function changes, as a user I may not be aware of this and hence all the checkbox seemingly does is enable the button.

* We can't have just the button as otherwise the user can't change the base function back to summary() without resetting the di

[2017-04-04 14:47] dannyparsons commented on #2894
Thanks for the issue Mike. I agree the dialog is confusing in the current state. Not sure how to make it less confusing though. Possibly radio buttons for a choice of "auto" summaries or "customised"?

On the back arrow point. It was something we discussed initially and thought we preferred to keep the dialogs simple and not have it if we don't need it. There is double clicking as well as backspac

[2017-04-06 08:22] shadrackkibet opened #2898 "Data Options error"
@africanmathsinitiative/developers .I was testing dialogues and found that when you choose data options and move to to the data frame selector it allows you to choose "no_filter" .once to select "no_filter" and want to return back to the main dialogue  by pressing the return button **severally** it breaks.  you can check at this screenshot for the error.

![image](https://cloud.githubusercontent.c

[2017-04-06 08:38] dannyparsons commented on #2898
Thanks for finding this. @lilyclements is this related to the bugs you were working to fix on the filter dialog?

[2017-04-06 09:56] lilyclements commented on #2898
I don't believe this is related.
@shadrackkibet Which dialog were you using to get to this sub dialog? I can't seem to replicate this error. However, I am able to select "Return" several times if I click really fast which does not seem right at all!

[2017-04-06 10:28] dannyparsons opened #2900 "Auto scrolling in main windows"
When we add something to the Output, Log or Script window, it should automatically scroll to the bottom of the box so you can see the new text/images. We had this with the old output window but not since we implemented the html version. I hope this is straightforward to do.

[2017-04-06 12:19] Lunalo opened #2901 "Adding Remove button on the Data Selector"
I was using our software and in the process of adding variables to the receivers I added one variable by mistake.

So, I got into the receiver to get that variable back to the selector. I realized we only have two  command buttons on selector (Add and options) and the only option I was left with was to double click on that variable in the receiver in order to remove it.

Can we have an additional

[2017-04-06 12:32] Lunalo opened #2902 "Do we still need a variable to remain in the selector after it is added in the receiver?"
I want to do a two way table for example. I have two receivers; one for variable x and remaining one for the other

I decide to add x to the receiver and I realize that the variable is still in the selector. If I get into the second receiver, am allowed to add the same variable. This is the current situation which I feel is not appropriate.

So, I suggest we need to be getting rid of a variable in

[2017-04-06 12:39] dannyparsons commented on #2901
I think the original reason for not having the remove button was to avoid having too many buttons on a dialog. Removing can be done by double clicking, backspace or delete keys, or for a single receiver just replacing it with another variable. The add button was seen as more important than the remove button.

However, if users are going to find this confusing then it's something we can consider ad

[2017-04-06 12:42] dannyparsons commented on #2902
There are a few dialogs which do this already. Define climatic/corruption for example.

There are two cases: one where you will get an error or cause a bug if a column is in two places (define climatic) and one where you might get something that isn't sensible/appropriate (two way table).

I think we need to separate out these two cases and decide what behaviour we want in each case. My initial fe

[2017-04-06 12:46] Lunalo commented on #2902
Thanks @dannyparsons

What if we include a check in the TestOK for the second case?

[2017-04-06 12:52] dannyparsons commented on #2902
That's essentially the same as not allowing it, except in a more annoying way because you will be allowed to have the two receivers with the same column but then won't be able to click OK. If you can't click OK, why did we allow it in the first place? It would also be confusing if you don't realise why OK was disabled. I think we have to either prevent the receivers having the same column or just

[2017-04-06 13:06] stevenndungu commented on #2814
This issue can be closed. It was sorted out

[2017-04-06 13:16] #2814 closed

[2017-04-06 17:16] stevenndungu commented on #2759
@rdstern @lilyclements
Question:
 Is plotting a line graph of categorical variables sensible statistically?
I thought they are only meant for continuous variables only  to show trend over period of time(?).

  I see that we are doing this In two way frequencies since the receivers are restricted to only have categorical variables only. Well, the package generates a line graph which looks really go

[2017-04-06 18:52] rdstern commented on #2759
Well spotted.  I get the same problem.  We can get line plots for the counts using sjplot(...fun="grpfrq"...)

And it may be sensible in some instances for ordered factors.  But (at least for now) let's concentrate on the bar charts.  So get rid (or hide) this control for now.

[2017-04-07 06:30] shadrackkibet commented on #2898
@lilyclements . The issue was with most of the dialogues that i tested for example The two way frequency.when you click return on the subdialog once it works well. my question is; can there be a problem when the subdialog allows you to select "no_filter"???. @africanmathsinitiative/developers

[2017-04-07 07:04] shadrackkibet opened #2903 "dlg Summary Tables not working."
@africanmathsinitiative/developers .I was testing summary tables dialogue and found that it is not working as expected. Test ok and click reset not working. Can someone check this ?

![image](https://cloud.githubusercontent.com/assets/26301973/24789042/9da6332e-1b79-11e7-81b9-85cd77352341.png)

[2017-04-07 07:51] dannyparsons commented on #2903
I believe this dialog is not complete. But then OK should not be enabled. Can you fix the dialog so that OK is disabled for now?

[2017-04-07 07:52] dannyparsons commented on #2898
"no_filter" is an acceptable option since it removes all filters. However, it shouldn't crash. Maybe you could demonstrate to Lily?

[2017-04-07 08:22] lilyclements commented on #2898
@shadrackkibet let's have a skype over the issue because I can't seem to replicate this crash

[2017-04-07 09:53] shadrackkibet commented on #2898
@dannyparsons .Thanks for explaining the point of choosing a "no_filter". @lilyclements  i have checked this with @AlexSananka  and the reason why i was getting this error was because i  was pressing the return button for long time and thus the dialogue crashes.This seems not be a big deal.

[2017-04-07 09:55] lilyclements commented on #2898
If it crashes then I feel it is a big deal which we need to fix! It's a good bug to find, however, I do not know how to fix it but would be interested if someone else knows for them to explain it through to me?

[2017-04-07 09:55] shadrackkibet commented on #2903
@dannyparsons. yes I can do that.

[2017-04-07 10:00] dannyparsons commented on #2898
@shadrackkibet Yes it good to try all sorts of strange things with the software. Of course, it's not sensible to press buttons in strange ways but users might do it, especially our target audience who may be inexperienced computer users. It wouldn't be good if the software crashed when they did something that we allowed in the software.

My guess is that we need to do something like what we do for

[2017-04-07 11:12] shadrackkibet commented on #2898
@dannyparsons . i will get in touch with @lilyclements  to explain how i got this error , so that possibly she can figure it out. otherwise @africanmathsinitiative/developers can also suggest a solution to this because it seems crazy.

[2017-04-07 12:14] lilyclements opened #2906 "ucrSave Overwriting Dataframes/Columns - enhancement"
We need to implement into the ucrSave a warning if the user is naming a data frame as a data frame already in R-Instat. This way the user has a warning if they are about to overwrite a data frame.

This can similarly be done for columns.

[2017-04-07 12:15] shadrackkibet commented on #2898
@lilyclements .I hope you can now replicate the same error in your machine.

[2017-04-07 12:20] lilyclements commented on #1944
I have put these new buttons on a dialog. I'm not sure about the layout chosen, however. Do we want bigger buttons, smaller buttons, do we want them in a group box? It doesn't look right to me like this but I can't pinpoint what to change
@africanmathsinitiative/developers what are your thoughts?

![image](https://cloud.githubusercontent.com/assets/21180424/24799722/be01b3ee-1b94-11e7-9e4c-6745ce7

[2017-04-07 12:26] lilyclements commented on #2898
I'm trying to but I can't get more than eight clicks in before it actually returns!

[2017-04-07 12:42] dannyparsons commented on #1944
I think the examples I showed above look good. So that's probably a bit too big and I like them with no gap in between. I also like the consistent border colour of my examples. Could we try something like a blue border for these buttons?

[2017-04-07 12:54] lilyclements commented on #1944
I'll look into border colour.

I'm not so keen when there is no gap since it goes like this with the tiny gap between them
![image](https://cloud.githubusercontent.com/assets/21180424/24800815/a04627f4-1b99-11e7-85cc-11eef43fb345.png)

[2017-04-07 13:26] shadrackkibet opened #2908 "R instat window restore button."
@africanmathsinitiative/developers .I was using our software and comparing with other statistical softwares i.e R and SPSS and i found something crazy. when you click on the "restore" button up there you find that our software minimizes too much such that the user cannot navigate on R Instat anymore.According to me i find this not really good as this might inconvenience  the user "probably". check

[2017-04-07 13:42] lilyclements commented on #1944
When I make the border thicker then this is no longer a problem with the gap. How about this?

![image](https://cloud.githubusercontent.com/assets/21180424/24802567/57b91d46-1ba0-11e7-9054-057249529e14.png)

I can't seem to change the font colour for the checked item, otherwise I would. What are your thoughts?

[2017-04-07 13:55] dannyparsons commented on #2908
Yes it is a bit small when you click restore. I think this might be something to do with the original size of frmMain which is set in its Properties. You could see if changing that has an effect, although I guess it is also screen size dependant. If it's not quick to change then I suggest we don't worry about it as I don't think Restore is commonly used.

[2017-04-07 13:57] dannyparsons commented on #1944
That looks much nicer, I like it. I think the buttons are still a bit too dominating in the dialog, but that's a detail.

[2017-04-07 15:33] #2893 closed

[2017-04-10 08:08] shadrackkibet opened #2910 "dlgScatterplot."
@africanmathsinitiative/developers .I was testing dialogues and found that on the Scatter plot dialogue the multiple receiver is hidden such that the user might not easily see it.Is there a way that we can make the multiple receiver easy to trace?. Maybe when the user selects more than one variables the multiple receiver pops or maybe have a multiple receiver separately.

[2017-04-10 08:44] maxwellfundi commented on #2910
The graphics dialogs have a special control, where you have to select if you want a multiple or single receiver.

[2017-04-10 08:59] mmumbo commented on #2910
Hi Max,

I agree with you, its a bit confusing for the first time user. Could we
have something like a drop-down arrow where one can select whether single
or multiple variables instead of double clicking?

Thanks,
Mike.

On Mon, Apr 10, 2017 at 11:49 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2017-04-10 09:02] dannyparsons commented on #2910
Currently the button at the top allows you to switch between single or multiple variable with one click. I agree it's that obviously, would be very happy if someone came up with something that they felt was easier to use.

[2017-04-10 09:05] dannyparsons commented on #2910
Although you should remember that the most common use of the dialog will be the single variable case, so we don't mind if a bit of understanding is needed to use the multiple case (e.g. a video!)

[2017-04-10 11:49] lilyclements opened #2913 "Radio Buttons as Buttons"
@africanmathsinitiative/developers I think it is good for people to say their thoughts on the radio buttons and buttons situation. Such as colour, size, location, thickness, etc, etc. Anything!

Currently it looks like this:

![image](https://cloud.githubusercontent.com/assets/21180424/24860089/dc62d518-1dea-11e7-8847-e9092f1d1d53.png)

To do this, select your radio button on the designer and chan

[2017-04-10 12:11] dannyparsons commented on #2913
I think this looks pretty good already. I agree it could be improved maybe but not sure it's a priority now. Could possibly try something like a darker blue and then white text when the button is selected? I like when the colours are inverse for the selected button.

[2017-04-10 12:13] lilyclements commented on #2913
I agree, however, I couldn't find a way to make the text colour changed for when it's checked

[2017-04-10 12:16] maxwellfundi commented on #2913
Thanks @lilyclements for this and taking me through it too.

[2017-04-11 08:01] rdstern opened #2914 "String handling"
We want R-Instat to become very good at handling string columns.  This has started and here is a suggestion for a dialogue that could be Prepare > Column: Text > Find/Replace.

Danny may have further suggestions.  This is not for the forthcoming release on Thursday, but the task in the comment below this suggestion IS to be done this week if possible.

So for the forthcoming dialogue:
1. We'll sta

[2017-04-11 08:16] rdstern commented on #2914
OK, now what you should do this week if possible is to notice that all we want in this dialogue can already be done with our calculator.  So please try that and comment on improvements you would like.  Us the examples in the stringr package as follows:

1. Use **File > New** to make a new worksheet with one column of length 4.
2. Enter the data into this column of the example used for these comman

[2017-04-11 08:24] shadrackkibet commented on #2914
I can work on this dialogue for a start with the help of @Lunalo and @dannyparsons.

[2017-04-11 08:29] Lunalo commented on #2914
This is great.

That is what I was thinking  @shadrackkibet  You can get the latest version and start with creating empty dialog before you can continue.

@rdstern  I think there is no problem with passing numeric to these string functions .

It will work appropriately but am not sure if we can have alternative cases for numerics instead

[2017-04-11 08:39] dannyparsons commented on #2914
This sounds good. There's some details I think should be discussed - like the menu item name and which functions should be in this dialog - but generally it would be good to start working on.

[2017-04-11 16:18] dannyparsons opened #2917 "Issue with java and xlsx package"
Carlos installed the latest version of R-Instat which updated his R to the latest version (3.3.3). When he then tried to use the `xslx` package in an R script that previously worked he got this error:

`library("xlsx")`

`rJava` is required for `xlsx` (which `rio` uses to import Excel files)

The issue seemed to have been because of an out of date Java version on his machine. When he had an old ve

[2017-04-11 16:26] lilyclements commented on #2854
I tried this out. I created a water balance column which had it's class as "integer"
Then I added 366 to it in calculator and got the error

I assume this is the one that Roger is referring to.

This dataset has two variables; Year and Water_Balance1

To test around, I then tried putting "Year + 366" in the receiver and it worked

A difference between Year and Water_Balance1 is that Water_Balance1

[2017-04-11 17:04] dannyparsons commented on #2917
So actually I got the packages mixed up, sorry. `rio` uses either `readxl` or `openxlsx` - neither of which need Java. And Sam has informed me that these are both faster than the `xlsx` package. So this isn't an issue for us.

[2017-04-11 17:04] #2917 closed

[2017-04-12 13:42] lilyclements opened #2921 "dlgDuplicateColumns - bug"
There's two issues on this dialog.

The "New Column Name" cannot be a ucrSave since it contains a parameter ("new_col"). This means that it is a ucrInput which means that the receiver does not clear upon pressing reset. I know this is an issue with other ucrInputs so I suppose it can be fixed when those are fixed.

If I duplicate a column, give it a new name, and press OK, and then duplicate anoth

[2017-04-12 13:52] dannyparsons commented on #2921
The first thing is a bug with ucrInput but you shouldn't need to reset it because it should read its value from the function anyway right?

For the second I think we can have special checks here because we don't want to allow users to rename a column as an existing column. Overwriting a column is fine but this seems different because we need to have unique column names. So I don't mind if we do so

[2017-04-12 14:12] lilyclements commented on #2921
The first point makes sense. It's an issue in general with inputs that they are not resetting properly. How can that be fixed?

Okay, as for the second point I'll make OK disabled if the new column name is the same as something already in the data frame
Should I put in a pop-up box too explaining why OK is disabled?

[2017-04-12 14:21] dannyparsons commented on #2921
We just need to add a line in the reset method which clears the text. However, still not sure this should be needed as it should clear automatically when reading from the function if it's parameter is not there.

Possibly this check should be in the R method and not the dialog.

[2017-04-13 13:14] #2762 closed

[2017-04-14 07:41] #2127 closed

[2017-04-14 07:43] #2681 closed

[2017-04-14 08:04] lilyclements commented on #2574
So I've played around with this a little more. This renames the data frame as we would want.
However, it removes the data frame closest to the Right Hand Side.
So, we want to fix that it does not remove the data frame on the RHS.

Additionally, we should give a warning that "There is already a Data Frame named B open. Pressing OK will overwrite this Data Frame".
(Except that it doesn't overwrite t

[2017-04-14 08:14] lilyclements opened #2929 "Recent Files - enhancement"
We have the option in the **File** menu for the user to easily access recent files they have opened.
Is it possible for this to include recent files they have opened and saved?

E.g. I save an RDS file, close R-Instat, reopen R-Instat to use it and then it's not in the easy access part yet as I haven't opened it before, only used and saved it.

[2017-04-14 08:34] lilyclements commented on #1838
@Lunalo I believe I remember this dialog was finished?
Can this issue be closed or do we have further enhancements to make on the Contrasts dialog?

[2017-04-15 08:11] lilyclements commented on #2736
@dannyparsons can this be closed now?

This dialog is complete, and is linked to the sub dialog used in other modelling dialogs
However, the sub dialog is not updated to the new system yet.

[2017-04-15 09:46] lilyclements commented on #2737
@dannyparsons I think this can be closed now

[2017-04-15 10:08] lilyclements commented on #2684
@dannyparsons can this be closed?

[2017-04-15 10:11] lilyclements commented on #2738
@dannyparsons Can this issue be closed?

[2017-04-15 11:45] lilyclements commented on #2735
@dannyparsons I think this can be closed now

[2017-04-16 08:39] rdstern commented on #2886
We are now further and need to resolve the issue of how R-Instat should deal with factors.  I am adding to the issue above, which I have renamed.  We need a solution urgently.  I think this is a David/Danny issue with heckling from me.  We don't need everyone to contribute to the debate, but they will need to understand the solution.  There are various issues:
a) Data imported from SPSS comes in a

[2017-04-16 08:47] rdstern commented on #2757
When I use the little survey data set, I can do the graph for any column, but the table only works for numeric columns.  It won't work for the Village or Variety.  They come in as string columns, but making them into factors.

Have you tested doing tables for this dialogue for factor columns?

At the same time I strongly suggest you change the command and use sjplot or sjtab rather than the specia

[2017-04-16 08:53] rdstern commented on #2759
This is looking much better.  But I strongly suggest you change and use the sjplot command, as mentioned  in the comment above - 10 days ago - and also over skype.  That will make it easy to do the graph for the counts, which are still disabled in the dialogue.

[2017-04-16 17:52] stevenndungu commented on #2759
Yes, I was to change it last week but unfortunately was not able since I
was off due illness .So, Thursdat I thought it wise to have it still like
that so that we still have something usable on the version produced.

 I will be working to change that for both one way and two way frequencies
in the shortest time possible. Thanks

On Apr 16, 2017 11:53, "rdstern" <notifications@github.com> wrote:

T

[2017-04-18 09:22] dannyparsons commented on #2574
I think the simplest solution here is to not allow renaming as an existing data frame - as we do for columns. I can put this check in the R method.

[2017-04-18 09:40] #2574 closed

[2017-04-18 11:16] #2929 closed

[2017-04-18 12:13] #2736 closed

[2017-04-18 12:13] #2737 closed

[2017-04-18 12:13] #2684 closed

[2017-04-18 12:14] #2738 closed

[2017-04-18 12:14] #2735 closed

[2017-04-18 12:26] dannyparsons commented on #2886
I think the easiest place for me to start on this is with the attributes. There is the general issue that all attributes are lost when we convert columns which is not just a problem for labels. We can solve this and then also work on managing the labels attribute so that it stays synced with the column itself.

Once this are in place we will have everything we need to get the linking to the factor

[2017-04-18 19:14] rdstern commented on #2914
There is also a very similar dialogue - at least initially - which has already a space in the menu.  This is the  **Prepare > Column: Text > Distance** dialogue.  It is a pretty powerful feature which uses the R **stringdist** package.

As with the dialogue above:

1. There is the usual selector. At this stage do not restrict it to text columns. It will be interesting to see what it can do with da

[2017-04-18 19:24] shadrackkibet commented on #2914
@rdstern  i completed working on the string handling dialogue we are waiting for someone to test it before it is merged.  I will start working on this other dialogue from tomorrow.

[2017-04-18 22:13] rdstern commented on #2914
Now the "sting-in the tail".  This demonstrates the power of R.

In the command for the Extract command consider the example given by stringr to illustrate the extract command.  Look at the string called **phone**:

strings <- c(" 219 733 8965", "329-293-8753 ", "banana", "595 794 7569",
"387 287 6718", "apple", "233.398.9187 ", "482 952 3315",
"239 923 8115 and 842 566 4692", "Work: 579-499-7527"

[2017-04-19 09:46] lilyclements opened #2936 "Saving RDS Options - enhancement"
@africanmathsinitiative/developers I was given some feedback yesterday on exporting from RDS from Ric at the SSD:

I think this is a nice idea. I have been doing other work on R-Instat relating to climate data, and it would be good to be able to save graphs, as well as select the few data frames I want to continue on in R.

I'm not sure, however, how easy or possible this is. What do people think?

[2017-04-19 10:17] dannyparsons commented on #2936
Thanks for this. I keep meaning to write to Ric to discuss this. I think it would be really nice to be able to export an R environment where you basically have all the objects from inside the instat object but as separate variables in the environment so that you can use that in a normal R way.

I think it might be useful for me to follow up with him still on this to check what he's thinking?

[2017-04-20 13:03] lilyclements commented on #2776
Steven and I have looked over these two functions. Our thoughts are as follows:

1. sjt.df
This seems pretty straight forward so hopefully will be quite simple to add that to the View dialog.
You said it runs the command `summary = FALSE`, I assume you mean `describe = FALSE` here? So we just run
`sjt.df(df = DataFrame, describe = FALSE, sort.col = COLUMN)`

Steven had two additional points of wha

[2017-04-20 15:10] rdstern opened #2941 "Case Study from Ghana"
[PICSA tools.zip](https://github.com/africanmathsinitiative/Instat/files/943732/PICSA.tools.zip)

[Copy of FarmerQuestC_Ghana.xlsx](https://github.com/africanmathsinitiative/Instat/files/943773/Copy.of.FarmerQuestC_Ghana.xlsx)

The first file contains the data from an evaluation of PICSA in Northern Ghana.  This includes an SPSS file with over 900 columns, and 416 rows, that (now) imports easily i

[2017-04-20 16:01] dannyparsons commented on #2776
Both functions look interesting and different.

For `sjt.df` on the survey data with `describe = FALSE`, I get the exact numeric values i.e. 5.4999999 etc. I didn't see any option for rounding? That would be annoying if there isn't. Did you notice this or find any option?

I had a quick look at `view_df` and I didn't see much that was useful for numeric columns (that don't have labels). It does so

[2017-04-20 16:45] lilyclements commented on #2776
I didn't find anything too helpful for numeric columns or for date columns either - other than perhaps that it says the number of NA's?
I suppose the factor menu is a good place for it to go

[2017-04-22 08:11] rdstern commented on #2941
I am having some serious issues in processing these data.

1. The data set has 416 observations and 938 columns.  Great that it reads in reasonably quickly.
2. **Speed issue loading a dialogue:** - I tried Describe > One Variable > Frequencies took about 1 minute to load the dialogue.  I assume that is the selector control.
3. It is also great that with our "new system" we make the changes just on

[2017-04-23 06:56] rdstern commented on #2941
One specific issue is how to perform actions on column names (in particular) - and perhaps also other column attributes.  This is in the "wide" data set so it would be very tedious to have to edit these names manually - which is already easy.
I think R has the answer which is in the dplyr rename command, and which can take regex formulae.  I assume that could be the way we wish to proceed.
I am st

[2017-04-23 07:05] rdstern opened #2945 "Prepare menu still has Column metadata option?"
In our new system do we still want to be able to call the column metadata in this way?  I suggest this menu item should be deleted.

[2017-04-23 07:13] rdstern opened #2946 "Enhance the Column Structure dialogue in the prepare menu?"
We need to be able to define groups of columns, which SPSS does  comprehensively.  I assume this is (also?) to be within the Data Options sub-dialogue?  But (like selecting rows - i.e. filters) it will also be within a dialogue.

The current Column Structure dialogue is already there.  It is quite restrictive, with just the Layout/ Treatment/ Measurement specification.  I wonder if that could be t

[2017-04-23 18:04] lilyclements opened #2948 "dlgImportfromODK - bug?"
@stevekogo I'm going to tag you in this as I think you'll know best how to fix it! (I believe you wrote this into the code anyway)

So on Import from ODK, it asks for my password twice:
1. When I click "Find Forms"
2. When I click "OK"

Presumably we only want it to ask for the password the once, (When I click "Find Forms").
Is it possible to remove it for the second time it comes up?

[2017-04-24 09:56] dannyparsons commented on #2945
I think we could still use this since it has some nice features like editing a property for multiple columns at once and seeing existing values in a drop down.

[2017-04-24 09:58] dannyparsons commented on #2946
There is also overlap here with the column metadata dialog where we could add a new property, as well as editing existing ones. We probably need to rethink these dialogs together.

[2017-04-24 10:01] dannyparsons commented on #2948
This is known because we need to use the password twice - once to get the form names and once to get the data from a form. It's a bit annoying to type it twice but it means we don't store the password anywhere which is more secure for users. There could be ways around this if we look into it a bit though.

[2017-04-24 10:25] lilyclements commented on #2948
Okay, I see. Thank you for explaining!

[2017-04-24 10:25] #2948 closed

[2017-04-24 10:42] dannyparsons opened #2951 "File > Export R Workspace"
This is a new dialog. Not exactly sure where it should go yet but for now on the File menu as "Export R Workspace" under "Export Data".
The idea of this dialog is to export an .RData file which can be imported into R. The difference between .RData and .RDS is that .RDS contains a single R object whereas .RData can contain a collection of objects in a single file. It is like exporting an R workspac

[2017-04-24 10:54] dannyparsons opened #2952 "Prepare > R Objects > Export"
This is a new dialog. It is similar to Export Workspace except it exports objects only (graph, model etc.) as an .RData file.

It will just have the usual selector with data frame selector which will show all saved objects and a multiple receiver for objects.

Then a textbox with Browse button for choosing the file to save.

This will use an instat method which doesn't exist yet called "export_obj

[2017-04-24 10:59] dannyparsons opened #2953 "Describe > Export Graph as Image"
This is a new dialog to export a saved graph as an image file.

It will just have a usual selector with data frame selector showing saved graphs and a single receiver for the graph.

Then a textbox with Browse button to choose the file to save to.

I assume this will use the ggsave function but someone should looked into it to make sure it's appropriate. I don't think we need a huge set of options

[2017-04-24 11:13] maxwellfundi commented on #2953
@dannyparsons  i am happy to take up this task as we had previously looked at ggsave earlier on.

Thanks.

[2017-04-25 10:40] dannyparsons opened #2962 "Adding additional parameters bug"
When adding additional code/parameter pairs the parameter values may not be up to date with the code. This is because the additional parameters are created each time the dialog reopens (in SetRCode) and so parameters may be reset without being synced with the additional code. This doesn't happen with the main parameter because it is only set once (in Initialise). This is generally only an issue wi

[2017-04-26 05:48] rdstern opened #2967 "Right-click in the column metadata window"
I have been pondering more on how we "make it easy" to cope with "wide" data sets.  I suggest this is important as an advance we can make, because of the neat way we will be able to handle multiple data frames.
In this context it is clear we need simple ways to select subsets of the columns.  Effectively we need to be able to filter on column names.  This could be neat if it is available through a

[2017-04-26 07:35] rdstern opened #2968 "Adding shift option to the Prepare > Column: Dates > Use Date dialogue"
I suggest this work could be for Shadrack with support from Steve and Danny.

This is under (or next to to the Day in Year (366).  It is called something like Shifted day.  You might change the layout of the boxes perhaps, so there is one that goes right across with the label "Day" and is above , 3 of which are there already"Other Functions".  There are 4 options inside this box 3 of which are the

[2017-04-26 15:45] lilyclements opened #2970 "Interactive Plots using ggplot"
While doing non-R-Instat work, I have been discovering the world of interactive plots for ggplot.
I had a go at seeing how this works in R-Instat today because it's a quick, easy code and looks quite nice.
It opens the graph in a new Internet tab, like our HTML tables do.

In R-Instat I used the Dodoma dataset and looked at scatterplots.
This feature allows me to hover my mouse over the scatterplo

[2017-04-26 16:01] dannyparsons commented on #2970
I like this. I think a new dialog where we can choose to display a saved graph in a variety of different ways, one being interactive, would be good.

[2017-04-26 16:02] rdstern commented on #2970
I agree completely.  Being able to look interactively at a graph would be great.

[2017-04-26 16:27] lilyclements commented on #2970
After a discussion with @dannyparsons we are thinking of a new dialog "View Graph"

This dialog can have a selector which contains saved graphs
Then a single receiver.
There can then be a group box titled "Display Options"
In this group box are four radio buttons:
* Display in Output Window
* Display in R-Viewer
* Display in Separate Window
* Display in Interactive Viewer

**Output Window** displa

[2017-04-27 06:47] stevenndungu commented on #2970
@lilyclements  am happy taking up this task, since am kind of done with what am doing apart from small things to sort out with Danny when he comes.

[2017-04-27 06:50] rdstern opened #2971 "Changing the climatic menu"
This is the first of issues today on further improvements to the climatic system.  I am timing this for the start of Danny's visit.  It is all part of "Steve's domain", but I suggest he will be able to use some help.  I am therefore suggesting Shadrack, but there may be discussions in Maseno on the best strategy.

This initial issue is on the climatic menu:
In general I would like to avoid menus "

[2017-04-27 07:19] shadrackkibet commented on #2971
This is good task for me i will be happy to discuss this with @dannyparsons and @stevekogo when they will be in Maseno before i implement it.Thanks.

[2017-04-27 07:19] maxwellfundi commented on #2970
I like this feature and i agree completely that a new dialog which would produce a saved graph dynamically would be a sensible thing.
I am just wondering if the "View Graph" would be used as the current use graph.
I think the current use graph can be used to incorporate these additional features, because for example, when you select a graph on the use graph dialog and click OK, you can be able to

[2017-04-27 07:45] maxwellfundi commented on #2970
In addition we can have this feature in all the ggplot  dialogs. I have been playing with it and it looks  really impressive.
We will need to have the ggplotly command as our base operator then add in the other gglot functions to achieve the same result.
`require(plotly)
ggplotly(ggplot(data=survey_temp, mapping=aes(fill=Variety., y=Yield, x=Village.)) + geom_boxplot())
`

[2017-04-27 07:55] lilyclements commented on #2970
@maxwellfundi I had the same thought about it being incorporated into Use Graph. However Danny convinced me otherwise. This dialog is to do with displaying the graph in different ways (like how we have a view data dialog which is concerned with viewing data in different ways). In Use Graph, you can edit the Graph. I think we don't want too much in one dialog and it's quite nice to have a dialog fo

[2017-04-27 07:55] lilyclements commented on #2970
@stevenndungu sounds great! I look forward to seeing it!

[2017-04-27 08:06] maxwellfundi commented on #2970
@lilyclements either of those ways work. So when i run the ggplotly, the graph comes in the output window and its interactive. You would actually not notice its interactive, until you move the mouse over the graph.

[2017-04-27 08:13] stevekogo commented on #2971
@shadrackkibet Thanks for volunteering to fix this. As you mentioned, let's do this at the beginning of next week.

[2017-04-27 08:17] rdstern opened #2973 "Climatic > Prepare > Transform dialogue"
The existing dialogue at that menu position is (I think) just a copy of a dialogue that is disabled, at Prepare > Column: Calculate > Transform.  It is (for now) OK in Prepare, but the dialogue needed in Climatic is completely different.

So start with a new dialogue.
a) If you would like to base it on an existing dialogue then I suggest you could start with the Climatic > Prepare > Specific Event

[2017-04-27 08:24] stevekogo commented on #2973
@shadrackkibet You can go ahead and create this dialog(empty dialog) then we can work on it together.

[2017-04-27 08:26] mmumbo opened #2974 "Open from file"
When opening file from a specific location i believe it would be clearer if we replace **select file** with **Browse** since from the **import** dialogue you will be browsing where the file is located

[2017-04-27 08:27] shadrackkibet commented on #2973
Great

[2017-04-27 08:49] lilyclements commented on #2970
Are you doing this on R-Instat or on R?
On R-Instat I can't get it in the output window, it opens in a new tab on Internet like a HTML plot does.
Have you managed to get it to be interactive in the output window on R-Instat?

[2017-04-27 08:51] maxwellfundi commented on #2970
I have been working on this in R, we will work with @stevenndungu  to see if we can get it to the output window of R-Instat.

[2017-04-27 08:55] stevekogo commented on #2970
I think this is tied up with displaying frequency tables on the output
window. @stevenndungu <https://github.com/stevenndungu> can advice further
on this.

On Thu, Apr 27, 2017 at 11:51 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2017-04-27 08:59] stevenndungu commented on #2970
Yap, it is possible to have it on the output window easily. Working on it now

[2017-04-27 09:01] lilyclements commented on #2970
I think when we look into getting HTML tables into the output window of R-Instat then we can look into getting these interactive graphs in. However, for the time being it is okay to have it in a separate window, just like we have the HTML tables in a separate window.
Unless it's a really simple job!

[2017-04-27 10:01] rdstern opened #2976 "Adding an extremes dialogue"
There are still 2 new dialogues to add to **Climatic > Prepare > Specific Events**, which will become **Climatic > Prepare > Extremes** and **Climatic > Prepare > End of the Rains**.  This issue is about the **Climatic > Prepare > Extremes**.  This dialogue will take (usually) daily data and find the annual extremes.   Then there is a second dialogue, Climatic > Model > Extremes which will model t

[2017-04-27 10:14] rdstern commented on #2968
I have realised we also need another column to go with this dialogue.  We need a shift year column to go with the Shift day.  I suggest we define the corresponding Shiftyr column.  This is the year that the shifted day begins.  So if the shifted day starts on 1 August, then the shifted year is the year number whn the shifted day begins.  And it stays at that year until the shifted day reaches 366.

[2017-04-27 10:46] dannyparsons commented on #2974
I agree, let's have consistency across dialogs. I think `Browse...` is what we want. Anyone to implement this? @africanmathsinitiative/developers

[2017-04-27 10:52] dannyparsons commented on #2968
We implemented this in the old climate object as a "season" i.e. a year that starts on any day. So when someone works on this we should discuss what was done in the climate object to avoid redoing work that's already been done.

[2017-04-27 10:55] rdstern commented on #2968
Happy to see it supplementing what was done earlier.  I have now called it "Shift" rather than Season, because some people seem to feel that "Season" has a specific meaning.  I assume you also had the shifted year?

[2017-04-27 10:55] lilyclements commented on #2974
I am planning to systematically go through five dialogs a day to make everything perfect and consistent with layouts and code.
I will add this to the "To Do" list for when I go through dialogs

[2017-04-27 11:10] lilyclements commented on #2974
^ Starting from when I finish reading these documents on Window's idea of a perfect layout

[2017-04-27 11:36] dannyparsons commented on #2968
Yes we had both. We had "Day of Season" and "Season" (year). So now we have `shift_x` and `shift_yr`? Also for the shift year we usually had something like 2010-11. But we could have options for this, including just 2010.

[2017-04-27 13:08] rdstern opened #2978 "Changing Water Balance dialogue to become End of the Rains"
The current Water Balance dialogue is just used for the end of the rains.
1. I have suggested elsewhere that the menu name be changed to "End of the Rains"
2. Within the dialogue have the title as "End of the Rains/Season".
3. At the top add three buttons with the labels Rain, Water Balance, Both.
4. Add a field to the top with the label "Station"
5. Change the order to have Station, Date, Year, D

[2017-04-27 14:20] mmumbo opened #2979 "Split Column Text"
I'm trying to split date and time from a column using **Split Column Text** the result is a bit confusing because the grids are overlying each other. Is this the same to others using this dialogue? @africanmathsinitiative/developers

[2017-04-27 14:21] lilyclements commented on #2979
I get this problem too on any(?) dialog if I have changed the width of a column. Did you change a column width out of interest before you ran the dialog?

[2017-04-27 14:31] mmumbo commented on #2979
No, i never changed any width

[2017-04-27 14:39] lilyclements commented on #2979
Interesting. Can you send a screenshot of how it look(s/ed)?

[2017-04-27 14:48] mmumbo commented on #2979
![image](https://cloud.githubusercontent.com/assets/11607243/25489083/7af6087e-2b71-11e7-97d4-e2c891bc8429.png)
Check in **split5** and **split6** are overlying each other

[2017-04-27 15:06] lilyclements commented on #2979
Very interesting. Which dataset did you use to do this and which variables did you split to get 5,6. I would like to play around on this later

[2017-04-27 15:19] mmumbo commented on #2979
[ODK_data.xlsx](https://github.com/africanmathsinitiative/Instat/files/962037/ODK_data.xlsx)
Attached is the data, after spliting **start** split **end** to obtain split5 and split6

[2017-04-27 17:07] shadrackkibet opened #2981 "R-Instat Bug"
1)I was using R-instat and noticed that when you load the data set and then highlight all the columns and then delete all once, then it breaks.
![image](https://cloud.githubusercontent.com/assets/26301973/25489653/24b40d60-2b73-11e7-9810-a9a1781e78ae.png)

[2017-04-27 17:16] rdstern opened #2982 "Climatic > Prepare > Summary dialogue"
This should be a relatively simple dialogue to construct initially, because it is based simply on the stanard summary system.  I give my idea for the design below, but suggest that you discuss aspects of this dialogue to make it simple to use, but powerful.
It is the same as the Climatic > Summary dialogue in the old Instat.
1. It is usually used to give annual summaries like total rainfall or tot

[2017-04-27 17:32] dannyparsons commented on #2979
This is definitely something we have to fix soon. @lilyclements can you consistently reproduce it Mike's example? I know we've seen it before but good to pin it down.
I expect it's something funny with the grid control.
What happens if you save the data file and reopen it in R-Instat? Are there any ways to get it back to normal without restarting? For example, deleting some of the other columns or

[2017-04-27 17:34] dannyparsons commented on #2981
This is great testing. This is just the sort of thing we need to be trying consistently. I think @lilyclements has reported this bug already though somewhere. I will look for it.

[2017-04-27 17:40] dannyparsons commented on #2981
Can't seem to find it. @lilyclements I remember you noticed this but not sure it ever got written up?

[2017-04-27 17:55] lilyclements opened #2983 "Colons after chk/rdos"
@africanmathsinitiative/developers I have been reading a Windows guide on how to use different controls
I plan to systematically go through every dialog (just a couple of dialogs a day for the next few months) to make sure the dialog designs and code order are consistent between them. There are some small changes in these windows guides that I think we should follow that I will email on later toni

[2017-04-27 18:03] lilyclements commented on #2981
I know when I found this bug it was by changing the width of a columns beforehand, and then when I added a new column by a dialog, it did something similar to this. I'll try and find the bug

[2017-04-27 18:08] dannyparsons commented on #2983
I think it's great to have documents to refer to for Windows design conventions. I imagine by default we will follow them but if we have a good reason not to then we shouldn't have to follow it.

Checkboxes leading to another control is interesting. Am I right that Microsoft never hides controls it just disables them? Then it's easy to always have a colon at the end.

I think we first need to deci

[2017-04-27 18:09] lilyclements commented on #2981
I went to write it up and noticed it had already been written up - #2272
It occurs when all the columns are deleted - so can happen if you delete just the last column.

[2017-04-27 18:14] dannyparsons commented on #2981
Thanks, will close this one then. I will try to remember to fix this, it is a fairly simple addition to the R code.

[2017-04-27 18:14] #2981 closed

[2017-04-28 07:20] jkmusyoka opened #2984 "Bug - Generating summaries for a random sample"
Using Describe One Variable dialog, I could not produce a number of selected summaries e.g. standard deviation, for a randomly generated data column. The action returned a bug as shown by the error message below.

![image](https://cloud.githubusercontent.com/assets/8112611/25518319/f3acbbc0-2bfb-11e7-9064-43e1cc62f6aa.png)

[2017-04-28 07:24] mmumbo commented on #2979
Interesting! it works when you save the data file and reopen in R-Instat but when you manually try to change the column width or delete some columns it does not work

[2017-04-28 07:26] rdstern opened #2985 "Defining and Using Groups of Variables"
I am using SPSS as a sort of model for us to be able to have facilities to cope well with "wide" data sets.  In some ways we can do better than SPSS, because we can cope with multiple data frames.  And one reason SPSS files are often so wide is that it doesn't do that so well.
1. Hence one strategy will be to transform wide frames into long ones.  I suggest here we might explore adding a facility

[2017-04-28 07:44] lilyclements commented on #2979
That's interesting about saving and re-opening.

I'll have a go with this data set today to replicate this

When I've had this issue in the past, when I've deleted columns it's started to fit back to normal (e.g. Deleting Split 4 I think would've "fixed" it .. until you put a new column in!)
I'll have a go and replicating the error later today. Thanks for the dataset!

[2017-04-28 08:42] lilyclements commented on #2983
So from what I can see, they dont hide the control if it's after a checkbox or radio. It's just disabled. Perhaps there's one or two which are not visible when it's not checked, but I haven't come across it.

I would like to know too why we chose to hide the control related to the check or radio, instead of disabling them. It is consistent across the software at least!

That's a good point about t

[2017-04-28 12:13] lilyclements opened #2987 "Packages to Install"
@africanmathsinitiative/developers the following packages need to be installed:

plotly - as seen in #2980

svglite - as seen in #2972

[2017-04-28 13:20] mmumbo opened #2989 "Calculations"
I'm trying to find out the duration taken by each individual to complete filling ODK form, the calculate dialogue is not working for me. Is it functional at the moment?

[2017-04-28 13:47] Lunalo commented on #2985
Hi @rdstern

I have gone through this and still I don't understand some of the things involving its usability. I will skype for more insights

[2017-04-28 14:11] dannyparsons commented on #2989
It depends what the type of columns you are using are? Can you check in the column metadata grid to see the class of those columns? If they are not numeric, or a variation of numeric, then it won't be able to do a subtraction on the columns.

We do need to think about time columns at some point now that we have date working. I believe there are a number of packages for having a time class, as well

[2017-04-28 14:33] dannyparsons commented on #2985
Defining sets of columns is something we should be able to do easily since a group is just a metadata property for columns, and having an option of regular expression would be nice. If we did that then I think we should have a preview so you can see which columns match the regular expression.

I suggest we have a single dialog/sub dialog for defining a set of columns - possibly with two options fo

[2017-04-28 16:07] rdstern commented on #2985
That sounds ideal.

[2017-04-29 09:04] rdstern commented on #2914
Shadrack it is great that you have these 2 dialogues working.

There is a small enhancement to the Find/Replace that would be useful and then quite a big extension that I discuss in the next comment.
The small change is on the Replace option.  Under the Replace by field could there either be a checkbox, or 2 radio buttons.  If a checkbox then the label could be "Replace All".  Default is checked.

[2017-04-29 09:26] dannyparsons commented on #2914
I think two radio buttons would be clearer. Alternatively an additional radio button at the top for "Replace First"/"Replace All".

[2017-04-29 09:29] rdstern commented on #2914
Happy with either.  Perhaps at the top is even clearer.

[2017-04-29 09:32] dannyparsons commented on #2914
It would certainly be much easier from the code perspective so if you don't have strong opposition I think another option at the top would be good.

[2017-04-29 09:33] rdstern commented on #2914
Very happy with that.  It is then a simpler dialogue and so clearer for the user.

[2017-04-29 09:34] shadrackkibet commented on #2914
I think it will be good to add another radio button at the top for 'Replace all'  so that we now have six radio buttons.

[2017-04-29 09:42] rdstern commented on #2914
The stringdist is less important as a dialogue than the Find/Replace.  If you have spare time, then there are various enhancements - but they probably need more discussion.  I list them while they are fresh in my mind.  In the end I would like this to parallel the Find/Replace, where there are different options for approximate string matching, e.g. locate, distance, etc.
Currently:
a) At the top t

[2017-04-29 17:55] rdstern commented on #2914
There are also still some enhancements that can be made to the Find/Replace dialogue.

1. If you start with the Replace and then move to (say) Count, the replacement string is still visible.
2. There are some excellent examples to test out this dialogue.  Go to Open from Library and then stringr.  Then there is a file called words, with 980 words.  The one called fruit has 80 fruits, and the best

[2017-04-29 18:47] rdstern commented on #2914
This comment is on the regex keyboard.  I assume Shadrack will attempt this, with support from John, who was responsible for the keyboards in our **Prepare > Column: Calculate > Calculations**.  I wonder if that dialogue has been updated yet.  If not maybe now is the time, while Danny is around to support.  Also, for Shadrack this should be one of the tasks he takes on, not the only one.  It could

[2017-04-30 11:01] dannyparsons opened #2992 "Bug in calculated with calculated columns"
[code]

The code above is from two dialogs. First, I create a calculation called CRI1 and then add  a column with that name to the data.
Then when I try to use the new CRI1 column in the calculator, because a variable with that name is in the global environment, it tries to use the calculation instead of the column - and gives an error.

This is an issue because of the attach and detach. When we r

[2017-04-30 11:41] dannyparsons commented on #2757
For me tables work fine with numeric or factor columns, however it doesn't work with character columns. Did you notice this @stevenndungu?

If I do multiple columns and one is a character it just gets ignored, but if I just do a character column on it's own I get this error:

I suspect this is (another) bug with the sjPlot package which we should report.

Graphs do not seem to have the same issue.

[2017-04-30 14:05] dannyparsons commented on #2757
Also, I found the Sort option confusing at first. I thought it was going to sort by the order of the levels of the factor or if numeric - ascending and descending values. Could the radio buttons be changed to "Ascending/Descending frequencies" to make it clearer? Unless it was just me that was confused by that.

[2017-04-30 14:11] rdstern commented on #2757
I wasn't confused, but I like that change, i.e. "Ascending Frequencies" etc.

I also confirm the bug Danny found for character columns.  I wondered if that would not be the case for data imported from SPSS, but the problem remains.

[2017-04-30 14:14] dannyparsons commented on #2757
Ok thanks, will report it on sjPlot issues.

[2017-05-01 13:11] dannyparsons opened #2997 "(Flat) Frequency Tables dialog"
I would like @rdstern's view on this before someone starts it but I suggest a new dialog which uses the `flat_table` command from `sjmisc`. Possibly this goes under Describe > General > Frequency Tables?
Example:
[code]
This is sort of a general version of the 1, 2, 3/4 frequency tables, although the output is only as plain text. It produces a set of multi-way tables where the last variable in sel

[2017-05-01 14:56] dannyparsons commented on #2997
An alternative to this is to use `structable` from `vcd`.
Example:
`structable(Village. + Fertgrp. ~ Variety. + Size, survey)`

An advantage is this allows multiple row and column variables with the left and right side of the formula (`flat_table` only allows one column variable).
A disadvantage is that it will ignore value labels for columns (`flat_table` will use them)

-------------------------

[2017-05-01 15:10] lilyclements commented on #2997
You have listed three different functions, however, from what I can see, `ftable `does what `structable ` does, but it allows margins and it's using a package we already have in R-Instat. So, is there an advantage to `structable` over `ftable`? If not then I think `structable` can be ruled out?

Between `ftable` and `flat_table` I'm not sure. Since it's only temporary, I think `ftable` as it conta

[2017-05-01 15:19] dannyparsons commented on #2997
I haven't looked very closely at the different functions, for example, the differences in how they display tables so I included `structable` in case someone finds an advantage of it (it has the nicest looking code as well). But probably yes we can rule it out.

[2017-05-01 15:22] lilyclements commented on #2997
I agree. I do like the `structable()` code, especially as it can take several two-way-tables to make them 3/4/morethan4-way. I can explore it further tomorrow?

[2017-05-02 06:35] stevekogo commented on #2978
I am going to work on this.

[2017-05-02 07:17] AlexSananka commented on #2997
As for me I think `ftable` has an added advantage compared to the other two alternatives because of the added functionality for adding margins which really looks nice.I like how the display for ` flat_table()` looks nice though it has a weakness of not having total margins.The `structable()`  the fact it has a advantage of allowing multiple variables is good but again it lacks the functionality fo

[2017-05-02 07:39] AlexSananka commented on #2997
Once we have @rdstern suggestions on this then am happy taking up the task.

[2017-05-02 09:00] lilyclements commented on #2978
Is this to have this End of Rains instead of Water Balance or as well as?

[2017-05-02 09:06] rdstern commented on #2978
As well as.  This is to be renamed as "End of the Rains", so the other menu item is no longer there.  Then it incorporates the Water balance plus another popular definition for the end of the rains.

One reason to combine the dialogues is that you sometimes want to start the water balance on the date of the last occurrence of rain - which is another definition.

[2017-05-02 09:07] dannyparsons commented on #2982
This looks good and I think all possible within our summary system - apart from the missing values options which we haven't yet implemented.

Would it be useful to be able to do summaries in this dialog without the year column? For example, summaries which could add into the Station data frame. If so then could it be more like the column summaries dialog where there is just a multiple receiver for

[2017-05-02 09:07] lilyclements commented on #2997
I looked into `structable` a little further and found that margins do work on it

e.g.
`structable(addmargins(table(efc[c("c172code", "n4pstu", "c161sex", "c175empl")])), col.vars = c("n4pstu", "c161sex"))`

This gives the same output as `ftable()`. I still prefer `ftable()` to `structable()` for the small reason that the latter doesn't add anything and is in a new package.
So, I looked into `stru

[2017-05-02 09:13] rdstern commented on #2982
No, that would be fine.  And useful too.

You would then often want to restrict data to a subset of the years, which would be simply with a filter.

On the missing values I am becoming more convinced that we should start by putting this feature into the Define Climatic Data.  Then ther might (later?) be a facility in the individual dialogues, which would then take precedence.  Otherwise the genera

[2017-05-02 09:38] dannyparsons commented on #2982
Ok great. And yes we could put data frame options on define climatic like missing value thresholds and rain day thresholds etc. which could then just be added to the data frame metadata. These could be used to set the dialog defaults but could be overridden by specific dialogs.

[2017-05-02 10:01] rdstern commented on #2997
I still have to look at the alternatives, but offer the following thoughts to continue this useful discussion.
a) It is an important example of just the sort of discussion we should be having.  It shows how using R is different to using an "ordinary" statistics package.  Namely when you try to use R there always seem to be multiple ways you could proceed.  In other statistics packages these decisi

[2017-05-02 13:32] rdstern commented on #2997
@maxwellfundi and @dannyparsons as we are doing more now on frequencies I think the standard way of plotting them is through mosaic plots.  There is now a new package, called ggmosaic that simply(?) adds a new geom.  The is a vignette.  It looks quite nice.

I wonder how easy it will be to add?  It isn't urgent, but may be another almost free gift?

[2017-05-02 13:49] rdstern commented on #2941
I have now discussed this dataset with Sebastian and two interesting points result.

1. It seems on terminology ODK distinguishes between **Multiple Choice** questions and **Repeat Groups**.  Multiple choice questions are options where any number can be selected, i.e. multiple response.  But just a single question like that.  Then ODK outputs the data always in our "wide" format, i.e. as many colu

[2017-05-02 14:09] rdstern opened #3003 "Changes to the file menu?"
Danny, I think you have ideas from Ric that could add an item to the file menu?
I have been looking at that menu in relation to the help numbers, and have noticed the following:

Import from CSPRO has help number 515
Import from Databases has help number 516
Convert has help number 469
Save As for Data has help number 470
For the other 3 options here there is a standard save as dialogue.  It doesn

[2017-05-02 14:33] shadrackkibet commented on #2971
@dannyparsons .I think this issue should now be closed.

[2017-05-02 14:45] dannyparsons commented on #3003
We can't edit anything on the Windows Save dialogs - so we can't add buttons. But I think we could still have help pages on them ad you just have to access them from the Help menu?

I assume Print and Print Preview are not priorities? But probably we can get something simple working on them before the first release. I expect it's something someone can investigate on their own and then have a go at

[2017-05-02 14:47] #2971 closed

[2017-05-02 15:01] rdstern opened #3004 "Help IDs in Prepare, Describe and Climatic"
In Prepare the only dialogues I found that did not go to the correct place were:

Factor > View Factor Labels  - new dialogue ID 517
Text > Find/Replace ID 406
Text > Distance ID 347

Describe > One Variable > Frequencies ID 518
Describe > One Variable > Rating Data ID 519

Describe > Two Variables > Frequencies ID 415

Describe > 3 or 4 Variables > Summarise ID 521
Describe > 3 or 4 Variables > G

[2017-05-02 17:12] dannyparsons commented on #3004
The title of the menu may change, I think the sub menus and items will largely stay unchanged, but if it's better to do the help pages once the names have been changed it can wait.

Will you also upload the latest help file the to Instat help repository?

[2017-05-02 22:03] rdstern commented on #3004
Here are the Help IDs for the current menu:
Define ID 499
Corruption > Prepare 8 dialogues with ID 530 to 537
Corruption > Describe ID 501
Corruption > Define Outputs ID 191
Corruption > Model > Fit Model ID 529
Corruption > Define Red Flags ID 202
Corruption > Calculate Corruption Risk ID 527
Corruption > Tools ID 528

[2017-05-03 05:41] mmumbo opened #3006 "Size of the software"
This might not be urgent but i feel it's important to note that the size of R-Instat software is too huge that computers with low internal memory finds it difficult to run the software. This is a challenge that users at the Lewa Maths Camp were experiencing with their laptops.

[2017-05-03 06:40] AlexSananka commented on #2952
@dannyparsons am happy to take up this task

[2017-05-03 06:51] rdstern commented on #2952
In the Help file I have added it at the bottom of the Prepare > R Objects menu.  ID is 538.
Should it also go in the File menu?

[2017-05-03 07:15] AlexSananka commented on #2951
@dannyparsons  am taking up this task

[2017-05-03 07:42] stevekogo commented on #2973
I am working on this

[2017-05-03 10:05] dannyparsons commented on #3004
Thanks, can someone add these in?

[2017-05-03 10:07] dannyparsons commented on #3006
Thanks Mike, this is important. What were the issues specifically? Was it the size of the software and additions being installed which took up too much storage on the computer? Or was it the slowing down because of memory usage by R-Instat? Or both?

[2017-05-03 10:08] dannyparsons commented on #2952
We could have File > Export as a sub menu with Data, Objects etc. as sub items?

[2017-05-03 10:19] rdstern commented on #2952
Yes.  To me having File > Export > Sub-menu is the obvious place.
Where is the exporting using rio now?  How would I export to (say) SPSS?

[2017-05-03 10:30] dannyparsons commented on #2952
Export data is exporting data frames as different file types.

[2017-05-03 10:55] stevekogo commented on #3004
I am going to add these in

[2017-05-03 13:13] maxwellfundi commented on #3006
Hi Mike, this is a good point. I remember you mentioned that they had to uninstall some stuff. Currently, the software that takes up alot of disk space is Rtools, which take up 1.01 GB the rest take up less than 400 mb. There is very little we can do about the size of Rtools currently but i hope its something we can look at in the future.

[2017-05-03 13:24] mmumbo commented on #3006
@dannyparsons From my observation, it was memory usage by R-Instat because sometimes they can load for a long time without launching the software

[2017-05-04 05:19] dannyparsons commented on #3006
We can't reduce the size of Rtools but we can not include it, or at least have that as an option. Currently it is only used for export to Excel but it adds 100MB to the installer.

We will also need to set minimum system requirements/recommendations before the release and this is useful for that.

[2017-05-04 07:37] shadrackkibet commented on #2976
I am working on this

[2017-05-04 12:46] PatrykNjoroge opened #3018 "Line of Best Fit in Scatter Plots"
We were creating a scatter plot while writing video scripts and this got me thinking, should there be an option to draw a line of best fit in R-Instat?

[2017-05-04 14:00] dannyparsons commented on #3018
I think this can be done by simply adding a `geom_smooth()` layer to the plot. We should definitely have this geom in our geom list @maxwellfundi can you add this as a geom?

Then the next question, should we have this extra geom as an option on the scatter plot dialog? Is it a common enough option? @rdstern

[2017-05-05 08:22] #2528 closed

[2017-05-05 11:06] trottingafrican opened #3024 "Issues in Column Summaries"
Roger mentioned  Rounding off problems on Wednesday's skype call? We encountered this while generating column summaries yesterday. When you customise summaries, it does not round off the summaries but when you use the default summary settings it rounds them off. Shouldn't it be consistent?

The other thing I noted was that when you are generating summaries without customising anything you can be a

[2017-05-05 13:01] mmumbo opened #3025 "View column metadata"
I'm having a small issue with grids from this dialog, when working with data sets with longer labels, the output is overlying the other columns. See screenshot below:
![image](https://cloud.githubusercontent.com/assets/11607243/25746413/fd586a92-31ab-11e7-8665-1ff459fcf61b.png)

[2017-05-05 13:21] dannyparsons commented on #3025
Thanks Mike. This is definitely an annoying bug. It is something which we might be able to solve by looking at the options for the grid control we use. I will try get to this, but anyone else could look into this if they want.

[2017-05-05 13:34] dannyparsons commented on #2997
It should be fairly easy to change the function later so I suggest we start by using one of the functions which allow margins.

Although we can now add margins to `structable` https://github.com/africanmathsinitiative/Instat/issues/2997#issuecomment-298567876 I don't think we can then specify the row and column variable this way. So I suggest we start by using `ftable`. If `flat_table` later adds

[2017-05-08 13:52] #2983 closed

[2017-05-08 14:11] lilyclements commented on #2984
Okay, so I'm struggling to replicate this error. I ran this twice: once on my most recent branch, and once on a branch from 10-20 days ago (since you wrote this issue ten days ago), but both times it ran fine.

I created a column using dlgRandomSample
Then I opened dlgDescribeOneVariable and inputted my variables.
I ran the statistics you've listed above in the error, (and tried it with all the su

[2017-05-08 14:35] lilyclements commented on #2992
So, this is the same error as that Roger describes in #2854 on Water Balance. Thank you for explaining the problem!
However, I'm now a little confused. When I tested it out on R previously, I found that if I run

[code]
before the calculation then it works.

Why does running it as an r function as oppose to a string fix it? I don't see how this relates to the attach and detach. Would you mind expl

[2017-05-08 15:10] lilyclements opened #3030 "ReoGrid Undo Issue"
I was playing with the column metadata and sometimes it allows me to change the names I put in it, and sometimes it does not.

So, I was able to change my column name and then undo it which isn't ideal because it will undo in the Column Metadata grid, but not anywhere else (e.g. Data View).
Then I can't rename it to the same name as in the Data View as it gives an error that that variable is alrea

[2017-05-08 15:47] rdstern opened #3031 "Factors in R-Instat updated"
I am excited by the new facilities in R-Instat that will allow:
1) What I call "Levels", i.e. numbers as well as labels for a factor.
2) Intelligently transform between text, factor and numeric without losing information on either levels or labels.
I will be bug-hunting and will report in comments below.  Meanwhile I have a few items - not for the forthcoming release - but that could usefully be d

[2017-05-08 16:36] lilyclements commented on #2984
Update: I was using the Random Sample dialog not Random Subsets and have managed to replicate this error!

[2017-05-08 16:55] dannyparsons commented on #2992
when you attach a data frame you can then just refer to column names directly:
[code]
But when there's also a variable in the global environment called `Yield` it uses that instead of the column from the data. So, in particular, for us it's trying to use a calculation object in the calculation and it's getting messed up. This is why renaming the column fixes it because then the new column name is

[2017-05-08 17:14] lilyclements commented on #2992
Great, that makes a lot of sense! Thank you!

[2017-05-08 17:21] lilyclements opened #3033 "Regular Sequence"
Two bugs to fix here, which are slightly linked.

1. This will run if I have no data frame. We need to add to the testOK to not run if the Data frame is empty

2. If I clear the data frame in the receiver (so that it's blank) then press OK, it runs still
If I then re-open the dialog, put a dataframe back in the selector and then try to run it, it runs the code but not the AssignTo and doesn't add

[2017-05-08 17:38] lilyclements opened #3034 "Data Frame Selector Bug"
Two (linked) crashes but different bugs:

These apply to dialogs which only have a data frame name selector - e.g. Random Samples or Regular Sequence.

1. If I delete a dataframe, (and that was the last data frame I used), and then I open a dialog where it has only the data frame name selector, then it crashes.

2. If I accidentally type in the "Data Frame Name Selector" part, then OK is enabled.

[2017-05-08 19:42] rdstern commented on #3031
I took the Dodoma data:
1. The obvious factor column was the month.  I made that into a factor from character. etc.  I fiddled with this column and it behaved well.  Character or numeric it did what I wanted.  The metadata showed the labels were there, but of course in alphabetical order.  So far so good.
2. I used the Factor > Reorder Levels (so Jan =1, Feb = 2, etc)  and I think that has worked.

[2017-05-08 21:09] rdstern commented on #3031
1. In the survey data I made Fert into an ordered factor.  It seemed to have no labels.
2. I added labels from 0 = None, etc.  It seemed to add the labels, but they did not appear in the metadata.
3. I made it into a text and it kept the labels as the text.
4. I now made it numeric and it now added labels, but coded 1 to 7 in alphabetical order.  I appear to have lost the original numerical values

[2017-05-09 06:32] AlexSananka commented on #3033
Yes I am going to try and solve this for today's release.

[2017-05-09 07:33] PatrykNjoroge opened #3039 "Correlations"
I was looking at the Correlations dialog under Multivariate sub-menu on the Describe Menu and I found something confusing. Even though a bivariate correlation qualifies to be a multi variate, I think it would be better to rename the correlations dialog into Bivariate Correlation because it is specifically dealing with relationships between two variables.

[2017-05-09 09:12] rdstern opened #3040 "Multiple missing values"
The work with sjmisc is motivated by trying to help users who transfer from SPSS.  The first important components is the factor (category) column set of issues which we are close to dealing with very well.

The second is the facility for R to cope with multiple (different missing value codes.  These can be for any type of column, but are sort of related most easily to the factor columns.  For exam

[2017-05-09 12:17] Lunalo opened #3041 "Error on overwriting key(s) of the same column(s) with a different key name"
"If you run the code from this Add key dialog in R with intention to create a new key same columns already used to create a key, you get the following warning A key with these columns already exists. No action will be taken.
A link with these columns already exists. A new link will not be added. Could this be captured in the dialog and probably disable Ok?" by @stevekogo

I think we should come up

[2017-05-09 14:49] rdstern commented on #3031
Found the bug we saw when looking at factors together.
With the survey data from the Intro guide in the library.
The factor-type columns start as character data.
a) Made it into a factor.  Works fine (as before), but nothing appears on the labels in the metadata.  Not a great problem, but quite nice if it did, because it comes later.
b) Made it numeric.  This gives the numbers 1, 2, 3 and also put

[2017-05-09 14:56] AlexSananka commented on #3033
@lilyclements  Thanks for spotting this
This seems to be a general  issue with the ucrDataFrame control and it affects all dialogs using this control,This needs a careful thought and discussion before its implementation since we need to be confirming what is typed in the control to be one of the available data frames. also, we need to decide whether we should be allowing users to be typing the con

[2017-05-09 14:59] mmumbo opened #3043 "Generating random sample dialog"
The **sample size** is set to default size, this restrict one from using specific sample size. Can this be changed to allow flexibility?

[2017-05-09 15:01] lilyclements commented on #3033
The TestOK is not always disabled - only sometimes. A quick check of the code and I saw

[code]

There is nothing to disable OK if the `ucrNewColumnName `is not complete. This is why my OK was enabled for me; I can have my New Column Name empty and nothing in the data frame and it runs fine.

[2017-05-09 15:07] AlexSananka commented on #3033
I agree with you this is really a different and tiny issue which we noticed with @Lunalo  but maybe I didn't say I am fixing it.

Ok I can fix this now.I only need an else and that's it?

[2017-05-09 15:11] lilyclements commented on #3033
Yep that only needs an else to be fixed.
I think if that's the only thing we can fix for now then that's it!

[2017-05-09 16:53] dannyparsons opened #3046 "R packages with older version of R-Instat"
The current way we install packages automatically for users assumes a specific family of R version e.g. now it is 3.4.x
This is because R stores installed packages in different folders for these versions. So there is a 3.3 folder and 3.4 folder.
When I tried to run R-Instat 0.2.3 (which assumed 3.3.x) R-Instat uses 3.4.0 since it's the latest version on my machine. Now because some required packag

[2017-05-09 17:06] dannyparsons opened #3047 "R link not using correct version of R"
Something we need to be aware of. We discovered that @Lunalo's R-Instat was using R 3.3.0 even though he had R 3.4.0 installed and working through RStudio.
When we uninstalled R 3.3.0 then R-Instat used R 3.4.0. Very strange since the R link should use the most recent version of R.

@Lunalo what happened when you reinstalled R 3.3.0?

[2017-05-09 18:36] AlexSananka commented on #3033
Should this be closed?

[2017-05-09 18:44] lilyclements commented on #3033
I think this still has some issues noted in it that we need to fix at a later date. I'll check tomorrow if these problems are covered in another issue

[2017-05-09 18:46] AlexSananka commented on #3033
Ok great but I think it has the same issue as #3034.
Maybe you can chech tomorrow anyway.

[2017-05-10 07:21] shadrackkibet commented on #2914
I am now working on string distance enhancement.

[2017-05-10 07:55] lilyclements commented on #3033
Is point 2.) fixed that I noted at the top of this issue?

[2017-05-10 08:32] AlexSananka commented on #3033
yes I think point 2 is fixed.

[2017-05-10 09:07] lilyclements commented on #3033
I've just updated my branch and I'm running the new Regular Sequence. The OK is still enabled when I remove the data frame name
Could you look into the code to what the issue is here?

![image](https://cloud.githubusercontent.com/assets/21180424/25891277/5b42e938-3568-11e7-9ea6-abedea24309d.png)

[2017-05-10 09:13] AlexSananka commented on #3033
But I think this is what is explained up there on my second comment,try re open the dialog and see what happens.

This is an issue with the control if am not wrong,

[2017-05-10 09:15] lilyclements commented on #3033
Yes of course, I forgot this was an issue in the control! Thanks for clarifying. I'll close this now, thank you for fixing these problems.

[2017-05-10 09:15] #3033 closed

[2017-05-10 09:23] maxwellfundi commented on #1682
@dannyparsons  this was an issue raised a while ago and i would like to come back to it. Can we discuss this and perhaps get the method created?

[2017-05-10 09:25] maxwellfundi commented on #2475
@dannyparsons  this was done, it could be closed

[2017-05-10 09:26] maxwellfundi commented on #2542
@dannyparsons  please close this too.

[2017-05-10 09:27] maxwellfundi commented on #2734
@dannyparsons  close this too .

[2017-05-10 09:27] dannyparsons commented on #1682
It requires quite a substantial change to the R code as I mentioned before but yes we should think about this soon. I think many of the structures are in place for this to happen.

[2017-05-10 09:28] maxwellfundi commented on #3004
@stevekogo were all these added in so that this can be closed by @dannyparsons ?

[2017-05-10 09:28] dannyparsons commented on #1682
Possibly we start with the graphs part first to get it working well before other changes.

[2017-05-10 09:29] #2542 closed

[2017-05-10 09:29] #2734 closed

[2017-05-10 11:21] dannyparsons commented on #998
With the new output window this should be much improved now. However, if the call type is incorrect for a dialog it may give an extra space for output even if there is none. @africanmathsinitiative/developers be on the lookout for this and check the call type if there's a problem.

[2017-05-10 11:35] rdstern opened #3058 "Excel files"
Is it just my version, but I can't now read Excel files.
The problem seems to be both xlsxs and xls types.

csv, Stata, rds seem ok

[2017-05-11 07:14] rdstern opened #3060 "Problems with R-Instat 10 May Version - mainly graphs and labelled stuff"
1.	From survey data-set (where Village, etc comes as character) **Describe > One variable > Frequencies** still does not like a character variable.  Two variable is OK.

2.	I think this part of the issue could be for the sjplot people, rather than for us.  (Interesting though and illustrates the new level of detail I think we should start using).  It is not just bugs, but things that are not quite

[2017-05-11 09:51] stevenndungu commented on #3060
Quick response to point 3:
a) We all column data types allowed since when you import a data set  from SPSS with columns that have labels, R/R-Instat understands the variables as numeric variables. The same happens when you import a data set that has labels already coded eg `efc` data set in sjmsc package in R-Instat illustrates this clearly. It saves the user the pain of converting all the factor

[2017-05-11 11:53] dannyparsons commented on #3060
On 3. I think we do need to make some decisions about factors and labelled variables.
For example, efc have only labelled columns. Yes we can nicely convert them to factors without losing information. However, do we want to require users to convert them to factor before they can use them in dialogs, mainly sjPlot related functions such as view_df and 1/2/3 way frequencies. Steven makes the point t

[2017-05-11 14:41] lilyclements commented on #3043
So, the sample size is set to the size of the data frame because it returns column(s) which attach to the data frame. If the user selected a different sample size, then the generated columns would contain a different number of rows than the data frame it is appending to. This means they would not be able to attach to the dataframe. Does that make sense?

[2017-05-11 14:46] lilyclements commented on #3058
I checked and I'm having this issue too. "OK" is disabled if I try to import an xls/xlsx file

[2017-05-11 15:01] dannyparsons commented on #3060
1. @stevenndungu @AlexSananka add `ignore.strings = FALSE` to the one-way frequencies function and this will work.
2. a & b @rdstern Stacked could be an option on the main dialog for Bar Chart? If so @maxwellfundi can implement this.
2. c They use ggplot I think so it could be they haven't updated to the latest version yet? @rdstern Could you write them a message about this?
4. This relates to oth

[2017-05-11 16:00] #3058 closed

[2017-05-11 19:16] dannyparsons commented on #3043
I discussed with Mike. I think what he wanted to do is actually more like the Random Subset dialog. This let's us take a random subset of a column into a new data frame of any size.

However, what he wants is to get a random sample of all the columns, not just one. Should we have such a dialog in Prepare?

[2017-05-11 19:16] dannyparsons commented on #3058
Check now I have tried to fix it.

[2017-05-11 19:20] dannyparsons commented on #3043
We could do this easily e.g. `dplyr::sample_n(mtcars, 10)`

[2017-05-11 19:26] dannyparsons commented on #3043
Unfortunately, this loses all column attributes so we would need our own wrapper for this :(

[2017-05-12 08:43] lilyclements commented on #3058
Great (or should I say, **Excel**lent...) its working for me now. Thanks.

[2017-05-12 09:27] mmumbo commented on #3060
_a.	Do a stacked 2-way bar chart with the survey data with Village and Variety using Describe > 2 Variables > Frequencies. I like the way it is labelled in the graph._

- The graph looks nice except on the labels should be moved closer to the bars, i.e the label for longer bar in NANDA goes outside the graph.

_b.	Do the same with Describe > Specific > Bar chart. It seems quite complicated to get

[2017-05-12 11:21] rdstern commented on #3060
Just to respond on the converting of columns to factors in R-Instat - when this is not required in SPSS and could be annoying for the SPSS types.

In the documentation on sjplot (e.g. sjp.xtab it makes a distinction between the first and second arguments, i.e. "sjp.xtab(x, grp, type =...).  So he is thinking that the first argument is x (and could be anything, while the second is a "grp", i.e. for

[2017-05-12 13:59] rdstern commented on #3060
I now looked at the updated version.
a) Importing from Excel seems to be fixed.  Phew.
b) I found a curious issue with **Describe > One Variable > Frequencies.**  Please see if you find the same
1) I used our **survey** data from the library (Instat Intro Guide).
2) So there are 3 character columns.  Village, Variety and FertGrp.
3) It now reads them correctly
4) It displays the results for the fi

[2017-05-12 14:29] dannyparsons commented on #3060
This is very strange - I assume a bug in `sjPlot`. Even when I put in Village last, it's still the only one that displays correctly. So not sure what's special about it. I will investigate further.

[2017-05-12 14:48] rdstern opened #3067 "Display of daily climatic data"
This is one of the last set of features I am keen to see soon and certainly in the first release.  I think the only other is the crops dialogue that should be easy once the start, end and summary (already specified) have been done.

In the old Instat there is a dialogue to display daily data in 2 different ways.  I assume this might again be a single dialogue with our new buttons at the top to per

[2017-05-12 19:53] dannyparsons commented on #2724
How about this?

![image](https://cloud.githubusercontent.com/assets/11214914/26014337/c8e010c6-3764-11e7-9a34-c16b87cd7ab3.png)
from this code:
[code]
This will work for multiple stations or elements. Haven't though how to do both yet. @volloholic any ideas?

[2017-05-12 20:39] dannyparsons commented on #2724
I can do both stations and elements:

![image](https://cloud.githubusercontent.com/assets/11214914/26016005/f44ab1a6-376b-11e7-982f-3ba71609d62d.png)

using some stacking:
[code]

again this is facets tough. I'll see if I can find a way of using the y axis instead.

[2017-05-12 20:47] dannyparsons commented on #2724
I don't think will be possible with `geom_linerange` without using facets.

[2017-05-13 06:19] dannyparsons commented on #2724
Found an alternative with `Station` on y axis:

![image](https://cloud.githubusercontent.com/assets/11214914/26023063/20390582-37bd-11e7-9613-cd5b1154e98b.png)

Just used geom_raster instead:
[code]

[2017-05-13 06:27] dannyparsons commented on #2724
Then for both elements and stations facet by one of them:
![image](https://cloud.githubusercontent.com/assets/11214914/26023127/2d7d27c2-37be-11e7-815a-7b35822325ea.png)

[code]

[2017-05-13 06:53] stevekogo commented on #2724
@dannyparsons This looks nice and seems to be what Roger  has been keen to have.

[2017-05-13 08:05] rdstern commented on #2724
This looks great - yes just what we want.
There would also be some obvious options, which could be explored:
1. If just one out of station or element is given, then it doesn't need to have facets.
2. And often the one will be rainfall - so could use James data to explore.
3. With just one of station or element could alternatively have facets with the day of year on the y-axis - as we had before.
4

[2017-05-13 08:14] rdstern commented on #2724
This is perhaps our first example of a "tailored" graph!
And this is enabling us to help users (mainly ggplot users) to understand "our" graphics system.  We have 3 types of graph, namely General, Special and Tailored.
**General** is to help users exploit the full power of ggplot.
**Special** is designed to make some common geoms easier to use - like boxplots or bar charts.
**Tailored** is designe

[2017-05-13 13:22] stevenndungu commented on #3060
I have finally identified the problem and how to solve it easily.
The problem was that the function could not be able to automatically group the string values in character vectors (string variables) based on their similarity (where similarity is estimated by the stringdist-package - from help). And this follows after we have allowed character vectors / string variables to be tabulated by setting t

[2017-05-13 13:46] dannyparsons commented on #3060
Thanks Steven and well done for solving this bug and taking the time to figure it out by testing many data sets. Nicely explained as well, this makes sense now.

So from this I can see we might want to make use of max.string.dist in the dialog. It fits with the ideas in our string dialogs. Probably not for now but maybe something to consider for the sub dialog in future @rdstern?

[2017-05-13 14:28] rdstern commented on #2968
Could the implementation of this feature be discussed while you are together.  Once implemented in the Use Date dialogue these columns would become the defaults in the Define Climatic and they would then be used in the inventory plots when the DOY is one of the axes.

[2017-05-13 14:45] dannyparsons commented on #2968
Yes we can work on this as we update the inventory plot as well.

[2017-05-14 08:37] rdstern commented on #3067
David prepared a set of graphs for daily rainfall of exactly the type we would like to see.
There are 3 elements, namely
1) a bar geom for the rainfall.
2) rug plot to indicate missing values
3) text geom for values that are outside the range of the graph.
[Daily Rainfall Plot.pdf](https://github.com/africanmathsinitiative/R-Instat/files/999192/Daily.Rainfall.Plot.pdf)

Here is the R code from Dav

[2017-05-14 10:42] rdstern opened #3072 "Busy indicator?"
We will have to be able to break out of commands as has been noticed earlier.
It would also be good to have a busy indicator when a command is working.
I have just turned a column into a factor and it took over 30 seconds on my computer.

I am not complaining, because there were over 3 million rows!  But it would be good to know when to be patient!

[2017-05-14 11:43] dannyparsons commented on #3072
Links to #2882 and as well need to disable the grid and other features when commands are run outside of dialogs otherwise users can edit while code is running - a potential big mess.

[2017-05-15 08:31] stevenndungu commented on #2761
@AlexSananka  how is this going?

[2017-05-15 08:38] AlexSananka commented on #2761
@dannyparsons  was to work on it from somewhere.#2872

[2017-05-15 09:18] stevekogo opened #3075 "Climatic - Enhancing NetCDF dialog"
**Roger:** "I was looking at the ncdf4 facilities and trying to think what users may want. I notice there is an ncatt_get function. Given files might be quite large, I wonder if there is scope for:
a) Being able to find out about the file, without reading the data necessarily, e.g. what element, what units, etc. This could perhaps be an option at the top of the dialogue, i.e,. Provide Details and

[2017-05-15 09:31] #2642 closed

[2017-05-15 10:02] dannyparsons commented on #3067
Good to see David finally contributing some code to R-Instat!

Can we come up with a design for the dialog? Then it should be easy for someone to do with the code going into an instat object method.

[2017-05-15 10:52] dannyparsons commented on #2761
Yes on my list of things to get around to.

[2017-05-15 16:02] dannyparsons commented on #3067
From Roger:
This now could be a relatively simple dialogue - at least for the graphs.  And very exciting, partly because they really exploit ggplot well.  Also this is a common next step after the inventory plot in the data analysis.  It is sort of the equivalent of the one variable graphs for general data.

1. This dialogue falls naturally in the prepare section.  We then also have the possibilit

[2017-05-15 16:11] dannyparsons commented on #3067
This looks good. How about the element receiver always being multiple? Then there is a option to either do all elements together on the graph or include "element" as a facet variable.

Although with multiple elements, how do we specify the geoms for each variable? In a list box on a sub dialog? Unless we restrict to one geom for all elements, but that wouldn't be very useful for rain and temperatu

[2017-05-15 16:22] rdstern opened #3076 "Boxplots for climatic display of daily data on a monthly/annual basis"
This will be a dialogue (perhaps adapted in multiple places in the climatic menu.
The background is that the standard package for quality control of (daily) climatic data (rainfall and max and min temperatures - RCLIMDEX has boxplots as one of its methods.  We will not incorporate RCLIMDEX into R-Instat (unlike RCLIMDEX-PCIC for the indices), because it is programmed in such a way that it will be

[2017-05-15 16:27] rdstern commented on #2970
When I do the box-plot with facets I am able to do the View Graph dialogue.
But when I use the Describe > One Variable > Graph dialogue and produce box-plots with facets then it says:
---------------------------
Error running R command(s)
---------------------------
Error in UseMethod("ggplotly", p) :
  no applicable method for 'ggplotly' applied to an object of class "c('gtable', 'gTree', 'grob',

[2017-05-16 09:02] dannyparsons commented on #2724
fixed by #3070

[2017-05-16 09:02] #2724 closed

[2017-05-16 16:19] jkmusyoka opened #3088 "Three-Variable Modelling Dialogue"
I could not get to use the above-mentioned dialogue to fit a model with two predictors. After specifying both the first and second predictors, the dialogue fitted the second predictor only ignoring the first. I have tried this with several datasets including the ExperimentalSurveyData.RDS located in the Instat collection library. I was trying to fit village and variety to the yield.

[2017-05-16 16:25] jkmusyoka opened #3089 "Random subset of a factor column"
I have this dataset in eSMS which contains a variety column with 10000 cases. The column is a factor. I want to select 4 random samples of 250 each for some exercise with my students. I thought the random subset was build for such task but I could not use it because in the dialogue, the variety column does not appear in the Variables box for selection. I think it is because it is of the factor typ

[2017-05-16 17:45] dannyparsons commented on #3088
Urgent bug to fix in the next day or two @africanmathsinitiative/instat

[2017-05-16 17:48] dannyparsons commented on #3089
I believe this command should work on factors just as well as numeric columns. If it does then we should allows factors in the selector
@africanmathsinitiative/instat could someone check this urgently and report back?

[2017-05-16 17:56] stevenndungu commented on #3089
Yest, it works with factors as well.

[2017-05-16 18:00] jkmusyoka commented on #3089
Which version? I am using version 0.2.5.

[2017-05-16 18:09] stevenndungu commented on #3089
Sorry, I meant the dialogue can work with factors as well, but it was restricted to numeric columns only as you pointed out.

I have set it now to allow all columns in my branch `RandomSubsets`

[2017-05-16 18:11] stevenndungu commented on #3089
The changes are on pull request #3090.

[2017-05-16 20:45] #3089 closed

[2017-05-16 20:47] dannyparsons commented on #3089
@jkmusyoka do you still have access to the development version through Visual Studio? This may be useful for you to see the latest version before a new installer is released.

[2017-05-17 07:41] rdstern commented on #3088
While waiting, it would be good to check whether the model can alternatively be fitted now using **Model > General > Fit Model**.
And, in general, when we improve the Two Variable, Three Variable and Four Variable dialogues they should all also be possible with the Model > General > Fit Model dialogue.  It will just be that xcompleting the dialogue will be easier using the special cases.  Hence lo

[2017-05-17 07:47] jkmusyoka commented on #3088
The Model > General > Fit Model can be used to fit the model but returns quite complicated results for my students i.e. analysis of deviance. I was thinking that the general dialogue was for fitting glms???

[2017-05-17 08:13] volloholic commented on #3088
All the dialogues (should and I presume do) fit both LMs and GLMs depending on options such as the distribution you choose for the error term.

[2017-05-17 08:44] Lunalo commented on #3088
@volloholic

I don't understand your last part of the statement  "distribution you choose for the error term"  when you link it to GLMs

I would like to get more understanding on this.

[2017-05-17 15:39] rdstern opened #3095 "Case study from Kenya - climatic"
[WKenya_StationInfo.zip](https://github.com/africanmathsinitiative/R-Instat/files/1008263/WKenya_StationInfo.zip)

Here are the data from James Musyoka for the rainfall stations.

There also should be some stations with multiple elements.  It would be very good to get those as well.  We have some stations (particularly Dodoma) with rain, maxtemp, mintemp and sun hours.  It would be good to get at

[2017-05-17 21:43] dannyparsons commented on #3088
@Lunalo There's lots to do on the modelling menu still. Would you like to become more involved in this? with @lilyclements and @stevenndungu This could help improve your understanding of modelling generally. Of course there is still your main priority work on the Prepare menu.

[2017-05-17 22:01] dannyparsons commented on #3095
I don't believe this data is in the R-Instat library? Could it be?

[2017-05-17 22:03] #3088 closed

[2017-05-18 06:03] Lunalo commented on #3088
@dannyparsons

This will be a great opportunity to learn more. Actually, we have been discussing with @stevenndungu  on the same. I will now be happy to  get actively involved .

[2017-05-18 12:52] lilyclements opened #3097 "Compare Models"
@stevenndungu and I have been looking into the Compare Models dialogs. This is just where we're at and what we're thinking so far:

**Main Dialog:**
![image](https://cloud.githubusercontent.com/assets/21180424/26201519/47169c0c-3bcb-11e7-8f24-a3fd30426a64.png)
_Although with the Table and Graph buttons touching!_

Here we have:
1. Data frame selector
2. Multiple receiver. This receiver should only

[2017-05-18 13:23] dannyparsons commented on #3097
We can easily check LM vs GLM from the metadata
For number of variables, just quickly looking at an `lm` object I notice that:
[code]
And `x$model` gives the columns used in the model so `ncol(x$model)` gives the number of variables. There may be a better way to do this but at least it is possible.

Haven't checked if the same is possible for a `glm` but I expect it should be.

Note that we could

[2017-05-18 13:28] dannyparsons commented on #3097
Another method seems to be: `length(attr(x$terms, "variables")) - 1`

[2017-05-18 13:50] dannyparsons commented on #3097
What type of objects do we produce from Fit Model dialogs? I see `lm` and `glm` produce "lm" and "glm" objects. I know we are using more functions than these, what objects do they produce? We need to know this to be able to do the metadata checking.

[2017-05-18 14:15] trottingafrican opened #3100 "Generating two variable graphs"
We were in the process of creating two videos of these two scripts but we realized that they still needed more editing and further clarification.

On the Generating two variable graph, we were wondering if there would be anyone who can help us distinguish between the first variable box and second variable box. And also when we generate a graph, it appears on a separate window but it's minimized on

[2017-05-18 14:17] lilyclements commented on #3097
I don't think I fully understand the question, so I'm taking a stab at the answer here.

In Two variables we produce "lm" or "glm" if General is checked. The user can also check "Exact" and in this case I'm not sure what type of object is produced. I will look into this although I'm not sure how I can see what the object is in R.

In Three, Four, General we only produce "lm" or "glm" objects

[2017-05-18 14:21] lilyclements commented on #3097
I can see on lm it says
"An object of class "lm" is a list containing at least the following components:"

Whereas for say a t.test it says
"A list with class "htest" containing the following components:"

So it's saying a list for this case?

[2017-05-18 14:22] lilyclements commented on #3097
Update: If I look at their wrapper functions for t.test and prop.test it says it's "an htest object"

[2017-05-18 19:01] lilyclements commented on #3100
So, "First Variable" (which I believe has already been discussed that it should be renamed!) is like the "X-Variable" for each graph.
This variable type has to be the same class - if you input one factor here, the rest must be factors.

The "Second Variable" is the "Y-Variable".

So, say you use the Survey dataset and you put "Village" and "Fertgrp" in first variable
"Yield" in second variable
You

[2017-05-18 19:08] lilyclements commented on #3100
@africanmathsinitiative/developers I just realised this dialog still needs to be updated for anyone who is looking for one to update

[2017-05-19 07:22] Lunalo commented on #3100
![image](https://cloud.githubusercontent.com/assets/13945088/26237162/9f01403c-3c7c-11e7-8090-80872190bbfe.png)

When  I plot the graph shown above , Should the second variable be X?
`survey_temp <- InstatDataObject$get_data_frame(id.vars="Village.", measure.vars=c("Yield","Size","Field"), data_name="survey", stack_data=TRUE)
last_graph <- ggplot(data=survey_temp, mapping=aes(x=Village., y=value))

[2017-05-19 08:13] lilyclements commented on #3100
@Lunalo the top receiver is a single or a multiple receiver if you look at the dialog design on VB. It's just temporarily been set as a multiple receiver in the code - I'm not sure why this is, however.
If it's a single/multiple (i.e., ucrVariatesToFactor) then I think it is good at the top. It is consistent with the other graph dialogs that Maxwell has been working on.

[2017-05-19 08:18] lilyclements commented on #3100
Perhaps it's less like an "x" and "y" variable.
The second variable is more like a "by".
So, @Lunalo in your code you're looking at the Yield by Village, Field by Village and Size by Village.

I think we need to think of a more suitable name for both in this dialog, and in other dialogs where we have a "by" variable

[2017-05-19 09:25] AlexSananka commented on #3100
Before this dialog is re-written I think @lilyclements  can update the call type of this graph to 3 and it can help solve @PatrykNjoroge  issue on the videos?

[2017-05-19 13:42] rdstern commented on #2973
This seems to have started and then has slowed.  Here are comments on what is there now - which is looking good:
here are 3 minor suggestions on what is there now.
a) Change "Sum" to "Moving", both in the choice at the top and also in the block below.
b) Change the label "Rain Column" to "Element".  Allow any element here, but if it finds Rain, then that is put there (as now) as the default.
c) Ge

[2017-05-20 06:38] rdstern opened #3106 "Up-Down control improved"
Our dialogue "system" is now based on custom controls.  I assume therefore that the up-down control is one of these.  However the current version of this control continues to beset me with problems when I try using R-Instat.
This is a control to help us enter numbers.  I give you 2 extreme solutions to the problems we face entering numbers currently, because the discussion could be useful as a lea

[2017-05-20 18:57] dannyparsons commented on #3106
My initial reaction is that we don't do this before July. Although it would be nice, and it wouldn't be a huge amount of work, I think we have a reasonable solution already, which isn't ideal but works, and therefore other tasks should take priority. We would have to define our own nud control, I doubt we could change the behaviour of the existing one. Getting it to work would be easy but getting

[2017-05-21 18:33] rdstern commented on #3106
After discussion with David and Danny we will include the up-down numeric control when the minimum and maximum values permitted are clear.
In those situations where the values could be more or less anything then, at least for the first release, we will just have a simple control where we type the values.  This will still be a user control.  Examples are now in the regular sequence dialogue.
So exa

[2017-05-22 13:26] stevenndungu opened #3109 "ucrDistribution Extreme Value Error"
When I choose on Extreme Value Distribution option. The dialogue bug.
It is a problem with ucrDistribution control code on Extreme value, @Lunalo this is something to fix while still updating the control.

This is the error message given:
![image](https://cloud.githubusercontent.com/assets/20383893/26310935/363270bc-3f0b-11e7-9549-8c2149bb26f7.png)

[2017-05-22 14:42] Lunalo commented on #3109
@stevenndungu  It seems shape is an unused argument  which means it might be not one of the parameters . I will look into that tomorrow.

[2017-05-22 14:44] Lunalo commented on #3109
@africanmathsinitiative/developers

I have managed to fix the resseting and and  unusual indexing of the parameters list.

This will be ready by tomorrow to be reviewd

[2017-05-24 12:15] lilyclements opened #3111 "One Variable Describe bug"
@africanmathsinitiative/developers
On One Variable Describe there is a bug with the linking. I believe @stevekogo you had this bug before on a similar dialog (Two Variable Describe perhaps?) and I'm not sure how you fixed it.

So, if you
1. Open One Variable Describe
2. Put a couple of variables in the receiver
3. Check "Customise"
4. Add more variables to the receiver
5. Uncheck "Customise"

Then

[2017-05-24 12:31] dannyparsons commented on #3111
I believe this be solved by having the receiver linked to both functions so that the receiver contents in both functions is always in sync. It should be a simple fix to add additional parameters to the receiver.

[2017-05-24 13:14] dannyparsons opened #3113 "summary and html tables"
Summary tables are almost implemented and can be displayed as html tables in the output window. Some tasks are still remaining:

- more flexible options for multiple summaries/variables, currently they appear in separate tables
- separate code for converting a long format data frame into a table into a new function - this could then be used generally
- include further html options on sub dialog
-

[2017-05-24 13:42] dannyparsons commented on #3113
Sort the display of html tables i.e. control when web viewer is used and not used.

[2017-05-24 16:56] lilyclements opened #3115 "Summaries r-code, 10000 bytes"
@dannyparsons Occasionally in the new system I get the following bug:

The two situations I have got this is as follows:

1. Damango and Georgetown datasets. Perhaps other Climatic too
Go to the New Summary Tables dialog
In the factors receiver, input Year
In the columns to summarise receiver, input Rain
Select the "Mean" summary statistic
Check to include margins
If you click OK you get the error

[2017-05-24 18:42] dannyparsons commented on #3115
Thanks for this.
Just to confirm, this also gives a bug if run in R? Do you have an output of R code that causes this?

[2017-05-24 21:39] dannyparsons commented on #3031
Fixed so far (not yet merged just as notes):

- renaming levels, adding new levels, reordering levels - all retain correct labels
- adding a new level to a factor gives a default numeric value (max of current values + 1) for the label

I have implemented something to improve this, I think best for you to test and see instead of explaining the details here.

[2017-05-25 06:42] maxwellfundi commented on #3004
@stevekogo can this be closed?

[2017-05-25 07:18] ZIRANA11 opened #3117 "Bug with Column Summaries"
i selected two variables to be summarized but on checking the summaries i wanted, this error came up.

![image](https://cloud.githubusercontent.com/assets/28622260/26440002/16ade5b2-4133-11e7-9d22-2d18a3f29e1a.png)

[2017-05-25 08:53] lilyclements commented on #3115
Bug occurs if you run in R or R-Instat.

So, if I use Dodoma from the R-Instat library this is the error/R-Code running I get

[2017-05-25 09:11] lilyclements commented on #3117
Yep this has been fixed in the new system, thanks!

[2017-05-25 09:25] maxwellfundi commented on #3117
@ZIRANA11  well done for finding this bug and reporting it. This is useful to make the software better.

[2017-05-25 10:11] dannyparsons commented on #3117
Yes please continue to find bugs at @ZIRANA11 it is very helpful. But before you post a bug, first search the current issues to see if it's already been reported. This isn't easy because there's so many! but it's good to have a quick check before posting.

[2017-05-25 13:03] maxwellfundi commented on #3117
Now that this is fixed, I t could be closed.

[2017-05-25 13:11] dannyparsons commented on #3117
Well the pull request isn't merged yet, but once that is it can.

[2017-05-25 13:14] lilyclements commented on #3109
@Lunalo @stevenndungu so I looked into this and what I think is happening is that the `revd` function is being masked by another package we have loaded.

If you run
`Rand1 <- extRemes::revd(scale=1, loc=0, n=36, shape=0)`
on R-Instat then it works

So, once the package names are added into the ucrDistributions then this should fix?
@Lunalo since you're on the ucrDists perhaps could you fix this?

[2017-05-25 13:40] dannyparsons commented on #3031
Fixed issue converting character -> factor correctly.

[2017-05-25 13:57] maxwellfundi commented on #3117
Okay, great. I hope @lilyclements will reference this issue so that it automatically closes.

[2017-05-25 14:02] dannyparsons commented on #3117
It's already been sent, but merged now.

[2017-05-25 14:02] #3117 closed

[2017-05-25 15:50] lilyclements commented on #3115
Just to add in @stevenndungu's bug here:

![image](https://cloud.githubusercontent.com/assets/21180424/26455131/2f049cd6-4161-11e7-9872-66dfd80980fa.png)

I believe one reason why this is occurring because "summary_mean" is checked.

It looks like Steven ran this on the Column Stats dialog from the code

[2017-05-25 18:28] lilyclements opened #3120 "dlgOneVarUseModel - enhancement"
We are discussing dlgOneVarUseModel in #3110 and I had a point which to avoid confusion through multiple conversations occurring in that branch, I thought would be better in an issue

The initial issue for this dialog is written up in #1763, this is now closed otherwise I'd add to that. Additionally, a lot of the conversation from there is not relevant/a problem anymore

To save reading all of the

[2017-05-26 06:13] AlexSananka commented on #3120
@lilyclements I agree with you the error message should be more informative so that the user will understand what exactly is needed or what they are supposed to do so that they can continue.I think Lily's suggestion message makes sense.

[2017-05-26 06:17] AlexSananka commented on #3120
On the merging part of the subdialogs I think we can make them all tabs and this will avoid the subdialog being too long.We again do not want lot's of subdialogs in one dialog if it can be made one.I think merging them shouldn't affect the coding part of the dialog.

[2017-05-26 06:48] rdstern commented on #3120
I am enjoying this discussion.  One further issue is that some sub-dialogues are used in multiple places, while others are used just once.  So, for example, the looking at residuals is needed all over the place in our model-fitting dialogues, while options on prediction are only needed  in the Use Model dialogue.

I can still see an argument that a common sub-dialogue could become a tab in another

[2017-05-26 07:22] AlexSananka commented on #3120
This works needs to continue,It will be in appropriate to change subdialogs shared by lot's of dialogs  since some options in the subdialog will lose meaning.I don't think this specific dialog is being used in any other dialog.If doing this will make the dialog 'not easy to use' then it's good to maintain as it is.

Anyway we need to make a decision since this work needs to continue.

[2017-05-26 07:59] AlexSananka commented on #3120
If we're to merge the two sdg's then it will be good of course to suggest a different label for the sub dialog?but just before then let's here @lilyclements suggestions on whether to merge them or not.

[2017-05-26 09:23] lilyclements commented on #3120
I think we should make it one sub dialog.

The plot dialog adds parameters to the `quantile` function and the bootstrap dialog adds parameters to the `bootdist` function.
On the Plot dialog, as just mentioned, there is one option under "plots" which is only enabled when bootstrapping is checked
On the bootstrap dialog, there is one option (CI's) which does not affect the `bootdist` function, but i

[2017-05-26 11:31] dannyparsons opened #3122 "Column metadata resetting when changing column"
This is a bug that's likely across dialogs. When a column is changed, sometimes the column metadata is lost and reset. This has become obvious to me when using labels for factor columns. I've noticed this on factor dialog but it will be an issue in others. It should be a simple fix but we need to identify where it's happening.

As an example, take a numeric column, change the significant figures v

[2017-05-26 11:55] lilyclements commented on #1944
@dannyparsons this can now be closed

[2017-05-26 12:26] stevenndungu commented on #2815
@dannyparsons   this could be closed, already worked on

[2017-05-26 12:35] stevenndungu commented on #2808
@dannyparsons  this should  be closed, fixed it some time back but forgot to reference it.

[2017-05-26 13:13] #1944 closed

[2017-05-26 13:15] dannyparsons commented on #2815
Thanks, I think I'd like @rdstern to test these and confirm it

[2017-05-26 13:17] #2808 closed

[2017-05-26 14:23] #3031 closed

[2017-05-26 14:24] dannyparsons commented on #3031
The issues of converting between types should now be solved. There is still work to do making the labels editable through dialogs.

[2017-05-26 14:34] stevenndungu commented on #2588
This was sorted by #2589 it can be closed

[2017-05-26 14:35] stevenndungu commented on #2522
This was fixed. ready to be closed now

[2017-05-26 14:40] stevenndungu commented on #2273
This is practised well by everyone now in the team which is quite nice. It could be closed now.

[2017-05-26 14:47] #2522 closed

[2017-05-26 14:48] #2273 closed

[2017-05-26 14:53] stevenndungu commented on #1805
I have worked on rewriting this dialogue to the new system and I see this was fully addressed. @dannyparsons  this could be closed as well

[2017-05-26 14:56] #1805 closed

[2017-05-26 15:06] stevenndungu commented on #1779
I think this has been implemented on dlg Replace. @dannyparsons this could closed.

[2017-05-26 16:53] dannyparsons commented on #1779
We haven't actually done this part yet and Roger will be very pleased you're raised this again, it's still to do!

[2017-05-26 17:01] stevenndungu commented on #1779
Ok great. I was looking at both functions; `na.locf` and `fill` which sounds easy and quick to put this in place. I will be OK to have  `na.locf`  done now that you seemed to have agreed on with Roge unless otherwise.

[2017-05-26 17:08] dannyparsons commented on #1779
Thanks. What do they both return? I think my issue before was the one function was done on a whole data frame, and returned a data frame, whereas it's more sensible for us to use a function that works on a column.

[2017-05-26 17:22] dannyparsons opened #3125 "Adding text to remove unused levels dialog"
I think we've discussed before that this dialog is a bit confusing because it's not clear what you have to "do" apart from choosing a factor. It just removed all the unused (empty) levels so there's no other selection to make.

To improve this I suggest adding a label or text box under the factor grid which will either say "no unused levels to remove" or "x unused levels will be removed". The numb

[2017-05-26 18:01] lilyclements commented on #2588
I don't believe this was sorted in that pull request, I only referenced it there to say that I have reported this bug for when it would be reviewed. I think this is still a bug

[2017-05-26 19:04] dannyparsons commented on #2588
Thanks, can it be fixed then?

[2017-05-26 19:12] stevenndungu commented on #1779
`fills`  replaces missing values in, using the previous entry. This can either be  backwards or forward approach.  This is to mean  that for the forward approach it  replaces subsequent missing values using the  first value encountered till the next value in the column that is found to be non-missing, again the next non- missing value is used to replace missing values to the next non-missing value

[2017-05-26 19:20] stevenndungu commented on #1779
therefore we can go with  na.locf which quite better than fill with more parameters that are useful over fill  ie `na.rm`, `rev`...

[2017-05-26 20:05] dannyparsons commented on #1779
Thanks Steven, this is really useful. How will this work with our dialog which allows multiple columns? I think `na.locf` should work on a data frame as well?

[2017-05-26 20:08] dannyparsons commented on #1779
I agree, na.locf looks the most useful and it could work on a single column which is useful for us as well.

[2017-05-27 11:11] lilyclements commented on #2302
Double checked and these bugs have been fixed, @dannyparsons this can be closed.

@africanmathsinitiative/developers this is a dialog which still needs to be updated, in case anyone is looking for a task!

[2017-05-27 11:20] lilyclements commented on #2314
@maxwellfundi I believe you're working on these at the moment in #3087, I just wanted to bring your attention to this issue. I assume this is only 100 because 100 is the default. Can you make this so that the x/y nuds for under the **scale** groupbox have no maximum?

[2017-05-27 14:12] lilyclements commented on #2363
So I looked into this a bit to pinpoint when the issue occurs.

This issue occurs **any time** you reorder any columns, so they don't have to be made via the calculation system - just running
InstatDataObject$reorder_columns_in_data
means some columns become NA - such as, data_name, is_calculate, is_linkable and label.

[2017-05-27 15:05] lilyclements commented on #2300
@Lunalo I believe you were working on this,how is this coming on?

[2017-05-27 15:09] lilyclements commented on #2320
@dannyparsons can this be closed now? There are three open discussions on links and keys

[2017-05-27 16:29] lilyclements commented on #2014
@dannyparsons I think this issue can now be closed. We have created (and still are creating) consistency between subs through updating the dialogs.

[2017-05-27 16:33] lilyclements commented on #2014
@dannyparsons I think this issue can now be closed. We have created (and still are creating) consistency between subs through updating the dialogs.

[2017-05-27 17:00] lilyclements commented on #1984
@dannyparsons This can be closed now as we fixed this problem

[2017-05-27 17:18] lilyclements commented on #1919
@dannyparsons This can now be closed

[2017-05-27 17:22] #2302 closed

[2017-05-27 17:25] dannyparsons commented on #2314
We have discussed that these should not be nuds because the range and scales of the values are too varied. They should be input controls with validation set.

[2017-05-27 17:26] #2320 closed

[2017-05-27 17:28] #2014 closed

[2017-05-27 17:28] #1984 closed

[2017-05-27 17:28] #1919 closed

[2017-05-28 08:58] rdstern commented on #2997
We now have the ftable dialogue.  Well done.
We also have the new summary table dialogue.  And this looks great with the html.
I originally felt the ftable dialogue had a limited life, because we would overtake it with the work (still to be done) on our own frequency tables.
But I think it would be good (and easy) to "complete" it.  Even if pretty tables are then better done in a different way, th

[2017-05-28 10:00] dannyparsons commented on #2997
Interesting idea, and needs some discussion before implementing - particularly on whether editing this will take longer than doing the "proper" frequencies dialog through the calculation system.

[2017-05-28 14:17] rdstern commented on #2475
It would be good to add to the options for transforming a single date-type column into a real date.

More options could be added.  I am also not sure what is meant by the default.  And could we add in the option to specify the format, which seems to be there, but disabled.

Among others to add that I have come across are 6101972 for 6 October 1972, i.e. no spaces and also no zero in the days.  And

[2017-05-28 14:35] dannyparsons commented on #2475
This dialog is currently very messy, it has lots of options, some duplicated, and many are not as flexible as we need, even converting from 3 columns is pretty inflexible in the formats you can give.
It's a pretty complex dialog, so I'd like someone to rethink the design and functionality if more work is to be done on this.

[2017-05-29 08:46] AlexSananka commented on #3120
@lilyclements can this be closed now?

[2017-05-29 08:56] stevenndungu commented on #1779
Yes. Actually for case of our dialogue we could have the multiple receiver cum single receiver which is used in plot dialogues so that as you switch from what we have to na.locf a single receiver is visible. Or have both one on top of the other (which I think is better).

[2017-05-29 09:07] AlexSananka commented on #3111
I am going to fix this.

[2017-05-29 11:15] dannyparsons commented on #1779
`na.locf` can work with multiple columns in a data frame so no need to change the dialog I think.

[2017-05-29 13:09] lilyclements commented on #3120
The initial question of this issue was "My question here is, do we have a way to limit values put in a ucrInput?"
And if not, then how can we combat this issue that the user can input any (numerical) value and get this error that isn't clear what the problem is?

[2017-05-29 13:11] dannyparsons commented on #3120
If you check the options when setting validation type as numeric there will be options for max and min values.

[2017-05-29 13:23] lilyclements commented on #3120
Excellent! @AlexSananka I believe you're on this dialog at the moment. Can you sort this?

[2017-05-29 13:34] lilyclements commented on #3120
@AlexSananka I believe the line to add to the sub is
`        ucrInputQuantiles.SetValidationTypeAsNumeric(dcmMin:=0, dcmMax:=1)`

[2017-05-29 13:44] AlexSananka commented on #3120
at least this makes sense and more informative pop up when the user inputs values out of range.

[2017-05-29 13:50] lilyclements commented on #3120
So, I think on ucrInput we need to change it to something along the lines of

`    Public Sub SetValidationTypeAsNumericList(Optional bNewAllowInf As Boolean = False, Optional MinValue As Integer = Integer.MinValue, Optional MaxValue As Integer = Integer.MaxValue)`?

Then on the sub we can set the min and max values as 0 and 1.

[2017-05-29 15:02] AlexSananka commented on #3120
Can I also add the option  for `SetMinMax`?

[2017-05-29 15:12] AlexSananka commented on #3120
But wait,why don't you think this    `ucrInputQuantiles.SetValidationTypeAsNumeric(dcmMin:=0, dcmMax:=1)`
is what we need?

[2017-05-29 15:20] lilyclements commented on #3120
We can't use that because
1. This is for TypeAsNumeric not NumericList. We want a list as it's numbers separated by a comma
2. I realised dcm is short for decimal. We don't want to limit the decimal places at all, we want to limit the minimum and maximum values.

[2017-05-29 16:40] dannyparsons opened #3136 "Calculations dialog"
Try should be disabled when the expression is blank

[2017-05-29 17:26] dannyparsons opened #3137 "Combo box types"
@africanmathsinitiative/developers
We now have 2 or 3 different combo box types for use on dialogs. (Thanks @shadrackkibet for bringing some of these suggestions, and I think @Lunalo also brought this up previously.)

1. Non editable - the user cannot type into the combo box and can only choose values from the list
Set by using `.SetDropDownStyleAsNonEditable()`
2. Editable and can type anything -

[2017-05-29 17:33] lilyclements commented on #3137
Excellent, sounds good. Is it possible to implement Type 1 on the ucrDataFrameSelector? I assume that is the correct type for the selector unless you can think of otherwise?

[2017-05-29 18:08] dannyparsons commented on #3137
If we decide not to implement type 3 in the near future then type 1 is good option yes.
There's an added complication that I don't the data frame selector has an input combo box yet so that needs careful updating, but it should be done very soon.

[2017-05-29 18:38] dannyparsons commented on #3136
Same needed for the Enter dialog.

[2017-05-29 18:44] dannyparsons opened #3138 "Consistent display of separator characters etc. in Text dialogs"
@africanmathsinitiative/developers
I noticed that Text dialogs don't have consistent ways of displaying characters in combo boxes. For examples, I've seen "Space" vs "Space ( )", and "Underscore" vs "Underscore _" in different dialogs.

I'm happy with the second display in each case so we show the name of the symbol and the symbol itself. Unless there's disagreement, could this be changed to be im

[2017-05-30 06:17] AlexSananka commented on #3120
For a list I think you can only set the length of the list but setting the maximum value is something different.If you want to set the value then you might have to do it a the `SetValidationTypeAsNumeric` sub.

[2017-05-30 07:38] maxwellfundi commented on #2314
great, i will change this to inputs from nuds

[2017-05-30 07:55] dannyparsons commented on #3120
@AlexSananka this should be simple, either your control is for entering a list or for entering a single number. If that's clear it should be clear which one of `SetValidationTypeAsNumericList` or `SetValidationTypeAsNumeric` to use.

[2017-05-30 08:34] stevekogo opened #3140 "Adding netcdf.tools package to R-setup"
@dannyparsons Kindly add this package and dependencies to the project. It is needed by netcdf dialog #3068

[2017-05-31 11:52] #2987 closed

[2017-05-31 11:56] dannyparsons commented on #2875
@africanmathsinitiative/developers
This is now being implemented well. We need to make the switch over very soon so that in v0.3.0 on 9 June we no longer load all packages in setup. I suggest that on Saturday 3 June after the next release I make this change. We then have a week to update remaining dialogs. Make sure any dialogs you work on have the package name set if needed otherwise they will no

[2017-05-31 12:42] dannyparsons commented on #2875
A few core packages will still be loaded, like `dplyr`, and a few others which prevent small bugs like `svglite` can be loaded too. Although the package should really handle this itself, can you get the message for this so we can see if it's a known issue?

[2017-05-31 12:45] dannyparsons commented on #2875
A few core packages will still be loaded, like `dplyr`, and a few others which prevent small bugs like `svglite` can be loaded too. Although the package should really handle this itself, can you get the message for this so we can see if it's a known issue?

[2017-05-31 15:18] shadrackkibet commented on #3136
i am working on this.

[2017-06-01 15:35] #2968 closed

[2017-06-01 15:50] dannyparsons commented on #2968
@rdstern this could be tested now (also try converting the shifted year between numeric and factor)

[2017-06-02 07:23] stevekogo commented on #2976
@shadrackkibet and I are suggesting we have a skype call to discuss this dialog. The main focus is on peaks above threshold where I think we can use filters or subset in order to address the issue.
@dannyparsons, can you call us anytime so that we can discuss this.

[2017-06-02 07:48] dannyparsons commented on #2976
We could Skype after the meeting with the team, but yes that part should be done with filters

[2017-06-02 09:30] rdstern opened #3152 "Weighted analyses in R-Instat?"
When we share R-Instat we will get comments relating to details, and some that are more major and general.  Here is an example of a major query, from Carlos - SSD.  This is just from describing what we have now done with the thought he would be impressed.
Danny/Roger:  We now have quite a lot on tables, particularly summary tables and will also have frequency tables, which is one of the things you

[2017-06-02 09:57] lilyclements opened #3153 "Multivariate Dialogs"
@africanmathsinitiative/developers the Multivariate dialogs are waiting to be updated still. I've started work on the sub dialog for Canonical Analysis (CCA) since it's dialog is updated and merged but sub is not so has lost functionality.

We need to update:
- dlgCorrelations and it's sub dialog
- I think I have a branch with the updates for dlgPrincipalComponentsAnalysis. The sdg isn't yet compl

[2017-06-02 10:33] dannyparsons opened #3155 "Managing objects in instat object"
We now have graphs, models and tables as saved objects. Currently we are using the class to distinguish between objects of different types, however this is complex because of varied classes with a type. Instead we should add an attribute for type when we add an object to clearly label its type.
This could also be used to further categorise types e.g. type = "model" and sub_type = "one variable"
Th

[2017-06-02 11:23] rdstern commented on #3155
Great.  That sounds excellent.  I wonder what more we might do with these objects by the first release.  Objects being clear in a menu driven package is exciting, both in teaching and in practice.

[2017-06-02 11:38] lilyclements opened #3156 "Frequencies/Levels and Labels bug"
So, this is a bug which gives me my levels in the frequency table twice.
Very generous of the software to give it to me twice, however, this is one time too many.

I open _survey_, and I convert **Village** to numeric
It gives the new levels automatically
Then I decide I no longer want it to be numeric so convert it back to a factor
Then I run the "One Way Frequencies" dialog for **Village**
It gi

[2017-06-02 11:48] dannyparsons commented on #3155
The export R workspace is quite interesting because you can get each object as an R variable in your environment when you load the exported file into R.
We could also have a few more using dialogs for the objects, like for tables.

[2017-06-02 13:56] dannyparsons opened #3158 "Display of html tables"
Number of issues:
1. Sometimes the table comes in a web browser as well as the output window. This seems to always happens when you get multiple tables, must also sometimes when doing single tables. This is related to a known issue in the package which relates to a known issue in core R code.
2. Large tables take a long time to load because the raw html output is being printed in the debug output

[2017-06-02 13:58] dannyparsons commented on #1538
@lilyclements could you add your example of an object not importing here which was neither a matrix nor a data frame?

[2017-06-02 13:59] dannyparsons commented on #1752
Can this be closed?

[2017-06-02 14:01] dannyparsons commented on #2383
The initial work on this is done, further improvements can be in a new issue.

[2017-06-02 14:01] #2383 closed

[2017-06-02 14:02] dannyparsons commented on #2491
Reopen if needed but I suggest this can be closed.

[2017-06-02 14:02] #2491 closed

[2017-06-02 14:02] dannyparsons commented on #2525
Have the original bugs been resolved?

[2017-06-02 14:03] #2532 closed

[2017-06-02 14:05] dannyparsons commented on #2539
The first part of this has been implemented. Second part relates to general display of column types, which I think should be a separate issue.

[2017-06-02 14:05] #2539 closed

[2017-06-02 14:06] dannyparsons commented on #2540
Let's have a separate issue for calculator additions if needed.

[2017-06-02 14:06] #2540 closed

[2017-06-02 14:06] dannyparsons commented on #2300
Where are things on this?

[2017-06-02 14:08] dannyparsons commented on #894
The small additions here haven't been implemented, they should be quick, as I said in January.

[2017-06-02 14:13] dannyparsons opened #3159 "Display of column types in grid"
Our current way of displaying column types in the grid is not adequate because it is not visible unless column names are short. We need both a better solution that is quick to implement and a longer term solution.

The easiest is adding the type before the name of the column instead of after. Are there other quick alternatives? Colours in the headers doesn't seem possible yet in the grid.

We also

[2017-06-02 14:25] lilyclements commented on #1538
When you import from the library, there is a package called "Matrix". This contains three datasets, all of whom are neither a matrix nor data frame.

[2017-06-02 14:36] rdstern commented on #3159
I am happy that we put the type before the name as a short-term solution.
Again short term, let's have (o) or (of) for ordered factor?
Can we have italic for factors?  If so, then we could consider having both factor types in italic, and leaving the label (f) etc at the end of the name.  The other types are reasonably clear, i.e. dates look like dates in a column, and texts ((usually) look like te

[2017-06-03 07:56] rdstern commented on #3152
Another smaller package that may be useful is called **questionr**.  It has an interesting example of a 3-level survey, and includes weighted mean and variance.  It also has weighted frequency tables, but only one or two way.  It says it is a package to make survey data processing easier.  It is from France, and I wonder if the author would be interested in what we are doing?
It says that the weig

[2017-06-04 13:06] rdstern opened #3176 "Changes in Prepare menu?"
We have a number of (slightly related) improvements to R-Instat that have happened, and will happen soon.  I suggest they could impact the Prepare menu.  I would not want changes yet, but suggest we should have a discussion very soon to plan for this.
I also relate the changes, etc to SPSS, because some aspects (e.g. labels) have been driven by the approach there.
1. We are sorting out **weights**

[2017-06-04 20:01] dannyparsons opened #3179 "Resetting sub dialogs with tabs"
When a sub dialog opens with reset as True, we should reset the sub dialog to display the first tab
There could be other "non code" things to reset such as current receiver

This is now done for plots sub dialog. Could someone do this on all other sub dialogs with tabs?

[2017-06-04 22:04] lilyclements commented on #3179
In addition, is it possible to say on the one/two/three-way frequency dialogs that if Graph is checked then the tab automatically selected on the sub is the Graph tab?
If both or Tables are checked, then the Tables tab can be selected on the sub.

[2017-06-04 22:58] dannyparsons commented on #3179
yes that info could be passed through from the main dialog, good idea.

[2017-06-05 12:48] AlexSananka commented on #3120
This dialog is in good shape now except a few issues which we've discussed with @lilyclements ;
First is the fact that it doesn't produce a graph when you don't open the `sdg` and yet the default is the multi plot so we should have multi plots,I do not know if this reason is good enough to make the` rdoNo Plot `a default,but I we should find a good way to implement the option for no plot since tha

[2017-06-05 14:52] AlexSananka commented on #3179
Am happy to take up this task

[2017-06-05 15:08] dannyparsons commented on #3159
We now have a different colour for factor column headers so its sufficient to keep the code at the end of the column name.

[2017-06-05 15:08] #3159 closed

[2017-06-05 21:46] dannyparsons commented on #2875
@africanmathsinitiative/developers
This is now implemented #3184. The only packages loaded now are: `plyr`, `dplyr`, `ggplot2` and `svglite`  because we need features in these not available without loading them. If there are other packages that need loading, let me know.

There will now be bugs in dialogs where the package name hasn't been set for functions.

Every dialog needs to be checked befor

[2017-06-05 22:05] dannyparsons commented on #3152
We decided to initially implement weights for mean, sum, sd, max, min as these are simple.

[2017-06-06 07:25] lilyclements commented on #2875
On the excel documents there's a column named "LILY". These have a "yes" next to any dialogs I have edited to sort layouts, add package names and such.
Therefore the dialogs with a "yes" in this column all any dialogs already have the package name so there is no need to check these dialogs.

Note: don't add a "yes" in these columns, however, if you add their package name. I'm making more changes t

[2017-06-06 07:26] lilyclements commented on #2875
Also note that base and stats packages are automatically implemented.

[2017-06-06 07:44] shadrackkibet commented on #3138
I am working on this now.

[2017-06-06 07:50] AlexSananka commented on #3179
What about saying that that if Graph is checked then the tab for the table options is disabled and vise versa?

[2017-06-06 07:59] dannyparsons commented on #3179
No because the user may want to edit the table options on the sub dialog and then go back to the main dialog and check table. We generally don't want to disable things unless we have to.
I think setting the default tab when opening is a good idea.

[2017-06-06 08:06] rdstern opened #3187 "Open from Library"
The help on data sets no longer works.
It gives the error in the html window -

Error in file(out, "wt") : cannot open the connection

[2017-06-06 08:09] rdstern opened #3188 "Tools > Options > Output Window"
In preparing for Stats4SD I tried to turn off the commands and comments to the output window.

I can turn of the commands OK, but the comments keep coming!  I would like the option to turn them off.

If there is time (0.9 timeline) I would also like options on what menu items to display, in particular the climatic and procurement menus.

[2017-06-06 08:14] dannyparsons commented on #3188
The comments option in the sub dialog sets the **default** value for the comments check box in the sub dialog. It can still be checked or unchecked.
If a dialog is reset the checkbox should be unchecked by default if the global option is unchecked. This is how I believe it should be working at the moment, but good to check, and also discuss if this behaviour should be different.

[2017-06-06 09:23] #3187 closed

[2017-06-06 09:23] dannyparsons commented on #3187
Now works correctly for me, it was an issue getting data from packages which are now not loaded.

[2017-06-06 09:25] #3138 closed

[2017-06-06 09:45] AlexSananka opened #3194 "Developer Error in subdialogs with ucrInput Combobox Control"
I was trying to use the current version of the software and when I used sub dialogs with the `ucrInput Combobox `and then go back to the main dialog and reset then try reopen the sub dialog I get the error
![image](https://cloud.githubusercontent.com/assets/25578150/26823320/e9fffaa0-4ab5-11e7-860f-982840fc5be0.png)

This was hapening in `sdgOnewayFrequencies`,`sdgtwowayFrequencies` and `sdgClimde

[2017-06-06 10:04] lilyclements opened #3195 "instat_object packages to add"
The following are packages to add to the instat_object_R6.

1. Line 1256, add `RMySQL`, so that we have: `...drv = RMySQL::MySQL())...`

2. Line 1257, add `getPass` so that we have: `getPass::getPass(...`

[2017-06-06 10:11] dannyparsons commented on #3195
If you look in the master currently, it's slightly different to this: https://github.com/africanmathsinitiative/R-Instat/blob/master/instat/static/InstatObject/R/instat_object_R6.R

[2017-06-06 10:19] lilyclements commented on #3195
Why is that line commented out for getPass?
It now gives my password in the right-hand-side of the code

[2017-06-06 10:20] lilyclements commented on #3195
And thanks, I've removed the netCDF one from my list as this is fixed. The other two need their packages though.

[2017-06-06 10:46] lilyclements commented on #3195
`is.Date` function needs the package `lubridate` to it.
This is in DataManipulationMethods.R, line 74
And seven more times in data_object_R6

[2017-06-06 10:47] lilyclements commented on #3194
So, this occured to me the other day on a different dialog. Have you changed the designer? A line automatically is coming in for ucrInput which if you comment it out, it fixes this problem.

[2017-06-06 10:48] lilyclements commented on #3194
It's this line here that caused the problem for me. Perhaps have a check if this is the same for you?
`        Me.ucrInputSeparator.AddQuotesIfUnrecognised = True
`

[2017-06-06 10:52] AlexSananka commented on #3194
I haven't changed the designer,I just updated my branch and run it.Maybe I can check if this line is adding itself but  am not sure.

Does this happen in all branches,I have tried switch between branches and the error still occurs.

[2017-06-06 10:58] #3195 closed

[2017-06-06 11:51] lilyclements commented on #3194
Did you look at the designer for if these changes occurred? That's a problem i've been having on ucrInputs anyway. I just thought I'd check in case it were that!

[2017-06-06 12:07] AlexSananka commented on #3194
I finally found this line and commented out and unfortunately doesn't fix my problem.

try this in `sdgClimdexIndices`

[2017-06-06 13:00] lilyclements commented on #3194
If it doesn't fix the problem then uncomment it out. I'll have a look shortly in sdgClimdexIndices

[2017-06-06 13:04] lilyclements commented on #3194
How did Danny fix it on the frequencies subs? Why can't we apply the same method to fix it there to this climdex dialog?

[2017-06-06 13:05] dannyparsons commented on #3194
that was an accidental fix of something else which apparently fixed for frequencies, not sure why though. I can look into this later if needed.

[2017-06-06 16:04] shadrackkibet commented on #3136
@dannyparsons this can now be closed.

[2017-06-07 06:57] stevekogo opened #3201 "Selecting specific columns after applying filter in calculation system"
This feature needs to be added to the calculation system to enable selecion of specific columns after applying a filter. Climatic extremes dialog needs to use this feature to return appropriate extremes data frame based on a threshold.

[2017-06-07 07:03] stevekogo opened #3202 "Additional feature in UcrSave"
The calculation system uses a different saving mechanism where you specify the result name or result data frame name and the saving will be done by the system. Could we add a feature to the ucrSave where it just passes column name prefix text?

[2017-06-07 08:02] #3136 closed

[2017-06-07 08:05] dannyparsons commented on #3202
This does need to be adapted to for calculations. It becomes complicated as sometimes results are columns in other data frames so prefixing isn't obvious.

[2017-06-07 13:46] AlexSananka commented on #3111
Can this be closed?

[2017-06-07 16:36] lilyclements opened #3208 "One Variable Frequencies - Core bug?"
One Variable Frequencies is calling auto.group = 2 when you first click OK even though this option is not checked.

If you then check and uncheck it, it runs as you would want it to.

I think this is a problem in the core control, partly because I can see no one has edited this dialog for the past few weeks, but yet this problem has only started occurring either today or yesterday.

[2017-06-07 20:51] rdstern opened #3210 "Column summaries"
I load our simple summary data.  I do a summary of yield by village.  I ask for N total, number missing (which is always zero), and total and mean.
---------------------------
Error running R command(s)
---------------------------
Error in c(, , "summary_count", "summary_sum") : argument 1 is empty

The error occurred in attempting to run the following R command(s):

InstatDataObject$calculate_sum

[2017-06-07 21:05] rdstern opened #3211 "Keys, links and comments dialogues"
1. I don't know whether the Comments dialogue is supposed to work yet.  When I try the menu item it throws me out of R-Instat.
2. I was able to make a key column.  But the next dialogue says View and Delete keys.  I wanted to view a key, but don't see what there is to view?  The view links does something.  Should we be able to "View" a key, or should we just call the dialogue "Delete keys"?
3. Whe

[2017-06-08 07:21] #3111 closed

[2017-06-08 12:08] rdstern commented on #2973
If you are going to calculate a spell, then it has to be a spell of values in a particular range.  For rainfall we have perhaps the default of between 0 and 0.85 (inclusive).  For temperatures it could be 30 to 50 degrees, etc.

[2017-06-08 12:17] stevekogo commented on #2973
Perfect! I will implement this right away.

[2017-06-08 13:00] Lunalo opened #3216 "List of dialogs on prepare menu which are bugging"
Hi team,

I have been testing functionality of all prepare menu dialogs .

I think we should now give priority to the following list of dialogs

(View, Sort, Dummy variables, View R objects) These are breaking on load. I think there is a problem with how the panels are being set

Add comment: This might be due to lack of the r method. It can be dissabled for now

Delete Rows or Columns : Data name

[2017-06-08 13:56] rdstern commented on #3208
I think this was reported before, but the graph from this dialogue is supposed to be a ggplot2 object, but it gives the following error when using the View Graph dialogue:
---------------------------
Error running R command(s)
---------------------------
Error in UseMethod("ggplotly", p) :
  no applicable method for 'ggplotly' applied to an object of class "c('gtable', 'gTree', 'grob', 'gDesc')"

[2017-06-08 14:01] rdstern commented on #2753
I tried the above, again with the diamonds dataset.  As before the default works OK.

But I had all columns and then tailored the summary to give max and min plus some others - and got:
---------------------------
Error running R command(s)
---------------------------
Error in c(, , "summary_sum", "summary_count_non_missing", "summary_count") :
  argument 1 is empty

The error occurred in attempti

[2017-06-08 14:15] lilyclements commented on #3216
I just found this issue on Sort too. I traced it back to when the line

        ucrPnlMissingValues.bAllowNonConditionValues = True

Was introduced. This line is causing an immediate crash on the Sort dialog.

[2017-06-08 14:15] lilyclements commented on #3216
As for Delete Rows or Columns: The `data_name `problem has been fixed.

[2017-06-08 14:46] lilyclements commented on #3211
I did some minor edits/bug fixes on these dialogs the other day which are waiting for @Lunalo to review before they are merged.
To 2: On "View and Delete Keys", it is no longer a checkbox. The option is now a radio button now between "View Key" and "Delete Key". This is because this is how it was in "View and Remove links"

There are other bugs on here that need to be fixed:
6. On When creating a

[2017-06-08 14:47] lilyclements opened #3222 "Importing from Library - xls"
A bug we've had for a while which needs to be fixed: Upon importing an xls file, often it only imports the first 9 lines. This is because it's reading in the "Preview" box and not the data set.

[2017-06-08 15:04] dannyparsons commented on #3216
Thanks for this list John.

Has anyone discovered the cause of the `bAllowNonConditionValues` bug?

[2017-06-08 16:16] rdstern opened #3225 "Describe > General > Graphics"
Is working - great.
1. The help goes to the wrong place.  The help number is 420.
2. The help on the sub-dialogue goes to the top, i.e. it is unset.  I have added a sub-dialogue called Add/Edit, with number 569.
3. The Plot Options dialogue has number 136.
4. I started with a boxplot.  I assume there is a good reason why most of the other geoms have x before y, but boxplots has y before x.  Why ca

[2017-06-08 17:41] lilyclements opened #3226 "Climdex bug"
So I believe the issue is occurring because of a core problem. If I run the contents of this dialog on a branch from a few days ago, it runs fine - although it does not give any output. I'm not sure if this is what we expect by just pressing OK on the dialog.
If I run the contents of this dialog on an updated branch, I get the following error:

There are also clear issues in the setup for `SetRCod

[2017-06-08 17:56] lilyclements commented on #3216
So on Sort it crashes to this line

[code]

I just checked and this was introduced two days ago.

the problem is starting to make sense. My vague attempt at a solution would be to make it:
[code]

But, this may be a terrible suggestion. I'm not so good at the ucr codes!

[2017-06-08 20:20] dannyparsons commented on #3216
Thanks for identifying the location! Without looking in the code, possibly there are no values in the dictionary, in which case there no index 0 and it will crash. Instead it should just get the first radio button in the panel or something. But I'll have to check in the code to see if this is actually the cause.

[2017-06-09 12:27] #3216 closed

[2017-06-09 12:28] dannyparsons commented on #3216
I've tried to fix this. It doesn't give errors on mine now. Can you check?

Also when I went to Prepare > R Objects > View. It opened the View Data dialog. This isn't right? @Lunalo could you have a look at this too.

[2017-06-09 12:36] Lunalo commented on #3216
I am going to test it.

Thanks.

[2017-06-09 20:07] AlexSananka commented on #3125
I think this should be closed

[2017-06-09 20:08] AlexSananka commented on #3179
This is also fixed,expect on sdgonevarcompare which am working on now

[2017-06-09 20:10] AlexSananka commented on #2759
Should this be closed?

[2017-06-09 20:12] AlexSananka commented on #2751
This should be closed

[2017-06-09 20:15] AlexSananka commented on #2757
Can this be closed too?

[2017-06-09 20:35] #3125 closed

[2017-06-09 20:36] dannyparsons commented on #3179
Great reference to here and we will close when that is merged.

[2017-06-09 20:36] #2759 closed

[2017-06-09 20:37] #2751 closed

[2017-06-09 20:37] dannyparsons commented on #2757
I think just changing the radio buttons to "Ascending/Descending frequencies" is still to be done.

[2017-06-10 06:31] AlexSananka commented on #2757
I can fix this.

[2017-06-10 09:07] rdstern opened #3245 "Describe > Three Variable Dialogues"
1. I think the first 3 menus should be disabled at this stage, i.e. Summarise and Graph
2. So, in Frequencies the table was OK, but the graph didn't work.  It gave an error.  I tried with the diamonds data set, using the 3 factors as an example.  What it said was:

And I assume the group_by is corrct in being before the dplyr?

Error running R command(s)

Error in group_by_(.data, .dots = lazyeval

[2017-06-10 09:27] rdstern opened #3246 "Describe > General > Menu"
A suggestion first for the menu.

Could we consider a swap (or two!).  I think this is simple - but important.

We currently have:
Column Summaries
Tabulation (not enabled)
Graphics
Frequency Tables

1. Could we change the menu item Frequency Tables to **Use Summaries**
(We have Use Graphs elsewhere.  This isn't quite a parallel, but close.)
For now we move the existing dialogue Describe > Specifi

[2017-06-10 09:39] rdstern opened #3247 "Describe > Specific > Summary Tables"
1. When going into this dialogue I first get a message:

instat

Developer error: no state of control ucrInputPageBy satisfies it's condition. Cannot determine how to set the control from the RCode. Modify control setup so that one state can satisfy its conditions.

I don't remember getting this message the first time I went in.  The dialogue then appears.  Perhaps this message is because of the e

[2017-06-10 09:56] dannyparsons commented on #3245
This just seems to be the order of parameters, the `diamonds_temp` should go first and then it should work. This should be easy to fix.

[2017-06-10 10:40] rdstern opened #3248 "The documentation - starting with Model > Probability Distributions > Show Model"
The mosaic qdist command seems to be given OK in the example from our instructions, but there is no graph.  I tried changing the location for the graph, because that is all we had before, but still there is no graph.  It isn't a ggplot graph.

[2017-06-10 13:07] lilyclements commented on #2772
@rdstern what needs to be done to this dialog for this release? Or is this ready?
This hasn't been updated yet (i don't believe it has anyway) but other than that seems to run well

[2017-06-10 13:33] AlexSananka commented on #2757
This should be closed now

[2017-06-10 14:13] AlexSananka commented on #3245
I am not experiencing this in my branch,Have this been fixed?

[2017-06-10 14:26] AlexSananka commented on #3245
This is the code running in my case
[code]

[2017-06-10 14:55] #3210 closed

[2017-06-10 14:58] #2757 closed

[2017-06-10 15:07] rdstern commented on #3245
I agree.  I don't get it now.  But there are still 2 curious features:
1. I had the Tools > Options set to graphics in a separate window.  Now this option on the 3-way frequencies runs for quite a time and then gives no graph.  It doesn't give an error though.
2. The setting of the new radio buttons isn't remembered.  It always seems to go back to the Tables option

[2017-06-10 15:08] dannyparsons commented on #3245
1. I think is a general issue.
2. I'm getting as well @AlexSananka can you check this?

[2017-06-10 15:10] rdstern commented on #3248
Now I have tried it again.  I now do get the graph.

But I still get it in the separate window, even when other graphs are coming in the output window.  In our documentation we say that this will be "fixed in the future".  Is it easy to do now?

I repeat it isn't a ggplot.  I don't know if that makes any difference.

[2017-06-10 15:11] dannyparsons commented on #3245
Also, it only displays one graph when it should display one for each group. I think this is a general issue with the output window as well.

[2017-06-10 15:39] dannyparsons commented on #3248
I think because the graph is just displayed and not returned in R by this function we can't store it, or prevent it popping up in a separate window.

[2017-06-10 15:42] rdstern commented on #3248
OK, so this is a "feature", and not a bug.

I am going to leave this then and we can later perhaps discuss with the mosaic people?

[2017-06-10 15:43] dannyparsons commented on #3248
Yes because it's doing two things, the values and the graph. Note in R if you did:
`x <- mosaic::qdist(mean=0, sd=1, plot=TRUE, dist="norm", p=c(0.5))`
It would still display the graph and `x` would contain the values only. There is no way to store the graph or prevent it's display. The issue is that the function does 2 things, so only one is returned and the graph is just printed. This should be

[2017-06-10 15:44] dannyparsons commented on #3248
Yes we could discuss with `mosaic` because although I understand why they've done it, it's not the standard R way. Basically, this is an issue in R so we don't need to solve it ourselves.

[2017-06-10 16:29] #3247 closed

[2017-06-10 16:29] dannyparsons commented on #3247
- Fixed developer error on reopen.
- Fixed number of column factors resetting on reopen.
- Bug with choosing summaries due to bug in sub dialog so was fixed by fixing it for column summaries

[2017-06-10 17:15] lilyclements commented on #3246
Happy to make these changes.
By "the existing frequency tables" I assume you mean the ftable dialog and not the summary-system frequencies dialog?

[2017-06-10 17:16] lilyclements opened #3257 "two var fit bug"

[2017-06-10 17:16] #3257 closed

[2017-06-10 17:23] lilyclements commented on #3246
Does this also mean to remove "Bar chart from summary" from the specific sub menu options?

[2017-06-10 17:58] lilyclements opened #3259 "Two Var > Fit Model bug"
First time (at least!) that I run Two Variables > Fit Model with two variates I get an error about the linking.

Sometimes I get the error with a variate and a factor, although this is less often.

[2017-06-10 18:06] rdstern commented on #3246
1. I did mean the ftable one, because the one using the summary system doesn't seem to exist yet.  So the ftable one could add prop-teble and do what's needed (I think).  That could be instead of (or as well as) a dialogue using the summary system.  I am still not sure how the results will compare for the user?

2. My understanding is that Maseno folks found the bar chart from summary to be confus

[2017-06-10 20:19] dannyparsons commented on #3245
A solution to not display all graphs for each group is to combine them in one graph.
e.g.
[code]

@AlexSananka could you implement this?

[2017-06-10 21:04] AlexSananka commented on #3245
Yes I can implement this

[2017-06-11 11:06] rdstern opened #3265 "Dates without the year in R"
As we proceed on the climatic work we often will have day numbers in the year, which could usefully be expressed as a date.  This is both in the data (i.e. in the data frame, and also in graphs.  It is particularly important in the graphs.
In the data frames it could be useful to have just the day and month, but it will often do no harm to have the year as well.  However that would preclude doing

[2017-06-11 11:16] #3245 closed

[2017-06-11 11:58] rdstern opened #3267 "Describe > Frequencies dialogues"
1. The buttons at the top do not remember the previous settings.  They always reset to the Table option.  This applies to all 3 dialogues.
2. The One variable dialogue still gives the categories twice.  This is on the rmisc efc data where I used gender, employment, and level of education.
3. The 3-way graphs do not show all the labels.  I assume this may be us or a "feature" of the sjplot programm

[2017-06-11 16:33] lilyclements opened #3271 "xlsx File Importing Sheets - bug"
I have an xlsx file for some SSD work I was doing. This has several sheets on excel, the main one which holds the dataset is called "Carlos stats".

When trying to import it I get an error of " : unexpected symbol" because it is trying to import:

The error here, I assume, is because there isn't automatically a dot between the two words of the sheet. Ordinarily a dot is placed in the "space" but f

[2017-06-11 17:31] lilyclements commented on #3246
@rdstern I have made the changes and they have been merged. Can you take a check on an updated master branch and let me know if any further changes are needed?

[2017-06-11 17:53] lilyclements commented on #2753
To the first problem you were having: An issue we've had for a while that needs to be fixed is that it brings an error if you have at least one factor and do not select a summary-factor-option, that is, if you don't select something from the "common" groupbox. Does that sound similar to what you were doing or is this another issue?

I'm struggling to replicate your second problem which will make i

[2017-06-11 18:06] dannyparsons commented on #2753
Second problem as been fixed already in the subdialog.
First should be fairly easy to fix in the R code.

[2017-06-11 18:07] lilyclements opened #3275 "TransformText - bug"
This dialog crashes upon opening which is a new bug in the past few days. It crashes to clsRlink

[2017-06-11 18:14] #3275 closed

[2017-06-12 06:35] Lunalo opened #3279 "Updating Models Dialogs"
Hi team,

Now that ucrDistributions is in a good shape we can start updating model dialogs.

To avoid members working on the same thing I would advise those involved  to be commenting on this issue with the dialog you are working on.

I will start with the show models.
@africanmathsinitiative/developers

[2017-06-12 07:35] dannyparsons commented on #3279
Thanks John. Also, comment on the Google Doc sheet so we know who is working on what.

[2017-06-12 09:22] lilyclements opened #3282 "Importing data frame crash."
Trying to upload a data frame from excel. It worked for me initially, then I deleted the last row of the data frame and it crashed.

I re-opened R-Instat and tried importing the data frame again and it crashed again. Both times, it crashed to this:

![image](https://user-images.githubusercontent.com/21180424/27027286-b1b12b22-4f58-11e7-9777-4d37de5d9b30.png)

[2017-06-12 09:29] dannyparsons commented on #3282
Can you share the file?

[2017-06-12 09:34] lilyclements commented on #3282
[2015-UK-general-election-data-results-WEB.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/1067665/2015-UK-general-election-data-results-WEB.xlsx)

I was importing the sheet named "Results for analysis". I thought initially it could be the grid lines, but I'm not so sure now. Sometimes it imports fine but midway crashes to this line when doing grid-changes (e.g., converting to a fac

[2017-06-12 09:52] dannyparsons commented on #3282
I get this crash as well. I believe this is our "wide" dataset issue which can cause a crash any time the grid is updating. My guess is if you try again there will be different points where you get the same crash.
To see where the crash is, click "OK" and then go into clsGridLinks and you should see a line highlighted in grey, likely line 100-120. Go into the definition of the highlighted line and

[2017-06-12 13:59] lilyclements opened #3284 "General Graphics"
**General**
1. When I press **Edit**, and go to the **Layer Parameters** tab, it seems to be back to its default state. That is, all my checkboxes are no longer checked. This occurred more often than not, except in geom_violin a couple (such as draw_quantiles) did remain checked.

2. Had an issue of updating. So the **Layer Dimensions** and the **Layer Parameters** tabs both update the data frame

[2017-06-12 14:21] lilyclements commented on #3284
**geom_label**
You can't specify both nudgex/nudgey and position.
(you can specify nudgex and nudgey)

[2017-06-12 16:01] stevenndungu opened #3286 "Dlg Describe Two variable Bug"
@africanmathsinitiative/developers Can someone help in fixing a bug in describe two variable dialogue.
Problem to be fixed:
Both receivers cannot receive the variables from the selector. They are automatically cleared as soon as they get to the receiver.

I have tried debugging and found the issue to be with setrcode of both receiver, though apparently  @AlexSananka and I don't see a better way of

[2017-06-12 16:36] lilyclements opened #3288 "Issue with re-ordering columns"
If you rearrange your columns, I've realised a few dialogs act strangely.

1. dlgReplace
At the moment if I open dlgReplace, put in my column(s), it then crashes straight away before pressing any options:

2. dlgView has an issue as it can't read in the data_name = "" either:
`utils::View(x=InstatDataObject$get_columns_from_data(force_as_data_frame=TRUE, col_names=c("Village.","Variety."), data_na

[2017-06-12 17:03] lilyclements opened #3290 "Convert Columns - bug"

[2017-06-12 17:03] #3290 closed

[2017-06-12 17:28] lilyclements opened #3292 "Grid bug"
This is a bug which I know occurs in dlgLabels, but it may (probably) occur in other dialogs with grids.

1. Open dlgLabels
2. Input a variable
3. Write in on the grid to rename a level, while writing in click reset

Then it crashes

[2017-06-12 17:30] dannyparsons commented on #894
@Lunalo I have done this now as it took 5 minutes to do.

[2017-06-12 17:30] #894 closed

[2017-06-12 17:33] dannyparsons commented on #939
Believe this is not possible to change with WinForms and is dependant on user's Windows settings. This doesn't need to be consistent across machines.

[2017-06-12 17:33] #939 closed

[2017-06-12 17:36] dannyparsons commented on #998
This should still be checked on individual dialogs but this is not a general issue anymore.

[2017-06-12 17:36] #998 closed

[2017-06-12 17:37] dannyparsons commented on #1020
Seems to be a reogrid issue. Not a problem for us if this is not fixed.

[2017-06-12 17:37] #1020 closed

[2017-06-12 20:00] #1215 closed

[2017-06-12 20:06] dannyparsons commented on #3288
Are you still getting a bug on replace dialog? I don't have this issue. It was updated recently.

[2017-06-12 20:08] dannyparsons commented on #3246
Has this been done now?

[2017-06-12 20:26] dannyparsons commented on #3222
I've attempted to fix this. I couldn't get the bug, but since you said it's only sometimes, can you check to see if you still get it?

[2017-06-12 20:28] dannyparsons commented on #3208
I'm not getting the auto.group bug anymore. Are you still getting it?

[2017-06-12 20:56] dannyparsons commented on #3156
This is caused by a bug in sjPlot, I've put a temp fix in our code to remove labels when it's not numeric. We should report this to sjPlot people.

[2017-06-12 20:57] #3222 closed

[2017-06-12 20:57] #2753 closed

[2017-06-12 20:57] #3156 closed

[2017-06-12 20:58] dannyparsons commented on #2753
fixed first issue, if no valid summaries, output will be NULL

[2017-06-12 21:22] lilyclements commented on #3222
So it is working better.
It now imports the nine lines and immediately reopens the dialog and when you press OK the second time it imports the rest. It's very quick but the user has to press OK twice. I'd say it's okay for 0.3.

[2017-06-12 21:24] lilyclements commented on #2753
Great, just tested it and it looks good! Can this be closed now?

[2017-06-12 21:24] dannyparsons commented on #3222
Strange - will check this again tomorrow.

[2017-06-12 21:25] lilyclements commented on #3208
I'm not getting it anymore either :)

[2017-06-12 21:25] dannyparsons commented on #2753
Already closed it :wink:

[2017-06-12 21:26] lilyclements commented on #3246
Yes and has been merged in. This can be closed

[2017-06-12 21:26] lilyclements commented on #2753
Always one step ahead!

[2017-06-12 21:27] lilyclements commented on #3288
I'm still getting the issues if I rearrange the columns first. I'm getting it with multiple dialogs.

[2017-06-13 07:29] #3246 closed

[2017-06-13 07:30] dannyparsons commented on #3288
Ok I see, I misread the connection to the reordering, will look into that.

[2017-06-13 08:09] #3288 closed

[2017-06-13 08:10] dannyparsons commented on #3288
Should be fixed now, set the reordering function to not drop the data frame metadata.

[2017-06-13 08:12] dannyparsons commented on #1504
We also need to check the type of the column if the receiver is restricted. The column may exist but type is no longer valid for the receiver.
Some thought needed to resolve this.

[2017-06-13 08:13] dannyparsons commented on #1682
Would be good to get this done by version 0.9 if possible.

[2017-06-13 08:19] maxwellfundi commented on #1682
We can discuss this and possibly get it done. What did you mean the graphs part to be done before the substantial change in R Code to be done?

[2017-06-13 08:20] Lunalo opened #3299 "What happens with View Coumn Metadata when you covert numeric column to Factor"
![image](https://user-images.githubusercontent.com/13945088/27072738-1797afe8-502a-11e7-9c42-c7035fbef248.png)

I tried converting numeric columns to factor and tried to view  column metadata. The information concerning levels is not being wrapped.

Is there any solution for the grid to get rid of this problem?

@dannyparsons

[2017-06-13 09:07] lilyclements opened #3300 "frmMain to do for release"
Changes to make to the Main Form for 0.3:

dlgRatingScales (Describe) - disable on frmMain
dlgExportOpenRefine (Prepare > Check Data) - enable on frmMain if the pull request is merged.

@africanmathsinitiative/developers feel free to add any extra to this, then we can make all these changes at the end

[2017-06-13 09:13] stevekogo commented on #2978
@rdstern I don't think we need two grou boxes for end of rain and water balance radio buttons.
This is because end of rains depends on water balance column hence depends on those controls. We might have to disable the controls whenever we move from one radio button to another,

[2017-06-13 09:29] dannyparsons commented on #1682
I don't see this as urgent for 0.3 so I don't think we should discuss it now.

[2017-06-13 09:30] dannyparsons commented on #3299
This is a wrapping issue with the reogrid. When we looked into this I think it's a bug in reogrid which hasn't been fixed, therefore we can't do anything about it now.

[2017-06-13 09:30] #3299 closed

[2017-06-13 09:31] maxwellfundi commented on #1682
Okay no problem.

[2017-06-13 09:42] dannyparsons commented on #1504
This can be done with a method run in R by the receiver in the method reading the R code of the receiver.

[2017-06-13 09:53] maxwellfundi commented on #3300
Additional things @lilyclements you could disable on frmmain

File>Import From CSPro
File>Import From Databases
File>Convert

[2017-06-13 10:11] lilyclements commented on #3300
dlgFrequency - add to frmMain

[2017-06-13 11:13] dannyparsons commented on #1538
matrix objects now accepted, dsCMatrix objects from Matrix package we are not supporting as this package is not in library now. Now also accepts ts objects and non list vectors. Some "datasets" in library still don't import but these are mostly things which cannot usefully be data frames.

[2017-06-13 11:14] #1538 closed

[2017-06-13 11:23] maxwellfundi commented on #3004
@stevekogo could @dannyparsons  close this issue? Were all of these added in ?

[2017-06-13 11:28] maxwellfundi commented on #2970
@stevenndungu This seems to be persistent till now, has anything been done on it? Is it something we that can be fixed quickly?

[2017-06-13 11:36] maxwellfundi commented on #2635
@dannyparsons This can now be closed

[2017-06-13 11:47] maxwellfundi commented on #1903
@dannyparsons this can now be closed. We already got the new great version of inventory plot

[2017-06-13 12:13] rdstern opened #3306 "Adding missing values options to summary system"
It is good that the summary system is now being used more comprehensively in the dialogues.  Please can the extra facilities for coping with missing values be added in the July release.

This would also be a useful addition in that it extends what R does.  I need it for the climatic, but suggest it could be useful as a general facility.  I hope it won't make things too slow.

Currently (in R) each

[2017-06-13 12:40] Lunalo commented on #3300
@lilyclements

please desable prepare>Data Object> Metadata

[2017-06-13 12:44] Lunalo commented on #3300
Disable  Prepare>keys and Links>Add Comments

[2017-06-13 13:13] #2635 closed

[2017-06-13 13:13] #1903 closed

[2017-06-13 15:45] dannyparsons commented on #3300
I thought keys was working? @lilyclements did you look at these recently?

[2017-06-13 16:16] shadrackkibet opened #3311 "Climatic>Describe>ClimaticGraphs>Cumulative distribution bug."
on testing this dialog using samaru data with stations as factors and Rain as a variable. This dialog bugs on click ok .
![image](https://user-images.githubusercontent.com/26301973/27091483-edf61b0e-5068-11e7-9edd-7ecf30e1340e.png)