[2019-09-14 09:44] shadrackkibet commented on #5474
@rdstern I think we need save control in this dialog. Is it necessary to save the column defined as circular as a new column or we just replace it with the original column? but sometimes the user might still need the original column to proceed with other analysis.

[2019-09-14 11:35] rdstern commented on #5474
@shadrackkibet   Essentially we are defining a new variable.  I suggest the same control as when we define a variable as a Date, for example.  The default there (and in many dialogues that define new variables) is that a name is proposed by default, but there is also a pull-down with the list of existing variables.  So it is easy to overwrite the existing variable if you wish.

[2019-09-14 11:58] rdstern opened #5512 "Reorder Layers in a ggplot?"
Our plotting system now is simplified and we can now edit the layers whether they were created on the main dialogue, or not.
One feature that is missing on the Layer sub-dialogue is the ability to reorder the layers in the plot.
Is it simple now to have an Order or Reorder button on the Layer sub-dialogue which then (presumably with another little dialogue) permits layers to be reordered?
I am ass

[2019-09-14 19:10] shadrackkibet commented on #5474
Another point is on other options `zero`,`template` and `rotation`. I think it will be good to have these options in the dialog as well.

[2019-09-14 19:19] shadrackkibet commented on #5474
Here is the design of the dialog.
![image](https://user-images.githubusercontent.com/26301973/64912832-7ce6fb00-d73d-11e9-910a-c6fec3cc2af7.png)

[2019-09-14 23:03] rdstern commented on #5474
I like the layout of this dialogue.  I am not sure about needing the other options - at least at this point.  It will be good to check by examining what else from the circular package we will be including in R-Instat.  I think these options all relate only to the circular graphs.  They use base graphics and I am not sure we need them.  But perhaps I am wrong, either on their uses and on omitting t

[2019-09-16 10:02] dannyparsons commented on #5474
Yes I think lowercase `pi` is more standard.

I think these options are what we need now. The others relating to graphs won't be used by R-Instat.

[2019-09-16 11:08] shadrackkibet commented on #5474
@Wycklife please make this small change and also remember to sort out Tab order on the form. otherwise, this should be ready.

[2019-09-16 13:11] #5094 closed

[2019-09-16 20:06] rdstern opened #5515 "Updated PICSA graphs for Version 5.3"
It does seem to work much better.  I tried the mean and that seemed fine.  As did the y-axis with the lower limit set to 0.
Then I wanted to change the colour of the points.  So I pressed the Plot Options and got this message:
![image](https://user-images.githubusercontent.com/11226469/64988971-79ca4700-d8c4-11e9-9e42-c89b6ea7ed57.png)

It worked ok though and I could change the layer.  That was a

[2019-09-17 02:33] rdstern commented on #5316
Just been told about a different bug in the spells.  Easy to fix though!

When the condition is given as <= x it actually gives >=x in the formula used.  And the same mistake for >= when it gives <=.  So we need to either change the formula or the label!

This was discovered in an earlier version, and is still there in the latest one.

[2019-09-17 07:50] Wycklife commented on #5504
@rdstern I'm almost through with this issue, just a quick observation is that am not able to get the documentation for the following;
forcats::fct_add_na()
forcats::fct_innum()
I therefore, need your help.

[2019-09-17 12:18] dannyparsons commented on #5428
Another point related to this is that the **Use Date** dialog currently automatically defines year, doy etc. columns as climatic, if the data frame is already climatic - which is useful to avoid having to go back to the define dialog.  Now with only allowing one column of each type its not so clear this should be done in the background.

I think its obvious that if you create a year column in **Us

[2019-09-17 12:31] rdstern commented on #5428
I agree with all you are saying here.  It may also apply when you make a date variable?
You could define a data frame as climatic with just the date variable defined.  (Perhaps also with just year, month, day, but without a date variable?)
Then you return to the Climatic > Date and define a date variable.  If this is the only date variable, then it is added to the definition.
Similarly, (as you sa

[2019-09-17 13:00] rdstern commented on #5504
@Wycklife that's because I wasn't at all clear, when making the keys!  Great that you have already made progress.
I suggested add_na() for the keyboard, because the function is forcats::fct_explicit_na() is a bit long to go on the key.  If explicit_na fits, then fine.  Otherwise, let's have add_na as the key and give forcats::fct_explicit_na() as the function.

My suggested innum is actually the f

[2019-09-17 13:04] dannyparsons commented on #5428
Currently nothing is done with the date column and I think it is different because a different date variable may be invalid (duplicates, missing values) so you can't just change the date column so easily without the checks. Since you can't define a data frame as climatic without a date variable, I don't think we need to add anything automatic here.

There's no distinction in the climatic system fo

[2019-09-17 13:10] rdstern commented on #5428
OK for the date column.  On the month variable, if it is labelled then I would go with the "lowest" being defined where numeric>abbreviated>full.  If you defined full, then this is probably what you want to see in the results.

[2019-09-17 13:20] dannyparsons commented on #5428
ok sounds good

[2019-09-17 15:56] dannyparsons commented on #5428
I'm also setting it so that a doy_365 column from **Use Date** is not defined as the climatic doy column (even if there is none). Only the doy_366 column will be automatically defined as the climatic doy column. I assume that's sensible.

[2019-09-17 16:38] #5428 closed

[2019-09-17 16:42] dannyparsons opened #5518 "Define climatic dialog auto-fills from definition"
Following improvements specified here #5428 it would be good if, when reopening the define climatic dialog it could autofill the receivers based on the definition.
Currently on first opening/resetting/change of data frame it does a guess autofill based on the column names. This is correct before the data has been defined as climatic. Once it's defined it should autofill based on the definition so

[2019-09-17 18:52] #5316 closed

[2019-09-18 02:59] rdstern opened #5520 "Add tooltips to the calculator, logical keyboard"
This is quite a big job, but very useful, particularly as the help is taking too long.

I hope it is easy, and that @dannyparsons can confirm it would be useful to start on this soon.  I am not sure of the priority, and it depends on other work.

I am also not sure how it will be translated, because we are close to a new system for translations.  Good if tooltips can be considered for translation,

[2019-09-18 06:45] rdstern commented on #5520
I am continuing.  I have started particularly with the logical keyboard, because it is so useful and I find is new to many of our users.
**_when_** is multiple ifelse, for example case_when(1:5>3~20,1:5>1~10) gives NA, 10, 10, 20, 20
**_ifelse_** is what it says, for example ifelse((1:5 > 3,20,10) gives 10, 10, 10, 20, 20
**_between_** two values, for example between(1:5, 3,4) is FALSE, FALSE, TRU

[2019-09-18 09:02] #5463 closed

[2019-09-18 09:02] dannyparsons commented on #5463
I am assuming you mean that `crop_prob` should be summarised over years, but split by station. i.e. if 2 stations and 6 crop definitions then 12 probability values (instead of 6). If so, this is now done.

[2019-09-18 13:06] rdstern commented on #5463
Great.  Exactly.

[2019-09-18 19:22] #5196 closed

[2019-09-19 09:40] shadrackkibet opened #5523 "Setting minimum and maximum date for fill date gaps - Fixed limits option"
**Is your feature request related to a problem? Please describe.**
The recent fill date Gaps dialog has several options to fill date gaps. One option is to set the minimum and maximum date for the boundaries where dates should be infilled. Currently, date pickers are used but the minimum and maximum date are set to today date.

**Describe the solution you'd like**
Find the minimum and maximum date

[2019-09-20 11:31] dannyparsons commented on #5515
The message when opening Plot Options should not appear now.
I have removed the Line Options button (which was causing your crash) and replaced with PICSA Options.
I tried editing the colour of the points through Plot Options and this worked ok.
I am sure other issues can be found through combinations of the sub dialogs, and it's hard to spot and solves all of these.
It seems that editing the line

[2019-09-20 11:39] rdstern commented on #5503
I have looked at what might be possible a bit more to achieve the ordinary mean and median still giving the "ordinary" results even when a variable has been defined as circular.  I don't quite understand what is happening because when a variable is defined as circular then it gives the circular median even when I give the ordinary command as stats::median(calc1).

(I was using the wind data from t

[2019-09-20 11:52] #5444 closed

[2019-09-20 11:59] shadrackkibet commented on #4102
Seems this is not closed automatically when PR was merged from another PR.

[2019-09-20 12:31] rdstern commented on #5515
Updated version worked swimmingly for almost everything!
[Dodoma18c2.zip](https://github.com/africanmathsinitiative/R-Instat/files/3635851/Dodoma18c2.zip)
I used these data.  Then I plot the start rains with the Y-axis as Date and first month as July.  It works fine.
Then go back (in PICSA options) to the Y-axis and it has (magically) set the lower limit to day 1 (January).  So (if I change nothin

[2019-09-20 14:08] dannyparsons commented on #4102
I think maybe because you put "fixes" in a comment, and not in a commit or the PR description, but not sure...

[2019-09-20 14:08] #4102 closed

[2019-09-20 18:50] dannyparsons commented on #5515
Those issues should be addressed in #5526. The limits should be more well behaved for numeric and date now.
I believe there could still be bugs if you go to the Plot Options subdialog after setting the y-axis as date. And this needs more modifying of the Plot Options to solve.

[2019-09-20 20:09] #5474 closed

[2019-09-22 03:18] rdstern commented on #4952
I wonder, with the two variable situation, whether we (at least) have two radio buttons called **_By_** and **_2 Variables_**?  The By is simply the one variable dialogue with results By a second variable.  This would be like the grouped data frame idea in dplyr.

I suggest we consider the three variable dialogues (and possibly add a 4 level item to the menu at the same time.  I suggest this will

[2019-09-24 13:58] shadrackkibet commented on #5461
In connection with this. I am also looking at what CDT does for homogenization. This week I have met with one of the authors of CDT from Madagascar(**Rija Faniriantsoa**) in a workshop here at KMD on the use of CDT **v6**. I am about to discuss with him in detail how CDT does homogenization. He mentioned to me that he implemented homogenization in CDT using `changepoint` package which documentatio

[2019-09-24 14:13] rdstern commented on #5461
@shadrackkibet that is great.  I didn't check changepoint, but was hoping to be more in contact with Rija at some point.  I think he is being modest and my impression is that he is the main (only?) programmer of cdt.  So great to discuss with him in as much detail as you can.

[2019-09-24 16:30] dannyparsons commented on #5461
We can easily have a special dialog/option in tidy dialog to convert the CDT format to our standard tidy format. It's a nice idea and a good addition for MET services.
Could you provide a "dummy" file in the CDT format? Do not send an actual KMD file but a file in this format with some dummy data possibly?

[2019-09-24 16:51] shadrackkibet commented on #5461
Here is a dummy file
[dummy_CDT_format_data.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/3648363/dummy_CDT_format_data.xlsx)

[2019-09-24 19:15] dannyparsons commented on #5461
Great, let's separate this out into its own issue to discuss further.

[2019-09-26 10:25] rdstern commented on #5461
From a quick look, the changepoint package looks fine, and should be really easy to include in R-Instat.  I also like what cdt are doing generally, so we could argue that it has the cdt "seal of approval".  Good to discuss further with Rija.

[2019-09-29 16:05] rdstern commented on #5127
@dannyparsons or @maxwellfundi the prediction package is used by the Model > Use Model dialogue, but I think is not yet included in the set. Please could it be.

[2019-09-29 16:44] rdstern commented on #5127
@Ivanluv and @dannyparsons please could the Model > Use Model dialogue be enhanced.
For @Ivanluv please could you repeat the "tricks" you did on the Model > Hypothesis Tests dialogue.  This is to add the same features you did on that dialogue, namely:
a) Add the **_show arguments_** checkbox
b) Add the **_try_** control
c) Add the same **_Help button_** as the others.  It shows the whole package a

[2019-09-29 21:58] rdstern commented on #5127
I have been fitting an extreme value distribution, using the Model > Modelling dialogue.  So last_model is the fitted values.  Can try with a sample dataset from the extRemes package, e.g. flood.
Once fitted, there are 3 methods described, namely
plot
print
summary

print and summary are both available on the Model > Use Model dialogue wiuth the general keyboard.  When I try plot it doesn't give a

[2019-09-30 07:30] rdstern commented on #5422
Is anything happening on this?

[2019-09-30 07:31] rdstern commented on #5368
Is anything happening on this?

[2019-09-30 09:52] shadrackkibet opened #5530 "Export datasets dialog"
![image](https://user-images.githubusercontent.com/26301973/65868112-5d2c1580-e380-11e9-879e-9dcd172f5b1e.png)
![image](https://user-images.githubusercontent.com/26301973/65868145-6cab5e80-e380-11e9-854b-d4a356daacd4.png)

Is there any reason why we do not have a similar text perhaps(**click Ok to export data)** to notify the user to click ok to export data? Perhaps it could be bolded or change th

[2019-09-30 10:00] rdstern commented on #5530
Good idea, both in its own right and for dialogues to be consistent, when it is sensible.
So, at the same time could we say Export Data to:  and then make the field the same size as for the Save data.

[2019-09-30 10:11] shadrackkibet opened #5531 "Tidy climatic data"
I had data for about 38 stations, Tx and Tn for only the month of June and I wanted to convert it to tidy format. R-Instat insists on having 31 columns which is not always the case!

![image](https://user-images.githubusercontent.com/26301973/65869189-9f565680-e382-11e9-8e34-86547a0a7bf7.png)

Aside from above, There is also an instance where data is formatted in a tidy format, but I get 1's throu

[2019-09-30 10:57] shadrackkibet opened #5532 "CDT format to tidy format for R-Instat?"
At some point, we should be able to provide facilities to reshape data from CDT format directly to "tidy format". I have found several files here at KMD which are in CDT format. We should be able to handle this better rather than using reshape facilities like stacking. At the same time as we think about converting CDT format to tidy, since we already export to CPT we should add another facility to

[2019-10-01 12:47] Ivanluv commented on #5368
Currently no.But am looking at this now

[2019-10-01 12:48] Ivanluv commented on #5422
we are still looking at this

[2019-10-02 07:33] shadrackkibet opened #5533 "Quality control for station coordinates"
This links to the extension of quality control facilities and perhaps mapping features. CDT has a menu for quality control, one thing that it does is it incorporates spatial mapping in its quality control facilities. Currently, we have a mapping dialog which can be used for quality control. So we might want to have it as part of QC dialogs or have special dialog for this purpose. CDT has a special

[2019-10-02 11:05] Ivanluv commented on #5368
@dannyparsons  I dont understand on how the functions in this link  [https://ggplot2.tidyverse.org/reference/ggsf.html](url) are used to detect geometric columns ,especially `geom_sf()`

[2019-10-03 09:58] dannyparsons commented on #5127
Let's separate out some of these to separate issues.

[2019-10-03 09:59] Wycklife commented on #5520
@rdstern I'm almost done with the logical keyboard. Do you have documentation for the rest of the keyboards?

[2019-10-03 10:01] dannyparsons opened #5535 "Adding try etc. to Model > Use Model dialog"
@Ivanluv can you take this on?

From here https://github.com/africanmathsinitiative/R-Instat/issues/5127#issuecomment-536319417

[2019-10-03 10:04] dannyparsons commented on #5530
Yes it would be good if these were generally more consistent and better at helping users know what to do.

[2019-10-03 10:10] dannyparsons commented on #5531
Interesting. The columns check is useful because its easy to leave one out accidentally. But we could add a control to specify the number of "element" columns, which defaults to 31 for day format but can be changed, then it could work for your case. If you need to get it to work now, then a workaround is to add a column 31 with all missing values, that should then allow you to continue.

Duplicate

[2019-10-03 10:15] dannyparsons commented on #5532
Here is an example CDT file https://github.com/africanmathsinitiative/R-Instat/files/3648363/dummy_CDT_format_data.xlsx. Such a messy format!, so very good to be able to import this, which could be as two linked data frames or a single one.

Do you know if there are any variations to the format we should have options for in the dialog? What happens if you don't have elevation? Is it just missing o

[2019-10-03 10:42] rdstern opened #5536 "Adding an "ordinary" plot to the Use Model dialogue"
I have been fitting an extreme value distribution, using the Model > Modelling dialogue. So last_model is the fitted values. Can try with a sample dataset from the extRemes package, e.g. flood.
Once fitted, there are 3 methods described, namely
**_plot
print
summary_**

print and summary are both available on the Model > Use Model dialogue with the general keyboard.
When I try the plot it doesn't

[2019-10-03 10:59] dannyparsons commented on #5368
According to that help page, when an `sf` object is used (which is what we usually have from a shape file) it uses the "primary geometry column".
Looking at the [help for the sf package](https://cran.r-project.org/web/packages/sf/vignettes/sf1.html) it seems that the "primary geometry column" is defined by the metadata of the object.

Try the example:
[code]
So the `sf_column` attribute of the `sf

[2019-10-03 11:04] rdstern commented on #5506
I use this example to propose a dangerous suggestion, namely that one option on the right-click in a single receiver could be to "Allow typing" or some such phrase.

ggplot(aes(x = reorder(package, downloads), y = downloads)) +...

So, in the x receiver for a plot we would type the bits in bold **_reorder(_**variable**_,_**another variable**_)_**.  We would not have to type the variable names, but

[2019-10-03 11:07] rdstern commented on #5520
@Wycklife that's great.  I'll try the summary keyboard next, or perhaps circular.

[2019-10-03 11:46] Wycklife commented on #5520
@rdstern okay, thanks

[2019-10-04 06:36] Ivanluv commented on #5535
@dannyparsons  am taking it up

[2019-10-04 06:56] shadrackkibet commented on #5531
I confirmed this is an issue with duplicates. We should stop the user from proceeding at this stage not unless the issue is resolved and perhaps guide the user to Duplicates dialog. Attached is a dummy file to replicate this.
[dummy_file.xls.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/3689318/dummy_file.xls.xlsx)

[2019-10-04 07:32] shadrackkibet commented on #5532
Instead of using station IDs, station names can be used. Elevation is not compulsory if it is not there then that row is deleted but Lat and Lon must be there. One can use any code for missing values e.g NA,-99,-9999 etc whatever the user prefers. Date format is always YYYYMMDD. As far as I know one can only use `.csv` and ` .txt ` files.

[2019-10-04 07:36] rdstern commented on #5531
There are 2 points here.  So I first want to check on @dannyparsons suggestion that with June data you add a further variable to the data frame with all missing values.  That seems quite an easy "work-around" that anyone could do and would save complicating the dialogue.

The second point is the duplicate rows.  The dialogue already checks for non-existent dates and could equally check for duplica

[2019-10-04 09:12] rdstern opened #5539 "Adding new keys to the extRemes keyboard in Use Model dialogue"
There is an existing keyboard for the extRemes package in Model > Use Model dialogue.

I propose an extra first row with print, summary and plot as the 3 keys.  They are each described in the extRemes guide within the fevd entry.

The extRemes print and summary currently work well.  The plot seems to work, i.e. it doesn't give an error, but there also isn't a visible plot!  I hope @dannyparsons ca

[2019-10-04 15:24] Wycklife commented on #5539
@rdstern I'm happy to pick it up.

[2019-10-06 19:57] dannyparsons commented on #5331
@Ivanluv @maxwellfundi this has introduced a serious bug on all the other graphics dialog. Any graphics dialog which does not pass in the new polar functions to the Options sub dialog is crashing when Options is clicked.
It's simple to fix just by adding those functions in the same way as on the boxplot dialog. Could you fix this urgently?
We may want to "replace" the 0.5.3 release after this fix

[2019-10-07 02:45] maxwellfundi commented on #5331
@dannyparsons  Good morning, I will fix this this morning.

[2019-10-07 06:01] rdstern commented on #5331
@maxwellfundi that's great.  But @dannyparsons has this code been introduced in 0.5.3?  That version doesn't have the polar coordinates visible, though there may be code "behind the scenes".  So I am not sure that version 0.5.3 needs an immediate update?  This is useful to check, because I assume that Version 5.3 will be the version used on the AIMS Cameroon course, at least at the start?

[2019-10-07 06:14] maxwellfundi commented on #5331
@rdstern this was merged after the version was made i think. I will still have to replace the current v 5.3 with this one the one with the polar changes.

[2019-10-07 08:04] maxwellfundi opened #5542 "Adding stat_valleys and stat_peaks in list of geoms"
We need to add the stat_valleys and stat_peaks in the list of geoms, We ave used them in the lineplot and we should be able to edit them.

[2019-10-07 08:08] dannyparsons commented on #5331
Ok that's right, it was actually merged after, so v0.5.3 does not have this serious bug, then we don't need to immediately create a new version to replace it.

[2019-10-07 08:08] maxwellfundi opened #5543 "Adding coord_ xxxx to list of geoms?"
We currently use the coord_flip in a few graphics dialogs and coord_polar in our regular pie chart dialog.
I see why we might need to add coord_polar to the list of geoms but the coord_flip has no parameters at all that you can edit, so i wonder if it can be included.

@dannyparsons what are your thoughts on this?

[2019-10-07 08:11] dannyparsons opened #5544 "Add treemapify::geom_treemap and treemapify::geom_treemap_text to geom list"
There is a new dialog here #5540 that implements treemap graphs.
The geoms are `treemapify::geom_treemap` and `treemapify::geom_treemap_text` from the `treemapify` package.
Can these be added to the list of geoms?

Details: https://cran.r-project.org/web/packages/treemapify/index.html and https://cran.r-project.org/web/packages/treemapify/vignettes/introduction-to-treemapify.html

[2019-10-07 08:13] dannyparsons commented on #5543
Although they add to the code in the same way, they don't have the same properties as geoms (aesthetics and parameters) so I don't think they fit in this system.
It's better if we build up the Coordinates tab on Plot Options to be better to have full flexibility we need.

[2019-10-07 08:30] rdstern commented on #5496
I have tentatively "promoted" this feature to Version 0.5.4, partly because I think it could be a useful "selling point" when demonstrating PICSA in Ethiopia at the end of October.  I hope with @dannyparsons and @Patowhiz this could perhaps be discussed when we are together in Cameroon?

[2019-10-07 08:31] maxwellfundi opened #5545 "Removing SpecificPlot options button."
@dannyparsons  Now that we can actually edit different layers, i am suggesting we get rid of the specific plot options button because it simply opens the layer options sub dialog, which we can now do from sdgplots>layers>edit

[2019-10-07 10:55] dannyparsons commented on #5545
Possibly, I was also wondering this. But it is much easier to get to for beginners with the button, so it might still be good to keep for some dialogs?

[2019-10-07 10:55] dannyparsons commented on #5542
Yes good point. Can you assign someone?

[2019-10-08 11:03] dannyparsons commented on #5496
Discussed with Chris.

- Example data in app format here [makanjira.zip](https://github.com/africanmathsinitiative/R-Instat/files/3702059/makanjira.zip).
- For simplicity, we should export start and end dates in ISO Date format "2015-03-25"
- Blank for missing values
- Multi year seasons e.g. 2009-2010 should be written as 2009

[2019-10-08 11:40] rdstern commented on #5496
Does this mean that there should be a dialogue in **_Climatic > File > Export to PICSA App_**, because we will often want to export the data and then use the app separately.  Then there could simply be a button to perhaps launch the app from within R-Instat?  It could also go under a line in the PICSA menu.

[2019-10-08 11:52] rdstern commented on #5520
In the logical keyboard it is looking good.
a) In the logical tooltip for when add a command 3,20, and 1,10.
b) Add the tooltip for is.na, see above (I forgot the bold in the message there)
c) On the keys is there a better symbol for the :?  It looks a bit odd.  (Not particularly important point, so don't spend long on this.)
d) Activate any and all.

[2019-10-08 12:59] Ogik99 commented on #5542
Can I take this up?

[2019-10-08 13:15] dannyparsons commented on #5496
Yes we start with a new export dialog to create a csv file that can be loaded into the app. Closer integration can follow. I think there is some technical work needed to be done before this happens.

[2019-10-09 09:50] rdstern commented on #5057
Work on PICSA in Mozambique is continuing by WFP.  they have just written:
"I’ve been working on the user products of the seasonal forecasts. **_We‘re aiming at producing most of these in terms of probability of exceedance._** A sample of the most obvious / classic products is attached – prob of exceeding average rainfall, which is available for any period of choice, 1 to 5 months on a rolling 10

[2019-10-09 12:27] Wycklife commented on #5530
@rdstern @dannyparsons should I just set the tooltips for the button browser so that the users sees the information (click Ok to export data) Is that okay. My thought.

[2019-10-09 16:08] rdstern commented on #5536
Trying again the plot now does seem to work.  I think it is the saving of the graph in the R-Instat data book that is causing an error.  Here is the default plot:
![image](https://user-images.githubusercontent.com/11226469/66498821-9d913f00-eab6-11e9-94e1-26ea665652cd.png)

This is by executing the command simply as **_plot(last_model)_**.
So, in the extRemes keyboard, perhaps print, summary and p

[2019-10-11 17:07] rdstern opened #5548 "Correct the order of commands given from Prepare > Column: Calculate > Calculations"
When the calculate command is given it first attaches the data frame.  Then the comment is given, and then the calculation.  Here is an example:

![image](https://user-images.githubusercontent.com/11226469/66670368-8175d500-ec51-11e9-9213-bee1591f710e.png)

If the command is passed to the script window, then the attach is omitted.  So the result is:
![image](https://user-images.githubusercontent.c

[2019-10-13 09:42] rdstern commented on #5520
I have changed the title so we have a separate issue for each keyboard.  Then we can close this once the logical keyboard has the tooltips

[2019-10-13 15:46] rdstern opened #5549 "Tooltips and improvements to the calculator probability keyboard"
Here is the second keyboard for the tooltips. At the same time I suggest some improvements and the correction of an error.
1. **_The errors first._**  In the existing keyboard the pF key actually delivers the pchisq function.  Correct this to give pf.  And the pchi key gives pt! So change that to give pchisq.  Then change pF and qF keys to **_pf_** and **_qf_** (which corresponds to the function n

[2019-10-13 18:55] rdstern commented on #5549
Suggested tooltips for new keyboard:
**_pnorm:_** normal probabilities. For example: pnorm(-1.6449) = 0.05; pnorm(130,100,15) = 0.9772.
**_pt:_** t probabilities. For example pt(-2,5) = 0.051; pt(-2,1000) = 0.0229 ~ pnorm(-2)
**_pchisq:_** chi square probabilities. For example pchisq(5,1) = 0.9747; pchisq(5,10) = 0.1088
**pf:** F probabilities. For example pf(2,1,10) = 0.8123; pf(2,50,50) = 0.9921

[2019-10-15 09:28] rdstern commented on #5549
pbirth: simultaneous birthday probabilities. For example pbirthday(10) = 0.1169 ; pbirthday(50) = 0.97
qbirth: simultaneous birthday quantiles. For example qbirthday(0.5) = 23, qbirthday(0.99) = 57
pbinom: binomial probabilities. For example pbinom(3,5,0.4) = 0.0.913
qbinom: binomial quantiles. For example qbinom(0.9,5,0.4) = 3
ppois: Poisson probabilities. For example ppois(8, 5) = 0.93
qpois:Poi

[2019-10-15 18:27] rdstern commented on #5549
factorial: factorial. For example factorial(4) = 4*3*2*1 = 24; factorial(3.5) = gamma(4.5) = 11.63
lfactorial: log factorial. For example lfactorial(400) = 2001
choose: binomial coefficient.  For example choose(7,4) = 7!/(4!*3!) = 35
lchoose: log binomial coefficient. For example lchoose(700,400) = 474.5
beta: beta function.  For example beta(6,2) = gamma(6)*gamma(2)/gamma(8) = 0.02381
lbeta: log

[2019-10-15 19:36] rdstern opened #5551 "Improvements and tooltips for the calculator summary keyboard"
In the calculator summary keyboard the layout seems ok.
Please could we get rid of the unnecessary capitals on Propn, First, Last and Mode.  They can stay on IQR and anyDup which corresponds to the R functions.

More major and perhaps partly a @dannyparsons question is that 5 of the functions seem to be "our own" functions, namely cv, mad, mode, mc and skew.  To be able to describe them I need to

[2019-10-15 21:08] rdstern commented on #5551
If the above is ok, then here is my proposed (slightly changed) layout of this keyboard.  There are just 2 new keys, namely kurtosis and mode1 (first mode - same as mode key is there is only a single mode.)

length, sum, min, max, range
miss, mean, median, mode, mode1
non miss, var, sd, mad, IQR
distinct, cv, mc, skew, kurtosis
anyDup, propn, first, last, nth
              quantile, cor, cov   (Th

[2019-10-16 08:41] Patowhiz commented on #5548
This is because the attach and detach commands are being run on Before_Click_OK and on Click_OK events respectively. We can quickly fix this by adding the before_ClickToScript and ClickToScript events which will be adding the commands.

However, I noticed another issue, the comment is not the first item generated by the dialog, this is different from the other dialogs. @dannyparsons I checked on t

[2019-10-16 13:31] rdstern commented on #5551
@dannyparsons if you have time to check this is sensible, then @Wycklife could proceed?

[2019-10-16 21:58] rdstern opened #5552 "Problems with the Describe > General > Graphics dialogue"
I give an example to illustrate the problems.
I use the library Dodoma data.  I have 4 layers (though the problems may be the same with just 2 levels.
I do first a jitter plot with tmax as the Y and month_abbr as the X.
The second layer is a boxplot.  Same x and y.

I then Edit and make the **_width of the jitter 0.2_** and the **_alpha into 0.1_**.
Then I Edit the boxplot and make the outlier col

[2019-10-17 07:25] Patowhiz commented on #5552
@dannyparsons @maxwellfundi  why was Null used? I presume there could be a technical reason behind this?

[2019-10-17 08:20] rdstern opened #5553 "Improvements and tooltips for the calculator maths keyboard"
The order of the keys seems ok here.

![image](https://user-images.githubusercontent.com/11226469/66988622-c4550400-f0ba-11e9-9d0c-8a6774cd018b.png)

**_Good to tidy the size of the keys, so they line up._**  The bottom row could continue to have the 3 keys in the middle.
Also **_don't have capitals_** on the final 3 keys, so logit, logistic and atan2

**_Possible tooltips:_**
**_sqrt:_** square r

[2019-10-17 18:50] rdstern opened #5554 "Improvements and tooltips for the calculator transform keyboard"
I think a reshape will be useful partly because there are 5 new keys to add.
1. There are currently 19 keys.  They all stay, but change the label on the key called **_ecdf to cumdist_**

2. A small edit is that when arguments are enabled the commands for movmax, movsum, movmean, movmed from the zoo package are incomplete.  There is a fill=NA, and align argument that should be added.   See the exam

[2019-10-18 14:52] Wycklife commented on #5554
@rdstern Could you please elaborate on na's, as we currently don't have them as keys on the transform keyboard.

[2019-10-19 11:18] Patowhiz opened #5555 "Plot Options Subdialog bug"
**Describe the bug**
When I click on the Plot Options in the Scatter Plot dialog, the Plot Options Subdialog does not show All X-Axis and Y-Axis Options like Scales etc.

@rdstern found this bug.

![plot options](https://user-images.githubusercontent.com/21179007/67144067-3f651880-f27b-11e9-98e1-b0d514968a2b.JPG)

[2019-10-19 11:37] Patowhiz commented on #5548
This problem is much deeper than I thought. We don't have the equivalent events of ToScript and equivalent way of arranging the scripts to be run in regard to before_ClickOk and On ClickOk when it comes to ToScript functionality.

[2019-10-19 20:31] Dalasce91 opened #5557 "Problems with the "Use Data" Feature on the Climatic Menu"
I am using the Guinea 2 stations dataset and having issues/error with the "Use Date" Function on the Climatic Menu. The output is only creating  column for the Year, and not The separate columns for Year, Month and Day as expected.
I followed the instructions given in the Tutorial, "Preparing climatic data for Analysis with R-Instat".
I am using windows 10 and the R Instat Version 0.5.3. Find belo

[2019-10-22 06:22] #5542 closed

[2019-10-22 08:00] Ivanluv commented on #5109
@rdstern am not able to reproduce the error

[2019-10-22 09:11] Ivanluv commented on #5544
@maxwellfundi  can I take this up?

[2019-10-22 09:20] maxwellfundi commented on #5544
@Ivanluv let me check if there are other changes from the ucegeom that have not been merged.

[2019-10-22 09:22] maxwellfundi commented on #5544
@Ivanluv You can go ahead with this :-)

[2019-10-23 08:21] #5499 closed

[2019-10-23 08:24] Ivanluv commented on #5438
this can be closed

[2019-10-23 10:05] #5557 closed

[2019-10-24 10:25] rdstern opened #5560 "The 2-variable fit model dialogue"
We are using the general modelling dialogue with the AIMS students.  For other groups it would be more useful if the sequence of dialogues from 2 variables upwards were also improved.

There is a nasty bug with the 2-variable dialogue and (perhaps) simple improvements that might be easy to make.  I describe the problems to explain some statistics at the same time.

The dataset I am using (mainly)

[2019-10-24 13:10] rdstern opened #5561 "Add a Try control to the Model > General > Fit dialogue"
In this dialogue the proposed model can be typed.  Mistakes are therefore possible.  So could we have the same Try control that we have on (for example) the Model > Modelling dialogue.

At the same time a small change to the keyboard would be useful.  Instead of 0 there could there be I( ), with the focus then inside the brackets.  That enables an ordinary formula to be included in the model formu

[2019-10-24 15:57] Dalasce91 opened #5562 "Problem with the Define Climatic Data Autofill"
**Describe the bug**
I keep getting an error when i use the define climatic data in the climatic menu and the define climatic data dialogue box appears. I used my own dataset and It auto fills all the required fields except for the date.  I tried using the reset option on the dialogue box but the same thing happens. And I am unable to fill the Date field manually.
I tried using the dodoma dataset

[2019-10-26 06:29] #5555 closed

[2019-10-26 07:07] rdstern commented on #5562
@Dalasce91 that is odd - the data look fine from the screen shot.  Could you send me a copy of the data file?  It could be through github or directly to me.  Thanks  Roger Stern

[2019-10-27 12:43] Dalasce91 commented on #5562
Please receive the attached dataset chitedze.csv. I manually arranged the
dataset, rounded it off to no decimal places and removed data for February
29th. I also sent the raw unsorted data.

Kind regards.

On Sat, Oct 26, 2019, 09:08 rdstern <notifications@github.com> wrote:

[2019-10-27 13:02] Dalasce91 commented on #5562
I am not sure how to send the data directly to you. But i used the African Maths Initiative email address (instat@africanmathsinitiative.net) as shown in the tutorials. Please let me know if there is another way to send the data.

[2019-10-27 13:02] Dalasce91 commented on #5562
@rdstern I am not sure how to send the data directly to you. But i used the African Maths Initiative email address (instat@africanmathsinitiative.net) as shown in the tutorials. Please let me know if there is another way to send the data.

[2019-10-27 14:14] dannyparsons commented on #5562
@Dalasce91 this looks odd and it looks like a bug. Could you please also email that data to me: danny@idems.international and I will have a look.

You could try saving your file, restarting R-Instat and trying the dialog again. You could also try to create the date column again. Go to Prepare > Column: Date > Make Date and just use the first option of a single column and choose your Date1 column.

[2019-10-27 21:44] Dalasce91 commented on #5562
Thank you for your response. Will try working with the dialog again. Also sent rhe data to the email address suggested.

[2019-10-29 08:31] Ivanluv commented on #5420
The first issue on changing from multiple and single receiver has been fixed

[2019-10-30 07:09] Ivanluv commented on #5490
I cant find the Line Options button in the PICSA rainfall graph daialogue

[2019-10-30 13:10] Ivanluv commented on #5367
Should I include the abbreviations to the rainfall indices only or to the temperature indices too

[2019-10-30 17:40] rdstern commented on #5560
So here are some particular edits suggested for the 2-variable fit-model dialogue.  They would be used in the forthcoming AIMS statistical climatology course.
a) The Function button is only active once the x-variable is not empty.
b) Add a try field, as there is on many other dialogues (and requested on the general fit model dialogue)
c) Add a checkbox beneath the Function button "With second func

[2019-10-31 11:53] rdstern opened #5567 "Change the time a tooltip is visible"
Tool-tips have now been added to a variety of commands.  This is currently mainly in the calculator, but I suggest we should extend this feature to other dialogues.

One problem I am having is that the tooltip disappears automatically after a fixed time.  The default, which we are using now is 5000 milliseconds (5 seconds).  I am finding this is too short for some of the recent tooltips - where I

[2019-11-02 09:25] shadrackkibet commented on #5567
I agree. I suggested it before on Climdex Indices, It is now time to make this change.

[2019-11-02 09:38] shadrackkibet commented on #5531
In relation to the above issue, I now have another case where having a few columns might be needed and not 31. Here at KMD they normally do a weekly forecast and they often need total rainfall for a previous week. Currently, they do this using excel and then do a lot of copy and pasting. So, in this case, we will have 7 columns to do the summary. In the meantime, I provide a solution by stacking.

[2019-11-02 10:31] rdstern commented on #5560
And another small thing to change.
The 2-variable fit model selector does not allow a date variable to be selected.  The other instances (3 variable and general) do allow a date variable.  Allow date variables here too.

I have been exploring the formula needed to be generated for a simple "broken stick" model - where you know the break point.  With a given x-variable (x) and break point a number

[2019-11-02 11:35] rdstern opened #5568 "Items arising from EUMETSAT meeting"
EUMETSAT sort of hosted a meeting for developments for Met services in ACP (Africa, Caribbean, Pacific) countries.  This included WMO, ECMWF and EUMETSAT on the providers side and representatives from Regional Climate Centres on the demand side.

I gather each regional centre is completing a 4 year capacity-building strategy.  This will involve training staff in these centres, who then become reso

[2019-11-02 18:38] rdstern commented on #5560
Looking ahead to when the x-variable is a date here is what is now possible (typing) in the General > Fit Model dialogue:

as.factor(lubridate::month(date)) + lubridate::year(date)+dplyr::lag(tmin)

This is mainly using the x-variable (date) with functions and has also added a lag of the y variable - first order auto-regression.
This could be accommodated for, where the x is a date variable, by ha

[2019-11-04 08:51] maxwellfundi commented on #5568
@rdstern  thats some piece of good news. I am aware there are some facilities for this in R-Instat, are there any other features that you would like added for better handling of this kind of data?

[2019-11-05 07:13] Wycklife commented on #5545
@maxwellfundi Have you decided on the dialogs on which the specific plot options is to be removed?

[2019-11-08 13:21] Dalasce91 opened #5571 "Calculating user defined spell lengths (dry spells and wet spells)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am currently using R-instat to calculate dry spell occurrence for several years. However, the current climatic dialogue only calculates the number of spells:
Climatic->Prepare->Transform->Spells

I would also like for the following optio

[2019-11-08 13:23] #5562 closed

[2019-11-08 14:52] rdstern commented on #5571
@Dalasce91 thank you for your query.

There is another dialogue, namely Climatic > Prepare > Spells.  This should do what you want - I hope.

The Climatic > Prepare > Transform > Spells just transforms daily data into daily spell lengths.  The Climatic > Prepare > Spells calculates the maximum dry or wet (or hot etc) spell in a given period.  This can then be graphed.  If you want then to calculat

[2019-11-08 21:29] rdstern opened #5572 "Climatic commands when data not defined as climatic"
With the gridded data from Uganda I was unable to define them as climatic - the checking for duplicates runs out of memory.
With our "new" system we should still be able to use the climatic dialogues - they do not complete automatically but should still work.

a) The Climatic > Prepare > Start of the rains and End of the rains and Spells are example dialogues that seems to work fine. (Note that th

[2019-11-09 05:54] rdstern commented on #5515
A small bug found during the recent ICPAC workshop was roughly as follows.

This was plotting start of the rains, i.e. using the date option for the y-variable.  The terciles were set but not the label.  It is ok if you ask for the label.  It gives an error otherwise.

A further request was made that links with a proposed improvement to the terciles option.  I was (and still am) keen that this be

[2019-11-09 07:11] rdstern opened #5573 "Processing CHIRPS gridded data with R-Instat"
We already have some facilities for processing and testing gridded data.  That's why we work with EUMETSAT.  The ICPAC team in Reading last week arrived with CHIRPS estimated rainfall and temperature data and were assuming these would be used for PICSA work in 2 projects from 2020 in Kenya, Uganda, Ethiopia and Somalia.
I report on the success and limits of the current R-Instat in analysing these

[2019-11-10 20:17] rdstern commented on #5573
The amount of memory in R-Instat (from memory.limit() = 4095, i.e. 4gbytes.
In RStudio on my machine it is much more.
If I try to change in R-Instat it tells me not to be silly - that is the limit.  Does that mean we are using 32 bit R in R-Instat?  Do we have to do that?

[2019-11-12 10:11] Dalasce91 commented on #5571
I am unsure in how to proceed on the user defined 10 day spells.
I did however attempt to calculate the total number or dry spells in a shifted year.
I first used the climatic>prepare>transform>spells to transform the data into daily spell lengths within the option that a dry day is equal to or less than 0. This created a new column I called no_spells. My next step was to summarise these spells by

[2019-11-12 17:17] shadrackkibet commented on #4141
I think we can make the missing option more robust here by allowing the user to define missing value options like what we do in climatic summaries and the other ordinary summaries dialog. I needed this facility for some staff working at KMD who are using this dialog. I think it is now time to enable this feature.

[2019-11-12 21:41] rdstern commented on #5561
This is looking good.  The try seems to work well.  The I() button is also added.  However it doesn't seem to copy the contents to the command.
The example I tried was the Instat Intro guide data sets survey data.

I used Yield and the model was fert.  This works fine.  Then I added I(Fert^2).  It said the model was fert + I(fert^2) but still just fitted fert.  I compared with putting the dialogue

[2019-11-13 11:20] Ivanluv commented on #5561
@rdstern  am not quite sure of how  I() button  should work.Could you help me with this

[2019-11-13 11:35] shadrackkibet commented on #5367
Also, we should allow the user to use Temperature indices/Precipitation indices independently. Currently Ok is not enabled not unless the user has Both Temperature and Precipitation variables. I think in both cases we should also enable/disable indices tabs depending on whether the receivers are infilled.

[2019-11-13 12:32] rdstern commented on #5554
The one obvious small item that remains is the following - in movmin:  The tooltip shows:
movmin: moving (or rolling) minima. For example rollapply(c(3,2,1,6,2),width=3,fill=NA, **_FUN=min)_** = (NA,1,1,1,NA)

This key needs the FUN=min argument, because it is using rollapply - there is no special function for the minimum.  I don't know why, but it is a good reason to include the more general roll

[2019-11-13 17:29] dannyparsons commented on #5466
I am about to submit something that addresses all these points.
The difficult one was the order of the summaries. I think the most robust and simple solution is to have a predefined order of all our summaries. I had a quick go as follows trying to go from small to large and consider groupings (on the summaries subdialog).
Please edit the list for any changes and I can update it.
It might be someth

[2019-11-13 17:37] dannyparsons commented on #5466
And I've modified the layout, I think this is tidier now:

![image](https://user-images.githubusercontent.com/11214914/68788855-27937100-063c-11ea-973c-5106a3b0469b.png)

[2019-11-14 10:20] rdstern opened #5575 "Improving the spells dialogue following comments from ICPAC"
We currently have a spells dialogue, though some find it a bit difficult to use.  In the recent ICPAC training they currently use spells in a different way - a way that I don't like much.  But they asked still for it to be included, as that is the way they would like to process spells.  I can also see an adjustment to their proposed method that could be very useful.
Our current spells analysis tak

[2019-11-14 14:36] rdstern commented on #5561
@Ivanluv the I() button seems fine in that it allows the text to be put into the command.

I think I may have found the problem.  The function needed is I(), where I is capital i.  I wonder if you are using little l instead?  They look the same!

When I type fert + I(fert^2) with thr capital I, then it says it runs without error.  When I use your code it says there is an error.  So I wonder if you

[2019-11-14 14:48] rdstern opened #5576 "Keys on keyboards leave focus in wrong place?"
I am noticing this on the Model > General > Fit Model dialogue, but I think it applies generally, i.e. whenever we have a keyboard as part of a dialogue.

The model I am fitting - as an example - is fert + I(fert^2) using the model keyboard.  This has the variable (fert) and + and ^ on the keyboard.  But it doesn't have the numbers.  So I type the 2 from the keyboard.  The is after the ^ key.

How

[2019-11-14 16:28] dannyparsons commented on #4952
How should date columns be treated? We had thought like a numeric column, but you can't do correlations with them like a numeric column, and they also can't be used as the response variable in an ANOVA table.
We can either convert them to numeric and use the underlying numbers or date types could be excluded from the selector if we don't want to use them in these cases.

[2019-11-15 08:56] rdstern commented on #4952
Interesting.  Is this a logic, or an R question.  I can think of examples where correlations or regression could be useful.
1) I use ODK for a survey.  For each respondent it includes the interviewer, the date/time when the survey process started and the duration of the survey in minutes.  I would like to know the relationship between the date/time and the duration.
2) I record the date of the sta

[2019-11-15 10:42] dannyparsons commented on #4952
The question was sort of both, in R these give an error, but you can convert to numeric to get days since 1970/1/1. As you say I think the origin is arbitrary, since its the differences and not the actual values that are of interest usual.
So I think its sensible to treat dates as numeric for this dialog.

[2019-11-16 15:29] rdstern opened #5577 "Errors in R-Instat repeat the previous command"
I think this is a general "feature".

I am getting it with the calculator when results are going to the output window.

For example
2 + 3
 gives 5 in the output window.
Then do 2 + x (where there is no x).  It gives an error.  Then it repeats the previous result, i.e. 5 from the command 2 + x.  That's a bit confusing!

[2019-11-17 09:08] rdstern commented on #4347
In the instructions for the Wakefield package it seems to imply that the number can be set globally.  If not, then I would like the n= to be completed here and there is not just an obvious default but the command won't work in R-Instat with any other value!

I don't yet see a pull request for the new keyboard.
I would also like to be able to use the r_na() feature in Wakefield, but can't get this

[2019-11-17 09:16] rdstern opened #5578 "Simple time series analysis for Describe or Model > Two Variables"
In climatic analyses we often have (daily) time series together with a date variable.  For example the Dodoma data has rain, tmax, tmin, sunh and then a date variable.
Most examples of time series have monthly or weekly data.
Basic R has a **_decompose_** function and also a more comprehensive **_stl_** function that has loess smoothing instead of moving averages.
When we have the two variable ana

[2019-11-17 12:20] rdstern opened #5579 "Adding the Random button in File > New Data Frame"
One cosmetic improvement is the try feature.  It works fine.
a) After using it, it sort of remains until used again.  Could it clear when there is a change in the entry.
b) When ok could it add the green colour for consistency with the other dialogues with Try.

Please could we activate the Random option in the F**_ile > New Data Frame_** dialogue.  It can be just the same as the current Command b

[2019-11-17 12:26] rdstern commented on #5573
@dannyparsons claims that we deliberately install R for 32 bit machines, because some R users will have that.  But also that we could perhaps install 64 bit R on those machines.  I assume this could be an automatic part of the installation, i.e. to detect whether the computer is 32 or 64 bit and install accordingly.
I wonder if this could be checked, presumably by @maxwellfundi? even for the next

[2019-11-17 18:01] rdstern commented on #4347
In the keyboard shown above it would be good to add the type of data on the keys.  So **_age_** is numerical and we don't add anything.  **_animal_** becomes **_animal (f)_**, etc.
So: 24 (f) Animal, Answer, Area, Car, Coin, Color, DNA, Education, Employment, Eye, Grade_Level, Group, Hair, Browser, Language, Marital, Military, Month, Political, Race, Religion, Sex, Sex_inclusive, State.  (If neces

[2019-11-18 03:42] shadrackkibet opened #5580 "Calculator"
**Describe the bug**
Perhaps this is reported elsewhere, if yes please close this. The try button is really useful in the calculator to check errors in command. If there is an error in command I think it is logical not to allow a user to click Ok, otherwise, there will be an error message generated.
**Expected behaviour**
The textbox should turn **red** and Ok disabled. I think also we should appl

[2019-11-18 07:05] rdstern commented on #5580
I agree it is very useful and we are currently adding Try to more dialogues.
But I also often still use Ok, because the Try information doesn't tell me what the error is.

[2019-11-18 07:44] Patowhiz commented on #5579
I seem to have forgotten the reason as to why we disabled the Random button?

[2019-11-18 07:55] Patowhiz commented on #5579
Yes. There was a problem with the wakefield package as mentioned in issue #5087. It's why we disabled the button. I'm not sure if the bug was fixed by the author

[2019-11-18 08:02] Patowhiz commented on #5579
@rdstern

The try textbox automatically clears on my side every time I make a change in the commands entry.

[2019-11-18 08:31] Patowhiz commented on #5573
@rdstern This is absolutely possible. There is several way to do this kind of validation. What I see being done in most other major softwares, they give 2 binaries in their websites. a 32 bit and 64 bit version. We could do the same. If someone downloads the 32 bit R-Instat, then it comes packaged with the 32 bit R, for 64 bit then it comes with 64 bit R. I think that simplifies the process and al

[2019-11-18 08:36] Patowhiz commented on #5573
We could also separate the 2 setup files but indicate that 1 requires the other(in the website) and have R-Instat be able to check and download the correct R setup file during installation.

Though I don't know how simple this will be to our target users

[2019-11-18 08:49] rdstern opened #5582 "Two variable graph dialogue"
Basing this on the design of the 2-variable summarise might be quick - I hope, and could be great.
a) There would be just the same main part with numeric by numeric, etc as in summarise.
b) Then the current sub-dialogue is very limited.  It doesn't give options of display, just the type of graph.  I strongly propose that this be moved to the main dialogue, where only 1 of the 4 options is availabl

[2019-11-18 15:23] rdstern opened #5584 "Adding a segmented keyboard to the Model > Use Model dialogue"
I hope this will be an interesting challenge for @Ivanluv ?
It uses the new features in the Use Model dialogue that he has added recently.  So I hope this can be merged first.  I will discuss with @dannyparsons

It also extends analyses that uses the **_Model > Two Variables_** dialogue that I hope can soon be extended.

The new keyboard has the following keys:
segmented, (double size) **_print, s

[2019-11-19 06:45] Patowhiz commented on #5579
@rdstern I don't understand what you mean by

[2019-11-19 09:01] rdstern commented on #4257
Some of the above have now been implemented.  We have been moving ahead.

I now have a (very?) small request, which is to be able to import files with multiple missing value codes.  I think this should be easy with a small change in the code to generate the command.  Currently what is generated in the command when I type '9999','9988' into the missing box is , `na="c('9999','9988')"`
 which doesn'

[2019-11-19 09:14] Patowhiz commented on #5579
@rdstern @dannyparsons I went through the first issue #4439 related to this issue. We didn't discuss the designs of the Random option clearly. Any design suggestions?

[2019-11-19 10:34] Patowhiz commented on #5579
@rdstern can you suggest the comments to add in these new example commands:

[2019-11-19 10:58] Patowhiz commented on #5579
What should be the default command for wakefield option, the one to be shown when a users selects the option?

[2019-11-19 11:11] rdstern commented on #5579
I can suggest comments, but my point was simpler than that.  Sometimes, in examples (usually from the R packages) comments are included.  here is an example:
[code]
Now, with the **command option** this is easy.  I just copy the code and paste - including the comment lines. (I make sure there is just one line for the y above.)
In the Construct option would it also be easy to include these extra li

[2019-11-19 11:22] Patowhiz commented on #5579
Sorry I meant in the command and wakefield popup that shows the command examples you have told me to hide. The popup has 2 columns. The command and comment column which helps the user what the command is all about.

In regards to commands that span multiple windows the command and random option should be able to handle that. It's what I'm working on. We had not considered this in the last PR that

[2019-11-19 12:41] rdstern commented on #5579
Default option is "the works" example

[2019-11-19 13:32] rdstern commented on #5584
@Ivanluv has asked for a worked example.  I am starting with the data in the segmented function (from the segmented package).  The code, with the last line below slightly adapted from the segmented documentation is as follows:
[code]
![image](https://user-images.githubusercontent.com/11226469/69148234-bdf7e480-0acb-11ea-9e77-e81cc54a3108.png)

To show the problem I now fitted the relationship lm(y

[2019-11-19 16:17] Patowhiz commented on #4257
Yes that's doable. What about if the missing value placeholder contains a comma? Do we have such scenarios? @dannyparsons what's your suggestion on how to simplify this from a user's perspective. I can quickly implement this @rdstern way then in future this gets simplified further

[2019-11-19 17:23] rdstern commented on #4257
Sounds good.  I suggest having a comma in the number, or text, to be set to missing is rare enough that we detect multiple missing that way.  I will check with @dannyparsons

[2019-11-20 06:17] rdstern commented on #5579
@Patowhiz - looks great.
1. Can you move all the examples that generate random sequences into the random option.  The Wakefield ones are already there.  Move over also the 2nd, 4th,5th and 6th lines from the Command button.  They go on top of the Wakefield ones.
2. I am unconvinced of the need of the Comment column in the examples.  Can that be removed easily?  That would also free thge space so y

[2019-11-20 08:03] Patowhiz commented on #4257
Okay waiting for @dannyparsons opinion

[2019-11-20 08:49] rdstern commented on #5579
Here is an example for the Construct option:
![image](https://user-images.githubusercontent.com/11226469/69219223-4b8a1180-0b6a-11ea-96a9-f956ffeacf25.png)

Here are the commands:
[code]
Here is the data frame generated:

![image](https://user-images.githubusercontent.com/11226469/69219741-6610ba80-0b6b-11ea-9ed5-ab08c4255655.png)

These individual lines could become 6 examples for the Construct o

[2019-11-20 09:44] Patowhiz commented on #5579
Yes this can be removed easily

By 2nd do you mean the 3rd?
`data.frame(x = 1:30, y = rnorm(30, mean = 100, sd = 15), z = runif(30, min = 10, max = 30))`

@rdstern the command `seq(as.Date("1910/1/1"), as.Date("1999/1/1"), "years")` produces an object of type double which is not a data.frame type that is required for R-Instat, not unless I'm missing something. I know the try okays this but it's ca

[2019-11-20 09:54] rdstern commented on #5579
Yes the single commands of that type -
`seq(as.Date("1910/1/1"), as.Date("1999/1/1"), "years")`
in fact the set of 6 commands would only go as examples if they be associated with the Construct option - where there isn't currently an Examples button.  The user would then copy single lines into the Command part of that dialogue.

By the way I also wanted to add more on the importance of this dialogu

[2019-11-20 15:15] Ogik99 commented on #5464
I managed to have the flip coordinates check box appear in the column chart and the "factor" option (which holds the fill parameter) as well.
@rdstern , @maxwellfundi could you kindly review this.

[2019-11-20 17:19] Patowhiz commented on #5579
@rdstern for clarity in your [comment](https://github.com/africanmathsinitiative/R-Instat/issues/5579#issuecomment-555903181) . The example format for the construct will be different 2 the other 2 options. I'm implementing it in such away the pop of the construct examples will have 2 columns, namely; Column Name, Expression. So each line when clicked will add a row to the grid. Unlike the command

[2019-11-20 17:49] Patowhiz commented on #5579
@rdstern you second example line I think has a syntax error. It lacked the quotes. I have added them

Changed the second example to
data.frame(l=1:31,d=seq(as.Date("2013-1-1"),as.Date("2013-1-31"),"day"))

[2019-11-20 18:06] rdstern commented on #5584
I have now tested as much as I can with the "old" use model dialogue.  I used a mixture of the new pull request for "predict" where you can save the objects, and this new keyboard.  Here is what I have discovered:

Three functions and hence those keys are different.  Please could they become the new top row of the keyboard.  They are **_davies, pscore and segmented_** (in that order.
They become t

[2019-11-21 07:52] rdstern commented on #5530
I like the addition.
a) I hesitate to change the File > Save As at the same time, but if we give that message it is still quite discrete.  Could we move it to the left and add a Now.  So it starts just above the Ok button.
b) The message is now given on the File > Export > Export Data, but the dialogue has changed in size .  And I don't see the file name so clearly.  Perhaps this could be complete

[2019-11-22 14:06] rdstern commented on #4257
I checked with @volloholic who had a good idea!  (He does, just occasionally!)  This was to have a checkbox below the missing value field that says Multiple missing values.  Default is unchecked.  If checked, then it opens a field to type into for a second missing value.  Then this is combined with the first missing value code.  It there are more than 2 - which we think is rare, then this extra bo

[2019-11-22 14:39] Patowhiz commented on #4257
Yes that's doable. I will now go ahead and implement this

[2019-11-23 11:47] rdstern opened #5587 "Remember the directory when using the R-Instat library"
Open from Library seems to work well.  I am thinking here of the Instat files.  When I use Open from Library or the library in Open and tidy NetCDF files it always goes to the right place.
I would like the ordinary File > Open from File to be separate from the Open from Library.

Currently if I use Open from File I then go to the directory I need.  Then, the next time it returns to that directory.

[2019-11-24 14:38] rdstern opened #5588 "Making the saving of R-Instat windows consistent?"
I am now busy writing the help for R-Instat - building on Beryl's work and style.

It is also a useful opportunity to check on consistency in R-Instat.  So the questions below.
a) For the Script window and Log window I can save either through File > Save As or right-click when in the Window.
I get to the same File Save dialogue.  From File > Save As it saves as a txt file.  The R extension is also

[2019-11-25 10:22] rdstern commented on #5588
After discussions with @volloholic I suggest:
a) That for File > Save As > Save Log As and File > Save As > Save Script we make the default format into R, with txt remaining as an option.  This is then consistent with the right-click in the Log and Script windows.
b) We add a Save As into the right-click menu for the Output window.  And we disable Copy Rich Text if no selection is made.

[2019-11-25 10:54] rdstern opened #5589 "Minor changes on the File > Export dialogues"
1. In the File > Export > Export Dataset a minor change is being worked on now, by @Wycklife in #5585.  At the same time, the field for the filename starts much further to the right of the dialogue than the corresponding position in the File > Save As > Save Data As, dialogue.  They should be made the same.  I also look forward to the changes in #5585.
2. In the File > Export > Export Graph as Ima

[2019-11-25 11:49] Wycklife commented on #5589
@rdstern I working on the two.

[2019-11-25 13:07] #5561 closed

[2019-11-25 13:10] #5504 closed

[2019-11-25 14:19] #5520 closed

[2019-11-25 14:30] maxwellfundi commented on #5530
Aha @rdstern  I see the issue here, its designer problems. we will get that fixed up.

[2019-11-25 17:37] rdstern opened #5590 "Extending the File > Export > Export Dataset dialogue"
Some small changes are being made to this dialogue currently, see #5585.
There are further improvements that may be easy to implement and will also more than justify extending the dialogue.
This uses the export dialogue from the rio package and we will continue to use that.
1. It currently can export to Excel (xlsx files).
2. There are some formats that could be added to the file list.  In particu

[2019-11-26 08:19] #5544 closed

[2019-11-26 09:39] #5584 closed

[2019-11-26 12:21] #3961 closed

[2019-11-26 14:19] Patowhiz commented on #5587
Well, yes I agree this is doable at the **Open from Library** dialog. The reason as to why the dialog overwrites the previous values of open from file is because they are using a shared instance. When you just call an **anyformdialog.ShowDialog()**, basically what VB.Net does is it just instantiates the dialog for you and puts it in memory. When you call the same statement even somewhere else, it

[2019-11-26 14:35] Patowhiz commented on #5588
This reminds me of the students who wished they could just save all the contents of the output window. I do know we can save the contents of the output window as a Rich Text Format(.rtf) but saving it in another format like Text will make it loose several components like graph images. But we could have the default being .rtf extension. Then perhaps I can try to see we can make it open it's rtf con

[2019-11-27 08:14] rdstern opened #5594 "Minor change in File menu"
In writing the Help for the R-Instat dialogues I suggest a small change in the position of one of them.  This is easy to do, but there are probably reasons for the current position.

We have File > Save As and then File > Export
The distinction seems reasonable for most of the items.
1. I suggest that **_File > Export > Export Graph_** as Image be moved to **_File > Save As_**.  It could then be a

[2019-11-27 12:41] Ogik99 commented on #5552
The Null option means that the outliers should take the color of the boxplot. If say the boxplot is red in color, then the color of the outliers will be red by default

[2019-11-27 13:40] Ogik99 commented on #5552
@rdstern if you wish not to see the outliers, simply set outlier.shape = NA

[2019-11-27 13:55] Ogik99 commented on #5552
However, if you currently set outlier.shape = NA in R-Instat, you will get an error because NA has been set a string. Currently working on this.

[2019-11-27 15:58] Ogik99 commented on #5552
@Wycklife @Ivanluv could you kindly assist me with this minor edit. I am having some issues with my VB, seems like I have to clone R-Instat again :(
Its a simple minor edit on ucrGeom. I am happy to help.

[2019-11-28 10:07] rdstern opened #5596 "Add examples to the Prepare > Generate > Enter dialogue"
@Patowhiz here is the current Enter dialogue.

I am interested in adding some examples.  If so, then I wonder how this should be done?
We can have tooltips, of course.
But in addition I wonder about helping users in the writing of examples of the commands as we do in the File > New Data Frame dialogue.

Here there are 2 obvious ways.  We could have a button - as we do in the File > New Data Frame.

[2019-11-29 07:32] #5576 closed

[2019-11-29 07:32] #5553 closed

[2019-11-29 08:02] rdstern commented on #5553
I am reopening this issue, because the tooltips are not visible or have not been added to 8 of the keys in the maths keyboard.
They are logit, logistic, atan2, sign, abs, exp, deg, trunc

The suggested texts are above.

At the same time I note @shadrackkibet issue about the code we have provided in some (calculator) commands not being up to the tidyverse "style" guide.  I suggest it is good if the

[2019-11-29 12:36] #5466 closed

[2019-11-30 07:10] rdstern commented on #5464
I am re-opening this issue - I hope briefly - because the problem of labelling in the column chart is still there.
![image](https://user-images.githubusercontent.com/11226469/69897203-19359c80-1340-11ea-9983-3732ee9e74fb.png)

This is what it should look like.  And it does - **_but just the first time you use the dialogue_**!  If you complete the dialogue, then get a graph and then return to the d

[2019-11-30 07:18] rdstern commented on #5127
I am re-opening this issue briefly.  It is great it is merged, but please could @maxwellfundi or @Ivanluv quickly change the size of the dialogue.
a) It is now much wider than need be.
b) It is also a bit "shorter" so the bottom line of buttons are only half-visible.

[2019-11-30 07:35] rdstern commented on #5567
I have now added @maxwellfundi to the people here, on the assumption this is an easy (global) change to make.  I suggest a) we now make the change to 10 seconds.
b) In the longer term could we add an option to the Tools > Options dialogue?  It could go in the Commands tab perhaps?

[2019-11-30 07:44] rdstern opened #5601 "Adding a dialogue to install a new (or updated?) R package"
This is (sort of) just the install.packages("xxx") command and I use this quite often from the script window.
Could we have a simple dialogue to do this.  It could be a new Packages tab in the Tools > Options dialogue.
The R code isn't trivial because it would be good if:
a) It checks first if the package has already been installed.
b) It checks if the package exists - could be a typing error in t

[2019-11-30 08:48] rdstern opened #5602 "Small change in File > Export > Export R Objects"
This currently only exports an rds file.  Please could Rdata be added.  There would then just be the 2 alternatives and the new Rdata should become the default.
Thanks

[2019-12-01 20:06] rdstern opened #5603 "Suggested change in R-Instat Prepare menu"
The Prepare menu seems pretty logical to me - except for the dialogues in Calculate and Generate.  I now suggest as follows:
a) I use the Calculator a lot.  It is a powerful and very useful dialogue.  I suggest we move it to the main Prepare Menu, so the third item reads **_Prepare > Calculate..._**
Then we combine the other items in the Calculate menu with Generate.  Call it Generate.  We omit th

[2019-12-01 20:17] rdstern opened #5604 "Enhancing the Try control in R-Instat to be able to show errors"
We have the Try control in quite a number of the R-Instat dialogues now.It reports where there is an error, and (usually) goes green otherwise.  I am finding it to be very useful.  However, I often then run the command (pressing Ok) because I would like to know what the error is.  I hope it might be possible to display the error instead from the Try control itself.  I don't want that to be automat

[2019-12-02 08:33] rdstern commented on #5228
I have optimistically changed this to the 0.5.5 milestone in the hope that adding the extra item to the toolbar might be an easy thing to do.  This would be useful as I write the help - particularly on saving the graphs.

The idea would be that the graph icon would stay as it is now - it is already useful.  In addition there would be a pull-down as in the File > Open icon and the last 10 dialogues

[2019-12-03 07:29] rdstern opened #5605 "Graphs sometimes don't appear - in the output window"
I sometimes have either of the graphics problems - don't know if they are separate or related.
a) When displaying ggplots they usually come in the output window.  Sometimes there is a message that they can't, and then they appear in the R graph viewer.
b) Some commands produce non-ggplot graphs.  These are often with models, etc.  I think the residuals are about to be plotted using the ordinary gr

[2019-12-03 09:27] rdstern opened #5606 "Add memory of directory and filename to the export (and save) dialogues"
I assume this is easy - and useful, but dull!
My first example is the **_File > Export > Export Graph as Image_** dialogue.
This is for a single graph from a single data frame.

In the File Save dialogue it currently has no memory of the previous directory where it saved a graph (or anything).  Nor does it help with a provisional name for the file.
a) Could it suggest the name as the provisional f

[2019-12-03 09:50] Ivanluv commented on #5580
@rdstern  should I add the property of the textbox turning red  when the command prodeces an error ?

[2019-12-03 09:59] rdstern commented on #5580
Up to you and could check with the others.  I really like the Try textbox and (in general) I like consistency.  Usually the textbox turns green for an ok command and red if an error is detected.  It is different here, because it gives the result (or part of it) when it works.  And it says there is an error otherwise.  As it is different anyway (for a good reason) I am quite happy as it is.  The re

[2019-12-03 12:15] rdstern commented on #5588
@Patowhiz While you are exploring the Output window here is another minor suggestion.  To save a graph in the Output Window you currently double-click in the graph to select it.  Then you right-click to activate the popup menu.

Could these be combined in some way.
a) When you double-click in the graphics window, could it automatically open the popup menu?
b) Or (even better) when you right-click

[2019-12-04 08:14] Ogik99 commented on #5464
![barchart](https://user-images.githubusercontent.com/43957868/70120150-e6134600-167c-11ea-8917-4710b3b56ff9.PNG)

Following discussions made yesterday, this is the suggested design of the dialogue. We got rid of the column chart button and introduced new controls- Y values and Y variable. The Y values control would have two options - "Count" and "Column". If the "Count" option is selected, the us

[2019-12-04 08:27] rdstern commented on #5464
@Ogik99, so if I understand correctly, then could the first field be labelled **_X Variable_**.  That would be clear and consistent with the scatterplot, etc.
I like the idea of this change.

[2019-12-04 22:49] rdstern opened #5608 "Minor edits on Prepare > Data Frame > Row Names dialogue"
This should not take much time, partly because we hardly make any use of row names.

1) the first option says Copy Row names into First Column.  Delete the First.
2) Move the options box over, and make the dialogue smaller
3) Now the more serious problem.  It doesn't work when a filter is in operation.  There is no reason why it should, but it shouldn't give an error.  I think we will find this pr

[2019-12-05 08:56] rdstern opened #5609 "Extending the calculator - or a new calculator?"
I hope this could be just an extension of the existing calculator?
I am finding writing the Help is really useful in asking some questions from R-Instat.
I have 2 problems - perhaps related, so I mention them both here.  They may need to separate.
a) My first example is that I would like my calculation to produce not just a new variable, but a new data frame!
**_Background:_**  I am explaining the

[2019-12-06 08:15] Patowhiz commented on #5464
@Ogik99 is this now ready for review? I would like to go through it and check on the redundancies that we talked about.

[2019-12-06 08:16] Ogik99 commented on #5464
Yes it is ready for review @Patowhiz

[2019-12-06 10:16] rdstern opened #5612 "Save Column Position not working in regular sequence dialogue"
The save column position was merged and further work is to be in a new pull request.
One dialogue where it exists already is the Prepare > Generate >Regular Sequence.  It doesn't work there, but always puts the calculated variable at the end.
This dialogue is also in prepare > Column: Date > Generate Dates - also (as expected) it doesn't work there.  In the next dialogue in the menu Prepare > Colu

[2019-12-06 20:31] rdstern commented on #5465
@dannyparsons I am now writing the help on the Convert dialogue.  I assume it will remain as it is for now.  Here is a simple example to show the current problem:
data.frame(x1 = c(1.5,12,18,"3,0",46,12,"3 .6","s",47))
If you change to numeric, then it gives the factor levels.  The labels mean you can undo that.  I can either explain what the Convert dialogue is doing now, or we can improve it?  T

[2019-12-07 14:53] rdstern commented on #5587
Two more suggestions for the Open from Library.  At least the first (I assume) will be easy.
When I use Open from Library I su=ometimes want to look at multiple examples from the same package.  Currently it doesn't seem to remember the last file I used.

As an example try the agrecolae package where there are many datasets.  When I return to the dialogue having opened a data frame I return to the

[2019-12-09 09:22] rdstern opened #5613 "Problem deleting the only data frame"
The bottom **_right-click Delete_** calls the **_Prepare > Data Object > Delete Data Frames_** dialogue.

This is generally working well, but gives a nasty message if you try to delete the only (or possibly also all) the data frames.  It also appears not to work, but I think it sort of does, because the data frame disappears when a new one is opened.  It possibly doesn't know what to do when there

[2019-12-09 09:28] rdstern opened #5614 "Small change in the File menu"
In the File menu I use the option "Close Data File" a lot.  It should be "Close Data Book" to be clear that it closes all the data sheets not just one of them.

[2019-12-09 22:00] rdstern commented on #5548
@Patowhiz I believe that after discussion with @dannyparsons and others it may be relatively straightforward to fix this.  At least that's what I think Danny said?

[2019-12-10 08:47] rdstern commented on #5612
@Patowhiz now that (I hope) the detailed question of lining up the button is solved, it would be good to make this change in the position of the saved variable.  For example I notice that now #5611 produces a similar button and it is perfectly lined up.

It would then be really good to have this facility working in each dialogue that adds a variable.  I wonder who would quickly be able to do this.

[2019-12-10 09:56] rdstern opened #5615 "Changes in the Prepare menu"
It is currently like this:
![image](https://user-images.githubusercontent.com/11226469/70516627-3b44d100-1b2f-11ea-9809-f70c6c67b310.png)

I suggest
a) we move Convert Columns above the line - still just below Replace Values.
b) We get rid of the Column Metadata option
(There could be a reason for keeping it - as I get to writing the help - it does give an easy route to renaming columns, adding la

[2019-12-10 12:05] rdstern opened #5616 "Improving the toolbar and windows easily!"
Here is our current toolbar:

![image](https://user-images.githubusercontent.com/11226469/70526920-903e1280-1b42-11ea-9c5b-7a583784b2a0.png)

Two icons also include the arrow for a menu, and the File > Open is used here.

I have a small series of suggestions to make the toolbar more useful:

1.  The icon above shows 5 previous files and that is the same as at the bottom of the file menu.  In the f

[2019-12-11 08:31] rdstern opened #5617 "Adding IPUMS data into R-Instat partly for Zambia conference?"
Here is the [IPUMS](https://international.ipums.org/international/index.shtml) home page:
![image](https://user-images.githubusercontent.com/11226469/70601317-af43af80-1be9-11ea-9b95-d9ed0cc4248f.png)

They are at many ISI conferences, promoting the use of "their" data.  In preparation for our possible attendance and papers at this conference I downloaded the latest Zambia census, which is 2010.

[2019-12-11 11:26] rdstern commented on #5617
I have now found the situation in the column metadata is both better and worse than I thought.
a) What's better is that with the view shown above you can double-click in the name of the final field and then the scrolling is ok.
b) But you then lose the name of the field
c) And I tried to edit the field, because it was messing up the structure.  After clicking a bit it said:

![image](https://user-

[2019-12-11 17:29] rdstern opened #5618 "Improve the Prepare > Data Frame > Delete Columns/Rows dialogue"
Here is a picture of the dialogue:

![image](https://user-images.githubusercontent.com/11226469/70644118-446e9480-1c3a-11ea-8aaf-c459e6f96965.png)

1. Small change could the controls with the row numbers become wider, so they can show row numbers up to 10 million at least.  The example here has 1.3 million rows.
2. More important is what the dialogue should do when a filter is in operation.  This

[2019-12-13 10:44] rdstern opened #5619 "Adding a simple paste into a data frame"
As I write the help it would now be very useful if we could have a paste into the data frame.

Previously we have been hesitant, because pasting is complicated to do well.

I don't want to spend long on the pasting, partly because I think we may want to use a new grid control in the future.  But also because it will take forever to do well.  That's why I am suggesting just a single column (variabl

[2019-12-13 20:30] rdstern commented on #3831
I have returned to this topic as I write the help for R-Instat.  I need a set of example data sets.  We have our own and I have now been systematically through the R for Data Science book and the idea of mixing data sets used in the book with our own data sets has a good ring to it.  They are easily available within R-Instat.  So here is my list, with a few questions at the end.  It is also partly

[2019-12-14 19:07] dannyparsons commented on #5582
Currently there's no real difference between **numeric by continuous** and **continuous by numeric** on this dialog. In the 2 variable summarise dialog **numeric by continuous** does summaries by the levels of the factor and **continuous by numeric** does ANOVA.
So my suggestion is to have the following as the defaults.
**numeric by continuous**: standard boxplots for each factor level (same as cu

[2019-12-14 19:36] rdstern commented on #5582
I like that idea.  And it seems appropriate that the default is a sort of graph that corresponds to ANOVA.  Is it sensible (easy) for those graphs to offer options for the line to be the median or the mean, and perhaps also to optionally include quartiles?  I think I'd prefer including points to be the default.

It isn't here, but I am very conscious of the fact that some are obsessed by bar chart

[2019-12-16 20:00] dannyparsons commented on #5582
Option for mean/median is easy to add.
I've called this graph "Summary bars" but realise now this could be confusing with "Bar charts" so I'm open to a better name.
I've removed Dot Plots from categorical by categorical, since we removed it as a dialog, and replaced with mosaic plots. Do we want pie charts too? Are there any other obvious plots?

[2019-12-20 06:13] rdstern opened #5623 "Improvements to the calculator - mainly character keyboard"
1. In the **_factor keyboard_** the concat key is disabled.  Please replace it by the **_labelled_** key from the **_labelled package_**.
2. The remainder is the strings  keyboard.
a) The split key currently gives stringr::str_split_fixed().  This gives an error.  Delete the **__fixed_**, so it is str_split().

3. There are some useful additions to the stringr package to go onto the Strings (Chara

[2019-12-20 06:32] rdstern opened #5624 "Improving the installation procedure?"
I gave a seminar on climatic analyses in Stats4SD on Monday.  At the start I asked the 2 new staff to install R-Instat so they could try some practical work.

Each of their installations had problems - they were concerned with packages not being installed.  I can get more details if needed.  But the issue is more general than this particular installation.

In Stats4SD we have (currently only) 1 en

[2019-12-20 13:16] dannyparsons commented on #5624
It would be good to get the details of those installation issues, although we have seen similar things before.
There are various causes to some of these issues, the main one is R itself. Installing packages can have all sorts of problems including being blocked by firewalls and insufficient permissions to modify files in certain locations, then there can also be conflicts between RStudio and R-Ins

[2019-12-20 20:10] BobMuenchen commented on #5624
I'm an advocate of including a version of R with the main installation of an R GUI because it has two major benefits. First, it keeps the installation simple. At the Univesity of Tennessee, our Help Desk is deluged with installation problems even when it entails a single step. Each additional step exponentially raises the chance of an error, even when the step is seemingly simple. Second, includin

[2019-12-22 18:16] rdstern commented on #5623
Now I suggest a second half to the keyboard - a second box below the first.  It (currently) has 3 rows of 5.  Most have a symbol or two, followed by a short word.  Just the symbol part is used when the key is pressed.
1.  . (i.e. dot as in the decimal point) any, ^ begin, $ end, \d digit, \s space
2. [ ] or, [^ ] not, | or, { } number, { , } numbers
3. ? 0 or 1, + 1+, * 0+, \\ escape

Then I'll co

[2019-12-22 18:51] rdstern commented on #5624
So, I like the idea of including R and the packages in the installation.  Let me also check what we lose if that is the only way we install.
1. For those who only use R through R-Instat I assume it is fine.
2. For those who already have R (and RStudio) there would be 2 separate versions of R installed.  And the packages may be different.  So:
a) Installing a new package through RStudio and then us

[2019-12-28 07:08] rdstern commented on #4952
I assume this is the place to comment on the 2-variable summarise.  I am using @dannyparsons new version.
a) A detail - the dialogue title for the Graph is Two Variable Graph - which seems sensible.  Here the Title is Describe Two Variables. I suggest Two Variable Summary.
b) I tried the same
b) The graph dialogue now has some useful options.  Could we please have the same for the summary.  In par

[2020-01-08 16:11] rdstern opened #5627 "Major Changes to R-Instat?"
I need to prepare a pre-concept note for WMO so they can consider whether and how they might support R-Instat.  This is primarily for its climatic work.

There are many aspects.  In this issue I want to explore the possible major changes that might be undertaken, given sufficient funds.  This would be to modernize the software, to enable it to run on various systems and not just Windows, (linus, M

[2020-01-16 09:37] #4577 closed

[2020-01-17 09:26] rdstern opened #5628 "Enhance the calculator to be able to take account of filters"
Currently the calculator (and some other dialogues) ignores a filter.  Genstat offers 3 options when its calculator is used.  Could we please discuss whether we could do the same.
If so, then one way would be to have the options available through the Data Options button.  Indeed it might change in some way when a filter is in operation.  Perhaps the words "Data Options" could then be in red?  That

[2020-01-19 11:36] rdstern opened #5630 "Verification of satellite data in R-Instat"
This is an important area to work on and also to add facilities to R-Instat.  I collect here the initial e-mail correspondence by Shadrack and Danny.  I then consider what we might do in R-Instat, starting with activities in the forthcoming code sprint.

"Dear Roger,

This is just to report some of my findings on the methods used to compare Satellite and in-situ data. Following up on my discussion

[2020-01-19 14:21] rdstern opened #5631 "Store results in Describe > Specific > Frequency Tables to be improved"
I am labelling this as a bug, though perhaps there are work-arounds.  I hope it will be simple - at least for @dannyparsons to fix.

I came to this from the data in #5630, which is 100 observations on each of 2 variables.  Each is just 0 or 1.  Here is what the data looks like:
![image](https://user-images.githubusercontent.com/11226469/72682541-0892de80-3ac6-11ea-8980-85bef23e9fd8.png)

In the ve

[2020-01-19 14:22] rdstern commented on #5630
I therefore suggest we consider the following activities:

1. Following from the ideas above there are 2 (or 3) obvious packages to add to R-Instat, namely verification and hydroGOF.  And, if we add hydroGOF we might also consider adding its partner, namely hydroTSM.
a) **_Verification is comprehensive_** - as far as it goes - in comparing forecast and actual data.  That's useful to have anyway.

[2020-01-19 14:39] rdstern commented on #5630
This is however an example of a topic where I think we should make it easy to go beyond what is routine with these packages.  But before that, perhaps we should make it easy to at least do some of what is in these packages.  I wonder how?  Please can we discuss, to conceptualize,  as part of the code sprint?

But the paper [here](https://www.esrl.noaa.gov/psd/people/tom.hamill/skill_overforecast_Q

[2020-01-20 15:00] lloyddewit commented on #5613
I'd be happy to look at this. Please could you assign it to me? thanks

[2020-01-20 23:56] rdstern opened #5632 "More helpful information at start-up of R-Instat"
This suggestion is from a new user, Michael Clapham.

When you start R-Instat it has the message "No data loaded" on the left-hand window and a window waiting for results on the right.

Michael commented that it wasn't clear to him where he might start.  He compared with Excel that would start with a blank sheet - so does the old Instat.

Could we have a more informative message on what the user c

[2020-01-21 02:33] rdstern opened #5633 "Add the DescTools package to R-Instat?"
This is (unfortunately) quite a large package.  But I suggest it has also a lot that could usefully enhance the facilities in R-Instat.  The manual is over 600 pages - it is from Zurich - and it also has 3 useful vignettes.  I have yet to check what else it adds.

Among the facilities there are some that I suggest could support R-Instat in basic teaching - in Maseno for example.

1) Although calle

[2020-01-21 11:28] Ivanluv commented on #5631
I  tried this with the experimental survey dataset and didn,t get the bug .I got the results below when having the "Store Results Option " checked
![image](https://user-images.githubusercontent.com/45068931/72800996-9e12a780-3c59-11ea-9645-0632e1f3759d.png)
![image](https://user-images.githubusercontent.com/45068931/72801160-f9449a00-3c59-11ea-841c-184854e532e1.png)

[2020-01-21 11:46] rdstern commented on #5631
@Ivanluv that's right - it is what I get too.
Now with those data (in the survey dataset) go to Factor > Reorder levels and change the Variety factor to go in the opposite order, namely TRAD, then OLD, then NEW.  Then do the frequency table again.
I found that the output window has changed the table correctly, but the data that is saved is still in the original order, i.e. alphabetical.  It has ig

[2020-01-21 13:58] dannyparsons commented on #5613
@lloyddewit This message box appears, which is generated in the RLink. The first check would be to see what is triggering this.
I believe it should be able to cope with deleting all the data frames, whether you do it through Close File or deleting all the data frames.
It may be that the RLink is not recognising that all the data frames are gone and is trying to access something that isn't there. O

[2020-01-21 14:25] dannyparsons commented on #5632
Something simple could be two buttons under the "No data loaded" text:
- a browse/open from file button that goes directly to their files
- an open from library button that opens that dialog

[2020-01-21 15:10] dannyparsons commented on #5440
@lloyddewit This may be related to #5613. Even if not related, it might be good to look at these two issues together.

[2020-01-21 15:14] #5136 closed

[2020-01-22 14:17] #4831 closed

[2020-01-23 06:09] shadrackkibet commented on #5630
(a) is easy and straightforward to complete. Is someone working on it? Otherwise I can quickly add these keys.

[2020-01-23 07:04] shadrackkibet commented on #5461
I suggest the following on this topic (Homogenization).  There are several methods which could be used to check for inhomogeneities namely;
- Craddock test
- Buishand range test
- Von Neumann's Ratio test
- Bayesian test
- Pettit test
- Standard Normal Homogeneity Test (SNHT)
- There are more

Climatol package uses SNHT which is widely used (**Reference**) as part of the implemented algorithm that

[2020-01-23 15:23] lloyddewit commented on #5613
@dannyparsons Thank you for the extra information.
The R code generated by dlgDeleteDataFrames looks correct:
[code]
As described above, this seems to work correctly unless the last data frame is deleted. In this case, the grid still displays the last data frame's data and displays the error message box.

The message box is triggered in `clsGridLink.UpdateGrids` line 135. The conditions that trigg

[2020-01-23 17:20] rdstern opened #5635 "Simple time series analysis in R-Instat"
I would like to teach this in the forthcoming AIMS climatic statistics course as the data are all time series.
There is an interesting example of data in the datasets package called nottem (from Nottingham).  It reads oddly into R-Instat - I wonder how it reads into RStudio?
In R-Instat it looks like data from mid-1920 to mid-1940, whereas it is clearly from January 1920 to December 1939.

The exa

[2020-01-23 18:35] dannyparsons commented on #5613
@lloyddewit thanks for looking into this. It has reminded me that our code is a little messy around the use of `bInstatObjectExists`. I don't quite like the way we use:
[code]
in closing the `data_book` since it relies on developers knowing when to set this manually (and causes issues like this bug if it's not set!). I think it would be better if this is done more automatically within `clsRlink`/`

[2020-01-23 19:03] rdstern commented on #5461
I like the idea of the trends package being included in the hypothesis testing dialogue.

[2020-01-23 20:36] rdstern commented on #5635
As well as having some tests for time series I think it is time we were able to define a variable as a ts type.  This could perhaps have its own simple dialogue, like Prepare > Define > Convert to Circular.  But (unlike circular) there will often be multiple variables that we could convert in one go.  So there would be a multiple receiver.
We would also need to set the Frequency for daily data?  I

[2020-01-23 23:39] rdstern opened #5636 "Detecting change-points in climatic series"
In #5461 @shadrackkibet mentions the changepoint package to estimate non-homogeneity in time series.
This is more specialized than adding the homogen function from the climatol package.  homogen is an automatic procedure for infilling and homogenising together.  We should still work towards including it, but I like (in addition) also including some facilities that are just on homogeneity of the da

[2020-01-24 10:16] lloyddewit commented on #5613
@dannyparsons Thanks for the feedback, I agree this is a much better approach. I will make a pull request.

[2020-01-24 12:15] lloyddewit commented on #5440
@rdstern @dannyparsons thanks for the information.

I think we first need to clarify if this is an issue with:
1. The underlying data
2. How the data is displayed

If it is 2 then (as Danny said) this could be related to #5613.

`clsGridLink.UpdateGrids()` displays the data depending on the values of a number of boolean variables. These variables describe if data exists or has been changed. There

[2020-01-24 13:39] #5613 closed

[2020-01-24 13:42] dannyparsons commented on #5440
Here is the data Roger attached above https://github.com/africanmathsinitiative/R-Instat/files/3432274/PLUVIOMETRIC_monthly_data_for_dB_02.xlsx.
@rdstern could you confirm if this bug still exists in the same way now that https://github.com/africanmathsinitiative/R-Instat/issues/5613 is resolved.

[2020-01-25 11:57] rdstern commented on #5635
Searching a bit more I have found the fable package that replaces the forecast package.
In addition there is a new book that looks great.  It is [Forecasting Principles and Practices](https://otexts.com/fpp3/). It is a free online book - possibly of the sort we should be writing about R-Instat etc.  It is free and online and updated as you update software - currently there is no print version and

[2020-01-26 07:57] shadrackkibet opened #5638 "Generate random samples from Von Mises distribution"
**Describe the bug**
Currently, we have a dialog that generates random samples following a chosen distribution. When you select Von Misses distribution in this dialog and click ok, It throws a clear error "could not find function".

![image](https://user-images.githubusercontent.com/26301973/73132113-e1cd2e80-4016-11ea-9963-1731892c5ecf.png)
This is because the package name is missing. Since we ar

[2020-01-26 08:08] rdstern commented on #5638
That is a good one to find.  All that is needed is to add `circular:: `to the code generated.

Then the code is for example:

`random_sample1 <- replicate(n=1, expr=circular::rvonmises(n=3177, mu=pi, kappa=0))`

[2020-01-26 08:58] rdstern opened #5639 "Climatic data and tsibbles"
We make quite a lot in R-Instat of using tidyverse.  We are not the only ones! There is now a tidymodels package that could be important for our own modelling menu.

But the main purpose of this issue is that the simplicity in our climatic menu depends on defining data frames as climatic data.  I think they are tsibbles!?

If so, then I suggest it could be important (and valuable) for us to be fit

[2020-01-26 09:52] dannyparsons commented on #5638
Yes that looks to be the solution, so simple to fix.

[2020-01-26 11:58] lloyddewit commented on #5577
@dannyparsons I think this bug is caused by the following:

- `RLink.RunScript(...)`, line 570
  - Calls `Evaluate(...)` with the R script (e.g. `.temp_val <- capture.output(2+x)`)
  - `Evaluate(...)` returns `True` if script executed successfully, else `False`
  - Line 570 ignores the return value
- `RLink.RunScript(...)`, lines 571-577
  - Extracts and displays the value of `.temp_val`
  - If th

[2020-01-26 17:54] #5638 closed

[2020-01-26 18:58] rdstern commented on #5440
@lloyddewit and @dannyparsons I think it is fixed.
There may be a slight oddity in the grid displaying the different data frames, but the deleting seems to work very well now.  And this was a severe test with over 80 data frames.
I also checked repeatedly deleting all the data frames and that is now working fine.

As a report, but no action needed.  The very slight oddity was that when I appended

[2020-01-26 18:58] #5440 closed

[2020-01-26 19:17] lloyddewit commented on #5440
@rdstern @dannyparsons I'm happy it appears to be fixed. I'm slightly uncomfortable that I don't fully understand how/why #5613 appears to have fixed it, and how robust this fix is.

[2020-01-26 19:49] shadrackkibet commented on #5342
Now I am going to proceed with this task.

[2020-01-27 05:37] dannyparsons commented on #5577
@lloyddewit thanks, that looks correct to fix this.

I also suggest adding this line:

`Evaluate("rm(" & strTempAssignTo & ")", bSilent:=True)`

after `expTemp = GetSymbol(strTempAssignTo)`

`rm()` removes the variable from memory in R. With your fix this this probably shouldn't be needed as well, but I like it to keep the R environment tidy and so we keep track of variables and remove variables a

[2020-01-27 07:50] dannyparsons commented on #5639
A few observations from quickly looking at the [tsibble package](https://tsibble.tidyverts.org/):

- It has a nice concept of `index` (the time part) and `key` (the station part for us). `index` + `key` is unique in the `tsibble`
- `key` can be multiple columns (not sure we need this especially)
- `index` must be a single column and it says only daily data can have its `index` column as a `Date` t

[2020-01-27 08:57] Wycklife commented on #5408
@dannyparsons How do I go about this issue? Do I add receiver as you suggested before?

[2020-01-27 09:27] dannyparsons commented on #5408
How about a option to specify a starting date: Day + Month, if the day of year plot is selected, instead of having an additional receiver? The only thing we need here is that date, not the whole column.
It can default to 1 Jan, but can be changed. @rdstern what do you think?

[2020-01-27 09:33] dannyparsons commented on #5639
Other questions:

- Can it cope well with our idea of a shifted year?
- It doesn't seem to allow the `index` column to be a `factor` for yearly data, it must be `numeric`. How problematic is this? We can always have additional columns but is it a problem if the `index` column must be `numeric`? That means for a shifted year we must have a `numeric` year column as the `index`.

[2020-01-27 09:45] rdstern commented on #5639
Good spotting.  I have been impressed in the extent of the changes in this new "system" compared to his previous package (forecast).  His new book is also open and only online - also interesting.  I am not sure he (they) have considered climatic.  I wonder if it is worth writing to him (them)?

There is the factor issue, shifted year, daily having the option of 366, then dekad, poentad and weekly

[2020-01-27 09:57] dannyparsons commented on #5639
If there is functionality we need which we think is also sensible generally then we can suggest it as issues to the package and see what the response is.

[2020-01-27 10:14] rdstern commented on #5408
That would be great.  But as it uses the date I would not object to always starting on 1 Jan if the additional features take too long.  It is an inventory after all.

There is also an interesting issue at the top of the plot.  That happens a lot and I am not sure what it is.  Perhaps that should be a separate issue?

In the (slightly I hope) longer term we will need to consider what to do about ho

[2020-01-27 11:44] shadrackkibet commented on #5408
Yes, I had an issue with hourly data, especially for wind which I wanted to produce an inventory plot. We need to see how we cope with that. Generally, I think most facilities that we have in the climatic menu cope well with daily data (I might be wrong). We need to also consider sub-daily data.

[2020-01-27 12:37] rdstern commented on #5577
It still seems to repeat.  Here is my first example.
Go into R-Instat.
Open from library and open the Instat data from the Intro guide called survey
Then go to Model > Hypothesis tests
use the command cor(Fert,Yield), which runs fine.  Can use Try first to check.
then add 2, so cor(Fert,Yield2) which gives an error on Try.
Persist and it gives the error - good.  But it still repeats the previous r

[2020-01-27 14:01] dannyparsons commented on #5577
Ah, that's not fair :) that's a different bug than the one causing the output to display from the calculator!

The difference is that Hypothesis dialog, and others, are saving an object in the `data_book`, so we also have an issue of not extracting the wrong object from the `data_book` when the command gives an error. I hadn't noticed that this was also an issue, which is a different part of the c

[2020-01-27 17:30] rdstern opened #5642 "Small bug in Open from Library dialogue"
A nice feature of the Open from Library is the extra Help button that gives help on the selected dataset.  The help is inactive until you select a dataset - and that is correct.

Once you have selected a dataset and opened it, then when you return to the dialogue that dataset is no longer selected.  It remembers the package but not which dataset you selected.  You return to the top of the list for

[2020-01-27 17:35] rdstern commented on #5632
Could we have 3 buttons (or 4?) and have one for New Data Frame as well?  So
New Data Frame
Open From File
Open From Library
Recent Data Files

[2020-01-27 18:13] rdstern opened #5643 "Trivial edit in Prepare > Data Frame > Row Numbers/Names dialogue"
The example I have is File > Open from Library > And the EnvStats package.  The second example is called Air.df.  It opens fine, and the date column is actually in the row numbers.

This needs to be moved into the Data frame and that is exactly what the dialogue does.
The new feature is that the control where you can choose the position of the resulting variable is added here.
The trivial change i

[2020-01-28 11:25] lloyddewit commented on #5642
No, I'm certainly not bored ;).

I understand the issue as follows:

- User selects `File/Open From Library ...`,
- `Open Dataset from Library` dialog opens, `Help` is greyed-out
- User selects package and data frame
- `Help` is enabled and functions correctly
- User clicks on `OK`, dialog closes and data frame is opened
- User opens `Open Dataset from Library` dialog again
- `New Data Frame` text

[2020-01-28 13:39] dannyparsons commented on #5510
@africanmathsinitiative/developers this would be good to get done for all dialogs during the code sprint. It makes the software more usable but also allows us to add features, such as #5508.

[2020-01-29 08:22] dannyparsons commented on #5642
That's almost correct. The help button should display the help for the dataset selected from the list.
By default that's the same as the new data frame name, but that can be changed depending on what the user wishes to call the data.
So if they select `diamonds` then change the new data frame name to `diamonds2` then clicking help should still give the help for the `diamonds` dataset.

[2020-01-29 08:30] #5577 closed

[2020-01-29 11:26] rdstern commented on #5601
@Ivanluv That's great.  It works already!
1. Could the menu option be called "Load R Package".  And could it be above the Options item - so the Options stays last.
2. I checked lots of different things and really like the check field.  When the package is already installed it said: "Package is installed. Newer version available: 0.1.2 (current: 0.1.1)."  The text doesn't quite fit into the field.

[2020-01-29 11:52] dannyparsons commented on #3577
Inline documentation can be done as shown here https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/language-specification/documentation-comments
It has lots of uses such as:
- can be automatically utilised within the code as tooltip to developers using that code e.g. when using a function the documentation for that function and its parameters displays as tooltips to the developer
- can

[2020-01-29 12:40] dannyparsons commented on #5601
1. That should be "Install R Package". Load has a separate meaning in R (when you do `library(zoo)` you are "loading" the `zoo` package).

3. @Ivanluv you can fix the repo in the `install.packages()` command (as we did in `available.packages()`) so that it does not ask to choose the mirror site.

[2020-01-31 10:18] rdstern commented on #5642
@lloyddewit you have understood perfectly.  Notice that error message gives the impression you have done something terribly wrong!
The only point to add is that R-Instat usually remembers the previous settings when you return to a dialogue.  That would be consistent here with it remembering the previously opened data frame.  If that is possible (easy I hope), then it is also correct for the help t

[2020-02-02 04:51] rdstern opened #5647 "Add broom to the Model > Use Model menu"
Initially this is easy, but there will then - or in parallel - be more work to do!  This needs advice from @dannyparsons and David.
broom is designed to use models in a tidy way, so I suggest it becomes the first in the tab order of the packages.
a) There are just 3 commands, namely augment, glance, tidy.  They all work trivially, i.e. initially we just put them in as they stand.  Then, for exampl

[2020-02-02 18:11] rdstern commented on #5616
From discussions some of these changes have held up:
a) Past files in drop down could be a list of 10 rather than 5 files.  But in the File menu it should then be 5 with a More button, (or some other way of extending) so you can get 10 there if you wish.  (If that takes a long time to implement, then it is the least important and should be dropped.)
b) Pull down next to the graph icon.  The R-grap

[2020-02-02 18:19] rdstern commented on #4228
This still seems relevant.

Here is a [recent article.](https://cran.r-project.org/web/packages/broom/vignettes/broom_and_dplyr.html).

It starts with correlations - that we can do already - see above.
Then it is what could be added to the Model > Hypothesis Tests dialogue and also to the Model > Model dialogue - for an example of lm?

[2020-02-03 05:40] michaelclapham opened #5648 "Show data load options instead of just No Data Loaded"
**Is your feature request related to a problem? Please describe.**
When you open R-Instat for the first time you see No Data Loaded but nothing obvious about how to get Data Loaded.

**Describe the solution you'd like**
As well as No Data Loaded, in the data view area show options from the file menu / help menu to help people get started.

**Describe alternatives you've considered**
Could just lin

[2020-02-03 06:09] dannyparsons commented on #5648
duplicate of #5632

[2020-02-03 06:09] #5648 closed

[2020-02-03 06:10] dannyparsons commented on #5632
From #5648

[code]

[2020-02-03 06:24] michaelclapham commented on #2116
Can we reopen this issue :)

[2020-02-03 06:26] dannyparsons commented on #3577
@michaelclapham link to inline documentation above

[2020-02-03 06:34] #5623 closed

[2020-02-03 06:59] #5614 closed

[2020-02-03 07:21] volloholic commented on #5624
@BobMuenchen Thanks for the input. We had been prioritising the link to RStudio and hence reluctant to include and embedded R. However, I had been neglecting the advantages of your second point for longevity.

We have now discussed this in detail and have planned for version 0.6 to have an included R which will be then frozen until the next major R-Instat release.

We are planning to still make th

[2020-02-03 07:36] #5306 closed

[2020-02-03 08:39] Patowhiz opened #5649 "Detect list of Datasets Open from Library dialog"
**Describe the bug**
As mentioned by @rdstern in issue #5587

[2020-02-03 08:39] Patowhiz commented on #5649
I think we may need to have the dialogue detect whether the selected dataset is a list of dataframes and call appropriate R commands

[2020-02-03 08:40] #5582 closed

[2020-02-03 08:45] #5603 closed

[2020-02-03 09:00] dannyparsons commented on #5649
The code below would also work to import all data frames together. This would require detection in the dialog by running internal R code.

[code]

[2020-02-03 09:09] rdstern opened #5650 "Small further improvement in probability exceedance graphs"
Now that #5057 is merged one extra feature from there is the y-scale, namely:

g) What I am not sure if it is easy is to change the y scale. That is to have counts, rather than proportions. Is it easy to also 1) Have percentages, and 2) Be able to multiple by 10 rather than 100 - so it gives the risks in 10 years, rather than in 100!

Also perhaps 20! for risks in 20 years!

[2020-02-03 09:43] #5464 closed

[2020-02-03 09:46] #5510 closed

[2020-02-03 10:23] Patowhiz commented on #5587
@rdstern this is now solved.

[2020-02-03 10:33] michaelclapham commented on #2116
So investigation so far:

[code]

Produces a graph in a new window without the scrolling crash error. However if I do a ggplot
[code]
This does produce the error. And the same error occurs if you run that R in R Studio but it doesn't crash R studio instead showing you the following output in the console.
Error in UseMethod("depth") :
  no applicable method for 'depth' applied to an object of class

[2020-02-03 11:42] #5604 closed

[2020-02-03 12:18] Patowhiz commented on #5594
As agreed by @rdstern @dannyparsons and I. The idea of save as is to have the items saved be able to be re-opened as a file back to R-Instant . And Export is only 1 way (Items exported are not necessarily going to be able to be opened by R-Instat). Therefore item 1 and 2 is rejected.

It's been agreed that item 3. The Save as should be consistent, thus, we will have Save Data As, Save Log As, Save

[2020-02-03 12:50] michaelclapham commented on #2116
Created issue on R .NET repo: https://github.com/rdotnet/rdotnet/issues/117

[2020-02-03 12:59] rdstern commented on #5461
I have looked in slightly mode detail at the **_trends package_**.  It is all tests (delivers htest objects).  A few of the tests only accept variables of type ts, most also accept a vector.  Disappointingly most do not handle missing values.  A few just omit the missing values - which seems an obvious route.

Then I looked for similar tests in the **_DEscTools package_**.  I rather like adding th

[2020-02-03 13:20] #5601 closed

[2020-02-03 13:29] Patowhiz opened #5655 "Check For DataFrame in Try Control"
**Is your feature request related to a problem? Please describe.**
@dannyparsons @Ivanluv @rdstern . At the moment the try control is only checking for errors produced by the commands. Could it go a step further and check if the command given is not only correct but also a dataframe.

I have previously implemented this in the New Data Frame Dialog. Below is the code snippet.

[code]

[2020-02-03 13:53] maxwellfundi commented on #5331
This has already been done.

[2020-02-03 13:53] #5331 closed

[2020-02-03 21:10] BobMuenchen commented on #5624
Hi David,

Thanks for the feedback. I think you've seen some of my reviews, but you
can get my full list of things I think are important in a GUI from them. At
the moment, BlueSky seems out in front:

http://r4stats.com/articles/software-reviews/bluesky/

If all the various independent GUI efforts were combined, it would surpass
SPSS in short order!

Cheers,
Bob

==================================

[2020-02-04 09:00] rdstern commented on #5647
This is now changed after discussion with @volloholic into 3 dialogues with one for each verb in broom.
They are **_Glance, Tidy, Augment_** in that order.
The Model menu is also changed into the following:
Probability Distributions
----------------------
Fit Model
Compare Models
Use Models
--------------------
Hypothesis Tests...

**_Now within Fit Model_**
One Variable...
Two Variables...
Three

[2020-02-04 09:25] rdstern commented on #4762
This is working well.
A small change I would like is to add a checkbox with the label Function.  Default unchecked, which then runs as now when the function is left blank.
If checked then it opens the current field with the label Name:

This just makes it clearer that you can get the help on the whole package.

[2020-02-04 10:45] #5594 closed

[2020-02-04 17:36] rdstern commented on #5630
I propose we start by implementing the hydroGOF (goodness of fit) package in the calculator and then in the Statistics > Column: Reshape > Summaries dialogue.

a) In the Summary dialogue we will automatically be able to include factors, e.g. Station, Month in the calculations.
b) The statistics - listed elsewhere - should go into the 2-variable tab.
c) I suggest any 2 be added first - they can go

[2020-02-04 17:55] rdstern opened #5663 "New hydroGOF keyboard in the calculator"
This is a keyboard to compare two numeric variables.  The functions are all taken from the hydroGOF package.
There are 21 keys, so perhaps 3 across and 7 rows:
1) br2, cp, d
2) KGE,mae,md
3) me, mNSE, mse
4) nrmse, NSE, pbias
5) pbiasfde, rd, rmse
6) rNSE, rPearson, rSD
7) rsr, ssq, VE

Note - give them with the parameters as for the cor function, e.g. hydroGOF::br2(sim=, obs=)
Note - for pbiadfde

[2020-02-05 06:15] shadrackkibet commented on #5616
I am now working on this.

[2020-02-05 12:56] rdstern commented on #5630
Some minor edits suggested.
In addition the default output is not what is needed.
A general solution is to add 3 check-boxes
One is Display Model and the default is for that to be checked.  This is the line of R code there currently - the Get line
The second is Display Summary.  If checked then the Get line is repeated, with Summary( ) round it.
I thought @volloholic suggested 3 checkboxes, but wh

[2020-02-05 13:22] shadrackkibet opened #5668 "Packages to be added"
The following packages need to be added:

- hydroGOF
- hydroTSM
- verification
- DescTools

[2020-02-05 13:32] rdstern commented on #5668
Just to confirm the exact names  hydroGOF, hydroTSM, verification, DescTools.

[2020-02-05 13:52] rdstern commented on #5616
It is pretty good, and almost what is needed.
For comparison the first item - Open File shows what I would like.  In turn:
1) The Script Window is close.  When I click on the script it correctly gives me the script window.  But it also opens the pull-down - which is not needed then.  It is correct with the pull-down if I click on the arrow.
2) The Column metadata should go into the metadata when p

[2020-02-05 14:04] dannyparsons opened #5669 "Investigate better Choose Folder dialog"
The built in Choose Folder dialog, `FolderBrowserDialog` is limited and not as nice as the `OpenFileDialog`. It would be nice to have a Choose Folder dialog that is as functional as the `OpenFileDialog`. There are some options here: https://stackoverflow.com/questions/31059/how-do-you-configure-an-openfiledialog-to-select-folders

This is already used in the Import NetCDF file dialog.

[2020-02-05 14:06] ZIRANA11 opened #5670 "Add Climatic Datasets"
The data set below is to be added into the climatic guide directory.
[Climatic-guide_datasets.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/4159889/Climatic-guide_datasets.xlsx)

[2020-02-05 14:11] shadrackkibet commented on #5670
This is added here #5667

[2020-02-05 14:24] lloyddewit commented on #5262
Analysis:

- This error only occurs if the `Specify Rows` checkbox is unchecked
- By default, the `Specify Rows` checkbox is checked
- The user unchecks it, which calls `dlgView.FunctionControls_ControlValueChanged(...`
- This calls `ChangeFunctionParameters()`
- This calls `ucrBase.clsRsyntax.SetBaseRFunction(ucrReceiverView.GetVariables(True))` (i.e. creates the function that will be called when

[2020-02-05 16:24] michaelclapham commented on #5624
Myself and @maxwellfundi have started work on this.

[2020-02-05 17:39] #5551 closed

[2020-02-05 17:39] #5262 closed

[2020-02-05 17:40] rdstern commented on #5530
Here is the Save Dataset dialogue:
![image](https://user-images.githubusercontent.com/11226469/73866779-571dd800-483d-11ea-823a-1bd272b6c83c.png)

The current pull request has this picture for the Export dataset:
![image](https://user-images.githubusercontent.com/11226469/73866994-c1367d00-483d-11ea-8b74-90ab6d988b38.png)

1. The dialogue could be made smaller - preferably the same size as the Sav

[2020-02-05 17:59] #5579 closed

[2020-02-06 08:54] #5616 closed

[2020-02-06 09:39] #5118 closed

[2020-02-06 11:40] rdstern commented on #5242
The main problem is that the new toolstrip within the data frame doesn't do anything.
It looks nice, but seems inactive.

At the same time I suggest you omit the Delete Variable from this new toolstrip.

[2020-02-06 11:44] #5567 closed

[2020-02-06 11:49] Patowhiz commented on #5643
@Ogik99  and I is on top of this.

[2020-02-06 14:37] #5242 closed

[2020-02-06 14:38] rdstern opened #5682 "Remaining points in the save column position"
David wrote as follows about the Position button:

@Patowhiz This is generally good. The size issue for the button is not to do with your resolution it is because the button is being autosized this is what leads to the funny heights. Given the other components are not being autosized i suggest you could turn this off then get the alignment right with respect to the height of the visible height of

[2020-02-06 14:50] Patowhiz commented on #5642
@rdstern I think I have solved this issue

[2020-02-06 14:54] rdstern commented on #5587
Great. So closing.

[2020-02-06 14:54] #5587 closed

[2020-02-06 14:54] rdstern commented on #5642
So I am closing it!

[2020-02-06 14:54] #5642 closed

[2020-02-06 15:14] shadrackkibet commented on #5670
This can be closed

[2020-02-06 15:17] #4849 closed

[2020-02-07 06:14] rdstern commented on #5268
I have tested the latest version.  I gave 2 examples of problems above on March 23.  The first was the rainfall - where I used the boxplot options and it then went wrong.  That seems to be fixed.
The second was when I used the main options after a facet - and that problem remains.

[2020-02-07 07:29] lloyddewit opened #5688 "Refactor ucrSave"
`ucrSave` is a widely used user control. It provides a label, text box and combo box. They are displayed in a row. There are no known bugs in `ucrSave` but the code looks unstructured and fragile. If the control is used in a new way then bugs could potentially be exposed.

The class is self-contained. No knowledge of the R-Instat architecture is needed to understand the class's code. Therefore it

[2020-02-08 17:20] #5573 closed

[2020-02-08 17:21] #5228 closed

[2020-02-08 17:21] #5668 closed

[2020-02-08 17:37] rdstern commented on #5615
Now discussed with @dannyparsons and @volloholic .  The items above are agreed with hiding the disabled options.
In addition put a line above the Column: Reshape.  And change Column: Reshape into Data Reshape

[2020-02-08 17:46] rdstern commented on #5572
This is important to get done before the workshop at the end of February, when no one from the development team will be there.
@Ivanluv , please see @shadrackkibet if you need help - and so try to do this on Monday or Tuesday, while he is there.
Thanks
Roger

[2020-02-08 17:51] rdstern commented on #5515
Hi @Patowhiz .  I am assigning the PICSA issues to you.  I hope we could look at them together before @volloholic leaves.  They should only be done if quick and may have to go back to @dannyparsons .  It is possible that some have changed or been fixed.

They are usually issues with work-arounds, but I want to minimise those by the Burkina workshop at the end of February, when we are not there.

[2020-02-09 02:53] rdstern commented on #5420
This now needs further investigation to proceed.  So I am closing it, given the obvious bug has been fixed.

[2020-02-09 02:53] #5420 closed

[2020-02-09 14:44] rdstern commented on #5670
Version 0.6 is now released, but the data are not there!  I wonder what has happened.  There is now a guide, but has a step been missed?

[2020-02-09 15:16] rdstern commented on #4228
Looping was now discussed by @volloholic and @dannyparsons and it would be good to aim for a general solution.  There are multiple implementations that would be needed in different contexts and specific dialogues will have multiple valid approaches. Implementing multiple approaches in a dialogue would have the additional advantage that it supports the teaching of this important idea.
They consider

[2020-02-10 15:49] shadrackkibet commented on #5421
Plotting and saving residuals is now working in most modelling dialogues, and it copes well with missing values. It is only one dialog that I found not working (**Model>Model.**..) which I am going to fix.

[2020-02-12 08:29] Ivanluv commented on #5268
@rdstern  am testing this issue after updating my branch and it seems not to have been fixed

[2020-02-13 03:45] rdstern opened #5698 "Climatic summaries does not cope with multiple stations"
**Describe the bug**
Runs fine, but ignores the Station in the calculation

**To Reproduce**

1. Open from library Guinee > rds file for 2 stations.
2. Check file in Define Climatic Data
3. Now use climatic summaries for rainfall.  Total rainfall for the year is ok.
4. This should give a summary including the Station.  It doesn't!

**Expected behaviour**
A summary with the Station as the first var

[2020-02-13 07:29] Ivanluv commented on #5698
@Patowhiz  can I look into this

[2020-02-13 11:19] rdstern commented on #5698
@Ivanluv that would be great.  Should be very simple.  In the code above if you change:
`factors=c("year")`
into
`factors=c("station","year") `

For the variable named station, then it works fine.  So that was just omitted.

Thanks

Roger

[2020-02-13 11:39] rdstern opened #5700 "Minor bugs/features to fix in Open from file dialogue"
The import dialog has several bugs/features that need to be fixed and added.

- [x] 1. The data frame name textbox needs to be pushed down to be consistent with the other dialogs. The textbox also needs to be resized, currently it's very small.

- [ ] 2. Can we have the option to enter more than 1 missing value representation.

- [x] 3. When importing from file. The maximum rows to skip is current

[2020-02-13 11:40] rdstern commented on #5700
@Ivanluv can you can quickly fix this?

[2020-02-13 11:44] Ivanluv commented on #5700
I cant try

[2020-02-13 11:51] Ivanluv commented on #5700
@rdstern  is the  data frame name textbox  to be pushed down after the `New Daataframe Name` label?

[2020-02-13 12:54] rdstern commented on #5700
It's to be put down near the base buttons just like the way it's been done in the new data frame dialog

[2020-02-13 13:00] rdstern commented on #5700
In addition, there is another bug we just found. When importing from csv files, the ones that have 2 dots e.g myfile.csv.csv, there is an error thrown. I suspect that this error is due to R not allowing names with dots. This can be fixed by showing to the user an understandable error message or R-Instant can try to rename the data frame name. The same occurs even for the sheet names. Test with fil

[2020-02-13 13:12] Patowhiz commented on #5698
In addition, the form title name is set as "Column Statistics", can you change this to read "Column Summaries".

[2020-02-13 13:20] Patowhiz opened #5701 "DataView Label Feed back"
**Describe the bug**
Theres is a bug in the data view label that gives feedback.
When you filter data and the resulting data has now rows, the label below the data view gives an incorrect feedback to the user.

@Ogik99 this sounds like a good quick bug to fix for you

![1](https://user-images.githubusercontent.com/21179007/74439089-98853780-4e7c-11ea-8d8f-b85960ce63c0.JPG)

[2020-02-13 16:00] Patowhiz opened #5702 "Save As Dialog"
Everytime the user wants to save data, they are first prompted by the Save As Dialog, which is one of our normal dialogs. This can be frustrating especially because users are used to the normal Save Dialog that they find in Excel, Word etc which takes them directly to the file system. In the ICPAC workshop users requested if the Save As could take them directly to the file system instead of having

[2020-02-13 16:18] Patowhiz opened #5703 "Script Window & Output Window Right Click Menu"
Now that we have a right click menu for output window and script window, can we add "hide window" as one of the menu items in their respective windows. This will help users quickly close the script window if they no longer need it.
@Ogik99 this looks like a good task for you.

[2020-02-13 16:22] Patowhiz opened #5704 "Changing Characters to numerics"
Sometimes when you change character columns to numeric, the values changed are different from what was there. This happens if the column has some non-numeric values e.g 0,0 or numbers with trailing spaces.
The conversion error happens silently and the user may end up analysing wrong data.
We need away of handling this and letting the user know what is happening, currently I have to check manually

[2020-02-13 16:42] Patowhiz commented on #5703
This is not needed cause we have them in the tool bar

[2020-02-13 16:43] #5703 closed

[2020-02-13 17:28] Patowhiz opened #5705 "Open From File"
Everytime a user clicks on open file, after the first time, the user is taken to the import dialog. I think it's better user experience if they are taken directly to the file management system, where they can select the file first.

[2020-02-13 18:21] Patowhiz opened #5706 "View In Plotly Bug"
The mean lines are removed when you view graphs in blockly. I observed this in PICSA graphs.

[2020-02-13 18:40] Patowhiz opened #5707 "PICSA Rainfall Graph Dialog"
When you select from the receiver from single Variable to multiple variable, the selector shows date columns only instead of numeric variables.

![3](https://user-images.githubusercontent.com/21179007/74467053-705ffd80-4ea9-11ea-9186-749b765b03c2.JPG)

[2020-02-14 05:48] Patowhiz commented on #5700
In addition, the sheet names sometimes are also named with spaces in between. e.g "Max Copy"

[2020-02-14 13:18] Ivanluv commented on #5700
@Patowhiz  am not sure on how to go around the  fourth  suggestion on e  retaining  the selected sheets when when importing excel sheets on reopen.Could you help me on this

[2020-02-15 06:58] rdstern commented on #5700
@Ivanluv and @dannyparsons just to clarify that the discussion above is promarily by @Patowhiz using my machine during the ICPAC workshop.  Of course I would not put so may issues into one message!
As they are all here I report on the issues that we encountered during the workshop.  The open dialogue is really good, but it was stretched to the limit during the workshop.
1) A data file from Uganda

[2020-02-16 15:52] rdstern commented on #5491
So I am now suggesting this as a small task for @Wycklife.  In the PICSA rainfall graphs, sub-dialogue for PICSA options, then  Titles tab.  Could you make the Caption text box into multiline and add a tooltip to say "Type \n where you would like a new-line".  The Graph box will have to be a bit larger, but there is plenty of space to move the other controls down a bit.

[2020-02-16 16:25] rdstern commented on #5490
This is done, so I am closing it now.  Roger

[2020-02-16 16:25] #5490 closed

[2020-02-16 16:27] rdstern commented on #5430
@maxwellfundi and @Ivanluv could this now be resolved?

[2020-02-16 17:41] Wycklife commented on #5663
@rdstern The first key in row number 5 does not exist, I think it should be pbiasfdc. Kindly check if that is true.

[2020-02-16 20:59] rdstern commented on #5663
Yes you are right.  It should be pbiasfdc.  Good spot.

[2020-02-17 07:35] #4762 closed

[2020-02-17 07:43] maxwellfundi commented on #5430
@rdstern This will need to be relooked at for each of the geoms. @Ogik99 would you a start at looking at this?

[2020-02-17 07:51] rdstern commented on #5670
@maxwellfundi this climatic guide data sets still isn't in the Version 0.6.0 library.  I wonder what happened?

[2020-02-17 07:55] maxwellfundi opened #5711 "Duplicate Column resizing"
This dialog needs resizing properly

[2020-02-17 08:05] maxwellfundi commented on #5670
I will add it in.  Thank you.

[2020-02-17 09:19] Wycklife commented on #5647
@rdstern On the model menu, there are some disabled items, should I do away with them?

[2020-02-18 07:11] #5421 closed

[2020-02-18 08:34] rdstern commented on #5407
I wrote to Danny as follows:
"Next question.  I looked through the dlgImportDataset code to see if I could find where you correct an illegal filename in importing to R.  I was hoping it might be easy to extend that to correct an illegal sheet name in Excel - that is giving us a bit of trouble - quite regularly as they can contain a space.  Perhaps correcting a space alone would be useful, but bett

[2020-02-18 08:51] rdstern commented on #5548
This now seems to be fixed.  So I am closing it.

[2020-02-18 08:51] #5548 closed

[2020-02-18 08:53] rdstern commented on #5615
@Wycklife is this something you could do this week?  You have been changing the form Main already for the Model menu.  I hope it will be easy?

[2020-02-18 10:18] Wycklife commented on #5615
@rdstern Yes sure, I have added it on my list of task.

[2020-02-18 15:03] #5663 closed

[2020-02-19 05:12] rdstern commented on #4412
@dannyparsons I think this is done and can be closed?

[2020-02-19 05:21] rdstern commented on #5698
@maxwell I think this is done and can be closed?

[2020-02-19 05:21] rdstern commented on #5698
@maxwellfundi I think this is done and can be closed?

[2020-02-19 05:30] Patowhiz commented on #5700
@Ivanluv what's the status of this. I'm happy to look at it

[2020-02-19 05:44] Patowhiz commented on #5711
I'm pasting @rdstern suggestion here, to be part of the discussions

[2020-02-19 05:50] Patowhiz commented on #5506
We discussed some of the features with @rdstern during the ICPAC workshop, so I will be implementing this for demonstration. In addition, during the workshop I saw how users struggled with changing the focus of the receiver just to select variables from the selector. This is not a high priority so will be doing it on the side though I think it would really help with simplifying many dialogs for th

[2020-02-19 06:02] rdstern commented on #5572
@maxwellfundi  this is one I would really like to see fixed before the next version is used in Burkina - and it needs to be done carefully as it affects 5 dialogues given in items b, c, d, e, f above.  It is the idea that the climatic dialogues should all work, even if the data have not been defined as climatic.  Then you just have to complete the dialogues manually.  Nothing completes by itself.

[2020-02-19 06:56] maxwellfundi commented on #5711
Thank you @Patowhiz

[2020-02-19 08:46] Wycklife commented on #5711
@maxwellfundi My machine seems to be having a problem mostly when I work on the designer.

[2020-02-19 11:54] Ivanluv commented on #5407
@rdstern am trying this out with an Excel file that has a sheet containing space and its working fine.I however can't seem to find where the sheet names are corrected

[2020-02-19 13:33] rdstern commented on #5407
@Patowhiz do you have examples where this went wrong?  I tried after @Ivanluv comment above with a space in the sheet name, both in xlxs and xls files.  Like Ivan it doesn't go wrong for me now!

[2020-02-20 09:10] Patowhiz commented on #5407
There is a number of edits that I'm doing on @Ivanluv PR branch. I'll push the edits and make comments from there

[2020-02-20 09:12] Patowhiz commented on #5711
@Wycklife what's the specific problem?
@Wycklife if you are using Visual Studio 2019, you can change the scale to 100% instead of 150%. That's how I'm able to make changes to the designer without major problems

[2020-02-20 10:16] Wycklife commented on #5711
@Patowhiz I am currently using 2017. But this has helped resolve the problem. thank you.
Now I can work on this.

[2020-02-20 11:45] Wycklife commented on #5711
![image](https://user-images.githubusercontent.com/33898404/74930790-5feedc00-53ef-11ea-8d4c-08e0debc393b.png)

 @rdstern  @maxwellfundi  @Patowhiz  I have made some changes on the designer and this is how it is now. Is it okay with you?

[2020-02-20 11:50] rdstern commented on #5711
I like the dimensions of the dialogue more now.  In the example it is odd, however, to have those factor options when you are changing to numeric?

[2020-02-20 13:26] #5615 closed

[2020-02-20 13:27] #5491 closed

[2020-02-20 13:59] shadrackkibet opened #5723 "Disabling statistics which do not work with weights"
Currently, the summaries system now include weighted summaries. Summaries which do not allow weights yet should be disabled when the weights checkbox is checked and the weights receiver is empty.

Do we also need weighted summaries for climatic summaries?  if so then we need weights checkbox and a receiver to be added into climatic summaries dialog.

Discussions here #5683

[2020-02-20 14:04] shadrackkibet opened #5724 "`hydroGOF` package verification functions"
The current summaries sub dialog now has `hydroGOF` package verification functions included under Two-Variable tab. Do we need this tab to appear under climatic summaries? if not then this group of functions should be hidden when on this dialog.

[2020-02-21 07:23] Wycklife commented on #5711
@rdstern Should I just leave the dialog as it was before? Or I just carry on with the changes?

[2020-02-21 10:37] dannyparsons commented on #5711
Is there a pull request related to this to view?

[2020-02-21 11:52] rdstern opened #5725 "Illegal file name in File Open dialogue"
At last I am (again) back on the track of problems we had reading Excel - and also perhaps csv files into R-Instat.  I thought it was sheet names with spaces.  But I think that may be ok.  It seems to be the file names that are not fully trapped?  Here is an example where there are some French accents.
[DonnéesClimatiquesSadoré 1983_2014.xlsx](https://github.com/africanmathsinitiative/R-Instat/fil

[2020-02-21 13:52] dannyparsons commented on #5725
Just to check, are we getting the same error here? This is what I get when I choose the file. The dialog then doesn't show any sheet names.

![image](https://user-images.githubusercontent.com/11214914/75039800-128f6f00-54c2-11ea-8bfe-6f49d28b9dcb.png)

[2020-02-21 14:19] dannyparsons commented on #5698
Seems to be working correctly now.

[2020-02-21 14:19] #5698 closed

[2020-02-21 15:00] dannyparsons commented on #5407
@Patowhiz where did you get on this? I also can't reproduce this error now. Are there any changes to be merged for this next version?

[2020-02-21 15:18] rdstern commented on #5725
That's the same that I got.

[2020-02-21 15:37] dannyparsons commented on #5725
Yes it's the accents. I'll check if there's anything quick, otherwise we should put this in writing for users and workshops, particularly for West Africa!

[2020-02-21 16:38] dannyparsons commented on #5725
I think what's happening is that the file name is getting slightly modified in the front end, possibly the accents are coded slightly differently. Then when it's passed to R this error message is saying that the file can't be found, because it interprets it as a different path to what it actually is.
Not as simple to identify and fix as I hoped. I suggest we inform users of this issue and recommen

[2020-02-22 05:27] rdstern opened #5728 "Add range argument when reading Excel files"
I often find it awkward to just have the skip and lines to read with an Excel sheet.  An alternative in readxl is the **_range_** argument.  When it is given the **_rows to skip_** and **_maximum rows to import_**  are ignored, so they could be disabled, but that isn't essential.

We could have different formats in the dialogue.  I suggest a checkbox called Range.  If checked, then There is a **_F

[2020-02-22 07:49] dannyparsons commented on #5728
We could have a small section for "Subset" or something, with two options: range and rows, which give these different choices.

[2020-02-22 10:04] rdstern commented on #5728
Sounds good.

[2020-02-23 06:35] rdstern opened #5729 "Reporting changes in quality control of data"
With the Sadore climatic data from Niger I am now about to make some changes in the data.  I would like to have an easy way to report those changes.  We have the idea of a comments data frame for those changes and that might still be ok.  But it would be convenient to also be able to report those changes from the dialogue used to make the change.
We already have the Comments field that is part of

[2020-02-23 07:23] rdstern opened #5730 "Including a single text as a variable"
I quite often have wanted to add a single character variable to a data frame.  It is usually climatic data for a single station and I would like to add a station name.

One easy way would be to add a third button to the **_Prepare > Calculate > Regular Sequence_** dialogue.
I can already use this dialogue to add a single numeric value or a single date, by just making the To field the same as From:

[2020-02-23 09:17] rdstern opened #5731 "Add a simple keyboard to the filter sub-dialogue"
The need for this should be checked by @dannyparsons.
We have made some small improvements to the filter sub-dialogue.
It now is different for factors, dates and logical variables.
For numeric variables I suggest we add the same simple keyboard as for the calculator now.
We need most of the numeric keys, and it does work with simple calculations, e.g. val > (3*2) so it does no harm to have exactly

[2020-02-23 18:56] rdstern opened #5732 "Including trace values in our climatic records"
At the ICPAC workshop the participants from Kenya and Uganda made a strong case for us to include trace rainfall values when we enter the rainfall data into R-Instat.  I explained that this was tricky in the column to have "tr" values.  The case was good however, so we have to find a way to accommodate this.
There are obvious ways we could manage this including:
a) Adding a flag variable.  That's

[2020-02-24 06:02] Patowhiz commented on #5711
My main concern here is the flow of the dialog from the user perspective. Users are already finding it difficult to move from left to right then right to left when using selectors and receivers. Putting the factor options below the selector makes it feel like it's not related to the other options in someway. My suggestion is to have it maintained below the other options.

[2020-02-24 06:22] rdstern commented on #5711
I have recently been using the new dialogue and can easily live with the current layout.  So, given @Patowhiz comments I'll close this issue

[2020-02-24 06:22] #5711 closed

[2020-02-24 09:37] dannyparsons commented on #5730
Not needed as this functionality exists in the Insert Rows/Columns dialog.

[2020-02-24 09:37] #5730 closed

[2020-02-24 09:38] dannyparsons commented on #5731
Happy for this to be added if we feel its useful for some users.

[2020-02-24 09:43] dannyparsons commented on #5732
A climatic data frame/column could have a trace attribute added which indicates which values are to be treated as trace. This attribute could then be used in e.g. display daily data to display trace correctly.

We should investigate the implications of coding trace values as: either a special missing value, or a small value. These would have implications on calculations on that column.
Ideally we

[2020-02-24 18:20] rdstern opened #5736 "New error message in Version 0.6.1"
I have got this error message on a number of occasions in the new version.
![image](https://user-images.githubusercontent.com/11226469/75178767-9fd7fb00-5730-11ea-8101-d54a67509a43.png)

I am not sure what it means.
I got it first in the PICSA graphs when I wrote a long caption for a graph.  So I made them shorter.  Now I have it again when I try to edit a graph in the script window.  An example i

[2020-02-24 19:50] rdstern commented on #5643
But it still remains!  I wonder if Ivan can finally resolve this.  We shouldn't have trivial items going on forever!

[2020-02-24 19:57] rdstern commented on #5632
Now MIchael is back in Kenya, could we make progress on this item?  I am not very imaginative so remain with the idea of the buttons for the 4 options.  I can picture those, each of which would call a dialogue.  And the 4th would list recent files.  That could be a way - like Word, or being able to list quite a number.

[2020-02-24 20:04] rdstern commented on #5707
Is this a simple fix @Ivanluv?

[2020-02-24 20:10] rdstern commented on #5608
Nothing has happened on this.  @Ivanluv could you look at it please.

[2020-02-24 20:12] rdstern commented on #5560
This is a larger piece of work!  Hope it will be fun?

[2020-02-25 06:45] Patowhiz commented on #5407
This has been fixed because of the changes pushed by @Ivanluv .

Inside the ucrSave, the is a subroutine that changes any name passed to it to a valid R name. This name was being overridden incorrectly in the `dlgImportDataset  `dialog.

[code]

@rdstern the sheet names are being passed to the ucrSave and corresponding RFunction in this block in `dlgImportDataset `line 892. Which I must say has lo

[2020-02-25 07:08] rdstern commented on #5736
Here is an example that produces this nasty error above.  I paste into the script window (but got this error message also using a dialogue - though I have not been able to repeat it:

[code]
(You need to keep the ggplot command on a single line for this to work in the script window. )

I run line-by-line and in Version 0.6.1 (64 bit) it gives the error above when attempting the ggplot line.  In Ve

[2020-02-25 07:14] Patowhiz commented on #5700
@rdstern is it necessary to do multiple values for other file types apart from excel? I've already done for excel file types but I haven't checked if the current R commands (the ones we are using) for other file types  can support multiple missing values

[2020-02-25 07:26] Patowhiz commented on #5700
@rdstern on your comment in issue #5407, you say

Won't the commas only do the job. I thought it will be just easy to have the user separate the missing values representations with just a comma like in the photo below.

![import](https://user-images.githubusercontent.com/21179007/75224269-3e0fa380-57b9-11ea-95e8-4fa3a45dd44e.JPG)

[2020-02-25 07:33] Patowhiz commented on #5407
Since the only issue remaining here is related to multiple files, I suggest this to be closed. I've counter checked that this issue is solved for now.

[2020-02-25 07:34] Ivanluv commented on #5643
The editing of  the label text from  "Copy Row Names into First Column "to "Copy Row Names into  Column " seems to be done already

[2020-02-25 07:38] rdstern commented on #5643
Great.  Let's close it!

[2020-02-25 07:38] #5643 closed

[2020-02-25 07:52] rdstern commented on #5700
That could work.  But it is a bit complicated - I think - if the missing values are a mixture of strings and numeric. Then the novice user must now type the quotes for the texts.  Currently you don't need the quotes.  I could have Roger or -9 as missing and just type.  I don't want to lose that.

We looked for a possible solution when we discussed before, but can't find it now.  Would it be much h

[2020-02-25 08:09] rdstern opened #5739 "Version of R-Instat in use?"
Now we have alternative versions of R-Instat I wonder if we should have something like Version information in the Help menu?  It might include the 32 or 64 bit information, and also mention the version of R being used?  Anything else I wonder?

[2020-02-25 08:15] dannyparsons commented on #5736
I opened R-Instat and ran that script as the first thing and didn't get the error. Do you get this consistently even in a new session with this script?

[2020-02-25 08:20] dannyparsons commented on #5736
It seems this might be the session being out of memory. Are you using particularly large data than usual? Can you reproduce the error with a small data set?

[2020-02-25 08:26] Patowhiz commented on #5700
@rdstern in the dialog, the user doesn't need to type any quotes. The user just types in the missing value. If it's more than one then the user just separates them with a comma. Whether it's a mixture of strings and numbers the user will never have to type in quotes.  I was just responding to your quoted comment to illustrate how I did it differently.

As you can see from the photo above. I just t

[2020-02-25 08:35] rdstern commented on #5700
So I could type -999.9,na,NA,101010?  I would not need to put -999.9,"na","NA",101010?

If I don't need the quotes round texts, then I am happy with your solution.

[2020-02-25 08:37] rdstern commented on #5736
It wasn't large, (single station!) but I did keep going for quite a time with alternative datasets, without closing the program between them.

[2020-02-25 08:47] Patowhiz commented on #5700
Yes, now you get my point. I'm implementing this for excel sheets only for now.

[2020-02-25 09:20] Ivanluv commented on #5707
This is happening because the `SetExcludedDataTypes` function is including variables for the multiple receiver and at the same time excluding the variable for the single receiver.So am not sure if thats how its supposed to work or @Danny  should I edit the ` ucrMultipleVariables.SetIncludedDataTypes(strExclude)` code in `SetExcludedDataTypes` to ` ucrMultipleVariables.SetExcludedDataTypes(strExclu

[2020-02-25 09:26] dannyparsons commented on #5739
List of packages and versions being used, though this can be generated from R automatically.

[2020-02-25 10:07] Wycklife commented on #5647
@dannyparsons @Patowhiz
clsGlance.AddParameter("x", clsRFunctionParameter:=ucrModelSelector.ucrAvailableDataFrames.clsCurrDataFrame) How do I set the same for the receiver? I want the function to get whatever is on the receiver and not the selector.

[2020-02-25 12:37] Ivanluv commented on #5608
@dannyparsons  whats you take concerning the third suggetion ?

[2020-02-25 18:18] rdstern opened #5742 "Issue multiline commands in script window?"
Currently R-Instat commands in the script window are sent to R each line at a time.  I often have to collect lines from simple files for this.  Here is an example:

[code]
This works fine as long as I combine the 4 lines from my.data into a single line and then also the 4 lines for the ggplot2 graph.
I often find a very long line for a ggplot2 command and it would be highly convenient and more rea

[2020-02-26 07:23] rdstern opened #5744 "Add 2 more stats to the list of stats and geoms for ggplot2"
I assume this may be relatively easy for either Ivan or Wyclife to add?
Here is an example of a graph with summaries added.  This is something we have needed for a long time.

![image](https://user-images.githubusercontent.com/11226469/75320818-6ce45300-5867-11ea-8bfb-0ec6cb326c84.png)

This uses the ggpubr package that is already installed.  It uses `stat_cor` for the correlation and `stat_reglin

[2020-02-26 07:29] Ivanluv commented on #5560
@rdstern  should the Response and Explanatory  variable selectors both allow date varaiable to be selected?

[2020-02-26 08:01] rdstern commented on #5560
Yes - I guess so!

[2020-02-26 08:38] dannyparsons opened #5746 "Inventory plot - Date receiver"
The date receiver on the inventory plot dialog allows any type of variable. It only works with Date columns. It should only allow Date type columns.

[2020-02-26 09:14] Patowhiz commented on #5700
Yes, and you can type as many missing value types as you want as long as they don't have commas in them.

[2020-02-26 09:20] Patowhiz commented on #5742
For such a change, I suggest using another control for this. Cause this is like building a code editing tool for R. There are open source controls that can help with this.

[2020-02-26 09:26] Patowhiz commented on #5731
I'm struggling to understand how this could be useful to users

[2020-02-26 09:29] Patowhiz commented on #5725
The file opened on my machine? @rdstern did you get this problem after the changes made on the import dialog?

[2020-02-26 09:31] Patowhiz commented on #5725
Oh! I understand why it opened, when I downloaded the file, chrome just renamed it for me to equivalent English name

[2020-02-26 09:34] rdstern commented on #5731
Simply for the same reason as in the calculator itself.  If the condition is` year > 1970` then you can use the keyboard instead of typing the numbers 1970.  I notice many of our users do use the keyboard, rather than typing the numbers from their machine.  Just continuing to make it easy!

[2020-02-26 09:35] Patowhiz opened #5747 "Line Plot Multiple Variables"
@rdstern I don't know if this is a bug or it's done that way intentionally.

When I select multiple variables in the Line Plot dialog, the factor receiver is disable and also the plot options are disabled. That means I can't even do facets for multiple variables. I think we had a similar issue during the workshop.

Is this a bug?

[2020-02-26 09:38] Patowhiz opened #5748 "RViewer Crashes R-Instant"
When you scroll on the RViewer fro the graph. R-Instant crashes.

[2020-02-26 09:39] Ivanluv commented on #5744
@rdstern  what layer parameters should have for `stat_cor()` and for `stat_regline_equation`

[2020-02-26 09:42] Patowhiz commented on #5731
Okay

[2020-02-26 10:01] dannyparsons commented on #5748
This is being discussed here #2116. Please comment there if you are intending to do something in relation to this as some investigation has already been done.

[2020-02-26 10:01] #5748 closed

[2020-02-26 10:29] rdstern commented on #5747
@dannyparsons may comment further.  The factor being disabled is intentional, because the data are stacked behind the scenes and so the index of the stacked data becomes the factor.
Having the plot options disabled has been (I think) in case there are options that are inconsistent with the stacking.  I do facets by having it on single, then doing the facets and then going back to multiple.  It the

[2020-02-26 10:40] rdstern commented on #5742
I had hoped this might be a simple thing to implement.  Are you wanting another control, because this will be complicated to do, or because a new control would also "open the door" to other improvements too?

Let me explain why this change itself would be useful.  I have 3 instances - 2 on tweaking and the third on copying examples of code over from the R packages.
a) The example I gave above is t

[2020-02-26 10:41] Wycklife commented on #5731
@Patowhiz How do I set at cursor position for the combobox instead of a receiver? i.e
Private Sub cmd7_Click(sender As Object, e As EventArgs) Handles cmd7.Click
        ucrLogicalCombobox.AddToReceiverAtCursorPosition("7")
    End Sub

[2020-02-26 11:09] rdstern commented on #5744
Just like stat_peaks and stat_valleys I assume.  the aesthetics are (at least initially) just the x and y.  Unless they are changed (and they usually are not, then they don't appear in the code.  Then the rest - again like stat_peaks and stat_valleys are in the geom parameters.

[2020-02-26 16:41] dannyparsons commented on #5742
The symbols we would want to check for initially are: `+` `,` and `%>%`

[2020-02-26 18:51] rdstern commented on #5744
The geoms
a) the geom is just _label_ or **_text_**.  Default is text.
b) x-label (gives the x position and geom label.x = number.  So the field just allows a number to be typed.  (Not an up-down, but only numeric.  Negative numbers allowed.)
c) Same for y-label
d) x-position (gives label.x.npc) Can this be a combo box into which you can type.  Values are "left", "centre", "right" 1, 0.5, 0 as you

[2020-02-27 11:22] Ivanluv commented on #5746
@dannyparsons  this seems to be working correctly from my end

[2020-02-27 15:31] dannyparsons commented on #5746
You mean the current version already works in this way?

[2020-02-28 06:31] Patowhiz commented on #5742
@rdstern yes, I wanted to use a better control that can improve our current code editing and include things syntax error highlighting.

But for now I'll  just add the above basic features using the current textbox control

[2020-02-28 07:03] Patowhiz commented on #5747
@rdstern in that case, shouldn't we be hiding the receiver instead of disabling? Though I can see the receiver still writes to the script

[2020-02-28 07:08] Ivanluv commented on #5746
No, sorry.End of rains and start of rains dialogues also seem to have the same issue

[2020-02-28 07:21] rdstern commented on #5747
I am quite happy here that we disable, rather than hide the receiver.  Usually I prefer to hide in these circumstances, but this time it is easier to explain to a user what is happening, if the receiver is still visible, i.e. that effectively the multiple variables are becoming the factor.

[2020-02-28 07:54] #5746 closed

[2020-03-02 08:15] Ivanluv commented on #5560
@dannyparsons could you help  me with suggestions on how to do this

[2020-03-03 05:54] Patowhiz commented on #5747
Okay, I'm closing this issue then. I've understood why this is the way it is and I agree with the functionality. I guess we will have all that in the help menu somehow.

[2020-03-03 05:54] #5747 closed

[2020-03-03 06:14] Patowhiz commented on #5731
Just check on the AddToReceiverAtCursorPosition() subroutine. Are you using the custom control combobox? In that case I'm not sure if it's the same subroutine is implemented, if not, we may have to implement it at that level to be consistent with how the receivers are implemented.

[2020-03-03 09:57] Ivanluv commented on #5552
@dannyparsons @Patowhiz   I've been looking at this and noticed that the reason for this

because the edit and delete buttons are not being reset within the `SetRCodeForControl` .For the subdialogues like `sdgPlots ` this does not bring the bug because `SetEditDeleteEnabled()` is run during the `ucrAdditionalLayers` load event
.Adding this funnction to the `SetRCodeForControl` could solve this bug

[2020-03-04 06:34] Ivanluv commented on #4664
@dannyparsons I think this has already been fixed

[2020-03-04 09:44] Ivanluv commented on #5430
@rdstern I,ve been trying this out but it bugs.For instance,in `geom_boxplot` I allowed the date to be selected for the y and x varaiable and trying it out with the dodoma dataset I got the error below
![image](https://user-images.githubusercontent.com/45068931/75866075-8e1fe300-5e15-11ea-82e8-fd017157e450.png)
.Ive observed this with the `geom_line` too

[2020-03-07 11:03] rdstern opened #5758 "More changes in the Model menu"
The current Model menu looks like this:
![image](https://user-images.githubusercontent.com/11226469/76141759-3c6a9900-605f-11ea-853b-42eeba23369f.png)

I suggest:
a) This gives too much importance to the Hypothesis tests.  It is reasonable for them to be (instead) within the Fit Model section, because accepting a null hypothesis usually implies that a simpler model is ok.  So I propose that the cu

[2020-03-08 08:28] rdstern commented on #5744
The code below is from the ggpmisc package example and runs in the script window.  I have suggested above the equivalent dialogue from ggpubr, but I am thinking perhaps we should use the version - stat_poly_eq from the ggpmisc instead.  (We will still need the correlation stat from ggpubr)

Here is the code that is from the guide and runs fine in R-Instat:
[code]
This gives the following graph:

!

[2020-03-08 19:32] rdstern opened #5759 "Problem with running a single line in the script window"
Please could you check the action of the script window when you run line by line.

I feel it used to work, but am having problems with it in Version 6.1.  I think it may work initially and perhaps doesn't clear.  I was running the following code, but I think the problem is general and should therefore be easy to fix.
Here is a sample of code:
[code]
I think the issue is the same whether I right-cl

[2020-03-08 21:53] rdstern commented on #5539
The three keys at the top of this menu each give
extRemes::plot.fevd(fevd object) etc
This doesn't work.  Instead just give `plot(object)` and `summary(object)` and `print(object)`.

It doesn't need the package name in front and it doesn't need plot.fevd, etc.  Just plot will do!

The other complication is that plot and print don't produce another object.  They just do the plot.  If you then save

[2020-03-11 10:19] dannyparsons commented on #5758
For reference, `purrr::map_df` can be used to run `broom` commands on multiple models. This will need some thought about implementation because they produce data frames in "long" format with an extra column for "model". So e.g. for `broom::augment` we no longer get something that's the length of the data frame with multiple models. Example below.

[code]

[2020-03-11 10:32] rdstern commented on #5758
Looks purrrfect for the job of multiple models going into a new data frame.  You use augment above, while I thought it would be tidy or glance?
It is also clear that purrr should be important for us.  A "test" is the number of other packages that make use of it.  And lots use purrr!

[2020-03-11 11:23] dannyparsons commented on #5758
It can be used with any of the `broom` functions. `augment` is the most problematic, because of the length. It works in exactly the same way for the others.

[2020-03-11 11:30] rdstern commented on #5758
Agreed, but for now at least, we now have just a single receiver for **broom augment**.  And it therefore writes back (usually) into the existing data dataframe - hence the word augment.

It is for **_glance_** and **_tidy_** that broom is for a single model only.  In r-instat we would like these dialogues to be for **_multiple models_**.  Hence great to consider using purrr for the r-code for the

[2020-03-12 06:50] dannyparsons commented on #5627
There is a new [statement from Microsoft](https://devblogs.microsoft.com/vbteam/visual-basic-support-planned-for-net-5-0/) stating that .NET 5 will support VB Windows Forms applications. This is good news as it had not been officially confirmed before now. However,

So it's clear that VB is not going to be treated as a first class citizen in .NET 5.

When this is available, it should be trivial to

[2020-03-12 08:05] Wycklife opened #5762 "Validation of numeric expressions in input controls"
At the moment a custom control like ucrTextbox can validate if a value is numeric or not, but if I type in , for instance, 80/2 which results to 40, it is unable to recognize this as an expression which could result to a numeric expression.

For this kind of validation the current control needs to be enhanced.

[2020-03-12 08:22] isedwards commented on #5627
I'm happy for the technology choices to be made based on what is most suitable for the team, but it's also worth revisiting the question of whether you want other communities to collaborate in the future and what their choices and expectations may be.

This was discussed in the past in #3568

[2020-03-16 16:41] smborio opened #5764 "Installation guide on website is out of date"
Sorry if I'm repeating an issue but I downloaded the latest version a few days ago and the installation guide on the website does not reflect the installation process.
Thanks, S

[2020-03-16 17:52] maxwellfundi commented on #5764
@smborio  Thank you for pointing out this. We have not updated the manual since we changed the installation. We should be doing this soon rather than later.
@berylwaswa  would you like to update this guide?

[2020-03-16 17:57] rdstern opened #5765 "Having histograms show proportions and percentages"
The main histogram dialogue is setup to allow this option.  But it doesn't yet do it.  I don't quite understand the 3 different options.
The default is to give counts and that's fine.
Then there are fractions, which could be in percentages - which don't work
Then there are "scaled fractions" but without any option for a scale.
It should be a simple fix to give the fractions - then (for now at leas

[2020-03-18 18:14] rdstern commented on #5765
@Wycklife  is questioning whether it is actually working and his example - on skype - looks ok.  First let's check we are using the same dialogue - namely histogram and not bar chart.  Then the simple histogram with fractions (on the data he uses) gives me this with 6 bins:
![image](https://user-images.githubusercontent.com/11226469/76992881-d83fb300-6943-11ea-81f7-42373ad4a009.png)

When I add th

[2020-03-18 19:41] lloyddewit commented on #5627
The statement also confirmed that .Net5 VB will support WPF. I think this is the first time MS have confirmed this?

If R-Instat stays as a Windows desktop application then it can probably be developed for a few more years in VB. But VB support is in decline. Even now, most DotNet blog posts, tweets, tutorials, technical websites, job advertisements etc. are focused on C#. For some extra analysis

[2020-03-20 08:39] lloyddewit commented on #5759
@rdstern I could not recreate this bug with today's africanmathsinitiative:master branch. Please could you check if the bug still exists? thanks

[2020-03-20 10:42] isedwards commented on #5627
In the vision for future R-Instat development, phase 1 includes the task to Enhance climatic functionality: "This includes developing a comprehensive system for visualising climatic data at a national, regional and individual station level that includes _tables, graphs and maps_"

My worry is that, in the future, we will need a very comprehensive browser-based capability for interacting with the d

[2020-03-22 09:32] lloyddewit commented on #5725
Issue 1:
If the user selects `File / Open From File ...` then the file open dialog opens. If the user selects `DonnéesClimatiquesSadoré 1983_2014.xlsx` and tries to open it, then R-Instat calls the following R command:

`readxl::excel_sheets(path=""C:/Users/steph/OneDrive/Desktop/DonnéesClimatiquesSadoré 1983_2014.xlsx"")`

This command incorrectly encodes the special characters in the file name.

[2020-03-22 18:38] rdstern opened #5766 "Issues in comparing station and satellite data"
I describe the steps I am taking to compare satellite and station data for new situations in preparing to the AIMS teaching.  I describe the route and the problems I am encountering.  I expect these to split later into separate issues, but feel it is also useful to show the problems in their context.

I hope someone could start by repeating these steps to see if they get the same problems.
The dat

[2020-03-25 10:50] lloyddewit commented on #5766
I tried to recreate the issue above.

Step 1 worked as expected. In step 2, when I tried to open the '5.12N' file, I got an error message:

![image](https://user-images.githubusercontent.com/57253949/77523218-b4212c00-6e85-11ea-889e-60a2885580a9.png)

I then ran the following commands in the script window:

[code]
`require` returned false. This confirms that `ncdf4` was not installed.

I also trie

[2020-03-26 09:57] lloyddewit opened #5768 "Package 'ncdf4.helpers' could not be installed"
**Describe the bug**
When I started a new R-Instat build (equal to the current main branch), I got the following message:

![image](https://user-images.githubusercontent.com/57253949/77528456-49282300-6e8e-11ea-9272-d83a8af96eb8.png)

I clicked 'Install Missing Packages (Online)' and got the message:

![image](https://user-images.githubusercontent.com/57253949/77632026-b353cd00-6f4d-11ea-8f9b-2375

[2020-03-26 09:58] lloyddewit commented on #5766
The solution to the `ncdf4.helpers` issue above is to install the package from the CRAN archive. To do this, run the following commands in the R-Instat script window:

[code]

The last 2 lines are just to confirm that the package was installed. If `test1` is true then the install was successful.

I raised #5768 for the `ncdf4.helpers` issue.

[2020-03-26 10:44] lloyddewit commented on #5766
Now back to the original issue ...

In step 2, when I open the 2nd file (Tamale) I get the following error:

![image](https://user-images.githubusercontent.com/57253949/77635616-227ff000-6f53-11ea-8502-8eff7cf255b7.png)

If I click `Reset` and then open the file again, then it works correctly.

Step 3 and 4 worked correctly without any problems.

For step 5, I wasn't sure how to do the exact same

[2020-03-28 10:32] lloyddewit commented on #5742
PR 5769 adds functionality that if a script line ends with '+', ',', or '%>%', then the command may continue onto the next line. This allows commands to be split over multiple lines for readability.

PR 5769 does not add the optional enhancement to allow multi-line functions (enclosed with '{' and '}') to be executed in the script window.

PR 5769 supercedes PR 5755, so PR 5755 can be closed.

@rd

[2020-03-28 11:45] rdstern commented on #5742
Exciting.  I'll check after the lecture.

[2020-03-30 06:01] shadrackkibet commented on #5742
I wonder if it is necessary to have line numbers in the script window.  Might be useful when explaining some code to the users. I hope by doing this we are not re-writing Rstudio!

[2020-03-30 15:21] Patowhiz commented on #5742
@lloyddewit just a minor mention and probably you know this, for easier access to the pull request links or any other github links you can append a hash just before the number e.g PR #5769.

This also adds an extra functionality from github where as a team we can track what was mentioned where and possibly understand how the 2 are related to each other in future.

[2020-03-31 07:25] lloyddewit commented on #5742
@Patowhiz yes, thanks for the reminder. When I first wrote the comment I tried to do this but it seemed to link to an issue rather than a PR. I edited the comment and it now correctly references the PR. Not sure what I did wrong before.

@rdstern what do you think of @shadrackkibet 's suggestion to have line numbers? I assume that Shadrack is correct and we're not aiming to emulate RStudio's comma

[2020-03-31 07:44] rdstern commented on #5742
@lloyddewit you may hit a nerve with @dannyparsons and/or @volloholic with any suggestion of making the command line interpreter to be like RStudio.  Of course I would like it, because I am quite comfortable in the R-Instat environment, but they keep telling me that I am the lone exception in the world - probably my age they say!

One direction that David is very keen on is that from an R-command

[2020-03-31 18:49] lloyddewit commented on #5742
@rdstern maybe it's a compliment to be unique in the world ;)

If you feel that the line numbers and other features are a relative high priority (compared to the the other open issues) then I'd be happy to work on them, please let me know.

[2020-04-06 07:21] Wycklife commented on #5765
@africanmathsinitiative/developers Could someone please try out this. I seem not to be getting any error as @rdstern did.

[2020-04-07 10:02] Ivanluv commented on #5728
@rdstern is you suggestion adding range as  an argument to the `excel_sheets` command?

[2020-04-08 12:02] shadrackkibet commented on #5728
We discussed this with @Ivanluv.  The function we are using to read excel files is `rio::import` which internally uses `read_excel` according to the documentation. Using the power of  `...` in the `import` function we can pass the `range` argument into `read_excel` by adding it into `import` function.

[2020-04-09 07:36] shadrackkibet commented on #5765
I have checked this and the above bug identified by @rdstern exists. Code seems to be mixed up. The issue is with using top options (Histogram, Density and Frequency Polygon) at different instances. I also noticed that the default for the **percentage** checkbox is not set properly, it is always checked when you reopen or use different stat options which is also causing the mess. Check how the cod

[2020-04-14 08:36] shadrackkibet commented on #5608
We have looked into this with @Ivanluv  and fixed it. We just needed to ignore the filter when it in operation.

[2020-04-14 11:48] shadrackkibet commented on #5765
We have now identified this problem and fixed it with @Wycklife.

[2020-04-16 12:42] dannyparsons opened #5779 "Add geom_ribbon to geom list"
`geom_ribbon` looks like a useful geom that we need https://ggplot2.tidyverse.org/reference/geom_ribbon.html. Can it be added to our list of geoms?

[2020-04-16 12:48] dannyparsons commented on #5768
This package was removed from CRAN. We still needed it so we created a modified version. Our version is available here https://drive.google.com/file/d/1UqwqVDxMvlHNocUa0i6uiGFT24zwGdgB/view?usp=sharing (and described in the guide for creating the installer https://github.com/africanmathsinitiative/R-Instat/blob/master/installer/Installer_Generation_Guide.md). It can be downloaded and installed in

[2020-04-16 13:06] maxwellfundi commented on #5779
Great, will add that to the list of Geoms

[2020-04-20 08:20] #5731 closed

[2020-04-20 10:24] #5758 closed

[2020-04-20 11:54] maxwellfundi commented on #5764
@berylwaswa  I think its a fine time to look at this documentation and to update it. We need to keep it consistent with the current version installers.

[2020-04-20 11:57] berylwaswa commented on #5764
Okay, I'll get to it.

[2020-04-21 07:43] rdstern opened #5782 "Display of numeric data in R-Instat grid - possibly scientific?"
Here is an example of the display of data currently:
![image](https://user-images.githubusercontent.com/11226469/79838695-4b0cd580-83ab-11ea-90a7-8367e4ba7776.png)

The last variable (p-values) is my concern.  I have set the number of significant figures to 1, but that doesn't help.  (Setting to zero gives either 0 or 1.)  This is going to be a typical display for p-values, where some may be very

[2020-04-21 07:52] rdstern opened #5783 "Installation of R-Instat with packages accessible to non-adminstrators"
In the "old" installation of R-Instat a user could add a new package - and we now have a nice dialogue to do this in Tools > Install R Package.
However, now you have to be an administrator to add a package and (I presume) also to update one.
For me - in Windows 10 and with possible administrator privilege, it is easy.  Just right-click on the R-Instat icon and choose run as administrator.
But it w

[2020-04-22 08:05] maxwellfundi commented on #5764
I have been looking at this this morning and looked at our website, I think we need to

1. Improve the website look
2. Include both x32 and x64 installers

[2020-04-22 11:26] rdstern commented on #5742
@lloyddewit particularly asked me to see whether functions can now be run line-by-line.  I have started from the R for data science book - by Hadley Wickham - of course!  I claim that our first course is sort of teaching data science - except for programming as of now!

His chapter 19 is on functions and the first one is as follows:

[code]
This works fine - wow!  It works when run all together, b

[2020-04-22 15:19] rdstern opened #5784 "Improve the Help R Packages and Commands dialogue"
The Help > R Packages and Commands dialogue is working well.
But it is limited to the packages that include datasets.  Instead it would be good if it gave access to all the packages.
I understand from @dannyparsons that this should be easy to fix?

[2020-04-23 13:07] #5784 closed

[2020-04-27 10:49] lloyddewit commented on #5768
@dannyparsons Your solution worked and the issue is solved! Many thanks

[2020-04-27 10:49] #5768 closed

[2020-05-08 15:16] rdstern opened #5788 "Import file with an odd extension"
[LIVING01_test.zip](https://github.com/africanmathsinitiative/R-Instat/files/4599826/LIVING01_test.zip)

This is a small file of the type sent by Zambia Met service.  It has the extension dly.  Currently the importing (using rio) assumes the format from the extension.  So if I change the extension to txt it works well.
But rio gives the option to override the default.  If I include the argument fo

[2020-05-08 18:22] rdstern opened #5789 "input permitting multiple files"
We currently use the rio::import to import a single file and rio::import_list to import multiple Excel sheets from an Excel book.
We quite often get multiple files to import, where there is a single file for each climatic station or for each element, or both.  Currently we have to import these files one-at a time.
This extension is to be able to import multiple files.
a) In the browse we simply ch

[2020-05-14 17:44] rdstern commented on #5765
I tried and don't see what is fixed.  I still get many percentages much more than 100% - as shown above.

[2020-05-15 06:27] #5647 closed

[2020-05-15 06:28] #5742 closed

[2020-05-15 06:32] #5707 closed

[2020-05-15 06:37] #5725 closed

[2020-05-15 06:45] rdstern commented on #5630
I am reopening this issue.  I am really happy with the progress we have made with the hydroGOF package, and that part is complete.  There is a second package - called verification - and that is more general and discussed above.  This should soon become its own issue, because (with Danny's current work) we will be working on it in the next few months.

[2020-05-15 12:19] rdstern commented on #3566
@volloholic claims this is consistent with the coding that @lloyddewit is starting.  Also that it is not so difficult if we start in a way that is a bit "cavalier".  And we improve the system in stages.

I give my understanding and assume @volloholic will edit as necessary.
a) It starts with a right-click option - perhaps called **_Dialogue_** on each of the windows that show commands, so the log,

[2020-05-15 13:09] shadrackkibet commented on #5782
An easy solution to this is to add an option to convert this column to scientific in convert columns dialog , on right-click and by enabling edit of Scientific column in column metadata. Which means we have to check what the user will type into the cell. In that case, we will only allow two options "TRUE/T" or "FALSE/F".

[2020-05-16 07:07] rdstern commented on #4917
I suggest this is now resolved.  So I am closing this issue

[2020-05-16 07:07] #4917 closed

[2020-05-16 09:27] rdstern commented on #4800
I propose, for simplicity, that this be a new dialogue.  It is to set up many filters for a single factor.  Hence I propose it becomes a new simple dialogue within Prepare > Column: Factor.  Perhaps it is in the last block, i.e. just above the Factor Data Frame.  It could be called simply **_Filters_**.

It would be quite a simple dialogue.
a) Usual data selector for data frame plus variables, res

[2020-05-17 06:38] rdstern opened #5791 "Add the or condition to the filter sub-dialogue"
This is a small task, which I propose be done by @Wycklife, with support (if needed - it may not be) from @shadrackkibet .

It is simply to enable the option of the or condition to be an alternative to the current and condition, when there are multiple conditions in a filter.  Here is my suggestion on the Filter sub-dialogue.

![image](https://user-images.githubusercontent.com/11226469/82137293-a5

[2020-05-17 06:58] rdstern opened #5792 "Rename, delete and reorder filters, like graphs and models"
When a graph, or model, is produced it can be managed using Prepare > R Objects, then View, Rename, Reorder or Delete, see below:
![image](https://user-images.githubusercontent.com/11226469/82137787-0726b800-9813-11ea-92ab-cd7ad720bda2.png)

When filters are produced they are similar objects (to graphs and models) in that they are added to the metadata in the corresponding data sheet.  Hence, when

[2020-05-17 07:55] rdstern opened #5793 "Add facilities to be able to edit existing filters"
One small component of this is easy, but the full task may be too difficult at this stage.  The easy task first.
a) On the main filter dialogue, add a button which says **_Edit Filter_**.  It is just below the existing **_Define New Filter_** button, and above the new proposed Filters from Factor button proposed in #4800.  Perhaps this could be added by @wyclife as he does the factor button?
![ima

[2020-05-18 08:16] rdstern commented on #4029
I propose it is time to re-instate this option.  Perhaps @Wycklife with @shadrackkibet could check on the state of the "old code".  I would be happy to share the screen over skype.
My assumption is that the old code may now be sufficiently messy that it will be quicker to start again.

This is the option for the common 2-sample tests, that are mainly in the stats package or adapted from them, e.g.

[2020-05-18 10:39] rdstern commented on #4236
The bug reported may now be easy to fix - fitdistrplus has been updated, but not since January 2019.

At the same time it would be good to perhaps use this issue to consider simple one variable models.  This would sort of complete the parallel with the describe one variable and two variable dialogues.

This would be the one variable t.test, etc.  Could change the name of the tab to Simple Models.

[2020-05-18 11:46] shadrackkibet commented on #5723
The first issue here was fixed by adding (W) when the weights receiver is filled.

@rdstern is desirable to have weighted summaries and HydroGOF options available when doing climatic summaries?

[2020-05-18 11:49] #5580 closed

[2020-05-18 11:52] shadrackkibet commented on #5530
Looks like these issues were fixed @Wycklife can you confirm?

[2020-05-18 11:58] shadrackkibet commented on #5008
@Wycklife @Ivanluv can someone volunteer to check this?

[2020-05-18 11:59] #4993 closed

[2020-05-18 12:03] shadrackkibet commented on #4517
Can this be closed? There is another open issue.

[2020-05-18 21:58] rdstern commented on #4460
This is not urgent, but could be done alongside other tasks.
It is another keyboard in the Models > Fit Model > Hypothesis Tests keyboard.
It has groups of keys as follows:
1) **_Group name:_** Location, then keys oneway, wilcox, kruskal, normal, median, savage.
Each key (for now) gives simply coin::oneway_test( ) etc.
2) **_Group name:_** Symmetry, then keys sign, wilcoksign, friedman, quade
3) *

[2020-05-24 15:45] rdstern commented on #5783
From the book mentioned in #5798 there could be 2 different ways we could make the installation of extra packages without needing administrator privileges.
a) the packages are installed in a directory that is accessible to users who are not at administrator level.
b) the packages are installed as now, but any extra packages installed by the user are in a directory that is accessible without admini

[2020-05-24 15:46] rdstern opened #5798 "An interesting textbook to link to"
Here is a page:
![image](https://user-images.githubusercontent.com/11226469/82752417-ccde8d00-9db5-11ea-869b-f453c4ebd0a6.png)

You notice this generates some income from adverts.  They are different on each page, but each advert seems interesting and relevant.

However, that is not the aim here.  But this is a free (introductory) textbook and looks quite interesting.  It also provides a list of f

[2020-05-25 07:03] shadrackkibet opened #5799 "Cumulative/Exceedance graph dialog"
**Describe the bug**
This is a designer question. Is there any reason why the top radio button design look like this? This is not consistent with what we have for top radio buttons.

There is also an issue with the controls at the bottom, clearly, they are not aligned properly, labels, size, the distance between controls etc

![image](https://user-images.githubusercontent.com/26301973/82787016-4c2

[2020-05-25 07:12] shadrackkibet opened #5800 "Histogram, boxplot and bar chart dialogs"
**Question:** Why is this dialog called histogram? It doesn't produce histograms only, it does density and frequency polygon.

![image](https://user-images.githubusercontent.com/26301973/82787466-248cff00-9e6f-11ea-9069-aaf6632fe6a7.png)

Similar case here

![image](https://user-images.githubusercontent.com/26301973/82787764-d0cee580-9e6f-11ea-9a12-6a9053626b07.png)

Different case

![image](https

[2020-05-25 07:47] shadrackkibet opened #5801 "Bar chart dialog"
This is a designer issue: When you change to the column on the Y value Combobox the focus receiver should change.

The Y variable receiver is not well aligned, below there is a control that is visible. See below.

The position label is misplaced see below screenshot.

![image](https://user-images.githubusercontent.com/26301973/82790200-610f2980-9e74-11ea-9da8-e983921698da.png)

![image](https://us

[2020-05-26 23:09] Patowhiz commented on #5705
I just realised that this will only be effective if the file had a single sheet. For files that have multiple sheets, it makes sense to have the user go back to the import dialog, since the user could probably just want to change the sheet selected.

For this reason I'm closing this PR.

[2020-05-26 23:09] #5705 closed

[2020-05-27 00:11] Patowhiz commented on #5568
@rdstern any particular features or issues that should be linked to this issue?

[2020-05-27 13:27] lloyddewit opened #5807 "Allow '=' to be used instead of '<-' in the script window"
**Describe the bug**
R-Instat throws an error if a variable is assigned with '='. This is allowed in RStudio and should be allowed in R-Instat also.

**To Reproduce**
Steps to reproduce the behaviour:
1. In R-Instat, select 'View/Script Window'
2. In the script window type 'Input = ("Hello")'
3. Execute the line (e.g. by ctrl-enter)
4. R-Instat will generate an error:
![image](https://user-images.

[2020-05-27 23:28] #5782 closed

[2020-05-28 08:30] rdstern opened #5810 "Enable 2nd button in Model > Fit Model > One Variable"
This will start by including the t-test, binomial test and proportions from the Mosaic package. They generalise the same functions in the stats package.
Here is the existing dialogue:
![image](https://user-images.githubusercontent.com/11226469/83309760-0e31cb00-a202-11ea-8444-84282fe00b63.png)

In this dialogue:
a) We change the second button from "Exact Solution" to just say "Test", and add a thi

[2020-05-28 08:58] shadrackkibet commented on #5807
Thanks, @lloyddewit for bringing up this discussion. My understanding is that `<-` and `=` as the assignment operators are different in R. Although in our structures and the script window I tend to believe you are correct we should allow this. There are other assignments operators which are allowed in R and this is discussed [here](https://stackoverflow.com/questions/1741820/what-are-the-differenc

[2020-05-29 09:13] Wycklife opened #5812 "A small issue on Model<Use model menu"
I have realized  that when you click on the use model menu, it opens the use model dialog. The use model dialog should only be opened when you click on the use model keyboard which is an item on the use model menu.

[2020-05-29 09:14] Wycklife commented on #5812
@africanmathsinitiative/developers I'm currently fixing this

[2020-05-31 08:18] rdstern opened #5814 "Changes to layout for Model > Fit Model > Hypothesis tests keyboard"
In this dialogue the **_Clear_** button is small and not distinct.  I use it often.
1) Move it from the bottom corner and put it before and next to the Help button.  Make it reasonably big.  The same size as the Help button will be fine.
2) For now have I() as the new button in the keyboard.  (That's the same key that is already in the Model > Fit Model > General keyboard)
3) Change the order of t

[2020-05-31 08:29] rdstern opened #5815 "Small changes in Describe > Specific > Bar Chart dialogue"
There is an odd label on this dialogue, namely **_Position:_**.  This should move to be above the pull-down that currently says Dodge.
Second is to align the controls on the right or the dialogue.  Currently the control of the position is not aligned with the others

[2020-05-31 08:32] shadrackkibet commented on #5815
Can we also address designer/minor issues reported here #5801

[2020-05-31 08:45] rdstern commented on #5801
@shadrack, thank you for reminding me.  This is the same as I have raised except you also have the additional point "When you change to the column on the Y value Combobox the focus receiver should change."

I don't quite understand this point.

This is a small topic - so perhaps Ivan could discuss with you and quickly undertake both issues together.  I hope it will just be a few minutes of his tim

[2020-05-31 08:54] shadrackkibet commented on #5801
By focus, I mean the turquoise colour should be on the receiver (Y variable).

[2020-05-31 14:33] rdstern commented on #5461
@shadrack this all seems to be a useful discussion.  I have just proposed a set of hypothesis tests in the Model > Fit Model > One Variable dialogue, #5810.  This seems also a perfect place to include some homogeneity functions.  In particular I have included **_shn_** for the snht test in the trend package.  (There is the snht package, which I think permits missing values, but that doesn't return

[2020-05-31 15:34] rdstern opened #5816 "Add trend keyboard to Model > Fit Model > Hypothesis Testing Keyboard"
This could be done in parallel with #5810, which is a large task.  There will also be at least 2 other keyboards soon, on the DescTools and the Rcompanion packages.  They are not so easy.  This one is quite easy, because the keys can be in alphabitical order and almost every function in the package can be included.

Check, but I think, in each case the command is trend::key.test, e.g. trend::barte

[2020-06-01 06:09] shadrackkibet commented on #5810
@rdstern your list above is okay. I will add the Pettit test into your list above. That is common as well. The command is `trend::pettitt.test()`. Then I suggest a different order after the separator as follows with your tooltips above.

1. SNHT
2. Pettitt
3. Bartel
4. br
5. runs
6. Sen
7. serial corr

[2020-06-01 07:25] rdstern commented on #5810
Great, @shadrackkibet thanks.  Can you edit your changes into the issue above.

[2020-06-01 17:40] shadrackkibet commented on #5810
I do not have rights to edit. I can only comment.

[2020-06-01 18:32] rdstern commented on #5810
ok @shadrack - thanks.  I have made the changes.

[2020-06-02 07:20] #5812 closed

[2020-06-02 07:21] #5765 closed

[2020-06-02 07:28] #4460 closed

[2020-06-03 11:36] Patowhiz commented on #5798
I like this idea. It tallys in well with promotion of R-Instat in learning about statistics. Most of the undergraduate students will find this useful especially in their first year.

[2020-06-04 06:34] rdstern commented on #5649
This will help more of the datasets from the library to be read.
@Patowhiz could you add the code to be able to read more of these difficult sets.
One other type I found is (I think) a zoo object.  That's quite important, because it is a type of time series.

There is one set of data in the hydroGOF package that doesn't read.  Then quite a number in hydroTSM.  Some of these are shape files and tha

[2020-06-08 05:13] rdstern opened #5822 "Include extremes and circular data analysis when we teach statistics?"
I propose that each of these areas (**_extremes and circular data analysis_**) could easily be included in our reformed teaching of statistics.

To make the case I suggest it follows easily from our new paper, that suggests the use of climatic data.  To make the argument stronger it should also follow from the Cobb-style reforms.  @volloholic can we make that point.
Of course I would include R-Ins

[2020-06-08 05:32] rdstern commented on #5822
If these arguments are accepted, then it is possible that the work on satellite/reanalysis data, PICSA, and mapping could also be proposed for different components of teaching statistics.  So mapping could be included when spatial statistics is taught, PICSA is a nice case study - possibly already covered in the main paper, and Danny's work on making satellite and reanalysis data more easily acces

[2020-06-09 07:04] Ivanluv opened #5823 "Improvements to the ucrAxces"
Load the dodoma dataset
In Describe > Specific > Line Plot fill the Y receiver with `rain`  and X Variable with ` date ` .Go to the `Plot Options` button and from the Plot Options sub dialogue's ` Y-Axis ` tab  change from "continuous" option to "discrete" and return to the line plot dialogue.When Reopening the sub-dialogue the combo box text has changed back to ` continuous`.It should retain the

[2020-06-09 09:13] lloyddewit commented on #3543
Overwriting without warning is also mentioned in Issue #2809.

[2020-06-09 09:14] lloyddewit commented on #2809
Overwriting without warning is also mentioned in Issue #3543.

[2020-06-09 15:07] Patowhiz commented on #5788
Aha! this is a good observation and question. Package `rio` allows to use _shortcuts_ in place of _character string code_ when using the "format" parameter specifier. For instance shortcut " `,` " can be used in place of "`csv`". What this mean the `rio` package will assume the file as `csv`. So the sample code below will give you the same results.

[code]
In this case, you are technically instruc

[2020-06-09 15:10] Patowhiz commented on #5788
@Ivanluv I've noticed you have already tried to address this issue. You can either solve it the way you have done it or just take advantage of how rio is able to simply override the file format. Both should work fine and have minimal changes.

[2020-06-09 15:32] Patowhiz commented on #5788
I would also like to add that a  .dly format is a simple variable length file with the elements blocked into fixed positions (e.g., variable is given in spaces 18-21)

[2020-06-09 16:10] Patowhiz commented on #5759
Running of single line works fine on my side too. Probably this was solved in the last commit that touched the running of scripts.

[2020-06-10 07:09] lloyddewit commented on #5759
@Patowhiz Thanks for testing.
@rdstern Please could you close this issue?

[2020-06-10 10:11] rdstern commented on #5759
Very happy to close this!

[2020-06-10 10:11] #5759 closed

[2020-06-11 08:56] shadrackkibet commented on #5461
I am not sure Helena will like to be involved in programming this dialog at this stage however, she is interested in the R parts. I will be programming the dialog at the moment and happy to involve any other intern.

[2020-06-11 12:28] shadrackkibet opened #5830 "String handling design"
The design of this dialog doesn't look good. The labels are not well aligned and the size, spacing of the receiver and inputs, are unnecessarily wide. There is also an empty space on the right which can be substantially minimized by reducing the size of the top radio buttons.

![image](https://user-images.githubusercontent.com/26301973/84384963-7e275480-abf7-11ea-9a86-89159fec4303.png)

[2020-06-11 12:40] shadrackkibet opened #5831 "Stack (melt) dialog design"
This dialog has minor designer issues see below-highlighted screenshots.

![image](https://user-images.githubusercontent.com/26301973/84385967-2689e880-abf9-11ea-82f5-8cdf0f7d4328.png)

![image](https://user-images.githubusercontent.com/26301973/84386082-651fa300-abf9-11ea-865c-2ff8f9079b35.png)

[2020-06-11 12:42] shadrackkibet commented on #5792
Work on this is now done and merged. This can be closed.

[2020-06-11 15:16] Patowhiz commented on #5649
@dannyparsons I have been looking at different ways in which this could be solved. This prompted me to have a look at the instat_object_R6 and data_object_R6 files.

I'm struggling to understand why the `"type"` or rather `"class"` of the data passed is not being checked at that level to call the appropriate functions for converting them to a correct data frame. I'm asking this because the more I

[2020-06-11 15:47] Patowhiz commented on #5649
@dannyparsons neglect my above question. Just realised why that is not necessary.

[2020-06-11 15:59] Patowhiz commented on #5649
@rdstern when you use the `data.frame` (instead of `as.ts()` ) command for converting the `hydroGOF` package time series data `EgaEnEstellaQts`, did you get a weirdly arranged data in the DataView like in the image below? I'm surprised viewing the data displays it correctly. @dannyparsons what could be the reason for this difference?

[code]

![dataview](https://user-images.githubusercontent.com/2

[2020-06-12 07:24] rdstern opened #5833 "Improving the inventory of missing values"
I suggest a major enhancement to the Climatic > Check Data > Inventory dialogue.

![image](https://user-images.githubusercontent.com/11226469/84476561-3bf92400-ac86-11ea-84bd-6d8961189c3b.png)

Here is roughly my suggestion for the new dialogue.  It adds a Summary button at the top of the current inventory dialogue.  It ceases to be called Inventory Graph, just Inventory.

The top of the dialogue

[2020-06-12 11:51] Patowhiz commented on #5649
@rdstern I'm now finalizing on this issue. For the datasets that are lists of data frames. How would you like them to be imported, as in, would you want just the first data frame or all of the data frames.

The downside of importing all the data frames in the dataset is the user looses the ability to name  them. Are you okay with that functionality?

[2020-06-12 13:56] Patowhiz opened #5834 "ucrInputComboBox Control"
**Is your feature request related to a problem? Please describe.**
Currently, the ucrInputComboBox control has a SetItem method that enables setting items to it. However, it doesn't have an equivalent GetItems to get the items set to. Such a function could help in circumstances where a developer wants to check if the number of items it holds without necessarily having to maintain the array used to

[2020-06-12 15:49] rdstern commented on #5831
Please keep these issues going on any problems you find like this.
From next week @lilyclements is returning to work, partly on her own tasks and also to provide support, particularly on problems involving R.
One task for her is is to remain super-critical about the layout of the dialogue.  This is a good example and I am assigning this issue to her.

[2020-06-12 16:40] rdstern opened #5835 "Decreasing some dialogue depth and width"
There are many ways that I suggest the dialogues could be made more consistent and hence easier to use.
One simple change is that some dialogues are very deep.  This is not just annoying, but they may become unusable on some screen resolutions.

There are two dialogues in particular.
a) **_Prepare > Date > Use Date_** is very deep and I think quite easy to change somewhat.
b) **File > Open from Fi

[2020-06-13 04:46] Patowhiz commented on #5649
@rdstern R Matrices (in package Matrix and xts) are proving to be elusive to me. I'm struggling to get the best commands for coercing data of type `matrix` to `data frame` . Command `data.frame()` loses some data(columns) of the matrix. You can check this in my PR, by looking at what is in the **Data View window** vs The **View Window**

In addition, there is 1 dataset in the `Matrix` package that

[2020-06-13 05:11] Patowhiz opened #5837 "ucrButton Control Enhancement"
**Is your feature request related to a problem? Please describe.**
Currently `ucrButton`s has 2 custom events; BeforeClickOk, ClickOk , which are used by dialogs to run their script. This is great because in the dialogs, as developer you can listen to event BeforeClickOk and modify the script code before it is actually "sent to" R for execution. However the script run in ClickOk should be the same

[2020-06-13 05:40] Patowhiz opened #5838 "Controls Design Properties"
**Is your feature request related to a problem? Please describe.**
Currently some important design properties(e.g labels) of the custom controls can't be set in design time, developers have to rely on doing this in code because the "setter" methods aren't VB.NET properties(which Visual Studio is fond of), see issue #5831. This may prompt trial and error from the developers side to set the correct

[2020-06-13 05:40] Patowhiz commented on #5831
This issue reminds me to comment on why such design issues become visible only during runtime. At the moment, you can't set the labels of the custom controls in the design view, developers have to rely on doing this in code because the setter methods aren't VB.NET properties(which Visual Studio is fond of), this may prompt trial and error from the developers side to set the correct sizes. See issu

[2020-06-13 06:49] shadrackkibet commented on #5835
I think it will be good to discuss and agree on some of these things and document them so that it is one of the resources for developers. Good that @lilyclements will soon be involved again. She wrote the document [Making Dialogs.docx](https://github.com/africanmathsinitiative/R-Instat/files/4774199/Making.Dialogs.docx) attached which is still relevant however it might need updating.