[2017-06-13 16:25] dannyparsons commented on #3311
I have fixed this issue on a similar dialog here #3309 Can you update and check if it's working now?

[2017-06-13 16:44] volloholic commented on #2525
@maxwellfundi Can you check this is done.

[2017-06-13 16:46] volloholic commented on #1752
@Lunalo Can this be closed now

[2017-06-13 17:14] #2441 closed

[2017-06-13 17:16] #2518 closed

[2017-06-13 17:18] #2447 closed

[2017-06-13 17:21] #2720 closed

[2017-06-13 17:23] dannyparsons commented on #2666
@stevenndungu can you check that these have all been done or report anything still to do?

[2017-06-13 17:23] #2764 closed

[2017-06-13 17:29] volloholic commented on #2809
@lilyclements  Status?

[2017-06-13 17:31] #2810 closed

[2017-06-13 17:31] volloholic commented on #2815
@rdstern Can you check so we can close

[2017-06-13 17:32] #2835 closed

[2017-06-13 17:35] volloholic commented on #1920
@stevekogo Can you give an update on the current state of this so someone can take over.

[2017-06-13 17:37] volloholic commented on #2854
@dannyparsons   doing calculations through the calculation system?

[2017-06-13 17:38] volloholic commented on #2914
@shadrackkibet is this now done? Can this be closed?

[2017-06-13 17:44] volloholic commented on #2300
@Lunalo please respond with an update even if it is just there is no progress and we should postpone this issue to 0.9!

[2017-06-13 17:46] volloholic commented on #3179
@AlexSananka is this done? Can we close?

[2017-06-13 17:47] #2875 closed

[2017-06-13 17:49] #3208 closed

[2017-06-13 17:49] AlexSananka commented on #3179
This is done,the remaining subdialogs need to be updated which I don't think is possible for tomorrows version.
This can be closed.

[2017-06-13 17:51] shadrackkibet commented on #2914
This is not yet done , i am sorting out @lilyclements  reviews now.

[2017-06-13 17:52] volloholic commented on #3286
@stevenndungu is this fixed? Can we close it?

[2017-06-13 17:54] stevenndungu commented on #3286
Yes, I fixed it yesterday. Can  be closed now

[2017-06-13 17:55] volloholic commented on #3267
2 is Done by Danny 1 is working except for both

[2017-06-13 17:58] shadrackkibet commented on #3311
I have tested the latest version. This can now be closed.

[2017-06-13 17:58] #3279 closed

[2017-06-13 17:59] volloholic commented on #3225
@maxwellfundi can you do this or check it is done?

[2017-06-13 18:00] volloholic commented on #3211
@Lunalo can you comment on points from Lily?

[2017-06-13 18:00] stevekogo commented on #1920
I did some edits on this dialog which were merged in. Someone can start with fixing the package names in the dialog.

[2017-06-13 18:01] volloholic commented on #3194
Is this still an issue on climdex?

[2017-06-13 18:01] shadrackkibet commented on #3311
just before this is closed. Do we still need this dialogs to go this far on the menu?

![image](https://user-images.githubusercontent.com/26301973/27096894-309ef7fc-507b-11e7-9a11-1d86a0f3f626.png)

[2017-06-13 18:02] Lunalo commented on #2300
I finished the design of thus dialog and Danny had agreed to write a method for it . I think he just forgot to. I can discuss with him on the possibilities of implementing it since it is not huge

[2017-06-13 18:03] volloholic commented on #3153
Status of this? Probably for 0.9 now.

[2017-06-13 18:03] AlexSananka commented on #3194
I fixed this on my branch I'll push it up

[2017-06-13 18:03] #3137 closed

[2017-06-13 18:04] volloholic commented on #3122
@africanmathsinitiative/developers can everyone check this and report any issues.

[2017-06-13 18:05] volloholic commented on #3120
@AlexSananka status of this?

[2017-06-13 18:06] volloholic commented on #3109
is this fixed?

[2017-06-13 18:07] volloholic commented on #3100
Update on this?

[2017-06-13 18:09] AlexSananka commented on #3120
We discussed this with @dannyparsons  and he was to fix the issue on setting the defaults for the ucrinput.
maybe he can confirm this.

[2017-06-13 18:09] shadrackkibet opened #3315 "climatic>File>ImportGriddeddata developer error."
This is  developer error on ucrinputcombobox when user types in and the reopen the dialog.

![image](https://user-images.githubusercontent.com/26301973/27097306-7bdd8ffc-507c-11e7-8304-78183cade99d.png)

[2017-06-13 18:10] volloholic commented on #3095
@maxwellfundi can you add this data set to the library?

@jkmusyoka @stevekogo what's the status of this data through CLIMSOFT?

[2017-06-13 18:11] volloholic commented on #3075
@stevekogo status of this?

[2017-06-13 18:12] #3060 closed

[2017-06-13 18:12] AlexSananka commented on #3120
This can only be closed if we have the defaults for the ucrInput

[2017-06-13 18:15] shadrackkibet opened #3316 "Climatic>prepare>startofRains bug."
was testing this dialog and found that we have a bug here.Is this fixed elsewhere in an open pullrequest?

![image](https://user-images.githubusercontent.com/26301973/27097516-22dee350-507d-11e7-850c-887874c0c626.png)

[2017-06-13 18:17] volloholic commented on #3043
@rdstern is this important to have for 0.9?

[2017-06-13 18:18] stevekogo commented on #3075
This should go in as it is. I discussed with @rdstern on the subseting bit and agreed that I should post it as an issue since it might need to be implemented in a separate dialog together with merging netcdf files.

[2017-06-13 18:18] Lunalo commented on #3211
I agree for consistency we should be using bsckcolor . I will do the testing to confirm the all the issues mentioned are fixed .

Thanks

[2017-06-13 18:18] volloholic commented on #3041
We should make some changes to the R method related to this to make it clearer what happens in this case.

[2017-06-13 18:19] Lunalo commented on #3109
This is now fixed

[2017-06-13 18:21] volloholic commented on #3316
Is there a station receiver on this dialog?
If so then you need to fill then when you have multiple stations, otherwise the error message is correct because the dates will not be unique without the stations.
All climatic dialogs like this should have a station receiver.

[2017-06-13 18:22] volloholic commented on #3315
I think this should be non editable if the user is not allowed to type their own value.

[2017-06-13 18:23] Lunalo commented on #3100
This is not fixed . it can be left open to ensure points raised by Lily are considered

[2017-06-13 18:24] stevekogo opened #3317 "Subsetting and merging netcdf files"
netcdf.tools packages has facilities to merge and subset netcdf files. I discussed with @rdstern and I think this could be added as new dialog in climatic rather than implementing subsetting netcdf file within import netcdf dialog.

[2017-06-13 18:24] volloholic commented on #3034
The data frame selector is now non editable. Does 1. still cause a crash?

[2017-06-13 18:25] volloholic commented on #3030
Danny can disable shortcuts on grids.

[2017-06-13 18:31] volloholic commented on #3018
@maxwellfundi can you add a checkbox for `geom_smooth()` on the scatter dialog?

[2017-06-13 18:34] shadrackkibet commented on #3316
No station receiver on this dialog .

[2017-06-13 18:34] volloholic commented on #3300
Print and Print Preview should be disabled.

[2017-06-13 18:35] #3003 closed

[2017-06-13 18:36] #2997 closed

[2017-06-13 18:37] #2992 closed

[2017-06-13 18:38] volloholic commented on #2984
@lilyclements any update on this?

[2017-06-13 18:41] volloholic commented on #2974
Has this been done on all file dialogs?

[2017-06-13 18:44] #2962 closed

[2017-06-13 18:44] #2953 closed

[2017-06-13 18:44] #2952 closed

[2017-06-13 18:44] stevekogo commented on #3095
I already loaded the rainfall data to climsoft. I will add the data for other elements then create a sql file. This will be done by tomorrow morning

[2017-06-13 18:44] #2951 closed

[2017-06-13 18:47] #2936 closed

[2017-06-13 18:47] volloholic commented on #2921
@lilyclements status of this?

[2017-06-13 18:53] #3179 closed

[2017-06-13 18:54] #3286 closed

[2017-06-13 18:55] dannyparsons commented on #1920
@shadrackkibet Can you add the package names so that this is stable for tomorrow?

[2017-06-13 18:58] dannyparsons commented on #3311
Good point. For this release they can stay, but we should review this before 0.9.
@shadrackkibet  Can you create this as a separate issue so this can be closed?

[2017-06-13 18:58] #3311 closed

[2017-06-13 18:59] dannyparsons commented on #3194
Thanks, please refer to this when you do so this can be closed.

[2017-06-13 19:01] #3109 closed

[2017-06-13 19:04] shadrackkibet commented on #1920
adding packages to this shortly.

[2017-06-13 19:19] stevenndungu commented on #2666
a) Done
b) Not done yet. width of 20? or a smaller number..width default is NULL.
c) Working fine. Disabled rdo scatter matrix plot on the sub-dialogue (was breaking), tried to fix but sounds more demanding. Added in package names
d) Fixed already
 e) Improvements suggested on e) have not yet been added. Will have a look at it later.

[2017-06-13 19:24] lilyclements commented on #3153
I think we should aim to have this done for next Friday

[2017-06-13 19:31] shadrackkibet opened #3320 "Climatic>Describe>ClimaticGraphs>Cumulative distribution going far."
we earlier agreed that dialogs should not go far on the menu.On climatic menu.we have two dialogs which are far.

![image](https://user-images.githubusercontent.com/26301973/27100667-85ef1b04-5087-11e7-8384-fca5dde175e8.png)

[2017-06-13 19:33] lilyclements commented on #3030
We need to disable shortcuts on these metadata grids, as well as factor grids in dialogs

[2017-06-13 19:38] lilyclements commented on #3300
Good point - as a reminder to my future self (or to someone else if they do this!) for print and print preview need to be disabled by both their dialog and by the shortcut in the toolbar menu

@Lunalo - Keys is working fine to my knowledge? Why does that need to be disabled?
If it has a major issue, keys is an example of a dialog which should not be disabled on the main form but should have OK dis

[2017-06-13 19:40] lilyclements commented on #2974
I'll check and make amendments where necessary tonight

[2017-06-13 20:04] lilyclements commented on #2809
This issue is still standing, but I forgot about this until now.

The problem here is something I'm struggling to explain so I will by the example of Start of Rains (However, it occurs elsewhere, such as Spell Length).

You open a data frame, "dataname" and create a new column called "start_of_rains1"
You press OK and it opens a new data frame ("dataname_by_Year") and that has in it your new colum

[2017-06-13 20:08] #3034 closed

[2017-06-13 20:08] lilyclements commented on #3034
This is fixed, thanks

[2017-06-13 20:14] lilyclements commented on #2984
This is still an issue.
Interestingly, I recoded my column in my new data frame that Random Subsets created, and then that no longer produced an error. Something to look further into.

[2017-06-13 20:16] lilyclements commented on #2921
We need to still implement in the ucrSave to warn you when overwriting. This extends to further than overwriting columns.
Something which is really important and probably to discuss after 0.3.0 for next Friday's release?

[2017-06-13 20:49] lilyclements commented on #2970
I don't know how easily this can be fixed. So, the problem is that when we use Describe > One Variable > Graph and use facets, the object is not a ggplot object, which is why plotly() cannot work for it. However, when we do a boxplot the object is a ggplot so it'll work.
The only foreseeable way here is to get the One Var Graph to be a ggplot object which I don't believe is easy.

I've looked into

[2017-06-13 22:24] rdstern commented on #3320
Well spotted.  Of course rules are to be broken, and I think this menu might be one of them!  However not with these two graphs like that.
a) The Wind rose will become one of the dialogues to go under wind speed/direction.
b) Not sure where the cumulative will go, but it might be under PICSA.

So these items will move.  For now I suggest we (temporarily) leave them there, till we decide finally wh

[2017-06-13 22:37] rdstern opened #3322 "Describe > Specific > Frequencies dialogue or dialogues"
I understand that the current decision is to use the new summary system instead of the ftable/prop.table.  I would like Danny/David to consider the possibility that both could be made available?

My argument is that this will be a much used feature.  Now Ric was keen to make it easy for people to transfer data etc to RStudio without having the take the Instat object etc.  This could be a parallel

[2017-06-14 06:12] maxwellfundi commented on #3225
Working on this now.

[2017-06-14 06:34] AlexSananka commented on #3194
I have now fixed the issue of developer errors on climdex via #3318

once that is merged then this can be closed.

[2017-06-14 06:38] maxwellfundi commented on #3225
@rdstern The boxplot has y before x because y is the mandatory aesthetics for the boxplot. This can be changed easily when we decide which aesthetic should come before which.
I can easily change all aesthetics to start with y easily. Its a copy paste job. Should that be needed for this release?

[2017-06-14 06:40] dannyparsons commented on #2666
Sounds good, thanks for investigating.

[2017-06-14 06:40] #2666 closed

[2017-06-14 06:41] dannyparsons opened #3323 "Describe > Two Variable > Graph Improvements"
Improvements need from @rdstern. Any more can be listed here.

[2017-06-14 06:44] dannyparsons commented on #3030
Thanks, that's right. I'll look into this.

[2017-06-14 06:46] dannyparsons commented on #2809
Yes so it's looking in the wrong data frame for determining the suffix number. Would need changes to save control and R method to change this. Can be 0.9 issue.

[2017-06-14 06:48] dannyparsons commented on #2921
Sounds good.

[2017-06-14 06:53] maxwellfundi commented on #3095
Adding this data to the library Climatic folder

[2017-06-14 06:55] #2974 closed

[2017-06-14 06:56] dannyparsons commented on #2974
Thanks @mmumbo for the suggestion, all selection files have been replaced with Browse now.

[2017-06-14 07:00] dannyparsons commented on #2970
I can look at restricting this today.

[2017-06-14 07:09] #3225 closed

[2017-06-14 07:43] #3018 closed

[2017-06-14 07:58] maxwellfundi commented on #3018
Done

[2017-06-14 08:00] #3095 closed

[2017-06-14 08:28] rdstern commented on #3225
Happy for others to comment too, particularly @volloholic .  I would like us to be consistent where possible, and y before x is my natural order, i.e. you start with what you are plotting and then think what it is being plotted against.

So my vote is to make y before x everywhere we have them both.

[2017-06-14 08:33] dannyparsons commented on #3225
That's how we have it on most main dialogs too. Do this for 0.9?

[2017-06-14 08:35] rdstern commented on #3225
Sounds good.  I have added that milestone.

[2017-06-14 09:09] #3140 closed

[2017-06-14 09:30] dannyparsons commented on #3030
Doesn't seem to be a way to prevent undo in reogrid so moved this to 0.9

[2017-06-14 09:30] #3194 closed

[2017-06-14 09:31] lilyclements opened #3332 "reo-grid - crash"
If I increase the grid (I believe on any grid, including the data view) and then press any key before clicking elsewhere, it crashes.
The focus is on the wrong place

[2017-06-14 09:32] dannyparsons commented on #3332
Should report to reogrid

[2017-06-14 09:32] dannyparsons commented on #3315
Still getting this error?

[2017-06-14 09:36] dannyparsons commented on #3004
Can someone check the help id numbers are correct?

[2017-06-14 09:38] AlexSananka commented on #3004
I can go through this and confirm.

[2017-06-14 09:44] #1923 closed

[2017-06-14 09:45] lilyclements commented on #3300
Made changes except:

- Keys isn't disabled as I'm waiting to hear from @Lunalo why it should be.
- I didn't disable Data Object > Metadata because the dialog looks okay and has a ucr on it to say it's not functioning. Similarly for Add Comment.

[2017-06-14 09:54] rdstern commented on #3300
I agree that **Prepare > Data Object > Metadata** needs to be disabled unless something can be fixed, and it is a bit late for that now.  It crashes the current version.
As a more general point, I am happy with the dialogues, like Prepare > Keys and Links > Comments.  It is useful to see that this is on the way.  So I prefer that remain as it is.
I am also happy with some of the menu items (e.g. c

[2017-06-14 09:57] shadrackkibet commented on #3315
Yes this still has and error.

[2017-06-14 10:01] Lunalo commented on #3300
@lilyclements
I think @rdstern  has clarified my point. I was suggesting addComments to be disabled but now Roger has explained why it should not be disabled.

[2017-06-14 10:01] lilyclements commented on #3300
Apologies, I wasn't aware that Prepare > Data Object > Metadata crashed upon opening. I saw that it currently has the OK disabled and has a ucr saying "This dialog is not yet functioning" so the user can't run it. I'll disable that from the frmMain

Hopefully rating scales will go in for this release. I'm testing it now and it seems do-able for today!

[2017-06-14 10:04] shadrackkibet opened #3336 "climatic>prepare>dryspells bug."
Recently tested this using samaru data with stations. The bug is here.

![image](https://user-images.githubusercontent.com/26301973/27127003-0502605c-5102-11e7-9fe7-b555c89e1f4b.png)

[2017-06-14 10:09] dannyparsons commented on #3315
Download From and Data File should be non editable. Can you change this?

[2017-06-14 10:11] shadrackkibet commented on #3315
yes will change this quickly.

[2017-06-14 10:17] shadrackkibet commented on #3316
@dannyparsons  should this dialog be disabled for now?

[2017-06-14 10:22] dannyparsons commented on #3300
Metadata should now be stable by #3338 so it could stay in the menu

[2017-06-14 10:23] dannyparsons commented on #3336
Same issue with non unique columns. I assume you added station? Can you try to create a key with Station and Date columns from the Add Key dialog to see if the columns are unique?

[2017-06-14 10:25] dannyparsons commented on #3316
@rdstern @volloholic what do you think? It doesn't have a Station receiver so can't work with multiple stations, but can work with single station. Also has other bugs because it's not yet been updated.

[2017-06-14 10:43] maxwellfundi commented on #2525
@dannyparsons Just one original issue of violin not showing is done. Adding width is yet to be done. I am looking into adding that .

[2017-06-14 10:47] AlexSananka commented on #3004
I have gone through all this and found that they are correct except two dialogs which when I click on help takes me to introduction.
Climatic > Prepare > Climatic Summaries ID 510
Climatic > Prepare > End > 201

[2017-06-14 10:49] maxwellfundi commented on #2525
@dannyparsons We have width and height of jitter 0.2 with box_jitter and violin_jitter

@rdstern could you confirm that is what is needed?

[2017-06-14 10:49] AlexSananka commented on #3004
Also when you click on end of rains you get the dialog water balance.

Do we need the dialog and the menu item to have the same name?

[2017-06-14 10:50] maxwellfundi commented on #3004
@AlexSananka can you add those in?

[2017-06-14 10:56] #1924 closed

[2017-06-14 10:56] lilyclements commented on #1914
This can be closed @dannyparsons

[2017-06-14 11:04] dannyparsons commented on #3004
Yes dialog and menu item should have same time

[2017-06-14 11:05] dannyparsons commented on #2525
Violin would be the only urgent issue for 0.3 I think.

[2017-06-14 11:06] maxwellfundi commented on #2525
Okay then thats done.

[2017-06-14 11:06] #1914 closed

[2017-06-14 11:11] dannyparsons commented on #2525
Great will close this. Further improvements for this dialog can go on a new issue

[2017-06-14 11:11] #2525 closed

[2017-06-14 11:12] #2363 closed

[2017-06-14 11:12] AlexSananka commented on #3004
In this case what do we change,the menu item or the dialog?

[2017-06-14 11:12] AlexSananka commented on #3004
Did you mean same time or same name?

[2017-06-14 11:13] dannyparsons commented on #3004
There was a renaming of water balance/end of rains recently so check with @rdstern as to how these dialogs and menus should be labelled now.

[2017-06-14 11:14] rdstern commented on #3004
This is now the end of the rains and I will change that on the help

[2017-06-14 11:19] shadrackkibet commented on #3336
This can be closed. It works on creating a key to have unique columns. This procedure needs to be explained to avoid such bugs.

[2017-06-14 11:19] dannyparsons commented on #3115
@lilyclements @stevenndungu I've followed all your examples and can't get this bug now. Can you check this again?

[2017-06-14 11:21] dannyparsons commented on #3336
If a key can be created then it shouldn't give a bug here. So do we know why this gives an error?

[2017-06-14 11:23] dannyparsons commented on #1920
@AlexSananka This is now done?

[2017-06-14 11:23] #1920 closed

[2017-06-14 11:40] #3271 closed

[2017-06-14 12:01] #2272 closed

[2017-06-14 12:01] #2439 closed

[2017-06-14 12:02] dannyparsons commented on #2914
Status of this?

[2017-06-14 12:13] AlexSananka commented on #3004
Ok am renaming this dialog now

[2017-06-14 12:30] dannyparsons commented on #2970
This was a bug in one variable graph where it was always producing a combined graph even when asking for facets. It now produces facets and this can be used in the View Graph dialog.

[2017-06-14 12:31] #2970 closed

[2017-06-14 12:45] lilyclements commented on #3115
I'm not able to get this issue anymore. @stevenndungu how about you?

[2017-06-14 12:53] lilyclements commented on #3315
This has been fixed on #3337 so this issue can be closed now

[2017-06-14 13:38] lilyclements commented on #3211
@Lunalo how is this coming along?

[2017-06-14 13:39] rdstern opened #3345 "Graphics oddities"
I use the diamonds data set.
a) I have a boxplot of carat by cut (as the factor)
b) I go to the **options** and **themes** and **All Options**
c) I set the **x-axis angle to 90**
d) I return to the themes and set the **theme to minimal**
e) I return and do the plot.  The theme is correctly minimal, but the x-axis angle is zero.
f) I repeat and get the same thing - still minimal with still not my a

[2017-06-14 13:52] Lunalo opened #3347 "Diablibling these two sub menus"
![image](https://user-images.githubusercontent.com/13945088/27135600-9d742e50-5121-11e7-949c-fa3584908cc0.png)

Other(One Variable) and other (two variables)

@rdstern  I think these two should be disabled. What do you think ?

[2017-06-14 13:54] rdstern commented on #3347
I agree.

[2017-06-14 13:59] stevenndungu commented on #3115
Confirmed! No error now. Working perfectly well.Great!

[2017-06-14 14:01] Lunalo commented on #3347
Thanks @rdstern

@lilyclements  I think you should disable these two

 @africanmathsinitiative/developers  milestone  0.3

[2017-06-14 14:05] shadrackkibet commented on #2914
I have three issues on this now at #3213  which i have tried to solve but i haven't managed.
1. The radio buttons and a checkbox for include regular expressions are reseting on reopen.(which i have fixed temporarily)
2.I have disabled some buttons on the regexkeyboard which are causing a crash when the user does something senseless- perhaps this needs further improvement of the regex keyboard to a

[2017-06-14 14:34] shadrackkibet opened #3349 "climatic>prepare>climdexindices"
I have been testing this dialog using samaru data with stations.This is having a bug here.Is it a problem with my data or what???

![image](https://user-images.githubusercontent.com/26301973/27137805-861e55fe-5127-11e7-83aa-190cbbb20a20.png)

[2017-06-14 14:51] lilyclements commented on #3347
Great, I'll disable them along with others in #3300

[2017-06-14 14:53] #3315 closed

[2017-06-14 14:54] #3259 closed

[2017-06-14 14:56] dannyparsons commented on #3345
@stevenndungu @maxwellfundi please look into this urgently

[2017-06-14 14:56] #3115 closed

[2017-06-14 15:00] dannyparsons commented on #3349
duplicate of #3226

[2017-06-14 15:00] #3349 closed

[2017-06-14 15:03] #3347 closed

[2017-06-14 15:04] shadrackkibet opened #3351 "Climatic>Prepare>Transform bug"
This dialog is not in good state. most controls are disabled,should it be disabled for the next release?

![image](https://user-images.githubusercontent.com/26301973/27139331-66d4a302-512b-11e7-87b9-3149f82f2eb7.png)

[2017-06-14 15:08] shadrackkibet commented on #3351
This has been improved on #3082 . can this be merged if it is better than this?

[2017-06-14 15:08] lilyclements commented on #3351
It can't find the function rollapply because that is from the zoo package. Can you add this in before rollapply to use zoo?
What are the other issues on this dialog?

[2017-06-14 15:11] lilyclements commented on #2984
Update: The problem here is using the summary system on a data set with only one column. If we do that then we get the error outlined above

[2017-06-14 15:18] shadrackkibet commented on #3351
@stevekogo has commented on pullrequest #3082  that this is in good state to go in. @lilyclements  was reviewing this pullrequest what can you say about this?

[2017-06-14 15:30] dannyparsons commented on #3345
Found out the theme name was overriding the theme options - fixing this now.
Will now look into the theme name resetting.

[2017-06-14 15:35] stevenndungu commented on #3345
Maxwell and I had identified that. Was trying to see if using a check box in place of a label would help in avoiding the reset

[2017-06-14 15:36] stevenndungu commented on #3345
Great! Thanks

[2017-06-14 15:38] dannyparsons commented on #3345
not sure it will completely fix it but yes we should have a "choose theme" checkbox anyway. Can you add that after #3353 is merged

[2017-06-14 15:45] Lunalo commented on #3300
@lilyclements

here is the list of dialogs to disable

climatic>file>clidata
''    ' '       dates>use time
"    "         Quality control > QC procedures
"     "        Describe (All the dialogs on describe)
"      "        PICSA ( All the dialogs)

[2017-06-14 15:48] #3292 closed

[2017-06-14 16:02] dannyparsons commented on #2984
This is because it's not using the new system yet, therefore we should not fix this now but redo this code for the next release

[2017-06-14 16:06] shadrackkibet commented on #3300
add
climatic>prepare

[2017-06-14 16:09] shadrackkibet commented on #3300
@Lunalo  there are some dialogs on climatic>describe>climaticGraphs> which are working.

[2017-06-14 16:22] maxwellfundi commented on #3004
This can now be closed @dannyparsons

[2017-06-14 16:23] lilyclements commented on #3351
Great, I've been told you're fixing the developer error. The only other error is quite small - when I reopen the dialog, the ucrSave has in it "moving_sum", even if I close and reopen on an rdo which isn't moving sum

[2017-06-14 16:25] dannyparsons commented on #2815
View/Delete keys now working
Add Link dialog working

Still to do, I suggest for 0.9:

Also check all the dialogs in this sub menu.

[2017-06-14 16:27] #3004 closed

[2017-06-14 16:31] dannyparsons commented on #3211
Colour issue now resolved. Still to be done/discussion (for 0.9):

[2017-06-14 16:35] dannyparsons commented on #1752
@Lunalo can you respond to this?

[2017-06-14 16:42] lilyclements commented on #3300
That's fine, I've only disabled the ones which aren't working and don't have the "This dialog is disabled" note on them.

[2017-06-14 16:47] Lunalo commented on #1752
This can now be closed .

[2017-06-14 16:59] #3300 closed

[2017-06-14 17:01] dannyparsons commented on #2914
Disabled regex options for now as not yet stable. To be completed by 0.9.

[2017-06-14 17:01] #2914 closed

[2017-06-14 17:02] maxwellfundi commented on #3120
@dannyparsons  can this now be closed?

[2017-06-14 17:04] maxwellfundi commented on #1752
@dannyparsons  this looks like it can closed now

[2017-06-14 17:09] dannyparsons commented on #2854
Solution:
When saving the result go through the calculation system so that stored correctly
When not saving use attach/detach as is. But need to modify assign to so that extra variables are removed from the global environment to avoid this issue.

This issue should go in release notes for 0.3.

[2017-06-14 17:17] dannyparsons commented on #3120
@AlexSananka resolved?

[2017-06-14 17:21] #1752 closed

[2017-06-14 18:05] AlexSananka commented on #3120
let me  have a quick check

[2017-06-14 18:40] #3120 closed

[2017-06-14 19:03] volloholic opened #3366 "Climatic dialogues need station and date to define Key"
All the climatic dialogues need to finish being updated to the ucr controls and include station as well as date when they are defining a key! @africanmathsinitiative/developers we need to make sure this is complete for the next release!

[2017-06-14 20:57] dannyparsons commented on #3345
small bug still in theme combo box remembering last chosen theme but improved functionality. Check box added by @stevenndungu to add/remove theme from plot.

[2017-06-14 20:57] #3345 closed

[2017-06-14 21:08] dannyparsons opened #3371 "Prob Distributions > Show Model"
I chose Bernouli and used 0.1, ..., 0.9 as the values and got the error below.

![image](https://user-images.githubusercontent.com/11214914/27154655-bd6e8ee0-514d-11e7-9598-f9ee4e724d5d.png)

[2017-06-14 21:28] dannyparsons opened #3372 "Convert to Ordered Factor not working for labelled data"
Using efc data tried to make several different columns into Ordered Factor, but it just made it a Factor.

[2017-06-14 21:30] rdstern commented on #3371
Interesting issue.  Probably the qdist doesn't have Bernoulli so we need to add size=1.  If it treats it always as Binomial, then Bernoulli is the special case of a single binomial "trial", e.g. a single coin toss.

[2017-06-14 21:33] rdstern commented on #3372
Yes, this is what I found.  This is with the imported labelled data from numeric to factor.  Once we are able to add labels ourselves to columns a la SPSS in the metadata we should be able to check whether it is a quirk of the efc data coming from SPSS or it is more general.

[2017-06-14 21:34] dannyparsons opened #3373 "Levels/Labels dialog - add levels check box"
This is not behaving correctly. If a factor column has existing level numbers then these should appear automatically in the grid and the "Add Levels" checkbox should not be visible as it doesn't apply. If levels already exist they cannot be added/removed here.

[2017-06-14 22:13] dannyparsons commented on #3372
Just to clarify this is only for labelled columns.

[2017-06-15 03:01] rdstern opened #3374 "Describe > Specific > Frequencies"
It is looking good and lots seems to work.  Of course I found a bug, and it is a dialogue where there can be lots of suggestions.
First the bug.  With the survey data simply do a 2-way table of Village by Variety and save the counts.  Or the percentages, any one you like.  I think the first one works OK whichever it is.  Now do another, also saving.  I was keen to see the counts and percentages to

[2017-06-15 08:58] rdstern commented on #3374
Today I tried getting the counts (and storing them) from the frequencies dialogue.  I used Village and Variety.
Then I went to the Summary dialogue and got the mean.  It sensibly added to the same data frame!  Great.
Then I went back and got the min and max, but then put the factors in the other order.  It was unaffected - still added to the same new data frame.  Fantastic.  And I didn't get the c

[2017-06-15 09:27] rdstern commented on #3374
Here is the error:

Error running R command(s)

Error: NA column indexes not supported

The error occurred in attempting to run the following R command(s):

InstatDataObject$get_data_frame(convert_to_character=TRUE, include_hidden_columns=FALSE, use_current_filter=TRUE, data_name="survey_by_Village._Variety.")

OK

[2017-06-15 12:32] lilyclements opened #3377 "Unstack dialog - Updating and Enhancements"
I worked a while ago on dlgUnstack to update it. It had a few comments in the review stage and wasn't a priority. I plan to continue work on updating this dialog, however, I've been told that there are plans to enhance this dialog.

I was wondering what these enhancements were and if I should add them in to the code while updating, or if I should leave them for now

[2017-06-15 12:33] lilyclements opened #3378 "Calculations/Enter dialogs - Updating"
The Calculations and Enter dialogs need updating - they both use ucrCalc as their main feature so I've grouped them together.

[2017-06-15 12:35] lilyclements opened #3379 "dlgCalculationsSummary - Updating"
The dialog and sub-dialog for CalculationsSummary need updating.
This dialog has a list box and the sub also contains the ucrFilter and ucrCalculator.
This first needs ucrCalculator and ucrFilter to be updated

[2017-06-15 12:37] lilyclements opened #3380 "dlgFromLibrary - Needs updating"
dlgFromLibrary needs to be updated

[2017-06-15 12:38] lilyclements opened #3381 "dlgImportDataset - Needs updating"
dlgImportDataset needs to be updated to the new system still

[2017-06-15 12:38] lilyclements opened #3382 "dlgJitter - Needs updating"
dlgJitter needs to be updated to the new system still

[2017-06-15 12:39] lilyclements opened #3383 "dlgMerge - needs updating"
dlgMerge needs to be updated to the new system still.
This dialog contains a ucr which will need updating

[2017-06-15 12:40] lilyclements opened #3384 "dlgOptions - Needs Updating"
dlgOptions needs to be updated to the new system still

[2017-06-15 12:41] lilyclements opened #3385 "dlgRestrict - needs updating"
dlgRestrict needs to be updated to the new system still. This contains a ucr which needs to be updated.

[2017-06-15 12:44] lilyclements opened #3386 "dlgStartofRains - needs updating"
dlgStartofRains needs updating to the new system still.
This also needs a Station receiver

[2017-06-15 12:45] lilyclements commented on #3386
Closed because this is mentioned in #3366

[2017-06-15 12:49] lilyclements opened #3387 "dlgRegressionSimple - Needs Updating"
@Lunalo I believe you're working on this?

[2017-06-15 12:56] dannyparsons commented on #3374
1. Counts and %s now saving - this could get messy as we use default names and there is overwriting at the moment. Need to consider this in more detail.
2. We don't currently have the flexibility of margins but this is entirely possible.
3. We should adapt the Delete Data Frame dialog to be able to delete multiple data frames at once. Not sure we should allow users to do this through metadata - yo

[2017-06-15 12:58] #3374 closed

[2017-06-15 12:58] dannyparsons commented on #3374
Bug causing the crash is fixed by https://github.com/africanmathsinitiative/R-Instat/commit/d696ebead26b753ff69f8f41c6e2bf37e191b753.

[2017-06-15 13:00] dannyparsons commented on #3374
The other feature useful for saving the calculations is hidden data frames, which is still to be done.

[2017-06-15 13:01] dannyparsons opened #3389 "Delete Data Frame enhancement"
This should change to have a selector and a multiple receiver so that multiple data frames can be deleted in one go.

This will affect the right click Delete Data Frame option so take this into consideration when updating the dialog.

[2017-06-15 13:02] dannyparsons opened #3390 "Frequency tables - margins with percentages"
From here #3374

[2017-06-15 13:55] rdstern opened #3391 "Frequency tables for multiple statistics"
Why not be able to have frequency tables able to show multiple statistics, e.g. counts and percentages.  Summary tables allows this.

[2017-06-15 13:57] rdstern opened #3392 "Hide data frames"
I use the frequency tables dialogue and save the data in a data frame.
If I ask for percentages it also produces an extra data frame with the overall count in it.  I don't need that data frame to be visible.  I wasn't asking for margins.

[2017-06-15 14:01] rdstern opened #3393 "Tables from Summary values"
Currently the frequency tables and summary tables (and column summaries) can produce the summary statistics in the "long" format.
Please could we consider having the 2-way table from this format.  The menu item is already there, namely Describe > General > Use Summaries.

[2017-06-15 14:23] rdstern opened #3394 "Summary columns with zero counts"
Please could we add an option to be able to include the summary rows with zero counts.  This applies particularly to the **Prepare > Column: Reshape > Summarise** dialogue and similarly to the **Describe > Specific > Frequency**  and **Summary**

In Genstat this is a checkbox with the label "Only keep factor combinations which are present".  Here is the result when unchecked:
![image](https://user

[2017-06-15 14:35] Lunalo commented on #3387
Yes. Am now working on it.

[2017-06-15 15:16] dannyparsons commented on #3386
This can stay open as it needs general updates as well as the Station receiver.

[2017-06-15 15:38] dannyparsons commented on #3391
Would need a bit of modification of our methods but possible

[2017-06-15 15:41] dannyparsons commented on #3392
The overall value was needed to do the percentages which is why it saves in a data frame. We need to get the hidden data frames working to do this.

[2017-06-15 15:43] dannyparsons commented on #3393
Yes, shouldn't be difficult to have a method to convert this to an HTML

[2017-06-15 15:54] dannyparsons commented on #3394
This is a missing feature from `dplyr` so not implemented in our summary system. There is a workaround https://stackoverflow.com/questions/22523131/dplyr-summarise-equivalent-of-drop-false-to-keep-groups-with-zero-length-in which we could investigate implementing.

This fix has issues for non factor columns though: https://stackoverflow.com/questions/22523131/dplyr-summarise-equivalent-of-drop-fal

[2017-06-15 17:07] dannyparsons commented on #3351
@shadrackkibet are you continuing to work on this?

[2017-06-15 17:07] #1756 closed

[2017-06-15 17:08] dannyparsons commented on #1779
This has been implemented.

[2017-06-15 17:08] #1779 closed

[2017-06-15 17:09] dannyparsons opened #3396 "Rename Columns improvements"
Data Frame > Rename columns. This currently is only for one name at a time, and that is probably a good default. Ideally it would also be possible a) to make a sequence of names and b) to have a grid where the existing names are in one column and the new names can be typed into the second. An alternative (is it possible?) is to type directly into the column header field?

previously here #1781

[2017-06-15 17:09] dannyparsons commented on #3396
b) not possible because of reogrid.
We can now type column names into the column metadata grids though

[2017-06-15 17:11] dannyparsons opened #3397 "Levels/Labels dialog improvements"
From here #1781

Do we still want this given the new design of this dialog?

[2017-06-15 17:12] #1781 closed

[2017-06-15 17:12] #1782 closed

[2017-06-15 17:13] #1783 closed

[2017-06-15 17:15] dannyparsons commented on #1789
This is part of the `scale_x_discrete` function which needs to be implemented generally on the axes tabs of the plot options sub dialog.

[2017-06-15 17:18] #1813 closed

[2017-06-15 17:21] dannyparsons commented on #1814
This is sill relevant, we need to decide on toolbar items.

[2017-06-15 17:21] #1838 closed

[2017-06-15 17:22] #1874 closed

[2017-06-15 17:23] #1876 closed

[2017-06-15 17:28] #1878 closed

[2017-06-15 17:31] dannyparsons opened #3398 "logical column types"
We can produce logical columns e.g. from the calculator. But we don't have convert to logical. Should we?
Here's some R behaviour:
[code]

[2017-06-15 17:32] dannyparsons commented on #1882
This is still needed. Should be part of discussions on models? @lilyclements

[2017-06-15 17:33] dannyparsons commented on #1883
@rdstern I believe this has been specified somewhere else now. This is from Oct 2016. Can it be closed?

[2017-06-15 17:34] #1886 closed

[2017-06-15 17:34] #1893 closed

[2017-06-15 17:36] dannyparsons commented on #1894
@lilyclements @rdstern any useful comments here? Otherwise I will close it.

[2017-06-15 17:36] shadrackkibet commented on #3351
@dannyparsons  this issue can be closed because it is not there in the latest version.Also there is a lot of enhancements by @stevekogo  in the latest version with a developer error which i fixed temporarily in the latest installer.I am going to work on fixing the developer error properly.

[2017-06-15 17:37] dannyparsons commented on #1902
Binding rows has been implemented and we agreed not to have a binding column dialog as this should be done through a merge if needed.

[2017-06-15 17:37] #1902 closed

[2017-06-15 17:38] #1907 closed

[2017-06-15 17:39] dannyparsons commented on #3351
Ok thanks, any further comments can become a new issue.

[2017-06-15 17:39] #3351 closed

[2017-06-15 17:41] dannyparsons commented on #1910
@Lunalo have any of these suggestions been implemented?

[2017-06-15 17:42] dannyparsons commented on #1911
Is this for 0.9.x? i.e. after July?

[2017-06-15 17:43] dannyparsons commented on #1918
This is now detailed in other issues

[2017-06-15 17:43] #1918 closed

[2017-06-15 17:44] #1925 closed

[2017-06-15 17:45] dannyparsons commented on #1926
Is this a useful post July set of comments to refer to?

[2017-06-15 17:46] dannyparsons commented on #1935
@lilyclements is this useful for model discussions? Otherwise I can close it.

[2017-06-15 17:51] dannyparsons commented on #1942
I believe this is implemented, at least initially, can this be closed @lilyclements?

[2017-06-15 17:51] #1947 closed

[2017-06-15 17:51] #1948 closed

[2017-06-15 17:52] shadrackkibet commented on #2976
@dannyparsons this can now be closed.

[2017-06-15 17:58] dannyparsons opened #3399 "Layers control in plot options"
Adding layers is not enabled on the plot options dialog. However, the control is working on the General Graphics dialogs so should be easy to link up now on all dialogs.

Also the control should say "Layers" and not "Additional Layers".

We decided before that all layers should appear in the list i.e. including the first layer from the main dialog.

[2017-06-15 18:00] dannyparsons commented on #1969
@lilyclements is this still needed to be open?

[2017-06-15 18:02] #1970 closed

[2017-06-15 18:02] #1973 closed

[2017-06-15 18:04] #2976 closed

[2017-06-15 18:08] dannyparsons commented on #1975
running `c(1, 2` in the calc gives an appropriate error message.

[2017-06-15 18:08] #1975 closed

[2017-06-15 18:12] dannyparsons commented on #1985
Switching data frames wouldn't need any additional commands to be run because the data is already loaded in the gird.
This could be an option in the Options dialog as there are cases when both implementations would be useful.

[2017-06-15 18:13] dannyparsons commented on #1985
For discussion: what is the priority of implementing this.

[2017-06-15 18:13] #1992 closed

[2017-06-15 18:14] rdstern commented on #3397
I am reasonably happy with the dialogue as you have it now.  The alternative way to do this now will be to edit the levels and labels in the column metadata as is done in SPSS.

[2017-06-15 18:18] dannyparsons opened #3400 "implementing geom parameters which are functions"
We currently only implement geom parameters which are single values. Some can take functions e.g.
`geom_point(pch = 21, position = position_jitterdodge())`

using:
[code]
This could be implemented as separate single value parameters e.g.
jitterdodge
jitterdodge:jitter.width
jitterdodge:jitter.height
jitterdodge:dodge.width
etc.
where these controls are 'linked' in some way.

[2017-06-15 18:20] #2000 closed

[2017-06-15 18:22] dannyparsons commented on #2016
Seems relevant for future discussions on factor grids.

[2017-06-15 18:23] #2018 closed

[2017-06-15 18:26] #2022 closed

[2017-06-15 18:26] dannyparsons commented on #2022
This now appears to be working correctly.

[2017-06-15 18:32] #2033 closed

[2017-06-15 18:32] rdstern commented on #1911
Most of these are now in the Climatic transform dialogue - except the lag and difference stuff.  So leave the discussion for after 0.9.  The novelty in some of these would be the station information etc, but we may want to think of it more generally.

[2017-06-15 18:34] dannyparsons commented on #2037
We now have a sensible way of indicating there are extra rows. Moving 1. into a new issue as may want to implement still.

[2017-06-15 18:34] rdstern commented on #1926
Yes.  I am keen to work to July on the basic stuff we have, and then use this to discuss funding of more work, particularly in relation to applications that would also be useful for CLIMSOFT.

[2017-06-15 18:35] dannyparsons opened #3401 "Grid option to display first or last n rows"
From #2037

[2017-06-15 18:35] #2037 closed

[2017-06-15 18:36] dannyparsons commented on #2038
Implemented in Options dialog

[2017-06-15 18:36] #2038 closed

[2017-06-15 18:40] dannyparsons commented on #2039
@rdstern are there any points in here that would be worth extracting into separate issues?

[2017-06-15 18:45] dannyparsons opened #3402 "Boxplot enhancements"
1. Should we have x axis text angle on the main dialog (as well as themes)? Or could this be on a climatic boxplots dialog only?
2. Boxplots can be used when the x-variable is a variate - rather than a factor. Here is an example from the documentation `ggplot(diamonds, aes(carat, price)) + geom_boxplot(aes(group = cut_width(carat, 0.25)))`
So could we permit this (exceptionally in the main dialogu

[2017-06-15 18:46] dannyparsons commented on #3402
I do not believe 3. is possible in any "automatic" way other than setting the axis labels manually.

[2017-06-15 18:46] dannyparsons commented on #2084
text angle implemented on themes subdialog, moved other points to new issue

[2017-06-15 18:46] #2084 closed

[2017-06-15 18:47] #2147 closed

[2017-06-15 18:49] #2174 closed

[2017-06-15 18:51] dannyparsons commented on #2185
Implement this if easy? As a minimum we need to remove the incorrect licence header we currently have.

[2017-06-15 18:52] #2191 closed

[2017-06-15 18:52] #2192 closed

[2017-06-15 18:53] #2239 closed

[2017-06-15 18:54] #2241 closed

[2017-06-15 18:54] #2243 closed

[2017-06-15 18:56] #2244 closed

[2017-06-15 18:57] dannyparsons commented on #2246
@rdstern this still looks useful, tagging as 0.9.x (post July)

[2017-06-15 18:59] #2248 closed

[2017-06-15 19:00] lilyclements commented on #1882
Yes, I mentioned this to David earlier today. This is part of discussions, along with that it shouldn't bring up Two-Variable, Three-Variable, etc, models in this dialog.

[2017-06-15 19:02] dannyparsons commented on #2250
fixed

[2017-06-15 19:02] #2250 closed

[2017-06-15 19:03] lilyclements commented on #1935
Yes this would be good to discuss

[2017-06-15 19:03] dannyparsons commented on #2251
@rdstern is it useful to keep this open?

[2017-06-15 19:04] lilyclements commented on #1942
Yep this can be closed. We still want to offer a paired t-test but I think other than that this is good.

[2017-06-15 19:05] #2252 closed

[2017-06-15 19:06] #2253 closed

[2017-06-15 19:06] dannyparsons commented on #2254
done

[2017-06-15 19:06] #2254 closed

[2017-06-15 19:07] #2255 closed

[2017-06-15 19:07] #2265 closed

[2017-06-15 19:07] lilyclements commented on #1985
This would be nice to have - for the reasons outlined but also I would appreciate it as often when I do SSD work on R-Instat, I open a dialog and I'm on my dataframe_by_factor rather than my dataframe and don't notice due to similar variables. This would help to eliminate that confusion. However, the software can function and deal without it. I think this is a case of: How difficult would it be to

[2017-06-15 19:08] #2267 closed

[2017-06-15 19:08] rdstern commented on #3402
The x-axis angle (or 90 degrees could usefully go on the x-axis sub-dialogue.  It would be done automatically on the climatic boxplots!

[2017-06-15 19:08] #1942 closed

[2017-06-15 19:09] #2268 closed

[2017-06-15 19:11] #2269 closed

[2017-06-15 19:11] #2274 closed

[2017-06-15 19:12] rdstern commented on #2251
This is part of the discussions on the Fit Model 2 variables and 3 variables

[2017-06-15 19:19] rdstern commented on #1985
Genstat has a "Set as active sheet" on the menu and also on the right click.  For us it could be natural to have it on the right click on the bottom tabs of the spreadsheet.

[2017-06-15 19:22] rdstern commented on #3396
I like the way the column names can be typed into the column metadata grid.  I suggest this is sufficient for now.  Later, perhaps keeping the issue live, there is a whole issue of selecting names of columns, i.e. Find, etc which links also to the need for filters to be able to choose a subset of columns as well as rows.

[2017-06-15 19:26] rdstern commented on #1814
Genstat has lots and I find that is self-defeating.  SPSS is better.
I would like a set to be on the windows, both to set an arrangement and to view a particular window, e.g. the column metadata, sheet metadata and log windows in particular.

[2017-06-15 19:40] rdstern commented on #3398
Does this link to the discussion on types of column in the data selector?
I suggest we should and usually it will be automatic.  If it is added generally, then it only applies if there are just 2 levels.  Do we restrict it to 0-1 columns, or do we add the labels if the levels are otherwise?
For now I suggest we a) can cope with logical columns that are provided for us automatically, e.g. by a logi

[2017-06-15 19:42] rdstern commented on #1883
It is specified in more detail as 3067.  So this can be closed.

[2017-06-15 19:42] #1883 closed

[2017-06-15 19:44] rdstern commented on #1894
I think these comments you made could still be useful as we go through the climatic again.
The one about restricting the number of columns shown in the grid might be useful more generally.

[2017-06-15 19:51] rdstern commented on #1908
For now the main change, which is easy, is to move the dialogue, so it is in the Climatic > Describe > Wind Speed/Direction dialogue - which is currently empty.
I wonder if each of these might be a single dialogue, with the new radio buttons at the top.  This would be one of them (currently the only one) for the wind variables.

[2017-06-15 20:56] rdstern opened #3403 "Graphics menu changes"
I suggest we simplify the **Describe** and **Climatic** menus slightly as follows:

**Describe**

1) Get rid of Describe > Graphs menu.
2) It currently has 4 options.  Put the Cumulative Distribution under Describe > Specific. It can be at the bottom.
3) The other two options that are enabled, (wind rose and inventory) are also in climatic.  So they can just go.
4) The final option is population p

[2017-06-16 01:22] #2039 closed

[2017-06-16 01:26] rdstern opened #3404 "Names for columns and sheets"
Can we please consider names for columns and sheets that we generate.

Currently both can be quite long and I find this to be inconvenient in various ways.  I suggest the names be short, and the control could also allow for a label to be included for the variable or the sheet.

This will mean going through a lot of dialogues as well as changing the control.  It might therefore be past the July rel

[2017-06-16 01:29] rdstern opened #3405 "Right click"
Can we look systematically at the actions for the right-click operation.  It is useful and hence could help even more in the dialogues, or perhaps in the metadata windows.

Currently, for example, it differs for a single receiver and a multiple receiver in our dialogues.

[2017-06-16 08:38] dannyparsons commented on #1985
I've implemented changing the data frame in the grid when changed in a dialog. This doesn't affect how the dialog reopens to the previous data frame used by the dialog. That would be more like the "active sheet" idea which could later be implemented.

@maxwellfundi This is now in the options class, I've set the default to False. Can you add a checkbox on the options dialog for this, something like

[2017-06-16 08:42] dannyparsons commented on #1814
We should do something on this for the next version.

[2017-06-16 08:45] dannyparsons commented on #1908
@AlexSananka can you make this frmMain change?

[2017-06-16 08:47] dannyparsons commented on #3403
@AlexSananka can you make these changes?

[2017-06-16 08:49] dannyparsons commented on #3404
Changes to controls to add label can be after July. We should consider size of controls now so that the selector can be wider when column names are long. We can also reconsider default names now and consider shortening them.

[2017-06-16 09:13] #3267 closed

[2017-06-16 09:25] AlexSananka commented on #3403
Yes I'll make this changes

[2017-06-16 09:26] AlexSananka commented on #1908
Yes I'll make this changes

[2017-06-16 09:45] maxwellfundi commented on #1985
@dannyparsons will have a look at this.

thanks.

[2017-06-16 10:18] maxwellfundi commented on #1682
@dannyparsons we need to have this in mind. it now urgent for .3.1

[2017-06-16 10:44] maxwellfundi commented on #3380
I will update this .

[2017-06-16 11:04] maxwellfundi commented on #3384
Will update this too.

[2017-06-16 11:07] rdstern opened #3412 "Describe > Themes dialogue"
This dialogue may be fairly simple to construct.  There could be complexity arising from the resulting "output" which I mention below
.
1. In the future there may be a choice between building a dialogue and adapting an existing one.  For now we will only have Adapt.  If you agree that we might (at a later date - certainly after July) want to Build, then have these new radio buttons at the top with

[2017-06-16 12:13] dannyparsons commented on #1682
As in, we have to get this working correctly to get objects, column etc. from multiple data frames at once, which we don't currently do for any type of object.

[2017-06-16 12:20] AlexSananka commented on #3403
This should be closed

[2017-06-16 12:26] dannyparsons commented on #3403
Thanks. Also, if you tag the commit or pull request with the issue it can automatically close

[2017-06-16 12:26] #3403 closed

[2017-06-16 12:29] AlexSananka commented on #1908
Can this be closed now?

[2017-06-16 12:36] dannyparsons commented on #1908
Will keep it up but move to a later milestone, thanks.

[2017-06-16 12:40] #2288 closed

[2017-06-16 12:45] dannyparsons opened #3415 "Graphics sub dialogs tabs opening"
Try this:

1. Open scatter plot dialog
2. Click Scatter Plot Options
3. Click Layer Parameters Tab
4. Close
5. Click Reset
6. Reopen Scatter Plot Options

** layer parameters tab still shows - it should reset to the first

Worse than this

7. Now open Boxplot dialog
8. Click Boxplot Options

** layer parameters tab still shows - it should reset to the first

When opening sub dialog from a reset, n

[2017-06-16 13:34] rdstern opened #3416 "Enter key in regular sequence and elsewhere"
I report an issue as Richard Stern is going through the software.

a) He claimed a bug in the regular sequence dialogue.
One issue I feel is that the **<Enter>** key has no effect.  This could be a general issue on whether <Enter> should take you to the next field.  In this dialogue (and perhaps elsewhere) I also wonder if it could update the dialogue, i.e. be registered that the user thinks they

[2017-06-16 14:44] dannyparsons commented on #3416
I like the suggestion in b) to change the text. Sounds clearer.

[2017-06-16 14:50] dannyparsons commented on #3416
I feel that we have 'tab' already to go to the next control. Enter is more commonly used to 'do something' in the control. If you 'tab' to a button and click Enter it presses it, if you 'tab' to a checkbox and click Enter it checks/unchecks it. I can see it might make sense for textbox controls but even those I'm not too sure.
Good to get more views.

[2017-06-16 15:07] rdstern commented on #3416
Happy with the discussion.  Sort of thing that would be easy to put into a video.

[2017-06-17 14:45] rdstern opened #3420 "RDOTNET problem with wide data sets"
I have put the July release as a milestone, not because this issue will be solved by then.  However this is a serious problem and we should have a clear strategy and time-scale by the July launch.

I asked Ian Edwards about this issue.  His first reply was as follows:

He has a reply to his query on the RDOTNET site as follows:

As a result Ian suggests as follows:

My view is as follows:
1. The p

[2017-06-17 15:01] rdstern opened #3421 "Problems with our installation procedures"
1. We do have a working installation system, thanks to Maxwell and Danny's (and others) hard work.  This includes the guide on installation.
2. However it is a complicated process, particularly for users who start from "scratch".
3. One problem seems to be the questions that are asked during the installation.  I think the answers are clear in the document, but not obvious if you just proceed with

[2017-06-17 15:06] dannyparsons commented on #3420
Something to look into is JASP https://jasp-stats.org/ and it's spin off jamovi https://www.jamovi.org/ which are both front ends to R which are platform independent. I've downloaded jamovi but haven't looked into how they connect to R. If anyone has time that would be worth investigating. I see that they use some Python scripts in the code but not sure what they are used for.

[2017-06-17 15:11] dannyparsons commented on #3421
I definitely agree with making R-Instat more solid and helpful when R isn't available. We've already had a suggestion from a tester to have multiple installations available - one with pre-requisites and one without. I can see advantages to both.
Telling a beginner to download and install several different software from different places could be daunting. However, you could also say that about our

[2017-06-17 15:25] dannyparsons commented on #2778
@rdstern your suggestion is a simple setting of the list view which I have now turned on. Note that the highlighted colour is different when the control has focus to when it doesn't. This is deliberate by Windows and I suggest we don't try to change this.

@maxwellfundi's suggestion seems more general than this dialog and links to #3416
Personally I don't mind there not being quick ways to run dia

[2017-06-17 16:01] dannyparsons commented on #2854
Global environment variables now removed so bug fixed for all dialogs.

The calculator should still go through the calculation system when saving a column. This doesn't cause a bug currently, but should be done anyway.

[2017-06-17 17:27] rdstern opened #3423 "File > Save Session dialogue?"
I have been asked how you could save your work so you could come back and resume later.
Genstat has all the usual Save As etc.

It also has a Save Session option that produces a file of type **.gsn.**  This is a single file with the default being to save the output window, the input log the data etc and even the current settings of the dialogues.

[2017-06-17 17:32] dannyparsons commented on #3423
Would be a great feature.

[2017-06-18 11:04] rdstern opened #3425 "Stacking with multiple groups or sets of columns"
This would be a very useful addition.  I think the R command side is not too difficult.  What is difficult (to me anyway) is to have a clear and simple dialogue.  And that is important for us.  So I have some alternative suggestions:

1) We don't do it!  But we do keep the linking information, so if we return to the same data frame as before and then stack again with the same number of columns, it

[2017-06-18 11:31] rdstern opened #3426 "Merge improvements"
One improvement I would like concerns the second data frame being merged into the "main one".  Please could we have an option to be able to choose the columns from that data frame that are merged.

Currently (I think) it merges all the columns.  I don't always want this.  It often makes the resulting data frame unnecessarily large.

Once this is done - or anyway - I don't find this to be an easy d

[2017-06-18 11:51] rdstern opened #3427 "Right click in the column and sheet metadata"
My suggestion is that we add the same right-click to the (rows of the ) column metadata that we have for the columns of the data.

We could also add the right-click that is at the bottom of the data (and applies to the sheets).  This would be also for the tabs of the column metadata.  And it would be active for the rows of the sheet metadata, because there a single row is for a sheet.

The tab met

[2017-06-18 12:59] rdstern opened #3428 "Windows layouts and toolbar"
I think we agreed to have a defined set of windows layouts for the release.  I suggest some of these and would very much like the toolbar to add these as options.
1. I am happy with the ones we have now. This goes naturally from 2 windows to (all) 6 windows.
2. Do we want to make it easy to have one window situations?  If so:
a) The obvious single window is then the Output,
b) There could be a cas

[2017-06-18 13:04] rdstern opened #3429 "Improved comments in dialogues."
The current default comment is OK for R-type users.  It concentrates on the command.
I suggest a more useful default comment would include information on the data frame at least that is used.  Perhaps this would not necessarily change in the comment within the dialogue.  It could be there as <data frame>.  Or it could change dynamically.

There may be other changes people would like.

This was sug

[2017-06-18 13:11] rdstern opened #3430 "Adding comments into the output window?"
Could this be a right-click in the output window.  Is it feasible?
The idea would be that you might scroll back in the output window and then want ot add notes, etc - as you may wish to do in an acrobat document.  For example you might add that a particular table is going to become Table 2 in the forthcoming paper or report.  Or that you would like to edit that graph later to change the theme, etc

[2017-06-18 13:27] rdstern opened #3431 "Labels in metadata window"
We are close to completing the facilities in SPSS on labels and also allowing the related facility for multiple missing values.

I suggest these be included, if possible, in this release.  I further suggest that they way this could be done could be similar to SPSS.
The labels field would be short - compared to now.  But we could click (or right-click) on a symbol at the end - SPSS uses "..." and t

[2017-06-18 13:30] rdstern opened #3432 "Multiple missing values"
This is linked to the labels facility.  In addition  they could perhaps be defined in the metadata window for now.
I would like this issue to be discussed for the forthcoming release, even if implementation may be delated.  If is is delayed, then there are sufficient potential uses, e.g. in tabulation, in climatic summaries, that I would like it to have high priority immediately following the rele

[2017-06-18 13:57] rdstern commented on #3211
What is the plan for the Comments dialogue?  It looks nice.  Is it still intended for the forthcoming release?

[2017-06-18 14:11] rdstern commented on #2761
I like what is working here now.  I tried it wil the example from sjmisc, columns cop1 up to cop9)
a) The table was OK,  Will these tables later be in the output window?
b) the graph (stacked) was OK when the columns were numeric.  I made them factor and then it gave the levels twice so was unclear.  When I made it numeric again it was OK - which is good.
c) A further remaining bug which is more g

[2017-06-18 14:27] Lunalo commented on #3211
@dannyparsons

We had a discussion and you suggested to do a method. I am ready to implement it when the method is ready. We are also not sure of the package to use. Should it be done almost the same way column labels are implemented?

[2017-06-18 15:17] dannyparsons opened #3433 "import .DAT files"
Currently cannot import .DAT files as not supported by `rio`. If `rio` do not add this before 0.9 (from my suggestion) then we should do this ourselves using `data.table::fread`.

[2017-06-18 15:30] dannyparsons opened #3434 "Updating all data selector headers"
A comment from a tester:

Because they had no factor columns, the selector was blank. So this was correct. However, the header says "Variables" so there's no way to know it's only showing factors. Notice how confusing this was for them and that they thought it could be a problem with the whole software and installation.

We should indicate what the selector is showing. We could do more when it's b

[2017-06-18 15:34] dannyparsons commented on #3429
It definitely needs to be improved for the next version.

I like the idea of including the data frame name, although I believe this will require a change on all dialogs to do this. So not for next release.

We could ask a few people if they have any suggestions.

[2017-06-19 09:36] rdstern opened #3440 "Improve Filter Dialogue"
This is another dialogue which needs to be discussed for this release, even if some of the enhancements, below, wait for after July.
1. I class this as a bug - perhaps not though.  I use the survey data and would like to filter on village.  I choose village, which is a character variable.  I now realise that I wanted it as a factor.  So I close the dialogue, make it a factor and return.  The villa

[2017-06-19 09:53] rdstern commented on #3390
I suggest this is the default, but it would be even better to have it as an option.  Sometimes you **do** want to see all the 100% values to emphasise what it is that the table is the % of.

[2017-06-19 10:05] rdstern opened #3441 "Frequency and Summary Tables sub-dialogue"
There are many layout options for the html tables we now use.  It would be good to have a sub-dialogue for this, just as we do for the graphs.

It will need some thought and I find the structure difficult to define.  There may be some options we can start with easily.  Are there parallels with graphs, at least for titles, etc.  Tick marks are like groups in the table, etc. I suggest we may need to

[2017-06-19 10:09] rdstern opened #3442 "Specific > Frequency tables"
I tried un-ticking the html option with the survey data.  (Simple table with Village and Variety).  Just totals, with no percentages. I am not sure what to expect.

Error running R command(s)

Error in self$get_data_objects(data_name)$remove_columns_in_data(cols = cols) :
  Cannot delete all columns through this function. Use delete_dataframe to delete the data.

The error occurred in attempting t

[2017-06-19 10:19] dannyparsons opened #3444 "Max columns to display option"
We now have a max columns to display options, as we do for rows. The reduces the chance of crashes with wide data sets. Currently the default is 30.

This needs to be in the options dialog. There is a variable for this in GirdLinks like for rows.

[2017-06-19 11:26] dannyparsons commented on #3442
Could you send a full log file for this? I'm struggling to replicate it.

[2017-06-19 11:36] rdstern opened #3446 "Climatic Import netcdf"
I tried importing the netcdf file from Rwanda.  Earlier we were only able to import one time point.  Steve told me the importing is now OK.  It is 3 million rows I think.
When I import I get the following error:

Error running R command(s)

Error in nc_open(filename = "C:/Users/Roger/Documents/Roger new/Roger/AIMSNEI/MSc essays/Essays in 2016_7/Fauste/ENACTS data NetCDF_GrADSdata.nc") :
  **could

[2017-06-19 11:38] dannyparsons commented on #3446
@lilyclements has an open pull request on this which should fix this error. There will probably be further changes needed to this dialog still though.

[2017-06-19 11:39] rdstern commented on #3446
Great.  Look forward to trying this.

[2017-06-19 11:42] rdstern commented on #3442
I can't repeat it myself now.  It seems to work well!
I noticed there is an R-command now just after the output.  So I tried with the option to not present the commands in the output window and it all looks very neat now.  I wonder about having this as a toggle on the toolbar?

[2017-06-19 11:59] dannyparsons commented on #3433
@stevenndungu I now have a fix for this using `format = "txt"`. I can show you were to add this when you get there.

[2017-06-19 12:00] dannyparsons commented on #3282
This should be fixed by recent improvements, I have tested with this data and it works well.

[2017-06-19 12:00] #3282 closed

[2017-06-19 12:08] rdstern commented on #3428
I suggest also a toolbar button to hide or show the R commands in the output window.  It is a toggle.

[2017-06-19 20:07] dannyparsons commented on #3425
Multiple column sets now implemented on the dialog - more options to be added to allow flexibility in defining output column names etc.

To use: put all stacking variables in the receiver. Then check "Stack multiple column sets" and choose number of sets. The selected columns will be split into the number of sets selected - so the order of columns is important. The number of variables must to stac

[2017-06-19 20:29] rdstern opened #3450 "graphics display in output window"
When I use the correlations dialogue and ask for a pairwise plot it comes in its separate window - not the output window.  I wonder if that need be the case - both for this and for other graphics dialogues?

[2017-06-19 21:02] rdstern opened #3451 "Comparing one variable models with ggplot"
The graphcomp command in fitdistrplus now has an option to display graphs using ggplot2.  I wonder if we use this option?  If not, then could we?  I hope this would be a very minor change so have suggested it in the forthcoming version.
I am assuming the graphics system can detect whether graphs are ggplot, or not, because other plots from this package still use the ordinary graphics.

I would lik

[2017-06-20 02:05] rdstern opened #3452 "Factor levels and labels"
Until this bug R-Instat has been impressive - very impressive.  I jhave been analysing the Sudan data that gave us so much grief last Summer at AIMS.  No crashes so far and I did quite a bit.  It has 145 columns and 15,000 rows.

Then I made Urban/Rural, column HH6 into a factor.  It added the labels 1=1, 2=2.  Then I used Column: Factor > Levels and Labels to change 1 to Urban and 2 to Rural.  It

[2017-06-20 02:09] rdstern commented on #3444
I have been using this with a larger number of columns, so not all are visible.
a) The option to view the whole data using the R viewer is very useful.  It works well.
b) What I do miss is the option to use the right-click to make columns into factors, etc.  I suggest having this right-click available now on the column (and sheet) metadata is now even more useful.  I suggest that is now urgent.

[2017-06-20 02:22] rdstern opened #3453 "Importing Excel files"
[hhModule2CLEAN.zip](https://github.com/africanmathsinitiative/R-Instat/files/1086818/hhModule2CLEAN.zip)

I have an issue importing Excel files - I think.  I have called it a bug, but it may be that I am requesting an enhancement.
These are 2 different Excel files.  They have different names, but the sheet names are the same.  Currently we seem to ignore the file name for Excel and just keep the

[2017-06-20 06:40] dannyparsons commented on #3450
It's a simple fix @maxwellfundi can do.

[2017-06-20 06:42] dannyparsons commented on #3451
This is simple to add I believe @lilyclements looked into this already.

[2017-06-20 06:43] dannyparsons commented on #3452
It's that's the worst you could do with this data then I'm very pleased!

[2017-06-20 06:45] rdstern commented on #3452
I agree.  When I compare this to the trouble the AIMS students had with this data set last September it is so different.

[2017-06-20 07:05] rdstern opened #3456 "The View Data using the R viewer"
I hope this is a simple one too.  I am calling it s bug, but perhaps it is a feature!  It reflects the increased importance of the R viewer now, for large data sets.

For information: On my (quite slow machine) the R view took about 3 seconds to show the data for a set with 15000 rows and 145 columns.  It took 12 seconds for 1.3 million rows and 10 columns.  I think this is good.

1. When I use th

[2017-06-20 07:09] rdstern commented on #3456
If using 2 screens then this R data view is an example that I might want on the second screen.

[2017-06-20 07:23] rdstern commented on #3440
A common filter will be to omit the rows when a particular variable is missing.  This is easy (if you know how) for a variate, but not so obvious for a factor.
I found that if you select all levels then it automatically misses out the missing values.  I assume that if you select no levels, then you might just get the missing rows.  But it is a common thing to filter on, so perhaps there could be a

[2017-06-20 07:33] lilyclements commented on #3451
Yes I added this in, however, there are other changes to make to that dialog so still on the pull request. I was going to continue with those other changes either today or tomorrow, but I can do sooner if that's preferable.
This will also be added to One Var Fit when that is being updated

[2017-06-20 07:35] rdstern commented on #3451
Any time is fine.  I can easily wait till the weekend to send information to the fitdistrplus developers.

[2017-06-20 08:00] shadrackkibet commented on #3386
i am now going to work on this.

[2017-06-20 08:01] shadrackkibet commented on #3386
@lilyclements  are you on this?

[2017-06-20 08:04] lilyclements commented on #3386
Yep I'm working on this at the moment, sorry!

[2017-06-20 08:11] shadrackkibet commented on #2973
@dannyparsons  this can be closed. @stevekogo worked on this and it was merged.

[2017-06-20 08:21] dannyparsons commented on #3426
Working on this now.

[2017-06-20 08:23] dannyparsons commented on #2973
I think there is still work to do on this so I'll keep it open in case the message here are useful.

[2017-06-20 08:47] #3384 closed

[2017-06-20 09:27] stevenndungu commented on #3433
@dannyparsons  looking at this now

[2017-06-20 11:53] rdstern opened #3457 "Describe > Specific > Frequency and Summary tables"
My amazement continues.  I can do great graphs with the Sudan data and also get tables.  No error messages yet.  But some oddities with the tables as follows:
1) **Frequency tables** doesn't seem to take account of **filters**.  (Which summary tables does.
2) **Frequency tables** seems "curious" in its interpretation of **significant figures**.  When it is set to two I got far too many.  I had to

[2017-06-20 14:26] rdstern opened #3458 "Saving the output window"
I write out the output window and would like to include the tables.  These tables in the output window are html and don't get written to the output file.  That may be a non-trivial problem unless we can write it in html?

(I can go into any box in the output and select the tables and copy them into Word individually.)  That's nice.)

[2017-06-20 15:36] volloholic opened #3460 "Opening log file in R-Studio directly"
This should be a really easy but powerful addition. We could have this as a right click option from the log window for example.
I believe if we save the log text to a file in an appropriate directory and then it's just a question of running:

Process.Start("logname.R")

If R-Studio is installed and the default program to open .R files with this should simply work!

[2017-06-20 15:45] dannyparsons commented on #3460
Also place this on the Tools menu.

We could start by saving to a temporary location - like we do for graphics.

@maxwellfundi If this is simple please go ahead, discuss with David if it becomes time consuming.

[2017-06-20 18:03] #3426 closed

[2017-06-20 20:00] rdstern opened #3462 "Sudan data"
I use these data as an example and consider various issues that arise:
Last year we had a single Excel file from SSD and this gave us all sorts of trouble.  I have now gone to the UNICEF site and downloaded the data from there.  These are SPSS files.  This is a good challenge for our "system".  There is also a report - almost 400 pages, so it will be good later to see which of the graphs and table

[2017-06-20 21:24] dannyparsons commented on #3433
fixed by #3463

[2017-06-20 21:24] #3433 closed

[2017-06-20 21:30] dannyparsons commented on #3381
This has now been updated, thanks @stevenndungu for doing most of the work on this.

I had to merge it quickly because I made a fix to a more major on the same branch. This means the import dialog has a few bugs at the moment.

Please test it out and report any issues here. I will continue testing and improving in the morning.

Note that now the preview is only generated for csv and Excel files -

[2017-06-21 09:22] maxwellfundi commented on #3450
@shadrackkibet  is editing this currently so he will set the right i call type for this to display on output window.

[2017-06-21 12:35] rdstern commented on #3450
Great.  It could be good to look at the same time at other dialogues that produce graphs.  I'll try too.

[2017-06-21 15:25] dannyparsons commented on #3381
Issues above now fixed and dialog updated. Please continue to test with all the awkward datasets you have. Open a new issue if any bugs appear.

[2017-06-21 15:25] #3381 closed

[2017-06-21 15:59] dannyparsons commented on #3453
Slightly changed functionality now so that if you don't select a sheet, the default name is the file name. Once you select a sheet, that becomes the new name. Is that useful?
Doesn't quite keep the file name as you want, maybe we should add a label for the new dataframe and this could include the Excel file name since we want to keep the name short but the label could be longer?

[2017-06-21 16:04] dannyparsons opened #3466 "CSV import options"
There are many options when importing CSV. `rio` uses `fread`:
https://www.rdocumentation.org/packages/data.table/versions/1.10.4/topics/fread
[code]

We have some of these these currently but it would be good to consider which others we might need for 0.9.

Eventually we might want a sub dialog with all of them?

[2017-06-22 11:38] dannyparsons commented on #3380
This is now updated. Remaining issues @maxwellfundi:

- radio buttons at the top should be in new style
- dialog is quite small - can you make it bigger so that the list box can be bigger

[2017-06-22 12:55] dannyparsons commented on #3284
@maxwellfundi can you check on these? Fix anything serious and the simple stuff and report back?

[2017-06-22 14:50] #3452 closed

[2017-06-22 14:51] dannyparsons commented on #3452
should be fixed now, please test again

[2017-06-22 15:43] dannyparsons commented on #3452
This should now be fixed.

[2017-06-22 17:44] lilyclements opened #3473 "Core Changes - Sub Dialog changes to make"
@africanmathsinitiative/developers
Due to a core change in #3467 there has to be a few minor changes made on sub dialogs.
I'm happy to make some of these changes, however, I know people are working on subs on their branches.

Could you let me know what sub dialogs you are currently editing and also add in the following changes (once #3467 has been merged).

The change is:
On the sub dialogs, you n

[2017-06-23 08:44] dannyparsons commented on #3473
@africanmathsinitiative/developers This is a very important issue, please respond to Lily's questions.

[2017-06-23 08:48] AlexSananka commented on #3473
Currently am editing `sdgmodeloptions `

[2017-06-23 08:48] shadrackkibet commented on #3473
I am working on sdgCorrplot now.

[2017-06-23 08:48] stevenndungu commented on #3473
Ok great, I am currently editing  the following subdialogues....SdgSimpleRegOptions & sdgVariableTransformations

[2017-06-23 08:54] dannyparsons commented on #3386
@rdstern this is now merged (#3467) and ready for your testing

[2017-06-23 09:18] rdstern opened #3475 "New data type for climatic data?"
I like the improvements in the File > Open from Library.  I agree that we should now consistently have the new-style radio buttons.

However that's not the issue.  Just a question really.
I then use the climatic guide data sets and open the Dodoma data.  The last 3 columns are now of a new type, namely (l).  What is that?

They are temperature and sunshine hours, so simply numeric.
There could be

[2017-06-23 09:54] lilyclements commented on #3475
I noticed this when I did a start of rains that my data type was (l) once.
We were having an issue with numeric-types which have been made by a calculation being used in a calculator? Is this to do with solving that?
@dannyparsons what is this data type (l)?

[2017-06-23 10:17] dannyparsons commented on #3475
Great spot! Two changes affected this:
1. I added (l) for logical columns recently so that's why (l) now appears for logical columns.
Why are these columns coming in a logical? Because of the excel import we are using:
read_excel has a parameter:
[code]
The default is 1000 so because in these columns the first 1000 values are missing values, it can't detect the type and defaults to logical I guess

[2017-06-23 10:28] rdstern commented on #3475
Can we also say what type we default to, if we can't detect the real type.  I would then suggest (c) because anything can be a (c)?

[2017-06-23 11:16] dannyparsons commented on #3475
No we can't choose the default type. Character would be nice. I guess it just gets the type of the 1000 NAs, which is logical.

Of course, `openxlsx::read.xlsx` is only for `xlsx`, so we need `read_excel` at least for `xls` files.

[2017-06-23 12:33] rdstern commented on #3475
OK, then it is just a "feature".  It won't be so common.
I don't want to make the number too large, or it might slow down the reading of the file.  Of course it could be in our Tools > Options so anyone who has this issue regularly can do something about it.  Not bad to be able to have a place to discuss this sort of issue of the type of column.

[2017-06-23 15:25] dannyparsons commented on #3475
Well it needs to be at least 10,000 for this file. But actually it's a fairly negligible difference in speed even when I made it infinite. I tried with Dodoma and the wide Sudan data. So I think we can just put Inf in since this will always give the correct types.

[2017-06-25 10:22] #3475 closed

[2017-06-26 06:57] rdstern opened #3479 "File new and significant figures"
In the getting started guide we generate a small data set - 10 rows and 2 columns.
1. The columns now come with the (l) -logical data type.  I know this will happen when data are imported from Excel, (because all values are missing) but why when File > New?
2. I then followed the guide, and generated the data 0.05 to 0.95.  Then I deleted the 2 initial columns. This just left the one column.  It w

[2017-06-26 10:10] dannyparsons commented on #3479
1. We have included (l) for display logical columns now. In R NA columns are logical so unfortunately we get this for new columns, although it is technically correct for the type of column. We could remove (l) for logical but this would also remove it for genuine logical columns as well.

2. This was an issue which would have occurred with any data frame with one column.

[2017-06-26 11:58] #3479 closed

[2017-06-26 12:38] Lunalo commented on #3466
@dannyparsons

Is it appropriate to have import dialog with subdialog?
I would suggest we use tabs

[2017-06-26 12:45] dannyparsons commented on #3466
Tabs could work, but I don't see an issue with a sub dialog either. Do you?

[2017-06-26 12:55] Lunalo commented on #3466
I have just been going through import dialogs for both Stata and SPSS and all have the options on the main dialog.

All the above options can still fit in the main dialog.

Also the improved import dialog radio buttons design should follow the consistence of other dialogs @stevenndungu

I can fix this if you are busy.

[2017-06-26 13:11] dannyparsons commented on #3466
I'm not convinced these should all go on the main dialog - there's too many and some will rarely be needed except in special cases. The options shouldn't overwhelm the user so I would like to only have important options on the main dialog. Which ones are "important" is up for discussion, but this seems a typical case for a sub dialog isn't it? When there's lots of options, more advanced ones or un

[2017-06-27 06:57] lilyclements commented on #3451
@stevenndungu @AlexSananka how is One Variable Fit Model going?
Four of the plots (the ones from fitdistrplus, such as cdfcomp etc) can have a new parameter added:
`plotstyle = "ggplot"`

Similarly so for One Variable Compare Models, which I started working on but that dialog needs more changes/fixes to it.

[2017-06-27 08:52] volloholic commented on #3473
Hi All can I confirm that bCloneIfNeeded:=True has now been correctly added to all subdialoge setRCode calls? if so we can close this issue.

[2017-06-27 08:54] volloholic commented on #3460
@maxwellfundi update?

[2017-06-27 09:02] volloholic commented on #3450
@shadrackkibet update? Can I close this?
@maxwellfundi Have you checked other places?

[2017-06-27 09:04] volloholic commented on #3444
@Lunalo Have you worked on right clicking options in the past? If so I propose you take this off danny's plate!

[2017-06-27 09:06] volloholic commented on #3442
@maxwellfundi is there someone who could be assigned to toolbar and can you take not of this enhancement.
@rdstern Can this then be closed?

[2017-06-27 09:06] Lunalo commented on #3444
Yes, I will fix this

[2017-06-27 09:14] volloholic commented on #3434
@shadrackkibet Can you follow up to see if people have done this and feed back here.
@dannyparsons I suggest we also do something in the selector core for when it is empty in this case a label "no factors in dataset" would be appropriate.

[2017-06-27 09:16] maxwellfundi commented on #3460
I had not gotten to this yet. Its on my to do list

[2017-06-27 09:28] volloholic commented on #2854
@dannyparsons I assume this should be done for the next version or do we push it further?

[2017-06-27 09:35] shadrackkibet commented on #3434
@maxwellfundi  has worked on described menu already. @stevenndungu will be checking on prepare menu.  @africanmathsinitiative/developers  someone should work on models menu as i work on Climatic menu.

[2017-06-27 09:38] volloholic commented on #3416
I think for text boxes I'm comfortable with enter going to the next control.

[2017-06-27 09:41] volloholic commented on #2778
I think I agree that loading a dataset shouldn't have a shortcut to pressing ok. Do we all agree? Can we now close this?

[2017-06-27 09:42] Lunalo commented on #3444
@rdstern

Should this rightclicks  open a dialog for the case of converting to factors?

[2017-06-27 09:43] volloholic commented on #3415
@maxwellfundi update?

[2017-06-27 09:44] volloholic commented on #3444
@Lunalo the right click should work as similarly as possible to the right click on the Data grid view Skype me if you want more detail.

[2017-06-27 09:47] volloholic commented on #2279
With our general fix can this now be closed or do we still need to disable the grid?

[2017-06-27 09:50] maxwellfundi commented on #3415
This was done already. It can be closed.

[2017-06-27 09:51] volloholic commented on #3404
Shorter default names might be good and easy to implement @rdstern do you have a concrete suggestion?

[2017-06-27 09:53] volloholic commented on #1894
This really needs revisiting at least in a broader climatic discussion

[2017-06-27 09:54] #3415 closed

[2017-06-27 09:56] volloholic commented on #2251
@stevenndungu are these part of the not general part of the 2 and three variable fit model?

[2017-06-27 09:57] maxwellfundi commented on #2778
I agree with @dannyparsons that for starters they need to be aware of the actions they are doing. We can now close this

[2017-06-27 09:57] #2778 closed

[2017-06-27 10:13] maxwellfundi commented on #3450
All the graphs produced from the describe menu are all produced in the output window. @africanmathsinitiative/developers if you might know a graph that is not showing properly in other menus, please report it.

[2017-06-27 10:29] AlexSananka commented on #3434
On the model menu, @Lunalo is working on `showmodel` so I believe he can make that edit, @stevenndungu or @dannyparsons  is currently working on `twovariable fit model `so that can be edited too. @lilyclements is on` onevarcompare model` so she can change this too.I can make the edits on `Threevar modelling` and `one var use model`.

[2017-06-27 10:49] rdstern commented on #3444
I agree.  I was hoping it might even be the same, but that may not be practical.
And the right click that is at the bottom of the data view, would now also work for the columns of the data frame metadata

[2017-06-27 11:36] stevenndungu commented on #2251
No, they are part of the Two sample case.

[2017-06-27 11:38] rdstern commented on #3404
If we are not doing sheet and column labels then I suggest we leave the names for now.  Many of the current names look to me more like labels, so it might be simpler to move them over.
I suggest we have another milestone for an end of July, or a mid-August release (there is AIMS and Malawi from 21 August).  This could be an easy improvement for then.

We could use this opportunity perhaps to refle

[2017-06-27 12:27] shadrackkibet commented on #3450
This is not yet fully updated , it has issues which i have highlighted at #3438.

[2017-06-27 13:03] volloholic commented on #3450
@maxwellfundi  can you do a check. Get others to tell you where there are graphs produced but please test yourself

[2017-06-27 15:05] stevenndungu commented on #3451
I have added in the `plotstyle = "ggplot"` parameter...I like the ggplot graphical inter phase. The rewrite is still in progress.

[2017-06-27 16:31] lilyclements commented on #3451
Which dialog have you added it to? It is needed in a couple (2 or 3 use cdfcomp/etc)

[2017-06-27 16:32] lilyclements commented on #3434
@AlexSananka I can't guarantee I'll be able to continue working on one var compare model, as stated in my email sent Friday. Can you pull the branch and make the necessary changes?

[2017-06-27 17:15] stevenndungu commented on #3451
I have added in one var fit model.
 So, i added to `"cdfcomp", "denscomp", "qqcomp", "ppcomp"` functions, leaving out plot function (rdoall) it does not work with plot function.

[2017-06-27 17:20] AlexSananka commented on #3434
Yes I can make the edits.Did you change something or should I just pull it from the master?

[2017-06-28 08:34] dannyparsons commented on #3450
I think someone needs to systematically go through every dialog, or one person per menu, and check this instead of just waiting to come across it.. Maxwell says Describe is done.
@shadrackkibet can you continue checking Model and Climatic menus. Model menu is being updated so check with whoever is working on a dialog before making changes.

[2017-06-28 08:42] lilyclements commented on #3434
I made very minor changes. That dialog needs a few fixes though, or the sub does, so you can either pull what I've done or it may be easier to start from scratch. I can't remember specifically what fixes - but controls are disabled on the sub.

[2017-06-28 08:48] maxwellfundi commented on #3284
@dannyparsons the tabs issue is fixed. The Issue of developer error still persists as well as well as when a geom is changed on aesthetics tab doesn't update the layer parameters despite the combobox with the geoms being changed.

[2017-06-28 08:59] dannyparsons commented on #2279
This is less of an issue now with the new pop up box appearing after 2 second, but we should probably still disable the grid when running a command.

[2017-06-28 09:02] dannyparsons commented on #3473
@africanmathsinitiative/developers

[2017-06-28 09:06] AlexSananka commented on #3473
I have already added to the subdialogs I am working on

[2017-06-28 13:00] shadrackkibet opened #3493 "climatic>Describe>windspeed/direction>windroseplot"
This dialog has ok enabled even without input of anything, when you click ok it bugs.I am not sure how this dialog should work.I think there is a problem here.
![image](https://user-images.githubusercontent.com/26301973/27638067-98215b68-5c1a-11e7-9a54-0c3098a38d42.png)

[2017-06-28 17:37] dannyparsons commented on #3493
This looks old. Let's delete it I think, we already have a Windrose dialog now.

[2017-06-28 19:53] #3493 closed

[2017-06-29 07:12] rdstern opened #3497 "New function or dialogue for duplicates?"
I have put the 0.3.2 milestone for discussion of the topic, not necessarily for implementation.
I have been "testing" R-Instat with an awkward (climatic) data set.  So far so good - in fact very good!

But the file has duplicate rows of data and we have no facilities to deal with this.  I would like to discuss what I think could be the way of dealing with it, in R-Instat.  It could be a simple dia

[2017-06-29 09:12] AlexSananka commented on #3320
I think we no longer have that sub menu for climatic graphs and this was sorted,can  this be closed?

[2017-06-29 09:50] dannyparsons commented on #3320
@shadrackkibet?

[2017-06-29 09:51] shadrackkibet commented on #3320
This should be closed.

[2017-06-29 09:53] #3320 closed

[2017-06-29 09:54] AlexSananka commented on #1504
What is the state of this?was it finally resolved?

[2017-06-29 10:55] rdstern opened #3498 "Climatic > Define Climatic data and also the Use Date dialogue"
This is a minor change in the dialog.

1. When there is a shifted year (and a shifted day of year) then it would be good if the Define Climatic data could pick that up - rather than the ordinary year.  The names could be "syear" and "sdoy", see below.
2. It currently picks up the rainfall and temperature columns automatically.  If the sunshine hours is labelled "sunh" could that also be picked up

[2017-06-29 13:15] rdstern opened #3499 "Start of the rains"
I mention Lily, but not seriously, because she is on leave.

The saving doesn't yet work well.  The column is called start_of_rains.  You can change the name in the dialogue, but nothing changes in the name in the output.  So it always overwrites.
It isn't a serious bug, because you can rename the output column and then it is fine.

It is a good example where it will be good to add a variate label

[2017-06-29 17:58] lilyclements commented on #3499
At the moment this problem That the column name doesn't change is fixed on a pull request.

We can't do a prefix yet because we aren't using a ucrSave. This is because we are creating a column for a new data frame so this hasn't yet been implemented in the UcrSave.

Changing to start instead of start_of_rains can be fixed when I next get "proper" internet (curewntly using my phone).

[2017-06-30 06:25] rdstern commented on #3497
I asked Sam Dumble (Stats4SD) for help on the possible code for item b above:  Here is his reply together with the function:
[dupCount.zip](https://github.com/africanmathsinitiative/R-Instat/files/1114293/dupCount.zip)
 He writes in his reply:
"Yes – base R has a duplicates functions;  but it’s one of those that always catches people out as it doesn’t work in the most intuitive ways!

For a) this

[2017-06-30 07:03] lilyclements opened #3502 "Row Names or Numbers - bug"
A couple of bugs on this dialog:

1. If I select the second radio button and then reopen the dialog, I get a developer error:

2. This issue is with the fourth radio button if I click "Descending". It doesn't run descending, it just runs the column numbers as it usually would. (unless I've misunderstood what this option should do! I see that the default is `Descending = TRUE` so the r-code shouldn

[2017-06-30 08:39] dannyparsons opened #3504 "New packages to add"
- dae

[2017-06-30 08:48] shadrackkibet commented on #3434
@dannyparsons this can now be closed.

[2017-06-30 10:18] volloholic opened #3506 "Spells, Extremes, End of season each have a more flexible date picking control."
Currently the dialogues pick a fixed number of the first and last dates.  There could be a checkbox – or do we move to a sub-dialogue – for a Variable Start/End dates.   In that case you can pick a column from a linked data frame which is at the annual level.  Ideally you could still just type a number there if (say) one of the two dates was fixed.  (For example the water balance might start from

[2017-06-30 10:19] volloholic opened #3507 "Extremes first last date"
Extremes.  This doesn’t yet have any control to select first and last days.  That needs to be added.

[2017-06-30 10:19] volloholic opened #3508 "Extremes for peaks."
Extremes for peaks.  It is currently just a filter.  That’s fine, but could it also only include just the columns that are in the dialogue – or at least have that as an option – and it would be the default.

[2017-06-30 10:20] volloholic opened #3509 "End of rains/season to be completed."
This to include the water-balance possibility of evaporation being from a separate file – rather than just a constant (usually of length 366), or to be from another column in the same sheet.

[2017-06-30 10:22] volloholic opened #3510 "Calendar control."
A nice luxury would be that the fixed dates could be from a calendar control.  Note they would have to change into day numbers from the shifted dates where those apply.

[2017-06-30 10:25] volloholic opened #3512 "Dates in year."
Be able to display the results (where they are day numbers) as dates in the year, e.g. 04-12 or 4-Dec.  There is discussion of this issue on Stack Overflow.  One way seems to be as an ordered factor, though that might limit the summaries of the columns.  Could we alternatively have it as a labelled column and be able to display the labels, even though it remains numeric?  (If it gets awkward, then

[2017-06-30 10:27] volloholic opened #3513 "Graphs to be able to display with the dates in year."
Graphs to be able to display with the dates in year.  This is important for PICSA – and we can do it in the old Instat.  It is more important for this aspect, than in the spreadsheet.

[2017-06-30 10:28] volloholic opened #3514 "Inventory plot"
Inventory to also include the rain/dry option again.

[2017-06-30 10:28] dannyparsons commented on #3434
Are you sure this is done on every single dialog active in the software?
Also remember that the default is "Variables" so for column receivers with no specific data type we don't need to change anything.

[2017-06-30 10:28] volloholic opened #3515 "Display of daily data dialog"
I hope this is now easy as it is an example of a table with just column margins.  It would still be of interest if initially it was without margins.  It will (usually) just be presenting the data – rather than summarising, so it is also an example of tabulation display from already summarised data.

[2017-06-30 10:29] volloholic opened #3516 "Summary of daily data."
This dialogue should be easy to implement.  It should initially just need the standard summary code, with the factors being already completed.    So most of the complication will be to sort out the simplest possible dialogue.

[2017-06-30 10:32] volloholic opened #3517 "The PICSA crops dialog"
The PICSA crops dialog.  This builds on the start/end and rainfall totals in the season.  It would be good to discuss this with Francis in Marakkesh.

[2017-06-30 10:33] volloholic opened #3518 "NETCDF importing."
NETCDF importing.  This at least in a limited way.  Possibly with a critical look at the Climatic > File menu at the same time.

[2017-06-30 10:34] volloholic opened #3519 "Spells/risks dialogue or option."
Spells/risks dialogue or option.  To be discussed.  I am not sure whether this is in Climatic > Prepare.  It is possibly more in Climatic > Describe under the rainfall?

[2017-06-30 10:35] volloholic opened #3520 "Rainfall Menu"
Climatic > Describe > Rainfall (and possibly Temperature) conceptualised.

[2017-06-30 10:36] volloholic opened #3521 "Comments"
Prepare > Keys and Links > Comments completed.  (Important as a first step to indicate how our climatic QC might work.)

[2017-06-30 10:36] volloholic opened #3522 "New dialog: Duplicates"
Prepare > Check Data > Duplicates constructed.  (Important, because useful in climatic quality control.)

[2017-06-30 10:37] volloholic opened #3523 "Climatic boxplots"
Climatic > Check data > Boxplots conceptualised and constructed.  Should be easy, because it is just ordinary boxplots with the climatic factors largely specified.  (Important, because it will be visible and clearly more flexible than existing climatic QC procedures.)

[2017-06-30 10:38] volloholic opened #3524 "Climatic Wind roses"
Check on wind roses and possibly improve.

[2017-06-30 10:38] volloholic opened #3525 "climatic indices"
Check on climatic indices dialog and consider subsequent analyses.

[2017-06-30 10:43] volloholic commented on #3473
Alex thanks for responding. I need a response from someone to say they are accepting responsibility for this being done everywhere by the end of the day so I can close this today!!!

[2017-06-30 10:45] volloholic commented on #3450
@shadrackkibet @maxwellfundi which of you is taking responsibility to ensure this is done by the end of today so this can be closed?

[2017-06-30 10:51] volloholic commented on #3442
@maxwellfundi Progress? we want to close today!

[2017-06-30 10:52] volloholic commented on #2185
@maxwellfundi update?

[2017-06-30 10:53] volloholic commented on #1985
@dannyparsons update?

[2017-06-30 10:56] volloholic commented on #3399
@maxwellfundi to be closed?

[2017-06-30 11:25] dannyparsons commented on #1985
I believe it just needs to be added in the options dialog, unless this is already done @maxwellfundi?

[2017-06-30 11:32] volloholic commented on #1910
@Lunalo update? are we pushing this back or is it done?

[2017-06-30 11:39] volloholic commented on #3398
I think there could be great value in a convert to logical but we need to be really careful not to lose data unnecessarily.  That is longer term. Immediately we need to think about dialogues working well with logical columns and possible enabling a simple conversion.

[2017-06-30 11:41] volloholic commented on #1814
@maxwellfundi this is related to the other toolbar issue. Would be nice to have something reasonable for next week. Doesn't have to be you working on this but could you make sure someone is.

[2017-06-30 11:41] volloholic commented on #3387
@stevenndungu update?

[2017-06-30 11:51] #3386 closed

[2017-06-30 11:52] shadrackkibet commented on #3473
I have updated this on the two subdialogs i have been working on i.e sdgcorrplot and sdgcanonical.

[2017-06-30 11:52] #3383 closed

[2017-06-30 11:54] #3380 closed

[2017-06-30 11:54] rdstern opened #3528 "Climatic > Define Climatic data"
I used this dialogue in a previous session and mentioned that it did not accommodate the shifted year.

I now have another problem.  I restarted R-Instat having saved the rds file, i.e. including the meta-data.  When I go back to the start of the rains etc I find (to my pleasure) that it has remembered correctly all the metadata.  This includes the sunshine hours column and the shifted year and da

[2017-06-30 11:57] #3373 closed

[2017-06-30 11:59] volloholic commented on #3371
@Lunalo update?

[2017-06-30 12:00] volloholic commented on #3366
@shadrackkibet can you confirm I can now close this

[2017-06-30 12:02] volloholic commented on #3336
@shadrackkibet this relates to the station issue if that is doe this can now be closed.

[2017-06-30 12:03] rdstern opened #3529 "Climatic > Start of Rains"
This is another subtle issue.

I did start of rains for Dodoma in my last session.  Now I did it again with a new definition.
It sent the results to a new file called Dodoma_by_Shiftyear1 rather than adding the column to the original file, which is still there and is called Dodoma_by_Shiftyear.

[2017-06-30 12:03] shadrackkibet commented on #3450
I have completed working on correlations and it is now ready for review #3438 . I have also gone through Models and climatic Menus to check this and i can confirm that no plot is produced on a separate window.

[2017-06-30 12:04] volloholic commented on #3122
@rdstern Can you check this

[2017-06-30 12:07] maxwellfundi commented on #3450
great, so this can now be closed?

[2017-06-30 12:07] volloholic commented on #2815
@Lunalo Can you check this is all done so I can close.

[2017-06-30 12:10] Lunalo commented on #1910
The additional group for the rowstats has already been implemented

[2017-06-30 12:12] Lunalo commented on #1910
@volloholic

This can be closed since the issue has been addressed

[2017-06-30 12:19] stevenndungu commented on #3387
Almost done, we have worked closely with Danny. The only thing remaining now is the save tab which i Have encountered slight challenge with it. #3530

[2017-06-30 12:49] maxwellfundi commented on #3442
This can be closed. I am adding the enhancement for a toggle button to include commnads on output window on the new issue for tool bars

[2017-06-30 12:50] maxwellfundi commented on #1814
Just to keep a record we want to have a toggle button to include commands on output or not on the tool bar.

[2017-06-30 13:00] shadrackkibet commented on #3366
Start of rains has a station receiver now.. Unfortunately there is a bug still.
![image](https://user-images.githubusercontent.com/26301973/27736520-2bdbf460-5dad-11e7-8394-b69c67dff759.png)

[2017-06-30 13:06] shadrackkibet commented on #3336
This bug is still there.

[2017-06-30 13:13] shadrackkibet commented on #3508
This relates to issue #3201 of a feature request. @dannyparsons can this now be implemented?

[2017-06-30 13:14] dannyparsons commented on #3398
The first thing I would like to implement on this is logical columns being recognised as "categorical" or "numeric" in dialogs which will allow them.

[2017-06-30 13:28] maxwellfundi commented on #3399
@dannyparsons  this will be fixed by the pending pull request #3399. its current state is okay

[2017-06-30 13:33] dannyparsons commented on #3450
Great, when #3438 has been reviewed and merged, this can be closed.

[2017-06-30 13:33] stevenndungu commented on #3473
Addressing this

[2017-06-30 13:36] volloholic commented on #3323
@maxwellfundi Thoughts?

[2017-06-30 13:37] #3316 closed

[2017-06-30 13:39] volloholic commented on #3100
@Lunalo any further update? We should be aiming to close this issue if there are still tasks that remain maybe they should be made explicit in a new issue and given an appropriate milestone. Skype me if you need to.

[2017-06-30 13:48] maxwellfundi commented on #3323
This would be really good to have similar options for as those of one variable graph. Am not sure we can have this for tonight.

[2017-06-30 13:57] dannyparsons commented on #3366
@shadrackkibet This is the same error message you showed before where I then explained it was because the Date and Station do not have unique combinations to define a key. Do the Date and Station columns give unique combinations in your data?

[2017-06-30 14:02] shadrackkibet commented on #3366
My data do not have a unique combination of Date and station. How can i avoid this error?

[2017-06-30 14:04] AlexSananka commented on #2979
Has this been addressed?It seems to have been open for quite a long time.

[2017-06-30 14:06] dannyparsons commented on #3508
There's some work to implement this still. It's not urgent until the 0.4.1 release i.e. August

[2017-06-30 14:06] AlexSananka commented on #2982
Can this be modified to maybe go to another milestone?

[2017-06-30 14:11] AlexSananka commented on #2985
I have gone through the comments in this issue and this sounds to be a new dialog?Can this also be moved to the next milestone?or anyone with updates on this.

[2017-06-30 14:15] AlexSananka commented on #3006
there is a great improvement on the speed of how the software loads even using large data sets,I do not know if this issue was related to the same,If so then I think it should be closed.

[2017-06-30 14:22] AlexSananka commented on #3025
@dannyparsons any updates on this?

[2017-06-30 14:23] rdstern commented on #3366
What data are you using?  I would like to see it.  I suggest that we have an issue for the Define Climatic Data, for it to check that the Station and date do define a unique combinations.  This could be a similar control (check) that we already have in the Define key dialogue.

Often we will have done that check earlier, but not necessarily.

If it fails, this is where we need the new Prepare > Ch

[2017-06-30 14:28] #3442 closed

[2017-06-30 14:33] shadrackkibet commented on #3366
[samaru_stations.zip](https://github.com/africanmathsinitiative/R-Instat/files/1115525/samaru_stations.zip)

This is the data that i am using.

[2017-06-30 14:39] volloholic commented on #2941
@rdstern What remains to be done and can these data go into the library?

[2017-06-30 14:40] volloholic commented on #2945
@dannyparsons is this still working?

[2017-06-30 14:45] volloholic commented on #2973
@dannyparsons I propose we close this and open a new issue with any remaining aspects so they can be assigned an appropriate milestone.

[2017-06-30 14:45] #2978 closed

[2017-06-30 14:50] #3006 closed

[2017-06-30 14:57] maxwellfundi commented on #1985
Can be closed now

[2017-06-30 15:36] #3072 closed

[2017-06-30 16:08] volloholic commented on #3153
@shadrackkibet  is this done?

[2017-06-30 16:10] #1985 closed

[2017-06-30 16:15] shadrackkibet commented on #3153
-dlgCorrelations and it's sub dialog is now ready.
-I am still working on sdgcanonical , i am in the middle updating.
-dlgCorrelations and it's sub dialog are in my list of TODO:

[2017-06-30 16:22] lilyclements commented on #3434
I haven't done this on SOR, EOR or spells yet. I know SOR and EOR are open on pull requests. I'll sort these three dislogs shortly

[2017-06-30 16:26] shadrackkibet commented on #3434
@lilyclements i have worked on dlgspells to change selector headers.Did you had a pullrequest on this?

[2017-06-30 16:29] lilyclements commented on #3434
Great thanks. No I don't have an open pull request on spells, thank you

[2017-06-30 16:42] AlexSananka commented on #1766
@dannyparsons can this be closed now?

[2017-06-30 16:44] #3366 closed

[2017-06-30 16:44] AlexSananka commented on #1751
What's the state of this?It looks it has been open for some time.

[2017-06-30 16:55] shadrackkibet commented on #3336
@volloholic  this can now be closed.

[2017-06-30 16:57] #2836 closed

[2017-06-30 17:00] volloholic commented on #2775
@lilyclements Is this done now? can I close?

[2017-06-30 17:00] #2773 closed

[2017-06-30 17:10] lilyclements commented on #2775
End of Season needs a small change - it has the option for the evaporation column, but currently this is disabled so the user can only write in the number

End of Rains needs a few changes still, but the R-Code is written in so it's (hopefully!) just little VB-bits

[2017-06-30 18:27] maxwellfundi commented on #2185
We can add this so easily to all files actually. So i am not sure what licence to put here. So do we need to draft our licence that will replace the current old one?

@volloholic  @dannyparsons @rdstern i would like to hear your suggestions.

Thanks.

[2017-06-30 18:33] volloholic commented on #2185
The current one looks fine except the first two lines.

[2017-06-30 18:42] maxwellfundi commented on #2185
@volloholic is it okay if i changed `'Instat-R`  to `R-Instat` or i just get rid of it?

[2017-06-30 18:49] dannyparsons commented on #2979
This seems to be a reogrid issue. We could try forcing a refresh of the grid to see if then it will sort itself out.

[2017-06-30 18:54] dannyparsons commented on #3025
I think this is again a reogrid issue. Refreshing the grid may sort this out. It would be good to test this.

[2017-06-30 19:03] dannyparsons commented on #2945
No it needs some work and needs to be updated.

[2017-06-30 19:04] dannyparsons commented on #2973
Sounds fine, who will pick out the remaining issues?

[2017-06-30 19:04] volloholic commented on #2185
R-Instat is correct

[2017-06-30 19:53] dannyparsons opened #3535 "Change grid data frame from data frame selector"
A less extreme version of #1985 would be to have a right click option on the data frame selector to "show selected data frame in grid" so that it doesn't always have to change every time you change the data frame.

[2017-06-30 19:56] dannyparsons commented on #1766
thanks

[2017-06-30 19:56] #1766 closed

[2017-06-30 21:11] #1751 closed

[2017-06-30 21:13] #3336 closed

[2017-06-30 21:21] dannyparsons commented on #2185
Copyright date should be 2015-2017 and second last line should not have `k` at the end.

[2017-07-01 08:03] stevenndungu commented on #3451
Alex and I  have added this to all one var models. So this is addresed. I think this issue can be closed now(?)

[2017-07-01 08:38] stevenndungu commented on #2251
This can be closed since all this options are on  the two sample option for the two var fit model and exact case of one var fit model. Once the this is enabled this will be sorted out.

[2017-07-01 08:44] stevenndungu commented on #3387
This can be closed now.

[2017-07-01 09:54] shadrackkibet commented on #3434
@lilyclements  did you do this on SOR and EOR so that this can now be closed?

[2017-07-01 10:41] #3451 closed

[2017-07-01 10:42] #2251 closed

[2017-07-01 10:43] #3387 closed

[2017-07-01 10:44] #3473 closed

[2017-07-01 11:25] #3399 closed

[2017-07-01 13:50] shadrackkibet commented on #3039
@dannyparsons can this be closed or i change this in an open pullrequest i am working on?.

[2017-07-01 14:11] shadrackkibet commented on #3450
@dannyparsons this can now be closed.

[2017-07-01 14:13] #3450 closed

[2017-07-01 14:58] shadrackkibet commented on #3434
This can be closed.

[2017-07-01 15:24] #3434 closed

[2017-07-01 15:32] dannyparsons commented on #3457
I have fixed the main issue here - which is that the current filter was ignored by the dialogs. I don't think the summary table could have been using the current filter, because it's the same method. This fix also means Column Summaries now uses the current filter since it's the same method again.

Remaining issues can be done for 0.4

[2017-07-01 16:09] stevenndungu commented on #2815
This can be closed now.Checked the sub-menu as well.
Note: dlgAddComments is disabled for now since it is not fully implemented

[2017-07-01 16:58] dannyparsons opened #3541 "Major LoaderLock crash in RDotNet"
Occasionally getting this error on `clsRlink.Evaluate()`:

From here: https://stackoverflow.com/questions/56642/loader-lock-error I thought this would be resolved by running in a separate thread, so maybe the issue is deep in the R Link.

This is the call stack:
[code]

Strangely I got it quite a few times doing Insert Row(s), but not always.

I think @lilyclements has encountered this more often

[2017-07-01 17:00] maxwellfundi commented on #3504
@dannyparsons remember to include this while you are adding/ updating packages

[2017-07-01 17:01] #2815 closed

[2017-07-01 17:02] dannyparsons commented on #2815
Individual issues can be opened for remaining issues related to this.

[2017-07-01 17:05] #3460 closed

[2017-07-01 17:44] dannyparsons commented on #3444
@Lunalo what's the state of this?

[2017-07-01 17:48] dannyparsons commented on #3416
Pushing this back unless someone feels it's urgent

[2017-07-01 17:51] dannyparsons commented on #1935
@lilyclements @stevenndungu anything left on this?

[2017-07-01 17:52] #3499 closed

[2017-07-01 17:56] #2921 closed

[2017-07-01 17:57] dannyparsons opened #3543 "Save control should give warning when overwriting"

[2017-07-01 17:58] #2973 closed

[2017-07-01 18:00] dannyparsons commented on #1741
@rdstern are any of these features still desired/relevant given the other changes to this dialog recently?

[2017-07-01 18:01] dannyparsons commented on #3226
@rdstern which milestone does this need to be working well for?

[2017-07-01 18:04] dannyparsons commented on #3284
Developer errors on combo boxes fixed.
When I change the geom on the aesthetics tab, it update on the other tab.

@maxwellfundi what are the remaining issues here?

[2017-07-01 18:16] stevenndungu commented on #1935
Looking on show model pull request

[2017-07-01 18:18] maxwellfundi commented on #3284
Did it update the parameters for the new geom? That was an issue too

[2017-07-01 18:27] maxwellfundi commented on #3284
@dannyparsons So we have it still when i change the geom on the aesthetics, it chnges on the layer parameters but it doesnt populate the correct parameters.

[2017-07-01 19:08] stevenndungu commented on #3371
This issue is fixed. This should be closed now.

[2017-07-01 19:27] dannyparsons commented on #3284
That's fixed now. You're saying all of the crashes Lily got with different geoms is fixed now?

[2017-07-01 19:29] dannyparsons opened #3548 "When I click Add new layer on the Layers controls it should show the first tab"

[2017-07-01 19:31] #3371 closed

[2017-07-01 20:07] dannyparsons commented on #1935
This was merged so will close this as specific issues can be opened in new issues

[2017-07-01 20:07] #1935 closed

[2017-07-01 20:13] rdstern commented on #3226
It could be worth a quick look for 4.0 to see if it can be fixed very easily, but probably leave it to 4.1 (August)

[2017-07-01 20:20] rdstern commented on #1741
No - this is now great.  Can be closed.

[2017-07-01 20:31] #1741 closed

[2017-07-01 20:36] #2185 closed

[2017-07-02 07:34] rdstern opened #3554 "Enhancing the R busy popup"
I like this feature.  I also like the fact we can have a variety of messages in the popup.  But:
1. **On my machine it is popping up too often.**  And quite often it is just for a second and then it is gone.  Also it sometimes pups up multiple times in a single dialogue command (which (I think is multiple R commands).  I suggest the default be set higher - say 5 seconds.  I think Danny suggests 4

[2017-07-02 08:56] lilyclements commented on #3284
I would like to test this out again in that case! Hopefully will get some time this afternoon

[2017-07-02 11:38] dannyparsons commented on #3554
@maxwellfundi Can you do 2.? Similar options to the auto saving you already added i.e. checkbox and nud:
"Show waiting dialog when command takes longer than [ ] seconds to complete".

[2017-07-02 11:39] #3504 closed

[2017-07-02 11:41] #1941 closed

[2017-07-02 11:43] #2285 closed

[2017-07-02 11:44] dannyparsons commented on #2294
@rdstern good to test with this data again?

[2017-07-02 11:46] #2295 closed

[2017-07-02 11:47] #2296 closed

[2017-07-02 11:48] dannyparsons commented on #2297
The up/down controls have now been replaced with text boxes with numeric validation to make it easier to type in any numeric value.

[2017-07-02 11:48] #2297 closed

[2017-07-02 11:52] #2308 closed

[2017-07-02 11:54] #2310 closed

[2017-07-02 11:55] #2311 closed

[2017-07-02 11:55] #2314 closed

[2017-07-02 11:57] #2316 closed

[2017-07-02 11:58] #2321 closed

[2017-07-02 12:09] #2322 closed

[2017-07-02 12:11] dannyparsons commented on #2328
Good to test with this data again and also reconsider variables containing time

[2017-07-02 12:11] #2336 closed

[2017-07-02 12:51] dannyparsons commented on #2343
Good to revisit these if possible. The major error being when you delete a column which is being used in the current filter you get a crash. If this is resolved the rest could be pushed to later since they don't cause a major crash.

[2017-07-02 12:52] #2362 closed

[2017-07-02 13:00] #2368 closed

[2017-07-02 13:06] #2384 closed

[2017-07-02 13:14] #2549 closed

[2017-07-02 13:14] #2553 closed

[2017-07-02 13:24] dannyparsons commented on #2588
This appears to be fixed from my testing, but reopen if there are still issues.

[2017-07-02 13:24] #2588 closed

[2017-07-02 13:26] #2834 closed

[2017-07-02 13:34] #2627 closed

[2017-07-02 13:46] #2644 closed

[2017-07-02 13:46] dannyparsons commented on #2645
This is now implemented

[2017-07-02 13:46] #2645 closed

[2017-07-02 13:47] #2678 closed

[2017-07-02 13:56] dannyparsons commented on #2679
We've discussed this again here and I think decided that since we do not currently need any components  beyond 4.0 we will stick with this. But as soon as we need something only available in later .NET versions we will upgrade.

[2017-07-02 13:56] #2679 closed

[2017-07-02 14:03] dannyparsons commented on #2690
I just tried this again on the latest version and seems to import fine now. We no longer use `openxlsx` to import Excel file by default so that's probably why. Let me know if you have any more awkward files for testing.

[2017-07-02 14:03] #2690 closed

[2017-07-02 14:05] #2743 closed

[2017-07-02 14:14] dannyparsons commented on #2771
Tested this and still get the error. I think this is an issue with adding columns when the names contain spaces. Need to look at the checks being done on column names.

[2017-07-02 14:15] #2776 closed

[2017-07-02 14:19] #2793 closed

[2017-07-02 14:20] #2811 closed

[2017-07-02 14:21] #2819 closed

[2017-07-02 14:22] #2832 closed

[2017-07-02 14:22] #2837 closed

[2017-07-02 14:23] dannyparsons commented on #2841
This is still useful to consider.

[2017-07-02 14:24] #2846 closed

[2017-07-02 14:27] dannyparsons commented on #2848
Metadata is now retained when converting columns.

[2017-07-02 14:27] #2848 closed

[2017-07-02 14:28] #2855 closed

[2017-07-02 14:32] dannyparsons commented on #2857
It's useful to remember feedback we get from users.
When there are many levels with long names doing a proper table using another dialog is a better way to really view them. Levels/labels is for editing and adding levels mainly.
But I can still see it's useful to make the grid bigger in this dialog.

[2017-07-02 14:35] dannyparsons commented on #2862
Having this consistency as much as possible very soon is important. If possible we should have an informative label other than "Selected Column:".
We don't have time to have long discussions about this so I'm happy for people to make sensible decisions about the labels on dialogs they work on. If you can't think of something short and sensible then ask for someone else's opinion.

[2017-07-02 14:39] dannyparsons commented on #2868
We should consider what we can do about this for 0.4.0 particularly on the size of controls.

[2017-07-02 14:41] dannyparsons commented on #2873
This is now working correctly.

[2017-07-02 14:41] #2873 closed

[2017-07-02 14:44] lilyclements commented on #2862
In general, this has been good. There has been improvement among the software of the receiver labels in the past month or so which is great. I'm sure there's still dialogs which need this edit but it's not as common :)

[2017-07-02 14:48] lilyclements commented on #2868
I also think on the size of grids on dialogs this can be improved. For example, Levels/Labels from memory. When doing SSD work and naming labels, the length of what I wanted to name it was longer than the length of the dialog/grid. This meant I couldn't actually see some of what I was writing so I had to hope for no typos. When there was a typo I would have to re-write it all instead of getting to

[2017-07-02 14:58] lilyclements commented on #2776
View Data still needs one more enhancement - the controls are either set up or half-set-up for this. With view in HTML format we want to be able to sort with respect ti a variable but this can't  be done yet because this requires a single receiver where the item in the single receiver also has to be an item in the multiple receiver. This means once we can restrict the single receiver to only items

[2017-07-02 15:04] #2640 closed

[2017-07-02 17:12] lilyclements opened #3556 ""An R Command is Running" dialog box - question, potential bug"
So when running R-Instat today, it crashed. A known problem so no need to write an issue on that.

When I crashed, I couldn't press "stop" on VB because the "An R Command is Running" box is up and covering the "stop" button and won't let me press it. It also won't let me move that "An R Command is Running" box

If this were to crash on a downloadable-version, would the box when it crashes that say

[2017-07-02 18:40] volloholic opened #3558 "Model Menu"
The model menu needs to include a basic implementation of 'down from the mountains' modelling. In particular dialogs should exist which enable the user to start with the data and then get an appropriate model following a basic decision tree.

The basic decision tree should be written up and open educational resources should exist to facilitate the process.

[2017-07-02 18:49] dannyparsons commented on #3039
Yes this dialog has now been updated.. The bivariate/multivariate could be on the radio buttons in the dialog. Because we have two columns vs multiple columns option so in general it is multivariate but one of the dialog options in bivariate.

[2017-07-02 18:49] #3039 closed

[2017-07-02 18:52] dannyparsons commented on #3024
I can see the confusion. It's because we are using R methods or our own methods for the different options so they work in different ways. I think even changing the dialog would be useful because "Customise" isn't quite the right word for what's happening as users will expect something different from "Customise" as you mention.

[2017-07-02 18:55] dannyparsons commented on #2989
Is there still an issue with this data? If you send it I can have a look at it.

[2017-07-02 18:58] dannyparsons commented on #2913
@maxwellfundi  I'm going to close this but this would be really good for developer documentation. Could you copy Lily's comment including the images and put it in your developer documentation?

[2017-07-02 18:58] #2913 closed

[2017-07-02 18:58] #2910 closed

[2017-07-02 19:00] dannyparsons commented on #2908
@shadrackkibet Does this change if you change the size of the frmMain? If not let's come back to this later.

[2017-07-02 19:00] #2903 closed

[2017-07-02 19:01] #2902 closed

[2017-07-02 19:03] dannyparsons commented on #2901
This is something we can get feedback on once we get more users and review if needed.

[2017-07-02 19:03] #2901 closed

[2017-07-02 19:05] dannyparsons commented on #2886
Tagging this as 0.x since lots of useful comments on factor data frames etc. even though labels are implemented.

[2017-07-02 19:08] dannyparsons commented on #2882
Separate threads for running R code has been implemented but this does not allow us to abort an R command. This will require modifying the `RDotNet` package to allow it's `Evaluate` function to be aborted.

[2017-07-02 19:09] dannyparsons commented on #2879
@maxwellfundi Can you check if this is still an issue?

[2017-07-02 19:10] dannyparsons commented on #2878
I'm pretty such this is still an error and needs to be addressed soon.

[2017-07-02 19:11] dannyparsons commented on #2900
@maxwellfundi I think this is done? Is it done on log and script windows as well?

[2017-07-02 19:12] dannyparsons commented on #2898
We should do something on data options soon so that it's stable in 0.4

[2017-07-02 21:30] #3556 closed

[2017-07-02 21:35] dannyparsons commented on #2862
Great. @africanmathsinitiative/developers please have a quick check through the menus for this.

[2017-07-03 07:06] lilyclements opened #3560 "One Variable Fit Model"
1. I'm not keen on that when you use a factor, a checkbox comes up that says "Convert to Variate" and is checked and won't let you uncheck it.
If this bug is planned to be fixed in the future, then can we make it so this option is disabled as otherwise it may confuse the user?
If this isn't a bug but is instead that you have to convert it to a variate in order to use a factor, then I don't agree w

[2017-07-03 07:22] lilyclements commented on #3377
@africanmathsinitiative/developers this needs to be updated. I've done most of the work and will hopefully find a time to finish it. However, it would be really helpful to know what enhancements were planned for this dialog.

[2017-07-03 08:16] dannyparsons commented on #3560
The convert to Variate should behave as it does on the two/three variable dialog, which is different to how you've described. @stevenndungu @AlexSananka can you get it to behave as the other dialogs?

[2017-07-03 08:23] dannyparsons commented on #3377
I think if it can easily be updated as it is, we should start with that and then see if there will be time to make enhancements later. I don't think there will be major changes to the dialog any time soon so enhancements shouldn't change too much if we want to do them.

[2017-07-03 08:40] lilyclements commented on #3377
Great  updated in #3562

[2017-07-03 08:44] volloholic commented on #3554
2. should obviously be done by version 0.4.0 and is easy. However I believe that 4 is too long to go without as a default. I think even 2 seconds is a long time to not have any response. I can see how once you know it's coming it's annoying to be flashing up and down but the default delay should be too short rather than too long, you can then lengthen it if you are getting it too often.

[2017-07-03 08:47] dannyparsons commented on #3554
Oops, just released the current delay is 0.5 seconds, not 2! That would explain it coming up too much at the moment. I'll set it to 2 seconds now by default. That should be more acceptable for this version.

[2017-07-03 10:05] #3554 closed

[2017-07-03 10:39] dannyparsons opened #3564 "Add maxsum to one variable describe (base R summary)"
base R `summary` has a `maxsum` parameter:

Very useful to have this on the dialog. It only applies when using base R `summary` so when customise is checked this option should be hidden/disabled. The R default is 7. Ours could be 7 as well unless we want something different.

[2017-07-03 10:56] volloholic opened #3565 "Model Menu - full implementation"
A full implementation of 'down from the mountain' modelling including bootstrap, multinomial and Bayesian options. This system should include everything needed to teach at any level up to a standard full undergraduate statistics degree.

 In particular dialogs should exist which enable the user to start with the data and then get an appropriate model following a basic decision tree.
The basic deci

[2017-07-03 11:00] volloholic opened #3566 "Refill from previous R command"
By version 0.9.0 the read-write system should enable a user to click on a previous piece of code in the output window and repopulate the dialog used to generate it.

[2017-07-03 11:03] volloholic opened #3567 "Redo from script."
By version 1.0 the read-write system should enable a user to read in a script from a file and rerun the script as a series of dialogs editing as desired.

[2017-07-03 11:14] volloholic opened #3568 "Freedom from platform dependency and rdotnet!"
The current implementation is a .net product and as such is tied into the associated platform dependencies. We are also subject to the limitations of the rdotnet package which is currently facilitating our link to R.

This is acceptable as the vast majority of our target audiences are windows users and the initial development would not have been possible without these compromises under our chosen

[2017-07-03 11:17] volloholic opened #3569 "Graphics implements full GGPlot flexibility"
The dialog system should be able to enable all options available in GGPlot.

[2017-07-03 11:40] volloholic opened #3570 "Table and summary system"
The R-Instat tables should include a full range of summaries and options enabling the creation of publication worthy tables for almost all audiences.

[2017-07-03 11:51] dannyparsons commented on #3458
Also noticed that tables don't appear when I open in Word. Do they for you? It should be possible to display the graphs as they are just images, but the tables are more complicated since they are html in the output window.

We possibly will need to do some internal converting of these objects to export correctly as an rtf file e.g. convert html table to a Word table.

Still investigating...

[2017-07-03 11:52] volloholic opened #3571 "Combined Grammar for Descriptive Statistics"
Building from GGPlot and the Tables summary system the intention is to bring together these tools so that users interact with a single system to easily produce publication quality tables and graphs.

Such a unified system should be able to easily produce tables and graphs from multilevel data. It should also include a consistent look and feel across tables and graphs defined by a common approach t

[2017-07-03 12:11] dannyparsons commented on #2857
I have made the levels/labels dialog and the grid bigger for now while keeping it within the size on minimum screens. I'll close this but there could be specific points related to comments here as new issues.

[2017-07-03 13:42] volloholic opened #3572 "File menu connections"
By version 0.9.0 connections to digital data platforms like ODK, CSP and online databases should make it easy to import almost any set of data rectangles.

[2017-07-03 13:46] volloholic opened #3573 "Multi level file import and export."
By version 1.0 the intention is to be able to automatically preserve and work with the multilevel data within R-Instat, as such the associated links with outside data sources should read and write these links. This will include ODK, CSPro, NetCDF, and online databases.

[2017-07-03 14:08] volloholic opened #3574 "Analysing Multi-level data seamlessly"
By version 1.0 the intention is to bridge the gap between large multilevel data collection and analysis. The ability to perform statistical analyses of multilevel data while preserving the data's natural structure should facilitate the exploration and exploitation of complex data.

[2017-07-03 14:17] volloholic opened #3575 "R-Instat packages"
Publish the R-Instat R code as an R-Package on CRAN including all relevant documentation and testing.

[2017-07-03 14:19] volloholic opened #3576 "Complete Documentation for entire menu system"
By version 0.9.0 the entire help system documentation should be complete for all menu items.

[2017-07-03 14:23] volloholic opened #3577 "Complete in-line documentation for all code."
All code should have appropriate in line documentation describing all functions methods and structures.

[2017-07-03 14:27] volloholic opened #3578 "Full developers documentation"
A full developers documentation package to enable other open source developers to easily understand and contribute to the code base.

[2017-07-03 14:29] volloholic opened #3579 "Video library of support and training materials"
A full video library of how-to and tutorial videos covering almost all the key components of the software.

[2017-07-03 14:31] volloholic opened #3580 "Comprehensive help system"
A complete help system integrating help on the dialogs with resources to understand the underlying statistics and R code.

[2017-07-03 14:36] volloholic opened #3581 "Full customisation of the window layout"
An implementation of the embedded forms which allows almost any configuration of windows imaginable.

There should also be the ability to save and export a given custom view once it is created to share with others.

[2017-07-03 14:45] volloholic opened #3582 "Multiple views"
A collection of different views with easy mechanisms to switch between them.

At the minimum this should include:
- The current data-output focused view.
- A variable-output focused view for larger data-sets where viewing the data itself is impractical.
- A log-output focused view which would help in the preparation of script files.

[2017-07-03 14:56] volloholic opened #3583 "Functional Climate menu"
An implementation of the climate menu that is fully functional. This should be useful for PICSA and include basic tailored products from historical data for meteorological services.

[2017-07-03 15:03] volloholic opened #3584 "Functional system for Tailored menus"
A designed implementation system for tailored menus with appropriate documentation, whereby a new audience could know if a tailored menu could match their needs. At least a couple of illustrative examples should be complete.

Current expectation is that tailored menus are built around the programmatic identification of a common data type. This enables dialogs to auto-fill standard analyses of that

[2017-07-03 15:45] dannyparsons commented on #2800
- Column summaries can now run without choosing variables. It ignores whatever summaries you have chosen and just does counts. Better long term solution for this needed but was simplest to implement now.
- Counts also display as integers now.

Only remaining task is looking at the unstack dialog - this could be a separate issue to look at enhancements to this.

[2017-07-03 15:51] #2857 closed

[2017-07-03 15:51] #2878 closed

[2017-07-03 15:51] #2898 closed

[2017-07-03 15:51] #2800 closed

[2017-07-03 15:53] dannyparsons commented on #2898
This is now stable and creating and applying a filter works correctly - the data frame is now fixed so it must match dialog data frame. Modified sub dialog buttons so they are disabled when you click Return like on main dialog base buttons. This prevents repeated pressing.

There's lots more to do data options but I think immediate bugs have been resolved, please check and report any further issue

[2017-07-03 16:21] lilyclements opened #3588 "Increase size of reorder dialogs"
The reorder controls are quite small. I think we can make them bigger to help make them easier to use, which in turn means a larger dialog.

[2017-07-03 16:32] dannyparsons opened #3589 "Reorder control enhancement"
I think that the reorder dialogs can be improved in a few ways.

It would be good if we could select multiple items to reorder. For example, with months the order sometimes goes: 1,10,11,12,2,3,4,5,6,7,8,9. I would just want to put 10,11,12 at the end. It would be good if I could just select 10,11,12 and click to move them all to the bottom at once

[2017-07-03 16:35] dannyparsons commented on #3588
Agreed.

When someone does this, the reorder control should be the same size on each dialog for consistency. Also, dialogs should be smaller than 640 x 480 because this is the minimum screen size a user might have (I don't think we want these dialogs that big anyway but good to keep in mind)

[2017-07-03 16:48] volloholic opened #3590 "Taming wide datasets"
Wide data-sets with hundreds or even thousands of columns are difficult to work with partly because dialogs and controls become unmanageable. Addressing this requires a whole host of features ranging from filtering and searching column names to easily reorganising data into a natural multilevel structure.

[2017-07-03 16:49] lilyclements opened #3592 "dlgTwoVariableFit and sdgSimpleRegOptions"
This is looking good. I have three minor points

1. If I select inverse.gaussian, this calls `family=inverse.gaussian()`. Is this intentional to have empty brackets? Similarly for Binomial, Quasibinomial, etc.

2. If I press "reset", it resets the checkbox for the ucrSave but not the contents of the input box.

3. On the sub dialog (sdgSimpleRegOptions) there is a few points:
a) If I go to Graphic

[2017-07-03 16:51] volloholic opened #3593 "Data options"
The data options sub-dialog should have improved functionality including filtering items based on metadata, displaying names & labels, and defining a filter for use only in the dialog.

[2017-07-03 17:02] dannyparsons opened #3594 "Count in Factor on Factor menu"
I noticed that Count in Factor is on the Generate menu but not the Factor menu. Should it be on both? If it should, in which position on the Factor menu does it belong?

[2017-07-03 17:07] rdstern commented on #3594
I think it is in the right place.  There are many dialogues that **use** factors, e.g. column summaries.  I see the factor menu as dealing with the factor columns themselves, not necessarily calculations that depend on factors.

[2017-07-03 17:12] dannyparsons commented on #3594
Thanks, that makes sense.

[2017-07-03 17:12] #3594 closed

[2017-07-03 17:18] dannyparsons commented on #3594
Just thinking, isn't this what you want for duplicate/unique columns not just factors?

[2017-07-03 17:21] dannyparsons commented on #2407
This is fixed and there was actually a general issue of the single receiver crashing when doing this on any dialog. Now fixed and this partially solves #1504 since variables that don't exist will be cleared in single receivers on reopen.

[2017-07-03 17:23] #2407 closed

[2017-07-03 17:23] #2590 closed

[2017-07-03 17:23] #2771 closed

[2017-07-03 17:25] dannyparsons commented on #2590
This was general for the reorder control. It now means that it refreshes when you reopen, which means it doesn't always reopen as it closed, but it shows the current order. Possibly what we want anyway.

[2017-07-03 17:30] dannyparsons commented on #1504
We now have a partial fix - the single receiver clears on reopen if the column no longer exists.

Still to do:
- Checks columns exists on reopening in multiple receiver
- Check the column satisfies metadata conditions for single & multiple receivers on reopen
- Implement checks when receiver is for other types - not only columns

[2017-07-03 17:33] rdstern commented on #3594
That's right - sort of.  If the count within the set of columns is more than 1, then the columns are not unique.
I don't know whether we could use this function in a way?
Did you see that Sam wrote a function for the count in duplicates?

[2017-07-03 17:41] dannyparsons commented on #3592
1. Yes because it is a function and if you select a link it will call `family=inverse.gaussian(link = "1/mu^2")` for example.

3.a) Yes agree should be invisible @stevenndungu @AlexSananka
  b) I think that's a bug
  c) I had some issue with the visibility of a group box when it was linked to a control so I left it like that but agree it's better if the groupbox hides too. Can anyone remember how

[2017-07-03 17:45] rdstern commented on #2407
Great!

[2017-07-03 18:25] lilyclements commented on #3592
3c) why doesn't it work to do say: ucrPnl.AddToLinkedControls(Groupbox)?

[2017-07-03 21:08] #3425 closed

[2017-07-03 21:42] dannyparsons opened #3596 "Count in Factor (dae::fac.nested) gives error with missing values"
Bug in `dae::fac.nested`, possibly write to author, modify the function ourselves or find another package to do this that works with missing values

[2017-07-03 21:52] dannyparsons commented on #3592
Because the group box controls the visibility of the controls inside. So when the control sets the visibility of the group box it can override what we want it to do.

[2017-07-04 06:02] rdstern commented on #3596
I'm inclined to write to begin with.  (I am happy to do so if you prefer.)
I checked a bit in the dae package and it looks reasonably useful for a variety of functions in the future.  I am surprised it isn't in our set of packages for data sets, because it has some.  I wonder if they are in an unconventional way?
Usually (in simple use) we won't have missing values in factor columns.  But in our s

[2017-07-04 06:41] stevenndungu commented on #3560
Thanks for reviewing this, addressing the issues highlighted

[2017-07-04 07:04] AlexSananka commented on #3592
I am fixing this issues

[2017-07-04 07:51] maxwellfundi commented on #2900
This is done on output window. Will get it done for other windows too

[2017-07-04 07:52] rdstern opened #3600 "Problem with recovery log"
I think there may be a problem with your recovery log "system".

I describe what happened to me, in more detail, below.  But I think the main problem is that I had an initial error.  Then I continued and later crashed out of R-Instat.
I then restarted and chose to run the log.  It gave me a long message and (I assume) was stuck because of the initial error.  I assume you can't have errors in a log

[2017-07-04 07:52] stevenndungu commented on #3564
Addressing this

[2017-07-04 08:10] rdstern opened #3601 "Packages to add"
Check whether to add the R package called gapminder.

This seems too good an introduction to gapminder to omit.  It seems little, though the gapminder unfiltered example may not read easily.  But the main example should show how our dialogue makes it really easy to access.

[2017-07-04 08:27] volloholic commented on #3601
Danny is adding now

[2017-07-04 08:32] dannyparsons commented on #3601
Good find! Renamed this to be about any new packages needed for next version. Add any other suggestions here.

[2017-07-04 08:38] rdstern commented on #3601
Could you also check here on the datasets that become available once a package is loaded?  I noticed that dae is one of our packages, but it is not listed, though it has some datasets.  Is that a data type issue?

[2017-07-04 08:51] maxwellfundi commented on #2879
@dannyparsons  i have tested and retested this and this issues seems not be an issue anymore. This can be closed.

Thanks

[2017-07-04 08:53] maxwellfundi commented on #1682
@dannyparsons  we need to do something about this. Do you have an Instat object method to get graphs from multiple data frames yet?

[2017-07-04 09:00] dannyparsons commented on #3601
We have to manually add the packages to the library dialog now so nothing gets automatically added. I can add the dae datasets to the dialog.

[2017-07-04 09:04] dannyparsons commented on #2879
Did you try doing single graphs? When I did it I just get a combined graph. Did you notice this?

[2017-07-04 09:06] dannyparsons commented on #1682
Not yet. I don't think this is a high priority for 0.4, but I will try to do this if there's time towards the end.

[2017-07-04 09:21] maxwellfundi commented on #2879
yes, Did single graph for one variable and still saved properly.

[2017-07-04 09:24] maxwellfundi commented on #2879
I have now tried the single graphs with multiple variables, creates a combined graph... :-(

Method needs to be edited to produce single graphs.... not combined graphs

[2017-07-04 09:24] dannyparsons commented on #2879
When I did single graphs I get a combine, not single graphs.

[2017-07-04 09:51] dannyparsons commented on #2879
Yep it's not working. But when I checked single I got this command:
`InstatDataObject$graph_one_variable(data_name="survey", columns=c("Village.","Field","Size","Fert","Variety.","Yield","Fertgrp."), numeric="geom_boxplot", categorical="geom_bar", output="facets", get_area_point="single")`

So it was still passing `output = "facets"`. Have a quick to see what happens if you correct this in the dia

[2017-07-04 10:14] shadrackkibet commented on #3588
should this be done on the reorder control or on individual dialogs?

[2017-07-04 10:19] #2879 closed

[2017-07-04 10:21] dannyparsons commented on #3588
Good question. It could be both. If you resize it on the control it won't automatically resize on the dialogs so you'll have to do both anyway.

Resizing on the control means when we add it to new dialogs it will be the correct size - so I think yes, do both. It's probably easier to get a consistent size that way too.

[2017-07-04 10:38] volloholic opened #3604 "Closing Data file and restarting environment?"
We can't restart the R link without starting a new instance of R-Instat but we can easily simply close the Instat object.

We could also reset the global environment but would probably then have to rerun the Rsetup.

[2017-07-04 10:50] rdstern commented on #3604
Genstat has both "Restart Server" and "Restart Session".  In Genstat this is at the bottom of the Run menu.

[2017-07-04 11:01] #3564 closed

[2017-07-04 11:04] volloholic opened #3607 "Fantastic factors!"
Factor level metadata linked to a factor dataframe and the columns on that dataframe usable when interacting with factor levels such as for a filter.

Multilevel data opens up the possibility of thinking about factors as collections of columns. Through automatic stacking it is possible to treat such factors in exactly the same way as normal factors.

[2017-07-04 11:41] volloholic commented on #2989
@mmumbo Can you help confirm if this is still an issue.

[2017-07-04 13:55] #2900 closed

[2017-07-04 13:55] mmumbo commented on #2989
Thanks a lot, its working perfectly well now. Well done!!

Attached is the data i was using @dannyparsons in case you are interested in looking at it.

[Time_Dates.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/1122271/Time_Dates.xlsx)

[2017-07-04 14:10] dannyparsons commented on #2989
Great, and interesting data. The columns import as a specific date type and we can do calculations on them. But we can't do everything we would like with the time components. This is useful to think about when we implement this @rdstern

[2017-07-04 14:10] #2989 closed

[2017-07-04 14:16] maxwellfundi commented on #1814
@dannyparsons do we know what icons we can use for these tools bar items?

[2017-07-04 16:30] rdstern opened #3611 "Number of columns displayed"
1. I had earlier changed the number of columns displayed to 45 from 30.  This was a number of R-Instat sessions ago.
I am now using the Sudan data and wanted to look at all the columns.  There are 96.  So I went into the Tools > Options, to find that my 45 is still there, but ignored by the current session of R-Instat.

I don't actually mind if I always have to start with 30 and 1000, but then sho

[2017-07-04 17:55] rdstern opened #3613 "Save data shows error"
I have the Sudan data, which is now an rds file.

I made a few changes (columns into factors) and then tried the Save icon.  I got an error:

_Error running R command(s)

External component has thrown an exception.

The error occurred in attempting to run the following R command(s):

saveRDS(file="C:\Users\Roger\Documents\Roger new\Roger\AIMSNEI\AIMS Tanzania\Statistics course 2016\Week 3\Sudan\Su

[2017-07-04 18:04] dannyparsons commented on #1814
I don't have any images in mind. Are there free ones we can use online?

[2017-07-04 18:24] AlexSananka commented on #3592
This should be closed now.

[2017-07-04 18:41] rdstern commented on #3613
Now odd.  I tried again now with Save, and it is working now.

Is this our occasional RDOTNET error?

[2017-07-04 19:01] #3592 closed

[2017-07-04 19:02] dannyparsons commented on #3613
No I don't think so because it would have crashed completely. Possible the file was in use when you tried to save it?

[2017-07-04 19:04] shadrackkibet commented on #3588
@dannyparsons  this can now be closed.

[2017-07-04 19:05] shadrackkibet commented on #2908
@dannyparsons This can now be closed.

[2017-07-04 19:15] #3588 closed

[2017-07-04 19:15] #2908 closed

[2017-07-05 05:11] rdstern opened #3614 "Column metadata tab keeps changing"
I am working with the column metadata open and multiple data frames.
The column metadata seems very keen to always show me the last tab.  In my case this is the data frame called wm (for women).  I am working on the household data (dataframe hh).  I am changing columns with labels into factors.  I have (sorry) changed the number of visible columns to 100 to see all the columns.

My procedure is to

[2017-07-05 05:47] rdstern opened #3615 "Label for margins in tables"
Currently, with frequency tables, the margins are labelled "count".  This is a bit confusing when the dialogue has selected a percentage, as opposed to the count!

I understand why, but suggest it should change.  I notice in ggplot2, where you can get margins, it labels them as **(all)**.

For other statistics the name may continue, but I suggest we change the counts one - at least in the frequenc

[2017-07-05 07:08] dannyparsons commented on #3615
What should we change it to?

[2017-07-05 07:42] #3548 closed

[2017-07-05 10:52] volloholic opened #3618 "Saving and continuing on the same 'workspace'"
Enable users to shut down R-Instat and reopen to resume working where they left off.

[2017-07-05 11:11] volloholic opened #3619 "Easy two way communication between R-Instat and RStudio"
R-Instat can export an R environment as an RData file. We would also like to be able to read exported RData files back into R-Instat.

This would enable users to switch back and forth between R-Instat and other R interfaces, such as RStudio, without users needing to learn R-Instat's R data structures.

[2017-07-05 13:39] dannyparsons commented on #3611
1. Possibly this was set before it was fully functional. And so the Options dialog had the correct value, but the R link didn't. Mine works correctly, including displaying the correct number of columns on reopen. If yours works fine now that I think that was the issue.

2. Yes I think we could have these options as well.

3. Yes that would be good. If you have time to write a few of these "Did you

[2017-07-05 13:52] dannyparsons commented on #3611
Sorry, 1 is wrong. On reopening it was reverting back to 30. I'm correcting this now.

[2017-07-05 15:49] #3611 closed

[2017-07-05 15:50] dannyparsons opened #3622 "Data frame specific max rows/columns"
From here #3611

[2017-07-05 15:52] dannyparsons opened #3623 "Create messages for the waiting dialog"
These could be "Did you know", links to the help, links to external websites.

Having a bank of these to rotate would be good so that the waiting dialog isn't static.

[2017-07-05 16:48] #2279 closed

[2017-07-05 17:04] dannyparsons commented on #3614
I believe I have fixed this. I used two data sets and when I changed something in either in the data view or the metadata view, the metadata view now stays on the same sheet. I've also corrected the issue of metadata columns sometimes reordering when it refreshes. The order is now: Name, Label and then everything else in alphabetical order. Also, the max labels to display for labeled columns is no

[2017-07-05 17:04] #3614 closed

[2017-07-05 17:46] #3601 closed

[2017-07-06 05:18] rdstern commented on #3623
And these messages could be in different colours.
1. The message we have now should mention that you need to be connected.
2. **Did you know:** You can easily View the whole of a data frame.  Just **Right Click** on the bottom tab and select **View**.
3. **Did you know:** Importing data from many other packages is easy.  Use **File > Open** and choose the source you have.  You can export to other

[2017-07-06 08:02] lilyclements opened #3633 "Column Metadata crash"
If I open Column Metadata (Prepare > Data Frame) then it crashes.

Not sure how far through this dialog is, so if this should option should be disabled on the main form, or if the dialog needs fixing.

EDIT: Seems to be an empty dialog so presumably this should be disabled on the main form.

[2017-07-06 08:36] stevenndungu opened #3634 "One Variable Fit Model (Convert to Variate Bug)"
This was intentionally introduced in order to have 1,2,3 and 4  model dialogs behave consistently.
For this case;
We have set it possible for the user to convert to variate or not to depending on what they want to achieve. This implies that the ucrdistribution should have restriction, such that, when we have a factor variable in the receiver then the ucrdistribution should limit distribution that

[2017-07-06 08:36] lilyclements commented on #2862
Polynomial and Permute have something like "Selected Variable:" on their label receiver still.

1. Should the label on dlgPermute be changed to "Columns to Permute:"?

2. I'm not sure of a suitable alternative for Polynomial. I can't see how to get Polynomials to work because "Polynomial" isn't a verb.

[2017-07-06 09:45] #3560 closed

[2017-07-06 09:47] dannyparsons commented on #2862
1. Yes.
2. Can stay as selected variables if there's nothing else sensible.

[2017-07-06 09:54] rdstern opened #3635 "Column metadata window"
I like the changes you have made.
1. When there are more than 4 value labels can this be indicated?  A "..." or plus, or ... perhaps.  Something easy, because, in the longer term it would be great to have a little grid opening.
2. Is it possible for the scroll bar at the bottom to be set to be narrow?  So the default is to show more tabs.    If it is a fraction of the width of the window, then per

[2017-07-06 11:23] stevenndungu commented on #2761
@AlexSananka  was the above mentioned issue addressed?

[2017-07-06 11:29] AlexSananka commented on #2761
This are still not addressed we can maybe have a look together and see what we can do

[2017-07-06 11:33] maxwellfundi commented on #3284
@dannyparsons @lilyclements I have been testing this and most of the issues here have been addressed.
With jitter, that happens because there has no mandatory aesthetics defined.
I could not find the developer error anymore, but we need to have ucrcolour to be non editable because if something that doesnt correspond to a colour is typed in then it causes a crash

[2017-07-06 12:17] dannyparsons commented on #3635
1. It should produce `...` at the end already.

2. The simplest thing I could do is when the grid becomes visible, it ensures the tabs have a width of at least 300. This looks ok on my screen but let me know if it should change.

[2017-07-06 12:17] #3635 closed

[2017-07-06 13:01] stevenndungu opened #3638 "Display R-Viewer Graph Option - Bug"
In our latest version, when you want to view your graph from the R-Viewer Option. The graph appears then disappears (Its totally not available for viewing).  I am not sure why this is happening. @africanmathsinitiative/developers could someone help to fix this..Both Dlg Options and Dlg View Graph has the same issue

[2017-07-06 15:02] dannyparsons commented on #3638
This is because of the changes in the R link. I can fix this.

[2017-07-06 15:08] dannyparsons commented on #3604
Close file now added to the menu. What do we want on restarting for 0.4?

[2017-07-06 15:11] rdstern commented on #3635
Great.  Thanks.  I must have had multiple examples which had exactly 4 levels!

[2017-07-06 15:40] volloholic commented on #3604
Minimum open new Instat Object (New name?) ideal would be to also enable the opening of a new independent instance of R-Instat but that could wait if it's not trivial or doesn't use a separate RDotNet instance. On that note have we check that multiple instances of R-Instat work with separate RDotNet instances?

[2017-07-06 16:15] dannyparsons commented on #3604
I can open a new instance with `Process.Start(Application.ExecutablePath)`. Although this gives errors in R when I try it through Visual Studio. When I run multiple instances of my installed 0.3.3 it works fine. I'm not sure about the RDotNet connection though.

When you open an instat object you have the option to clear the existing data frames. But that's not very obvious. A simpler Open/Close w

[2017-07-06 17:47] lilyclements commented on #3284
Surely with jitter then we need to say for OK to not be enabled (on the layers main dialog) if nothing is in any of the selectors. SO just we don't mind which selector is filled. As long as one is filled.

Good find with the colours bug!

[2017-07-07 13:45] rdstern opened #3640 "File > Export > data gave error"
This was not on the official version, so this may not happen on Version 0.33.  I was trying to write an excel file - didn't realise it would need a zip application anyway?

It didn't crash and I was able to save a csv version.

Error running R command(s)

Error: zipping up workbook failed. Please make sure Rtools is installed or a zip application is available to R.
         Try installr::install.r

[2017-07-07 14:34] rdstern opened #3641 "Prepare > Column: Reshape > Column Statistics error because of data type"
This was an understandable error.  I provide details below:

"Error running R command(s)

Error in full_join_impl(x, y, by$x, by$y, suffix$x, suffix$y, check_na_matches(na_matches)) :
  Can't join on 'yyyy' x 'yyyy' because of incompatible types (factor / numeric)

The error occurred in attempting to run the following R command(s):

.temp_val <- capture.output(InstatDataObject$calculate_summary(da

[2017-07-07 14:44] rdstern opened #3642 "Factor columns are too persistent!"
There still seem to be some issues concerned with factor columns.

Whether they can be dealt with by 4.0 is not clear.
 Once a column is a factor I cannot make it an ordered factor it seems.  And I wonder about dates?
 here are my issues.
1) I had a date column.  From that column I got a year column and also a month column.  It made the month into an ordered factor which is fine.  I made the year

[2017-07-08 03:00] rdstern opened #3643 "File > Open problem reading R files"
CAST (Doug Stirling) has provided 5 small files, which the File > Open dialogue recognises, but can't handle.
They all have the R extension.
The first is a single column as follows:
boxPlot5.2<-data.frame(Eruption.duration.sec=c(216,108,200,137,272,173,282,216,117,261,110,235,252,105,282,130,105,288,96,255,108,100,207,184,272,216,118,245,231,266,258,268,202,242,230,121,112,290,110,287,261,113,274,

[2017-07-08 07:25] rdstern commented on #3516
This dialogue should be easy to implement.  It can "borrow" structure and code from existing dialogues.  Nothing is needed that is not done (or soon will be) by the **Prepare > Column: Reshape > Column Statistics** dialogue.

It will just be made easier, because the columns being analysed, and the appropriate factor columns will be available automatically once the data frame has been defined to be

[2017-07-08 10:10] lilyclements commented on #3633
instead of having a .ShowDialog() when this is selected, it instead runs:

[code]

So I don't think it's a simple case of disabling it on the main form. What is `frmVariables`?

[2017-07-09 19:22] rdstern commented on #3523
I hope this will be easy to construct.
1. The top buttons and the whole left-hand side of the dialogue are taken from the existing Describe > Specific > Boxplot dialogue.
2. The right-hand side top part looks like the top part of all the other climatic dialogues, e.g. Climatic > Prepare > Start of the rains.
a) Station
b) Date
c) Year
d) Month
e) Data
f) Check box with field **More Data** for a se

[2017-07-10 12:05] dannyparsons commented on #3640
Possibly you don't have Rtools installed? Or it hasn't detected it? Can you check if you have it?

[2017-07-10 12:06] dannyparsons commented on #3641
This is sort of a known bug and a general issue for our linking system. I think we could do more to try prevent this error in future.
It should be clear in the documentation that changing the type of linking columns is not advisable at the moment.

[2017-07-10 14:23] #3633 closed

[2017-07-10 17:07] #3377 closed

[2017-07-10 18:02] rdstern commented on #2941
[PICSA data_SPSS_July_17.zip](https://github.com/africanmathsinitiative/R-Instat/files/1136563/PICSA.data_SPSS_July_17.zip)
Here are the Ghana PICSA evaluation data in Excel and SPSS form.  They are together with the questionnaire and some other processed data in Excel.
I suggest in the Instat library they go in a PICSA directory, so the files stay together.

[2017-07-11 09:57] lilyclements opened #3654 "ucrSelector - disabling "Data Options""
When the contents of the ucrSelector is not a variable, then the "Data Options" button should be disabled for now.

[2017-07-11 10:14] dannyparsons opened #3655 "Factor grids crash on reopening if data frame has been deleted"

[2017-07-11 10:29] lilyclements opened #3656 "Themes - bug"
@stevenndungu I believe you did work on themes. I've found a few small bugs on the themes tab on sdgPlots

1. The themes checkbox has a colon. This should be removed as checkboxes shouldn't have colons

2. If I uncheck themes and reopen, then themes is checked again and a developer error comes up

3. Should there be a default for the themes combo box?

[2017-07-11 11:31] lilyclements opened #3657 "Correlations Plots - bug"
@shadrackkibet I believe you were working on these? There is quite a big problem on the sub dialogs.

On the sub dialog for correlations, I'm unable to get my plots. It is just putting them in a white blank box. It is also not running the correct parameters, such as `geom`, `label`, `label_alpha`.
Additionally, we used to call `InstatDataObject$get_columns_from_data`, but now we are calling `Insta

[2017-07-13 07:27] AlexSananka commented on #2862
@lilyclements did you make this edits on permute columns or should I go on and make them?

[2017-07-14 08:08] lilyclements opened #3665 "get_data_frame bug with multiple receivers"
I noticed this in dlgDescribeTwoVarGraph. It is an issue in other graphics dialogs if you use the ucrFactorsToVariates as a multiple receiver.

"First Variables" isn't clearing on Two Variable Graph when switching data sets in `id.vars`, it keeps the old variable(s) and adds the new to the list of variables in the string. It is in `measure.vars`
This is a problem in `get_data_frame` I believe
So,

[2017-07-14 08:59] lilyclements opened #3666 "dlgRandomSamples - bug"
This is a bug potentially generally in SetRSyntax. I can change the name if so!

I had a look at dlgRandomSamples and found a few issues with the checkbox.
This checkbox used to be working well, and it's since the `AddRSyntaxContainsFunctionNamesCondition`/`etc` codes have been added to this checkbox that these bugs have been introduced.

I don't fully understand this new bit so not sure if it's a

[2017-07-14 09:08] AlexSananka commented on #3666
This is easy to fix,you just need to clear the codes in the `SetDefaults`

[2017-07-14 09:37] AlexSananka commented on #3665
How did you achieve this?I thought the second receiver is always a single receiver

[2017-07-14 09:39] AlexSananka commented on #3666
@lilyclements I have fixed this in my open pull request,were there any other issues with this check box apart from the ones listed above?

[2017-07-15 08:30] volloholic opened #3667 "Sam's Splitting"
Email from Sam which can be easily implemented as additional functionality on the split text dialog can we do this immediately? @lilyclements  @maxwellfundi @Lunalo We will discuss on the train I believe this might be worth doing immediatly or for 4.1

"I have had a thought about something that could be really useful to include in R-Instat, especially since you are trying to link it up with ODK.

[2017-07-15 12:20] volloholic commented on #3643
@lunalo this should be easy just run the script in r studio and import into an instated object and save as rds

[2017-07-15 12:47] lilyclements commented on #2862
@AlexSananka sorry just saw this. I haven't made the changes but will now!

[2017-07-15 12:49] AlexSananka commented on #2862
I have already made this changes on the pull request you just reviewed.

[2017-07-15 13:17] lilyclements opened #3668 "Nud resetting bug"
If I write a new number into a ucrNud and press reset then it resets as we would expect

If I clear the nud (so that OK is disabled) and then press reset, then nud does not reset.

[2017-07-15 13:32] #3654 closed

[2017-07-15 13:38] dannyparsons commented on #3643
and just change the comment line to: `attr(data, "label") <- "comment"` to be consistent with our metadata labels

[2017-07-15 14:16] lilyclements opened #3670 "Rename Data Frame bug"
I think we agreed this is for 0.4.1.

In dlgRenameDataFrame, the user currently can not rename the label without renaming the data set
If they try to just call the data set the same name as the current name, then an error comes up. As a result, this has been disabled in TestOK for now.

[2017-07-15 14:30] volloholic commented on #3615
We think we should go with all for now

[2017-07-15 14:47] volloholic commented on #3323
@maxwellfundi what about now?

[2017-07-16 10:40] #3429 closed

[2017-07-16 11:06] dannyparsons commented on #3466
Was anything done on this?

[2017-07-16 11:44] dannyparsons opened #3679 "packages to add"
- `questionr` (also for library)

[2017-07-16 11:45] dannyparsons commented on #3379
This is updated except for the filter and calculator controls

[2017-07-16 11:57] lilyclements opened #3680 "Main form - edits to make for 0.4"
@africanmathsinitiative/developers add here what we need to disable/etc on the main form.

So far I have:
* Climatic > File > NetCDF
* Possibly Jitter if it's not updated and merged in time (not urgent)

[2017-07-16 12:06] dannyparsons commented on #2475
This has been improved to allow more options in the single column case and help on how to construct the format. More could be done on thinking about the design for future versions.

[2017-07-16 12:06] #2475 closed

[2017-07-16 12:39] lilyclements commented on #3665
Yes so the second is always single. This error was occurring with the first receiver which is multiple.

I could also get this to occur on the plot dialogs if I used the multiple receiver not single receiver.

[2017-07-16 12:41] #3638 closed

[2017-07-16 12:48] #3667 closed

[2017-07-16 13:27] dannyparsons commented on #3122
@rdstern have you noticed this issue on any dialogs still?

[2017-07-16 13:32] dannyparsons commented on #2945
I was confusing this with the editing of column metadata dialog. This item just shows the column metadata grid. It's working, but shall we remove it?

[2017-07-16 13:33] dannyparsons commented on #3453
Is this functionality good now?

[2017-07-16 13:43] rdstern commented on #3453
I think it is OK now, but will check

[2017-07-16 13:43] dannyparsons commented on #3457
@rdstern to update on remaining issues here

[2017-07-16 14:10] rdstern commented on #3457
So far so good.  Filtering seems to work now on frequency.  I get a reasonable number of decimal places.  I still need to check on the NA.

I think I remember that having it always also appear in a separate window in the browser is harder to fix?

[2017-07-16 17:19] AlexSananka commented on #3680
Climatic>Display Daily Climatic Data

[2017-07-16 18:58] volloholic commented on #2761
@AlexSananka Update?

[2017-07-16 19:09] volloholic commented on #3100
@Lunalo update?

[2017-07-16 19:12] #3453 closed

[2017-07-16 19:14] #3188 closed

[2017-07-16 19:15] volloholic commented on #3047
@Lunalo  update?

[2017-07-16 19:20] volloholic commented on #3427
@Lunalo  update?

[2017-07-16 19:52] dannyparsons commented on #3502
Fixed developer error and disabled fourth radio button as various issues remain.

5. When reopening on "Reset to integers" the wrong radio button is checked. This is because the receiver is adding it's parameter back in.

[2017-07-16 20:14] dannyparsons commented on #3613
This has been fixed.

[2017-07-16 20:14] #3613 closed

[2017-07-16 20:18] shadrackkibet opened #3684 "prepare>columnText>distance."
@lilyclements i believe you worked on the distance dialog recently.When you open the dialog for the first time without running anything and then click on string rdo then reopen the dialog is fine (no developer error). But when you click on column rdo and then reopen there is a developer error.

![image](https://user-images.githubusercontent.com/26301973/28250990-d69d2e9c-6a7c-11e7-9386-30862d7c7de

[2017-07-16 20:27] rdstern opened #3685 "Ghana Climatic data"
[GMetData2.zip](https://github.com/africanmathsinitiative/R-Instat/files/1151328/GMetData2.zip)

This is (I think) the Ghana Met data to go into the Instat library
It goes into the Instat climatic library.

For now also delete the Ghana PICSA dataset, which is nothing of the sort.

[2017-07-16 20:30] lilyclements commented on #3684
Thanks for this Shadrack, good find. I'll fix that.

[2017-07-16 20:34] #3284 closed

[2017-07-16 20:52] rdstern opened #3688 "File sizes for RDS files"
The Ghana climatic data was saved using File > Export as an RDS file.  It was about 500K
I also saved it using File > Save As and it is about 14 times as big.  I did not do much work, but assume it may be saving the last graph, which was an inventory plot that might be making the difference.

This could become confusing and annoying with larger files perhaps.
The attached file shows both.  I wonde

[2017-07-16 20:55] rdstern opened #3689 "File > Open (or Open from Library) problem"
I open a file which gives a preview.

It is a large file so takes quite a time.  The message comes multiple times.  That's OK.

But when I want now to open a new different file it insists on showing me the old preview first.  This can take up to 30 seconds overall and is annoying, because I now want a new file.  I suggest that either the old view image is kept, or it doesn't try to load it again.

[2017-07-16 21:58] #3685 closed

[2017-07-16 23:38] #2941 closed

[2017-07-16 23:41] dannyparsons commented on #3097
Is this anything to do on this for 0.4?

[2017-07-16 23:42] dannyparsons commented on #2945
Leaving this as it is but can be removed if needed.

[2017-07-16 23:42] #2945 closed

[2017-07-16 23:43] dannyparsons commented on #3457
Yes that''s a bit more work. We can have a separate issue for this now.

[2017-07-16 23:43] #3457 closed

[2017-07-16 23:44] dannyparsons commented on #3100
What can be done on this for 0.4?

[2017-07-16 23:44] dannyparsons commented on #2862
I think we've good on this now?

[2017-07-16 23:44] #2862 closed

[2017-07-16 23:45] dannyparsons commented on #3444
There is a separate issue for this already #3427

[2017-07-16 23:45] #3444 closed

[2017-07-16 23:47] dannyparsons commented on #3600
@volloholic should we run each line separately for the recovery log? What should we do for 0.4?

[2017-07-16 23:48] dannyparsons commented on #3615
Done

[2017-07-16 23:48] #3615 closed

[2017-07-16 23:49] dannyparsons commented on #3640
This should be an RTools issue but should be checked.

[2017-07-16 23:50] dannyparsons commented on #3642
Factor into Ordered Factor has an issue currently. We need to rewrite some of the converting methods we use.
Factor to Date should work using Make Date. Should check why not.

[2017-07-16 23:52] dannyparsons commented on #3665
This is fixed for the case described above with two data frames. Are there any remaining related issues?

[2017-07-17 07:21] Lunalo commented on #3427
Yes, I had also wrongly referenced it

[2017-07-17 07:24] Lunalo commented on #3100
This was open to discussion. It was not clear from the discussion whether this needs to be fixed or not. @dannyparsons  what do you think about this?

[2017-07-17 07:35] stevenndungu commented on #3656
@lilyclements
1)That went unnoticed.
2) I get why the developer is given
3)Yeah, it should be `theme_grey`
Let me see the best way of addressing this. Thanks

[2017-07-17 08:02] #3657 closed

[2017-07-17 09:00] lilyclements opened #3696 "File > Import Dataset - bug"
@africanmathsinitiative/developers
I am unable to bring in any climatic data sets. However, I am confused. This was occurring on a branch from about a week ago, so I updated it thinking that that would solve the issue and that this was an older-problem. It hasn't solved it.
Is anyone else experiencing this? It is not ideal when trying to fix a climatic dialog!

I would be surprised if this issue h

[2017-07-17 09:05] lilyclements commented on #3696
I forced OK to be enabled in the code, and got this bug

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  there is no package called 'haven'

@dannyparsons is this to do with that I updated off your new branch where you made package changes?

[2017-07-17 09:20] lilyclements commented on #3696
closed R-Studio and it fixed the issue. I'll close this now, sorry!

[2017-07-17 09:20] #3696 closed

[2017-07-17 10:07] lilyclements commented on #3680
Disable End of Rains

[2017-07-17 11:17] dannyparsons commented on #3100
It's not for 0.4 now. We can discuss for next version.

[2017-07-17 11:26] lilyclements opened #3697 "Modelling bugs"
@africanmathsinitiative/developers these are fixes needed by the end of the day. I'm currently working on the One Variable case where I found other bugs.

**Display Options**
* If I check "Residual Plots", close the sub and reopen, then the checkbox is checked but the groupbox isn't visible. I think this should be a manual fix for now.
* Similar problem to above, but with "Fitted Model"
* On the F

[2017-07-17 11:42] #3656 closed

[2017-07-17 11:49] volloholic commented on #3655
@dannyparsons  is this fixed?

[2017-07-17 13:13] dannyparsons opened #3699 "Readme file"
The readme needs a basic description, link to websites etc.

[2017-07-17 14:24] stevenndungu commented on #3697
Addressing the bugs mentioned above: starting with display option

[2017-07-17 14:51] stevenndungu commented on #3697
@lilyclements  elaborate on this
"On Model > Fitted Model we are running the visreg function. Is this running the bExcludeAssignedFunctionOutput = False line? It needs to be if it's not because we're not getting the plot" I did not get you right here

[2017-07-17 15:08] AlexSananka commented on #3697
'I put in my four variables. I did Village. ~ Variety + Variety + Fertgrp. Converted Village. to numeric, clicked on the Display tab and it crashed. I could not replicate this error when I tried!''

I cannot replicate this as well.

[2017-07-17 15:47] AlexSananka commented on #3697
I finally got that crash,actually it's making all the model dialogs to crash.It's this         `ucrSaveLeverageColumnName.SetRSyntax(clsRSyntax, bReset, bCloneIfNeeded:=True)` line that's causing it to crash.I think it should be `ucrSaveLeverageColumnName.SetRCode(clsRLeverage, bReset, bCloneIfNeeded:=True)
`

[2017-07-17 17:50] rdstern commented on #3697
OK.  That is an unusual model, because Village has just 3 d.f. and the model has many more than that, including Variety twice!  It still shouldn't crash, but if it crashes when you put Yield ~ Village + Variety + Fertgrp I would be more worried.

[2017-07-17 18:09] lilyclements commented on #3697
@AlexSananka We need to fix that crash, how have you managed to get it in the end? You said you're getting it on all models dialogs, can you talk me through how you got it to crash?

@stevenndungu Yes sorry for being unclear, I've commented on your pull request where the line needs to go in. Happy to add it in, but it may be easier for you to and I'm not sure if you've got un-synced commits so don

[2017-07-17 18:24] AlexSananka commented on #3697
That crash is fixed in @stevenndungu  pull request.
So that should be sorted once #3700 is merged

[2017-07-17 18:58] AlexSananka commented on #3697
It seems there isn't a procedural way of getting to that crash.You just play around the dialog and then click the subdialog and it crashes.But at least it's sorted now.

[2017-07-17 19:17] lilyclements commented on #3697
Where in his pull request is it sorted?

My reference to adding the line is to do with Stevens earlier comment
"@lilyclements elaborate on this
"On Model > Fitted Model we are running the visreg function. Is this running the bExcludeAssignedFunctionOutput = False line? It needs to be if it's not because we're not getting the plot" I did not get you right here"

[2017-07-17 20:21] dannyparsons commented on #2343
Crash now prevented when deleting column. More to do related to columns changing.

[2017-07-17 20:24] #2984 closed

[2017-07-17 20:24] #3679 closed

[2017-07-17 20:30] dannyparsons commented on #3655
yes

[2017-07-17 20:30] #3655 closed

[2017-07-17 21:22] #3643 closed

[2017-07-17 21:24] #3323 closed

[2017-07-17 21:28] dannyparsons commented on #3640
It works on mine, so I think it's an RTools not being installed issue. If not, this can be reopened for 0.4.1.

[2017-07-17 21:28] #3640 closed

[2017-07-17 21:29] #3697 closed

[2017-07-17 22:22] #3680 closed

[2017-07-17 22:49] #3153 closed

[2017-07-17 23:41] #3427 closed

[2017-07-18 10:22] shadrackkibet commented on #2982
@dannyparsons @rdstern  we need to discuss some of the aspects of this dialog. I have started adding controls at #3708.

[2017-07-18 22:00] lilyclements opened #3709 "Clicking Reset giving a warning"
This was discussed for 0.4.1, would you mind adding a milestone for that and removing this comment @dannyparsons

When clicking reset, it should give a warning to let the user know it will clear everything. This is particularly important for dialogs, such as General Graphics where you may build lots of layers and then not realise you will lose it all by clicking reset. There are other dialogs like

[2017-07-18 22:02] lilyclements opened #3710 "General Graphics - reorder control"
This was discussed for 0.4.1, can you add that tag and remove this line @dannyparsons

On General Graphics, it would be good to add up/down controls so that the user could reorder the layers.

[2017-07-18 22:09] lilyclements opened #3711 "Adding naniar and visdat packages - Missing Values and more"
At a talk the other day, a package `naniar` came up. The talk was on `VIM` which deals with missing values, and the speaker mentioned that `naniar` is similar to `VIM` except it works with `ggplot2`.

It isn't yet on CRAN or RStudio, but would be a nice addition to R-Instat once it is!

A link to it is here, you can scroll down and see what sort of things it can do
https://github.com/njtierney/nan

[2017-07-19 10:52] AlexSananka commented on #3522
Can this be elaborated further so that there is a clear picture of what the dialog does and how it might look like so that I can start working on it?

[2017-07-20 10:30] rdstern commented on #3522
Great.  I would like this one urgently.
It will be a dialogue that could be got working first very simply.  Then I am sure we will want enhancements.
For now I suggest as follows:
a) Our new radio buttons at the top with 2 options, namely **Data Frame** and **Selected Variables**.
b) If Data frame then the main selector just has the data frames.  Otherwise it is our usual selector with the data fr

[2017-07-20 11:46] AlexSananka commented on #3522
Great am going to start working on this.

[2017-07-20 18:17] volloholic opened #3721 "Initial multilingual translation"
Establishment of the multi lingual functionality and translation into at least one other language. (Probably French)

[2017-07-20 18:19] volloholic opened #3722 "Forcats"
Inclusion of `forcats` package functions for extended factor functionality.

[2017-07-20 18:29] volloholic opened #3723 "An R-Instat Tidyverse?"
Currently R-Instat requires the Instat Object to manage the metadata and internal links which enable the front-end to work. This leaves the code looking different to R code as there are wrappers for internal data manipulations. Ideally it would be possible to build on the tidyverse to incorporate these ideas and therefore have more clean and natural code which shows how R-Instat uses the tidyverse

[2017-07-21 15:47] rdstern opened #3724 "Delete rows"
This was a serious bug - at least for me!
Deleting rows when there is a filter works for the first row (or perhaps set of rows - didn't test that).  When you delete further rows they delete the row ignoring the filter.

Example: I had a large data set of climatic data, 33,000 rows, starting in 1896.  I filtered to show just 3 years from 2003.  Then I deleted one day from 2003.  That was OK.  It wa

[2017-07-21 15:53] rdstern opened #3725 "Problem with the data selector with multiple columns"
In our data selector I am now usually using data files with more columns than can be shown in the selector.
When I select a column to transfer it into the receiver the selector always returns to the start of the set of columns.  Could it please stay where it is!

If easy it might be that an option could also be to have the variables in the selector in either Data Frame order or Alphabetical order.

[2017-07-24 07:12] rdstern commented on #3067
I suggest as follows for the dialogue:
1) Name change for the menu item.  Delete **climatic**, so it is simply Climatic > Prepare > **Display Daily Data**.
2) At the top there are our new buttons with **Table** and **Graph** (in that order) as the 2 options. (We don't have the Both option, because that would complicate the dialogue too much, at least for now.)
3) The dialogue starts as do the othe

[2017-07-24 07:45] rdstern commented on #2772
This needs some minor improvements.  In particular it is not just for rainfall.  It could be hot spells, cold spells, windy spells etc.  So:
1) Change the menu item from **Dry Spells** to **Spells**
2) Change the field called **Rain Column** to **Element**.  Still put the Rain element in there by default.
3) Change the position so that all the date fields are first.  So this moves to position 5.
4

[2017-07-24 07:58] rdstern commented on #3393
There are three other points here:
1) If there is just one column factor then this should be possible also with an unstack and then display in the output window.
2) This might be a useful option anyway, partly because it would be quick and cheerful.  (And sometimes the HTML tables take a long time to process if the table is large and are also given ina browser until that bug is fixed in R.
3) If t

[2017-07-25 08:32] mmumbo opened #3729 "Exporting R workspace"
On R workspace dialog, while selecting specific data frames should it be labelled variables or data frames?
Attached is the image showing the same.
![issue01](https://user-images.githubusercontent.com/11607243/28562901-b73d12a4-712c-11e7-928a-ef1bcaa1daf6.png)

[2017-07-25 14:34] rdstern opened #3731 "Adding filter for columns"
I hope this is easy and suggest it is important.  Initially I suggest you just choose columns and give them a name.  This is all that is done in SPSS (as far as I can tell.)

Although it is the sub-dialogue that will be different I suggest as follows:

1) On the main filter dialogue we have our radio buttons at the top.  The default is (as now) **Rows/Cases.**  The alternative is **Columns/Variabl

[2017-07-25 15:14] rdstern opened #3732 "Not the calendar control"
Many of the climatic dialogues ask for a day in the year to be chosen.  Currently you have to enter the day number simply as a number.  That is more difficult than in the old Instat.
It would be simpler if you could use a calendar instead.  So could we construct a calendar control?

Originally I assumed we would use a proper calendar from VB.Net, but this assumes you use a particular year.  So I n

[2017-07-25 16:00] lilyclements commented on #3732
I had a little look into the calendar control the other day and I'm not sure what you mean by this? I found if I click on the "header" (e.g. where it says July 2017) then it gives me options of all months in 2017. If I click again, it gives me an option of different years. I quite like this.

![image](https://user-images.githubusercontent.com/21180424/28581607-8900cbe6-715a-11e7-8059-4a63ce624b1d.

[2017-07-25 16:31] rdstern commented on #3732
Yes, but we aren't wanting the day number for any particular year.  It is for all the years in turn that it starts on (say) day 92.

[2017-07-26 07:18] maxwellfundi commented on #3076
@rdstern  I want to take on this task now and implement this dialog as earlier discussed.

[2017-07-26 07:29] rdstern commented on #3076
Great.  This is also issue #3523 so perhaps these issues can be combined?
There I also suggest the controls and structure of the dialogue.

[2017-07-26 08:38] maxwellfundi commented on #3076
I have moved this here to combine these two issues #3523 and #3076

Climatic > Check data > Boxplots conceptualised and constructed. Should be easy, because it is just ordinary boxplots with the climatic factors largely specified. (Important, because it will be visible and clearly more flexible than existing climatic QC procedures.)

I hope this will be easy to construct.

The top buttons and the

[2017-07-26 08:39] maxwellfundi commented on #3523
@volloholic please close this issue now as i have combined it with #3076

[2017-07-26 09:14] lilyclements commented on #3732
Of course! I understand now, thank you for clearing that up.

[2017-07-26 10:58] lilyclements commented on #2982
I understand the "Annual" options (probably because that's what we've been doing on the other climatic dialogs!)
However, not sure on the "Annual-Year". What is in a linked-annual-data-frame? Is that like my Start_of_Rains_By_Year data frame?
Similarly for "Within Year" I'm unclear. Is this looking at the monthly summaries? And if so, is it looking at all the "January" observations across all year

[2017-07-26 11:16] rdstern commented on #2982
So let's take (daily) rainfall data and assume we want totals or counts of rain days etc.
1.  These could be annual totals just like your start of the rains gives one number per year.
2. Or they could be (say) monthly totals (or 10-day, or weekly).  That is the summary with the 2 factors of year and month (or week) within the year.
3. The third possibility is to give the annual totals but taking t

[2017-07-26 12:25] lilyclements commented on #3507
I'm updating Climatic Extremes now so will add this

[2017-07-26 12:36] lilyclements commented on #3507
This seems to have a date receiver which isn't used for any of the R-Code. What is the date receiver for?

[2017-07-27 09:14] AlexSananka commented on #3729
This should definitely change,please let us know all those dialogs which still do not have a sensible name.
Thanks for this spot.

[2017-07-27 09:17] AlexSananka commented on #3729
@volloholic what do you think?

[2017-07-27 09:29] volloholic commented on #3729
Hi All this is certainly a change that is needed well spotted. As @AlexSananka suggested it would be good to get a list of all the dialogs where this is a problem before we decide on the best solution. I guess we need to think about what all the possible sets of objects are and how they can be consistently named. This becomes even more critical as we think about translation! These hard coded names

[2017-07-27 10:20] rdstern opened #3736 "Filter dialogue"
1. A simple enhancement that I would welcome is to have the <Shift> <Click> added when choosing a set of factor levels.  For rainfall I often want to have all years from 1968.  It would be nice to be able to select multiple adjacent levels together.

2. Could the Select All become "**Select All Levels**" and move over so it is closer to the right hand side of the grid.  The other could become **De

[2017-07-27 10:23] rdstern opened #3737 "Export enhancements"
The export currently does not remember the directory.
And it does not suggest a filename.  The obvious filename to suggest is the name of the data frame?
Would it be possible to edit the text from a previously exported file?  Either in the dialogue or in the subsequent file save as dialogue that opens when you use **Choose**?

[2017-07-28 10:03] lilyclements commented on #2982
So did we agree that the sub dialog for this can use sdgSummaries?
If so, @rdstern specified a few extra things for the sub, such as a dropdown box for counts. Do we want this to be an option for other dialogs which use this sub, such as dlgColumnStats?

[2017-07-28 15:26] rdstern opened #3738 "ILRI biometrics training resource"
This is here [https://www.ilri.org/biometrics/default.htm](https://www.ilri.org/biometrics/default.htm).

It can be downloaded, so it would be easy for us to supply it.

There are 17 case studies and all the data sets are included.  When downloaded it is just over 500 mbytes zipped.  (About 670Mbytes unzipped.)

The data sets all read easily into R-Instat (at least all I have tried, which is about

[2017-07-31 08:03] shadrackkibet commented on #2772
working on this.

[2017-07-31 08:20] lilyclements commented on #2772
@shadrackkibet
For 2. you can change the label to Element, but this receiver is also currently restricted to only select rainfall columns only. This should be removed and instead we should accept any numeric column (is any numeric column correct @rdstern ?)

[2017-07-31 09:00] lilyclements opened #3740 "New Column Names - Capitalised first letters?"
There is an inconsistency among the software of new column names. I think we need to clarify what formatting our new column names use.
e.g. I have a new column name called "New Name" we have used different formatting layouts, such as:

new_name
newName
NewName
new.name

I think the one I like the most is the one which is implemented the least which isn't ideal and suggests others disagree to it. S

[2017-07-31 09:47] rdstern opened #3741 "Title for data frame and Instat Object"
This issue concerns the metadata for the data frame and also for the Instat object.
My background is to include information on case studies, from the ILRI Biometrics set.
1. They currently have a little Word file corresponding to each Excel file - with the data.
2. This has descriptive information about the file (often 3 or 4 lines.  That's the meatdata for the data frame.
3.  There is then inform

[2017-07-31 10:44] lilyclements commented on #3732
This is also mentioned in #3506 - can someone add a duplicate tag?

Would we want two date-picker sub dialogs: for From and for To?
Or would we want one sub dialog and the options are duplicated to give From and To?

How about a date picker sub with the three options you mentioned as rdos:
1. Select by Day of Year
2. Select by Day and Month
3. Select by Column (this won't always be visible - such

[2017-07-31 11:10] maxwellfundi commented on #2300
@Lunalo has this reached a stage that can be taken further? Whats is the state of the method that is needed here @dannyparsons . We would like to have this feature in the next release

[2017-07-31 11:30] Lunalo commented on #2300
@maxwellfundi

I still need to discuss with @dannyparsons  on how this should be implemented and then I can Start writing r code

[2017-07-31 12:25] #3523 closed

[2017-07-31 12:27] dannyparsons commented on #3507
@lilyclements did you get a answer to this?

[2017-07-31 12:34] dannyparsons commented on #3738
I don't see any issue with this. It would be good to have something on this in for 0.4.1 since it's for a biometry conference

[2017-07-31 13:15] lilyclements commented on #3507
No, this dialog doesn't seem to need a key so I'm still unsure of this. There's also a Date receiver in other dialogs which aren't using it, such as Transform.

[2017-07-31 13:59] dannyparsons commented on #3740
Can you give an example so I'm clear what you mean? We normally have just one word for default column names I thought?

[2017-07-31 14:02] shadrackkibet commented on #2772
@lilyclements  what does Roger's point 5  mean here?.. Do we need  a user control??

[2017-07-31 14:06] dannyparsons commented on #3507
let's discuss with @rdstern and @volloholic about Dates on climatic dialogs generally.

[2017-07-31 14:18] rdstern commented on #2772
Sorry, that point 5 wasn't clear.  It refers to point 4 where there are 3 fields in the row labelled "Condition".  It is that set that could become a control as it could then also be used in the display of daily data.  There it would permit a special symbol to be provided for some of the data when the daily data are being presented.  For example in the display of daily rainfall I usually show "--"

[2017-07-31 14:54] lilyclements commented on #3740
I see your one point, and raise three:

1. For one worded columns would we want a capital first letter?

2. In dlgTransformClimatic, there are column names called "moving_sum", "moving_mean", etc. are you suggesting these should just be one word?

3. In addition, with any ucrSave can we have consistency. For example, sometimes the plot names have capitals and sometimes they do not. Also we have "l

[2017-07-31 17:06] dannyparsons commented on #3740
I think because these are R names we should follow something that's sensible in R, which any of your original examples are. Lower case and underscores for spaces is used quite a lot e.g. `ggplot2` so I think going for that in R-Instat is fine.

[2017-07-31 17:37] dannyparsons commented on #3517
@volloholic Did discussions take place on this?

[2017-07-31 17:38] dannyparsons commented on #3518
@volloholic something we could do fairly quickly?

[2017-07-31 17:51] dannyparsons commented on #3498
@stevenndungu @maxwellfundi can you look at 2, 3 and 4? Should be fairly simple to do.

3. I think `s_year` and `s_doy` to be consistent with our naming convention if that will still be OK.
4. Should be simple too. We have access to both the day number and the day/month combination so could do "Shifted year starting 1 August" just as easily, which I guess is preferable?

[2017-07-31 19:13] rdstern commented on #3738
[CS1.zip](https://github.com/africanmathsinitiative/R-Instat/files/1188237/CS1.zip)

Here is the first file I would like.  This could go into the library into an ILRI directory.
I hope someone could work on preparing an RDS file for each of the case studies.
One problem is that I would like the variable labels to become part of this information.  In the Column metadata pasting is not (yet) permitt

[2017-07-31 20:42] lilyclements commented on #3740
Great. I know some dialogs have a capital first letter. I won't go through everything but will check when editing dialogs in the future for this.

Another question - so when we assign something to our instat_calculation$new function, should that have a capital first letter? I know I've used day_from_and_to in one place and Day_From_And_To in another.

[2017-07-31 20:45] dannyparsons commented on #3740
Those are R variables as well so I think should be the same formatting without capitals

[2017-07-31 20:46] lilyclements commented on #3740
Great. Those are just things I need to fix in my climatic dialogs I'm on (Start of Rains, End of Rains, Extremes and Transform)
@shadrackkibet @stevenndungu in any climatic that you're working on now can you make sure that your R-variables are non-capitalised?

[2017-08-01 07:52] Lunalo commented on #3067
@africanmathsinitiative/developers

I will take on this

[2017-08-01 08:54] maxwellfundi commented on #3710
@dannyparsons  I have been looking at the current re-order control but am not sure it would be useful in this case. Maybe some code could be adapted for the reorder buttons but not whole control. What are your thoughts about this?

[2017-08-01 09:19] maxwellfundi commented on #1814
I think we can have just toggle buttons here with a tool tip if the user rolls the mouse over those icons. @dannyparsons @rdstern Could we just have like small icons. Possibly find some online which i would share and see if we could use them?

[2017-08-01 09:21] dannyparsons commented on #3067
Great. We should then decide on the implementation of the R code.

The graph will probably be it's own method since it's a fairly specialised plot.

The table is special case of producing a table from "summarised" data, because we could do the same thing from the data frame produced by Column Summaries dialog. I'll work on having this general method and then we can discuss how to use it for this d

[2017-08-01 09:27] dannyparsons commented on #3710
Which aspects of the control do you think are not useful for this case?

[2017-08-01 09:30] dannyparsons commented on #1814
Yes I think many toolbar buttons would be toggle buttons. There are lots of free and open icon images online. Search around, the problem will be finding ones that match the different windows. However, they don't need to be perfect at first.

[2017-08-01 09:38] Lunalo commented on #3067
@dannyparsons

Great. We we trying to come up with the method yesterday with @stevenndungu  Let him push and then I continue working on it

[2017-08-01 09:48] maxwellfundi commented on #3710
So both are similar but what i think we could adopt from the reorder control for the ucrLayers would only be the four buttons because our functionality for the ucrlayers is different from reorder control.
So my thinking is, within the layers control we add the buttons which will be doing re-ordering of layers

[2017-08-01 09:54] dannyparsons commented on #3710
We actually use it in the Calculations Summary dialog to display the manipulations so I think it can be used in place of the layers control in a similar way.

[2017-08-01 16:07] rdstern opened #3745 "Quality control of climatic data"
[Mokhotlong checking daily.docx](https://github.com/africanmathsinitiative/R-Instat/files/1191175/Mokhotlong.checking.daily.docx)

At some stage we will be adding facilities to support NMSs in their quality control.  This is to improve on what is available in the old RCLIMDEXQC and QC Extra.
One facility already is the climatic boxplots.  They exceed what RCLIMDEX provides.
The display of daily da