[2021-06-14 17:35] lilyclements commented on #6525
Update: PR #6517 changes this dialog to be in terms of three radio buttons at the top "Frequency", "Value", and "Pie".

The new "Back to back" checkbox can be added in under the "Frequency" option.

If the changes from #6526  are implemented, then this checkbox should not be visible/enabled if the polar coordinates checkbox is checked.

[2021-06-14 21:35] rdstern opened #6532 "Minor problems with the split dialogue"
[data to split.zip](https://github.com/africanmathsinitiative/R-Instat/files/6651387/data.to.split.zip)

These data need to be split:
Here is the dialogue in Prepare > Column: Text > Split

Note I have masse the prefix into x and am using a space to split the components.
a) The first time I ran this, it worked - well almost:

Here is the command it generated:

[code]
It correctly identified the pa

[2021-06-15 06:50] lloyddewit commented on #6135
@rdstern Do you know which PRs implement the 'changes in the bar chart'? Or are these PRs not yet opened?
I assume that the 'three challenging controls' are not yet started.

[2021-06-15 06:55] rdstern commented on #6135
@lloyddewit two of them are started, namely back to back bar charts are in #6525 and pie charts are in #6526 .  I am still reflecting on the important - and large - area of adding labels - that's the third option.

[2021-06-15 07:14] rdstern commented on #6525
@N-thony I think this is now ready for you to try implementing.
It is just for the frequency option initially, though later I assume it can be extended to the data option.
It assumes the Optional Factor has 2 levels.  Later that may need to be checked, but just see whether it can be implemented for now.

@lilyclements I wonder why it can't also be for the data option.  We could have obtained the c

[2021-06-15 07:31] HawardKetoyoMsatsi commented on #6251
![image](https://user-images.githubusercontent.com/16137042/122005349-34e78300-cdbe-11eb-9bea-122450b87dc3.png)

![image](https://user-images.githubusercontent.com/16137042/122005569-7aa44b80-cdbe-11eb-8ed5-fcf497bc565e.png)

Looking at the Tufte plots against the basic box plots, the basic box plots seem to work better when dealing with outliers, unlike the Tufte plots. Even though the Tufte plot

[2021-06-15 07:50] rdstern commented on #6251
@HawardKetoyoMsatsi that's a good start.  There is more to do, before you leave this topic.
a) You need to understand why no outliers, or perhaps use a different implementation of the tufte boxplots.  There are various.
b) Check whether you can adapt the ordinary boxplot further so it is more like the Tufte.  I think you can change the width - can you make it very small, so it becomes similar to T

[2021-06-15 09:16] rdstern commented on #6251
@HawardKetoyoMsatsi I have looked a bit more and now have a suggestion for you.
![image](https://user-images.githubusercontent.com/11226469/122023948-ea670600-cdbf-11eb-9bf0-d2f6198c0729.png)

This is a boxplot with the ordinary ggplot dialogue.  Now I am reasonably happy with this being (roughly) a Tufte-type boxplot.

I found 2 problems in doing this:
a) The width isn't there.  I think (for the

[2021-06-15 10:12] rdstern opened #6534 "Improve the find/replace dialogue in the prepare menu"
I am using an example dataset from the dslabs package.  @HawardKetoyoMsatsi this will be added to R-Instat.  Meantime add it yourself, from Tools >Add package.

Then I am doing work described in chapter 24 of the [Introduction to Data Science ](https://rafalab.github.io/dsbook/string-processing.html)book.
This uses the dataset called `reported_heights`

There are various problems with this dataset

[2021-06-16 11:09] rdstern opened #6536 "Web scraping and R-Instat?"
I have been forced into this topic, because the next workshop for Pakistand is on Data Wrangling - or perhaps tidying data as HW calls it.
I continue to use the Harvard book Introduction to Data Science and Chapter 23 is on Web scraping.  The 2 main sections (23.2) and (23.4) are on reading an HTML file and JSON files.

To my surprise (and pleasure) I was able to repeat all the commands in this ch

[2021-06-16 11:26] lilyclements commented on #6526
This should also work for the "Value" radio button. This is a lot slower when considering a data size the size of `diamonds` however.

But to display the sort of results, I'll show an example in R, I'll give with a new sample data set.

[code]

![image](https://user-images.githubusercontent.com/21180424/122210957-1eb0f400-ce9e-11eb-9b45-a7da13ddf19c.png)

![image](https://user-images.githubusercon

[2021-06-16 11:46] rdstern commented on #6526
@lilyclements those examples look great.  And just to mention with the Value button, it is almost always used (for bar charts) on data that have been summarised.  So, even with facets I would think it is very rare that the number of rows would exceed (say) 1000.

This also fits with the Tufte principle, namely that you are using ink (a lot) to draw each bar (or arc).  So it is very wasteful and sh

[2021-06-16 11:49] lilyclements commented on #6525
It can be achieved with the Value option, just requires a minor tweak to the `geom_bar` functions.

* Add `stat = "identity", aes(y = <<y-variable>>)` for one `geom_bar` function, and
* Add `stat = "identity", aes(y = - <<y-variable>>)` for another `geom_bar` function.

E.g., If we have
* data = `mpg`
* x variable is `class`
* y variable is `displ`
* fill variable is `year`

Then the code run woul

[2021-06-16 11:53] lilyclements commented on #6525
@rdstern the way the code is written, it does work for a factor with more than two levels. However, only compares the first two levels "back to back"

[2021-06-16 18:40] shadrackkibet opened #6538 "Showing the R version"
The current version of Rstudio shows the version of R in use. It's useful especially for users with multiple R versions installed. I think it will be nice to show the current R version somewhere in the R-Instat user interface.

![image](https://user-images.githubusercontent.com/26301973/122274249-074c2800-ceeb-11eb-942d-1c34450b61c8.png)

[2021-06-16 22:46] rachelkg commented on #6527
@lloyddewit Is there a way to see the French dialogues in Visual Studio? I feel like I am having trouble getting the dialogues looking their best when I have to guess at resizing the boxes and keep going back and forth to check. Any insight into how to improve the workflow would be appreciated. Thank you!

[2021-06-17 09:18] Patowhiz commented on #6244
I'm closing this issue because multiple PRs already solved the issue raised here. Any new dialog needed to have this functioanlity can have an issue created in regards to it.

[2021-06-17 09:18] #6244 closed

[2021-06-17 09:19] Patowhiz commented on #6080
@rdstern I think this can now be closed. The items mentioned above have been fixed.

[2021-06-17 09:20] Patowhiz commented on #6074
@rdstern I think this issue can now be closed. It was fixed by PR #6162, done by @HawardKetoyoMsatsi .

[2021-06-17 09:22] #6074 closed

[2021-06-17 09:35] shadrackkibet commented on #6080
Perhaps this has been reported elsewhere/it was discussed. I think saving in Transform dialog doesn't work properly yet.  For example

- The indexing for the save control doesn't work. A user can be overriding a column without knowing.
- The save control doesn't retain the typed name. If I use a different name, close the dialog then reopen the previous name is lost.

[2021-06-17 09:41] Patowhiz commented on #3423
@rdstern as of 17th June 2021 I think we can't save and restore the states of the dialog(because they read from the script and some dialogs don't write to the script in the 'standard way'), however I think we could save sessions in regards to log, output and data windows, including the user settings. Could be a good start.

[2021-06-17 09:46] Patowhiz commented on #5682
@rdstern I think this can now be closed. The alignment and size issue was solved elsewhere.

[2021-06-17 09:50] rdstern commented on #5682
Agreed

[2021-06-17 09:50] #5682 closed

[2021-06-17 10:01] Patowhiz commented on #6178
@rdstern this also reminds me of wizards, where we could take such know "analytical" process, lay them down as series of steps that a user can use wizards and save the steps selected to be used later. Then the wizards can just remember the selections made in each step.

[2021-06-17 10:03] rdstern commented on #5472
I still think a keyboard could be very useful for us.  I suggest that, with the stringr cheat-sheet from RStudio is would be formidable, but not too difficult to construct.  Then we support the keyboard with tooltips.

I suggest that making regex simpler in this way, could be a good topic for @HawardKetoyoMsatsi who is keen to work on some tidying components.  It would fit well with a simple paper

[2021-06-17 10:10] rdstern commented on #6178
@Patowhiz I am not convinced by this example.  But I am feeling that we need some principles here.  I suggest that anything that generates a single command is a candidate for a dialogue.  There are quite some instances where r-programmers use piping and that's a series of commands.  So, where piping is useful, then we could volunteer a wizard, and it would produce the piped code.  My recent exampl

[2021-06-17 16:25] lloyddewit commented on #6527
@rachelkg The French text is set at run-time so it's not possible to display the French text while working on the dialogs.
I wonder if there are other ways to avoid having to go back and forth.
Do you use the VisualStudion 'hot reload' feature?
Alternatively could you temporarily change some of the dialog's key text into French while you're updating the dialog box?

I'd be happy to have a quick ch

[2021-06-18 03:50] rdstern commented on #6196
@Patowhiz now is the time to add this feature to the `File > Open Data Frame` dialogue.  You may want to finish the refactoring first?
@dannyparsons suggests any file format could also result, so the main part of the dialogue doesn't need to change.  Just the location.  He suggests that there may be option buttons, or a checkbox for File (what we have now) and url.  Not sure of the label.  So it i

[2021-06-18 04:13] rdstern opened #6541 "Using rtf editor for the R-Instat script window"
Changing to an rtf editor for the script window is related to the need for bold/colour, etc in the files in the script window.  That need currently relates to an issue where dialogues can choose to emphasise a word/command in the file.

However, it could be that the choice of editor could help in other tasks too.  I mwention 2 points here that might be considered when choosing the editor.

1) We d

[2021-06-18 05:21] rdstern opened #6542 "Add a To Script feature for receivers and possibly other controls"
Details of this follow discussion with @dannyparsons.

Currently receivers and most other controls are not editable.  So, I can copy a variable into a single receiver (say), e.g. yield, but I can't have yield+1 there or format(yield,digits=2), etc.

In the long-term we would like to make these controls editable, but @dannyparsons says this is a formidable task.
Here we propose a short-term solutio

[2021-06-18 13:42] HawardKetoyoMsatsi commented on #6251
I now think that we should add a button for tuftebox. let me try and explain my findings.
Adding to the dialog qont make it crowded since it will only need a button at the top but all the othe controls and sub dialogs remain as they are.
We can ass well tweak the code in the script window which I did and produced the below plots using the script window in R instat. We will however discuss this wit

[2021-06-19 18:46] lilyclements commented on #6523
I've had a little look at this. For segment plots you should give a starting and ending value for both `x` and `y` options.
* For a horizontal segment, the start and end `y` values should be the same.
* For a vertical segment, the start and end `x` values should be the same.
* You can also have diagonal options if the start and end values are different for both `x` and `y`.

e.g.
![image](https://

[2021-06-21 07:58] Patowhiz commented on #6080
@shadrackkibet thanks for pointing out that bug. I will have a look at it.

[2021-06-21 08:24] rdstern commented on #6541
@Patowhiz has reminded me that he had an answer to the issue above, when he was asked by @dannyparsons to review the BlusSky R front-end.  In his review he said:

Their R script command window uses ScintillaNet component. Which powers it with
features like styling and formatting. “As well as features found in standard text editing
components, Scintilla includes features especially useful when edit

[2021-06-21 09:50] Patowhiz commented on #6542
@rdstern other than setting flag properties when clicked, what else will be done when its clicked? will it open up something?
@dannyparsons @rdstern what properties are these? is it safe to assume that for now, this will be 1 property that will be used by "ToScript" to determine the font used when displaying the contents coming from the receiver.

[2021-06-21 10:00] rdstern commented on #6542
@Patowhiz my hope is that it doesn't do anything really, so it doesn't affect the fact that the OK button is pressed.  Excel that it would be nice to know - in the control - that this button was pressed.  So it might (for example) change the colour of the control.
It is also a switch, so it could usefully be visible (at least) when you press the right-click.  For example it might say Script off us

[2021-06-21 12:04] shadrackkibet commented on #6426
@Cal-Insta are you available to work on the design for this dialog? We already have a new empty dialog i.e `dlgSelectColumns`

[2021-06-21 12:24] Cal-Insta commented on #6426
@shadrackkibet yes I am available to work on it.

[2021-06-21 12:29] shadrackkibet commented on #6426
Okay, please continue.

[2021-06-21 16:08] Patowhiz commented on #6311
@rdstern below is a screenshot of the buttons available in my R-Studio. R studio combines the run selection functionality with run current line into 1 button. The single button just detects whether there is a selection, if not, it runs the current line. Should we also combine the 2 buttons; **Run Current Lin**e and **Run Selection** ? Or would you like to still have them separate.

![rstudio](http

[2021-06-21 16:25] rdstern commented on #6523
Of course I'd like all!

Simple lollipop charts would need just a single point, because they start at an axis.  Some examples are [here](https://www.data-to-viz.com/graph/lollipop.html).  Then, as you say, the double, needs the 2 points.  Here is a [recent example](http://www.rebeccabarter.com/blog/2018-05-29_getting_fancy_ggplot2/) with diagonal.  It uses what we will make simple, namely geom_seg

[2021-06-21 16:45] rdstern commented on #6520
@Ivanluv could you add Swahili back into the language options.

[2021-06-21 22:30] Patowhiz commented on #6514
@rdstern just for clarity, when you say, **brea**,  you mean **brca**? I could only find **brca** in the package [documentation](https://cran.r-project.org/web/packages/dslabs/dslabs.pdf).

[2021-06-21 22:51] rdstern commented on #6514
@Patowhiz yes - brca and one other produce a list.

[2021-06-22 07:00] Ivanluv commented on #6520
@rdstern  I have made the addition

[2021-06-22 16:50] rdstern opened #6549 "Small improvement in geom_text and geom_label"
I first put this improvement in a more general context.  We need to be able to add labels (and texts) to our plots.  Here is an example.  It is from the R Graphics cookbook which is available [here](https://r-graphics.org/index.html).

![image](https://user-images.githubusercontent.com/11226469/122962581-79a28980-d37d-11eb-86ea-87a833f76467.png)

This shows the small improvement we need in geom_te

[2021-06-22 17:44] rdstern opened #6550 "Add labels to bar charts"
There is now a new version of the bar chart dialogue to be merged.  It has 2 options for frequency and data.

There are 3 improvements to be added, namely back-to-back charts (including population pyramids as an example, pie and donut charts and labels

This issue discusses how to add texts (labels)  as simply as possible.  If flexibility is needed, then it should be possible by adding a label or

[2021-06-23 07:10] rdstern opened #6551 "Multiple file import skipping a variable number of rows"
I have an example of this problem reading climatic data into R-Instat.

The data are in 960 separate files in 32 directories.  Each directory has 30 files to read.  Each has a year of data. They are to be combined into a single file.

I originally thought this could not be a problem to involve R-Instat in this data task.  However, it now seems sensible to consider doing just that.  There are vario

[2021-06-23 07:52] #6380 closed

[2021-06-23 11:17] HawardKetoyoMsatsi commented on #5800
From my discussion with @shadrackkibet and @rdstern menus for these dialogs could be renamed so that the name can reflect the exact plots in the given dialog. From Describe>Specific> we can have the menus as **Histogram/Density/Frequency...** instead of **Histogram...** and **Boxplot/Jitter/Violin plot...** instead of **Boxplot...** and **Bar and Pie Chart...** instead of **Bar Chart...**. The sam

[2021-06-23 11:39] HawardKetoyoMsatsi opened #6553 "Inconsistencies in the naming of menu items under the File menu"
Looking at the File menu There seem to be inconsistencies in the way the menus are named.  We have some e.g File>**Open** From File while others are File>**Import**
![image](https://user-images.githubusercontent.com/16137042/123088211-22a8bd00-d42e-11eb-9849-f89304187430.png)

It would be better for consistency purposes if all the related menus used the same prefix e.g **File>Import From ....**. I

[2021-06-23 14:58] lilyclements commented on #6523
Okay great. How about something like this?

![image](https://user-images.githubusercontent.com/21180424/123119588-93a2a180-d43b-11eb-824b-d28369e2e8a5.png)

1. All the current options on the dialog go into the "Points" button, and we have a new option called "Segment"
2. There are four receivers - I've called these A, B, C, and D for now since their label changes slightly depending on which radio

[2021-06-23 16:08] rdstern commented on #4832
I have now looked at these files again - with the recent 64 bit installation of R-Instat.  The wide data are each from spss files and (now) read easily.  It is impressive that they import with variable and value labels, which is good.  I first imported the household file (KEHR) which has 36430 records and 2439 variables.  It is close to 100mbytes in SPSS.  Then I got greedy and added the second fi

[2021-06-24 10:06] #6135 closed

[2021-06-24 13:53] Patowhiz commented on #6483
This issue share the same problem explained in issue #6024.

[2021-06-24 15:12] #6520 closed

[2021-06-24 15:38] Patowhiz commented on #6024
This comment is an addition to the above [comment](https://github.com/africanmathsinitiative/R-Instat/issues/6024#issuecomment-715346098);

@dannyparsons I looked into the R code. I traced the problem to a line in a function called `convert_to_character_matrix` located in **stand_alone_functions.R** file. Code line 21 `out[,i] <- format(data[[i]], digits = decimal_places[i], scientific = is_scient

[2021-06-24 15:50] Patowhiz commented on #6024
@dannyparsons I suggest letting the characters be converted using `as.characters`. By commenting out or removing the code below in the `get_data_frame` R function , the `convert_to_character_matrix` will work fine. However I welcome you suggestion, I may be missing something here.

![get_dataframe_smippet](https://user-images.githubusercontent.com/21179007/123293928-3e14d600-d4c9-11eb-844b-a7dbf74

[2021-06-24 18:02] Patowhiz commented on #6024
@ChrisMarsh82 you may also want to have a look at the issue outlined here, including my findings. They somehow related to the grid.

[2021-06-24 18:03] rachelkg opened #6556 "Translation Layout Issue in Import Dataset Dialog"
@Patowhiz I have been looking over the Import Dataset Dialog to check how the French translation looks.

I have found that when I import an .RDS file the Overwrite existing if duplicates (checkbox text) is cut off in French. However, I cannot find it in Visual Studio to change it. Please could you tell me where/how to find the different layers?

Also how many different configurations of this dialo

[2021-06-24 18:56] rdstern commented on #6071
I have found another oddity in the copy from reogrid, so perhaps this can be examined at the same time?
a) Open research funding rates from dslabs package (add the package if it isn't yet there.)
b) Add a new variable Prepare > Column: Calculate > Regular sequence with 1, 2... 9
c) Make it a factor
d) Copy the first variable with the labels into the clipboard.
e) Use the levels/labels on the right

[2021-06-24 21:14] HawardKetoyoMsatsi commented on #6534
The dialog seems to remember what was input initially however there seems to be a problem with the way characters " . and ' are understood by the control.
I tried to use . by replacing .. with xx
![image](https://user-images.githubusercontent.com/16137042/123332623-67754680-d549-11eb-9047-02ad29a46e12.png)

look at what I get.
![image](https://user-images.githubusercontent.com/16137042/123332701-8

[2021-06-24 22:21] rdstern commented on #6534
@HawardKetoyoMsatsi what is needed here is simple, but the bigger task is to help people with regex (regular expressions)  They are the default and you need to be aware of them.  For example "in regular expressions, the dot (.) is a special character used to match any one character."  That's why you got those changes.  If you wanted to include a dot, you need to type \\.

[2021-06-25 06:27] Patowhiz commented on #6556
@rachelkg yes the dialog has multiple controls for different configurations, and since we are using `winforms `we are currently dependent on pixel perfect design, which means some controls have to be hidden even during design mode.

The import control rds, text, csv and excel as the main configuration(represented by 3 group boxes, namely; `grpText`, `grpRDS`, `grpCSV`). We also reuse these configu

[2021-06-25 16:24] rachelkg commented on #6556
@Patowhiz Thank you so much Patrick. this is really helpful. I will give it a try and request a call if I get stuck.

[2021-06-25 22:39] rachelkg opened #6559 "Editing the general summaries dialog"
@shadrackkibet @Patowhiz
Hello both,

I was hoping you might be able to help me please. I have hit an issue in the prepare menu General summaries dialog (see attached). As far as I can tell, in Visual Studio it is called sdgCalculationsSummary. I am trying to change the size of the buttons next to the variable condition box but I cannot select anything. I have tried bringing it to the front but it

[2021-06-25 22:56] rachelkg commented on #6559
I have the same problem with Define a new filter (sdgCreateFilter.vb) I suspect I do not understand how to work within sdg things I have mostly been working on dgl and am very new to all of this. Any insight would be much appreciated.

Thanks,

Rachel
![sdgCreatefilter](https://user-images.githubusercontent.com/85707390/123492265-e9a74e80-d5cd-11eb-816d-c440e4e0255a.png)

[2021-06-26 11:13] Patowhiz commented on #6559
@rachelkg the "big object" is custom control called `ucrFilter`, just open it from the solution explorer palate. That's where you can do the resizing of the buttons.

![filter](https://user-images.githubusercontent.com/21179007/123511174-c95eaa80-d634-11eb-83ac-b05ab33f0aa9.png)

[2021-06-27 08:06] #6514 closed

[2021-06-27 10:34] #6476 closed

[2021-06-27 10:34] #6482 closed

[2021-06-27 10:37] #6515 closed

[2021-06-28 05:40] HawardKetoyoMsatsi commented on #6523
@lilyclements This is very clear and well explained I am happy to do the front-end implementation ASAP.

[2021-06-28 07:23] rdstern commented on #6523
@HawardKetoyoMsatsi this sounds good.  In @lilyclements diagram I suggest the Points option will have a few consequences - not just a single checkbox, but perhaps size and colour included.
Then @shadrackkibet is working on labelling for the bar chart dialogue.  I suggest the same (geom_text) layer will also be added to this dialogue.

[2021-06-29 07:02] shadrackkibet commented on #6550
I will wait until PR #6561 is reviewed and merged then I will work on this.

[2021-06-29 07:54] N-thony opened #6562 "New packages needed for the next release"
- `lemon` for back to back bar chart dialogue #6573

[2021-06-29 09:09] rdstern opened #6563 "Small point on our base control in multiple languages"
Here is an example with our base control:

![image](https://user-images.githubusercontent.com/11226469/123769433-38503380-d8c1-11eb-9806-947d099a647b.png)

I am interested in the base control with the Comment line.  A trivial point is that the text could move over  very slightly, so the colon is clear.  But this is on every dialogue and I wonder if it could be translated?  There is an initial sent

[2021-06-29 09:20] lloyddewit commented on #6563
@rdstern Thanks, I referenced this issue in issue #3721

[2021-06-30 08:17] rdstern opened #6570 "Add facility to view English in translated menus"
This suggestion is after discussion with @dannyparsons.  I hope it is pleasantly simple!

We now have a Lan button to quickly see the English on dialofues, and now on sub-dialogues.  It would be good to have the same facility for the menus.  The suggestion is to add a Lan option to the end of the main menu when a language other than English is selected.  This is a switch.  Pressing it will change

[2021-06-30 09:01] #5800 closed

[2021-06-30 09:01] #6553 closed

[2021-06-30 10:48] lloyddewit commented on #6570
@N-thony You recently added a 'lan' button to the subdialogs. This worked great. I think the feature @rdstern is asking for could be implemented in a similar way. The main difference, I think, is that you would call `translateMenu` rather than `autoTranslate`.
Would you be willing to implement this issue? If needed, then I'm happy to support on the translation aspects.

[2021-07-01 05:58] rdstern commented on #6406
There is another small change and that is to be able to include Not into the condition generated.

[2021-07-01 06:41] rdstern opened #6571 "Presenting numbers with a fixed number of decimal places"
We can't yet do this in our spreadsheet.  It should also be done in R, so when using the viewer it is consistent.  In our column metadata we currently have the default, that's usually what we want.  I think we (now) have the option of scientific notation.  Sometimes it is good to display with a fixed number of decimal points.  Usually our default - with significant figures can be made to do that -

[2021-07-01 15:58] rdstern opened #6574 "Data set shows issue with importing and with paste into new data frame"
[MICS6 Ch04 SR_Deleted_21022019.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6749392/MICS6.Ch04.SR_Deleted_21022019.xlsx)

In these data I am importing table 4.1 as follows:
![image](https://user-images.githubusercontent.com/11226469/124152708-ac3e3780-da8b-11eb-8688-9faa1152c070.png)

I am importing from line 7 and just 20 rows.  The problem ( I thought was fixed?) is the name o

[2021-07-02 06:34] rdstern commented on #6525
I have been looking at the results so far trying to get as close as possible to the population pyramid shown above, which I repeat here.

![image](https://user-images.githubusercontent.com/11226469/124229568-b8ff7180-db05-11eb-9502-4ed72dd5d245.png)

We have now been sent the data and there is a copy in the most recent issue, number #6574 .
When I import the data I have to filter 2 rows before doi

[2021-07-02 17:14] rdstern opened #6575 "Omit warning when pasting into NA variable and set significan figures when numeric"
We can now paste into a new Data Frame.  This seems to be working well, except for a small point on recognising commas in numbers, see #6574 .

We agreed for that feature to add a checkbox.  For consistency with Excel it is labelled Comma Style and is checked by default.  There is a tooltip `Numbers with a comma may have a thousands separator `

We also discussed the possibility that this new data

[2021-07-02 18:34] rachelkg opened #6576 "Scatter plot options"
Hello @Patowhiz and @N-thony,

I wonder if you can help with the Scatter Plot Options dialog (ucrLayerParameters.vb)
![Scatter plot options](https://user-images.githubusercontent.com/85707390/124315650-1953da80-db29-11eb-911c-1fd161c74647.png).

As you can see from the picture the check boxes are all misaligned with the associated text. Previously I have changed the size of the box containing the

[2021-07-02 18:53] rachelkg opened #6577 "Lining up the variable button and selector"
Hello @Patowhiz and @N-thony,

I have noticed that the Single/multiple Variable button does not quite line up with the selector below it. However, when i go to change the size of the button I can't see how to do it. The two are an item called ucrVariablesAsFactor but when i look at that item them seem to line up. Do you have any idea how to address this?

Thanks,

Rachel
![Point plot](https://user

[2021-07-02 20:32] rachelkg opened #6578 "Ignore Global Aesthetics Box Disappears"
Hello,

I have noticed that when I click on the ignore Global Aesthetics Check box in the Layer Options dialog it disappears and I cannot get it back until i reopen the program. Bug?

Thanks,

Rachel
![Ignore Golbal Aesthetics](https://user-images.githubusercontent.com/85707390/124325644-e0703180-db39-11eb-85a6-831e2427a563.png)

[2021-07-02 20:34] rdstern opened #6579 "Add Copy Special and Paste Special to the Edit menu and not to right-click!"
We currently have Paste on the right-click menu.
There is also Copy, that used to be on right-click and isn't there anymore.

I propose a good Edit menu and short-cuts.  But no Copy or Paste (or Copy Special or Paste Special) on the right-click.

@Patowhiz is unhappy, because he says everyone who is used to working with a spreadsheet will expect them.

I would like to help spreadsheet users, but I

[2021-07-02 20:38] rdstern commented on #6578
@lilyclements I am not sure what this does, so wonder if you could puzzle a bit.  It might need @volloholic and then possibly someone else could correct?

[2021-07-02 21:39] rdstern opened #6581 "Fill > New Data Frame has oddity in French"
I was checking the language and in French.
From the front menu (I had switched back to English, but don't think this is relevant?
I went into the File > New dialogue and the last of the top buttons and pressed Ok  It should generate a blank data frame with 2 variables and 10 rows:

Here was the error message
![image](https://user-images.githubusercontent.com/11226469/124330576-a0cf3700-db85-11eb-8

[2021-07-03 08:12] rdstern commented on #4832
I suggest these data (and perhaps others from KNBS be used by our documentation team as sensible case-study materials.  They should report on what the are able to do with these open data.  The first step is to be able to locate and then download the data.  Then they will need to be "wrangled" so that they are in a tidy shape.  How could this be done.

They also need to be understood first and we s

[2021-07-03 10:30] rdstern opened #6582 "Add a reorder feature to bar charts"
Could you add a Reorder checkbox to the bar (and pie chart dialogue.  Default is unchecked.
If checked, then there could usefully be 4 options, namely Ascending, Descending, Reverse, None

In these options Ascending and Descending will be the common ones.  Ascending simply adds the reorder function to the command, DEscending makes it a minus!

![image](https://user-images.githubusercontent.com/112

[2021-07-03 19:53] rdstern opened #6583 "File > Open no longer reading multiple SPSS files"
It has read them in the past.  Now I get this message:
![image](https://user-images.githubusercontent.com/11226469/124364846-febe5600-dc3b-11eb-96a9-91aaa7032567.png)

It generated the following code, so I don't see how it could have worked?
[code]

I tried also with some climatic txt files - which worked and generated as follows:
[code]

[2021-07-04 14:07] Patowhiz commented on #6080
@rdstern could you check the above issue reported by @shadrackkibet. I'm not sure if it was intentionally done that way.

[2021-07-06 06:37] rdstern commented on #5986
I now havw another (and real) example for this dialogue.  It is useful also as part of data wrangling, so we might consider leaving it in the script form.  Perhaps we also could usefully have an Open from Library from the script window that gets example scripts!  This would be one of them.

This is a STACK exercise given in the data wrangling workshop for Pakistan.  Here are 2 data sets to be appe

[2021-07-06 07:53] rdstern commented on #6579
@Patowhiz I assume the main item in Copy Special is to be able to copy names in a variety of ways?
This issue also includes Paste Special and I wonder what is in mind for that?  Is that mainly to Paste the names?
here is another issue also mentioned elsewhere #5986 -

In R-Instat I wanted to copy from the output window and then use Paste into a new data frame. This doesn't work!

![image](https://

[2021-07-06 08:51] #6530 closed

[2021-07-06 08:52] #5965 closed

[2021-07-06 09:15] shadrackkibet commented on #6406
@Cal-Insta are you happy to work on this with my very close "supervision"? Initially, I will ask you to do design work then we can co-create on the code bits. Please don't feel obliged to agree at the moment.

[2021-07-06 09:16] shadrackkibet commented on #6101
@rdstern did you confirm if we still need this?

[2021-07-06 09:38] rdstern commented on #6101
@shadrackkibet yes please.  It is described in #6101 .  Good example there too!  I hope all that is needed is to add ! to the keyboard?

[2021-07-06 10:40] rdstern commented on #6563
@lloyddewit I looked in a bit more detail.
I notice that the initial text for the comment (currently in English of course) is in the Comments Tab of the `Tools > Options` dialogue.
![image](https://user-images.githubusercontent.com/11226469/124586642-97c4bb00-de4e-11eb-8a13-088270686a2e.png)

This is where any change with translation would go presumably.  I note also that this dialogue is treated

[2021-07-06 12:55] rdstern commented on #6527
I note issues as I come across them.  They are all to do with translation, but may not all apply to this pull request:  @rachelkg may be able to advise on some of them as the crowdin translation is improved.
a) `Climatic > File > Import and Tidy Shapefile`  The best translation I have found is for `GIS shape file`, which is simply `fichier SIG`.  I wonder if the English of the menu item should jus

[2021-07-07 10:03] Patowhiz commented on #6579
@rdstern in the above I suspect it's cause of the inconsistent header names. The column with the number variables doesn't have a column name while the rest do.

[2021-07-07 10:08] lloyddewit opened #6588 "Improve appearance of language toggle button on tool bar"
The language toggle button in the R-Instat tool bar is currently labelled 'Lan'.
Could the appearance of this button be improved?
Please review the discussion and suggestions in PR #6572.

[2021-07-07 10:30] Patowhiz commented on #6556
@rachelkg did you manage to sort this out? if so, then you could close this issue.

[2021-07-07 11:37] Patowhiz commented on #6577
@rachelkg thanks for noting this. This issue is caused by how the control is designed. The button in the `ucrVariablesAsFactor` is set to always be `docked` at the top, effectively making it grow with the parent container. The receiver, which is the control below it, is set not set to grow with the container.

The remedy would be I think to use the `Anchor` property instead of `Dock` property.
Wou

[2021-07-07 12:13] Patowhiz commented on #6576
@rachelkg this issue is caused by the use of Dock property just as explained in issue #6558.
The `ucrCheck` contained in `ucrLayerParameters.vb` is Docked to the left. Because it's docked to the left, when the parent container height is increased, also the  `ucrCheck` increase in size. However because the "box" is part of the VB.NET check box, it doesn't increase in size cause it was not designed

[2021-07-07 15:45] Patowhiz commented on #6206
@rdstern @N-thony I've looked into this problem and now I have a solution.
If we go by @rdstern suggestion, there is only 2 solutions to this;
1. Change the underlying R code that gets the metadata, to make it return the columns data already rearranged. This would involve changing how the R codes script gets the attributes from the columns of the data frame(and of course major testing to make sure

[2021-07-07 16:04] N-thony commented on #6206
@Patowhiz this sounds good. Thanks.

[2021-07-07 16:10] Patowhiz commented on #6206
@N-thony will you look into where the above code can be placed or would you like me to do it? I'm happy with both.

[2021-07-07 16:12] N-thony commented on #6206
Let me try it again, then I will let you know.

[2021-07-07 16:20] Patowhiz commented on #6206
Okay thanks.

[2021-07-07 18:12] N-thony commented on #6206
@Patowhiz once again I have tried the quoted code above, but it is not working since in our case the label column is empty. I think by the default reogrid doesn't allow text from a column to go over text of the next column if not empty. The code above works in case you want to enable/disable code to go over the next column only if the next column is not empty otherwise it will go over as it is in

[2021-07-07 20:19] rachelkg commented on #6556
@patowihiz Roger recommended that I do this dialog at the end as it is one of the most complicated and other people might be working on it at the moment. I have read your information but not yet worked on the dialog, so was leaving it open until I do. Is that ok?

[2021-07-07 20:38] rachelkg commented on #6588
I am happy to have this assigned to me, though I am afraid I do not know how to add the new icon to the tool bar. Could be a good job for @Patowhiz. Would you be able to take this on Patrick?

In summary of the discussion, it seems people agree:
That  the world symbol is a good choice for the tool bar.
That the button toggles just the menu to English and back.
That if possible there should be a to

[2021-07-08 07:35] lloyddewit commented on #6588
@rachelkg , @rdstern For simplicity, could you accept a fixed tool tip that says something like 'Toggles the main window menus between the current language and English."

@rachelkg @Patowhiz @N-thony I think this task is a better fit for @N-thony rather than @Patowhiz . @N-thony kindly agreed to do this.

@rachelkg We would really still value your aesthetic input. @N-thony may ask you to provide a

[2021-07-08 18:25] rachelkg commented on #6588
![108932826_m](https://user-images.githubusercontent.com/85707390/124972457-3e3fc600-dfdf-11eb-8c17-83861bd0abe5.jpg)

[2021-07-08 18:38] N-thony commented on #6588
@rachelkg thanks for the icon and tooltip text suggestion. I will then go ahead to implement it.

[2021-07-08 18:43] rdstern commented on #6588
Just a trivial addition I add an English to make it simpler.  "Changes the menu language to English, anf from English"

[2021-07-08 18:57] rachelkg commented on #6577
@Patowhiz Thanks for your prompt response. If you could do this that would be great.

Thanks,

Rachel

[2021-07-08 18:58] rachelkg commented on #6576
@Patowhiz Thanks for the explanation. Would you be able to resolve this?

Thanks,

Rachel

[2021-07-08 23:14] rachelkg opened #6591 ".ctor errors found for two dialogs"
Hello,

I am trying to make an adjustment in layout to Model - Fit Model - One Variable - Display Options - Likelihood tab. When I try to open it in visual studio I get this error message. Visual studio says it may become unstable and could result in data loss if i ignore it. Can anyone clarify what this means and how to resolve it? @rdstern @shadrackkibet

Thank you

![Error message](https://user

[2021-07-08 23:40] rachelkg commented on #6591
This is also the case for sdgOneVarCompareModels.vb

[2021-07-09 06:35] HawardKetoyoMsatsi opened #6592 "Adding more layers and geom parameters for density ridges"
When geom_density_ridges, geom_density_ridges_gradient and stat_density_ridges were added to R-Instat, aes() and some geom() parameters added were the ones that feature in the package's documentation. We have other parameters that even though they are not included in the documentation/ manual for this package, are frequently used. I would like to suggest that these frequently used layers and param

[2021-07-09 17:36] rachelkg commented on #6578
@rdstern @lilyclements Did this get resolved? I think I have found the same or at least a similar issue on the Three Variable Modelling dialog With the Convert to Variate checkbox.
![Three variable modelling](https://user-images.githubusercontent.com/85707390/125116400-87f0e500-e0a1-11eb-8d20-210babab8c56.png)

[2021-07-09 17:56] rachelkg opened #6595 "I Can't find Graph and Display Options subdialog in Visual Studio"
Hello @Ivanluv,

I am having trouble tracking down a subdialog that I need to edit the layout of. Model - Two variable Fit Model - Graph and Display Options.
![Graph and Display Options](https://user-images.githubusercontent.com/85707390/125118206-385fe880-e0a4-11eb-859a-25d1896ea19d.png)
 Might you be able to help with this?

Thanks,

Rachel

[2021-07-09 18:15] rachelkg opened #6596 "urcSave.vb position button misaligned"
@Patowhiz In urcSave.vb the position button is slightly too low. However I do not seem to be able to move it? I tried changing the Anchor setting and the Dock settings but this did not resolve it. do you think you could take a look please?

Thank you

Rachel

![Convert to circle](https://user-images.githubusercontent.com/85707390/125120132-e79dbf00-e0a6-11eb-9aa8-fcbc09d6f54f.png)
![UrcSave](https

[2021-07-10 06:30] rdstern commented on #6523
I am wondering if I have led you astray in the work above.  I have now found (again) the ggalt package, and this includes geom_lollipop and geom_dumbell!  Could @lilyclements and @HawardKetoyoMsatsi please look at them.  Should we include these geoms instead of (effectively) constructing them ourselves?

If so, then I am slightly inclined to include them on the bar chart dialogue?

[2021-07-10 14:44] Ivanluv commented on #6595
@rachelkg sorry for the late response. Search for `sdgSimpleRegOptions` in the solution explorer

[2021-07-10 15:45] rdstern commented on #6526
Damn I have just spent the morning and was about to report my "discovery"! for pie charts and donut charts!  Now, reporting it here I find I have now almost caught-up with what @lily has produced 3 weeks ago above!

So, I am back again to having the pie (and donut) charts to be a polar checkbox on the bar chart dialogue, rather than a button at the top.

Below I give the code I used for the (usual

[2021-07-11 00:42] lilyclements commented on #6526
This is interesting. I didn’t realise about the option to set x as a fixed value but that looks great.

If polar checkbox is checked, then am I correct in saying that
* either x or y can be filled (or as a fixed value?)
* or just fill can be filled (and x = “”)
* or fill and one of x or y can be filled

What about changing the coord_polar parameter to be the same as the variable in the aes, and us

[2021-07-11 07:07] shadrackkibet commented on #5649
The controls in this dialog look messed up when importing multiple files from a directory. I first selected `.txt` file and got the following.
![image](https://user-images.githubusercontent.com/26301973/125185789-71789400-e22f-11eb-94a3-64e0169b8652.png)

[2021-07-11 10:34] rdstern commented on #6523
I have now looked a bit further at these (new to me) geoms etc.

Let's start with Lollipop charts.  I took data from the hh dataframe from the Pakistan MICS survey, and got the percentage using Urdu from each district.  Here is my data frame:

And here is the dialogue:

![image](https://user-images.githubusercontent.com/11226469/125188924-a1269c80-e22d-11eb-9937-4d6dcb1c6b37.png)

with the resulti

[2021-07-11 10:40] rdstern commented on #6526
I have now looked a bit further at these (new to me) geoms etc.

Let's start with Lollipop charts.  I took data from the hh dataframe from the Pakistan MICS survey, and got the percentage using Urdu from each district.  Here is my data frame:

And here is the dialogue:

![image](https://user-images.githubusercontent.com/11226469/125188924-a1269c80-e22d-11eb-9937-4d6dcb1c6b37.png)

with the resulti

[2021-07-11 16:01] rdstern opened #6597 "Plotting sub-dialogues don't work properly"
This seems fairly general.  I tried with different data sets, so our little survey does fine.
a) Start with any graph for example boxplot of yield against village

![image](https://user-images.githubusercontent.com/11226469/125201799-7c9be600-e268-11eb-9e24-da2f2a89818c.png)

b) Press the Plot options and add another layer, e.g. boxplot against variety.  Plot works fine

c) Return to the dialogue

[2021-07-12 06:34] #6588 closed

[2021-07-12 12:50] Cal-Insta commented on #5536
I have encountered the same issue with the print and plot functions testing the Use model keyboard for extremes. I had wanted to create a new issue for this but decided to check for related issues. As @rdstern rightly states it has to do with saving the graph in the R-Instat data book. I don't know how far this was resolved. However in a similar dialogue in the Climatic> model> extremes dialogue t

[2021-07-13 07:32] HawardKetoyoMsatsi commented on #6592
I will also add (stat = "boxplot") under geom_tufteboxplot as I fix this

[2021-07-13 10:30] Patowhiz commented on #6206
@N-thony thanks for testing it out.
The code above is from their library documentation and explicitly states the behavior I expected.

I noticed there was a similar bug reported by a `reogrid` user who tried the same code but didn't work as expected. See their github [issue 301](https://github.com/unvell/ReoGrid/issues/301) which was fixed and closed on 3rd April 2021.

@dannyparsons @lloyddewit w

[2021-07-13 13:38] shadrackkibet commented on #6597
Looks like I can't replicate this easily! It would be very useful if you add the error message you get.

[2021-07-13 15:54] lilyclements commented on #6523
For `geom_dumbell`:

1. "The dumbbell geom is used to create dumbbell charts. Dumbbell dot plots--dot plots with two or more series of data--are an alternative to the clustered bar chart or slope graph."
Can you explain a bit about what a dot plot with more than two series of data would look like? Does this mean there would be more than two points on the dumbell plot (e.g., instead of a "start" an

[2021-07-13 16:09] rdstern commented on #6597
Damn - I can't repeat it now either!

[2021-07-13 16:16] shadrackkibet commented on #6597
I guess that is because you had position checkboxes under **X-Axis** and **Y-Axis** tabs. If this is the case then I don't think that should be a problem! The error message explains the problem!

[2021-07-13 16:31] Patowhiz commented on #6556
@rachelkg I'm okay with that. I'm the one working on it. I'll revert back to you once I'm done refactoring the code in the dialog.

[2021-07-13 16:34] rdstern commented on #6523
@lilyclements I reply to some of your comments.

"The dumbbell geom is used to create dumbbell charts. Dumbbell dot plots--dot plots with two or more series of data--are an alternative to the clustered bar chart or slope graph."

I was merely noting that the dumbbell geom mentioned it was for "2 or more series", and I couldn't easily see how.  I am quite happy if it is just (for us) for 2 series -

[2021-07-13 17:12] rachelkg commented on #6595
@Ivanluv Thank you!

[2021-07-13 17:12] #6595 closed

[2021-07-13 20:06] rachelkg commented on #6556
Great thanks.

[2021-07-13 22:23] rachelkg opened #6599 "Convert to Variate Check box disappears on Three variable Modelling Dialog"
![Three variable modelling](https://user-images.githubusercontent.com/85707390/125532942-e3a52b1b-f5d2-42b3-863a-93e2dc3ee4f7.png)
Hello,

@rdstern I have found another checkbox that disappears when clicked and will not reappear without restarting the program. It is the Convert to Variate checkbox on the Three Variable Modelling dialog.

Thanks,

Rachel

[2021-07-13 22:28] rachelkg opened #6600 "Menu items that do not open"
Hello @dannyparsons,

I have found a number of menu items that do not work and @roger suggested that they should be disabled (as are the menu items in the modelling menu). However he also said that he did not expect you to like this suggestion so do you have another?

The items I noticed are in the Structured Menu (Low flow, Time series, Climatic, Procurement, Options by Context)

Thanks,

Rachel

[2021-07-13 22:29] rachelkg opened #6601 "No Lan button in the Tools - Options dialog"
![Tools Options](https://user-images.githubusercontent.com/85707390/125533476-b2943d75-d087-46b9-9ee2-6974f7e64201.png)
Hello @N-thony,

Please could you add a lan button to the Tools - Options dialog?

Thanks,

Rachel

[2021-07-13 22:34] rachelkg opened #6602 "Ticks in View menu not centered"
Hello @shadrackkibet,

I noticed that the ticks in the blue boxes of the view menu are not centered. They seem to be aligned to the top left. Would that be something that we could easily change? I think it would look much tidier.

Thanks,

Rachel
![View menu](https://user-images.githubusercontent.com/85707390/125533720-a8414bc0-723c-4f05-be0c-c00750d3689f.png)

[2021-07-13 22:54] rachelkg opened #6603 "Wind/pollution Rose dialog empty"
Hello @HawardKetoyoMsatsi,

I have found that the Wind/Pollution Rose dialog is empty. @rdstern suggested that you might know whether it should be deleted or fixed.

Thanks,

Rachel
![Wind Pollution Rose](https://user-images.githubusercontent.com/85707390/125535435-4685f3d7-a29d-4dfd-8e1c-f3e40884b786.png)

[2021-07-13 22:57] rachelkg opened #6604 "Is the Display Top N dialog displaying correctly"
Hello @dannyparsons,

I have noticed that in the Procurement menu the Display Top N dialog may not be displaying correctly. In Visual Studio there are Primary Data and Summary Data Tabs at the top, but in R-Instat these are not visible. Is that intentional or should they be?
![Display top N](https://user-images.githubusercontent.com/85707390/125535679-2071c42c-a72a-4283-83f9-ed13b50a9bac.png)
![Di

[2021-07-14 06:58] shadrackkibet commented on #6595
Thanks, @rachelkg for your question. This has actually pointed out an inconsistency in the naming. The naming of dialogs and sub-dialogs should go hand-in-hand with their actual names eg **Graph and Display Options** should be renamed to `sdgGraphAndDisplayOptions`. This will make it easy to find dialogs, especially for new contributors.

I am just putting this on record here and therefore you do

[2021-07-14 07:10] shadrackkibet commented on #6602
Thanks, @rachelkg for pointing this out. We also have such issues with the toolbar icons (Dataframe/Column Metadata, script and log window). I investigated before and couldn't find an easier way to position ticks. Therefore this requires some bits of research to fix.

[2021-07-14 07:27] lloyddewit commented on #6596
@rachelkg I had a quick look. I couldn't see any manually entered code (i.e. code in 'ucrSave.vb') that changes the position button location, so it appears that the button position is determined automatically by the WinForms library.
If I go in the designer and click on the button, combo box and text box, one after the other, then the dotted lines around the controls all seem to be aligned. So it

[2021-07-14 10:07] rdstern commented on #4832
@Wycklife please can you reply here that you have received this message?  Later perhaps you can say whether there are now better examples of data to use?

[2021-07-14 10:11] lloyddewit commented on #6206
@Patowhiz We seem to be using ReoGrid v2.1.0, the latest is 3.0.0.
@N-thony Please could you test with 3.0.0 to see if this solves the issue? I'm happy to discuss if needed

![image](https://user-images.githubusercontent.com/57253949/125604682-b8337149-1baa-4188-a924-f349ca1f2386.png)

[2021-07-14 10:27] rdstern opened #6606 "Add treemaps to the graphics menu"
We have only a very short list of new graph types that we need the able to produce easily.  My provisional list is so we can produce all the graph types suggested in the early chapters of the [ggplot book](https://rkabacoff.github.io/datavis/) .

We already have a sort of specialised version of tree maps in the procurement menu.  And it builds on 2 geoms that have already been added, as has the pa

[2021-07-14 10:53] Wycklife commented on #4832
@rdstern I received this message and I have been looking at Kenya survey data sets(Kakamega, Bungoma, and Turkana). Once am done getting them into the right shape, then I will communicate. Thank you.

[2021-07-14 11:24] rdstern commented on #4832
@Wycklife please note those are different to the data sets mentioned here.  You mentioned you would like to multitask, so I thought you might like to look at the above examples as well.

I am also not quite sure what you are meaning about getting the MICS datasets "into the right shape".  I assume they are SPSS files and so are reasonable when downloaded.  I look forward to your description of act

[2021-07-14 13:14] HawardKetoyoMsatsi commented on #6523
@rdstern  , having the geom_lolipop and geom_dumbel is a good idea compared to building the plots from segments and points as we did. I will be happy to close PR #6586 where I added the lollipop graphs that had been suggested by @lilyclements  in this issue were implemented and quickly add these two geoms (geom_lolipop and geom_dumbel) to PR #6605 where I added some geom parameters that had been l

[2021-07-14 15:47] Wycklife commented on #4832
@rdstern I am happy with this task. What I meant  by "getting the data sets in the right format", was checking whether the datasets reads in R-Instat with the labels. Jus as I have been doing to the Pakistan and other data sets from MICS. These data sets too, are a bit large in and I thought including them with the ones mentioned above would be nice.

I am going through the task and will give my f

[2021-07-14 17:27] rachelkg commented on #6602
Thanks @shadrackkibet. I am not the right person to decide how important this is and how much time should be invested. andy thoughts @rdstern?

[2021-07-14 17:30] rachelkg commented on #6596
Thanks for looking into this @lloyddewit. I am the right person to decide about "Maybe we could work around this by overriding the automatic locations but I'm not sure it's worth it.". @rdstern do you have any thoughts?

[2021-07-15 05:26] Patowhiz commented on #6206
@lloyddewit thanks for checking this out. Would be interesting to see what other new features and fixed bugs we have been missing once the new reogrid version is merged

[2021-07-15 05:38] Patowhiz commented on #6596
@lloyddewit I once looked at this, my theory is a bit different. I think the misalignments are due to wrong use of the dock properties. Different controls on the control are docked but their visibility during runtime is changed, and also, the parent control used in different dialogs vary in sizes which again affects the internally docked controls alignments. So the alignments calculated by the des

[2021-07-15 05:42] rdstern commented on #6206
Agreed.  An obvious one would be to be able to select non-adjacent variables.

[2021-07-15 07:36] lloyddewit opened #6608 "Just a test, please ignore (tests embedded video in a GitHub issue)"
@rdstern This issue is just to test including an embedded video in a GitHub issue. Describing a bug or feature in a video may be easier and more effective than just using text and screenshots. We can discuss.

https://user-images.githubusercontent.com/57253949/125747992-f897be0d-9292-441e-895f-2185bfde97c1.mp4

[2021-07-15 10:18] Patowhiz opened #6609 "Renamed Scatter to Point Plot Menu"
I noticed that the scatter plot menu has been renamed to  Point Plot.
The dialog header still reads Scatter Plot, this needs to be changed to Point Plot also.

@rdstern also partly suggests that dialog header could be Scatter/Point Plot. I suggest the menu to also be labelled the same.

[2021-07-15 10:51] #6608 closed

[2021-07-15 11:02] Patowhiz commented on #6596
@rachelkg I have fixed the above issue for the dialog you have shown above(Convert to circular dialog). If there are other dialogs you could just do something similar to what I have done in PR #6612.

I did the same before for various other dialogs that @rdstern had raised an issue for.
![convert_to_circular](https://user-images.githubusercontent.com/21179007/125777764-d9f4d40c-db5e-46bb-ae59-595d

[2021-07-15 11:36] rdstern commented on #6526
@N-thony I suggest you could add simple pie and donut charts in the existing back-to-back pull request.  My initial suggestion is as follows:
a) You implement Ok when either the x (for frequency) is not empty, or when the Fill is not empty.  In the value case you need the Variable and then either the X or the by.
b) You put the Polar checkbox back.  Next to it you have a small group box for 2 opti

[2021-07-15 11:37] Patowhiz commented on #5649
@shadrackkibet I'm unable to reproduce the above bug.
The PR addressing this issue didn't touch the import dialog, did you get the above bug after going to the import from library bug?

[2021-07-15 13:40] HawardKetoyoMsatsi commented on #6523
@rdstern  I have added geom_lolipop and geom_dumbel in PR #6605
In geom_dimbbell, documentation `yend` is given as a mandatory aesthetic but in running the function it is not mandatory so have including it under optional aesthetics

[2021-07-15 15:57] lilyclements commented on #6523
@rdstern I think I've managed to work this one out - if we give two factor variables for the `x` and `xend` values then we can have multiple series. However, I'm really not sure what the use is of this for interpretation!

[code]

![image](https://user-images.githubusercontent.com/21180424/125814912-5ae52408-15c2-4d5b-8c6d-b168af3ec769.png)

@rdstern yes, I think adding the code using the `geom_du

[2021-07-15 18:54] HawardKetoyoMsatsi commented on #6603
Hello @rachelkg.
From my end everything seems to be working fine. Try pulling the most recent changes and check if the problem still persists. The related PR #6400 was merged a week ago.

[2021-07-15 19:58] rachelkg commented on #6603
@HawardKetoyoMsatsi Thanks, I will pull the most recent version and recheck.

[2021-07-15 19:58] #6603 closed

[2021-07-16 08:11] rdstern opened #6615 "Add dot plots to the histogram dialogue"
I am now following the order of graphs in the book on [Data Visualisation with R](https://rkabacoff.github.io/datavis/Univariate.html#dot-chart).  It has a section in chapter 3 on dotplots.  They are shown there as a simple alternative to a histogram - and particularly when the dataset isn't too large.

@HawardKetoyoMsatsi I am combining this addition for you to do, and also to use this example to

[2021-07-16 08:36] rdstern commented on #6523
@lilyclements that's great.  Where to put the new graphs has now fallen into place too.
Looking at Chapter 7 of the [Data Visualisation with R ](https://rkabacoff.github.io/datavis/Time.html#TimeSeries)book it has 4 types of graph in its time-series chapter, as follows:

![image](https://user-images.githubusercontent.com/11226469/125916416-025ce904-219e-4a31-ad59-a20636d37947.png)

So, I propose w

[2021-07-16 09:51] Wycklife opened #6616 "Add rcookbook and ggmap packages to R-Istat"
These packages are partly to be able to use all the datasets in the book called Data Visualisation with R. These should be included in the next release.

[2021-07-16 10:12] shadrackkibet commented on #6616
@Wycklife Thanks for adding the request. Just to note that we always want to manage additions of new packages in a single PR. In this case, we already have a new PR (#6562) so you should have this as a comment there and make sure you reference a PR that requires these packages.

[2021-07-16 13:28] lloyddewit commented on #6512
This spreadsheet was added to PR #6580 by @rachelkg . It describes additional open French translation issues.

[R-Instat.translation.changes.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6830937/R-Instat.translation.changes.xlsx)

[2021-07-16 18:40] rdstern commented on #6523
On the design of the slope graph I think we do need to use the newggslopegraph function.  It assumes the data in the "right shape" for us.
I am still not sure we need this whole package?  (CGPfunctions) partly as it installs many other packages.  Is it easy to just take the function - with attribution, and possibly then simplification?

The dialogue is I think largely our single/multiple receiver.

[2021-07-17 06:15] rdstern opened #6618 "Developer Error when opening some sub-dialogues"
I am going steadily through the dialogues and sometimes get this developer error.  I guess there is a simple reason for this.  I start with one dialogue and will add here if (when) I find more.

The first is the Describe > One Variable > Frequencies  When I use the Options button the first time it os fine.  But after that it goes wrong and when I use the Options subsequently it gives an error.  I

[2021-07-18 07:57] rdstern opened #6619 "Script that causes problems in R-Instat"
We need to add more facilities for the analysis of agricultural research data.
So, I have been looking through the agricolae package.

I came across this script and tried it!  (I was just curious - it is not a specially urgent or important script.)
However R-Instat crashed in 2 separate places.  And that was interesting - perhaps?

The problem lines are 6 `weather[,1]...` then also the last 2 line

[2021-07-18 10:11] lloyddewit commented on #6512
@rdstern I spoke to @dannyparsons about this a while ago (but forgot to document). he said that the '&' was added to indicate the shortcut key for that button. This causes problems for the translation.
As far as I know, the shortcuts on the tool bar buttons are not visible, so the user probably doesn't know about them. Also when I tested I couldn't get the tool bar button shortcuts to work. If too

[2021-07-18 10:22] lloyddewit commented on #6473
I think we can close this issue because everything is either resolved or reflected in the PRs and issues referenced above, plus PR #6543 PR #6557 , PR #6558  and PR #6580 .

[2021-07-18 10:23] lloyddewit commented on #6473
I think we can close this issue because everything is either resolved or reflected in the PRs and issues referenced above, plus PR #6543 PR #6557 , PR #6558 and PR #6580 .

[2021-07-18 10:23] #6473 closed

[2021-07-18 11:02] lloyddewit commented on #6570
This is fixed in #6572

[2021-07-18 11:02] #6570 closed

[2021-07-18 11:03] lloyddewit commented on #6519
Fixed in PR #6544

[2021-07-18 11:03] #6519 closed

[2021-07-18 11:05] lloyddewit commented on #5161
Fixed in PR #6572

[2021-07-18 11:05] #5161 closed

[2021-07-18 17:16] lilyclements commented on #6526
**Reorder by Frequency**

We can do it with the frequency option by the `fct_reorder` function in the `forcats` package (for `geom_bar` only)

e.g. using the `diamonds` data set:

[code]

![image](https://user-images.githubusercontent.com/21180424/126074597-1c94157b-a8fa-4dab-a5ff-a781079e5d00.png)

**Donut/Pie Options**

Looking at the various options we have a frequency and a value option where:

[2021-07-19 08:56] lloyddewit opened #6622 "Remove duplicated code in clsRlink"
In PR #6590 , @shadrackkibet suggested some code quality improvements for clsRLink.vb (see screenshot below).

![image](https://user-images.githubusercontent.com/57253949/126132591-98ceef64-ed75-4adf-9150-799f497c1534.png)

[2021-07-19 09:07] lilyclements commented on #6523
I agree that the `newggslopegraph` function seems the best option. It should be very easy to copy over the function and simplify it (and give full attribution!).

[2021-07-19 09:28] rdstern commented on #5986
@volloholic has added a new dimension to the proposed dialogue.

I was assuming it would only be able to write to the script window.  So it would write the top lines where it could get data from a data book.

Then there would be space, in the script window, so the new functions/script could be added.
Then there would be code to save the results, etc.

David has suggested the dialogue could include

[2021-07-19 09:43] lilyclements commented on #6549
I've come across the `ggrepel` package for labelling and text functions (https://cran.r-project.org/web/packages/ggrepel/vignettes/ggrepel.html). Unlike in `ggplot2` functions, `ggrepel` functions have "Text labels repel away from each other, away from data points, and away from edges of the plotting area (panel)".

e.g.
![image](https://user-images.githubusercontent.com/21180424/126139937-789f16e

[2021-07-19 10:06] rdstern opened #6623 "Means and Medians incorrect in PICSA rainfall graphs"
I have been analysisng the Zambia data - 6 stations.
When I get the first graph, I usually also get the means.  And they are the same for each station!  If I then get the medians, they seem to be ok.  But it is also vice versa.  I think from the second time onwards they become ok?

[2021-07-19 10:10] rdstern opened #6624 "Dates become incorrect in climatic commands"
The dates option is available from many of the climatic commands.

But, when (in a dialogue) you return to the dates sub-dialogue it is not the same as the setting in the dialogue.  It would make life simpler if it were.

I am assigning this temperorarily to @dannyparsons to consider to whom it should go - if not him?

[2021-07-19 10:24] lloyddewit commented on #6619
@rdstern Thanks for reporting.
I tested in R-Instat 0.7.2:
I pasted the script above into the script window and executed it line by line. It ran without errors until the last line.
It tried to run `NoReadingsH,RHthreshold)` as an R statement and gave an error.
I removed the line break from the `weatherSeverity` function and then ran again. It ran without errors.
I did 'Run All' for the script belo

[2021-07-19 12:10] #6596 closed

[2021-07-19 12:55] lilyclements commented on #6523
If we simplify the `newggslopegraph` function we can remove some of the options, such as the title/caption/etc. Should I keep in their default labelling options?
It is quite important in the graphic I think, and then the user can edit these in a sub.

I think @shadrackkibet is looking at labels. This plot uses the `ggrepel` package which gives more flexible options with labelling (#6549).
If I wer

[2021-07-19 14:45] rdstern opened #6626 "Add geoms from ggrepel into the R-Instat list of geoms"
@lilyclements that's a good observation in #6523 .  @shadrackkibet is going to be adding labels in the bar chart dialogue, once the dialogue has included the other options.  He is also adding a new feature into the label and text geoms.

We have been using ggrepel in our climatic mapping dialogues, so the package is installed.  We should ass gg_label_repel and gg_text_repel into the list of geoms.

[2021-07-19 16:50] #6206 closed

[2021-07-19 16:51] #6101 closed

[2021-07-19 16:58] #6577 closed

[2021-07-19 17:00] #6576 closed

[2021-07-19 17:01] #6592 closed

[2021-07-20 08:38] #5993 closed

[2021-07-20 08:38] #6071 closed

[2021-07-20 09:28] Patowhiz commented on #6583
@rdstern could you confirm that PR #6625 fixes this issue?

[2021-07-20 09:38] rdstern commented on #6583
Yes @Patowhiz I checked that aspect with the MICS data - 8 SPSS files - as part of the testing.  It imported fine.

[2021-07-21 15:10] rdstern opened #6633 "Small change and some questions on the general Graphics dialogue"
The initial change is trivial.  At the start there is only one real control and that is the Plot Options.  Please could that control be moved, so it is in the same place as in the other dialogues.

@shadrackkibet the reason I am suggesting you for this is that I wonder what else we might add to this main dialogue that is perhaps different to the other plotting dialogues, and that might make it a m

[2021-07-21 15:12] lilyclements opened #6634 "Adding pivot tables"
I came across the `rpivotTable` package which introduces pivot tables as a little widget in R. The user can get the results of a single summary statistic and move variables around the table.
Function-wise it looks relatively straightforward, able to run with just a `data` variable given.
A lot of the other parameters are all options that can be specified when running the R-code, or can be decided

[2021-07-21 18:47] rdstern commented on #6634
@lilyclements this seems excellent.  It should be very simple to add the dialogue(s).  It works easily from within R-Instat, so we just need to add the appropriate dialogues.
a) It handles multiple factors on either rows or columns.
b) It allows for summaries of numerical variables as well.
c) It has the different types of percentages we need for the frequencies
d) It has a wide variety of graphic

[2021-07-22 10:01] rdstern commented on #6634
Aha I have found a (slight?) complication.  See the figure below:

![image](https://user-images.githubusercontent.com/11226469/126620767-c5c42be0-8e1a-42c6-abe2-79c9abfb9f0d.png)

This is very powerful.  These are daily data and this has given monthly summaries.  Add the day factor and you see the daily with these means becoming sub-totals!  And the summaries can be counts, means or sums.

Notice

[2021-07-22 10:20] shadrackkibet commented on #4312
Okay. @lilyclements are these the R defaults or just the defaults you would like in the dialog?

[2021-07-22 11:13] lilyclements commented on #4312
@shadrackkibet  They are the R defaults

[2021-07-22 12:15] lilyclements commented on #6634
That's interesting. After a little playaround, the code to rearrange the factor levels in the pivot table to be the same as defined in R-Instat is:

[code]

So I guess we should say in the dialog code that if a variable in the data set is a factor, then run the

`month_levels_given` part and the
`if (attr == \"month_abbr\") { return sortAs([", month_levels_given,"]); }`

As a side note - another p

[2021-07-22 18:59] #4312 closed

[2021-07-23 10:07] #6251 closed

[2021-07-23 19:42] rdstern opened #6637 "Small bug to fix on visdat dialogue, plus an improvement"
[data-es-2009.zip](https://github.com/africanmathsinitiative/R-Instat/files/6870776/data-es-2009.zip)

Here is a file that can be used for the Prepare > Check Data > Visdat dialogue

It is useful to draw a sample.  I suggest 0.1.  Here is the dialogue - slightly different data

![image](https://user-images.githubusercontent.com/11226469/126831699-bf1e84c5-d222-4982-86cd-ea07a675395e.png)

And here

[2021-07-23 19:55] rdstern opened #6638 "Small bug on rename data frame dialogue"
![image](https://user-images.githubusercontent.com/11226469/126833925-9373432c-03cf-49fa-a1c3-571cd8925360.png)

This shpuld be an easy one to fix.  I think it happens every time this dialogue is used.  I assume, because the name is changed it (correctly) can't find the original name!

It is another example of the sort of bugs that are still around, because so few people are using the software.  I

[2021-07-24 08:42] shadrackkibet commented on #6638
This is easy to fix. I suggest we get @Cal-Insta to fix it with the help of @HawardKetoyoMsatsi

[2021-07-24 10:00] Cal-Insta commented on #6638
@HawardKetoyoMsatsi please how do you suggest we proceed.

[2021-07-25 09:13] rdstern opened #6639 "Importing data set with duplicate variable names"
We recently had an example of a csv file that refused to import (and gave an unclear error message).

@Patowhiz found this was because there were duplicate identical names.

I checked and this situation imports easily from Excel.  In Excel, this is detected, and the preview shows that the names are adjusted.  No warning is given.
Here is an example, where (in Excel there are 2 variables with the s

[2021-07-25 11:58] #6549 closed

[2021-07-25 16:18] lilyclements opened #6640 "Updating the "Frequencies" dialog"
The summary tables function has been updated and is given on issue #6411 - as a result the frequencies table dialog needs to be updated.
Changes to be made to the summary tables dialog were outlined in issue #6502. Similar changes are given for this dialog - namely, there are two functions: `summary_table` and `mmtable2`.

Changes:
* Remove "Show Row Names", "HTML Table" checkboxes, "Page By" and

[2021-07-26 16:25] dannyparsons opened #6641 "Problems with column types for distribution control"
- `ucrDistribution.strDataType` is sometimes not set correctly when the column has missing values.
- There is a mismatch between the possible values of `ucrDistribution.strDataType` and the values expected on some dialogs like `dlgFitModel.strVariableType`
- The `integer` value returned by the function isn't recognised by `ucrDistribution`

Particularly noticed with integer/positive integer column

[2021-07-26 17:02] dannyparsons commented on #6641
@Patowhiz The PR #6642 fixes the immediate bugs here but a better solution would be to make `strDistributionType` an `Enum` so that we specify its possible values in one place and get easily keep this in sync with the R function. Can you work on this tidying up once the PR is merged?

[2021-07-26 20:56] Patowhiz commented on #6641
@dannyparsons yes I can tidy this up.

[2021-07-27 09:09] lilyclements opened #6644 "Reorder summary statistics in the Summary Table dialog"
In #6508 @rdstern requested a way to rearrange the summary statistics in the summary table.

This is similar to reordering a factor level. Here, the "factor" is a string containing the summaries to run. The "factor levels" are a list of the summaries.

A way this can be done is by:

1. Open the sub-dialog
2. Select the summaries
3. On the main dialog, there is then a list of the summaries selected

[2021-07-27 09:16] lilyclements opened #6645 "Add line numbers in the script window"
I was in a situation the other day when using the script window in R-Instat with someone else over zoom. We were discussing code, and it was difficult to clarify the line of code we were each referring to.

As a solution, can line numbers be added into the script window?

I noticed it was discussed in #4381, alongside other improvements. The other suggestions are either implemented or in a separat

[2021-07-27 19:43] rdstern opened #6646 "Add the sample function to our summary system"
I think this may be a very simple addition to the summary system.  I would like the summary to take a randome sample from each combination.  There is a potential complication, but we can do something (I think?)

I would like to include a random sample (at least of size 1.  I give an example to show what I want - I think it should be easy?
As in the textbook on [Introduction to Data Science](https:

[2021-07-27 21:13] rachelkg opened #6647 "Boxplot Count Variable dialog"
Hello,

I have found a Dialog titled Boxplot Count Variable, it is present in Visual Studio and I found the term in the Crowdin content. However, I cannot find it in r-Instat. Could anyone tell me which menu it is in? or How I might find it? I have asked @rdstern and he says he has never heard of it.

On that note, would it be useful to have a search function in R-Instat? For people who do not kno

[2021-07-28 06:56] shadrackkibet commented on #6647
@rachelkg this is one of the dialogs that was added at the start of the project. It is no longer needed and therefore it cannot be found in the menu. Actually, we have a plan to delete these kind of dialogs from the project as described in the issue https://github.com/africanmathsinitiative/R-Instat/issues/6481.

You also mention that we should have a search function for dialogs. I think this is m

[2021-07-28 08:16] #6641 closed

[2021-07-28 09:02] dannyparsons commented on #6641
@Patowhiz The first PR has been merged now. Could you open a new issue for the tidying you will do? This isn't urgent so not needed right away.

[2021-07-28 16:53] rachelkg commented on #6647
I will not worry about the translation then.

Thanks for the explanation @shadrackkibet

[2021-07-28 16:53] #6647 closed

[2021-07-29 07:18] Ivanluv commented on #6644
@africanmathsinitiative/developers  am taking this up

[2021-07-30 04:14] #6601 closed

[2021-07-30 10:53] shadrackkibet commented on #6562
- `mmtable2` for summary tables https://github.com/africanmathsinitiative/R-Instat/pull/6508. Package not on CRAN yet however it is available via a Github repo here https://github.com/ianmoran11/mmtable2

[2021-07-30 10:53] #6502 closed

[2021-07-31 11:32] rdstern opened #6651 "Add step, path and smooth to the Describe > Specific > Line dialogue"
- [x] The main suggestions here are to add geom_smooth.  But a small addition is to add geom_step and geom_path as options.  I suggest they be added like the density ridges option, i.e. a checkbox just below the receivers on the right.  This time there are 2, namely Step and Path.  I suggest they could go side by side as checkboxes.  Default is unchecked for either.  If either is checked, then the

[2021-07-31 17:13] rdstern commented on #5911
I had missed acting on this helpful message from the maintainer of the splines2 package.

I propose we now include splines2 in R-Instat instead of the splines package.  Can we detect where (if) we currently use splines.  It has been withdrawn from CRAN.

We also include an example of the use of this package in geom_smooth

[2021-07-31 18:14] rdstern opened #6652 "Improve the geom_smooth parameters"
Smoothing is a complete chapter in the [data scienc](https://rafalab.github.io/dsbook/smoothing.html)e book we are trying to provide tools from in R-Instat.

In ggplot2 geom_smooth is really powerful.  It is already in R-Instat but the geom needs improvements and testing.  This can be done by adding the layer to a line plot.

Later there is a separate issue on adding it to the main dialogue.  This

[2021-07-31 20:34] rdstern commented on #6562
splines2 for smoothing and to replace (I think) splines - if installed, which is withdrawm from CRAN.  I think it is replaced by spline2.  Also the author has written about how this offers periodic splines which we need, see #5911
Also histdata for interesting and additional data sets, at least one which is used in our main data science book.
And caret as the main package for machine learning.  La

[2021-08-01 10:07] shadrackkibet commented on #6651
@HawardKetoyoMsatsi are you happy to work on the first part of this task? It is similar to what you did on density plot dialog and Boxplot dialog.
- I suggest you use ordinary radio buttons in this case and not checkboxes. [Radio buttons](https://docs.microsoft.com/en-us/windows/apps/design/controls/radio-button) are best suited for use when one option is needed in a collection.

[2021-08-01 17:01] rdstern opened #6653 "Oddity on variable names"
Here is a curious oddity.  I think it may be due to R-Instat trying to be too clever?
![image](https://user-images.githubusercontent.com/11226469/127779119-715f1878-b806-4f44-ae1b-1197d8fa9755.png)

I have been having problems tidying some climatic data.  It is odd that the Climatic > Tidy command did not recognise the year variable.  I kept having to reset the dialogue and then it was ok, just on

[2021-08-02 07:03] HawardKetoyoMsatsi commented on #6638
@Cal-Insta We can go ahead and have the skype call we planned earlier on.

[2021-08-02 07:09] Cal-Insta commented on #6638
@HawardKetoyoMsatsi Okay, all set.

[2021-08-02 08:19] HawardKetoyoMsatsi commented on #6638
@rdstern  I am trying to reproduce the error bur I cant reproduce it. Could you please point me to steps I can use to generate the errors please. I am rater finding that once the data frame is renamed correctly forgets the old/deleted name.

![image](https://user-images.githubusercontent.com/16137042/127827173-4a04ed3f-7d48-43ab-8775-296c8c578a62.png)

[2021-08-02 15:26] rdstern commented on #6562
Also rpivotTable package which will be used on new dialogues in Describe > 2 variables and 3 variables

[2021-08-02 15:33] shadrackkibet opened #6656 "Copy Data Frame Bug"
I am afraid these changes might have introduced a bug. @lloyddewit do you have any suggestions on who should sort this out? It is partly because we didn't review this PR rigorously!

![image](https://user-images.githubusercontent.com/26301973/127875487-977cd788-2bc6-4d7d-9b7c-1626a95383e4.png)

_Originally posted by @shadrackkibet in https://github.com/africanmathsinitiative/R-Instat/issues/6567#i

[2021-08-02 16:22] rachelkg commented on #6512
Hi Have updated my excel sheet. Here is the new version. I have also made a new sheet which only have translation comments, without any wider layout issues.
[Just translation issues.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6918259/Just.translation.issues.xlsx)
[R-Instat translation changes.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6918260/R-Instat.transla

[2021-08-03 14:27] HawardKetoyoMsatsi commented on #6615
@Cal-Insta please how is the testing going on.

[2021-08-04 10:54] rdstern commented on #6562
Yet another package needed is `mlbench` (for machine learning benchmarks!) What an interesting set of datasets.  It is used by the caret package.

[2021-08-04 20:44] rachelkg opened #6659 "Themes subdialog of Plot options"
Hello @shadrackkibet,

I have been working on the Themes subdialog and have found an number of areas that are unclear to me. For example, under XY-Axes multiple items are titled Element Text or Element Line, it is unclear what they refer to. There is also something called grpTickLength. There are similar things on each tab where multiple items have the same names.

Could we add tool tips or change

[2021-08-04 22:32] rachelkg opened #6660 "Changing text"
Hello,

I am not sure who to address this question to. I am having some trouble making changes to the English text. In the One Way Frequency dialog I have been asked to omit One-Way from the name. I am also trying to change Ascending Frequencies and Descending Frequencies to just Ascending and Descending. I have made changes like these before without issue but in this instance it doesnt seem to be

[2021-08-05 08:07] shadrackkibet commented on #6659
Thanks, @rachelkg for reporting this. Let us discuss it during the sprint.

[2021-08-05 08:21] shadrackkibet commented on #6660
In addition to changing the `text` property. Could you also change the `name` property? For example `mnuClimaticFileImportandTidyNetCDF` to `mnuClimaticFileImportNetCDF`. For the controls try also changing the `name` property to something else and that should work.

[2021-08-05 09:12] #6622 closed

[2021-08-05 09:41] shadrackkibet commented on #6562
- See https://github.com/africanmathsinitiative/R-Instat/issues/6616#issue-946128852

[2021-08-05 09:42] #6616 closed

[2021-08-06 08:36] Cal-Insta commented on #6615
@HawardKetoyoMsatsi the display as dot plot works ok. I think we can now look at the plot options.

[2021-08-06 09:02] #6527 closed

[2021-08-06 13:00] shadrackkibet opened #6663 "Additional source of climate data"
@IbrahimDanDije wrote as follows via email;

I would like to share with you this source of data that we experimented at ACMAD: we expect that this data will match with observed data for non-tropical zones in Africa: https://iridl.ldeo.columbia.edu/SOURCES/.NOAA/.NCEP/.CPC/.UNIFIED_PRCP/.GAUGE_BASED/.GLOBAL/.v1p0/.extREALTIME/.rain/, I think it could be added in R instat. This is the link for some

[2021-08-08 10:29] rdstern commented on #6562
@shadrack - yet another package needed is called survey.  It is the standard r package for the analysis of survey data!  If we want to be respectable for the analysis of survey data, this package is needed.  As with the caret package we should also add (at least) one dialogue.  For the survey package it is a dialogue in the Structured menu It can just be called Survey - Like we have Survival.

[2021-08-09 12:05] rdstern opened #6665 "Add dialogue for spatial data into R-Instat"
This follows our aim of being able to use ggplot2 for the "standard" graphs in the [Data Visualisation with R](https://rkabacoff.github.io/datavis/GeoMaps.html#choropleth-maps) book.  There Chapter 6 is on maps.  It has 2 sections, namely ordinary maps using ggmap and choropleth maps with the choroplethr package.  In addition I assume we want contour plots.

We also (perhaps more urgently) need to

[2021-08-10 16:26] rachelkg commented on #6660
Thanks I will try this

[2021-08-11 12:13] rdstern commented on #4421
This is no longer the reorder function.  We are now using forcats and they have an attractive range of functions to reorder the levels of a factor.  They include fct_reorder which we already use in the calculator.
So, I suggest we also improve the Prepare > Factor > Reorder levels - perhaps as follows:

Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/12899

[2021-08-11 15:23] rdstern commented on #4421
The third option is to order by a function of another variable that is available in the same data frame.
This time there is a single receiver as always
Beneath that is another receiver for a Numeric-type variable and with Label `Variable: `(includes Dates/logical, but I think not another factor?  I wonder if it could?  The summaries would be different?  Check by asking from Danny or Lily or Shadra

[2021-08-12 07:17] #6626 closed

[2021-08-12 22:41] rachelkg opened #6667 "urcSave.vb"
Hello @rdstern and @shadrackkibet

In the
Prepare - Date   frame - Row names or numbers dialog, I have made the box wider to account for the urc Save box for the Column Name.

@rdstern  please see attached, I know that you are not keen on enlarging the boxes in general.

@shadrackkibet This seems like it could be shorter but I am nervous altering the urcSave.vb box as it shows up on a lot of dialo

[2021-08-13 00:19] rachelkg opened #6669 "Row names or numbers"
![Row Names or numbers](https://user-images.githubusercontent.com/85707390/129285945-ea24da10-4c7d-4af3-b6cf-3d1dc3c56558.png)
![Rows names or numbers in visual studio](https://user-images.githubusercontent.com/85707390/129285947-7db513f5-afb1-44ac-b6d7-7a4667b32a2a.png)

Thanks,

Rachel

[2021-08-13 01:56] IssoufKon opened #6670 "One Way frequency table: Functionalities allowing to decide if you want to display NA and summary in the table or not"
**Is your feature request related to a problem? Please describe.**
The problem is that it is not possible to remove the "NA" and "summary" in the one way frequency table.  Why is it possible to do this with the two or three way frequency tables but not with the one way frequency table? In fact, these functionalities don't exist in the "more options" menu so we can't decide if we want them or not i

[2021-08-13 05:56] rdstern commented on #6542
I now suggest we "bite the bullet" more comprehensively on this issue.  I keep having examples where I would like to transform data in a variable as part of its use.
I propose that the single receiver - wherever it is has new options on the right-click.  One of these is called Calc or Calculate.  It opens our calculator.  Then the control is filled with the results of the calculation.

We might al

[2021-08-13 08:28] rdstern opened #6671 "Adding dialogues for machine learning - caret"
caret appears to be a "one-stop-shop" for machine learning.  It is the only package that has a chapter devoted to it, in the [Introduction to Data Science](https://rafalab.github.io/dsbook/caret.html) book.

I suggest a small set of dialogues - plus (possibly) keyboards in our Fit Model Keyboard and Use Model Keyboard.

I suggest the first dialogue be called `Machine Learning (caret) `and be under

[2021-08-13 16:28] rdstern opened #6672 "Correct the Regular Sequence dialogue"
@maxwellfundi if you are introducing the new interns then here is a simple bug to correct in the Prepare > Calculate > Regular Sequence dialogue.  Here is a screen shot:

![image](https://user-images.githubusercontent.com/11226469/129389865-7be4c8a4-cfbd-4daa-819b-74870717c594.png)

It looks very untidy now and the Position control is obviously in the wrong place.
a) I suggest the preview be moved

[2021-08-14 04:58] shadrackkibet commented on #6562
@rdstern this is an interesting one to discuss and think through. Let us come up with the design of the dialog and then perhaps good to involve a newbie initially since it is a new dialog. What do you think?

[2021-08-14 08:48] shadrackkibet commented on #6653
Could you also attach the dataset for investigations?

[2021-08-15 07:57] #6646 closed

[2021-08-17 05:42] HawardKetoyoMsatsi commented on #6534
@rdstern @shadrackkibet @dannyparsons Something strange is happening with the String Handling dialog. dialog and the script window.
I generated an R code from the dialog with one single quote (') and another with two single quotes (''). I later left without running anything. the script window accumulated many other single quotes now the code is messy.

The code I created
# Code generated by the di

[2021-08-17 09:21] rdstern opened #6678 "Improve the calculator for character variables and add tooltips"
[Tooltips for the calculator.docx](https://github.com/africanmathsinitiative/R-Instat/files/6998674/Tooltips.for.the.calculator.docx)

This is to the first part of the character keyboard.

There are also a few keys to correct and 3 to add.

[2021-08-17 09:49] HawardKetoyoMsatsi commented on #6373
@rdstern I fixed this issue in PR #6458 which has been merged already but you asked me not to close this issue yet because there was something there not done yet. and that you would the AIMS student to look at this problem and then advise you what to do. has the pending issue been worked on or opened in a new issue?

[2021-08-17 12:02] Wycklife opened #6680 "Bad Parameter or Other API misuse bug"
I keep on getting this bug whenever I start R-Instat. This occurred after I updated and pulled the current changes from R-Instat into my branch. @africanmathsinitiative/developers Could someone help me fix it? See the screenshot below:

![API problem](https://user-images.githubusercontent.com/33898404/129721975-68c10a81-ad9c-40d0-99a8-2b507e48d5e2.PNG)

[2021-08-17 12:25] Ivanluv commented on #6644
@lilyclements  I have tried changing the order of the summaries  within the  `summary `parameter but I still get the same results of the order being alphabetic

[2021-08-17 12:50] rdstern opened #6681 "Error in calculator throws me out of R-Instat?"
I am testing the calculator and using regex with the character keyboard.

Try typing this into RStudio or into the script window in R-Instat.

[code]
The result is 3, 5 from line 2 and 0. 2 from line 3.  Line 4 gives an error:  In RStudio it is:

`Error: '\.' is an unrecognized escape in character string starting ""\."`

in R-Instat there is no error message.  I am thrown out of the software!  Tha

[2021-08-18 07:02] rdstern commented on #6678
Here is an updated version of the word file
[Tooltips for the calculator2.docx](https://github.com/africanmathsinitiative/R-Instat/files/7005191/Tooltips.for.the.calculator2.docx)

It has tooltips also for the remaining keys of the calculator keyboard.

I am wondering if they are a control - the remaining keys I mean, because they could then possibly be added to the dialogues in Prepare > Column:

[2021-08-18 07:09] Wycklife commented on #6681
@africanmathsinitiative/developers I am improving the character keyboard. So may be this can wait to avoid conflicts.

[2021-08-18 07:11] shadrackkibet commented on #6680
Fixed this by deleting the bin folder and then build afresh!

[2021-08-18 07:11] #6680 closed

[2021-08-19 10:08] rdstern opened #6683 "Command that doesn't work in script file"
This isn't as much a bug, as a limitation in our current "system".  I give the code.  It is taken from Chapter 26 in the [Data Science](https://rafalab.github.io/dsbook/text-mining.html) book

[code]
This works fine, but the next option in the book is and alternative dataset with the command.
`get_sentiments("afinn")`

This appears to freeze up R-Instat.  You have to break out of the package to pr

[2021-08-19 10:25] rdstern commented on #5986
A special case - which might be simple to do, is when there is initial code and the result is a data frame.  I wonder if this could be made simple, possibly it is already almost available - in the File > New Data Frame dialogue.  That has a command option.

So I want these commands - and they run fine in the script window:
[code]
If I then add the line:

`data_book$import_data(data_tables=list(ori

[2021-08-19 10:41] rdstern opened #6684 "Prepare Data Frame > Row Numbers dialogue has Position feature to correct."
I suspect we will find more like this!  The Position button has moved, and the name of the new variable is now too short to see properly.

[2021-08-19 13:58] N-thony commented on #6665
@rdstern what about this issue? Is there someone working on it or I should take it over?

[2021-08-19 14:15] N-thony commented on #6671
@rdstern what about this issue? I can start the first part.

[2021-08-19 14:16] N-thony commented on #6671
@rdstern what about this issue? I can start the first part.

[2021-08-19 14:52] N-thony commented on #6624
@dannyparsons do you mind if I take this over?

[2021-08-19 15:23] rdstern opened #6685 "Specify date-time and time differently from a date variable"
We currently show the type of a variable as D if it is a date-type.  We can have Date variables or Date-time or Time variables.  When @dannyparsons sorted out those (D) extensions there seemed no reason to distinguish between these different types.  I now have a reason!
Sometimes datasets arise where a date variable has been defined as Date-time.  If so, then the climatic dialogues (Infill, Define

[2021-08-19 18:36] #6669 closed

[2021-08-19 18:37] #6667 closed

[2021-08-19 18:52] rachelkg opened #6686 "PCA Options subdialog, Save Tab Empty"
Hi All,

I have noticed that the PCA Options subdialog, Save Tab Empty. Is it waiting to be filled or should it be removed.

Thanks,

Rachel

![PCA Options](https://user-images.githubusercontent.com/85707390/130127324-dcfc0407-98c9-4080-bbd6-26add6b31739.png)

[2021-08-19 22:56] rdstern opened #6687 "Add dialogue or radio button for the unnest tokens function"
This is all part of text mining.  The function is in the tidytext package, which is (I think) already in R-Instat.  The use is described in the [vignette](https://mran.microsoft.com/snapshot/2018-08-31/web/packages/tidytext/vignettes/tidytext.html).  In addition there is (yet another) interesting book that is available as a soft copy.  It covers the same materials and more in more detail.  It is c

[2021-08-20 08:40] shadrackkibet commented on #6656
Fixed in https://github.com/africanmathsinitiative/R-Instat/pull/6676

[2021-08-20 08:40] #6656 closed

[2021-08-20 11:23] #6652 closed

[2021-08-20 17:35] shadrackkibet commented on #6686
This is an incomplete dialog case and it has been partly because the dialog has not been used a lot! However, this is something that should be easy to complete and I also noted that there are bugs in this dialog that need to be fixed if not restructuring the dialog.

[2021-08-22 10:30] rdstern opened #6690 "Sub-dialogues not (always?) available for new bar chart dialogue"
I had attached the data file, but this seems to be a more general bug?  With the current master and the survey data in the simplest form:

![image](https://user-images.githubusercontent.com/11226469/130351819-018b54a9-ea8e-4c9f-b42b-5d7c6caf8237.png)

If I now press Plot Options I get:
![image](https://user-images.githubusercontent.com/11226469/130351896-a8b68420-5039-4511-a340-7ebfafedfefb.png)

[2021-08-22 11:24] N-thony commented on #6690
I would like to try to fix it but I think @shadrackkibet is working on this dialogue.

[2021-08-22 11:31] rdstern commented on #6690
@N-thony if you are happy to look, then I don't think he is working on it just now, and I don't think a change on this aspect is likely to cause a serious conflict anyway.

[2021-08-22 15:00] N-thony commented on #6690
@rdstern I also noticed this bug concerning plot options sub dialogue that I think right to report it here too.
It seems to be general, after making any change in the sub dialogue this bug appears at least if you reset the dialog.
![image](https://user-images.githubusercontent.com/68591383/130359852-0cb60c75-7e9e-46ac-97c0-fbb33c14c59e.png)

[2021-08-23 07:35] shadrackkibet commented on #6690
@Ivanluv this is the bug introduced by the new feature on annotating. Should be quick to fix.

[2021-08-23 07:55] Ivanluv commented on #6690
@shadrackkibet  am fixing that now

[2021-08-23 07:58] N-thony commented on #6690
I think have fixed that, check PR #6691

[2021-08-23 08:17] Ivanluv commented on #6690
@N-thony I can see your PR #6691  has fixed the annonations bug

However, the code you have commented is used in setting up the x and y controls which might introduce more errors

[2021-08-23 08:19] N-thony commented on #6690
Thanks, I have commented just to know the need of that. Now I got it.

[2021-08-23 09:52] Ivanluv commented on #6690
@N-thony I can have  a look at that

[2021-08-23 10:50] rdstern opened #6692 "Improve the File > New Data Frame to be able to run multiple lines of code"
Could we please enhance the File > New Data Frame dialogue, with the Command option to be able to process multiple lines, as is done in the script window.

I give 3 examples of code that (sort of) works in the script.  But it is then separate to R-Instat and needs a command to make it into a data frame.

This works fine already as is shown in the figure:

[code]
![image](https://user-images.github

[2021-08-23 11:16] rdstern commented on #6692
Just to query also when we resolve #6683 - if we can - I assume it will provide a popup dialogue giving us the choice shown by RStudio?  If that works for the script, perhaps it can also work for here?

[2021-08-23 13:11] N-thony commented on #6582
Great, I will work on this ASAP PR #6682 is merged.

[2021-08-23 17:14] rachelkg opened #6696 "Missing Options button on Column Statistics and Climatic Summaries dialog not changed"
Hello @Patowhiz and @lloyddewit,

I have been tasked with changeling the Missing Options button to Options. I have tried to do this by changing the text in the properties box to Options and while this shows up in Visual Studio it does not appear when I run R-Instat. (This occurs in both the Columns Stats dialog and the Climatic Summaries dialog).

Could you tell me why that is please?
![Column sta

[2021-08-23 17:16] rachelkg opened #6697 "Error when opening OneVarCompareModels.vb"
Hello @Patowhiz and @lloyddewit,

I receive this error when I try to open sdgOneVarCompareModels.vb

Thanks,

Rachel
![sdgOnevarCompareModels](https://user-images.githubusercontent.com/85707390/130489349-ff06d7d1-f3df-490b-9e95-f9d84ebe7f6e.png)

[2021-08-23 17:20] rachelkg opened #6698 "File cannot be imported when running in French."
Hello @Patowhiz and @lloyddewit,

Partick and I noticed that when running in French we could not import a file which imported correctly in English. Please see the error below. As I understood it, patrick thought it was to do with Automatic being translated to Automatique but he would be able to clarify this further.

Thanks,

Rachel
![File cannot be imported](https://user-images.githubusercontent.

[2021-08-23 18:03] lilyclements commented on #6634
@rdstern I just wanted to clarify what you meant by this point of the data frame.
Does this mean that we want to subset the data frame to the variables in the row, column, and multiple receivers, and then this "shortened" data frame is the data frame in the `rpivotTable` command?

[2021-08-23 18:06] rachelkg opened #6699 "Data Options sdg opens behind Dummy Variables dialog"
Hello @Patowhiz and @lloyddewit,

I have noticed that when you open the Data Options subdialog from the Dummy Variables dialog (Prepare - Column Factor - Dummy Variables), it opens up behind the dialog rather than in front. You can move it to the side and use it but it will not come to the front, equally if you then open the Define New Filter subdialog from the Data options subdialog it will also

[2021-08-23 19:51] rachelkg opened #6700 "Save Urc issues in Load Dataset from Library, Row names and Numbers, Add Key and Recode Numeric Into Quantiles"
Hi @Patowhiz,

 In Open Dataset from Library the Save area is not displaying properly. You should be able to see a colon at the end of Nouveau nom de tableau de donnees, when I make the item bigger instead of moving the box over it just makes the white box really big but it still does not show the colon and it looks cut off.

![Open data set from library](https://user-images.githubusercontent.com/

[2021-08-23 19:58] rachelkg opened #6701 "Change Corruption risk index menu item and dialog name"
Hello @Patowhiz,

Please could you change a menu item and related dialog name for me.

The menu item Corruption Risk Index should be changed to Corruption Risk Index (CRI)
![Menu Corruption Risk Index](https://user-images.githubusercontent.com/85707390/130511162-c504b496-4844-46b3-9c18-084a40661287.png)

The menu item Calculate Corruption Risk Index (CRI)... Should be Define Corruption Risk Index

[2021-08-23 20:22] rachelkg opened #6702 "Change Menu Item and Dialog name Define Corruption Outputs"
Hi @Patowhiz,

Please could you change a menu item and dialog name.

The Menu item needs to change from Define Corruption Risk Output Variables to "Define Corruption Indicators".
![Menu Define Corruption Risk Output Variable](https://user-images.githubusercontent.com/85707390/130513959-8b95cd20-2e85-4bdf-9c68-ff510ed7a0ec.png)

And the dialog is currently named Define Corruption Risk Output but sh

[2021-08-23 20:23] rachelkg commented on #6512
Here is the newest iteration of the translation issues document.
[R-Instat translation changes Aug 19th.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/7034669/R-Instat.translation.changes.Aug.19th.xlsx)

[2021-08-24 11:20] lilyclements commented on #6644
@Ivanluv presumably this is due to the `iNewPosition` parameter in the sdgSummaries sub dialog. I suppose we want the iNewPosition in the sdgSummaries sub dialog to state which order the different summaries are given in a list on the main dialog.

Then presumably  you just need to set `summaries = *this list*`, like with the `ucrReorderFactor` control in the Reorder Factor dialog?

[2021-08-24 12:36] rdstern commented on #6633
@N-thony After discussion with @volloholic here are now the suggestions for the new design.
a) The dialogue is "deeper", so the current Layers control moves downwards.  It is below the "usual" data selector, shown above.
b) Add the "usual data selector as shown above, i.e. Data Frame + Variables + Add + Data Options
c) On the right - again as shown above - have the usual 3 receivers, i.e. Single/M

[2021-08-24 12:50] shadrackkibet commented on #6633
This is enough for work to start. I will give my inputs when we have some of this in the dialog. @N-thony please proceed with the task.

[2021-08-24 13:46] rdstern commented on #6634
@lilyclements that's right.  The dialogue uses the "whole" data frame and sometimes we may have 100s of variables.  It becomes messy then, so it would be good to be able to limit the variables for this.  I see this as just the same as in that most dialogues would take account of a filter - and assume we will do the same here.

[2021-08-24 14:26] rdstern commented on #6633
@shadrackkibet thanks for that input.  It will be good to have the changed version of this dialogue in time for the sprint and then to discuss further.  I see that as a parallel of discussions we will have on the new bar chart by then.  And they can be driven by examples of use of the current dialogues.

[2021-08-24 17:11] shadrackkibet commented on #6633
@rdstern absolutely! @N-thony please feel free to get in touch if you need any help to make progress. Let's work on these points and have something to push further during the sprint which is approaching fast. Let the work do the talking!

[2021-08-24 17:20] N-thony commented on #6633
Sure! I will then consider this as an urgent task, I will start to work on it by tomorrow morning after my chat with @rdstern.

[2021-08-24 21:13] rachelkg commented on #6512
And one more newer version
[R-Instat translation changes Aug 24th.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/7042151/R-Instat.translation.changes.Aug.24th.xlsx)

[2021-08-25 11:18] rdstern opened #6705 "Add squish to the Transform Text dialogue"
This is a small task.  It isn't urgent, but might be a useful improvement for an intern given they have been improving the text keyboard in the calculator.

![image](https://user-images.githubusercontent.com/11226469/130780903-3569e625-2635-4064-b651-295e89437ba4.png)
This is the current dialogue for trimming spaces.
There are 3 buttons for Left, Right and Both.
There could usefully be a 4th optio

[2021-08-28 08:03] Gioche6 commented on #6705
@shadrackkibet , Yes, I will take up the challenge. Thank you, I will constantly seek guidance from you and the team whenever I come across a challenge beyond my reach.

[2021-08-30 12:50] Ivanluv commented on #6705
@shadrackkibet  As I have been helping out with this I realized that the code has some implementation inconsistencies eg having the `setRcodeForControls `run within `ucrPnl_ControlValueChanged `sub. Should I
refactor the code to our normal implemetation then they can go on with this issue?

[2021-08-30 13:06] shadrackkibet commented on #6705
@Ivanluv that will be nice to sort out. If it doesn't take much time please go ahead with refactoring. Otherwise adding the Squish feature is the priority for now.

[2021-08-30 13:21] Ivanluv commented on #6705
@shadrackkibet this wont take  much time

[2021-08-30 13:26] shadrackkibet commented on #6705
Go for it!

[2021-08-31 05:53] rdstern commented on #6705
@Ivanluv and @shadrackkibet just to support this improving-of-the-code step, that you plan, or perhaps have done already.  It is important and also good to add for training.  We need to make general improvements to the prepare menu, and having consistent, high-quality code is an important component.
Here this also links with making good use of the tidyr family of packages - this time stringr.  We

[2021-08-31 12:56] #6678 closed

[2021-08-31 12:57] #6599 closed

[2021-09-01 08:26] #6640 closed

[2021-09-01 18:14] rachelkg opened #6710 "Inconsistencies between menu item names and dialog names"
Here is a link to the google doc of the list of Inconsistencies I have found between the Menus and Dialog names. (https://docs.google.com/spreadsheets/d/1Mm7q_BvLJ3bENA1iWqzDdNr9KMeZv6a1/edit?usp=sharing&ouid=109004489783210984776&rtpof=true&sd=true)

While I think this is a good start, I am by no means claiming that it is comprehensive. It is just those that were highlighted by inconsistencies in

[2021-09-01 21:30] rachelkg opened #6711 "Cannot change the name of the dialog Row Names Or Number"
Hello @Patowhiz and @lloyddewit,

You said I should make an issue if I was unable to change the name of a dialog by changing the text in Visual Studio. This has happened in the Row Names Or Numbers dialog. Please could you  Or and reverse names and numbers so the final dialog name would be "Row Numbers or Names".

Thanks
Rachel

![Row name or numbers](https://user-images.githubusercontent.com/8570

[2021-09-01 21:36] rachelkg opened #6712 "Cannot change the name of the Recode Numeric into Quantiles"
Hello @Patowhiz and @lloyddewit,

I am not able to rename the Recode Numeric Into Quantiles dialog using the text property in Visual Studio. The Into should not be capitalised, so it should be "Recode Numeric into Quantiles".

![Recode numeric into Quantiles](https://user-images.githubusercontent.com/85707390/131748551-7e37f4fb-b135-4ebd-b5ef-6c12f218ee92.png)

[2021-09-01 21:49] rachelkg opened #6713 "Capitalisation issue in Calculate Difference Between Options"
Hello @Patowhiz,

The menu item Calculate DIfference Between Options should not have a capital I second letter. It should be Calculate Difference Between Options. Please could you change it.

Thanks,

Rachel
![Calculte Difference](https://user-images.githubusercontent.com/85707390/131749863-8fb35c9b-2bf3-469e-99ad-01318863c0f0.png)

[2021-09-02 11:06] rdstern commented on #6426
Some datasets have variable labels.  Interesting to see how they work with select.  This site may be [useful](https://stackoverflow.com/questions/57395444/keeping-column-labels-when-using-the-select-function-with-dplyr
)
Also I noticed that @Cal-Insta was going to work on this function as of 21 June.  What has happened since?  I knopw @shadrackkibet will work on select in the sprint.  Is there any

[2021-09-02 12:02] Cal-Insta commented on #6426
Shadrach and I had a discussion on this issue some time ago. I will share the design I came out with @shadrackkibet.

[2021-09-03 05:03] Cal-Insta commented on #6426
Shadrach and I had a discussion on this issue some time ago. I will share what I came out with @shadrackkibet.

[2021-09-03 08:12] EstherNjeriLiberatta opened #6714 "Importing data from Library (missing datasets in some packages)."
I have had trouble trying to load datasets from some packages in R-Instat. It brings an error while loading datasets from particular packages. I went ahead and tried installing the package and it seemed to be installed and up to date. However, it still gave me the same error it had initially. I ran all the packages a couple of times and found out that the packages having bugs were; Fields, ggpmisc

[2021-09-03 09:45] HawardKetoyoMsatsi commented on #6562
@shadrackkibet @rdstern have you had a look at the above comment. Do you have any comments from your side so that the sketch of the dialog could be improved further and interns start working on it.

[2021-09-03 10:23] HawardKetoyoMsatsi commented on #6534
@lloyddewit @rdstern @shadrackkibet  There is another funny behavior here where the Script window keeps updating itself as described in my above comment could you please have a look. I think as the dialog updates upon reopening that's where the extra quotes come from.

[2021-09-03 10:33] rdstern commented on #6534
@HawardKetoyoMsatsi I think there is some interesting regex behavior here.  I suggest this issue be raised by you at the start of the sprint.  Then perhaps you can work with one person to investigate further.  I am assuming that these dialogues will soon be improved anyway, so they become more powerful.  That's why I have been working on improving the regex facilities in the calculator recently.

[2021-09-05 15:46] dannyparsons commented on #6562
@HawardKetoyoMsatsi @rdstern Thanks for this, but can you move the discussions about the survey package/dialog to a new issue? Then we can keep this discussion for the list of packages that already have functionality and need to be added for the next version.

I will shortly propose a new way of developers adding new package dependences to their PRs, which will make this process clearer, and remov

[2021-09-06 00:45] IssoufKon opened #6717 "Inserting French characters ("é", "è", "à", ....) in R-Instat"
**Is your feature request related to a problem? Please describe.**
In our daily use of R-Instat, we have noticed that R-Instat does not recognize certain characteristics specific to the French language such as "é", "è", "à", "ê", "ô", "ï",.....   Since R-Instat will also be used to support projects in French-speaking Africa, it will be good to insert these corrections if possible.

**Describe the

[2021-09-06 05:57] rdstern commented on #6717
@IssoufKon just to confirm that the first figure above is from the reogrid , i.e. from the spreadsheet view of the data.  I thought this was fixed  - or there is a pull request on this by @Patowhiz? I expect he will comment.
I wonder if the second is from the output window?
This is useful for you to raise, because I hope the forthcoming workshop (january 2022) will use the French version.

[2021-09-06 07:39] Patowhiz commented on #6717
@rdstern yes, PR #6555 fixes symbol's that seemed to be french accent characters even though they are just spaces. It Is yet to be merged.
I'm not sure if this issue is related to it.
@IssoufKon @rdstern can I get sample data data to confirm this?

[2021-09-06 07:45] Patowhiz commented on #6583
@rdstern thanks. Once PR #6625  is merged this will be fixed.

[2021-09-06 07:48] HawardKetoyoMsatsi opened #6718 "Adding Survey dialogue in the Structured menu."
According to a comment by @rdstern in issue #6562, the survey package is to be added. It is a dialogue in the Structured menu. It can just be called Survey - Like we have Survival.

I looked at the issue together with the interns and further sketched the dialogs with @EstherNjeriLiberatta and @anastasia-mbithe. Once the task is discussed and ready for implementation @EstherNjeriLiberatta and @anas

[2021-09-06 07:57] Patowhiz commented on #6618
@rdstern, @Gioche6 and I are unable to reproduce this error. Perhaps we could do it together or use French?

[2021-09-06 08:00] Patowhiz commented on #6618
@rdstern the French screenshot is actually the relevant one. We were able to reproduce the error when using French.

[2021-09-06 08:26] Patowhiz opened #6719 "Errors NOT translated to the selected languages"
@lloyddewit @rdstern probably this is intentional.
I've consistently noticed that developer errors are not translated to the language selected. I'm assuming the same happens for other errors.
Perhaps this could be something to be discussed in future.

[2021-09-06 08:46] HawardKetoyoMsatsi commented on #6209
@rdstern @shadrackkibet  @maxwellfundi I suggest one of you assign this to @EstherNjeriLiberatta then I will support her fix it during this sprint.

[2021-09-06 09:07] rdstern commented on #6209
Assigned to @EstherNjeriLiberatta as requested.  In the longer term I would like to move the Mosaic plots to become an additional button, instead, on the bar charts dialogue.  This may need discussion with @dannyparsons .  I also want to add TRee Maps which are on the procurement menu, but not (yet) one of our ordinary graphs.

[2021-09-06 09:13] HawardKetoyoMsatsi opened #6720 "Find/Replace dialogue changing strings on its own"
@rdstern @shadrackkibet @lloyddewit @dannyparsons In an attempt to fix #6534 I found Something strange happening with the String Handling dialog and the script window.
I generated an R code in the script window from the dialog with one single quote ('). I later left without running anything. The script window later accumulated many other single quotes now the code is messy.

The code I created
![i

[2021-09-06 09:20] Gioche6 commented on #6618
@Patowhiz and I have noted the following regarding the issue.

The error is reproduced when using French translation. This is because the drop down control containing a list of the vertical label positions and the horizontal label positions are translated. Therefore, the 2 controls fail to set their value states from the R Function.(Check the developer error screenshot above).

@lloyddewit this is

[2021-09-06 09:24] Gioche6 commented on #6618
A separate issue, though the bug mentioned here does not relate to the color drop down, it's important to note that in future, it could cause a logical bug when the script is run in R. This is due to it's contents also being translated.
We are leaving it as editable, as it should be, and will be automatically solved by @lloyddewit changes in regards to controls that should not be translated.

[2021-09-06 10:03] Gioche6 commented on #6670
@Ivanluv , I am taking over this task.

[2021-09-06 10:08] lilyclements commented on #6523
@rdstern shall I write a new function simplifying ‘newggslopegraph’ to fit what we want, or should we use ‘newggslopegraph’?

Having it as a new function will mean we don’t have to install the relatively large package that this function is in, and additionally would mean less issues conflicting if the user wanted to add labels to the plot (since this function uses different labels to us, from memo

[2021-09-06 10:29] maxwellfundi commented on #6470
@mmulahvictor Please take this up and work with @Ivanluv to get it done. Also add it to the list of To Do on the scrum board.

[2021-09-06 10:30] maxwellfundi commented on #6377
@Patowhiz  Can we have you and someone work on this? Maaybe @Gioche6 with @Vitalis95? Is this a new dialog that they can get started on?

[2021-09-06 10:34] #6349 closed

[2021-09-06 10:35] #6615 closed

[2021-09-06 10:45] maxwellfundi commented on #6550
@shadrackkibet  now that #6561 was merged, this could be something you work with an @anastasia-mbithe ?

[2021-09-06 12:01] Ivanluv commented on #6670
@Gioche6 okay

[2021-09-06 12:06] Patowhiz commented on #6670
@rdstern, @Gioche6 and I are looking into different ways we could add the suggested options. As you have mentioned in item (d) above, we will leave the other options if we find it's taking longer to get an alternative R package that does the same.

[2021-09-06 12:25] Patowhiz commented on #6670
@rdstern we have decided to just solve item (a), (b) and (c) for this sprint. In future more research could be done on alternative packages that accommodates all the suggested options or we could write our own custom function that does the same.

[2021-09-06 12:42] shadrackkibet commented on #6550
Yes sure, we will be working on it during the sprint.

[2021-09-06 14:12] N-thony commented on #6582
@rdstern I think now the bar chart dialog is ready for this issue to be implemented. I would like to add this into the bar chart dialog during the sprint. What do you think?

[2021-09-06 14:16] Gioche6 commented on #6670
@rdstern , @Patowhiz .On solving item _(c)_, I have noted that the `frq` function does not return a data frame, but the result is of different class, namely `"sjmisc_frq", "list"` . However,  Once we convert the result into a data frame, some summary statistics of the result  are lost, namely: Total, valid , mean and sd.
see the snip below.
![Screenshot 2021-09-06 164434](https://user-images.githu

[2021-09-06 14:16] rdstern commented on #6523
Yes, please add the function

[2021-09-06 18:24] lloyddewit commented on #6719
@Patowhiz Thanks for reporting this issue. It's not intentional but is known. It's already mentioned in issue #3721:

![image](https://user-images.githubusercontent.com/57253949/132252224-5208a435-84a3-45d2-91e3-8e27c4e4ac87.png)

[2021-09-06 18:24] #6719 closed

[2021-09-07 06:17] rdstern opened #6726 "Add lollipop option to the bar chart dialogue"
We recently (I think) added geom_lollipop to the list.

This is a sort of bar chart.  It is (in geom terms) also a segment plus point.  But, as there is a geom lollipop I suggest the best place is in the bar chart dialogue.  It can be a single checkbox, on the left, perhaps after Polar.  If checked, then we use geom_lollipop rather than geom_bar, so the bar options button should change to Lollipop

[2021-09-07 06:24] rdstern commented on #6377
@maxwellfundi this will be an important dialogue, but it is lower priority than the current issues related to the Describe menu.  In general I am de-emphasising climatic as important just now, until we get more funding to continue with that work.  If you want someone to work on a new and important dialogue, then the caret dialogue is very important and not as difficult as it may seem initially, be

[2021-09-07 06:37] rdstern commented on #6670
@Gioche6 yes please go ahead.  Those are not consistent with the data frame - as you say - so not important to try to add there.

[2021-09-07 06:49] EstherNjeriLiberatta commented on #6209
@rdstern kindly take a look at this issue. I looked at this issue on geom_mosaic having no Aesthetic parameters with help from @HawardKetoyoMsatsi and @Patowhiz. A lot of problems arose (some of which we discussed with you in the meeting) that @Patowhiz is taking a closer look at and we will also have to consult @dannyparsons before we can proceed.

[2021-09-07 08:59] EstherNjeriLiberatta commented on #6209
@rdstern from our discussion with @dannyparsons @Patowhiz this issue can't be done at the moment, a few structures need to be put in place.
1. `geom_mossaic` receives `x` parameter as a function (i.e `product(variablename)`) yet this is not an option in parameters passed to the aesthetics.
2. The function passed as the x parameter receives a list of variables yet in the aesthetics for `geoms` all

[2021-09-07 09:11] Gioche6 opened #6729 "Difference in Script Window codes and Output Window Codes for One Way Frequency Dialog"
**I have noted a difference in the codes produced by the One way frequency dialog, in Both option. the codes produced at the Window Script are different to those produced at the output Window**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'One Way Frequency Dialog'
2. Click on 'Both'
3. Scroll down to 'Ok'
4. Open the Dialog again. 'Click the script button'
5. Compare the codes pro

[2021-09-07 10:06] lilyclements commented on #6523
Here is the function - I've split it into two for now:
* function to run the code
* theme for the function.

The code to run it on the dialog is

`newggslopegraph_amended(data = <Data Frame>, x = <X Variable>, y = <Y Variable>, colour = <Colour/By variable>) + newggslopegraph_theme()`

e.g.
[code]

I've made some very minor amendments (edited the error messages to be more consistent with R-Instat

[2021-09-07 10:10] rdstern commented on #6523
@lilyclements great, many thanks.

The dumbbell and slope are both in the Line plot dialogue, because line plots (and also these are often for time-series data.

Just to check, that the dumbbell option didn't need anything from you, @lilyclements , because it is a geom already - like geom_lolliop is is in the ggalt package.  Your work was for the slope function?

[2021-09-07 10:47] lilyclements commented on #6523
Yes. This work was for the slope function just amending ‘newggslopegraph’. This isn’t as a geom at the moment, just as a function.
Hopefully can further separate it into a geom in the future.

[2021-09-07 11:38] Patowhiz commented on #6717
@rdstern @IssoufKon  would be useful to get the feedback on my above comment, since we have @dannyparsons around.

[2021-09-07 12:12] Patowhiz commented on #6699
@Gioche6 can you please have a look at this? If you fail to reproduce the bug, try to use the French language.

[2021-09-07 12:18] Patowhiz commented on #6713
@Gioche6  can you please have a look at this? The menu can be found at the frmMain. Thanks.

[2021-09-07 12:23] Patowhiz commented on #6702
@Gioche6 please have a look at this. Thanks.

[2021-09-07 12:36] Patowhiz commented on #6701
@Gioche6 please have a look at this. Thanks

[2021-09-07 12:38] Patowhiz commented on #6697
@Gioche6 we can have a look at this together.

[2021-09-07 13:45] Gioche6 commented on #6701
The issue  have been fixed . However, the text is not changing in run time because of the translation issue. Once @lloyddewit has fixed the translation issue, it will automatically change.

[2021-09-07 13:45] Gioche6 commented on #6713
The issue  have been fixed . However, the text is not changing in run time because of the translation issue. Once @lloyddewit has fixed the translation issue, it will automatically change.

[2021-09-07 15:00] lilyclements commented on #5744
@rdstern two questions:

1. By "the function above", do you mean the `ggpmisc::stat_poly_eq` function?
2. Is this something you would want to be added into the correlation bits, as a new dialog, or elsewhere?

[2021-09-07 22:01] lilyclements opened #6739 "Functions in the ggpmisc package useful for labelling models in a plot"
I’ve had a little look at the ‘ggpmisc’ package in R and the vignette [here](https://cran.r-project.org/web/packages/ggpmisc/vignettes/model-based-annotations.html). So I have some comments on the functions in them:

### **stat_poly_eq and stat_poly_line**

The first two functions concern fitting a line of best fit (`stat_poly_line`) and a label containing statistics from the line of best fit (`st

[2021-09-07 22:04] lilyclements commented on #6739
What is the current dialog situation for labelling? Are they in a sub dialog as options?

Could we have a sub dialog (or tab in a labelling sub-dialog) for modelling-plot-label options, and in there have `stat_poly_eq` options.
* The `method` and `formula` parameter values could be automatically read in using the `method` and `formula` parameter values in the `geom_smooth` function (or otherwise c

[2021-09-08 09:08] Gioche6 opened #6740 "Making the Resulting Variable Numeric if the Content is the Row Number."
A suggestion to make the resulting variable numeric if the contents is the row number in the:

 Prepare Data Frame > Row Numbers dialogue >Copy Row into Column Option.

[2021-09-08 09:16] HawardKetoyoMsatsi commented on #6523
@lilyclements @rdstern the dumbel plot is ready however I cannot open a PR since some other people are working on the line plot dialog.  PRs #6724 and #6708 should be merged first before we can open a PR fixing the Line plot dialog. @rdstern could you please look ate these previously opened PRs to pave way for us to open other PRs for dumbell and newsggslope plots.

[2021-09-08 10:52] lloyddewit opened #6744 "Improve parsing of multi-line R script"
PR #6733 processes multiple lines of code in the 'Try' window. This PR works well for most cases. However, more sophisticated R parsing is available in the RScript library. I plan to create a NuGet package from this library in the coming months, and add it to R-Instat. I should then:

- [x] Review the changes in PR #6733 again, and see if the parsing can be improved with the RScript library
- [x]

[2021-09-08 11:24] rdstern commented on #6744
That sounds great.

[2021-09-08 12:13] #6583 closed

[2021-09-08 12:21] #6692 closed

[2021-09-08 15:59] #6651 closed

[2021-09-09 06:07] rdstern opened #6748 "Add treemap to the Bar chart dialogue"
Here is an example of a treemap:
![image](https://user-images.githubusercontent.com/11226469/132628786-83b67288-2c85-4e54-9d3a-655e3a30ea57.png)

It is from the [data visualisation boo](https://rkabacoff.github.io/datavis/Univariate.html#tree-map)k, which gives it as an alternative to a pie chart in Chapter 3 - so essentially for a single factor.
So, if you agree, then the menu item, which is now,

[2021-09-09 09:30] lloyddewit commented on #6710
@rdstern Do you agree with @rachelkg 's proposals above. Should we go ahead and make the dialog names consistent with the menu names?
Note: I assigned myself and labelled as a translation issue because if the above is done, then I'll need to update the translation database.

[2021-09-09 09:39] lloyddewit commented on #6697
This is fixed in PR #6736

[2021-09-09 09:39] #6697 closed

[2021-09-09 10:07] lloyddewit commented on #6591
@Gioche6 this issue looks similar to issue #6697 . You fixed this in PR #6736 . Please could you try and the issue above also? thanks

[2021-09-09 15:13] dannyparsons commented on #6426
Another useful option could be Column Range where you specify a range of columns between a start and end column. It's not vital to have right now, because we can do it with a list of columns, but when there's a clear group in a specific range this would be a bit easy to do, especially if you want to choose 100+ columns.. I found it from the selection document here https://dplyr.tidyverse.org/refer

[2021-09-09 16:02] dannyparsons commented on #6426
The the way this is now implemented in R, it's simple to add any additional parameters to the selection functions, so I suggest we add any of these from the functions which may be useful.

For the issue with `num-range` we can add the `width` parameter, which deals with the leading zeros issue.

[2021-09-09 16:14] #6687 closed

[2021-09-09 16:15] dannyparsons commented on #6739
Thanks Lily. I agree with your first point about keeping `geom_smooth`. As long as it's easy to keep the fitted line and the labels displayed in sync i.e. the labels on the graph represent the fitted line shown, then that sounds good. Since it says they have the same interface, it shouldn't be an issue. So starting by adding them as geoms makes sense.

I like that we have a simple "Add line of bes

[2021-09-09 16:27] lilyclements commented on #6710
I had a little look at the excel file just out of interest, and noticed we sometimes say "or" and sometimes use "/" for the dialog names. Is there a reason for the difference or (/) should we always use the same across all names?

[2021-09-09 17:21] dannyparsons commented on #6748
Just to add that we already have this graph in the procurement menu, I think using the same geom, but maybe not with the same flexibility. I would be happy for that dialog to be improved and updated, while still being easy to use.

[2021-09-09 20:28] rdstern commented on #6195
I think I now have the methods to use for clustering and it is simpler than I thought!  That's a relief.  I am now happy with the book called ["Practical Guide to Cluster Analysis in R: Unsupervised Machine Learning" ](https://xsliulab.github.io/Workshop/week10/r-cluster-book.pdf)

More than that we can follow the book - which like our others recently - can be read online freely.  And that's usefu

[2021-09-10 07:54] #6660 closed

[2021-09-10 07:55] #6701 closed

[2021-09-10 07:55] #6702 closed

[2021-09-10 07:55] #6711 closed

[2021-09-10 07:55] #6712 closed

[2021-09-10 07:55] #6713 closed

[2021-09-10 08:28] #6591 closed

[2021-09-10 08:46] Patowhiz commented on #6720
We are now looking into this with @HawardKetoyoMsatsi

[2021-09-10 09:26] dannyparsons opened #6758 "Add column selections (filters) to the DataBook"
Add column selection objects in the DataBook and DataSheet which can be created like row filters as a list of conditions.

The full specification is here #6426

[2021-09-10 10:30] Ivanluv commented on #6634
@rdstern  for the three variables, which parameter should I be updating with the additional third Single receiver?

Also @lilyclements Should I have this run ie

rpivotTable(data = dodoma,
            rendererName = "Table",
            sorters = paste("
function(attr) {
var sortAs = $.pivotUtilities.sortAs;
if (attr ==", "\"month_abbr\"", ") { return sortAs([", levels_given,"]); }
}"), width="100

[2021-09-10 10:48] #6311 closed

[2021-09-10 10:55] rdstern opened #6761 "Occasional oddity on loading a dialogue"
I occasionally get the image below.  This isn't with a specific dialogue.  I have had it twice with different dialogues I have been testing recently.

![image](https://user-images.githubusercontent.com/11226469/132842753-a0a5a324-0d57-45eb-8bbb-6d09fda9fe72.png)

It starts, as shown without a dialogue.  There isn't a real problem - I can go to any sheet and it then doesn't repeat.  I wonder if the

[2021-09-10 15:58] rachelkg commented on #6710
Thank you for pointing this out @lilyclements I will take a look and enquire.

[2021-09-11 20:49] lilyclements commented on #6634
@Ivanluv i guess we would ideally want that to run any time a receiver is a factor. Perhaps we can do a check like to run it if the levels of a factor variable is not alphabetical (ie isn’t default levels)

[2021-09-12 07:12] #6633 closed

[2021-09-13 07:22] #6758 closed

[2021-09-13 11:19] rdstern opened #6762 "problem importing a data dataset into R-Instat"
I am importing a dataset with 180 climatic stations.  They are dat files.  Each station has its own file and for each element.  I started with Tmax.
These are files with the extension .dat.  They read with the 2nd or 3rd option in the File > Open
![image](https://user-images.githubusercontent.com/11226469/133070394-c10aaa72-dba3-4d19-85f0-47b345bcac6f.png)

There are 35 variables and they initiall

[2021-09-13 18:08] rachelkg commented on #6710
Hello All,

Feedback on the "/ vs or" is that ideally menu items should use / while dialog names should use or. If you come across any of these please point them out or update them.

I have gone over the list of inconsistencies with @rdstern and he has decided on the updates. These are recorded in the attached excel document. @Patowhiz or @Gioche6 would you be able to take a look at the list and u

[2021-09-14 06:36] Gioche6 commented on #6710
@rachelkg , @rdstern, @Patowhiz  , I will go ahead and update the related menu and dialog names.

[2021-09-14 06:48] rdstern opened #6765 "Add word clouds into R-Instat"
Add the ggwordcloud package to R-Instat.  We need word clouds for the text processing work, see the [text mining book](https://www.tidytextmining.com/index.html) Chapter 2.
There are 2 parts to this work.
a) Add 2 geoms to the current list.  I suggest that @HawardKetoyoMsatsi could do this quickly?  He seems to have good experience in this task.
b) Add the options to the relevant diallogue.  They

[2021-09-14 08:16] N-thony commented on #4421
@rdstern @dannyparsons this is the new design for the reorder levels dialogue
![image](https://user-images.githubusercontent.com/68591383/133221449-9ce488ca-ea66-406b-950f-df3b2f98e1e0.png)
![image](https://user-images.githubusercontent.com/68591383/133221527-6d3f37e0-dc8f-4776-a366-a9522b4b91e9.png)
![image](https://user-images.githubusercontent.com/68591383/133221586-1f9eca3d-64d6-4eef-97b6-b1f9

[2021-09-14 08:33] rdstern commented on #4421
@N-thony those look neat.
a) Put the By: outside the 3 buttons at the top.  It applies to them all.
b) The Save isn't a graph, it is the usual Save Variable - with the position added.  It is a pull-down with also the list of the existing variables, so you can (automatically) replace the existing factor.
c) In the By Variable I am not sure whether the default is ascending or descending.  Make the R

[2021-09-14 09:15] Gioche6 commented on #6710
@rachelkg , I noted there is no clear information given about the Menu or Dialog update needed for  : Structured - Circular - Summaries, as indicated in  line 6 of the  [Inconsistencies between Menu and Dialog names.xlsx](uhttps://github.com/africanmathsinitiative/R-Instat/files/7156493/Inconsistencies.between.Menu.and.Dialog.names.xlsx),

What changes do you suggest for this menu and dialog?
Than

[2021-09-14 11:31] rdstern commented on #2761
This dialogue is currently for viewing only.  It is Describe > One Variable > Rating Data.  It uses plot_likert from the sjplot package.  The function is (I think) now imporved and it would be very good to get this working.

[2021-09-15 03:33] Patowhiz commented on #6762
@rdstern the file contains 180 files, a combine 776 MB to be loaded. I think that's why it  takes time to read all. It took around 2 minutes to import the files in RStudio. I can understand why it may take longer in R-Instat, because of rendering the data frames in the data viewer.

Yes, I also got an out of memory error. @dannyparsons @lloyddewit this is an interesting data set for R-Instat.
I th

[2021-09-15 05:08] Patowhiz commented on #6710
@rachelkg this is a useful list, I've also been concerned for a while now on the inconsistencies when it comes to titles and labels. The other inconsistency that bothers me is the issue of plot vs graphs. We use "plot" in our menu items but use "Save Graph" in our dialogs. @rachelkg @rdstern shouldn't we use one term? or is there a logical reason for this? Same for the menu item "View last graph".

[2021-09-15 05:17] Patowhiz commented on #6710
@Gioche6 I think its just the same dialog used in `Prepare - Data Reshape - Column Summaries`, so I think the suggested changes are the same.

[2021-09-15 08:22] Vitalis95 commented on #6195
@rdstern  I have gone through the issue for the first part (preparing the data) and here is the summary of what I understood.
1. The dialog should have two buttons at the top; Scale and Distance
2. Under the scale button we standardize the data using the scale() function. Here also, we remove any missing value that might be present in the data using na.omit() function. I think it should be a check

[2021-09-15 11:13] dannyparsons commented on #6762
I loaded the data in to the latest release version and it did take a while but I didn't get any errors. I also appended all the data together and that worked. My machine has high memory so that's probably why.

Was the memory error from VB or from R? Could you post the exact error?

I agree we may want to limit the number of sheets that are displayed when it gets this large (if the memory error is

[2021-09-15 15:04] Gioche6 commented on #2761
@Patowhiz , this is the issue I just informed you about. I have updated the functions already.

[2021-09-15 17:02] rachelkg commented on #6710
Hello all,

Sorry for the late reply. @Patowhiz and @Gioche6 Line 6 should have no changes made to the Menu Item Names (Structured - Circular - Summaries ) but the dialog should be Column Summaries.

As @Gioche6 points out this opens the same dialog as Prepare - Data Reshape - Column Summaries so I don't think you need to  change it twice. Leaving it blank was a confusing way for me to present it

[2021-09-15 19:59] lilyclements opened #6770 "Formatting table output for mmtable2"
We have introduced `mmtable2` into R-Instat to create summary tables. The package works similar to `ggplot2` where layers are added through `+` to enhance or change the table.

There is a vignette [here](https://ianmoran11.github.io/mmtable2/articles/Some-minimal-examples.html) which has three sections:
* Adding headers  - we have done this already in the summary and frequency tables dialogs.
* Co

[2021-09-16 08:15] N-thony commented on #4421
![image](https://user-images.githubusercontent.com/68591383/133575398-1365a2f6-c4a4-42a5-bb81-6832555ad630.png)
@dannyparsons I'm getting this error when trying to run the fct_inorder function with this data
[Uploading experimental_survey.zip…]()

[2021-09-16 14:02] Ivanluv commented on #6770
The style function only take the three parameters i.e  `cell_fill`, `cell_text `and `cell_borders`.

The `cell_text ` function takes the parameters :
- `color ` -text colour
-`font` -font name
-`size `- size of the font ,options: `"xx-small "`,` "x-small"`, `"small"`, `"medium"` ,`"large"`,` "x-large"` `,"xx-large"`
-`align `-text alignment ,options: `center`,  `left`, `right`,  `justify`
-v-align

[2021-09-16 16:36] #6710 closed

[2021-09-16 20:12] rachelkg commented on #6710
@Patowhiz Thank you for bringing up the graph vs plot issue. I have discussed this with @rdstern and the we should follow is:

- plot is used which it is a specific item such as a Boxplot, Density Plot or Inventory Plot
- graph is used to denote the general thing so one would say Combine Graphs or Display Graph Results.

There may be instances where these are incorrectly applied so please feel fre

[2021-09-18 07:06] rdstern opened #6775 "Add to View Label dialogue to be able to view Value labels"
In the Prepare > Factor menu we already have a dialogue called View Labels.  I suggest we don't need to add more dialogues, but it would be useful to be able to see the value labels for a variable.  Currently we can't.
I also want to use this opportunity to understand, in more detail, how R-Instat uses value labels.  I understand their need, because we have data from SPSS.  But I think R-Instat pr

[2021-09-20 10:34] rdstern opened #6778 "Improving the recode factor levels dialogue"
This is a parallel exercise to the reorder levels dialogue.  It improves the current Prepare > Column: Factor > Recode Factor dialogue, in a similar way.
a) the currenct dialogue uses a plyr function.  Please check that it can be changed to use fct_recode from forcats instead.  I don't think this changes the dialogue.
b) At the top have 3 buttons.  Namely `Recode, Other, Lump`  The initial default

[2021-09-20 17:47] #6024 closed

[2021-09-20 17:47] #6483 closed

[2021-09-20 18:43] Gioche6 commented on #6670
@rdstern , I made the changes you requested on this PR.

[2021-09-20 22:57] rdstern commented on #6305
@dannyparsons has ignored me - as usual - since March.  There may be work on the above, but I now suggest that just a few changes are needed to sort out the addition and possible deletion of value labels in R-Instat.

a) In the survey data I can take the factors and add levels with the Levels/Labels dialogue.  This makes it into a labelled factor variable.  When I transform to a character variable

[2021-09-21 09:35] rdstern commented on #6665
The heatmap is now just about working.  Here it is in R-Instat:
![image](https://user-images.githubusercontent.com/11226469/134146478-6584e53c-9d61-4bfb-b2e5-30e333f5ca26.png)

I have sent you the data file:  Here it is again
[S Sudan example with heatmap.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/7202035/S.Sudan.example.with.heatmap.xlsx)

This also shows you the same data as

[2021-09-21 09:56] EstherNjeriLiberatta opened #6782 "Adding Chrolopleth Map to the Heat Map Dialog."
This is similar to a heat map with a few slight differences. It creates a map with regions that are coloured according to variable values and uses` geom_polygon` to draw the map.
Once the data is in the correct format, it can be plotted, mapping one of the columns with data values to fill.

Here is an example:

![choropleth map](https://user-images.githubusercontent.com/74548350/134149514-77a3f21b

[2021-09-21 10:06] rdstern commented on #6782
@EstherNjeriLiberatta that's great.  Would you like to add it.  As you say, it uses geom_polygon, rather than tile for the map.  You might also like to add the geom point to the dialogue (if it works) just as you do for the heat map?

[2021-09-21 10:13] EstherNjeriLiberatta commented on #6782
@rdstern Yes I would, I will try adding geom_point as well.

[2021-09-21 13:47] Ivanluv commented on #6770
We can add headers to the table  using the `tab_header `function which takes the parameters:

- `data ` -the `mmtable `object in our case

- `title ` -text to be used as the title

- `subtitle ` -text to be used as the subtitle

2.  `tab_footer` Adds fotnote. Parameters:
     `data`
     `label `- text to be used as the label
     `location `- for these there are a couple of options :

[2021-09-21 15:11] rdstern opened #6784 "Bad parameter message with new master on 21 Sept 2021"
![image](https://user-images.githubusercontent.com/11226469/134197299-26ab7196-b442-4d30-970f-91fbbdab46c8.png)

This is the new message I get from the current master.  I try the new master regularly and this problem has just happened.  I tried twice and it is the same.

Clicking repeatedly goes into R-Instat, but the message appears regularly thereafter and also affects the appearance of dialogue

[2021-09-21 15:50] rdstern commented on #6195
@Vitalis95 I think you are missing some checkboxes and you don't yet have the control to save the new data frame.
As you say, the top of the dialogue will look something like Prepare > Check Data > Visualise
![image](https://user-images.githubusercontent.com/11226469/134202136-4c66ab70-d5bd-4881-97c5-210d06c6295d.png)

That has the option to use a whole data frame or to use selected variables.  Wi

[2021-09-22 04:41] Patowhiz commented on #6710
@rachelkg that sounds good. Thanks.

[2021-09-22 05:21] Patowhiz commented on #6618
@lloyddewit @rdstern I think this issue can now be closed. It was fixed by PR #6721. I think the only pending issue is the one commented by @Gioche6 above which will automatically be fixed by @lloyddewit changes.

[2021-09-22 05:24] Patowhiz commented on #6717
@rdstern @lloyddewit this was fixed by PR #6555 and can now be closed. Thanks.

[2021-09-22 06:20] shadrackkibet commented on #6784
This is a translation problem, @lloyddewit is best to advise.

[2021-09-22 07:48] lloyddewit commented on #6784
@shadrackkibet I cannot recreate this issue. Please could you try?

[2021-09-22 07:56] rdstern commented on #6784
I get it each time I use the master.  I am also getting it on the recent pull request on a wordcloud geom that (I assume) started with a recent master.  Would it help if I share my screen?

[2021-09-22 08:02] lloyddewit commented on #6784
@rdstern You are getting the error 'bad parameter or other api misuse'. This is thrown by the translation library when it tries to execute an SQL 'Select' query. The exception could be thrown if the query is badly formulated, or there is a system problem that prevents the database from being accessed.
I cannot recreate the error. This makes me think it's more likely to be a system problem rather t

[2021-09-22 08:08] lloyddewit commented on #6784
Sharing your screen could help. Unfortunately I have a deadline for the annual report today.

Please could you try running an older branch (e.g. from a PR merged at the start of September)? This will help show if it's a system problem rather than a problem caused by a recent PR merge.

[2021-09-22 10:23] rdstern commented on #6784
I don't know if the location of the translation files helps.  I still have version 0.7.2 and 0.7.2.9000 (before the sprint) as well as the current version.  I now have 5 copies of the translation file, with extra copies starting yesterday - when the problems also started!  The full path to the one with the problem includes the debug!

![image](https://user-images.githubusercontent.com/11226469/134

[2021-09-22 11:25] lloyddewit commented on #6784
@rdstern I don't think that's a problem. I can't see the full path names but what you have looks normal to me

[2021-09-22 16:25] lilyclements commented on #6770
Looks good. Can you put which packages these functions are in? I can't find the `tab_footer` function in either the `gt` or `mmtable2` package, and wanted to explore it a bit to see how it performs compared to the `tab_footnote` function we discussed earlier this week.

[2021-09-23 06:05] rdstern commented on #6784
@lloyddewit I seem to have resolved the issue.  It is at least partially due to my lack of understanding of the VB.Net environment.  I noticed that I had set a menu item to `Debug`.  When I changed that to `Release`, the problem went away!  Sorry for the panic!

[2021-09-23 07:53] #6582 closed

[2021-09-23 08:49] rdstern opened #6787 "Swap data and metadata has problems when a script window is opened."
With wide data it is often more useful to have the column metadata window open instead of the data.  Here is an example where I hav e chosen to swap the 2 windows:

![image](https://user-images.githubusercontent.com/11226469/134478193-8b0c1f6b-06c4-436d-82b2-d2ec338e12ac.png)

Now, every dialogue has a script button.  This opens a 3rd window above the 2 main windows - at least it does when there i

[2021-09-23 08:52] shadrackkibet commented on #6787
I think we had identified this problem when @N-thony added the swap feature. I don't think it is something hard to fix.

[2021-09-23 10:34] #6291 closed

[2021-09-23 11:18] rdstern commented on #6425
@shadrackkibet I now think this is simpler than I thought before and I wonder who could start on the work.  The multiple option is next on the list, but I suggest does not need to wait until your select is resolved.  The select just means that it will be easier for the data selector to just contain those variables to be renamed.
So the multiple has the usual data selector and then a multiple recei

[2021-09-23 11:40] shadrackkibet commented on #6425
@Vitalis95 what do you think? Can we work on this together?

[2021-09-23 12:59] #6784 closed

[2021-09-23 18:38] rachelkg opened #6789 "Missing Values Options not enabled on the Sort Dialogue"
Hello,

I have noticed that the missing values options are not enabled on the Sort dialog. @rdstern says that one should be able to choose whether the missing values appear at the start of the end of the dataset, and this seems to be set up but not available.

I am not sure who to assign this to so maybe @shadrackkibet you could decide?

Thanks,

Rachel

![2021-09-22_15-53-22](https://user-images.

[2021-09-24 05:47] Vitalis95 commented on #6425
@shadrackkibet  ok, let us work together on this.

[2021-09-24 06:54] rdstern opened #6791 "Implementing a Prepare > Column: Calculations > Transform dialogue"
@rachelkg is now updating the help in R-Instat.  She typifies what we hope will be a common user of R-Instat.  She tells me that the Prepare > Calculator dialogue is pretty scary!

In the original Instat (long before R-Instat was born, we also had a calculator.  But we also had a Transform dialogue so users could do common data transformations without needing the general, but scary for some, calcu

[2021-09-24 07:20] shadrackkibet commented on #6789
This needs some bits of R skills. @HawardKetoyoMsatsi what do think? Can you give it a try?

[2021-09-24 14:32] HawardKetoyoMsatsi commented on #6789
Yes @shadrackkibet I will take this up.

[2021-09-25 06:26] rdstern commented on #6195
@Vitalis95 I wonder how you are getting on with this new dialogue?  It will be followed by further new dialogues for cluster analysis.  I notice you are also working with @shadrackkibet on the new Rename dialogue.  That's all good and both are important.  If you are feeling overloaded, then perhaps also involve one of the others in some of the tasks?

[2021-09-25 07:16] rdstern commented on #6426
@shadrackkibet now Select is working can we clarify the hide and show possibilities and dialogues.  Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/134761861-a66860e4-6e47-4b72-a5f6-b54737fcaa35.png)
 I mention some details and then have my main question!
a) Could it be Select Columns at the top - as in the menu.
b) We have the word Apply already for the g

[2021-09-25 10:36] rdstern opened #6794 "Add Help to Visualise data and add it to the Describe menu"
Could someone please add the Help Topic 54 to the Visualise Data Dialogue.
In addition, please could @shadrackkibet check that it is sensible to add Visualise also to the top of the Describe > One Variable dialogue.  It could go right at the top either Just as Visualise, or as Visualise Data.  Then either that's it, or we have a line before Summarise and Graph.
I am including @maxwellfundi also on

[2021-09-25 14:42] rdstern opened #6796 "Add Help context numbers plus other small changes to calculator"
a) There are 6 keyboards in the calculator with their own help already.  Please add the context numbers for the other 5 keyboards, as follows:
Factor - 44
Transform 166
Wakefield 444
Circular 596
hydroGOF 598
b) Change Test to Text in the Text/String keyboard name
c) Check that currently there isn't a Sort function (just sorting a single variable - we have sort where you carry the whole data frame

[2021-09-25 15:49] rdstern opened #6797 "Plans for Prepare > Data Object dialogues"
Here is the current menu for this item:
![image](https://user-images.githubusercontent.com/11226469/134777419-50fd985b-431f-4a0d-b85b-62b636a99408.png)

There are 10 menu items, but 5 are disabled.  They have been like this for a long time.  Should they continue there as a reminder to us?
One of the 5 that is enabled has a nice looking dialogue - but:
![image](https://user-images.githubusercontent

[2021-09-25 16:10] rdstern commented on #6789
You could check with @dannyparsons whether it is really easy.  If not, then don't spend too much time.  I notice that now the missing values are last and I guess that's what is usually needed.  So, perhaps you could anyway, swap the order, so Last is before First in the radio buttons and it is selected, even if still disabled.
Note @dannyparsons has been very much against having visible items disa

[2021-09-25 16:29] rdstern commented on #6634
@Ivanluv hope all is going well with the pivot tables?  If the factor sorting is proving a puzzle then let's get the rest working and make an issue to add that feature later?
Could you also add the Help IDs to these dialogues.  It is 417 for the 2 variable and 601 for the 3 variable.

Thanks

[2021-09-26 10:28] rdstern opened #6798 "Linking to and from the Help system in R-Instat"
I provide a selection of "rules" that we will try to adhere to.  There are also some questions here.

As far as possible the help file for the dialogues will mirror the structure of the dialogues in R-Instat.  There are some "interesting" issues however.  I propose actions below, but I am not always sure what is practical in the dialogue code, nor in the HelpNdoc file.
1. Sometimes the same dialog

[2021-09-26 11:10] Wycklife commented on #6796
@rdstern I'm happy to take it up. Thank you.

[2021-09-26 11:41] rdstern commented on #6796
@Wycklife mnay thanks.
before you start I am now suggesting a change in the linking - and I am not sure about the code!
I now have the main help for the calculator - when there is the basic keyboard is (as before) the Help ID 14.

When you open another keyboard it goes to a help page with ID 439.  And it goes to different anchor points depending on the keyboard.  They each have the following names

[2021-09-27 08:19] rdstern commented on #6775
The current Prepare > Factor > View Labels dialogue is as follows:

![image](https://user-images.githubusercontent.com/11226469/134866890-853d22c7-4e39-4037-aea5-d2ae30373798.png)

Here village is a factor (without value labels) and fert is an "ordinary" numeric.   Here are the results (in a browser for now.)

![image](https://user-images.githubusercontent.com/11226469/134867609-1e715aa7-8c22-4aaa

[2021-09-27 08:30] rdstern commented on #4557
Here is the menu:
![image](https://user-images.githubusercontent.com/11226469/134871601-7542ea21-1045-496a-927f-a216fd69d088.png)

@volloholic said that reordering the data frames would be (quite?) simple to do.  Powerful too!  They would automatically be reordered in the 3 windows data, metadata, and dataframe metadata.  If so, then useful for us to do, because we pride ourselves on coping with m

[2021-09-27 08:58] #6717 closed

[2021-09-27 09:44] lloyddewit commented on #6618
@Patowhiz PR #6721 was closed without being merged. I prefer to keep this issue open until it can no longer be reproduced or is explicitly fixed by a merged PR.

[2021-09-27 11:31] Ivanluv commented on #6634
@rdstern I have the pivot tables for the three variable ready but there are existing PRs with form main changes ,so if create also create a PR there will be conflicts. Am waiting for the PRs to be merged then I can   create the PR on these

[2021-09-27 11:42] #6211 closed

[2021-09-27 11:52] #6472 closed

[2021-09-27 12:00] shadrackkibet commented on #6634
@Ivanluv which PR's is blocking this for quick action?

[2021-09-27 12:11] Ivanluv commented on #6634
PRs #6635, #6752, #6774

[2021-09-27 12:59] shadrackkibet commented on #6634
@Ivanluv Looking into these PRs it contains changes from other files and some already with conflicts. We always want the main form changes done in one PR so that we can review quickly and merge. I suggest as follows;

- First, create a PR showing the work on three variable pivot tables.
- Enable three variable pivot tables on a separate PR for quick review and merging
- Once merged update the thre

[2021-09-27 13:52] EstherNjeriLiberatta opened #6802 "Improvements to add on the Heatmap Dialogue in R-Instat"
More  improvements to this implementation of Heatmaps in R-Instat.
![image](https://user-images.githubusercontent.com/74548350/134916537-e6527f54-2ed3-4543-b564-93f6021109b1.png)
In the above plot:
a) The scales are nicer in Excel or the R-Instat pivot table than any of them in the current R-Instat. A useful quick-win would be to extend the range of scales that we can use. In particular these stay

[2021-09-27 13:56] EstherNjeriLiberatta commented on #6802
@rdstern I have opened this new issue on improving the Heatmap dialogue, please take a look.

[2021-09-27 17:09] rachelkg commented on #6798
I think this all sounds logical, and will follow these rules. I cannot speak to the programming side of things though.

[2021-09-27 18:25] Gioche6 commented on #6618
@lloyddewit , I closed the PR #6721  because I realized that I was working on that dialog on another issue of adding minimum frequency and other controls on the sub dialog. It was important I finished up with one, then take on the next one to avoid any conflicts.  I have however finished up with the issues and the PR has been merged. I could do this one now .

[2021-09-27 20:55] rachelkg commented on #6798
4. There are often buttons that load a sub-dialogue. They have their own help button. So I suggest that usually they are a sub-item in the help file. Sometimes the sub-dialogue is used quite often. The Plot sub-dialogue is an example. Then they might "go up a level in the help file. **Sub dialogues that are used repeatedly will added to the sub-dialogue section of the Help rather than 'going up a

[2021-09-28 06:18] shadrackkibet commented on #6798
Question.

What about if we are linking to a website or any other resource online? For example, in for dialog used to download satellite data I suggested linking to respective websites.

[2021-09-28 06:59] maxwellfundi commented on #6609
@anastasia-mbithe if this has not been done Could you help @derekagorhom to get it done as one of his initial tasks.

[2021-09-28 07:04] maxwellfundi commented on #6600
@dannyparsons if you would like these menus that do not open anything disabled,  @Vitalis95 can help @derekagorhom to have them disabled?

[2021-09-28 08:30] rdstern commented on #6600
@maxwellfundi I give a suggestion here for some work I would like to see.  @dannyparsons is quite hard-line on this.  That's because when something is disabled, it will make some users wonder whether they can do something to enable that item.  The truth may be that we plan to enable something by the next release!  But we don't say that!

I suggest the "Danny rule" is the default.  This is to make

[2021-09-28 08:57] rdstern commented on #6671
It would be good to add a keyboard in the Model > Fit Model keyboard dialogue as well.
Possibly there could be an individual key for the most used methods, plus a pull down for all of them.  This article is possibly [useful](https://www.simplilearn.com/10-algorithms-machine-learning-engineers-need-to-know-article).

I also saw the top 5 as:
linear regression
logistic regression
Decision Trees
Naiv

[2021-09-28 09:26] shadrackkibet commented on #6600
A suggestion to "modify" the rule?

- What about having a sort of a rule whereby we only enable items in the main form once we have something already done and there is a PR in place with the working minimum which could potentially be merged. That means we can do a release anytime by merging the minimum.

- On the side, we also have many empty dialogs which were added and work never continued! We s

[2021-09-28 11:32] anastasia-mbithe commented on #6609
@maxwellfundi do we have to rename the menu name to Scatter/Point Plot? Since @rdstern had previously suggested I change it to Point(Scatter) Plot, which is already in place.

[2021-09-28 11:38] shadrackkibet commented on #6609
Let us close this issue for now. We agreed to use `Point(Scatter) Plot` for now. So nothing to change.

[2021-09-28 11:38] #6609 closed

[2021-09-29 06:56] rdstern opened #6807 "Sample dialogues to describe controls"
This is initially written for a comment by @rachelkg .  If agreed - perhaps anyway - there are some simple changes that might be made in the dialogues mentioned below.

I suggest, in the Help it would be useful to have a small section explaining "Controls on a Dialogue".  This describes the main controls that are on every dialogue.  I have 2 reasonably simple dialogues in mind as examples.  They a

[2021-09-29 07:23] Patowhiz commented on #6618
Thanks @Gioche6 and @lloyddewit for pointing this out.

[2021-09-29 07:43] HawardKetoyoMsatsi commented on #6671
@rdstern I have added the machine learning dialog, I will go ahead and add the keyboard to the dialog as well.

[2021-09-29 14:22] rdstern opened #6810 "Changes to prepare menu in frm main"
This issue brings together the aspects of issues #6807, #6797 and #6791 that give changes to the Prepare menu.  Those issues remain, because this task is just part of them.  Before @mmulahvictor makes the changes I would like @shadrackkibet confirmation that they are sensible.
1. Move Prepare > Column: Calculate > Duplicate Column dialogue moved to the Prepare > Data Frame menu.  It should go just

[2021-09-30 09:46] shadrackkibet commented on #6810
@rdstern I agree with the changes. Just one addition, we have some pattern, Column:..., the calculator looks different, I suggest we add a separator below it. How about "Column: Calculator" then we don't add a separator? What do you think?
![image](https://user-images.githubusercontent.com/26301973/135428750-26c5e668-cfef-4540-8426-b0cb48d3cc2d.png)

@mmulahvictor once you are done with the follow

[2021-09-30 09:48] N-thony commented on #6791
@rdstern I'm taking this over. Hopefully @shadrackkibet will agree with me.

[2021-09-30 09:51] shadrackkibet commented on #6810
In addition, hide the following two menu items. Haven't seen any issue with an attempt to suggest enabling?
![image](https://user-images.githubusercontent.com/26301973/135430024-128a7b24-cfdb-4cc2-9d0a-13e5818873cb.png)

[2021-09-30 10:00] shadrackkibet commented on #6791
@N-thony the plan was to have one of the intern working on this. It is the sort of work that is nice for newbie to learn more. Happy for you to work on it if you don't have some other work.

[2021-09-30 10:02] N-thony commented on #6791
That is okay @shadrackkibet. I was thinking you will be working on it since it is assigned to you. We can keep the plan then for one of the intern.

[2021-09-30 16:16] rdstern commented on #6810
I like the idea of Column: Calculator as the menu topic.

[2021-10-01 09:33] #6426 closed

[2021-10-01 10:55] shadrackkibet commented on #6791
Just to note that I did discuss with @anastasia-mbithe and he is working on this task.

[2021-10-01 11:11] N-thony commented on #6791
Okay, I'm almost done with it but I will leave it then. Thanks.

[2021-10-01 11:23] rdstern commented on #6810
While we have that whole long list we have the Prepare > Check Data > Visualise dialogue.  It is also appropriate at the top of the Describe One Variable menu.- so could this be undertaken.  See #6794   Please also add the help context number in the code if possible.  Then #6794 can be closed.

[2021-10-01 12:21] shadrackkibet commented on #6791
![image](https://user-images.githubusercontent.com/26301973/135615835-23731e4d-9e62-4e45-8460-fdf2ad8629f7.png)
@N-thony here is your response to my comment yesterday which I can't see anymore (I had to retrieve this screenshot from my inbox). Perhaps you deleted it? It clearly shows that you agreed to the proposal for an Intern to proceed with the task.
It is very important to keep a record of al

[2021-10-01 12:26] N-thony commented on #6791
@shadrackkibet this is fine, it is my fault. I didn't let you know that this morning I had a discussion with @rdstern, and suggested me to do it quickly.

[2021-10-01 18:36] dannyparsons commented on #6624
Yes, please go ahead, thanks.

[2021-10-01 18:40] dannyparsons commented on #6789
I think it's worth investigating by @HawardKetoyoMsatsi as it may be straightforward, and if so can be done. But I agree with Roger if it's more involved then maybe leave it. There might be a package which can do this easily though.

I still feel it's confusing and unprofessional to have disabled options that cannot be enabled so I would still suggest hiding this option if we're not going to imple

[2021-10-02 06:47] rdstern commented on #4056
With wide data sets in mind, there is (now) a lot we could consider doing to improve the data selector.  I hope some options might be easy to add.  I list some for consideration.

a) Making the selector larger.  That's partly what started this discussion above, namely, the possibility of making the control larger (in the same space as the existing control) when there is only a single data frame cu

[2021-10-03 06:51] rdstern commented on #6796
@Wycklife thanks for reminding me.  No I hadn't forgotten you are doing it, but I have omitted to update this message.
a) The anchor points stuff is important, in general,  but not for this dialogue.  So, currently the main help button needs to change, so it goes to the calculator help when the Basic keyboard is shown.  (This is what it does now, so no change there.)
b) But when another keyboard i

[2021-10-03 07:37] rdstern commented on #4185
After @shadrackkibet work on renaming multiple columns I am back to wondering about an undo in R-Instat - like Genstat offers.
What @shadrackkibet did was to rename multiple variables into a new data frame.  For that dialogue, I would like to rename the existing names and not have a new data frame.

But, why not make a new data frame before the rename.  Then we could swap them back, if need be, i.

[2021-10-03 14:09] rdstern commented on #5575
I am now including this in the improvements to do reasonably soon.  It is an interesting one, because (I think) setting a threshold and then finding all the spells longer than this threshold is similar to setting a threshold for extreme values, which we do.
So it is an important feature to have in teaching too.  In particular, why is the threshold method very useful in extremes an d not so obvious

[2021-10-03 15:27] N-thony commented on #5575
Great. Happy to work on it with @shadrackkibet.

[2021-10-03 18:20] rdstern commented on #6177
I did try the stem plot as a ggplot, using the code as above.  I am not sure it is worth it!
![image](https://user-images.githubusercontent.com/11226469/135766415-ccc36ed3-7220-491e-a4d9-dbba0d197bff.png)

So, I propose a simpler step.  It is a sort of frequency plot, so I suggest we add Stem & Leaf as another button in the Describe > One Variable > Frequency.  It is a little different to the othe

[2021-10-04 06:03] shadrackkibet commented on #6177
@EstherNjeriLiberatta I thought you can try working on this. What do you think?

[2021-10-04 13:30] EstherNjeriLiberatta commented on #6177
@shadrackkibet Yes, thanks. I can work on it.

[2021-10-04 14:43] N-thony commented on #6105
@shadrackkibet I'm happy to work on this. Please could you give me an example of data that this can be used? Thanks.

[2021-10-04 14:43] N-thony commented on #6105
@shadrackkibet I'm happy to work on this. Please could you give me an example of data that this can be used? Thanks.

[2021-10-04 16:32] shadrackkibet commented on #6105
@N-thony great.

Let us check if @rdstern or @dannyparsons agree with this change first.

[2021-10-04 16:44] rdstern commented on #6105
@shadrackkibet I was happy, because the user can't lose - can always just put a single variable there.  But I wanted to have an example to illustrate the use of multiple.  That's also useful for the help file.

[2021-10-04 23:22] rachelkg opened #6818 "Change Non-numeric cases menu item"
Hello,

I have noticed that in the prepare menu there is an item called 'Non-numeric cases...', please could it be changed to 'Non-Numeric Values...'

I wasn't sure who to assign this too so please could you @shadrackkibet pass it on to the right person.

Thanks,

Rachel
![2021-10-04_16-19-55](https://user-images.githubusercontent.com/85707390/135937322-eb03aa87-26c2-4511-8fe4-03726e7d405f.png)

[2021-10-04 23:30] rachelkg commented on #6700
Hi @shadrackkibet and @Patowhiz,

I am just bringing this back up as it has not been resolved. it is also a problem in the English display so i think is important to fix.

Thanks,

Rachel

[2021-10-05 05:33] shadrackkibet commented on #6818
@derekagorhom I thought this is a good task to start! you can liaise with @mmulahvictor who is currently working on the main form to make this change. What do you think?

[2021-10-05 07:02] N-thony commented on #6105
@shadrackkibet what do you think?

[2021-10-05 07:09] shadrackkibet commented on #6105
I do have an example using the Kenyan dataset which could be used to test this functionality but I can't share the data for obvious reasons.
![image](https://user-images.githubusercontent.com/26301973/135976256-f211686f-fe3e-4676-baa7-beff9a279e08.png)

[2021-10-05 07:54] N-thony commented on #6421
@HawardKetoyoMsatsi could we discuss on this?

[2021-10-05 08:27] rdstern commented on #6421
@N-thony this looks effective code, and you may also be able to check with @lloyddewit whether it is acceptable?

[2021-10-05 08:28] N-thony commented on #6421
@rdstern thanks. I will do that.

[2021-10-05 10:08] derekagorhom commented on #6818
Hello @shadrackkibet please this check this file and let me know if it ok. i also sent the same file to @mmulahvictor for him to check also
![Screenshot (348)](https://user-images.githubusercontent.com/76208189/136003586-3cb9dd6e-08b3-4d14-a085-ceaa1179706e.png)

[2021-10-05 12:32] cabrinenyona opened #6823 "COMBINING FACTORS WITH MISSING LEVELS"
**Is your feature request related to a problem? Please describe.**
In the dialog, Combine Factors, I want the option to treat missing values as another level of my factor

**Describe the solution you'd like**
I would like an additional checkbox that when checked treats the missing values as another level of the factor.

**Describe alternatives you've considered**
Converting the missing values into

[2021-10-05 12:41] cabrinenyona opened #6824 "Recode factor levels for missing values"
**Is your feature request related to a problem? Please describe.**
I wanted to recode the missing value, but couldn't.

**Describe the solution you'd like**
I would like a checkbox that when checked would enable the recoding of the missing value with new level.

**Describe alternatives you've considered**
We considered using replace value which does not work easily for factors. We have created ano

[2021-10-05 12:48] cabrinenyona opened #6825 "REPLACE VALUE SHOULD CREATE A NEW FACTOR LEVEL"
**Is your feature request related to a problem? Please describe.**
We were trying to replace the missing values by new factor level.

**Describe the solution you'd like**
When adding a new value to a factor, I would like the level to be automatically created if it doesn't exist or at least there to be a checkbox with the option to create it.

**Describe alternatives you've considered**
We consider

[2021-10-05 12:55] cabrinenyona opened #6826 "BIT64 PACKAGE WAS NOT LOADED."
**Describe the bug**
When trying to merge the two data frames together, an error appeared saying bit64 package was not loaded. Loading the package resolved the issue.

**To Reproduce**
Use the merge dialogue

**Expected behaviour**
Package bit64 should be loaded on launch.

**Screenshots**

**R script or commands**

**Details (optional):**
  - R-Instat Version [ 0.7.2]

**Additional context**

[2021-10-05 13:22] lloyddewit commented on #6791
@shadrackkibet Yes, you're correct, I didn't realize that there are no notifications for emojis. The developers should be aware of this. I added a note to the Wiki [here](https://github.com/africanmathsinitiative/R-Instat/wiki/GitHub-notes).

P.S. I saw that GitHub has some open issues related to this - some developers want it, some don't.

![image](https://user-images.githubusercontent.com/572539

[2021-10-05 14:15] #6778 closed

[2021-10-06 05:43] shadrackkibet commented on #6818
This is looking good @derekagorhom. Well done.

Please create a Pull request then we can review and merge.

[2021-10-06 11:59] shadrackkibet opened #6833 "Problem with a control hiding preview when loading txt files"
There is an issue with control visibility when importing multiple `txt` files. This should be easy to fix! See below.
![image](https://user-images.githubusercontent.com/26301973/136197878-ac31db9b-98c7-4e15-b4a2-0bd6e743ccca.png)

[2021-10-07 10:40] #6824 closed

[2021-10-07 13:52] N-thony opened #6837 "Small design bug on Describe>Specific>Histogram Plot Dialogue"
There is a small design bug when changing the single to multiple as shown in the screenshot:
![image](https://user-images.githubusercontent.com/68591383/136398019-a1bd5213-101e-410c-be12-c99df07d04ec.png)

[2021-10-07 14:23] N-thony opened #6839 "Another bug on Data options sub dialogue"
1. After defining a new filter, the condition is added in the Selected Preview Filter input text.
2. Click on return and then click on the Data option button again from the main dialogue to the Data options sub dialogue. It is adding the quote automatically to the text in the Selected Preview Filter input as long you are repeating step (2)
See screenshot below:
![image](https://user-images.githubu

[2021-10-08 21:31] shadrackkibet opened #6842 "Problem with resetting the save control in Model>Fit Model>General"
The save control in the current version of this dialog doesn't reset properly. Two issues;

- When you click reset the save name doesn't reset to the default.
- The checkbox for the save control is checked by default which is inconsistent with what we have in other places e.g Model>Fit Model>One variable, two variables etc.

[2021-10-10 19:10] #5974 closed

[2021-10-11 07:33] #6634 closed

[2021-10-11 08:55] rdstern opened #6846 "Make a filtering task easier"
In writing the help for bind_rows (our append) I would like consider making the task easier within R-Instat.

The data are [here](https://dplyr.tidyverse.org/reference/bind.html).  They use the starwars data from the dplyr package.  This has 87 rows and 14 columns.  It is a good example that is purely to illustrate the method.  I would like to use it - because dplyr R uses it, and also use a more

[2021-10-11 15:11] shadrackkibet commented on #6562
`tidytext` https://github.com/africanmathsinitiative/R-Instat/pull/6747
`janitor` https://github.com/africanmathsinitiative/R-Instat/pull/6814

@africanmathsinitiative/developers please remember to always document any new packages in an open issue whenever a new package is added. I am going to pin this issue so that it is easier to find. Thanks

[2021-10-12 06:55] rdstern opened #6847 "Reogrid (data view) seems to have the same problem fixed in the column metadata"
An example is the starwars data from the library - dplyr package.

There are some wide text variables and they "go over" into the following fields as used to be the problem with the column metadata.

[2021-10-12 07:26] #6842 closed

[2021-10-12 11:04] dannyparsons commented on #4317
Let's first define the general system we want. This could then be implemented either as a new user control, or part of the save control.

Firstly, what are the possible options when creating a new column. I think there are two options that apply to all cases and a third option that applies in some cases:

1. Ignore the filter so the calculation is applied to all rows (the current behaviour)
2. App

[2021-10-12 21:21] rdstern opened #6851 "Improve the Prepare > Factor > Recode Numeric dialogue"
This is a relatively simple task.  Could @shadrackkibet suggest who could have the time to do this.

This dialogue currently uses the default cut function.  I propose instead we use the `Hmisc::cut2` function instead.
Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/137027735-8fceee5f-c816-4cd2-b1a2-17ed63414fc8.png)

1) We no longer need the `Closed on` gr

[2021-10-13 09:37] cabrinenyona opened #6852 "R Instat shuts down when recoding factors."
**Describe the bug**
R Instat shuts down when recording factors  without showing any error message leading to loss of all work that was in progress that is unsaved.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Prepare
2. Click on Column factor
3. Scroll down to Recode factor
4. Select the factor, name labels and press OK, see error
**Expected behaviour**
Recode the factors without e

[2021-10-13 18:54] lloyddewit opened #6853 "For a specified list of R function names, return the corresponding function definitions"
**Problem description**
If we want to populate dialogs from R script (see PR #6407), then we need to be able to correctly decode R function calls. These function calls may contain named and unnamed parameters, and the order is flexible. We need to be able to match parameters in the function call to parameters in the function definition.

The purpose of this GitHub issue is to write a function that

[2021-10-13 22:04] rdstern commented on #6534
@HawardKetoyoMsatsi could you implement the first half of my suggestions, just above.  This should be very easy, will be useful in its own right, and will make the bug much rarer in use.

That's because the bug is partly because the dialogues always use regex, and most of our users won't need that.  So we should turn it off as the default.

Then I suggest @Wycklife can add keyboards - so can do th

[2021-10-14 04:24] rdstern opened #6854 "Improving the Factor > Dummy dialogue"
This is another of the Factor dialogues to be made "up-to-standard".
a) This menu item is in the wrong place.  It  should be next to the Contrasts dialogue.
b) There are various disabled elements.  Some will be eliminated, and the others activated.
c) It currently uses the dummies package.  It should now use the newer fastDummies package.  So also include an addition to the issue about adding new

[2021-10-14 07:16] shadrackkibet commented on #6852
@cabrinenyona that for reporting this. Could you attach the dataset you used to reproduce the bug? I tried datasets with few levels and all works. I then tried with a factor column with over 4000 levels and it took time to display however the application didn't close. If it causes an exit in the application then we've to do something! and definitely, if it is taking some time to display levels in

[2021-10-14 07:44] shadrackkibet commented on #6794
@rdstern that sounds sensible to add because Visualise data dialog does a one-variable "operation". The only issue I see is that it breaks the consistency we've for one variable, two variables and three variables menus. I thought of adding it at the bottom instead but then it breaks the "logic". You always want to visualise before doing a summary, graphs, frequencies etc. Then a user might ask, wh

[2021-10-15 08:18] cabrinenyona commented on #6852
@shadrackkibet @N-thony Yes of course.

[2021-10-16 07:11] rdstern commented on #6177
@EstherNjeriLiberatta well done so far.  There are some problems with the implementation when there are multiple variables.  But the main problem is that you have (in my view) gone too far.
In my suggestions above I said I wasn't sure the ggplot2 version was worth doing, so just use the stem function (i.e. don't put it into a graph, but just have it present in the output window.

In the graph it w

[2021-10-16 10:55] rdstern commented on #6852
@cabrinenyona the problem you have raised is interesting for us.  Thank you also for sharing the data with us.  It is an excellent set of data for testing R-Instat, though I know your main objectives relate to providing some useful analyses.

It is an extreme set of data and I still have some puzzles to put your error into context.  So, please could you reply with the context about these data.  Wh

[2021-10-17 08:35] rdstern commented on #6419
Here is the current dialogue:

![image](https://user-images.githubusercontent.com/11226469/137618376-5d784cb4-d2b7-4232-bc4f-81e3711fa901.png)

It shows that currently the new data frame is saved, from this dialogue - called peaks here.  It is saved whether, or not, there is declustering.
But it currently does not save any of the information from any particular decluster.  We need a new control wi

[2021-10-18 09:25] #6837 closed, assigned to nobody

[2021-10-18 11:14] #6516 closed

[2021-10-18 12:03] #6854 closed

[2021-10-18 16:40] #6818 closed

[2021-10-19 07:31] #6263 closed

[2021-10-19 11:48] rdstern commented on #6791
As mentioned above could you consider a Scale button at the top as well.
My thinking is that this could have 4 checkboxes in the following order:
Subtract
Multiply
Divide
Add

Each has a pull-down and I hope there can be tooltips for some of the values
Among the transformations here we are trying to be general, but also facilitate common scaling of the data.  So you can type into each pull-down, o

[2021-10-19 12:15] N-thony opened #6863 "Improve the Multiple Receiver with possibility to set the maximum number of variables"
In the improvement of the Taylor Diagram (issue #6105), the mod parameter from openair::taylorDiagram function can be of Length two i.e the maximum number of values required for the multiple receivers linked to the mod parameter is two otherwise if the values are more than two, if you run the code you will get an error message. But the problem is the multiple receivers can receive an infinite numb

[2021-10-19 14:36] rdstern commented on #6791
I thought that should change to be called Standardize?  What does the current Scale button do?  Doesn't it just standardize (i.e. subtract mean and divide by sd?)

[2021-10-19 17:15] shadrackkibet commented on #6532
@lloyddewit if memory serves me right. Did we agree that you are going to check that this is fixed from your open PR?

[2021-10-20 05:09] rdstern opened #6867 "Current version does not access recent files, or most recent Instat data Library"
In the merged version, and also in the recent test version for the sprint (0.7.2.9000) I am not able to access the recent files.

From the new front menu the Recent files on the front screen work fine.  But, even then, using the File menu to access them gives the following message:
![image](https://user-images.githubusercontent.com/11226469/138031511-38287da7-d6d0-4308-8cde-2ff85694257b.png)

In a

[2021-10-20 05:19] rdstern commented on #4056
@ChrisMarsh82 I know you are hard at work on the mono version.  Might there be something here that can be improved by (perhaps) the mid-November version.  Perhaps @shadrackkibet has ideas too.  In the list above I am also not sure what might be a relatively simple change and what is more fundamental?

[2021-10-20 05:39] N-thony commented on #6867
@rdstern did you try from the development version or the installed one?
I also noticed the same problem but when I tried the installed version (0.7.2...), it works fine.

[2021-10-20 07:28] N-thony commented on #6867
Okay

[2021-10-20 08:54] rdstern opened #6868 "Small addition to the new stack (pivot longer) dialogue"
@shadrackkibet this is a good simple task for an intern.

I have been going through some examples for this dialogue from the pivotting vignette for the tidyr package.

The billboard data (from the tidyr package) includes the option from the command `values_drop_na = TRUE`.

Could there be a checkbox on the left, default unchecked, with label Drop Missing Values.

[2021-10-20 09:01] shadrackkibet commented on #6868
This is easy to add, I will get one Intern to work on it. The new functions provide more options that we could add into the subdialog in future. However, I am keen to use particularly use cases to provide more options.

[2021-10-20 10:31] shadrackkibet commented on #6868
Noted @rdstern and thanks for spotting this regression. I will reinstate that ASAP!

[2021-10-20 10:57] lloyddewit commented on #6532
@shadrackkibet Yes correct, this issue will close automatically when PR #6621 is merged

[2021-10-20 20:11] rdstern opened #6871 "Change unstack to use pivot_wider"
This is the partner to the stack (pivot longer) that has been changed recently.

It should be easy.  The Factor to unstack by is the names_from argument
The variable to unstack is values_from
The carry columns is id_cols.
However, the default is to carry all remaining variables, so if there are no carry variables, then I guess id_cols should be empty?

There are 2 small, but useful additions
A che

[2021-10-20 21:29] rdstern opened #6872 "Correction and puzzle in Prepare > Column: Text > Find/Replace"
I have a simple correction to make.
The first option is called `Word Count`.  It should be just `Count`.

Now the puzzle.  I am also including @lloyddewit in case our translation system is connected to the puzzle.

When I use the pattern and type e it works.  But when I return to the dialogue, then `e` has become `and`

I used the example below:

[code]

It seems to be just e.  I tried lots of oth

[2021-10-21 05:42] shadrackkibet opened #6873 "Bug when applying a filter as a subset under Prepare > Data Frame > Filter"
In the current master branch when you apply a filter as a subset you get the following bug. This was introduced by the changes we made in https://github.com/africanmathsinitiative/R-Instat/pull/6755

![image](https://user-images.githubusercontent.com/26301973/138217856-094f0e36-ceb8-42db-ac23-27e6343c7693.png)

[2021-10-21 07:50] N-thony commented on #6871
@shadrackkibet I will leave it then to @Gioche6.

[2021-10-21 10:13] lloyddewit commented on #6872
@N-thony Please could you investigate this first (following the priorities agreed with your team leader). If you're able to recreate and narrow down to a translation action, then please let me know.
Thanks

[2021-10-22 11:19] rdstern opened #6877 "Add options to the Prepare > Data Frame > Rename Column dialogue"
A trivial point to include in the next update on frmMain is to change Rename Column... to Rename Columns...  It is now also for multiple columns.

We can have Variable Labels as well as Variable Names.  R itself isn't very good on Variable Labels, but I would like to encourage their use more in R-Instat.  I like what SPSS and other packages encourage, namely relatively short variable names plus va

[2021-10-27 06:19] #6839 closed, assigned to nobody

[2021-10-27 06:19] #6872 closed, assigned to lloyddewit, N-thony

[2021-10-27 21:12] rdstern opened #6882 "Resolving issues after merging the paging of wide data sets"
I am making a new issue here.  @shadrackkibet comments about aspects that no longer work are important to fix before any new release.  This is in #6707.

After his comments I tried closing the data book.  I use it quite often and it used to return to our (now quite nice) front screen.  Now is appears not to work.  In fact it does work, in the sense that when you open a new data frame, then all the

[2021-10-28 06:54] rdstern opened #6883 "Detecting and possibly deleting empty variables"
[dfid2_ug_210803.zip](https://github.com/africanmathsinitiative/R-Instat/files/7431804/dfid2_ug_210803.zip)
This is a stata file that reads easily into R-Instat.
It has 268 variables and about 47000 rows.
Some numeric variables are simply NA (all 47000 rows).
Some character variables are just blank.

I would like to tidy these data and one step could be to report on and then possibly to delete the

[2021-10-28 18:45] rdstern opened #6886 "Detect empty columns - can this be added to our select?"
Here is an example of procurement data.

[dfid2_ug_210803.zip](https://github.com/africanmathsinitiative/R-Instat/files/7436610/dfid2_ug_210803.zip)
There are 268 variables but many of them are empty.  There are numeric variables with just NA and character variables with just "" in each row, (or logical variables with just a single value).

We could have a dialogue for this, but could this instead

[2021-10-29 08:00] lloyddewit opened #6887 "Change the associated Describe menu option from 'Bar Chart...' to 'Bar Charts plus Treemap/Wordcloud...'"
When PR #6805 is merged, please change the associated Describe menu option from 'Bar Chart...' to 'Bar Charts plus Treemap/Wordcloud...'. This change was already implemented in PR #6781 but we closed this PR because of merge conflicts (see screenshot from PR below).

![image](https://user-images.githubusercontent.com/57253949/139396824-a83b115e-25ec-4f37-9259-87f5e6cbca12.png)

[2021-10-29 21:38] rdstern opened #6889 "Correct and improve the Prepare > Column: Text > Split dialogue"
There are a few minor problems with this dialogue - which I think cannot have been tested/used seriously so far.
a) It uses regex by default.  So the same control needs to be added as was used recently by @N-thony for the find/replace dialogues.  That is for us to use coll() as the default, so we opt in for regex, rather than the opposite.  Include the disabled option (for now) for the regex keybo

[2021-10-31 17:40] rdstern opened #6890 "Minor improvements needed in the Prepare > Column: Text > Transform dialogue"
I think these should all be quite simple to add. @shadrackkibet I wonder who could be asked to do them?

a) Change the first Button from `Convert Case` to just `Case`.  There are 2 more buttons to add.
b) In the Case option, add a 4th option to the pull-down, for str_sentence.  It completes the options in stringr under the Case heading in the documentation.
c) For Pad Label the 3 buttons with Side

[2021-11-01 06:58] N-thony opened #6891 "Bug when trying to load quelimane dataset"
I have tried to load the quelimane.RDS dataset and I'm getting the following error
![image](https://user-images.githubusercontent.com/68591383/139633146-423223f4-da3a-43dc-92c8-d80f6bc60acd.png)
![image](https://user-images.githubusercontent.com/68591383/139633224-f3e85dba-de58-4d27-a7a8-e413d9c2d8a4.png)

Here is the dataset: [quelimane6.zip](https://github.com/africanmathsinitiative/R-Instat/fil

[2021-11-01 08:22] shadrackkibet commented on #6891
@N-thony could you move this to #6882 because this is caused by the recent merge of the PR that added pagging.

[2021-11-01 09:28] N-thony commented on #6882
I have tried to load the quelimane.RDS dataset and I'm getting the following error
![image](https://user-images.githubusercontent.com/68591383/139633146-423223f4-da3a-43dc-92c8-d80f6bc60acd.png)
![image](https://user-images.githubusercontent.com/68591383/139633224-f3e85dba-de58-4d27-a7a8-e413d9c2d8a4.png)

Here is the dataset: [quelimane6.zip](https://github.com/africanmathsinitiative/R-Instat/fil

[2021-11-01 09:29] N-thony commented on #6890
@shadrackkibet do you have a plan for this?

[2021-11-01 10:05] rdstern commented on #6882
There is a very minor point on deleting all **_visible_** columns.  It should direct you to `Prepare > Data Frame > Delete Columns/Rows`.  I had a data frame with 83 rows and wanted to delete 81-83.  (these were the only visible ones.   I certainly didn't want to delete the whole data frame!

[2021-11-01 16:30] rdstern opened #6893 "Add regex sub-dialogue"
@N-thony I am not sure whether this will work out, but it is worth a try.
a) Change the expressions to expression in the dialogues, and the checkbox to a regex button.  If you press the button then you get a sub-dialogue - just like the Position button.
b) The heading is Construct regex expression.  Then there is a field into which you can type.  Underneath is the keyboard (together with the toolt

[2021-11-02 20:05] shadrackkibet commented on #5421
@rdstern there is a package called `lindia` that plot all diagnostic plots given a fitted linear model **object**. The function is `gg_diagnose`. This is nice because it produces `ggplot` kind of graphs,  this might be a solution to the problems we had with saving diagnostics plots.  Currently, we are using the base plot function. What do you think?

[2021-11-02 20:17] shadrackkibet commented on #5421
`performance::check_model()` is another option we could use.

[2021-11-03 07:48] N-thony opened #6895 "Bug when trying to open the View>script and other windows"
I have tried to open the script window but unfortunately, I'm getting the error in the screenshot below
![image](https://user-images.githubusercontent.com/68591383/140024623-7dda97c0-67e1-49e7-a616-df78b2f9a153.png)

[2021-11-03 07:53] Kelvin-23 opened #6896 "Adding problem solving files to R-Instat Library"
After discussing with Roger, there are a few files that are supposed to be added to the next version of R-Instat and then can be read from the File > Open From Library > Instat > Browse.  A new directory called Problem Solving is to be made into the R-Instat data library.

I will upload the files so that they can be added as soon as possible.
[AIMS Cameroon paper survey data.xlsx](https://github.c

[2021-11-03 09:59] shadrackkibet commented on #6895
Using the **To Script** button from diaogs right?

[2021-11-03 10:03] N-thony commented on #6895
From the menu
![image](https://user-images.githubusercontent.com/68591383/140041028-8a178dea-ec1b-4dfc-8889-94fc0ed69abb.png)

[2021-11-03 10:06] shadrackkibet commented on #6896
@Kelvin-23 thanks for reporting this. I understand this kind of request should be added to https://github.com/africanmathsinitiative/R-Instat-Data repo.  We no longer manage the addition of data files here. Therefore I suggest you move this [here](https://github.com/africanmathsinitiative/R-Instat-Data/issues)

[2021-11-03 11:40] Kelvin-23 commented on #6896
@shadrackkibet thank you for the information, the issue is now moved.

[2021-11-03 11:40] #6896 closed

[2021-11-03 15:49] N-thony commented on #6895
@shadrackkibet I found that this issue is coming after the change for the paging of wide data sets feature.
Should I move it to #6882?

[2021-11-03 17:08] shadrackkibet commented on #6895
Yes please

[2021-11-03 17:10] N-thony commented on #6882
I have tried to open the script window but unfortunately, I'm getting the error in the screenshot below
![image](https://user-images.githubusercontent.com/68591383/140041028-8a178dea-ec1b-4dfc-8889-94fc0ed69abb.png)
![image](https://user-images.githubusercontent.com/68591383/140024623-7dda97c0-67e1-49e7-a616-df78b2f9a153.png)

[2021-11-03 17:11] rdstern commented on #6895
@N-thony I checked your figure above with Version 0.7.2, and it does seem ok there.
@ChrisMarsh82 in the merged version I don't get as far as Antoine's figure above.  It also looks odd before the script window, because the Data Frame metadata isn't that - but is the data window - empty of course.
I get a crash from the initial front menu, as soon as I try to press the button on the tool bar for th

[2021-11-04 07:54] rdstern commented on #6882
I am also concerned there could be serious speed issues with the new system.
I opened a large set of files - both fairly long and fairly wide.  Took 40 seconds on version 0.7.2 and 30 seconds longer on the merged version.  I can live with that.  But then:
a) Converting one variable to be a factor 15 seconds.  Almost instantaneous  - certainly less than 2 seconds earlier
b) Describe > One Variable

[2021-11-04 11:37] lilyclements commented on #6770
@Ivanluv this looks great. Perhaps for a suitable next step can you sketch out a sdg design for these, following a similar layout to the ggplot2 sdg design

For example there could be a labels tab something like this?
 I’m unsure from your comments how the footnote for the body and stubhead work, so this will have to be amended to account for that.
Additionally you might have a better solution to

[2021-11-04 11:58] shadrackkibet commented on #5996
@Ivanluv please check if there is anything we need to do here. I suspect we might have fixed it.

[2021-11-05 09:03] Ivanluv commented on #5996
@shadrackkibet  am trying this out and it does not seem to be fixed

[2021-11-05 13:29] Vitalis95 commented on #6195
![WhatsApp Image 2021-11-05 at 16 07 04](https://user-images.githubusercontent.com/89011415/140515764-72d9072b-c7ba-446a-9185-729f24f17f20.jpeg)
@rdstern @shadrackkibet  , this is  the sketch for cluster analysis dialog. I have started with the first button, Partitioning Clustering
I was inquiring if a receiver for selecting columns is required because for clustering, it requires a numeric matrix

[2021-11-06 18:41] rdstern opened #6898 "Small problem with the new Prepare > Factor > Recode dialogue"
The following shows the problem with the new merged code.
The example is from the library, Instat, Climatic Niger sadore.xlsx.  Read the second sheet, and omit 4 lines so it is named correctly.
Then make Mois into a factor and then use the dialogue.
The Mois variable has 14 levels - not 12 as it should.
Change Janvier to janvier and then also Fevrier to fevrier.  Then press Ok.
The command generat

[2021-11-07 09:17] rdstern commented on #6195
@Vitalis95 I am delighted you are at last getting started on this.  I think you can get a bit further though.  I have looked quickly again at the book above and see he uses the cluster and then his own factoextra package.
So I looked quickly at the cluster package.  I assume you may start by being able to run the pam and agnes functions?  Is that what you have in mind?  If so, then I see that you

[2021-11-07 09:26] rdstern commented on #6890
@EstherNjeriLiberatta this has now been merged.  Apologies, but I have a trivial change to suggest.  One reason in the issue above to change `Convert Case `to just `Case` was so the buttons could each be made narrower.

Now - with the 2 extra buttons and them all quite large, the dialogue is very wide, just to accommodate the buttons.  Could you make them all smaller, please, so the dialogue isn't

[2021-11-07 09:45] EstherNjeriLiberatta commented on #6890
@rdstern No problem.

[2021-11-07 11:12] N-thony commented on #6898
Wow, this is a bit challenging since the .AddParameter overwrites parameters with the same name. And using the code from https://rdrr.io/cran/forcats/man/fct_recode.html the new label in R-Instat is considered a new label. @dannyparsons what do you think about this? Maybe to find another way to handle this with forcats::fct_recode(...)?

[2021-11-08 08:48] rdstern opened #6900 "Possible problem with the Levels/Labels dialogue"
This bug may be to do with the new paging, but I think it could have arisen because of changes to the right-click Levels/Labels dialogue.  At least that is worth a check.
What I was doing is not sensible, but it still should not give an error.  It will be good to see if you can repeat it?
a) Load the example data called words from the stringr package.
b) Change the variable to a factor and then us

[2021-11-08 09:27] rdstern commented on #6900
I have now found another bug in this dialogue and am delighted, because this is within a topic we should investigate more generally.
This one is also present in Version 0.7.2, so has not been introduced by recent changes.
Again, please see first if you can repeat it!
a) Open the diamonds dataset from the library.  It is the first example in the ggplot2 package.
b) It has 10 variables, of which 3 a

[2021-11-08 12:14] dannyparsons opened #6901 "Speed issues with large datasets"
From https://github.com/africanmathsinitiative/R-Instat/issues/6882#issuecomment-960528018

[2021-11-08 12:16] dannyparsons opened #6902 "Deleting all visible columns"
From https://github.com/africanmathsinitiative/R-Instat/issues/6882#issuecomment-956098203

![image](https://user-images.githubusercontent.com/11214914/140740417-9198f279-8b5f-40da-88f3-5ae8a89bbd5c.png)

[2021-11-08 12:18] dannyparsons commented on #6882
I'll leave this issue open for now, but I've separated the bugs into separate issues. Although these are likely all related, it's easier for testing and tracking to have them in separate issues. If you find any more bugs please create a new issue.

[2021-11-08 12:49] N-thony commented on #6900
@rdstern I did the steps above, on my side when I right click on any other factor except price then Levels/Labels, all seems okay, and even select price from the selector and then click Close/Ok. But right-click from price and try going to Levels/Labels, it is the program freezes.