[2016-02-19 14:01] dannyparsons opened #882 "When R gives an error the error script is still added to the Output & Log Windows"
This is due to the RunScipt sub in clsRLink. In this sub, the script is added to the windows before the code is run through R. This needs to be modified so that the script is only added after the code has run in R without errors.

[2016-02-19 14:15] dannyparsons opened #883 "New Sheet Button on Workbook Tab does not create a new sheet through R"
The * button on the Workbook tab of the editor inserts a new sheet to the workbook but isn't doing this through R.

It should either open dlgNewWorksheet or run the R code to create a new sheet with a default size.

[2016-02-20 01:07] dannyparsons opened #885 "RadioButton Cell Type as a column in the grid does not change the True/False value of the cell when you check/uncheck"
See ucrFactor
When bIsMultipleSelector = False the final column of the grid contains radio buttons. But when you check/unchecked these in the grid interactively it doesn't change the True/False value of the cells behind the radio buttons.

This can be tested by putting ucrFactor on a dialog, calling SetReceiver, then SetAsSingleSelector().
Then when running GetSelectedLevels(), nothing is returned

[2016-02-20 01:07] dannyparsons commented on #885
@deaspo You might have more luck with this than me, if you get time. I can explain in detail if needed.

[2016-02-22 00:57] rdstern opened #890 "The bar chart dialogue with summary data"
1. Make menu item "Bar Chart - Summary Data (also not sub-menu)
2. In Graphics menu delete "Frequency Chart" and "Summary Chart"
3. In Graphics menu, delete Probability Plots and (instead) insert "Cumulative Distribution" below "Wind Rose"
4. For the "Bar Chart - Summary Data"
- Make dialogue title "Bar Chart from Summary Data"
- Left align "Factor" with "Y Variable"
- For "Second Factor" have "2n

[2016-02-22 08:29] maxwellfundi opened #892 "Defaults on dlgSort"
@dannyparsons Should the radio buttons on dlgSort be putting the parameters into the script even when the R default values selected?
We believe it would be easier for users if the command was simpler when the defaults are selected. We are proposing to implement this as a users choice under the options menu.

[2016-02-22 08:38] deaspo commented on #885
Here is the reply from the creators: https://reogrid.net/document/built-in-cell-types/#comment-540
It is a bug that they are trying to fix by the next release.

[2016-02-22 08:38] maxwellfundi opened #893 "ToScript Button"
The ToScript button is not working.
Should Polycarp work on this?
@deaspo @dannyparsons

[2016-02-22 08:46] maxwellfundi opened #894 "double click on ucrReceiver"
Should we have more options to remove selected variables from the receiver? @rdstern
We propose to have a double click with a tool tip to help people see.
We also suggest a click and drag option may be useful...   @dannyparsons @volloholic

[2016-02-22 08:54] maxwellfundi opened #895 "Options button on Selector"
@dannyparsons  What should we do about the options button on the data selector?
we think the name should change to Data Options or something like that and we should at least implement a dummy sub dialog.

[2016-02-22 08:57] stevekogo opened #896 "gghghgghg"
fffgfg

[2016-02-22 08:57] #896 closed

[2016-02-22 09:03] deaspo commented on #883
Can we disable it entirely? @dannyparsons

[2016-02-22 10:02] maxwellfundi commented on #892
We have now implemented what we proposed in pull request #897.
However when reopening the hidden dlgSort after changing the global options, its not updating correctly

[2016-02-22 10:23] maxwellfundi commented on #892
Fixed the issue of updating the global options #on reopening dialog #897

[2016-02-22 10:40] dannyparsons commented on #885
That's great, thanks for contacting them. I wish I had done that before I
spent so long trying to get it working!

For now we will have to use the Checkboxes for both cases then.

On 22 February 2016 at 08:38, Polycarp Okock <notifications@github.com>
wrote:

[2016-02-22 10:43] dannyparsons commented on #893
Yes that would be great if it's not going to be too difficult, as @deaspo has lots of other tasks already. Discuss with @volloholic before implementing.

[2016-02-22 10:52] dannyparsons commented on #894
Good ideas.

Currently the delete key deletes selected variables (or the only variable
in the single receiver). I thought having the backspace key doing the same
would be good.

Double click also sounds good, although I don't see it working for removing
more than one variable. If you've selected multiple variables, after the
first click you've lost your multiple selection. @rdstern do other packag

[2016-02-22 10:54] dannyparsons commented on #895
Yes I agree. Is there someone who could do the dummy dialog quickly and get
it opening from the control?

On 22 February 2016 at 08:54, maxwellfundi <notifications@github.com> wrote:

[2016-02-22 10:57] dannyparsons commented on #883
Yes we could. But why not have it just open dlgNewWorksheet for now since that's easy? And then we discuss with @volloholic or @rdstern to see if it's needed/should function differently.

[2016-02-22 11:14] dannyparsons commented on #892
Happy for that to be an option.
My preference would be by default we include default parameters. It will make the code a bit longer, but I think it helps people see the link between the R functions and the dialogs because there is a clearer connection between parameters and dialog options. I find the Import Dataset dialog in R Studio confusing because it tries to be very clever and not add default

[2016-02-22 20:56] dannyparsons opened #906 "Resetting Dialogs"
When we reset the dialog I think we should also reset:

a) the focus back to a default control
b) the current receiver back to the default current receiver (not important for Sort but will be for dialogs with more than one receiver)

@africanmathsinitiative/instat Can you discuss this tomorrow and implement for Sort and your own dialogs?

[2016-02-22 21:24] dannyparsons commented on #894
I've now added some functionality here:

a) the backspace key removes selected variables
b) added a context right click menu in the multiple receiver to delete selected and clear all
c) Double click in selector adds selected to receiver
d) Double click in receiver removes selected
e) Removed the column header "Selected Variables" in the multiple receiver
f) Removed the name of the Data Frame as a

[2016-02-24 13:11] dannyparsons opened #936 "All replacing columns should be done through a single "replace_columns_in_data" method"
Once created it should then be implemented in convert_to.

[2016-02-24 13:19] dannyparsons opened #937 "Add column_count as a properties of ucrDataFrame"
This should be done to function in the same way as iDataFrameLength does.

[2016-02-24 13:41] deaspo opened #938 "Inserting a new column with default data or blank?"
When inserting a new column, should we have the option to insert it with data or just leave it blank? @rdstern #847

[2016-02-24 13:45] deaspo opened #939 "Left or Centre align forms and dialogs title"
I have observed that the form and dialogs titles are left aligned in some of the team members laptops while for others they are centre aligned. What should be the case and how can we ensure that these settings are consistent on everybody's laptop? @africanmathsinitiative/instat

[2016-02-24 13:48] rdstern commented on #938
I am happy for it to be left blank.  I envisage though that the visible symbol in the sheets might be other than NA – at least as an option.  Then you can fill it later.

I imagine sometimes we will want to create a blank column and then paste a copy from somewhere else.

Roger

From: Polycarp Okock [mailto:notifications@github.com]
Sent: 24 February 2016 13:41
To: africanmathsinitiative/Instat
Cc

[2016-02-24 13:49] deaspo opened #940 "Save the Script window"
So far we can save the log, output and Data view windows. Can we also add the script window to this list? @dannyparsons  and @volloholic .
I am volunteering to do it.

[2016-02-24 14:41] dannyparsons opened #941 "In RSyntax we must check that the string you assign to is a valid R variable name."
We have the methods for checking if this is valid in ucrVariableName.

But we will have problems, for example, when we create variables for columns using the column name since column name could be any string.

[2016-02-25 06:29] deaspo commented on #938
Ok

[2016-02-25 06:29] #938 closed

[2016-02-29 16:08] Lunalo opened #977 "selecting dataframe$Variable"
Hi Danny,
@africanmathsinitiative/instat
Thanks for giving this code for getting variables.

`ucrBase.clsRsyntax.AddParameter("x", clsRFunctionParameter:= ucrReceiverRecode.GetVariables()`
unfortunately,this method is not solving my case.The receiver is not accepting variables from the selecting and that is why i used
` ucrBase.clsRsyntax.AddParameter("x", ucrSelectorForRecode.ucrAvailableDataFram

[2016-02-29 16:15] dannyparsons commented on #977
Ok thanks for bringing up the issue. Can you do a new pull request with your latest code so I can try and see where the problem is?

[2016-02-29 16:17] Lunalo commented on #977
Okay Thanks.

[2016-03-02 12:30] #906 closed

[2016-03-02 12:31] dannyparsons commented on #977
Can this be closed now?

[2016-03-02 12:31] dannyparsons commented on #893
I think this is working now. Should it be closed?

[2016-03-02 12:35] dannyparsons opened #998 "Output Window Spacing"
Spacing needs to be sorted out for the Output Window. Sometimes we have single spaces, sometimes double etc.

The spacing should be one empty line after the R code or output so that there is a space before the next comment.

[code]

[2016-03-02 12:42] Lunalo commented on #977
Yes.

[2016-03-02 12:43] #977 closed

[2016-03-02 15:59] dannyparsons opened #1001 "Displaying more than one graphic"
We can only display one graphic at the time through RDotNet. We would like to be able to output and view more than one at a time. This could be by pasting graphics in the output window, or looking at using RDotNet differently.
We can also save graphics in the Instat object, so that even if displaying more than one is not possible, we could store multiple graphics to be viewed at any time through a

[2016-03-02 16:04] dannyparsons opened #1002 "We need to restrict receivers by more than just choosing a data type"
E.g. we need to be able to have "all non factors" or "factors and characters" etc.

[2016-03-04 09:04] maxwellfundi opened #1014 "Start position for subdialogs"
@africanmathsinitiative/instat  i am just wondering what position would be good for subdialogs start position.
would it not be nice if it starts on the center of the parent dialog?

[2016-03-04 10:13] dannyparsons commented on #1014
Good question. I haven't thought about it. What are the different options?
It would be good for someone to research online to find out the
consequences of each choice.

On 4 March 2016 at 09:04, maxwellfundi <notifications@github.com> wrote:

[2016-03-04 18:56] Lunalo opened #1019 "Too many decimals in the output"
@africanmathsinitiative/instat
Hello everyone.
I have been working on the row statistics dialog but in the process of returning output, I realized that the output contains several number of decimals which was varying
as shown below:
![rowstats](https://cloud.githubusercontent.com/assets/13945088/13536967/b60360b4-e253-11e5-9fde-fb87c22ca20f.PNG)

Does someone have an idea on how to solve this such

[2016-03-04 19:01] Lunalo opened #1020 "Output not wrapped in the cells"
@africanmathsinitiative/instat
This is related to the first issue above.

The output with large figures is n

ot being wrapped in the cells.

I hope someone can find a way on how to fix this too.

Thanks

[2016-03-08 09:07] #1019 closed

[2016-03-08 09:25] dannyparsons commented on #1019
Has this been resolved?

[2016-03-08 10:10] Lunalo commented on #1019
Yes.
Polycarp has said that we specify standard number of decimals. of
which I thought of 4 decimal points

On 3/8/16, Danny Parsons <notifications@github.com> wrote:

--
Regards,
John Ong'ala Lunalo|| Kenyatta University Alumnus||
Volunteer, African Maths Initiative||
Email Address :johnlunalo95@gmail.com
Tel: +254701519572, +254786438572

[2016-03-08 10:35] dannyparsons commented on #1019
Is this implemented? And I'm interested why you have chosen 4 decimal places as the default.

[2016-03-08 10:59] Lunalo commented on #1019
Good question.

It was my suggestion but after doing more research, i can say number
of decimal points will depend on the accuracy level needed

On 3/8/16, Danny Parsons <notifications@github.com> wrote:

--
Regards,
John Ong'ala Lunalo|| Kenyatta University Alumnus||
Volunteer, African Maths Initiative||
Email Address :johnlunalo95@gmail.com
Tel: +254701519572, +254786438572

[2016-03-08 12:47] deaspo opened #1028 "Which Interface for the General Options Dialog?"
Hi everyone @africanmathsinitiative/instat , am doing a quick poll on what interface should we use for the General options dialog. Below are the two interfaces I would like people to choose from:
a) **GOptionsA**
![goptionsa](https://cloud.githubusercontent.com/assets/10347760/13601971/c0799952-e544-11e5-8bfc-4a6b01cd4b4c.PNG)
b) **GOptionsB**
![goptionsb](https://cloud.githubusercontent.com/asset

[2016-03-08 13:04] nyagishira commented on #1028
option A

On Tue, Mar 8, 2016 at 3:47 PM, Polycarp Okock <notifications@github.com>
wrote:

[2016-03-08 13:05] dannyparsons commented on #1028
Thanks for doing these two examples for us to look at.
I assume you are only referring to the navigation part of the dialogs? Because there are lots of other differences like the general form formatting, top right buttons etc.

A vote can be useful but only if people provide reasons for their choice, so that there can be a discussion towards agreement between everyone. Only stating your choice won

[2016-03-08 13:09] rdstern commented on #1028
GOptionsA

Roger

From: Polycarp Okock [mailto:notifications@github.com]
Sent: 08 March 2016 12:48
To: africanmathsinitiative/Instat
Cc: rdstern
Subject: [Instat] Which Interface for the General Options Dialog? (#1028)

Hi everyone @africanmathsinitiative/instat<https://github.com/orgs/africanmathsinitiative/teams/instat> , am doing a quick poll on what interface should we use for the General opti

[2016-03-09 18:52] deaspo commented on #1028
Please look at #1036

[2016-03-10 13:16] Lunalo opened #1042 "dlgRandomSamples not displaying output"
I have been working on Random Samples  to tidy it up. When I tried to run it by clicking OK button, only the comment is displayed.No code nor output is displayed. Can someone look into this please? @africanmathsinitiative/instat

[2016-03-10 14:10] nyagishira opened #1043 "dlgNon-Parametric TwoWay ANOVA"
the R code is causing an error rather than producing an output

[2016-03-11 14:10] dannyparsons opened #1049 "ValueChanged event in ucrReceiver"
We currently have ValueChanged and SelectionChanged events for receivers doing the same thing. All references to ValueChanged should be removed from the project, and instead use SelectionChanged consistently throughout.

[2016-03-15 09:41] nyagishira opened #1060 "dlgRecode"
a)I need help to change default name of the new recode column
b)the ucrMlltipleInput can not be reset like the other controls, it needs to be looked into
c)

[2016-03-15 10:06] dannyparsons commented on #1060
Thanks for raising the issues.
a) Can we discuss this so I can understand the issue exactly.
b) Good point, I will look into that for this control

[2016-03-15 10:48] nyagishira commented on #1060
we can discuss a)

On Tue, Mar 15, 2016 at 1:06 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-03-21 14:12] maxwellfundi opened #1112 "Excluded dialogs from the project"
@africanmathsinitiative/instat  i was wondering if i could remove the excluded dialogs from the project if we are not using them so that we could have a clean master with only what we need.
Kindly if you have an excluded file that you wish to use, include it to the project.
I will be removing them tomorrow to make sure we have a clean master.

many thanks

[2016-03-21 14:32] dannyparsons commented on #1112
How many excluded dialogs are there?

On 21 March 2016 at 14:12, maxwellfundi <notifications@github.com> wrote:

[2016-03-21 14:37] maxwellfundi commented on #1112
There are 12 excluded dialogs

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Mon, Mar 21, 2016 at 5:32 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-03-23 08:57] nyagishira commented on #1060
by using ucrInputTextBox visual studio is not displaying the output whereas when i run the code in R, R produces an output...we do know how to fix that yet. We need help

[2016-03-24 06:39] #1060 closed

[2016-03-24 16:04] dannyparsons opened #1129 "Some dialogs require columns passed in as single arguments"
Some dialogs e.g. dlgCombineText #1120 require each column passed to it as a separate argument. Currently GetVariables() returns a data frame of selected columns. GetVariables() should be modified to include an option to return as List(Of RFunctions) which could then be passed in as different arguments to the function.

[2016-04-22 10:14] dannyparsons opened #1215 "facets not working when using temporarily stacked data (multiple variables)"
The columns chosen for faceting do not necessarily appear in the stacked data. To resolve this, any column required by the plot subdialog (as facet or other column selection) need to be added as id.vars for the stacked data. This could be by passing back to the main dialog or linking the selectors.

[2016-04-22 10:29] dannyparsons opened #1217 "facet selector not linked to data frame selected on main dialog"
The selector for facets on the plot subdialog does not update when the data frame is changed on the main dialog.

[2016-04-22 10:42] maxwellfundi commented on #1217
@dannyparsons, i think we can replace the selector on the subdialog with the one with the dataframeselector.,,

[2016-04-22 12:20] dannyparsons opened #1219 "ucrReorder crashes when no item is selected to move"
When the down arrow button is clicked and no item is selected it crashes. I assume it is similar for the other buttons.

[2016-04-22 12:21] dannyparsons commented on #1219
@deaspo Can you look at this? To fix it there simply needs to be a check that an item is selected before attempting to access it.

[2016-04-22 12:51] dannyparsons opened #1220 "Some datasets from packages give an error from R when attempting to load"
This is only for the data sets where the name is not a valid R name e.g. "beaver1 (beavers)" in datasets package.

To load these datasets ignore everything after the space so "beaver1" loads correctly. Therefore we can just trim the name of everything after the first space to get the loading done correctly.

[2016-04-22 12:52] dannyparsons commented on #1220
@deaspo Could you fix this?

[2016-04-22 13:22] dannyparsons commented on #1219
Resolved by #1221

[2016-04-22 13:22] #1219 closed

[2016-05-09 13:05] maxwellfundi commented on #1220
@africanmathsinitiative/instat i noticed also the datasets with the package Plotrix do not load.
@dannyparsons  could you look into this?

[2016-05-09 13:12] dannyparsons commented on #1220
Thanks Maxwell for spotting this. In R I think this can be fixed by loading the data first through: data("datasetname"). I'm not sure exactly why this is only needed for this package. I will work on getting this extra line in the dialog.

[2016-05-19 10:47] #1220 closed

[2016-06-18 05:56] stevekogo opened #1476 "Explanatory variable transformation in three variable modelling dialogue"
The link with variable transformation sub-dialogue is not implemented well. This affects both explanatory variables.

[2016-06-24 07:13] Lunalo opened #1504 "Checking if receiver is having something every time the dialog is reopening"
@africanmathsinitiative/instat

I realized that a check for receiver stills holds something every time the dialog is being reopened is missing.

I hope we will look into this maybe as from next week.

Thanks.

[2016-06-24 09:06] dannyparsons commented on #1504
If a receiver contains a column that no longer exists in the data, it should be cleared when the dialog is reopened.

[2016-07-14 08:53] Lunalo opened #1531 "dlgDeleteSheet not Reopening"
@africanmathsinitiative/instat

Hello Team,

I have tried testing this log. At first I thought the dialog is working fine but when i tried reopen it could not reopen. The dialog is crushing in the R link. Someone ( @dannyparsons , @volloholic ) should look into this.

[2016-07-14 09:20] dannyparsons commented on #1531
Hi John, I'm not getting any such problem using the latest version. Can you try it again and if you still get the issue post more details back?

[2016-07-15 10:46] dannyparsons commented on #1531
This is fixed by #1534 by modifying the data frame user control

[2016-07-15 10:46] #1531 closed

[2016-07-15 10:49] dannyparsons commented on #882
Agreed that commands should be added to Output/Log even if it gives an error so that users have a record of all commands run (including errors). Also commands that give errors may still modify internal parts of Instat Object so should be kept in Log.

[2016-07-15 10:49] #882 closed

[2016-07-15 11:08] dannyparsons commented on #883
Resolved - * button has been removed. Could easily be added back in if needed.

[2016-07-15 11:08] #883 closed

[2016-07-15 11:09] dannyparsons commented on #885
Resolved by updating to newer version of reogrid.

[2016-07-15 11:09] #885 closed

[2016-07-15 11:12] dannyparsons commented on #892
There is now an option in the Options dialog for the user to specify whether they want to include parameters when the default value is chosen. This should be functioning if people have been referring to `bIncludeDefaultParameters` from `clsInstatOptions` correctly in dialogs.

[2016-07-15 11:12] #892 closed

[2016-07-15 11:13] #893 closed

[2016-07-15 11:15] dannyparsons commented on #894
More features (eg. dragging) still to be implemented but probably not urgently.

[2016-07-15 11:17] dannyparsons commented on #895
Options button now renamed to Data Options and correctly opens the subdialog.

[2016-07-15 11:17] #895 closed

[2016-07-15 11:23] dannyparsons commented on #936
All replacing/inserting/adding of columns is now done through a single add_columns_to_data method. Old replace methods deleted by #1535

[2016-07-15 11:23] #936 closed

[2016-07-15 11:24] #937 closed

[2016-07-15 11:37] dannyparsons commented on #939
This still needs to be looked into and generally the dialog properties need to be checked to make sure they are consistent. For example, some dialogs have a different style for the Close (X) button in the top right. I think this is just a property in the design view that can be changed.
Probably this is not urgent.

[2016-07-15 11:42] dannyparsons commented on #941
The import data method of the Instat object now checks that column names are syntactically valid R variable names and modifies them if not

[2016-07-15 11:42] #941 closed

[2016-07-15 11:44] dannyparsons commented on #1002
Resolved - there is now functionality for receivers to restrict variables displayed in the selector in this way and also by any metadata property.

[2016-07-15 11:44] #1002 closed

[2016-07-15 11:46] dannyparsons commented on #998
Still needs to be fixed. This can be fixed by modifying the RunScript method of clsRLink.

[2016-07-15 11:48] dannyparsons commented on #1001
We are now saving graphs in the instat object and can reproduce them. Displaying multiple graphs from output is still to be done and probably only possible by sending graphs to the output window.

[2016-07-15 12:05] dannyparsons commented on #1014
Still needs to be looked into and also links to #939 where we need to have a consistent start position for main dialogs too.

[2016-07-15 12:09] dannyparsons commented on #1020
It seems that wrapping in cells is only not done for the last column. This could be a bug with reogrid or an option that can be changed. Needs to be looked into.
This issue is visible because the setting of decimal places for column is not completely functional yet.

[2016-07-15 12:09] #1028 closed

[2016-07-15 12:10] dannyparsons commented on #1042
Resolved.

[2016-07-15 12:10] #1042 closed

[2016-07-15 12:11] dannyparsons commented on #1043
Still unresolved and needs to be looked in to.

[2016-07-15 12:12] dannyparsons commented on #1049
Unsure if changes still need to be made to resolve this.

[2016-07-15 12:13] dannyparsons commented on #1112
@maxwellfundi Has this been completed now?

[2016-07-15 12:15] dannyparsons commented on #1129
Resolved by adding a method in receiver to get variables a `List(Of RFunctions)`

[2016-07-15 12:15] #1129 closed

[2016-07-15 12:16] dannyparsons commented on #1215
I think this issue is still unresolved. @volloholic @bethanclarke did this come up when you worked on facets?

[2016-07-15 12:19] dannyparsons commented on #1217
This appears to still be an issue. We could link the selectors so that their data frames are in sync and disable the dataframe selector on the subdialog.

[2016-07-15 12:19] dannyparsons commented on #1476
@bethanclarke is this now resolved after your work on it?

[2016-07-15 13:05] maxwellfundi commented on #1112
No, this hasnt been completed but i can fix them easily.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Fri, Jul 15, 2016 at 3:13 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-07-15 13:06] maxwellfundi commented on #1028
I vote for GOptionsA

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Tue, Mar 8, 2016 at 3:47 PM, Polycarp Okock <notifications@github.com>
wrote:

[2016-07-15 13:10] maxwellfundi commented on #1014
I am more happy with dialogs starting at the center screen. My opinions on
Sub Dialogs would be center screen but then they should be sent to front of
the main dialog.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Fri, Jul 15, 2016 at 3:05 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-07-15 13:15] dannyparsons commented on #1112
Not urgent, but if you're ever stuck for something to do, this could be done.

[2016-07-15 13:16] dannyparsons commented on #1028
What's implemented now is both tabs and the tree structure. Happy for it to be changed but it is functional already.

[2016-07-15 13:56] dannyparsons commented on #1014
Definitely sub dialogs need to be on top and users should not be unable to edit main dialogs when subdialogs are open.
I'd like to understand when you might want to use the different positioning options. I'm sure it's been discussed online (StackOverflow) already so you could look into that maybe. I would guess it doesn't matter if you have a single screen with the program maximised. But once you

[2016-07-18 09:22] dannyparsons opened #1538 "Import matrix to instat object"
set_data method of data object should allow a matrix (possibly other types) to be given as the new data. Currently it gives an error if the new data is not a data frame.

[2016-07-18 09:23] dannyparsons commented on #1538
Important when using, for example t() command to transpose which produces a matrix.

[2016-07-18 14:38] dannyparsons opened #1540 "Sort by row names through sort dialog"
You should be able to sort a data frame by its row names through the Sort dialog, as well as through the row names dialog.

[2016-08-03 12:50] dannyparsons opened #1585 "row.names not compatible with dplyr"
dplyr's arrange (used to sort) does not preserve row.names and never will: https://groups.google.com/forum/#!topic/manipulatr/mClU7eQLRzw
The standard subsetting method does not preserve attributes so also cannot be used.
Should another method be used or do we no longer use row.names as much?

[2016-08-03 12:57] dannyparsons opened #1586 "dplyr's arrange - no na.last parameter"
dplyr's arrange does not have an na.last parameter which specifies where NAs should be placed in the sort. They are placed at the end.

Is it important to be able to sort and place NAs at the top?

[2016-08-03 15:40] rdstern commented on #1586
It is important to have sort on multiple keys and also to be able to sort ascending or descending.  I don't have a particular problem where NAs go.  I would be concerned if they were at the top and you couldn't change that.  So if they are in a fixed place then at the end is fine by me.
If anyone wants the opposite, then they can do a replace by a large negative number and then sorting and then re

[2016-09-05 11:59] maxwellfundi opened #1682 "Combining graphs from different dataframes"
Currently, we can only combine graphs from only one data frame at a time. I would like a feature where i can combine graphs from different data frames.

[2016-09-06 15:19] dannyparsons commented on #1682
The selector without data frame could be used for this.
We would still need to have an Instat object method to get graphs from multiple data frames with one command. When we do this, we should also do it for columns, models etc. and decide on the syntax we want to do this.

[2016-09-06 15:20] dannyparsons opened #1694 "Rename column dialog allows invalid R variable names"
The rename dialog does not check that the new name entered is a valid R variable. This causes errors when the column is extracted for use in other dialogs.

[2016-09-07 05:42] dannyparsons opened #1695 "Double clicking on the title of some dialogs maximises it"
This seems to happen for dialogs that have the small (X) in the top right corner e.g. Calculator but not for dialogs with the bigger (X) like regular sequence. @maxwellfundi Can you look into this? But not an urgent task.

[2016-09-07 05:50] dannyparsons opened #1696 "Some dialogs are resizable"
e.g. Regular Sequence. The dialog type should be changed and other dialogs should be checked. Related to #1695

[2016-09-07 05:56] dannyparsons commented on #1695
I think this can be resolved by setting the properties Maximise Box and Minimise Box to False.
dlgSort already seems to have this set correctly.

[2016-09-07 06:19] maxwellfundi commented on #1695
Hi Danny,
i will have a look at this.

Thanks.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Wed, Sep 7, 2016 at 8:56 AM, Danny Parsons <notifications@github.com>
wrote:

[2016-09-07 06:28] Lunalo commented on #1695
Hi Danny, am trying to compare the dlgSort properties and dlgView.

Will get back to you shortly

On Wed, Sep 7, 2016 at 9:19 AM, maxwellfundi <notifications@github.com>
wrote:

--
Regards,
John Lunalo
Tel: +254(0)701519572, +254(0)764000861
Skype : john.lunalo

https://ke.linkedin.com/in/johnlunalo

[2016-09-07 06:29] dannyparsons commented on #1695
See my last message. I found the properties needed to be set.

[2016-09-07 06:44] Lunalo commented on #1695
@dannyparsons  yes. both minimisebox and maximisebox should be set to False

Thanks

[2016-09-07 13:11] maxwellfundi commented on #1696
@dannyparsons there are differences in properties of the dialogs- for the regualar sequence, both maximize and minimize box are false and the border style is sizable while for the calculator both maximize and minimize box are true but the formborderstyle is fixedtoolwindow. So when i changed the maximize and minimize box to false it worked fine. So , we have to be consistent with our form border s

[2016-09-07 13:17] dannyparsons commented on #1696
Yes that's exactly right and the form border style should be fixedtoolwindow so that the form is not resizable.

[2016-09-07 13:18] maxwellfundi commented on #1696
yeah. So we need to make sure all these dialogs need to be consistent

[2016-09-08 08:32] dannyparsons opened #1703 "Scatter Plot Dialog does not have any current receiver when the dialog first opens"

[2016-09-09 07:59] dannyparsons opened #1707 "Importing ODS files"
Need to override the rio method for importing ods files to use the new function to import ods. Should also write to rio developers to change this in the package.

[2016-09-12 15:49] rdstern opened #1709 "No recent files option on the Files menu"
This could be in the "old" way, where the 4 or 6 most recent files are available.  Ideally it would be in the same "Recent Files" way that is currently used by MIcrosoft.

[2016-09-13 10:15] dannyparsons opened #1710 "Append Dialog Bugs"
1. Selector is too big
2. There is no default for new data frame name
3. ID column checkbox does not hide column name correctly
4. There is no default for ID column name
5. Ok is not enabled/disabled correctly
6. The ID column contain in the new data frame contains x. in front of each label (need to remove parameter name passed to bind_rows)

[2016-09-13 10:15] dannyparsons commented on #1710
- Task for Lily

[2016-09-13 10:25] rdstern opened #1712 "New Modelling Dialogue"
This is the Model > General > Fit Model dialogue.  The task is first for John to organise the new dialogue.  Then for Steve to add the R-code to get it working.
The reason for the split in the tasks is that this dialogue has a calculator to specify the model, and John is now our new whizz on the calculator!
So, John, you could start from a copy of the Model > Three Variables > Fit Model dialogue.

[2016-09-13 13:20] rdstern opened #1713 "Addition to the modelling sub-dialogues"
Steve,

There are currently 2 tabs in the modelling sub-dialogue called "Display Options".  For now we can keep this name, with the idea that saving some results means displaying them in the grid.
So, could there be a third tab, perhaps called **_Save_** which will save results back into the grid as further columns.

There would be default names for the resulting columns.  They all are generated f

[2016-09-13 16:38] dannyparsons opened #1714 "Paste/cut etc. in non data grids"
All grids should handle paste/cut/delete events etc. to either prevent them or perform appropriate actions. This is already done in the Data grid but not in others e.g. factor grid.

[2016-09-14 06:18] rdstern opened #1717 "Improved regression plots"
Maxwell, please could you add the visreg package to R-Instat for the next version.
Steve, this package produces exactly the plots I have been searching for, with your regression models.
1. In the R code we can call visreg(...,gg=TRUE) instead of using ggplot directly.
2. In the sub-dialogue it will mean that the whole sub-dialogue will have to be larger to accommodate all the options we need. I do

[2016-09-14 07:18] dannyparsons commented on #1717
@maxwellfundi I will do the package installation this time as it's a slightly different process to what we did before. You could learn how to do this to do it in future.

[2016-09-14 07:26] maxwellfundi commented on #1717
Okay, thats fine.
You might need to show me how we are currently doing it.
Thanks

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Wed, Sep 14, 2016 at 10:18 AM, Danny Parsons <notifications@github.com>
wrote:

[2016-09-14 11:46] stevekogo commented on #1713
Hi Roger,

I am going to get this working as soon as possible. For now, I am trying to
setup visual studio on a new computer then get back to work. Hopefully, I
will have something to share before the end on tomorrow.

Regards,

Steve

On Tue, Sep 13, 2016 at 4:20 PM, rdstern <notifications@github.com> wrote:

[2016-09-15 06:04] Lunalo commented on #1712
Hi  @rdstern and @dannyparsons

The dialog is now in place. @stevekogo  needs to carry on with it

Thanks

[2016-09-15 06:11] Lunalo opened #1724 "Fixing for maximise and minimise box on organise and model menus"
Hi @dannyparsons , @stevekogo  @maxwellfundi  @stevenndungu ,

I am currently working on this dialogs.

I will let you know when am done.

Thanks

[2016-09-15 06:23] maxwellfundi commented on #1724
Good, @lunalo Describe is done!!

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Thu, Sep 15, 2016 at 9:11 AM, John Lunalo <notifications@github.com>
wrote:

[2016-09-15 07:06] dannyparsons commented on #1724
Thanks guys. Can you also check sub dialogs?

[2016-09-15 07:23] Lunalo commented on #1724
@dannyparsons  we are now working with @stevenndungu  on this. He is working on the model menu

[2016-09-15 08:04] maxwellfundi commented on #1724
Yeah, i can have a look at all the subdialogs in the project.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Thu, Sep 15, 2016 at 10:23 AM, John Lunalo <notifications@github.com>
wrote:

[2016-09-15 10:39] dannyparsons opened #1728 "Import from ODK"
@stevenndungu We have a very exciting dialog for you to work on. We would like to be able to import data directly from an ODK into R-Instat.
We now know how to do import data from a kobo or ona form directly into an R data frame!
Please can you create the simple design for the dialog attached with help from @maxwellfundi and @Lunalo.
I will then send details later today of the code that's needed t

[2016-09-15 12:58] dannyparsons commented on #1728
@stevenndungu I have now added an Instat object method called "import_from_ODK" which you can use for the dialog. @Lunalo should be able to help with this and the parameters should be obvious.

Some more information:
1. The "Find Forms" button should only be enabled when both username and password have been filled in.
2. To fill the choose forms combo box you will need to use the "get_odk_form_nam

[2016-09-15 13:45] stevenndungu commented on #1728
I have received the work. Let me work on it with help of Maxwell and John.
Thanks.
Steve

On Thu, Sep 15, 2016 at 3:58 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-09-15 16:00] dannyparsons commented on #1710
fixed by #1729

[2016-09-15 16:00] #1710 closed

[2016-09-15 16:02] lilyclements opened #1735 "Delete Columns/Rows Bug"
The radio button for 'Delete Rows' is disabled.
Could this be enabled?

[2016-09-15 16:03] lilyclements opened #1736 "Using Backspace to delete items"
When you delete an item, such as a column or row, via backspace an error occurs.

[2016-09-15 16:06] dannyparsons commented on #1735
@Lunalo Could you look into this. Deleting rows is working through right click in grid so should be possible in the dialog now.

[2016-09-15 18:07] stevenndungu commented on #1728
Ok thanks, will do that.Danny Parsons <notifications@github.com> wrote:@stevenndungu I have now added an Instat object method called "import_from_ODK" which you can use for the dialog. @Lunalo should be able to help with this and the parameters should be obvious.

Some more information:
1. The "Find Forms" button should only be enabled when both username and password have been filled in.
2. To fil

[2016-09-16 08:58] #1736 closed

[2016-09-16 09:45] rdstern opened #1741 "Improving the Factor - Levels and labels dialogue"
1. I was really pleased to hear that the levels/labels in this dialogue can be changed by pasting as well as typing.
2. I also like the fact there are currently 3 "columns", so the row number is also shown.
3. One small change - could the counts at each level be right-justified.
4. Could the space for the grid be wider - there is some blank space on the left of the grid.
5.  Now a bigger suggested

[2016-09-16 09:57] rdstern opened #1742 "More in the Tools > Options dialogue"
I have termed this to be a bug, i.e. that we can't yet save the options anywhere.
I would also like an enhancement, which could be called R-Options.  There may eventually be many, but I have just 3 for now.  They would each run the R options command.
My 3 options (so far) are:
1. show.signif.stars = FALSE
2. width.  This is currently set to 80.  We may want to be able to change that, particularly

[2016-09-17 09:40] rdstern opened #1747 "Mosaic package for R-Instat"
Danny, could this package please be added?
Actually there are two packages, namely mosaic and mosaicdata.  It would be good to have both.  The mosaicdata package includes on dataset with many variables - over 200 I guess and it will be good to see how easily it goes into R-instat.
Thanks
Roger

[2016-09-18 07:03] rdstern opened #1751 "A new "Enter" dialogue but start with the current calculator!"
This is a new dialogue, It is in the **Organise > Column: Generate** menu and to be added just after Regular Sequence.  It is called "Enter" and is to enter a column of data.  It might later also be added to Manipulate > Column: Text.  There it would be the first name and again called "Enter".
It is not especially urgent.  But it is an easy dialogue to implement and hence might be a useful piece o

[2016-09-18 08:09] rdstern commented on #1751
Now this is to suggest the new Enter dialogue.  It will be similar to the existing calculate, both in the dialogue itself, and in how it passes the information to R.

The dialogue first.  Adapt the calculate dialogue in the following way:
a) The label "Expression" can change to "Data"
b) You choose a data frame - so that part is there, but you don't choose any columns.  For the control with just t

[2016-09-18 11:15] rdstern opened #1752 "Model > Probability Distributions > Show Model dialog"
This is under Models > Probability Distributions.  For now call it "Tables Plus".  It is additional to the two existing entries.
It is to give probability tables and also to provide graphs of individual distributions.
It uses the pdst and qdist commands in the mosaic package.
1. At the top of the dialogue there are radio buttons with the 2 labels "Probabilities" and "Quantiles".  Quantiles is the

[2016-09-18 19:25] stevenndungu commented on #1751
Ok, fine Rogers. Will be working on it as from tommorow. rdstern <notifications@github.com> wrote:Now this is to suggest the new Enter dialogue.  It will be similar to the existing calculate, both in the dialogue itself, and in how it passes the information to R.

The dialogue first.  Adapt the calculate dialogue in the following way:
a) The label "Expression" can change to "Data"
b) You choose a

[2016-09-19 10:08] rdstern opened #1756 "Dialogue for Models > One Variable > Fit Model"
This dialogue seems easier than I thought - at least to get started!

It will be similar and could start by adapting a copy of the Two Variable > Fit Model dialogue.
In a copy of that dialogue for now:
a) Change the label "Response Variable" to "Variable".
b) Get rid of the "Explanatory Variable" control and the Function checkbox.
c) Move the Distribution drop down over to the right-hand side.
d)

[2016-09-19 10:28] rdstern commented on #1756
This dialogue will make use of commands from the fitdistrplus package.  It looks excellent and has commands that correspond well to all our three dialogues, namely Fit, Choose, Use!

For the fit, described above, we can have a drop-down list of distributions.  We just choose one of these.  I need to discuss the best control with Danny, because the "Choose" will have the same distributions, but we

[2016-09-19 10:46] rdstern opened #1757 "More on residuals for linear models"
Steve, although I suggested you here, perhaps one of the others can sort out the sub-dialogue?

The visreg package means we can have a separate tab for plotting the fitted models.
I would like a separate tab also for the "Residual plots"
We may need to experiment a bit, but I think the default can still be the four plots.  But one can have up to 6, and it can be useful to choose the single plots t

[2016-09-20 07:16] rdstern opened #1762 "New Dialogue for Model > One Variable > Choose Model"
1. Change the menu name from "Choose Model" to "Compare Models".
2. The main dialogue is very simple.  It has the "usual" selector control.  Only it is just for the "fitdist" objects that have been generated in the previous dialogue.
3.  There is a multiple receiver.  I am not sure whether to allow just a single object here.  If it makes the code more complicated, then insist there are at least 2

[2016-09-20 08:02] rdstern commented on #1762
This comment is to add the sub-dialogue.
This will be tabbed.  It calls 2 functions from the package.  One is gofstat for goodness of fit statistics.  This can be the main part of the sub-dialogue.  Fit would be a good name.  Then in the sub-dialogue it should say "Goodness of Fit Statistics".

The command to run for the goodness of fit is
result=gofstat(list(savedobjects)).
This saves an object o

[2016-09-20 10:30] rdstern opened #1763 "New dialogue for Model > One Variable > Use Model"
This also has a simple main dialogue, namely
1) Usual selector within a data frame, with just objects of the fitdist type - (or bootdist).
2) A single receiver
3) A checkbox "Produce bootstrap"
4) A second checkbox "Save Bootstrap Object", which is only accessible if the "Produce Bootstrap" is checked.
5) The first sub-dialogue is now called "Bootstrap Options".  We need to look at what possible o

[2016-09-20 11:09] rdstern opened #1766 "New Dialogue for Model > Two Variables > Use Model"
Again I have assigned this to Steve.  But someone else may construct the dialogue.
1. This can be adapted from the Fit Model dialogue.  It is likely to be a single (or at least similar) dialogue - for all the regression models.  We can start with the Two Variable case.
2. The selector is as before.  But it is for fitted models, rather than for columns of data.
3.  There is a single receiver with t

[2016-09-20 11:33] stevekogo commented on #1757
This has been fixed by #1767

[2016-09-20 11:35] stevekogo commented on #1766
I am going to start working on this right away.

[2016-09-20 12:10] rdstern commented on #1766
Great.  Many thanks.

[2016-09-20 15:53] dannyparsons commented on #1728
Now in place and working, but may need more additions in future.

[2016-09-20 16:17] rdstern opened #1770 "Changes in the R-Instat menus"
John and Steve, 4 small changes to the menus please:
1. Not: In the File menu, add a new entry **Convert** just under the entry Import from ODK entry and above the line.
2. Not: In the Organise menu, change "Prepare to Share" into "Check Data".
**_3.  This is the one:  Then in the sub-menu there change the second item into "Prepare to Share (sdc package)"  (John, the current spelling of "scd" is w

[2016-09-20 16:41] rdstern opened #1771 "Improvements to the Tools > Options dialogue and the grid"
These are two areas that I suggest would be strong points when showing R-Instat to the SSD team.  I have checked with Carlos and he is OK with the 7th October demo, though he may be in Rwanda that week.  The Lesotho team arrives for work from 10th, so I would like this demo to be before that.

Danny is positive about both items, but suggests they be discussed first with David next week.
1. The fir

[2016-09-21 09:15] rdstern opened #1779 "Adding infilling of missing values in Organise > Data Frame > Replace"
This is still to be added.
There is a routine, called fill in the tidyr package.  I think Danny is reluctant to use this, because it takes (or returns) a data frame, rather than a column.  There is an alternative called na.locf in the zoo package.  I can not judge if this is better.

If neither of these is simple to implement, then I suggest we mark this as a "still-to-do" task and consider writin

[2016-09-21 09:34] rdstern opened #1781 "Improvements to existing dialogues in the Organise menu"
I write about a number of issues here.  Any of these could later be separated into its own issue if there were a lot of discussion.
1. **Column: Calculate > Calculate.**  The feature to remember the previous calculations is not yet implemented.  Ideally this would continue (as examples) onto a new session.  Similarly Danny says that adding the "try" facility should be relatively easy?
2. **Data Fr

[2016-09-21 09:40] rdstern opened #1782 "Organise menu, metadata"
This is an important set of dialogues mainly in the second half of the Organise > Data Object menu.  This is mainly a place-holder for reporting progress on these dialogues.

At the same time there is also the Data Frame > Column MetaData dialogue to sort out, and also the Data Frame > Metadata dialogue.

[2016-09-21 09:46] rdstern opened #1783 "Organise menu R-Objects"
We are now using more objects in the software.  This is particularly in the graphics and the modelling menus, but also filters, and calculations, etc.  This is an important and fairly novel feature of the software.  Hence it should be covered in the SSD presentation.

This is therefore to ensure we have a reasonable "system" for managing these objects.  I wonder, for example, if the Data Options m

[2016-09-21 10:19] dannyparsons commented on #1779
na.locf looks very powerful with lots of extra options and happy using something from zoo package. I think it's good enough.

[2016-09-21 12:20] maxwellfundi commented on #1703
@africanmathsinitiative/instat this is fixed. Thanks.

[2016-09-21 13:19] dannyparsons commented on #1703
Thanks. Remember you can use 'Fixes #xxx' in your pull request description and it will automatically close the issue when it's merged.

[2016-09-21 13:19] #1703 closed

[2016-09-21 17:09] stevenndungu commented on #1751
Hi Roger,

I have implemented the New Enter menu as you had suggested with little
enhancements to finish up tomorrow morning. Have a  check on it and give
your comment on it so far.

Just a clarification: On the E button (i.e, is it the base of 10,
abbreviation exponential,or?) am not sure which to pick on.Thanks

Steven

On Sun, Sep 18, 2016 at 10:24 PM, <stevenndungu4@gmail.com> wrote:

[2016-09-21 17:49] stevenndungu commented on #1751
Just noticed now that the mail you send me missed missed this section! (yet contains very important information - [will fix that])
 "16) There are also 5 other "keys". One is "LETTERS", second is "letters", third is "month-", 4th is "month+" and 5th is "pi". When they are pressed they give exactly what is on the key, excpet that "month-" gives "month.abb" and month+" gives "month.name". If necessa

[2016-09-22 05:45] maxwellfundi commented on #1703
Okay, thanks Danny. Will use that next time.

Thanks

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Wed, Sep 21, 2016 at 4:19 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-09-22 06:07] rdstern commented on #1751
I reply to your query: Just a clarification: On the E button (i.e, is it the base of 10,
abbreviation exponential,or?) am not sure which to pick on.Thanks

Yes, I was assuming you could enter data into R as 4E03 or 4E-5.  I suggested capital E because I think that will work and then we don't confuse it with the number e.  We need to test it.

Roger

[2016-09-22 06:18] stevenndungu commented on #1751
Ok, thanks. I did make the changes on commend number (16) overnight. I hope
the designer is now as expected.

On Thu, Sep 22, 2016 at 9:07 AM, rdstern <notifications@github.com> wrote:

[2016-09-22 09:48] dannyparsons opened #1789 "adding discrete scales options to plot sub dialog"
By default ggplot ignores unused factor levels, but it should be easy to include them. e.g. for bar chart it can be done like this: http://stackoverflow.com/a/10835659/6424231
We should look into how we could have these options generally.

[2016-09-22 13:35] Lunalo opened #1792 "Calculator error when running dialog with numbers as inputs"
@dannyparsons , @rdstern

If I type 555 in r and press enter, 555 is returned as output but if the same is done and you ask the calc to give the result in output window an error occurs as shown in the attachment.

I am not sure if this is what we want?
![calc error](https://cloud.githubusercontent.com/assets/13945088/18750128/9108be02-80e2-11e6-93b8-c7198837b1eb.PNG)

[2016-09-22 13:41] dannyparsons commented on #1751
This in now merged in the code @rdstern can test and give feedback.

[2016-09-22 16:43] dannyparsons commented on #1728
Few corrections for the dialog:

- Form spelt incorrectly on button
- Text in password textbox is different to normal text boxes (font is too big)

[2016-09-23 04:44] rdstern opened #1795 "A simple count dialogue"
This is a very simple dialogue, but one that will use a function we write.  The initial code is given by Sam and is below:

This isn't urgent, because I am not sure how we call a function in this way.  And I suspect we may need improvements - always do - when it is to be used generally.

It is a simpler version of the dialogue in Genstat, called "Fill by Groups".  Ours could be "Count in Factor".

[2016-09-23 06:32] rdstern opened #1796 "A new menu for dates and times"
This set of suggestions needs confirmation by Danny.  It is to have a new of menu, below Organise> Column: Text.  It is called Organise > Column: Date
It will probably have 3 sections, namely:

Generate Date Column

---

Make Date
Use Date

---

Make Time
Use Time

Initially concentrate on the 2 dialogues "Make Date" and "Use Date".  The others can be enabled later.
These 2 dialogues will use the

[2016-09-23 06:48] stevenndungu commented on #1796
Ok. some interesting work to do on lubridate.

[2016-09-23 07:04] rdstern commented on #1796
The second item is "the other way round", i.e. once you have a date column you want to generate components of the date.  the first part of the dialogue is simple.  It has the selector, and only shows columns of type date (or datetime).  There is a single receiver for a date column.  Usually a data frame will only have one date column.  Possibly, when there is just one column it is selected automat

[2016-09-23 07:49] maxwellfundi commented on #1795
@rdstern @dannyparsons  am happy taking on this task.
Thanks.

[2016-09-26 08:29] Lunalo commented on #1782
@dannyparsons

I am not sure if creating a new design for each dialog or improving the existing ones is the right option?

[2016-09-26 13:10] stevenndungu commented on #1796
@rdstern  @dannyparsons

We have looking at make date dialogue with @Lunalo  and @maxwellfundi and we noticed that the function make_datetime cannot take in factors. It only accepts numeric (Specifically integer values)

[2016-09-26 17:21] dannyparsons commented on #1796
Thanks for looking into this. I suggest as.Date in base is powerful enough for everything we want to do here. But happy for you to look into this and make a suggestion.

[2016-09-27 06:55] stevenndungu commented on #1796
Fine thanks, as.Date is actually a powerful function. Let me have a look at
it.

On Mon, Sep 26, 2016 at 8:21 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-09-27 10:17] rdstern opened #1803 "Describe > One Variable > Graphics"
We looked at this dialogue yesterday, when Beth visited.  These comments are now from David, Danny and Roger.

The title of the sub-dialogue is wrong.  Have something like OneVariableGraphOptions.
The 3 radio buttons from the display sub-dialogue move to the main dialogue:
This has the same radio buttons as are now, but with Facets first and Single as the last.  The label should have an "s", i.e.

[2016-09-27 10:20] dannyparsons commented on #1803
@maxwellfundi have a look at graph_one_variable method in R to see how this should link up with parameters. I need to make some changes now to the code because of the new sub dialog design e.g. factor and character parameters will be replaced with "other", and there will need to be parameters for further new options from the subdialog.
Maybe start with the design stuff and general linking of the s

[2016-09-27 11:30] rdstern commented on #1752
This is the main use of the dialogue.  It will be good to get this version working.
Then a second version will be when a model has been fitted (usually from the Model > Once Variable > Fit Model dialogue.  Then a second selector could be available to choose an object instead of choosing a distribution.

[2016-09-27 11:54] Lunalo commented on #1752
Hi Roger,

I will Start working on this now. Thanks for the reminder.

[2016-09-27 11:58] dannyparsons opened #1805 "Describe > Two Variable > Graphics"
Some of the combinations are not producing sensible graphs so there are some changes we propose. A second message will follow on changes to options in the sub dialog. This is just for the main dialog:
1. Numerics by a factor - the factor column should also be x aes and not fill (the fill is also sensible and will be an option in the sub dialog)
2. Numerics by a numeric - This should do facets inst

[2016-09-27 12:51] lilyclements commented on #1763
I have started to have a look at this and have some questions and points:

On point 8) you discuss the confidence interval. I was just wondering where you wanted this placed - did you mean for it to be in the subdialog under the quantiles tab?

I've looked into the bootdist() function to just have a look at the options. What would we allow the maximum number of iterations to be? To get an idea, I

[2016-09-27 13:01] dannyparsons commented on #1805
In the sub dialog, change the word "variate" to "numeric" and "factor" to "categorical".
Then we define categorical as "factor", "logical" or "character". So e.g. numeric by factor is treated the same as numeric by character (eventually we would like to be able to do a combination of factor/character in the receiver, but will need some work later)

The graph options are mostly ok, but can you chan

[2016-09-27 13:14] stevenndungu commented on #1796
@rdstern @dannyparsons

Well after a close look on make_datetime function and as.Date function. I think both functions are equally important in achievement of our goal of making date in this dialogue.

Have discussed this with @Lunalo and @maxwellfundi and these are the arising views over the same. Perhaps you can too join us in these discussion.

There are two possibilities that may arise in most

[2016-09-27 15:23] dannyparsons commented on #1796
Thanks for looking into this and for giving your findings. It's really useful to have your thoughts written down to start discussions and you've given good reasons for your choices.

We should definitely be able to do both cases (and more e.g. create date from 2 columns - day of year, and year). The `make_datetime` does seem nice for 3 numeric column case, but we can also do this with `as.Date` us

[2016-09-27 15:29] dannyparsons commented on #1803
In numeric the graph options can now be: boxplot, dot plot, point plot, histogram, density plot, frequency polygon.

[2016-09-27 15:49] dannyparsons commented on #1803
Also, we've decided to change the label "Other" to "Categorical"

[2016-09-27 16:58] rdstern commented on #1796
Steven, thank you for your inputs.  This is all making good progress.  Danny and I now suggest as follows for the Make date dialogue.
1. There is a set of 3 radio buttons across the top of the dialogue.  They give
0 Single Column  0 Year and Day of Year  0 Year -Month-Day
2. There is the usual data selector which will allow columns of all types.
3.  There are then 3 group boxes, depending on the r

[2016-09-27 20:51] dannyparsons commented on #1782
We're discussed this and have some additions:

General tidying needed of the design. Dialog gives an error when creating new metadata property. Needs to be tested well. (John)
class property should not be editable (Danny)
The selector should have an "Overall" option for the Data Frame metadata (Danny)
We agreed to delete the reorder metadata dialog as metadata doesn't really have an order (John)
W

[2016-09-28 06:40] maxwellfundi commented on #1803
Okay, Well noted.

[2016-09-28 06:56] rdstern commented on #1796
Here is my first go at the single column (i.e. single receiver) that is to made into a date.
There are two possibilities here
a) It may be a string e.g. 16/Jan/2012 or simply (which may be numeric) 16012012
b) It may be a number, say from Excel, e.g. 302317.
If it is a string, i.e. a) above (and not in the default formats recognised by R), then the format must be given.  If a number, i.e. b) above

[2016-09-28 07:01] rdstern commented on #1796
I think we need to change the idea of 2-digit years.
There should be a checkbox somewhere, default unchecked with
"2-digit years".  If checked, then open an up-down control from 0 to 100 with the label "Cutoff for 2000 years".
The idea is that if it is less than the number given, then the year is in the 2000's.  If more or equal, then it is in the 1900s.  For example 20 means that 15 is made into

[2016-09-28 07:22] stevenndungu commented on #1796
Thanks roger and Danny, this is really good ideas. Am having a closer look
at them. @Danny, the paste function actually acts as a good replacement of
make_datetime. @Roger - picking up this to enhance yesterdays dialogue. The
dialogue will be a good one  solve all the possible cases. Let work on this
with assistance of Maxwell and John.Thanks.

Steven

On Wed, Sep 28, 2016 at 10:01 AM, rdstern <no

[2016-09-28 07:59] dannyparsons commented on #1796
Great, this dialog is getting complicated now. I suggest start with the 1 column case first, and get it working well in the simple, default cases to start with. After it's working in common cases, then try and build in all the more complex cases. If you try and do it all at once you may never finish!

[2016-09-28 08:39] Lunalo commented on #1796
I support Danny's idea of getting the dialog simply working and improving
it with time.

This is a bit complicated dialog so implementing everything at ago can take
quite sometime.

On Wed, Sep 28, 2016 at 10:59 AM, Danny Parsons <notifications@github.com>
wrote:

--
Regards,
John Lunalo
Tel: +254(0)701519572, +254(0)764000861
Skype : john.lunalo

https://ke.linkedin.com/in/johnlunalo

[2016-09-28 08:41] rdstern commented on #1763
The confidence intervals are only possible when you have the bootstrap.  So they would not be available unless there is a bootstrap object.  This could perhaps be through checking in the form whether the bootstrap object is used, or the ordinary object.

On the maximum for the bootstrap, the number of iterations will change as machines become more powerful.  The default is (I think) 1001.  It shou

[2016-09-28 08:48] maxwellfundi commented on #1796
@Lunalo @stevenndungu  it was really helpful to have the  lengthy discussion on these dates dialogs the other day. We now sort of a solution. Well done.

[2016-09-28 09:44] rdstern opened #1813 "Distributions in R-Instat"
We will need to have the same distributions available for quite a number of dialogues in R-Instat.  Currently these include the **Organise > Generate > Random Samples**, **Model > Probability Distributions > Show Models**, and **Model > One Variable > Fit Model**.

This is my initial list of distributions.  David suggests that these should be added into the code by me working together with Lily.

[2016-09-28 10:27] rdstern commented on #1782
The **Organise > Data Frame > Column Metadata** should go to a dialogue, not the form.  This is the same dialogue as in **Organise > Data Object > Data Frame Metadata** and  **Organise > Data Object > Metadata**.

This dialogue should have an easy access to the corresponding grid(s).
There is a new menu item, namely Organise > Metadata, (below the current Organise > Data Object menu item.  It will

[2016-09-28 10:35] rdstern opened #1814 "Improved toolbar"
We want to be able to view each window easily, namely Grid, Output, Log, Script.  Also the Column Metadata window and the Data Frame metadata window.  That's 6 windows, i.e. 6 new items on the toolbar.
Also important is a 7th, namely to rest the windows to our default, which is the vertical tiling of just grid (on left) and output on the right.  Informing our users about this option (i.e. toolbar

[2016-09-28 11:03] lilyclements commented on #1813
Okay, sounds good. Is there anything you would want me to do on it right now?
Also, I assume the above list is not exhaustive or do we wish to leave out the circular distributions? I have never worked with the likes of von Mises before so not sure how it differs from the other distributions but will have a look into it on R if we do wish to include it!
Thanks,
Lily

[2016-09-28 12:32] Lunalo commented on #1752
@rdstern

I am now set to add the r code to this dialog
Do we need to do it for all the distribution or for some for the start?

[2016-09-28 16:03] rdstern opened #1819 "The climatic menu"
The new climatic menu will have a different structure to the existing one.  We would like it to be the same (in one column) of the main menu.

So the main items will be File, Organise, Describe and Model.  There may be more than one menu of any of these "types" if we need, e.g. Model1, Model2.

There is already a Climatic > File, with just one item so far.  This is fine.
The current **Climatic > M

[2016-09-28 16:53] rdstern commented on #1813
No, this isn't urgent.  For now it would be good to continue with the commands and distributions that are already there.  This is likely to be work for after our demonstration to SSD at the end of next week.

[2016-09-28 18:13] rdstern commented on #1752
Hi John,

Just do it for one distribution - say normal - for now.  perhaps for 2, so also binomial or Poisson.  Later we will consider how this should be generalised to many distributions.  We expect it to work for any distribution where the "p" and "d" and "q" exist, e.g. pnorm.  In each case it will either use the pdist or qdist commands from Mosaic.

Roger

[2016-09-28 21:42] dannyparsons commented on #1752
Hi John, I've had a look at this now. You were right that to do this there would need to be a change to single receiver or receiver expression. Having thought about it, we can achieve the same with a single receiver and a input textbox on top of each other with an option above for column or enter values, which hides/shows the controls. This means we don't need to change and receiver controls and m

[2016-09-29 10:29] rdstern opened #1826 "Menus, particularly Describe menu"
I suggest improvements in the Describe menu.  This is initially for discussion rather than for immediate action.  Once agreed it should be easy to implement.

The new top level menu under **Describe** could become:

One Variable
Two Variable
Specific
General
(Line)
Multivariate
More Graphs

Details of suggested changes are as follows:

0. Delete the 2-variable Correlate item.
1. Add a new menu ite

[2016-09-30 13:57] maxwellfundi commented on #1826
@rdstern I could restructure this as soon as am done with current tasks.

[2016-09-30 13:58] maxwellfundi commented on #1795
@dannyparsons  Was the method for this done? the dialog doesn't do anything yet.

[2016-09-30 18:33] dannyparsons commented on #1795
No not yet, thanks for the reminder. I will get the method added soon.

[2016-09-30 19:13] rdstern commented on #1795
I have found the function.  In the dae package there is a command called fac.nested.  This does (I think) exactly what we need..

[2016-10-03 12:37] stevenndungu commented on #1796
was trying to implement the as date for more than one receiver but Maxwell and John are suggesting we use a multiple receiver in place of the two receivers(Month and Year) and three receivers(Day,Month and Year). Perhaps you can give us your suggestions on the same. @rdstern and @dannyparsons

[2016-10-03 12:57] dannyparsons commented on #1796
We can't use multiple receivers because all the variables used for the same thing. How do we know which column is for Year in a multiple receiver? We need specific receivers for each of Year, Day etc.

[2016-10-03 13:37] stevenndungu commented on #1796
Ok, thanks.

On Mon, Oct 3, 2016 at 3:57 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-10-04 07:11] rdstern commented on #1826
Sounds good.  I expected discussion and suggestions for improvements.  The fact there are none must mean that my suggestions were perfect, so go ahead!

[2016-10-04 07:23] maxwellfundi commented on #1826
Okay, thank you.

[2016-10-04 07:36] rdstern opened #1836 "The correlations dialogue"
We had visitors from the Aga Khan foundation yesterday, so demonstrated R-Instat.  Overall it went well and they seemed impressed.

In the correlations dialogue I was just going to explain to them how clever R-Instat was in just shoing the variates, when it isn't.  All the columns were there!  I am sure this was working before, so I guess this might be a general (temporary?) issue with the user co

[2016-10-04 09:27] rdstern opened #1838 "Organise Factor Contrasts Dialogue"
I think this is John, at least for some of the front end!

This is the organise > Factor > Contrasts dialogue.

It starts deceptively simply.  You need:

a)  The data selector within a data frame.
b)  A single data receiver.  This is already a factor column, so the data selector should show only factor columns.
c)  A set of radio buttons, possibly as follows:
a.  Current contrasts  (I think there

[2016-10-04 12:39] Lunalo commented on #1838
@rdstern  I am happy working on this

[2016-10-04 12:40] Lunalo commented on #1838
@lilyclements  can i have yor skype contact please?

[2016-10-04 13:22] dannyparsons commented on #1796
Here are initial methods for creating date from 2/3 columns #1839. Note some more parameters will need to be added later, and also some parameters are not functioning yet. Please look at the code to see how it's working so far. It still needs some work, feel free to suggest additions.
Also note that the methods do not add the output as a new column, that should still be done separately.
I have not

[2016-10-05 07:08] maxwellfundi commented on #1826
@rdstern  the current menu now looks like this:-

One Variable
Two Variable
Specific
General
(Line)
Multivariate
More Graphs
(Line)
Use Graph
Combine Graph
Themes

So , i now need to know what your 4th point meant because the 8th point said i rename the Graphics Dialogs, to More graphs.  Did it mean i add the 7 dialogs into the main menu and not as a drop down items for More Graphs?

Thanks.

[2016-10-05 08:14] maxwellfundi commented on #1826
@rdstern @dannyparsons  the themes dialog is still a dummy dialog with nothing. It would be nice to get the proposed design.

[2016-10-05 08:51] #1826 closed

[2016-10-06 07:22] maxwellfundi commented on #1795
@dannyparsons  was this method created? What is its name?

[2016-10-06 07:35] dannyparsons commented on #1795
No but can you check the R function that Roger mentioned in the issue, if that works we may not need to write our own.

[2016-10-06 08:32] #1819 closed

[2016-10-06 12:26] lilyclements commented on #1838
@Lunalo it is Lclements1004@outlook.com

[2016-10-06 12:30] Lunalo commented on #1838
Thanks very much

[2016-10-06 12:46] maxwellfundi commented on #1795
@dannyparsons  have been looking at this and researching and i think from our discussions here with @Lunalo  seems like we could use this function (fac.nested)  .

[2016-10-06 12:47] dannyparsons commented on #1795
Great, happy for you to try implement it now then.

[2016-10-06 13:36] maxwellfundi commented on #1795
Okay great.

[2016-10-06 14:20] Lunalo commented on #1838
Hi @rdstern

I have done research on this and below are some of the things I found out:

1.) For unordered factors we can use contr.treatment as default but still accept "contr.poly" as default for ordered.
2.) Default number of contrast can be k-1( I settled on k to avoid confusion).

3) Let us save the output as r object since we might want use these matrices to do anova.

Lastly, I have started

[2016-10-07 07:06] Lunalo commented on #1838
@rdstern  @lilyclements  @dannyparsons

I was also wondering whwther we can add contr.SAS for SAS procedures which also happen to be awrapper of contr.treatment?

[2016-10-07 09:09] maxwellfundi commented on #1795
We also need the help id for this dialog.

[2016-10-07 09:16] dannyparsons commented on #1795
What is the help id?

[2016-10-07 10:09] lilyclements commented on #1763
I have a few questions/queries about the graphs for this dialog.

So, when "bootdist" is being used, the plot we can use is "CIcdfplot" and looks like a CDF plot with Confidence Intervals.
I cannot execute the code on r successfully to be able to alter the CI on this plot, however.
However, this plot can have CI.output="quantiles". These quantiles in the CIcdfplot cannot be customised - or at leas

[2016-10-07 11:11] maxwellfundi commented on #1795
iHelpTopicID for the dialog

[2016-10-07 13:01] dannyparsons commented on #1795
Ok yes that comes in from the help.

[2016-10-07 13:02] rdstern commented on #1795
Thanks for asking.  The help topic ID for this dialogue is 457

[2016-10-07 13:05] rdstern commented on #1751
Thank you.  I will try it.  Meanwhile the help topic ID is 458

[2016-10-07 13:10] maxwellfundi commented on #1795
Thanks Roger.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Fri, Oct 7, 2016 at 4:02 PM, rdstern <notifications@github.com> wrote:

[2016-10-07 13:48] maxwellfundi commented on #1803
I also need the iHelpTopicID for this dialog too @rdstern

[2016-10-07 14:16] #1836 closed

[2016-10-07 14:34] rdstern commented on #1796
On the menu (rather than the contents of the individual dialogues) for the dates, just to clarify that my initial message gave a possible structure for the Column: Dates menu, namely:

Generate Dates...(460)
-----------------
Make Date... (461)
Use Date...   (462)
-----------
Make Time... (463)
Use Time...   (464)

I don't see why we need the structure you have, with the sub-sub menu?  Can you cha

[2016-10-07 14:48] stevenndungu commented on #1796
Ok fine. I will do that. Thanks

On Fri, Oct 7, 2016 at 5:34 PM, rdstern <notifications@github.com> wrote:

[2016-10-07 14:52] rdstern commented on #1803
The help ID is 412.

While you are there the ID for Describe > One Variable > Summarise is 410
Describe > Two Variables > Summarise is 414
Describe > Two Variables > Graph is 416
Describe > Two Variables > Tabulate (not there yet) is 415

Thanks

Roger

[2016-10-07 15:20] #1803 closed

[2016-10-07 15:21] #1795 closed

[2016-10-08 14:41] dannyparsons opened #1861 "Bug in merge R function"
I've found a bug in the dplyr's merge functions which we use in our merge dialog. I have reported it here: https://github.com/hadley/dplyr/issues/2164

For us, we get an error when the joining columns are a mixture of numeric and integer. (i.e. ID in df1 is numeric but ID in df2 is integer). Generally this isn't a problem in dplyr, but it is for us because we use column attributes!

So until this

[2016-10-08 15:34] rdstern commented on #1756
More on the fit model  - and others a bit.
Lily, this seems to be working pretty well
1. It would be good to add the help IDs, they are 296 for Fit, 174 for Compare and 375 for Use.
2. The items below mean that the "Display Options" will have 3 tabs, namely Plot (as now), Likelihood, and Save
2. I haven't looked in detail in the fitdist object, but assume it includes the fitted values and (possibl

[2016-10-08 16:34] rdstern commented on #1792
I am not sure whether anything has yet been done on the previous message, which was noted as a bug?
I would like to continue (also) enhancing the calculator - and also fixing bugs!
1. I like the fact that Try seems to be sort of working.  I say "sort of", because I used it when it was OK, and that was fine.  When I came back to the dialogue it (of course?) still had that result, because it starts

[2016-10-08 16:50] lilyclements commented on #1756
I haven't collected the laptop from the office yet but intend to tomorrow. I'll add in the ID's and have a start on this list tomorrow!

[2016-10-08 18:36] #1694 closed

[2016-10-09 10:44] dannyparsons commented on #1707
Issue reported here: https://github.com/leeper/rio/issues/128

[2016-10-09 11:08] Lunalo commented on #1792
Hi Roger,

Thanks for the reminder.

I tried fixing the Try but it seems Danny will have to improve on
something. I can still go ahead and fixing the clearing part.

I will fix for help for each keyboard which I think it is a great idea but
am not sure if we still need a general help for the dialog.

Lastly, The idea of having levels of a factor, I am not sure if we need a
list box or combo box. I

[2016-10-09 11:41] dannyparsons commented on #1792
I will look into the Try on the calculator now.

[2016-10-10 07:40] maxwellfundi commented on #1803
Now, these are all added.
@rdstern i have also created the dummy dialog for the tabulate. I wonder if
you have the desired design for it so it gets started.

Thanks.

Maxwell

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Fri, Oct 7, 2016 at 5:52 PM, rdstern <notifications@github.com> wrote:

[2016-10-10 09:46] maxwellfundi commented on #1695
@dannyparsons this was all fixed up already

[2016-10-10 09:47] maxwellfundi commented on #1696
@dannyparsons this is also done

[2016-10-10 09:48] maxwellfundi commented on #890
@dannyparsons This was also fixed.

[2016-10-10 09:50] #890 closed

[2016-10-10 09:50] dannyparsons commented on #1695
Ok, I'll leave this open as a reminder we need to constantly check this.

[2016-10-10 09:51] #1696 closed

[2016-10-10 19:04] FrancoisJRenaud opened #1874 "Bug in specific plots with ucrVariablesAsFactors"
When choosing x and multiple y's in the main dialogue, everything is fine. Example:

"dash" dlgScatterPlot code generated by the dialog Scatter Plot
survey_temp <- InstatDataObject$get_data_frame(use_current_filter=FALSE, data_name="survey", stack_data=TRUE, id.vars="Field", measure.vars=c("Size","Yield"))
ggplot(data=survey_temp, mapping=aes(colour=variable, y=value, x=Field)) + geom_point()

How

[2016-10-10 19:56] dannyparsons commented on #1874
Yes, that looks like an error in that control that should be fixed.
Another bug in this control is if you add aesthetics from the subdialog, they are not necessarily carried over in the stacked data because they were chosen from a different selector to the one on the main dialog. There should be a link between the selectors so that all the correct columns are carried in the stack.

[2016-10-11 07:15] rdstern commented on #1838
John,
You may want a pause on completing this dialogue to work on the factor data frame one, perhaps with Steven.  I am writing about that dialogue in relation to vlookup in Excel.  (There will later be a connection between the contrasts and the new factor data frame dialogue.)

[2016-10-11 07:42] rdstern opened #1876 "Adding Excel's vlookup partly through the Factor Data Frame dialogue"
For John and Steven, I wonder if you are clear on the vlookup in Excel.  At some stage it would be good for you to know about this.  James Musyoka is good at it, so you could ask him.
Here is the problem.  You have (say) a survey where one question is:

Did you like this food?
1 Yes
2 Not Sure
3 No
98 Refused to answer
99 Absent

This is quite a common situation in many surveys.  When the data are

[2016-10-11 09:01] Lunalo commented on #1792
@rdstern  The help for the groups is working fine @ #1877

[2016-10-11 09:15] Lunalo commented on #1876
@rdstern  Thanks for task.

We have started working on it and dont forget to look at the calculator please.

[2016-10-11 09:35] stevekogo commented on #1779
@rstern If this task is not taken by someone else, I  am happy to handle it.

[2016-10-11 09:52] rdstern opened #1878 "More types of column including Ordered Factors"
This item will need discussion on this thread.  Here are my ideas:
a) We need to add "Ordered Factors" as a type of column.  I suggest this could also be on the right-click menu.
b) It would also be an additional option on the "Convert Columns" Dialogue - just below "Factor".
c) This will make the dialogue a bit longer, which is fine.
d) We may also want another option "Logical".  This would enabl

[2016-10-11 15:04] lilyclements opened #1882 "Selecting Models in One Variable > Compare Models"
For 'Model > One Variable > Compare Models' (and this issue will potentially apply for 'Model > x Variables') there is an issue in the objects you can select.

In 'Model > One Variable > Fit' we fit a model.
These models are then in the selector for 'Model > One Variable > Compare'
We should only be able to compare models from the same variable in 'Model > One Variable > Compare' and so need a way

[2016-10-11 17:17] rdstern opened #1883 "Climatic dialogue - presentation of daily data"
I am not yet assuming the code has been written, but I think there is something in the climate object.  Here is my go at the dialogue.

To look at what is needed it is good that whoever works on the climatic dialogues also has tried the old Instat, so good to download this and use (say) samaru56 from the library.  Once there I can take you through the old dialogue so you see the starting point.

T

[2016-10-12 08:29] rdstern opened #1886 "New version of ggplot2 coming!"
This seems important, see https://blog.rstudio.org/2016/09/30/ggplot2-2-2-0-coming-soon/

When I look at the new features in this blog, I like them all!  It includes enhancements to the facets, which are already a great feature, to bar charts - which can now stack in "the right order" and to the themes.  It can be downloaded from github now.

I leave it to you what you decide to do, but it does lo

[2016-10-12 08:51] rdstern commented on #1779
Can do, but there is a lot starting to come in on climatic.  I think that might be better?

[2016-10-12 08:55] rdstern commented on #1752
Danny, I am not sure whether there has been progress on the control yet?  It would be good if we could  get this dialogue working soon, so we can test the new distributions with this dialogue as well as random samples and the one variable stuff.  We are starting to add more distributions into the software now.

[2016-10-12 09:00] dannyparsons commented on #1886
Yes all very interesting stuff! The one thing that I saw an immediate use for is `geom_col`:

Because we have had to put checks in place to ensure `stat` was included to prevent an error so we could just use `geom_col` as a shorthand for standard bar chart as an option.

[2016-10-12 09:29] dannyparsons commented on #1752
@Lunalo We may build functionality in to the Distribution class to make this easier later, but for now you can get all the information you need.

From looking at the `pdist` function quickly, the main things you need are the distribution name and the parameters entered by the user for that distribution. If you have a `ucrDistributionsWithParameters` control then you access both of these from the `

[2016-10-12 11:34] dannyparsons commented on #1838
I have now added a method in R for John to use to set the contrasts.

It forced me to have a quick look at contrasts in R. You may know all this already but here's what I found:

Have you seen this? http://rstudio-pubs-static.s3.amazonaws.com/65059_586f394d8eb84f84b1baaf56ffb6b47f.html
It seems quite comprehensive.
I noticed the **DIY Contrasts** section talks about the confusing way R uses a matr

[2016-10-12 16:03] lilyclements commented on #1813
Tomorrow I will continue to add in distributions to ucrDistributions.
I have been told that @dannyparsons and @volloholic are planning to have a discussion about the distributions at some point? I'm happy to get involved

[2016-10-13 09:37] rdstern opened #1893 "Checking on file import etc (File > Open) from different packages"
A number of issues came out of our demonstration to the SSD.  They are going to provide a list of tasks, so the Kenya team (well all of us really!) will usually be working on multiple tasks at the same time.

This is the first task.  We showed importing from SPSS, where we use the rio package.  This allows importing from a variety of packages.  For us the most important (of course) are csv and Exc

[2016-10-13 11:19] dannyparsons opened #1894 "Climatic: File > Open SSTs"
This issue is to discuss #1892 and importing SSTs generally.
@stevekogo Firstly, amazing that this is working. 1) that you R function nicely converts the input into the format needed and 2) that R-Instat imports a data frame with 3841 columns without crashing!

In terms of the dialog you have created, here's my comments:
1. The options you have for csv seem fine. That ones that I don't think are n

[2016-10-14 06:28] rdstern opened #1902 "Organise > Column: Reshape adding another append"
We currently have a general dialogue for merging data from 2 data frames.

And we can "Append Data Frames".  This append is for multiple data frames and is what could be called vertical, i.e. if we have 3 data frames with 6 columns and 36 rows in each, then the resulting data frame would have 6 columns (if all the names match) and there will be 36*3=108 rows of data.  I think this uses the cbind c

[2016-10-14 07:48] dannyparsons commented on #1902
The command is `cbind` for appending columns (we current use `rbind.fill` I think to do the Append Rows). The standard `cbind` from base will be good enough for us, there is no fast equivalent in `dplyr` etc. as there is for rows.

I think I favour a separate dialog too, as they are quite different operations.

I would call it "Append Columns" as we are using the term join already in the merge dia

[2016-10-14 07:59] Lunalo commented on #1902
I have been testing the commands cbind,cbind2,cbind.data.frame and same for the rows
cbind in general can bind many columns of matrix or dataframes of the same number of rows, cbind2 binds two columns of the same length. Now, cbind.data.frame does exactly what cbind does but convert the output to data frame in case it is not. Same applies to the rbind, rbind2, rbind.data.frame.

I will give more t

[2016-10-14 08:05] dannyparsons commented on #1902
which package is `cbind2` in?

[2016-10-14 08:53] Lunalo commented on #1902
it is **methods** package

[2016-10-14 09:16] dannyparsons commented on #1902
`cbind2` seems to be only for S4 objects, which we don't need. `cbind.data.frame` is the specific method `cbind` uses when any of the arguments are a data frame. Our arguments should always be data frames so `cbind` will do the same as `cbind.data.frame` for us.
There is also `bind_cols` from `dplyr`. We had issues using the equivalent, `bind_rows`, in the Instat Object so I would be nervous to us

[2016-10-14 10:27] rdstern opened #1903 "Climatic > Inventory plot"
This is the start of a series of points on the forthcoming climatic dialogues.  This point is more general (at this stage), because I am not sure we are ready yet for the dialogue.

In our climatic work we have been making use of an "Inventory plot".  This is a very nice feature.  We need it in the new R-Instat software.  It would be good as soon as possible.  However, if it is a lot of work, then

[2016-10-14 10:34] dannyparsons commented on #1903
I had a quick look into doing the second example in ggplot before, and it seemed fairly straightforward using point plots, I think. I'm not sure about the first one but it doesn't look like it would be difficult in ggplot either. It may take more time to get more flexible options working well, but my initial reaction is that this should be possible by end of November in ggplot, at least for two ex

[2016-10-14 11:17] lilyclements opened #1905 "Model > Probability Distributions > Show Model"
@Lunalo I've been informed that you are working on this dialog? Do correct me if I am wrong.

I've made a list of a few of the issues on this dialog:
- On the dialog display, we would like ucrDistributionsWithParameters instead of ucrDistributions
- On the dialog display would we want a different user control selector for the data frames? We do not seem to be using the variables within each datase

[2016-10-14 11:23] rdstern commented on #1903
Great.  Let's try that.

[2016-10-14 13:38] maxwellfundi opened #1907 "Issues with geoms"
I think we will have to edit our control to suit new needs. I have been looking at the abline specifically and I found out some few things
1. You find that the linetype is numeric and you might be drawing more than one line and so you would have to type in figures eg 1,3,4,5 which we can not do using a nud
2. when we have added no aesparameter for the geoms, the system crashes. Looking at abline a

[2016-10-14 17:05] rdstern opened #1908 "Wind roses"
I would now like to catch up with the current state of the windrose dialogue and plot.  This also linkis to the possible packages we could be using.  Maxwell, perhaps you have already?  I am also copying Steve Kogo on this topic, because I raise some general issues.

The general issue is that Met Services seem to be obsessed by wind roses.  So it would be good to "nail" that area by the end of Nov

[2016-10-14 21:02] isedwards commented on #1908
This is definitely not meant to distract you... but I'd be interested to know whether it would be possible to extract the coordinates of the polygons that make up each of the components of the wind rose.

Using the x, y polygon data from the plot, it would not be too difficult to transform the data into longitude and latitude values with the center point on the original sensor location.  This woul

[2016-10-16 05:40] rdstern opened #1909 "help"

[2016-10-16 05:41] #1909 closed

[2016-10-16 08:24] rdstern opened #1910 "Additions to calculator functions"
At our demonstration to SSD there was a request for the ifelse to be added to the set of logical functions.  before this is done I would like a discussion on other possible additional functions that could be useful.

Other possible additions are %in%, is.na, !is.na.

I would also suggest we change the keyboard called **statistics** to **summary** .

We are loading dplyr and that includes the funct

[2016-10-16 09:10] rdstern opened #1911 "Climatic calculator"
This is a suggestion for discussion initially.  I am not sure that Danny and David will agree.

I suggest a climatic keyboard for the calculator.  When in Organise (i.e. the ordinary calculator, this is not visible.  But when the calculator is opened in the climatic menu, then it opens with the additional climatic keyboard as the default.
The climatic calculator recognises a date column and also a

[2016-10-17 07:35] stevekogo commented on #1903
I am going to handle this issue. @jamusyoka should share a more stable version of the climate object since the version in github is quite unstable and the inventory plot does not even work.

[2016-10-17 08:36] volloholic commented on #1903
Danny and I will work on a totally new implementation of the climate object based on the Instat object. I suggest this waits until that has been moved on a bit maybe next week.

[2016-10-17 08:43] dannyparsons commented on #1903
Yes, the old climate object will not be useful to look at at the moment.
But learning how to do these inventory plots in ggplot could be done any time. Again, the old climate object did them without ggplot so looking at that code probably isn't useful. James may have some images of the output from the inventory plots in the climate object which might be useful to compare with what can be done in g

[2016-10-17 08:55] maxwellfundi commented on #1903
This is also on my list of things to do. I will have a look at how to create the inventory plot in ggplot. @stevekogo will maybe later on with climate object

[2016-10-17 15:15] rdstern opened #1914 "Organise - linking to OpenRefine and developing the Organise menu further"
This is not a high priority.  But it could be very useful, particularly if someone becomes interested in this area.

It could also be very easy to implement, because the **rrefine** package is designed simply to export data to open refine, and then to be able to transfer results back from OpenRefine to R data frames. This could be implemented either in the File menu or in the Organise > Check data

[2016-10-17 17:15] rdstern commented on #1914
I am keen that R-Instat is as good as R can be in handling messy data.  And we are getting close with the Organise menu.
One area to be completed is the facilities to handle text (character) columns.  This will be partly through making the **Organise > Column: Calculate >  Calculations** dialogue as powerful as possible, and then by completing the **Organise > Column: Text** dialogues.

I particul

[2016-10-18 07:27] rdstern opened #1918 "surveys, missing values and SPSS import into R-Instat"
During our discussions with SSD we were asked about:
a) Importing into SPSS including value labels
b) Coping with multiple "missing" values or special codes in surveys, e.g. 1, 2, 3, 77=Don't know, 88=Refused, 99=Absent.

There is a good discussion of the multiple missing value issue here:
http://stackoverflow.com/questions/16074384/specify-different-types-of-missing-values-nas

That also mentions

[2016-10-18 12:41] Lunalo opened #1919 "Adding Mosaic Package"
@dannyparsons  can you please add mosaic package?

[2016-10-18 15:28] lilyclements commented on #1914
I have only looked into rrefine so far, but it seems fairly straight forward. It consists of seven commands

**1. refine_check**
_which for some reason doesn't work on my R-Studio. I'm trying to download OpenRefine to try it out but this is so far not overly successful._
This checks whether rrefine can connect to OpenRefine. So, in turn, would check if R-Instat can connect to OpenRefine.

**2. ref

[2016-10-19 05:14] rdstern opened #1920 "Climatic dialogue - climdex"
This looks like another free gift from R!  It is to implement the climdex.pcic package as a dialogue (perhaps more than one?) in the climatic menu in R-Instat.

It needs testing first and then we should conceptualise the dialogue.  One potential issue to be discussed also with David and Danny is that it seems to work in 2 stages.  The first is to produce a climdexInput object.  This comes from the

[2016-10-19 14:07] lilyclements opened #1923 "File > Export to OpenRefine"
This dialog and 'Import from OpenRefine' are very similar.

The idea is that you can export your dataframe to OpenRefine where you can make advanced changes that R-Instat cannot offer. We do not need to worry about coding anything in OpenRefine, only this dialog to export to OpenRefine, (and then another dialog which I will write up to Import From OpenRefine)

This dialog will consist of
1. A Data

[2016-10-19 14:16] lilyclements opened #1924 "File > Import from OpenRefine"
This dialog is to import the dataset from OpenRefine.

This dialog will consist of
1. An input box to input the name of the Project
2. A combo box for 'Format', where the user can specify the format which their project is in in OpenRefine
3. Another Input combo box where the user can put what they wish to call their new data frame on R-Instat. (perhaps with Sheet1 as the default?)
4. The base butt

[2016-10-20 08:50] rdstern opened #1925 "Some bugs or issues when analysing Lesotho data"
We used the 3 files sort of as below.
1. They were supplied as csv files.  When imported I used the default to convert character to factor.  Everything was interpreted as character and so became factor.  That's annoying.
   1.1.  I needed to make the xlsx file to attach them here.  That imports fine, i.e. as numeric when it is!  Interesting.
   1.2. I then converted the xlsx file back to csv and i

[2016-10-20 11:20] rdstern opened #1926 "Climatic dialogues and features - what's needed"
The Lesotho work and also the Caribbean work provides a good incentive, with real customers, to ensure that the climatic features satisfy their needs.  This can grow, but here are some initial ideas.  I am also fairly sure we will be producing a "package", rather than largely making use of packages already produced by others.  Though we will still be using other commands where appropriate.
1. **Pa

[2016-10-20 14:57] dannyparsons commented on #1861
Decided we will leave this as it is for now i.e. require users to convert any integer joining columns to numeric. This may not be an issue in future if dplyr changes.

[2016-10-20 14:57] #1861 closed

[2016-10-21 09:52] rdstern commented on #1752
I have tried this dialogue in Version 012 and it works!  Great, really great!

There is one improvement I would like and one small edit.

1. Small edit:  When you first use it, could the graph checkbox be enabled.  Then you could just go into  the dialogue and press OK!
2. The improvement is when you uncheck "Single Value".  Then it gives you a receiver.  I would like to be able to type into that

[2016-10-21 11:24] stevekogo commented on #1920
@rdstern @dannyparsons I have made some progress on this issue. It entails creating a new object for creating climdexinput object then calling the object to generate the different indices. The codes in a mess since in involved editing quite a number of files. I am going to tidy it up and make a formal pull request on this issue.

[2016-10-21 12:22] FrancoisJRenaud commented on #1907
The usage of the three geoms: abline, vline and hline is rather different from other geoms, as they take mandatory parameters, and aesthetics are not really relevant. For example, abline requires slope and intercept, which are the key parameters as opposed to mentioning aesthetics. The specific dlgAblinePlot for instance should probably display slope and intercept parameters instead of aesthetics,

[2016-10-21 12:23] FrancoisJRenaud commented on #1907
Apparently it's not currently possible to have no aesthetics parameters for a geom...

[2016-10-21 12:50] FrancoisJRenaud opened #1931 "GeneralForGraphics: ApplyOnAllLayers and IgnoreGlobalAesthetics check boxes"
We have been testing several settings with @maxwellfundi, and we have a few concerns:

-When ApplyOnAllLayers is ticked for some layer "Layer1", the content of aesthetic receivers in subsequently added layers (e.g. "Layer2") is like in Layer1 (which is sensible). However, when in Layer2, one ticks Ignore Global Asthetics, the receivers keep their content, but the displayed aesthetics are not passe

[2016-10-21 13:38] volloholic commented on #1931
These don't sound like concerns they sound like bugs that need fixing. Let us know if you need help.

[2016-10-21 14:15] FrancoisJRenaud commented on #1931
Yup, we just post here to have record and potentially help indeed... I remember @dannyparsons explaining that double quotes issues... was treated somehow in ucrGeomListWithAes.SetAes (line 80)

[2016-10-23 07:55] volloholic opened #1934 "File > Open from Library, adding Help"
When the option (radio button) is set to its default, it is to open datasets from any of the R packages.  Now from R itself I can type ?diamonds, or help("diamonds") and it will provide more detailed information from the ggplot2 guide, on the data set.  That's great.

So could there be a second Help button in the File > Open from Library dialogue.  It can be just under the list of files, and on th

[2016-10-23 17:32] rdstern opened #1935 "Models > Probability Distributions - third and final dialogue"
This is a bit of a challenge for Lily and John, though it starts innocently enough.

The first step is to sort out the menu

Could Model > Probability Distributions > "Tables Plus" change to "Show Model".
And the second entry - now "Show Models" becomes "Compare Models".
The third entry stays as it was.

(Notice singular **Model** in first, while plural **Models** in the second menu item.)

The ch

[2016-10-23 18:29] lilyclements commented on #1935
@Lunalo - I believe we agreed around a week ago for any changes to the main form to go through you and Steve to avoid conflicts. So I would suggest it is easiest for you to change those names on the main form! Obviously otherwise I am more than happy to - as long as you and Steve give me the go-ahead for changing the main form.

I will have a look at ggdistribution/ggfortify vs mosaic approaches t

[2016-10-24 11:43] stevekogo commented on #1920
@rdstern @volloholic @dannyparsons Here is a file containing the arguments necessary for climdexInput object. We can have a discussion any time doon to discuss this.

[Creating ClimdexInput Object from data already in R.pdf](https://github.com/africanmathsinitiative/Instat/files/547643/Creating.ClimdexInput.Object.from.data.already.in.R.pdf)

[2016-10-24 12:54] Lunalo commented on #1935
@lilyclements , I will do it immediately Steve's changes are merged. Thanks

[2016-10-24 14:01] stevekogo commented on #1920
@volloholic  @rdstern @dannyparsons Here is a comprehensive document on climdex indices.
[Climdex Indices.pdf](https://github.com/africanmathsinitiative/Instat/files/548028/Climdex.Indices.pdf)

[2016-10-24 14:46] rdstern opened #1938 "Bugs in boxplots and also elsewhere!"
We hit 3 problems with the boxplots.

They are both when you use multiple variables.  We were constructing boxplots for both maxtemp and mintemp together.  We wanted the x to be the factor called years.

1. This isn't currently possible.  It makes the x-variable into the variables, and the years is the second factor.  It would be good to be able to switch them round.  Perhaps a checkbox is the sim

[2016-10-25 10:08] lilyclements commented on #1935
So, I think we have settled that while ggdistribution is lovely, plotDist is the best course of action - at least for now. Perhaps in the future we can offer radio buttons to switch between ggdistributions and plotDist, but for now we will just use plotDist.

The dialog can be as follows

1. We can have the ucrDistwithParameters
2. Below this we can have an option to graph any selection as 'Single

[2016-10-25 10:21] rdstern opened #1940 "Boxplots - bugs and suggestions"
This has come from our work with the Lesotho team.  First this message is on boxplots, which has thrown up some possibly general issues on the graphics at the same time:

First is that we hit 3 problems with the boxplots.

They are when you use multiple variables. We were constructing boxplots for both maxtemp and mintemp together. We wanted the x to be the factor called years.
1. This isn't curre

[2016-10-25 10:32] rdstern opened #1941 "Bugs and issues from Lesotho analyses on 24 October"
**Summary:**  I did a summary by a factor where I had filtered out one level. It still insisted on giving precip as a level of the factor, though it correctly ignored the data in it. So the filter is working correctly there, but I usually don't want it to display the levels I have omitted.
I checked this with summary leaving out 15 years in the data. It still includes those levels, but with zero c

[2016-10-25 10:32] #1938 closed

[2016-10-25 11:05] lilyclements commented on #1941
Just as an additional bug which I feel we should note here,

11. On sdgLayerOptions, if I put in a variable to my geomAesthetics, then press return to my dlg, then I wish to change said variable so reopen my sdg - it is no longer enabled so I have to reset the entire dialog to be able to change this again.

[2016-10-25 11:11] rdstern opened #1942 "Models - simple one variable and two variable"
In the Model > One Variable > Fit Model we do a lot of general things.  But we don't have the simple (exact) model fitting that is usually done at the start of statistics courses, i.e. one-sample normal, leading to a t-confidence interval and test.  Not binomial, or Poisson.

I suggest these be added.  Here I consider one sample and the next entry in this thread is for 2 samples.

In the dialogue

[2016-10-25 11:40] lilyclements commented on #1942
Sounds good. I'll get started on for One Var > Fit Model? I'll have a look on R at tests and such as well.

With "Special" you mentioned the three distributions to choose from are Normal, Binomial and Poisson. Do you mean to include the T Distribution in here?

[2016-10-25 11:40] rdstern commented on #1942
We also should be including the two-sample problems.  There are some interesting issues here.

For binomial mosaic has prop-test which generalises the same function in the stats package.  And t-test is also available for 2 samples.  Also poisson.test is available for 2 samples.  So that's all OK!

This will become an added set of special options in the Model > Two Variables > Fit Model dialogue, p

[2016-10-25 11:56] volloholic opened #1944 "Please let's stop misusing Radio buttons!!!"
This is an issue particularly for Roger but will need to be implemented correctly by others.

Radio buttons should never be used at the top of dialogues to for things like General / Specific. They have the right functionality but are simply the wrong tool for the job. @dannyparsons Please show Roger how this should be specified.

[2016-10-25 12:08] dannyparsons commented on #1944
I think radio buttons at the top to change the dialog layout can be thought of as almost changing between two tabs, but we don't want to have tabs on the main dialog.
But having command buttons next to each other as an alternative to radio buttons at the top could look much nicer, where the buttons change colour when clicked.
Radio buttons going down to specify an option works well, but going acro

[2016-10-25 12:42] maxwellfundi commented on #1940
@rdstern  great, we will look at this . Could you please send us the data you used. It might be quite helpful to test what you were doing

[2016-10-25 12:44] maxwellfundi commented on #1934
Currently having a look at this.

Thanks

[2016-10-25 13:21] FrancoisJRenaud opened #1947 "GeneralForGraphics -?-> PlotOptions"
Dear all,

For the moment, GeneralForGraphics doesn't have plot options (hence no facets, no title, no themes, no scales, ...). We discussed with @dannyparsons  and @volloholic  whether we could add on dlgGenForGra a plot options button pointing to sdgPlotOptions, knowing that there is a ucrAdditionalLayers (layers tab) on both sdgPlotOptions and dlgGeneralForGraphics. Should that tab be hidden ?

[2016-10-25 13:35] maxwellfundi commented on #1947
I would agree that we need the plot options button on the dlggeneralforGraphics to add more functionality and features not only to the plot but to the dialog too as one would want to include things like facets to layers they create.
It would be okay to have the Aditional Layers  on both the main dialog and the sdgplotoptions (I am not sure how easy it would to link the two) but i think it would be

[2016-10-25 13:46] FrancoisJRenaud opened #1948 "SpecificGraph --> PlotOptions : first layer is the SpecificGraph layer? (Layers Tab >< Additional Layers Tab)"
When we go to PlotOptions (coming from a specific graph), the Layer from the specific graph is not displayed in the Layer tab. This looks like the tab should be called "Additional Layers". After a discussion with @dannyparsons and @volloholic, we think that the first layer should be displayed as the layer coming from the main dlg. We agreed on keeping this first layer non-editable from the sdg. If

[2016-10-25 14:08] volloholic commented on #1948
Go ahead, remember that there may be more than one layer coming from the main dialog. In short we no longer want the concept of additional layers we would like all layers to be displayed on the layers tab of the sub-dialog.

[2016-10-25 18:21] stevenndungu commented on #1923
refine_upload uploads csv files only, so the file to be uploaded by this
function needs to be converted first to csv  then uploaded (using the
refine_upload function)...I have been implementing that, (but unfortunately
am told they are overwriting one another since I was using ucrBase for both
functions). Consulting with John, Francois and Maxwell to see how to
overcome this.

On Wed, Oct 19, 2016

[2016-10-25 22:13] rdstern commented on #1944
If by mentioning radio buttons I can stop David commenting on other aspects of my suggested dialogues this is good to remember for the future.

[2016-10-26 06:43] maxwellfundi commented on #1934
@dannyparsons  i have two ways of doing this and i would like to get your views on this.
1. We can open the browser on click event of the help button then pass in url for the file we want to open, but the problem is getting the actual url for the html help file of the specific dataset. I have  tried this but seems to work with the index file of the entire library. The specific help files are not o

[2016-10-26 08:01] dannyparsons commented on #1934
I'm not quite sure what the issue is. If you run `help("diamonds")` in R-Instat it will open the help page in your browser. In case the user has changed their default settings then `help(diamonds, help_type = "html")` ensures that it does do to browser and not text file or something. I don't see there being any other option to consider?

[2016-10-26 09:49] dannyparsons commented on #1934
Related this, we could use the commands such as `vignette("introduction", "dplyr")` to display package vignettes in a similar way. I wouldn't suggest it for this dialog but if we eventually had a section on our R packages somewhere, it's worth linking to or possibly for a help section on "moving to R" for example.

[2016-10-26 13:07] maxwellfundi commented on #1934
@dannyparsons  now this has been completed. it can be closed

[2016-10-26 13:07] #1934 closed

[2016-10-26 15:22] lilyclements commented on #1942
We have an interesting predicament. So, while we have the wrapper on R when applying 'mosaic' (which makes binom.test much nicer and easier!), on our R-Instat it is not using that version and is only using the binom.test in the stats package.
This means it is bringing up an error code and won't allow the columns if they are
* Greater than length 2
* Not integers
* Negative
(And maybe other require

[2016-10-26 15:28] volloholic commented on #1942
This shouldn't be a problem as we can choose what we want it to do. Should we Skype?

[2016-10-26 15:30] lilyclements commented on #1942
Ah great. Yes sure, do you have my skype? It's Lclements1004@outlook.com

[2016-10-27 07:36] rdstern commented on #1940
The data we used are being sent separately.  github doesn't support rds files, and I hit a bug trying to export to Excel.

While on this topic I should mention how well boxplots are working.  They have really helped the analyses from Lesotho.  Of course I have some more suggestions!

We are using year as a factor.  This is the x-axis and that will be a common aspect.  The levels are 1971, 1972, ..

[2016-10-27 11:19] stevenndungu commented on #1751
Getting back to the Enter dialogue
This dialogue is almost complete with two more pending issues. Which I didn't address previously while working on this dlg;
1) "When this is run, then it should be as for calculate. But if the length is too short then it continues with NA. If the length is too long, then it truncates. It doesn't give an error in either case." as suggested by Roger. I still have n

[2016-10-27 11:37] lilyclements commented on #1942
I've implemented the codes for One Sample Hypothesis Tests so I'll get started on Two Sample shortly. I just wanted to add something extra in and so thought I should check. On the Poisson Test, by default it uses the first one to count, that is, the lowest number or the first factor name, etc.
So, I want to be able to add in the option to change this. This means that the code would become

poisson

[2016-10-27 11:50] rdstern opened #1963 "Improvments in the Organise > Summarise dialogue"
There are two changes I would very much like.  And ideally in time for use in Barbados next week.
1. Currently the summaries give missing values whenever any value is missing.  It would be good to be able (as an alternative) to calculate the summaries based on the values that are not missing.  I think this is na.rm=TRUE.  So could there be a checkbox on the main dialogue, with labels something lik

[2016-10-27 13:07] lilyclements commented on #1942
@rdstern , you mentioned for two-sample hypothesis tests you would like a single column and a factor column. Alternatively perhaps two single columns to compare numerical variables. I just want to check I've caught up because I am a little confused. So, we could have three scenarios for a t.test:

Numerical Column split by Factor (t.test or prop.test)
Numerical Column vs Numerical Column from same

[2016-10-27 13:28] stevekogo commented on #1963
@rdstern I am going to handle this issue as soon as possible.

[2016-10-28 07:26] rdstern commented on #1942
I think you will get further with these issues on discussion with David.  Let me answer a few of your points:
1.  We don't yet load Mosaic - which we will in the next version of R-Instat.  So then it should default to the Mosaic version.  For now you could try **t_test**, rather than **t.test**.
2. The Mosaic version added the feature - which we want - of starting with the data column.  I think th

[2016-10-28 07:45] rdstern opened #1969 "Preparing and using very simple summaries"
The t-test command (and binom.test, and poisson.test) in R stats package all assume the necessary statistics have already been calculated.  This fits well with our view of the wrong way statistics is often taught, i.e. to assume the summaries, rather than showing students the data as collected.  We have a case study on this issue.

However we should allow for this situation and it could still fit

[2016-10-28 08:18] rdstern opened #1970 "Writing our own wrappers?"
I have come to this question sort of "backwards-way-on".  Here are 3 introductory points:

a) Mosaic is an R teaching project in the US.  We are making use of it for a number of dialogues.
b) It has written wrappers round very simple R commands and we are using them.  A particular example is t.test (also t_test in Mosaic to distinguish it from t.test in the stats package)
c) They are still not gre

[2016-10-28 11:27] FrancoisJRenaud commented on #1970
Dear all,

maybe we could start by discussing this around a Skype call ? I m not sure I have all the necessary information/understanding of the needs, in order to produce a sensible opinion about it.

From what I see here, coding packages in R would be warmly welcomed as an interesting, skill developing, task (to be confirmed by others of course @stevenndungu @maxwellfundi  @Lunalo ) ? On a traini

[2016-10-29 19:31] dannyparsons commented on #1970
Writing to Mosaic about the improvements we suggest in their functions is a good idea, then if they do it, it's less work for us.

Most of our R code is tied in to the Instat object (and then soon the climate object) and so that would form at least 1 package. Where we write simple wrappers to R functions like Mosaic has done, we could consider putting those into their own little package.

I was th

[2016-10-29 19:39] FrancoisJRenaud opened #1973 "Bug: AdditionalLayers - EditLayer -> fixed geom :("
When edit a Layer in the AdditionalLayers setting, the geom is fixed. We don't want that right ?

[2016-10-29 19:44] FrancoisJRenaud opened #1974 "Bug: Open file from library - Load file from Instat collection ticked -> Ok enabled ..."
When I open a file from the library, and I choose to tick the Load from instat collection option, I can click ok immediately, although this sends an error and doesn't work (was previously crashing but apparently it's not the case anymore).

[2016-10-29 20:27] dannyparsons opened #1975 "Organise > Calculate and Enter Dialogues"
When we run an incomplete line i.e. `c(1,2` this doesn't crash the RLink which means we don't detect this as an error in things like the preview for the Calculator and Enter dialog.

[2016-10-29 20:39] dannyparsons commented on #1973
Probably not, the geom should be changeable. If this is changed, it has implications on the layer name which needs to be updated.

[2016-10-30 06:15] rdstern opened #1976 "Multinomial distribution in R-Instat"
This first message is to explain what the multinomial distribution is, and why it could be important for R-Instat. The first "reply" gets down to more detail, even though I claim it is relatively low priority now.  This issue is more for reference at this stage (and to prevent us spending time on piecemeal parts of the solution.
It arises in R-Instat because data often includes factor columns and

[2016-10-30 06:35] rdstern commented on #1976
Let me start from the modelling, because David and Steve have already looked at this area.
There is a good example here http://www.ats.ucla.edu/stat/r/dae/ologit.htm
This is to model ordered factors.  That's what we would use more commonly.
For un-ordered factors see for example: http://www.ats.ucla.edu/stat/r/dae/mlogit.htm .  That's where it describes "Multinomial Logistic Regression.

The commo

[2016-10-30 07:06] rdstern commented on #1926
The Lesotho team has now left.  The work since the suggestions above has confirmed the importance of those topics.  In week 2 we looked at their data, using R-Instat.  This was (for me anyway) the first time we have tried to use R-Instat for data analysis, rather than to test the software.  It worked, and the Lesotho team plan to continue to use R-instat when they return.

So the list above really

[2016-10-30 18:18] rdstern commented on #1935
Danny has now changed the menu items as suggested at the start of this issue.

[2016-10-31 07:30] maxwellfundi commented on #1974
I will at this.

[2016-10-31 07:36] rdstern commented on #1920
Steve, it is great that this is now done.  Of course it can't be used until we link to their climate object.  I hope that will come soon.  In the meantime:
a) Could you disable OK completely, and possibly put a temporary note on the main dialogue - "Still to be enabled"
b) I really like it that you have included tool-tips on the sub-dialogue.
c) Could the indices be numbered - as in the list from

[2016-10-31 08:05] FrancoisJRenaud commented on #1948
@rdstern @volloholic @dannyparsons,
I am implementing issue #1948, together with debuging #1973, within the pull request #1964 and hopefully fixing some others bugs (to be determined). I just wanted to know if you were ok with the following:

- Instead of fixing the layers coming from the specificplotdialog, I am implementing the case where we can edit them from the plot options side as well, but

[2016-10-31 08:16] rdstern opened #1982 "Describe > One Variable dialogues"
There are 2 dialogues, namely Summarise and Graph.

1) In Summarise I now like Steve's new sub-dialogue much more.
2) But it doesn't seem to work!  When I add max and min to the summaries it resolutely just gives me the default ones.

3) There is a similar set of issues in graph.  When I use the options and change to a histogram, it resolutely insists I still want a boxplot.  When looking at the c

[2016-10-31 08:53] Lunalo commented on #1935
@dannyparsons

I am not sure if you are done with editing the user control for distribution. I have  noticed, unlike in mosaic which produces some nice colours automatically, ggdistribution produces plots with no fill and we can add that as one of the parameters in the ucrdistribution

[2016-10-31 09:00] maxwellfundi commented on #1982
@rdstern i think you might be having an old version of R-Instat. I solved your third issue sometime ago.
I could quickly add the Violin plot to add to the list.

We @dannyparsons and @FrancoisJRenaud  will discuss about the facets and combine and other options you suggested for the graphs .

@stevekogo  I think will fix the summarise.

[2016-10-31 09:03] rdstern commented on #1982
This time I don't think I was using an old version, so that is interesting.  I was using the "new" version straight from Danny, and in Visual Studio.  So your recent improvments mustn't yet have been included.  That's an interesting issue in itself.

[2016-10-31 09:05] maxwellfundi commented on #1982
I have the latest copy and  the sub dialog works well.I wonder why it os not working for you. I suggest you could talk to Danny and find out which version you are using

[2016-10-31 09:07] maxwellfundi commented on #1982
The last version i find in our archive is the one i made two weeks ago. it might be what you are using. I can make a new installer today from the latest copy.

[2016-10-31 09:25] Lunalo commented on #1935
@lilyclements

I agree that plotdist looks better. I was just wondering if we want some consistency in creation of these plots. I think ggdistribution is better approach since we have implemented  graphics using ggplot2.

Thanks

[2016-10-31 09:40] dannyparsons commented on #1982
I think we're almost ready for a new installer, but not quite yet.

@maxwellfundi This is One Variable Graph, not Two Variable Graph. On One Variable, the choice of geom on the sub dialog doesn't generally effect the output.

[2016-10-31 10:02] lilyclements commented on #1935
@Lunalo
I do agree that the consistency would be ideal, and I think it would be good if we could offer both ggdist and plotDist in the future, however, as a teaching tool I feel plotDist helps to differentiate between discrete and continuous distributions a lot nicer

[2016-10-31 10:03] rdstern opened #1984 "Describe > Multivariate Dialogues"
I like the improvements in the sub-dialogues for Correlations etc.  However my favourite plot is still a mess.

This is the ggpairs plot, which (I think you said) works fine in R itself, but not in R-Instat.  I can make it go wrong in a similar way in R itself.  What is happening is that R-Instat is treating the columns as factor columns, and not numeric.  they were numeric, so this must be in the

[2016-10-31 10:09] rdstern commented on #1935
@Lunalo and @lilyclements

I like this discussion.  I too would like both approaches in the future.  But we have so much to do now that I am happy if the simpler approach is working now.  And I am happy that we continue to use the Mosaic commands, which will help when we write to them.

What is the current state of this dialogue?  Can it be enabled yet?  I would like to see it "in action"

[2016-10-31 10:12] dannyparsons commented on #1948
On the first point, we're happy with the idea of allowing editing of "core" layers (layers from the main diaog) and fixing the geom so it can't be changed.
Our concern is that implementing this may be time consuming and doesn't add huge value at this time. If you can edit the core layers in this way, then when you go back to the main dialog or the "boxplot options" subdialog, everything needs to b

[2016-10-31 11:36] volloholic commented on #1984
Danny and I figured this out. It is actually problem with how GGgally check for column types Danny's going to write a work around and we'll suggest a fix for their code.

[2016-10-31 11:57] rdstern commented on #1878
Out of the list above, please could we make the main change to the **Organise > Data Frame > Convert Columns** dialogue.  This is to add the option "Ordered Factor" just below "Factor".  There should also be a small change to the same dialogue when opened from the Organise > Column: Factor > Convert to Factor menu.  Then there is currently just the option for Factor and the new one should also bec

[2016-10-31 13:22] Lunalo opened #1985 "Changing the dataframe"
@africanmathsinitiative/instat
I have been going through one variable summary and other dialogs on the describe menu .

I am not sure if we would like to be showing the current data frame on the grid whenever we change the data frame in the dialog.

One of the advantages with this is that the user is allowed to view the variable types of the current data frame.

Any idea pleas?

[2016-10-31 15:30] #1974 closed

[2016-10-31 16:05] rdstern commented on #1918
[M2 data.zip](https://github.com/africanmathsinitiative/Instat/files/562203/M2.data.zip)

Here is an example of a data file to import from SPSS.

When I tried it seems to import sort of OK.  But nothing comes as factors, it is character or numeric.  I suppose that is OK.  But the 4th column (E_DATE) is a date and comes as a character.  I tried making it into a date.  The first time I omitted the f

[2016-10-31 16:48] rdstern commented on #1918
[All household data excl subtables.zip](https://github.com/africanmathsinitiative/Instat/files/562305/All.household.data.excl.subtables.zip)

Here is a better example.  This goes easily into R-Instat and the dates are seen as dates, though they are described oddly as "POSIXct.POSIXt"

When I import into SPSS it looks exactly the same.  But I can also (in SPSS) go to View > Value Labels and then -9

[2016-10-31 17:14] rdstern commented on #1796
Can we now add the other two date dialogues.  The first is to calculate functions of a date column as described above.

One spelling is that 10-day periods are called dekades (with a "k").  It would also be useful to be able to generate "Seasons", where a "Season" is like a year, but with a starting month that is (by default August, but can be any month.  The value of the "Season is (by default) t

[2016-10-31 19:12] dannyparsons commented on #1796
I assume that a season does not have to start at the beginning of a month either? So 15 August could be the start date for the season?

[2016-11-01 06:27] FrancoisJRenaud commented on #1973
After discussion with David, decided to keep the geom associated to a Layer fixed but start reflecting about the possibility to change the order of the Layers ... In that respect the list of parameters in the ROperator need to be an ordered list of parameter. This is not really a bug anymore...

[2016-11-01 08:28] rdstern commented on #1985
If it is quick, then I quite like your idea that the grid changes to show the data frame in a dialogue.  I don't know if there is any downside to that.  The only one I could see is that we can change the number of rows we display in the grids.  If we had long data sets and set the number displayed to (say) 50,000, then this could take a long time.  In that case we could also have the change in dat

[2016-11-01 11:56] Lunalo opened #1989 "Improvement on Enter Dialog"
@stevekogo @rdstern @dannyparsons @FrancoisJRenaud @stevenndungu
We are about to edit the dialog so that the output whch comes as vector is equal to the length of the current dataframe.

The main concern is: If the output vector is lesser, should we autofill the remaining cells with NAs?
or should we replicate the above output?

What if the output is longer than the the number of rows? and when do

[2016-11-01 12:20] dannyparsons commented on #1989
I think we agreed that this should be handled by the R method and not checked directly in the dialog.

Currently we do what R does by default. If the result is longer than the data frame length, it gives an error. If the result is shorter but a divisor of the length then it repeats the result to fill the data frame, if the result is shorter and not a divisor of the length then it gives an error.
S

[2016-11-01 13:23] FrancoisJRenaud commented on #1989
Writing an R method sounds like the best option indeed. Is that the sort of things that would be included in the R packages we would be writing in the future, mentioned in #1970 ?

Just a little thing from what we discussed here: If we focus on months, the most common use of months would arguably require cyclic repetition, no matter if the number of rows is a multiple of 12. I don't know if that c

[2016-11-01 13:25] stevenndungu commented on #1989
Having  R Method, could help solve this. Yesterday and today i was trying
in consultation with Francois and John to try solve this.
This was my suggestion ...I don't know what you think about if it can be
used.
[image: Inline image 1]
where the right hand side of the equation should be replaced with number of
rows of the current dataframe.ie.
*length*(*vect*) = *nrow*(*dataframe*)
final ouput to b

[2016-11-01 13:34] FrancoisJRenaud opened #1990 "sdgLayerOptions - Layer Parameter's Tab - showing the available values when parameter ticked"
When we tick a parameter in the Layer Parameter Tab within the sdgLayerOptions, the available values are displayed. However, when coming back to the tab, none of the values are displayed, which is not very nice... Probably quite easy to fix. Will solve this when I get rid of the current pull requests.

[2016-11-01 14:28] dannyparsons commented on #1989
Great you have been discussing this.
@stevenndungu I can't see the image but yes the checks would simply involve using length on the output. These checks should be in the R method and maybe in the dialog too. If you look at the regular sequence dialog, there are some checks being done there to produce a message about the output, very similar to what we are suggesting.

@FrancoisJRenaud Yes this wo

[2016-11-01 14:39] FrancoisJRenaud opened #1992 "ucrGeom - position layer parameter"
I ve made a few comments inline (see pull request #1991 and #1993) about the position layer parameter in ucrGeom that might be nice to discuss.

'Warning: Concerning the global parameter position:
        '           We haven't implemented position_jitterdodge yet. It is seems to be mainly usefull in presence of a dodged layer, on top of which we want to display the points of the events (see expla

[2016-11-01 16:21] FrancoisJRenaud commented on #1989
Ok, found it, I see. Also we can have a look at the regular sequence again tomorrow with @stevenndungu. About the R method editing, is this something you expect us to try implement ourselves ? @stevekogo from what I understood from the Skype call you are comfortable with this R side of Instat ? Should we discuss that with @stevekogo's help ? @maxwellfundi tells me that he doesn't feel comfortable

[2016-11-01 16:26] rdstern commented on #1989
I went back to the original information about the Enter dialogue - see a "new Enter...".  I am not quite sure why a new thread was started.  There I suggested as follows:

"When this is run, then it should be as for calculate. But if the length is too short then it continues with NA. If the length is too long, then it truncates. It doesn't give an error in either case.

One possible enhancement (f

[2016-11-01 16:34] FrancoisJRenaud commented on #1989
Yes we have been working on this with @stevenndungu and then I don't know what happened with it. We will rediscuss this tomorrow.

Ok, I didn't realised this had been fixed already... sorry for the little internal communication problem.

[2016-11-01 16:38] rdstern commented on #1989
I am not sure it has been "fixed".  This was my original suggestion when proposing the dialogue.  Part of the confusion could be because this is in a new "Issue", while the original suggestion for the dialogue is elsewhere.

[2016-11-01 16:38] dannyparsons commented on #1989
I will close this and we continue on the existing issue for the Enter dialog.

[2016-11-01 16:39] #1989 closed

[2016-11-01 16:46] dannyparsons commented on #1751
@FrancoisJRenaud asked who should edit the R code to handle the different lengths. Since this is a core method in R I suggest me or @stevekogo does this, it should be fairly quick so probably easier for me to just do instead of discussing first with @stevekogo.
But I'm happy that others may want to start getting into the R code. A first step could be to understand the changes that will be made to

[2016-11-01 16:53] dannyparsons commented on #1838
@Lunalo What is the state of this dialog now? It is disabled on the menu still.

[2016-11-01 16:57] dannyparsons commented on #1876
@Lunalo This is sort of working but not quite as Roger specified. Check a) - e) on Roger's message.

There is also some work to do on the R method for this, which you said you wanted to get involved in. I made several comments to help you with this here #1887. Do you still want to work on the R method, otherwise I will do it?

[2016-11-01 17:02] dannyparsons commented on #1217
Appears to be resolved.

[2016-11-01 17:02] #1217 closed

[2016-11-01 17:04] dannyparsons commented on #1695
Some dialogs still have this bug e.g. Calculator. Can someone go through and check? Particularly new dialogs. This could also be combined with checking that the software doesn't crash when you open a dialog before loading any data.

[2016-11-01 17:12] rdstern commented on #1695
I have also written about this in the issue on bugs discovered from the Lesotho visit.  It was bug number 7.  I omitted to include John and Maxwell on the circulation.  I'll do that now, though some of the issues have been fixed.  I then went through the whole Organise menu and also listed the other dialogues where there were differences.  Most are centred, but about 15 are not, and hence can star

[2016-11-01 17:39] FrancoisJRenaud commented on #1931
About to finish this bug trio. Just the bug number 3 is also there fro dlgBoxPlot. Just mentioning here so that I don't forget to solve this.

[2016-11-01 18:26] Lunalo commented on #1838
The dialog is currently working. I will enable it on the frmMain.

It will however need further improvements in the future.

Thanks

[2016-11-01 19:09] Lunalo commented on #1876
@dannyparsons

I think will start working on this tomorrow

[2016-11-02 06:18] Lunalo commented on #1941
@rdstern

It is very true that some of the dialogs are losing our desired properties.

In fact, some are losing label text of the controls and also messing up with the organization of the entire dialog.

I am keen at going through the whole manage menu and other menus to correct this problem

Thanks

[2016-11-02 08:57] maxwellfundi opened #2000 "Help in Subdialogs"
I have noticed that we do not include help in the subdialogs. As in dialogs, it would be nice to have the subdialog having its help.
I would like the help button to lead to some help or to get disabled till we know where the subdialog help leads to.
@rdstern  I wonder if you have any ideas about this.

[2016-11-02 09:08] rdstern commented on #2000
I quite like that idea.  In some instances (like the calculator) it is already explicit in the Help file/system.  I think it could work quite simply as corresponding sub-dialogues within the help system itself.

[2016-11-02 09:26] rdstern commented on #1926
We are now starting work properly on the climate object (again) and also the climate menu.  We expect this to start through David with Lily and Steve.  Then including some of the Maseno team as soon as is appropriate.

Here is my understanding of where we are now:

1) We have moved on quite a long way since the original climate object in 2014.  It is not clear how much will remain of that previous

[2016-11-02 09:44] FrancoisJRenaud commented on #1940
Hi, a few comments and questions before implementing/exploring some changes.

About the 3 problems :

1. Do we agree on the check box for flipping the mapping of the "variables" factor and additional factor from x - fill resp. to fill - x. How should I name that chk box ?
Alternatively, I could add a button "flip factors" that automatically exchanges the content of the two different receivers ? I

[2016-11-02 10:51] dannyparsons commented on #2000
@maxwellfundi You could add a Help button to subdialog buttons and then similar methods to be able to set the ID for the Help button if we did have special help pages for the sub dialog.
I think we could also find a way of having the subdialog help button automatically go to the help page of the main dialog if no ID has been set in the sub dialog, so we wouldn't have to repeat a lot of code in sub

[2016-11-02 11:01] rdstern opened #2001 "Describe > General > Column Summaries"
Could this be enabled.  It should just be  the same as the Column Summaries dialogue from **Organise > Column: Reshape > Column Summaries**

Thanks

Roger

[2016-11-02 11:23] dannyparsons commented on #1940
I think changing the mapping of `variable` will take some more thought. How will this work on other dialogs? The factors on the main dialog for boxplot corresponds to x and fill - but there's also things like colour. So maybe `variable` should also be able to map to colour and other aes as well?

When you get errors like that - the error message is not usually sensible for graphs. Take the R code

[2016-11-02 11:33] FrancoisJRenaud commented on #1940
Perfect ! Thanks for your help @dannyparsons. So for now, I ll just add the varwidth button (yup for the link) and try to solve that bug when we come back from the layer options.

[2016-11-02 13:14] FrancoisJRenaud commented on #1992
@volloholic, @rdstern, @maxwellfundi and @dannyparsons what do you think about these ?

[2016-11-02 13:55] stevekogo commented on #2001
@dannyparsons and @Lunalo I am going to handle this right away.

[2016-11-02 14:20] #2001 closed

[2016-11-02 19:50] FrancoisJRenaud commented on #1874
@dannyparsons  I have been trying to solve this by running the ucrVariablesAsFactors.SetReceiverStatus() after coming back from the BoxPlotOptions, in the hope to recover the missing parameters: stack_data=TRUE, id.vars="Field", measure.vars=c("Size","Yield") in the clsCurrDataFrame. However, these still don't appear in the toscript even if the ucrVariablesAsFactors.SetReceiverStatus() sets them p

[2016-11-02 21:19] dannyparsons opened #2008 "Links when deleting data frame"
When deleting a data frame, we must also delete/disable any links attached to that data frame. This is causing a bug in column summaries when you do a summary, then delete the summary data frame, and then do summaries again. It looks for the summary data frame from the link, even though it has been deleted.

[2016-11-02 21:58] dannyparsons commented on #2008
fixed by #2010

[2016-11-02 21:58] #2008 closed

[2016-11-03 07:18] maxwellfundi commented on #2000
There already exists a help button that currently do nothing. I wonder if we need a cancel button too.

I am looking at how to do this. we can have a discussion later on the same.

[2016-11-03 08:15] dannyparsons commented on #1874
Ok maybe this is something I should just look into as well on my side and then we discuss to share what we find.

[2016-11-03 08:55] dannyparsons commented on #2000
The Cancel would be nice but we decided not to implement at the time as it was not clear how it could work with our initial implementation.

[2016-11-03 08:57] maxwellfundi commented on #2000
Do we now know what the cancel should do?

[2016-11-03 09:49] FrancoisJRenaud commented on #1990
fixed by #2002

[2016-11-03 11:28] dannyparsons commented on #2000
This relates to a general discussion we need on sub dialog implementation which we will have soon with everyone.

[2016-11-03 11:48] rdstern commented on #1878
Thank you for adding the Convert to ordered factor to the dialogue.  In your bug checking I wonder if (and how) you have checked if it is working?  Who is doing that checking?

I tried it and was not sure it works.  So I tried again and have found 2 problems (so far).

1. I looked at the R command that you generate.  Here it is for a column from our "standard survey data set:
_# dlgConvertColumns

[2016-11-03 12:09] volloholic opened #2014 "Sub-dialog consistency needed"
@africanmathsinitiative/instat it has been brought to my attention that sub-dialogues have been being implemented in different was across the code. To ensure that we have software that works consistently and solidly with natural understandable behaviour we need to make sure that we have the same consistency with sub-dialog implementation as I believe we have on our dialog implementation.

The hear

[2016-11-03 12:38] rdstern opened #2016 "Organise > Column: Factor > Factor Data Frame Dialogue - with a look to climatic"
I couldn't find an existing issue on this dialogue.  Please move this over, if I have missed it.

Thank you for adding this dialogue.  The idea will become important.  It is great to have this initial version working.  There are one or two improvements to make and some important issues that this dialogue raises.
1. I was confused by the label "Factor Names".  Please change that to "Data Frame Name

[2016-11-03 12:49] maxwellfundi commented on #2000
Okay, it will be good to have it actually. It will help in consistency.

[2016-11-03 12:58] maxwellfundi commented on #2014
I completely agree with your concerns as it has been something i had asked about recently. It will be good to have a Skype meeting at some point convenient to everyone.
I could suggest maybe tomorrow. I wonder if everyone is okay with it.

[2016-11-03 13:19] FrancoisJRenaud commented on #2014
Yup, tomorrow morning? Or today since everyone seems connected?

On 3 Nov 2016 15:58, "maxwellfundi" <notifications@github.com> wrote:

[2016-11-03 13:41] maxwellfundi commented on #2014
I would suggest tomorrow 14:00 hrs Kenyan time.

[2016-11-03 15:49] rdstern commented on #1905
This dialogue is looking good overall.

1. The idea was to be able to type one or more values, or to be able to use values from a column.  We can already type when the option is currently "Single Value".  So please could you change the label into "Enter Value(s)".
2. Currently you can already type more than one value - which is good.  But it only accepts the first.  It would accept more if you giv

[2016-11-03 15:57] rdstern commented on #1944
I am also assigning John to this, in case he wants to change the radio buttons at the top of the Models > Probability Distributions > Show Models dialogue.  John you may want to discuss this point with the others in Maseno as well.   I don't feel as strongly as David, so you may have more important things to do.  But perhaps we can make the sort of improvement he suggests.

By the way, David is no

[2016-11-03 17:50] rdstern commented on #1982
I have now labelled this as an enhancement as well as bug-hunting.

I found that these 2 dialogues are working much better now on the usual survey data.  I had some suggestions for enhancements, and thought I should try them also on a larger dataset.

So I opened the diamonds dataset from the library - ggplot2.  It has just over 50,000 rows.

a) I was pleased how quickly it opened.
b) It has some

[2016-11-03 19:19] FrancoisJRenaud commented on #2014
Dear all,

Just a few thoughts about this. Concerning the reset and cancel buttons on sdg, I don't think a reset would be particularly happy. However, a cancel button would be nice in case the user has filled in loads of crap got confused and doesn't want it to be taken into account (I ve already been in situations where I was looking for a cancel button on sdg's, even if it was probably because I

[2016-11-03 19:28] rdstern commented on #1982
I have now tried to look further at the diamonds dataset.

a) We do have to work with ordered factors better.  Changing an ordered factor into an ordinary factor does not work - nothing happens.  I can make it an ordinary factor by making it character, and then factor.  then the describe > One variable > graph dialogue works.  And reasonably quickly too.  I suppose it should with "just" 50000 obse

[2016-11-03 20:34] dannyparsons commented on #1944
I would hold off before making this change from radio buttons to command buttons at the moment. We should first decide if this will be a user control and how exactly it should work so that's it consistent across dialogs.

[2016-11-04 07:41] rdstern opened #2018 "Finding bugs by solving problems"
This message is to suggest that the team may be ready to solve some problems using the software.  The aim is still to find bugs and aspects that are not as convenient as you would like.  This is what testers will be doing - rather than concentrating on a single dialogue.  It is also an excellent way to learn some statistics.
This is not for anyone to spend all their time on - we still need your ma

[2016-11-04 16:58] lilyclements opened #2021 "dlgRowNameOrNumbers"
This is under Organise - Data Frame - Row Numbers/Names where there are two small issues:

1. If you insert a new column name, it sometimes runs it with the name you did not give it
e.g. If you open up the Dialog, then change the column name to say, "new_column", the new column keeps the old default name first time.
Try again and it does your new column name.

2. If you click on the second radio b

[2016-11-04 17:09] lilyclements opened #2022 "dlgRestrict"
I have found a couple of bugs under Filter.
Organise - Data Frame - Filter.

1. If I apply a filter and select "Apply as Subset" and name it the same name as my current dataset it does not work (as expected) but then we get an issue if I try to re-open the dialog where it crashes
2. Sometimes when you click to "Apply as Subset" the filter does not apply to the dataset and nothing occurs upon click

[2016-11-04 18:46] dannyparsons commented on #2022
Can you disable to subset options for now? If we have time good to fix but don't think it has to be working for beta.

[2016-11-04 19:09] lilyclements commented on #2022
It's been disabled, shall I close this issue?

[2016-11-04 19:09] FrancoisJRenaud opened #2026 "Null ref in RLink called by dlgDeleteRowsColumns when no data frame"
When opening delete rows/columns without dataframe (very sensible, which is why this is probably not very urgent), the function in RLink: FillComboDataFrame was trying to run
 cboDataFrames.SelectedIndex = cboDataFrames.Items.IndexOf(frmEditor.grdData.CurrentWorksheet.Name)
at line 122, but frmEditor.grdData.CurrentWorksheet is Nothing so Null ref and badam, crash !

Solving proposal: Probably add

[2016-11-04 20:04] dannyparsons commented on #2022
I've removed the milestone but left open, as it's not fixed but it's been "resolved" for the beta now.

[2016-11-04 20:07] dannyparsons commented on #2026
Yes, you may have to check grdData IsNot Nothing before you check CurrentWorksheet as well.

[2016-11-04 21:07] rdstern commented on #1942
Great getting the one variable and 2 variable exact working.

Here is what I have observed so far.  I used the usual survey data (of course).

a) The one variable dialogue has now just the 3 distributions.  The 2 variable still has the whole set.  That needs the same change.
b) Could you change the label, so it says **Mean (under H0)** (ideally subscript 0) or **Mean 0.00 Under H0** or **"Under Nu

[2016-11-04 21:16] rdstern commented on #1984
I hope this can be fixed by us (at least temporarily) without waiting for the ggally folks.

[2016-11-04 21:41] lilyclements commented on #1942
Two Variables must have not been merged when you downloaded the most recent version, since they do now have labels and only display the three distributions at the moment! Also the code runs successfully for it now (it stopped temporarily since I changed some stuff in ucrDistributions!)
I'll change the labels though to saying how it's under the null. I'll sort that out tomorrow if that's okay!

c)

[2016-11-04 21:57] lilyclements commented on #1942
Another issue that there is - which is on One-Variable is with Bernoulli.
If a factor is selected on Bernouli, then you tick the 'Modify Conditions for Success' check box, then a combo box comes up. At the moment this combo box is empty since there isn't yet a way to have the options in the combo box to be the levels within the factor chosen. Perhaps for the meantime I could make it into an option

[2016-11-04 23:22] dannyparsons opened #2031 "aes receivers are not lined up correctly on layers dialog"

[2016-11-04 23:25] dannyparsons opened #2032 "geom list with blank geom"
In the geom list, the 5th geom is blank and has no aesthetics

[2016-11-04 23:32] dannyparsons opened #2033 "Adding layers to specific plots"
When I do a specific plot and add a layer through Plot options, additional layers, when I click Add to do a new layer, the aes filled in from the main dialog are not pre filled in.
I'm not tagging this as beta as I still seem to be able to do the layer but I have to re-add the aes I did from the main dialog if I want them again. If this is easy to fix would be good, but if not, other urgent tasks

[2016-11-05 00:04] dannyparsons commented on #1695
I think this is done, but tagging it here so someone can confirm this before it gets closed.

[2016-11-05 04:00] rdstern commented on #1905
John, it would be good if items 1 to 3 above could be in the beta release.
I don't know whether items 4 and/or 5 are easy.  It could be good to discuss them in Maseno, and with Danny.  Ideally they would also be included, but that doesn't have to be in the beta release.

[2016-11-05 04:07] rdstern commented on #1935
John, can you update us on the state of this dialogue.  It would "complete" the set of initial dialogues in the Model menu.

It would be good if there were something for the beta release.  If it isn't working, but the dialogue is in place, then it could be included now and Lily can add the label about the OK not being enabled.

[2016-11-05 04:31] rdstern commented on #1942
With the 2-variable dialogue, when set to Exact the second column can now only be a variate.  (That's not the condition for "General".  Most of the use of this dialogue for exact will have the second column as a factor, so that needs to be possible.

In the Poisson  (2 variable) you have "Rate".  My understanding is that the label should be "Rate Ratio".
In the Bernoulli (2 variable) I assume the

[2016-11-05 04:35] rdstern commented on #1914
There has been so much work and correspondence on these 2 dialogues.

Are they now good candidates to be visible together with the OK not enabled label?

[2016-11-05 07:39] rdstern opened #2037 "Display of more rows in the grid"
This is a feature that always comes up when people start using R-Instat.  I wonder if something could be done for the beta release.  Two suggestions are as follows:

1. It is a question of rows, so could the right-click for the rows give another little section, i.e. a line to break up, and then "Display First Rows" which is ticked by default.  You can choose instead "Display Last Rows".  This woul

[2016-11-05 07:59] rdstern opened #2038 "Controlling the digits displayed in the grid and output"
We will have to face discussion, by people using the beta, on the precision with which we display results.  I suggest we investigate whether there is a simple, at least partial, solution.  Then at least we have started discussing the problem.

My hope is that the use of **options(digits = 5)** would itself be an improvement. Currently, by doing nothing, we are using **options(digits=7)**.

The dis

[2016-11-05 08:32] rdstern commented on #1878
I am adding Francois and Maxwell to the assigned people here.  This is because at least some of the graphics dialogues don't (yet) cope with Ordered Factors.  This may also be a problem with other dialogues and is an instance where we should investigate general as well as piecemeal solutions.

The famous ggplot2 diamonds data set is an example.  It imports and already has ordered factors.  So we c

[2016-11-05 09:12] dannyparsons commented on #1914
Yes I think so.

[2016-11-05 09:15] dannyparsons commented on #2037
I would like that but nervous to make such a core change at this point. I will check what could be done simply though for the beta

[2016-11-05 09:23] dannyparsons commented on #1878
@maxwellfundi This bug of combine/facets option we discussed so hope you can fix.
I can look at the R method to get the ordered factor/integer cases handled well. This is more an Instat object issue of handling ordered factors than ggplot implementation.
The case of logical and factors wanting to do facets I agree, but this would require more complex changes in the code and I would hope it's not u

[2016-11-05 09:30] rdstern commented on #1942
I have discovered some "interesting" - positive features for the Bernoulli.

1) First a trivial one - please add an extra l into the name.
2) Then here is what I tried.  I produced Calc1 = Yield>40 from Organise > Column: Calculations > Calculate
3) I then did it again into Calc2.  Then I made Calc2 into a factor.  I assume this makes the "values" 1 and 2, while they are 0 and 1 in Calc1.
4) Then

[2016-11-05 09:36] rdstern commented on #1878
My point is more general.  The (factors with logicals) is the same issue as (integers with numeric).  I hope that we can treat them as the same in the graphs, i.e. ordered factors or un-ordered factors or logicals are simply "factor-type" and hence we can have facets or combine.  Similarly "numeric" or "integer" are "numeric type" and hence are treated the same, from the possibility of the range o

[2016-11-05 09:45] dannyparsons commented on #1878
The numeric/integer case should be working, so I'll fix that if not. Getting the other "categorical" case to allow facets generally is harder to check in the dialog as we don't have the code for the checks yet.

[2016-11-05 10:56] rdstern opened #2039 "Various small issues to consider for the beta and beyond"
This thread is to start a set of smaller topics.  Most would be useful to discuss, even if no immediate action is taken.
**1) The custom control for data.**  This (usually) shows the name of the data frame, and then the columns within the chosen data frame.  When new sheets are derived their names are sometimes quite long.  This raises 2 issues:
a) There seems no reason why the part of the control

[2016-11-05 11:46] dannyparsons commented on #1878
@maxwellfundi I'm changing a bit of the code on the One Variable Graph dialog, let me know if you're already working on this.

[2016-11-05 12:00] lilyclements commented on #1935
Okay, I will add the OK not being enabled button once John has finished the work on it for the beta release to avoid a conflict. John, can you let me know when you've merged it so I can add this button?

[2016-11-05 12:10] lilyclements commented on #1942
Okay, I wasn't aware of that bug in 2-variable so I will fix that today!

I will change these labels as well to Rate Ratio, Difference in Proportions and Difference in Means.
I also will change the one-var labels to something along the lines of "Under Null Hypothesis"

I will add in a criteria for success. Would we want this in the beta release?

Interesting! I thought Bernoulli was 2 l's, but eve

[2016-11-05 12:20] lilyclements commented on #1942
For two-variable sdg do we want
Normal: column1 - variate, column2 - factor or variate
Binomial: column1 - factor, column2 - factor
Poisson: column1 - variate, column2 - variate

Thanks,

[2016-11-05 14:29] dannyparsons commented on #1878
Ordered factors should be handles correctly by dialogs now. But testing is still needed to be done by everyone, maybe using the Diamonds data set as Roger suggested.

[2016-11-05 14:51] rdstern commented on #1942
The default "layout" is that there is a single data column, with a second column being a factor with 2 levels.  That's for all cases.
The alternative (in any of the cases) is 2 data columns of the same length - have to be if they are in the same data frame.  Then the data may (is likely to be) paired.  So that will be a question (after the beta release) when this part is enhanced.  For now these a

[2016-11-05 15:16] lilyclements commented on #1942
With the R Code for Poisson, it would only allow for the second variable to be numeric. Or, at least I can't find a way that would allow it to not be numeric because we are comparing two rates?
Additionally, if the user may wish to compare two numeric unpaired variables for a t-test to test for equal means so wouldn't we offer the option of a variate here as well?
Sorry! I'm just getting a little

[2016-11-05 15:19] lilyclements opened #2045 "dlgInsertColumns"
There are a few bugs with this dialog. I have changed a few of them so once these changes have been merged (I'll comment below when this has happened) then the following bugs need to be fixed

1. I froze a column and then inserted several columns. First time I pressed 'OK' on Insert Columns, it crashed and didn't add any columns.
Second time it worked, but if I tried to unfreeze the frozen column

[2016-11-05 15:21] maxwellfundi commented on #1878
I am currently not editing this dialog.
On Nov 5, 2016 2:46 PM, "Danny Parsons" <notifications@github.com> wrote:

[2016-11-05 15:23] lilyclements commented on #1942
For the time being I have disabled two options which were causing issues. Firstly, on One Var Fit Model, the residuals plot does not come up if Binomial is selected. This is because of an error so I've made it temporarily that this will not plot if Binomial is selected.
Secondly, on Two Var Models, the code sometimes does not run if check save model is checked. So, I disabled this to get on with t

[2016-11-05 15:27] dannyparsons commented on #2045
There are definitely issues with freezing columns which I will look into. Are there issues when you don't freeze columns?

[2016-11-05 15:28] dannyparsons commented on #1878
Thanks, I made some changes to fix the issues we discussed, you should check to see the changes make sense.

[2016-11-05 15:37] lilyclements commented on #2045
Yes, so if I asked to insert rows before the first row it gives the error:

---------------------------
Error running R command(s)
---------------------------
Error in self$get_variables_metadata(property = display_decimal_label,  :
  Display_Decimal not found in variables metadata

The error occurred in attempting to run the following R command(s):

InstatDataObject$get_data_frame(convert_to_char

[2016-11-05 15:38] dannyparsons commented on #2045
Ok I think that's an R code problem. I'll look into it.

[2016-11-05 16:13] lilyclements commented on #1914
I can add the OK not enabled label shortly - however, before I do they need to be enabled on the main form. Shall I do this or is someone else currently doing something on the main form? I don't want a conflict.

[2016-11-05 16:36] dannyparsons commented on #1914
go ahead on frmMain

[2016-11-05 16:53] lilyclements opened #2054 "dlgCountinFactor"
Two things;
1. Layout - colons need to be added and it needs to be aligned
2. When running this dialog, it cannot find the function "fac.nested" and hence does not run.

[2016-11-05 17:03] lilyclements commented on #1914
I enabled and added the ucr for "Export to OpenRefine". However, the "Import To OpenRefine" dialog is currently blank so I haven't enabled that option

[2016-11-05 17:33] lilyclements opened #2058 "dlgRecode"
This is under Organise - Factor - Recode Numeric where there are a few issues - but the main one is that it crashes the page

1. Layout - need colons added and things aligned etc
2.  If I add in break points, then I click to add labels and write something in - OK is not enabled.
3. If I then (after adding in break points and clicking to add labels with writing in it) reset the page crashes complet

[2016-11-05 18:00] lilyclements opened #2063 "dlgReorderLevels"
Under Organise - Factor - Reorder Levels, you can change the order of the levels. However, this does not actually work, the order of the levels within the factor remain the same.
Additionally, the layout needs work - colons, alignment, etc!

[2016-11-05 18:07] dannyparsons commented on #2054
Maybe disable this menu item? Not sure if it's been worked on much or is urgent? @rdstern

[2016-11-05 18:13] dannyparsons commented on #2058
Can you look into seeing why it crashes?

[2016-11-05 18:19] dannyparsons commented on #2063
What do you mean the order of levels remains the same? Seems to work for me.

[2016-11-05 18:22] lilyclements commented on #2063
Does it? If I move the order of the levels around it doesn't do it! That's strange!

[2016-11-05 18:23] dannyparsons commented on #2063
What are you expecting to see when you reorder the levels?

[2016-11-05 18:23] lilyclements commented on #2063
I thought it would re-order it on the data sheet? Is it not meant to?

[2016-11-05 18:31] dannyparsons commented on #2063
No it's not sorting the data, it's just setting an order to the levels of the factor column. So the order is used to do things like decide which order to display levels in in a graph.

[2016-11-05 18:39] lilyclements commented on #2063
Ah okay, sorry I didn't realise. I'll sort out the layout then and send it up!

[2016-11-05 18:44] lilyclements commented on #2058
I've had a small look and it's to do with the breakpoints having in it one item only. I'll have a deeper research tomorrow!

[2016-11-05 18:56] dannyparsons opened #2069 "Facets tab"
When I go to the facets tab, the Free Space checkbox is visible when Include Facets is not checked.

[2016-11-05 19:36] lilyclements commented on #2054
I'll wait to hear from Roger and then disable it after the go-ahead!

[2016-11-05 19:36] #2063 closed

[2016-11-05 19:41] lilyclements opened #2080 "dlgEnter"
Is someone currently working on this?

There are a few issues
1. Layout needs to be sorted - colons need to be added to things like "Data", additionally, the "Data" and Data Box need to be lined up with one another.
2. Reset doesn't reset a few things - such as the Data box and the preview box
3. Help button needs to be added ( @rdstern do you have the help page number for this dialog?)

Thanks!

[2016-11-06 09:15] rdstern opened #2084 "Describe > Specific > Boxplot enhancements with general application"
I suggest there is an "interesting" general issue here.  And it provides me - I hope - with a simple suggestion.  It is almost certainly post-beta, but just may be quite simple.

My understanding is that themes ( that have yet to be addressed in the graphics work) are everything that is **not** data dependent.  I really like that idea.

Now what about the orientation of axis labels.  It sounds tri

[2016-11-06 09:41] rdstern opened #2083 "Adding coord-flip to more of our graphs"
The plotting is looking really good now - in general.  I have started using it to "solve problems" and have encountered some issues immediately.  This is to mention one of them in particular.  I initially just wanted discussion, but now feel that it would be good to have something done for the beta.

I hope that adding "coord_flip()" should be relatively simple and very useful.  We should have it

[2016-11-06 10:07] #940 closed

[2016-11-06 10:09] dannyparsons commented on #1014
@lilyclements have you checked start position for sub dialogs as well?

[2016-11-06 10:10] #1049 closed

[2016-11-06 10:11] #1112 closed

[2016-11-06 10:14] #1586 closed

[2016-11-06 10:15] dannyparsons commented on #1707
Might be good to get this working if it's easy now.

[2016-11-06 10:16] #1709 closed

[2016-11-06 10:17] dannyparsons commented on #1712
Would this be easy to get working soon before the beta?

[2016-11-06 10:18] dannyparsons commented on #1714
@lilyclements another good thing to be checking

[2016-11-06 10:20] dannyparsons commented on #1735
Current state of this?

[2016-11-06 11:19] lilyclements commented on #1014
Since I've only done the Organise menu so far, there haven't been many sub dialogs at all so far. I will continue with them in around an hour! Sorry!
In the "start position" do we want them to be central?

[2016-11-06 11:35] dannyparsons commented on #1014
Yes I think so, makes sense they appear on top or close to main dialog.

[2016-11-06 11:39] dannyparsons commented on #1874
I have identified the problem which is in returning to the main dialog from sub dialog. Fixing this properly relates to sub dialog linking correctly. For the beta can we disable the two sub dialogs when multiple y values selected (plot options needs to be disabled because of #1215). I have done boxplot in #2085. Can someone do the other specific graphs? I will make a new issue for this.

[2016-11-06 11:44] dannyparsons opened #2086 "Disable options in specific graphs when multiple variables as factor used"
To temporarily avoid bugs from #1215 and #1874, we need to disable both options buttons on all specific graphs, when multiple variables as a factor is in use. I have done boxplot as an example in #2085. Can others add the same code to the rest?
This should be in the release notes.

[2016-11-06 12:40] lilyclements opened #2087 "dlgMetadata"
1. This dialog needs tidying up - colons added, things to be aligned, etc.

2. The code also currently does not work (This could be because of point 3.)

3. Additionally, what would we want to be able to input into the current value? It won't let me input anything but perhaps I am doing something wrong! @rdstern

Thanks!

[2016-11-06 12:50] dannyparsons commented on #2087
Current value is to show you the current value - you can't type in. If this is not working I suggest OK is disabled.

[2016-11-06 13:10] lilyclements commented on #2087
I see. If I put in the receiver items of the same type then the current value does come up.
e.g. for "Decimal" if I put in items with two decimals only then the current value of "2" comes up
Or for "Class" if I put in items from the same class
It then sometimes crashes - i've noticed with "decimal" then it tends to crash if one item is in the receiver.

The cbo box needs to be reset though for if

[2016-11-06 13:42] #2045 closed

[2016-11-06 13:43] dannyparsons commented on #2045
@lilyclements should be fixed now, you could test this again

[2016-11-06 13:44] dannyparsons commented on #2087
Sounds like quite a bit to do. If we have time we can come back to it.

[2016-11-06 13:46] dannyparsons commented on #2021
What is the error that comes up in 2?

[2016-11-06 13:57] #2021 closed

[2016-11-06 13:57] dannyparsons commented on #2021
@lilyclements should be fixed now, can you check?

[2016-11-06 14:11] lilyclements commented on #2021
1. Is fixed
2. Has an error still:

![image](https://cloud.githubusercontent.com/assets/21180424/20038406/e6f62424-a42a-11e6-9f18-eec330837e87.png)

[2016-11-06 14:13] lilyclements commented on #2045
Yep it's fixed - I assume because you disabled the "freeze" option?

[2016-11-06 14:36] dannyparsons commented on #2021
"row.names must be unique" is the message, so that's an expected error if the column isn't unqiue.
In future we could prevent that but it detects it sensibly for now at least.

[2016-11-06 14:37] dannyparsons commented on #2045
Freeze was one bug and inserting rows before row 1 was separate bug. Both "should" be fixed now.

[2016-11-06 14:43] lilyclements commented on #2045
I see! Yes, both are fixed and working

[2016-11-06 14:44] lilyclements commented on #1014
I've been making them "Central Parent", is that okay?
This way they are central, and if the user moved the main dialog on the screen and then clicked for the sdg to come up, it will come up in the middle of the dlg.

[2016-11-06 15:03] #1990 closed

[2016-11-06 15:05] dannyparsons commented on #1014
That seems sensible

[2016-11-06 15:28] lilyclements opened #2101 "dlgScatterPlot"
If I do a factor on scatterplot something strange happens (see picture).
Since it's a scatterplot I assume we do not want a factor to be an option for the variables (it can be an option for the "split by factor" of course!)

![image](https://cloud.githubusercontent.com/assets/21180424/20039042/81e32cc0-a435-11e6-9142-7ac81f85a57a.png)

[2016-11-06 16:06] dannyparsons commented on #2039
On 2. have now replaced default right click menus with custom ones. But there are still some remaining default menus on things like radio buttons.

[2016-11-06 16:11] dannyparsons commented on #2101
It looks like you've stacked some numeric columns with factor columns so you get one big factor on the y axis. Not very sensible, but is allowed. Factors in scatter plot can be useful e.g. try `ggplot(survey, aes(x = Village., y = Yield)) + geom_point()`

[2016-11-06 16:38] rdstern opened #2108 "Links for the help file"
I am finding some issues when inserting the correct link.
1) Dialogue NewWorksheer seems redundant and can be deleted.  The current one is called FileNew
2) Correct ID (6) for **File > New**,  (11) for (ImportDataset) **File > Open**, (156) for (FromLibrary) **File > Open From Library**
3) Convert seems live, but does nothing.  I thought there was some work on this.  I can't find a dialogue.  For

[2016-11-06 16:51] dannyparsons commented on #2108
Will try to sort these out with you and then get others involved if needed.

@stevekogo was anything done on File > Convert dialog? Not urgent for Tuesday but we will disable it if not there yet.

[2016-11-06 17:04] lilyclements opened #2112 "dlgGeneralForGraphics"
dlgGeneralForGraphics does not look complete and crashes if I press "Save Graph". Should I disable it?

[2016-11-06 17:13] dannyparsons commented on #2112
It's quite important so we should try get it fixed if possible. When are the errors? It hasn't crashed yet when I used it.

[2016-11-06 17:17] lilyclements commented on #2112
That's strange as it's not crashing anymore. I've tried playing around to get it to re-crash but can't find how!
What do we expect to go into the selector out of interest?

[2016-11-06 17:22] dannyparsons commented on #2112
Do you mean the list box on the main dialog? That's the list of layers.

[2016-11-06 17:23] dannyparsons commented on #2112
There may be ways to crash the dialog by doing silly things with layers, this isn't a huge priority to fix right now.

[2016-11-06 17:27] dannyparsons opened #2116 "Scrolling on graph window"
If you use the scroll wheel on a mouse when on the graphics window it crashes the software. Not clear how to prevent this as it's coming directly from the R link. Should try to fix before beta as it causes a total crash of software.

[2016-11-06 17:33] lilyclements opened #2117 "dlgThemes"
This is currently an empty dialog.
1. Is someone working on this at the moment for things we want on the beta
2. Shall I disable the form to go to this dialog?
3. SHall I leave it as it is?

[2016-11-06 17:40] stevekogo commented on #2108
Nothing was done.

On 6 Nov 2016 7:51 pm, "Danny Parsons" <notifications@github.com> wrote:

[2016-11-06 17:41] maxwellfundi commented on #1014
Yeah,  the sub dialogs should be at the center of the parent. I think
that's perfect
On Nov 6, 2016 6:05 PM, "Danny Parsons" <notifications@github.com> wrote:

[2016-11-06 17:44] dannyparsons commented on #2117
If it's blank I don't see why we need to open it. Roger is editing frmMain so hold off any changes on there.

[2016-11-06 17:45] lilyclements commented on #2117
Got it. I'll either change it myself later or @rdstern can disable it while he's on the main form

[2016-11-06 17:50] lilyclements opened #2121 "dlgCanonicalCorrelationsAnalysis"
This dialog has a few issues when it's run and quite a few bugs.
Shall I disable OK and put the ucr button on for the beta release?

[2016-11-06 17:53] dannyparsons commented on #2121
Can you describe the errors? @stevekogo may be able to fix them before beta.

[2016-11-06 17:57] lilyclements commented on #2121
Wait, ignore all this, sorry.

[2016-11-06 17:57] #2121 closed

[2016-11-06 18:04] dannyparsons opened #2124 "Toolbar buttons"
Need to edit/disable/remove some toolbar buttons before beta. I suggest removing Excel buttons and getting Copy button to work.

[2016-11-06 18:05] dannyparsons commented on #2037
Decided to delay this until after beta but mention in release notes.

[2016-11-06 18:07] rdstern commented on #2108
Now the Organise menu.
On **Organise > Data Frame** all is OK down to Column Metadata which crashes R-Instat.
Rest now OK in that sub-dialogue
**Organise > Column Calculate > Calculations has some issues.**
a) What has happened to the Text keyboard?  It could also be called "Strings (Character Columns)".  It used to be there.
b) Then there is Runoff - which should be called "Probability".  And the

[2016-11-06 18:16] lilyclements commented on #1905
This is looking really good, except do we need the ucrDataFrame on it since we are just using PlotDist for the time being?
Thanks!

[2016-11-06 18:22] dannyparsons commented on #2083
For the beta I suggest:
1. Add coord flip to bar chart dialog
2. Add a blank "coordinates" tab to the general plot options, so that people can see it's coming.

[2016-11-06 18:22] lilyclements opened #2126 "General - Fit Model (dlgFitModel)"
This dialog is not yet fully working and there are several bugs.
Shall I put the ucr on it and disable the OK button for the beta release?

@rdstern

[2016-11-06 18:29] lilyclements opened #2127 "Climatic - File - Open SST"
I'm not sure what we do and do not want in the beta release in terms of Climatic!

Judging from this one I feel we should disable the "ok" button and put the ucr in.
What are thoughts on it?

[2016-11-06 18:31] lilyclements opened #2128 "Climatic - Organise - Summary"
As this dialog is currently blank, should I disable it on the main form? (once Roger is finished on the form)
I'm only checking in case someone is currently working on this dialog for the beta

[2016-11-06 18:34] lilyclements commented on #2128
Should I treat other blank dialogs on this menu in a similar manner?

[2016-11-06 18:47] FrancoisJRenaud commented on #2083
Ok I ll take care of that now, if no one is editing sdgPlots and dlgBar for the moment.

-Should the coordinate-flip on bar dlg be called "Horizontal [bar chart]" as on boxplot or  something like "Flip coordinates"/"Coordinates flip" ?
-Is it needed for histogram as well ?
-Should we leave the suggestion for one-var and two-var for later then or should @maxwellfundi work on these ?

[2016-11-06 18:50] #1931 closed

[2016-11-06 18:57] lilyclements opened #2132 "dlgEndOfRains and dlgWaterBalance"
These two dialogs have things on them, but are not set up and things like the labels are called "Label_" etc.
Do we want this to be on the beta version or shall I disable them at the main form?

Thanks!

[2016-11-06 19:04] maxwellfundi commented on #2086
Great, i will get this done soon.

[2016-11-06 19:12] maxwellfundi commented on #2124
@dannyparsons  i think them remaining disabled is better to show the people that they will eventually have functionality, other than removing them completely

[2016-11-06 19:13] maxwellfundi commented on #2117
@lilyclements we still are not sure what to put there. Leave it disabled.

[2016-11-06 19:19] lilyclements commented on #2117
Okay thanks. I'll disable it once I know no one is using the main form. I have quite a few others I need to disable too

[2016-11-06 19:24] maxwellfundi commented on #2117
Okay great.

[2016-11-06 20:20] FrancoisJRenaud commented on #2083
About the pie chart that is grey: the "fill" parameter in clsRaesFunction was removed by the SetSecondFactorReceiverParameter() in pie chart mode. Since this was called right after the SetFactorReceiverParameter(), which is assigning it's content to "fill" in pie chart mode, fill was never filled. Inverting the order of the call solved the issue.

[2016-11-06 20:56] FrancoisJRenaud commented on #1874
Will do with the dialogues containing VariablesAsFactor, that are not being edited by someone else:
histogram and line (dlgHistogram and dlgPlot).

[2016-11-06 21:20] FrancoisJRenaud commented on #2086
Sorry @maxwellfundi didn't see your comment as I was working on this problem from #1874. Will be partially solved in pull request #2138. Still need to do rug and dot as these have been modified in #2107 which has not been merged yet.

[2016-11-06 21:48] dannyparsons commented on #2127
This should work. @rdstern and @stevekogo could test with the appropriate data and then we decide.

[2016-11-06 21:51] FrancoisJRenaud commented on #2033
In general the link between specific plots and the plot options is quite obscure to me. For the moment I don't really understand how it's doing it's job. Now Functions such as sdgPlots.SetGgplotFunction and sdgPlots.SetRSyntax could be used in the same way as sdgPlots.SetDataFrame is in cmdOptions_Click to setup plots. And other similar functions and, if necessary, fields, could be created to full

[2016-11-06 21:57] FrancoisJRenaud commented on #2127
Just to mention, I got a major crash with this, trying to open an csv file with openSST (with no dataset open if that may change anything), my whole computer crashed severely. Had to restart by hand.

[2016-11-06 21:58] dannyparsons commented on #2128
yes, just check with @Lunalo before editing frmMain

[2016-11-06 22:06] FrancoisJRenaud commented on #2112
There are plenty of problems with this dialogue. Starting with the fact that there is no way to select the dataframe. If you change tabs inbetween two uses of generalforgraphics, some things are kepts from previous dataframe... etc. These lead to major crashes... I suggested that if we don't disable it, we add a notice on this dialogue saying that it is in construction and may trigger crashes, bec

[2016-11-06 22:12] FrancoisJRenaud commented on #2101
Haha, looks like you are going through the same desire to avoid people to do silly things with ggplot @lilyclements ^^ I think Danny told me the "(Not very sensible) but is allowed [by ggplot so we keep]" about 15 times.

[2016-11-06 22:33] dannyparsons commented on #2132
Disable I think

[2016-11-06 22:35] dannyparsons commented on #2124
I'm only suggesting we remove the Excel button because I don't think we want it at all. Once we eventually want can just be disabled if not working.

[2016-11-06 22:36] #2032 closed

[2016-11-06 22:41] dannyparsons commented on #2083
I think Horizontal as is on boxplots is fine. Start with just bar chart and then we can decide about others. Would be good to have on one and two var graph dialogs, if @maxwellfundi can do this. But it's not essential for the beta.

[2016-11-06 22:43] #2031 closed

[2016-11-06 23:05] dannyparsons commented on #2127
The computation in R is quite intensive for this, so if the file was not appropriate for SSTs then it could have got very messy in the R code and caused that crash.
@stevekogo if the R method can't do something sensible when the data is in the wrong format we may have to disable this for the beta.

[2016-11-06 23:08] dannyparsons commented on #2112
I don't know what the purpose of selecting a data frame would be for - different layers can have different data frames.
Let's have a think tomorrow about disabling. I can have a look at it too, to see if anything can be done to avoid crashes without having to disable.

[2016-11-06 23:18] lilyclements opened #2142 "Dialogs to Disable"
Tomorrow I'm busy in the morning. So at about 130pm GMT (430pm your time), but at that time I plan to access the main form to disable certain dialogs (as long as no one else is on the main form then!)
I'm going to list here dialogs I plan to disable. If anyone has any additions I should disable then please put them on this issue! Or tag me in the dialog so I can add it here as this way we can keep

[2016-11-07 04:20] maxwellfundi commented on #2054
This has been working. We may not have added the dae package and hence that error

[2016-11-07 05:48] FrancoisJRenaud commented on #2112
Mhm, yes, got confused about this. Ok, still dataframe management is source of crashes as well...

[2016-11-07 06:06] rdstern commented on #2108
Now the describe menu:
There is dlgSummary that is blank and I think can be deleted?
Ditto dlgOneSampleSummaryData?
Ditto dlgTwoVariablesTabulate?
Ditto dlgTwoSamples?
For One Variable: One variable Summarise is dlgDescribeOneVariable and ID 410 added.
And dlgOneVariableGraph ID 412 added
For two variables summary I changed the title at the top of the dialogue.  It should be Two Variables.  I adde

[2016-11-07 06:13] FrancoisJRenaud commented on #2086
Ok I m finishing this for all the relevant  specific graphs in #2138

[2016-11-07 06:38] FrancoisJRenaud opened #2145 "Typo in the Instat Data Object in convert_column_to_type method definition"
In the convert_column_to_type definition, line 982 in the "convert to numeric" case, there is eseself that should be self:

``else if(to_type=="numeric") {
 ``     if(is.factor(curr_col) && (factor_numeric == "by_levels")) {
 ``       self$add_columns_to_data(col_name = col_name, col_data = as.numeric(levels(curr_col))[curr_col])
``      }
``      *!!!!!*elseself*!!!!!!!*$add_columns_to_data(col_n

[2016-11-07 07:01] FrancoisJRenaud commented on #2116
Here is the error I get when scrolling :
An unhandled exception of type 'System.Runtime.InteropServices.SEHException' occurred in System.Windows.Forms.dll

Additional information: External component has thrown an exception.

[2016-11-07 07:05] FrancoisJRenaud commented on #2116
and this :
Managed Debugging Assistant 'FatalExecutionEngineError' has detected a problem in 'C:\Users\François\Source\Repos\Instat\instat\bin\Debug\instat.vshost.exe'.

[2016-11-07 07:14] FrancoisJRenaud opened #2147 "ucrGeomListWithAes/ucrAdditionalLayers - iIndex greater than listlength when edit layer on dlgGeneralForGraphics"
Didn't manage to reproduce the error yet, but I had two layers in my ucrAdditionalLayers from dlgGeneralForGraphics, with different amount of available receivers for aes (aes parameters), and all receivers filled or almost all receivers filled (thinking in terms of the last edit in sdgLayerOptions of the respective layers). Then when editing the layer with least number of receivers I think, the iI

[2016-11-07 07:20] Lunalo commented on #1905
​Hi Roger and Lily, Am currently fixing the above four changes​

On Sun, Nov 6, 2016 at 9:16 PM, lilyclements <notifications@github.com>
wrote:

--
Regards,
John Lunalo
Tel: +254(0)701519572, +254(0)764000861
Skype : john.lunalo

https://ke.linkedin.com/in/johnlunalo

[2016-11-07 07:25] rdstern commented on #2108
The modelling menu:
Show Model added help ID = 157
The One Variable Fit, Compare, Show were not centred.  So centred the dialogues.
The Compare Models has a bug on first entry.  It says "This name cannot start with _".  It then goes into the dialogue OK and any following use of the dialogue does not give that error.
For 2 variables Fit Model changed the help ID to 366
There is a bug in the use of

[2016-11-07 07:29] FrancoisJRenaud commented on #2147
Yup, managed to reproduce the error. So it happens indeed exactly as described above. Take diamonds, create a BoxPlot layer in dlgGeneralForGraphics, and fill in all the aesthetics receivers. Apply on all Layers. Then return, create a geom_density layer, all available aesthetics are filled in automatically as the global aes are saturated. Return. Then edit density layer and get the problem...

[2016-11-07 07:36] maxwellfundi opened #2148 "Edit Menu dialogs"
The Find and FindNext dialogs on the Edit menu currently do nothing.
They need to be disabled for now.
@africanmathsinitiative/instat  anyone working on the frmmain currently?

[2016-11-07 07:39] FrancoisJRenaud commented on #2147
So actually I beleive that the error occurs when the number of aesthetics parameters for the geom that we want to edit is smaller than the number of mapped aesthetics parameters in the global aesthetics. Maybe the content of receivers that are not available for this geom is changed ?

[2016-11-07 08:08] stevekogo commented on #2127
I have OpenSST dialogue with other datasets and it seems to work well and return sensible error messages in the event of datasets with different format. @rdstern could advise further in case we need to disable the dialog since it is climatic.

[2016-11-07 08:13] dannyparsons commented on #2054
Is that the only reason for the error?

[2016-11-07 08:15] dannyparsons commented on #2112
What do you mean by that?

[2016-11-07 08:24] FrancoisJRenaud commented on #2112
Let me do some systematic testing and report here.

[2016-11-07 08:25] dannyparsons commented on #2148
yes disable for now

[2016-11-07 08:31] lilyclements commented on #2127
We could put an error message at the top just for the beta to explain they have to use the correct dataset? It would be a shame to exclude it in the beta because of this crash.

[2016-11-07 08:39] dannyparsons commented on #2112
If it crashing when you do something like use different data frames on different layers and then don't take care of aesthetics properly then that's ok, we should just warn in release notes that we don't yet catch all these errors.

[2016-11-07 08:40] #2145 closed

[2016-11-07 08:40] dannyparsons commented on #2145
Thanks for spotting that.

[2016-11-07 08:42] maxwellfundi commented on #2142
I have disabled some of these. @stevekogo  is still fixing models so we might want to have a look at them later.

[2016-11-07 08:52] #2148 closed

[2016-11-07 08:53] stevenndungu opened #2152 "Dlg Column Structure- Reset not working when the dlg is reopened"
In this dialogue, when you click OK for the first time then reopen the dialogue;
-Clicking Reset button Clears the Receivers, then Repopulates immediately the  existing column names. Thus eventually the dialog is not set to default as expected.
This is what happens,
When the SetDefault() subroutine is called on Click_reset(). SetColumnStructureInReceiver() is called as well, Stepping deeper in the

[2016-11-07 09:08] dannyparsons commented on #2152
@stevenndungu it's good you've noticed this and looked into the details. This dialog is quite different to most others. When we reset, instead of clearing receivers, for this dialog we want reset to "reset" the receivers to show the current variables that are in each category. So what it's doing is correct.
If you reopen the dialog - then change the receivers, it should go back to the variables it

[2016-11-07 09:08] FrancoisJRenaud commented on #2086
Should close this now... was fixed by #2138

[2016-11-07 09:10] #2086 closed

[2016-11-07 09:11] stevenndungu commented on #2152
OK fine. I thought it should work normally as other dialogues. Thanks.

[2016-11-07 09:20] FrancoisJRenaud opened #2154 "Partially mandatory aesthetics method"
This is not for beta, just for record.
Need to implement a clean way to encounter that for some geoms (x and y) aesthetics can and need to be automatically filled with "" when no variable is mapped to them.

This will require changes in the following local fixes that exist. In

    sdgLayerOptions: ucrSdgLayerBase_ClickReturn, to set the Aesthetics mapping well.

    ucrGeomListWithAes: SetAes, to

[2016-11-07 09:35] lilyclements commented on #2142
Excellent, thank you. We'll see what Steve has to say after he's done with them to see what we should and shouldn't disable in terms of models.

[2016-11-07 09:43] #2101 closed

[2016-11-07 09:45] rdstern commented on #2108
The climatic and options menu.

It would be good to have access to the OpenSST and also the climdex dialogues, even if OK is disabled.

Steve, I have connected the help on those.  Could you write something that could be put there on those 2 dialogues.  We still need to fix on a style for the help.  For now anything you write will be good.

I suggest all the other dialogues be disabled.  I am relax

[2016-11-07 09:46] lilyclements commented on #2126
@stevekogo are you working on this?
Which modelling dialogs are you looking at out of interest? I'm happy to go over a few if you want. Let me know anyway and if so, let me know which dialogs so we don't have a conflict!

[2016-11-07 09:52] maxwellfundi commented on #2108
Great, this will be good tasks for this afternoon over here.
Thanks

[2016-11-07 09:54] stevekogo commented on #2126
@lilyclements I was fixing the four variable but I will move to the general one in a short while.

[2016-11-07 09:55] lilyclements commented on #2126
Great. Once it's merged I'm going to just change some things on the layout if that's alright! I won't edit any of modelling until I check with you first!

[2016-11-07 10:03] lilyclements commented on #2127
Is anyone working on this dialog (OpenSST) out of interest? I want to fix some things such as the reset button and layout.

[2016-11-07 10:17] lilyclements commented on #2142
Thanks for disabling those four climatics and Themes.

We now need to disable on Climatic:
Climatic - Organise - Summary
Climatic - Models (since this doesn't lead to a sub)

[2016-11-07 10:25] lilyclements commented on #2126
@stevekogo Are you finished on Three Variable Modelling? I would like to give it a tidy up if so!

[2016-11-07 10:31] #2128 closed

[2016-11-07 10:32] lilyclements commented on #2117
This has been disabled now

[2016-11-07 10:32] #2117 closed

[2016-11-07 11:06] dannyparsons commented on #2026
Is this resolved?

[2016-11-07 11:23] dannyparsons commented on #2058
I've updated the defaults in #2167 and I couldn't get a crash now. Can you re test and let me know how to get a crash if it's still possible. There are more serious changes needed so that less message boxes pop up, but that can be done later.

[2016-11-07 11:30] rdstern opened #2168 "Adding to the help menu"
The current help "system" has 6 sections.

I propose that they be put into the help menu.  If agreed, then this could be done by anyone who is altering form main for other aspects.

The titles and links to the help file are as follows:
Introduction  (Help ID 0)
History and FAQ (Help ID 290)
Getting Started (Help ID 3)
Menus and Dialogues (Help ID 12)
R packages and Commands (Help ID 26)
Data Sets

[2016-11-07 11:33] dannyparsons commented on #2168
Yes I agree. @Lunalo Can you make these changes or assign someone to do them? The items don't go to new dialogs, they just go directly to the help pages Roger has mentioned.

[2016-11-07 11:39] dannyparsons commented on #2069
@maxwellfundi Are you fixing this?

[2016-11-07 11:55] maxwellfundi commented on #2069
Its Fixed already

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Mon, Nov 7, 2016 at 2:39 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-11-07 12:00] Lunalo commented on #2168
I can work on this

[2016-11-07 12:00] dannyparsons commented on #1707
Has been added in new version of rio, should work automatically now. @rdstern Can you test with some ods files?

[2016-11-07 12:02] FrancoisJRenaud commented on #2026
Oups, no, will do it in a minute... Unless you wanted to edit RLink ? Can explore for  #2116 also.

[2016-11-07 12:04] #2069 closed

[2016-11-07 12:07] dannyparsons commented on #2026
Go ahead if you can fix this.
On the graph window, that's a pop up from R so we don't really have any control over how it works. If anything it's a bug in the RDotNet package which we just import. I think it's just something we document, and it will be a non issue once graphs go directly to the output window.

[2016-11-07 12:09] dannyparsons commented on #1735
I seem to be able to delete a single row - not particularly useful but works on for now.

[2016-11-07 12:18] Lunalo commented on #2168
@africanmathsinitiative/instat

I am currently editing frmMain

[2016-11-07 12:40] maxwellfundi commented on #2142
@Lunalo  please disable this too as you are working on frmMain

[2016-11-07 13:19] FrancoisJRenaud opened #2174 "ucrGeomListWithAes and relation to specific plots"
Two small but bad looking bugs :

- Fix Aes is set to true for specific plots when calling SetupLayer (sdgLayerOptions). I don't know if this is necessary for some reason. The only real necessity that I see comes from MultipleVariables. Is there any other case where fixing is required ? Otherwise I think aesthetics that come from the main should be editable on the subdialogue. It is even necessary

[2016-11-07 13:26] #2142 closed

[2016-11-07 13:42] #2132 closed

[2016-11-07 13:49] Lunalo commented on #1910
@rdstern

Can we also do a pipe operator(%>%) when using one dataframe for many operations?

[2016-11-07 14:00] rdstern commented on #1910
I wonder if that will work?  Would be exciting if it does.  I would not assume it for the beta at this late stage

[2016-11-07 14:24] lilyclements commented on #2058
If I open it, put something in the selector and then write one number in the break points and press "ok" then it runs.
But, then if I re-open the dialog and press reset, it crashes.

[2016-11-07 15:04] dannyparsons commented on #2058
Thanks, investigating this with @stevenndungu now.

[2016-11-07 15:37] dannyparsons opened #2185 "Licenses in files"
Should update licence header, maybe using https://visualstudiogallery.msdn.microsoft.com/5647a099-77c9-4a49-91c3-94001828e99e
Not for beta

[2016-11-07 15:46] dannyparsons commented on #1747
Done - `mosaicdata` data sets can be used for testing now as well.

[2016-11-07 15:46] rdstern commented on #2168
I am re-opening this issue to propose 2 more links from the Help menu to the Help file.

The first is called Spreadsheet and is above the entry for Menus and Dialogues.  It has Help ID 134
The second is "About R" and is above R packages and Commands - it has ID 133.
I'd also like to start a section that calls some pdf files.  I have added 2 so far, see below:

So the full list is now:

Introductio

[2016-11-07 15:47] FrancoisJRenaud commented on #2124
Will work on this now

[2016-11-07 16:09] #1747 closed

[2016-11-07 16:15] #2026 closed

[2016-11-07 17:27] FrancoisJRenaud commented on #2026
Sould be closed now

[2016-11-07 18:58] rdstern opened #2189 "Model > Probability Distributions > Show Model"
I like the improvements.  But I am looking for issues - so here they are!

1. There is a funny receiver in the dialogue - sort of for a third parameter.  I wonder what it is doing there?

2. I also tried with a gamma model and found that it does not seem to remember the previous settings.  It went back to Normal mean 0 variance 1.

3. It is still not saving in columns of the right name.  I was on

[2016-11-07 19:18] FrancoisJRenaud opened #2191 "Convert to date ?"
Just a silly question that arose from "trying to do things with the software for testing"... Would it make sense to convert a column to date, as we convert a column to numeric etc ? I know there is make date...

[2016-11-07 19:22] dannyparsons commented on #2191
You mean other than make date dialog? Because there are so many parameters, it needs its own dialog.

[2016-11-07 19:23] #1707 closed

[2016-11-07 19:24] FrancoisJRenaud commented on #2191
I guess make date is the one yes. I just wanted to do something like, right click, convert to date. Maybe make date could go into right click ? Doesn't really matter for now.

[2016-11-07 19:34] dannyparsons commented on #2191
Because you need to choose parameters it can't be one click, but could go to the dialog.

[2016-11-07 19:37] FrancoisJRenaud opened #2192 "Open file and open from library"
Again just a small suggestion for later. Could it be nice to have open from file and open from library to be two tabs of one Open dlg ?

[2016-11-07 19:38] dannyparsons commented on #2083
Is this done?

[2016-11-07 19:38] FrancoisJRenaud commented on #2191
Yes that's what I was thinking of.

[2016-11-07 19:41] FrancoisJRenaud commented on #2124
Ok the toolbars look good. I ve deleted the excel one. When you say make the copy button to work, do you mean make the paste button work as well ?

[2016-11-07 19:43] FrancoisJRenaud commented on #2083
Not on one and two variables graph. I can work on this now if you want. I think @maxwellfundi was quite busy with installer stuff...

[2016-11-07 19:48] dannyparsons commented on #2192
Possibly yeah

[2016-11-07 19:49] dannyparsons commented on #2124
Just copy - paste is complicated.

[2016-11-07 19:50] dannyparsons commented on #2083
If it's on Bar that's good enough for now. If there's time later we can add to 1 and 2 vars.

[2016-11-07 19:51] FrancoisJRenaud commented on #2083
Ok. I think the name on bar is still Flip Coordinates. Should I change to horizontal or is that fine ?

[2016-11-07 19:52] FrancoisJRenaud commented on #2124
Does it make sense to do this now (for the beta) as we can't paste anyway ?

[2016-11-07 19:55] dannyparsons commented on #2083
I don't have strong views

[2016-11-07 19:55] dannyparsons commented on #2124
Do what exactly? I'm suggesting copy is enabled and working, paste is disabled.

[2016-11-07 20:06] FrancoisJRenaud commented on #2124
Ok, DONEZO. should I try to get the right click copy to work as well ?

[2016-11-07 21:29] FrancoisJRenaud commented on #2174
Ah, things are going completely wrong with the ucrGeomListWithAes SetAes or whatever is not working. I ve been working on it for hours and no progress. Sometimes aes receivers are cleared, sometimes not, sometimes they remember from other dataframe (which is the worst case as then everything crashes). I don't know what to do with it...

[2016-11-07 21:29] dannyparsons commented on #2124
Should be already

[2016-11-07 21:40] FrancoisJRenaud commented on #2174
One clue I had at some point is that when a ucr is disabled, it cannot be filled and when it is enabled, it seems to hide/clear the prefilled content. Or something like that. But then I m not sure as the testing gave me quite unexpected random behaviours

[2016-11-07 21:48] FrancoisJRenaud commented on #2058
solved isn't it ?

[2016-11-07 21:54] #2058 closed

[2016-11-07 22:03] FrancoisJRenaud commented on #2174
Got a new crash bug:  in the dlgHistogram, after coming back from LayerOptions,
        For Each clsParam In clsRaesFunction.clsParameters
            If clsParam.strArgumentName = "x" AndAlso (clsParam.strArgumentValue <> "value" OrElse ucrVariablesAsFactorforHist.bSingleVariable) Then
                ucrVariablesAsFactorforHist.Add(clsParam.strArgumentValue)
            ElseIf clsParam.strArgume

[2016-11-07 23:15] dannyparsons commented on #2124
fixed by #2197

[2016-11-07 23:15] #2124 closed

[2016-11-08 06:47] stevekogo opened #2201 "Use model selector"
@dannyparsons , @rdstern The use model dialogue in Model>Two variable>Use model has the general selector with variables as the title of the list box. I suggest we edit the title to models its "variables" are models.

[2016-11-08 06:55] stevekogo commented on #2201
Again, we have different use model menus corresponding to the type fit we are carrying out. Does it mean we will be limiting the models to be selected in the Use model selector to the ones from a specific fit? If not, then we should enable the other Use model menus and link the same use model dialogue.

Another option is to have one use model menu which caters for all models.

[2016-11-08 07:23] rdstern opened #2203 "Initial test of the beta release"
Here is my first draft text.  I am still not sure how and where our testers should be reporting?  And we also do need a system and people to respond to the comments that people make.

**Version 0.1 or R-Instat 8 November 2016**

Welcome to the first beta version of R-Instat.  Some people will remember today as the date of the US Election, but it is also exactly one year since the end of our crowd

[2016-11-08 07:39] maxwellfundi commented on #2203
Currently working on stuff for installations. @Lunalo  has taken up the task.

Thanks

[2016-11-08 07:57] FrancoisJRenaud commented on #2174
I think I found the problem. The problem is that in the process of opening the sdgLayerOptions, the link between ucrGeomListWithAes.clsGgplotAesFunction and dlgHistogram.clsRaesFunction is lost. Maybe when in sdgLayerOptions.InitialiseDialog(), or somewhere else. The last call of SetAes is then clearing the content of all the receivers. Will try both following fixes:

- show sdgLayerOptions, first

[2016-11-08 08:06] FrancoisJRenaud commented on #2174
Haha, showing the dialogue before setting it up obviously doesn't work... So the only way is to figure out the links better... Arf, not for beta for sure. So will leave things as they are now. See closed pull request #2200

[2016-11-08 08:09] #2108 closed

[2016-11-08 08:10] FrancoisJRenaud commented on #2174
There is one idea that I got that works and improves things when ApplyOnAllLayers is unticked : it consists in passing dlgSpecificPlot.clsRaesFunction in the setupLayer as both Local and global aes function. Should I implement this for the beta ? Or too dangerous...

[2016-11-08 08:13] dannyparsons commented on #2174
I don't think for now, but can be noted for later.

[2016-11-08 08:36] stevekogo commented on #2201
@rdstern , @dannyparsons Please comment on this issue?

[2016-11-08 08:46] rdstern commented on #2203
I am continuing.
**5. A little housekeeping**

Before getting another picture it would be good to tidy the small data frame we have.  First the name.  Go to the bottom of the screen and <Right-Click> over the name Sheet1.  You should get a simple menu as shown in Fig. 4.  Click on **Rename** and it opens a dialogue.  Type the new name as **Test Prob** and press OK.  It should tell you that names c

[2016-11-08 08:55] stevekogo opened #2209 "Save model in two variable modelling disabled?"
Unlike other modelling dialogues, save model is disabled in two variable modelling. I think this should not be the case.

[2016-11-08 08:58] rdstern opened #2210 "Graphics Correlations bug adds another issue too"
We still need to fix the ggpairs bug.

That's become more serious, because I have now tried on the diamonds dataset and it is still running!  I think that is because of the huge number of levels of some of the "factors".

But it highlights another, more general issue.  Namely I can't close the dialogue, yet, and hence I can't stop R-Instat.  Is there a way we can break out of commands when they ar