[2021-01-07 08:51] N-thony commented on #6111
@rdstern this looks fine for me and I may fix it. Could you please explain to me more where the problem is? Thanks.

[2021-01-09 16:25] shadrackkibet commented on #5013
You only need to ensure that the difference checkbox and its corresponding NUD are disabled if one element is missing otherwise they are enabled. I also think you need to ensure that when it is disabled it is also unchecked.

[2021-01-11 08:14] Patowhiz opened #6153 "Custom Control For Import Dialogs"
@rdstern @dannyparsons @lloyddewit .
Current we have several dialogs that rely on selecting and opening external files. These dialogs have similar implementations in regards to getting the file path.

I suggest that these dialogs should use custom control  similar to `ucrFileInput` which is designed for selecting file paths for exports.

If agreed, we could either extend the `ucrFileInput`  contro

[2021-01-11 08:55] rdstern commented on #6153
@Patowhiz this is probably beyond my "pay-grade", but I agree of course.  I'll let @dannyparsons discuss the detail, but this could usefully be a general point, particularly for new R-Instat programmers.  My understanding is that these custom controls are central to our attempts to avoid repetition and hence should become a topic early on in the life of any new R-Instat programmer.  Perhaps we cou

[2021-01-11 12:50] N-thony commented on #4236
@dannyparsons I would like to fix this bug.

[2021-01-11 13:32] rdstern commented on #4236
@N-thony wait a bit with this one.  It is being worked on now by Ivan.  Once merger than @shadrackkibet will get involved with the fitting of extreme value distributions.  Then we should investigate if the problem still exists.  So keep it in mind.

[2021-01-11 20:33] N-thony commented on #6057
@rdstern Can this issue be taken or is it still under discussion?

[2021-01-11 20:40] N-thony commented on #5885
@lloyddewit Can this issue be taken or is it still under discussion?

[2021-01-11 22:06] rdstern commented on #6057
I hope this is being done by @Patowhiz as he has another change to make on this dialogue.  Good if you can check once he does that.

[2021-01-12 05:34] Patowhiz commented on #6153
@rdstern yes I agree with your point. Would be very useful to new R-Instat programmers.

[2021-01-12 09:12] N-thony commented on #6057
@rdstern thanks for letting me know. @Patowhiz did you fixed this issue? Thanks

[2021-01-12 09:46] rdstern opened #6156 "Small problem to fix on Climatic > Dates > Infill dates"
You will see this with any example of climatic data.  It has appeared recently.  The command works, but adds an extra odd liner in the output window.  Here is an example.  I think it is the new use of the dplyr commands.  It is the summaries line below which appears every time.

[code]

[2021-01-12 09:48] lloyddewit commented on #5885
@shadrackkibet You wrote the PR that is related to this issue (PR #5867) so you probably have a good understanding of how to resolve this issue. Do you have any objections if @N-thony works on this issue? Or would you find it more efficient to resolve this issue yourself?
Thanks

[2021-01-12 14:19] N-thony commented on #5968
@rdstern and @IbrahimDanDije  I didn't find an empty dialog for circlize so I can design and implement at least there is under another name. For this issue #5968 I have to create a new dialog and design it first and enable Circlize under Structured>Circular>Circlize which is disabled.

[2021-01-12 15:01] rdstern commented on #5968
@N-thony yes, I meant to say there is already a space for it in the menu system, so you shouldn't need to work on frm_main.  It presumably needs a new dialogue

[2021-01-12 15:07] rdstern commented on #6082
@N-thony I have just discussed this issue with David - i.e. @volloholic .  He says this is a task for you and should be easy?  That would be great.  But please be ready to ask for help quickly if it isn't obvious what you should do.  I understand it should be a small task.

I found that people have been trying to do this automatically, i.e. instead of going into R-Instat and then opening the data

[2021-01-12 15:21] N-thony commented on #6082
@rdstern sure, I'm working on it. Thanks

[2021-01-12 16:11] shadrackkibet commented on #5885
@lloyddewit this is a good suggestion thanks. I am happy to hand it over to @N-thony. I am also available to support if needed.

[2021-01-13 08:01] #4915 closed

[2021-01-13 08:01] #6033 closed

[2021-01-13 08:42] shadrackkibet commented on #5885
There are more options which can be added into the sub dialog. I suggest we add a button(**Taylor Diagram Options**) disabled for now into this dialog.

[2021-01-13 10:52] rdstern opened #6158 "Sorting out the graphics in R-Instat"
This issue builds on #5996 and then in particular also on #6146.  They should be closed once this is solved.

We are suggesting that @Ivanluv take over from @Patowhiz on #5996, because some changes are needed, resulting from fixing #6146 that are deep in the R-Instat code.  Discussions will involve @dannyparsons , @volloholic and @lloyddewit both on strategy and implementation.

Currently graph ob

[2021-01-13 21:47] Patowhiz commented on #3423
This would need discussions with @dannyparsons @volloholic and @rdstern before it's implemented. I'm not sure if all the dialogs as they are at the moment will be able to take advantage of this feature.

[2021-01-13 21:47] Patowhiz commented on #6057
@N-thony yes I'm working on this dialog.

[2021-01-14 10:23] shadrackkibet commented on #6156
Can I suggest this to be taken up by @HawardKetoyoMsatsi?

[2021-01-14 10:28] shadrackkibet commented on #6115
@HawardKetoyoMsatsi are you able to work on this? Happy to provide support if needed.

[2021-01-14 10:37] shadrackkibet commented on #6074
@HawardKetoyoMsatsi this is another quick one and easy to fix. Are you happy to take over?

[2021-01-14 14:07] HawardKetoyoMsatsi commented on #6074
@shadrackkibet sure, I will take over this over and fix it.

[2021-01-14 14:10] HawardKetoyoMsatsi commented on #6115
Sure, Let me fix this this.

[2021-01-18 13:57] HawardKetoyoMsatsi commented on #6115
I would like someone else take up this task. I may not be able to handle it.

[2021-01-19 11:39] lilyclements opened #6165 "Changes to the Define Survival Dialog"
From PR # the following changes have been recommended:

[2021-01-19 15:05] #6156 closed

[2021-01-19 15:30] #6131 closed

[2021-01-19 15:32] #6142 closed

[2021-01-19 15:34] dannyparsons opened #6168 "Add Link dialog gives error when opening with no data loaded"
From here: https://github.com/africanmathsinitiative/R-Instat/pull/6143#issuecomment-759584030

[2021-01-19 16:21] #6112 closed

[2021-01-19 20:24] dannyparsons commented on #6108
`texmex` and `zyp` added to 0.6.5

`DEscTools` and `MKinfer` can be added in 0.7.0 if PR is merged by then.

Closing this and creating a new issue for next release.

[2021-01-19 20:24] #6108 closed

[2021-01-19 20:25] dannyparsons opened #6174 "Packages for the next release 0.7.0"
- `DEscTools` and `MKinfer` for the one variable fit model #6150

[2021-01-22 09:34] #4760 closed

[2021-01-22 10:44] lloyddewit commented on #6082
This issue is partially implemented by PR #6160 .

In PR #6160 , @dannyparsons commented 'I wouldn't want this to be done on start up, as mentioned this could be done as part of the installation setup. I think that is the usual place for most software. It can then also be an option in our Options dialog for users to turn this on and off.'

Therefore to fully resolve this issue, the installer shoul

[2021-01-22 12:12] rdstern commented on #6115
Great that the first - and most important part of this issue is now fixed.
@shadrackkibet said there would be a second pull request for the second point.  Sorry, but from its repeated use I have a third point that should be very simple to add, hopefully at the same time.
The second test is the number of identical values and 2 is the default for rainfall.  It then says (ignoring zero).  In the comm

[2021-01-24 14:14] shadrackkibet commented on #6115
The duplicate issue here #5017.

[2021-01-24 14:21] shadrackkibet commented on #5630
@HawardKetoyoMsatsi you have been looking into the openair package recently. Could you investigate `modstats()` function to check if there is any other measure we could add to the current compare summary statistics?

[2021-01-24 14:32] shadrackkibet commented on #5888
@rdstern is it correct to say that most of these aspects have been investigated and added? I think this issue can be closed. If there is a specific point not addressed then that should be separate issue.

[2021-01-24 15:01] shadrackkibet commented on #4770
@rdstern as far as I can see all this has been implemented. This should be closed.

[2021-01-25 11:41] rdstern opened #6177 "Adding a stem and leaf plot"
This is a simple graph we don't yet have.  I did not think it was important, but it is mentioned in WMO 100.  And adding it is a simple deliverable for 2021.

There is a simple stem command in the base system and a more flexible one in aplpack package.  The latter includes back-to-back plots.
They both produce results in the output window, which we may want?  But nicer to have as a graph.

[https:

[2021-01-25 11:58] rdstern opened #6178 "Running multiple commands from the script window"
I give the example first and then the ideas that follow.

For WMO we can now produce climate normals.  This is working well.  It is a 3-stage process using the summary dialogue.  For multiple normals the dialogue is used repeatedly, changing the variables and the summaries - sum, or mean, or min or max.

We could finish with a sequence of (say) 12 commands.

Once we have clarified which normals we

[2021-01-25 12:36] dannyparsons commented on #6115
Shouldn't there also be a rain day threshold for the consecutive option as well?
If so, I would suggest there should be a dialog option for rain day threshold that will apply to all the options, instead of multiple options for this. Slightly less flexible but clearer I think.

Also, for "Dry Month" there is a label called "Missing Values Threshold" but what it's used for is the monthly rainfall to

[2021-01-25 13:59] shadrackkibet opened #6180 "Problem retaining the state of an apply option on reopen - filter dialog"
This dialog doesn't retain the state of an apply option (Apply as Filter or Apply as Subset) selected on reopen. Our principle is that dialogs should always retain states on reopen.

[2021-01-25 16:17] shadrackkibet commented on #5901
@dannyparsons @rdstern  what do you think about this? I thought of adding it below as part of the label. For example, if a filter is in operation this will read **Showing 1000 of (54300) | Filter: Filter1 active** if there is no filter it is as it is now.

[2021-01-25 16:58] rdstern commented on #5901
@shadrackkibet I like that idea.  @dannyparsons?

[2021-01-25 17:02] rdstern opened #6181 "Filter doesn't overwrite?"
I have considered this as a small bug - but you may disagree?

I had filter1 for a data frame.  It was incorrect.  So I chose to name the new filter as filter1 to replace it.  It doesn't allow me to do that.  I think it should.

We can delete filters now, so I assume this should be an easy change?

[2021-01-25 17:05] N-thony opened #6182 "Adding conditionalEval function to extend the use of Conditional quantile function"
the conditional quantile and conditionalEval functions are useful for Model evaluation as described in the book on openair package in issue #5974. The conditional quantile function is already implemented in PR #6144. We need to extend this with the use of conditionalEval too.
![image](https://user-images.githubusercontent.com/68591383/105735600-8fca2c00-5f3c-11eb-9676-ede2eec92ee6.png)

After look

[2021-01-25 17:12] rdstern commented on #6029
@N-thony in the previous version, when there were 2 factors, station and element, the facets were in a single column.  Now we can have either station as the column and element as the row.  Or the opposite.  But sometimes I would like then all vertical - as before.  I don't now seem to be able to get that option.  Is there a setting I am missing?  If not, then could that option be re-instated?

By

[2021-01-25 18:16] N-thony commented on #6029
@rdstern Is it this you were looking for?
![image](https://user-images.githubusercontent.com/68591383/105747981-28b37400-5f4a-11eb-95d0-0a921ab7342c.png)

[2021-01-25 18:22] rdstern commented on #6029
The other way round.  That's 4 columns and 1 row.  With 2 stations and 2 elements I would like 4 rows and one column

[2021-01-25 18:38] N-thony commented on #6029
@rdstern This one?
![image](https://user-images.githubusercontent.com/68591383/105750227-27d01180-5f4d-11eb-9024-88225a7d2118.png)

[2021-01-25 18:41] rdstern commented on #6029
Correct.  How did you get this?

[2021-01-25 18:44] N-thony commented on #6029
I think I have changed the code a bit. You would like this to be back as before?

[2021-01-26 07:02] shadrackkibet commented on #6115
If so, I would suggest there should be a dialog option for rain day threshold that will apply to all the options, instead of multiple options for this. Slightly less flexible but clearer I think.

@rdstern any comments on this? If you agree then I treat this as a separate PR and would essentially need reorganizing controls in the dialog.

I will included this change in my current PR.

[2021-01-26 08:01] rdstern commented on #2300
@N-thony this has been dormant for 4 years!  But it hasn't gone away!

I hope you can take it up and actually complete it.  You will need help from @volloholic and/or @dannyparsons.  Start with @volloholic

[2021-01-26 11:37] lloyddewit opened #6185 "Climatic boxplot dialog generates 'argument "x" is missing, with no default' error"
This bug was identified by @lilyclements when she peer reviewed PR #6086 'Improvements on climatic boxplots (adding drop, vjust, hjust and xlab(NULL))'. @shadrackkibet suggested that we document this bug as a new issue.

@lilyclements wrote:

On first opening, input a variable under "Date", "Element", and "Year". Keep the corresponding ucrInput for "Year" as "None", and do not input a variable und

[2021-01-26 11:39] #6081 closed

[2021-01-26 12:04] shadrackkibet commented on #6181
@rdstern can you demonstrate this bug elsewhere? perhaps a skype? Looks like it is an easy one to fix but I can't seem to replicate it. Is it from the filter dialog or renaming of filters?

[2021-01-26 13:18] shadrackkibet commented on #5800
@rdstern @dannyparsons any comments on this?

[2021-01-26 13:25] shadrackkibet commented on #6085
@rdstern @dannyparsons any comments?

[2021-01-26 14:31] shadrackkibet commented on #6181
I now understand this problem. It is actually an issue with preview update and not filter overwrite. You can already overwrite a filter silently. I thought this is something that the user might not want and therefore good to alert the user with a message in the output window when this happens.

[2021-01-26 20:01] N-thony commented on #2300
@volloholic could you please clarify the current stage of this issue? Thanks

[2021-01-27 08:26] #5893 closed

[2021-01-27 08:38] rdstern commented on #2300
Please check above for any further ideas:
The dialogue is there already, see Prepare > Keys and Links > Add Comment
The default (as now) is `Cell`, then (as now), `Row`, then `Column`, then `Data Frame`.
We accept limitations in the initial "system" for Comments.
a)  We don't have anything special in the originating data frame that shows there is a comment.  (That's the red triangle in Excel.  It

[2021-01-27 09:05] #5901 closed

[2021-01-27 09:05] #6180 closed

[2021-01-27 09:05] #6181 closed

[2021-01-27 09:14] rdstern opened #6188 "Adding a scenario dialogue"
Should we have a dialogue that creates a new climatic data frame, or (perhaps better) it adds variables to an existing data frame that sort of correspond to a scenario.  In either case we could have a variable with proposed new dates.

My main aim here is to propose a way to get the possible data for rainfall.  But starting with temperatures we could consider 2 alternatives as follows.
a) As now,

[2021-01-27 20:01] dannyparsons commented on #6188
This sounds interesting. On the rainfall, it would be good to have, as part of these options or a separate option, something that is more guaranteed to adjust the rainfall totals by the specified percentage. In your method, you could be unlucky and remove all the long or all the short rain spells. But I suppose over enough years this should work out pretty correctly for rainfall totals as well?

C

[2021-01-28 09:09] shadrackkibet commented on #6085
@rdstern I thought of using a button instead of clearing of the receiver to remove the current filter. When clicked, it removes the current filter and also clears the filter receiver so that the filter is not activated on return. What are your thoughts?
![image](https://user-images.githubusercontent.com/26301973/106114499-a94bbd80-6160-11eb-85dc-04413df8e246.png)

[2021-01-28 10:16] rdstern commented on #6085
@shadrackkibet I would be quite happy with that.  Currently I use the no_filter to do that.  Clearing within the dialogue would save pressing Return and then having to go back.  @dannyparsons do you agree that we add that button?

[2021-01-28 11:11] shadrackkibet commented on #4621
This has been implemented elsewhere. Therefore this should be closed.

[2021-01-28 12:35] shadrackkibet commented on #4079
This is also on column metadata and cell right clicks.

[2021-01-28 12:41] shadrackkibet commented on #4080
This is now fixed here #6186. Please close.

[2021-01-28 12:51] shadrackkibet commented on #3736
- 3 i.e deleting of filters was implemented in #5818
- OR was implemented in #5921
- @maxwellfundi request was implemented in #6183

Therefore this should be closed.

[2021-01-28 13:31] #4621 closed

[2021-01-29 08:55] Wycklife opened #6190 "Adding climatic datasets to the Instat collection/library"
Add the following data sets to their respective folders in Library>Climatic
[Garoua.zip](https://github.com/africanmathsinitiative/R-Instat/files/5892654/Garoua.zip)_ Create a folder called Cameroon in Library>Climatic>Cameroon. Then add the data set to the folder
[Marrupa (1).zip](https://github.com/africanmathsinitiative/R-Instat/files/5892655/Marrupa.1.zip)_Create a folder called Mozambique in

[2021-01-29 11:01] shadrackkibet commented on #4506
@HawardKetoyoMsatsi can you have a look into this?

[2021-01-29 12:12] shadrackkibet commented on #4259
As far as I can see this has been implemented and merged here #5932.

[2021-01-29 12:38] shadrackkibet commented on #2967
@rdstern by this point do you mean that the same right-click (see below) in the data viewer available via column metadata?
![image](https://user-images.githubusercontent.com/26301973/106275755-6a446780-6247-11eb-916b-f4f3a3f75e13.png)

Currently, we got this in column metadata right-click. I think it should be the same?
![image](https://user-images.githubusercontent.com/26301973/106275840-9364f800

[2021-01-29 12:51] rdstern commented on #2967
I agree it could usefully be the same.  This links with another suggestion on the Windows, (I forget the issue) that sometimes it would be good to have column metadata instead of the data - where we only have 1000 observations anyway.

[2021-01-29 13:15] shadrackkibet commented on #2967
@HawardKetoyoMsatsi this looks like an easy one to look into. Happy with this?

[2021-01-29 13:35] shadrackkibet commented on #2967
@rdstern the column right clicks are also different in column metadata and data view. I think both should be the same.
Column metadata
![image](https://user-images.githubusercontent.com/26301973/106280980-a7145c80-624f-11eb-9230-db90692be7a7.png)

Data View
![image](https://user-images.githubusercontent.com/26301973/106281093-d0cd8380-624f-11eb-9e61-f9ac5d55d44c.png)

[2021-01-29 14:22] shadrackkibet commented on #1792
Same issue as #6018. There seems to be a solution to this in the next version of R see https://github.com/HenrikBengtsson/Wishlist-for-R/issues/54

[2021-01-29 15:36] shadrackkibet commented on #1792
Confirmed that this is fixed in the upcoming version of R (4.1.0)
![image](https://user-images.githubusercontent.com/26301973/106294970-e7300b00-6260-11eb-97dd-3ea6197de91b.png)

[2021-01-29 16:23] rdstern commented on #2967
Agreed

[2021-01-30 21:29] wenjie2wang commented on #5911
@rdstern You may be interested in `splines2::mSpline()` from the latest version of splines2, which returns periodic M-splines if `periodic=TRUE`.

[2021-01-31 09:51] rdstern opened #6192 "Oddity when importing an Excel file"
[MPAT Kenya.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5899471/MPAT.Kenya.xlsx)

This is a potential file for the R-Instat library.
I import just the household data sheet.
If I do it simply - just press Ok, then it is fine.
But there are -99 values in the data.  If I allow for them, then it still imports fine, but now some columns are designated as character that were numeric b

[2021-01-31 11:21] rdstern opened #6193 "Add a double-mass curve to R-Instat?"
This  is mentioned in WMO 100 as a function used in hydrology and climatology.  Perhaps it also has another name?  Under the name double mass I can only find it in the low flow package.  There it is using the ordinary graphs.  I did see a paper in about 1973 that mentions limitations.

I think it is quite simple and we should check further in the hydrology task view.  Perhaps we just implement it

[2021-01-31 12:14] rdstern commented on #6192
@N-thony in the File > Open from File dialogue there is a field called `Missing Value String`.  If that is empty, then importing works fine.  But if I put -99 into that field, then various variables are imported as character and not numeric.

[2021-01-31 16:52] rdstern opened #6194 "Add at least quintiles to summary statistics"
The WMO normals include quintiles.  In our videos I followed the lead from the US and produced quartiles instead.  The main WMO reviewer commented:

"The climate normals video re precipitation demonstrates the calculation of quartiles, following the US approach. It is rightly stated that WMO recommends quintiles. I guess,  R-Instat has the ability to calculate quintiles too, hasn't it? Your confir

[2021-02-01 09:31] rdstern opened #6195 "Add cluster analysis to R-Instat"
This is one of the multivariate methods mentioned in WMO 100.  We already have the others, namely correlations, PCA, Canonical correlations, so this is the one tool missing.

It fits well, in that we are roughly limiting ourselves currently to descriptive methods.

There is a CRAN cluster analysis task view that lists 100 packages.  Two are distributed with base R, namely stats and cluster.

There

[2021-02-01 10:39] rdstern opened #6196 "Importing a file from a web site"
I am wanting to improve logistic regression in R-Instat.  A useful resource is [here](https://stats.idre.ucla.edu/r/dae/logit-regression/).

It uses data from their web site and the commands there are as follows:

[code]
I would like to access this data file using our current Fil > Open from File dialogue.  I suppose in the current dialogue I could use the Browse and search for the location.  But

[2021-02-01 11:06] dannyparsons commented on #6196
Actually, I wouldn't mind if the file location textbox was editable and you could paste a web link in there instead.

However, it's not a trivial change.
- The dialog options need to adapt based on the file type of the selected file, this need to also work for a web link. This also has implications for the file control that Patrick has created.
- The preview currently displays automatically, and r

[2021-02-01 11:16] N-thony commented on #6196
Okay, @dannyparsons thanks for the information about the change requested in this dialog. I will then work on it when @Patowhiz will finish working on this dialog.

[2021-02-01 12:05] rdstern opened #6197 "Correcting and improving the general and other modelling dialogues"
There are real problems with this facility.  As a simple test I tried to do a simple logistic model.  I was using these data:

[class.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5903667/class.xlsx)

The description of the analysis is [here](https://stats.idre.ucla.edu/r/dae/logit-regression/).

I quickly got this error and am stuck and having to restart.
![image](https://user-im

[2021-02-01 22:22] lilyclements opened #6198 ""Filter to Complete Cases" option"
To my knowledge, there is not a quick way to filter a data set to it's complete cases yet in R-Instat.

While it can be performed through the current filter dialog by filtering each individual variable to where there are no missing values, is it possible to have a much simpler and quicker way of doing this? For example, a checkbox on the filter dialog/sub-dialog that says "Filter to Complete Cases

[2021-02-02 09:15] rdstern opened #6199 "IFAD dataset for case study and library"
[Main datafile Kenya - no names or spaces.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5909913/Main.datafile.Kenya.-.no.names.or.spaces.xlsx)

This is a dataset to test R-Instat and to be a case-study for our training courses.
It could go into the R-Instat library under IFAD.
Additional points:
a) There are other files as well that can be supplied, that do analyses (in Excel) and

[2021-02-02 09:57] N-thony commented on #6192
@rdstern I think this is not a problem with R-Instat, it is how to function work. I have tried the code as you can see in the screenshot below and I understood that when you specify a missing value code, the function change automatically the type of columns containing the missing value to a character.
![image](https://user-images.githubusercontent.com/68591383/106583423-bfd18a80-654d-11eb-9461-ac8

[2021-02-02 11:28] #4079 closed

[2021-02-02 11:43] #6085 closed

[2021-02-02 11:59] rdstern commented on #6192
That's just my problem.  Note that the variable Q55.1 doesn't have any values of -99.  If you don't have the na there in the command, then Q55.1 comes in as numeric.  Why should rio's import change it to become character?  Is there an option to prevent that?

[2021-02-02 12:23] N-thony commented on #6192
Yeah, you are right. If the column doesn't have the missing value code in my case Q55.1 doesn't have a value of -99, rio will still keep then NA and change the type of the column to character. I'm going to look if there is an option to prevent that

[2021-02-02 12:28] rdstern commented on #6198
Is there any reason why we can't change the single receiver in the filter to multiple.  Then include (in the pull-down) complete.cases TRUE and also complete.cases FALSE.  With other conditions, e.g. tmax, tmin > 10 it would automatically do either (tmax > 10) & (tmin > 10) or (tmax > 10) | (tmin > 10) depending on the setting of that.

[2021-02-02 20:33] lilyclements commented on #6198
The only issue I can think of is that when factors are selected, there isn't a pull-down menu but instead a factor grid. This would mean we could only have one factor in the multiple receiver at a time which may be a little confusing to the user. Could using the single-to-multiple receiver ucr be appropriate here, where the multiple receiver does not accept factor variable types? I suppose the mul

[2021-02-03 06:52] shadrackkibet commented on #6194
Yes, this is already possible under **more** Tab in the summaries sub dialog. We just use `quantile` function with `probs = 0.2 or 0.4 or 0.6` etc.

I think your option 2 is much more comprehensive and looks into the "future" requests and also include WMO's request and much more. I think there is enough space for this on this Tab if you agree with putting **groups** (common, numeric etc) side by s

[2021-02-03 07:35] rdstern commented on #6194
Thanks @shadrackkibet .  I have alsop checked with @dannyparsons who supports option 2.  On layout I assume it is another block on the main Summaries tab.

Move the Range to be with Min and Max, so that block can be thinner.  Then decrease the space between blocks and there should be enough at the bottom for the additional block.

In the quartiles make the labels short, so all 4 can go on a single

[2021-02-03 08:28] rdstern opened #6200 "Niger climatic dataset for testing"
[Niger4_day_month_year.zip](https://github.com/africanmathsinitiative/R-Instat/files/5916953/Niger4_day_month_year.zip)

I am not sure whether this is for the library as well.  We have proposed the daily data for the library.  This adds monthly and annual summaries.

It is another dataset for @HawardKetoyoMsatsi and others in their testing of the facilities in Describe > One Variable, Two Variable

[2021-02-03 08:48] rdstern opened #6201 "Correct Describe > One Variable > Frequencies"
@HawardKetoyoMsatsi I hope this particular correction is small.  The R-code seems over complicated, by doing wverything in one line and could be simplified.  You may be able to sort this all out on your own, but @shadrackkibet could help if needed.

Currently (for me) this doesn't work for the graph option or for both.  Whether there is a single variable or multiple, it gives an error.  This is on

[2021-02-03 08:57] shadrackkibet opened #6202 "Adding hide/unhide dataframes into Prepare>Data Frame"
I give a demonstration where I needed to **unhide** a data frame. I had one data frame on a data view, I used the bottom right-click to hide it. Of course, the use of hide/unhide data frames is when you have many data frames, it is a sort of housekeeping facility. But this is something a user might do. Now I wanted my data frame again in the data view but I couldn't because I cannot right-click at

[2021-02-03 09:07] shadrackkibet commented on #6202
I notice that this is because I enabled **hide** data frames when there is one data frame. This is the reason why this is not available on the menu.

[2021-02-03 09:07] #6202 closed

[2021-02-03 09:23] shadrackkibet commented on #5244
@rdstern I think this is now possible. This should be closed? It was fixed here #5790

[2021-02-03 11:35] #6007 closed

[2021-02-03 13:41] dannyparsons opened #6204 "Import grib/grib2 data"
A user request:

If there is a suitable R package that can import grib data we could add a new dialog for this in the climatic menu.

Steps to implement:

- [ ] Investigate R packages to import grib files
- [ ] Design a dialog for importing
- [ ] Implement the dialog and add to the Climatic menu

[2021-02-03 15:34] dannyparsons commented on #6204
Further user comments:

[2021-02-04 06:48] rdstern commented on #4029
@Ivanluv I hope you are ok with this work.  It is important and I have spent a long time trying to conceptualise how it should work.  I describe proposed changes in this dialogue.  In parallel we should also add more keyboard to the Model > Fit > Hypothesis Tests Keyboard, particularly for DescStats and also for Mosaic and perhaps for others.

a) The old code should be examined and tidied.  Perhap

[2021-02-04 07:45] rdstern commented on #4029
Here is a sort of script to remind me of some of the tests to be implemented:
[code]

[2021-02-04 08:15] #5887 closed

[2021-02-04 12:55] rdstern opened #6206 "Small bug in the display of the column metadata"
This is certainly in the Column metadata and possibly also in the data frame metadata.

![image](https://user-images.githubusercontent.com/11226469/106895177-cf84d680-66e7-11eb-91d6-050ff63bc61f.png)

The first 2 fields in the column  (and dataframe metadata are the variable (or data frame) name, followed by the label.  When the label is empty - as it often is, then the name field spreads out and

[2021-02-04 13:10] shadrackkibet opened #6207 "Tool bar items - column and data frame metadata, log and script window"
The following toolbar items should be checked when the respective windows are active. This is working when you use the view menu (See below). Ensure sync between toolbar icons and view menu.

![image](https://user-images.githubusercontent.com/26301973/106894655-50e86300-6700-11eb-93a0-c0984f3c8e9e.png)
![image](https://user-images.githubusercontent.com/26301973/106894698-5d6cbb80-6700-11eb-92e8-4c

[2021-02-04 13:15] rdstern opened #6208 "Swap metadata and data window?"
I need to check first with @dannyparsons to see if there are hidden problems with this suggestion.

I know there are plans to have infinite flexibility in the R-Instat windows.  But while we are waiting I suggest a small change,   This is On the toolbar and also in the View menu.
It is `Swap Metadata and Data`

Once we have that, we should check on the defaults.
I suggest in the View menu we simpl

[2021-02-04 13:17] shadrackkibet commented on #6207
My argument is partly because I think the menu items **(Prepare. Describe Model etc)** are part of the layout, therefore, it is logical to reset to default i.e show all menu items when they are hidden.

[2021-02-04 13:24] HawardKetoyoMsatsi opened #6209 "A problem with geom_mosaic"
I was trying to reuse the Codes used in generating Histogram plots under Describe>specific>Histogram. I realized the Aesthetics for **geom_mosaic** are not included

**Steps to reproduce the bug:**
1. Go to 'Describe>specific>Histogram'
2. Click on 'Plot Options>Layers>Add'
3. Click the drop-down arrow on 'Type of Layer (Geom)'
4. Scroll down to 'geom_mosaic'
5. You will notice that Geom Aesthetic

[2021-02-04 13:35] shadrackkibet commented on #5907
The layout in this dialog looks better now. Therefore, I am going to close this issue.

[2021-02-04 13:35] #5907 closed

[2021-02-04 14:09] rdstern commented on #6207
I am not sure if I am following all the points.  I agree with the checks on the toolbar and that the toolbar icon should have the same "Reset to Default Layout" tooltip.

I see a distinction between the extra menus and the set of Windows.  I like the fact that the extra menus are on the view menu, so they are easy to show and hide.  However, I treat the "layout" as referring to the 6 windows and n

[2021-02-05 07:37] shadrackkibet commented on #4108
I think 1 and 2 are done. For 3 I am not sure I clearly understand perhaps @rdstern can explain further, looks like it is a user experience issue. The current icons are sufficiently spaced so perhaps this is no longer an issue?

[2021-02-05 08:26] shadrackkibet opened #6211 "Developer error when adding geom_abline layer"
Adding `geom_abline` layer under Plot Options>Layers prompts you with a developer error. This is confusing to users, it is only meant for developers.
![image](https://user-images.githubusercontent.com/26301973/107007566-c22d2200-67a3-11eb-8315-dfbd7e653de0.png)

[2021-02-05 09:03] shadrackkibet commented on #6197
@rdstern we need to discuss this in general before work starts. Perhaps a Skype involving @lilyclements  @volloholic and/or @dannyparsons will be good. I see this will have implications into the way modelling dialogs were initially conceptualised. I think there is an advantage to the "clever" system otherwise it won't be useful to model in R-Instat (making things easier).

[2021-02-05 12:17] rdstern commented on #6206
@Patowhiz is still quiet, so I am suggesting @N-thony might be able to look at this?

[2021-02-05 15:55] IbrahimDanDije opened #6213 "Trend and P-Value"
I suggest to add the trend calculation and p-value for summaries data(Decadal, Monthly, Seasonal and or Annual)

The trend calculation and p-value are the part of the activity in the department of climate at ACMAD and also Met Services.
It is very easy to do this with R and it could be easy included in the dialogue Prepare: Data Reshape: Summaries.
[Data.zip](https://github.com/africanmathsinitiat

[2021-02-05 15:58] IbrahimDanDije commented on #6213
You will find the data to test this script in Data.zip attached

[2021-02-05 16:28] IbrahimDanDije commented on #6213
![Trend_Precip_1981_2020](https://user-images.githubusercontent.com/67380090/107060509-5795d980-67d7-11eb-8403-f7cee12895f3.png)
See attached the different maps produce using the out put of the scripts: The maps have been done with  QGIS and Surfer. We are working to produce the map with R so for the next we could have I new issue for Mapping
![Trend_Precip_1981_2000](https://user-images.githubuse

[2021-02-07 07:46] rdstern commented on #6197
@shadrackkibet agreed, but I think we can make good progress a bit more "step-by-step".
The "very clever" system has the problem that nothing is happening.  Meantime a sort of "minimally clever system" could be really useful now and is sorely needed.  And I think could be really easy to do, from where we are now.
I also feel it is important and useful for you to play a hand in this, but not that y

[2021-02-09 10:18] rdstern commented on #4029
The tests more clearly:  The stats package is the default and it is just given.  The package name doesn't need to be added.  I (usually) add the package name if different.

(Note that some variables could be logical - that is noted as logical and is the same as categorical with 2 levels here.  A date variable is given as such, and is numeric.  For now give ordered categorical as such, but nothing

[2021-02-10 10:52] rdstern commented on #5286
We now do have a dialogue to install a new package It is in Tools menu.  It works fine in the development version of R-Instat.  In the released version it however insists that we run as an administrator.  Some users can do this.  I right-click on the icon to run and choose to run as administrator.  But not everyone will be able to do this.  If I am using RStudio, then I don't have to be an adminis

[2021-02-10 17:26] IbrahimDanDije opened #6215 "Annual Cycle and Profile Graphs on precipitation data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-12 12:02] #6194 closed

[2021-02-15 16:14] lilyclements commented on #6192
The issue is that there are missing values for some variables in the data set which are given by a blank cell (e.g. for `Q55.1`, but not for `Q7`). These cells, for some reason, become characters when imported into R if the `na` argument is specify.

To fix this you need to run `na = c("-99", "")`

e.g.
[code]

[2021-02-15 16:18] N-thony commented on #6192
Thanks @lilyclements , this is very helpfully.

[2021-02-15 17:37] lilyclements commented on #6165
@rdstern you requested three changes to the Define Survival dialog which are given above. To number 2:

If the item in the status receiver is a logical variable and the user clicks "Modify Values", the options in a pull down are TRUE/FALSE already.
If the item in the status receiver is a numerical variable then TRUE/FALSE won't be present in the variable, hence shouldn't need to be present in the

[2021-02-15 17:57] rdstern commented on #6165
@lilyclements that sounds fine

[2021-02-15 19:31] lilyclements opened #6224 "Reverse Legend Order for Scatterplot Matrix"
**The Problem**

In the legend for a scatter matrix in the correlations dialog, the levels are the "wrong way" around.

To replicate:
1. Import a data set (for example the `iris` data in the `datasets` library)
2. Open `Describe > Multivariate > Correlations > Options > Scatter Matrix`, and include `Species` as a factor. On the main dialog, pick `Sepal.Length` and `Sepal.Width`. Click OK
3. The fa

[2021-02-16 16:06] lilyclements commented on #6165
@rdstern to point 3, I am unsure how to add in "Censored when status = ..." into the R output window when the modify checkbox is unchecked (that is, if the user does not specify which value represents censoring) since we do not have anywhere on the dialog for the code to "read" what the value is when status is censored (unless it is a logical variable).
I can add in a generic comment using the R h

[2021-02-16 23:04] rdstern commented on #6165
I see all this in 3 as a luxury, just giving details to help on what has been defined and when it is easy.  So happy with your 1 and 2 stations above.  If there are some instances where it is messy, then happy if you omit saying anything in those cases.

[2021-02-18 08:02] rdstern commented on #5789
This issue has come back again, with problems on data input from Zambia.  Could we change the browse so you can select multiple files?  They then appear as do Excel sheets?
Almost all the situations for me will be where the file extension is the same.  So that could perhaps be checked.  Maybe choose all with the same extension as the first file.  They will come into separate sheets, so should ther

[2021-02-18 08:38] #2967 closed

[2021-02-18 08:38] #5250 closed

[2021-02-18 09:31] isedwards commented on #3721
@dannyparsons - There are three commits in the [Climsoft/#592](https://github.com/climsoft/Climsoft/pull/592/commits) pull request for adding language translation.

- [bb1d840](https://github.com/climsoft/Climsoft/pull/592/commits/bb1d84071d95a9290629a4d499b083b3a2eddfd3) adds the command `SimpleTranslateTool.translateForm(Me)` to every form. You can ignore this commit. Hopefully in R-Instat all f

[2021-02-19 10:32] rdstern commented on #4806
This seems to be as far as we have got in the past 2.5 years.  I suggest we need another tab on the plotting sub-dialogues.  It is probably called Colour or Colour Scales?

This is complicated, but is now well described here in [Chapter 11](https://ggplot2-book.org/scale-colour.html).

I suggest that whatever we do, this is an instance where there will be more to add, and hence being able to edit

[2021-02-19 12:29] Patowhiz commented on #5789
@rdstern and what should happen if a file is an excel file with multiple sheets in it?

[2021-02-19 12:31] Patowhiz commented on #5789
We may need to have  a wider discussions on how to well handle different scenarios consistently with user expectations.  A simpler way could be first implementing this feature with clear limitations.

[2021-02-19 12:57] rdstern commented on #5789
I agree to keep it simple.  My first impression on your previous question is that it does not apply to multiple Excel files, because they are already potentially multiple already.  Possibly it also doesn't apply to multiple rds files, because they can also provide multiple data frames.

Maybe it should be renamed to "input permitting multiple data frames"

[2021-02-19 13:16] Patowhiz commented on #5789
@rdstern yes, and that means probably running vb.net and R code in the background to validate the permitted files, in the case of checking files that have multiple sheets in them.

@dannyparsons what's your suggestion on this?

[2021-02-19 14:35] #5244 closed

[2021-02-19 15:05] shadrackkibet opened #6228 "Rain day threshold for the consecutive option on Rainfall quality control"
- [ ] Shouldn't there also be a rain day threshold for the consecutive option as well? If so, I would suggest there should be a dialog option for rain day threshold that will apply to all the options, instead of multiple options for this. Slightly less flexible but clearer I think.

- [x] Also, for "Dry Month" there is a label called "Missing Values Threshold" but what it's used for is the monthly

[2021-02-19 15:08] shadrackkibet commented on #6115
Opened a new issue outlining what is remaining. Therefore I am going to close this.

[2021-02-19 15:08] #6115 closed

[2021-02-19 15:16] shadrackkibet commented on #6018
See another duplicate issue referenced above.

[2021-02-19 15:16] #6018 closed

[2021-02-19 15:24] shadrackkibet commented on #5925
@rdstern any response? Looks like @lilyclements did fix this she is only awaiting your reactions.

[2021-02-19 15:52] rdstern commented on #5925
@lilyclements and @shadrackkibet no that sounds all good to include and fix.

[2021-02-19 16:00] rdstern commented on #6228
@shadrackkibet I agree with your also, which should be labelled better.

I don't have a problem with a threshold for (daily) rain, being applied by default overall.  In the consecutive rain days I have tended to be ok to have it as non-zero values.  The main point I am checking for here is situations where the values are suspicious, indicating they were probably something other than rainfall in th

[2021-02-20 17:12] #4259 closed

[2021-02-20 17:27] shadrackkibet commented on #6228
In my list of tasks for the rainfall I agree that the consecutive could do with a threshold value.  Perhaps Shadrack could also check for the omit zero in the outlier.  Maybe they could be the same threshold and just set once.  So the threshold box - already there, moves left and is always visible.  Default is 0.05.

The Outlier option which is currently Omit zero becomes "Omit below threshold"
Th

[2021-02-20 17:29] shadrackkibet commented on #5017
The duplicate issue here #6228.

a) Fixed here #5914
b) Fixed here #6179

Moved this here #6228 where it belongs.

[2021-02-20 17:29] #5017 closed

[2021-02-20 17:36] shadrackkibet commented on #3857
The duplicate issue here #5789

[2021-02-20 17:36] #3857 closed

[2021-02-20 17:42] shadrackkibet commented on #4641
This has been implemented here #5957 also see below the current design.

![image](https://user-images.githubusercontent.com/26301973/108603937-d7b56500-73bb-11eb-8446-99863cb6c88b.png)

[2021-02-20 17:42] #4641 closed

[2021-02-20 17:57] shadrackkibet commented on #5295
The current design looks good (see below). It was updated extensively by @lilyclements in PR #5848.

Regex is a huge topic and discussions started in #5472.

![image](https://user-images.githubusercontent.com/26301973/108604140-097afb80-73bd-11eb-9862-580e444b000e.png)

[2021-02-20 17:57] #5295 closed

[2021-02-21 11:59] #4080 closed

[2021-02-21 12:02] shadrackkibet commented on #6111
This was fixed via the linked PR above.

[2021-02-21 12:02] #6111 closed

[2021-02-21 12:09] shadrackkibet commented on #5903
@Ivanluv is there anything remaining here? Otherwise, we can close this.

[2021-02-21 12:24] shadrackkibet commented on #4529
As far as I can see much of these has been implemented elsewhere. Open a new issue with the specific aspects of the filter that still remain.

[2021-02-21 12:24] #4529 closed

[2021-02-21 12:32] shadrackkibet commented on #4865
@rdstern is this feature still needed? We can assign someone. Should be easy to add.

[2021-02-21 12:59] rdstern commented on #4865
I suggest @dannyparsons should confirm we don't need this item anymore.

It links to an item in his in-tray that we do need, and that is the convert to numeric - that he is changing, namely #5465.  I think with that, we don't need this one?

[2021-02-21 16:48] rdstern commented on #5465
@shadrackkibet I am re-opening this one as it was the other that can close.  This is what @dannyparsons is working on.

More generally I am really pleased you are going through the old issues in this way.

[2021-02-21 16:56] #4865 closed

[2021-02-22 08:08] rdstern opened #6229 "Another bug in the File > Open from File dialogue"
**Describe the bug**
a) I use File Open and then open 6 Excel sheets from the library - in the Instat Experimental file.  This is fine
b) I return to the dialogue and now open a single file Chipata1.dly
c) It refuses and the second line shows it has not changed the saving line.  It is still trying to save the 6 data frames from the previous command.

Here is the error message:
![image](https://use

[2021-02-22 08:33] Patowhiz commented on #6080
I noticed the event listened by the` dlgCalculato`r for this functionality was not being raised. I've added the implementation. So this should also work for any other dialog using `ucrCalculator `

[2021-02-22 11:41] #6207 closed

[2021-02-22 13:17] shadrackkibet commented on #5963
prob1 c(0.01, 0.05, 0.1, 0.2, 0.5, 0.8, 0.9, 0.95, 0.99)
prob2 c(0.5, 0.8, 0.9, 0.95, 0.98, 0.99, 0.995, 0.998, 0.999)
quant1 seq(-4,4)
quant2 c( 40, 50, 60, 80, 100, 130, 160, 200, 250)

@rdstern do we need tooltips for this? Examples in this dialog have tooltips.

[2021-02-22 14:14] Patowhiz commented on #6080
@rdstern I've been looking at **Climatic > Prepare > Transform**
Below is the script code that produces the column.

[code]

The above script code is different in sequence of events compared to other dialogs. Inside `instat_calculation$new` function is where the new column (`result_name="cumsum"`) is produced.
To make this dialog use the ucrSave control, we could either;

1. Extend the `instat_cal

[2021-02-22 16:40] #6045 closed

[2021-02-22 16:53] rdstern commented on #6080
@Patowhiz you are correct to query why we need a checkbox for the Prepare > Check > Duplicates.  Keep it as it is now.
However, on the Duplicates could you add the summary command just the same as it is for Prepare > Check Data > Non-numeric
This is the line that says something like:

`summary(object=data_book$get_columns_from_data(data_name="survey", col_names="dup2"))`

It is nice that there is

[2021-02-22 17:12] dannyparsons commented on #6080
We should do this with option 1., which will make it easy from the front-end side since it can have the same position parameters as `DataBook$add_columns_to_data`. When implementing this in `instat_calculation$new` need to remember that an `instat_calculation` is very general, it may result in a new data frame/summary, subset, column or columns, so position will not make sense in some cases. For s

[2021-02-23 06:27] Ivanluv commented on #5903
@shadrackkibet there's nothing remaining

[2021-02-23 07:32] #5903 closed

[2021-02-23 08:01] shadrackkibet opened #6234 "View dataframe dialog - Change the default option position at the top"
The default option in this dialog is All columns. I suggest we move this option to the left of this dialog so that we have All columns then choose columns so that it is consistent with other dialogs where we use custom radio buttons at the top.

![image](https://user-images.githubusercontent.com/26301973/108815233-2c77fc00-75c5-11eb-8b15-b62e4b70dd7b.png)

[2021-02-23 10:47] rdstern commented on #6234
Agreed, and really happy with the detailed work that @shadrackkibet is proposing and doing.  This consistency is particularly useful for the beginner users that we have and where we emphasise that R-Instat helps to "make it easy"

[2021-02-23 12:29] rdstern commented on #2328
@dannyparsons can we consider how to accommodate more structures in R-Instat - perhaps in the forthcoming version 7.  We have dates and could perhaps (here? have times and possibly also recognise date times.
I would like to start being able to cope with hourly data in some way, particularly as we have the era5 data as well as synoptic data now from West Africa.

In addition with have the new struc

[2021-02-23 14:46] #3736 closed

[2021-02-23 16:45] #2328 closed

[2021-02-23 21:05] Patowhiz opened #6239 "The Duplicates Dialog provides summary of the result in the Output window"
As mentioned in [comment](https://github.com/africanmathsinitiative/R-Instat/issues/6080#issuecomment-783515128) by @rdstern. A summary command should be added in the **_Prepare > Column: Calculate > Duplicate_** dialog

[2021-02-23 21:09] Patowhiz commented on #6080
@rdstern I have separated the addition of summary command in a separate issue #6239 to ease reviewing. So I will do that in a separate PR.

Will do the duplicates dialog and item (a) mentioned above in PR #6232

[2021-02-23 21:18] Patowhiz opened #6240 "Setting the default new column position for dialogs that use a multiple receiver"
Currently, dialogs that have a single receiver can produce a new column and have it set next to the selected column by default.
As mentioned by @rdstern above, this feature needs to also be support dialogs that have multiple receiver.

[2021-02-24 05:23] #6148 closed

[2021-02-24 05:37] shadrackkibet commented on #5810
This was implemented and merged in #6150. Open a new issue if there is anything specific that needs to be fixed.

[2021-02-24 05:37] #5810 closed

[2021-02-24 12:33] #6234 closed

[2021-02-25 08:15] rdstern commented on #6206
Here is another example.  I can send @N-thony the file once work starts, but don't want it to become public on github

![image](https://user-images.githubusercontent.com/11226469/109123375-ad5c0280-7741-11eb-9b9d-85506dd2df04.png)

[2021-02-26 13:00] Patowhiz commented on #6206
This possibly relates to how the reogrid is being filled and how it correctly casts the data types displayed.  Will be interested to see how this is solved.

[2021-02-26 13:04] N-thony commented on #6206
Exactly!

[2021-02-26 13:31] lilyclements commented on #4806
I've had a look at the `scale_colour_viridis` and `scale_fill_viridis` functions and so have some comments
The following also applies to `scale_colour_viridis` in the viridis package, and the `colour` argument in ggplot2:

* `scale_fill_viridis` only has an effect if the `fill` argument is used when creating the plot
* If the fill argument works in `ggplot2`, then it works in `viridis`
e.g.
[code]

[2021-02-26 13:36] lilyclements commented on #4806
I also looked at scales for circular data. While I can't find a package which does it directly, we can do it with the `scale_fill_hue` function in the `ggplot2` package. Provided that this function reads in the parameter and value `h = c(0, 360)`, it looks fairly circular.

[code]

![image](https://user-images.githubusercontent.com/21180424/109306745-854ecb00-7837-11eb-9d8f-71389433b74f.png)

We c

[2021-03-01 09:33] rdstern opened #6243 "Writing commands in the possible new output window?"
In #5627 on of the major changes proposed is to have an improved output window.

If so, then what can it do that is improved is the question I address here.

I give an example of something I would like, which is to be able to edit commands in this window.  Here is an example from the Model > Show Model Dialogue.  In the output window it generated the wrong code, namely:

[code]
Here it is in conte

[2021-03-01 11:40] #5589 closed

[2021-03-01 11:40] #5606 closed

[2021-03-01 11:40] #5590 closed

[2021-03-01 11:40] #5602 closed

[2021-03-02 14:55] Patowhiz opened #6244 "Setting default position of the new column for all dialogs that use ucrSave control"
As requested by @rdstern the default position of new column created by dialogs that use ucrSave should be after the selected column.

[2021-03-02 14:56] Patowhiz commented on #6244
This can be done by linking the receiver to the `ucrSave` control in the dialogs.

[2021-03-03 11:05] #5929 closed

[2021-03-04 18:33] kikeorellut opened #6249 "stats.dll is not found"
**stats.dll is not found**

I have been using R for several years. Recently, I have met R-Instat thanks to training program by Eumetsat. I decided to follow a webinar and some tutorials, concretely this one: https://training.eumetsat.int/course/view.php?id=381

But, my story with R-Instat has been very short. I have errors in my two tries:

a) opening diamonds dataset (http://r-instat.org/Resource

[2021-03-05 04:27] shadrackkibet commented on #6249
Please try the solution provided here https://github.com/rdotnet/rdotnet/issues/62#issuecomment-369065108

[2021-03-05 06:52] rdstern opened #6250 "Adding data entry - grid (spreadsheet) style - to R-Instat for daily climatic data"
I specify the problem, using Zambia Met service as a case study.  I suggest a simple solution could be useful more generally.

Zambia Met would like to update the daily records of rainfall and max and min temperature in 6 stations in Southern and Eastern Province. Their current data is in Clicom format.  It imports easily into R-Instat and is easy to tidy.  They currently have 2 data entry staff.

[2021-03-06 10:02] rdstern commented on #6070
I have been using for some time with 100 variables visible and not had a problem.  For the climatic data a common starting point is a variable per day of the month.  So an addition of even up to 40 variables would be useful.

I remain quite happy with the idea of it being a window, so suggest testing during the code sprint - how about with 60 as the new limit?

[2021-03-07 09:45] rdstern opened #6251 "Add boxplots without box when needed - from Tufte?"
One example [here](https://stackoverflow.com/questions/2076370/most-underused-data-visualization) of a neglected graph is the adaptation of a boxplot, without the unnecessary box.

Here is an example - the code uses lattice, but you will get the idea:
[code]
The resulting boxplot is like this:
![image](https://user-images.githubusercontent.com/11226469/110220080-4960d900-7ebb-11eb-8a1b-cd4b0c26b3b

[2021-03-07 11:35] rdstern commented on #5276
@shadrack can this be closed?

[2021-03-07 11:42] rdstern commented on #5367
@dannyparsons can this be closed now?

[2021-03-07 11:46] shadrackkibet commented on #5276
Yes

[2021-03-07 11:46] #5276 closed

[2021-03-07 12:32] rdstern commented on #5489
There is another problem I find with the dialogue.  When set for dates for y axis it insists on always setting the lower limit again.

[2021-03-07 18:28] rdstern commented on #6044
@dannyparsons I think this can be closed?

[2021-03-07 20:07] N-thony commented on #6182
@rdstern the conditionalEval function was implemented in PR #6144.

[2021-03-08 14:32] shadrackkibet commented on #3898
@rdstern I suggest the addition of icons on the side of menu items in R-Instat. This is something that is done in other statistical software for example **SPSS**. See below examples

![image](https://user-images.githubusercontent.com/26301973/110333773-104b7480-8033-11eb-8188-7d548dd3eaa8.png)
![image](https://user-images.githubusercontent.com/26301973/110333848-235e4480-8033-11eb-9775-9fd5854dd9a

[2021-03-08 14:37] rdstern commented on #3898
@shadrackkibet I like that idea.  What does spss do on more specialised dialogues?  I quite like the idea also as we start translations.

[2021-03-08 14:45] shadrackkibet commented on #3898
They have icons for almost all dialogs.

[2021-03-08 15:27] shadrackkibet commented on #3898
Icons can be added to the dialogs as well. For example

![image](https://user-images.githubusercontent.com/26301973/110341849-d763cd80-803b-11eb-91cd-00803ec45aba.png)

[2021-03-08 19:32] rdstern commented on #4798
@dannyparsons and @maxwellfundi I think this is now resolved?

[2021-03-08 20:40] rdstern commented on #3772
@N-thony is looking at the metadata problem.  I am not sure if the other problem is still there?  If so, it could be copied to a separate issue

[2021-03-08 20:43] rdstern commented on #3634
I think changes in this dialogue may have resolved this issue

[2021-03-08 20:45] rdstern commented on #3541
@dannyparsons is this still relevant?

[2021-03-08 20:49] rdstern commented on #3440
@shadrackkibet has been improving the filter system.  I don't know if this is still relevant?

[2021-03-08 20:59] rdstern commented on #3025
@N-thony is examining this issue which is reported repeatedly.  One small advance is that the metadata first shows the name of each variable and then the label.  If there is a label, then the problem disappears.  We could always have a label, or perhaps there is a way that the reogrid field is not empty, even when there is no label.
The problem is the same for the column metadata and the data fram

[2021-03-09 08:37] shadrackkibet commented on #4798
Yes

[2021-03-09 08:37] #4798 closed

[2021-03-09 08:50] shadrackkibet commented on #3440
Yes, 4 is still relevant. However I am going to close this because we have a duplicate issue #5793

[2021-03-09 08:50] #3440 closed

[2021-03-09 10:14] rdstern commented on #6250
I discussed with @volloholic who is happy with the idea, but suggested a (possibly) simpler system.
This is to enter the data into the eisn't to the existing data frame, rather than making new ones.  I specify how this might work.  It is for data already entered and reasonably tidy, but I specify below how it could easily be adapted for new data.
a) Button at the top with Daily and Monthly as the

[2021-03-09 11:31] lloyddewit commented on #4444
@rdstern I think I fixed this in PR #5796. In any case, I cannot recreate the error above.
Please could you test and close if you think its resolved? thanks

[2021-03-09 15:21] rdstern commented on #3898
We did some work earlier when updating the toolbar.  Rachel - who worked on it says of possible icons:

"There are websites with thousands of them. You can get some for free and others you pay very small fees for the copyright. "

So, I am quite tempted to try making some progress on this?

[2021-03-09 19:30] rdstern commented on #4372
It is illogical that we have Hide and Unhide on the Sheets right-click and not on the Columns right-click.
I suggest:
a) Add Hide/Show... to the Column right-click.  It is a single entry and always visible and goes to the Prepare > Data Frame Hide/Show Columns Dialogue.
b) Change the 2 entries for the Sheet Hide and Unhide - I think they are set wrong now.  Again they are Hide/Show... and they go

[2021-03-09 19:55] rdstern opened #6253 "Import ERA5 files"
We now have a dialogue Climatic > File > Import from IRI Data Library.
We need a similar dialogue for Climatic > File > Import ERA5 Data, or Import Copernicus ERA5 Data?

I hope the existance of the IRI dialogue will make it easier to construct this dialogue.

@dannyparsons to specify and then allocate to someone.

[2021-03-09 20:10] rdstern commented on #6057
@Patowhiz is this going to be fixed and closed when the main calculator pull request is merged?

[2021-03-09 20:52] Patowhiz commented on #6057
@rdstern yes. The event was not being raised in the ucrCalculator. That is now fixed in the PR.

[2021-03-10 13:17] Wycklife opened #6254 "Minor Issue with the position button in Row Numbers/Names dialog"
The position button is not aligned in Prepare>Data Frame> Row Numbers/Names. Click on the first option (Copy Row Names Into Columns).

[2021-03-10 15:06] shadrackkibet commented on #6254
This is a general issue in the save control that should be easy to fix from the designer. @HawardKetoyoMsatsi @N-thony are you happy to take up this?

[2021-03-10 16:46] rdstern commented on #6254
Aaah yes.  Interesting to know what it does when the item being saved isn't a column in the data, but another object.  I see that Save Model etc also now has the position button!

[2021-03-10 19:53] shadrackkibet commented on #6254
@rdstern this is a bug that was introduced by the changes in #6230. It affects dialogs that use save controls.

[2021-03-10 20:01] rdstern commented on #6254
@shadrackkibet good you found it so quickly.  @Patowhiz is looking into it.  More generally it exposed a failure of our testing, i.e. when a user control is changed then we should be aware that it could affect many dialogues.  That's the whole idea of the user controls after all.  Often we like that, but this is an example that is a bit more complicated.

It shows where we (testers  and developers

[2021-03-11 06:06] rdstern commented on #4918
I hope the 2021 code sprint can allow an investigation of this issue.
Currently the limits are 1000 cases by 30 variables.

There are 3 linked parts to the investigation:
a) Should the default limits be changed with climatic applications in mind?  In my climatic work 30 variables is sometimes limiting.  Even 40 would be better and 100 would be more than I need.  In cases (rows) I usually have many

[2021-03-11 22:46] rdstern opened #6258 "Implement R-Instat in Wine and test the implementation"
My hypothesis is that the Wine implementation of R-Instat

[2021-03-11 23:02] rdstern opened #6259 "Analysing a survey data set that may have many variables. Data from Pakistan and Kenya"
A dataset is avaialble for a reasonably large survey.  It is originally in SPSS and has 330 variables and about 53000 cases.  We should (eventually) be able to process the data easily in R-Instat.  Currently it seems awkward.  What can we do about it?

It is also useful to investigate a dataset from a similar type of survey from Kenya!

These are both examples of MICS surveys from UNICEF.  The sit

[2021-03-12 08:28] rdstern opened #6261 "Improving the training materials to introduce R-Instat to different users"
To be written propoerly.  First draft below:
James,

a)	We now have the 2 tutorials on R-Instat.  They will be pdf files and updated (by Rachel) in time for the sprint.  They are designed for anyone to follow as they start using R-Instat.
b)	We also have a video version of each tutorial (about 7 minutes each)
c)	And we have a companion video for each tutorial that explains what we hope beginners c

[2021-03-12 11:47] lloyddewit commented on #6254
I agree with @rdstern. Testing is an art. We should not only test the directly changed functionality but also try and think of possible side-effects that the change may have caused. Not easy!

[2021-03-12 20:38] rdstern commented on #6250
@Patowhiz I have been discussing the provision on R-Instat for Zimbabwe Met Service.  Our support for this would be funded by WFP.  There is an element of data rescue in the initial work, and they need to start with R-Instat and then add climsoft later.

Hence the data entry, probably as described here, becomes a high priority for the version at the end of March.  I hope that is not too much work

[2021-03-13 07:38] rdstern commented on #6259
We are working with a Professor of statistics from Pakistan.  She uses data from a MICS survey to enrich her teaching of statistics.  Similar data are available for many countries.
![image](https://user-images.githubusercontent.com/11226469/111020353-1cca2700-83bd-11eb-82ab-f5b2ee734c08.png)

Perhaps, then many teachers of statistics could make use of MICS surveys similarly?
How should they do thi

[2021-03-13 08:49] rdstern commented on #6259
Another use of these datasets is to test existing and new routines in R-Instat.  In particular, the analyses of these data - almost all categorical - is via tables and graphs.  That's the describe menu in R-Instat.  I use the Experimental Survey data set a lot (as a small convenient set).  It is good to have a much larger survey and these are fine.

[2021-03-13 16:13] rdstern opened #6263 "Ways to handle wide data sets in R-Instat"
A possible "solution" to this issue is here #4009 .  This adds the SPSS idea of sets of variables.

We have another interesting dataset to use as an example.  This is (or are) the MICS surveys. They are described here #6259.

I also found an excellent discussion on [stackoverflow](https://stackoverflow.com/questions/9425194/what-is-the-most-efficient-way-to-select-a-set-of-variable-names-from-an-r

[2021-03-13 16:36] rdstern commented on #6263
Here is the current Hide/Show dialogue:
![image](https://user-images.githubusercontent.com/11226469/111036642-1b7a1800-8418-11eb-92b5-ae2cab6ee657.png)

One small problem with the current dialogue, with a wide data set, is that it would be simpler to choose what you want to keep, rather than what you want to hide.

So, At the top we add a checkbox which says Select Variables to Hide.  If unchecked

[2021-03-13 17:59] rdstern commented on #6190
Following the set of videos, adding these is now a substantial (and very useful) task

To all those, the next set of videos will use data from Germany.  Could you therefore add Germany to the list of countries and then include the following rds file there.
[germany4.zip](https://github.com/africanmathsinitiative/R-Instat/files/6135250/germany4.zip)

There is another file to come, with satellite da

[2021-03-13 20:30] rdstern opened #6264 "Addition of a timer to the tools menu in R-Instat"
I wonder if it would be really easy to add a timer?
[Here](https://www.r-bloggers.com/2017/05/5-ways-to-measure-running-time-of-r-code/) is information on five ways this could be done.
I hope this might be very easy to do, as follows:
a) Have Add timing to the tools menu.  Default is unticked .  If you select it, then it is ticked.
b) If ticked, then when you press OK it gives the time in the outp

[2021-03-13 21:16] rdstern opened #6265 "Simplify the use of the merge dialogue"
This dialogue works well.

The one complication is that when you click on Merge Options, the resulting sub-dialogue looks more daunting than need be.  I suggest the Merge Options button be renamed as `Joining Columns`.  There is a second button on the right - or below the Joining Columns button.  It says `Columns to Include`.

This stops the need for the sub-dialogue to be tabbed.

Further, I sugg

[2021-03-13 22:21] rdstern commented on #5299
Check if this is still a problem.

After going to the sub-dialogue to select specific points (station locations) to import I returned to the main dialogue.  There was no message on what I was about to import when I pressed ok.  Ideally as well as saying how many files it has to read, it might also say how many grid points it will import, once I press OK.  Then when I return from the sub-dialogue t

[2021-03-13 22:52] rdstern opened #6266 "Display of data types in the R-Instat grid"
Currently we define some types of data.  This could usefully be extended - at least visually in the grid.
For example, from the structured menu, we can define columns to be `circular`.  Then this is noted in the column metadata, but nothing is indicated in the name in the grid.
We can now define columns as `survival`.  This is not noted (currently) in the metadata, nor the grid.
We will have low f

[2021-03-14 06:56] rdstern opened #6267 "Change the control to select variables in a data frame"
This is the current control used to select variables:

![image](https://user-images.githubusercontent.com/11226469/111059663-3dfb4800-848f-11eb-9412-41460497b61a.png)

(I am not sure whether the data frame part is within the control?)
The edits I suggest are to the Variables part of the control.
a) Add a button called Select, between the Add and the Data Options.  Initially it probably should be d

[2021-03-14 08:38] rdstern commented on #6267
After discussion with @volloholic I am closing this new issue.
He has convinced me that this control should remain as it is!  Instead we implement the next component of the data options, which is therefore probably another tab on the data options, rather than another button on the data selector.

The main reason for that way is that the longer term plan is for there to be further data options, lik

[2021-03-14 08:38] #6267 closed

[2021-03-14 21:46] rdstern opened #6268 "Define climatic data is not (fully?) remembered from one session to another"
This was mentioned by Rachel.

When she returned to R-Instat and opened an rds file defined as climatic, she claimed that it didn't remember that it had been defined.  @dannyparsons mentioned he knew of that bug.

I hadn't noticed it myself.

[2021-03-14 21:52] rdstern opened #6269 "Improve speed of check for uniqueness in define climatic data"
With very long datasets (e.g. 5 million rows) that you can easily get from the satellite data, the check for uniqueness seems very slow - i.e. other things took a bit of time, but I had to abort R-Instat after perhaps an hour.

There must be a way of doing this check faster?

[2021-03-15 05:26] rdstern commented on #6261
Here are the tutorial guides updated.  Please use and critique and also see how they might be useful.
[R-Instat Introductory Tutorial Part 1.zip](https://github.com/africanmathsinitiative/R-Instat/files/6138978/R-Instat.Introductory.Tutorial.Part.1.zip)

[2021-03-15 07:59] lloyddewit commented on #3721
@maxwellfundi I will work on this issue

[2021-03-15 09:51] #6229 closed

[2021-03-15 10:21] dannyparsons commented on #6266
I would prefer different codes for different types of columns. I don't see a problem with users learning a few codes, particularly as they may not use all of them regularly, and only a few will be in a particular dataset.

I feel that the general codes will be less useful and ambiguous, I don't really see an advantage to grouped codes.

[2021-03-15 10:34] rdstern commented on #6266
So, I now know what you don't want!

a) Do you want to keep D for date, or change it to d?
b) What do you want for date-time?  Also d or perhaps d_t?
c) And t for time
d) Then are you happy with s for structure, or would you like a different code for each type.  So perhaps c for cu=ircular, s for survival, etc

As you can gather, I really don't mind, but would just like us to make a decision!

[2021-03-15 10:40] dannyparsons opened #6271 "Default names should start without a number"
Default column/data frame/object names currently go in sequence e.g. `date1, date2, date3, ...` until an available name is reached.

I suggestion optionally allowing the sequence to start without a number e.g. `date, date1, date2, date3, ...`

This option can be the default. It will ensure more concise names and avoiding numbers unnecessarily.

[2021-03-15 10:42] #6254 closed

[2021-03-15 10:45] rdstern commented on #6271
I would prefer that, e.g. starting with date.  I assume it is just one global change?

[2021-03-15 10:47] dannyparsons commented on #6271
Yes, global for all dialogs. I assume this default is sensible in general. It can be changed back on individual dialogs if desired.

[2021-03-15 10:49] rdstern commented on #6271
Great.  Can you do, or allocate to someone?

[2021-03-15 14:10] dannyparsons commented on #5299
I've moved the addition to a separate issue.

[2021-03-15 14:13] dannyparsons opened #6273 "Improve NetCDF import column names"
Use standard names: `date`, `datetime`, `station` to make output easier for merging with station data.

[2021-03-15 14:16] dannyparsons opened #6275 "Display import info in NetCDF import dialog"
From @rdstern

[2021-03-15 14:17] dannyparsons commented on #6275
I agree this would be nice to do. Nothing difficult but there's lots of cases to take care of so it might take longer than the benefit of doing other things so I've suggest 0.7.x milestone.

[2021-03-15 14:34] dannyparsons commented on #6265
Generally agree. Joining options can be further simplified by only having the choice of choosing the pairs - but by default the ones with the same name are already filled in.

[2021-03-15 14:46] #6271 closed

[2021-03-15 15:31] rdstern commented on #6275
ok. Agreed!

[2021-03-15 19:25] #6273 closed

[2021-03-15 19:48] rdstern commented on #6261
To report that @johnargentino is working on the possibility of adding Stack questions to the tutorial materials.  This could be a really useful addition to the use of R-Instat in training courses.
The idea is the be that we are asking questions about data, rather than about the tool.  Using this tool is almost incidental the the extent that the user of an alternative tool, e.g. R or SPSS could use

[2021-03-15 22:35] rdstern opened #6278 "Add ridge plots the the specific plots - they go with density plots, so another radio button on the histogram dialogue"
Could we add these from the ggridges package.  I give 2 examples to show why!

![image](https://user-images.githubusercontent.com/11226469/111226019-7195b980-85d8-11eb-8f7a-b3c773df812e.png)

This is very nice for the temperature data.  An even more compelling reason - to me is this one:
![image](https://user-images.githubusercontent.com/11226469/111226314-d6e9aa80-85d8-11eb-9880-c24edade226f.png)

[2021-03-16 00:02] rdstern opened #6279 "Improve the One Variable Frequencies Graph"
The one variable frequency graph could be very useful in teaching and in simple data processing.
It has just been corrected, so it now works.  But there are many ways that options could be added to improve it.  The commands could also be improved in at least 2 ways.  This could be an early job for @HawardKetoyoMsatsi.

- [x] Everything in the R code is in 1 line.  This makes it difficult to edit t

[2021-03-17 05:16] rdstern commented on #6266
I understand this is now resolved and @dannyparsons will implement.
a) Date variables will continue to be denoted as D.  They will be extended, so date time variables and time variables will also be denoted as D in the grid.  @dannyparsons will determine how they are shown in the column metadata.
b) Other data types will now change to also have capital letters.  In particular, (f) will become (F),

[2021-03-17 09:07] Patowhiz commented on #6250
@N-thony @rdstern below is a sketch of what I understood from our discussions. You can add more suggestions to it.

![climatic](https://user-images.githubusercontent.com/21179007/111442084-0b648000-8719-11eb-8dd9-29359a0faa52.jpg)

[2021-03-17 09:07] N-thony commented on #6250
Great @Patowhiz , designing this now.

[2021-03-17 09:28] rdstern commented on #6250
Great.  I wonder about the Starting date on the left instead, below the selector.  There is plenty of space there.

[2021-03-17 09:28] #6168 closed

[2021-03-17 10:34] N-thony commented on #6250
@Patowhiz can we use DatagridView?

[2021-03-17 10:45] dannyparsons commented on #6250
The choice of grid depends on the needs. If DatagridView has all the features we need then use this, as it's the simplest.
The alternative is to use ReoGrid, but this adds an external dependency so only use this if there is a functionality in reogrid that we need which is not in DatagridView.

[2021-03-17 11:31] maxwellfundi commented on #6259
@jkmusyoka  whats the situation with this? @rdstern any ready tasks for interns yet on this?

[2021-03-17 12:06] #6259 closed

[2021-03-17 13:48] dannyparsons commented on #6269
I've checked this but I can't obviously find it being slow consistently. I tried with some large data sets and it takes ~30 seconds but always finishes. There is possibly an issue here but we need to have a reproducible example.

[2021-03-17 14:25] #6239 closed

[2021-03-17 14:25] N-thony commented on #6250
@Patowhiz @rdstern below is the initial design of the Climatic Data Entry dialog. We can proceed to the next step if you are happy with that. @Patowhiz I have a couple of questions for you. Can we discuss? Thanks
![image](https://user-images.githubusercontent.com/68591383/111483153-3791f800-873d-11eb-8646-441141d0b001.png)

[2021-03-17 14:46] Ivanluv commented on #5995
@Patowhiz `data_book$get_models(data_name="dodoma", model_name="last_model")` is used to print the results in the output ie
[code]
Also `data_book$get_graphs(data_name="dodoma", graph_name="last_graph")`  is used by all the plots, apart from the `multiplot`, to displaying the graphs in the output window

[2021-03-17 15:21] dannyparsons commented on #6250
Thanks. How about the grid being in a sub dialog on it's own? Then it can be longer and wider.

Also, why reogrid?

[2021-03-17 15:24] N-thony commented on #6250
@dannyparsons I have not work a lot about reogrid before but I see it is used a lot in R-Instat. But I think for instance what we need about data entry can be done by either reogrid or datagridview

[2021-03-17 16:04] dannyparsons commented on #6250
I have discussed with Roger and David. We agreed on:

- Keep reogrid as the grid, but write the code such that it would be easy to replace reogrid with another grid in future if needed. This can be achieved by having functions which contain reogrid specific code.
- Move the grid into a sub dialog. The sub dialog should be expandable and the grid expands with the subdialog. This will allow users to

[2021-03-17 16:13] Patowhiz commented on #6250
@dannyparsons what will be the label of the button? And should we put the starting date in the subdialog or have it just in this main dialog.

@dannyparsons and also do we have an inbuilt functionality that could allow the levels of the station selected to be shown in the selector?

[2021-03-17 16:34] dannyparsons commented on #6250
Something like "Enter Data". Roger might suggest something. I think it might be easier for the starting date to stay on the main dialog, so that the grid can easily expand, but I don't mind too much.

Yes we have `ucrInputFactorLevels`. It's a combo box which shows factor levels from a linked receiver. So I think use this. It will be easier than getting the selector to display them.

[2021-03-17 20:18] dannyparsons opened #6291 "Make default (column) names consistent following tidyverse style guide"
When a dialog produces a new column/graph/model/object/data frame, we give a default new name. The names should follow the the [tidyverse style guide](http://style.tidyverse.org/syntax.html).

In particular, we need someone to go through the dialogs are check and correct the default names for a few things:
- Names should be all lower case e.g. "Date" needs to be "date"
- Separate words with unders

[2021-03-17 22:49] rdstern commented on #6264
You have mentioned that the Wine version seems to run slower than the ordinary version.  I think you are using a Windows machine, so might you have the ordinary R-Instat and now the Wine version on the same machine.
Could you please quantify what you mean by slower?
This could be by installing a timer.  But it could initially be used through the script window.  I suggest we anyway install the tict

[2021-03-18 04:42] rdstern commented on #6251
@jkmusyoka welcome today to Manor House.  In your investigation of the tufteboxplot I find it is already in the released R-Instat!  That means it will be very easy to investigate through the script file.  Then adding it to the climatic boxplot dialogue might also be a very small job!  Perhaps it can get promoted into 0.7.0?

[2021-03-18 05:08] rdstern commented on #6264
@maxwellfundi in testing for issue #4918 I am afraid I don't see how to do this easily without adding the timer properly to R-Instat.  The main testing will be on the time to refresh the grid change, for various grid sizes.

I wonder if this can be done easily.  If so, then I think TicToc is such a nice name, that we could use that in the menu, rather than the more boring Timer.  Or even TicToc Ti

[2021-03-18 07:12] #6266 closed

[2021-03-18 07:20] rdstern opened #6293 "Improve the graphics in R-Instat through the addition of more geoms"
My claim is that we would substantially enhance the graphics capabilities in R-instat if we had more geoms.  I also had the impression that @maxwellfundi became quite a whizz at doing this efficiently.  If so, then perhaps this is also something that @Karakacha and @TobbyKe could take over, with initial instruction from @maxwellfundi?

Now the list is getting long and later perhaps we should worry

[2021-03-18 07:32] rdstern commented on #4312
I wonder if this could now be added as another tab to our plotting sub-dialogue.  Could @jkmusyoka and/or @lilyclements do an investigation.  Then - perhaps like the scales - it could be a good task to be handed over to Ivan to implement?

[2021-03-18 08:50] rdstern commented on #5450
I am delighted that the base graphs can bow become objects.  I hope this could be also therefore a good time to also investigate the ggplotify package.  I don't expect it will work for all graphs, but those from the circular are relatively simple, so it might work for these.

This could perhaps usefully be investigated before the new code is implemented on other instances of the base graphics.

[2021-03-18 08:54] dannyparsons commented on #6250
@rdstern Should there also be an end date control? If I know there is one month of missing data to fill in I don't want to see the whole set of data.

Another idea, @Patowhiz @N-thony can we highlight the cells that have changed in the grid so that the user can review the changes they have made?
Another feature might be to have a checkbox to filter the grid to only show the rows with changes made,

[2021-03-18 09:03] rdstern commented on #6258
@TobbyKe I look forward to your report/review of wine.

I hope it can include information on what someone should do, if they have a linux machine.  (I assume your installation on a Windows machine was just for this testing.)  And it might work better on one that is linux.

Once you have this report, could you send an e-mail with a copy to Nathalie Wandji (Nathalie Wandji <nathalie.wandji@aims-came

[2021-03-18 09:56] Patowhiz commented on #5450
@rdstern aha, I had a quick look at its documentation. And it mention that it can convert any base graph. This could be interesting but of course I need to do further tests. @dannyparsons this relates to what we have done with the recordPlot() function. If this works we could use function we have added to convert the plot to a ggplot. What's you comment on this, is it worth to explore right now?

[2021-03-18 10:04] rdstern commented on #6250
@Patowhiz and @N-thony possibly yes to the End date control I suppose.  However I was assuming we may want to restrict more than this.  I would also be happy if this has a maximum length, perhaps one year, i.e. 366.  So instead of an end date there could be an up-down of the number of rows (days) to show.  I'd like to be able to show a few days, optionally, before the first date entered.  You can

[2021-03-18 10:14] dannyparsons commented on #6258
@rdstern I edited your comment to remove the email addresses of people mentioned. Since GitHub issues are fully open I think we should avoid using personal information.

Also, I "deleted" your suggestion on AIMS Cameroon since we've already tried out the Wine solution with AIMS Cameroon but since they don't use Ubuntu but a different version of Linux, it didn't seem to install unfortunately.

This

[2021-03-18 10:17] rdstern opened #6294 "Improving the R code for packages that use base R graphics"
I know of 2 dialogues where (I hope) the changes will be simple:
a) Fitdistrplus uses - I think - mainly base graphs.  It is in Model > One Variable Fit
b) extRemes.  This is in Climatic > Model >  Extremes

In each case here, some of the graphs are more complex than with the circular package in the sense that they have multiple sections.  Like a ggplot combined graph.  The capture should  - I hop

[2021-03-18 10:18] dannyparsons commented on #5450
As I discussed with @Patowhiz we should still store base graphs in the native format. This is because the ggplot converter doesn't work for all graph types, and when it does, it may not give an accurate translation.

ggplotify would be good to try out as a dialog where after producing a base graph, you can try to convert it. Doing it as a separate dialog means it doesn't matter if it doesn't work

[2021-03-18 10:21] dannyparsons commented on #6250
For @Patowhiz and @N-thony, focus on getting the main functionality working first. Keep our suggestions in mind but don't let it distract you from the initial implementation.

[2021-03-18 10:36] lilyclements commented on #4806
@dannyparsons I was wondering if I could have your opinion on something with this dialog.

Both `scale_fill_viridis` and `scale_colour_viridis` functions have a parameter `discrete` which takes values `TRUE` and `FALSE`. This all applies for the `colour` option, but I'll just explain by using the `fill` option:

If the `fill` variable in the `ggplot2` code is a discrete variable, then in the `scal

[2021-03-18 11:17] dannyparsons commented on #4806
I don't think option 1. is too difficult and we should aim for that. We have something similar in `ucrAxes` though I don't think we have the actual variable detection being done. All we need is a simple R function to return "continuous" or "discrete" that is run when this loads.

There is some detail to get right in finding the right column to check, because we need to check the global `aes()` as

[2021-03-18 11:26] jkmusyoka commented on #6251
There are several variants of the tufte boxplot see [https://jrnold.github.io/ggthemes/reference/geom_tufteboxplot.html]

R-Instat copes well with the R code for these variants and produces the expected graphs. In the script window, however, one has to stop calling the ggplot2 package in the geom part of the code. This is because the geom_tufteboxplot is associate with the ggthemes package.

Imple

[2021-03-18 12:51] Wycklife opened #6295 "Minor bug in Climatic>Prepare>Climdex dialog"
**Describe the bug**
I am updating video script 12(Preparing Data: Summarizing Rainfall Data) using the Climdex Indices dialog. All the receivers are filled automatically except for max_temperature

**To Reproduce**
1. Load the ghana_2_stations.RDS
2. Go to Climatic > Prepare > Climdex

**Expected behaviour**
All the receivers should be filled automatically.

See below:
![image](https://user-image

[2021-03-18 13:44] Patowhiz commented on #5995
@Ivanluv thanks for the feedback, as discussed in you can take advantage of the newly added record_graph() function once PR #6060 is merged.

[2021-03-18 15:56] lilyclements commented on #4312
I've had a look into this.

There seem to be three things to consider

1. The `geom`. The four examples of these I've seen in the literature are `"text"`, `"rect"` (a rectangle), "`segment`" (a line), `"pointrange"` (a line with a point)
2. The position (x/y values)
3. Other aesthetic details that apply to this geom and not other geoms

| geom | Position | Other details |
| ------------- | -------

[2021-03-18 17:35] rdstern commented on #4312
So it looks as though the Annotate tab would not be a separate tab.  Instead it would add a label: Annotate and 3 more buttons in the existing Layers tab.  They would again be Add, Edit and Delete. for Annotation.  It would be called geom_annoate in the list of layers.
Then they go to a new copy of the layer-sub dialogue called `Annotation Layer Options` that is almost the same as for general geom

[2021-03-18 18:04] lilyclements commented on #4312
This sounds like a good idea - the function itself is just `annotate` not `geom_annotate`, but seeing as this is a geom and adding a layer (and has similar options to other geoms - such as `alpha`, `colour`, etc) then this sounds like a good solution.

While a data frame would make sense for the `text` option, I'm not sure if it would make sense for all of the options such as `rect` - I can invest

[2021-03-18 18:48] Karakacha commented on #4918
Viewing variable names is very key since a user does not have to master all variable names and it can be better if we can increase  this number to the extend that it can accommodate most variable names for wider data set.  Perhaps we may think of increasing it to 100 and also increase it later to be even accommodating all variables of the data set despite its number in future versions. I will stro

[2021-03-18 19:05] dannyparsons commented on #4918
I don't think we should increase the row limit, that makes running slower and I don't think we have a a very good reason to.

On columns I can see the advantage, but we had instability with this before. So we need to test it very carefully. I repeat my suggestion below: I would not be comfortable changing the default without extensive testing in case it causes crashes for lots of users.

[2021-03-18 19:17] Karakacha commented on #4918
Definitely variables are more important than rows. It can be better to
reduce cases but accommodate most variables so as to maintain the speed of
importing the dataset. Hope to see you have a meaningful discussion about
it with the developers.

On Thu, Mar 18, 2021 at 10:05 PM Danny Parsons ***@***.***>
wrote:

[2021-03-18 21:05] rdstern commented on #4918
@Karakacha the idea wasn't just to say what you would like.  It was to do careful tests of what happens.  That's one reason I wanted you to examine the Pakistan data, namely to be able to see if increasing the number of variables makes things run more slowly - how much more slowly?  Can you try and then extrapolate?

And, with also the possibility that it might crash - which would be a disaster, g

[2021-03-19 06:08] Karakacha commented on #4918
Kindly attach to me the Pakistan data so that I May test this

On Fri, Mar 19, 2021 at 12:06 AM rdstern ***@***.***> wrote:

[2021-03-19 06:14] rdstern commented on #4918
Look at #6289 under the discussions tab, to see how to download these MIPS data, or ask @TobbyKe or @jkmusyoka who may have it already

[2021-03-19 06:19] jkmusyoka commented on #4918
@Karakacha I had already downloaded the Pakistan dataset and would be happy to pass it over for the testing.

[2021-03-19 06:58] TobbyKe commented on #4918
Punjab- Pakistan Data
 Pakistan Punjab MICS6 Datasets.zip
<https://drive.google.com/file/d/1hUThcHBUdblRI2YvAIUpKZxjLOOe3nKG/view?usp=drive_web>

On Fri, 19 Mar 2021 at 09:08, Karakacha Barasa ***@***.***>
wrote:

[2021-03-19 07:15] maxwellfundi commented on #5368
@Ivanluv could you please re-take this. I see you had a PR #5563 that you opened and closed? Can you revisit this?

[2021-03-19 08:24] Ivanluv commented on #4312
@lilyclements I would be happy to take this up

[2021-03-19 12:02] dannyparsons commented on #6268
I tested this by:

- Loading Dodoma from the climatic guides dataset Excel file
- Create a date column and define as climatic
- Checked autofilling happened in a few dialog
- Confirmed metadata had correct properties
- Saved the file
- Closed R-Instat and reopened and opened the file
- Checked the autofilling in the same dialogs
- Also checked metadata was still the same

I didn't notice any issue

[2021-03-19 12:02] #6268 closed

[2021-03-19 12:03] dannyparsons commented on #6269
Closing this issue as we can't replicate. Please re-open if the issue is discovered again.

[2021-03-19 12:03] #6269 closed

[2021-03-19 12:45] Karakacha commented on #4918
The default value of 30 variables and 1000 cases is very stable and works
efficiently. importing data is also quick and data viewer is simple to
follow

 Perhaps this may not be suitable to a user who has more than 100 variables
and thousands of cases. I had to test this using the HH dataset from
Pakistan to see if R-Instat can support. I realized that you can
increase your variables to 100 and 10

[2021-03-19 18:31] #6265 closed

[2021-03-19 22:27] rdstern opened #6302 "Testing R-Instat with a large climatic dataset"
The data used is the satellite data from Germany.  It is a NetCDF file.  In our EUMETSAT work we extract 30 years of data for 4 stations.  Here I input the whole dataset.  It is essentially 1080 "stations" with 30 years of data for each station.  So, almost 12 million records. (11,834,640 to be precise).

It is useful to know how R-Instat can cope with this size of data.  I did the following and g

[2021-03-20 11:34] lilyclements commented on #6279
As pointed out #6270 - can the parameter positions be added to this dialog too when these changes are made?

[2021-03-20 12:32] rdstern opened #6305 "Correct the Prepare > Data Frame > Convert dialogue and possibly improve the Right Click Convert to Factor at the same time?"
I am suggesting @dannyparsons in the first instance, because this is related to the conversion to numeric right-click that he is currently working on, i.e. #5465 .  His reactions are needed, and he may suggest others to get involved.

[germanySDU_June.zip](https://github.com/africanmathsinitiative/R-Instat/files/6175492/germanySDU_June.zip)

Here is a data file to test.  It is satellite data downl

[2021-03-20 12:50] rdstern commented on #6302
This comment is to report on a larger dataset.  With the 64 bit setup it seems to cope well with 12 million rows (1080 stations by 30 years) for most operations.
I have made it 3 times the size, so effectively 3240 stations by 30 years.  I have been curious about limits for some time, and it is an obvious question.  With a 32 bit setup I had the impression that about 5 million cases was the limit.

[2021-03-20 12:53] shadrackkibet commented on #6279
@rdstern @maxwellfundi @HawardKetoyoMsatsi Just before I start work on this, I notice from the sprint this is in review can someone explain why? Is it just misplaced?

[2021-03-20 13:56] dannyparsons commented on #6250
@N-thony Here is a function to get the data entry for the data grid (`DataBook` and `DataSheet` versions).

Note that `station` and `station_name` are optional (for one station) and `end_date` is also optional. Feel free to adapt as needed.

[code]

Here's an example:

[code]

[2021-03-20 15:20] shadrackkibet commented on #6279
1) @rdstern you say "The line option doesn't work". What exactly did you do? using which dataset? this is the sort of statement that doesn't help the programmer! Can you give more details?
For example in my case.

- I loaded the usual survey data
- I change to Graph option
- Using `field` and `size`
- In the subdialog I change to line
- I got the following graph.

![image](https://user-images.gith

[2021-03-20 16:26] rdstern commented on #6279
@shadrackkibet you are right that I should have been clearer, but I couldn't make it work for anything!  Now, I repeated with your example - also worked for me!  And using yield works too! - so that's a puzzle!

You ask about histogram, violin and boxplot.  That's part of what I hope James and the interns will examine and specify.  The function in sjplot has added many new options, so it would be

[2021-03-20 16:41] lilyclements commented on #4312
Options for the `annotate` function:

### **geom = "text" or geom = "label"**

| Parameter | Values | Description | R Default |
| ------------- | ------------- |------------- |------------- |
| `x` | Single or multiple values. If `xend`, `y`, or `yend` are multiple values, `x` must be the same length, or of length 1.  | lower x-coordinate to place the text. | `NULL` |
| `xend` | See above | upper

[2021-03-20 16:43] shadrackkibet commented on #6279
I do not think the first point really matters. We have this kind of long code elsewhere. I really want to be convinced that breaking the code here will make things easy and that it will be useful to the user. @dannyparsons what do you think?

[2021-03-20 18:20] N-thony commented on #6250
Thanks @dannyparsons

[2021-03-21 03:17] shadrackkibet commented on #6174
- `ggplotify` for one variable frequencies #6309

[2021-03-21 03:59] shadrackkibet opened #6310 "Improving Stack dialog?"
I now have some different points, while we are here!

I will check with @dannyparsons is the name of the dialogue and also the R-code.  It currently uses melt and unstack uses the opposite.  This has now (I think) changed to pivot_longer and pivot_wider.

We also used a different function when you are stacking multiple sets of columns   We need to see whether we prefer to keep that function, or mo

[2021-03-21 04:02] shadrackkibet commented on #5831
I am going to close this because this issue was mainly for fixing design issues as referenced on the PR. I have opened a new issue with other different points from @rdstern.

[2021-03-21 04:02] #5831 closed

[2021-03-21 07:21] rdstern opened #6311 "Add more buttons to simplify the use of the script window"
I have been using the script window quite a lot recently and have become fairly skilled at <Ctrl><Alt><T> to run a selection.  I can run All by clicking at the top.  Could we have a few more icons or buttons?
a) Keep `Run All`
b) Add `Run Current LIne` - as in RStudio
c) Add `Run Selection`
d) Possibly add `Clear
`
They could be buttons or possibly icons with a tooltip each?

This needs a bit of d

[2021-03-21 08:27] shadrackkibet commented on #6311
All these are very easy to add since we already have them on the right click. If agreed, I think we can as well add icons like in Rstudio. The only concern is that we should not rewrite Rstudio instead we should encourage the use of the log window.

[2021-03-21 08:42] shadrackkibet commented on #4510
I think this was fixed during the previous sprint (2020 Feb). See issue #5616 and PR #5667. Please open a new issue if there is anything remaining.

[2021-03-21 08:42] #4510 closed

[2021-03-21 08:57] shadrackkibet commented on #5111
@Ivanluv this looks like a small issue did you rename the checkbox? If yes we can mark the first point as done.

[2021-03-21 13:03] shadrackkibet commented on #6279
@rdstern another enhancement that could be done is to change and enable/disable the tab selected in the subdialog depending on the top radio button selected.

[2021-03-22 06:22] Ivanluv commented on #5111
@shadrackkibet I didn't rename the checkbox. Could you suggest an appropriate name

[2021-03-22 09:40] maxwellfundi opened #6313 "R-Instat path not set during installation"
**Describe the bug**
In some machines, when R-Instat is installed, the path to the bundled R is not properly set. This results in a bug similar to what is  described  [here](https://github.com/NetLogo/R-Extension/issues/5)

This results in R-Instat being unusable since it can not load data.

**Screenshots**

![image](https://user-images.githubusercontent.com/9798689/111969609-7c39dc80-8b0b-11eb-87

[2021-03-22 09:59] Wycklife opened #6314 "Add a position button to the New Column Name control in Climatic>Prepare>Transform"
I am going through the Transform dialog. I have a new column being added to the existing data frame. I would like to position this column without using the reorder columns method. Below is the screenshot what I was doing. I think it should be implemented for all the options.

![image](https://user-images.githubusercontent.com/33898404/111972197-3f231980-8b0e-11eb-988f-d6776a1d9b6d.png)

[2021-03-22 14:34] Patowhiz opened #6317 "Change how ucrSave control and position subdialog writes position parameters"
Currently ucrSave control has a "dummy" RFunction that it uses to hold the position parameters , which are then used to write to the functions passed to the control.

A much better approach is to have the control set the R functions properties that are used to determine the position of the column.

[2021-03-22 17:50] lilyclements commented on #1789
What needs to be done here? Alternatively, are functions like `scale_x_binned()` to be considered here as well?

[2021-03-22 21:35] rdstern opened #6321 "Turn off autosaving if file is (or becomes) too large"
I just produced a nice graph with the lattice package.  Here it is for the data from Germany:

![image](https://user-images.githubusercontent.com/11226469/111949775-395f1100-8ad9-11eb-80a0-3ae9dad4986e.png)

It is very nice.  But it seems to be so large that the backing up every 10 minutes becomes impossible.

I have turned it off.  But it raises a more general point that we are now able to handle

[2021-03-22 21:42] rdstern commented on #3721
I query whether tooltips will be translated?  If this is not possible initially, might it be possible in the future?

They can be useful in some dialogues and menu items.  If they are translated, with the current system of producing them, then I suggest this could warrant putting more effort into producing them in more of the software.

If this is not possible in the current "system", then I wonde

[2021-03-22 21:54] rdstern commented on #5885
I notice that the latest upgrade to the openair package was 6 days ago.  One thing mentioned was "fix bug in TaylorDiagram when group was present.".  @dannyparsons and I found some oddities in interpeting a Taylor dialogue and we did have groups.  So that's interesting!

[2021-03-23 03:36] rdstern commented on #6158
An urgent task - I am afraid - to be done in the sprint, is to save the object from the lattice package better.

A lattice graph produces an object of class trellis.  See [here](https://stat.ethz.ch/R-manual/R-devel/library/lattice/html/trellis.object.html).  I can't believe this is as large as what happens in R-Instat when we use the lattice package.

We mainly use it when we use the openair pack

[2021-03-23 03:51] rdstern opened #6322 "Making R-Instat run more efficiently through better updating of the spreadsheet"
I have added this to the sprint, because:
a) It is a great deliverable
b) @dannyparsons says it is pretty simple to do - at least to do some things.

On my machine - with the default grid of 30 by 1000 I guess it takes about 1 second per update.  This isn't too bad.  But I noticed that it takes the same time for a command to execute whether the grid is visible or not.  That seems an obvious improv

[2021-03-23 05:09] rdstern opened #6323 "Helping R-Instat run more efficiently through better filling of the user controls"
As we expect to distribute R-Instat more widely, we should make sure - as far as possible - that it works reasonably.

I have been considering the maximum number of variables in a data frame and also the maximum number of levels in a factor and they are a bit frightening for our current R-Instat.

Variables first.  What are the limits.  For reference I give them in spreadsheet software as well as

[2021-03-23 08:54] Patowhiz commented on #6250
Initial example of the R script code generated by the dialog.
[code]

[2021-03-23 10:16] lloyddewit commented on #3721
@rdstern Thank you for the suggestion. I will try and translate tool tips. I am implementing translations in the order of priority below. If you prefer a different priority, then let me know, thanks

- frmMain menu items
- frmMain other controls (e.g. split window titles)
- dialogs: controls with static text
- dialogs: dynamic switching between translation and English
- message boxes (e.g. startup

[2021-03-23 10:36] rdstern commented on #3721
@lloyddewit that sounds fine.  And I assume this answers my main question, namely that sometime in the future tooltips will be included.

Hence, not for the sprint, but this means I should soon work with the documentation team on adding more tooltips to the software.  Exciting!

[2021-03-23 11:05] rdstern commented on #5422
@HawardKetoyoMsatsi this has quite a long history!  It would be good if you could locate it, and start looking at this issue today.  That would set you up to possibly get support from @shadrackkibet from tomorrow if you need help.

I would put this as higher priority today, even than completing the circular dialogues, where I have just been looking at #6126.  That's an example that is nearly finis

[2021-03-23 13:02] maxwellfundi commented on #6293
@rdstern I have been adding these and i have a few questions

1. On **bin2d** - I am unsure of all the parameter values possible for `stat `and `position`- Stat has bin2d and position has identity. What other would you like me to add?
2.  on **geom_function** could you provide the other parameters that can be added on there?
3. on **qq** what other distributions can be added? I only have - `stats:

[2021-03-23 18:30] dannyparsons commented on #6250
Here's the function for updating data after data entry:

[code]

with example.
Note `rows_changed` should be a vector `c()` I just did this for simplicity. The rows may not be consecutive in general.

[code]

I will also adapt `get_data_entry_data` such that it includes the correct row numbers.

[2021-03-23 18:45] #5925 closed

[2021-03-24 07:36] shadrackkibet commented on #5422
I can see we can do this using `sf::st_intersects`. @rdstern can you share the station file and shapefile you used from Dodoma? From a quick look, I think we will need two selectors.

[2021-03-24 08:35] rdstern commented on #5422
Hi @shadrackkibet and @HawardKetoyoMsatsi

Great that you are working on this.  I suggest we use the data from Kenya to test the system.  These data are well known by the video team and this could involve them in improving that station data.  But the existing file is good for a start.

For the shape files can you try downloading yourselves - partly because it isn't clear what we can include in the

[2021-03-24 08:42] maxwellfundi commented on #6293
I think these are more general, for example statistical transformations - `stat `Are they general for these graphs- Would it be a common list of transformations @rdstern  or they would be different for each graph?

[2021-03-24 09:08] maxwellfundi commented on #6278
@rdstern  i am now looking at adding statdensity ridges

[2021-03-24 09:14] dannyparsons commented on #6250
@N-thony please add the following line to `save_data_entry_data` just before the last line `self$set_data(curr_data)`. This will add an output message:

`cat("Values updated in:", length(rows_changed), "rows.\n")`

[2021-03-24 09:46] dannyparsons commented on #6302
I'm not clear if there's a task here? You said there's a problem as factor, is that an issue of being slow or a problem with defining factors? I could move this to a discussion if this is more of a report on the test with large data.

[2021-03-24 09:52] rdstern commented on #6302
I moved the task to issue #6305.  I think this is a problem to correct.  The rest is interesting (to me anyway!) and for reporting.  I wanted it mainly to test whether we could/should extend the visible data frame.  I came to the conclusion that we should leave it where it is for now.  But it also led to the discussion of investigating R-Instat limits that is addressed in 2 other issues - they fol

[2021-03-24 10:01] dannyparsons commented on #6310
Yes to all of these things. We should change to `pivot_longer` though the syntax for multiple column stacking is more complex so dialog design will take some thought.

[2021-03-24 10:06] dannyparsons commented on #6279
Cleaner code would be nice but not essential.
A simple improvement would be to set an assign_to to `sjPlot::plot_frq ` so that this is on a separate line first.
An assign_to for the columns would also be useful, but this would need to be done in the receiver and it's less obvious what name should be used for getting multiple columns. So I would leave this part for another discussion.

[2021-03-24 10:17] dannyparsons commented on #6313
@maxwellfundi Can you also post the workaround you found to get this to work? That will be useful for others with this issue.

[2021-03-24 10:28] dannyparsons commented on #6321
To know the size, we'd still have to auto-save it once and then check the size before the next auto-save. So if it's crashing because of the size, I don't think this will really solve your issue.

Unfortunately, we can't timeout an R command, otherwise we could stop after a certain time taken.

I think solving the core issue of the size of these graphs when saved will be the best help.

[2021-03-24 10:32] dannyparsons commented on #5885
Here's an extract from a message I sent to a user who found similar issue with the Taylor Diagram. It seems the "Normalise" option could be important. I don't know if we should be setting this automatically, or we might get into a mess trying to guess it.

[2021-03-24 10:32] rdstern opened #6327 "Adding a further option to the Climatic > Dates > Fill Date Gaps dialogue"
This is for @dannyparsons to check that it is sensible, and then I hope it is a very quick job for @shadrackkibet who has already worked on this dialogue.  It is to support the new data entry.

We will sometimes want to extend the climatic data frame to enable data entry for a new year at the end - sometimes even at the start.  One way is to use the Fill Date Gaps dialogue.

I assume (usually) an

[2021-03-24 10:37] dannyparsons commented on #6158
Here's an example for reference, I will investigate:

[code]

[2021-03-24 10:39] dannyparsons commented on #6322
I should clarify, they are simple to do, as in within the next few months and without new programmers needed. But I don't think there's time within the sprint for this, given the other priorities. I'll move out of the 0.7 milestone but happy to discuss.

[2021-03-24 10:41] rdstern commented on #6322
Great, fine

[2021-03-24 10:43] dannyparsons commented on #6323
Happy with a discussion on this before the end of the sprint. Since you said it's a discussion, you've given me the go-ahead to covert it to a "discussion"!

[2021-03-24 10:43] #6323 closed

[2021-03-24 11:14] dannyparsons commented on #3721
Tooltips are just controls in VB like everything else so no reason they won't be included in the system.

[2021-03-24 11:58] dannyparsons commented on #6302
Sounds good, that's clear. I'll move this to a "discussion" as well.

[2021-03-24 11:58] #6302 closed

[2021-03-24 12:02] dannyparsons commented on #6327
This is a good way to extend the data.

On your suggestion, what you're essentially asking for is that `Data Limits` and `Fixed Limits` are separate for start and end. This sounds good to me and adds the flexibility we need.

So it's something like
Start: Data / fixed limit
End: Data / fixed limit

I'm not looking at the dialog so not sure about the design but this is the idea. And should then not

[2021-03-24 13:12] shadrackkibet commented on #5885
We already have the "Normalise" option in the dialog. I am not sure what exactly needs to be done in this dialog. Do we need to add more options as a sub dialog?

[2021-03-24 14:27] dannyparsons commented on #5885
I don't think it's more options, but better choices for the current e.g. I don't think we are using station correctly. I think instead of a station receiver we should just have the names of the parameters as the receiver labels and let users choose where to put station. That gives full flexibility, even if a bit harder to use. @rdstern what do you think? This might be a quick way of getting someth

[2021-03-24 15:32] Patowhiz commented on #6250
@rdstern what will be the tooltips for the 2 examples outlined above.

[2021-03-24 16:59] shadrackkibet commented on #5885
@N-thony could you make these changes in your current PR? Otherwise, I can pick your changes and open a branched PR. Let me know which way you prefer. Thanks

[2021-03-24 17:41] dannyparsons commented on #6158
I don't have good news, I'm afraid!

It's not an R-Instat problem. Objects of class `openair` are large, the example below shows as 43MB in RStudio. However, that doesn't explain the very slow saving. I tried to save in RStudio and cancelled after 10 minutes. When I eventually forced RStudio to shut, the file was up to 3GB and counting! So that explains why it's slow. The size I can't explain. I t

[2021-03-24 21:32] rdstern commented on #6250
I am delighted that the basic system is now (almost) working.  However, I suggest there are a number of enhancements we should try to include, before unveiling it.

I hope the basic system plus a few enhancements, that we could mention separately, could be included.  I suggest most may be quite simple.

a) **_End Date:_** We need an end date.  I suggest the default end date is the end of the same

[2021-03-25 05:48] rdstern opened #6337 "Transferring (daily) data from R-Instat to Climsoft"
I am afraid this is another job that involves @Patowhiz .  It is too late to expect anything during the sprint period, but it is likely to involve the video team, particularly as they have already been using Climsoft.  This was partly to organise the video on transfer of data from Climsoft to R-Instat.

We now need to consider the reverse process.  We need to be able to easily export data from R-I

[2021-03-25 08:04] dannyparsons commented on #5885
@shadrackkibet I suggest you take over since @N-thony has a number of other urgent tasks he's working on.

[2021-03-25 09:17] #6072 closed

[2021-03-25 10:33] #6106 closed

[2021-03-25 11:13] rdstern commented on #6250
I now put together the suggestions for the changes above for the data entry.  The existing dialogue looks like this:
![image](https://user-images.githubusercontent.com/11226469/112451611-9cf17480-8d4d-11eb-8204-68f7014ba3d6.png)

When you click to enter data it looks like this:
![image](https://user-images.githubusercontent.com/11226469/112451354-4f750780-8d4d-11eb-86fd-3c2479dd3fcd.png)

So far s

[2021-03-25 11:48] dannyparsons commented on #6250
@Patowhiz @N-thony Here are the minimum requirements from Roger's list:

a) Menu items (simple)

b) At the top of the dialog, replace the text in the 2 radio buttons, by Add and Edit.
They can remain disabled for now. Edit is selected.
Under them, there is a Period option with a dropdown.
When Add is selected the options are: Month and Range.
When Edit is selected the options are: Day, Month and R

[2021-03-25 12:21] rdstern commented on #6321
@dannyparsons what will your solution mean for existing files - that have models and graphs?  I assume we can still open them?

[2021-03-25 12:36] #6293 closed

[2021-03-25 15:01] dannyparsons commented on #6158
The proposed workaround to this is to store a second `DataBook` in the R environment, called `graph_data_book`. This will not store data, but will just store graphs alongside empty data frames, so a parallel to the real `data_book`. It's a bit of an abuse of the `DataBook` structure but it's useful because it already has the methods to add and view graphs, so it's a small code change. A better sol

[2021-03-25 15:16] dannyparsons commented on #6321
Yes, I believe existing files created before this change will still function in the same way. But please test this, I just opened the PR https://github.com/africanmathsinitiative/R-Instat/pull/6344

[2021-03-25 16:33] #6327 closed

[2021-03-26 09:24] dannyparsons commented on #6174
- `clipr` #6334

[2021-03-26 10:00] lilyclements opened #6345 "Improving the General Fit Model dialogue"
**Describe the bug**
There is a developer error in the ucrDistributions that occurs on a modelling dialog when "Reset" is hit, if the response variable does not have a corresponding distribution.

**To Reproduce**
Steps to reproduce the behaviour:
1. Upload data (for example, `diamonds` in the `ggplot2` library
2. Open the `General Model` dialog (under Model > Fit Model > General...)
3. As the res

[2021-03-26 10:54] #5422 closed

[2021-03-26 11:01] #6197 closed

[2021-03-26 11:19] #6279 closed

[2021-03-26 16:11] #5885 closed

[2021-03-26 16:55] #6060 closed

[2021-03-27 12:30] rdstern commented on #5465
@dannyparsons I am reopening this because the problem remains!

So it still goes wrong makes me nervous!  The extra option is worth including, because it is better than before.  But it is still uncomfortable.

I have 2 directions to suggest  - looking for something easy.  I quite like the first one!

a) The big improvement is that it detects the non-numeric values.  So could we add an extra option

[2021-03-27 14:25] rdstern opened #6349 "Small change in the Add Key dialogue"
It is odd that it doesn't suggest a name for the key.  key, then key1 key2 using our recent rule is the obvious name.
I am sorry I didn't get to this when the output was added.  Could there be an extra line, namely

Dara Frame: `name of data frame  `

Assuming this is easy to do.
@dannyparsons to confirm, as it is used in the germany video!  I hope it could be a very small task for @shadrackkibet

[2021-03-27 14:50] rdstern opened #6350 "Small changes in the Add link dialogue"
The Add Key dialogue now provides a small summary in the output Window.

Here there are 2 small items

a) Suggest a name as we do in other dialogues - `link` would be fine
b) As with the Add Key, it would be good to provide some output.  Possibly just
`name`  variable in `name of data frame1` linked to `name `  variable in `name of data frame2 `
For example `station variable in data frame:germany_

[2021-03-28 07:18] rdstern opened #6352 "Adding facilities to the current grid data entry system"
This issue builds on the basic data entry system merged into Version 0.7.0.  It adds items that are needed before implementation, though testing can start now on the basic system.

It is possible that there will be time to merge some of the facilities, but others will wait for Release 0.7.1 - possibly mid-April.  And some will be for Version 0.7.2, hopefully by late May.  I have indicated my hope

[2021-03-28 17:20] #6250 closed

[2021-03-28 18:11] dannyparsons commented on #6253
Here's the dialog design. It's similar to Import from IRI. The subdialog to "login" is for the two parameters to `ecmwfr::wf_set_key()`. Initially the subdialog won't do the login, just sets the parameters. `ecmwfr::wf_set_key()` is the `user` parameter to the main function. Have it assigned to `user` as in the example. Later we might want to run the login from the subdialog and check it's success

[2021-03-29 14:21] #6317 closed

[2021-03-29 17:08] dannyparsons commented on #6174
- `ecmwfr` #6354

[2021-03-30 05:28] rdstern commented on #6190
@Wycklife and @berylwaswa I wonder what the situation is with the data sets?  I have lost touch with the process.  Are the new datasets in to the next release, or does there still have to be a new pull-request?  Is there a list?

I am reporting back to UK Met and this is one of the topics I have to include in the report.

We plan to make Version 0.7.0 on Wednesday 31st March.

[2021-03-30 05:51] rdstern commented on #5161
@dannyparsons and @lloyddewit I am back on this topic for easy switching to check the menu items.
Danny mentioned the possibility of having a Tooltip with each item - or at least those that are not obvious.  I would be happy with that - as long as it doesn't get translated!  Usually I am very keen for the system to eventually translate tooltips.  Will there be a way to say that a certain bit shoul

[2021-03-30 07:38] lloyddewit opened #6356 "`SQLite.Interop.dll` is not installed automatically in the `Debug` and `Release` folder structures"
PR #6353 required an SQLite database. This required the installation of extra SQLite packages. The packages were added to the project using the NuGet package manager in VisualStudio 2019. Git detected the new package files and they were included in the PR.
@dannyparsons , @rdstern and @shadrackkibet tried to test the PR. They were able to build the branch but when they executed it, they received t

[2021-03-30 08:37] Wycklife commented on #6190
@rdstern We have already added all the datasets in the data library for R-Instat. I'm waiting for Chiara to create a pull request and then I will review.

[2021-03-30 09:31] shadrackkibet commented on #5533
@rdstern this links to the feature we are now adding. You might want to have a look at what CDT does.

[2021-03-30 09:53] dannyparsons opened #6358 "Language option as dropdown instead of radio buttons"
We'll soon have more languages so I think the language choice in the Options dialog should be a dropdown combo box instead of radio buttons.

A non urgent simple task for someone to take up.

[2021-03-30 10:02] rdstern commented on #5533
@shadrackkibet great and impressive

[2021-03-30 10:06] dannyparsons commented on #5465
a) Yes
b) Yes. On the column right click? Only visible if labels exist for the column. Could also be on the right click of the cell which have the labels in in the metadata window.

I think these changes will really help. I note your issue c) but this needs more of an overhaul to correct.

I like the addition in a) because that's what you should do in this case. When you have a mix of numeric and

[2021-03-30 10:21] #6253 closed

[2021-03-31 05:52] rdstern opened #6364 "Save extremes in the peaks option after declustering"
The Climatic > Prepare > Extremes is looking very good now.
@shadrackkibet has implemented a third button, called Threshold, to support the choice of a threshold for the situation where the extremes are the peaks over the threshold.
It has 3 options, namely Mean Residual Life, Threshold Range and Declustering.

The forst 2 options help to choose an appropriate threshold.  Then the declustering eli

[2021-03-31 07:32] Patowhiz commented on #4257
I think once PR #6362 is merged then all the items outlined here in regards to the dialog would have been fixed.

[2021-03-31 07:35] Patowhiz commented on #6352
@N-thony are you working on this dialog? I can work on item (a) , @rdstern says its is more urgent .

[2021-03-31 07:37] N-thony commented on #6352
@Patowhiz yes, I did some points. I can push my changes so that you can do (a). What do you think?

[2021-03-31 08:14] Patowhiz commented on #6352
@N-thony sound good. We can discuss on what you have so far what's remaining then I can add changes to your branch as and have it as 1 PR.

[2021-03-31 08:16] #5552 closed

[2021-03-31 10:29] #6174 closed

[2021-03-31 11:02] lloyddewit opened #6366 "Focus not set correctly in Climatic Summary dialog"
In PR #6363 , @shadrackkibet  wrote:

This issue should be resolved.

Further details can be found in PR #6363 .

[2021-03-31 11:55] dannyparsons commented on #5789
Further improvements for later:

- Can we have the options still when we have multiple files? They can be passed to `rio::import_list` in the same way so should be easy.
- I don't think we need to pass the `data_names` parameter to `import_data` because `files <- rio::import_list` should be a named list containing the file names already. It doesn't matter too much but if there were lots and lots o

[2021-03-31 12:57] #4029 closed

[2021-03-31 13:26] Patowhiz commented on #5789
@dannyparsons would you like me do the item (1) in this PR? I have done item (2)

[2021-03-31 15:49] Patowhiz commented on #6352
![data entry dialog](https://user-images.githubusercontent.com/21179007/113172280-234e0080-91fd-11eb-9619-c43ea0694432.PNG)

@dannyparsons I think the label "Type" could be "Period" and the 2 controls could be placed just above the 2 date pickers. When I saw the type I related it to Climsoft data entry forms "types" e.g Daily data entry, monthly data entry etc. They usually have different formats

[2021-04-01 09:33] #6364 closed

[2021-04-01 10:42] rdstern opened #6371 "More options on the reogrid view or on the R viewer"
After data entry it would be good to see what has changed in the grid.  I could do this with a filter.  But could I also be able either?

a) Open the view as now, and be able to refresh it with changed data.  I can always close and open again, but then I still have to scroll.  RStudio has its viewer that refreshes, and also has a Find - which is nice.  Is there perhaps an enhanced viewer we could

[2021-04-01 13:11] rdstern opened #6372 "Improve the string distance dialogue"
This is a trivial change.  The save control needs to be moved over.  The Position control has messed it up a bit.

[2021-04-01 13:23] rdstern opened #6373 "Checking Station coordinates"
@shadrackkibet possibly to continue, or hand to a colleague.  There is an interesting investigation to do here.
There are 2 further steps with this dialogue and perhaps one step backwards.

It currently does a TRUE or FALSE, but this actually needs more information than is currently provided.  That output should become optional.

a) Report the name of the country, or county or sub-county, etc.  (N

[2021-04-01 13:29] shadrackkibet commented on #6372
Also Prepare>Column: Factor>Recode Factor

[2021-04-01 19:59] rdstern commented on #6352
It seems sensible to continue here from the working version in the 0.7.0.  Congratulations to @N-thony @Patowhiz and @dannyparsons for heroic work so far!
Some items below are very small.  Also feel free to discuss:  Then the work should be shared between Antoine and Patrick.

Two minor points:
0 (Patrick)  Delete the (View) to indicate viewing.  Instead Have an asterick (*) by the variables to be

[2021-04-02 11:12] rdstern opened #6377 "New dialogue to export data for Climsoft"
1. This is to be added to the Climatic > File menu.  It is called `Export for Climsoft.`  It can be the first Export.  At the same time please change the others to `for`, rather than `to`.  (I suggest that the word for reflects that we are preparing the file correctly.  But we are not then going into Climsoft.)
2. The data must be defined as climatic.  In the definition of Climatic it must have a

[2021-04-03 05:55] rdstern opened #6378 "Adding options when importing multiple files"
Currently this import is only for the default settings.  That is ok for importing from SPSS, Stata or SAS, so this is already useful.  But with csv or text files it would be good to include options, particularly to select missing values.

At the same time, the label to import multiple files has made the dialogue wider.  It would be good to reduce the width, so it is no wider than is needed by the

[2021-04-04 04:27] rdstern opened #6379 "Another small bug in the File > Open dialogue!"
I thought this was fixed?  It maybe a result of the complicated code, so perhaps @Patowhiz can sort it when he does the refactoring.  Or maybe before!

![image](https://user-images.githubusercontent.com/11226469/113498555-d8d2c980-9505-11eb-9132-5cf8b490ecf3.png)

The image shows the problem.  I have returned to an Excel data file.  No sheets are marked, but Ok is enabled.  It also actually works!

[2021-04-04 06:08] rdstern opened #6380 "Small improvement in the Climatic > Dates > Infill Missing dates dialogue when there are multiple station variables?"
This dialogue has a multiple receiver for the Station information.  One use could be if there are stations within countries I suppose.  I am not sure how we would cope with that elsewhere.
 However, one common situation is when there are multiple Station variables, e.g. name and ID
[germany_4stations.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6253999/germany_4stations.xlsx)

It

[2021-04-05 05:24] rdstern opened #6383 "Bug when deleting a data frame and then drawing a graph"
**Describe the bug**
When deleting a data frame I got the following message:
![image](https://user-images.githubusercontent.com/11226469/113539201-1f432980-95d5-11eb-9fcb-debcd8110f45.png)

**To Reproduce**
a) I used the germany merged data.  This is for 4 stations.
b) I did quite a lot of analyses before - and had R-Instat open a long time.
c) I then Filtered by factor with Station as the factor

[2021-04-05 06:23] Patowhiz commented on #6244
This issue is a continuation of issue #6080

[2021-04-05 07:20] Patowhiz commented on #5450
@rdstern what are you thoughts on doing this as a dialog?

[2021-04-05 07:38] rdstern commented on #5450
@Patowhiz my think is that we will definitely need this - but not quite yet.  Where we currently have a dialogue (circular, extremes, fitdistrplus) I would like the transfer to a ggplot to be automatic if possible.
However, that will leave the general half-way dialogues where there could be many analyses producing objects for which plots will be an option.  That's where we will need the dialogue.

[2021-04-05 09:37] Patowhiz commented on #5450
@rdstern that's well noted.

[2021-04-06 07:46] shadrackkibet commented on #6366
@HawardKetoyoMsatsi this should be easy one to fix.

[2021-04-06 09:29] rdstern opened #6384 "Adding to the current Comments system"
The addition of comments is important for R-Instat generally, and particularly for the quality control and the new data entry.  The idea - a bit like adding comments to a cell in Excel, is that you can note items of particular interest.

In R-Instat they go onto their own sheet.  This is also particularly useful to keep a record of changes you may make of data in the data book.

You usually right-

[2021-04-06 17:00] rdstern opened #6388 "Tiny change on the Use Date dialogue"
It currently saves a variable as Date.  Pleasew could it be changed to date - to fit with the tidy data suggestions!

[2021-04-07 08:00] #6314 closed

[2021-04-07 10:06] Ivanluv commented on #5995
@Patowhiz I don't think its necessary to use record_graph() function here because the graphs are saved in this dialogue

[2021-04-07 13:13] #6372 closed

[2021-04-07 18:19] rdstern opened #6393 "Add an option to the Compare Columns Dialogue"
There is a `Prepare > Check Data > Compare Columns` dialogue currently.
I propose we add 2 radio buttons at the top.  The first is `By Row` and the second is `By Value`
The option described below is to add is `By Row`.  The existing dialogue is comparing `By Value`.

The `By Row` should be simpler! Its main use is to compare 2 numerical variables, row, by row, though I consider below the situation

[2021-04-07 18:43] rdstern opened #6394 "Adding the writing of flag fields to the new data entry system"
This is an important part of the data entry system.  It is to add "flag fields" to the data files as well as adding the data.  The main use will be to be able to kn ow which rows have been updated in the data, and hence to be able to selct those rows/dates for export  (to climsoft)

It is possible they can be for other purposes too, once the facility is done.  We thought this would have to be @dan

[2021-04-08 06:12] rdstern commented on #6393
I have added @shadrackkibet and @dannyparsons into the discussion as I consider possible extensions to the basic comparison option.
a) Could the 2 variables be in separate data frames?
b) Could the receivers be multiple?  So you could compare (say) 3 variables with 3 from a second set.  I would still have only 1 logical variable produced, which would be TRUE is all 3 (say) pairs match, and FALSE i

[2021-04-08 07:10] #6366 closed

[2021-04-08 09:30] shadrackkibet opened #6396 "A null reference exception triggered in the translation file"
**Describe the bug**
There is an exception triggered in the `Translation.vb` file line 75 when you click "Yes" from auto-recovery options.

**To Reproduce**
- Load any dataset.
- Do some analysis, say use any dialog
- Then close R-Instat
- Restart again. Hopefully, recovery options are shown, click "Yes".

![image](https://user-images.githubusercontent.com/26301973/114002007-26806680-9865-11eb-8b8

[2021-04-08 09:46] shadrackkibet commented on #6396
Interesting to also note that the directories are pointed to Danny's directories in my currently installed version.
![image](https://user-images.githubusercontent.com/26301973/114005353-2170e680-9868-11eb-9a11-6d09d9e1b16c.png)

[2021-04-08 09:57] rdstern opened #6397 "Completing the Position control for saving new variables"
This system is just-about working.  I am going resaonably systematically through the dialogues where it is used.  I am particularly looking for 4 things:
a) Does it work - I am hoping for that.  That's called `Work`.
b) Is the Position button nicely aligned, it was various sizes and slightly off centre.  I call that `Align`.
c) Is the label about the saving ok? In some cases the control was pushed

[2021-04-08 10:01] berylwaswa opened #6398 "Unable to Open the germany_4plus_sat data"
**Describe the bug**
When importing this data to R-Instat from the library the error on the image pops up

**Screenshot**
![Screenshot (6)](https://user-images.githubusercontent.com/28622260/114007887-6433be00-986a-11eb-9f16-903c86b593ad.png)

[2021-04-08 10:35] lloyddewit commented on #6396
@shadrackkibet Thank you for detecting and documenting this. I am able to recreate the error.
Clarification: the bug is only triggered when I close R-Instat by ending it's process (e.g. from within the debugger). The bug is not triggered when R-Instat exits normally.
I will fix this bug.

[2021-04-09 06:52] rdstern opened #6401 "Add a new Setup for Data Entry dialogue"
This needs discussion, but I suggest that it will be highly convenient to have a dialogue to help users setup their data files for the data entry process.  This follows discussions with Zambia Met who need to be able to enter into new files - for their rainfall data - as well as extend their existing files.
I suggest a simple (I hope) dialogue with 3 buttons:
a) New - to set up a new data frame
b)

[2021-04-10 04:58] rdstern commented on #6398
@berylwaswa I missed your comment above that you were trying to open the file from the library.  Rachel had a similar problem.  Now we have "twigged" we find nothing from the library opens.  @Patowhiz notice the message also that the multiple files can be read.  The library is (I think) unusable in Version 0.7.0.

And there is another serious error that I reported in #6383 and will report again, b

[2021-04-10 05:31] rdstern opened #6404 "Serious bugs in Version 0.7.0 still arise"
Serious bugs in Version 0.7.0 continue to arise.

a) I reported an odd one in #6383
b) The video team had problems reported in #6398

@Patowhiz should be able to find that one, because it is consistent and means the Instat side of the library is unusable.

It would be great if that is related to the intermittent problems I had - and Rachel now has.
She had the same problem I reported, but in the o

[2021-04-10 06:12] rdstern commented on #6404
Relief, I can make it go wrong consistently  - I think!
[germany_griefswaldtest.zip](https://github.com/africanmathsinitiative/R-Instat/files/6289317/germany_griefswaldtest.zip)

This is the data file:
1. Open it
2. Do a graph - I don't know if any graph, but I did Climatic > Compare > Correlations then sunh and sunh_sat, and options and scatterplot with month_abbr as the factor - 12 levels.
3. No

[2021-04-10 06:17] shadrackkibet commented on #6398
I think the bug reported by @berylwaswa above is specific to the import dialog. I was able to trigger the error and the code is as shown below.
[code]

Notice that the paths don't update properly!

@berylwaswa could you post the code displayed in your output window? Please always add the code you get in the output window, that always helps during investigations.

[2021-04-10 13:43] #6388 closed

[2021-04-11 09:25] rdstern opened #6405 "Addition of comments to the data entry system."
This is another item that is now clearer, and @N-thony could do the initial steps.  Then @shadrackkibet may be able to do the corresponding R code, or it may be jointly with @dannyparsons or @volloholic   This continues and adds details to items 12 and 13 from issue #6352 .

1) There is already a button on the data entry grid.
2) There is already a comments system that works fine.  @shadrackkibet

[2021-04-12 04:11] rdstern opened #6406 "Two small (?) changes to the filter dialogue"
The really trivial change is to change the default name from Filter to filter - so no capital letters.

The (only do it is easy) is the change the Edit Filter to `Add to Filter`.  It would be possible that the sub-dialogue doesn't change at all.  It is just when you press Return, then it executes (original filter) & (new filter).

That's all I usually need.  For example if you filter to factor lev

[2021-04-12 14:17] #6384 closed

[2021-04-12 14:20] HawardKetoyoMsatsi commented on #6393
@rdstern  Giving an error message after a different datatype has been entered in the second receiver conflicts with restricting the second receiver from accepting a different datatype. Could we just allow the datatype same as the one entered in the first receiver to be displayed in the selector so that the second receiver's input will be restricted to the datatype displayed in the selector?
Two da

[2021-04-13 00:32] Patowhiz commented on #6397
Waiting for more.

[2021-04-13 08:12] rdstern commented on #6397
@Patowhiz asked for more instances!
**_Prepare > Column: Factor_**
Recode Numeric.  Move saving control over.  Add the Position button - default after column.
Count in Factor.  Alignment.  Default name to be count, not Count, i.e. all lower case.  (Position has the correct default.)
Recode Factor: Alignment.  Change default to after factor variable.
Combine factor: Alignment.  Change default to af

[2021-04-13 09:49] #6398 closed

[2021-04-14 07:47] Patowhiz commented on #6378
@rdstern if we reduce the file label and browse buttons, will the the translations fit?

[2021-04-15 06:13] rdstern commented on #6373
@shadrackkibet is there any progress on this?  Do you need help?

[2021-04-15 06:44] rdstern commented on #6352
@Patowhiz I am keen to check on progress on items from the list above?
Also some small items discussed with Antoine:
a) The Station selected and the list of station is in quotes.  Could it be without quotes.
b) That control doesn't remember the setting when the dialogue is re-opened.
c) Transform on the dialogue could usefully change - sorry.  Currently you include 10 and then divide by 10 when wr

[2021-04-15 08:33] #6378 closed

[2021-04-16 06:06] rdstern opened #6415 "Add a new package - childdevdata?"
@volloholic I suggest this is an interesting package to include - and perhaps to use on the forthcoming Pakistan training?
It provides the data for 10 studies on child development.  They each read easily into R-Instat.  Each has at least one reference of articles in Lancet, BMJ, etc.  Some are randomised control studies.  Some are cross sectional , while others are repeated measures.
So they are n

[2021-04-16 06:52] rdstern opened #6416 "Adding gev and gpd distributions to the one variable fitting with fitdistrplus"
I am making the assumption here that we wish to continue with fitdistrplus for the one-variable model fitting.
It is designed to fit any distribution where the probability functions etc are available.  We have accordingly added the gev and gpd distributions to the list.
However, it appears that fitdistrplus requires starting values to be given explicitly for some distributions, including these.  S

[2021-04-17 10:35] Patowhiz commented on #6352
@rdstern the `reogrid` imposes some limitations that we may have to discuss before implementing the "Entry by day". The limitations are serious enough to make the existing validations be interpreted as a bug by users (in regards to focus change). We can discuss about it on Skype.

[2021-04-18 07:10] rdstern commented on #6352
An additional small feature is a checkbox called Display missing data as Blank Cell.  Default unticked as naow uses the NA.  If ticked it is blank.

[2021-04-18 07:47] rdstern opened #6418 "Correcting differences between two variables"
The new feature in the Prepare > Check Data > Compare Columns is now working.  It gives a logical variable which is FALSE whenever the 2 variables differ.
What is now needed is an easy way of making the corrections.  This suggestion needs to be checked by @volloholic before any work is done.  I also need @Patowhiz to confirm that it is an easy step in reogrid?
Once we have this, then I suggest we

[2021-04-19 14:02] rdstern opened #6419 "Completing the Climatic > Prepare > Extremes dialogue"
This dialogue is looking really good now.

The one item remaining is to save the results after declustering.  I think the difficulty is related to the fact that the dialogue already extends the functions, by permitting its use on data sets where there are multiple stations.

We currently do save the results for the peaks over threshold - and this uses a filter.  I use an example to explain my sugg

[2021-04-20 10:03] #6393 closed

[2021-04-20 11:25] shadrackkibet opened #6420 "Downloading temperature data from IRI Data store"
@IbrahimDanDije has placed a request and I quote the WhatsApp messages below.

Best regards.

Please test it and critique. If there are any specific requests needed by ACMAD team and not available in two dialogs, feel free to open an issue to discuss further and involve others as well.

Are you aware of the CHIRTS dataset as well which has daily min/max temperature? It is developed by the same peo

[2021-04-21 06:44] rdstern opened #6421 "Add additional option to the Use Date dialogue"
In the use date dialogue there is an option for quarters.  The numeric option is working, but the option to add the labels is not.
This could usefully be added.
The default labels are JFM, AMJ, JAS, OND.  That's simple.
The (slight I hope) complication is that you can choose a different starting month.  If you start in February then the labels are FMA, MJJ, ASO, NDJ, etc.  It should allow for any

[2021-04-21 06:55] rdstern commented on #6251
@haward, could you check on the alternative Tufte boxplots, and then propose to choose one to add.

Then could you first see how this option could easily be added, initially to the climatic boxplot dialogue and then also to the ordinary boxplot dialogue.  Ideally - at least for the climatic - it is just a checkbox to use the Tufte, rather than the ordinary boxplot. Could it be a checkbox (only whe

[2021-04-21 07:04] rdstern commented on #6278
@HawardKetoyoMsatsi I think the geoms are now added - or at least some of them.  So this could be a very nice addition that shows histograms and density plots in a different way.

[2021-04-21 12:47] lloyddewit commented on #3721
This PR is partially resolved in PR #6413 .

Here is a list of translation cases that still need to be implemented:
- **Controls with the same name in the same form/dialog/subdialog**. In most cases, this can be resolved by changing the name of the controls to make them unique. However, there are some cases where this is not possible. An example is in `sdgLayerOptions`. This subdialog contains 2 `

[2021-04-22 10:01] rdstern commented on #6350
@Ivanluv the dialogue now does give some output.  So the only task is to add the default name of `link`.

[2021-04-22 12:34] Cal-Insta commented on #6416
The fitting options provided by the fitdistrplus ( mle, mme, qme, mge), all require specifying the starting values for the parameters of "non-classical" distributions like the gev and gpd.

Packages like the ismev and extRemes have defaults provided as starting values to fit the gev and gpd distributions. The Extremes toolkit(menu driven interface for extremes ) uses the extRemes package and have

[2021-04-22 15:40] rdstern opened #6424 "Insert columns needs simple correction"
In the Prepare > Data Frame > Insert Columns/Rows when inserting columns the code generated is as follows:

[code]
The quotes round NA is a bad idea.  This enters the string NA not the missing value.  If you change to 0 say, then it enters "0".  So, please get rid of the quotes.

The one problem is that you may want to enter a string.  So also add a tooltip with the default value field, `Include t

[2021-04-22 18:07] rdstern commented on #6416
@Cal-Insta That looks to be a good start.  Now, the next step is to see how this could work in R-Instat.  I suggest that one wat to do this is to use the One Variable Fit Model dialogue.  I think the gev and gpd ar already available, though they don't work, because of the need for the starting values.  So prepare to use them in turn, and then use the To Script button instead.  That will give the c

[2021-04-23 05:47] rdstern commented on #6397
This is written on 23rd April.  @Patowhiz is handling the position control in the above posts.  This covers (I hope) each situation that the position control adds a new variable to the data frame.  Then @Ivanluv is "taking over" and implementing the improvements on the remaining dialogues.

I repeat the 3 aspects of the issue.
`Align` is where the position button is not neatly aligned.  It is some

[2021-04-23 07:57] Cal-Insta commented on #6416
@shadrackkibet Yes and thank you. we can get on with it.

[2021-04-23 09:48] rdstern commented on #6206
@N-thony a simple solution to this problem is to swap the order of the class and the label variables in the column and data frame metadata.  The class is always supplied so that solves the issue.  @dannyparsons is happy with this "solution".

[2021-04-24 06:16] rdstern opened #6425 "Add rename_with to be able to rename multiple columns"
Have Single and Multiple as two buttons at the top of the Prepare > Data Frame > Rename Column dialogue.  In the multiple option implement the dplyr `rename_with` command.

 There are then 2 parts we need to specify:
a) The variables to select.  This could allow the usual data selector with the multiple receiver.  But it will also allow a Select object from the new Select dialogue.  It may only al

[2021-04-24 06:21] #4957 closed

[2021-04-24 09:30] rdstern opened #6426 "Adding the select facility for variables as a partner to the filter system"
This has 2 parts.  It builds on, and supersedes topics mentioned in #4372, in #4957 and also in #6263 and in #4009.
The first part is to (probably) replace the current Prepare > Data Frame > Hide/Show Columns with a new Select Columns dialogue.
a) There will still be the Hide Columns (and Restore Hidden Columns) on the right-click menu as described in #4372, together with information on what is hi

[2021-04-26 09:30] rdstern opened #6427 "Add khroma package for circular colour scales?"
This looks to be interesting to add to the colour scales we have included recently.

In particular it explicitly mentions cyclic scales for circular data.

Could @lilyclements confirm that it is a useful addition.  It is meant for ggplot2, so I assume should be easy to add.  I assume we could include a dialogue option for cyclic in the sub-dialogue.

[2021-04-26 13:58] Patowhiz commented on #6352
@rdstern thanks for clarifying the items (b) and (c) above.

[2021-04-26 21:26] rdstern commented on #6401
[fairview.zip](https://github.com/africanmathsinitiative/R-Instat/files/6380414/fairview.zip)
Here is a station that I load.  I then go into the setup to add the flag variable:
It says:
![image](https://user-images.githubusercontent.com/11226469/116152260-9738d700-a6dd-11eb-87fc-74d79d3a2b81.png)

It does add the flag variable - seemingly correctly.  It doesn't have a key variable.

I then go back

[2021-04-27 12:32] shadrackkibet commented on #6350
What if there is an existing link called "link"? I would like @dannyparsons to confirm this change. I think for some reason we left this without the default which I don't remember. I think we want to have automatic indexing e.g link1, link2 etc also for keys?

[2021-04-27 13:11] rdstern commented on #6350
Yes, if it is like our norm in other dialogues, then it would be called `link` and if link exists, then `link1`, `link2`, etc.

[2021-04-28 06:01] Patowhiz opened #6431 "Importing multiple DAT file types"
@rdstern says

[2021-04-28 06:03] Patowhiz commented on #6431
My understanding is, right now we don't have import options for single importing of DAT files. And we don't have an explicit file extension support in the open file dialog. Looking at the code, data files are being assumed as text files.

[2021-04-28 08:56] Patowhiz commented on #3433
@dannyparsons is there a reason why `format = "csv"` was not used for `dat` files. I checked and found that it `rio` reads them fine if you force it to read the files as `csv`. This issue now relates to issue #6431 and PR #6432.
@rdstern would like the `csv` options enabled for the `dat` files but I need to understand why `txt` was the preferred option.

[2021-04-28 08:59] rdstern commented on #3433
@Patowhiz I may just be repeating your question.  In the particular example here, the files are actually comma separated.  I wouldn't have a problem with txt, but I just want to be able to have some flexibility e.g. in missing values.  I get nothing just now, as you see above.

[2021-04-28 09:12] Patowhiz commented on #3433
@rdstern yes. And I would prefer them read as csv if there is no special reason for reading the as txt. Because the implementation will be simple.
We have 3 options for reading text files, the 2 out of 3 use different package for reading the files. So reading dat as text files would force me to  also design the code in a way that it considers the 3 options.

@rdstern after looking at the dat files

[2021-04-28 09:13] Patowhiz commented on #3433
@rdstern @dannyparsons I also noticed, the .dat file is not included in the file open dialog. Is there any special reason for this? See screenshot below.
![file types](https://user-images.githubusercontent.com/21179007/116378765-456c7b80-a7c7-11eb-85dc-5fd62d1b02c1.png)

[2021-04-28 09:27] Patowhiz commented on #6379
@rdstern I'm unable to reproduce this bug. Could you retest using the latest changes from the master.

[2021-04-28 12:34] Patowhiz commented on #3433
As agreed by @dannyparsons I have implemented this as text file.

[2021-04-28 15:53] #6431 closed

[2021-04-29 08:12] Patowhiz commented on #6397
@rdstern should the the new column be after station element?

![station element](https://user-images.githubusercontent.com/21179007/116520748-f9354000-a887-11eb-998a-f3c05006c388.PNG)

[2021-04-29 08:46] rdstern commented on #6397
@Patowhiz yes - that would be good as the default.

[2021-04-29 15:14] Patowhiz commented on #6397
Items remaining here;

[2021-05-02 05:05] N-thony opened #6437 "Bug when adding a comment in data entry dialog"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68591383/116802511-bb4c4c00-ab13-11eb-9193-a9e9185c55e9.png)
The first one occurs when for the first time you select a row, and click on add comment. There is no row number in the input row, you should close and opened the comment sub dialog again to have the row number of the selected row in the grid.
![image](https://user-im

[2021-05-02 08:38] lloyddewit commented on #6437
@shadrackkibet - @N-thony suggested that we assign this issue to you because it's related to your work on the data entry dialog. If you prefer someone else to be assigned then let me know, thanks

[2021-05-02 10:35] shadrackkibet commented on #6437
I don't think the second should be a problem. The error is informative to the user and it guides the user to the appropriate dialog where to add a key -  This is a deficiency in the R-Instat way of relaying such informative errors.  I am not of the opinion of disabling Ok when there is no key. This will be confusing to users because they will not know why Add comment button is not enabled. I also

[2021-05-02 17:58] lloyddewit opened #6438 "Fix typos and spelling mistakes in the controls' text strings"
When he reviewed PR #6382, @shadrackkibet identified a number of typos in the controls' text strings.
These typos should be fixed in the R-Instat `.vb` and `.resx` files, and then a new translation database, and new translation JSON files should be generated.

[2021-05-03 07:04] N-thony opened #6441 "Small Bug in Climatic Setup for Data Entry Dialog"
**Describe the bug**
This is the data I used:
[four_stations_raindays.zip](https://github.com/africanmathsinitiative/R-Instat/files/6413253/four_stations_raindays.zip)
![image](https://user-images.githubusercontent.com/68591383/116848917-f753df80-abed-11eb-8cdc-26c9de10b7a6.png)

**To Reproduce**
1. Select Station Bimi N'konni
2. Then you have the message in the screenshot above
This because there

[2021-05-03 14:51] rdstern commented on #6383
So with the changes.
a) Open Dodoma and do a boxplot - for example, e.g. boxplot of tmax by month
b) Open Dodoma again and it comes into dodoma1.  Now do a boxplot on dodoma1

![image](https://user-images.githubusercontent.com/11226469/116892037-4d914480-ac27-11eb-8ba8-385d9ae31c1c.png)

[2021-05-03 15:02] dannyparsons opened #6447 "Packages for the next release 0.7.1"
- `hydroGOF` - needed for Comparison Summaries and should have been added before

[2021-05-03 15:11] shadrackkibet commented on #6383
I tried to replicate the bug reported by @rdstern as follows.

- Load any data set
- Do any graph say scatterplot
- Delete the data frame
- Load any dataset again
- Do any plot

[2021-05-03 20:11] #6383 closed

[2021-05-03 20:24] #6394 closed

[2021-05-03 20:24] #6437 closed

[2021-05-03 20:25] #6447 closed

[2021-05-03 21:01] #6441 closed

[2021-05-04 13:43] Wycklife opened #6450 "Proper setting of the station pull down to remember the station selected when you return to the dialog in Climatic>Tidy and Examine>Daily Data Entry dialog"
**Describe the bug**
I have been using the Daily Data Entry dialog to enter data for Maseno and Kibos stations but I keep on selecting the station every time I want to enter a new record.
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Climatic>Tidy and Examine>Daily Data Entry.
2. Select the the station to be entered from the station pull down (Kibos) and add the the element to the re

[2021-05-04 16:11] shadrackkibet commented on #6450
@N-thony this should be an easy one to fix. Can you fix it?

[2021-05-05 07:45] dannyparsons commented on #6358
@africanmathsinitiative/developers Could someone take this up? We would like it for the next release.

[2021-05-05 08:12] Ivanluv commented on #6358
Am looking at these

[2021-05-05 10:20] lloyddewit opened #6453 "Cannot download R-Instat 0.7.1 using the Firefox browser"
I cannot download R-Instat 0.7.1 using Firefox. It worked when I used the Chrome browser.

Steps to reproduce the behaviour:
1. Open Firefox Browser 88.0 (64-bit), this is the latest version
2. Go to http://r-instat.org/Download.html
3. Click on one of the links to download R-Instat 0.7.1 (32-bit or 64-bit)
4. Proceed until you see the message below
5. Process freezes and download does not take pl

[2021-05-05 15:31] rdstern opened #6454 "Problems with the French translation version"
This is partly just for information for @lloyddewit and partly for @N-thony because he will be interested in improving the French version.
It is largely occasions where the labels are too long in French.  But there are some other issues too - as we expected.

It is not yet in order, but just as I use the dialogues:
a) Prepare > Data: Calculations  > Enter
![image](https://user-images.githubusercon

[2021-05-06 05:36] rdstern opened #6455 "Add machine translation into Portuguese?"
@dannyparsons says this is a pretty trivial thing to do?  If so, then could we do this for the next release.  If so I would like to get back to the team in Mozambique on this, because I suggest it could make a big difference there?

I have Isabel, who has agreed to help and Tomas who works for INAM (Met service).  That's a start on looking at it.  And it isn't a feature that others are likely to u

[2021-05-06 09:11] lloyddewit commented on #6455
@rdstern Thanks for the quick chat. As discussed:
- if @dannyparsons (or his delegate) generates new Portugese JSON files, then I'll create a new translation database
- @Ivanluv should also include a `Portugese` option in the combo box in PR #6452
- No ther code changes needed
- Other languages, like Swahili, can also be added but I suggest we first resolve some of the open translation issues in i

[2021-05-06 09:46] lloyddewit commented on #6454
@N-thony Thank you for the quick chat. As discussed:
- I converted @rdstern 's list into checkboxes (according to https://guides.github.com/features/mastering-markdown/  'If you include a task list in the first comment of an Issue, you will get a handy progress indicator in your issue list.')
- You will implement point 2 above (please put an x in the checkbox above when done)
- I will implement th

[2021-05-06 09:52] Patowhiz opened #6456 "Making save control label automatically adjust its width when more space is needed due to translation"
Some languages result into the label of the save control being longer that the text used in English. This forces the design developers to make the width of the save control be longer than needed just incase a translation results in longer label.

@rdstern @lloyddewit I propose to have the save control be dynamic in regards to its width and to detect when the label is not visible enough. This could

[2021-05-06 10:02] N-thony commented on #6454
@lloyddewit I have done point 2, thanks.

[2021-05-06 15:28] Patowhiz commented on #6397
All items in the issue have been fixed. @rdstern @lloyddewit this is ready for your review.
I've now added code changes to the last remaining item (dialog  Climatic > Compare > Calculation).

[2021-05-06 15:35] Patowhiz commented on #6456
This feature can be done once PR #6434 has been merged.

[2021-05-06 17:36] Patowhiz commented on #5619
@rdstern I noticed the cell options when I right click on the data grid cell are no longer there. Where should I add this cell paste option.

![cell options](https://user-images.githubusercontent.com/21179007/117341437-f70a4d00-ae56-11eb-91e0-e6507f92276f.png)

[2021-05-07 06:35] rdstern opened #6460 "Remaining work on the data entry dialogue"
I think other issues may overlap with this one.  Perhaps check there that they can be closed as all topics are included here.

a) Within the grid it seems that delete is disabled - as it is in the main grid.  I would like it to be as easy as possible to make corrections in what is typed.  The restrictions in the main grid control are presumable partly because of the need to pass information on cha

[2021-05-07 08:34] Patowhiz commented on #5619
The requests made by @rdstern have now slightly changed. The menu items will now have label "Paste", in the right click of the column and the cell.

Pasting into column:
![paste into column](https://user-images.githubusercontent.com/21179007/117422136-1f845c80-aed4-11eb-8cbf-5936b162214a.png)

Pasting into cell:
![paste into cell](https://user-images.githubusercontent.com/21179007/117422184-2ca14b

[2021-05-07 09:49] rdstern commented on #6450
This was a problem in Version 7.0, but I thought it was already fixed by @N-thony in Version 7.1?  Perhaps not?

[2021-05-07 09:53] N-thony commented on #6450
@Wycklife following this, I couldn't reproduce the problem.

[2021-05-07 13:00] Patowhiz commented on #6450
@N-thony and I looked at this bug. The cause of the bug is in `ucrInputFactorLevels` control, it clears its contents when any change is made in the  linked `ucrReceiverSingle` control even during reopening of a dialog.

[2021-05-07 13:10] N-thony opened #6462 "Another bug in Data Entry dialogue"
**Describe the bug**
![image](https://user-images.githubusercontent.com/68591383/117453101-d4eef880-af44-11eb-964b-2e6a608004fc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Climatic>Tidy and Examine>Daily Data Entry.
2. Select the station to be entered from the station pull-down (Agades) and add the element to the receiver.
3. Select the dates for the entry
4. Click on the Ente

[2021-05-07 13:26] rdstern commented on #6462
That's correct.  Changing the level (i.e. the station, should change to a new version of the grid.

This dialogue is pretty complex.  I am pleased that it is being tested in this way and not surprised we are finding the occasional glitch.

[2021-05-07 16:46] Patowhiz commented on #6377
@rdstern its important to note that, climsoft only imports csv. So what's the intention here. I thought the main intention is to have the exported data immediately ready for importing to climsoft. If that's the case the comments and exported to excel wouldn't be ideal.

I agree we could have 0.03 exported with flag T for trace. We would also need to have the missing values exported with M for miss

[2021-05-07 16:48] Patowhiz commented on #6377
@rdstern in regards to the elements. I also think climsoft will only accept element codes. So will the data frame always have to have elements metadata?

[2021-05-07 18:21] mhabimana commented on #6377
@pathowhiz-Climsoft will accept data files in all text format including CSV but not Excel.

[2021-05-07 18:28] mhabimana commented on #6377
@Pathowhiz-sure,you are data file will need element code to describe data, especially when the file contains data for multiple elements.

[2021-05-07 20:01] rdstern commented on #6377
@Patowhiz I am delighted to continue this discussion to clarify the needs for this dialogue.  I am still not sure about the importing of data into Climsoft, that includes the flag fields.  This is particularly important to be able to include the trace values.  I assume in R-Instat they will remain  as 0.03, but the export dialogue will change this into 0 and T in the flag field, to fit with Climso

[2021-05-08 12:13] Patowhiz commented on #6394
Could the "Add flag fields" checkbox label be a bit more descriptive or probably a tool tip explaining what it means to have it checked. It wasn't instantly clear to me though I guess the data entry personnel will have been trained on this dialog.

[2021-05-09 09:55] N-thony commented on #6454
![image](https://user-images.githubusercontent.com/68591383/117567650-4d78c500-b0bd-11eb-968a-be33a390c9fd.png)
This is fixed in PR #6457.

[2021-05-10 10:15] #6462 closed

[2021-05-10 14:31] rdstern opened #6464 "French translation language issues"
A trivial one - but Date in the fig below doesn't have the colon.  (:) .  It does in the English?

And a nice translation problem.  Perhaps I can learn how to suggest these in the right place - but is it ok to make suggestions here too.

Station is translated as Gare, which is correct, but only as a railway station.  It should be Station - here!

[2021-05-10 18:51] N-thony opened #6465 "Another problems with the French translation version"
This contains a couple of dialogues that have problems with the French translation.
a. Climatique>Dates>Date d'utilisation
![image](https://user-images.githubusercontent.com/68591383/117699902-a5025800-b1c5-11eb-8453-ff9eb2d16f1e.png)

1. Jour de la semaine, Année bissextile are too long and not display properly. Perhaps Jour de Semaine, and Année Bissextile with some space between them.
2. Jour e

[2021-05-11 08:48] #6379 closed

[2021-05-11 10:04] #6182 closed

[2021-05-11 10:21] rdstern commented on #6464
I assume the very common issue of the label being the wrong length, like Donnees being longer than Data also is added here, because that is a change in the program - though in the dialogue rather than code?
I was interested that you included Gare and Station here?

[2021-05-11 10:29] lloyddewit commented on #6464
- Issues with labels being the wrong length should **not** be included in this issue because this needs to be fixed in the code
- The Gare/station issue, and the issue with the colon, **should** be included in this issue, because this needs to be fixed in the JSON files

[2021-05-11 10:32] lloyddewit commented on #6465
@N-thony Thank you for these excellent observations. I suggest we resolve the actual English->French translations via issue #6464 , and the presentation problems (e.g. labels too long) in this issue.

[2021-05-11 10:41] lloyddewit commented on #6464
@rdstern I removed the translation label from this issue because this seems to be reserved for translation mechanism issues. What's your view?

[2021-05-11 13:11] N-thony commented on #6464
- Climatic > Check Data > Inventory:  Date Order is translated as Commande par date, it should be **Ordre des dates** here.
- Climatic > Check Data > Inventory:  Facet by is translated as Facette de, it should be **Facette par** here.
- Climatic > Check Data > Inventory: Element has space with (s). It doesn't have in English.
-  Climatic > Check Data > Inventory: Comment doesn't have the colon (:)

[2021-05-11 13:20] lloyddewit commented on #6464
@rdstern Thanks, I edited the translation labels, and added some explanatory text, I hope that's OK

[2021-05-12 11:01] rdstern opened #6466 "Add the more facility to the File menu and the toolbar"
When starting R-Instat the recent files are available, together with the paths.
And there is a More button.

![image](https://user-images.githubusercontent.com/11226469/117964333-62ea2b00-b319-11eb-8489-b5d64973bba9.png)

The toolbar also has the recent file names and so does the bottom of the File menu.  Please could the More be available here too.

[2021-05-12 14:09] #5619 closed

[2021-05-12 14:14] #6397 closed

[2021-05-12 14:52] rdstern commented on #6450
@Wycklife I think this (#6450) is now fixed and should be merged soon.
It has exposed that the Kenya data files in the R-Instat library are not the most up-to-date ones.
Can you also sort out an issue so they are updated for the next version of R-Instat.  Thanks

[2021-05-13 07:22] lloyddewit commented on #6456
@Patowhiz

@Patowhiz Thanks for the suggestion, here's my personal view:

I can see the advantages. Possible risks could be:
- if the control expands then it may affect other controls in the dialog
- it may be quite complex to implement and test a solution that copes with all the permutations
- if the user toggles between languages then the dialog controls will shift, this may look strange

I sugg

[2021-05-13 08:53] #6424 closed

[2021-05-13 09:28] #6450 closed

[2021-05-13 10:57] lloyddewit commented on #6464
I found some more French translations that need changing. I think they are parameters and should not be translated.
I will soon add functionality so that text like this is not translated. In the meantime, could this be fixed via CrowdIn?
- Standard_deviation: format@@0 Standard_deviation
- Extreme_value: Valeur_extrême
- Students_t: Étudiants_t
- Gamma_With_Shape_and_Scale: Gamma_de forme et d'éch

[2021-05-13 11:13] lloyddewit commented on #3721
The above issue is fixed in PR #6469

[2021-05-13 11:16] lloyddewit commented on #6454
@rdstern This issue is resolved apart from:
- The keys are translated. Is this correct?

Would you like these keys to be translated?

[2021-05-14 06:49] rdstern opened #6470 "Two changes to the climatic menu on frm main"
Could there be a new menu item in Climatic > File > Export to Climsoft.
It becomes the top of the 3 export dialogues and is ready for the dialogue to be written.  Perhaps the blank dialogue - for now - should also be included.
Then in Climatic > Tidy and Examine > Compare Columns.

This is simply another copy of the Prepare > Check Data > Compare Columns dialogue.  In the tidy and examine it is th

[2021-05-17 06:09] rdstern commented on #6460
@Patowhiz in implementing the remaining items for the data entry it would be good to have an order to those and mine is suggested below.  It is so only limited more work is done this time round.  But what is done includes the visible aspects, so we can proceed quickly with documentation and videos.
a) Fix small issue with mean and count.  Then merge and start a new pull request.
b) Change the radi

[2021-05-17 10:46] lloyddewit opened #6472 "Refactor the Recode Numeric dialog so that it is implemented in the standard way"
In PR #6434, @Patowhiz  wrote:

Please see additional comments in PR #6434.

[2021-05-17 14:14] rdstern opened #6473 "Improving the consistency of our dialogues?"
This suggestion relates to 2 existing issues.  Namely:
1) The comments below in issue #6469  and 2) a comment #6472 on implementing a dialogue in the standard way.

@lloyddewit I suggest after this being merged, to work on the Climatic menu in one PR.

@N-thony Thanks, good idea
Please could you try and resolve the remaining parts of issue #6454, issue #6464 and issue #6465; and then start checkin

[2021-05-17 21:05] rdstern commented on #6460
One new check we may need to add - with the Range option.  It could be general, but isn't relevant for the month and day options is a limit on the length of the Range.  I tried for 10 years and it takes some time to prepare the data for the grid.
I am not sure if operations within a long grid will also be slow?
The main grid is (by default) 1000 rows.  I wonder what is sensible here?  I'm thinking

[2021-05-18 06:55] lloyddewit commented on #3721
Here is a list of translation cases that still need to be implemented (in priority order):

- [ ] drop-down lists
- [ ] tool tips
- [ ] tag controls to explicitly prevent their text from being translated. For example, if a control's text represents the name of an R parameter, then this text should not be translated.
- [ ] message boxes (e.g. startup and developer errors)
- [ ] text constructed fro

[2021-05-18 07:00] lloyddewit commented on #3721
Here is a list of translation mechanism features that still need to be implemented (in priority order):

- [ ] translate drop-down lists
- [ ] translate tool tips
- [ ] tag controls to explicitly prevent their text from being translated. For example, if a control's text represents the name of an R parameter, then this text should not be translated.
- [ ] translate message boxes (e.g. startup and d

[2021-05-18 10:11] lloyddewit commented on #6473
@rdstern small comment: I assume you mean **PR** #6469 above, not issue

[2021-05-18 10:26] rdstern commented on #6473
@lloyddewit yes I do.

I also realise I was not sure what @N-thony was planning in regard to the climatic menu.  If it is the crowdin stuff, then that still stands as before.  My suggestions only affact the code/programming

[2021-05-18 10:27] lloyddewit commented on #6473
@rdstern Thank you for the suggestions. I liked your checklist. I discussed with @N-thony

There are many aspects to this, checking them all would be huge effort. I suggest to limit the scope just to ensure that the translation is done at the end of the load function. I will take this task. I hope that I can write a short script to identify which dialogs have this problem. I can then correct these

[2021-05-18 10:54] rdstern commented on #6473
@N-thony and @lloyddewit that's all fine.

[2021-05-18 13:00] Patowhiz commented on #6456
@lloyddewit yes this can wait. No need to implement this if a simple fixed-width approach works.

[2021-05-18 13:07] Patowhiz commented on #6206
@rdstern @N-thony yes that could be a simple solution and could certainly work, but it will be good if we could understand what's causing this. That knowledge could be transferrable elsewhere when such a problem is observed. I suggest debugging this through a deduction process until we alienate the actual cause of this.

[2021-05-18 20:52] rdstern opened #6476 "Reading of multiple txt files"
I am trying to read (climatic) data of course.  There are multiple files per element, with one file per year.  In a file that is shared the tmax has missing as -100 and reading an individual file it works fine reading 31 rows.  There are 13 columns with the day of the month plus one for each month:
![image](https://user-images.githubusercontent.com/11226469/118721317-9863ac80-b822-11eb-8ee7-099df7

[2021-05-19 12:43] shadrackkibet commented on #1792
Just to note that R version 4.1.0 has now been [released](https://www.r-project.org/). Therefore once we upgrade this bug should be fixed!

[2021-05-19 16:15] lilyclements opened #6477 "Linking issue for creating summary tables."
**Describe the bug**
The outer margins work fine when creating the summary tables, however, "summary" margins do not. These are margins to summarise the factor variables further - for example, the bottom three rows of the following plot

![image](https://user-images.githubusercontent.com/21180424/118846457-a10cbf00-b8c4-11eb-97aa-16699b3fcbd0.png)

**To Reproduce**
This issue is with the summary f

[2021-05-20 20:26] dannyparsons commented on #6313
@maxwellfundi A user today had this same issue. I wonder if running the installer as administrator would make it work properly?

Can you post the workaround fix you found? It's important to have a record of the fix.

[2021-05-20 21:37] shadrackkibet commented on #6313
@dannyparsons what about this [solution](https://github.com/rdotnet/rdotnet/issues/62#issuecomment-369065108). Simply deleting `Renviron.site` worked for me on several occasions.

[2021-05-21 10:57] dannyparsons commented on #6313
Interesting. I thought this was just an issue with R-3.4.3. Is it also there in newer versions?

[2021-05-22 14:27] lloyddewit opened #6481 "Remove unused (sub)dialogs from the project"
In PR #6478, @shadrackkibet observed that there are a number of (sub)dialogs that are not used.

I investigated and identified 63 (sub)dialogs that I believe are not used and can be safely deleted from the project. Each of these (sub)dialogs is associated with up to 4 files. So removing these (sub)dialogs could result in 200+ fewer files in the project.

@dannyparsons @shadrackkibet Please can you

[2021-05-22 14:47] lloyddewit commented on #6481
Please ignore this comment. It is just a personal record of some of the commands I used to identify unused (sub)dialogs:

[code]

[2021-05-22 17:26] shadrackkibet commented on #6481
@lloyddewit  I did check all these dialogs. I make observations as follows;

- I think `dlgBackupManager` was to be added under the tools menu see merged PR https://github.com/africanmathsinitiative/R-Instat/pull/4321.
- I think we might need the following. I suggest you could exclude it from the list for now. We should also take action and I give reasons as follows;
1. `dlgFlatFrequencyTable` - I

[2021-05-23 19:48] lilyclements commented on #6481
Can confirm this is true so definitely delete 1 and 4. Hopefully a describe and model survival dialog can be implemented eventually but as of yet I'm not sure when that can be.
If you want to delete 2 and 3 for now then I'm fine with that.

[2021-05-24 08:54] lloyddewit commented on #6481
@shadrackkibet @lilyclements Thank you for the very helpful feedback.

@rdstern is `dlgBackupManager` still needed? If so, then should we add it to the 'File' or 'Tools' menu (see PR #4321)?

@rdstern Should we add this dialog back?

@rdstern still needed?

We will keep

@rdstern Do you expect to add 2 and 3 to R-Instat? Or can we delete all 4 dialogs?

We will keep

We will keep

@rdstern Should

[2021-05-24 08:58] lloyddewit commented on #6454
@rdstern Thank you for the discussion on 20 May. You confirmed that it was OK to translate the keys and this issue could be closed.

[2021-05-24 08:58] #6454 closed

[2021-05-24 09:48] rdstern opened #6482 "Small bug in importing Excel file"
This is an awkward file - sent separately to @Patowhiz .  The bug may be more general and is (I think) easy to fix.
I am importing a selection from the file as shown:
![image](https://user-images.githubusercontent.com/11226469/119326120-79797600-bc79-11eb-859b-5fb0eddebcd0.png)

(So no column names, skipping 281 rows and importing 75 rows.)

The commands generated were as follows:
[code]
But I got

[2021-05-24 10:55] rdstern opened #6483 "A simple - maybe - problem with data imported from Excel"
Here is a simple data set in Excel.
[Voluntary stations_muchinga.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6531626/Voluntary.stations_muchinga.xlsx)
I would like to import the data into R-Instat and the get the mean of the latitude data.

a) I can do it easily in Excel.  Just use the sum button and ask for the mean.
b) But I want to import into R-Instat and then analyse
c) Whe

[2021-05-24 15:32] Patowhiz commented on #6483
@rdstern the odd character is because of a different issue. I did research on it sometime back, I will link my comment to this issue. I agree the odd symbols are caused by the spaces in the numerics, you can check and see this in R-Instat **View Data Frame** option or R-Studio data viewer.

I did try to convert to numeric and it converted fine. I think we can start by solving the display problems

[2021-05-24 19:43] #6358 closed

[2021-05-25 04:20] rdstern commented on #6483
@Patowhiz has helped by identifying that the "diamonds" in the display of the lat and long variables above are actually (mainly) leading and trailing spaces.
So I can trim the lat and long variables first.  Then the problem almost disappears.

For long (longitude) it does disappear.  So the trimmed data converts nicely into numeric.

Hence initially a  @dannyparsons question.  In the conversion to

[2021-05-25 07:44] rdstern opened #6489 "Language-driven change on one dialogue in Prepare menu"
In the Prepare menu I have suggested one dialogue be used as an example.  It would be quite good if the label length could be adjusted - and there is an example here where Portuguese is longer than French.

Here is the English:
![image](https://user-images.githubusercontent.com/11226469/119458400-9f178580-bd34-11eb-8912-9b981790fcb2.png)

The french:
![image](https://user-images.githubusercontent.

[2021-05-25 09:07] lloyddewit commented on #4509
@rdstern This seems to be fixed now so I am closing.

[2021-05-25 09:07] #4509 closed

[2021-05-25 09:08] lloyddewit commented on #5150
@rdstern I think this is solved now so I am closing this issue.

[2021-05-25 09:08] #5150 closed

[2021-05-25 09:09] lloyddewit commented on #5154
@rdstern I think this is solved now so I am closing this issue.

[2021-05-25 09:09] #5154 closed

[2021-05-25 09:14] lloyddewit commented on #5158
@rdstern I think this is solved now so I am closing this issue.

[2021-05-25 09:14] #5158 closed

[2021-05-25 09:22] lloyddewit commented on #5168
@rdstern The enter dialog seems to have changed since this issue was raised. I no longer see the translation problems described in this issue. Therefore, I am closing this issue.

[2021-05-25 09:22] #5168 closed

[2021-05-25 10:01] lloyddewit commented on #5155
@rdstern This is now resolved, so I'm closing this issue.

[2021-05-25 10:02] #5155 closed

[2021-05-25 10:02] lloyddewit commented on #5156
@rdstern This is now resolved, so I'm closing this issue.

[2021-05-25 10:02] #5156 closed

[2021-05-25 10:03] lloyddewit commented on #5159
@rdstern This is now resolved, so I'm closing this issue.

[2021-05-25 10:03] #5159 closed

[2021-05-25 10:04] lloyddewit commented on #6396
Fixed in PR #6413

[2021-05-25 10:04] #6396 closed

[2021-05-25 10:07] lloyddewit commented on #6455
Fixed in PR #6471 and PR #6485

[2021-05-25 10:07] #6455 closed

[2021-05-25 10:19] lloyddewit commented on #6473
@N-thony the following issues about French translations are still open:

- [ ] issue #6464
- [ ] issue #6465

Please could you review the above issues and resolve any remaining problems. Please let me know when you're done, and we can then close the above issues.
Thanks

[2021-05-25 10:57] lloyddewit opened #6490 "Add language toggle button to subdialogs"
R-Instat can now be displayed in English, French and Portuguese. Additional languages are planned.
If you select a language that is not English, then a 'lan' button appears on each dialog. This allows you to toggle between your selected language and English.
If you toggle to English, and then open a subdialog, then the subdialog is still displayed in the non-English language.

It would be nice to

[2021-05-25 11:29] rdstern commented on #6490
I had assumed we would add a Lan button to the sub-dialogues.  .  But, now you give me the option I quite like what I hope is the simplicity of the Lan button, just being on the main dialogue and then also applying to the sub-dialogues.

The only down-side is that iyou suddenly wanted something in English, then you have to nip back to the main dialogue to do this.  But if we add it to the sub-dial

[2021-05-25 13:10] #6489 closed

[2021-05-25 15:19] #5886 closed

[2021-05-25 19:01] N-thony commented on #6465
@lloyddewit this can be close.

[2021-05-25 19:02] N-thony commented on #6464
@lloyddewit this can be close too.

[2021-05-25 19:03] #6465 closed

[2021-05-26 05:31] rdstern opened #6492 "Remove leading and trailing spaces when importing files"
[Voluntary stations_muchinga.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/6543972/Voluntary.stations_muchinga.xlsx)

This file, when imported into R-Instat,  looks really messy in reogrid.  @Patowhiz has found the mess is largely because of leading and trailing spaces in some variables - particularly in the long and lat variables.

Excel is understanding and seems to ignore them,

[2021-05-26 07:18] Ivanluv opened #6495 "Improvements to the multiple receiver"
In the `dlgCombineText` dialogue we have the `clsDefaultFunction` `RFunction`  that requires its ` .... ` `RParameter` from the multiple receiver as a list of columns without being combined in the the R's generic combine function i.e `c() `. Therefore Having the multiple receiver update its` RParameter ` 's  ` RCodeStructure `as a comma ` ROperator` i.e the list of columns passed as comma operator

[2021-05-26 07:54] rdstern commented on #6490
After discussion with @dannyparsons he suggests the simplest to implement, and possibly to use, is to add the Lan button to the user control also on sub-dialogues.  Then to consider the button as a simple toggle on each form.  When you leave the form it returns to the selected language, e.g. French.  So, when you are on a main dialogue you can look at the English.  When you close that form it does

[2021-05-26 08:15] Ivanluv opened #6496 "Alternative ways for changing of RParameter properties by multiple controls"
Currently when two controls change  properties in the the same `RParameter  `its difficult to `setRcode ` for the controls  as opposed to manually changing the parameter properties within the  control events .

 For example in `dlgTransformtext `we have an `RParameter `with the `strParameterName `  `"start" ` whose `clsRCodeStructure  `property  is affected by `ucrReceiverFirstWord `and its `strPa

[2021-05-26 17:38] shadrackkibet commented on #1792
We have now updated to R 4.1.0

[2021-05-26 17:38] #1792 closed

[2021-05-27 07:25] #6464 closed

[2021-05-27 07:37] lloyddewit commented on #6473
@rdstern , @N-thony

I understand that this issue is now completely resolved apart from:

d) Spacing of controls on the dialogue is consistent and well aligned.

@N-thony already completed the above for the climatic menus in PR #6479. The same now needs to be done for the dialogs in the remaining menus.

[2021-05-27 10:56] khadim2090 opened #6500 "Merge Dialogue"
I can't find the Merge Options in my R-Instat 0.7.2 version using ** Prepare > Data : Reshape > Merge**, I am getting at its place the Join Options.

[2021-05-27 14:04] lilyclements opened #6502 "Updating the "Summary Tables" dialog"
The summary tables function has been updated and is given on issue #6411

Some changes need to be made, these are outlined below but also given in this figure:

![image](https://user-images.githubusercontent.com/21180424/119841600-dc7b3f00-befd-11eb-946b-5afbaf54782b.png)

There are two functions run - the first is the current function that is ran called `summary_tables`, read from the instat obje

[2021-05-27 15:19] Patowhiz commented on #6476
@rdstern below is a screenshot of one of the files. Line 28 and below have empty spaces as missing values and my findings suggest that `rio` struggles with "guessing" all the contents of the rows correctly.  I confirmed this by even importing a single file with such contents using `rio`. After discussing with @dannyparsons I think we may have to now also enable the 2 other text radio buttons for m

[2021-05-28 06:41] lloyddewit commented on #6490
@N-thony Thank you for all your help with the translations. Please could you also implement the above proposal from @rdstern. I think that the subdialog 'lan' button can be implemented in the same way as the dialog 'lan' button. I'm happy to discuss if needed.
There may be a new release for 11/06/21. Please would it be possible to complete the implementation of this issue a few days before this re

[2021-05-28 10:26] lilyclements commented on #6477
Note that there is a temporary fix to this that has been run, however it is less efficient overall than if we can sort the linking bug.

[2021-05-29 08:31] rdstern opened #6504 "Translations could use the ISI resource?"
ISI produced translations of statistical terms into 31 languages.  It is [here ](https://www.isi-web.org/isi.cbs.nl/glossary/index.htm)and could be a useful reference sometimes?

It is shown here:
 It looks like this:
![image](https://user-images.githubusercontent.com/11226469/120063608-f2087a00-c05f-11eb-9f2f-d6be5c1d5725.png)

It has an interesting problem that (as shown in the figure) it was la

[2021-05-31 09:16] lloyddewit commented on #6504
@rdstern - Good discovery!
This is a useful resource for the people doing the CrowdIn translations. I started a Wiki section about translations (https://github.com/africanmathsinitiative/R-Instat/wiki/Information-for-developers). I added a reference to the ISI website.

[2021-05-31 19:59] lilyclements opened #6506 "Updating the ucrReceiver to allow for rearranging items in the receiver"
At the moment the receiver takes variables from the selector. For the summary tables dialogs, we want to have some up/down arrows to allow for the receiver to additionally rearrange variables. This would be similar to the control to move around factor levels, or layers in the geom function.

![image](https://user-images.githubusercontent.com/21180424/120235936-095b8900-c253-11eb-8f10-d4917c686aa1.

[2021-06-01 06:05] rdstern commented on #6506
@lilyclements I am happy for the multiple receiver to become more flexible and like the idea.  But I also heard that David thinks this is the ideal task for Chris Marsh to start working on as he joins us.

I am slightly confused why that should be? As you know I am very keen on the tables working well.  But there will also be a NUD to say how many variables are column, and currently all you have t

[2021-06-01 10:09] lilyclements commented on #6506
As well as encouraging different layouts, this also allows for some flexibility to easily reorder their rows and columns (especially if the last variable they put it they actually want to be the first variable).
Also having this "line" in the receiver adds some clarity as to which variables will be in the columns and which in the rows.

[2021-06-01 10:26] lilyclements commented on #6502
EDIT: Keep the "Column Factors" with the corresponding ucrNud in the dialog. However, this is no longer a parameter in the `IDO$summary_tables` function since that function **always** returns the summary table in long format.

Instead it should be ran in the dialog code such that the `header_top_left() +` function is ran for each of the variables in the factor receiver for the first Mth variables.

[2021-06-02 10:07] lloyddewit commented on #6504
done

[2021-06-02 13:06] lilyclements commented on #6502
Can you also disable the "Store Results in Data" checkbox?

[2021-06-03 13:12] Patowhiz opened #6509 "Adding and removing event handler in ucrSave control"
This line causes a warning message as shown below.

![image](https://user-images.githubusercontent.com/26301973/118647172-b6f98180-b7e9-11eb-807d-2f272adbae15.png)

_Originally posted by @shadrackkibet in https://github.com/africanmathsinitiative/R-Instat/pull/6434#discussion_r634310306_

[2021-06-04 05:55] N-thony opened #6511 "Small bug in Options dialog - Languages"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/68591383/120752291-bd863980-c509-11eb-82a4-46b67fbcb206.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Options dialog
2. Select French in the language combo then apply the change
3. Close the application and open
4. Repeat step 1), the language combo is empt

[2021-06-04 07:41] #6490 closed

[2021-06-04 07:47] lloyddewit opened #6512 "Improve French translations"
I suggest that we use this PR to document French translation issues that we come across.

In PR #6510, @rdstern wrote:

[2021-06-06 07:51] #6509 closed

[2021-06-07 06:26] rdstern opened #6514 "Read data from lists in new package dslabs"
The dslabs package package is described as follows:

`"Datasets and functions that can be used for data analysis practice, homework and projects in data science courses and workshops. 26 datasets are available for case studies in data visualization, statistical inference, modeling, linear regression, data wrangling and machine learning."`

It provides the examples for the Harvard book on data scie

[2021-06-07 06:27] rdstern commented on #6135
@N-thony there is an urgent issue with the bar charts that I mentioned in the discussion in #6488 - see the example there.  It may take longer to include the multiple receiver - and may need help from @dannyparsons or shadrack, but checking on the positions of the controls should be quick to do.

[2021-06-07 06:39] lloyddewit commented on #6512
Comments from @rdstern in PR #6513:

[2021-06-07 09:27] rdstern opened #6515 "Minor improvement needed on the data entry dialogue"
@Patowhiz the data entry is working quite well.

One very minor item is the summary of the number of days when trace values are included.  Most of the different summaries are all ok, namely total, and number of rain days.  But the number of days needs to include the trace values.  Currently if I have 30 days with rainfall entered, with 22 zero, and 6 non-zero and 2 trace, the number of days is giv

[2021-06-07 09:50] rdstern opened #6516 "Climatic > Prepare > Conversion dialogue to allow a filter"
@Patowhiz this is a change that needs some R.  Good to check with Danny or David.  Possibly start with David.

It is a single dialogue, but the solution should then be added to further dialogues.

The Conversion dialogue should allow for a filter.  Currently it gives an error if a filter is applied.

Here is an example to explain what I would like.  I have a rainfall variable from 1961 to 2010 (sa

[2021-06-09 09:15] rdstern commented on #6135
@N-thony after discussing with @volloholic it is clear that this is difficult conceptually and we are in danger of going round in circles.

Here is where I have got to, so far.

a) A distinction is between Frequency and Value.  That's currently what we have as the Y-variable as Count or Variable.  So we effectively move that control to the top and replace the Bar Chart buttons by 2 buttons, namely

[2021-06-09 09:55] rdstern opened #6519 "Variable names sometimes translated"
This took quite a time to find.  Here is an example:
![image](https://user-images.githubusercontent.com/11226469/121331636-f9a50a00-c90e-11eb-8090-7249dd1d581b.png)

No, it is easy to get directly - it seems to be dataset dependent.  I tried with our usual survey data and never got the problem.
But starting R-Instat, then open samrain from the climatic guide datasets.  Run the bar chart graph with

[2021-06-09 10:03] rdstern opened #6520 "Adding Swahili as a 4th language!"
The documentation team, particularly @berylwaswa are very keen to add Swahili into R-Instat.  I am interested, (as they are keen), for 3 reasons:
a) Fits well with our uses of the software.  Great reason to write back to TMA as it could become a winner in Pakistan.
b) Shows how easily (I hope) that a language can be added
c) Good test of a language that might be sort on modern technical terms

Cou

[2021-06-09 11:17] HawardKetoyoMsatsi commented on #6421
@dannyparsons I was wondering whether it can be okay if we write a function and call it in data__objectR6.R. Below is a function that I am still looking for a way to better it so that quarters labeled by numbers 1, 2, 3, 4 can be renamed by labels like JFM, AMJ, JAS, OND etc.
[code]

[2021-06-10 10:49] lloyddewit commented on #6519
@rdstern Thanks for reporting this.
This is an instance of missing functionality as described in issue #3721 (3rd item down) :
![image](https://user-images.githubusercontent.com/57253949/121511693-347b7080-c9e9-11eb-8e05-1c4f9ede858b.png)

I can fix the specific issue above by tagging the 'Variable X' receiver as 'do not translate'. This is a one-row change in the database (no code change needed).

[2021-06-10 11:23] rdstern commented on #6519
I agree that receiver text, for single and multiple receivers, should not be translated.  They contain the names of variables and they need to stay in their "neat" form.

[2021-06-10 14:50] rdstern opened #6523 "Add dumbbell and slope charts to R-instat"
In our graphs it would be good to provide more of the graphs that we keep seeing.  We need to "make-it-easy" but we should also stick to some principles, so we are adding in a ggplot sort of way.  I suggest we can do this by adding a few more buttons to the existing specific dialogues.  One example is the lollipop charts.

See [here](https://www.r-graph-gallery.com/301-custom-lollipop-chart.html#b

[2021-06-10 15:10] rdstern commented on #6135
I hope an improved version of the bar charts can be merged.  This is stoll work in progress.

a) I would like back-to-back bar charts.  This would include population pyramids and other bar charts where one side is for males and the other for females.

Here are some examples:
![image](https://user-images.githubusercontent.com/11226469/121548024-94334500-ca04-11eb-95ff-33df061967d7.png)

Checking on

[2021-06-11 06:51] Wycklife opened #6524 "Adding dslabs package into R-Instat"
After discussions with Roger on using R-Instat for data science, we decided that the **dslabs** package should be added to R-Instat.

[2021-06-11 14:36] rdstern commented on #6523
I now have a further option.  [Here](https://alesandrab.wordpress.com/2014/10/15/how-to-create-a-double-lollipop-chart/) is an article on creating a double lollipop chart in Excel.  There are many steps and it is quite a process!

I suggest "double lollipops" are just another instance - in ggplot2 - of a segment layer plus a point layer.
And the article listed above also mentions that they are lik

[2021-06-11 20:58] rdstern opened #6525 "Add back-to-back bar charts to dialogue"
This is one of three major improvements to the bar chart dialogue.

![image](https://user-images.githubusercontent.com/11226469/121747543-78f93000-caff-11eb-8cdf-626d89663f2c.png)

Population pyramids are an example of "back-to-back" bar charts.  Other examples are also shown in the figure.  I think they would be easier to do in situations where the left-hand side could just be negative, and this

[2021-06-11 22:02] rdstern opened #6526 "Add pie and donut charts back to the bar chart dialogue"
Pie charts were implemented very simplistically in R-Instat.  They need to be there again.

There could also usefully be multiple pie, i.e. multiple circles and also donut charts with one or more rings.  This means (like bar charts) there can be 2 factors, though they are only sendible if the second factor has relatively few levels, i.e. a limited number of rings

[Here](https://biostats.w.uib.no/

[2021-06-11 23:43] rachelkg opened #6527 "Review of french climatic menu"
Hi All,

I have been having a quick look through the French climatic menu to familiarise myself with how everything should look when I get started on the other menus.

I have picked up on a few issues which I listed in the attached excel document. I hope it is clear, don't hesitate to let me know if you have any questions of comments.

[Review of french climatic menu.xlsx](https://github.com/afric

[2021-06-12 06:36] rdstern commented on #6135
I have been reflecting and discussing the above observations in more detail.  @lloyddewit I suggest this issue could be closed once the existing changes in the bar charts are done.  There remain three challenging controls to add.  I suggest they each be their own issue instead.

[2021-06-13 11:25] lloyddewit commented on #6512
The Toolbar Help button tool tip text is incorrectly translated into French (see PR #6529).
To fix this, the CrowdIn translation of 'He&lp' needs to be correctly translated (e.g. to '&Aide').
@dannyparsons do you know why the text of some tool bar buttons conatins an '&'?

[2021-06-14 05:49] rdstern opened #6530 "Possible problem with the Export dialogue"
This uses files from the dslabs package.  But I think the main problem is for any dataset.  I have now tried with the usual survey dataset from the library.

If I export a single file, then it seems to always insist it is a csv.  If I choose anything else, it always goes back to csv.

Please could this be checked.

The dslabs adds another problem with an awkward format.  The package isn't currentl

[2021-06-14 07:22] Wycklife opened #6531 "Add gcookbook package to R-Instat"
This is another package for data visualization, it would be good to have it added. We will be using it for data science presentation.

[2021-06-14 10:30] #6466 closed

[2021-06-14 15:39] lilyclements commented on #6526
I've had a look at the bar chart dialog and how things are running at the moment.

Currently there are options that are running for "bar chart" that can run in R for "pie chart", and vice versa - for example:
* In R-Instat we offer a `x` and `fill` parameter for "bar chart", but only a `fill` parameter for "pie chart".
However, in R, a pie chart with an `x` parameter is just a donut chart.
* The `

[2021-06-14 15:43] lilyclements commented on #6526
I'll add some R-code here for the other options with the `fill` parameter:

[code]

**Just the `fill` parameter is given and `x = ""`**
Since the `fill` parameter is given, the `position` parameter can change

[code]

![image](https://user-images.githubusercontent.com/21180424/121918783-4b45fe00-cd2e-11eb-8080-8201533fb330.png)

[code]

![image](https://user-images.githubusercontent.com/21180424/1

[2021-06-14 17:33] lilyclements commented on #6526
Update: PR #6517 changes this dialog to be in terms of three radio buttons at the top "Frequency", "Value", and "Pie".

I suggest instead that there are two options "Frequency" and "Value":

1. "Value" can stay as it is.
2. "Frequency" could have the new checkbox: "Polar Coordinates".

Then the code for the this new checkbox under frequency is the same as outlined above:

[code]

* If "Flip Coordi