[2016-11-08 09:00] FrancoisJRenaud commented on #1724
Going over all dialogues and subdialogues to check maximise and minimise + centered

[2016-11-08 09:02] FrancoisJRenaud commented on #1014
Cecking this for all dialogues/subdialogues

[2016-11-08 09:03] FrancoisJRenaud commented on #1695
Will do the necessary checking now...

[2016-11-08 09:24] dannyparsons commented on #2201
Good for discussion. I think we leave as is for the beta, and put a note that we are considering different options for this.

[2016-11-08 09:27] stevekogo commented on #2201
This is OK. @dannyparsons  or @rdstern can label this issue with an appropriate tag.

[2016-11-08 09:29] dannyparsons commented on #2209
I think that was an issue Lily was having. We should try to enable this and get it to work.

[2016-11-08 09:31] dannyparsons commented on #2210
Yes I will do this now. No we don't have an easy way - Ctrl + Alt + Del, but we can investigate after beta.

[2016-11-08 09:40] lilyclements opened #2213 "Main Form - Disable Dialogs"
Is anyone on the main form or can I access it? @Lunalo

I need to disable the following:
Model - Other (One Variable) - General
Model - Other (Two Variable) - Two Samples
Model - Other (Two Variable) - Summary Data
Model - Other (General)

[2016-11-08 09:42] Lunalo commented on #2213
@lilyclements

No one is working on it.

You can go ahead and edit it

[2016-11-08 09:57] #2210 closed

[2016-11-08 09:59] #2209 closed

[2016-11-08 10:07] dannyparsons commented on #2054
Unfortunately I think we need to disable this dialog, as messing with the R packages now is not sensible. OK can be disabled with the user control box in the middle. Could someone do that?

[2016-11-08 10:08] dannyparsons commented on #2054
The dialog can still be enabled on the menu

[2016-11-08 10:09] dannyparsons commented on #2087
Can this have OK disabled with the message in the middle?

[2016-11-08 10:10] dannyparsons commented on #1735
Closing unless anyone thinks otherwise.

[2016-11-08 10:10] #1735 closed

[2016-11-08 10:11] lilyclements commented on #2087
I'll do that now

[2016-11-08 10:11] dannyparsons commented on #1714
Closing unless anyone thinks otherwise

[2016-11-08 10:11] #1714 closed

[2016-11-08 10:12] lilyclements commented on #2087
Just checked and it already has those features. This is for dlgMetadata right?

[2016-11-08 10:14] lilyclements commented on #2054
I have a few dialogs I need to disable. Can I access the main form @Lunalo ?

[2016-11-08 10:15] dannyparsons commented on #2087
Yes great

[2016-11-08 10:15] #2087 closed

[2016-11-08 10:15] dannyparsons commented on #2054
This doesn't need frmMain changes, just on the dialog

[2016-11-08 10:17] lilyclements commented on #2054
How do I do it on the dialog? I thought it could only be done through frmMain, sorry!

[2016-11-08 10:18] dannyparsons commented on #2054
It just needs OK disabled and the message.

[2016-11-08 10:18] lilyclements commented on #2054
Oh sorry, I thought you meant dialog disabled, I'll do that now!

[2016-11-08 10:25] lilyclements commented on #2054
Done

[2016-11-08 10:25] #2054 closed

[2016-11-08 11:44] dannyparsons commented on #2168
@maxwellfundi These are the lines needed to open the pdf files in the Guides menu. Can you/someone add it in frmMain now I have uploaded those files.

[2016-11-08 13:09] maxwellfundi commented on #2168
@dannyparsons  which lines?

[2016-11-08 13:25] dannyparsons commented on #2168
`Process.Start(Path.Combine(strStaticPath, "Help", [name of file]))`

[2016-11-08 13:28] stevekogo commented on #2213
@lilyclements How far are you with this? Can I add you a more dialogues to disable?

[2016-11-08 13:44] stevekogo commented on #2213
@lilyclements , @dannyparsons I am going ahead to disable above menu items

[2016-11-08 14:33] rdstern commented on #2203
9. A more ambitious analysis

Go to the Describe > Multivariate > Correlations dialogue.  Use the diamonds sheet.  You will see that you could use any of the columns.  Just copy the first one across, i.e. carat.  You will see, that the factor columns are no longer available, just the numeric columns.

Now it depends on the speed of your computer.  If it is reasonable, then copy over all the remain

[2016-11-08 15:08] rdstern commented on #2203
Finally, before you start your exploration we add a few points about the current R-Instat.
1. You will have seen that we have come quite a long way, but still also have a long way to go.
2. We now look menu, by menu.
a) **File Menu** You should be able to import data from a wide range of software, thanks to the rio package, which we are using for import and export.  We have not fully resolved how

[2016-11-08 15:19] FrancoisJRenaud commented on #1724
can be closed I think

[2016-11-08 15:19] FrancoisJRenaud commented on #1014
can be closed I think

[2016-11-08 15:19] FrancoisJRenaud commented on #1695
can be closed I think

[2016-11-08 15:27] #1724 closed

[2016-11-08 15:28] #1695 closed

[2016-11-08 15:28] #1014 closed

[2016-11-08 23:19] #1905 closed

[2016-11-08 23:21] #2083 closed

[2016-11-08 23:21] dannyparsons commented on #2116
Reported in release notes of beta.

[2016-11-08 23:22] #2168 closed

[2016-11-08 23:23] dannyparsons commented on #2189
I think this is fixed. Is it?

[2016-11-08 23:23] #2189 closed

[2016-11-08 23:23] dannyparsons commented on #2203
This has now been included in the release notes.

[2016-11-09 06:01] rdstern commented on #2203
![regular sequence in r-instat](https://cloud.githubusercontent.com/assets/11226469/20128704/f98a90d4-a641-11e6-9e5d-9cd16cc06cd6.jpg)

[2016-11-09 06:12] rdstern commented on #2203
Please can you send me the Word version of the release notes, so I can complete the capture of the figures and the text for the getting started part

[2016-11-09 06:16] FrancoisJRenaud commented on #2147
Should be tackled during linking rewriting in graphics sub-dialogues, together with #2174

[2016-11-09 06:17] FrancoisJRenaud commented on #2174
Should be tackled during linking rewriting between graphics sub-dialogues, ucr's and main dialogues, together with #2147

[2016-11-09 06:19] FrancoisJRenaud commented on #2203
https://docs.google.com/document/d/1Pwd0RW4suLrt5rAgEg8TSctkMnXY41eYgXCG17Yb2CM/edit?ts=581fcba7#heading=h.s16g9godoaok

On 9 November 2016 at 09:12, rdstern <notifications@github.com> wrote:

[2016-11-09 06:21] FrancoisJRenaud commented on #2203
Here it is (in previous message). The getting started section is called
Explore R-Instat with us. I guess it could be changed to Getting started if
desired.

Cheers,

François

On 9 November 2016 at 09:19, François Renaud <francois.j.renaud@gmail.com>
wrote:

[2016-11-09 07:32] maxwellfundi commented on #2213
This could now be closed i guess.

[2016-11-09 07:47] #2213 closed

[2016-11-09 08:11] rdstern commented on #2203
Thanks for the address.  I have had to download it to add the figures.  I couldn't see how to do that from the online copy.  I'll return it soon.

[2016-11-09 08:13] maxwellfundi commented on #939
This looks like it was fixed as well. trying to get rid of old issues that were fixed so that we focus now on after Beta

[2016-11-09 08:15] maxwellfundi commented on #998
This needs to be fixed. @dannyparsons

[2016-11-09 08:18] maxwellfundi commented on #1043
@dannyparsons this needs clossing

[2016-11-09 08:19] FrancoisJRenaud commented on #2203
In order to add the figures, place the curser within the text where you
want to insert the image, then go to *Insert *Menu and select *image*. Does
it work ?

On 9 November 2016 at 11:11, rdstern <notifications@github.com> wrote:

[2016-11-09 08:20] maxwellfundi commented on #1504
@danny this is resolved. it needs closing

[2016-11-09 08:21] maxwellfundi commented on #1504
No, actually it is not resolved...

[2016-11-09 08:22] maxwellfundi commented on #1713
@stevekogo  was this fixed so that it can be closed?

[2016-11-09 08:23] maxwellfundi commented on #1712
@Lunalo and @stevekogo  what is the status of this. Can it be closed?

[2016-11-09 08:24] maxwellfundi commented on #1717
@stevekogo  how about this? Can it be closed?

[2016-11-09 08:24] maxwellfundi commented on #1728
This dialog is in place and works well. This could be Closed.

[2016-11-09 08:24] stevekogo commented on #1713
Yes, it was fixed. It can be closed.

On Wed, Nov 9, 2016 at 11:22 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2016-11-09 08:25] stevekogo commented on #1717
It was fixed. It can be closed.

On Wed, Nov 9, 2016 at 11:24 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2016-11-09 08:25] stevekogo commented on #1712
This was addressed. It can be closed.

On Wed, Nov 9, 2016 at 11:23 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2016-11-09 08:26] maxwellfundi commented on #1713
@dannyparsons this needs closing

[2016-11-09 08:27] maxwellfundi commented on #1717
@dannyparsons  close this as well

[2016-11-09 08:28] maxwellfundi commented on #1963
@stevekogo can @dannyparsons close this?

[2016-11-09 08:29] stevekogo commented on #1963
This can be closed. It was fixed.

On Wed, Nov 9, 2016 at 11:28 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2016-11-09 08:32] maxwellfundi commented on #1923
@stevenndungu can @dannyparsons close this or is there anything else remaining?

[2016-11-09 08:33] maxwellfundi commented on #1770
@dannyparsons  close this too. its done

[2016-11-09 08:37] maxwellfundi commented on #1781
@Lunalo was this addressed so that @dannyparsons  can close?

[2016-11-09 08:38] maxwellfundi commented on #1838
This looks like it needs to be closed @dannyparsons

[2016-11-09 08:39] maxwellfundi commented on #2152
Can this be closed @stevenndungu ?

[2016-11-09 08:42] stevenndungu commented on #2152
Yes, that can be closed. Confirmed with Danny and Francois

On Wed, Nov 9, 2016 at 11:39 AM, Maxwell Fundi <notifications@github.com>
wrote:

[2016-11-09 08:50] Lunalo commented on #1838
@maxwellfundi

We still need to work on it.

I will confirm when am done

[2016-11-09 09:13] dannyparsons commented on #939
This is interesting, the form titles are on the left on some machines and centre on others. Would be good to understand why this is.

[2016-11-09 09:13] #1043 closed

[2016-11-09 09:16] dannyparsons commented on #1728
The second point: Text in password textbox is different to normal text boxes (font is too big) still needs to be addressed and the text box for that is sort of cut off on the dialog. Someone could quickly look into this.

[2016-11-09 09:16] #1712 closed

[2016-11-09 09:16] #1713 closed

[2016-11-09 09:17] #1717 closed

[2016-11-09 09:17] #1963 closed

[2016-11-09 09:18] dannyparsons commented on #1923
Some initial work has been done but it needs to be revisited. I think more discussions are needed before any more work is done on these, so I'll leave it open.

[2016-11-09 09:19] dannyparsons commented on #1781
I think only 1 is done so far. Others will need some discussion.

[2016-11-09 09:20] #2152 closed

[2016-11-09 10:35] #2126 closed

[2016-11-09 11:16] stevenndungu commented on #1728
I can quickly check on that

On Wed, Nov 9, 2016 at 12:16 PM, Danny Parsons <notifications@github.com>
wrote:

[2016-11-09 13:27] FrancoisJRenaud opened #2239 "Restricting the type of variables in aesthetics mappings"
@dannyparsons  has repetitively told me to allow ggplot settings in R-Instat when these are allowed in R, as long as there are no errors (warnings also to avoid). So far we have been quite restrictive about the type of variables we allow for the aesthetics mappings. However, most of the time, aesthetics accept all types of variables (obviously some aesthetics only accept numeric such as y in boxpl

[2016-11-09 14:10] FrancoisJRenaud commented on #2086
Ok I m sorry, I thought I did it, but apparently I got confused. So forgot to disable option in rug and dotplot in the end... Can do it now for next beta release in december ... Should this be added to the bug list in release notes ?

[2016-11-09 14:59] FrancoisJRenaud opened #2241 "dlgDotPLot questions and suggestions"
Questions about/Proposal for a few changes on  the dlgDotPlot dialogue:

- radio button to choose binaxis x or y would then associate the VariablesAsFactor main receiver to the binaxis aes and the first factor optional receiver to the other x/y aesthetic.
- The first optional receiver can then stay a factor receiver. However in genreral x axis should be allowed to get numeric values in the binaxis

[2016-11-09 19:52] dannyparsons commented on #2086
Yes we can add it to the release notes as a known bug.

[2016-11-09 20:23] dannyparsons commented on #2241
I think we just need sensible defaults for the Dotplot dialog while still allowing all possibilities through the sub dialog and the general.

If you are saying x can be numeric, why are you suggesting it should only accept factors? Also, why do you say it should only be numeric when binaxis = "x"?

I don't see anything special about the VariablesAsFactor case, it's still just a numeric column and

[2016-11-09 21:02] FrancoisJRenaud commented on #2241
Ok yeah, so I m just saying, if the optional receiver is not limited to x, but changes according to radio buttons to be always the non-binaxis, then it makes sense for it to be factor because when it's numeric it just does nothing. If it's just fixed to x then it should take numeric. The trick is that x as factor when y binaxis is ok, but y as factor when x binaxis is not very nice... (see example

[2016-11-09 21:29] FrancoisJRenaud opened #2242 "ucrReceiverMetadataProperty: wrong type for ctrActive (link problem I think)"
When clicking on add Layer for the first time when opening the GeneralForGraphics dialogue, after doing testing on the specific plot for dotplot, got an error in ucrReceiverMetadataProperty: in the following sub
 Public Sub SetValue(strValue As String)
        If TypeOf (ctrActive) Is NumericUpDown Then
            If strValue <> "" Then
                nudParamValue.Value = strValue
            E

[2016-11-09 21:43] FrancoisJRenaud opened #2243 "dlgGeneralForGraphics: data parameter in the clsGgplotFunction"
No data parameter when plotting. Procedure followed:

forgot to load dataframe,
went to generalforgraphics, added a layer,
didn't have any variables to map to aes, so return,
the layer is there and saved,
I close the dlg, and then load a dataframe,
come back to GFG,
click on edit the layer that's still there,
fill in everything ok, then run...

The dataframe had not been given as argument for data

[2016-11-10 06:57] rdstern opened #2244 "Edits to the File menu after Version 0.1.0 including sjmisc for climatic"
First this is a big congratulations to all of us.  I saw the excitement when we "released" the very first version of R-Instat in August in Bagamoyo.  It then became clear we are really potentially doing something pretty outstanding.  For me - since then - I was excited by the reactions from our Lesotho visitors (Met Service) where I can see it can clearly change their working practices.  And I kno

[2016-11-10 07:45] FrancoisJRenaud opened #2245 "Boolean Layer Parameters"
As @rdstern asked for the varwidth boolean layer parameter in boxplot, these parameters now simply appear as tick boxes on the ucrLayerParameters and don't display the combobox with TRUE or FALSE when ticked any-more. For some parameters, with default value FALSE, and the appropriate name, this is very nice.

However, think of a parameter such as show.legend, with default value NA, that is in phil

[2016-11-10 08:34] stevekogo opened #2246 "Design of predict sub-dialog"
This sub-dalog is needed by the use model dialogues. Could we have a design of how it should look like?

[2016-11-10 09:30] rdstern opened #2248 "Filters by column"
Danny's system for filtering by rows is excellent.  We also need to be able to manage columns.  One place that this will be done is through the "Data Options" button that is on all dialogues.  But there should also be a menu item (perhaps more than one).

The "Data Options" button will also have to be able to handle other types of information (particularly saved objects) that is increasingly being

[2016-11-10 10:24] rdstern opened #2250 "Organise > Delete sheets"
This is a sort-of bug!

If I have 3 sheets open, say called a, b, c.

I choose to delete a.

1) It takes a long time.  I am deleting large sheets though.  Perhaps I need to accept this?
2) But what I call the bug, is that when a has been deleted it still shows the data from sheet a, but the tab at the bottom is now showing sheet b.  So it gives the impression it has deleted the wrong sheet.  It ha

[2016-11-10 11:07] dannyparsons commented on #2242
If strValue = "bygroup" then ctrActive should not be a numeric up down. This is either a problem with setting ctrActive, or in the definition of some geom parameter.

[2016-11-10 11:25] dannyparsons commented on #2245
For consistency, I think we should keep the combo box for all layer parameters, even TRUE or FALSE parameters. It looks a bit unnatural when it's only TRUE/FALSE, but this is not our main concern on this sub dialog - it's for advanced use. If the parameter is common enough, like `varwidth` for boxplots, then we can also have it on the main dialog (as we do), and there we can make it more user frie

[2016-11-10 11:34] dannyparsons commented on #2248
If I understand correctly, then you are not suggesting we need other concepts on top of hidden columns, but we should have more sophisticated ways of selecting which columns to hide/show 1. in the data grid and 2. in the selector through Data Options.

I think this wouldn't be too difficult to achieve once we know what we want, and it would help as part of our efforts to handle wide data.

One que

[2016-11-10 11:41] dannyparsons commented on #2250
I believe this is an issue with reogrid caused by that fact that it doesn't refresh when you delete a sheet, until you "do something" like change tabs. I agree it's confusing. It's worth seeing if there's a way to force a refresh in reogird, otherwise contact them to ask about it.
I've seen bugs similar to this before so I wouldn't be surprised if this is a simple bug for reo to fix.

[2016-11-10 12:08] dannyparsons commented on #1838
I think some more thought is needed about how exactly to display the current contrasts from within this dialog and be able to set new ones and how this links to selecting pre defined contrasts. I think 2 grids makes more sense, then but maybe the dialog is messy.

As a start I suggest @Lunalo tries to implement the option of being able to set the contrasts by typing them into a grid.

On the dialo

[2016-11-10 12:19] stevekogo opened #2251 "Non parametric tests"
@rdstern We still have a collection of statistical tests yet to be added to the software. As with the non-parametric, we have sign-test(binomial test), Mann-Whitney-Wilcoxon test, Wilcoxon-signed rank test, Kruskal-Wallis test(implemented as non parametric one way ANOVA) etc. Should we implement all these in the same dialogue or have a separate dialogue for each case?

[2016-11-10 14:13] rdstern opened #2252 "Describe > One Variable > Graph"
This is looking good.

1) The sub-dialogue could be larger if need be.
2) Could the coord-flip be added?  I would be happy if (for simplicity it applied to all graphs.  Does it work well with combine?
3)  Please could the extra possible graphs be added.  We discussed before and that issue may still be open.  We certainly want jitter and violin.  Then also some combinations.  To make it simple I su

[2016-11-10 14:20] rdstern opened #2253 "Describe > Specific Graphs"
I know you have been working hard on the geoms and on developing a general system.  As a bit of "light relief" could you consider what can usefully be added to the main dialogue.  This would make some simple alternatives/combinations easy, without providing the full flexibility.  If you weant the flexibility, then you have to use the sub-dialogues.

We will have to be careful that we don't clutter

[2016-11-10 14:21] rdstern opened #2254 "Organise > Replace Values"
Can we add the option to in-fill the missing values with the value above?

[2016-11-10 14:24] FrancoisJRenaud commented on #2242
I know, this will all be solved by #2237 now :) so excited about fixing one of these messy bugs !
btw don't know if the mentioning fixes #2237 in the title of the pull request works. I ve been doing it several times but It didn't seem to close the issue automatically.

[2016-11-10 14:26] FrancoisJRenaud commented on #2245
Good ! Do you want me to apply these changes ? I can do the ucrGeom one of course, the other one as you want...

[2016-11-10 14:41] FrancoisJRenaud commented on #2086
added to release notes and updated the pdf version in the R-Instat drive folder

[2016-11-10 14:47] rdstern opened #2255 "The Organise > Column: Factor > Levels/Labels dialogue"
Could we add a column to the grid that is currently displayed.  There are Old Values  and then New Values.
The current column is like the New values in that you can edit in it.

Could we add a column before, headed Old Values.  It is just the same except you can't type into it.  Then you can always see what the original was, as you make the new values.

Ideally an alternative, (particularly as we

[2016-11-10 15:08] dannyparsons commented on #2086
I had to undo this, as Roger had made changes to the original offline, sorry should have mentioned that before. I will update the original so you can add in the change again and re upload. Also, can you get Maxwell to upload as R-Instat, because now it has you as the author.

[2016-11-10 15:15] dannyparsons commented on #2086
I've shared the private folder, which contains the up to date Word version. Can you add to this then upload? And then transfer ownership to R-Instat.

[2016-11-10 15:52] FrancoisJRenaud commented on #2086
will do tonight

On 10 November 2016 at 18:15, Danny Parsons <notifications@github.com>
wrote:

[2016-11-11 07:47] stevekogo commented on #2201
@dannyparsons Can we have a discussion on how we can address this issue?

[2016-11-11 09:15] maxwellfundi commented on #2253
I am happy to be assigned this task.

It would be a good start next week.

[2016-11-11 09:16] maxwellfundi commented on #2252
@rdstern  i am looking at the open issue on this to add the violin plot
this could be part of that work too.

Thanks.

[2016-11-11 09:18] maxwellfundi commented on #2252
And just to make sure we are on same page, these should be for the numeric variables.

[2016-11-11 09:23] dannyparsons commented on #2252
Yes - for violin and jitter.
Of course coord flip is for everything.
It's very good you have asked for clarification - please keep doing that!

[2016-11-11 09:39] dannyparsons commented on #2201
For the titles - we have something set up to do this I think. In the receiver you can set `strSelectorHeading` which is the string it will use as the heading in the selector when it's the current receiver.
It's a property of the receiver because the selector isn't always used for the same thing on the same dialog, so each receiver can set this. You could try setting this on some of the model dialo

[2016-11-11 10:45] #2201 closed

[2016-11-11 12:15] rdstern commented on #2246
You are right that we now need to "attack" the use model dialogues.  I still don't have a very clear idea of how it will look.  I think I know the sort of things I want.  The fit model and choose model dialogue (2 variable up to general) will produce regression objects.  The use model selector will use those objects.

Part of my confusion is because we are trying to cope with such a wide range of

[2016-11-11 15:00] dannyparsons opened #2260 "Display Options in Model Dialogs showing twice"
When I click Display Options on 2 or 3 variable model dialog, after I click return, the Display Options sub dialog opens again and I have to click return again. This may be the same on other dialogs, I have only checked 2 and 3 variable dialogs.

[2016-11-11 15:45] #2260 closed

[2016-11-11 20:35] dannyparsons commented on #1947
Reminding you about this.
I know there's the issue of the layers tab on plot options, but starting by getting the plot options working on General is easy and makes a big different. Not being able to do facets on General is quite a drawback for example.

[2016-11-11 20:46] dannyparsons opened #2264 "Facets tab on Plot Options"
Generally this is still not working perfectly. Some controls are made visible/invisible at the wrong time - I won't detail as it's easy to check.

Then a suggestion for change of implementation:
When I did facets by Station column which has 16 levels, I got all 16 plots in one row, which doesn't look nice. I expected it would do facet_wrap which would do 4x4 as the default. Currently we have to sp

[2016-11-11 21:05] dannyparsons commented on #1907
It would be good to discuss these geoms again as they are useful. I think you need to look at them again more closely:

^ Not true! yintercept in hline can be a parameter OR an aes. The aes is very useful for facets. If you only want a single line, then you can use the layer parameter, if you want more then you need the values in a data frame. What's nice is that if you can put yintercept in both

[2016-11-11 21:07] dannyparsons opened #2265 "Dates in the calculator"
The date buttons are disabled but we use the lubridate package already so at least the buttons that use lubridate should be enabled now.

[2016-11-11 21:13] dannyparsons opened #2266 "message box summaries sub dialog"
In the column summaries, "choose summaries" sub dialog, a message box appears whenever I uncheck the last ticked checkbox to tell me I need to check at least 1 box. I can see the idea behind it, but it's quite annoying. I like to uncheck everything and then check the things I want, especially when using the dialog fo different things, so the messages comes up a lot.

I suggest we change it so that

[2016-11-11 21:19] dannyparsons opened #2267 "Additional Layers on specific graphs"
For some of the specific graphs, adding an additional layer doesn't do anything. But for some it does. I can't remember which ones, but can someone go through all dialogs and check? It should be a simple fix, if it hasn't already, but I checked fairly recently and it didn't work in some cases.

[2016-11-12 09:40] rdstern commented on #2244
From the list above it would be good to make progress on the importing (and exporting) to the popular statistics packages - particularly SPSS and Stata.  In particular we do need to be able to import from SPSS (and hopefully Stata) with value labels.  This seems to be recent work - as usual by Hadley Wickham!  It uses haven, which (I think) is also used by us through rio.  What this says is as fol

[2016-11-12 09:55] rdstern commented on #2244
Reading further I think we should examine the **sjmisc** package and now is a good time!  Here is a document on this package.  It discusses the haven way of importing value labels and considers that it does better - through using attributes!  It also discusses the issue of multiple missing value codes.  It all looks interesting.

And it has a partner package called **sjplot** that I think we may b

[2016-11-12 13:01] FrancoisJRenaud opened #2268 "Describe > Specific > Bar Chart general issue? (update on sjPlot wanted)"
As a response to @rdstern 's email below, I create this issue to discuss what we want out of this brilliant package sjPlot... the recipients of the email where @maxwellfundi, as well as @dannyparsons  and @volloholic

In particular have a look at sjp.frq and sjp.grpfrq and sjp.stackfrq then for themes _Customize plot appearance_ article.

I am happy for us to go and peak into these functions to se

[2016-11-12 13:05] FrancoisJRenaud commented on #2268
A new email from @rdstern :

[2016-11-12 13:07] FrancoisJRenaud commented on #2268
Sorry our emails crossed each other. So I was mainly suggesting, should we just add these functions as dialogues for now ? Quick way to get these amazing graphs for free, like usual, in the spirit of using available packages. Don't know if these can be coherently inserted in the describe menu ?

[2016-11-12 13:17] FrancoisJRenaud commented on #2264
I don't think so... I was actually surprised to see that grid is the default when 1 variable. But now that I think of it, inititially _fix number of rows and columns_ was ticked by default which is why. But then I don't think it's very intuitive to have to _fix number of rows or columns_ by default. I would rather work on the if else mehtod that decides whether grid or wrap is used and leave _fix

[2016-11-12 13:20] FrancoisJRenaud commented on #2267
should I work at the same time on #1948 ?

[2016-11-12 13:39] dannyparsons commented on #2267
No, this is something simple to fix in specific plot dialogs, whereas the other is more complex. In general, one issue per pull request.

[2016-11-12 14:23] FrancoisJRenaud opened #2269 "dlgDescribe Two Variables, ucrMultipleReceiver crashes when given a variable that has been moved using dlgReorderColumns"
Hi, following badly step by step data analysis problem that @dannyparsons sent to @maxwellfundi and I, I skipped the step where I was supposed to convert a column to factor. Apparently that column had type NULL or something (maybe I misunderstood), but when I entered it in the First Variable receiver of dlgDescribeTwoVariables, it crashed. Get an error in the ucrMultipleReceiver GetCurrentItemType

[2016-11-12 16:11] rdstern commented on #2268
It is exciting.  However we need to be realistic.  One possible "test" is to see how well the graphs produced (perhaps outside R-Instat.  Could we (for example) produce a likert graph with a specialised dialogue just for that, and then take the resulting graph and use out facetting dialogues, then use graph and combine graph, etc.

And, as you say, many of the others, that I looked at first, are r

[2016-11-12 19:03] FrancoisJRenaud commented on #2268
Yes that makes sense. It also matches with Danny's concerns about compatibility with the way graphics are implemented now... so will be investigating with @maxwellfundi. I don't yet know how to add these nice percentages. Will be a good point to start having a closer look at themes as well I guess. However there are quite a few other tasks on fire for the moment ...

[2016-11-12 21:14] FrancoisJRenaud commented on #1947
Ok first challenge: no data frame on GenerellForGraphics, which one do we give to facets ? See #2270

[2016-11-14 07:20] maxwellfundi commented on #2083
I am now adding coord_flip for one variable graph

[2016-11-14 07:23] stevekogo opened #2272 "Deleting all columns from a data frame"
I tried deleting columns from the data frame but the last column would not delete but crashed the program. I think we should be able to rectify this by deleting the data frame from the object or resetting to default empty data frame.
Suggestions on how this should be done are welcome.

[2016-11-14 07:25] rdstern commented on #2083
Great.  Might you also add the other sorts of graph to the one-variable, or are you going to do a coord-flip on each dialogue in turn?

[2016-11-14 07:26] maxwellfundi commented on #2083
Yeah i am also adding the other things recommended as well as the combination of graphs.

Thanks.

[2016-11-14 08:19] maxwellfundi opened #2273 "Tabs order in dialogs"
@africanmathsinitiative/instat I have just noted that we might have abandoned the practice of making sure that the tabs order in a dialog is correct so that the user could also use the keyboard to Navigate around dialogs.

Please keep in mind to set this as part of dialog implementation.

@stevenndungu  @FrancoisJRenaud  if you may not be aware of this, I am happy to help you guys get it right.

T

[2016-11-14 08:45] maxwellfundi commented on #2264
Yeah it does.

[2016-11-14 09:05] rdstern commented on #2083
If you are thinking of the other types of graph, then you may likeOver the weekend we found the sjPlot package to be "interesting".  It needs investigation.  But, in relation to the one variable charts I was excited by the sjp.frq procedure.  There are some examples here [http://strengejacke.de/sjPlot/sjp.frq/](url).
One feature I like is that the default in that procedure is to include the counts

[2016-11-14 09:09] FrancoisJRenaud opened #2274 "sdgPlots and links concerns bugs and improvement suggestions"
There is no consistent back and forth filling unfilling of the settings on the main and on the sdg. Also, the corresponding parameters in RSyntax, clsGgplotFunction, etc. are not consistently edited.

For example added layers via the plot options on specific graphs are stored as parameters in the RSyntax of the main, and never again removed, even when reset is clicked (sdgPlots.reset is called, bu

[2016-11-14 09:09] FrancoisJRenaud commented on #2274
This one is more about main dlg's: if the first argument of RSyntax is set to be clsGgplotFunction in the initialise, why do we not set the mapping argument of clsGgplotFunction to be clsGgplotAesFunction there as well ?

[2016-11-14 09:13] FrancoisJRenaud commented on #2267
This is not as easy as expected. It is not that adding layers doesn't work on some specific graphs. Only the first specific graph dialogue that is opended will have that functionality... That's because RSyntax of the urAdditionalLayers on sdgPlots is set in the initialise dialogue of sdgPLots. Also the RSyntax of sdgPlots is set in the initialise dialog of the main graphic dlg. Hence the first on

[2016-11-14 09:17] dannyparsons commented on #2269
I can look into that. What were you doing that caused the crash there?

[2016-11-14 09:18] lilyclements commented on #2273
@maxwellfundi I never knew this were a possibility! Would you mind explaining to me later how to do it? Perhaps via skype?

[2016-11-14 09:21] dannyparsons commented on #1947
If a layer has been added, then the global data frame, otherwise, there's a free choice for facets.

[2016-11-14 09:22] maxwellfundi commented on #2273
@lilyclements  yeah i can do that when you are ready to. maybe this afternoon.

maxwellfundih is my skype username, please send me a contact request

[2016-11-14 09:29] dannyparsons commented on #2272
Yes, good bug to find. I think you are right, when the last column is deleted, the data frame is deleted.

[2016-11-14 09:32] FrancoisJRenaud commented on #2269
It's explained above...

[2016-11-14 09:40] dannyparsons commented on #2269
I mean can you say generally what triggers the problem. Are you saying any time you put a variable in the receiver it crashes? Or just for this specific variable? If so, what's special about this variable that could cause the crash.

[2016-11-14 10:03] lilyclements commented on #2273
Thanks, I've sent a request. My afternoon or your afternoon?

[2016-11-14 12:01] maxwellfundi commented on #2273
Your afternoon.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Mon, Nov 14, 2016 at 1:03 PM, lilyclements <notifications@github.com>
wrote:

[2016-11-14 12:37] FrancoisJRenaud commented on #2269
Yes sorry, this was not clear enough indeed... So initially I thought that one of the variables I entered in the ucrMultipleReceiver had no type or something as type NULL. I got this from the error messages. Now I went through the process again, and all the variables I m working with have indeed a type.

I was trying to find the bug again. I thought that when I did it, save result was ticked, and

[2016-11-14 12:45] dannyparsons commented on #2269
Ok that makes sense. Now it would be good to find out why the data frame string passed in is empty. Maybe it is not updating the string when the data frame is changed in the cbo? I would expect something to be handling the DataFrameChanged event.

[2016-11-14 12:56] FrancoisJRenaud commented on #2269
Didn't manage to raise the bug by simply changing dataframe and sending variable to the receiver. So I see a series of options:

In All_Prep, the variable that causes problem (Year) is a variable created from Date (a date column created using MakeDate), using the calculator and year(Date). I also moved these variables around on the dataframe. Finally the dataframe is big...

[2016-11-14 12:59] FrancoisJRenaud commented on #2269
Yup, I think I found it... It's when you move a column around using reorder columns ... let me try to identify which of the two arrows is the bad one

[2016-11-14 13:06] FrancoisJRenaud commented on #2269
Tried on another dialog, with little arrow (moving the variable only one step). The multiple receiver on the DescribeOneVariable didn't give an error. Then again on the DescribetwoVariables it crashes same way. So little arrow is bad for dlgDescribeTwoVariables' multiple receiver...

[2016-11-14 13:10] FrancoisJRenaud commented on #2269
So tried different receivers. Only the multiple on the dlgDescribeTwoVariables crashes whenever you give it a variable that has been moved around using any of the arrows on dlgReorderColumns

[2016-11-14 13:11] FrancoisJRenaud commented on #2269
for the details of the crash, see above ... Are these pieces of info enough for you ?

[2016-11-14 13:14] dannyparsons commented on #2269
Ok that's useful, I can look into it as well.

[2016-11-14 13:35] FrancoisJRenaud commented on #2269
Oh forgot to mention there are some Or s and And s in the TestOkEnabled of dlgDescribeTwoVariables...

[2016-11-14 14:33] Lunalo opened #2277 "Improving date option of get_data_type method"
After working on split_date method  i realized that the date otion of the above method should be improved to incorporate  POSIXct, POSIXlt, Date, chron, yearmon, yearqtr, zoo, zooreg, timeDate, xts, its, ti, jul, timeSeries, and fts objects.

I can handle this while consulting @stevekogo  where necessary

[2016-11-14 14:42] dannyparsons commented on #2277
It's good to bring up this, as there are many date types in R. If we want to support them in this dialog, then we need to decide how we support them generally throughout the software. This is not a very small task, or something that should just be done for one dialog. For example, if we can use a POSIXlt in Use Date, should we be able to make them using the Make Date dialog?

I suggest for now, we

[2016-11-14 16:37] dannyparsons opened #2279 "Grid reloading"
When the grid is refreshing, it should be disabled and there should be some visible indication to the user that it is updating. This is only really noticable for large data frames, but particuarly for things like converting columns from right click, where there isn't a dialog so you can't tell when it's finished updating.

[2016-11-14 17:21] lilyclements opened #2280 "dlgCalculator"
(Enhancement)

For the calculator dialog, under "Statistics", the statistics it does are for the column as oppose to the row. So for example if you do the max(x), it gives the same value for all of the rows, i.e., the maximum number of the overall column is repeated for the whole new column.

I feel we could have the option of Row Statistics here as well. So, if you do the max(x,y), then you are g

[2016-11-14 17:32] dannyparsons commented on #2280
We do have some of these options in the row summaries dialog. So it could be worth thinking about enhancements to that dialog, extra functions etc..

It is technically possible through the calculator if you did something like: `apply(data.frame(Field, Size),1,sum)`. Not very straightforward. But I don't know if we want to make that easier or just keep the calculator as column operations and row su

[2016-11-14 19:28] #2266 closed

[2016-11-15 09:21] lilyclements commented on #2280
Okay I see. I know it's possible elsewhere, I just feel that it might make it easier for the user if it is under the calculator as well since there are things like column summaries there? I found it confusing I couldn't get things like the mean there anyway but I suppose this could be learing more towards 'describe' rather than 'organise - calculate'?

[2016-11-15 14:34] #2280 closed

[2016-11-15 15:17] lilyclements commented on #2265
@Lunalo I have done this since I happened to be editing on the calculator!
Do you happen to know what 'dek' and 'doy' are meant to do, however? I cannot work them out!

[2016-11-15 22:03] rdstern commented on #2265
dek is for dekades, which is 10 day periods within each month.  So in any month they are 1-10, then11-20 of the month.  The third dekad is 21-30, or 21 to 31of 21-28 or 21-29 of the month, depending on which month and also whether it is a leap year.

I need to check more on doy.  We need 2 different ones.  One is from 1-365 in ordinary years and 1-366 in leap years.  The alternative (which we use

[2016-11-16 07:44] FrancoisJRenaud opened #2285 "Graphs in Output window"
Created this issue to keep record of our progress and start the few discussions that will be necessary for deciding the implementation strategy.

@maxwellfundi identified how to save a ggplot graphs easily with ggsave function :+1: http://docs.ggplot2.org/0.9.2.1/ggsave.html
He will add more details below.

Then I m exploring the Richtextbox and Flow document to see what's possible. So far there a

[2016-11-16 08:45] maxwellfundi commented on #2285
Yea, i found out that we could use ggsave to save graphs as an image relatively easy. This supports different types of images which include ps, tex (pictex), pdf, tiff, png, bmp and wmf as documented in
http://svitsrv25.epfl.ch/R-doc/library/ggplot2/html/ggsave-ao.html

Now we need to decide what to fromat to use depending on what we want and their characterisctis.

[2016-11-16 09:16] FrancoisJRenaud commented on #2285
It seems like the only way we add content to the RichTextBox so far is by using AppendText in RLink, which is called in theRunScript sub.

[code]

So a RichTextBox is supposed to contain a FlowDocument. I didn't see where this one was set. Maybe if not set, one is created internally ? That FlowDocument is however the one where the content of the RichTextBox is stored though (as far as I understand

[2016-11-16 09:23] FrancoisJRenaud commented on #2285
Note: concerning the previous comment:

there is indeed a FlowDocument automatically created when not mentioned, then the property: **Document** can be used to get the FlowDocument of the RichTextBox... :)

[2016-11-16 09:34] FrancoisJRenaud commented on #2285
Scrolling through the RichTextBox methods, found that there is an undo :) and AddHandler, which sound exciting, but nothing equivalent to Addtext for images...

The paste method or editing the FlowDocument by adding a Float (or figure depending on what features we want) are thus the options I see... + the loadfile one potentially. Still need to make sure images can be added in a Float _Inline_ obj

[2016-11-16 12:17] #2242 closed

[2016-11-16 12:21] #2245 closed

[2016-11-16 13:45] maxwellfundi commented on #1903
I have looked at how to make the Inventory plot and its easy to do using point plots.

We have discussed with @stevekogo  and we are happy with it.

[2016-11-16 15:11] dannyparsons commented on #2265
We have methods for `doy` in the old climate object so we should look into those for these. I think R has standard methods for the 365 doy but not 366 based.

[2016-11-16 15:20] dannyparsons commented on #2285
@maxwellfundi on the file types for images - great that you've found different alternatives, but what we need is comparison of different methods. What are the advantages/disadvantages of each and particularly in relation to our use.

[2016-11-16 15:26] dannyparsons commented on #2285
@FrancoisJRenaud sounds like you are finding useful things about rich text boxes. Another thing to consider is html windows. Would that help us/make it easier/hard to add the images from R?

[2016-11-16 15:55] FrancoisJRenaud commented on #2285
Thanks !

 :+1:
Will explore this tomorrow

[2016-11-16 15:59] FrancoisJRenaud commented on #2285
Just to check if I get you: you want us to find other methods than ggsave to save graphs and compare them ? Or do you understand "method" in a wider sense ?

[2016-11-16 16:10] dannyparsons commented on #2285
Not necessarily, Maxwell said:

This is useful, but not useful yet for making a decision as we need to now know what the implications of using any of these different file types.

It may mean looking at different methods other than ggsave is useful, but might not be necessary if ggsave is enough for us.

[2016-11-16 16:25] FrancoisJRenaud commented on #2285
Ok, I think we are on the same page. So for instance one important thing to check is which types of files would be compatible with the options I have been drafting for adding images in the output window...

[2016-11-17 07:41] FrancoisJRenaud opened #2288 "Active tab on sdg's : sdg - dlg relationship comment/question"
Dear @dannyparsons and @volloholic ,

as it is now, when opening the sdgLayerOptions, the active tab is the tab that was active at last load. I find this quite annoying when I am calling sdgLayerOptions from another layer or from another dlg. We discussed with @maxwellfundi if we should set the active tab to be the first tab when opening the dialogue. @maxwellfundi would prefer to keep the same ac

[2016-11-17 09:52] FrancoisJRenaud commented on #2285
So my knowledge on these subjects is quite limited. There exists a System.Windows.Forms.webBrowser control (_https://msdn.microsoft.com/en-us/library/sxc145fz(v=vs.110).aspx_), which makes it easy to display html files.

However, displaying/"render" html files in a richTextBox seems to be problematic. Either need to get an enriched richtextbox with added methods (_http://www.codeproject.com/Articl

[2016-11-17 10:07] lilyclements commented on #2265
I see. Okay, so I'll leave doy and dek disabled for the time being?

[2016-11-17 10:52] volloholic commented on #2285
Ok good to catch up on all this and see the progress being made.

In an effort to digest all of this and move the discussion forward. From everything I've read above I would like @maxwellfundi  and @FrancoisJRenaud  to try to bring what they have done together.  Can you save the same graph using ggsave into each of the mentioned file formats. And then insert them in a Rich text box with a line of

[2016-11-17 10:58] dannyparsons commented on #2265
If we want 365 and 366 doy then there could be an R command for 365-doy, if we find that we could use it. Also not sure if there is a dek function already in R. Might be worth someone having a quick check for these (and any others).

[2016-11-17 10:58] FrancoisJRenaud commented on #2285
Good, thanks for the feedback @volloholic ! We will try this with @maxwellfundi.

[2016-11-17 11:20] Lunalo commented on #2285
Sure @FrancoisJRenaud

You can  achieve this by inserting the code into html tags and knit the document.

please look at https://cran.r-project.org/web/packages/knitr/knitr.pdf

[2016-11-17 11:23] lilyclements commented on #2265
I'm struggling to find an R-Command for "dek".

For "doy" I am still exploring.
So, my understanding is that if we have say "10/04" (my birthday, fyi) then this will be "101" regardless of on a leap-year or 100 on a non-leap-year.
What I have found so far is:

x <- c('10/04/2016')
yday(dmy(x))
[1] 101

Or a non-leap-year

[1] 100

So it seems to take this into account already under the command "yd

[2016-11-17 11:36] dannyparsons commented on #2265
So `yday` is doing the 365-doy, I didn't know we already had it.

In the 366-based doy, we want, for example, 10/04 to ALWAYS be day 101. So that every day has the same day number, regardless of leap year or not. This measn 31/12 is always 366, and also in non leap years day 60 (29/02) is missing.
I don't know if any R command that does this already, if not we have written one for climate object b

[2016-11-17 11:52] lilyclements commented on #2265
Great, got it. I'll have a look although I'm not holding my breath.
Earlier i found this

[1] 101

Which is obviously not ideal since it is a) a calculator and b) we don't always do +1.

I'll let you know if I find anything.

[2016-11-17 13:31] #2080 closed

[2016-11-17 14:07] rdstern opened #2294 "Reading clidata files, through Excel"
Clidata is a second data management system, from the Czech republic and used by a range of Met services in Africa including Ghana.

I asked Patrick for some data to use to test R-Instat.
a) he first supplied me with the station data and a version of the daily data, but with values "going across", i.e. 1 to 31 for days of the month.
b) I asked whether he could alternatively take the data out of cli

[2016-11-17 16:35] lilyclements commented on #2265
I see. I looked at the Lubridate PDF and couldn't see anything on there about having 366 days set for all years unfortunately. I haven't found anything in other packages (yet?) either.

I have been using a dataset lately with decimal dates, There's a really easy code to transform from decimal dates to year dates, which is date_decimal(ColName)
What are thoughts on including it? I agree it's not ne

[2016-11-17 17:59] rdstern commented on #2264
I am wondering what the plans are for this.  We used to get facets for monts easily as 3 by 4 when there were 12.  That worked well for the Lesotho team.  It would be good to get it working again.

[2016-11-17 18:07] rdstern commented on #2294
I think the name in the column of this file may be causing some serious issues.  The name of the column is “Eg.gh.id” – don’t ask me why!.  I was processing the Ghana data fine, until I made this column into a factor.  Then I went to the Factor > Level/Labels dialogue and it didn't give me any levels for that column.  Now it also doesn't give me the levels for the year column in the same frame eit

[2016-11-17 19:07] rdstern commented on #2265
A couple of comments on the date calculations.

1) The function called date, I was assuming would call the ISOdate function, so you give 3 arguments, namely the year, month,day coilumns.
2) The day of year with 366 days is probably simpler to do, rather than to look elsewhere.  It is just something like yday(x)+(!leap(x))*(month(x)>2). What is also useful, both in the calculator, and in the Use Da

[2016-11-17 19:25] FrancoisJRenaud commented on #2264
Yes, it has been on standby because sdgPlots that was used on a pull request. Either @maxwellfundi or myself will have done something about it tomorrow.

[2016-11-17 20:15] lilyclements commented on #2265
1) ISOdate does make a lot more sense now I think about it! Would this be used as a way to "combine" three columns; date, month and year?
2) Sounds good.
@dannyparsons if I do this code "yday(x)+(!leap(x))(month(x)>2)" do I have to have it all displayed in the dialog calculator? Or can it just run "yday(x)" and do the rest in the background?
3) Okay sure, can speak to Sam about it next week perhap

[2016-11-18 05:18] rdstern opened #2295 "Make date dialogue and convert from Factor"
I have put these items together for a reason that I hope will become clear below.

If I make a date from 3 columns, (year, month, day) then sometimes those columns will have already been defined as factors.  The result is fine as long as labels have not been given to the months, in which case all the dates are given as NA.

One possible solution - and I don't see a big down-side is to use the ordi

[2016-11-18 06:27] Lunalo opened #2296 "Code indentation in R"
Hi Team,

This is for those interested in writing r methods.

I have done some research about the convention especially when it comes to spacing.

I came across formatR package in r which can do the spacing and indentation for you but has  some drawbacks. https://cran.r-project.org/web/packages/formatR/formatR.pdf

Another way of doing this is to highlight the code you need to the formatting and u

[2016-11-18 07:42] mmumbo opened #2297 "Typing in values for Generating regular sequence"
From Organise dialog when you want to create Regular Sequence over some range of values, is it possible to manually type the the values besides using the arrows to adjust the values?

[2016-11-18 09:13] maxwellfundi commented on #2296
@Lunalo  thanks alot for this insight.

I had a lot of trouble but i now know how i can handle that next time.

Well done for finding this.

[2016-11-18 09:56] rdstern opened #2300 "Adding comments to a data frame"
We currently have the Instat object as a set of linked data frames.  There is control information at the data frame level and also at the column-within-data-frame level.  They each have a grid in the View menu to see the meta-data (not sure about the links yet - I assume more dialogues are needed.  I also suggest:

1) (This is not needed for the 0.2 milestone)  We also have meta-data that can be a

[2016-11-18 10:19] dannyparsons commented on #2265
We will write our own little functions for each of these so that's its clear in the calculator. We have 3660-doy in old cliimate object. dekades and pentades we don't have so if Sam or someone can do this, great.

[2016-11-18 10:25] dannyparsons commented on #2297
It is possible to type in, but as you've probably found out, it isn't always very easy to do, especially when you have some decimal places. This is a feature of that control with the up/down arrows. We are looking into ways to make this easier, which may be changing those up/down controls into plain text boxes. Although each control has it's own advantages/disadvantages.
Do you have a suggestion o

[2016-11-18 10:30] dannyparsons commented on #2296
What are the drawbacks?

[2016-11-18 13:00] Lunalo opened #2301 "PICSA dialog designs"
1) The dialog with all the options
![image](https://cloud.githubusercontent.com/assets/13945088/20429997/e6e562ca-ada2-11e6-9906-b0eb17e2be8a.png)

The combo box at the top will allow the user select Temperature or rainfall and the appropriate controls for each option will be visible. I did this to avoid radio buttons appearing at the top of the dialog.

The group box of the plots will be showing

[2016-11-18 13:02] Lunalo commented on #2296
@dannyparsons  One main drawback is that you have to set the path of the file meaning that you edit the whole document every time you do it.

[2016-11-18 13:35] volloholic commented on #2301
Hi John

There a few critical issues like the plot choices you have given do not perfectly correspond to PICSA plots. Where did you get the list from? Even if they did I do not believe you could satisfactorily implement in the way you illustrate for example how is a season defined?

The combined one needs more thought:
First using a combo box like that is even worse than using radio buttons would

[2016-11-18 13:51] Lunalo commented on #2301
Hi @volloholic

Thanks for eye opening remarks.

The main question that has been ringing in my mind is that what do we want to achieve with this dialog(s)

also, what is the main use of PICSA. If I get this right then I will be in a position to do it right

I will do more research and also consult with Danny, Steve and Roger to get this right after which I will redesign the dialogs.

Thank you.

[2016-11-18 14:02] volloholic commented on #2301
Hi John
Your main question is a good one. James knows PICSA I suggest you try talking to him to get a better understanding of PICSA and how he thinks this dialogue might be used.
By all means talk to me Danny Roger and Steve as well but we won't be able to tell you simply this is what is needed without doing the work ourselves. Part of the aim of this task is to start spreading the load of concept

[2016-11-18 16:57] rdstern commented on #2301
Suggested design for the crop dialogue

This is the R code that Francis Torgbor has been working on.  It will change quite a lot for R-Instat and he should remain involved in the design of both the R code and in discussions on the dialogue – or sub-dialogue.  James also knows what this method does for PICSA.
This is also a good test of the summary methods that David and Danny have been working on.

[2016-11-18 17:55] rdstern commented on #2301
Working of the crop method.  There are 3 components to the calculation.  I illustrate with the first set given above, i.e Planting is day 100 in the year, Duration of the crop is 100 days and the water requirement is 500mm.
1) One part I call W is now to go back to the daily data.  Then each year to find the total rainfall from day 100 to 199, i.e. for 100 days.  This will give a value for each ye

[2016-11-19 07:31] rdstern commented on #2301
Starting with PICSA.  John you may like to start by seeing the sort of analyses we need for PICSA.
[PICSA and NMS Services 2.pptx](https://github.com/africanmathsinitiative/Instat/files/601304/PICSA.and.NMS.Services.2.pptx)

The attached Powerpoint shows some of the graphs.  You will see that the all have the years as the x-axis and something interesting for farmers (from rainfall and temperatures

[2016-11-19 08:36] rdstern commented on #2301
In these dialogues rainfall is the more complicated.  Here are my ideas for rainfall.  I don't feel it will be easy to combine these dialogues together - they are sufficiently different.  So I am at least going to start with 3 separate dialogues.  Ideas on the crops are above.  This comment is to give ideas on rainfall.

I start with your dialogue on Rainfall.  It will be a bit wider, but is a goo

[2016-11-19 20:57] rdstern opened #2302 "describe > multivariate > correlations bugs"
I open the diamonds (ggplot2) data.  Also the standard rice survey data.  (The bug looks like an issue for any two data sets).
I use correlations for the survey and also the option to do a pairwise plot.

a) First bug: I get the pairwise plot, but not the correlation matrix, though that option was still ticked.
b) Second bug:  I now change data set and use the diamonds.  It still gives me the old

[2016-11-20 07:32] rdstern commented on #2016
I have tried using this dialogue again.  I have another bug to add to the list above.  We need to be getting back to some of these issues soon - not full-time, but splitting work duties.

Anyway I used the survey data and did a factor sheet for Village.  That worked fine.
Then I did it again - called the new one a different name and un-ticked the option to save the contrasts.  I pressed OK at it i

[2016-11-20 08:02] rdstern commented on #2301
The third dialogue is for temperatures.  We usually as the NMS to produce just a single graph for the temperatures.  So it would be good if the dialogue made the production of that graph really easy.  But the simple graph may go wrong, so it could be good to have a sub-dialogue to help the NMS to look in a bit more detail if they wish - or need to.

The single graph has the year (as usual) as the

[2016-11-20 19:00] dannyparsons commented on #2302
Could either be Lily or Steve depending on who has time/wants to fix this.

[2016-11-21 02:43] stevekogo commented on #2302
@dannyparsons @rdstern @lilyclements I am going to fix this bug.

[2016-11-21 13:34] FrancoisJRenaud commented on #2285
So apparently there is no FlowDocument in the RichTextBox when working on a Windows Form type of project, or something like that...
So that option goes to rubbish. The paste option works ok, but didn't manage to find options to adapt the size of the image. For the moment it's just cut and can't resize which is not great. Otherwise need to set ReadOnly to false for pasting. Could do a set, reset be

[2016-11-21 14:08] FrancoisJRenaud commented on #2285
Also
https://msdn.microsoft.com/en-us/library/sxc145fz(v=vs.110).aspx

[2016-11-22 06:11] FrancoisJRenaud commented on #2285
Also
https://msdn.microsoft.com/en-us/library/sxc145fz(v=vs.110).aspx

[2016-11-22 07:10] Lunalo commented on #2016
I am not sure if @lilyclements  has started working on this. if not then i can start working on it....

[2016-11-22 08:48] lilyclements commented on #2016
I haven't started working on it yet. If you are free to work on it then feel free to - although let me know if/when you do

[2016-11-22 09:00] dannyparsons commented on #2016
Fixing this needs some work in the R method I would guess. Shouldn't be much so happy for you guys to sort it out, let me know if you need and advice.

[2016-11-22 10:21] lilyclements commented on #2016
I just wanted to clarify something, because even if John does take this on then I want to still understand this dialog!
I don't fully understand to begin with what we want this dialog to do? How can it help the user?
I suppose the answer to that question can either lead to more questions, or clear up for me the list written above of items to add to this dialog!

[2016-11-22 10:26] lilyclements commented on #1762
I believe this issue can be closed

[2016-11-22 10:43] rdstern opened #2307 "Climatic - exporting data for CPT"
I understand that the climate object can already expeort data in a form ready for CPT?  So David says this addition should be easy.  It would be great to have this feature, or at least have the dialogue for this.

My understanding is that this would take the data from 2 data frames  (or it might be a single data frame, plus the associated meta-data).  One data frame, or the meat-data, would have t

[2016-11-22 10:55] rdstern opened #2308 "Climatic dialogues, keeping track of the metadata to give station locations"
In the summary of the climatic data I wonder about the metadata?

Usually with the stations we will have (somewhere) a worksheet with the station information.  Otherwise our metadata "system has (I think?) facilities for us to add this information.

Sometimes we will have information on different stations, each in their own column.  Then I suggest the simplest way to have extra information - inclu

[2016-11-22 11:54] Lunalo commented on #2016
@lilyclements

I think what the dialog does:-

First, It gets the levels of factor.

Second , it converts the output into dataframe.

Lastly, It appends the contrast matrix to this already created dataframe.

[2016-11-22 13:20] dannyparsons opened #2310 "Merge dialog and sub dialog"
@africanmathsinitiative/instat I've had a go at redoing the merge dialog/sub dialog. The pull request is here #2309, any comments on the code are appreciated.
Can anyone come up with a better design, mainly for the main dialog? I don't like what I've got so far but haven't come up with anything better. There's quite a lot to fit on the dialog. It looks squashed because I wanted the size to be maxi

[2016-11-22 13:44] Lunalo commented on #2310
I was wondering  whether  to have two sub dialogs in this case

[2016-11-22 13:49] FrancoisJRenaud commented on #2310
If not two subdialogues, I would at least get the "Key Columns" and things below to be aligned at the top with one of the two lines of labels on the left.

[2016-11-22 14:08] dannyparsons commented on #2310
Yes alignment isn't right, sorry should have mentioned I haven't tidied it up because I wanted to decide on a layout first.
@Lunalo I don't see how two sub dialogs will help much. If there was a sub dialog just for choosing the key columns it would be almost the same size because it needs all the big controls from the main dialog. Or did you have another idea in mind?

[2016-11-22 14:27] Lunalo commented on #2310
Let me think and then will get back to you

[2016-11-22 14:50] Lunalo commented on #2310
I have an idea. I think key columns list box is displayed when Choose which columns to merge by is checked.
The part with key columns listbox can be hidden on load and can only be shown whenever the radio button is checked.

[2016-11-22 14:54] lilyclements commented on #2310
Just to clarify - do you mean it is display in the dialog box or on a separate sdg once it is checked? :)

[2016-11-22 14:55] Lunalo commented on #2310
It displays this part
![image](https://cloud.githubusercontent.com/assets/13945088/20528334/db9955ba-b0dc-11e6-9f4a-314bad9c49d1.png)

[2016-11-22 14:56] Lunalo commented on #2310
Danny can also elaborate on that

[2016-11-22 15:05] dannyparsons commented on #2310
What's the question?

[2016-11-22 15:16] lilyclements commented on #2310
I meant for that part that you highlighted - are you suggesting that section comes up in as a sub dialog when you click "Choose", or comes on the main dialog?

[2016-11-22 17:11] Lunalo opened #2311 "ucrInputcombobox Methods"
Hi Team,

As i was tackling the contrast dialog, I wanted to implement a functionality that could allow the user to only select items from the existing list but not edit. so I did a small method below

`Public Sub SetEditable(bEditable As Boolean)

    If bEditable Then
         cboInput.DropDownStyle = ComboBoxStyle.DropDownList
    Else
       cboInput.DropDownStyle = ComboBoxStyle.DropDown

[2016-11-22 21:17] rdstern commented on #2310
I hope that my main request is possible (at least in the future) with the Data Options.  Currently they allow a filter to be set.  I assume they will also allow us to select which columns are "hidden"?  That would allow us to have the merge copy only a selection of the columns across.

Incidentally, what happens to merge if there is a filter in operation?

[2016-11-22 21:47] dannyparsons commented on #2310
I think one option already there is showing or not showing the currently hidden columns in the data selector. I think this works but it's not what you're asking for.
Your comment sort of implies that hidden columns should be excluded from commands which have the data frame as an argument - such as merge. Another would be append data frames.
I think this what's happening at the moment. Is that how

[2016-11-22 21:51] dannyparsons commented on #2311
There are build in auto complete options for combo boxes I think. You could start by looking into that and seeing what's possible. I'm not sure if you can have auto complete (which requires editable) and also a restriction on items without writing some of our own code.

[2016-11-23 07:02] Lunalo commented on #2016
@rdstern

Apart from understanding what the method is doing, I am yet to understand how it will help the user achieve something. I therefore, need more explanation on its use.

[2016-11-23 07:55] rdstern commented on #2016
OK, take the simple survey data that we often use - as an example.  Look at the first column, which is village.

Often the data will arrive already at 2 levels.  There could be the "Village level" with in formation about the villages.  In our case this could just have 4 rows and give the lat, long and altitude of the village.  There may be other information, such as the number of households in the

[2016-11-23 08:26] Lunalo commented on #2016
Thanks @rdstern

I now understand .

[2016-11-23 09:11] Lunalo commented on #2301
Hi @rdstern ,
This url:  https://ccafs.cgiar.org/blog/new-manual-helps-expand-reach-climate-services-together-farmers
has refused to open  the page.

[2016-11-23 10:26] rdstern commented on #2301
Odd.  It works fine for me.  I just tried it now.  perhaps you could try again?

[2016-11-23 14:19] dannyparsons commented on #2301
I think the original link had a problem. The one John sent works for me.

[2016-11-24 17:38] FrancoisJRenaud opened #2314 "sdgPlots -> Axis Tab -> Scale -> max value"
The maximum value in the nud for the maximum value on X/Y Axis is 100... There should be no limit I think. Or is this a percentage ? @maxwellfundi  could you have a look at this ?

[2016-11-24 17:41] rdstern opened #2315 "Climatic > Importing SSTs and Describe > Multivariate > Principal components too!"
I am going to send this also as an e-mail so it can go also to Mike and Patrick and also Alex Riba (from SSD).

Steve Kogo did the importing of SSTs some time ago.  There remains a small bug there - that the import dialogue comes up immediately the first time you use that dialogue.  It is different on subsequent uses of the dialogue.

But more generally I am not clear how to use the dialogue to im

[2016-11-24 17:52] FrancoisJRenaud opened #2316 "dlgGeneralForGraphics and co -> global aesthetics"
A few comments about global aesthetics:

- reset on generalforgraphics doesn't reset them

- could be displayed in blue in the layer aes receivers

- when local dataframe is not the same as the global one, should send a warning message and display global aes in red. In general unticking ApplyOnAllLayers when dataframes are different is very dangerous.

- when apply on all layers is ticked, datafra

[2016-11-24 20:22] lilyclements commented on #2315
I spoke to Alex earlier today. He's not in the SSD tomorrow so we plan to have a Skype where we can discuss all this. Then on Monday we plan to work together on it

[2016-11-25 07:12] rdstern commented on #2252
I like the enhancements in this dialogue, though it seems to have taken a lot of work.  It is worth it though!
For my testing I am using the usual survey dataset (36 rows) and also the ggplot2 diamonds (50,000 rows).

Some suggestions below should be easy - like the coord-flip.  Others could wait as there is a lot of other work!

I initially take all the columns.  (By the way, I like the fact I ca

[2016-11-25 22:53] rdstern opened #2319 "Adding a viewer to R-Instat"
When we demonstrated R-Instat there was a request for an additional sheet - as a viewer.  I now understand this could be trivial one way, namely to invoke the R view command.  Danny demonstrated this and it looks fun and also another "free gift" from R.

It can be invoked, in R-Instat through the calculate dialogue - just to see what it does!  Then I suggest as follows:

a) It becomes a right-clic

[2016-11-25 23:04] rdstern opened #2320 "Dialogues for links and keys"
I hope this may be the last large new set of dialogues - if it becomes a set.

We need to be able to manage key columns and also the links between data frames.

1. Often data frames will be linked because one is derived from another.  For example the **Organise > Column Reshape > Summarise** dialogue could go from daily to annual or monthly summaries.  And the summary columns will be linked to the

[2016-11-26 08:04] FrancoisJRenaud commented on #2319
Hi @rdstern,
In order to make sure @stevenndungu  and I get you, what do you exactly mean by "viewer". Is that a specific R command that produces a "view" on a given sheet or part of a sheet ?
Found this on the net: https://stat.ethz.ch/R-manual/R-devel/library/utils/html/View.html
There is indeed a command View in the package utils.
Are you thinking of that one ?
![new picture](https://cloud.gith

[2016-11-26 08:21] rdstern commented on #2319
I was thinking of the R view command - at least that is what Danny showed me is easy to do.

And I was thinking of it as a separate viewer, like the graphs are/were.  This could allow us to look at 2 sheets together, one in our usual grid and one in the viewer.

Later we may also want to be able to view data in the output window, but that will be different.  That might make use of stargazer, or th

[2016-11-26 08:58] FrancoisJRenaud commented on #2319
Ok, @dannyparsons  is it the same "View" command as the one I found above ? In utils ?
Otherwise I ve been testing the stargazer in the new output window and it works well. So this might be near future... I ve just sent an email summarizing the progress.

[2016-11-26 08:59] FrancoisJRenaud commented on #2285
Also the output window is in good progress and I have a clearer picture of what's possible or not. At this stage, it would be good to start making choices so that I don't do 4 times the amount of work that is required. The best implemented option is the WPF RichTextBox that is now including text, graphics and html reader boxes. There are just a few things that need to be fixed, such as the copy of

[2016-11-26 12:09] dannyparsons commented on #2319
Yes it's simply the `View` command. So it should be very simple to add an option on the tabs right click to simply call the `View` command on the selected data frame.
Then another simple job is to update the View dialog so that there is an option to view the data frame in a separate viewer, as well as in the output window (which is currently the only option).

How we display things in the output w

[2016-11-27 10:29] rdstern commented on #2285
This all sounds great, and excellent to be discussing these alternatives at this stage.  I will also forward the e-mail version to Ian Edwards, who may have some words of wisdom to help us choose between the alternatives.  And we should harass David tomorrow or Tuesday if we can find a slot.  he is going to be in Reading from Monday afternoon, and then travelling to Mtwara on Wednesday.

Francois,

[2016-11-27 10:38] rdstern commented on #2319
I agree with Danny here.  I am still keen on this simple way of being able to view a sheet in parallel to the use of our grid - where we only see one sheet at a time.  So, for example if we wanted to consider merging data from 2 sheets, then we could look at them together first.  Or, if we have stacked, then we could look at the sheet with the unstacked data and the stacked data together.  So I se

[2016-11-28 01:46] rdstern opened #2321 "Describe > One Variable > Graph and Two Variable > Graph also, with examples"
The Describe > One Variable > Graph options are looking much better now.  I don't want continued work there to be at the expense on the general enhancements to the graphics system, and other tasks.  But the results are good enough it is a shame if those facilities were forgotten.

1.  The sub-dialogues seem to be unnecessarily small.  I would be quite happy for them to be larger.
2.  In the one va

[2016-11-28 07:30] FrancoisJRenaud commented on #2285
Okok, sounds good. Let us know when you manage to gather everyone for a Skype.

[2016-11-28 07:39] FrancoisJRenaud commented on #2321
Hi all,

I ll work on 2, explore a bit what they do in sjplot, try to add the text geom to our available geoms as well as hline, vline and abline probably. They stand out of our current geom collection in a similar way I think.

[2016-11-28 08:07] maxwellfundi commented on #2321
We will have a look at this some together with @FrancoisJRenaud to address this issue.

[2016-11-28 08:14] Lunalo opened #2322 "Stargazer package for well formatted table output"
Hi @rdstern , @dannyparsons , @stevekogo , @volloholic , @lilyclements,

I have been doing some deep research on stargazer package https://cran.r-project.org/web/packages/stargazer/vignettes/stargazer.pdf, https://cran.r-project.org/web/packages/stargazer/index.html.

 Stargazer produces well formatted table for regression output in LATEX, HTML or text format. I hope we want to dwell on text forma

[2016-11-28 09:49] dannyparsons commented on #2321
@stevekogo Worked on the 2 variable dialog so could also be involved here

[2016-11-28 15:26] lilyclements commented on #2315
Alex and I looked over PCA's earlier today and have drawn a few conclusions and I can sort a few of them out now.

Since there could be 400 columns in this dataset, I feel a ctrl+a option to select everything in the ucrSelector could be handy? Although I'd like to know others thoughts on this as I'm not sure how easy it would be!

Remove "scores" as a sub dialog option because this is for factor a

[2016-11-28 16:47] rdstern commented on #2315
Thank you for starting work on this.  I reply quickly on a trivial one of these.

If you do <right click> in the data selector, then you can select all.  It could be good to also have the <ctrl a> alternative.  I would also like an additional <right click> option, which is "Select all and Add".  Danny is visiting Reading tomorrow.  I think this may be easy, and you should ask.
There are other gene

[2016-11-28 20:49] lilyclements commented on #2315
Great, okay thanks.
Yes, it does limit it but it still runs it I believe. It just limits it dimension/components wise to the minimum out of the no. of rows and columns. Alex says that that's fine, however!

[2016-11-29 02:10] rdstern commented on #2322
Can you also look at the sjplot package for the same thing?

For example sjt.df can display the data in data frames, (like our Organise > Data Frame > View while sjt.corr is for correlations and sjt.lm and sjt.glm are for linear models.  There is also the partners of sjp.lm and sjp.glm to produce the relevant plots and these plots use ggplot2.

Thanks

Roger

[2016-11-29 08:34] stevenndungu commented on #2319
Thanks Roger, Danny and Francois for the discussions above. You have made it clear, am happy to start  working on it immediately. Its a command I use so often in R... and now seeing it  in R-Instat would be really nice.

[2016-11-29 17:38] dannyparsons commented on #2185
This may be a good things to revisit now that we have to edit each dialog anyway. @maxwellfundi did you look into this already?

[2016-11-30 12:50] rdstern opened #2328 "Dates/times and other structures in R-Instat"
We already load the **openair** package - I think because it has a wind rose command.  In addition it has a single data set that will become very useful for our climatic work.  It is called mydata and is **hourly** data for 7.5 years, so that is 65,000 observations.  It includes wind speed and wind direction.  All potentially very useful!  (And it links to the openair project run from Kings Colleg

[2016-11-30 21:14] rdstern opened #2332 "climatic and the openair package"
As we get seriously into the climatic facilities in R-Instat I strongly suggest we could have quite a lot to learn (and perhaps use) from the R openair package.  The manual is not too long and is available from CRAN in the usual way.  There is also a guide here: [http://www.openair-project.org/PDF/OpenAir_Manual.pdf](http://www.openair-project.org/PDF/OpenAir_Manual.pdf) which shows examples of al

[2016-12-01 13:13] rdstern opened #2334 "A user control to enter multiple numbers or strings?"
In some of our dialogues we need to enter a sequence of numbers.  In many ways the simplest procedure would be to type them in, e.g. "3,5,10".  On other occasions we may alternatively want to enter a set of strings, e.g. "aaa,b,c".

The concern is that once anything can be typed into a control, then we may type mistakes, e.g. "3 5 10" or "3;5;10" and this could mess up the commands sent to R.  Wha

[2016-12-01 13:46] rdstern commented on #1942
There is still work to be done on the Model > One Variable > Exact dialogue. This is in addition to getting the dialogue working again for the Bernoulli and Poisson.

1) The EnvStats package has some features of interest, though it is also pretty long!
2) The hTest.object is interesting.  It is an object for all the simple hypothesis testing commands, including those from R itself.  So we can save

[2016-12-01 13:52] rdstern commented on #1942
The Model > Two Variables > Fit is (I think) more complicated, because there are many options.

1. I suggest that the second "button" be changed from "Exact" to "2-Sample".
2. We add the var.test to the normal, which does an F-test to compare 2 variances, just as there is already the t-test to compare 2 means.
3. We will have the Mann Witney test - same as the 2-sample Wilcoxon.  So we have "None-

[2016-12-01 13:53] lilyclements commented on #1942
Bernoulli and Poisson are working now, I'm just waiting for it to be merged in.
I'll have a look into these packages and adding these features!

[2016-12-01 14:33] rdstern commented on #1942
Just to be clear.  I think for the 2 variable case we could have a special option, as mentioned above - called "2-sample".  In that case the first Variable would be a variable - as now.  The second would be a factor with 2 levels.  It might even be labelled as such.  So, for the survey data set this could apply if the variety had been filtered to have just 2 of the 3 levels, or we did the analysis

[2016-12-02 08:35] dannyparsons opened #2336 "Define climatic data dialog"
This is a new dialog to define a data frame as being climatic. So after importing data if you have climatic data then you go to this dialog to tell the Instat object to treat this data frame as climatic.
When you define a climatic data frame you need to identify some key variables. This means in the metadata we will store which column is for "rain" which is for "max temp" etc. Because the column n

[2016-12-02 11:56] rdstern commented on #2336
Exciting.

Let me first answer the question from Danny above - as best I can.  Then I add some questions and points of my own:

1) I agree that Date is mandatory, so this is the first column.
2) Then Rain
3) Then TMax and Tmin (Temperature Maximum and Temperature Minimum)
4) Sunshine Hours
5) Radiation
6) Wind speed
7) Wind Direction
8) Cloud Cover (possibly)

9) Now the first question - and this

[2016-12-02 12:08] rdstern commented on #2336
More questions - these are issues, so I am not expecting immediate answers:

1) Sometimes Date will come into the data frame as (say) Year, Month, Day and we already have the dialogue to calculate the **Organise > Column: Date > Make Date** dialogue to make the date column.  Then I assume R-Instat will link and hence will know they are consistent.   I assume we will (at least to some extent) now *

[2016-12-02 13:02] rdstern opened #2339 "Climatic Analyses - quality control"
This issue is to set out some of the general facilities we need for the quality control of the (daily) climatic data.

This is perhaps the parallel to the climate indices, in that the same basic software that calculates the 27 indices (RCLIMDEX) has RCLIMDEX-PCIC for the indices, and RCLIMDEX-QC for the quality control.  My general view on our proposed strategy have been re-enforced by my visit to

[2016-12-02 14:59] dannyparsons commented on #2336
Thanks for these. I'll respond quickly to a few.

This is exactly the same as the column structure: Layout/Treatment etc. So we will have climatic_type as a column in the variables metadata and each column will have a value like Rain, Date etc. Some columns may have no climatic type.

Yes we should have Station. And yes I don't see a problem with having calculated columns in here as well, e.g. Tem

[2016-12-03 17:26] rdstern commented on #2084
I changed the name, because I would like to consider a more general aspect of the topic posed above.  This is partly because I am finding the boxplot dialogue is going to be really important for our climatic work.

So I have been looking at alternative solutions to the issue above.  This is partly because there should be more options here, given the "grammar of graphics" approach.  Some could chan

[2016-12-03 17:49] rdstern opened #2343 "Organise > Data Frame > Filter bug illustrates a possible general problem?"
I have called this a bug, but I think it is a general issue to be resolved once we have links working fully?

1. I had daily climatic data and had a filter to just have the 6 months from October to March.  This works fine.
2.  I then realised that my month factor was coded as 1 to 12.  So I added labels to it, using Organise > Column: Factor > Levels/Labels.  That also works fine in adding the lab

[2016-12-04 03:07] rdstern commented on #2321
I have attached a file that is causing some issues with the Describe > One Variable > Graph dialogue.

I admit it is an awkward file, but hey what do you expect from me.

1) I have checked and the problem is that one column of data is totally missing.  So it is now easy to try, using File > New and then accepting the default, so you get 2 logical columns and there is no data.

2) If you try **Desc

[2016-12-04 13:40] rdstern commented on #2268
The nice (default) graphs in the sjplot package seems now to me to link with a bit of logic we can apply to our own graphics menu and it can be illustrated well by the Describe > Specific > Bar Charts dialogue.  This is the idea that the "general" system and logic of ggplot is to build up the graphs "layer-by-layer"  However we commonly want examples that include multiple layers.  In bar charts we

[2016-12-04 15:16] rdstern commented on #2328
[WKenya_StationInfo.xlsx](https://github.com/africanmathsinitiative/Instat/files/629598/WKenya_StationInfo.xlsx)

Here are the rainfall data from Western Kenya that we can use as an example for the climatic work - and it can be shared freely.  There are 2 files, one wit about 600,000 rows of rainfall data from 52 stations (plus one to get rid of).

The second gives the station information.  I assu

[2016-12-04 17:18] rdstern commented on #2319
I assume the work on the viewer has started?  I now find that the old view dialogue doesn't work any more.  It now has a default of 0 rows to display, which I can't change.  I am looking forward to the right-click on the bottom tab being added.

[2016-12-04 17:21] rdstern commented on #2320
Not sure who will do this set of dialogues, but I assume they will be discussed this week?

[2016-12-05 01:44] rdstern commented on #1756
I tried the dialogue with the survey data to model yields and it seems not to be working now.  It is working in Version 0.1, but not in the latest code I am using.

[2016-12-05 06:41] lilyclements commented on #1756
Is this latest code from after Thursday?
I think I know the issue if so and can fix it today

[2016-12-05 06:59] dannyparsons commented on #2321
Sorry, I have been working on the one variable graph to test out the new linking system so that's why there are a few strange things on the dialog now, such as different defaults. I forgot to change them back after testing, but will fix these soon.

[2016-12-05 09:09] rdstern commented on #1756
Yes, it is the latest code.

[2016-12-05 09:11] rdstern commented on #2321
No problem.  It will be good to have the new linking working.

[2016-12-05 12:38] FrancoisJRenaud commented on #2268
Hi @rdstern ,

I hope your visit to Canada was good ! So label and text have been added now. Just the pull request needs to be merged. There should be improvements in the way layer parameters are introduced in order to use their full functionality, but all the most important parameters are available. So I think it would be possible to add the count or percentages to the bar chart as a tick boxes.

[2016-12-05 13:39] rdstern commented on #2268
Hi @FrancoisJRenaud,

This is all sounding very exciting - the progress on so many fronts.

For jitter I was asking on the boxplot dialogue.  And I was assuming the boxplot dialogue could itself also add the violin plots? (Just as bar charts include pie charts, and histograms include frequency plots).

So, these (e.g. jitter) add a second layer which commonly enriches that sort of graph.

In gener

[2016-12-05 18:34] rdstern commented on #2268
On bar charts it does seem as though the new ggplot (version 2.2)  has improved various aspects - including the order of stacked bar charts.  It has also improved faceting.  It was released on about 12 November.  I wonder if we are - or should be - using it?

[2016-12-06 06:59] stevenndungu commented on #2319
Yes am done working on it and its now working well. Currently awaiting review and consequently merging.

[2016-12-06 08:16] stevekogo commented on #2307
@rdstern I have created a dialog for exporting the data to CPT but @dannyparsons is yet to add create climate object dialog so that I can use climate object object method created by @volloholic to export data.

Should I just implement this without using the climate object method? This can be a temporary fix which I will have to address once the climate object is properly integrated.

[2016-12-06 09:32] dannyparsons commented on #2307
At the moment we are not having a climate object, we will just have climate metadata in the instat object. So you can implement it as a separate function.

[2016-12-06 14:47] rdstern commented on #2319
Congratulations on the viewer, which is working well from the right-click menu at the bottom.  Great.

a) Could you look at the title for the frame and make it more friendly.
b) However the window "goes off" too quickly!  I suggest it should stay visible until you choose to close it.  This is a general issue with the windows , e.g. also for the View > Column Metadata etc.  In fact it is better tha

[2016-12-06 15:24] rdstern opened #2353 "Testing the climatic menu"
This is starting to look really good.  I have been testing items ready for the discussions with Jim/Tufa tomorrow.  It could work like this - so far - but I note some items I have found.

a) An oddity first in **File > Open from Library** that might be easy to fix? I was looking at the **climdex pcic** package which is in the library.  When I look at any of the 3 data files there, the help on the

[2016-12-06 16:02] dannyparsons commented on #2319
b) The window should behave like a graph window, where it starts minimised. Currently we don't have any control over that. Like with the graphics we would need to do "our own" viewer to get it how we like. The other windows like Metadata are inside the software so we could do something about those.
c, d) This is because it's a completely separate window. It's like having another program on top of

[2016-12-06 17:05] rdstern commented on #2319
Yes, and as it is separate, it does remain accessible until closed - or (I presume) overwritten.  Oh no.  That's neat, you can open more than one - and see them together.  Fun!

[2016-12-06 17:24] rdstern commented on #2353
Now to the new climatic menu:
a) On Organise delete "..." from Events.
b) The last two items and the line below Events can be deleted.
c) On Describe delete "s" from Temperature, add **Sunshine/Radiation...**
d) Then a **line**, and then **General...**, then another **line**.
e) Then copy the two remaining graphs from **Describe > More Graphs**, i.e. **Wind Rose** and **Cumulative Distribution**.

[2016-12-06 17:39] dannyparsons commented on #2353
a) Can be fixed fairly easily but seems this is a special case where the name of the data set is not exactly the same as the name of the help file

b) I think this works the same as the general File > Open works. So it was set up to be consistent with that. We can change this behaviour though.

c) I think we can get this working on the general Organise menu by tomorrow. Will check with @stevenndun

[2016-12-07 06:38] rdstern commented on #2353
If still more time on the menu, then on Climate > Models delete the "s".
Also add menu items as Climatic > Model > Extremes and Climatic > Model > Circular.  They can be before the Markov Chains item.

Roger

[2016-12-07 06:49] maxwellfundi commented on #2353
I am currently adding and removing thing you recommended. So this will be part of it @rdstern

[2016-12-07 16:46] #2307 closed

[2016-12-08 06:37] stevenndungu commented on #2319
@rdstern
Thanks for the kind comments above. Here are changes I have made in regard to your comments above;
a) The title of the data frame to viewed is now derived from the name of the data frame to be viewed which is friendly.
e) - the up-down control is now working properly as before.
-Viewer option is as well added in the Organise > Data Frame > View dialogue. This is in such away that we have

[2016-12-08 14:04] rdstern commented on #2295
I report on some issues with dates and climatic data.  I am adding Danny into the discussion, because the problems I am hitting are simple - but messy - and affect multiple dialogues.

I am using the dodoma data from the Instat library climatic data sets.  This is a good example to test the climatic dialogues.

This file has Year, Month, Day in 3 columns.  What seems like a detail is messing me up

[2016-12-08 14:16] rdstern commented on #2336
I agree that is fine for now.

I am still not clear exactly how it will be used in the further dialogues.  In this dialogue eventually perhaps the 4 basic ones may be (as for Dodoma in the Instat library climatic guide) rain, tmax, tmin and sunh.  Then there might (perhaps) be a More button.  That could either be a sub-dialogue, or it could open up another column - as we do for the calculator dial

[2016-12-08 21:51] rdstern opened #2362 "Converting character column to Ordered factor"
I am trying to see the best way to resolve the issue (that could be quite common for us, where we have monthly data already given as Jan, Feb, Mar... which comes in to R-Instat as a character column.

If we right-click on the column there is currently no option to convert to an ordered factor.  I suggest this be added.

Then, if the column is numeric I suggest it simply makes it an Ordered factor,

[2016-12-09 06:58] rdstern opened #2363 "Data Frame metadata oddity"
![data frame metadata2 diamonds](https://cloud.githubusercontent.com/assets/11226469/21040230/7c11c3be-bddb-11e6-9588-dc0c60a180eb.jpg)

The last line is the oddity/bug.

This was from the diamonds data.  I used the **Organise > Column: Reshape > Summary** three times, each time getting the minimum and maximum price for each level of the ordered factor.

The third time - which was by **clarity**,

[2016-12-09 07:08] rdstern opened #2364 "Small improvements in File and selector controls?"
As usual, when preparing help, or (in this case) a video makes me want to suggest improvements - or I find bugs.

1. In **File > Open from Library**,  I choose a file and then click on the help for the chosen file.  All is fine, but once I return to the dialogue the file line is now unselected again.  Could it stay selected.  Then all I would have to do is press OK.
2. In the video we will be show

[2016-12-09 07:41] dannyparsons commented on #2295
We should be able to cope with Month columns or any other columns as factor, character or numeric, so either a change in the dialog or method should be able to fix this.

[2016-12-09 08:16] Lunalo commented on #2295
I think i can work towards fixing this in instat method

[2016-12-09 08:47] stevenndungu commented on #2319
Yes, it is yet to be merged.

On Thu, Dec 8, 2016 at 4:12 PM, rdstern <notifications@github.com> wrote:

[2016-12-09 13:01] rdstern commented on #2295
Great.  Ideally it would work easily for the special Month and day of week columns in climatic.  And also we could make it work for other special columns that will be ordered factors.  The ggplot dataset on diamonds has 3 ordered factors that could be used to check the more general capabilities.

In addition most ordered factors are "linear", e.g. going from the 5 categories of "Very Bad", "Bad" t

[2016-12-09 13:43] FrancoisJRenaud opened #2368 "Add names to parameters"
Dear all,
the way parameters of RFunctions and ROperator are handled has been changed. They are now part of the RCodeStructure. In the process, @volloholic  suggested we should always give names to the parameters we add (Note: the only ways to add parameters are now AddParameter and still the RSyntax methods to SetOperatorParameter and RFunctionParameter, but these will be edited soon...).

There

[2016-12-09 13:59] rdstern commented on #2319
OK, now I see the changes.  Two points so far:

1. The alternative radio buttons are not obvious alternatives to me.  If this stays as radio buttons, then I suggest we change the layout (and possibly the default).  If we have the "Display in Separate Window" first, then the 2 alternatives will be obvious.
 2.  Have you tested the "Display in Output Window" fully on your machine?  I wonder if you h

[2016-12-09 15:02] lilyclements commented on #1942
My understanding of the Mann Witney test is that it does not assume a normal distribution. Under which selected distribution should I put this option, therefore?
Additionally, do we want to include (later) an option for a paired Wilcoxon test?

[2016-12-09 18:51] rdstern commented on #1942
That’s right.  In the same thread I am suggesting that this comes under Distribution “None”.  (I am replying in the e-mail, because I can’t see your comment in the thread.)

Yes eventually we will have the paired situation.  But now the standard layout – for 2 samples is a single data column with a second factor column (2 levels) that defines the groups.  That doesn’t lend itself to the paired cas

[2016-12-10 13:13] rdstern opened #2374 "PICSA M&E Case study and test for R-Instat"
This is a survey of just over 400 respondents.  It could become a useful case study for R-Instat.  It has the following components:
1.  We have permission to use these materials
2.  It was originally an ODK survey.
3. We have all the data files.
4. It also has a qualitative component.
5.  We can get more help/support/explanations from the staff responsible for the work, particularly Graham Clarkso

[2016-12-12 20:21] rdstern opened #2375 "Roger's list of possible topics this week"
My list below is partly climatic, but also some items that are more general – and also that could be useful for the first overview video we have been planning.  I am also conscious that we are coming to the end of Francois’ time with the team in Maseno.

So here are some items – a whole mix!

1)	File > Open from Library.  When an item is selected, and the Help used, then can the item easily remain

[2016-12-13 12:51] stevenndungu commented on #1796
@rdstern, here is how  Use Date dialog design appears:
![image](https://cloud.githubusercontent.com/assets/20383893/21140978/ca0869ce-c14b-11e6-9764-ea955d54f2be.png)

[2016-12-13 12:57] stevenndungu commented on #1796
Decade and pentade  are yet to be implemented thus still disabled.

[2016-12-13 14:52] stevenndungu commented on #1728
@dannyparsons, can I close issue? looks like its fully implemented.

[2016-12-13 16:23] rdstern commented on #2334
I have now checked with David.  He would eventually like a special sub-dialogue, because we are entering what R calls a list.  But this is long-term.  For now he is happy with the suggestions above implemented as a user control.

[2016-12-14 07:53] rdstern commented on #2353
Could you make a few minor changes in the climatic menu.
1) Under **Climatic > Model** have
a) "Extremes...",
b) "Circular..."
c) The existing Markov modelling with the sub-menu.

2. Under **Climatic > SCF** swap the Open and Export, so Open comes on top of Export.

3. Under Climatic > Describe drop "More" from "More Graphs" and add "..." to General.

Many thanks

Roger

[2016-12-14 09:38] FrancoisJRenaud opened #2380 "Block Reader follow up"
Just for record, this issue is about the development of the block reader, which will enable to read commands in output window and repopulate dialogues that are source of these commands... A lot of what could get in here is commented in the clsBlockReader class in the code. It is worth having a look at the comments there. Although at the stage I am writing, the actual code in BlockReader is not ver

[2016-12-14 09:42] FrancoisJRenaud commented on #2380
here are a few questions sent to David by Skype that I would like to keep here:
_In the output window things are displayed fine, but when I copy paste content, there is no spacing or linebreack between tthe comment and the Rcode lines. How urgent is it to fix this ? Are you happy to leave it like that or should I have a serious look at it ? It's not a big issue in itself, but the way we deal with

[2016-12-14 12:42] rdstern opened #2383 "New dialogues for keys and links?"
This follows discussions with David, though some details may need correcting, and there are some questions.

It is in the Organise menu and could be an entry just above Data Object and at the same level.  So there is a new menu item, possibly **Organise > Keys and Links**.
there are 2 dialogues on keys, with the first being **Organise > Keys and Links > Add Key...**, and the second **Organise > Ke

[2016-12-14 13:21] rdstern commented on #2383
Before setting up the dialogues I need to be clear of what we want from these links.

1.  We have one data frame with a (unique) key.
2. We have a second data frame with the same columns as make up this key.  My obvious example is that we have a data frame with climatic station names, plus other "station-level" data, such as lat and long.  Then we have a second data frame with (daily) climatic dat

[2016-12-14 13:52] rdstern commented on #2300
After discussion with David today, we think this should be considered as soon as possible.  This is not because it is really urgent, but because we are in the process of making fundamental changes and this is in that category.

David was otherwise of the view it might not be in Version 1.  I see it as very important for the proposed QC work that will (I hope) be in version 1, at least for climatic

[2016-12-14 17:55] FrancoisJRenaud opened #2384 "Saving Graphs"
If I remember well (not sure anymore, might be that we want something in the save menu somewhere) @volloholic  has asked us to add a Save Graph As Image check box on graphics dialogues... Ticking it would need to do something like this -once the new implementation of RSyntax is complete, and also in respect with the new linking methods I am not yet familiar with ... correct If I am wrong- :

[2016-12-14 18:01] FrancoisJRenaud opened #2385 "Copy and Paste/ Save rtf content from the output window"
When content from the output window is saved or printed as rich text, in Rich Text Format, the line breaks "Environment.Newline" that are inserted at the end of each line are ignored. Hence for example we have that the comment and the rcommand generated by a dialogue are following each other without linebreak. Although if the text is pasted as text only, either in notepad or by changing paste opti

[2016-12-15 08:06] stevenndungu commented on #1796
@rdstern, am not sure if the design above looks good though looks slightly different from your initial instructions. The changes were influenced by Maseno team while writing the method to implement it.
Its now merged- you can have a look at it, test and test it.

[2016-12-15 11:32] maxwellfundi commented on #2384
This looks sensible thing to do actually as the user wold be able to save graphs as images. I will have

[2016-12-15 19:29] rdstern commented on #2300
We now have a simple system that fits with other parts of R-Instat.  You can only have row or cell notes if the data frame with the data has a key field.

The main Organise  menu changes to have **Organise > Keys, Links and Notes**, i.e. we add Notes to the previous menu item.

Adding a row or cell Note makes (and adds to) a linked data frame.  It is a one-to-many link, because you could have more

[2016-12-15 19:34] rdstern commented on #2300
One aspect that could be good to consider is how a data frame with comments will be displayed.  Excel has this feature as a mark in the top right-hand corner.  I wonder whether something could be suggested to the reogrid people?  Perhaps "we" will have to do it?

[2016-12-16 07:25] maxwellfundi commented on #2384
@FrancoisJRenaud The plan for this is i could add a new checkbox that would say "Save Graph as Image" which when checked it could call the ggsave which would be run after the other commands have been run.
So  i think this would be on something like afterclickok, but now that you are working to edit the rsyntax to make this easier, we can discuss how to do this when we meet up.

Thanks.

[2016-12-16 07:43] FrancoisJRenaud commented on #2384
Yup, just for record you mentioned you were thinking of adding this on the ucr Save Graph which is sensible ! Also when you come to implementation in January, have a look at the suggestion above, the chk box should open a dlgSaveFile and use it to choose the filename argument of ggsave... @dannyparsons if that's indeed how we want this to be implemented, we've got new usages of chkBoxes (opening s

[2016-12-16 09:43] volloholic commented on #2384
Hi All
I think we need to rethink this. GGsave has many options including saving as different types I'm more inclined to focus currently on a really good implementation with as many of the GGsave parameters as possible in use graph and to leave it out elsewhere at the moment.

[2016-12-20 14:55] rdstern opened #2392 "Including the QC from Rclimdex and Rclimdex extra in R-Instat"
[Aguilar-Nanjing-2013-Presentation2 QC R-CLIMDEX.pdf](https://github.com/africanmathsinitiative/Instat/files/663948/Aguilar-Nanjing-2013-Presentation2.QC.R-CLIMDEX.pdf)
[Manual_rclimdex_extraQC.r.pdf](https://github.com/africanmathsinitiative/Instat/files/663949/Manual_rclimdex_extraQC.r.pdf)

The quality control in R-Climdex is fairly clearly shown in the presentation, which is the first of the f

[2016-12-20 15:32] rdstern commented on #2392
I suggest we start by having a dialogue (or more than one) that does the checks that are at least done by the existing rclimdex-qcextra.  But we consider carefully how to do them.  They produce two sorts of output:

a) Boxplots, either by year, or by month.  We could do both and use facets to make them clear.
b) They also produce time series plots for the temperatures, which we might do too, again

[2016-12-21 18:30] rdstern commented on #2192
As we consider this option I would like the Open > File to be tested on more different file types - so we understand it better, and perhaps particularly for Stata and SPSS files that are reasonably common.

1.  I have a stata file that is called KE14_Village.  This is from Chris Clarke and looks interesting.  It has 47 columns and 4443 rows.  It doesn't import into R-Instat.
2.  I have gone into S

[2016-12-21 20:55] rdstern commented on #2244
I refer back to the sjmisc package for a possibly curious reason.  In the climatic data from CLIMSOFT the station records have the starting date and the end date.  If the station is still open the end date is coded as 31/12/9999.  When you make this into a date it comes as a missing value.  It is a sort of missing value, but different from not knowing the end date.  This is a climatic example wher

[2016-12-22 12:06] lilyclements opened #2407 "Recode Factors Bug - Crash"
This might already be a known bug, so apologies if this is the case.

If I use a factor column in Recode Factors
Then delete the column I used to create the new column
Then I reopen Recode Factors, there is a crash (see below)
I assume this is more an issue with the InstatDataObject than Recode Factors, since this problem could occur in other dialogs too?

---------------------------
Error running

[2016-12-23 11:06] dannyparsons commented on #2192
We can definitely import some STATA files because I've imported the corruption data from STATA. For these files, the first thing to check is whether they import into R, if not R-Instat.
Possibly a good task for @Lunalo who's done this checking before.

[2016-12-23 11:10] dannyparsons commented on #2244
Good to check on multiple missing dates in sjmisc - but I don't see why 31/12/9999 comes out as missing. Only if these values are in a different to the rest of the column perhaps? But doing `as.Date("31/12/9999", format = "%d/%m/%Y")` works perfectly fine.

[2016-12-23 11:15] dannyparsons commented on #2407
Yes good bug to fix. I guess it is caused by the factor data frame control. I can look into this.

[2016-12-23 11:18] dannyparsons commented on #2407
And this is a general bug with receivers. They should clear variables that no longer exist when they reopen.

[2017-01-02 09:36] rdstern opened #2425 "Duplicate Column(s) dialogue"
This seems an omission in the Organise Menu so far and (I guess) an easy thing to do.

It is important (at least for Version 0.3, partly because we don't yet have an Undo.  Some operations, like changing a factor to a variate can result in a column with just NAs - which is a shame.

In Genstat it is a simple dialogue as follows:

![image](https://cloud.githubusercontent.com/assets/11226469/2158618

[2017-01-03 00:10] dannyparsons commented on #2425
So this dialog should only have a selector, single receiver and name for new column, with default being OldColumnName1 etc.

The function for the dialog is the add column instat object method. So you can do this as an R function, and not with the assign to.

[2017-01-03 12:08] dannyparsons opened #2429 "Call type for graph dialogs"
With the new output window now displaying graphs we need to change the call type for dialogs that produce graphs. Instead of 1 it should now be 3. Until this is changed, graphs will continue to be displayed in a separate viewer.

[2017-01-03 12:19] dannyparsons opened #2430 "Delete data frame grid refreshing"
Sometimes grid doesn't refresh after deleting a dataframe. Need to somehow force grid to refresh.

[2017-01-03 12:20] dannyparsons opened #2431 "Indicate when more than 1000 rows"
We need some way of indicating when there are more than 1000 rows and only the first 1000 are displayed.

[2017-01-03 12:24] dannyparsons commented on #894
Additional right click menu item needed in selector is "Add all" which selects all columns and add them to receiver

[2017-01-03 12:26] dannyparsons commented on #998
This should be fixed by new output window. Can someone now check that spacing is sensible? Maybe @lilyclements @maxwellfundi

[2017-01-03 12:27] dannyparsons commented on #1001
Fixed by new output window.

[2017-01-03 12:27] #1001 closed

[2017-01-03 12:29] dannyparsons commented on #1020
Possibly contact reogrid about this.

[2017-01-03 12:32] dannyparsons commented on #1215
Should be looked into when we do subdialog linking.

[2017-01-03 12:33] dannyparsons commented on #1476
Closing this, probably need new issues for these dialogs after relooking at them.

[2017-01-03 12:33] #1476 closed

[2017-01-03 12:39] lilyclements commented on #998
So I imported my dataset, then ran a one variable graph and got a double space between them. After that I've only had single spaces. Upon re-opening, a double space occurs again between import of dataset and then running something new (e.g., a new dialog, changing something to a factor, etc)

This is the only time I can find that this issue occurs

[2017-01-03 12:42] dannyparsons commented on #1540
Probably no longer need this.

[2017-01-03 12:42] #1540 closed

[2017-01-03 12:45] dannyparsons commented on #1585
Accepted that row names will not be preserved by some methods.

[2017-01-03 12:45] #1585 closed

[2017-01-03 13:17] dannyparsons commented on #1728
First version is implemented, but more work needed to get the data imported in the correct formats.

[2017-01-03 13:22] maxwellfundi commented on #2429
great, I can have a look at this and get all graphics dialogs work correctly

[2017-01-03 13:25] dannyparsons commented on #1751
I will update the R method to avoid this bug.

[2017-01-03 13:27] dannyparsons commented on #1752
Have these issues been addressed now?

[2017-01-03 13:29] dannyparsons commented on #1756
Need to test this again.

[2017-01-03 13:30] #1757 closed

[2017-01-03 13:30] #1762 closed

[2017-01-03 13:30] #1763 closed

[2017-01-03 14:13] dannyparsons commented on #1792
This is still a bug. Specifically if you type in a single number into the calculator and don't save the result as a column you get an error because `capture.output(11)` produces an error in R.
Not sure why and may be worth posting in a forum.
I think it's fairly uncommon so not urgent to fix.

[2017-01-03 16:29] #1771 closed

[2017-01-04 07:36] Lunalo commented on #894
I am working on this

[2017-01-04 08:35] Lunalo commented on #1752
I can still have a look at this

[2017-01-04 08:57] stevenndungu commented on #1751
Great

[2017-01-04 10:07] #2429 closed

[2017-01-04 11:29] dannyparsons opened #2439 "Defining a filter that produces 0 rows"
Strange bug in the R link when you define a filter that produces a data frame with 0 rows. At some point the R link seems to crash and is unable to run any command. This only seems to happen when the filter produces 0 rows but the command that gives an error is:
`
.temp_value<-InstatDataObject$get_variables_metadata(column=InstatDataObject$get_column_names(include=list(Is_Hidden = FALSE), data_nam

[2017-01-04 12:06] volloholic commented on #2439
Ok this is a good excuse to check the tidyness of our code with respect to the R-Link the top priority is to try to reproduce the error in R-Studio by running the script with all "hidden" code. This is probably best done by introducing a permanent debug feature.
We could be automatically writing every line of code sent through the r-link to a debug log saved to the instat temp files location it co

[2017-01-04 12:15] dannyparsons commented on #2430
There are two issues here.

1. Is that when you delete the first sheet, the CurrentWorksheetChanged event is not raised (the status bar at the bottom still have the name of the deleted sheet even after it refreshes). This should probably be reported to reo. To get around this we can manually update the current worksheet and it then refreshes the grid.
2. There is still an issue with the tabs at th

[2017-01-04 12:26] #2430 closed

[2017-01-04 12:27] dannyparsons commented on #2425
fixed by #2433

[2017-01-04 12:27] #2425 closed

[2017-01-04 12:36] dannyparsons opened #2441 "Changing when packages install/load and version checks"
We want to make packages install/load(?) when they are needed by functions, not all at the start on first load. Each function should specify which packages it requires then they are loaded if needed.

When installing packages for users, we also need to check that if the user has the package, they have an up to date version. This becomes important for example so we can ensure users have the new ver

[2017-01-04 12:37] dannyparsons commented on #2441
Is this a 0.3.0 issue?

[2017-01-04 12:44] dannyparsons opened #2442 "Order for selector right click menu"
Below is the current order of the right click menu on the selector (Add all works nicely!).
The order looks strange though. I think Clear should be at the bottom, and Select All is not that common. Add selected is most common so I would suggest:
- Add Selected
- Add All
- Select All
- Clear Selected

Any thoughts? @africanmathsinitiative/instat
![rightclickmenu](https://cloud.githubusercontent.com

[2017-01-04 12:46] dannyparsons commented on #894
When the current receiver is Single, we shouldn't be able to add all. Currently it doesn't crash but it adds the last variable, so not that useful.
Can we disable Add All when the current receiver is Single? @Lunalo This shouldn't take too long, so if you get stuck let me know.

[2017-01-04 12:49] maxwellfundi commented on #2442
I suggest the drop down list would look like
Select All
Add Selected
Add All
Clear Selection

And just to get this right, the Add All, what does it do? i would think it would Select All then Add Selected.

[2017-01-04 12:49] Lunalo commented on #2442
This is my suggestion
Select All
Add Selected
Add All.
Clear Selection
I do not have strong view on how it should look like.

[2017-01-04 12:54] volloholic commented on #2441
Yes this is almost certainly 0.3.0 it should be no later but it needs some substantial changes.

[2017-01-04 12:55] dannyparsons commented on #2442
We don't have Ctrl + A yet but we should, it's easy to do, @Lunalo?

[2017-01-04 12:59] Lunalo commented on #2442
@dannyparsons

Yes, I can implement that

[2017-01-04 17:06] rdstern opened #2446 "Right click menu"
I like the right-click menu now.  But there are some very small points to correct.

1. In particular "Duplicate Column" and "Convert to Date" should each have "..." after them.  This is the rule when they call a dialogue.
2.  Put "Duplicate Column..." after "Rename Column..." in the right-click menu.
3. Put **Convert to Ordered Factor** just under **Convert to Factor**.
4. Duplicate doesn't yet ha

[2017-01-04 17:12] rdstern opened #2447 "New Output Window"
It is great to have the graphs going to this window.

One "feature" that I hope can be changed is that once the window is filled the window should (by default)  show the most recent output.
One feature that we had with the single graphs, that is now "lost" is the ability to resize the graphs once the output window size is changed.  Now it seems to be a fixed size, e.g. even if I make the output wi

[2017-01-04 18:55] rdstern opened #2448 "New Infill Missing Dates Dialogue."
This is in the **Organise > Column: Dates** menu and after the **Use Date** item.

It has the usual selector.  It has a single receiver with the label "Date", for the existing Date column.  Ideally it would only show **Date** columns.  Below that is a multiple receiver with the label "Factors".  This only shows Factors.

Once the date field is completed, OK is enabled.  Danny and David will then d

[2017-01-04 20:41] rdstern opened #2449 "New Markov Chains Dialogue"
This is another dialogue - quite complicated this time, where David and Danny will do the code.  I am suggesting all three of you again - who will volunteer for the "short straw"!

It is called **Fit Model** under **Climatic > Model > Markov Modelling**.  Get rid of the other menu items there.  Butr start with the dialogue.

This has the usual selector.

On the right-hand side are 4 single receive

[2017-01-05 08:54] dannyparsons commented on #2447
Also added to this is the image resolution, which is too low at the moment.

[2017-01-05 09:03] Lunalo commented on #2446
Thanks, I will make those changes shortly

[2017-01-05 11:56] dannyparsons opened #2455 "Setup Loading dialog"
The properties of the setup loading dialog need to be corrected. Start position, maximise disabled etc.

[2017-01-05 12:31] rdstern opened #2456 "New sub-menu for keys and links"
This is called **Organise > Keys and Links** and it comes **below** the horizontal line, and just above **Data Object**.  (I assume this can be done by either John or Steven.)

There are 5 dialogue (With the help numbers provided in brackets.)

1) **Add Key...**   (504)
2) **View and Remove Keys...**  (505)
3) **Add Link...**  (506)
4) **View and Remove Links...**  (507)
5) **Add Comment...**  (50

[2017-01-05 12:43] rdstern opened #2458 "New Menu for Corruption!"
Version 0.2 is also partly for "show", i.e. so potential users have a clearer idea where we are heading.

With that in mind we would like a Corruption menu.  It comes between **Climatic** and **Tools**.

It has just 4 items for now (Help IDs after the name.

1) File... (499)
2) Organise... (500)
3) Describe... (501)
4) Model... (502)

Add a blank dialogue for each, with the help IDs.

Thanks

Roge

[2017-01-05 13:03] #2353 closed

[2017-01-05 14:25] dannyparsons commented on #2455
Fixed by #2460

[2017-01-05 14:25] #2455 closed

[2017-01-05 15:50] dannyparsons commented on #2449
@stevenndungu @Lunalo @maxwellfundi This dialog is really urgent, must be complete by tomorrow. We're working on the R code today, can someone start the dialog tomorrow morning?

[2017-01-05 16:00] Lunalo commented on #2449
I will do the dialog, tomorrow morning. Thanks

On Jan 5, 2017 6:50 PM, "Danny Parsons" <notifications@github.com> wrote:

[2017-01-05 16:13] maxwellfundi commented on #2449
This could be done as soon as it is needed. Tomorrow morning is appropriate

On Jan 5, 2017 6:50 PM, "Danny Parsons" <notifications@github.com> wrote:

[2017-01-05 18:42] dannyparsons commented on #2455
I think we need to test these with multiple screens. We have centre parent and centre screen which are different when you have two screens.

[2017-01-05 18:44] dannyparsons opened #2465 "User control for grid"
We need a user control for a grid so we can have our own defaults, events etc. and consistency.

[2017-01-05 18:51] rdstern opened #2466 "Menu changes - mainly climatic"
I have made this as 0.1.1.  There are some bits that are easy and/or need to be for 0.1.1.  These are first.  Then there are more changes that I have put into an additional comment below on adding the links to the help and this could become 0.2, i.e. next week.

1. **Climatic > Define Climatic Data** no longer connects to the dialogue.  We need that fixed as 0.1.1.
2. And easy one is to change the

[2017-01-06 06:10] maxwellfundi commented on #2448
Am now doing this task.

[2017-01-06 06:29] stevenndungu commented on #2466
Working on this

[2017-01-06 06:36] maxwellfundi commented on #2455
Yeah, Its sad we have similar screens here. I suggest, due to screen sizes
changing, we could make this a child form of frmMain then we let the start
position to be center parent. This will take care of different screen sizes.

Regards
Maxwell Fundi
|| Phone :+254728508241||

On Thu, Jan 5, 2017 at 9:42 PM, Danny Parsons <notifications@github.com>
wrote:

[2017-01-06 08:36] rdstern commented on #2448
Great.  Thanks.

[2017-01-06 08:48] #2448 closed

[2017-01-06 08:57] dannyparsons commented on #2431
fixed by #2463

[2017-01-06 08:57] #2431 closed

[2017-01-06 10:34] rdstern commented on #2466
This is a shortened form of the Help IDs for some of the new dialogues.  I hope this can be for 0.2.  There will be a "sting-in-the-tail", but that is in the comment below.  For now it should be simple.

a) Prepare > Column: Calculate > Duplicate Column ID = 512
b) Climatic > File ClimSoft ID = 329, CliData = 354 Export to CPT = 355
c) Climatic > Define Climatic Data, ID = 328
d) Climatic > Prepar

[2017-01-06 11:06] dannyparsons commented on #2448
@maxwellfundi Can you now add the R code to this dialog? I have added the method in the instat object?

[2017-01-06 11:15] rdstern commented on #2466
This is for Version 0.3.  It is reported now, as we are on the help.

There are a number of dialogues that are repeated in 2 (occasionally even 3) places in the menu system.  They are therefore also repeated in the Help system.  Our plan is for pressing Help to take the user to the right place in the help system.  Hence the call to help for these dialogues must reflect where the dialogue is being

[2017-01-06 11:41] maxwellfundi commented on #2448
Getting it done now.

[2017-01-06 12:30] dannyparsons commented on #2383
@maxwellfundi @Lunalo @stevenndungu Can someone work on the design for the **View and Remove Keys** dialog as described in Roger's first message? Some of it may need additional code written so just do what's possible. The **Add Key** dialog is now complete.
The links dialogs can be done next week.

[2017-01-06 12:34] Lunalo commented on #2383
okay fine

[2017-01-06 13:21] maxwellfundi commented on #2383
Great, task taken .

Thanks

[2017-01-06 13:40] maxwellfundi opened #2475 "Make Date"
I have been trying to use this dialog and it doesn't seem to work well.

I have a date column, that is in the format day/month/year which is a factor and i want to convert it to a date.
The new column which is the is of date data type looks really messy.

When i select either of the options on the specify format, it still does the same thing.

I believe @stevenndungu worked hugely on this, could y

[2017-01-06 13:50] dannyparsons commented on #2475
Good that you've been testing this. If you can share an example with @stevenndungu you can look into it together.

[2017-01-06 14:04] maxwellfundi commented on #2475
I have demonstrated what i wanted to achieve to @stevenndungu  and @Lunalo . they are working to get it resolved hopefully.

[2017-01-06 14:13] rdstern commented on #2475
While here, there is a bug in the command when making the date from 2 columns, with the first being the year and the second being the day of year, going from 1 to 366 each year, with a gap from 59 to 61 in non-leap years.

An example of the data is in the library for Instat, namely Samaru56.  It would be good to fix this one urgently.

[2017-01-06 14:16] maxwellfundi commented on #2446
@Lunalo  is this now done?

[2017-01-06 14:19] maxwellfundi commented on #894
@Lunalo  whats the status of this?

[2017-01-06 14:20] maxwellfundi commented on #2449
@Lunalo Is this complete too?

[2017-01-06 14:41] rdstern opened #2478 "Tools > Options work"
In the Tools > Options dialogue it would be good to have an option on what is displayed in the output Window.  Thuis could go on the Output Window Tab.  Perhaps it could be a combo box with the Options:

a) Output only
b) Output + Comments
c) Output + Comments + R command(s)

The default is what is there currently, namely c) above.

If you have time could you also explore changing the number of si

[2017-01-06 14:45] maxwellfundi commented on #2478
@rdstern that link is broken

[2017-01-06 15:24] dannyparsons commented on #2478
fixed

[2017-01-07 06:53] stevenndungu commented on #2456
fixes #2456

[2017-01-07 07:02] rdstern opened #2481 "Final push to Beta Version 0.1.1"
This first part is also in an e-mail.

As always we are working way beyond the "call of duty".  Many thanks to all.

Our aim is to continue the "tidying" this weekend, for Version 0.1.1 and then solidify the code next week as we produce Version 0.2.  This will involve finding and correcting bugs, completing tasks that are in progress, and (perhaps) even having time to add one or two more features

[2017-01-07 07:28] rdstern commented on #2481
1.  I think Maxwell is already working on completing the Tools > Options  bit for the 3 ways to display the graphs.  Plus possibly other minor changes in the resolution/size of the graphs.  Having the graphs in the output window is a really great advance.
2. In **Climatic > Prepare > Dates** the items to **Make Date**, **Use Date** and **Infill Missing Dates** should call the corresponding dialogu

[2017-01-07 07:48] rdstern commented on #2481
1. I thought the dialogue on **Prepare > Keys and Links > Add Key** was there and working?  But now it doesn't seem to be called again.
2. The other 4 dialogues are there.  Could you check that the Help number is called from each dialogue?  They are numbers 504 to 508 for these five dialogues.
3. This could wait till version 0.2, but it may be quick to do, and it would be fun to show it next week,

[2017-01-09 08:30] maxwellfundi commented on #2458
@dannyparsons  this needs closing now, its done

[2017-01-09 09:17] #2458 closed

[2017-01-10 08:26] rdstern opened #2491 "More on the climatic dialogues"
It would be good to move forward to complete some of the dialogues in the climatic menu.  It is possible that some are already complete - in that case we just need examples of how they can be used.  They link to the work on keys and links (I think), because they generally involve 2 data sets, one with the station (or location) information and the other with the actual data.

I hope the others can

[2017-01-10 16:17] dannyparsons commented on #1742
fixed by #2495

[2017-01-10 16:17] #1742 closed

[2017-01-11 17:42] stevenndungu commented on #1796
@rdstern, @dannyparsons
Hi Roger,  you had given the numerical expression; 3(month(date)-1) + (mday(date)>10)+(mday(date)>20)   for decade above.

I think it could be for dekade because i see it giving 10 day periods as illustrated below.What remains now is decade and pentade which I do have yet the numerical expression (figuring out though). Thanks.

[2017-01-11 17:46] dannyparsons commented on #1796
Yes that is **dekade**. I don't think we need a **decade** function so that's fine.

[2017-01-11 17:47] stevenndungu commented on #1796
![image](https://cloud.githubusercontent.com/assets/20383893/21859796/18c56d64-d83f-11e6-8818-4ceb30c8328c.png)

[2017-01-11 17:47] stevenndungu commented on #1796
Okay. Great

[2017-01-12 09:15] stevenndungu opened #2501 "Bug on Transform sub-menu"
There is a bug on Climatic >Prepare>Transform. Somebody can help - It breaks whenever one wants the dialogue displayed.  Thanks.

[2017-01-12 09:37] stevenndungu commented on #2501
@Lunalo, this might be easy solve. I have not been able to solve it. Thanks

[2017-01-12 11:38] dannyparsons commented on #2501
@stevenndungu thanks for writing this up as an issue, it's really good that you are spotting bugs and reporting them.
I have fixed the issue of the dialog crashing, which was caused by something in a resource file. But now the controls on the dialog are positioned in the wrong place. @stevenndungu @Lunalo could you just tidy this up? I don't think it needs to function, just look ok.

[2017-01-13 11:28] stevenndungu commented on #2466
Tasks assigned above have all been implemented apart from the last comments meant for version 0.3.

[2017-01-13 11:31] stevenndungu commented on #2456
This is already complete. Could be closed

[2017-01-13 11:35] stevenndungu commented on #2449
This is complete too. Could be closed.

[2017-01-13 11:59] stevenndungu commented on #2447
@dannyparsons , is this complete?

[2017-01-13 12:08] stevenndungu commented on #2446
This can be closed. Its complete.

[2017-01-13 12:16] stevenndungu commented on #2442
Ctrl +A is yet to be added. Was the Order for selector right click menu agreed on - seems not yet implemented?

[2017-01-13 12:23] stevenndungu commented on #2442
Sorry, Ctrl +A is in place.  Order for selector right click menu is has not been changed, otherwise the issue could be closed. Thanks

[2017-01-13 13:00] stevenndungu commented on #2501
Thanks. This can be closed- just made the changes now.

[2017-01-13 13:02] stevenndungu commented on #2478
@maxwellfundi is this finished or still in progress?

[2017-01-13 13:16] stevenndungu commented on #2481
Tasks above have been done. This can be closed I guess.

[2017-01-13 13:17] stevenndungu commented on #2475
@Lunalo is this complete, so that it can be closed?

[2017-01-13 13:27] rdstern opened #2518 "Issues from a climatic analysis"
I was impressed that the initial analysis of the rainfall data for Guyana has proceeded well.  There are some small inconveniences, which I note below:

1) Importing from Excel.  This was different for the xls and xlsx files.  Ideally it would allow the initial lines to be omitted.
2) The name column is just 1, 2, 3,...  In xlsx files this is imported as names, X1, X2, ... which is fine.  In xls t

[2017-01-13 13:54] dannyparsons commented on #2466
On Climatic > Prepare the Tag is "Manage" which then changes the text at run time. So the Tag needs to either be removed or changed to Prepare.
I think that is the only remaining task.

[2017-01-13 13:55] dannyparsons opened #2519 "Help for dialogs in multiple places"
There are a number of dialogues that are repeated in 2 (occasionally even 3) places in the menu system. They are therefore also repeated in the Help system. Our plan is for pressing Help to take the user to the right place in the help system. Hence the call to help for these dialogues must reflect where the dialogue is being used. I understand this is quite simple? I guess, however, that is will b

[2017-01-13 13:55] #2456 closed

[2017-01-13 13:55] #2449 closed

[2017-01-13 13:56] dannyparsons commented on #2447
Not yet. Should be for 0.3 I think.

[2017-01-13 13:57] #2446 closed

[2017-01-13 13:58] dannyparsons commented on #2442
Great. We can still change the order, but will close this now.

[2017-01-13 13:58] #2442 closed

[2017-01-13 14:00] #2501 closed

[2017-01-13 14:01] #2478 closed

[2017-01-13 14:14] #2481 closed

[2017-01-13 14:18] dannyparsons commented on #2518
On 6. this shouldn't be a general issue so it would be good to now which dialogs had this issue and they can be corrected.

[2017-01-13 14:31] stevenndungu commented on #2466
I have corrected that. It can be closed now.

[2017-01-13 14:33] stevenndungu commented on #2375
This can be closed

[2017-01-16 07:30] stevenndungu commented on #2407
This can be closed. The bug was solved from my testing I guess.

[2017-01-16 07:57] stevenndungu commented on #2385
@dannyparsons , was this corrected?

[2017-01-16 08:12] stevenndungu commented on #2364
@rdstern are "Select All Numeric" and "Select All Factors" right clicks still to be added in data as you pointed out above?

[2017-01-16 08:39] stevenndungu commented on #2319
This could be closed since all changes were properly made.

[2017-01-16 08:56] stevenndungu commented on #1914
@lilyclements what is the progress on this?

[2017-01-16 08:58] lilyclements commented on #1914
I believe that Import to OpenRefine is still a blank dialog, and that Export to OpenRefine is not working still

[2017-01-16 08:59] stevenndungu commented on #1796
Make Date and Use Date are now complete,,,what remains here is Make Time and Use Time.

[2017-01-16 09:02] stevenndungu commented on #1914
Yeah, I see. Will having a look at the Export/Import to OpenRefine  dlgs. Thanks

[2017-01-16 09:04] stevenndungu commented on #1751
@dannyparsons Are you done with method or still in progress?

[2017-01-16 09:07] stevenndungu commented on #1923
Could we revisit our discussion on this dialogue, interested on working on further.

[2017-01-16 10:03] #2466 closed

[2017-01-16 10:03] #2375 closed

[2017-01-16 10:06] dannyparsons commented on #2407
@lilyclements is this fixed now?

[2017-01-16 10:06] dannyparsons commented on #2385
Not yet.

[2017-01-16 10:07] dannyparsons commented on #2364
I think this also has to do with the Data Options sub dialog, which we still need to return to at some point.

[2017-01-16 10:08] #2319 closed

[2017-01-16 10:08] #1796 closed

[2017-01-16 10:09] dannyparsons commented on #1914
They are not urgent dialogs, so we can leave them as they are for now. But may come back to them at some point.

[2017-01-16 10:09] dannyparsons commented on #1751
I didn't do this yet, thanks for the reminder.

[2017-01-16 10:10] dannyparsons commented on #1923
Eventually, yes this would be nice to have working, but it's not a priority for the 0.2 or even 0.3 probably.

[2017-01-16 10:36] lilyclements commented on #2407
So, I've checked with the most recent branch and it still crashes. It takes you to line 113 of ucrFactor

            dfTemp = frmMain.clsRLink.RunInternalScriptGetValue(clsConvertToCharacter.ToScript()).AsDataFrame

[2017-01-16 10:46] dannyparsons commented on #2407
Ok thanks, I'll look into that.

[2017-01-16 11:51] lilyclements commented on #2383
I'm having a look at the Add Key dialog and there are a few changes to make.
Layout,
Reset Button
Add default name - Key1
OK to be enabled if one variable is inputted (e.g., Date)?

Does that sound about right? Judging from the above comments that's what I can gleam.
I assume when OK is pressed, our 'item' becomes a key. Is this key a new column? Or just a key which is not seen?

On View and Remov

[2017-01-16 11:58] Lunalo opened #2522 "Regular Sequence crashing"
There is a serious bug in error capturing statement in the regular sequence which is preventing the dialog from loading.

I am not sure on how to solve it. Someone, probably, @dannyparsons  can help me look at it.

Thanks.

[2017-01-16 13:49] dannyparsons commented on #2383
Yes feel free to make those changes. The dialog should work with only visible changes in the metadata at the moment. There is still some work to do on item types for keys and links so combo boxes/selectors can't have the right info yet. You could add this code as comments because it should be included soon.

[2017-01-16 16:05] rdstern opened #2524 "The Tools > Options Dialogue"
This is getting more useful now.  But:

In the Output Window Tab I
1) Changed the size of the comment text and made it bold.
2) Made a similar change to the Output text.
3) Didn't try other options - but they should be tried.

In both cases they change very nicely in the dialogue, and the changes are remembered (at least within the same session) when I return to the dialogue.

But they make **no**

[2017-01-16 16:11] dannyparsons commented on #2524
@maxwellfundi could look into this.

On the last point, there should be a factory reset button that sets everything back to our defaults.

[2017-01-16 16:22] rdstern opened #2525 "The Describe > One Variable > Graph dialogue"
The violin plot does not plot.  It is just a blank.  It plots nicely on the main (Describe > Specific > Boxplot) dialogue.

Could the same person also look at the amount of jitter.  I think the default is 40% and that currently totally blanks out the box plot (or violin plot) if there is a lot of data, such as the ggplot2 diamonds dataset.

Try (boxplot + jitter) to see what I mean.
We don't need

[2017-01-16 16:23] dannyparsons commented on #2525
I will be editing this dialog as part of new dialog linking so I can investigate this.

[2017-01-16 16:27] rdstern commented on #2525
Oh, if you are going to do this, then with the new dialogue structure it should be soooooo easy to also add the options for bar charts to display counts and/or percents.

And, of course I wonder how easily we could add a choice of the standard themes.

No point in having this new structure if you don't try something fun!

[2017-01-17 06:21] maxwellfundi commented on #2524
Yeah, I will have a look at this soon,

Thanks.

[2017-01-17 09:43] rdstern opened #2528 "Copy Data Frame"
When you right-click at the bottom of a data frame, then "Copy" is disabled.

Could it become enabled and go to the dialogue Prepare > Data Object > Copy Data Frame

It should automatically fill in the data frame that sent it there.

Could you also check that this is done by other right-clicks that call dialogues.  For example try with 2 library data sets, from ggplot2, namely diamonds and then ec

[2017-01-17 11:22] dannyparsons commented on #2383
We need to start work on the other dialogs here for 0.2. @Lunalo @stevenndungu @maxwellfundi

The **View/Delete Key** dialog is specified above and can be done. There is a small amount of work to get keys to display in the selector, which I can do if needed.

The **Add Link** dialog can also be started. It is specified above but below is a rough sketch as well. This dialog has a sub dialog, but we

[2017-01-17 11:35] Lunalo commented on #2383
Thanks @dannyparsons

We are working on them.

[2017-01-17 16:14] rdstern opened #2532 "View of data in viewer or output window - no decimals"
I don't remember this before, but both now seem to be unhappy showing decimal places.  For example with our usual ggplot diamonds data, try the viewer.  All the values like 0.23 are now displayed as 0.

The same seems to be done when you use the dialogue and put the results into the output window.

[2017-01-18 15:10] rdstern commented on #2300
After discussion with Danny we now have the structure of the Add Comment dialogue.
1) the blank dialogue is already there.  It is in Prepare > Add Keys and Links menu.
2) The right-click on the rows or the cells also already goew to this dialogue - so that's great.
3) At the top are (David's favourite) radio buttons.  The first is **O Row** and the second is **O Cell**
4) If **Row** is selected, t

[2017-01-19 06:36] Lunalo commented on #2532
@rdstern

I have checked the occurrence of this error. I will look for a way of solving it.
Thanks.

[2017-01-19 07:51] Lunalo commented on #2532
Hi @rdstern
As you might have noticed, when the software loads, the number of digits for options is set to zero as ahown below
![image](https://cloud.githubusercontent.com/assets/13945088/22098029/317f117e-de35-11e6-93a8-993855f354bc.png)

You then need to go to option dialog and change it to desired number of digits to display.
![image](https://cloud.githubusercontent.com/assets/13945088/22097852

[2017-01-19 07:54] Lunalo commented on #2532
@maxwellfundi

I think you are editing this dialog. can you make the default for digits to be 2.
@dannyparsons
I am not sure if this is what we need but it is necessary

[2017-01-19 07:57] Lunalo commented on #2532
I have checked the default for digits in r is 7 but I think we might want 4?

[2017-01-19 08:14] Lunalo commented on #2532
@rdstern

I have been looking at this since in the code digits is set to 4
can you go to Name]\AppData\Roaming\RInstat\RInstatOptions.bin
and delete RInstatOptions.bin
@dannyparsons
We should find a solution for this.

[2017-01-19 10:33] dannyparsons opened #2535 "Format of text in output window"
Because of the change to a WPF rich text box for the output window there is a now a compatibility issue with the font selected on the Options dialog and how we can implement this font in the output window.

For example, font size 11 looks bigger in the dialog preview than font size 11 in the output window. All of the options for the font set from the dialog e.g. strikethrough, underline might not

[2017-01-20 09:52] Lunalo commented on #2532
@dannyparsons

This issue has now been solved

[2017-01-23 07:48] stevekogo commented on #2491
@dannyparsons, @rdstern  I intend to carry on improving the output for climdex, particularly displaying the data frames. My thought is to have two data frames, one for yearly data and another for monthly data. I think we should implement links between these data frames with the parent data frame but my concern is, at what stage should we populate these data frames? We can have a skype call to disc

[2017-01-23 08:38] rdstern opened #2539 "Display of factors in grid"
1. When a factor is generated from a numeric column, then it can be displayed poorly.  This is (I assume) because it takes the levels of the factor as the actual number and then displays it as a string in R, which is then put into the grid.

As an example use Open from Library > ggplot2 with the 4th data set namely **faithfuld**.  Then use right-click and make the 3rd (and last) column into a fact

[2017-01-23 08:41] rdstern opened #2540 "New calculator keyboard and bug-fixes in the general calculator"
David and Danny's calculating "system" is working quite well.  But I gather there are some items to be sorted out.  And we are using R functions that are not yet part of a keyboard.

I hope David and Danny can specify (or do) the changes in the calculator as a whole.  Then that Lily can specify the remaining keyboard, which perhaps John could implement?

[2017-01-23 09:15] lilyclements commented on #2540
There's a few bugs I noticed the other day, I can't go on to the calculator but off the top of my head they were that reset does not reset, that the 'probability' setting is quite wide (the buttons are wider than with other dialogs) and that on 'Dates', DEK and DOY can now be implemented. Is this DOY366 or DOY?

I have a few suggestions of what else to include in the calculator such as 'length', '

[2017-01-23 09:23] lilyclements commented on #2112
I assume it is okay to close this issue now?

[2017-01-23 09:23] #2112 closed

[2017-01-23 09:30] rdstern commented on #2491
I have now followed your instructions an importing the SST files.  Good to have that.  I attach your document, because it shows most of the points I want to make:
[Open SST.docx](https://github.com/africanmathsinitiative/Instat/files/723081/Open.SST.docx)

1. On page 2 most of my points relate (I think) to the ECHAMS4.5 sheet.  This has 130,000 rows, from 3450 points.  The columns includes the sam

[2017-01-23 09:38] Lunalo commented on #2539
Hi Roger,

I am happy to work on this

[2017-01-23 09:39] Lunalo commented on #2528
I have discussed with @stevenndungu .

He will be working on this

[2017-01-23 09:41] stevenndungu commented on #2528
Yeah, am working on this one

On Jan 23, 2017 12:39, "John Lunalo" <notifications@github.com> wrote:

[2017-01-23 10:30] rdstern commented on #2491
The export to CPT.  Here is Steve's dialogue.

[Exporting data to CPT.docx](https://github.com/africanmathsinitiative/Instat/files/723202/Exporting.data.to.CPT.docx)

1. I first followed your instructions with the Ghana set.  Initially I didn't get OK enabled, because I hadn't given a file name.  I suppose that is OK that you don't give onhe by default, because you then have to browse and this wil

[2017-01-23 11:13] maxwellfundi commented on #1982
@dannyparsons this could now be closed.

[2017-01-23 11:19] dannyparsons commented on #2539
We could have an option for number of digits when converting numeric to factor, which could be on the dialog. The default could be the number of digits being used to display the column in the grid. This isn't too difficult to implement but needs some modifying of some of our R methods. Unless it's urgent I would maybe prioritise the other more straightforward tasks now.

For 2. I guess it's easier

[2017-01-23 11:26] maxwellfundi commented on #2524
@dannyparsons you can close this as well.

Thanks

[2017-01-23 11:30] maxwellfundi commented on #2475
@lunalo @stevenndungu could @dannyparsons close this now? has it been complete?

[2017-01-23 11:39] #1982 closed

[2017-01-23 11:40] #2524 closed

[2017-01-23 12:05] maxwellfundi commented on #2264
@dannyparsons  please close this too. We fixed it a long while ago

thanks

[2017-01-23 12:06] maxwellfundi commented on #2203
This could be closed too.

was from the earlier beta ersion release @dannyparsons

[2017-01-23 12:09] maxwellfundi commented on #1940
@dannyparsons  this looks like it was fixed too by @FrancoisJRenaud

[2017-01-23 12:26] #2264 closed

[2017-01-23 12:27] #2203 closed

[2017-01-23 12:27] #1940 closed

[2017-01-23 14:02] dannyparsons opened #2542 "New user control for panel"
As part of the new dialog linking, we have a user controls for each of the standard controls that we use. We have most of them already, and we've decided that instead of having a radio button user control, we will have a Panel user control and put radio buttons in it, so that radio buttons still function as normal.

So could someone make a new user control that just contains a panel that fills the

[2017-01-23 14:27] maxwellfundi commented on #2542
Great, i am on this task

[2017-01-23 14:50] maxwellfundi commented on #2542
@dannyparsons  do we need to remove the existing ucrRadioButton?

[2017-01-23 15:01] dannyparsons commented on #2542
Yes good point. We do, but maybe not right now as we might need to copy some of that code to somewhere else first.

[2017-01-24 05:58] rdstern commented on #2491
More on the SST files document.

Steve, I wonder if your document could start a bit earlier.  It could mention the website where you get the sst data from, together with advice on what should be done on that site.  If you have web access, (or go from within CPT?) then I assume you would still suggest a 2-stage process where you download first, and then import.  Or could we import directly?  I assu

[2017-01-24 07:31] stevenndungu commented on #2528
This is sorted out now, thanks @Lunalo

[2017-01-24 15:08] lilyclements opened #2549 "bug - Output for Model - Other (one variable) - Exact"
This is using version 0.1.2.

If I go to Model - Other (One Variable) - Exact
Put in a numerical data column and press okay then this happens:

![image](https://cloud.githubusercontent.com/assets/21180424/22251871/3bbfd750-e244-11e6-8ae3-081cc07d3101.png)

whereas if I run this on R, we get this:

One Sample t-test

data:  structure(c(2, 3, 6, 5, 1, 9, 4, 5, 3, 7), Name = "data.2", Is_Hidden = FAL

[2017-01-25 06:13] stevekogo commented on #2491
@rdstern I am going to address these concerns right away

[2017-01-25 08:28] maxwellfundi opened #2553 "R-Instat Installers"
@africanmathsinitiative/instat
Hello everyone,
We have and we will keep creating installers and uploading them to our African Maths Initiative Google Drive folder. The installers will be available on this link - http://bit.ly/2jvRoje

[2017-01-25 09:04] dannyparsons commented on #2553
Remember these comments are public for anyone online. I've changed the privacy of the folder so you need to be signed in. Anyone who can't access just send a request to @maxwellfundi.

[2017-01-25 11:59] maxwellfundi commented on #2553
Thats perfect @dannyparsons . Incase anyone is unable to access then i can help.

[2017-01-27 10:17] lilyclements opened #2574 "Rename Dataframe"
If I have two dataframes, A and B.
Then I open "Rename Dataframe", and input:

Dataframe: A                New Name: B

I expected to delete dataframe B and rename dataframe A as "B". However, Dataframe A just deletes altogether.

(Then if I go to 'Delete Sheet' Dialog, I can delete two dataframes - 'B' or 'B')

[2017-01-29 14:29] lilyclements opened #2588 "dlgDeleteDescriptive - bug"
Before changing code, I found a bug with this dialog which might exist elsewhere.
This dialog has a multiple receiver, when the user puts an object in the receiver to delete, then presses OK - it deletes as we want.
However, upon re-opening, if the user puts a new object in the receiver, it does go into the receiver but is not visible.

![image](https://cloud.githubusercontent.com/assets/21180424/

[2017-01-29 14:34] lilyclements opened #2590 "dlgReorderDescriptives - bug"
This is an existing bug before any code changes.
If I have two graphs, then open this dialog, I can rearrange the graph order as I wish.
If I then create a third graph and reopen dlgReorderDescriptives, it does not show up on this dialog. We can still only see the other two objects previously created.
On the other three dialogs with descriptives (View, Delete, Rename) the third object does show up

[2017-02-01 10:45] rdstern opened #2627 "Updating of Climatic > Define Climatic Data dialogue and related dialogues"
Background first.  I would like to take a (new) version with me next Tuesday - 7th February - when I go to Senegal for a few days.  There I will meet with various people, including Jim Hansen, who funded part of our recent climatic work.

I hope the initial suggestions for this, and other climatic dialogues can still fit within the reforming process that you are doing now.  They are suggestions fo

[2017-02-01 10:47] rdstern commented on #2627
A second dialogue to update to the new "system" is the one for the start of the rains.  What would be great here is for this dialogue to automatically fill some of the columns if it is used after the define climatic data dialogue.  Then it should know which column is the rainfall and could then complete this information automatically.

[2017-02-02 05:41] stevekogo commented on #2627
@rdstern I am going to start on define climatic data factoring in your suggestions.

[2017-02-02 09:19] dannyparsons commented on #2627
The autofilling of a single receiver has already been implemented. We have just turned it off by default. So someone (@lilyclements?) just needs to turn it on for any receiver that we want it for.

[2017-02-02 09:50] lilyclements commented on #2627
Yep, I was told the plan was that @rdstern and I would discuss which dialogs to turn this on for

[2017-02-02 10:38] rdstern opened #2635 "Some dialogue not to be updated"
In the **model** menu the last 4 main items are all called **Other**, e.g. **Other (One Variable)**.  They correspond to at least 10 dialogues.

Ignore all these dialogues - at least for now.  It is likely that all their functionality will be handled by the earlier (more general) modelling dialogues in the same menu.

In the Excel list of dialogue names Lily is adding "Ignore for Now" as a comment

[2017-02-02 11:46] lilyclements commented on #2635
I believe I have done this now for all dialogs which are in the "other" part and not also above the line (such as dlgRegressionSimple)

These are
dlgGeneralANOVA
dlgGeneralRegression
dlgGoodnessofFit
dlgNon-ParametricOneSampleTests
dlgNon-ParametricOneWayANOVA
dlgOneSample
dlgOneWayAnova

I've put "ignore for now" next to these dialogs

[2017-02-03 09:18] lilyclements opened #2640 "dlgTranspose - bug"
On dlgTranspose, if you input one column on a dataset with several columns then an error comes up

---------------------------
Error running R command(s)
---------------------------
Error in `[[<-.data.frame`(`*tmp*`, curr_col, value = c(1L, 1L, 1L, 1L,  :
  replacement has 1 row, data has 10

The error occurred in attempting to run the following R command(s):

data1_transposed <- (as.data.frame(x

[2017-02-03 12:16] lilyclements opened #2642 "Tagging in Comments"
To tag in comments, instead of using africanmathsinitiative/instat, instead use
@africanmathsinitiative/developers which is just developers who do reviewing and not everyone in the project

[2017-02-03 15:07] Lunalo opened #2644 "Adding method for checking if ucrDataFrame is empty"
Hello @africanmathsinitiative/instat

As i was working on dlgExport. I realized that we needed this method in the TesTOKEnabled.

The reaso why i didn't implement it  because we need ucrCombo instead of current  normal combobox.

I hope we will discuss on the preferred implementation soon.

Thanks.

[2017-02-03 15:12] Lunalo opened #2645 "Implementing dropDownStyle property for ucrCombo"
Hi Team,

I think  we need to figure out  the implementation of  read only property for the ucrCombo since this also affecting ucrDataFrame functionality.

@africanmathsinitiative/instat
Thanks

[2017-02-03 15:41] dannyparsons commented on #2644
@Lunalo This message is quite vague, I'm not sure others will understand what you mean from your message. For example, you said:

Where do you need ucrCombo? What for? Why? etc.
If you can explain bugs more clearer it will be easier for others to help with them.

[2017-02-03 15:51] Lunalo commented on #2644
@dannyparsons  Thanks

We need user control to replace the existing ucrAvailableDataFrames for consistency. I think this will make it easier to systematically  implement the method for checking if the ucrDataFrame is empty.

This check is useful in some dialogs that requires ucrDataFrame to contain name for ok to be enabled
I am still convinced that there are some  other factors to be considered w

[2017-02-04 11:43] rdstern commented on #2491
[maproom_netcdf.zip](https://github.com/africanmathsinitiative/Instat/files/752231/maproom_netcdf.zip)

These data are from Ghana's maproom.  They are output from ENACTS, but (I think) on a 10-day basis.  What I do not know is whether it would be better to have a single dialogue for any NETCDF data - and that is all we need.
Or if we have a single dialogue, but with special options if reading ENAC

[2017-02-04 11:45] rdstern commented on #2491
[Ojo_Oluwasegun_Project_With_Rcodes.pdf](https://github.com/africanmathsinitiative/Instat/files/752239/Ojo_Oluwasegun_Project_With_Rcodes.pdf)

In case it is useful, here is the MSc essay that used the radiation data.

[2017-02-08 09:46] rdstern opened #2666 "Graphics bugs with the latest version"
I was preparing for a demonstration to AIMS Senegal.

a) Describe > One Variable > Graph.
Worked OK for GGPLOT diamonds with all columns, and flipping.
But **no violin plots** appeared.
b) Also on this one variable graph, when it does jittered plots they are to the default width, which blots out the background plot.  Could you make the jittered width, say 20, rather  than what I think is the defau

[2017-02-10 08:57] Lunalo opened #2678 "Testing Dialogs"
Hi  @africanmathsinitiative/developers

I have found it a good practice to test dialogues  with multiple data sets opened.

After working with @AlexSananka  on Permute Rows, Our Dialog seemed working very well. We encountered a shock after Alex decided to open a new data Set. You can guess what popped on the screen! An Error. And so we had to adjust our code before committing the changes.

I wrote

[2017-02-10 09:55] rdstern commented on #2678
Delighted you have found this point.  I usually open the ggplot diamonds data set as a default, before opening the one used for the testing.  So I always have at least 2 sheets open for any testing.

[2017-02-10 11:13] isedwards opened #2679 ".NET Framework version"
R-Instat is currently targeting .NET version 4.0.  Is there a reason for this? Support for 4.0 ended last year - January 2016. I think it should be straight-forward to switch to 4.5.2 (which has long term support) or try moving to 4.6 (supported on Windows Vista and above) or >=4.6.1 (supported for Windows 7 and above).

https://support.microsoft.com/en-us/gp/framework_faq/en-us

[2017-02-10 11:38] dannyparsons commented on #2679
Thanks for this info. I wasn't aware support for 4.0 had ended.
We initially decided on 4.0 so that we could still support XP users, which we felt would probably be a small but not insignificant proportion of our target audience in Africa.
However, we also don't want to compromise the software just to support a minority of XP users.

Given support for 4.0 has ended, probably we should now switch a

[2017-02-10 19:05] lilyclements opened #2681 "Install Package"
@africanmathsinitiative/developers when you update your master next, you need to make sure you install the ncdf4 package to avoid an error when running Instat.

[2017-02-10 22:03] dannyparsons opened #2684 "Define Climatic Dialog"
This is similar to define climatic, but for data relating to corruption, specifically government contracts.
There should be 18 receivers on the right with labels:
Country
Procuring Authority
Procuring Authority ID
Award Date
Signature Date
Contract Name
Sector
Procurement Category
Winner Name
Winner ID
Winner Country
Original Contract Value
Procedure Type
No. Bids
No. Considered Bids
Country ISO
F

[2017-02-12 20:08] dannyparsons commented on #2678
This is a great idea.

I would also add that you should test dialogs when you have a filter on the data. Firstly to make sure it doesn't crash and then that it does the correct thing with the filter.
Most dialogs should use the filtered data, however some should not (e.g. calculator). Just ask if you're not sure what a dialog should do.

[2017-02-13 19:15] chrismclarke opened #2690 "Import xls issue (bug?)"
Hi guys,

I'm using version 0.2 and tried reading in the following xlsx file but it failed - no tabs listed and preview window shows 'cannot import this file with the current options...'.
[Varietal_diversitybaseline.xlsx](https://github.com/africanmathsinitiative/Instat/files/772129/Varietal_diversitybaseline.xlsx)

[2017-02-13 19:29] chrismclarke opened #2691 "Additional link for odk kobo import"
Kobo are currently running a second server on a different URL specifically for projects supporting humanitarian aid. Would it be possible to add to the options/another radio button? The additional domain (Kobo humanitarian) is: https://kc.humanitarianresponse.info

[2017-02-14 11:04] dannyparsons commented on #2690
I'm getting the same error with this file. Will investigate the issue. Thanks.

[2017-02-14 11:06] dannyparsons commented on #2691
Yes that should be simple. So would you suggest:
"Kobo" and "Kobo Humanitarian" as the labels for the first two radio buttons?

[2017-02-15 09:32] lilyclements opened #2697 "Packages to Import"
@africanmathsinitiative/developers any packages you need imported add to this list. I've got a small list already comprising of

ncdf4
EnvStats
signmedian.test

[2017-02-15 10:07] dannyparsons commented on #2690
Hi Chris, this seems to be an issue with the import function we in R for xlsx.
It may be related to this issue: http://stackoverflow.com/questions/36180661/r-libraryopenxlsx-error-workbook-has-no-worksheets

Although I got the same error as you the first time I tried this, when I opened the file in Excel, made a change and saved it, it then imported fine into R-Instat. Are there any special settin

[2017-02-15 11:43] rdstern commented on #2697
I suggest we will soon welcome **sjmisc** partly to enhance importing from Stata and SPSS (with labels).
And **sjplot** which competes well (I think) with stargazer for the display of tables, etc in our new enhanced output window.

[2017-02-22 17:53] isedwards commented on #2679
@dannyparsons have you tested on XP? If the software works, you might want to stay on 4.0.  Microsoft may not support 4.0 anymore, but that's mainly because they don't support Win XP either.  I'd mainly want to update the .NET version if I was using Entity Framework etc which are still evolving, but components like WinForms used in R-Instat are frozen and no longer changing

[2017-02-24 11:38] rdstern opened #2720 "Dialogues for frequency and summary tables"
This dialogue should be easy to construct - hopefully with our new dialogue system.  I hope that the R part will also not be too difficult and that it will build on:
1) Our summary system
2) The new system for the output windows that lets us have HTML tables.

I am sure the "system" will need some David/Danny discussions, and it would be great if this could be tried out with the dialogue already i

[2017-02-24 16:20] rdstern commented on #2720
This is now the next dialogue, i.e. **Describe > Specific > Summary**.

The start is similar to the first part of the frequency tables above, i.e. as far as:

1) Selector ready for just factors.
2) Multiple receiver for the Factors with the label "Factors"
3) Check box for the weights.
4) Block, with label "Layout" and the same 3 options for Display Margins, Column Factors and Decimals.

Now the e

[2017-02-25 08:35] rdstern opened #2724 "Climatic Inventory plot"
Here are some useful examples of the inventory graph that we had in the previous R version.  They are really useful and we don't yet have these options - nowhere near - with the ggplot2 version.

The first is rainfall for many stations.  This will usually be a graph from a single column.  The second is multiple elements.  they will usually be in separate columns.  It is also multiple stations, but

[2017-02-25 09:18] rdstern commented on #2724
So what should the new dialogue look like.  I am happy to have it assume the following:
1) This isn't to be restrictive, as to be simple for the user.
2) The same element is in a single column, i.e. not multiple columns for say rainfall.
3) If there are multiple stations then the station is a factor in its own column.
4) Multiple elements are in different columns, e.g. rain, tmin, tmax.
5) A date

[2017-02-26 07:44] rdstern opened #2725 "Dialogues for simple tables"
A previous issue #2720 is for the general frequency and summary tables.
We also want dialogues for the simpler (2-way) tables.  This is the dialogue for Describe > Two Variables > Tabulate, which is already there, but disabled.

The dialogue can be modelled on the existing dialogue for **Describe > Two Variables > Summarise** (which also needs improvements - see a comment below).  Start with a cop

[2017-02-26 08:02] rdstern commented on #1908
I was trying the wind rose diagram in preparation for the ICCS5 meeting.  It is very disappointing and I suggest it shouldn't be used
[Legon_Seth_Owusu_aimsgh-essay-1516.pdf](https://github.com/africanmathsinitiative/Instat/files/801786/Legon_Seth_Owusu_aimsgh-essay-1516.pdf)

I gave the list of possible packages above to look at.  And there is Seth's MSc project to guide us as well.  That shows h

[2017-02-26 08:46] rdstern opened #2726 "Enhancement in Prepare > Column: Factor > Reorder Levels"
Could we add a checkbox (default unchecked) - or is it a button, because I want to be able to do it separately/consciously each time - It says "Use Order in Factor Data Frame".  It might be disabled if the chosen factor doesn't have a data frame.

It is particularly useful for factors (like Station) where there may be many levels, and we want to display tables in (say) latitude order.  Then all we

[2017-02-26 11:01] rdstern commented on #1908
My suggestion would be that we don't get into circular too much before July.  But we do show the potential in 2 ways:

1) For circular data we make sure that it is easy - in our ordinary graphics - to get polar plots with ggplot2.
2) Then we do a version of wind roses using (at this stage only the clifro package - which I think is not yet installed because it is mainly for New Zealand data.  But i

[2017-03-01 12:09] maxwellfundi commented on #2724
@rdstern  I feel the title, could be used from the plots sub dialog or is there a specific reason for this dialog that will need us to do it on the main dialog.

[2017-03-01 12:13] rdstern commented on #2724
I am really happy if we can fit as much as possible into our ordinary "system".  So yes, please proceed in whatever way you find most consistent to produce that command.

I assume we will also have to add that package.

[2017-03-01 14:04] dannyparsons commented on #2724
I think we will continue to do this as our own method since there is some internal manipulation of the data that is needed. This means like for Windroses we will produce a ggplot, but we won't have the flexibility to edit it through the initial dialog.

[2017-03-01 22:08] dannyparsons opened #2734 "Standardise Country Names dialog"
New dialog for corruption. Just has a selector and a multiple receiver.
Method not written yet but will be instat method `standardise_country_names`.
Parameters: `data_name` and `country_columns`
It should also have a way of having some columns already in the receiver when the dialog opens - as we have on other dialogs that open from right click menus.
This is quite urgent for tomorrow. Could some

[2017-03-01 22:14] dannyparsons opened #2735 "Define Corruption Outputs"
New dialog for corruption. Just has a selector and a multiple receiver.
Method not written yet but will be instat method `define_corruption_outputs`.
Parameters: `data_name` and `output_columns`
It should also have a way of having some columns already in the receiver when the dialog opens - as we have on other dialogs that open from right click menus.
This is quite urgent for tomorrow. Could someo

[2017-03-01 22:19] dannyparsons opened #2736 "Fit Model Dialog"
New dialog for corruption. It has a selector, a single receiver and two multiple receivers. Also a "preview model" label and read only textbox and a save model control.
The method will be standard R's glm or lm depending on column type. When the "corruption output" is a logical column it's glm and lm when it's numeric.
Labels for receivers are "corruption output", "control variables" and "indicato

[2017-03-01 22:20] dannyparsons opened #2737 "Define CRI dialog"
New dialog for corruption. Picture below and I can explain in more detail.
[SKM223 HP R17030118281.pdf](https://github.com/africanmathsinitiative/Instat/files/812176/SKM223.HP.R17030118281.pdf)

[2017-03-01 22:21] dannyparsons opened #2738 "Define Red Flags"
New dialog for corruption. Just has a selector and a multiple receiver.
Method not written yet but will be instat method `define_red_flags`.
Parameters: `data_name` and `red_flags`
It should also have a way of having some columns already in the receiver when the dialog opens - as we have on other dialogs that open from right click menus.
This is quite urgent for tomorrow. Could someone do it in th

[2017-03-02 10:31] lilyclements commented on #2737
Do you mean something along the lines of this:

![image](https://cloud.githubusercontent.com/assets/21180424/23503340/4719fc46-ff33-11e6-9fc4-b8f9eeb4fa4b.png)

Also, I can't fully read your handwriting, apologies. In the Red Flags listbox it says "Second Column gives weights - ? with corruption output"
And at the bottom it says "if flag numeric/binary then replace grid ____ a ____  _____ field li

[2017-03-02 10:54] dannyparsons commented on #2737
Yes that looks good. The grid can be a factor grid instead of a standard grid. (Not sure if that is already)

If flag is numeric/logical then replace grid with a numeric up down, min = 0, max = 1. With label "Weight".

In the list box two columns, one for red flag one for weights. I could add the code once it's done as I haven't written it yet.

[2017-03-02 13:53] maxwellfundi opened #2743 "Linking controls with receivers"
We would like a feature where, we could link controls with receivers.

In my case i wanted to link a numeric up down, such that is shown when a receiver is not empty, but this has not been implemented yet.

[2017-03-02 15:23] lilyclements commented on #2743
To add to this, I've come across one (dlgDefineCRI) where one thing is displayed if the item is of one data type (e.g. Numeric) and another thing is displayed if of another datatype (e.g. factor)

[2017-03-07 11:45] rdstern opened #2751 "File menu new items"
Could you add "Import from CSPRO"  and then "Import from Databases" to the file menu.  They should be visible but disabled.  They can go just under the "Import from ODK".

I am sending this to John, but it could be anyone who has the time.

[2017-03-07 12:45] Lunalo commented on #2751
@AlexSananka  can add the two dialogs and I will edit the menu

[2017-03-07 12:50] AlexSananka commented on #2751
I think I can handle this

[2017-03-07 13:46] rdstern opened #2753 "Describe > One Variable > Summarise problem"
Open the diamonds dataset from the ggplot library.

The command works OK with the default settings.  If you customise and just use the factors, there is a bug.  I think it isn't coping well with ordered factors.

I also tried with the survey dataset.  When I made the Fert column into an ordered factor then I got the same bug.

[2017-03-08 16:06] rdstern opened #2757 "New menu item: Describe > One Variable > Frequencies"
This is after Graph, i.e. at the bottom of the One variable menu.  There is a line before it.   It will do either a frequency graph, or a frequency table, or both!  It will be useful in its own right and possibly for Danny and for the IASE paper.

1. The dialogue could be called "**One-way Frequencies**"
2. There is the **usual selector** and (to start with at least) a **single receiver**.  For no

[2017-03-08 18:32] rdstern opened #2759 "New Menu item: Describe > Two Variables > Frequencies"
This will be similar to the previous issue #2757 on the one variable.

It will use the twin commands from the sjplot package , namely **sjt.xtab** for tables and **sjp.xtab** for the corresponding plots.  As with the one variable it could alternatively use the same wrapper commands **sjtab** and **sjplot**. (Note that sjpxtab is used for the graph when percentages are used.  If counts, then the sj

[2017-03-09 06:41] stevekogo commented on #2753
I will have a look at this.

[2017-03-09 08:58] stevenndungu commented on #2757
@rdstern thanks, looking on this.

[2017-03-09 11:01] rdstern opened #2761 "New Menu Item: Describe > One Variable >Rating Data"
This does not have a milestone, and might be done in April rather than for the current version.  Howver it may be very easy to do, because it follows the same format as the other graphs from the sjplot package.

First you could look at what you are aiming for.  In the sjplot Reference Manual, page 61 there is a "See Also - sjPlot manual: sjp.likert and similarly on page 95 for sjp.stackfrq and pag

[2017-03-09 16:32] rdstern opened #2762 "Describe > Two Variables > Summary"
I wonder what has happened to this dialogue?  Could someone please check and correct.  I think Steve was involved earlier.

Once the bugs are fixed I suggest we swap the receivers.  Make the first one a single receiver  "First Variable" and the second should be the multiple receiver.  But perhaps check what is happening first, before changing this.

I tried with the diamonds dataset.  With first r

[2017-03-09 16:41] #2725 closed

[2017-03-10 06:18] stevekogo commented on #2762
@rdstern This is possibly the problem with the ordered factors which I fixed in the previous issue. I will have  a detailed look then get back to you.

[2017-03-10 06:26] AlexSananka commented on #2720
@rdstern I am taking up the task.

[2017-03-10 07:42] rdstern opened #2764 "Tables in R-Instat"
In other Github issues I have proposed dialogues for specific tables in R-Instat.  Some use the sjPlot package.  They are mainly for "frequency tables", i.e. tables of counts and percentages.  There is much less on "summary tables", e.g. the mean rice yield by village and variety.

Now also the sjPlot is only up to 2-way tables.  Excel etc (Pivot Tables) allows many more dimensions, and we want to

[2017-03-10 08:48] AlexSananka commented on #2720
@rdstern On the extra parts the second point isn't clear ''2) There is a checkbox below the Weights which says "Treat Summary Columns as a Further Factor". This is possibly only enabled when there is more than one summary column.''Should it be a checkbox or a button or just a text message?

[2017-03-10 09:35] rdstern commented on #2720
As said in point 2, it should be a checkbox.  Let me explain.  Suppose you use the data set called **survey** from the Instat Introductory guide (Open From Library).  You want tables of (say) the count of how many farmers used each combination of the 3 varieties in each of the 4 villages.  You also want to min, mean and max of their yields.  So you are asking for 4 summaries in each cell of the ta

[2017-03-10 10:08] rdstern commented on #2764
I asked Sam what he would use and it ties with the thoughts above.  He took a set of survey data and used the summaryBy function from the DoBy package to do the initial summaries.  The results looked like the output from our **Prepare > Reshape > Summarise** dialogue.  I then asked for it to be laid out as a table and he used dplyr to **unstack** the data.  Then (if we wanted html) he looked at wh

[2017-03-14 09:19] lilyclements opened #2771 "Error with dummy variables - bug"
Steven and I found an interesting issue which I have not come across before. I have a dataset I've been using with the variable name "stationStation.A"
When I put this into the receiver after using dlgDummyVariables, it removes the dot and so the variable it reads in is "stationStation A", due to this space in the name it results in an error

![image](https://cloud.githubusercontent.com/assets/211

[2017-03-14 10:27] lilyclements commented on #2771
So, I've tested it out and worked out how I managed to get this particular error.

I have a dataset where the variables for a factor are "Station A" and "Station B"
I opened the dummy variables dialog and inputted station. This gave the columns stationStation.A and stationStation.B

Then I opened the dialog Random Subsets and inputted stationStation.A and then the dot was removed and replaced with

[2017-03-14 10:35] lilyclements commented on #2759
Is this what we want for the version on Monday 20th? (Is that version 0.3.0?)

[2017-03-14 10:38] rdstern opened #2772 "Simple dry spells dialogue"
I suggest a simple dialogue for now - as sort of "partner" to your start dialogue.  I suggest that both (and water balance!) will change, but these will be useful.

1. One missing aspect (to ignore for now) is that there is no mention of "Station" in the existing start dialogue.  For now I suggest similarly for the spells one.  Need to think about this later.

2. Also, in the start, I don't quite

[2017-03-14 10:39] lilyclements commented on #2751
Has this been done? (Can we close this issue)

[2017-03-14 10:44] rdstern commented on #2772
What is next on spell lengths?

1. Well clearly we will produce multiple spells at the same time - as we can with the existing Instat.
2. We will also be able to do "relative" spell lengths.  That is when the days start with day zero (say) from the start date, i.e. they must be able to pick up a column from the new start sheet.
3.  We will change both dialogues, to include sub-dialogues - and make

[2017-03-14 10:53] rdstern commented on #2759
Hopefully yes.  This should be simpler to do than the general tables summaries and frequencies, because they call an existing command from a package - like the windrose does.  So I hope these can be done for both the oneway and the twoway.

So, if something is left, (at least till David/Danny are around) then it is to get the more general tabulation dialogues working.

[2017-03-14 11:06] rdstern opened #2773 "Simple dialogue for the end of the rains"
1. This can again be modelled on the start of the rains.
2. It may be an extra menu item, because there is still a dialogue to come for the "End of the Season".
3. Then in the existing dialogue you don't need the number of days.
4. The total rainfall line is the important one.  Don't need percentile option at this stage if that causes any problems
Then it is the last time you get (say) >20mm in 2

[2017-03-14 11:48] rdstern opened #2775 "Dialogue for the End of the Season"
Again this can be modelled on the existing start of the rains!

1. There is an extra field labelled "Evaporation".  Eventually this will have an option to pick up a column - usually from another sheet.  For now it is just a number and 5 is the default.  Could add the extra lebel "mm" if you wish.
2. There is an extra field somewhere with the label "Capacity".  This can be an up-down control - as i

[2017-03-14 11:50] rdstern commented on #2775
The one (powerful) extra is to be able to start the calculation for the end on the day of the end of the rains, calculated in the previous dialogue.  This replaces the initial day number by a column taken from the sheet where it was.

I don't think that should be too difficult.  But it may take too long to be done this week.

[2017-03-14 12:09] lilyclements commented on #2757
So I like this a lot. The sjPlot and sjTab contain everything we wish to do because by default they call
`fun = "frq"`
and this "calls sjp.frq or sjt.frq. If data has more than one variable, a plot for each variable in data is plotted."

So, lets use sjPlot for the graph and sjTab for the table. This way we can use the same functions for one way and two way frequencies.

**sjtab**
This function ha

[2017-03-14 12:26] lilyclements commented on #2772
The DOY field is needed so the user can specify which days they are interested between (e.g. 122 and 366). The year field is needed so we can do a "by" for year - this enables us to look at each individual year for the start of rains rather than the overall.

As to your point that the Dry Spells automatically goes into the same sheet, this is correct (unfortunately). Something we should fix for th

[2017-03-14 12:29] lilyclements commented on #2772
If we want this done quickly, I should use the old system because it's more or less written in that system so shouldn't take too long. However, if we want this done with the new system then that is fine but will take longer. What are your thoughts?

[2017-03-14 12:32] rdstern commented on #2772
I thought the DOY and Year could follow from knowing the date?

"As to your point that the Dry Spells automatically goes into the same sheet".  That isn't a problem to me.  I am really happy with that.  Then we are getting all our "events" together in a "year" sheet.

You say: "I'll get working on this now".  Great! Thanks

[2017-03-14 12:36] rdstern commented on #2772
I am all for quick.  There will be more changes later

[2017-03-14 12:39] lilyclements commented on #2772
Okay I did start in the new system earlier but hit a few hurdles. I'll save that somewhere in case Danny has some spare time when he arrives to help me with this. For the meantime, I should have it done in the old system shortly

[2017-03-14 15:21] lilyclements commented on #2757
Okay so after a discussion with Steven we have made some decisions and feel sjtab and sjplot are not ideal. This is in part because their parameters do not have names for the variables which is confusing.

We feel what is best is:
One Variable - Table: sjt.frq(data = variable)
Two Variables - Table: sjt.xtab(var.row = variable1, var.col = variable2)

One Variable - Plot: sjp.frq(var.cnt = variable

[2017-03-14 16:41] rdstern opened #2776 "Prepare > View Data enhancement"
This is not a priority.  But I suggest it is very easy, so I would like Steven and Lily to at least discuss it, while in Bagamoyo.

Now we are using the sjplot package the sjt.df function has a very nice feature that enhances the viewing of data.

It presents the data in HTML.  The enhancement is that the data can be sorted on a single column.  So we could display the 10 rows that are the highest

[2017-03-14 16:51] rdstern commented on #2776
When Danny (and David) are there I would like you to have a brief discussion of the sjPlot command view_df.  This has the option to display details about each factor, including the labels, plus the frequencies at each label and also the percentages.  It looks quite nice in the output window.

I haven't checked what it does for date variables, or other special types.  It might be just for factors,

[2017-03-15 06:32] lilyclements commented on #2771
So, I want to clarify when this error occurs.

I have a dataset where the variables for a factor are "Station A" and "Station B"

![image](https://cloud.githubusercontent.com/assets/21180424/23936203/981ab878-0948-11e7-835a-73a2de558c1a.png)

I opened the dummy variables dialog and inputted station. This gave the columns stationStation.A and
stationStation.B

![image](https://cloud.githubuserconte

[2017-03-15 07:01] lilyclements commented on #2772
I wanted to check a few of these new features. So, on "Condition:" with the between/>/<, what does this do? Is this just the threshold so I want a threshold >0.85 (say) or <0.85 etc?
Currently, presumably, we have Rain >= 0.85 for the threshold?

Also, can I do >= and =< instead of > and <?

[2017-03-15 07:17] rdstern commented on #2772
If we repeat what was in the old Instat, then this works as a general spells dialogue.  Could be dry spells, or wet spells, or hot spells, etc.  So the condition is what is TRUE for the spell.  So if thr condition is < 0,85 then  that is what is true.  If 0 to 0.85 then all values between these values (inclusive) is in the spell.

And yes please to adding <= and >= to the set.  In the future we ma

[2017-03-15 07:46] lilyclements commented on #2772
Okay thanks, would I therefore want it to be on a dialog called Spells instead of Dry Spells then?

[2017-03-15 08:12] rdstern commented on #2772
Yes.  I would say **Spells** or even **(Dry) Spells** - as that is its main use

[2017-03-15 09:27] lilyclements commented on #2772
Great. This is getting there - has an issue which I cannot solve at the moment where you have to do the things for the dry spells last (i.e., the length of time and maximum day nuds) to avoid an error. This is that we need the Dry_spells filter to run before the number of days filter as otherwise we have an error. This canbe fixed inthe new system where we can give the parameters an order
I just n

[2017-03-15 09:36] rdstern commented on #2772
You may want to plant on a particular day, say 20 April - because there was rain.  Now you want to calculate the length of the longest dry spell in the 30 days from 21st April assuming 20th April had rain.  If you restrict yourself to just the years when 20 April really did have (enough)rain then you don't get many years.  So let's pretend that **20th April had rain every year**.  So start countin

[2017-03-15 11:06] maxwellfundi opened #2778 "dlgOpenFromLibrary"
When opening data from library, I would like to be able to double click on the data set from the R packages and its immediately loaded into the software.

I would find that quite useful..

[2017-03-15 11:12] rdstern commented on #2778
And when an item is selected (single click) and the user then presses for the special help on that item - which works well, - then I would like it to remain obviously selected when the help is closed.  It is half-selected in that you can press OK and get that data set.  But it doesn't look selected any more.

[2017-03-15 17:20] dannyparsons commented on #2771
Thanks for clarifying, looks like an issue with the dummy variables dialog, or it's R code at least.

[2017-03-16 09:20] maxwellfundi commented on #2724
@rdstern  @stevekogo  and I are working on this and we would like more clarification on the Show Non-Missing checkbox.
Its not clear to us what it is supposed to do.

Thanks.

[2017-03-16 12:12] AlexSananka commented on #2720
@rdstern the layout and designer for the summary tables is ready,what is the Rcode for it so that we can know which functions are being used.

[2017-03-16 12:26] lilyclements commented on #2775
I can see how your suggesting to tackling the water balance problem can be done and know how I can implement this in R. However, if on step c) then it is an NA value, surely this then still means the resulting few years will still all be NA so it doesn't help solve that problem?

[2017-03-17 07:42] maxwellfundi opened #2786 "Show Non-Missing for Inventory plot"
Basically this feature would take the data that is present and split it into 2 categories - where the user can decide what values are in one category, and what are in the other.  In rainfall it could therefore permit a different colour for dry and rainy days.  In temperature it could distinguish between hot and not-hot, etc.
Usually you will specify a single value.  This (of course) could be taken

[2017-03-17 08:17] rdstern commented on #2786
Another reason for the delay is to combine that feature with others that are requested.  For example the "old" inventory plots also permitted a useful label to be on the right-hand side of the plot as well as the left.  Then (with multiple stations we may want to sort in a particular order.  By default the stations are likely to be in alphabetical order whereas it may be more useful for them to be

[2017-03-17 17:40] rdstern opened #2793 "Various small issues"
These may not be essential for the next version.  But...

1. Prepare > Data Frame > Rename
a) I used it for 4 columns in turn.  When I first went in I changed the name of X1.  It offered me X11 as its choice.  I made the name "Number.
b) When I went in again to change X2 the dialogue suggested the same name, i.e. Number - that it had before.  I can see why it might do this, but it is a pretty bad

[2017-03-18 09:20] Lunalo commented on #2793
I will fix issue number three for now as the other two needs more discussion

[2017-03-18 13:56] rdstern commented on #2724
I like the look of the new dialogue, which has now been merged.  I tried with the Dodoma data from the library, after making a date column.  But it doesn't recognise that column as acceptable in the dialogue.

[2017-03-18 14:02] maxwellfundi commented on #2724
The data needs to be defined as climatic before it's used in the inventory
plot dialog.

On Mar 18, 2017 4:56 PM, "rdstern" <notifications@github.com> wrote:

[2017-03-18 14:05] rdstern commented on #2724
Oooh, of course.  Now it works.  I like the results!  Now let's try some more!

[2017-03-18 14:08] maxwellfundi commented on #2724
Perfect, an quite happy you are impressed by that.

On Mar 18, 2017 5:05 PM, "rdstern" <notifications@github.com> wrote:

Oooh, of course. Now it works. I like the results! Now let's try some more!

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/africanmathsinitiative/Instat/issues/2724#issuecomment-287548447>,
or mute the th

[2017-03-18 14:57] rdstern commented on #2724
OK, so I have tried this in a number of different ways and it seems to work fine so far.  Congratulations.  I tried with 2 sets, namely Dodoma with 4 elements and one station, followed by James data with about 40 stations and just rainfall.  I also tried with all 3 ways of doing graphs - using the Tools > Options menu.

Of course this is enough for now, but I would like to know your plans for the

[2017-03-18 16:49] rdstern opened #2800 "Issues with Prepare > Reshape > Column Summaries and Unstack and decimals for multilevel paper"
[heart.xlsx](https://github.com/africanmathsinitiative/Instat/files/852587/heart.xlsx)
Here is the dataset I used - thinking of the multilevel paper.

I made days and sex into factors.  I wanted just the count, not the sum, or the count with missing.  So I unticked them.  I wanted just the counts for these 2 factors.  It needed a variable or OK wasn't enabled.  Maybe there should be a separate dia

[2017-03-18 17:21] rdstern commented on #2800
I continue here as it involved the same data set.

After the summary, I did an unstack.

I gave the 2 columns, and it wouldn't let me continue, i.e. OK enabled, unless I gave an ID column.  Are ID columns necessary for the command.  I didn't think I needed one this time?

I then got to the data in the attached document
[cs11_checked.docx](https://github.com/africanmathsinitiative/Instat/files/8526

[2017-03-18 21:50] #2697 closed

[2017-03-18 22:27] rdstern commented on #2759
Good that this is sort of working.  I repeat the note 5 from above, because the counts are important and are missing from the options:

"There is a checkbox with label "Table". Default is checked. If checked, then there is a "group box" visible with **4 check-boxes** inside. They have the labels **Count**, Row%, Column%, Cell%. Default is that Count is checked and the others are not. (It is OK for

[2017-03-19 06:00] rdstern opened #2808 "Prepare > Data Frame > Sort not working"
Gives error as follows:

---------------------------
instat
---------------------------
Developer error: no state of control ucrPanelMissingValues satisfies it's condition. Cannot determine how to set the control from the RCode. Modify control setup so that one state can satisfy its conditions.
---------------------------
OK
---------------------------

[2017-03-19 06:05] rdstern opened #2809 "Saving Columns in Climatic > Prepare > Specific Events"
The three dialogues don't give an option of the column name.  More dangerously, they overwrite without warning.

[2017-03-19 06:11] rdstern opened #2810 "Numeric up-down controls"
**On key press the focus is lost.  So only 1 digit can be typed.**  Last observed on Climatic > Prepare > Specific Events > Start of Rains rainfall amounts.

[2017-03-19 06:32] rdstern opened #2811 "Specifying seasons in climatic events"
We need to be able to specify a "year" (call it "Seasons" or "Shift") that goes over the end of the calendar year.  So a "year" column which starts on 1st August and ends on 30 July.

This will be discussed by David with Lily and Steve in Bagamoyo.

[2017-03-19 06:40] rdstern opened #2812 "Deleting linked sheets bug"
I did start of the rains and it worked OK.  Then I deleted the summary sheet.  I then did a dry spells dialogue (and again tried the start of the rains) and it gave the error below.  David claims this is because the linking information is not being deleted when the sheet has gone?

I now tried deleting also the initial Dodoma sheet - so I don't now have any sheet open in R-Instat.  I now found (to

[2017-03-19 06:57] lilyclements commented on #2810
I see. So this is occurring on the nuds: "Percentile" and "Amount", I also managed to make it crash. I've fixed the crashing problem and waiting to hear if it's too late to go in for this version. I'll work on the problem you outlined as well and hopefully can solve that before the new version!

[2017-03-19 06:58] rdstern opened #2814 "Use Date not auto-filling"
The Use Date dialogue should auto-fill when there is only one date column.

[2017-03-19 07:02] rdstern commented on #2810
Thanks.  We are finding enough issues that this isn't quite ready yet for CIMH next week.  That may not stop a version being prepared today to make the testing process easier.  That's still for discussion, presumably when Danny and David can skype.  We are just continuing testing!

[2017-03-19 07:02] dannyparsons commented on #2812
That's right and I can fix this.

[2017-03-19 07:07] lilyclements commented on #2810
Okay I see - I've fixed the bugs found in here but unsure if it'll be merged in time. With Water Balance, Dry Spells and Start of Rains you have to make sure if you change the day values then you change the other nud values after to avoid a bug (with SoR this just applies to Dry Spells and Dry Period checkboxes I believe)

[2017-03-19 07:11] rdstern opened #2815 "Prepare > Links and Keys dialogues not working"
They display variables, not links or keys.  Were they checked?  We can't see how to use them.

For Danny to consider.  I wonder who worked on these dialogues.  It isn't needed for this version directly, but it is needed for one of the papers!

[2017-03-19 07:17] lilyclements commented on #2810
The crashing problem has been merged. I'm not sure if the nud fix will get in or not, sorry

[2017-03-19 07:22] lilyclements commented on #2810
Both crashing and nud problems have been merged. Not sure if it's too late for the new version, however.

[2017-03-19 11:03] rdstern opened #2819 "Water Balance tidy up"
1. The columns are not auto-filling.
2. The Capacity up-down control has a limit of 100.  Far too low.  Make it 500.
3. There are other problems typing into this control.  They may be general or specific to the control.
4. The water balance limit control also has problems.  I tried to input 10mm and it wouldn't let me.  Typing in is also difficult.  Again may be a general issue with the up-down co

[2017-03-20 06:13] rdstern opened #2820 "Netcdf dialogue"
The dialogue still says "SST dataframe name"?  Is this correct?
Please send instructions, hopefully including examples from EUMETSAT data (such as radiation) data from their website.

[2017-03-20 06:54] stevenndungu commented on #2759
@rdstern Sorry on the the count, I had it in place but while @lilyclements was reviewing we missed out on the fact that count default state in R is TRUE so we did not get the difference while checked and unchecked. I am making the  addition by  changing the default state to TRUE.

For the Graph and Table check boxes Danny suggested I change to radio buttons because of the scenario of having both c

[2017-03-20 08:30] stevenndungu commented on #2808
Thank, looking at it.

[2017-03-20 14:17] #2812 closed

[2017-03-20 14:19] dannyparsons commented on #2812
I've made changes to fix this. It works well for the column summaries dialog but haven't tested for the start of rains dialog. Maybe @lilyclements could check this for those dialogs?

[2017-03-20 15:08] stevekogo commented on #2820
@rdstern I completely missed this. Sorry for not fixing this before making the installer.

[2017-03-20 15:54] stevekogo opened #2825 "Make date bug"
Making a date column with Year and DOY seems to bug. @stevenndungu  should have a look at this.

[2017-03-20 16:16] stevenndungu commented on #2825
Thanks @stevekogo i see the bug. I was checking on it and the code generated looks similar to what was there in the previous version where it was running well. I remember @Lunalo  testing that section. I guess the R method has a problem may be - I will be looking at it in details with consultation.

[2017-03-21 16:54] rdstern commented on #2825
[METADATA_RAINFALL_GUYANA.xlsx](https://github.com/africanmathsinitiative/Instat/files/858869/METADATA_RAINFALL_GUYANA.xlsx)

The Make date seems to have regressed.  It now has fewer options than I remember before.  This is for transforming a single date column into one that R recognises as a date.

The data I have, is from Excel and is attached.  The date format is day/month/year which I am sure

[2017-03-21 17:23] rdstern commented on #2825
I tried that.  You have 3 options including Year/Month/Day and Day-Month-Year, but not Day/Month/Year

[2017-03-22 08:48] stevekogo commented on #2825
@rdstern I have fixed the bug that I identified in the dialog and I intend to proceed adding more options to the combo box for specifying date format in the case of converting one column. Upon consultations with @stevenndungu we noticed that probable options and quite many. What is your opinion on what should be added to the combo box?

[2017-03-22 13:53] #2825 closed

[2017-03-22 15:24] dannyparsons opened #2832 "Grid disable when running commands"
When using large data running commands from the grids right click menus, such as convert to factor, can take a few seconds. It's not always clear when the command has finished because the changes in the grid may be minimal. We could get crashes if we try to make another change while a command is still running.

I suggest we disable the grid while commands are being run from right click menus (or c

[2017-03-23 04:53] rdstern commented on #2724
Inventory plot requested by Caribbean team in the form shown above, i.e. for data from multiple stations in a single plot.  Also with the information from the station data frame as labels, so that the name is on the left and the district could be on the right of the graph.

[2017-03-23 05:00] rdstern opened #2834 "Column summaries no longer working correctly"
Simple use of this dialogue seems not to work any more.  Climatic daily data input (using the file attached) and yearly totals specified.  The resulting file did not contain the factor as the column.
Then, when the statistics were changed in the dialogue, (to ask for maximums) the statistics calculated remained the same as in the command as executed before.
[R04_TIMEHRI_PICSA.txt](https://github.c

[2017-03-23 05:06] rdstern opened #2835 "Climatic Events not saving correctly"
The climatic commands specify a fixed name (and possibly a long one) for the resulting column, (start of the rains, dry spells at least.

The name should be dictated by the user, with a default suggested.  It should also become different each time the command is used.  Now multiple uses overwrite, because they are giving the same name.

I assume there is a custom control for this?  The feature is

[2017-03-23 05:21] rdstern opened #2836 "Multiple issues with the climatic events dialogues"
[R04_TIMEHRI_PICSA.txt](https://github.com/africanmathsinitiative/Instat/files/863664/R04_TIMEHRI_PICSA.txt)

[timehri.zip](https://github.com/africanmathsinitiative/Instat/files/863695/timehri.zip)

I attach the data file used yesterday for the start of the rains.  The zip file from Timehri already has the date column and day of year.  Please try the following with that file:

1) Go straight to y

[2017-03-23 05:57] rdstern commented on #2836
By the way, I started with the other file, which has data from 3 stations.  That crashes immediately.  It needs data from only a single station.  I hope we will eventually be able to include data from multiple stations

[2017-03-23 05:59] rdstern opened #2837 "Climatic events - water balance"
I had thought this was ready?  It seems not yet.  It doesn't recognise the climatic columns yet, so I can't get started.

[2017-03-23 06:07] rdstern commented on #2837
I add the request from CIMH which will be a great addition, and show our "system" well, once it is working.

They don't want a fixed number for the evapotranspiration.  They currently calculate the Evapotranspiration on a daily basis.  Eventually they would really like to be able to do this within R-Instat.  That should be easy for us to add (for them) because they do it in the "proper" way, i.e.

[2017-03-23 06:41] lilyclements commented on #2837
It doesn't recognise the climatic columns? That's very odd. I just updated my branch to check and it is for me?

![image](https://cloud.githubusercontent.com/assets/21180424/24235045/46501c12-0f93-11e7-8f88-71190b45aeed.png)

Should I change the Evaporation label to Evapotransition out of interest? Giving the option as a column not fixed value is working in R already so the R-code is set at least

[2017-03-23 06:45] stevekogo commented on #2724
@rdstern Let me work on this then update you on how it goes.

[2017-03-23 06:53] lilyclements commented on #2809
Just sorted this for Water Balance. I will now do the same for Start of Rains and Spells

[2017-03-23 06:55] lilyclements commented on #2835
I am sorting this out now, have done for Water Balance and will get to Start of Rains and Spells now

[2017-03-23 07:01] lilyclements commented on #2819
Okay, so there is a general issue that the columns do not autofill if you have previously opened the dialog before defining it in climatic. So, if I open Water Balance (or any other of the autofill dialogs), then realise I forgot to define in climatic so I define in climatic, then I reopen water balance - it doesn't autofill since it's already been opened in that "session". Similarly, with definin

[2017-03-23 08:17] maxwellfundi opened #2841 "Naming corruption dialogs"
I have been going through some corruption dialogs this morning and we have not had a standard way of naming them.
Some are named with this format- dlgCorruptionDescribe, while others have just the standard way of naming dialogs.
My suggestion is, we use the first format as it is easier to distinguish the corruption dialogs easily unlike when they mix up with all other dialogs.
We do not do this fo

[2017-03-23 08:57] lilyclements commented on #2835
I have sorted this now. There is a small issue with prefixes I need to fix but the column names have been successfully added for the time being.