[2021-11-08 13:06] N-thony commented on #6900
@rd you are right, I was able to repeat the 6 steps above, and I got the error that threw me out of the program. And when I have deleted the sentences datasets, it was still present in the Data View.

[2021-11-08 14:14] lilyclements opened #6903 "Change "Random Subset" to be consistent with Tidyverse"
I have been looking at the dialogs in the "Data Reshape" sub-menu to check for consistencies with Tidyverse.

Under `Prepare > Data Reshape > Random Subset` the dialog currently uses the functions `data.frame`, `replicate`, and `sample` to randomly sample n rows from a column in the data frame.
`replicate` and `sample` can be updated to use functions from the `Tidyverse` set of packages.

### **`r

[2021-11-08 14:19] lilyclements commented on #6903
We could also change the dialog name to "Random Sample"?

[2021-11-08 14:41] lilyclements opened #6904 "Dialog names to change for consistency with Tidyverse"
I have been looking at the dialogs in the "Data Reshape" sub-menu to check for consistencies with Tidyverse.
Some dialogs have names inconsistent with Tidyverse and the functions used.

1. `Prepare > Data Reshape > Merge` uses the set of `mutate-joins` functions in the `dplyr` package.
@rdstern would it make sense to change this dialog name to "Join" instead of "Merge"?

2. `Prepare > Data Reshape

[2021-11-08 15:01] lilyclements opened #6905 "Change "Transpose" to extend and be consistent with Tidyverse"
I have been looking at the dialogs in the "Data Reshape" sub-menu to check for consistencies with Tidyverse.

Reading [here](https://newbedev.com/how-to-transpose-t-in-the-tidyverse-using-tidyr) shows that transposing with the Tidyverse is a little less simple than the current `t()` command. For example:

[code]

Additionally, transposing using the Tidyverse introduces new problems - such as an er

[2021-11-09 12:00] dannyparsons opened #6907 "Data frame info doesn't update correctly"

[2021-11-09 15:11] ChrisMarsh82 commented on #6891
@N-thony Can you send me this dataset?

[2021-11-09 15:28] N-thony commented on #6891
Sure. Here is the dataset. [quelimane6.zip](https://github.com/africanmathsinitiative/R-Instat/files/7505953/quelimane6.zip)

[2021-11-09 17:26] dannyparsons commented on #6901
fixe

[2021-11-09 17:26] #6901 closed

[2021-11-09 18:39] dannyparsons commented on #6907
Specifically, the information updates when there are multiple sheets and you switch between sheets, including displaying the filter details correctly. It just doesn't refresh after an operation has run.

[2021-11-09 18:47] dannyparsons commented on #6904
I like to be consistent with other conventions when we can. But I think the priority is clear names for our users.

I think some of the tidyverse names are good function names but quite technical for a non-programmers. I do think we should mention this in the help file though. We could mention the R command and "also known as".

I quite like our "Append" concept as I think that's easy to visualise

[2021-11-09 18:47] dannyparsons commented on #6904
For the naming, yes it should be lower case!

[2021-11-09 18:51] rdstern commented on #6907
Aha, I confirm and that's a relief, because it should be easily fixed.  I tried with the Pakistan data and a filter and this information appeared nicely after I switched, and then returned.
I also deleted some variables and that information was also updated.
I deleted one of the data frames and that seems to be different.  It still looks as though it is there.  That information was updated when I

[2021-11-09 18:51] dannyparsons commented on #6882
Closing this as the main speed issue is resolved and other points are captured in other issues.

[2021-11-09 18:51] #6882 closed

[2021-11-09 19:01] rdstern commented on #6904
In the latest version we have replaced Stack by Stack (Pivot_Longer) and Unstack has become Unstack (Pivot_Wider).  I still find Stack is quite a simple idea.
So could we consider having Append (Bind Rows) as the new item?
And Merge could become Merge (Join)?

I note in passing that TidyVerse has Bind Rows and also its partner, namely Bind Cols!  I know the reasons David and Danny don't want a dia

[2021-11-09 19:09] EstherNjeriLiberatta opened #6912 "Data View Window not clearing contents after trying to delete a dataset that is loaded."
I loaded a dataset from the library and realised it was the wrong one. I decided to delete it but it didn't clear. I also tried to close the data book but it didn't clear as well.

To reproduce the bug
1. Try and import any dataset either from the library, creating a new one, or from a file.
2. Once data is loaded, right-click on the tab at the bottom and click on `delete`.
3. See error.
4. You co

[2021-11-09 19:28] N-thony commented on #6912
I also loaded the survey dataset, and after deleting it, the Data View was still showing some information about the survey data set.
![image](https://user-images.githubusercontent.com/68591383/140991526-3978c8d4-aee4-42bc-b057-87292021449f.png)

[2021-11-09 19:33] EstherNjeriLiberatta commented on #6912
@N-thony It was clearing before. The bug must have appeared recently.

[2021-11-09 19:37] N-thony commented on #6912
Yes, and in some case, it is not even clearing anything like when I have tried to delete the sentences dataset in the screenshot below, it was still there. I think the clearing is not stable, in some cases, it is clearing but not properly and in some others, it is just ignored, but you can see the output script of deleting in the Output Window.
![image](https://user-images.githubusercontent.com/68

[2021-11-09 20:18] N-thony opened #6913 "Reogrid (data view) seems to have the same problem fixed"
I have loaded the sentences data from the library - string package.
There are some wide text variables and they "go over" into the following fields as used to be the problem fixed in 0.7.2
![image](https://user-images.githubusercontent.com/68591383/140998186-9054723e-c57a-4e65-a6d6-e12e62ce14bd.png)

![image](https://user-images.githubusercontent.com/68591383/145171846-f563d498-6224-4c47-9e9a-3f43

[2021-11-09 20:21] N-thony commented on #6900
@rdstern I think this will be fixed when the deleting of the dataset from Data View will become stable.

[2021-11-10 07:03] shadrackkibet commented on #6912
This will be fixed in  #6908

[2021-11-10 07:38] rdstern opened #6914 "Opening windows on start-up"
Why do I keep doing these things!
Anyway I tried opening the script window straight from from the start-up menu.  Then (next time round) the column metadata window.  here is the message I get.

![image](https://user-images.githubusercontent.com/11226469/141069703-90cb6add-2434-4a13-9c23-314f40d81ead.png)

It works ok in Version 0.7.2.
When I have opened a data frame first it is fine.

[2021-11-10 07:44] N-thony commented on #6914
@rdstern I think this is a duplication of #6895 and it may be fixed by #6909,

[2021-11-10 07:47] rdstern commented on #6914
@N-thony thanks.  Good - I'll close mine!

[2021-11-10 08:37] Gioche6 commented on #4951
@rdstern , On the Options for the two Variable frequencies, I am thinking of including more graph options like dot, boxplot and violin. They have since been added to the function. I have tested them using the existing code and they are produced well.

I also noted the current option for line has been disabled for an error it produced. Well, a line option is only used for a line-styled histogram, f

[2021-11-10 08:41] rdstern commented on #4951
Great.  This all sounds and looks good

[2021-11-10 09:02] rdstern opened #6915 "Check on function for infilling daily climatic data"
This should be a useful function and can be mentioned, and perhaps promoted.  This is the dialogue:

![image](https://user-images.githubusercontent.com/11226469/141082209-8ecfe0f0-3979-41af-a4d9-f50bf9456026.png)

It currently uses an out-of-date function from chillR and perhaps there could be a quick check that this works.  Also I wonder if it works - or could work - with a filter.  I wonder whet

[2021-11-10 09:48] Ivanluv commented on #4952
@rdstern  should I use the `sjPlot::sjtab` function as the one in Describe > Specific > Frequency Tables dialogue to implement the improvements you have suggested above?

[2021-11-10 11:52] #6891 closed

[2021-11-10 11:54] dannyparsons commented on #6904
Happy with the additional names in brackets.

[2021-11-10 12:52] dannyparsons commented on #6915
The new function `chillR::patch_daily_temps()` looks to be comparable with the old one `chillR::patch_daily_temperatures()`.

The new function has an additional parameter which looks very nice:

I believe it will be a simple change over to the new function. Since the old function still works, I suggest being cautious and not changing it over now before the new version, just in case there are break

[2021-11-10 12:54] dannyparsons commented on #6915
Anyone could take this up and do the following:

- Change the function name to the new one
- Add the `time_interval` parameter. I think the options for this are the same as on the PICSA graph sub dialog for choosing the break points of a date axis i.e. a number followed by week/month

[2021-11-10 12:59] dannyparsons commented on #6914
I'll just reopen this so that we make sure to check this is solved by #6909

[2021-11-10 13:25] dannyparsons opened #6917 "Created new data frames should be current tab in grid"
When I create a new data frame through a dialog e.g. Prepare > Data Reshape > Column Summaries the grid should switch to this new data frame after the dialog has run. This is the behaviour from 0.7.2. Currently it stays on the initial data frame.

[2021-11-10 16:25] ChrisMarsh82 commented on #6914
This is fixed in #6909

[2021-11-10 16:25] #6914 closed

[2021-11-10 17:09] #6895 closed

[2021-11-10 17:17] #6912 closed

[2021-11-10 17:35] #6907 closed

[2021-11-10 17:45] dannyparsons opened #6921 "Column Metadata disappears/doesn't detect changes after deleting a data frame (refresh issue?)"
- Open two data frames e.g. Rwanda data
- Open the Column Metadata Window
- Open the Dataframe Metadata Window
- Delete the first data frame from the Data View

The Dataframe Metadata has correctly updated to now have 1 row.

The Column Metadata correctly now has one tab when you click in it. But the data is still for the first data frame. The grid is also locked or frozen.

- Hide and show the Co

[2021-11-10 17:54] dannyparsons opened #6922 "Sizing of tabs in grid"
In the current version I noticed the tabs for sheets are more squashed than they were on previous versions.

I think this is caused by making changes to the designer when DPI scaling is on. If I now make a small change to the designer it resets the sizes back and it looks the same again.

@ChrisMarsh82 Something to be aware of in future. I think you need to ensure you select "Restart Visual Studio

[2021-11-10 18:09] dannyparsons opened #6924 "developer error on Fill Missing Values dialog when opening the dialog the first time"
This developer error appears just once on first opening:
![image](https://user-images.githubusercontent.com/11214914/141168998-81189761-803b-44cc-bd8c-b67b21d5525a.png)

@shadrackkibet Please assign to someone working on this as a high priority for the latest version.

[2021-11-11 06:47] N-thony opened #6927 "Problem with deleting the dataset from the dataview seems to persist"
I have loaded two datasets words and sentences from the library - stringr package and tried to delete the sentences dataset from Data View right-click on the tab of sentences but after deleting, the sentences were still present in the Data View. Then I have tried the load another dataset, you can try with any, in my case I have tried with rwanda dataset, and found that the sentences dataset was no

[2021-11-11 07:11] rdstern commented on #6927
@N-thony thanks for this.  I thought this was ok in the latest merged version, but I confirm that this still remains to be fixed.

There remains also the minor, but perhaps related issue that @dannyparsons raised yesterday.  Namely I open `words `from the stringr library and that's fine.  Then I open `sentences` and it used to change the focus to the new data frame, which it doesn't do now.
And I

[2021-11-11 09:47] Ivanluv commented on #6877
@dannyparsons  @shadrackkibet how can we be able to rename multiple columns

[2021-11-11 09:56] #6922 closed

[2021-11-11 10:05] dannyparsons commented on #6917
I think what this should actually do is always make the last updated sheet the current tab.

Example:
Column Summaries to create new sheet - this now switches to that tab
Go back to the first sheet. Do Column Summaries again with the same factors so that it adds to the second data frame. After running it should switch to the second tab because it's the sheet that was updated, but instead it stays

[2021-11-11 10:15] dannyparsons commented on #6927
The first issue still remains. The second on switching to the new tab when loading a second data frame is now fixed, but not for the Column Metadata, I will add that to the issue #6917

[2021-11-11 10:16] dannyparsons commented on #6917
The Column Metadata Window should follow the same rules too.

[2021-11-11 10:39] #6787 closed

[2021-11-11 11:50] #6924 closed

[2021-11-11 12:02] rdstern opened #6932 "Adding an option to the Structure > Circular > Define dialogue"
Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/141265968-a4f32890-b00e-4f15-913e-b36e5fc04f91.png)

There is also template, which should be added:
See the guide for the circular package, page 25 and add a third group box called template.  The default should be None.
At the same time change the default for Modulo to Asis.
Test this out by input of the wind

[2021-11-11 13:54] #6898 closed

[2021-11-11 16:00] #6921 closed

[2021-11-11 16:00] #6927 closed

[2021-11-11 16:03] dannyparsons opened #6936 "Levels/Labels dialog freezes when there's too many levels"
From https://github.com/africanmathsinitiative/R-Instat/issues/6900#issuecomment-962964087

[2021-11-11 16:04] dannyparsons commented on #6936
@ChrisMarsh82 This is where your idea of lazy loading could come in. Or the grid control could have the same paging structure as the Data Grid.

[2021-11-11 16:28] #6900 closed

[2021-11-11 16:46] #6902 closed

[2021-11-12 10:16] #6917 closed

[2021-11-12 10:32] #5575 closed

[2021-11-12 10:58] N-thony opened #6941 "Problem with the filter feature when it is applied in most of the dialogue"
This seems to be a general issue in the system with the filter feature. In most of the dialogues I have been testing, I tried to filter the data before and when clicking on the Ok button I keep getting the following error in the screenshot below but when I ignore the filter all seems okay.

This is with the Climatic>Prepare> SPI/SPEI dialogue, filtering the year > 1940
![image](https://user-images

[2021-11-12 11:54] dannyparsons commented on #5911
We're currently using `pbs::pbs` for periodic splines and `splines::ns` for natural splines. So we definitiely need to replace `splines::ns` and happy to consider `splines2` as well.

@wenjie2wang thanks for the info on `splines2`. Are you aware of `pbs::pbs()` and the difference between this and your package?

[2021-11-12 11:58] dannyparsons opened #6942 "Replace `splines::ns` in Seasonal Comparisons dialog"
Seasonal Comparisons dialog currently uses `splines::ns` for the Natural Splines option but the package has been removed from CRAN.

There may be an option for this in the `splines2` package or elsewhere. We need to find some kind of replacement.

[2021-11-12 12:09] dannyparsons commented on #6562
I've added the following packages from the discussion here. I've tried to pick out the ones where there is an active dialog that uses them or it was stated as needed for its datasets or had a good case for using from script. Otherwise, e.g. `survey` we should only added when there's a dialog that uses them, as more packages mean larger installation file for users.
- lemon
- HistData
- caret
- rpiv

[2021-11-12 12:46] #6562 closed

[2021-11-12 15:07] lilyclements commented on #6770
@Ivanluv thank you for the designs - it's looking really good so far.

Some small comments:

**Titles Tab:**
* Looks good, extend the group box to contain the footnote checkboxes as well as the title/subtitle options
* Is a checkbox needed for the title/subtitle options? The titles text are given in a new function so having a checkbox can mean that the title/subtitle function can be removed/added

[2021-11-12 16:29] lilyclements commented on #6419
@rdstern I am not sure if I completely follow. In the first declustering there are 75 peaks, and in the second there are 65. What has changed between the clusters? Or is it that the Element has changed?

[2021-11-12 16:41] rdstern commented on #6419
@lilyclements so, without declustering there are 75 rows.  That is there (and has to be there).  Now we try a declustering  and there are just 65 clusters.  This adds a factor variable with 65 values to the same data frame with the 75 peaks.  So, for any threshold there is a single data frame.  You may then try a different declustering option and get 40 clusters now.  Just one more variable to add

[2021-11-13 18:55] wenjie2wang commented on #5911
The `pbs::pbs()` constructs periodic splines based on B-splines, while `mSpline()` with `periodic = TRUE` provides periodic splines based on M-splines, which are essentially different in scales.  See the following example for illustration.

[code]

![](https://i.imgur.com/AKzBsq8.png)

In addition, I found that `pbs::pbs()` could be too restricted when checking the number of knots.

[code]

![](ht

[2021-11-15 07:50] Ivanluv commented on #6770
**Title Tab**

 -A checkbox is for the title/subtitle is a good idea and can I have that added

-We can have this added and maybe restrict the input as Numeric or Numeric List

**Header Tab**

-Thank you for the suggestion of having the style controls as checkboxes. Also having the respective parameter leading in their group box is a good idea

**Table Tab**

These were the only parameters that co

[2021-11-15 07:52] Ivanluv commented on #6770
@lilyclements maybe I can go ahead and have the sub dialogue design created then its easier to make changes when it already existing

[2021-11-16 06:39] rdstern opened #6947 "Issues with version 0.7.3"
It started so well but now I am hitting some problems with the new version.
a) I could not read a shape file.  @dannyparsons has solved that for me and I have now added the sf package.
b) While adding packages, could we include dslabs.  These are the data sets for the Intro to data science book.  Useful for the AIMS students.
c) Reading an rds file back.  I saved a workbook in Version 7.3 to check

[2021-11-16 06:46] N-thony commented on #6947
@rdstern I think for item d) it is due to the translation. When trying to translate the text from the Preview input control. Always when you reopen the dialogue it adds the quotes.

[2021-11-16 07:19] rdstern commented on #6947
Thanks @N-thony and could you perhaps have a quick look at item e?

[2021-11-16 07:48] N-thony commented on #6947
@rdstern sure. I did a quick check. What is needed is to remove the AutoFillRainColumn() in the **.ControlValueChanged** to **.DataFrameChanged** event of dataframe selector control

[2021-11-16 07:52] N-thony commented on #6947
And for item f), we agreed to always have one instance of R-Instat to avoid confusing users when running R-Instat from a file i.e. **.RDS file**. I did also a quick check on that, what is needed is just go to the Project properties and set the appropriate checkbox i.e uncheck **Make single instance application**.

[2021-11-16 09:28] EstherNjeriLiberatta commented on #6604
@rachelkg Do you think these were left out intentionally? Or maybe there is still more to do.

[2021-11-16 09:46] N-thony commented on #6942
@dannyparsons I think equivalent here in splines2 is **"splines2::naturalSpline"**

[2021-11-16 10:57] dannyparsons commented on #6947
@N-thony thanks for looking into these. Could you create 6 separate issues for each item? Some may need discussion and better to separate out.

[2021-11-16 11:01] N-thony commented on #6947
@dannyparsons sure.

[2021-11-16 11:07] dannyparsons commented on #6942
thanks that looks sensible. CnnCan you try it out in the dialog and see if it can be used in the same way?

[2021-11-16 11:38] N-thony commented on #6942
@dannyparsons happy to do that.

[2021-11-16 13:35] N-thony opened #6949 "Oddity on the Selected Filter Preview when reopening the Prepare>Data Frame>Filter dialogue"
After defining a new filter by using the Filter, it adds the condition in the Preview control on the main dialogue. If you close the dialogue and reopen it adds the quotes to the condition in the Preview. As long you are reopening the dialog it keeps adding the quotes. This behavior is due to the translation mechanism.

![image](https://user-images.githubusercontent.com/68591383/141995026-6f14cef4

[2021-11-16 13:48] N-thony opened #6950 "Enable the possiblity to run simultaneaoulsy multiple instances of R-Instat?"
This option was recently disabled after introducing the open from file feature i.e. the possibility to load a dataset into R-Instat directly by right-clicking on the file (.RDS file). The reason that multiple instances were disabled is to avoid users being confused when trying to load the dataset by right-clicking on the dataset file into R-Instat when there are multiple instances.

This is easy t

[2021-11-16 14:13] N-thony opened #6951 "Small bug with the Element control receiver on Climatic>Check Data Rainfall"
This bug occurs when trying to change the value on the Element receiver. It automatically fills the rain value in that receiver and there is no possibility to change the value filled.

This bug corresponds to item e) reported in issue #6947
![image](https://user-images.githubusercontent.com/68591383/141993967-659bce35-c93c-4f31-ab2e-706045f7310e.png)

[2021-11-16 14:53] EstherNjeriLiberatta commented on #6604
@dannyparsons Yes, they were set to `Visible`= False

[2021-11-16 15:00] EstherNjeriLiberatta commented on #6604
@dannyparsons What would you suggest? I was trying to work on the dialogue.

[2021-11-16 15:03] dannyparsons commented on #6604
Great, so the buttons are meant to be hidden @rachelkg the display you see is correct.

@EstherNjeriLiberatta The idea was that you could either have primary data, where it would count the number of observations in the column, or you could have summary data already, where you have two columns, one with the unique values and another with the counts - or other statistic to display.

Currently I beli

[2021-11-16 15:07] EstherNjeriLiberatta commented on #6604
@dannyparsons Great, thanks. I'll start on that.

[2021-11-16 17:19] dannyparsons commented on #6941
@N-thony This is the same issue we looked at before where the receiver/selector needs to be set to ignore the current filter when adding a new column. Do you remember the property to set for this? I can't remember which dialog we did this for last time.

[2021-11-16 20:16] N-thony commented on #6941
@dannyparsons yes, the property we used was ### .bUseFilterData = False with the Conversion dialog.

[2021-11-17 08:03] EstherNjeriLiberatta commented on #6604
Hello @dannyparsons are the two options primary and summary data connected in some way. Are there controls I can use in both dialogues?

[2021-11-17 10:19] N-thony commented on #6877
@shadrackkibet how is it going with this about the structure?

[2021-11-17 13:04] dannyparsons commented on #6941
Yes, that's it, we need the same here I think when getting the same.

[2021-11-17 13:09] N-thony commented on #6941
Okay @dannyparsons, a part of the Spells dialogue, there are a couple of dialogues that the Filter doesn't work yet.
May I list them and temporary fix the bug with this property if needed?

[2021-11-17 13:15] dannyparsons commented on #6941
Yes please do.

[2021-11-17 15:59] Binodranchi123 opened #6957 "R-Instat 7.3.1"
Sir,
   Link for downloading r-instat 7.3.1 is not working showing something went wrong.
Please,. do needful at your end.

Binod Kumar

[2021-11-18 18:20] Gioche6 opened #6962 "Designer Problem with the Save label and Save control for the Missing Values Dialog"
The label for the save control appears slightly behind the the save control limiting it's full visibility.
![image_2021_11_18T16_46_08_202Z](https://user-images.githubusercontent.com/73229979/142473560-0ecca4f8-3d42-4b6c-afbb-5bfa8236a2c4.png)

[2021-11-18 19:18] N-thony commented on #6962
@Gioche6 I couldn't have this design bug.
![image](https://user-images.githubusercontent.com/68591383/142482191-b7cbc491-bd40-4ab4-bdf8-2b46befc84e2.png)

[2021-11-18 19:23] Gioche6 commented on #6962
The bug only appears for the updated branch only . If your Branch is updated recently, say today. You will find the bug.

[2021-11-18 19:42] N-thony commented on #6962
It is the case, I mean updated, but still not getting the bug.

[2021-11-19 06:36] N-thony opened #6965 "Swap Metadata and Data window button?"
We have already the `Swap Metadata and Data` in the View Menu but could we also have a Swap Metadata and Data button on the toolbar? This could be before or next to the Lan button on the toolbar.
![image](https://user-images.githubusercontent.com/68591383/142576549-e0013d0b-cb3c-45a7-871a-95916bf0b538.png)

[2021-11-19 07:23] #6962 closed

[2021-11-19 09:47] Wycklife opened #6967 "Set Links for the sub-dialog Help so that you are able to jump to a specified anchor point"
First there are (at least for this task) 2 sorts of sub-dialogue.  If you look at Describe One Variable > Summarise and use the Customise button you will see there is an option Choose Summaries, for that sub-dialogue.  Now that is a sub-dialogue used by quite a number of dialogues, and Rachel has a special place in the Help for those.  The graph sub-dialogues is another example used by many dialog

[2021-11-21 07:40] rdstern opened #6968 "Possible changes in the Climatic Tidy and Examine menu"
These are easy to do, but should be assessed by at least @dannyparsons before being undertaken.
In the 3rd workshop for WMO we mainly used this menu.  It includes a set of dialogues copied from the Prepare menu.

![image](https://user-images.githubusercontent.com/11226469/142753523-2c422200-7a65-4945-a660-a09c1c5d603d.png)

a) I suggest 2 more dialogues are added.  They are (for me) the last remai

[2021-11-21 09:54] rdstern opened #6969 "Reading more data sets from the R library"
My latest example is the climatol package I have added recently to evaluate.  It has a number of datasets.  Here is a snapshot.
![image](https://user-images.githubusercontent.com/11226469/142757151-e6c19e83-f911-438a-82c2-36d5fb13da46.png)

You will notice that there is a name for the file and then another name in the brackets.  Currently the code to read the first file is:

[code]
This gives an e

[2021-11-21 10:10] rdstern opened #6970 "Improve the Climatic > Prepare > Conversions dialogue"
An example is the Niger data, in the Instat library, with the station information.  It is given in degrees and minutes.
Here is the dialogue to convert into fractions of a degree.
There are 2 improvements I would like:
a) Make the final entry of N, S, E, W much simpler.  Currently it needs a variable with (usually) a single letter throughout.  I would prefer a Direction groupbox with 4 radio butto

[2021-11-21 10:24] rdstern opened #6971 "Small improvement to the Climatic > Check Data > QC Temp dialogue"
This is a trivial, but (for me) quite an important change.  In the temperature
![image](https://user-images.githubusercontent.com/11226469/142758048-53598a60-8847-4443-90d0-b4116940512c.png)

The acceptable range up-down controls go in integer steps.  The others shown here go in steps of 0.1.  Please use 0.1 also for the 2 acceptable range controls.

At the same time at the top get rid of the disa

[2021-11-21 10:47] shadrackkibet opened #6972 "Models>Fit Model>General"
One problem that students experienced while using this dialog is the confusion between the "error" in the ANOVA and the syntax error that you get when you click the Try **button** from this dialog.

![image](https://user-images.githubusercontent.com/26301973/142758643-8faeab2b-261f-4519-9301-e79bbc89d817.png)
![image](https://user-images.githubusercontent.com/26301973/142758685-32c2bd02-4c6d-4443-

[2021-11-21 16:19] dannyparsons commented on #6968
I understand the logic of this change - but just want to consider that existing videos and tutorials use the existing menu structure, and this is quite a big change to that structure would make the videos a bit less useful.

So maybe there's a pay off between making such changes vs using the existing structures? Adding items to an existing menu is less of a change of structure and less effect on h

[2021-11-22 08:56] derekagorhom commented on #6932
Thank you
I will start working on it

[2021-11-22 10:22] shadrackkibet opened #6976 "Packages for the next release"
Looks like we missed out to add `ggwordcloud` (https://github.com/africanmathsinitiative/R-Instat/pull/6805 #6785) into the list of packages so that it can be added for the release. Please add for the next release.

[2021-11-22 10:48] #6967 closed

[2021-11-22 10:54] #6941 closed

[2021-11-23 10:03] derekagorhom commented on #6932
Hello @rdstern
i was able to add the template to the dialogue box
but i keep getting warnings of bad parameter
![Screenshot (361)](https://user-images.githubusercontent.com/76208189/143004736-5ec21eb5-92d9-41c6-8d93-d8a431be546a.png)

[2021-11-23 10:48] rdstern opened #6978 "Error trying to reverse y-axis order"
I hope we can soon make progress on some of the outstanding issues on the plot sub-dialogue.  There are a lot of improvements needed, but now I have also a specific error that possibly hints to awkward code more generally.  The message is as follows and I explain below how I stumbled over it.
![image](https://user-images.githubusercontent.com/11226469/141963379-ff4fdba1-7166-4df7-9a15-4e7550dc584d

[2021-11-23 10:52] rdstern commented on #6932
That seems to be a common problem!  Perhaps @N-thony can help if there isn't someone in Maseno for this point?

[2021-11-23 10:56] N-thony commented on #6932
@rdstern sure. @derekagorhom do you have an open PR on this?

[2021-11-23 14:50] derekagorhom commented on #6932
@N-thony not yet
as i did not know if it create an error

[2021-11-23 15:15] N-thony commented on #6932
Okay, can you share your Skype ID so that we can chat?

[2021-11-23 15:25] derekagorhom commented on #6932
Derrick Agorhom

[2021-11-24 15:53] #6853 closed

[2021-11-24 19:12] rachelkg opened #6983 "Auto Recovery Message"
Hello @shadrackkibet,

I don't know if this is a problem but i do find it unusual the R-Instat always opens with the Auto recovery message.  Initially i thought it was because of how I was shutting it down but I just installed a new version of R-Instat and upon opening that I got the same message.

Thanks,

Rachel

![2021-11-24_11-10-02](https://user-images.githubusercontent.com/85707390/143299927

[2021-11-24 21:01] rachelkg commented on #6700
HI @Patowhiz,

Is this resolved? I don't see it being so in the new version. Please could you give me an update.

Thanks,

Rachel

[2021-11-25 07:51] rdstern opened #6984 "Opening R scripts from R-Instat library into script window"
[Niger_4stations_corrections.zip](https://github.com/africanmathsinitiative/R-Instat/files/7601052/Niger_4stations_corrections.zip)
This is a script file with the R extension.
It makes corrections to the Niger_4station data.
I would like it to be included in the R-Instat library.
Then the other addition is to be able to open files, from the library, with an R extension, into the script window.  Cu

[2021-11-25 10:53] Patowhiz opened #6986 "Climsoft Import Wizard Dialog Checkboxes Labels"
The set label text for checkboxes in the climsoft import wizard dialog are not updated.

The checkboxes should show the labels set in the code.

[2021-11-25 20:11] rdstern commented on #6883
This issue have been interpreted as (I think) an addition to the import dialogue.  It uses the remove_empty() function presumably from the janitor package.  I don't have a problem with that, but would also like to be able to remove them once the data are imported.
Could this feature be added to the Prepare > Data Frame > Delete Columns/Rows dialogue.  This could be a third radio button called Empt

[2021-11-26 07:57] EstherNjeriLiberatta commented on #6604
@dannyparsons @shadrackkibet I am not quite sure of what is needed here. I tried working on it however, I need more info on how exactly the summary data is supposed to look like.

[2021-11-26 08:44] #6969 closed

[2021-11-26 10:17] #6971 closed

[2021-11-26 10:38] #6889 closed

[2021-11-27 10:22] rdstern opened #6989 "Two small edits for the climatic > check data > inventory dialogue"
The first is trivial, I hope.  The control, on the main dialogue, with the label Facet By: has the initial setting of Default.  When you return to the dialogue it always rests to this setting, i.e. it doesn't remember the current setting.

The second may be trickier to add?  Here is an example:
![image](https://user-images.githubusercontent.com/11226469/143677045-9da89773-de85-455b-ba0b-a4ce4cbc2f

[2021-11-27 12:25] rdstern opened #6990 "Add a Degrees button to the Climate > Prepare > Transform dialogue"
This can be an extra button at the end of the existing ones.  Make the buttons smaller, so the size of the dialogue can remain the same.  I would even prefer the dialogue to become narrower.  Perhaps the radio buttons for Multiple Spells and Water Balance could go on 2 lines.
Then keep the Station and Date fields, though these functions don't need those to be there, so the results, i.e. Ok enabled

[2021-11-29 07:25] #6915 closed

[2021-11-30 07:50] dannyparsons commented on #6976
Thanks @shadrackkibet. Can you or someone please add this package by doing a PR as described here? https://github.com/africanmathsinitiative/R-Instat/wiki/Information-for-developers#how-to-add-a-new-r-package

We can now add packages in this way without needing to document in an issue, and the new packages will be added to the next release.

[2021-11-30 07:52] dannyparsons opened #6996 "Output Window doesn't always scroll to bottom when new output is added"
If you click somewhere at the top of the output window so that the cursor is within one of the output blocks.
Then go to a dialog that produces output. It doesn't scroll to the end of the window. I think it just scrolls to the end of the block that it is in.
So it works if the cursor wasn't in the output window before running the dialog. But not if you were somewhere within the output.

[2021-11-30 08:01] dannyparsons opened #6997 "Output Window font options are not remembered"
- Go to the Options dialog, change the font size of the R commands, output, or comments
- Run a command to confirm the font size has changed
- Close R-Instat
- Reopen R-Instat and now the font size has reset to what it was before it was changed.

It looks like it might not be saving the options correctly on close now.

Haven't looked at the code but could this be caused by the change from `.Hide`

[2021-11-30 08:07] dannyparsons opened #6998 "Output Window Delete button deletes all output in main tab"
- Open a dataset
- Produce multiple outputs e.g. two graphs or a summary and graph
- Check the box for one of the outputs.
- Click Delete
- It deletes all the output boxes i.e. all graphs and all summary outputs are deleted

This only seems to be an issue on the "Output" tab and not if you do the same on a new tab.

[2021-11-30 08:11] dannyparsons opened #6999 "Output Window right click menu is missing"
There used to be a right click menu in the Output Window. Probably all of these options are still needed.

![image](https://user-images.githubusercontent.com/11214914/144009171-f126e1aa-d72c-49d9-af6c-1415d8f18fe9.png)

[2021-11-30 08:11] dannyparsons commented on #6999
@ChrisMarsh82 This task could be handed to someone else.

[2021-11-30 08:14] dannyparsons opened #7000 "Ctrl + C when highlighting text on the Output Window doesn't work"

[2021-11-30 08:15] dannyparsons opened #7001 "Saved Output Window as RTF is very large"
When I saved the output as an RFT it was 96MB but it only had one graph in and some text output. That seems quite big. Not sure if that was happening before too. Not a serious problem but the file is bigger than I expected.

[2021-11-30 08:17] dannyparsons opened #7002 "Add ability to delete an Output Window tab directly"
The multiple tabs works well. It would be good to be able to delete a secondary tab directly.

I don't think the tab should be deleted automatically when all the items are deleted.

[2021-11-30 08:39] dannyparsons opened #7003 "Can't scrolling all the way up and down in the Output Window"
Scrolling only works within a block unless I have the mouse on the end scroll bar.

Scrolling through the Output Window should be possible from anywhere the mouse is.

[2021-11-30 08:41] dannyparsons opened #7004 "Add Select/Deselect all buttons on the Output Window"

[2021-11-30 10:30] dannyparsons opened #7005 "Rename the first output window tab to "Main" instead of "Output""

[2021-11-30 10:35] dannyparsons opened #7006 "The sheets tab is hidden by the scroll bar when a dataset is loaded"

[2021-11-30 10:36] dannyparsons opened #7007 "The font in the grid seems to have changed"
This may or may not be an issue but it's important to understand why it has changed.

[2021-11-30 10:37] dannyparsons opened #7008 "Data Grid info text doesn't fit in display"
When I had a filter, the info text was too long to fit in the Data View unless I make it bigger than half the screen. Can we reduce the text size or have it dynamically reduce?

![image](https://user-images.githubusercontent.com/11214914/144031821-d45a3642-0d9e-4e76-b0c3-834526e66a8c.png)

[2021-11-30 10:38] dannyparsons opened #7009 "Column Metadata doesn't always refresh correctly"
Issue #6921 has reappeared. I think it just needs the forced refresh done in #6933

[2021-11-30 13:18] shadrackkibet opened #7010 "Enhancement of linear regression diagnostic plots"
Currently, we use the base `plot` function to display diagnostic plots. We basically take the linear model object and pass it into the `plot` function. There are three issues as a result of this;

- We promote the `ggplot2` type of graphics but this output base-R graphs.
- We have an issue with saving the graph object which means we can't use these plots elsewhere?
- The **View last plot** icon un

[2021-11-30 13:31] shadrackkibet opened #7011 "Add % of missing values as a summary"
- While working with students during the recent Stats Problem Solving course they often asked about the % of missing values. I suggest we add it into the list of summaries just below the **N missing** checkbox.

- At the same time could we also rename the `n_distinct` checkbox to `Unique Count` or `N unique`?

![image](https://user-images.githubusercontent.com/26301973/144054888-b672434f-fae0-4224

[2021-11-30 14:00] shadrackkibet opened #7012 "Improve on saving graphics? perhaps also tables?"
One question I often get from R-Instat users and it came out during the stats problem-solving course is as follows?

When I click **Save graph** where are graphs saved?

Google says **Save means to keep and store up (something, especially money) for future use**.

Students at AIMS often closed R-Instat after producing graphs thinking graphs can be retrieved somewhere. Imagine after all the "hard w

[2021-11-30 15:34] N-thony opened #7014 "Bug when trying to run in the Window script a regular expression containing hashtag"
I'm actually looking for a good example where we can test the system with regular expression. I found this example below where they use the Twitter dataset, extracting the hashtags from the tweets using the regular expression: `hashtags = str_extract_all(data$tweets, "#\\S+")`

I tried the code provided in the example first with R Studio, and it works well then I have tried with R-Instat first wit

[2021-11-30 15:47] #6976 closed

[2021-12-01 07:43] N-thony opened #7015 "Problem with the Output Window when trying the Climatic > Check data > Inventory Plot"
I have tried to plot the inventory of the `Dodoma ` data using the `Inventory Plot` but I'm getting the following error in the screenshot below.
![image](https://user-images.githubusercontent.com/68591383/144192352-0f5b3990-08b0-4063-8a73-e01f2f79ad38.png)

[2021-12-01 08:35] N-thony opened #7016 "Developer error under Climatic > Check data > Display daily dialogue"
**Describe the bug**
This message appears when opening the dialog after the first run.

**To Reproduce**

1. Go to Climatic > Check data > Display daily dialogue
2. Fill any variable in the Elements multiple receiver and then Click Ok
3. Then re-open again the dialogue, you will get the message in the screenshot below.

![image](https://user-images.githubusercontent.com/68591383/144199817-d7970817

[2021-12-01 08:58] N-thony opened #7017 "Opening the dataset using the shortcut option under Start on the DataView window seems to not work"
I have tried to open a dataset from the shortcut under `Start `on the DataView window and this seems to no longer work. Also, at the same time, it will be good to change the color when clicking on one of the options for opening a dataset or creating a new data frame as is happening with `Recent`.
![image](https://user-images.githubusercontent.com/68591383/144202981-aa0fffc1-06cd-4fd4-b5ee-cd3e68c3

[2021-12-01 09:31] N-thony commented on #7015
Same with `Climatic > Check Data > QC Rainfall dialogue`

[2021-12-01 11:45] rdstern commented on #7015
Can you give more details, e.g. exactly the dialogue, and also the command that was generated.  Was it the dodoma.rds, or dodoma from the Excel file?

[2021-12-01 12:02] N-thony commented on #7015
I have tried with `Dodoma.RDS` and using the `Inventory Plot dialogue` as shown in the screenshot below:
![image](https://user-images.githubusercontent.com/68591383/144231061-d35ed3b5-3c87-4c54-8588-d0b695d486e1.png)

[2021-12-01 12:22] N-thony opened #7019 "Use the regex sub dialog on Find/Replace dialogue"
This issue link with #6893, we need to change the checkbox to a regex button. If you press the button then you get a sub-dialogue - just like the Position button. When you press return, it copies the expression to the pattern input control on the main dialogue.

[2021-12-01 15:27] N-thony opened #7020 "Problem when trying to work with the Twitter dataset in R-Instat"
I have tried first with the previous R-Instat version `0.7.3.1` and I couldn't load these data, I have tried with my local branch after merging the latest from the main remote repo and I was able to load the data as shown in the following screenshot.

1.   ​![image](https://user-images.githubusercontent.com/68591383/144260474-5d65862a-5299-47ee-9537-a6deeeb88665.png)

Then I open Prepare > Column:

[2021-12-01 16:05] Patowhiz opened #7021 "Consistency between the file menu and the dataview startup menu"
Currently the Start menu labels of the data view window are different form the file menu items labels yet the labels open the same dialog.

As suggested by @rdstern the different labels need to be consistent.

Check on the screenshots below:
![1](https://user-images.githubusercontent.com/21179007/144269268-d58b9d30-d83b-4d2c-8076-b2df65cc7be5.PNG)
![2](https://user-images.githubusercontent.com/211

[2021-12-02 09:06] dannyparsons opened #7023 "The Try textbox on the Calculator should not editable & Message Textbox on Remove Unused Levels"
@africanmathsinitiative/developers Someone please take this up.

[2021-12-02 09:37] N-thony opened #7024 "No label for the unused levels control on Remove Unused Levels Dialogue?"
Is there any reason why there is no label/tooltip for this control?

![image](https://user-images.githubusercontent.com/68591383/144395996-10f6fae3-9933-42bd-9e50-61864637d4e3.png)

[2021-12-02 09:42] N-thony commented on #7023
@dannyparsons I think even the input control should also be not editable just the last on top ucrBase on the Remove Unused Levels dialogue?

[2021-12-02 09:47] dannyparsons opened #7025 "Naming on QC Temperature dialog"
This dialog is designed for temperature but can be used for other elements. I suggest a few changes to make it a bit more general:

1. For "Acceptable Range":
- Change the display to `Acceptable Range Element 1:` `From:` [box] `To:` [box]
- Remove the "oC" labels as it could be any unit
- Change the nud to textboxes. They only allow fixed increments and I think a free textbox that restricts to num

[2021-12-02 09:48] dannyparsons commented on #7025
@rdstern Please confirm you if agree with these changes or if not, state them here before someone starts working on this.

[2021-12-02 09:58] dannyparsons commented on #7023
Yes, well spotted, also there.

[2021-12-02 10:06] N-thony opened #7026 "Correcting the dialogue title on Climatic > Prepare > Evapotranspiration dialogue"
The current title is `Evapotraspiration ` but it should normally be called `Evapotranspiration `.

In addition, the `Wind Speed` groupbox is correctly spelled but the Receiver is not `WindSpeed`, it should be changed to `Wind Speed` and the checkbox is called `Wind`. Perhaps the checkbox should be called  `Wind Speed` and get rid of the label of the Receiver once checkbox checked the receiver will

[2021-12-02 10:09] #7017 closed

[2021-12-02 10:33] dannyparsons opened #7027 "Quarter Abbr produced from Use Date dialog should be a factor not a character"

[2021-12-02 10:50] shadrackkibet commented on #6972
@dannyparsons what do you think about this change?

[2021-12-02 10:52] N-thony commented on #7027
@dannyparsons  this could be done with `make_factor`. right?

[2021-12-02 10:59] dannyparsons opened #7029 "Update Merge Additional Data dialog"
This dialog: Options by Context > Prepare > Merge Additional Data
is a simplified merge that does a left join and saves the result back into the same data frame.

This is useful when you just want to merge additional columns from another data frame which has matching values to join by so won't change the structure of your data. It's convenient for this to be saved as the same data frame to avoid p

[2021-12-02 11:01] dannyparsons commented on #7027
Yes.

[2021-12-02 11:02] N-thony commented on #7027
Okay, that should be quick to fix then.

[2021-12-02 11:04] Gioche6 commented on #7026
@N-thony , I'll take this up.

[2021-12-02 11:06] N-thony commented on #7026
@Gioche6 sounds good.

[2021-12-02 11:25] dannyparsons commented on #7027
From looking further at the code, it needs some rewriting as it's very inefficient:

[2021-12-02 11:34] dannyparsons commented on #6972
It's not just a syntax error that can cause an error. How about "Model runs ok". Can't think of anything that good.
And then the other message should also change then: "Problem detected running model or no output to display."

Also, I found this guide on error messages which I think is very good https://uxplanet.org/how-to-write-good-error-messages-858e4551cd4

[2021-12-02 11:39] dannyparsons commented on #6972
I've expanded on the error message discussion here #7032

[2021-12-02 11:40] dannyparsons commented on #6972
Is the "or no output to display" required for the model dialog? It's a bit confusing. I think this was carried over from the Calculator?

[2021-12-02 14:51] shadrackkibet opened #7034 "Adding column selection into rights clicks"

[2021-12-04 07:44] N-thony opened #7036 "Small bug with the Evapotranspiration dialogue after changing the Language"
**Describe the bug**
This bug happens after changing the Language and trying to reopen the Evapotranspiration dialog from the Last 10 Dialogs menu.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Climatic > Prepare > Evapotranspiration dialogue
2. Click on Close
3. Then go to Tools > Options > Languages  then change the Language for example to French if the Language was different from

[2021-12-04 08:20] rdstern opened #7037 "Improvement needed in the Import from Climsoft dialogue"
This has come from the work in Namibia.  Data were routinely transferred from their climsoft database to R-Instat.
The problem was that there are over 700 stations.
This dialogue uses the same user control as for selecting variables from a database.  This control does need to be improved and the Select feature from @shadrackkibet helps for variables, i.e. you can select a subset of the variables a

[2021-12-05 08:46] rdstern commented on #7015
@N-thony you are right, and we used this dialogue a lot in the recent Namibia course.  Now @dannyparsons it doesn't run any more for the same Namibia examples in the merged version.

[2021-12-06 07:10] rdstern commented on #7037
@Patowhiz I think I may have a neat way of selecting the stations.  I will need you to modify the data selector a bit.  I assume that might be a special version of the control - perhaps yours is also a bit special already?!
You add a checkbox, probably just below the selector.  It has the label something like "Stations from R-Instat".  Initially it is disabled.  Usually you start by importing the

[2021-12-06 07:20] rdstern commented on #6185
@N-thony perhaps you could examine this issue above as some others with the same controls are also corrected.
a) The Station and Year controls do not remember their settings.  For example, with multiple stations - e.g. Niger data, set station to Facet wrap and it works fine.  When you return it has reset to null.  Same for the Year control.  Could they remember.
b) A minor point is not to have any

[2021-12-06 07:52] rdstern commented on #7029
@dannyparsons I like this idea a lot.
Here is the existing dialogue
![image](https://user-images.githubusercontent.com/11226469/144805262-e5e83266-dc5b-4597-8455-c7b7dcc2054e.png)

1) I suggest the first data frame adds the word Main., i.e. it is `Main Data Frame`
2) Currently it seems to add the key variables into the receiver.  I don't want to add those, because they are already there.
3) I assu

[2021-12-06 08:16] N-thony opened #7039 "Bug with the Swapping of Data and Metadata"
This bug appears when you click on View > Swap Data and Metadata

![image](https://user-images.githubusercontent.com/68591383/144811112-fca02daa-6755-49c0-a27d-7b5dfd893bd6.png)

[2021-12-06 10:44] dannyparsons commented on #7029
Sounds good apart from 3. The position of columns is fixed by the way the merge is done. It would be messy to try to reorder as well in this dialog. I think it's easier if this is done after if possible.

For 2. I feel it's more natural to include the joining columns here too because they are part of what you are merging - as well as making the code a lot easier.

[2021-12-06 10:56] dannyparsons commented on #7029
And the check is essentially that the join columns could form a link between the two data frames. We basically want to ensure the join will not change the structure of the original data frame.

I think this would always be a left join so that there won't also be any additional values in the join columns in the second data frame that aren't in the first.

[2021-12-06 11:41] N-thony commented on #7036
@lloyddewit I have noticed that PR #7040 fixes also this issue.

[2021-12-06 12:27] IssoufKon opened #7041 "Eureur translation into French"
**Describe the bug**
During my daily use of R-Instat in French, I noticed that many dialogues have translation problems. Indeed, either the translation is not complete (all options in the dialog are not translated), or it is not correct. I have added screenshots of some examples.

**Expected behaviour**
Review if possible all the translations in French.

**Screenshots**
![Erreur02](https://user-im

[2021-12-06 14:04] #6532 closed

[2021-12-06 14:04] #6581 closed

[2021-12-06 15:59] EstherNjeriLiberatta commented on #7016
@N-thony I'll work on this.

[2021-12-06 16:09] shadrackkibet commented on #7011
@EstherNjeriLiberatta Sure! you can work on this. Let's first get a second opinion then you are good to go.

@dannyparsons what do you think about these suggestions?

[2021-12-06 16:12] EstherNjeriLiberatta commented on #7011
@shadrackkibet Okay, no problem.

[2021-12-07 07:34] rdstern commented on #7029
ok @dannyparsons to my request to choose the position of the merged variables.  Happy for the default from merge.
On including the key variables, my point 2.  I don't quite understand your response.  They currently appear in the receiver automatically as well as the variables I want to copy over.  That confused me, because I don't want a second copy of those variables.  I assume I don't get that,

[2021-12-07 08:33] lloyddewit commented on #7036
@N-thony thanks, good spot! I linked this issue to PR #7040 .

[2021-12-07 11:11] N-thony commented on #6185
@rdstern @lloyddewit I did the investigation on the item a) and I found that this bug of always keeping ucrInputStation and ucrInputYear with `None` as a selected item on reopening of the dialogue is due to the translation. If @lloyddewit agrees with this I can directly fix it in my PR by setting those two controls in the database `DoNotTranslate` or it can be done in a separate PR.

[2021-12-07 12:18] dannyparsons opened #7043 "Using dialogs from the right click menus in Linux version crashes R-Instat"
In the Linux version:

- Open airquality data from the library
- Right click a column header and rename
- Change the name to anything. Click Ok.
- R-Instat closes without error or message

[2021-12-07 12:29] dannyparsons commented on #7002
This actually seems to be general with all the dialogs that come from the right click menu: Convert, Reorder, Rename, Sort, Filter, Duplicate.

But this isn't a problem if you access these dialogs from the menu directly. All the functionalities seem to work ok if I access the dialogs from the main menu.

So looks like a problem with grid/right click menu code.

[2021-12-07 12:29] dannyparsons commented on #7043
This actually seems to be general with all the dialogs that come from the right click menu: Convert, Reorder, Rename, Sort, Filter, Duplicate.

But this isn't a problem if you access these dialogs from the menu directly. All the functionalities seem to work ok if I access the dialogs from the main menu.

So looks like a problem with grid/right click menu code.

[2021-12-07 12:34] dannyparsons opened #7044 "No row right click menu on Linux version"
The row right click menu doesn't seem to appear on the Linux version.

Not a huge problem if this isn't possible with that grid, but if it's easy to put in it should be there.

[2021-12-07 12:42] dannyparsons opened #7045 "Adjust dialogs to avoid controls cut off in Linux version"
@ChrisMarsh82 Can you define what is needed to do this?

[2021-12-07 13:56] dannyparsons opened #7046 "Output Window fonts don't apply in Linux version"
Fonts and colours don't seem to apply in the Output Window on Linux.

[2021-12-07 14:04] dannyparsons commented on #7041
@IssoufKon thanks for the information about these.

There is a mix of different issues here:

1. Some translations are incorrect or need improving, @IssoufKon It would be great if you could help improve these on the CrowdIn site https://crowdin.com/project/r-instat
2. Some items are not being translated by R-Instat. This may be because the database has not been updated to include these terms yet.

[2021-12-07 14:59] dannyparsons opened #7047 "Output Window doesn't refresh correctly when getting output in Linux"
In the Linux version when you run a dialog that produces output or graphics the output window tab goes blank

![image](https://user-images.githubusercontent.com/11214914/145052772-f336fe5b-3213-481b-b706-ceb9abade242.png)

If you move the scroll bar up or down the tab now refreshes and display the output.

[2021-12-07 15:05] dannyparsons opened #7048 "Describe > Specific Tables/Graphs > Line Plot... menu item doesn't display correctly in Linux"
The item seems to be the correct height but the text is not aligned correctly. Possibly check if it has an odd property for that item?

![image](https://user-images.githubusercontent.com/11214914/145053712-c61be113-994d-45d3-a5b9-8d8d70b8710b.png)

[2021-12-07 17:09] #7043 closed

[2021-12-07 17:23] rachelkg commented on #7041
@IssoufKon and @dannyparsons, thanks so much for the information and screen shots. I had been working on the box sizing to ensure the French is displayed correctly. I have taken a break as I wanted to do my next run through once the data base had been updated and some of the dialogues due to be updated were finished. I will make a note of the issues highlighted here and rectify them.

Thanks again

[2021-12-08 07:33] N-thony opened #7050 "Problem with Climatic > Check Data > QC Rainfall dialogue"
I have used the `dodoma.RDS` with the QC Rainfall dialogue as shown in the first screenshot, when I click OK I get the following error in the second screenshot

![image](https://user-images.githubusercontent.com/68591383/145167339-98f9e008-4f18-415a-837d-0703b0751482.png)

![image](https://user-images.githubusercontent.com/68591383/145166933-2972d00c-12c3-42b3-925b-04b0c3f80c5e.png)

[2021-12-08 08:34] dannyparsons opened #7052 "Main menu items have different colour in Linux version"
Some of the main menus have a grey background and some have white.

They should all have a white background.

Grey
![image](https://user-images.githubusercontent.com/11214914/145175352-92dcab30-c3b5-49c2-9b6f-d640fcb43ed4.png)

White
![image](https://user-images.githubusercontent.com/11214914/145175449-a0f946b4-7b50-4b2c-a917-db101b6fd666.png)

[2021-12-08 08:36] rdstern commented on #7050
@N-thony that's a good one to find.  I tried with a different dataset and get the same.
The error is presumably because none of the checks are enabled, but Ok is still enabled.  This may have been there for a long time!
I notice that this problem does not exist for the Temperature QC, where Ok is only enabled when one of the checkboxes is activated.  Perhaps you could make the same change for the

[2021-12-08 08:40] lloyddewit commented on #6185
@N-thony Thank you for identifying this. Please fix by updating the database as you suggested, in a separate Pr if possible. In your PR, please:
- include screenshots showing exactly what changed in the database
- also update the `translations/translateIgnore.txt` file to ensure that these controls won't be translated in future R-Instat versions

Thanks!

[2021-12-08 08:41] dannyparsons opened #7054 "ReoGrids in dialogs do not display in Linux version"
There are several dialogs which use a ReoGrid control:

- Prepare > Column: Factor > Levels/Labels
- Prepare > Column: Factor > Recode Factor
- Prepare > Column: Factor > Reference Level
- Prepare > Column: Factor > Unused Levels
- Climatic > Tidy and Examine > Daily Data Entry (sub dialog)

In the Linux version these don't display or crash unexpectedly.

We should either replace these with standa

[2021-12-08 09:01] dannyparsons commented on #7054
We might also consider a new grid that works on both Windows and Linux.

[2021-12-08 09:01] rdstern commented on #7054
The 2 options mentioned above are:
a) Replace reogrid in the windows version - in these dialogues - by the standard grid.  That's presumably simple, but (perhaps) downgrades the windows version a bit?
b) Use a different grid in each instance, in Windows and Linux.  That's presumably longer to implement.

There is a third option that is to upgrade the grid to one that is better than reogrid and wor

[2021-12-08 10:47] lloyddewit commented on #7041
yes, I'll investigate which of the above issues can be fixed in the database.

[2021-12-08 16:29] #7036 closed

[2021-12-08 16:59] rdstern opened #7060 "Reading data from the evapotranspiration package"
The evapotranspiration dialogue has an issue with the data.  The last dataset - processed data can't be read.  I wonder why not, and can we do anything about that.  It is the example used in the evapotranspiration package, so I assume it reads ok with rstudio?
You may also like to look briefly at the reading of the constants data, which inputs into 37 separate data frames with one cell in each.  T

[2021-12-08 17:30] rdstern opened #7061 "Improving the evapotranspiration dialogue"
I have approved the small errors on wording in this dialogue.
@HawardKetoyoMsatsi I now suggest you start the work on the details of this dialogue, and this is quite a substantial task.  @N-thony should be the main tester.
1) I suggest you leave the layout issues until you have tested the dialogue as described below.  But the dialogue is too long and will not all be visible on some screens.  Also

[2021-12-08 21:36] rachelkg commented on #7041
@IssoufKon This information is really helpful in improving R-Instat, thanks for the examples but please could you start keeping a systematic record of the problems you find. The screen captures you have made are ideal, you could either keep adding them to this issue or you could keep an excel sheet to share.

You can use the crowd in (https://crowdin.com/project/r-instat) site to improve the quali

[2021-12-09 17:57] dannyparsons commented on #7045
I would suggest PRs on this are done in batches to avoid potential conflicts.

Also, I think check which open PRs are making changes to dialogs and either ask for the changes to be done in that PR or leave that change until after merged.

[2021-12-10 06:35] anastasia-mbithe commented on #6990
When the limit< baseline, it returns a negative value when the logic is True , and returns a 0, when the logic is False.

[2021-12-11 12:55] rdstern opened #7064 "Possible change in location for the packages in R-Instat?"
One powerful feature in R-Instat is in the Tools Menu where you can import a new package into R-Instat.  The dialogue is useful and I often also use it to check whether a particular package is already installed.  If so, is it up-to-date.
This works fine on the development (merged) version of R-Instat.  It is also a very nice feature (even nicer!) in RStudio - as we might expect.
However in the "pr

[2021-12-13 08:24] N-thony commented on #7000
@dannyparsons just a quick check, when I try with `Ctrl+Shift+C` it seems to copy the highlighting text on the Output Window. Do you mean it should be `Ctrl + C` rather than `Ctrl+Shift+C`?

[2021-12-13 08:51] derekagorhom commented on #6672
Hello @maxwellfundi
i will get working on it

[2021-12-13 10:35] lloyddewit commented on #7023
@mmulahvictor I just merged PR #7057. Did this PR also fix the comment from @N-thony above?
Thanks for clarifying

[2021-12-13 10:53] #6523 closed

[2021-12-13 10:55] #7050 closed

[2021-12-14 04:36] N-thony commented on #7000
@dannyparsons I found also when the text is copied from the Output Window and then pasted in Script Window, the copy is one line rather than multiple if so from the Output Window. @ChrisMarsh82 I made a small improvement of `CopySelectedElementsToClipboard()` in the linked PR.

![image](https://user-images.githubusercontent.com/68591383/145933454-d81afe87-e612-47f7-938a-5d90d6688f86.png)

[2021-12-14 08:00] #7023 closed

[2021-12-14 11:25] rdstern commented on #6990
@anastasia-mbithe I can't see the pull request on this issue?

[2021-12-14 12:31] rdstern opened #7067 "Adding Help to each right-click menu"
When teaching with R-Instat the tutorials and our courses introduce the right-click menus early on.
These menus don't yet all have their own Help option.

This issue proposes a Help option be the bottom option in each right-click menu, for the data grid, and also have a separator line above it.
Currently there is a Help option on right-click in the Script window, Log window.
In the data window the

[2021-12-14 16:49] #6997 closed

[2021-12-14 16:49] #7046 closed

[2021-12-15 07:57] rdstern opened #7069 "Additional small changes in the Climatic > Prepare > Transform dialogue"
I hope this is small enough that it can be included in the changed being made currently to this dialogue by @anastasia-mbithe.  It would then be helpful to be able to capture the new dialogue for a small guide being written.
a) Change the buttons, so the Count  (currently the second button comes before Cumulative.  Thren still make the first button the default, so Count is now the default.
b) Chan

[2021-12-15 13:07] anastasia-mbithe commented on #7069
@rdstern  on point b) so the defaults for both the lower and upper pull-downs will be 0.85?(ucrInputSpellLower and ucrInputSpellUpper?

[2021-12-15 14:02] rdstern commented on #7069
@anastasia-mbithe that's well spotted.  The default for the condition is >= and so I hadn't noticed that!
Does the calculation work if the default for the second (for between and outer) is 0? So it is between 0.85 and 0?  If so, then the second one could be zero.  It can remain as just to be typed in, i.e. doesn't need to be a pull-down.

[2021-12-15 14:47] anastasia-mbithe commented on #7069
@rdstern it works either way (0.85,0) or (0,0.85). Am thinking since the first one is set as a minimum point and the second as the maximum point, then maybe having it as 0 and 0.85 respectively is just okay.

[2021-12-15 15:15] rdstern commented on #7069
@anastasia-mbithe If either is ok, then I prefer (0.85, 0) as the default setting is >= and hence only the first is shown.  So it appears as 0.85 >= and that is what I usually use to give the count of rain days.

[2021-12-15 16:08] anastasia-mbithe commented on #7069
@rdstern that's okay,  but we will have a problem when it comes to between and outer. i.e when we have X<=0 & X>=0.85 meaning, when we have between we will have an output which we would get when using outer and vice versa. Not unless we have the functions interchanged.

[2021-12-16 08:01] rdstern commented on #6208
@N-thony This seems to be almost working.  But I look for the oddity that I reported - I thought, earlier.
When using the metadata rather than the data (i.e. a swap) I sometimes use the To Script button.  This opens the script window nicely when I have the data window open.  But it is not so nice when the metadata has been swapped.
I would like the script window to open identically in the two situ

[2021-12-17 11:51] rdstern opened #7073 "Add a new option to the Prepare > Data Frame > Convert dialogue"
This needs an ok from @dannyparsons and then I hope it might be a relatively small task for @shadrackkibet or for him to allocate.
This has become urgent, because we use labelled data - and have an outdated tutorial that needs improvement.  And I would like to explain about labelled data in the help system we are working on now.

The obvious dataset for testing is called efc and comes with the sjm

[2021-12-17 15:11] rdstern opened #7074 "Updating the Prepare > Data Frame > View Data dialogue"
Here is a screen capture of the current help file with the options for this dialogue.  They have been there for a long time.  There are also questions to me about the html option.

@ChrisMarsh82 can you advise please what should be done here.  We could delete the html option for this dialogue?

![image](https://user-images.githubusercontent.com/11226469/146564344-8a5e5569-c50c-4e05-8e3d-a4db16011c

[2021-12-17 18:12] dannyparsons commented on #7073
I think a better place for this would be in the Prepare > Factor > View Labels dialog which could change to View/Delete Labels. That seems the more logical place. Then there are two options at the top of that: View and Delete.

I also think we should be able to delete labels from the column metadata grid - if you right click on the cell with labels there could be a "Delete Labels" option. This cou

[2021-12-19 10:29] N-thony commented on #6208
@rdstern is this the oddity? This one occurs when no data is loaded and trying to click on `View > Swap Data and Metadata`.
We could set it to disable when no data is loaded and enable it when it is loaded.
![image](https://user-images.githubusercontent.com/68591383/146671764-6bb430b5-1a59-4c9a-8a88-269312186002.png)

[2021-12-19 11:39] dannyparsons commented on #6208
@N-thony it would be better to solve the underlying issue with the code instead of just disabling the menu item. If you only disable the menu item then the potential for the error is still there and this is not stable.

[2021-12-20 12:00] rdstern opened #7075 "Small corrections to Prepare > Data Frame > Insert Columns/Rows"
a) The dialogue need not be so wide.
b) The pull-down currently gives alternative missing values only - and they seem to give an error.  Instead, keep NA as the default and have 0, "Kisumu", "New Zealand", TRUE, FALSE as other possibilities.

@shadrackkibet could you suggest someone?

[2021-12-21 16:25] ChrisMarsh82 commented on #7044
@dannyparsons This works, however, you need to have a row selected. The grid switches between being able to select rows and columns. This switch takes place when row/column headers are clicked. Therefore it doesn't select the row the first time it is clicked (if in column select mode) but will select it on the second click.

[2021-12-22 20:30] rdstern opened #7076 "Small error on the Position control when using the same dialogue with different data-frames"
The Position control in this dialogue does not update, when the data frame is changed.

The default position is after the variable being selected.

I used the dialogue with the rice survey data and multiplied the yield, by 67.25 to put them into kg per ha  It gave an error mentioning a variable Distance (from a previous data frame.  I forced it to work, and then moved to another data frame.  Again

[2021-12-24 15:01] BobMuenchen commented on #5624
Hi David,

I'm finally getting around to reviewing R-Instat. I'll send you a link to
it before I post it to the general public as I'm sure there will be things
I get wrong about it.

I'm on the UseR 2022 committee and I encourage you, or someone on your
team, to give a talk on R-Instat. I'm inviting all the R-GUI design teams
to present. If enough do, we might be able to create something special,

[2021-12-26 08:01] rdstern opened #7077 "Small change in Prepare > Column: Numeric > Permute Columns dialogue"
These are all minor linked changes and so are put together.  They may be done in successive pull requests, but all are small.

First is in the Prepare > Column: Numeric > Permute Columns.
This is a minor change also in the menu item.  It currently says `Permute Columns...`  The change should be to `Permute/Sample Rows...`  (It permutes rows within a column).

This is a task for @shadrackkibet and

[2021-12-30 19:13] rdstern commented on #6905
@lilyclements sorry for the delay in this reply - I am now using the break to catch up a bit - and to write the help for R-Instat.  I suggest a change in the transpose command as follows:
a) Use the data.table::transpose command instead of t.  We already (I think) load into R-Instat data.table, so that should be easy.
b) Add a single receiver, below the Multiple one.  It has the Label `Variable Na

[2022-01-01 18:40] rdstern commented on #7029
In the Instat library climatic **_rwanda.rds_** has a good example.  In the daily data delete ID, and lat, long, elev.  They are in the second data frame.  Then use this dialogue to improve them.

The existing dialogue is (just about) working.
a) The suggested joins should use the code from the current Merge dialogue.  In my example above it currently gets station_ID as the suggested merging varia

[2022-01-04 11:45] #7008 closed

[2022-01-05 08:26] #7026 closed

[2022-01-05 08:33] #7016 closed

[2022-01-05 08:42] lloyddewit commented on #6893
This issue is partially fixed in PR #7062:

![image](https://user-images.githubusercontent.com/57253949/148187099-2fe954b8-bed9-46d4-a632-7a165bcbb8a5.png)

[2022-01-05 10:40] #6970 closed

[2022-01-05 10:48] #6984 closed

[2022-01-05 14:34] #7044 closed

[2022-01-05 16:44] dannyparsons commented on #7052
@ChrisMarsh82 I guess this is just a difference of property somewhere. Did you find this already or could you point me to what I should look into?

[2022-01-05 16:58] dannyparsons commented on #7048
I can't see any difference in Properties of this menu item and the neighbouring ones.

[2022-01-06 07:28] rdstern commented on #4952
@Ivanluv now I see at least one example of the questions where you expected an answer - and I missed it, and you didn't remind me!  Also perhaps that you would like more specific direction - though (as a programmer) you are asking more detail from me than (as a user) I have.
I assume sjtab is a possibility.  But I was hoping it would be a simple case for mmtable2 as the default.  That is what we a

[2022-01-06 12:35] #7045 closed

[2022-01-06 12:37] #7005 closed

[2022-01-06 12:42] dannyparsons opened #7079 "Radio buttons not displaying on all dialogs"
Some of the controls on dlgConversions do not seem to display correctly now. The controls at the top do not display and some other controls appear to be missing, although they are there in design mode.

This may have been as a result of conflicts from the change made to all dialog.

The controls need to be correctly repositioned and checked they display correctly at run time.

@N-thony Could you t

[2022-01-06 12:50] dannyparsons commented on #7009
Can't replicate this issue and the previous fix is still implemented so may not be an issue any more.

[2022-01-06 12:50] #7009 closed

[2022-01-06 13:28] N-thony commented on #7079
@dannyparsons sure. I went through some of the dialogs and I think this problem is more general in the system. I'm investigating on how to solve it.

[2022-01-06 13:31] dannyparsons commented on #7079
Ok, thanks, could you make a note of which dialogs have issues?

[2022-01-06 14:40] #6998 closed

[2022-01-06 15:11] dannyparsons commented on #7079
This seems to be an issue with radio buttons and caused by making the panel auto size = true
@ChrisMarsh82 is looking into this now. It should hopefully be a fix that can be done on the panel control and then works everywhere.

[2022-01-09 09:00] rdstern opened #7081 "Improve the Describe > One Variable > Summarise dialogue and possibly 2-variable and 3-variable?"
I use the data from the R-Instat review as an example:

I use the one variable summarise and wanted to get the sum (as in the review) and also the number of occasions with more than zero.
Here is the output:
[code]
The main changes I would like are to the layout.  But here there is an oddity in the calculation.  What am I doing wrong?  The omit missing values option is ticked?  The count-calc is c

[2022-01-09 09:17] rdstern opened #7082 "Changing the Describe > Combine Graphs to Combine Graphs/Tables dialogue?"
One of the features of the new mmtable2 package is (I think) an ability to combine tables.  I wonder what this means?  I suggest it is more like Genatat, that has a table structure.  So you can do operations on tables and produce new ones.  That's different to the combine graphs.
Here is one thing I would like, that I think we can't do in a single table.  It is when I have different summary statis

[2022-01-10 06:57] Wycklife commented on #7067
@rdstern @ChrisMarsh82 I would like to proceed with fixing this issue. Are you all okay with it?

[2022-01-10 07:01] mmulahvictor commented on #7075
@shadrackkibet I will do this issue.

[2022-01-10 07:53] Vitalis95 commented on #7077
@shadrackkibet , I will do this issue. Thanks

[2022-01-10 08:21] ChrisMarsh82 commented on #6893
Closing issue as code merged

[2022-01-10 08:21] #6893 closed

[2022-01-10 08:23] ChrisMarsh82 commented on #6690
@shadrackkibet to check to see if this is fixed

[2022-01-10 08:23] ChrisMarsh82 commented on #6637
Closing issue as now fixed

[2022-01-10 08:23] #6637 closed

[2022-01-10 08:26] ChrisMarsh82 commented on #6185
@shadrackkibet to check to see if fixed

[2022-01-10 08:40] ChrisMarsh82 commented on #6890
@shadrackkibet to check and close issue if complete

[2022-01-10 08:44] Gioche6 commented on #6868
@ChrisMarsh82 , this issue was fixed by PR #6876. Could you please elaborate the new changes that you need to be made? Thank you!

[2022-01-10 08:45] ChrisMarsh82 commented on #6932
@shadrackkibet to check to see if issue is complete

[2022-01-10 08:48] EstherNjeriLiberatta commented on #6904
Hello, @rdstern has anyone worked on this already?

[2022-01-10 09:37] #6932 closed

[2022-01-10 09:53] shadrackkibet commented on #6690
@Ivanluv I think we fixed this somewhere. Could you please confirm then we can close? Will appreciate it if you could point to the issue that fixed it. Thanks

[2022-01-10 09:58] shadrackkibet commented on #6890
Fixed in #6897

[2022-01-10 09:58] #6890 closed

[2022-01-10 10:01] shadrackkibet commented on #6868
Fixed as pointed out by @Gioche6

@ChrisMarsh82 no action is needed from you.

[2022-01-10 10:03] shadrackkibet commented on #6904
@EstherNjeriLiberatta thanks for volunteering to work on this, please proceed.

[2022-01-10 10:04] #6972 closed

[2022-01-10 10:49] Ivanluv commented on #6690
@shadrack this was fixed by @N-thony thrugh PR #6691

[2022-01-10 11:19] rdstern commented on #7079
Just to confirm that the top buttons don't display anywhere.  I started with File > New Data Frame, but it seems to be general.

[2022-01-10 11:26] dannyparsons commented on #7079
This should be fixed now in the latest version by #7083

[2022-01-10 11:28] lilyclements commented on #4952
Using mmtable2 here seems like a good solution, and implementation-wise (I assume) is very similar to the work already done in the summaries dialog.

[2022-01-10 11:35] #6690 closed

[2022-01-10 11:45] lilyclements commented on #6905
@rdstern this sounds like a good solution.
I also suggest we could make use of the `keep.names` argument. This takes a string for a new column name, and the values given are the variables.

E.g.
[code]

[code]

[code]

[code]

[2022-01-10 11:45] dannyparsons commented on #7006
@Patowhiz Chris has been looking into this and can't seem to see why the sizing of the tab buttons is ignored/reset for the Data View. It works ok for the Column Metadata Window. Could you have a look at this? Possibly comparing to the previous code before Chris's changes might help.

[2022-01-10 13:01] lilyclements commented on #7082
It seems there are two different combine options you are interested in:
1. On the design aspect
2. On the calculations aspect

**To point 1 -**
The design aspect is outlined nicely in the vignette [here](https://ianmoran11.github.io/mmtable2/articles/Some-minimal-examples.html).
Tables can be placed:
* side-by-side (I guess we call this "merging" in R-Instat)
* on top of one another ("appending")

[2022-01-10 21:17] rdstern opened #7091 "Save control not visible and dialogs with variable sizes have wrong size"
![image](https://user-images.githubusercontent.com/11226469/148839941-b19a5526-45b6-4d73-aced-9e56ed65415b.png)

The save control does not show the variable. See above.  This is also a problem with the Prepare Column: Calculator dialogue, so I guess it is general for the control.

The calculator is a dialogue that changes size, depending on the keyboard.  Now it just seems to get larger!
![image](

[2022-01-11 06:49] rdstern commented on #6905
@lilyclements sounds good.  Agreed.

[2022-01-11 07:13] N-thony opened #7092 "Small labeling issue with Climatic > Prepare > Climdex Indices dialogue"
There is a small issue with the label text not showing correctly as shown in the screenshot below
![image](https://user-images.githubusercontent.com/68591383/148897402-bde652ab-c313-4265-b590-6ab35dfcb0d7.png)

[2022-01-11 08:21] derekagorhom commented on #7092
Hello @N-thony
can i work on this one

[2022-01-11 08:48] derekagorhom commented on #7092
![Screenshot (Climdex Dialogue)](https://user-images.githubusercontent.com/76208189/148910032-1e7c56a8-0755-4c70-9e95-6c93ca5f8537.png)
@N-thony please check this screenshot of the Climdex dialogue

[2022-01-11 08:58] Patowhiz commented on #7006
@dannyparsons let me have a look at it.

[2022-01-11 09:37] Ivanluv commented on #7091
I have also found the save control error on the summary Table dialogue and it occurs on all other dialogues using it

[2022-01-11 11:25] lilyclements commented on #7082
Following todays meeting, perhaps we should split this into two issues:
* Combining tables display
* Combining tables calculations

The former can be done quite easily and quickly, but the latter might need a bit more work.
Perhaps the latter should be put as a separate issue to focus on later. What do you think?

[2022-01-11 11:36] rdstern opened #7095 "Excel file that doesn't paste into R-Instat?"
@Patowhiz I would like to "promote" your dialogue Edit > New Data Frame and include it in the File > New dialogue.

But I am sending you separately and Excel file that I am finding difficult with the Paste.

I also tried with other Excel files and they worked fine.

This one - from our evaluation of R-Instat - imports easily into R-Instat - all sheets if needed.  But when I do Paste New Data Frame

[2022-01-11 12:36] #7091 closed

[2022-01-11 13:04] Ivanluv commented on #7081
@lilyclements should I use the mmtable2 for these improvements?

[2022-01-11 14:05] lilyclements commented on #7081
@Ivanluv yes that sounds like a good suggestion

[2022-01-11 15:29] #4951 closed

[2022-01-11 16:09] #7015 closed

[2022-01-11 17:44] rdstern opened #7099 "Model > Probability Distributions > Show Model dialogue needs correction"
@dannyparsons it is another dialogue that is rather large!
So is Prepare > Column: Numeric > Random Samples.

I have been through the Prepare dialogues from Numeric downwards and haven't found any others.

[2022-01-11 18:51] dannyparsons commented on #7099
Yes, this is anywhere that has the Distribution and Parameters control. Also found on Compare Models and Add New Distributions sub dialog. Fixed in the linked PR.

[2022-01-11 20:19] N-thony opened #7101 "The combobox containing the list of packages seems to be missing on Open Dataset From Library dialogue"
Here is the screenshot of the current version
![image](https://user-images.githubusercontent.com/68591383/149015078-df7def9d-f0b5-4eff-8eb7-eb1466b22298.png)

But we normally have

![image](https://user-images.githubusercontent.com/68591383/149015235-081ee1a8-c949-42cb-8259-771a96b22188.png)

[2022-01-11 21:02] lilyclements commented on #6905
@rdstern great. Who do you suggest takes this task on?

[2022-01-12 06:32] N-thony opened #7102 "Annoying message on File > Close Data Book"
This message appears even if no data was loaded, and when you click on Close Data Book. See screenshot below
![image](https://user-images.githubusercontent.com/68591383/149075822-753c3388-a835-41e0-92b0-01f31674cd13.png)

And there is a typo error in the first line of the message, it should be Are you sure you want to close `your data` rather than `you data`

[2022-01-12 07:39] rdstern commented on #4228
I list specific looping issues here:
1.  Multiple files to import or data frames to export.  Here we already can largely do this.
2. Multiple variables where we do something the same.  For example checking for non-numeric.  We have a single receiver and produce a single new variable.
Might it be possible to have a multiple button here, or to use our Single/Multiple control that we have for some pl

[2022-01-12 09:31] #7099 closed

[2022-01-12 10:09] rdstern commented on #7101
@dannyparsons I confirm this problem.  Is this another side-effectissue from the Linux work?

[2022-01-12 10:15] dannyparsons opened #7103 "R Progress Bar for Linux"
When importing multiple NetCDF files we use the `winProgressBar` function in R to display a progress bar, shown below.

![image](https://user-images.githubusercontent.com/11214914/149117271-081e24a6-8988-4024-a17e-20321de2fa54.png)

This doesn't work in Linux, so it's set to only run in the Windows version, which is fine. If there was an alternative visual progress bar in R that works in Linux too

[2022-01-12 11:04] dannyparsons opened #7106 "Wait form didn't always close in Linux"
When a command takes long to run the Waiting Form shows and then disappears after running.

In Linux, sometimes this didn't disappear after the command run, but sometimes it did. To avoid this issue the Waiting Form has been removed from the Linux version. It should be added back in when we can solve this issue.

[2022-01-12 12:06] #7101 closed

[2022-01-12 13:53] #6989 closed

[2022-01-12 13:54] shadrackkibet commented on #6185
The initial bug reported by Lily above still exist. Hence the reopen.

[2022-01-12 15:53] Patowhiz commented on #7006
@dannyparsons @ChrisMarsh82 my understanding is `ucrDataView`  is now using the `TableLayoutPanel` VB.Net control to align the 3 controls that are in it;  the _launch panel, linux grid, windows grid_. Then it dynamically changes the size of these docked controls by setting its column size.

@dannyparsons this issue is caused by the dynamic change of the `TableLayoutPanel` column sizes. The `reogri

[2022-01-12 16:39] dannyparsons commented on #7006
Thanks very much for looking into this in detail! I've replied to the PR with a suggestion, but great that we have something that works.

[2022-01-12 16:48] dannyparsons opened #7112 "Import from File dialog is too wide"
This has got wider from other changes. It needs AutoSize of the dialog set to False then it will be the correct size again.

@africanmathsinitiative/developers Can someone take this up?

[2022-01-12 17:05] rdstern commented on #6903
@EstherNjeriLiberatta could you take this on.  For now don't change the name, but change to functions to use tidyverse as suggested by @lilyclements above.

In our review the tidying in R-Instat was praised and I am keen to strengthen this component further.

[2022-01-12 17:19] Gioche6 commented on #7112
@dannyparsons , I'll take this up.

[2022-01-12 17:43] dannyparsons opened #7113 "Text file preview doesn't display in Linux version"
The text file preview in the Import from File dialog doesn't display in the Linux version.

I think this is because it is directly reading the file from VB and the path uses `\` instead of `/`, which won't work in Linux.

If this is changed to `/` in the code, it should work for Windows and Linux.

If someone can make this change and confirm it works in Windows still then I can test in Linux too.

[2022-01-12 17:51] N-thony opened #7114 "Database setting path seems to have problem"
I have cloned the repo and built the solution then after running, I get the following message. It seems that the database setting has some mixture of `\` and `/`

![image](https://user-images.githubusercontent.com/68591383/149194704-088e71ba-027f-4fe3-aaca-d170457854ca.png)

![image](https://user-images.githubusercontent.com/68591383/149195104-b3c52df3-5b05-47cd-a227-c5862fbf9f05.png)

[2022-01-12 17:53] rdstern commented on #7113
@Gioche6 you bravely volunteered for the other small change for this dialogue.  I hope this will be equally simple at the same time.

[2022-01-12 17:55] Gioche6 commented on #7113
@rdstern , I'll take this up.

[2022-01-12 17:57] dannyparsons commented on #7102
Thanks for the suggestion. This is something we should change.

However, my suggestion is that if no sheets are loaded then it still resets the data but it doesn't give the message box. What you have in your PR is that I click to close but nothing happens, which isn't good functionality.

I like the close being available even if there's no data, just in case you want to force a reset.

So if there

[2022-01-12 18:14] N-thony commented on #7102
@dannyparsons I resolved your comment. Please take a look. Thanks.

[2022-01-12 20:27] #7114 closed

[2022-01-13 06:57] rdstern opened #7120 "Change Prepare > Column: Text > Find/Replace dialogue again!"
Apologies @N-thony but, just after you agreed to make a new issue of a minor change in this dialogue, I am requesting larger changes.  Please bear with me, because I think this is a clear improvement.  I hope it can be quick, as it is almost all cosmetic!  These have become obvious as I am now trying to write the help.  I am getting to something simpler.

a) The menu says Find/Replace, so the head

[2022-01-13 08:01] N-thony commented on #7120
@rdstern no problem, still happy to work on this. Would you prefer me to work on this after merging PR #7118?

[2022-01-13 08:50] anastasia-mbithe commented on #7076
@rdstern Hello, I have been trying to look into this issue using different data frames, interchanging them in the dialogue, but I have not been able reproduce the error. It seems to be working well from my side.

[2022-01-13 08:51] rdstern commented on #7120
Yes, please wait.  I am also still working out details of the new design

[2022-01-13 09:22] #7006 closed

[2022-01-13 10:37] rdstern opened #7121 "Investigate and (hopefully) implement HTML in the new output window"
A number of our existing dialogues produce results in html.  This currently displays in a browser.  It would be great if this could be in the output window instead?

The dialogues include:
Prepare > Column: Factor > View Levels/Labels
Describe > One Variable > Rating Table
Describe > One Variable > Frequencies (optional)
Describe > Specific > Frequency Tables
Describe > Specific > Summary Tables

[2022-01-13 15:39] Patowhiz commented on #7121
@rdstern I'm looking into this.

[2022-01-13 15:43] Patowhiz commented on #7095
@rdstern I'm looking into this.

[2022-01-14 05:17] rdstern commented on #7120
So here it is.  Not as different as I thought before, but adding useful parts of stringr, just as you included those from forcats when improving the factor dialogues.
a) The title becomes Find/Replace
b) There are 5 buttons at the top, namely Detect, Find, Replace, Replace NA, Remove
c) In `Detect `use the existing Detect.  Under the 2 existing controls there are 3 radio buttons, labelled Detect,

[2022-01-14 05:59] rdstern opened #7125 "Add distributions from stats package for presentation, fitting and random sampling"
This is not urgent, but useful when a programmer needs a new (small) task.
A number of dialogues make use of the set of distributions.  They are in particular the
Model > Probability Distributions > Show Model and also
Model > Probability Distributions > Random Samples and
Model > One Variable > General

a) There are 4 distributions missing from the stats package and these could usefully be added

[2022-01-14 06:45] #6942 closed

[2022-01-14 10:43] ChrisMarsh82 commented on #6996
The issue is due to do with the cursor staying in a richTextBox. I have tried to change focus and the activeControl but neither has worked. The only other possible workaround I have found is to tab through the controls until the last textbox is selected, using SendKeys.Send("{TAB}"). This is not a great solution and may cause issues as it is sending [TAB] to the PC and not limited to the program.

[2022-01-14 11:28] #7034 closed

[2022-01-14 11:34] dannyparsons commented on #6996
@Patowhiz Could you investigate possible solutions to this? Don't spend too long, but a few hours would be worthwhile. If there's no better solution then I suggest implementing the Tab method Chris suggests.

[2022-01-14 11:43] #6904 closed

[2022-01-17 09:45] lloyddewit commented on #5146
Some work was done on this issue in PR #5164.
No work was done on this PR for nearly three years so I closed the PR. It is still available for reference if needed.

[2022-01-17 10:54] rdstern commented on #5146
@dannyparsons I note that @lloyddewit has closed this issue, because no work has been done since @Patowhiz questions to you in September 2020.
I wonder whether this might be a good time to resurrect the issue, partly because it might give another useful option for the linux version?

It all started so promisingly with you saying "This will be a very useful dialogue to add".  That was in February 2

[2022-01-17 11:13] dannyparsons commented on #5146
It doesn't seem possible to run a Shiny app through R-Instat via RDotNot so we're a bit stuck on this.

We could raise this with RDotNet developers by providing them with a minimal reproducible example to show the error, and see if it's something that could be easily fixed.

[2022-01-17 14:24] Cal-Insta opened #7132 "Error in producing plot with plot.fevd function at the Use Model dialogue."
An extreme model diagnostic plot is supposed to be produced with plot.fevd function when the extRemes package is chosen at the Model > Use Model keyboard.

However, the error message below is produced
![bug1](https://user-images.githubusercontent.com/66616144/149767212-11631e0f-458c-43f9-8b3d-224144626546.png)

The script producing the error is shown in the below. The arrow pointing to the line of

[2022-01-18 05:57] N-thony commented on #7132
@Cal-Insta sure. We can skype anytime. Skype ID `ntalumesoantoine`

[2022-01-18 08:16] shadrackkibet commented on #6102
@Ivanluv could you check and report on this?

[2022-01-18 08:20] shadrackkibet commented on #6209
@HawardKetoyoMsatsi could you report on the progress on this task? Any findings?

[2022-01-18 08:20] N-thony opened #7134 "Small design bug in the Climatic Data Entry Sub Dialogue"
The Add flag fields is above the cancel button. It needs to be moved a bit on the right side.
![image](https://user-images.githubusercontent.com/68591383/149897582-a040d24d-fa85-4eb1-9d5c-13c5758200e8.png)

[2022-01-18 12:39] Ivanluv commented on #6102
@shadrackkibet  the error is not yet fixed

[2022-01-18 18:13] shadrackkibet commented on #6102
Great, could you please look into it with guidance from @lloyddewit since it is a translation based issue?

[2022-01-18 18:21] N-thony commented on #6102
@Ivanluv the error is still the error of faceting controls not remembering their previous setting? If so, I think that was fixed already.

[2022-01-19 06:33] Ivanluv commented on #6102
@N-thony could you test on you end

[2022-01-19 09:09] Cal-Insta commented on #7132
@N-thony Noted with thanks

[2022-01-19 10:40] N-thony commented on #6102
@Ivanluv I did the test again and was still not able to reproduce the error. I have also updated my master branch.
Here is the dialog on reopen
![image](https://user-images.githubusercontent.com/68591383/150114396-f620650d-c9c0-46bd-bb2c-5d9ef0c71ecf.png)

[2022-01-19 10:55] Ivanluv commented on #6102
Sorry, this works now. Am not sure what I might have missed on my previous test

[2022-01-19 10:57] #6102 closed

[2022-01-19 11:33] #7092 closed

[2022-01-19 12:18] N-thony commented on #6877
@shadrackkibet could we attack this?

[2022-01-19 13:29] Ivanluv commented on #4952
@lilyclements the object produced by
`data_book$frequency_tables(data_name="survey", x_col_names=c("village","fertgrp"), y_col_name="variety", store_results=FALSE, as_html=FALSE)` is of `typeOf` `NULL` .How can I have it passed to `mmtable` ?

[2022-01-19 17:44] shadrackkibet commented on #6877
Yes, we can do it depending on its priority. You might want to first check the R code then we can see how we can modify it.

[2022-01-20 16:41] #6672 closed

[2022-01-20 18:45] #6185 closed

[2022-01-21 02:13] derekagorhom commented on #7134
@N-thony  you can close this issue now, the pull request has been merged with the master

[2022-01-21 06:32] #7134 closed

[2022-01-21 19:10] #6851 closed

[2022-01-21 22:53] #7027 closed

[2022-01-22 06:44] rdstern opened #7146 "Change default on File > New Data Frame"
This relates to the discussion #7130
Change the dialogue so the Empty option button is first, and make it the default.
There will be further improvements suggested to be able to provide variable names, but that can come later.

[2022-01-22 06:55] rdstern opened #7147 "Add option on File > New Data Frame to provide variable names"
This follows from discussion item #7130 and need not wait until the Prepare > Rename > Multiple Option has improved.  That has open issues 3396 and 6897 that will soon (I hope be implemented)

On the File > New data Frame the default option isnow be an empty data frame.  There should be an option, either through a checkbox, or a button, to give the variable names (for each variable), plus possibly

[2022-01-22 07:06] rdstern opened #7148 "Fix small bug on data entry into reogrid"
This follows from the discussion in #7130.  We need to make some improvements to facilitate data entry in reogrid.

First you should see the problem.  It is point i) in the example described there.  Namely when you enter an item into the grid you should not be able to run a dialogue, etc, until that operation is completed.  If you click somewhere else in the grid, that that's fine.  But you can cu

[2022-01-22 07:29] rdstern opened #7149 "Implement delete in reogrid"
This relates to discussion item #7130.  See the figure and message there in item g.  It says delete will be implemented in future versions.  I propose now is the time for that future version.
It should delete items from a single cell and also allow a set of cells to be deleted.  This will usually be cells in a single variable.  Ideally any set of cells could be deleted, but I would be ok if (at le

[2022-01-22 07:50] rdstern commented on #4185
This relates to discussion #7130 and more generally on ease of use of R-Instat, where we score poorly in the review.
Another category where undo is useful is when we are making changes in reogrid, perhaps when entering a set of data.
It could then say "undo grid entry", or "undo grid change".  Perhaps undo data frame entry or data frame change would be clearer.

The only downside mentioned has bee

[2022-01-22 08:34] shadrackkibet opened #7150 "Improving Inventory plot dialog"
@N-thony these changes are very nice.  I am approving so they can be merged.
But then could you check one point on this dialogue, and also make another very minor change.
a) On the main dialogue the control on layout always returns to Default.  It doesn't remember the setting.  This was raised earlier and may be fixed automatically in the merged version.
b) A detail, but we may as well get it righ

[2022-01-22 08:40] rdstern opened #7151 "Small fix needed in Edit > Script dialogue"
Open a data frame.  Anyone will do.
Then I would like to know that size of the dataframe object.
That's simply the command `object.size(ghana) `- if ghana is the data frame name.
If you choose the data frame option and Add, then it adds the first line in the code shown below.
Then I just typed the command.
When I press Script it copies the code into the script window and it works perfectly.
But I

[2022-01-22 11:44] rdstern commented on #7073
Given @danny's message could this now be implemented in the Prepare > Column: Factor > View Labels dialogue.
a) The Menu item will change to View/Delete Labels.
b) In the dialogue the name also changes
c) There are 2 buttons at the top.  The first is View Labels/Levels and the Second is Delete Value Labels.  View is the default and this gives the dialogue as now.
d) The second is Delete.  The top

[2022-01-23 08:03] rdstern commented on #7029
@dannyparsons I would like this now to be done - and it is a good task for the team.  Are you happy (or at least ok) with my suggested placing of the dialogue?

[2022-01-24 05:56] rdstern opened #7154 "Check sub-directories when using File > Import with multiple files"
Only add this feature if it is a small job! (@dannyparsons says this is easy to do. )

A powerful feature of this dialogue is the ability to import multiple files of the same type into successive data frames.
The way this is used is fine and is as follows:
a) Go to a directory that contains these multiple files, e.g. 8 SPSS files (each xxx.sav). Click on any one of them.
![image](https://user-imag

[2022-01-24 06:10] rdstern commented on #6950
Can we get @ChrisMarsh82 view on this issue.  I don't have a big problem with the right-click on a file opening into the last instance, when R-Instat is already running.  I would prefer though (like Excel) that it loads into a new instance of R-Instat.

[2022-01-24 07:15] shadrackkibet commented on #6765
@anastasia-mbithe anything remaining on word clouds? Should we close this issue?

[2022-01-24 07:25] shadrackkibet opened #7157 "Sort out visibility of checkboxes - Use date dialog"
I am happy to approve the changes to the quarter function.  I am a bit concerned about the look of other controls in the dialogue?  Is this something that will be ok in the merged version?
![image](https://user-images.githubusercontent.com/11226469/150381910-6048381a-0ca3-4251-87a3-a4208192d153.png)

_Originally posted by @rdstern in https://github.com/africanmathsinitiative/R-Instat/issues/7137#i

[2022-01-24 07:29] anastasia-mbithe commented on #6765
@shadrackkibet Yeah we should close it.

[2022-01-24 07:32] shadrackkibet commented on #6765
Ann, thanks for checking. Could you reference the exact PR's that fixed this? Then I am happy to close it.

[2022-01-24 07:38] anastasia-mbithe commented on #6765
It was Pull Request #6805

[2022-01-24 07:43] shadrackkibet commented on #6765
What about adding geoms?

[2022-01-24 07:45] anastasia-mbithe commented on #6765
That part was done by @HawardKetoyoMsatsi

[2022-01-24 07:48] shadrackkibet commented on #6765
@HawardKetoyoMsatsi?

[2022-01-24 08:00] rdstern commented on #6877
So here are some more points on this dialogue.
a) I suggest the new options on the Single, suggested at the top, still apply.
b) Then I now propose 4 buttons at the top!  Single, Multiple as we have now Then 2 more!  The third I am calling Rename With and the 4th is Relabel With.
c) I suggest the current Multiple is doing operations that should move to the Rename With button.  The (new) Multiple w

[2022-01-24 08:12] ChrisMarsh82 commented on #6534
fixed with pull request #6859

[2022-01-24 08:35] ChrisMarsh82 commented on #7148
Tip: Try using onLeave event for the grid to force saving of the currently edited cell.

[2022-01-24 08:49] anastasia-mbithe commented on #6765
Adding geoms was PR #6785

[2022-01-24 09:31] #6765 closed

[2022-01-24 09:53] #6534 closed

[2022-01-24 10:27] #7079 closed

[2022-01-24 10:35] dannyparsons opened #7158 "Choose which output tab to save or ability to save multiple tabs from File > Save As > Save Output As"
Currently, File > Save As > Save Output As saves whichever output tab is currently open.

There should at least be an option of which tab to save, and possibly the ability to save multiple tabs at once to separate files.

[2022-01-24 11:30] #7146 closed

[2022-01-24 17:13] #7150 closed

[2022-01-24 19:41] rdstern opened #7160 "New R package rcorpora in the next release"
The information in the wiki mentions either needed in dialogues or for data.  This is a package for datasets.  We discuss it quite a lot in the new help.
@Wycklife grateful if you could do the pull request as described in the wiki [here](https://github.com/africanmathsinitiative/R-Instat/wiki/Information-for-developers)

[2022-01-24 21:58] rdstern commented on #6877
The names_with is essentially a find/replace option using the variable names.  In the examples I have seen on stack overflow it uses stringr (which @N-thony has just updated).  So, I assume (as with the Prepare > Column: Text > Find/Replace) the default would be simple search, but we would have a regex option - just as there.

@shadrackkibet Select stuff is essentially a Find, while here we have f

[2022-01-24 22:23] rdstern opened #7161 "Load and manipulate wide files in R-Instat more efficiently?"
[ZZHR62FL.zip](https://github.com/africanmathsinitiative/R-Instat/files/7929163/ZZHR62FL.zip)

This is an spss file that reads fine into R-Instat.  It is about 3 mbytes, but is 50 mbytes as an spss sav file.

It has about 6000 records (rows) and over 7000 variables (columns).

When reading into R-Instat there is initially the usual screen that it is taking some time.  Then that stops as I assume i

[2022-01-24 22:33] rdstern opened #7162 "Load wide files into R-Instat dialogues more efficiently"
Most dialogues include the standard data selector.  This loads the variables in the data set.  When the dataset is very wide this can take quite a long time.  It isn't very long - about 20 seconds - with the SPSS files given in #7161 .  According to @dannyparsons this can be done much more efficiently.  That would be good.

We might also wish to consider whether there is a maximum that we allow?

[2022-01-25 10:02] shadrackkibet commented on #7149
@derekagorhom this is the idea in R. Please try it out. If you find it difficult to make progress then let me know.

[code]

[2022-01-25 10:09] #7112 closed

[2022-01-25 10:45] #6990 closed

[2022-01-25 16:26] rdstern opened #7163 "Recent files now seem to show lots of repeats?"
I am using the recent master, but have also noticed this "feature" recently when examining various pull requests.
![image](https://user-images.githubusercontent.com/11226469/151016844-253ce2cf-5679-4f38-a754-7107f278723c.png)

I seem to have repeats in my list of recent files.  I don't find this to be a serious problem, but is this what is intended?  @ChrisMarsh82 I am not assuming you will fix, b

[2022-01-25 16:44] rdstern opened #7164 "Improve Import from Library for Instat files"
Please check this with Version 7.3.1.  It isn't so easy from the new master version.
Import from Library works pretty well for the R packages.
For the Instat files it is ok the first time.
But pressing the last dialogue is then not ideal.  This single operation has generated 2 entries in the recent files.  The most recent is the Import File dialogue.  But it has forgotten the path, so is of no use

[2022-01-25 17:07] rdstern opened #7165 "New grid has row size problem for some datasets"
The example I am using is a single row - but many other examples are possible.  The data are from [gadm](https://gadm.org/download_country.html).
This figure uses Version 0.7.2 so with the old coding for the grid.
![image](https://user-images.githubusercontent.com/11226469/151022463-8fe4870b-8135-4ed3-a774-1bba9381b11f.png)

Notice the metadata is a bit messy.  But the data grid is fine - well at

[2022-01-25 22:49] rdstern opened #7166 "Prepare > Check Data > Compare Columns"
Here is the dialogue when you first enter it.
![image](https://user-images.githubusercontent.com/11226469/151072479-ba64e9bf-1bc2-4519-92fa-9bc0612b5733.png)

This is not as odd as first appears.  The blank space at the bottom is because it is needed by the other radio button.  (By Value).
If you go to that option, and then return to By Row, then the extra space isn't there.

So it is just that on

[2022-01-26 06:35] anastasia-mbithe commented on #7076
Hello @rdstern, am still not able to reproduce the error, can you check if you still getting it from your end.

[2022-01-26 06:58] rdstern commented on #7076
Go into R-Instat and Open from Library
a) Open sleep from the mosaic package
b) Return to the last dialogue and open the other file from mosaic, called Mustang I think.
c) Use your transform and standardise the variable Price into Price1.
d) Click on Position button and put it before Price.  Press ok.  All works fine
e) Now go to your dialogue again, and use the sleep data frame
f) Use the variabl

[2022-01-26 08:46] #6871 closed

[2022-01-26 08:46] #7166 closed

[2022-01-26 15:13] dannyparsons commented on #7160
`rcorpora` doesn't store datasets in the standard way an R package does and therefore these would not be currently accessible through the Library datasets dialog.

The way I could think to include this would be in the New Data Frame dialog, sort of like we do for `wakefield`. However, I'm not sure it's that important to do this for this package.

I've removed the milestone but we may just want to

[2022-01-26 15:36] dannyparsons opened #7170 "Document how each R package is used in R-Instat"
The variable `pkgs` in  the file `instat/static/InstatObject/R/install_packages.R` lists the "top level" R packages used in R-Instat (not all the dependencies).

I suggest we add a comment for each package mentioning where and how this is used in R-Instat. I have started this here #7169. This will help us maintaining this list as we will know when packages can be removed if functionality changes.

[2022-01-26 15:37] dannyparsons commented on #7163
@Patowhiz Could probably look into this quickly.

[2022-01-26 15:39] dannyparsons commented on #7076
@Patowhiz Could also help here.

[2022-01-26 16:23] N-thony commented on #7076
But also the options under `Numeric` option are not resetting correctly to the default control when clicking on `Reset` button
![image](https://user-images.githubusercontent.com/68591383/151203382-6139a34c-4203-4971-a798-17f0cf27d07f.png)

[2022-01-26 16:24] rdstern commented on #7160
Yes, but the datasets are so attractive it would be a shame not to have them.  I have put information in the help file and there could usefully be an example in the File > New Data Frame dialogue.

[2022-01-26 16:55] rdstern commented on #7160
![image](https://user-images.githubusercontent.com/11226469/151209557-745ae05a-0f50-4b94-a370-4e8ab60829c3.png)

[2022-01-26 17:08] lilyclements commented on #4952
It cannnot be passed to `mmtable2` in it's current form. If you run this code in R, you can see the output is two tables

![image](https://user-images.githubusercontent.com/21180424/151211326-3d3ea134-b8fd-4085-bf45-fcbf33533354.png)

Out of interest, how does `frequency_tables` differ to using `summary_tables` and limiting to the frequency-type variables? (like we are in the frequency tables dial

[2022-01-26 17:10] dannyparsons commented on #7160
That's not really a tidy data frame! You can force it as a funny data frame with `data.frame` but it should be a one column data frame with the names and the description is in the metadata or removed. We could make them into nice data frames with a dialog, but that's probably more than we want to do.
I'm not sure we should be showing these in the help in this format. They are interesting lists/one

[2022-01-26 17:18] rdstern commented on #7160
Here is my favourite - which is much better than I have found elsewhere:
![image](https://user-images.githubusercontent.com/11226469/151213185-0a0b19b9-6b44-44c0-970f-b285b6b9ea17.png)

And I am quite happy that there is still some tidying to do - it is a good example to show how to tidy multiple names by getting rid of the prefix!

And there are more really nice examples.

[2022-01-26 17:25] rdstern commented on #4952
I wonder if this starts to raise the more general question of whether we have a separate Describe > Specific > Frequency and Summary tables dialogue?  Should we consider having a Tables dialogue with a frequency and Summary button at the top?

The main differences in the frequency tables is just the need for the percentages.

[2022-01-27 06:30] #7164 closed

[2022-01-27 06:52] shadrackkibet opened #7173 "Hide Drop empty Rows and All files of this type checkboxes"
- When there is no file selected i.e the path is empty these checkboxes should not be visible?

- I also wonder why the preview message - "Preview not implemented for this type of file" is displayed here. Please hide the message or we change it to something else like "No file selected"

Note: Be aware of empty space in between controls.

- Why is Ok enabled? When I click Ok error!
![image](https:/

[2022-01-27 09:50] dannyparsons opened #7174 "Update summary functions to use `naflex` package for missing value handling"
The `naflex` package is now available on CRAN https://cran.r-project.org/web/packages/naflex/index.html and implements the missing value checks we use in the summary system.

These summary functions could now be updated to use `naflex` instead of the custom code currently used.

@shadrackkibet You may want to do this?

This is non-urgent as there will be no functionality change, so not a high prio

[2022-01-27 10:27] shadrackkibet commented on #7174
@dannyparsons Congratulations on the achievement. I am really pleased we now have this package on CRAN.

Yes, I am going to do this.

[2022-01-28 08:47] #7151 closed

[2022-01-28 10:23] #7000 closed

[2022-01-29 07:09] rdstern opened #7180 "Add options to the base buttons - Script, Ok and Close?"
Currently when you press Ok it executes the dialogue and closes the dialogue.  The To Script button leaves the dialogue open.
I understand the logic of the difference.  However, I use To Script often and have always then pressed Close to then move to the script window.
Genstat has a little funny drawing pin sort of arrow at the side of the control that is upright when you want the control to leave

[2022-01-29 11:35] rdstern commented on #7180
I have had a reaction from David.
a) He is very happy with the idea for the Script and Ok buttons.
b) In this case I suggest the default be changes, to be consistent.  So the main To Script button closes and the "up arrow" would execute the operation and leave the dialogue open.
c) He is not convinced by the up-arrow.  Neither am I, so choosing a good symbol needs some discussion.  I like the idea

[2022-01-29 12:40] rdstern opened #7181 "Add sub-dialogue for topic "Builds N-way interactions for you""
This is one of the items in Bob's review.  It could be a button called Build (or Build Model) in the `Model > Fit Model > General `and probably also in the `Model > Fit Model > Fit Model Keyboard` dialogues.  I assume it could also be useful in our future caret (Machine Learning) dialogue.
This will only be doing what we can already do with the current keyboard in these dialogues.  But it will mak

[2022-01-30 06:52] rdstern commented on #7180
And a useful discussion with Danny.  Also positive about the idea.  Not keen about making the alternative action too visible.  His idea is that perhaps the button could offer a pull-down, as we have for some of the items in the toolbar?
On the Close control he was of the view that we could look at allowing access to the grids when a dialogue is open.  So let's concentrate on the Ok and To Script.

[2022-01-31 10:40] #6903 closed

[2022-01-31 14:12] N-thony commented on #7147
@rdstern I will work on this.

[2022-02-01 05:08] Patowhiz commented on #7163
I'm looking into this.

[2022-02-01 05:09] Patowhiz commented on #7076
I'm investigating this.

[2022-02-02 21:08] rdstern opened #7189 "Be able to use the Prepare > Factor > Levels/Labels dialogue for multiple variables"
Label across many variables is a specific item in Bob's review, (no 33)  and @lilyclements gives the code for this in her pull request #7127.  What isn't clear is how to add this multiple option to the dialogue.

This new version now has Select working and a selection can be these multiple variables.  So I propose that selections sometimes be included in the data selector.  We may also want the se

[2022-02-03 02:05] derekagorhom commented on #7149
@ChrisMarsh82 this issue should be added to team two To Do list

[2022-02-03 07:02] Patowhiz commented on #7076
@anastasia-mbithe @rdstern @dannyparsons  I can confirmed that this problem is on the ucrSave control. And all dialogs that use this control have the bug explained by @rdstern.

The code below is responsible for this bug. The algorithm relied on 1 flag to determine when to change the adjacent column.
@anastasia-mbithe I'll fix this in a separate PR and you may test, possibly with your PR too.

Tha

[2022-02-03 07:40] rdstern opened #7190 "More options on choosing select object"
We can now define selections of a set of variables, just as we can define filters of rows.  Each select is then given a name.  I am now terming "a select" as any selection.
They are going to have a variety of uses, including "taming" some of the wide data sets.

1. Please could we add their choice by type of data.  So we could easily select all numeric, all character, all factor, all date, all log

[2022-02-03 08:00] rdstern opened #7192 "Options for each select object"
In the latest pull request, once a select is defined it is immediately implemented.
So,
a) the grid only shows those variables
b) the selector only allows access to those variables
c) The column metadata states which variables are hidden, etc.
I would like a richer set of options.

For example, when defining a filter we have the option of making filters from a factor.  That makes a set of filters,

[2022-02-03 08:09] Patowhiz commented on #7076
Instead of making changes to the `LinkedReceiverControlValueChanged()` event handler, I decided to just reset the position variables in the data frame change event. It made more sense to me that as that was the 'original' cause of the bug.

[2022-02-03 08:15] rdstern commented on #7076
@Patowhiz great that you are mixing R-Instat with your climsoft work.
Just a check on the concept for the change you made.  When I go into a new data frame and then use a dialogue, for the first time, in that data frame, then some dialogues have their own default - often after the variable being used in the corresponding command.  Others - like Enter, don't always have such a variable, so, for the

[2022-02-03 08:37] rdstern opened #7193 "Showing Select and other features in the data and metadata."
Currently, when we have a filter in operation it is clear from the data frame, because the row labels are in red.
How will we alert users to hidden variables in the data frame?
At the same time we can also hide data frames.  How will we/do we alert users that some data frames are hidden.

This discussion also includes the visibility of the filter.  Our default is for the data on left and results o

[2022-02-03 08:43] Patowhiz commented on #7076
@rdstern thanks for the good question.

All position defaults for the dialogs have not changed.

For instance dialogs that have their defaults after the variable used will behave the same. However, if as a user I had changed the position of the column, then when I change the data frame selected, the new default will be 'end'. But now that you have asked it, I think for such dialogs the default sho

[2022-02-03 08:47] Patowhiz commented on #7076
@rdstern all defaults should now be retained. Thanks

[2022-02-03 09:37] N-thony commented on #7147
@rdstern I have implemented the first part which is the design on the option to provide variable names as show in screenshot below. At this stage, could @shadrackkibet help with R code required here? Thanks.
![image](https://user-images.githubusercontent.com/68591383/152317077-99b66802-cf95-4034-8e29-1d7cf057ec8e.png)

[2022-02-03 09:40] Patowhiz commented on #7163
@rdstern thanks for noticing this.
@dannyparsons I traced this problem to 112 of class `clsRecentFiles`, it was added in your PR #7100. The line unintentionally allowed duplicates from existing saved recent file paths. There was always a risk of this happening because I think we are using the wrong data structure for the functionality. I can easily fix this by ensuring uniqueness is always checked

[2022-02-03 09:45] Patowhiz commented on #7163
@rdstern @dannyparsons now that I'm looking into this, don't you think it's generally a good idea to **display** to windows users the file separators used in windows? Same for Mac and Linux users? It's a trivial functionality but making the software to be consistent with the platform is always recommended. This is generally a bigger task and can be done in another PR by someone else if you agree.

[2022-02-03 10:58] anastasia-mbithe commented on #7069
@shadrackkibet This was fixed in PR #7068

[2022-02-03 11:00] #7069 closed

[2022-02-03 11:01] anastasia-mbithe commented on #6791
@shadrackkibet This was fixed in PR #6840

[2022-02-03 11:03] #6791 closed

[2022-02-03 11:24] shadrackkibet commented on #7029
@EstherNjeriLiberatta could you report on your progress on this task?

[2022-02-03 11:25] shadrackkibet commented on #7073
@HawardKetoyoMsatsi this task was assigned to you 10 days ago. Can we get an update on the progress here?

[2022-02-03 11:26] #7157 closed

[2022-02-03 12:39] Patowhiz commented on #7095
@rdstern @dannyparsons this an interesting problem. Perhaps @shadrackkibet might have an explanation for this.
Below are my findings after coping just 5 lines of the file that you sent to me.

When you use the copy data frame dialog, below is the command that gets sent to R.

[code]

The above code looks valid, however the problem is encountered in the escaped double quotes, for some reasons the u

[2022-02-03 22:58] rachelkg opened #7196 "Copy and Copy Special"
Hello @Patowhiz,
I am currently working on the Help file and I am not sure what to do about the edit menu. I see that it has copy and copy special but when i try to use these to copy values between columns or data frames it doesn't do anything. Also the copy special dialog just has checkbox 1 and check box 2 without any further information.

Please could you clarify what these features do and how

[2022-02-03 23:04] rachelkg opened #7197 "Compare Columns"
Hello @dannyparsons, I wasnt sure who this should be for so hope that you could assign it?

On the Compare Columns dialog I have two issues.

1. Roger says that the Use unique names for comparisons checkbox needs to be removed.

![2022-02-03_14-10-27](https://user-images.githubusercontent.com/85707390/152443591-1e2cd533-56ce-480d-801a-32461492f149.png)

2. I am trying to write the Help and i do no

[2022-02-03 23:08] rachelkg opened #7198 "Duplicate Column Factor, Ordered Factor and Numeric options mixed up"
Hello @Patowhiz,

I have notices that the Factor Options and Numeric Options are mixed up on the Duplicate column dialog. As in, when the Factor or Ordered radio button is selected the Numeric options show up but when the Numeric radio button is checked the Factor options show up.  Would you be able to resolve this or assign someone who can please?

Thanks,

Rachel

![2022-02-03_15-06-20](https://

[2022-02-04 00:06] Patowhiz commented on #7198
@rachelkg I'm looking into this.

[2022-02-04 00:08] Patowhiz commented on #7196
@rachelkg let me look into this then get back to you.

[2022-02-04 06:17] rdstern opened #7199 "Fix error or errors in Prepare > Numeric > Regular Sequence"
I first found this nasty bug with an odd data set, but I can now generate it quite easily.  I am suggesting @Patowhiz to look reasonably generally at the code.
This is straight after starting R-Instat.  I open the standard survey data and use the Regular Sequence dialogue.  I put 40 as shown below, so the sequence needs to be truncated.

![image](https://user-images.githubusercontent.com/11226469/

[2022-02-04 11:23] dannyparsons commented on #6996
@Patowhiz This is a much more urgent issue than most others at the moment. Can you please prioritise this one?

[2022-02-04 13:45] Patowhiz commented on #6996
@dannyparsons yes I'm on it.

[2022-02-05 06:23] rdstern opened #7202 "Improve the Position control to allow for selects"
You notice I am using the noun here.  "a select" is to columns what "a filter" is to rows.  And a feature of R-Instat is that they are objects in the data book.
When a select is active you only see those variables in the grid and in the data selector.  Many dialogues have a Position control.  That dictates the position of further column(s).
Two options in the Position control are `Start` and `End`

[2022-02-06 06:50] shadrackkibet commented on #7202
@rdstern I suggest we implement this in a similar way we insert rows after/before when a filter is in operation. Your suggestion is doable but brings another complexity when you remove a selection. What happens with those columns inserted into a selection? Do we merge the selection with the whole data frame?

Do we want to encourage users to create a copy of the selection or do we want users to me

[2022-02-06 07:07] rdstern commented on #7202
In your comment above, line 1, I think you mean select, when you say filter.
If I have understood your hesitation correctly I suggest it can be simpler than you are making it.  Of course we can choose to put the select variables into a new data frame.  Then there isn't a problem, because there isn't a select there.
When the select is applied I suggest simply that the selected variables always (or

[2022-02-06 07:49] shadrackkibet commented on #7202
This is what I mean in line 1.

- Load Survey
- Filter to only remain with Village = "SABEY"
- Insert two empty rows at the end
- These two rows are not visible because the filter is in operation.
- Now remove the filter-  You see the rows that have been inserted!

If we implement select in a similar way then it is consistent with filters.

Your suggestion above implies select object is now update

[2022-02-06 08:01] rdstern commented on #7202
ok, thanks.
I still feel that a major use of select will be to analyse parts of a wide datasets.  Currently, when we have more than 30 variables and produce a new one at the end, I find it annoying that I don't see it.  Usually I would like to.  And the many commands that add more columns shows this is a pretty common task.  (Unlike adding rows, which I rarely do.)  I have no problem with adding a

[2022-02-06 20:50] rdstern opened #7204 "Implement skimr in Describe > Two Variable > Summarise Dialogue"
The proposed changes should wait for implementation until the current work by @Ivanluv is merged.  But the possible changes can be designed and investigated while waiting.  It may be made redundant, after discussions with Danny,  by the similar suggested work in #7213.  Not sure yet, so keeping both open for now and with Ivan suggested for both.

This is to implement the skim function from the ski

[2022-02-07 09:57] #7198 closed

[2022-02-07 10:11] rdstern commented on #7192
I suggest we are close to a "quick win" on the use of the data selector when there are many variables.
In a way it is there already, namely when we have a lot of variables we can use Data Option, within the data frame, and there just define a select, e.g. all variables that start with "ab".  Then, returning to the dialogue, that is all that will be shown.

So that is working now!  It will improve

[2022-02-07 10:24] rdstern opened #7205 "Three small improvements in File > Import from Library"
@shadrackkibet these are pretty trivial - well 2 are, and the 3rd is optional, and only if you agree?
1. The menu item is now Import from Library.  So please change the title in the dialogue from `Open Dataset from Library` to` Import from Library`.
2. There is a second Help button on the right of the dialogue, just below the list of files.  Change this from `Help` to `R Help`, so it is distinguis

[2022-02-07 10:37] rdstern opened #7206 "Add 2 new geoms and the moderndive package"
The moderndive package includes the geoms geom_parallel_slopes and geom_categorical_model.  @HawardKetoyoMsatsi could you please add them to the ggplot geoms and also request this package in the next version of R-Instat.  For now they don't need to be added to a dialogue.  I suggest later that categorical will be added to Model > Two Variable and possibly 3 variable (for facets?). The parallel geo

[2022-02-07 13:24] dannyparsons commented on #7197
1. Yes that option can be removed from the dialog and the argument removed from the function. @africanmathsinitiative/developers Could someone take this up?

2. This sorts the values for the display in the output window, but it doesn't change the logical column, because it doesn't affect what values are being checked. See the differences in the order of the values in two outputs below with sorted

[2022-02-07 15:38] ChrisMarsh82 commented on #6950
I agree that opening a new instance when using the right click seems like the more standard way of doing things and therefore the least confusing to users.

[2022-02-07 16:37] rdstern commented on #6950
@N-thony so great if we could reinstate this feature.  Then I can have the test version running at the same time as a released version, etc.

[2022-02-08 07:07] shadrackkibet commented on #7199
Assigning this @derekagorhom. He recently worked on this dialog, Derick could you first try to replicate the bug? then investigate the source of the bug - which line of code caused this? I would like you to report on your findings here.

[2022-02-08 07:49] derekagorhom commented on #7199
Thank you @shadrackkibet , i will look into it

[2022-02-08 10:43] Patowhiz commented on #7199
@shadrackkibet thanks for assigning this to @derekagorhom. @derekagorhom I had already looked at this, I hope my findings below will save your time in fixing the bug.

@rdstern I agree that the 'Ok'  button should not be enabled when the 'To' input is greater than the data frame length. That's a
check that should be added.

@rdstern I looked into your error, the error is thrown at the `clsRScript`

[2022-02-08 11:12] lloyddewit commented on #7199
@Patowhiz Thanks for the analysis above.
`RScript` is only intended to work with valid R script. If invalid R is passed to `RScript`, then the behaviour is undefined. `RScript` does not guarantee to detect all invalid R, but if does detect something invalid then it throws an exception.
I think this is the correct behaviour.

[2022-02-08 11:37] Patowhiz commented on #7199
@lloyddewit thanks for the response. I agree that's the correct behavior.

_More out of scope question below_

For detected invalid R like in this case, should it have given a hint about the `each` parameter value missing? As a developer using the library, I would expect the class to give me a hint  about the invalid R and possibly point out the exact invalid `token` I guess that may not have been

[2022-02-08 12:06] derekagorhom commented on #7199
To fix the bug i changed the original code to
 ucrNudRepeatValues.SetParameter(New RParameter(" ", 1))
and it is working fine now.

[2022-02-08 12:10] Patowhiz commented on #7199
@derekagorhom that's interesting. I wonder why. And did the dialog produce the correct R script? I presume the `each `parameter name needs to be shown as part of the script.

[2022-02-08 12:12] derekagorhom commented on #7199
Yes it works now. it didnt send the previous error roger was encountering

[2022-02-08 12:17] derekagorhom commented on #7199
sorry @Patowhiz can you give your skype ID so that we can have a meeting

[2022-02-08 12:18] rdstern commented on #7199
@derekagorhom sounds promising.  Are you going to do a pull request>

[2022-02-08 12:19] Patowhiz commented on #7199
@derekagorhom probably, I would guess that if you change the `each` parameter value, the script produced should be invalid. You now have a control that is writing a parameter value without a parameter name to the general script, in principle the overall script should be invalid.

[2022-02-08 12:22] derekagorhom commented on #7199
yes i just realized it, i did not change the repeat value so it seem to work fine. thanks for the correction

[2022-02-08 12:22] Patowhiz commented on #7199
@derekagorhom I can email you my skype id. thanks.

[2022-02-08 12:23] derekagorhom commented on #7199
agorhomderrick@gmail.com

[2022-02-08 14:26] Patowhiz commented on #7199
@rdstern after discussing with @derekagorhom we found what was causing the invalid bug, it is line 182 of `dlgRegularSequence`;
`ucrNudRepeatValues.AddAdditionalCodeParameterPair(clsSeqDateFunction, ucrNudRepeatValues.GetParameter(), iAdditionalPairNo:=1)`

![param_error](https://user-images.githubusercontent.com/21179007/153000634-d401cb40-e13c-4390-9800-3f4ed6c2eb48.PNG)

As shown above, the par

[2022-02-08 21:49] rdstern commented on #7202
@shadrackkibet I have just had a good discussion with @dannyparsons that included this feature on selects when new variables are added.  He had an excellent addition.  When you define a select - called roger, say, then add a variable while the select is in operation.  It doesn't change roger, but it adds a new select, called roger_.  And roger_ expands to include the new variable.  Now you are usi

[2022-02-09 01:34] HawardKetoyoMsatsi commented on #7073
@shadrackkibet I have a few other issues am currently working on but I will do it alongside the issues in my bucket. The current status of this issue is I have not yet started.

[2022-02-09 07:10] rdstern opened #7212 "Add ggpairs to the Describe > Two Variables > Graphs dialogue"
I suggest this is a clear "low-hanging" fruit.

This addition will be a new radio button at the top called Pairs.  I don't then have a good name for what is there now, which could be perhaps "By".

In the current dialogue there is a multi0ple receiver, plus a single receiver.  And the multiple rece3iver can only have variables of one type.
 The Pairs just looks at variables 2 at a time.  So, there

[2022-02-09 07:27] rdstern opened #7213 "Check and maybe include skim (from skimr) in Describe > Two Variable > Summarise"
the skim function is advertised as a tidy replacement for the summary function (used in the Describe > One Variable > Summarise dialogue.

It can (like summary) cope with any type of data.  I am thinking here that - for a simple life - we have 2 buttons at the top with Skim as the first and By as the second.  (I am hoping for a better name than By.

The receivers are the same, namely multiple and

[2022-02-09 08:10] #7163 closed

[2022-02-09 08:58] rdstern opened #7215 "New packages for Version 0.7.5"
As mentioned in various Discussions it is now well timed to incorporate ideas from the tidymodels suite of packages as well as tidydata (that we use in Prepare)
I mention the packages we will need together with the dialogues.  By 0.7.5 I anticipate that work is likely to have started with all of them.
a) `modeldata` - a package of data sets, used by the tidymodels suite.
b)` infer` -   Will be use

[2022-02-09 10:03] shadrackkibet commented on #7205
I agree with all these and can be done by an intern. @Gioche6 do you want to give it a try?

[2022-02-09 10:45] Gioche6 commented on #7205
@shadrackkibet , I'll take this up. Thanks

[2022-02-09 11:23] #6950 closed

[2022-02-09 14:58] dannyparsons commented on #7199
@Patowhiz @derekagorhom Thanks for looking into this.

1. Parameters being shared by controls.
`.GetParameter()` is intended to be used if two controls need to refer to the same parameter (by reference). So this is in the intended behaviour. If not, you should use `New RParameter("each", 1)`. This is safer, so unless it's certain that the parameters should always be identical, use `New RParameter`

[2022-02-09 15:40] dannyparsons commented on #7095
@Patowhiz Very interesting, good spot to find this issue.

I had a little look at this.

If you copy that text from your example then run `clipr::read_clip()` you get:

[code]

So that's how you don't get this issue reading directly from the clipboard. (I guess that the `"` have to be removed to work in R objects, not too worried about losing them).

So I think what we need to do in VB before pass

[2022-02-09 15:50] dannyparsons commented on #7029
I don't particularly like it in Prepare > Data Frame because I don't think users will find it easily, but if this is considered a more "dangerous" operation maybe that isn't too bad. It would be nice if there was a way to link to it from the Merge dialog somehow - we can do that in the help at least.

[2022-02-09 15:52] dannyparsons commented on #4952
That sounds sensible.

[2022-02-09 16:14] dannyparsons commented on #7165
I think the solution we would want is to display complex column types in a more concise way.

We could consider the format used by `tibble` i.e. `<named list [3]>`

[code]

or like the RStudio data viewer which cuts off the characters at a certain point:

![image](https://user-images.githubusercontent.com/11214914/153240870-9a255203-25c9-401c-bb29-f667f272437a.png)

Our grid is more like the RStud

[2022-02-09 16:24] dannyparsons commented on #7162
Currently the columns for the selector are requested from R each time the dialog is loaded and each time the receiver is changed - because it needs to retrieve metadata properties to get the correct set of columns.

This is obviously very inefficient. We could instead be storing the column metadata in VB for the selector to query, instead of querying R. The metadata then only needs to be updated f

[2022-02-09 16:25] dannyparsons commented on #6996
@Patowhiz Please keep this at the top of your R-Instat to do list.

[2022-02-09 16:28] dannyparsons commented on #7162
I'll tag @Patowhiz instead of assigning it to him yet. I think we should use the assign when it's a clear task for someone to take up.

[2022-02-09 16:28] dannyparsons commented on #7161
Tagging @Patowhiz instead of assinging.

[2022-02-09 16:33] dannyparsons commented on #7154
Yes, this just needs the `recursive = TRUE` option in `list.files` in R.

If the "Files found" number is done in VB, I guess there is a way to do this too. Otherwise, this could be done via R (if it isn't already).

[2022-02-09 19:58] N-thony commented on #7154
Looking into this.

[2022-02-10 09:43] Patowhiz commented on #7199
@dannyparsons thanks for the response and the interesting R article (it's about time I read R in detail).

@derekagorhom please fix the bug based on @dannyparsons response.

@derekagorhom  also note that, you will fix the R commands produced (the `each` parameter is only for `rep`) and also simply used the `seq` function for dates.

[2022-02-10 09:51] shadrackkibet commented on #7204
@Ivanluv are you working on this?

[2022-02-10 09:54] shadrackkibet commented on #7029
@EstherNjeriLiberatta?

[2022-02-10 09:57] Ivanluv commented on #7204
@shadrackkibet not yet.

[2022-02-10 10:23] EstherNjeriLiberatta commented on #7029
@shadrackkibet I've not yet started on this. I'm still working on issue #6905. Thanks

[2022-02-10 10:30] shadrackkibet commented on #7204
@derekagorhom do you want to try out this task?

[2022-02-10 10:39] rdstern commented on #7204
@shadrackkibet and @derekagorhom I suggest starting with the related #7213 describes the possible task better.  I am pretty convinced about 2 variable!

[2022-02-10 10:57] derekagorhom commented on #7204
yes please

[2022-02-10 11:05] lloyddewit commented on #7199
I created  [issue #6 in the RScript repo](https://github.com/lloyddewit/RScript/issues/6).

[2022-02-10 11:12] rdstern commented on #7204
@derekagorhom let me suggest how you start and then report on what you are trying.
It claims to be like the R summary command, but better.  So first (either in RStudio or R-Instat) you should understand what it offers.
a) Like summary it should be ok with any data type.  So ok with numeric, factor, character, logical, date.
b) In addition, the results should be tidy - in the output window
c) This

[2022-02-10 11:41] derekagorhom commented on #7204
Thank you @rdstern  for the explanation and recommendations. I will begin using Skimr package in Rstudio first to have a better understanding of how it works, after that i will give my report

[2022-02-10 11:57] Patowhiz commented on #6996
@dannyparsons @ChrisMarsh82 I have been looking at this `annoying` issue and trying to understand the why.
@ChrisMarsh82 the reason as to why changing the `Focus` doesn't work it's because of the `ActiveControl`. When Ok is clicked, the `ActiveControl` in the `frmMain` is the `SplitContainer`. My follow up shows that calling `Focus` on a control that is not `ActiveControl` fails (returns false).

[2022-02-10 12:19] Patowhiz commented on #6996
@dannyparsons @ChrisMarsh82 option 2 sample demonstration code is in draft PR #7219.
I can also do a draft PR for option 1, if that's desired.

[2022-02-10 16:51] rdstern opened #7221 "Width of initial row in reogrid?"
Here is a data frame.  It has 3 million rows.  But the initial (zero column) has a fixed width, so you only see the first 5 numbers.
My main question is whether we can change the width of this initial column?

Danny's view is that it will be easy if it is a property of reogrid.  Otherwise it will be tricky or impossible.  I only want the change if it is easy.
While there could you also che3ck whet

[2022-02-10 17:22] Patowhiz commented on #7196
@rachelkg thanks for raising this issue. It's now related to issue #6579, #6071. I will activate these features as soon as @rdstern and @dannyparsons respond to the following.

@rdstern @dannyparsons  A lot has changed in terms of the current grid implementations. I noticed all the copy is done at the VB.NET level, simply by calling `anyGrid.CurrentWorksheet.Copy()`, which means copy operations ar

[2022-02-10 17:54] Patowhiz commented on #5991
@rdstern @dannyparsons, Racheal's issue on copy has reminded me of this issue too.
We now have different **Paste** options under the **Edit** menu as shown in the screenshot below. I think the **Paste New Data Frame** dialog should be combined with the **Paste New Columns** dialog  just like @dannyparsons has suggested in the [comment](https://github.com/africanmathsinitiative/R-Instat/issues/5991

[2022-02-10 19:09] rachelkg opened #7222 "fastDummies package not included in 7.4"
Hello @shadrackkibet

In using 7.4 I have noticed that fastDummies has not been loaded so needs to be added. Sorry I don't have a picture of the error message as I installed the package and now I don't get it anymore, but this is a picture of the dialog which causes it to come up in 7.4.

Let me know if you need any more information.

Thanks,

Rachel

![2022-02-10_11-08-17](https://user-images.git

[2022-02-10 21:22] Patowhiz commented on #7199
@rdstern I found another inconsistency when I looked at the dialog further.

I loaded the dialog for the first time and clicked Ok, it produces the following command;

[code]

Then I returned to the dialog and just changed the repeat values from say 1 to 2, it produces the following command and threw the shown error. Also the preview was not shown;

`rep(x=data_book$get_columns_from_data(data_name

[2022-02-11 03:56] derekagorhom commented on #7199
Yes @Patowhiz i am encountering the same error you have, even when i undo the commented code in line 140 it still gives me that error.

[2022-02-11 04:26] derekagorhom commented on #7199
i did alittle digging and found out where the inconsistency is coming from, it happens to be in `data_object_R6.R`
on` line 669 to 673`

[code]

[2022-02-11 07:54] shadrackkibet commented on #7222
@rachelkg good catch! this is because we missed adding this package [here](https://github.com/africanmathsinitiative/R-Instat/issues/6854) for the release. I will go ahead and add it now.

@africanmathsinitiative/developers always make sure any new packages are added into the branch that added features into R-Instat. How to add a new package is explained [here](https://github.com/africanmathsiniti

[2022-02-11 08:44] dannyparsons commented on #5991
How about just changing **Paste Special** to **Paste Columns**? They are quite different things so I don't mind them being separate dialogs, especially as the menu is short.

[2022-02-11 08:56] Patowhiz commented on #5991
@dannyparsons great, what about calling it **Paste New Columns**?

[2022-02-11 08:58] shadrackkibet commented on #7061
@mmulahvictor is this something you can give a try?

[2022-02-11 08:58] dannyparsons commented on #5991
Yes, sounds good.

[2022-02-11 09:31] Patowhiz commented on #7199
@dannyparsons yes it's at the dialog level. I just wanted to know from @rdstern  if the different R commands produced was intentional, the code had suggested it was intentional From his and your response, @derekagorhom and I can now fix both bugs and refactor the code responsible for this.

[2022-02-11 09:36] Patowhiz commented on #6996
@dannyparsons yes I think it can be generalised.

That bit is what I have to think about.
Have a look at PR #7219.  We only need this done at `frmMain` level, not in any other form

[2022-02-11 09:45] mmulahvictor commented on #7061
Yes @shadrackkibet I will do this.

[2022-02-11 09:49] dannyparsons commented on #6996
Yes, but even if it's just in this file, if it has to be done everywhere a dialog is opened I'm not so keen, that's prone to mistakes and a lot of repeated code.

Is it possible to do this, maybe in ucrBase, either before the parent form loads or after it closes? Might not be possible from within a control, but that's the sort of place we want this kind of thing to be.

[2022-02-11 11:30] Patowhiz commented on #7095
@dannyparsons thanks, that's what I had also had in mind.

@lloyddewit here is another bug at the `RScript `level. This is found when you use the **Paste New Data Frame** dialog, it's under the **Edit** menu. For some reason, the tokens fail to be retrieved correctly. Please note the R command is valid. And for that reason, the dialog as it is, cannot be used. You can also test it.

**Preview Outp

[2022-02-11 12:12] rdstern opened #7225 "A simple task that might be tricky in R-Instat?"
[R GUI Comparison_ranks.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/8048309/R.GUI.Comparison_ranks.xlsx)

I suggest this is a simple task, which is a good example to explain why those who are good at R may not want to encourage people to learn R through a GUI.  With R you can do what's needed.  With a GUI you are always restricted (or you restrict yourself) to remain within thos

[2022-02-11 12:22] #7222 closed

[2022-02-12 07:25] rdstern commented on #7064
@chris, this isn't urgent, but I raise it again, so it isn't forgotten.  I assume this will be quite an easy change?  Could it be done by @Patowhiz?  I was assuming it had to involve you?

[2022-02-12 09:20] rdstern commented on #7225
I have now looked [here ](https://stackoverflow.com/questions/23530731/ranking-rows-in-r)on stackoverflow and it gives 2 obvious R solutions.
a) Use ranks directly on the rows.
b) Swap the orientation to give a "tidy" approach.

Good to see with these data.  Then I would like to do each of them in R-Instat.
a) Through the row statistics - either adding rank or (preferably) having it as a user-defi

[2022-02-13 09:27] rdstern opened #7227 "Add a new dialogue possibly called Random Split using rsample?"
From what I understand of what's needed this is sufficiently different to anything we have, that it is a new dialogue.
a) We have subset, which uses our filter system, but has no element of randomness.  It leads to a single new data frame.
b) We have random subset, which takes a single variable and produces multiple subsets of that variable in a new data frame.
This dialogue will keep all the vari

[2022-02-13 16:45] rdstern opened #7228 "Do we want to keep an entry for Statistical Disclosure Control (sdcMico package)?"
This is a package for anonymisation of data.  The package is sdcMicro and we used to have it as an entry under Prepare > Check Data, just before the Anonymise ID column.

It has now gone from the R-Instat menu, but is still an entry in the Help file.  I wonder if it might be needed in the future, for example to anonymise parenting data?  It takes the anonymisation process further, for example if t

[2022-02-14 09:24] rdstern commented on #7180
Here is the Start control in Visual Studio
![image](https://user-images.githubusercontent.com/11226469/153832812-6ab6464c-beec-461e-944a-d07aa5623225.png)

I assume we will add the down triangle to the Ok and To Script buttons.  So:
a) The default for To Script is to close the dialogue - it is then consistent with the Ok button.
b) Each has this down arrow
c) The 2 main options are Close and Keep.

[2022-02-14 09:36] #7206 closed

[2022-02-14 11:34] lloyddewit commented on #7095
@Patowhiz Thanks for providing the extra information on the bug.
In `strScript`, there is a call to the `read_clip_tbl` function. This function sets the `x` parameter to a string. The string contains a newline character. I cannot see if it as Lf, Cr or CrLf.
In R, is it legal to put a line break in a literal string like this?
In R, if we want to specify a literal string containing a new line, is t

[2022-02-14 11:41] rdstern opened #7229 "Improve the Prepare > Column: Factor > Factor Data Frame dialogue"
I have long felt we need this dialogue and now I know why!  There may be more reasons, but one is so we can tidy data efficiently.  I have been looking at the Open Refine package - that we link to.  It is designed to tidy messy data.
One thing it does is to be able to tidy a messy factor variable - and at the factor, rather than at the data level.  We can almost do that and we will with the suppor

[2022-02-14 11:52] lloyddewit commented on #7180
@rdstern
I personally find 'Keep' and 'Keep-Keep' confusing for the user.
Would it be simpler to have just 2 options?
- Close after execution
- Stay open after execution

(2nd option has the functionality you described for 'keep-keep')

[2022-02-14 11:58] #6913 closed

[2022-02-14 12:01] #7075 closed

[2022-02-14 12:20] dannyparsons commented on #7180
I thought the functionality would be different.

There would just be one item in the dropdown for "Ok and keep". If you click this it runs the command and keeps the dialog open. If you just click Ok it runs the command and closes the dialog.

I don't see these as options that you select and then click again. They are just clicks directly, hence I didn't see a need for more than one extra button, u

[2022-02-14 12:22] dannyparsons commented on #7095
This is valid in R:
[code]
It is the equivalent of:

`x <- "fjkdsjkflsdkl\nfklsdjfklsdf\nfsdk"`

where `\n` is for new line

[2022-02-14 12:23] dannyparsons commented on #7160
A developer can add it by following the steps here https://github.com/africanmathsinitiative/R-Instat/wiki/Information-for-developers#adding-a-new-r-package-to-r-instat

[2022-02-14 12:28] dannyparsons commented on #7199
No that was deliberate. The user doesn't need to worry about the sign, they just specify the step and the dialog works out if it should be positive or negative.

This is exactly the reason why we have R-Instat! So that the user interface can be simple even if the R code is complex. We choose the options which are logical to the user and then translate this into R code. If this doesn't match the ar

[2022-02-14 12:40] dannyparsons commented on #7196
There's two different copy functionalities.

1. Copy to the clipboard
2. Create a copy of a data frame in the data book

We probably should be doing the copy to clipboard at the R level. For example, if I copy a number column, if I just copy from the grid I only get 2 d.p. whereas if I copy from the R data frame, I get the exact data. However, I'm not sure we need lots of options on the copy to cl

[2022-02-14 13:00] rdstern commented on #4356
The above is one of a number of improvements to the Prepare > Column: Factor > Contrasts dialogue that would be useful.  Also:
a) With the default of the Treatment/Control could there be a Base label and up-down that goes from 1 up to the number of levels of the factor.  It is only visible when there is a factor chosen, and for this option.
b) The grid is visible all the time and does not resize w

[2022-02-14 13:08] Patowhiz commented on #7095
@dannyparsons thanks for the informative feedback too.
@lloyddewit I'm not sure about your question exactly, probably we can look into that in a call together?
@lloyddewit what I do know is, if the overall script wasn't valid, the preview would not work, because the preview simply sends the entire R script to R via 'R-Instat', and the output of that command is shown in the grid.
The entire string

[2022-02-14 13:26] Patowhiz commented on #7199
@rdstern you had a different view from @dannyparsons above [comment](https://github.com/africanmathsinitiative/R-Instat/issues/7199#issuecomment-1039030195) from our last online call. PR #7231 has those views. Let me know your new thoughts too once you have a look at it. Thanks.

[2022-02-14 14:20] dannyparsons commented on #7199
I don't think it's a big difference, but to me "In steps of" is always a positive number, and would make most sense from a user perspective. It's sensible to use negative numbers for the `by` parameter as that makes the R code efficient. But I don't want to require users to know that they need to enter a negative number in this field, or change things automatically. I think keeping it positive sim

[2022-02-14 16:25] rdstern commented on #7199
@Patowhiz I am happy to accept @dannyparsons arguments.  And, in general, I am really happy with his inputs to R-Instat.  We are getting into a very good place with the software!

[2022-02-14 17:17] lloyddewit commented on #7076
@rdstern
From PR #7188 :

![image](https://user-images.githubusercontent.com/57253949/153913397-0512c15a-e20e-43af-81df-3444d98ece03.png)

Can this issue also be closed?

[2022-02-14 17:28] rdstern commented on #7076
I assume it can be closed, but am getting a bit confused.  @Patowhiz can you confirm we can close?

[2022-02-14 17:36] rdstern commented on #7160
@dannyparsons that sounds good.  At the top of this - now long - sequence I asked whether @Wycklife could do that.  This all seems a bit like "There's a hole in my bucket" song.
So, @Wycklife could you please follow the instructions for the `rcorpora` package to be added.  At the same time - or perhaps a different pull request could you also arrange for the `mlbench` package to be added.  That's a

[2022-02-14 18:41] dannyparsons commented on #7160
Sounds good. And just to mention that in general if a new package is added for a particular dialog then that can (and should) be done in the same PR as the dialog is in. That should help make sure we don't miss packages out as they get added at the same time as software changes.

For packages for datasets they can be added in their own PRs.

[2022-02-14 18:46] lloyddewit commented on #7095
@dannyparsons @Patowhiz
I think you are both right, I don't think RScript copes with this newlines in literal strings. I raised an issue in the RScript repo. Let me investigate.

[2022-02-14 18:59] Patowhiz commented on #7076
@rdstern @lloyddewitI fixed the original issue bug at the position control level.
@rdstern @anastasia-mbithe please note that my fix didn't fix the other reset problems outline by @N-thony in the [comment](https://github.com/africanmathsinitiative/R-Instat/issues/7076#issuecomment-1022364507) above. @anastasia-mbithe I think your PR #7188 was aiming to fix that? If that is already fixed, @N-thony

[2022-02-15 06:05] rdstern commented on #7180
Ok, let's follow @dannyparsons.
a) There is a little down-arrow, as shown above, for the `Ok button` and also the `To Script`.
b) the main To Script button now closes the dialogue (consistent with Ok)
c) The down arrow (for now) has a single option, namely `Ok and Keep` and `To Script and Keep`.

I hope this can be done soon, because we are capturing many screen for the help.  This is only minor,

[2022-02-15 07:22] N-thony commented on #7076
@Patowhiz I think PR #7188 was closed and not merged. I have tested the new master changes but the problem is still there.

[2022-02-15 08:12] rdstern opened #7232 "Complete the Experiments > Define > On-Station dialogue"
This is currently quite neat except it doesn't seem to do anything.
It currently shows the different metadata and you choose 1 property to colour.
But it doesn't colour yet!  Instead it adds a Colour property to the metadata and gives it a different number for each different value of the property you choose.

There is an option to `Remove colour`.  This keeps the Colour property, but changes the c

[2022-02-15 08:25] Wycklife commented on #7160
@rdstern I already took this up. I will have a pull request created in the course of the week.

[2022-02-15 08:30] Patowhiz commented on #6996
@dannyparsons I agree.

I couldn't find a way to generalise option 2.  The only way was to wrap any `showDialog()` call. And that meant going through all lines calling that function. Big change and probably not your preference.

Doing option 1 proved too hacky, I had to loop through all the main panel controls up to the last one while calling `SendKeys.Send("{TAB}"`, and I could still see its plat

[2022-02-15 08:52] Patowhiz commented on #7180
@dannyparsons let me know if you want this to be in my priority list for R-Instat.

[2022-02-15 08:56] Patowhiz commented on #7221
@rdstern could you email or share here the dataset? Would be helpful for debugging and testing. Thanks.

[2022-02-15 09:26] shadrackkibet commented on #7197
@mmulahvictor should we be closing this? did you fully fix it in the linked PR?

Thanks for clarifying.

[2022-02-15 09:35] shadrackkibet commented on #7204
@derekagorhom any progress? Any suggestions for the dialog? You may want to have a design on paper just to paint a picture of how it looks like.

[2022-02-15 09:42] mmulahvictor commented on #7197
@shadrackkibet I fixed this PR and you can close it.

[2022-02-15 10:07] shadrackkibet commented on #7197
@rachelkg we think this has been sorted out. Danny also gave an example to illustrate Sort.

Please reopen if you are of a different opinion.

[2022-02-15 10:07] #7197 closed

[2022-02-15 10:47] rdstern commented on #7221
@Patowhiz There are plenty.  For example File > Open from Library > Datasets (default) and choose USJudgeRatings.  This has just 4 letters, but if you use Prepare > Data Frame > Row Numbers/Names and you see the information is much wider.

Numerically it only shows 5 numbers, so not complete when there are data rows more than 100000.

[2022-02-15 12:10] derekagorhom commented on #7204
Hello @shadrackkibet i was still working on some other pull request so i have not began any design on this package yet. but i will get a design available soon

[2022-02-15 14:44] Patowhiz commented on #7095
@lloyddewit the command below was recognised by the `Rscript `as **valid**. It has same new line string literals . And it's very similar, I think the token bug has something to do with the way the function is passed as a parameter. Not sure, I thought this information could help. I got this command from the Paste New Columns dialog that is in my PR #7224. Thanks.

[code]

[2022-02-15 15:52] Patowhiz commented on #7196
@rdstern @dannyparsons about the copy to clipboard, one clarifications please.
For the data viewer, if I have data with 2000 rows but only 1000 rows are visible, when I copy a column, should R-Instat just copy the 1000 visible rows or all 2000 rows?

Copying the visible rows is easy to implement in a general way for all grids. Further more it helps with preventing R-Instat from 'breaking' should a

[2022-02-15 21:31] rdstern opened #7235 "More options in the select dialogue?"
@shadrack the select is coming on very nicely.  Once the current improvements are merged then #7193 is still there for discussion.
Here are some more suggestions:
a) With the filter, once one is selected (in the main filter dialogue) the formula is visible and I find that can be useful.  Could the select formula also be visible?
b) The matches option uses regex.  So, when matches is chosen could t

[2022-02-15 22:23] rdstern commented on #6877
@N-thony
I suggest the changes needed for the `replace_with `are simpler than I thought.
You may wish to merge the current work first, or include these options as you proceed.
a) The dialogue is fine as it is. Perhaps swap the order of the 2 options there now.
b) There are perhaps just 2 further options to add.  The first is a further radio button called `Abbreviate`.  This simply use the abbrevia

[2022-02-16 10:33] #7160 closed

[2022-02-16 10:55] N-thony commented on #6877
@rdstern I'm adding this in PR #7208, so that the review will be done once.

[2022-02-16 11:43] rdstern opened #7236 "A simple addition to the Prepare > Column: Numeric > Transform dialogue"
@shadrackkibet I am assuming this is work for @anastasia-mbithe because it is "her" dialogue - and it is looking very good now.
But please check that this is a useful addition.  And possibly you should quickly do it, because it may take longer to explain!

We need to be able to do simple logical calculations - and this dialogue is the place to do it!
So please add another radio button on the first

[2022-02-16 12:58] mmulahvictor commented on #7227
@shadrackkibet I will try this one out.

[2022-02-16 16:14] rdstern opened #7237 "Two new user controls for the Prepare > Data Frame > Rename dialogue"
These need discussion.  The Prepare > Data Frame > Rename dialogue, Multiple option has a Data Frame control.  Just the data Frame, no Variables to select.  Instead it selects all of them to put the names into a grid.
1) This is automatic.  I suggest a Fill button would be useful.  Then the grid is initially empty, and you first choose the data frame and then click Fill.  So it is like the Add but

[2022-02-16 19:11] #6996 closed

[2022-02-17 06:52] shadrackkibet commented on #7227
@mmulahvictor what about #7061?

[2022-02-17 06:53] shadrackkibet commented on #7165
@Vitalis95 could you have a quick look into this? Let me know if this is something you can try with my support.

[2022-02-17 07:05] #7076 closed

[2022-02-17 07:35] shadrackkibet commented on #7236
@anastasia-mbithe could you work on the designer part of this? Please add the following;
- A radio button named "Logical"
- When clicked it open up a non-editable Combobox and a Textbox

Let me know when you are done. Thanks

[2022-02-17 09:46] derekagorhom commented on #7204
i made this dialogue based on the results i have from R studio which gave output like this
![Screenshot skimr](https://user-images.githubusercontent.com/76208189/154449404-ac55ce82-927b-41be-9b69-12e239b39ffa.png)

[2022-02-17 09:50] shadrackkibet commented on #5381
@anastasia-mbithe could you check this? Looks like a minor problem we could fix. First, try to replicate it.

[2022-02-17 10:06] Vitalis95 commented on #7165
![image](https://user-images.githubusercontent.com/89011415/154451403-be018822-ad43-4f66-bdc5-7364cb886f68.png)
@shadrackkibet can we have a call?  I am a bit confused about the r code
I am also getting the above error while importing the data from https://gadm.org/download_country.html to R-Instat

[2022-02-17 10:37] fran2or opened #7239 "Moving Column Structure Dialogue from the Prepare Menu to Options by Context Menu (Soon to be Experiments Menu)"
**Is your feature request related to a problem? Please describe.**

There has been a discussion between @rdstern, @volloholic and I about moving the column structure dialogue (Prepare > Data Frame > Column Structure)  to the current Options by Context Menu (Options by Context Menu > Define Options by Context Data ) which will soon be changing to the Experiments Menu (Experiments > Define Experimen

[2022-02-17 10:40] shadrackkibet commented on #7165
Importing Shapefiles is currently done using "Climatic>File>Import and Tidy Shapefile".

- I think we should add this dialog to the main File menu.
- We might also consider detecting the file type and then loading this dialog when using - Import Dataset dialog. The same can be done for `NetCDF` files

[2022-02-17 11:18] rdstern opened #7240 "Improve the Prepare > Column: Numeric > Row Statistics dialogue"
This started small, but has grown in what I consider to be a most satisfactory way.  Most changes are simple, but I hope @lilyclements can confirm my suggestions for the new R code and also provide (at least) some simple examples.

Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/154447025-badc6f7c-2a42-4a11-a6c9-0cff6b9c5262.png)

Here is the corresponding

[2022-02-17 11:34] rdstern commented on #1770
I am reopening this issue, because it is just about the only reference I can find to [Statistical Disclosure Control ](https://cran.r-project.org/web/packages/sdcMicro/vignettes/sdc_guidelines.pdf)(SDC).

This uses the SDCMicro package.  I think it used to be installed, but it isn't now.  There is still an entry in the Help file, which is where I found it.
It is an important topic, related to the

[2022-02-17 11:58] rdstern commented on #7205
Thanks @Gioche6 .  I have a further query, in addition to these 3 tasks - of course.
My example is the library janeaustenr, which has 6 data sets.
In the dialogue we can currently only import one file at a time.  Could we implement the facility to import multiple files.  So implementing <ctrl> click and <shift> click to be able to select multiple files, and then import them into separate data fram

[2022-02-17 12:06] shadrackkibet commented on #1770
As far as I can we do not have anything existing on this. We have to start from scratch.

[2022-02-17 12:10] lilyclements opened #7241 "Applying changes to multiple columns"
Continuing the conversation from PR #7172

**I commented:**

@rdstern set the task to allow relabelling/relevelling multiple variables at the same time. Currently, the current levels/labels code (and dialog therefore) only does one variable at a time.

In R, this can be achieved with the `across` function. E.g.

[code]

**@rdstern replied**
"[...] I discussed with @volloholic and he has nailed it!

[2022-02-17 12:11] lilyclements commented on #7241
@rdstern - great! The solution in (d) sounds excellent, and I will look into implementing it in R-Instat!

In terms of how I think it will go, I assume we still use the `across` function, but work across the selected group of columns. For example, if the function were `fct_recode` then it would be something like this in R:

[code]

We would just need to apply this to our R functions instead of fun

[2022-02-17 12:16] rdstern commented on #1770
Shame - thanks

[2022-02-17 12:16] lilyclements commented on #7241
Realised @rdstern has written an issue on this! I will respond there - apologies!

[2022-02-17 12:20] lilyclements commented on #7189
From PR #7127, @rdstern commented:

We don't need another control, or another option on the Data Options sub-dialogue. We already select subsets of variables and give them a name! In the data selector we also allow those names when appropriate. They are the groups of variables. Beautiful!"

My response:
@rdstern - great! The solution in (d) sounds excellent, and I will look into implementing it in

[2022-02-17 12:20] #7241 closed

[2022-02-17 12:46] mmulahvictor commented on #7227
@shadrackkibet I will still do it.

[2022-02-17 13:50] EstherNjeriLiberatta commented on #7029
@shadrackkibet could we have a skype call over this?

[2022-02-17 13:52] anastasia-mbithe commented on #4356
@shadrackkibet @dannyparsons @rdstern,
Am confused that this dialog is only giving the codes and nothing more. I have tried the different contrasts set and am getting the codes only
![Screenshot (62)](https://user-images.githubusercontent.com/89011047/154494249-51d17a8a-2270-4a0a-ad61-334e80cef087.png)

And since the function is customized, adding a new parameter i.e. 'include_contrasts' as in the

[2022-02-17 17:51] N-thony commented on #7173
@shadrackkibet could @mmulahvictor try this out? I can support him if needed once @rdstern agreed?
@mmulahvictor what do you think?

[2022-02-17 21:04] rdstern commented on #7227
It is an exciting one.  But, before y6ou start I would like @shadrackkibet and maybe also @volloholic or @lilyclements to confirm its need in this way.

[2022-02-17 21:18] rdstern commented on #7204
Hi @derekagorhom that is a good start.  I am thinking of it added to this dialogue:
![image](https://user-images.githubusercontent.com/11226469/154570969-ada5f149-1311-4d6a-a2c2-cdf81f6d7169.png)

So, at the top there would be skim, as you have, and the second option would be Customised (as in one-variable)
With your skim option there would still be the multiple and the single, but the othe3r opti

[2022-02-18 03:35] EstherNjeriLiberatta commented on #7240
@africanmathsinitiative/developers I'm taking this up.

[2022-02-18 07:07] shadrackkibet commented on #7029
Sure, anytime.

[2022-02-18 07:21] shadrackkibet commented on #7227
@mmulahvictor could you first translate this into a sketch on paper?

[2022-02-18 07:22] mmulahvictor commented on #7173
@N-thony I can try this out.

[2022-02-18 09:07] derekagorhom commented on #7204
Thank you @rdstern,

I will work on the other data types and send the result here.

[2022-02-18 09:27] rdstern commented on #7204
Thanks.  If you look at our one-variable summarise you will see that any data type is ok for that function.  But, of course it can't give the same summary statistics.  That's easy6 there, because the results are not in a tidy shape.  So, I wqould expect most of these summary values here to be NA - but let's see.

[2022-02-20 17:53] rdstern commented on #1770
I have been looking at sdcMicro, and there may be a very low-hanging fruit there.  It includes a menu-driven shiny front end that is accessible from R-Instat.  So, I suggest that all we need is to be able to send data to that front-end, from R-Instat, and then describe in the help, and probably a video, how to use it.
The first step, when using the front-end, by default, which is easy from R-Insta

[2022-02-21 07:00] N-thony opened #7246 "Delete cells seems to not work on the Linux grid"
We recently added delete cells on the windows grid version and it seems to work fine. I have tried to delete cells on the Linux grid version and it seems to not work with both `delete keyboard` or `Delete Cell(s)` from the menu context.
I found that deleting with `delete keyboard` nothing is happening
![image](https://user-images.githubusercontent.com/68591383/154904560-a81710ac-bc3b-4a9c-80f5-dc1

[2022-02-21 07:42] derekagorhom commented on #7204
@rdstern
i used `ghana_tamale_saltpond1%>% dplyr::group_by(month_abbr) %>% skim()` from the skim package and had the these results for Numeric, Character and Logical.

Please can you have a look and confirm if that is what you expected the package to provide

![Character](https://user-images.githubusercontent.com/76208189/154909789-9f242fad-d0f0-4486-96fc-91134b70eae4.png)
![logical](https://user-

[2022-02-21 07:48] derekagorhom commented on #7204
for factors i used `chickwts %>% dplyr::group_by(weight) %>% skim()` and had this result

![Screenshot (397)](https://user-images.githubusercontent.com/76208189/154910821-36f3cfd9-e2ed-4eee-a201-8224ea79c97f.png)

[2022-02-21 07:52] derekagorhom commented on #7246
Ok @N-thony  i have a look at it

[2022-02-21 13:08] N-thony commented on #7239
@rdstern how about this? Could @Vitalis95 try this? Thanks.

[2022-02-21 13:11] rdstern commented on #7239
That affects frmmain, so need to check with @shadrackkibet first.  We are trying to be efficient about changes to frmmain.

[2022-02-21 13:19] Vitalis95 commented on #7239
@shadrackkibet , can I take up this task? It affects frmmain.

[2022-02-21 13:38] shadrackkibet commented on #7239
Sure. Please work on it.

[2022-02-21 14:17] Vitalis95 commented on #7239
@fran2or @rdstern ,   There exists a Define options By Context Data dialog at the Options by Context Menu > Define Options by Context Data where am suppose to add the column structure dialogue from prepare menu. Can we add it to Options by Context > Prepare?
![image](https://user-images.githubusercontent.com/89011415/154970076-c7d5c812-3009-4b82-85f5-d73575925a8c.png)

![image](https://user-images

[2022-02-22 05:53] rdstern opened #7249 "Recoding a factor is problematic when it is labelled. So is Prepare > Data Frame > Replace Values"
@N-thony this may also relate to your task of being able to delete labels #7073.
The example I have is the Sadore data, in Climatic > Niger - worksheet Sadore leaving 4 lines.
Make Mois into a factor.  Then perhaps in the Levels/Labels dialogue add Levels.  This adds value labels to the variable
The column named Mois has 14 levels.  Levels 1 and 14 are Janvier and janvier.  Levels 2 and 13 are fev

[2022-02-22 08:26] anastasia-mbithe commented on #5381
@shadrackkibet, Am not sure if the error is from the mapping dialog, since it does not use the get_column_labels function, which clearly doesn't pass the data name.
@rdstern am curious of the other dialog that you mentioned as "the second dialog" I can investigate it too alongside the mapping dialog.

[2022-02-22 22:00] rdstern commented on #7204
@derekagorhom I think it may be time you tried something in R-Instat - which  can run R commands.
I notice the presentations above are not particularly great, but hope for better things.  The main point is not what happens with variables of different types, but what happens when you consider them together.
So how are the results displayed in a tidy way when you analyse combinations of a factor, da

[2022-02-23 10:48] Patowhiz commented on #7095
@lloyddewit here is another bug that @rdstern found when using climatic boxplot dialog in the current training. I think (very lightly) it has something to do with the `Rscript` not recognizing `>` and probably also `<` operators. @dannyparsons says it's a big issue(if so).

**The dialog.** Works fine until when you check the "Omit Below" option
![boxplot_dialog](https://user-images.githubuserconte

[2022-02-23 11:41] dannyparsons commented on #7095
Yes this is an important bug. I don't think it's an issue with `>` and `<` not being supported in general as there are other places this is in use and seems to work. I would suggest putting this in a separate issue so it can be addressed sooner.

[2022-02-23 14:14] fran2or commented on #7239
@Vitalis95 I think what we want is to have the **column structure** and the current **define options by context data** dialogs under the same sub menu and not under different sub menus as proposed in your earlier question to us. I hope the current proposed fix #7250  implements it as discussed in the discussion #6879 . As shown in the snippet below,  the sub menu is  **Define** , should contain _O

[2022-02-23 16:55] dannyparsons commented on #7095
I get the same bug when typing this into the calculator: `ifelse(year_2 > 30, 1, 0)`. The error message seems to be slightly different depending on whether there are spaces around the `>`.
Also note that you don't get the error if you just use `year_2 > 30`.

So possibly it's caused by having an inequality inside a function that's the issue?

[2022-02-23 17:04] dannyparsons opened #7254 "Convert 2 digit year to 4 digits"
This would be useful to add in the (Climatic) Conversions dialog. It's fairly simple to do but not completely trivial for users to know how to do in the calculator.

It just needs a one line function. There should be an option of a base year to know what the year is i.e. if the base year is 1930 then anything above 30 has 19 added to the front of it and anything below has 20 added.

The reverse is

[2022-02-24 05:38] rdstern commented on #7095
I followed @dannyparsons message and tried another ifelse statement in the calculator - very simple one - and got the same message.  I assume I am correct that this has become serious.  I have used both the rainfall boxplots (with the condition) in the past - without a problem - and also the ifelse.  What has changed recently that could have caused this?

[2022-02-25 08:52] N-thony commented on #7205
@Gioche6 I think for the multiple selection, it may be simple to implement than I thought, I have tried to run
`data_book$import_data(data_tables=list(attenu=attenu, attitude = attitude, airquality = airquality))` and you can see the result in the screenshot below, and it loads correctly the three datasets with their corresponding names.
So, have a look at the VB code, and try it, let me know if y

[2022-02-25 19:23] rdstern commented on #5381
As you are looking at this, I feel the mapping system is flaky, so it would be good to look and to try different examples.  I tried using it with Ghana data and found a small series of problems.  I will try to reproduce them over the weekend to be able to share and discuss.
And I also found the serious problem that is with Version 0.7.4 and causes a real crash.  This is the same as was reported ea

[2022-02-26 14:59] #7239 closed

[2022-02-27 12:31] rdstern commented on #7240
@EstherNjeriLiberatta this is good progress.
a) Could you move the radio buttons over a bit to the left, so that the user defined - where you type - can be somewhat wider.
b) After an error - try typing a function Esther - which doesn't exist in R I think! Then it gives a reasonable error message.  But it also then gives a developer error every time I go back into the dialogue.  After you are in,

[2022-02-27 12:49] rdstern commented on #7240
This is for reference and uses the matrixStats package.  This is already loaded into R-Instat (I wonder where we use it?)
It already produces all we need for the Multiple (I think!).  There:
a) I am particularly keen on ranks
b) Range seems to produce 2 variables, i.e. Min and Max
c) A third obvious option is quantiles (when we have more than 1.  They all work already, from a slight adaptation of

[2022-02-28 06:21] rdstern commented on #7202
@shadrackkibet I have temporarily added the bug label here, because I think many commands don't work when a select is in operation.  This probably applies to any dialogue that creates a new variable?
I noticed first with the Prepare > Column: Numeric > Row Summaries.  Now the example below is from Prepare > Column: Calculator.  I used the survey data and selected the numeric variables, then did yi

[2022-02-28 08:13] Vitalis95 commented on #7025
@rdstern @shadrackkibet, can I try this out? Also, where can get the sunshine dataset so that  I will use it to test. Thanks.

[2022-02-28 12:27] #7190 closed

[2022-03-01 12:18] lilyclements commented on #7240
@rdstern first, apologies that it has taken more than a few days to get to this.

1. I agree that we should use `rowwise()` instead of `apply`. It is consistent with our tidyverse codes, and I think it is easier to understand too - especially if using user defined functions.

One difference is that `apply` creates a vector whereas `rowwise` works with a data frame to produce a data frame.

Using y

[2022-03-01 12:32] lilyclements commented on #7240
@rdstern just saw your comment on ranks, so ignore my third point in the above message. I checked and we don’t directly yet use any functions from the matrixStats package, it’s just loaded in. I’m not sure why!

[2022-03-01 15:43] lilyclements opened #7257 "Update the correlations dialog to use the newer corrr package"
A new `corrr` package is discussed on issue #6121. So here, I will outline potential ideas to edit in the "Multivariate > Correlations" dialog.

We currently have two options on the Correlation dialog - "Two Columns" and "Multiple Columns".

**I'll start with "Multiple Columns":**

"Multiple Columns" currently runs `cor`, which gives a correlation matrix between the specified variables.

I suggest

[2022-03-01 16:03] lilyclements opened #7258 "Update correlations in the Describe > Two Variables > Summarise dialog to use the newer corrr package"
A new corrr package is discussed on issue https://github.com/africanmathsinitiative/R-Instat/issues/6121. So here, I will outline potential ideas to edit in the "Describe > Two Variables > Summarise" dialog.

Currently if both receivers contain a numerical variable, correlation summaries are performed using the `data_book$cor` function.

The `correlate` function in the `corrr` package can be an al

[2022-03-01 21:39] rdstern commented on #7258
@lilyclements I am also liking the code you are suggesting.
@Ivanluv you will anyway be working on that dialogue, for the tabulation part, so could you take this on?
Is corrr already one of the R-Instat packages?  If not, then could it also be added through this pull request?

[2022-03-01 21:46] rdstern commented on #7257
@lilyclements this all sounds good.  The one additional item I wonder about is the saving of the correlations in a new data frame?  I thought that was one of the reasons it was part of the tidyverse stuff, and that would be nice to add, if I have understood correctly.
I am also keen to include the correlation dialogue in the Describe > Two Variables dialogues as well as having it here on multivari

[2022-03-01 22:17] lilyclements commented on #7257
Yes it saves as a tibble. It’s very easy to then saving it as a new data frame. We can then add another checkbox then to “Save as data frame”?
I’ve written up on correlation in Describe > Two Variables in issue #7259

[2022-03-01 22:22] rdstern commented on #7257
Sounds good.

I saw #7258, which does have correlations, when both types are numeric as part of Describe > Two Variables > Summarise.  In addition I am thinking of also including the whole correlations dialogue, separately as Describe > Two Variables > Correlations.

[2022-03-01 22:49] rdstern opened #7259 "Incorporate Describe > Three Variables > dialogues into the current Two Variables dialogues"
I propose that we change the Describe > Two Variables > dialogues into `Describe > Two/Three Variables >` dialogues, and then delete the Three Variables menu.
a) We currently have 4 items in the Three Variables menu.  The Summarise and Graph are disabled, so there are only two that have entries.  These are Frequencies and Pivot Table.  In each case the 3 variable is just a slightly more complicate

[2022-03-02 07:01] rdstern opened #7260 "Further improve Two Variables Graph"
@Ivanluv you have added the Pairs option to this dialogue.  Now to improve the (already good) By option.
a) I suggest the title could become `Two Plus Variables Graph`  can we improve on that?
b) Fix the bug, that the categories (e.g. numeric by numeric don't always display.  To see this, start (in the survey data) with 2 sets of factors, e.g. variety, village, by fertgrp.  There is now no group-b

[2022-03-02 07:40] derekagorhom commented on #7204
Yes @rdstern  sorry for being absent for awhile, i had some discussions with Ivan and i will be adding the button to the current two variable summarise dialogue

[2022-03-02 07:44] derekagorhom commented on #7204
our problem was that skim separates the results of the data types and also because of how it is coded
eg `skim(iris,.......)`
 there was no need for `the summary textbox`, `option textbox `and` the second variable`

[2022-03-02 09:29] rdstern opened #7262 "Further improve the Describe > Two Variable Summarise dialogue"
This work may need to wait for the skimr implementation on the same dialogue, though the proposed changes are separate.
a) There is (I think) already an issue for @Ivanluv to improve the option categorical by categorical, using the new tabulation facilities.  This will produce a series of separate 2-way tables, with one for each entry in the multiple receiver.
b) So we could consider sets of 3-way

[2022-03-02 10:02] rdstern commented on #7204
What about:

[code]
That's in the [vignette](https://cran.r-project.org/web/packages/skimr/vignettes/skimr.html)

I assume, for 2 variables you would include that factor, and possibly also allow for a second factor?

[2022-03-02 10:07] #6883 closed

[2022-03-02 10:29] derekagorhom commented on #7204
![customize](https://user-images.githubusercontent.com/76208189/156344296-f94e7d22-98da-4357-a2dc-02ddd74e63c5.png)

This is for the original 2 Variable summarise

[2022-03-02 10:30] derekagorhom commented on #7204
![skim](https://user-images.githubusercontent.com/76208189/156344467-f1625aef-a644-4555-99e5-cadb7bea9b1c.png)

This is how the skim dialogue would look it... but we add other items to it

[2022-03-02 10:58] derekagorhom commented on #7204
![skimNew](https://user-images.githubusercontent.com/76208189/156348888-b90dfc88-9434-411d-a5d5-d010e87214ae.png)

Would this be ok for the Skim dialogue?

[2022-03-02 13:37] #7236 closed

[2022-03-02 13:51] lilyclements commented on #7257
@rdstern sounds good - would the correlations dialog in Describe > Two Variables > Correlation only have the option to compare variables against one other variable?

[2022-03-02 14:44] lilyclements commented on #7227
If "Sample" is selected then `initial_split` is the base function
* `data` is the data in the data frame
* `prop` is the proportion given in the fraction nud (default `0.75`)
* `strata` is default `NULL`. If ucrChkStratifyingFactor is checked, then `strata` is the variables in the receiver
* `breaks` could be included if we allow numeric variables in the strata receiver.
* `pool` is the number giv

[2022-03-02 14:46] lilyclements commented on #7225
This is interesting. Is this now linked to adding ranks in issue #7240?

[2022-03-02 15:44] rdstern commented on #7225
It is exactly that.  And I ma very relieved how easy it is - at least with the MatrixStats package - and it works already with the current row statistics dialogue!

[2022-03-02 15:46] rdstern commented on #7257
@lilyclements no, I was thinking the full correlations dialogue.  It is (like other dialogues in this menu still just looking at the columns in pairs.

[2022-03-02 16:18] rdstern commented on #7257
I quite liked this [article on corrr](https://drsimonj.svbtle.com/exploring-correlations-in-r-with-corrr).  This seemed to show that fashion() gave blanks for the diagonal, which looked clear.  Do we want the diagonal to have a pull-down with the values NA (default, 1, and blank), where blank becomes ""?
Do we want to add rearrange?  I really like the idea of being able to see the correlations in

[2022-03-02 17:23] lilyclements commented on #7240
@rdstern yes we can call the proposed "More pull-down" functions. The `rowRanks` can also look as outlined above. @EstherNjeriLiberatta this should be ready now to make more changes using `rowwise()` and the `matrixStats` functions.

[2022-03-02 22:09] EstherNjeriLiberatta commented on #7240
Thank you @lilyclements

[2022-03-03 12:08] rdstern commented on #7260
@Ivanluv this is already a good start.
But (of course) I have now found another bug!  I tried 2 categorical variables, namely village by fertgrp.  This works fine for either barchart or mosaic.  Great.  But when I add another variable into the multiple receiver, I get an error when I do a mosaic chart.  Perhaps it can't do facets in the same way?  Could you investigate.

I wonder also whether ther

[2022-03-04 08:09] rdstern opened #7269 "Disturbing bug in climate data entry in Version 0.7.4"
@N-thony and @lloyddewit this is an innocent looking bug.
![image](https://user-images.githubusercontent.com/11226469/156723695-af74185d-6bca-4460-9c7d-8c88d8b467b0.png)

The control for the station is not visible.  I hope I am wrong to be disturbed, but it is another oddity that has been introduced in Version 0.7.4.  Here is 0.7.3:
![image](https://user-images.githubusercontent.com/11226469/15672

[2022-03-04 10:06] mmulahvictor commented on #7060
@ChrisMarsh82 The processed dataset from the evapotranspiration package cannot be read when opened from R-Instat because it is a list of different objects with different length. I have discussed with @shadrackkibet and @rdstern about this problem and there is no clear solution to this for there is a possibility of other datasets not opening also. @rdstern has suggested that we should not concentra

[2022-03-05 08:56] #7269 closed

[2022-03-05 11:59] rdstern commented on #7249
Having discussed with @dannyparsons he suggested this should be a simple (he said 30 minutes, but they may be Danny minutes) task for @shadrackkibet!  If it isn't quick, then perhaps bring @volloholic or @dannyparsons back in, first.
a) If @N-thony still needs help on the function to delete labels in the View Data dialogue - pull request #7247, then this is probably the same function that will be

[2022-03-05 14:07] shadrackkibet opened #7273 "Navigating the grid using keyboard arrows"
In Excel, you can always navigate around the cells using keyboard arrows. I think this is a nice to have feature in the data view window.
![image](https://user-images.githubusercontent.com/26301973/156886777-9ca28297-928e-467d-8ffe-92d4ea0ba5f2.png)

[2022-03-06 09:07] rdstern commented on #7249
@shadrackkibet that's great it is easy to remove labels.  Now hope that @N-thony can use that to complete #7247 easily.  It is a great relief that this isn't too difficult.  I have been badgering Danny for ages on it!
But I would like to be a bit cleverer than that if possible.  Ideally the problem isn't when you make it numeric again.  Here is an example - still with the survey data - where I mig

[2022-03-06 13:50] shadrackkibet commented on #7148
![image](https://user-images.githubusercontent.com/26301973/156926031-cc64f20b-578d-4637-8686-846ea0f921d5.png)
@Gioche6 on **Tuesday, Feb 1, 2022**, via Skype you reported this in Progress.

Could you report on the progress here? I can't see a PR on this task. What else have you been working on?

[2022-03-06 15:42] rdstern opened #7275 "Sort out labelling in factor (and possibly in character?) variables"
When I have a labelled factor variable I can edit the levels and labels with the right-click Levels/Labels (same as Prepare > Factor >Levels/Labels dialogue.  This runs the databook set_factor_levels function e.g.

[code]
This works fine.  I can edit either the levels, or the labels, and this works fine.  I can also make the labels not unique.  But I can't make the levels not-unique.  If the facto

[2022-03-07 06:37] rdstern commented on #7273
Agreed - didn't realise it didn't!

[2022-03-07 16:30] N-thony opened #7277 "Update the dataview info when column selection is applied"
We recently adjusted the dataview info to be able to fit the layout panel when the filter is applied, but now we need the same thing when column selection is applied

![image](https://user-images.githubusercontent.com/68591383/157076047-213b772f-9492-4924-b826-342ff40b5e6a.png)

[2022-03-08 08:03] rdstern opened #7279 "Corrections and an oddity in the climatic data entry dialogue"
I have been using the Climatic > Tidy and Examine > Daily Data Entry dialogue as an editing facility to correct daily data for 2 stations in Tajikistan.  This is following the quality control, that showed a number of oddities.  For example there were 97 occasions with tmax <= tmin.  I now need to correct the data.  I am unable to get access to the paper records, and need to see the odd days in con

[2022-03-08 09:33] Ivanluv commented on #7260
@shadrackkibet  I am getting the following error after adding the labels
![image](https://user-images.githubusercontent.com/45068931/157208503-8aef6bd2-2646-4143-96cc-a63901357922.png)
![image](https://user-images.githubusercontent.com/45068931/157208716-48435dcc-63fd-4ef6-a5de-65925147333d.png)
![image](https://user-images.githubusercontent.com/45068931/157208779-a5a4d94a-8d57-4cf3-811d-64e7b79c9

[2022-03-08 15:47] Vitalis95 commented on #7257
@lilyclements  @rdstern  I have run the following code in R before implementing it in VB, when I add the diagonal parameter it will not recognize the decimal parameter from the fashion function.  But when I remove the diagonal parameter it specify the number of decimals according to the  decimals you have specified in the parameter.

[code]
![image](https://user-images.githubusercontent.com/890114

[2022-03-08 16:55] lilyclements commented on #7257
@Vitalis95 interesting spot. How about if the diagonal is a numerical value, like 1? Perhaps it’s because “Hello” makes it into a character variable then the decimal places do not work correctly.

[2022-03-09 07:51] #7154 closed

[2022-03-09 08:13] N-thony commented on #7275
@rdstern @shadrackkibet I will try this out as we discussed ASAP PR #7208 will be merged. Thanks.

[2022-03-09 09:49] N-thony opened #7280 "Small bug on the Climatic > Check Data > Inventory Plot Dialogue"
**Describe the bug**
This bug seems to be there for long, it occurs under Missing option by checking `Summary, Details and Save Details` checkboxes.
I tried this with the `Dodoma` dataset

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Climatic > Check Data > Inventory Plot Dialogue
2. Click on Missing option
3. Then add any variable you wish, in my case I have added `rain`
4. Then ch

[2022-03-09 11:54] Ivanluv commented on #7260
@shadrack is the facetting of more than two stacked column possible this way i.e `ggplot2::facet_wrap(facets=~variable, scales="free_x")` the full code is as below

[code]

[2022-03-09 13:50] EstherNjeriLiberatta commented on #7280
@N-thony I'll work on this.

[2022-03-09 13:51] N-thony commented on #7280
I found that the problem was coming from `.SetPrefix()` parameter name  of the `Save Details` control  which is `climatic_details`. To fix this we simply need to change the `.SetPrefix()` to something like `details` maybe.

I suggest also to hide the `ucrSaveDetails` when `Details` checkbox is unchecked since we are only saving the details. @rdstern do you agree?

[2022-03-09 16:59] rdstern commented on #7095
@lloyddewit I checked this issue with @shadrackkibet as I understand it has come from the work done by you and Ivan, for David.  Ivan said he hoped you could look at this one.  Shadrack said it would be possible to copy out the offending lines instead, but clearly better to make the correction.

[2022-03-09 18:59] lloyddewit commented on #7095
Message from @dannyparsons on 14 Feb:

Just to say this issue is great to raise, but I would put it as non-urgent. This isn't a critical bug at all, and pasting is a rare feature in R-Instat. I know you have limited time, so I would suggest focusing on the OpenCDMS Python work and other more urgent R-Instat tasks, unless it's very quick. I wouldn't see any problem with this waiting until March bef

[2022-03-10 04:34] shadrackkibet commented on #7260
Try as discussed over Skype.

[2022-03-10 09:08] Vitalis95 commented on #7257
@lilyclements the value to set the diagonal to is typically numeric or NA, I will add a tooltip on the  display diagonal textbox explaining that.
The `na_print` parameter from the fashion function replaces `diagonal=NA` with the value you have specified in `na_print`
Also, it replaces upper triangular generated by the `shave` function with value you have specified in `na_print`  .The triangular sh

[2022-03-10 09:14] Vitalis95 commented on #7257
If `na_print=" "` blank , it will not replace the upper triangular and `diagonal=NA`

[2022-03-10 09:40] lilyclements commented on #7257
@Vitalis95 I’m suggesting we have a little test in R to confirm whether the issue indeed occurs for strings and doesn’t occur for numerical values.
Can try running the code in R with the diagonal set as a numeric value, and then see if the decimal places argument works?
Also try setting it as a numerical value with several decimal places (say, 3) and then try the decimal place argument to reduce i

[2022-03-10 12:39] #7229 closed

[2022-03-10 12:56] geoo89 opened #7285 "Lingering menus"
**Describe the bug**
When clicking on a menu and moving the mouse away, the menu lingers.

**To Reproduce**

- Click on any menu.
- Move the mouse cursor out of the menu (e.g. below).
- The menu remains open

**Expected behaviour**
The menu should disappear as soon as I move the mouse out of its area.

**Screenshots**
![image](https://user-images.githubusercontent.com/678199/157665701-8d9e91fc-a2f

[2022-03-10 13:01] geoo89 opened #7286 "File > Export > Export Dataset UI issues"
**Steps to reproduce**
- File > Export > Export Dataset
- Pick destination file ('Save As' field)
- Select data frame(s) to export
- After selecting data frame, the filename is removed from the destination ('Save As') field.

**Expected behaviour**
Filename should remain there.

![image](https://user-images.githubusercontent.com/678199/157667018-ab7f399e-7854-43a6-ab54-a947a8170fae.png)

**Details

[2022-03-10 13:04] geoo89 opened #7287 "Common keyboard shortcuts"
**Is your feature request related to a problem? Please describe.**
Some keyboard shortcut that are common in other software are not supported.

**Describe the solution you'd like**
Ctrl+W -- File > Close databook
Ctrl+Shift+S -- File > Save As > Save Data As
Ctrl+E -- File > Export > Export Dataset

[2022-03-10 13:13] geoo89 opened #7288 "Default selected sheet in dialog is different from currently displayed sheet"
**Describe the bug**
With many common data operations that refer to a specific data frame, a different data frame than the currently shown one is selected by default. This can be confusing.

**To Reproduce**
- Open two sheets (say, A and B)
- Select A to be displayed
- Prepare > Data Frame > Filter
- If A is selected in the filter dialog, cancel. If B is selected in the filter dialog, this is an i

[2022-03-10 13:15] geoo89 opened #7289 "Open multiple"
**Is your feature request related to a problem? Please describe.**
When data is stored e.g. in multiple csv files rather than as multiple sheets in a single xlsx file, importing is tedious.

**Describe the solution you'd like**
Allow to open multiple files in one go.
This could be limited to csv files, or if extended to multi-sheet formats, all sheets could be available in the sheet picker to choo

[2022-03-10 13:20] geoo89 opened #7290 "Bulk-merge"
**Is your feature request related to a problem? Please describe.**
Merge more than just two sheets.
Assume you have a data set consisting of many sheets, each indexed by e.g. a user ID, and each containing one (or a few) columns of data (e.g. test scores from different tests). Currently, in order to merge these, it has to be done as a sequence of pairwise joins.

**Describe the solution you'd like

[2022-03-10 14:47] #7067 closed

[2022-03-11 09:30] rdstern opened #7293 "Correct the convert to numeric popup dialogue"
I hope @N-thony can do this, but it may need input from @shadrackkibet as well as a check that my suggestions below are correct.

When a factor (possibly also a labelled character) is converted to numeric, then there is usually a popup if the factor contains a mix of numeric and non-numeric values.  But if all is non-numeric, and it is unlabelled, then R-Instat currently simply uses the ordinal va

[2022-03-11 12:32] rdstern commented on #6634
I am re-opening this issue to combine the 2 dialogues for the pivot tables.
a) I suggest adapting the current dialogue that is under 3 variables.
b) Once that is accepted and merged, then it will replace the pivot-table dialogue under 2 variables.  Then we will be deleting the Describe > Three Variables menu.
c) The current label `Variable` becomes a checkbox saying `Numeric Variable (Optional):`

[2022-03-11 12:57] rdstern commented on #4951
@Gioche6 I am re-opening this issue so we combine the two dialogues and then get rid of the Describe > Three Variables menu.
My main suggestion is that this should be a 3-stage process.  First we improve and test the Three Variable dialogue.
Second we will move it the the current place occupied by the Two Variable Frequencies.
Then we delete the Three Variable menu item (assuming the same has been

[2022-03-12 07:01] rdstern opened #7294 "Bug in boxplots and problem in summary plot sub-dialogue"
In the boxplots the means may be connected by a line.
![image](https://user-images.githubusercontent.com/11226469/158006211-56b1b499-5b7a-4746-b52e-41809ebe5f21.png)

The code below may enable the bug to be found easily?  I used diamonds dataset first, and you can see that the variable clarity is still in the commands below, though I am now using our simple survey data.

[code]

There is another a

[2022-03-12 08:56] rdstern opened #7295 "Reopening the lollipop option on the bar chart dialogue"
@N-thony I am re-opening this, because I can't get a good lollipop chart.  This is work you did earlier.  And I suggest these are needed, because they are used to analyse the R-Instat evaluation data.  You may wish to work with one of the interns, because there is a general feature also to correct.
Lollipop first.  I'll sort out some data and add it here.  There seem to be 2 problems - at least!
a