[2019-03-20 06:59] rdstern opened #5262 "Data receiver in View dialogue does not clear"
I used the View Data dialogue to put some data (12 rows - monthly data) into the output Window.
These columns were rainfall totals and also number of rain days.  I first displayed the set of rainfall totals.
![image](https://user-images.githubusercontent.com/11226469/54664020-f6799580-4ada-11e9-96c5-180bb879214f.png)

I then returned to the dialogue.  I **cleared the receiver** (right-click) then

[2019-03-20 07:20] dannyparsons commented on #5261
I think we can also make the box wider.

[2019-03-20 07:22] dannyparsons commented on #5235
For the filter I think I agree we don't need the first level checked by default, because it's not more common than other levels. That could be raised in a new issue.

[2019-03-20 07:22] #5235 closed

[2019-03-20 12:21] rdstern opened #5263 "Add a Use Model halfway dialogue"
This might be a single Use Model dialogue or a Use Model/Object dialogue, or there might later be 2 separate dialogues.

As it is a halfway dialogue it will be useful to something that users can try and assess whether improvements are needed.  It needs to cater for the following situations:

1. Once we have a model there are many things we can do with it.  Some are general and Predict is particula

[2019-03-20 18:04] dannyparsons commented on #5263
I agree with your 1 and 2. Prediction might be there, but might also need its own dialog, particularly because it often returns a column or a data frame and we want to easily be able to save this.

I am not keen to have survey objects created by the Model dialog and used in the Use Model dialog. The survey object is essentially a data frame with some extra metadata. So I don't think it would make

[2019-03-21 07:51] rdstern commented on #1908
It is great that the wind rose updates are now included in Version 4.30.

A very small suggestion for an improvement.  When you click on the windrose options the colours is the default tab and then there are the windrose options.

Could they please be the other way round - so users see the options first and can then opt to do something about the colours later.

[2019-03-21 09:46] isedwards opened #5264 "Launch R-Instat with command-line parameters"
**Is your feature request related to a problem? Please describe.**
In the Climsoft software, we would like to be able to request a product from R-Instat without the user having to export their data, import the data into R-Instat and then understand how to navigate R-Instat in order to generate the product that they want (with default options).

**Describe the solution you'd like**
I want to launch

[2019-03-21 10:40] rdstern opened #5265 "More climatic data for the library - Rwanda"
[Rwanda workshop data.zip](https://github.com/africanmathsinitiative/R-Instat/files/2991658/Rwanda.workshop.data.zip)

There should be a Rwanda folder.  Initially there can be just this file.  I hope, later, there will be an improved version and also other files.

It is for 4 stations

[2019-03-21 11:56] rdstern commented on #5256
There also seems to be something odd about the Kenya rainfall data.  Here is the inventory plot:
![image](https://user-images.githubusercontent.com/11226469/54750632-41290980-4bd0-11e9-8fe6-fa1372c0bdf3.png)

There seems to be the same years missing in many of the stations?  Is that true.  Perhaps I am doing something wrong or is there an issue with some of the data not having been entered?

[2019-03-21 13:27] rdstern opened #5266 "Add scale_x/y_dates option to Plot Options sub dialog"
Here is a useful graph that is really simple to do, with a line plot
![image](https://user-images.githubusercontent.com/11226469/54754740-25c3fb80-4bdc-11e9-805f-0c3a698fd742.png)

I would now like to scale the x-axis differently, giving a label every (say) 5 years, rather than every 20 years.
In the sub-dialogue, we therefore need to be able to specify the limits and the increment for dates.  Cur

[2019-03-21 14:45] MainaJohnO commented on #5265
Seen, will work on it and put in the relevant folder

On Thu, Mar 21, 2019 at 1:40 PM rdstern <notifications@github.com> wrote:

[2019-03-21 15:52] dannyparsons commented on #5266
Yvonne was interested in another issue on scales so she may want to take up this one.

There's many options for modifying date scales but I agree we could have something useful that's minimal initially.

[2019-03-22 14:13] rdstern opened #5267 "Display of daily climatic data"
This is potentially a very useful dialogue.  It is Helen Greatrex code and perhaps should be rewritten.  Here are some thingts I would still like
1) There is still a [1] printed at the start of every extra line
2) I would like to be able to choose the number of decimal places - in particular have 0 decimals
3) When there are multiple stations it gives the same years for all stations.  If one stati

[2019-03-22 14:37] dannyparsons commented on #5267
The existing code is only useful as-is. For these suggested changes I think it's going to be better to write our own function.

I'm not sure the best way to proceed with this.

[2019-03-23 19:16] rdstern opened #5268 "Clearing problems with Climatic Boxplots"
There are some odd things happening with the clearing and updating with this dialogue.  It initially works fine, and I think it is OK after reset is pressed - I will check.

But sometimes the graph is not what I expect from the dialogue.  Here is an example.
![image](https://user-images.githubusercontent.com/11226469/54870494-1d67ee00-4d9f-11e9-8b0f-0d12dc1c9201.png)

This graph is consistent with

[2019-03-23 19:29] rdstern commented on #5268
OK, I have a simple sequence that goes wrong.
Use the dodoma.rds data.  Complete the dialogue as above, i.e. rain, omitting > 0.85 and variable width.  It gives the graph that is needed.
Now use boxplot options, change the geom so the Fill colour = Blue.

Now return and (at least the omitting below 0.85 is now not done.
You can untick the Omit below and tick it again - no difference.

This may not

[2019-03-23 20:05] rdstern commented on #5268
And another problem.
boxplots for sunshine hours, variable **sunh**
filter to **year > 1972**
x is year and month is facet wrap
boxplot colour green seems OK now.
![image](https://user-images.githubusercontent.com/11226469/54871008-d7625880-4da5-11e9-8b1a-fc395215a228.png)

But when I try Plot options and yaxis 0 to 12.5 in steps of 2.5
then a) No facet wrap and b) I have lost the year label being

[2019-03-24 10:03] rdstern opened #5269 "Small issue on Describe > Combine Graphs"
On the sub-dialogue there is the following:

This is after I have typed those numbers in to the little matrix.  It is quite nice.  But it says the typing is incomplete, even when it IS complete.
In the figure below it says it is complete when I retype any entry once more.
I suggest this is a simple bit of code that @Patowhiz is likely to find and fix very easily?

![image](https://user-images.gith

[2019-03-24 10:10] rdstern opened #5270 "Display of a combined graph?"
I produced a combined graph.

I sort of expected it to give an error when trying to use plotly - which it does.

But I assumed it could display in the R viewer?  But it doesn't seem to?

[2019-03-25 09:21] Ogik99 commented on #4935
@maxwellfundi seems like this work was finalized. Could we close this issue

[2019-03-25 09:36] Ogik99 commented on #4460
Could I go ahead with the implementation of the suggested dialogue?

[2019-03-25 09:48] Ogik99 commented on #4365
@dannyparsons any thoughts on this

[2019-03-25 10:18] Ogik99 commented on #4330
Seems like majority of these geoms have been implemented except for geom_spline and geom_tufteboxplot(can I add these).

[2019-03-25 10:23] Ogik99 commented on #4313
@dannyparsons could we now consider implementing the scales option

[2019-03-25 10:24] rdstern commented on #4330
I would like that.  As mentioned above, I could use the Tufte boxplots for climatic work.

[2019-03-25 11:35] #4935 closed

[2019-03-25 11:49] Ogik99 commented on #4170
I think this issue was resolved. Could we close it?

[2019-03-25 12:26] Ogik99 commented on #3934
Issue #5037  addresses similar concerns.  There's an open pull request #5132 which tries to resolve this issue.

[2019-03-25 12:32] Ogik99 commented on #3860
Has this been resolved?

[2019-03-25 13:43] rdstern opened #5274 "Very small change in Climatic > Check > Temperatures"
This should be trivial.  In the check.  Please change a < to <= in the code below.  I have put the change that is needed in bold below

Here is the R code:
Code generated by the dialog, Climatic Check Data
Temperature and pressure
diff_calculation <- instat_calculation$new(type="calculation", function_exp="Tmax - Tmin", calculated_from=list("Dodoma"="Tmax","Dodoma"="Tmin"), result_name="Diff")
dif

[2019-03-25 15:22] Ogik99 commented on #5047
#5037 raises similar concerns.
#5132 attempts address some of the issues raised above. This is still work under progress.

[2019-03-25 15:31] Ogik99 commented on #4944
@dannyparsons  could we start with initial implementation of the taylor diagrams as we consider other features

[2019-03-26 05:23] Ogik99 commented on #4176
#5096 addresses similar concerns (and has since been closed).
@maxwellfundi  is there need to close this issue as well?

[2019-03-26 05:49] Ogik99 commented on #3711
#5064
#5108

[2019-03-26 05:53] Ogik99 commented on #4377
#5064
#5108

[2019-03-26 05:56] Ogik99 commented on #3721
#4176
#5096

[2019-03-26 06:13] Ogik99 commented on #3400
@dannyparsons  should we go ahead with the implementation of this

[2019-03-26 07:07] Ogik99 commented on #3382
I think this has been resolved.

[2019-03-26 07:10] Ogik99 commented on #3385
I think this has been resolved. Can we close this issue @maxwellfundi

[2019-03-26 07:26] Ogik99 commented on #3379
@dannyparsons  is there still need to update the filter and calculator controls or could we close this issue

[2019-03-26 07:41] Ogik99 commented on #3432
Can we close this issue

[2019-03-26 10:52] dannyparsons commented on #4313
Starting by implementing `scale_x_discrete`/`scale_y_discrete` and `scale_x_date`/`scale_y_date` in a similar way to `scale_y_continuous` seems sensible to me as the next step. And its becoming more urgent to have this implemented.

[2019-03-26 10:55] dannyparsons commented on #4170
I think so, it can be reopened if not.

[2019-03-26 10:55] #4170 closed

[2019-03-26 10:55] #3934 closed

[2019-03-26 10:59] dannyparsons commented on #5256
@jkmusyoka may need to answer this?

[2019-03-26 11:02] dannyparsons commented on #4944
It is something that has been asked for so I'm happy with having a dialog for it. @rdstern may not agree.
If it is to become a dialog it probably isn't high priority right now.

[2019-03-26 11:02] #4176 closed

[2019-03-26 11:05] dannyparsons commented on #3721
We have now decided on the approach as suggested also for Climsoft here https://github.com/opencdms/Climsoft/issues/200#issuecomment-474824472.
This will be simpler to implement in Climsoft and so will be implemented there first before being used in R-Instat.

[2019-03-26 11:07] dannyparsons commented on #3400
We'll need to have the full system in place for linking parameters in this way and decide how to implement. So it needs to be conceptualised first but happy if someone wants to start putting thought into this.

[2019-03-26 11:07] #5260 closed

[2019-03-26 11:09] dannyparsons commented on #3432
No we do not yet have multiple missing values implemented.

[2019-03-26 13:07] dannyparsons commented on #5263
@africanmathsinitiative/developers can someone take this up for the upcoming release?

[2019-03-26 15:18] dannyparsons commented on #5136
Let's discuss tomorrow.

[2019-03-27 06:22] Ogik99 commented on #5263
I will take this up.

[2019-03-27 06:24] Ivanluv commented on #5263
@dannyparsons  I can take this

[2019-03-27 06:39] Muthenya commented on #5274
@maxwell I have taken this up.

[2019-03-27 06:53] rdstern opened #5276 "Change in Climatic > Check > Rainfall QC"
I have been impressed at how the rainfall and temperature dialogues have worked!
In rainfall, one option is called Consecutive.  It notes whenever there are more than x (default 10) consecutive rain days.
One edit that would be useful, and just may be a small change - I don't know.  It is that the logical is set to true, only from the 10th onwards.  It would be good for it to be true for all days

[2019-03-27 09:07] #5274 closed

[2019-03-28 05:21] #5252 closed

[2019-03-28 06:42] Ivanluv commented on #5136
@africanmathsinitiative/developers  when I have a data frame say "Dodoma" and I want to rename it to a similar name but of different case say "dodoma" ,we have implemented this such that the "Dodoma" data frame   worksheet will first be deleted hence the new renamed worksheet "dodoma " will  replace  the deleted worksheet

[2019-03-28 07:28] rdstern opened #5280 "Climatic > Prepare > Transform small issue"
I hope this is an easy one to check and fix.  That is if I have understood the command properly.

I wanted to use the Climatic > Prepare > Transform for a very simple calculation, namely to provide a column to give the raindays.
I usually use the calculator and prepare a logical column using (for Dodoma) (rainday <- rain > 0.85).
I tried with the Transform Count, just counting over 1 day.  It seem

[2019-03-28 08:56] Patowhiz commented on #5250
@dannyparsons if this is agreed on then I'm going ahead to implement it

[2019-03-28 10:43] #5121 closed

[2019-03-28 18:06] dannyparsons commented on #5136
@Ivanluv yes that's correct, which is how we solved this problem.
Can you also say why we had to do this in relation to the reogrid issue? Also, the change in relation to having sheet names differing by case. It will be useful for others to here the reasoning behind our changes.

[2019-03-29 06:23] dannyparsons commented on #5196
The end of season code has been updated by https://github.com/africanmathsinitiative/R-Instat/pull/5281.
So this task can now start. Note that there is a lot of code in the dialog so I have tried to organise it into section so please keep the code in the same structure.

[2019-03-29 06:31] dannyparsons commented on #5256
@MainaJohnO @ZIRANA11 could you make the corrections to the column names for all the elements in the Kenya data file?

[2019-03-29 06:46] dannyparsons commented on #5280
@Muthenya can you look into this? It should just need to correctly put `width=1` in this case.

[2019-03-29 06:48] dannyparsons commented on #5276
Actually your first point is much harder but the second should be easier.

[2019-03-29 06:50] dannyparsons commented on #5270
@africanmathsinitiative/developers can someone look into this?

[2019-03-29 06:52] #5265 closed

[2019-03-29 06:52] #5259 closed

[2019-03-29 06:54] #5257 closed

[2019-03-29 06:57] dannyparsons commented on #5255
We can easily have the Options button for the Two Columns case. The other issues should be easy to solve too.
@africanmathsinitiative/developers someone can take this up.

[2019-03-29 06:59] dannyparsons commented on #5249
I think this is a setting of the grid which we must have corrected for the grids elsewhere.

[2019-03-29 07:17] dannyparsons commented on #5229
For a) the solution is to allow multiple columns to be defined as the same element. So you could have multiple sources including satellite for the same element, like we have seen in Ghana with 9 different rain measurements. To keep the dialog simple we might have a button next to each single receiver to be able to add further columns of that type, otherwise multiple receivers will take too much sp

[2019-03-29 07:42] dannyparsons commented on #5263
Here are some initial buttons:

### General
-	print
-	summary
-	anova
-	coefficients
-	fitted.values
-	residuals
-	AIC
-	BIC
-	car::outlierTest
-	car::ncvTest
-	car:: durbinWatsonTest
-	car::Anova

### extRemes
- ci
- distill
- erlevd
- findpars
- is.fixedfevd
- lr.test

[2019-03-29 14:54] dannyparsons commented on #5263
resolved by #5284

[2019-03-29 14:54] #5263 closed

[2019-03-31 07:47] rdstern commented on #4611
A small improvement for daily data would be to permit the x-axis labels to be vertical.  Here is the plot for the Kenya stations:
![image](https://user-images.githubusercontent.com/11226469/55286281-9237bb00-5391-11e9-813f-d4960c73b5f7.png)
It is ok , except for the axis labels.

[2019-03-31 11:29] rdstern commented on #5127
It is exciting that the Prediction keyboard is there in the new **Use Model** dialogue.  I have been trying it, and it seems very close!
I tried following the example in the prediction manual.
a) It starts with datasets and the iris data, which we have.  So I opened that.
b) I used the Model dialogue to fit the same model as in the guide, i.e.
lm(Petal.Width ~ Sepal.Length * Sepal.Width * Species)

[2019-03-31 11:38] rdstern opened #5286 "Installing a new package?"
Could this be as a dialogue.  It would just give the install.packages("xxx") command.

Perhaps it might be another option in the Tools > Options dialogue.  Or is there a better place?  Perhaps it could be its own simple dialogue?
Or the command could just be on the Script Right-click menu?

I really liked the fact I could do install.packages("mlogit") and it did - and showed me it had worked in th

[2019-04-01 19:12] dannyparsons commented on #5286
We should definitely have something to do this. I would like to consider the set of dialogs around managing the R package before jumping into this. This relates the @Patowhiz's review of the BlueSkyStatistics software, which has a reasonable menu for this. @Patowhiz should be sending his review of this soon.

[2019-04-02 11:52] Muthenya commented on #5268
@dannyparsons have you been able to look into this?

[2019-04-03 12:12] Muthenya commented on #5255
@rdstern I haven't been able to reproduce the third problem with the **Save Graph**.

[2019-04-03 13:27] maxwellfundi opened #5290 "Adding labels on to the station maps"
**Describe the bug**
When I produce a map and add points for the stations, that works very well and its very impressive. However, when I want to add the labels for the stations either using geom_text or geom_label, that doesn't seem to work very well.
This is because `data` is not added as a parameter to the `text `or `label` layer. See code below ;-

**Expected behaviour**
The points on the maps

[2019-04-03 18:55] rdstern opened #5291 "Climatic > Prepare > Climatic Summaries and missing values"
**Describe the bug**
The dialogue doesn't cope with the missing values options

**To Reproduce**
Use the Ghana data.  Use Date > Infill > Then Add the years, months, etc with Use Date and make into climatic  I provide the data when this is done.

Then use the Climatic Summaries dialogue.

**Expected behaviour**
It gives missing values whenever anything is missing.  I expected the checkbox as on th

[2019-04-04 08:38] Ivanluv commented on #5136
@africanmathsinitiative/developers  reogrid does not allow renaming of a data frame  with the same name despite  their different cases,therefore we had to delete the existing dataframe and replace it with the newly renamed data frame

[2019-04-04 21:46] rdstern commented on #5120
More issues now.
I have been using the mean label in the PICSA graphs. With facets, the lines seem correct,but the mean value appears to be the overall mean, repeated for each facet, i.e.not the mean for each station.  I was using the Ghana data at 2 stations.
A second problem is the possibility of having 2 facetted variables.  I can use the Plot options to provide Station and Month as the two var

[2019-04-05 07:40] Muthenya commented on #4920
@rdstern I'm not sure if we really need the undo on a right-click (or the right-click in general in the control), since one can access the undo with the keys (ctrl + Z) in the Levels just as in the Labels.

[2019-04-05 14:41] rdstern commented on #5057
I have now got to this point in the R-Instat climatic guide.  It would be good if the improved version could now be included.  Is there still work to do on the new version?

It could also be added to Climatic  > PICSA as well, just below Rainfall Graph

[2019-04-05 17:34] dannyparsons commented on #5290
Yes to both your suggestions.

The station name can just be another receiver with the other receivers which set the points, since the labels will come from the same data frame as the points. There's no need for a checkbox, if the receiver is blank then labels aren't added.

[2019-04-05 17:36] dannyparsons commented on #5291
Yes I noticed this before too. Just need to add the same omit missing checkbox as on Column Summaries.
@africanmathsinitiative/developers I would make this a priority task, its important and should be simple.

[2019-04-05 17:38] rdstern commented on #5255
Neither can I now.  So let's assume I got that wrong.  I'll check the dialogue again once the new version is installed.

[2019-04-05 17:40] dannyparsons commented on #5136
Thanks. This is an issue with reogrid. We therefore had to also prevent having two data frames with names that only differ by case, the name will be adjusted when importing.
@Ivanluv you were also going to write an issue on reogrid's GitHub to report this? That's important because they might be able to solve this and we won't need these extra checks anymore.

[2019-04-07 07:54] rdstern commented on #5291
Thanks.  I agree.

I have now got to that section in the R-Instat climatic guide and could use that checkbox.
In addition to the checkbox the taking account of the missing options in the sub-dialogue is also important.  I hope that will also be easy.  I am writing the guide assuming both have been done.
Thanks

[2019-04-07 13:14] maxwellfundi commented on #5290
Great, I am happy with that. @Wycklife you can take up this task.
I see a potential problem here that am sure @rdstern might be familiar with. We will have sometimes- a number of stations outside the coordinates for the country, then the map will be cluttered with labels. @Wycklife Please consider the size of the labels too.

[2019-04-07 14:46] dannyparsons commented on #5290
We might want to consider `geom_text_repel()` and `geom_label_repel()` from `ggrepel` https://cran.r-project.org/web/packages/ggrepel/vignettes/ggrepel.html.

I've found these useful before. I am not sure if there is then any case where you would want `geom_label()` over `geom_label_repel()`.

[2019-04-08 03:57] rdstern opened #5293 "File > Save As with filter"
**Describe the bug**
I am analysing the Ghana climatic data.  I had a filter in operation, namely one Station (Saltpond) and just from 1960.  This showed about 20,000 of the more than 50,000 rows of data.  I saved the file, using File > Save As.

Then I returned immediately and opened the file I had saved.  It opened fine, and clearly recognised there was a filter.  But it seems not to have the re

[2019-04-08 06:08] ZIRANA11 commented on #5256
@dannyparsons  I have shared the data sets with the renamed columns on dropbox in the R-Instat data sets folder. It is named western_kenya. The rename data frame dialog is not working so I have not renamed the data frames.

[2019-04-08 06:11] Wycklife commented on #5290
@maxwellfundi Just for clarity, do we add group box for each selector and if so, what could be the appropriate name the the group boxes.

[2019-04-08 07:29] maxwellfundi commented on #5290
So the controls on the left side (the selector and the receiver), you can have a group box saying `Map Outline` and the controls of the right- Receivers and Selector- saying `Stations`. @dannyparsons can check if these titles are sensible. But thats a minor detail at the moment. If you can get the `geom_label_repel()` working that would be good.

[2019-04-09 06:19] dannyparsons commented on #5256
Ok thanks, can you also check with others about the rename dialog issue? Ivan has worked on this recently. If it's a new issue then it should be reported in a separate issue.

[2019-04-09 06:20] dannyparsons commented on #5290
The second group box can be called Points, that's usually stations but doesn't have to be.

[2019-04-09 06:32] ZIRANA11 commented on #5256
It's the same issue so it does not have to be reported separately.

On Tue, Apr 9, 2019 at 9:19 AM Danny Parsons <notifications@github.com>
wrote:

[2019-04-09 08:21] maxwellfundi opened #5295 "Prepare > Column:Text > Find Replace"
The string handling dialog has one of its radio button half hidden and the text not visible. Please see below.

![image](https://user-images.githubusercontent.com/9798689/55784370-bc375e80-5ab0-11e9-8b95-0e81c27cc246.png)

[2019-04-09 11:12] Wycklife commented on #5290
@dannyparsons So I should change the name to points instead of Station?

[2019-04-10 07:35] Ivanluv commented on #5295
@maxwellfundi  should we have the regax keyboard disabled as below or have it hidden?
![Expect](https://user-images.githubusercontent.com/45068931/55860155-41d41080-5b7c-11e9-840d-60d0655030ff.PNG)

[2019-04-10 08:29] maxwellfundi commented on #5295
@Ivanluv Please check from the code when the regex keyboard is needed and you can show and hide it. @rdstern When do we need the regex keyboard?

[2019-04-11 17:16] dannyparsons commented on #5290
Yes I think so.

[2019-04-11 17:17] #5280 closed

[2019-04-12 12:29] Muthenya commented on #5295
@maxwellfundi it is required when the Regex radio button is checked but currently both the `regex` and `fixed` radio buttons are hidden since the Include Regular Expressions checkbox (which controls the visibility of the two radio buttons) is currently disabled.

[2019-04-12 12:53] Muthenya commented on #5295
Could we
1. Bring the receiver and textboxes up a bit?
2. Move the unseen radio buttons (regex and fixed) to come after the receiver and textboxes?

![image](https://user-images.githubusercontent.com/32125033/56037857-0af72980-5d39-11e9-9750-43d67fda6ae2.png)

[2019-04-12 22:40] AlexSananka opened #5299 "File > Import and Tidy NetCDF File"
@dannyparsons , @maxwellfundi
The dialog Tidy NetCDF File currently doesn't update the dates column for the current file. It keeps in memory the dates of the previous file.

**To Reproduce the bug**
1. Go to 'File '
2. Click on 'Import and Tidy NetCDF File'
3. Select your .nc file and this should work as expected
4. Close the dialog and reopen it, load a different `.nc` file and see the error

A s

[2019-04-13 04:48] rdstern opened #5300 "Calculating climate normals in R-Instat"
[climate normals.pdf](https://github.com/africanmathsinitiative/R-Instat/files/3075718/climate.normals.pdf)

We are proposing that R-Instat become the products and applications partner to Climsoft.  A recent request (by Mozambique Met service) is for Climsoft to be able to calculate climate normals.  This would be quite a challenge for Climsoft and we should consider (reasonably urgently) providin

[2019-04-13 15:47] dannyparsons opened #5301 "Be able to summarise by a Date column"
**Is your feature request related to a problem? Please describe.**
When working with sub daily data e..g hourly data we often want to summarise to the daily level by taking mean/sum. But the Column Summaries dialog only allows factor columns as the "By Factors".

**Describe the solution you'd like**
The "By Factors" receiver to also allow Date columns. I think it should allow any non numeric colum

[2019-04-13 16:04] dannyparsons opened #5302 "Factor columns sometimes not appearing in selector"
**Describe the bug**
I haven't been able to reproduce this but noticed several times that the selector sometimes doesn't display the factor columns. I've only noticed this after running several dialogs first. Strangely if you convert a factor column to factor it then reappears in the selector. I'm not sure if it effects all dialogs or just some or its related to certain kinds of data files.

**To

[2019-04-13 17:26] rdstern commented on #5302
I think the problem is with the **Climatic > Dates > Infill Missing Dates** dialogue.
I opened the Instat data climatic, ghana.
a) If I go directly to the Define climatic data the station is fine.  It always appears.
b) If I then go to the Infill missing - there are some to be infilled - and then return it seems ok.  But if I press reset it then can't find the station.

I wonder if the infill has

[2019-04-16 04:30] Patowhiz commented on #5136
@Ivanluv can you clarify the implementation flow to me. You are saving the data frame using the changed name, then deleting the one in memory, then importing the saved one?

[2019-04-16 06:31] Ivanluv commented on #5136
@Patowhiz  yes thats how its working

[2019-04-17 07:06] Wycklife commented on #5302
@rdstern I don't seems to be getting the same problem. If I go to the infill dialog, only Station appears in the selector as a factor in the By factor receiver. When I reset the dialog, the station disappears from the factor column receiver but present in the selector. When I go back to the original dialog(Define Climatic data). the station is still present. Please could we discuss this?

[2019-04-17 14:27] Wycklife commented on #5302
Another observation is that, after resetting the dialog, the station disappears also from the metadata.

[2019-04-17 14:34] rdstern commented on #5302
Oh good.  This should make the discovery of the bug easier, noting that the problem is actually within the Infill dialogue.  Can you see where the R code in that dialogue is changing the station?  I assume it is then changed into a character variable and is therefore no longer a factor.  So possibly simply adding an as.factor to that expression may be needed?

[2019-04-17 16:56] shadrackkibet commented on #5302
This Bug is a serious one and also disturbing. It is worth someone spending time to look into it.This might be related to issue #4127 . I will also try to replicate it next week if i get some free time.

[2019-04-18 06:14] stevenndungu commented on #5270
Having a look at this.

[2019-04-18 12:30] Wycklife commented on #5302
I have added as.factor to the code on the script window but it produces an error.
data_book$infill_missing_dates(data_name="ghana", date_name="date", factors=as.factor ("station"))
![image](https://user-images.githubusercontent.com/33898404/56360441-530cc500-61ed-11e9-9925-37c35c769fe4.png)

When I convert the factor column to factor after resetting the dialog, the station seems to appear on the S

[2019-04-22 22:01] rdstern opened #5306 "Climatic > Prepare > Climatic Summaries"
Another bug in this dialogue that may be easy to find.  I describe briefly and then in more detail with an example, if required.

I am using the dialogue with the Dodoma data (filtered to omit year > 2011 to avoid missing values in the rainfall.)  I have earlier used the **Climatic > Prepare > Transform** dialogue, with **multiple spells** on the rainfall and the condition <=0.85 to give dry-spell

[2019-04-23 09:03] rdstern opened #5307 "Fitted values etc not working on some modelling dialogues"
I think this is a general problem, so could use our "standard" survey data and fit any model.  I was using temperature data from Ghana.

I used the **Model > General > Fit Model**.  It works OK, but when I try to **save the fitted values** it gives an error.  It says it needs data of the right length.

The **Model > Two Variable > Fit Model** works fine (as far as I can see.  So copying what is th

[2019-04-23 09:29] rdstern commented on #5307
There are some more issues on the fitted values - even for the two variable case.
a) When the data are filtered, the fitted values are given for all the data.  I had 2 stations and filtered for just one.  When I removed the filter I saw that it had also given fitted values for the data for the other station.
b) Where data is missing the fitted values are also given as missing.  Is there an option

[2019-04-24 06:56] stevenndungu commented on #5120
@rdstern @dannyparsons I have a follow - up question on this issue.
On the addition of lower and upper limits for date button on the sub-dialogue. I noticed we have a pre-designed checkbox and lower/down combo boxes. So are to have the limits from the date variable? Such that the combo boxes will have to list the dates on the date variable or the user will be required to write their own dates.

[2019-04-24 07:09] stevenndungu commented on #5120
I see limits parameter for dates works in a similar way to that of numeric values eg, `limits = c(as.Date("2000-1-1"), as.Date("2015-04-01"))` or  `limits = as.Date(c("2000-1-1", "2015-04-01"))`

[2019-04-24 07:26] rdstern commented on #5120
I'll leave Danny to reply more precisely, but the "problem" with the dates is that they are for the start of the rains, end of the rains, etc.  So they are dates in the year, but for any year.  They are not dates in giving the year - just month and day.  So I guess that's why there is a special up/down control.

[2019-04-25 06:27] rdstern opened #5309 "The Climatic > PICSA > Rainfall graphs again"
![image](https://user-images.githubusercontent.com/11226469/56712962-437b0800-6728-11e9-9a2a-4a978b071eec.png)

This is a multiple graph, i.e. there are 2 variables plotted, showing the start and the end of the rains together. (It is with the Samaru - Nigeria data from the library.  The steps to get here are in the draft climatic guide.)

It isn't quite what I would like, because the y-axis doesn'

[2019-04-25 06:34] rdstern commented on #5057
I have a new request for the exceedance/cumulative graphs - possibly using a script file.  Here is an example:
![image](https://user-images.githubusercontent.com/11226469/56714275-38c27200-672c-11e9-8f37-53d662cd50fa.png)

Here is an image with 3 graphs.  The x-axis is days in the year - from January.  I'd like the code (at least) to display this as dates within the year - as we can now do for the

[2019-04-25 11:22] rdstern opened #5310 "Add further missing option to summaries (and climatic summaries"
We currently have a Missing Tab in the Prepare > Column: Reshape > Column Summaries dialogue.

I would like a further checkbox to be added, underneath the existing materials.

Default is unchecked.  Label is **Limit on consecutive missing values**
If checked, then another label is (as the label above, but with consecutively added, i.e.
**Summary set to missing if more than this number are missing

[2019-04-25 12:44] rdstern commented on #5057
This may have been fixed, with the work being done.  But with the "old" version, when going into this dialogue the Plot Options are enabled.  Clicking on this gives:
![image](https://user-images.githubusercontent.com/11226469/56736384-ed29bb80-675f-11e9-8360-29c732a2c9c7.png)

If you are not careful, this throws you out of R-Instat.

[2019-04-25 13:00] rdstern commented on #5057
Another point - this time related to the specific ecdf options.  The default in the R-code for ggplot2::stats_ecdf(pad = TRUE).  Please change this to pad = FALSE as the current default.  This should be trivial to fix.
Later - when the ecdf options are implemented, we can have both options.  You can see the current problem in the figure below.  The lines are extended to each end of the graph. (Tha

[2019-04-25 22:00] rdstern opened #5311 "Minor changes to the climatic menu"
1. In Climatic > Check Data  the last 2 items are QC Rainfall and QC Temperatures.  Could they please be exchanged.  (The temperatures are more important than the rainfall, so they are first in the guide.  It would be logical to have them in the same order in the menu.
2. In Climatic > Seasonal Forecast Support the last item is Cumulative/Exceedance Graphs.
a) Delete the s - make it Graph and not

[2019-04-26 07:07] rdstern opened #5312 "Add right-click feature to receivers - and possibly other controls?"
This could become very powerful and was suggested by @volloholic. The scenario is that we have a variable, e.g start of the rains, (start) and we would like to use (start + 40) in a dialogue.

We can always get a new variable, using Prepare > Column: Calculate > Calculation, but R would allow the variable to be generated "on the fly".

We currently don't allow typing into the receiver, but what ab

[2019-04-26 07:33] maxwellfundi commented on #5311
@Wycklife  Could you make the changes 1 and 2 in this issue. Should not take much time then i will go through the other part.

[2019-04-26 13:21] rdstern opened #5313 "Problem using Climatic summaries with variable dates"
I was using this dialogue from the variable start date to the variable end date.
It gave the error as follows:

**Error running R command(s)
Error: Column `s_year` is unknown
The error occurred in attempting to run the following R command(s):

day_filter <- instat_calculation$new(type="filter", function_exp="s_doy >= start_doy & s_doy <= end_season", calculated_from=calc_from_convert(x=list(Moorin

[2019-04-26 21:50] rdstern commented on #5313
I have now tried the Climatic > Prepare > Spells dialogue to get the longest dry spell between the start and end of the season.  It also gives an error.  It works with fixed dates.

[2019-04-27 09:08] rdstern opened #5315 "Small day range problem"
I suggest this is a simple problem that anyone can look at.  (It maybe that @maxwellfundi could fix it very quickly.

The Day range sub-dialogue is used by many of the dialogues in Climatic > Prepare.  There are 2 controls, one for the start day and the other for the end day.

Sometimes the End Day setting depends on the Start Day.  So, **if the Start day setting is changed, then the End day contr

[2019-04-27 13:24] rdstern opened #5316 "Climatic > Spells gives incorrect results"
The Climatic > Spells gives some very odd (obviously wrong) results sometimes.  I have an idea what it is doing from the results. I have been using the usual Moorings data.

![image](https://user-images.githubusercontent.com/11226469/56850308-db2f5080-68f8-11e9-8ce4-fad7a14c7974.png)

In the SpellApril, the first year (after NA) has the longest length in Jan to March as 3 days.  I have checked, an

[2019-04-29 06:50] #5311 closed

[2019-04-29 08:15] shadrackkibet commented on #5276
I have been working with Theo on his project particularly using QC Rainfall dialog. In addition to above, We have a couple of small issues to report that might be easy to fix.

1. If Large is checked and check say same, then clear one of numeric updowns then Ok is still enabled as shown below.

![bug](https://user-images.githubusercontent.com/26301973/56882857-cec40880-6a5c-11e9-8d76-4ea11d29c7aa.

[2019-04-30 05:12] rdstern opened #5317 "Clarification on start of the rains with missing values"
In the start of the rains dialogue we can produce a logical column.
With the Moorings data I added a new column, called rain1, with missing values on 8 and 25 November.
I then calculate the start of the rains between 1 Nov and 10 December, with 20mm in 3 days and no dry spell in 21 days longer than 9 days.
There are now 3 situations:
a) Start of rains possible
b) Values missing so start set to mis

[2019-04-30 08:48] maxwellfundi commented on #5236
@Wycklife  I have been reviewing this and works well in many ways. However I found a few issues that are easy to fix

1. When I check the `Groups to Connect` checkbox, then select `Mean `or `Median`, it produces desired results. The issue is, when i reopen then the checkbox is not checked- you might want to check your `SetRCodeForControls`

2. The Lower and Upper Quartile doesnt seem to produce an

[2019-04-30 08:56] Wycklife commented on #5236
@maxwellfundi  On the second part, only the mean and median were to be implemented first as they are the most used options.

[2019-04-30 09:05] maxwellfundi commented on #5236
Then you can get rid of the two. @rdstern  are the quartiles needed here?

[2019-04-30 13:58] stevenndungu commented on #5309
@rdstern, @dannyparsons
I chose to combine this issue with the issue of means and median lines not being drawn correctly when a facet is done. While the later is fixed, I thought the changes could roll over and fix this issue as well. However, to my suprise, it didn't - due to obvious reasons, the code implementation is not consistently borrowed over. By this I mean, while for the faceting we have

[2019-04-30 14:01] stevenndungu commented on #5309
Code generating above plot
`# Code run from Script Window
Samaru56t_by_year <- data_book$get_data_frame(data_name="Samaru56t_by_year", stack_data=TRUE, id.vars="year", measure.vars=c("start_doy","end_rains"))

Samaru56t_by_year <- Samaru56t_by_year %>% group_by(variable) %>% dplyr::mutate(.mean_y=mean(x=value, na.rm=TRUE))

last_graph <- ggplot2::ggplot(data=Samaru56t_by_year, mapping=ggplot2::aes

[2019-05-01 09:11] rdstern commented on #5266
Here is another instance, though this may be more complicated.  It is back to my "hobby horse" of having dates within the year - as is now partially possible with the PICSA rainfall graphs.
Here is an example:
![image](https://user-images.githubusercontent.com/11226469/57011388-5777ab80-6bf9-11e9-803a-fcf7fc724202.png)

The x-axis is the day of the year (with day 1 being 1 August - so 31/07/2016 c

[2019-05-01 13:02] rdstern opened #5318 "Odd error on start of rains dialogue"
Overall the start of the rains is working well.

It needs the doy column.  That is used in the date selection, etc.

For what seemed to me to be a good reason at the time, I had changed the doy (actually doy_s) to be a factor column.

That stops the command from working and gave me a very nasty error message.  My reasons for the change in the status of doy are sufficiently rare that we may not wan

[2019-05-01 14:34] rdstern commented on #4724
I am now in the section of the climatic guide where I need conditional spell lengths.  They now give an error, rather than the zeros we had earlier.  I hope this might be relatively simple to fix?

[2019-05-02 06:15] rdstern commented on #4915
I think there has been some work on this issue?  Otherwise it can be moved to Milestone 4.33.

[2019-05-02 06:30] maxwellfundi commented on #4915
@rdstern  yes, the date pickers were added already. Now its the issue of stacking the data and then addressing the issues you have raised above.

[2019-05-02 06:39] rdstern commented on #4412
This is now in the Climatic guide.  I can read OK from the IRI files, but the dates are not recognised.  I wonder if "we" can do anything, or do we contact IRI?

[2019-05-02 06:54] rdstern commented on #5276
These QC rainfall changes look simple and great they have come from Shadrack.  Possibly move to Milestone 4.33.

[2019-05-02 07:51] stevenndungu commented on #5307
Looking at this.

We just did tests of the dialogues using various data sets with @Muthenya since I was not able to reproduce the error. We have found out that the error occurs ONLY when using the temperature data from Ghana.

This is fairly odd. Investigating the error.

[2019-05-04 08:12] rdstern opened #5321 "Order of layers still swapping on ggplot"
The plotting is holding up much better now, than previously.  And I have been producing many plots for the climatic guide.

But I have (at last) found a simple reproducible example where the order of the layers still swaps (and where it then again says the offending layer can't be edited, because it is on the base layer.

The graph below has 3 layers.  Main one is a boxplot and then the additional

[2019-05-04 18:26] rdstern commented on #5317
I now have another problem with the Status column for the Moorings data.
The first year is set to missing, because the data haven't started then.  That's like missing, but the Status is set to missing, and not TRUE.
In the second year I set a day to be missing and the result was TRUE (though I would like it to be FALSE!

[2019-05-05 06:36] rdstern commented on #5307
I wonder if this might need a more general (quick I hope) explore?
@stevenndungu mentions the problem of missing values is part of the issue here, because the Ghana data had some missing values.

That is a general problem in regression modelling.  There could be missing values in either the x's or in the y's.  Often it is just in the y's.  In that case one use of the modelling can be to estimate t

[2019-05-05 18:00] rdstern opened #5322 "Small improvement in extremes dialogue"
This is a very minor suggestion, which it would be good to do immediately.

The default way of coping with missing in R is to set the result to missing if any observations are missing.
That's also the default setting in our Summary dialogue.  It is the opposite here.
Could we please return to the other default, i.e. start with Missing unchecked.

I am assuming this change in writing the guide.

[2019-05-06 07:34] rdstern opened #5323 "the one-variable fit no longer works"
I am looking at fitting extreme value models.

I started with the one variable, which used to work quite well.

Now it doesn't.  Here is an example of the code generated to fit a normal distribution - just the first 3 lines for now:

**max <- data_book$get_columns_from_data(data_name="ghana_by_year_station", col_names="max")
max <- data_book$get_columns_from_data(data_name="ghana_by_year_station",

[2019-05-08 07:23] Wycklife commented on #5310
@rdstern What could be the appropriate name for the checkbox?

[2019-05-08 07:26] rdstern commented on #5310
As above:
Default is unchecked. Label is **Limit on consecutive missing values**
If checked, then another label is:
**Summary set to missing if more than this number are missing consecutively.**

Then an up-down (perhaps underneath the label if not enough space. Default could be 4.

[2019-05-08 10:36] rdstern opened #5325 "Delete rows has a problem with factors"
I hope this will be an easy one to fix.  It is the problem we had with another dialogue that once used, then a factor isn't recognised any more.

[rr_amj_1981-2014_2.txt](https://github.com/africanmathsinitiative/R-Instat/files/3156869/rr_amj_1981-2014_2.txt)

Here is a data file.  Without the "-2" it can also go into the library in the Climatic > Ghana directory.

Once imported, the first column

[2019-05-08 10:42] #5097 closed

[2019-05-08 10:45] #5241 closed

[2019-05-08 10:58] dannyparsons commented on #5302
I suspect this might be an issue with the metadata not recognising it as a factor. This would need to be look at within the `data_book` code.

Also, you can't do `as.factor("station")` because its not the column, it's the string `"station"` which is passed in to the `data_book`.

[2019-05-08 11:20] dannyparsons commented on #5315
Looks like the end date just needs to be updated in this case when the start changes. @africanmathsinitiative/developers someone could take this up

[2019-05-08 11:24] dannyparsons commented on #5236
If the items for quartiles are available then they should be working. It's not acceptable to have available features that don't work. They can either be implemented or removed, either is fine but we can't have what is there now.

[2019-05-08 11:29] dannyparsons commented on #5309
Your additional group_by looks correct, if that can be added correctly when using multiple columns (and removed when not) then that looks good.
I also agree on enabling Plot Options generally for multiple columns.

[2019-05-08 14:22] dannyparsons commented on #5236
Great.

[2019-05-08 17:16] dannyparsons commented on #5309
If the data is already stacked then it should be easier because the columns in the data match easily to grouping columns etc. I expect we don't need to implement anything special for it to work with stacked data. I think the multiple columns will be a more common option used so if it works in that case then great.
I just wanted to make sure your changes means it still works for a simple graph of j

[2019-05-08 17:19] dannyparsons commented on #5309
For the dates its a bit tricky because the column of doy is just numeric and then its transformed into a date as a "trick" to get it to display nicely. So the date is set to the year 2000, I think, but the user shouldn't have to know that, they should just be able to say "1 March" and "1 Oct" as limits, for example.
It shouldn't be that difficult just more work on the code. I can't remember how fa

[2019-05-09 06:32] Wycklife commented on #5276
@dannyparsons You can assign this task to me

[2019-05-09 13:50] dannyparsons commented on #4577
Finally, R.NET has been updated to include support for R 3.5.x with the release of an update on nuget https://www.nuget.org/packages/R.NET/1.8.1. I had done some limited testing of the beta release before this and it seemed to work fine in R-Instat. I will make a pull request to update the package so we have time to test thoroughly before our next release.

This also means we can finally move from

[2019-05-09 13:56] maxwellfundi commented on #4577
This is great news.

[2019-05-10 16:20] dannyparsons opened #5328 "Replace `is.tibble()` function"
If you run the code to import data in R you will see a warning message:
[code]
We simply need to replace `is.tibble()` with `is_tibble()` in our R code. I think it's only used in one place when importing but good to check. @africanmathsinitiative/developers someone can make this change.

In general its good to run code from R-Instat in R occasionally or when bug fixing because it gives warning and

[2019-05-11 07:47] rdstern commented on #1908
Yet more windrose - small again!
a) It seems that the number of cuts **n_speeds** and **speed_cuts** are probably alternatives?  The first time I run the command (or after reset) I get the default 5 cuts.  If I go into the windrose options it adds speed_cuts="NA" to the R-code and now the number of cuts is down to 3.  I suggest that if speed_cuts="NA" or is blank then the argument should not be gi

[2019-05-11 08:59] rdstern opened #5329 "Small addition to bar charts to reverse the stacking"
Here is a stacked bar chart:
![image](https://user-images.githubusercontent.com/11226469/57567495-0f634080-73d2-11e9-803a-a5bcd4b7ea40.png)

It has a problem that the low values of the factor in the stacked bars (low wind speeds) are at the top.  I would like them to be at the bottom - seems logical to me!
Like so:
![image](https://user-images.githubusercontent.com/11226469/57567531-7f71c680-73d2-

[2019-05-11 17:02] rdstern opened #5330 "Problem using the new (R Version 3.6.0) version with filter, when it is empty"
I have been using both Version 4.31 and 5 at the same time.

So far they have both been fine.

It is in a grid with no rows - so not a surprise that could cause a problem!

The bug is simple to explain, but I describe how I stumbled over it, in case there is another lurking problem.
I used the **openair package with mydata dataset.**
This has wind direction from 0 to 360.  Oddly to me there are va

[2019-05-11 18:51] rdstern opened #5331 "Add polar to coord tab in plotting"
In our plots we currently have a special facility for wind roses.  It would be good to be able to do other (simpler) circular plots.

I have finally realised there is no point in looking for special facilities in another package.  We can easily get sensible plots with our current system.  The one item we need to add is a 3rd checkbox on the Coordinates tab.  The label could be:
 Use polar coordina

[2019-05-12 06:44] rdstern opened #5332 "Adding the circular mean, etc into R-Instat"
I write this issue in detail.  I have added it (temporarily) to the first milestone to ensure a quick discussion on the strategy proposed below - rather than the programming.  And the results may be useful for a current MSc essay, which is one reason for the urgency.

I start with the circular mean - which is useful in its own right - later there should be a Circular keyboard for the calculator an

[2019-05-12 07:31] rdstern commented on #5332
If we work anyway on the full circular keyboard (and set of summaries, the formulae are all relatively simple, at least they are once you can calculate the mean as described above.

A clear reference that gives all the formulae is [here](https://ncss-wpengine.netdna-ssl.com/wp-content/themes/ncss/pdf/Procedures/NCSS/Circular_Data_Analysis.pdf).

We would also have Variance, Standard Deviation, Dis

[2019-05-12 20:46] rdstern commented on #5332
Now I have looked at the circular package a bit more and am warming to the idea of using it!
I have tried with the data wd = (10, 20, 30) degrees as suggested by Wikipedia.
Then subtracting 15, so circular mean should be 5 degrees.
Then (not in Wikipedia) I subtract 10 more so the answer is 355 degrees (which Circular gives as -5 degrees).

So then I do (mean+360)%% 360 which always makes it posit

[2019-05-13 11:24] dannyparsons commented on #5329
In future we need to implement these "function parameters" such as `position_stack`. But for now we can have this as a fixed string as an option for the position, labelled "stack reverse" as Roger suggestions. @maxwellfundi someone can implement this in the geom definition.

[2019-05-13 11:25] rdstern commented on #5332
I therefore suggest we start with the calculator, where we can already do everything in the current system, just typing in the commands.

There would be a new small keyboard with overall label Circular

Then keys that can mainly be copied from the summary keyboard.  They are for
mean, median, medianHL, range, sd, var

Then there is a set of radio buttons giving **radians, degrees, hours** as the t

[2019-05-13 11:35] dannyparsons commented on #5331
There is lots to do on the coordinates tab as there are many other options, but good to start with something on this.

I think put all this in a "Polar Coordinates" groupbox to make it clear. I suggest the starting angle is a textbox, not a a up/down, to make it simpler and then just have a `pi` label after it to indicate it is a multiple of `pi`.

@Ivanluv you worked on this tab before, so you mi

[2019-05-14 06:10] Ivanluv commented on #5331
Am okay taking this up

[2019-05-14 09:06] rdstern opened #5333 "Two very small additions to the calculator"
The base R has the trigonometric functions we have in our calculator in the maths keyboard.  See [here](https://stat.ethz.ch/R-manual/R-devel/RHOME/library/base/html/Trig.html).

Well the keyboard has all except one.  Please could we add the **atan2** key.  The key can say **atan2**.

While making this change a second small change is to make the expression field wider.  I am often not able to show

[2019-05-14 11:35] #5330 closed

[2019-05-15 05:49] rdstern opened #5336 "Small error in Model > Probability Distributions > Show model dialogue"
This dialogue enables the probability distributions to be plotted for a number of common distributions.
If you try with the normal distribution it works fine.
If you try with the vonMises distribution it gives an error.

That's because the vonMises distribution isn't in the R standard packages.  Instead it is in the circular package - which we use.
So I can get it to run nicely if I copy the comma

[2019-05-15 13:32] #5328 closed

[2019-05-15 17:16] shadrackkibet commented on #5290
In addition to the above suggestions. I read a paper which can be found [here](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=Homogenization+of+Climate+Data%3A+Review+and+New+Perspectives+Using+Geostatistics&btnG=) on climatic data homogenization I saw this kind of map.
![image](https://user-images.githubusercontent.com/26301973/57786694-e2918f00-772b-11e9-8a13-4e747043082d.png)
Since thi

[2019-05-16 14:49] rdstern commented on #4313
I am not sure whether this is the same issue or not?  I have been trying to plot histograms where I don't have the count, but proportions.  One of the responses on [stack_overflow](https://stackoverflow.com/questions/11766856/normalizing-y-axis-in-histograms-in-r-ggplot-to-proportion)  says:

"As of ggplot2 0.9, many of the formatter functions have been moved to the scales package, including perce

[2019-05-17 16:02] rdstern commented on #5333
More to add to the calculator - I hope equally simple.

We have a keyboard already for Dates.  For example the key year generates lubridate::year()

We are now getting some data that is also on a within day data.  For example I am using mydata from the R package called openair.  This has hourly data in a column called date.

The function lubridate::hour() works fine.  Could we have this key?
At th

[2019-05-18 09:03] rdstern opened #5341 "Small improvements and explanation of problem in Model > Hypothesis"
I am trying new tests in the Model > Hypothesis Tests dialogue.
a) I am finding the **Try button** to be very useful.
But when the test works it gives "...", which is hard to see.
The Model >  Model dialogue is much better and says (in green) that the command runs without error.
Please could we copy that code into the -  oooh - re-use that code  - in both dialogues.  I can see no reason why they s

[2019-05-18 15:16] rdstern opened #5342 "New possible plot for the climatic data"
When we use Climatic > Check Data > Display daily

we currently have a table of the daily data.  But we don't have a good graph.  This is the openair::summaryPlot function with the data from one of the Ghana stations.

![image](https://user-images.githubusercontent.com/11226469/57971587-f76a5e80-7987-11e9-8643-3881151b0f12.png)

It (I assume) uses the lattice system, rather than ggplot and there a

[2019-05-18 22:26] rdstern opened #5343 "Histograms to show proportions or percentages"
Currently our histograms show counts (frequencies).  How can we use our dialogues to show proportions or percentages.

There are questions on stack-overflow , for example [here](https://stackoverflow.com/questions/3695497/show-instead-of-counts-in-charts-of-categorical-variables).

The solution appears to be to add a y to the aes.  I give an example of the additional code below:

It is just the bi

[2019-05-19 09:20] dannyparsons commented on #5341
@africanmathsinitiative/developers someone can take up this task to fix these issues.
The last issue is because it is trying to save the model as a data frame for some reason. This should be easy to correct in the save control.

[2019-05-19 09:30] dannyparsons commented on #5343
I believe the use of these special variables `..count..`, `..density..` etc. was a "quick fix" for doing some of these things in `ggplot`. I think there is now a better system for doing these described here https://ggplot2.tidyverse.org/reference/stat.html. We could have these two cases as options in the dialog.
In a single dialog this is easy to implement but will be harder to build into our gene

[2019-05-19 10:19] rdstern commented on #5343
I like the improvement.  The ".." system seemed like a "bodge".
I notice the example you reference has the default now as  geom_histogram(aes(y = stat(count))), where we currently just have geom_histogram() as the default.
The second example is stat(count/max(count)) which gives the highest bar as 1.
I think what I want is stat(count/sum(count)) for proportion or stat (100*count/sum(count)) for th

[2019-05-19 11:59] dannyparsons commented on #5343
Yes, and we could easily have an option on the dialog: count, proportion or percentages which changes the `stat` function for each option.
So the options are:

| Option | Code |
|-------------|------------------------------|
| **counts** | `stat(count)` |
| **proportions** | `stat(count/max(count))` |
| **percentages** | `100 * stat(count/max(count))` |

[2019-05-19 12:19] rdstern commented on #5343
Yes, and overall

replace proportions above by fractions and have a checkbox for the percentages
then also proportion which is stat(count).sum(count) also with the checkbox for percentage

[2019-05-20 11:36] rdstern commented on #1908
That's great if all is fixed even excluding the palette one.  There is a lot to do for the next version, so if that can be found quickly, then fine.  Otherwise I suggest you leave it for now and possibly open a new issue , that references back to this.  Then we can return to the problem on a later date after testing the dialogue more.  It isn't critical for now.

[2019-05-21 08:32] maxwellfundi commented on #5290
@shadrackkibet thanks for the insight about these maps. I believe if they are easily produced in R then we can also easily do them.

I am not sure how much they might be needed by our climatic audience. @rdstern any ideas about how they are used by our climatic audience?

[2019-05-21 08:42] maxwellfundi commented on #5315
@Ivanluv what the situation with this issue?

[2019-05-21 09:14] maxwellfundi commented on #5276
@Wycklife whats the situation with the first issue here? You fixed 2 and 3 in your PR #5337 ?

[2019-05-21 09:18] Ivanluv commented on #5315
@maxwellfundi  am still looking on it

[2019-05-21 09:46] maxwellfundi commented on #5057
@Ogik99 Are you still working on this?

[2019-05-22 07:06] Wycklife commented on #5276
@maxwellfundi I found the first part a bit complicated but I'm still going through it. I will need some help from you.

[2019-05-22 08:12] Wycklife commented on #5302
@dannyparsons Could you please help me fix this issue?

[2019-05-22 08:42] stevenndungu commented on #1908
@maxwellfundi For the two things you mentioned to me I should test - It works well. @dannyparsons this is ready for you.

[2019-05-22 08:53] maxwellfundi commented on #1908
@stevenndungu You would have commented on the actual PR, The things fixed are checked above

[2019-05-22 11:19] dannyparsons commented on #5290
Lots of very nice ideas here.
@maxwellfundi I think the first step is how easily can you produce the first map of stations with R-Instat? Not with the full layout but a map with two types of stations.

[2019-05-22 11:25] maxwellfundi commented on #5290
I think that would not be difficult, because we would need to have the shape receiver filled to produce different shapes for the two kinds of stations.

[2019-05-22 11:30] #5291 closed

[2019-05-22 11:32] dannyparsons commented on #5302
Yes I need to look into this. I think we discovered that any time rows are added (e.g. infilling) or deleted (delete a row) then this problem happens. So I think something we will find in the metadata.

[2019-05-22 12:01] dannyparsons commented on #5290
Well there is also two colours - black and red - and only the red ones are labelled. Can you do all that?

[2019-05-22 14:32] #5307 closed

[2019-05-22 15:55] #1908 closed

[2019-05-27 10:41] #5120 closed

[2019-05-27 15:03] rdstern opened #5349 "Annoying small point about the graphics axes"
I am pleased with the steady improvements in the "graphics system" in R-Instat.  Here is a small point that I have marked as a bug, but it is more an inconvenience.

Go to any Describe > Specific > Boxplot (say) but any example will do.  Then use Plot Options and either X-axis or Y-axis.  It always starts with Discrete as the default, which is inconvenient as we usually need Continuous.  If you ch

[2019-05-27 16:19] dannyparsons commented on #5349
This is supposed to detect the type of variable used on each axis and then set to continuous/discrete appropriately. So if its not then it is probably the code doing the detection which is having some issues.

[2019-05-27 17:59] dannyparsons opened #5351 "PICSA Rainfall Graph Issues"
This is working much better. A couple of issues from testing the newest version. These are in order of importance roughly.

1. When I do facets, and add the mean line, I still get the overall mean, not the mean for each group. The `group_by` is not added in the code. It only gets added when colour is specified.
2. When I add a mean line the display on the label is not rounded. Here's the part of t

[2019-05-27 20:28] dannyparsons commented on #5198
For dplyr::filter, since we have the whole expression as a string we need something different, as described here: https://stackoverflow.com/questions/51665956/tidyeval-way-to-programatically-send-values-to-filter/51668207#51668207

`filter(iris, !! rlang::parse_expr(string))`

Note, this it is not recommend to use string inputs and this would be "better" in tidyverse if we passed in expressions no

[2019-05-27 20:38] dannyparsons opened #5352 "What should our default be in calculation system for `.preserve` in `dplyr::filter`?"
`dplyr::filter` has gained a `.preserve` argument which can preserve original groupings after filtering.

Example,
[code]
or now with `.preserve = TRUE`, we keep all the years in the summary.
[code]

`.preserve = TRUE` solves our issues in climatic summaries like start of rains where we filter out every day in the year but would still like to report the start of rains as `NA`.

But should this be

[2019-05-28 09:12] stevenndungu commented on #5351
@dannyparsons  on 5 and 6. I am preferring to use NUD in place of the input text boxes for the case of dates only. Reason: The increment is constant and would be easy to set the max,min,defaults (the textbox is not working properly for this case). I hope that is okay?

[2019-05-28 09:17] dannyparsons commented on #5351
Yes good idea, and then its even clearer what the input should be, the user will already see it is an integer.

[2019-05-28 09:27] stevenndungu commented on #5351
Okay great.

[2019-05-28 09:28] rdstern commented on #4798
I have stumbled over this problem again, i.e. the first lines of the command not being added to the script window.  Is this a difficult feature to fix?

[2019-05-28 09:59] dannyparsons commented on #4798
Yes, its because the attach/detach functions are run on the click ok events instead of as before/after codes of the RSyntax, which is our new approach to ensure the script is produced correctly.
@maxwellfundi can you assign to someone who is familiar with this?

[2019-05-28 11:49] Ogik99 commented on #5057
We are thinking on possible ways to implement this. Is it okay if we have a checkbox on the main dialogue with the option of changing the x-axis to date format.

[2019-05-28 11:59] rdstern commented on #5057
It would be great if you could get this feature to work.  But there were quite a few things to fix already for this dialogue.  For example, my version still crashes when I use the options button.  Would it be possible for the new version of this dialogue to be merged first.
Then I suggest there may be more options on the date formatting than we would want on the main dialogue.  So I would be more

[2019-05-28 12:19] dannyparsons commented on #5318
For me I don't get an error but I get a data frame with 0 rows - either way we should do something.
We could not allow choosing a doy that is not numeric - could be confusing if the selector is blank but they know they have a doy column, the label could change to "Day of Year (numeric)" to help?

[2019-05-28 12:28] Wycklife commented on #5343
@rdstern  @dannyparsons  Should the check boxes be added on the main dialog or on the plot options?

[2019-05-28 12:37] Ivanluv commented on #5341
@dannyparsons  am taking this up

[2019-05-28 12:39] rdstern commented on #5343
At this stage I would be inclined to put it on the sub-dialogue as another geom property for the Histogram options.  Later we could then decide whether we **also** want it on the main dialogue.
It could perhaps be called Statistic (or Stat).  It would have a pull-down as do many of the other options.  The default is Count, Then Fraction (Proportion) and lastly Percentage.

[2019-05-28 14:23] dannyparsons commented on #5057
Being able to display the doy column as a date needs to be implemented in every graphics dialog so it will need to be more general than one dialog.
One suggestion could be on the x-axis, y-axis tabs on the Plot Options dialog having a "day of year" option alongside "Continuous", "Discrete" etc.
So I think changes on this dialog can be made independently of the eventual changes for dates.

[2019-05-28 14:53] dannyparsons commented on #5343
It can't be on the histogram sub dialog because that is specifically for parameters to the geom function, this is about setting the y aes.
I think it could stay on the main dialog.

There is actually a better way to do percentages than I suggested, you can add `scale_y_continuous(labels = scales::percent_format())` and it will display fractions as percentages on the y-axis with a % sign too. (Even

[2019-05-28 14:56] rdstern commented on #5343
I like this a lot.  On the last point I prefer "Scaled Fraction".

[2019-05-28 15:00] dannyparsons commented on #5343
"Scaled Fraction" sounds good. So the options are now:

| Option | Code |
|-------------|------------------------------|
| **Counts** | `stat(count)` |
| **Fractions** | `stat(count/sum(count))` |
| **Scaled Fractions** | `stat(count/max(count))` |

Counts is the default. If either of the last two are selected, the percentage checkbox is visible.

[2019-05-29 08:38] maxwellfundi commented on #5057
@dannyparsons  we have been discussing the @rdstern  issue of having dates on the x axis of the cumulative distribution graph.

following your comment, we need to edit the ucrAxis so that we have the **day if year** option. In doing this then in our mind, we out to edit the `aes` function so that we have the variable that needs to be plotted as dates converted to dates then add the `scale x/y date

[2019-05-29 09:26] dannyparsons commented on #5057
That is the way to achieve this. As we do for the PICSA graphs, the variables needs to be transformed to a date, then the display managed through the `scale_x/y_date` function.
So yes this is definitely a graphics system issue. And its not obvious how we easily implement this. If you have come up with a suggestion that would be great. We would want to be able to do this for any graph. This discuss

[2019-05-29 09:29] rdstern commented on #5057
Just to say that I really like Danny's idea of adding a 4th "Day of Year" option to the X-axis and Y-axis tabs, so there becomes Continuous, Discrete, Date, Day of Year there.  If so, then any special dialogue - like the cumulative/exceedance graphs that gives access to the Plot Options sub-dialogue could use this.  In that case I would be happy if that is all there is.

Then, once we are using th

[2019-05-29 09:46] dannyparsons commented on #5016
@stevenndungu @maxwellfundi I guess this is now resolved with the current changes, but can you check?

[2019-05-29 09:53] dannyparsons opened #5356 "Formatting in graphs for numeric columns which are a day of the year"
Combining several comments related to this issues here:

From here: https://github.com/africanmathsinitiative/R-Instat/issues/5057#issuecomment-496538756

And previously here https://github.com/africanmathsinitiative/R-Instat/issues/5266

[2019-05-29 09:54] dannyparsons commented on #5057
I've moved the discussion on formatting a day of year column to here https://github.com/africanmathsinitiative/R-Instat/issues/5356 to separate it out from discussion on the exceedence graphs.

[2019-05-29 10:24] dannyparsons commented on #5266
I've removed the comment relating to formatting a numeric column as a day of year and moved to here https://github.com/africanmathsinitiative/R-Instat/issues/5356 as that's a different (related) issue.

The original comment relates to plotting of a Date column and having options for its display.

This can be solved by adding a "Date" option to the X and Y axis tabs on the Plot Options subdialog. T

[2019-05-29 12:49] stevenndungu commented on #5016
I have tested this..i did not get any error. The reviewer can confirm though

[2019-05-30 07:55] #5315 closed

[2019-05-30 19:25] #5336 closed

[2019-05-30 20:26] #5255 closed

[2019-05-31 09:25] #5290 closed

[2019-06-01 11:59] rdstern opened #5360 "Adding a graph to the grops dialogue"
I thought this might be substantial work on the dialogue side.
But looking at the existing Climatic > PICSA > Crops dialogue, what is needed is going to be almost the same as the dialogue for the tables.

Hence this is a good case for the special radio buttons, so at the top it has Table and Graph as the 2 options.
Then, the existing dialogue would almost do if you have a range of values (as now)

[2019-06-02 16:19] maxwellfundi commented on #5360
@rdstern  I see the current dialog for the crops in R-Instat currently produces the tables ucing the current function thats being used.

Do you suggest that this changes to the @fran2or code that produces both graphs and tables or the work is to modify existing R code to match @fran2or outputs?

[2019-06-02 16:29] rdstern commented on #5360
First is (I hope) a small point, that I can't now get the tables in the current crops dialogue.  The selector goes crazy for me when I change from the daily to the summary data frame.

Then, second is that Francis has been working on an attractive graphical display of  the same results.  In our meeting last Friday, we felt this was important, and hence ideally would be added to R-Instat.  That nee

[2019-06-02 17:41] maxwellfundi commented on #5360
Great, I understand that.

 I have experienced the issue with the dialog when I switch dataframes from daily to the summarized one, but i did a restart of R-Instat and it worked- We will look at this issue next week I hope with @stevenndungu

[2019-06-02 18:43] rdstern commented on #5360
That would be great.

[2019-06-02 19:57] rdstern commented on #5342
I now think it should be quite easy to prepare our own version using ggplot from the start.  Here is an example with the hourly data and our current line plot dialogue:
![image](https://user-images.githubusercontent.com/11226469/58766278-e2dbb800-857c-11e9-843c-06cb710b5846.png)

This would already be useful.  The code (in ggplot) is simple enough that it might not need a function.

This does not

[2019-06-03 09:32] rdstern commented on #5342
An additional point.  With the power of ggplot it should be possible to find a clever way of limiting the axes to percentiles of the data. In the answer to a question on getting rid of outliers in boxplots it has some interesting ideas about coord_cartesian, and scale.y.continuous, see [here](https://stackoverflow.com/questions/5677885/ignore-outliers-in-ggplot2-boxplot).

[2019-06-03 19:15] rdstern commented on #4540
We now have boxplot plus jitter, which is good.  But I claim we usually need jitter plus boxplot!

Here is an example:
![image](https://user-images.githubusercontent.com/11226469/58792650-e6128a80-85f4-11e9-89ba-20067cff6856.png)

I used the existing "system" and then swapped them round in the script file.  This looks much better, because you don't see the jitter in the middle half, i.e. in the bo

[2019-06-04 04:30] rdstern opened #5361 "A new graphics feature"
I found this comment to be "interesting" for our graphs:

"I'd suggest exporting the figure from R as a vector graphic file (.svg) then adding your labels in a vector graphic software. I use **Inkscape** [software](https://inkscape.org/about/) because it can be downloaded for free and its fairly intuitive to learn."

We can't (yet?) export the current graph, from the display, but the File > Export

[2019-06-04 06:48] rdstern commented on #5360
That would be great.  I tried the dialogue again now.  I used Dodoma data, and had the summary file with the start and end of the season.  Now the dialogue blocked me in a different way.  I started with the daily file, i.e. Dodoma.  Then when I went to the filed for the start (or end) and tried to change data frames it didn't allow me.  It was fixed on the daily data frame.

[2019-06-04 07:44] #5236 closed

[2019-06-04 08:36] dannyparsons commented on #5360
The two data frames must be linked to allow you to choose start/end. Were they linked or opened separately? If you create the link it should work.

[2019-06-04 08:41] maxwellfundi commented on #4540
@rdstern  With the boxplot we already have the points we need just to swap the layers so that they appear in the way you would like.

[2019-06-04 09:02] shadrackkibet commented on #5342
I personally like the output produced by openair::summaryPlot function and also it will be straight forward to implemnt quickly in R-Instat. I will also discuss this with Samuel to see if this is something they would like.

[2019-06-04 09:43] maxwellfundi commented on #4540
Am now working on this!

[2019-06-04 09:58] volloholic commented on #4540
Both options are needed in terms of the order of the layers and for the top layer transparency becomes a key parameter. If you have a small data set then having jitter on top it really important I would argue that should remain the default but the option of swapping the order of the layers is highly desirable.

[2019-06-04 10:44] Carolnikie commented on #5016
Have tested it too and didn't get any error.

[2019-06-04 14:21] stevenndungu commented on #5016
Thanks @Carolnikie for testing. I just a small code tidy up to do from Danny's comment. Actually let me finish up with now.

[2019-06-05 09:33] rdstern commented on #5313
I was told that the variable dates works - but I still get this error reported at the start of this issue.  I wonder if it may be because I had to use the "ordinary" Prepare > Column: Reshape > Column Summaries dialogue, rather than the Climatic > Prepare > Climatic Summaries dialogue.  (That was because the climatic summaries couldn't - at that stage - cope with missing values)

Using the "ordina

[2019-06-05 10:02] dannyparsons commented on #4540
I was reluctant to suggest adding the change to swap the order of the points layers, because we know this is just a subset of the changes we want to make on this dialog to allow users to flexibly choose which layers of boxplot/point/violin they have and in which order. So any changes now which aren't simply changing the default will likely be redone in a different way.
Since there's a case for bot

[2019-06-05 12:57] dannyparsons opened #5362 "Extract data from a netcdf file based on a shapefile"
**Is your feature request related to a problem? Please describe.**
Currently we can extract points of boxes from a netcdf file but it should be possible to extract the points within a boundary of a shape file. This is useful to get data for a specific country/region etc.

**Describe the solution you'd like**
An additional option in the Import NetCDF file sub dialog alongside Range/Point/Points.

*

[2019-06-05 18:52] dannyparsons opened #5363 "Filter name should reset when defining a new filter"
When defining a new filter and typing a name for the filter, if I later define another filter it displays the same name as used previously. This is not really sensible because the rest of the dialog resets since it is a new filter. But currently its too easy for users to overwrite a previous filter.

So I suggest the filter name resets when we define a new filter.

[2019-06-05 18:53] dannyparsons commented on #5363
@africanmathsinitiative/developers someone can take this up

[2019-06-06 07:16] rdstern commented on #4540
I am concerned that this generality will mean it takes a long time to get my graph of the type shown above.  Could we therefore at least add the same options to the main dialogue for jitter, that we have when jitter is added to a boxplot.  I assume that could be quite quick and would be useful anyway.

Then I could get what I want by adding the boxplot as a second layer.  That's quite easy to do n

[2019-06-06 08:24] Ogik99 commented on #5363
Currently working on this

[2019-06-06 11:34] maxwellfundi commented on #5363
@dannyparsons  A quick question here. I would like to urgue that, across all other dialogs, we have this behavior of having the previously user typed values in ucr saves for graphs and columns etc. Would this be something that would be sensible generally, or just for this case?

[2019-06-06 12:08] dannyparsons commented on #5363
The difference with this dialog is that it doesn't open in the same state it was closed, because you are explicitly choosing to define a new filter - so everything should reset. So I do see this as a special case.

Our principle for most dialogs is that they reopen the same as when they were closed. Not saying we shouldn't do this for all dialogs but I think the case is clear for this dialog but w

[2019-06-06 12:15] maxwellfundi commented on #5363
Okay, we have fixed it.

[2019-06-06 12:55] chrismclarke opened #5365 "Installation Warning - get installer signed"
**Is your feature request related to a problem? Please describe.**
When you download and install there is a fairly off-putting message displayed

![image](https://user-images.githubusercontent.com/10515065/59034379-d5674c00-8862-11e9-9bfe-dc16f17b2980.png)

You have to click more-info to enable run button

![image](https://user-images.githubusercontent.com/10515065/59034399-e3b56800-8862-11e9-8aab

[2019-06-06 13:11] Ivanluv commented on #5323
am taking this up

[2019-06-06 14:23] dannyparsons commented on #5365
Thanks Chris, this is definitely on our radar. We have a similar discussion here #5202. I will move your comment there.

[2019-06-06 14:23] #5365 closed

[2019-06-06 14:24] dannyparsons commented on #5202
Comment from @chrismclarke originally here #5365:

[2019-06-06 14:26] dannyparsons commented on #5202
I think our only reason for delaying this was that we wanted a reasonable IDEMS website before applying as I believe looking at the website is part of the verification when applying for an organisation certificate. This should be complete in a couple of weeks.

[2019-06-06 15:17] dannyparsons opened #5366 "Change file extension in Export to CMSAF R ToolBox dialog"
A very minor change needed to this dialog is that the extension of the file written should be `RData` instead of `Rdata`.

This is just to be compatible with the R ToolBox which expected the extension to be `RData`.

[2019-06-06 15:17] dannyparsons commented on #5366
@africanmathsinitiative/developers someone can take this

[2019-06-09 07:45] rdstern opened #5367 "Two small issues with Climatic > Prepare > climdex"
There is one big issue that the climdex dialogue does not include the Station field.  It is currently designed for just a single station.  I am curious to know what size of job it is to extend the code for multiple stations?  I assume that is a @dannyparsons question.

There are 2 smaller issues so far.
I am testing with Dodoma that is just a single station and Ghana, where there are 2 stations.

[2019-06-10 07:55] rdstern opened #5368 "Improvements to the mapping dialogue"
This is now working well and is a potnetial "hit" for us.

a) On the lhs, the sf options is disabled.  @maxwellfundi is investigating.
b) Is the right-hand side correctly called "Points".  It also includes labels.  Could we call it **Data** instead?
c) Then the 2 key fields are the long and lat.  I suggest they come first.
d) Then perhaps there could be 2 group boxes, with one for **Label** and th

[2019-06-10 08:41] rdstern commented on #5367
There are now some more (small) issues, as I look at the dialogue in more detail.
These are on the rainfall tab.
There is a website [here](https://www.climdex.org/learn/indices/) giving names for each index.  I suggest we change our names into those.  They are also pleasantly shorter than the ones we have.
Here they are:
![image](https://user-images.githubusercontent.com/11226469/59182742-5cb60780

[2019-06-10 09:22] maxwellfundi commented on #5368
@dannyparsons  @rdstern On the issue of the points sizes, should we have the layer sub dialog appearing on a click of a button to give the user all the points options? or would you prefer to have an nud maybe on the main dialog to edit size of the points? perhaps also the labels?

[2019-06-10 17:12] rdstern opened #5371 "The Position tab on the summaries dialogue?"
The Prepare > Column: Reshape > Column Summaries (and Climatic > Prepare > Climatic Summaries has a Position tab on the summaries.

This has First, Nth, Last and then allows a Reordering as well.

What is this for?  I thought it would be what I have been wishing for, namely we could include the value of another variable for those summaries where there is often a postion at which the summary is rea

[2019-06-11 10:05] maxwellfundi commented on #5266
@dannyparsons  @rdstern at the moment we have discussed and decided to implement the `breaks`` minor breaks` and `labels`

Do you have other things that you would like to included here?

[2019-06-11 10:55] rdstern opened #5372 "Small problem with climatic summaries"
This dialogue is working much better now.

When I use it with the middle tab, i.e. within year, I use the month as the factor.
Then, in the summary data frame the month is not recognised as a month climatically.  The year is ok.
If I instead use the Prepare > Column: Reshape > Column Summaries it works ok.
I noticed this with the library data from Nigeria - Samaru - where I started by getting mont

[2019-06-11 11:46] Ivanluv commented on #5366
doing this now

[2019-06-11 12:21] Ogik99 commented on #5266
We could add the limit options as well.
https://www.rdocumentation.org/packages/ggplot2/versions/1.0.1/topics/scale_x_date

[2019-06-12 11:52] stevenndungu opened #5374 "Misleading R version Message"
**Describe the bug**
Wrong R version requirement message. It says it requires 3.5.4 which apparently does not exist.  The message should be r version 3.6.0.

![image](https://user-images.githubusercontent.com/20383893/59348935-1955c780-8d21-11e9-9d51-d244a508cbd2.png)

**what happened exactly**
I had a problem with my R. When I uninstalled and installed again (version 3.6.0). I kept getting the ab

[2019-06-12 20:45] rdstern opened #5375 "Two small edits to the SPI dialogue"
This is working ok - at least for the SPI.
Two small points:
1) Remove the upper limit from the  up-down control for the Time scale.  The limit is currently 24, i.e. it goes from 1 to 24.  There are situations when we want more than this.  The limit of 24 is 2 years if our data are monthly.  But the dialogue also works for 10-day or even daily data, where the limit would be much higher than 24.  S

[2019-06-13 08:31] maxwellfundi opened #5376 "Packages to Add -"
- [ ] ggpmisc
- [ ] ~~splines~~

[2019-06-13 19:39] rdstern commented on #5368
@maxwellfundi I just add two more suggestions for minor changes.
1. As mentioned in the e-mails the label or text geoms could be permitted for labelling in the maps.
2. I find the initial map a bit too "magical".  I assume it is picking up the geometry variable, which is all it needs to map the outline.  Could that be made more obvious by having a receiver with a label perhaps "Geometry" or perhap

[2019-06-14 04:02] shadrackkibet opened #5378 "Climatic > Tidy and Examine >Tidy climatic data error message."
Typoo in the error message. See below a screenshot.

![image](https://user-images.githubusercontent.com/26301973/59482556-069ed800-8e72-11e9-84cf-d90e14a823a8.png)
This should be **full names:**

[2019-06-14 05:06] shadrackkibet commented on #5342
Now I see the constraint that we might have with `openair::summaryPlot` function. I tried to apply this to Kenya temperature dataset. There are 38 stations in the dataset and now I would like to have this plot per station so that I can check which station has a lot of missing values. This is not possible with `summaryPlot`  but this will definitely be possible with ggplot2 facetting.

`summaryPlot

[2019-06-14 05:13] shadrackkibet commented on #5310
@Wycklife any update on this?

[2019-06-14 06:13] rdstern commented on #5342
Interesting.  I also wonder whether adding an optional rug plot will permit the missing values to be shown explicitly.  Also the inventory plot could be useful, if the main emphasis is to see where there are missing values.  And, I hope that the 38 stations could have some useful metadata, for example the region in Kenya - is there anything bigger than a county?  Then we look separately at Western

[2019-06-15 15:19] shadrackkibet commented on #5300
My target during the internship will be to implement these two topics in R-Instat (Climatic Normals and Homogeneity). I hope the Kenyan Met Staff will find this interesting and easy to do using R-Instat.

[2019-06-15 15:55] rdstern commented on #5300
I find both to be important.  Both are also useful and interesting for you to write up for your project.  They are of very different sizes.  The climate normals can (I think) be done ok in R-Instat as soon as we have the small addition for missing values.  This also follows well from your earlier work.  I am also ready to write the documentation and can start that now.

Homogenisation is really im

[2019-06-16 10:20] shadrackkibet commented on #5310
@dannyparsons  @volloholic I have implemented this check as a function in a similar way we did for the count of missing values. I did this initially for mean function. This is all that is needed to calculate climate normals.  Below is my implementation. Any comments?

[code]

**Example**
[code]

[2019-06-16 10:32] shadrackkibet commented on #5300
I have now implemented R code for this check. Initially did this for the mean. Once that is approved it will be straight forward to do for other summaries. This issue is related to #5310

[2019-06-16 10:40] rdstern commented on #5300
That would be great.  Do you want someone from AMI to amend the missing tab in the dialogue, or would you wish to do the complete task yourself.

In the code what is needed is to be able to have the number of consecutive missing, at the same time as the total number of missing, as mentioned above.

[2019-06-17 08:27] shadrackkibet commented on #5300
I am happy to complete the task myself. If someone is willing to join that is highly welcomed.

[2019-06-17 10:43] #5366 closed

[2019-06-18 06:30] maxwellfundi commented on #5266
@dannyparsons We have looked at this with @Ogik99  and we need to have a scale date function the ggplot default class that will be passed through the dialog through to the subdialog then to the ucrAxes.
We also switch from the scale continuous to scale date when the have dates selected.

Do you have any contrary opinion?  we found that we can not have the scale continuous as well as the scale date

[2019-06-18 08:01] Ogik99 commented on #5329
This issue can now be closed.

[2019-06-18 08:25] #5378 closed

[2019-06-19 06:15] rdstern opened #5381 "New error in mapping dialogue"
This is not a serious error, as everything still works.  It is the first time I have got this error, and I have not been able to track it down.  But the message may give you a sufficient clue.

It is as you try to return to the dialogue.  It is all OK once you get past these messages and the dialogue loads.  It seems to be the same message repeatedly, and up to 4 or 5 come.  Currently about 2.

**

[2019-06-19 06:43] maxwellfundi commented on #5381
Seems like for some reason the data  is not being passed in to the `get_column_labels`. Will have a look at this.

[2019-06-19 07:59] stevenndungu commented on #5372
@I have been looking at this and seen where the error is coming from.
It is on the filter obtained
`day_filter <- instat_calculation$new(type="filter", function_exp="doy_366 >= 1 & doy_366 <= 366", calculated_from=calc_from_convert(x=list(guinea_2="doy_366")))`
To solve this I will have to discuss with @dannyparsons.

[2019-06-19 10:47] Ivanluv commented on #4892
Is this ready to be worked on?

[2019-06-19 15:04] rdstern commented on #4330
That sounds an Excellent solution.  Great!

[2019-06-19 21:16] dannyparsons commented on #5371
You can use this to get the doy of the max rainfall. Because of how the dialog works you would want to use the dialog twice. First summarise the rain to get the maximum, then summarise the doy to get first (or last, can't remember which is for max/min) and order by rain.
Because you want to summarise different columns with different summaries you need to do this in 2 steps.

[2019-06-19 21:16] #5371 closed

[2019-06-19 21:25] dannyparsons commented on #5374
You're right, 3.5.4 doesn't exist. However, it can work with R 3.5.3, although really you need R 3.6.0 because to use R 3.5.3 you need to install R packages in RStudio using a special script.

I think we could change the message to 3.6.0 for simplicity, although its technically not correct.
Happy for someone to make this change.

[2019-06-19 21:26] dannyparsons commented on #5375
@africanmathsinitiative/developers someone can take this up

[2019-06-19 21:46] dannyparsons commented on #5368
I would like some common options on the RHS like point size/colour and label size because you almost always need to set these. But having options buttons for all layer options would be very useful too. Just need to think carefully to not make it look too confusing.

I also noticed some people finding the dialog useful just with the LHS and no points or labels to plot a country map. The dialog is a

[2019-06-19 21:47] dannyparsons commented on #5342
Some space could be saved by not having a free y-axis, unless this is desirable.

[2019-06-19 21:57] dannyparsons commented on #5310
Thanks Shadrack. Could you move the code from `na_consecutive_check` into `na_check` as another option? I think we want consecutive missing to just be another type of missing check.

Then to do climate normals we need be able to require more than one type of missing check. So `na_check` needs to be modified to allow `na_type` to be a vector. If it's a vector of more than one type, then if any chec

[2019-06-19 22:01] dannyparsons commented on #5300
These would be great to work on, thanks Shadrack. I've commented on the summaries changes and happy to discuss the implementation of these different components too.

[2019-06-19 22:06] dannyparsons commented on #5266
That's all correct. We need new `scale_x/y_date` functions and on the axis tab you choose discrete, continuous or date. You can only have one of these for each axis.

[2019-06-19 22:06] #5329 closed

[2019-06-19 22:10] dannyparsons commented on #5372
@stevenndungu why is the filter the cause here?

[2019-06-20 01:58] rdstern commented on #5371
Aaaah! Clever.  Now I understand!

[2019-06-20 02:36] rdstern opened #5383 "Tidy CLICOM climatic data - some small puzzles"
The data file provided by Mozambique Met (INAM) provided a series of slightly awkward features to reshape it for R-Instat work.  I don't yet have a copy of the data, but it is like this:
1. There are 69 variables.
2. Variables 1 to 7 are the element number, station code and year/month.
3. Variables V8-V69 are 31 days rain, V8, V10, V12, etc each followed by a flag field in V9, V11, V13, etc.
R-Ins

[2019-06-20 02:53] rdstern commented on #5300
I have now been looking into this in more detail.  I suggest there are 2 key references.  One (and the main one) is the 2017 climate normals document by WMO, for which the link is right at the top.

A second one is a paper showing what the US has done on its climate normals.  It is consistent, but with slightly different "Normals" to those proposed by WMO.  For example they include quartiles as ex

[2019-06-20 06:19] Ivanluv commented on #5375
am taking this up

[2019-06-20 06:36] maxwellfundi commented on #5368
I think this is making lots of sense. I think we will have to relook how better this can be possibly for the next version. As of now, simple changes can be made to the dialog and improve it later for future versions.

[2019-06-20 07:51] stevenndungu commented on #5374
Okay, I will make the changes.
"to use R 3.5.3 you need to install R packages in RStudio using a special script." Users will they be provided with the script, just incase they want to use R 3.5.3?
I will put 3.6.0. -  it works with no issues with it.

[2019-06-20 08:03] stevenndungu commented on #5372
So I noted that this error happens only when the parameter `additional_filter ` is added in the `climatic_summary` function.  Otherwise the metadata is updated correctly (factors included).

I think it is in the `Calculations.R` file where we have `manipulations = lapply(self$manipulations, function(x) x$data_clone())` such that the factor variable(s) used in the by function loses its climatic pro

[2019-06-20 10:23] dannyparsons commented on #5371
It's possibly something we want to think about being able to do in one step, or maybe just through climatic summaries.

[2019-06-20 10:28] dannyparsons commented on #5368
You might want to play around with the design and post some screenshots for comments of different ideas you have, before making bigger code changes.

[2019-06-20 10:31] dannyparsons commented on #5374
The script is here in the wiki https://github.com/africanmathsinitiative/R-Instat/wiki/Using-R-Instat-with-R-3.5 but I don't think we need mention this in the error message. It is mentioned on the download page already.

[2019-06-20 10:32] dannyparsons commented on #5372
Ok that could be right, and we could look into this more.

[2019-06-20 11:12] stevenndungu commented on #5372
Yes, for sure.

[2019-06-20 11:13] stevenndungu commented on #5374
Nice, thanks. I had not read this.
It would have solved my problem earlier than :)  - rather than getting to 3.6.0.

[2019-06-20 11:57] #5115 closed

[2019-06-20 12:45] rdstern commented on #5371
Currently I am really happy with that.  We can do it (in the 2 steps) already in the Climatic summaries.  I am just wondering about a 4th button at the top to give extremes - (summaries in general) at the Station level, and that would then include the date of the largest rainfall or the maximum temperature ever, etc.

I am not particularly concerned that it is 2 steps.  It is (sort of) 2 ideas, na

[2019-06-20 13:07] dannyparsons commented on #5376
splines is part of the base installation of R so not needed.

[2019-06-20 13:58] maxwellfundi commented on #5376
Okay great.

[2019-06-20 14:26] #5376 closed

[2019-06-20 15:23] dannyparsons opened #5387 "Key glyphs for legends - ggplot2"
[Key glyphs](https://ggplot2.tidyverse.org/reference/draw_key.html) are a new feature of ggplot2 3.2.0 for display of the legend.

Every geom has a new `key_glyph` parameter. It can be one of the `draw_key` functions but easier is just to give the name of the function. There are 16 in the documentation e.g. this is quite nice

[code]
![image](https://user-images.githubusercontent.com/11214914/5986

[2019-06-21 01:44] rdstern opened #5388 "The PICSA crops dialogue"
I have now tried testing the crops dialogue.
One small cosmetic point is that the last control (Season End) is not remembered.  It is cleared every time.

I have been trying with the Tamale data.  The file is in the Climatic Documentation folder (Data sub-folder) and also here:
[Tamale_for_crops.zip](https://github.com/africanmathsinitiative/R-Instat/files/3312679/Tamale_for_crops.zip)

In the dia

[2019-06-21 06:09] rdstern commented on #5309
Is this being added to the next Version?

[2019-06-21 06:10] rdstern commented on #5057
Is this version being added to the next release?

[2019-06-21 07:08] maxwellfundi commented on #5309
Let me check with @dannyparsons , I hope it will

[2019-06-21 07:08] stevenndungu commented on #5309
Yes, this should be added to the next version. It actually -  just code tidying which by now it is good.

[2019-06-21 08:45] Wycklife commented on #4330
This seems okay from my end

[2019-06-21 08:55] maxwellfundi commented on #4330
@Wycklife  this comment should have been on the PR

[2019-06-21 09:36] Ivanluv commented on #5375
@dannyparsons  how do we implement the second Option

[2019-06-21 09:53] #4330 closed

[2019-06-21 10:08] dannyparsons commented on #5375
the line that prints the output should not be run

[2019-06-21 11:08] Ivanluv commented on #5375
Great.Thank you

[2019-06-21 11:44] dannyparsons commented on #5388
There is an issue with the overall condition column not being correct, which I've identified and fixing.

On the checkbox:
- When the "Require start day before planting day" checkbox is **checked** then there are 3 conditions. The start day in the data must be before the specified planting day.
- When the "Require start day before planting day" checkbox is **unchecked** then there are 2 conditions

[2019-06-21 11:59] #5374 closed

[2019-06-21 12:10] dannyparsons commented on #5388
Also, notice that in the `crop_def` data frame, when the checkbox is checked there are 4 logical columns (3 conditions and overall), when it is unchecked there are 3 (2 conditions and overall). These can be used for verification of the calculations.

I did notice in the Tamale data one year where the start day was 75, so there are non zero probabilities for a planting day 75 as the checks are not

[2019-06-21 12:12] #5388 closed

[2019-06-21 12:13] dannyparsons commented on #5388
Closed because the overall condition is now correctly calculated, but can reopen for discussing the other points.

[2019-06-21 17:20] #5016 closed

[2019-06-21 17:20] #5309 closed

[2019-06-21 17:20] #5351 closed

[2019-06-24 05:51] rdstern commented on #5368
After discussions with @maxwellfundi I would like to suggest two improvements that should be easy to do now.  Both are mentioned above:
a) The initial dialogue has just the first set of receivers - as mentioned by @dannyparsons above.  There is an Add Points checkbox that would then make the second selector and receiver available.
b) In the initial set of receivers there is one called Geometry.  T

[2019-06-26 09:08] Ogik99 commented on #5134
#5290

[2019-06-26 09:08] Ogik99 commented on #5134
#5294

[2019-06-26 09:11] Ogik99 commented on #5134
This issue I believe has been resolved with the following
#5290
#5294

[2019-06-26 09:48] Ogik99 commented on #5010
This issue was already resolved using #5141
This can be closed.

[2019-06-26 16:43] #5010 closed

[2019-06-26 16:44] maxwellfundi commented on #5134
@Ogik99 thanks for the update. Closed this now

[2019-06-26 16:44] #5134 closed

[2019-06-27 06:28] Wycklife commented on #2691
@chrismclarke @dannyparsons What is the state of this issue?

[2019-06-27 07:16] rdstern opened #5394 "Curious feature on Column Summaries"
I have been using Dodoma to calculate climate normals.  This involves a succession of summaries.  The last one gives odd results in where they are saved.  I wonder if I have used up a quota of links?

1) From Dodoma get summaries by year and month.  I added ar rainday variable and then got the monthly sum of rainfall and also raindays for each year/month.
2) Now I got the mean of these values for

[2019-06-27 09:17] shadrackkibet commented on #5310
@dannyparsons I have now implemented this as you suggested. Please have a look at it. Below is the code.

[code]

[2019-06-27 11:23] #5301 closed

[2019-06-28 04:25] shadrackkibet opened #5395 "Additional feature - Conversions dialog or elsewhere"
I have stations catalogue and I would like to map all stations at KMD. Below is a section of the data.

![image](https://user-images.githubusercontent.com/26301973/60316175-32da4e80-9972-11e9-9f03-ee8dcee3a4f6.png)

I would like to have a facility in R-Instat to convert Degrees and minutes + seconds(when available) to latitude and longitudes.

This is possible in R using `dms2dd()` function from *

[2019-06-28 07:32] rdstern commented on #5395
It would be good to have this.

If I have understood you correctly then we can take out the N, S, E, W using Prepare > Column: Text > Transform > Substring.  Then doing from 1 to -2 will get the number part and from -2 to -1 will get the direction.

Then I have used the Calculate simply as degrees + minutes/60, but it would be better to have an extra option on the conversions dialogue, because tha

[2019-06-28 07:38] #5363 closed

[2019-06-28 11:42] maxwellfundi opened #5396 "Issue with PICSA Rainfall Graph dates"
**Describe the bug**
When using this dialog, when you go to the PICSA Options, the limits are checked by default for both numeric and dates on the Y Axis. This causes the graph sometimes to disappear.

**Expected behaviour**
The limits should not be checked by default.

**Screenshots**
If applicable, add screenshots to help explain your problem, particularly of error messages.
![image](https://use

[2019-06-28 12:03] maxwellfundi commented on #5396
In addition, when you do a graph of say `start_doy` by `year` and you select the dates radio button on Y axis tab, then include the mean line and the label, the mean line is produced correctly and the label has an additional number(which appears to be the mean) as shown below

![image](https://user-images.githubusercontent.com/9798689/60340953-566eba80-99ad-11e9-8d81-c7d6584dd9f9.png)

There is a

[2019-06-28 12:14] rdstern commented on #5396
However, apart from those small things it was great, and a very important part of the workshop.

[2019-06-28 12:37] stevenndungu commented on #5396
Great! I will be looking into the error.

[2019-07-01 09:03] rdstern opened #5397 "That graphics order of levels bug again"
**Describe the bug**
With 2 levels the order sometimes changes and then can't be edited.  Here is a very simple example.
The data are as follows:
[Dodoma_normals.zip](https://github.com/africanmathsinitiative/R-Instat/files/3344694/Dodoma_normals.zip)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Describe > General > Use Summaries
2. Do a bar chart  of the Mean rain by Month
3. Use

[2019-07-01 09:25] rdstern opened #5398 "Adding labels to bar chart, etc."
We have the Describe > General > Use Summaries dialogue which seems to work ok for bar charts - I haven't checked pie charts.  Here are data with an example:

[Dodoma_normals.zip](https://github.com/africanmathsinitiative/R-Instat/files/3344731/Dodoma_normals.zip)

![image](https://user-images.githubusercontent.com/11226469/60424413-8c4fb100-9bf0-11e9-8918-a64ffc8498d6.png)

Getting this is reason

[2019-07-02 05:18] stevenndungu commented on #5396
@maxwellfundi
Could you explain how this error comes about.
"There is a funny instat.RFunction that appearson the lines tab, where you should have the mean"

[2019-07-02 05:42] rdstern commented on #5396
I think there may be a clue in the label in the graph above.  The labelling (say the mean, but I think it is all of them) seems to work fine when it is numeric.  The problem is when it becomes a date.  It could also be a date, when the year is shifted.

Then the display of the label for (say) the mean date is correct, but it is followed by a number.  When there is a single graph it is the day numb

[2019-07-02 08:43] maxwellfundi opened #5401 "wrong directory for the library for File > Open and Tidy Netcdf."
The wrong directory for the library for File > Open and Tidy Netcdf.  This was a problem that Maxwell encountered.  I don’t know if it would also have been the same in the Open from Library > Instat > directory.  Maxwell understood the issue better than I did.

[2019-07-02 08:44] maxwellfundi opened #5402 "Adding geom_contour to list of geoms"
could we add a geom for contour plots potentially for the new mapping.  I think this is just geom_contour?

The geom exists and so please check it out, comment the code and test it.

[2019-07-02 09:24] Ivanluv commented on #5045
I tink this issue is related to issue #5118

[2019-07-02 13:47] #5401 closed

[2019-07-03 06:57] rdstern opened #5406 "Data Science with R-Instat"
This is general, and not for particular work just now.

There is a book called R for Data Science, byt Hadley Wickham and Garrett Grolemund.  The online version is apparently available here http://r4ds.had.co.nz.

It is (of course) not all of data science.  But the title makes it interesting in that it helps us with the claim - see below, that R-Instat could also be useful in introducing users to

[2019-07-03 07:04] rdstern opened #5407 "Reading Excel files when sheet names include spaces"
**Describe the bug**
When reading Excel files - I tried with xls, but I think the same would apply to xlxs files, the sheet name can have spaces.  The example I had was where the sheet was called Zomba Agric.

Elsewhere in the reading of illegal names we change them.  I assume we are not yet doing that here.
It gave an error message saying "illegal symbol".

I assume anyway that this is the error.

[2019-07-03 07:10] rdstern opened #5408 "Small error in Climatic > Check Data > Inventory"
I used the inventory for rainfall data where there was the shifted year (starting in July).  Could use the Dodoma data for this.
When I use the options below:
![image](https://user-images.githubusercontent.com/11226469/60570436-7f0a0200-9d69-11e9-80fa-0d45c4062d2f.png)

Then the graph is as follows:
![image](https://user-images.githubusercontent.com/11226469/60570516-a791fc00-9d69-11e9-9738-ea04bb

[2019-07-03 08:03] rdstern opened #5409 "Small bug in bar chart"
This should be a simple one to fix!
In the bar chart one argument is called position.
The default is **stack** and that is fine and works.  The next option is what could be labelled **stack (reverse).**  Currently it is labelled position = position_stack(reverse =TRUE), which looks very odd and out of place there!  That's essentially the code, not the label.

But the bug is more what is what it pr

[2019-07-03 08:09] Ivanluv commented on #5321
@maxwellfundi can I take this up?

[2019-07-03 08:22] Wycklife commented on #5408
@africanmathsinitiative/developers I've taken this up

[2019-07-03 08:44] Ivanluv commented on #5409
am doing this now

[2019-07-03 08:58] Ogik99 commented on #5409
# 5329

[2019-07-03 08:59] Ogik99 commented on #5409
#5329

[2019-07-03 12:43] Ivanluv commented on #5367
@rdstern I think this suggestion  on changing the names on the rainfall tab is great.
@maxwellfundi  @dannyparsons  what are you thoughts on this?Can I change them?

[2019-07-04 08:59] Ivanluv commented on #5368
@rdstern  Ive tried making  improvements on the dialog regarding  your  first   suggestion on adding an Add Point checkbox and this is how it looks before the checkbox is checked
![image](https://user-images.githubusercontent.com/45068931/60653221-4d209a80-9e52-11e9-9d99-96763de765a1.png)
 after checking it returns to its previous design
![image](https://user-images.githubusercontent.com/45068931/

[2019-07-04 09:24] rdstern commented on #5368
That's exactly what I was hoping would happen.
I'd be inclined to move the Add Points to a more prominent position.  Perhaps below the Fill control?
a) There will also be another Control above the Fill that you could perhaps add.  That's sort of the same as Fill, but says Geometry.  And it is filled automatically, by the Geometry variable in the data frame.  Perhaps you could include that control

[2019-07-04 11:00] Ivanluv commented on #5368
Do this changes look fine?
![image](https://user-images.githubusercontent.com/45068931/60661832-7eee2d00-9e63-11e9-8727-6f246b2684c3.png)

[2019-07-04 11:13] rdstern commented on #5368
Great.  Now just make the Map Outline box shorter, so the SF Options button is just under the data selector

[2019-07-04 11:34] Ivanluv commented on #5368
This is looks better
![image](https://user-images.githubusercontent.com/45068931/60663730-b57a7680-9e68-11e9-8046-451a4c187d95.png)

[2019-07-04 12:07] rdstern commented on #5368
Great.  Yes indeed.

[2019-07-04 16:11] chrismclarke commented on #2691
I think the url might have changed since to 'https://kobo.humanitarianresponse.info' but I don't know many projects using it.

I would suggest closing the issue is probably ok and in the future you could perhaps think about adding  option to get data from an input url endpoint instead (with option of custom get request header fields such as basic authentication or a token)

[2019-07-04 17:29] #5402 closed

[2019-07-05 06:17] rdstern opened #5413 "Add extra argument to the rug plot geom"
In the geom_rug there is a parameter called outside which is not included yet.  Please could it be added.  It is just TRUE or FALSE and default is FALSE.

In the guide, note in the R code the extra bit that needs to be added:

**outside** "logical that controls whether to move the rug tassels outside of the plot area. Default is off (FALSE). You will also need to use coord_cartesian(clip = "off").

[2019-07-05 06:35] rdstern commented on #5396
I have now found another issue with the PICSA graphs when dates are displayed.
I added an extra layer (a rug plot) to the graph.  When I plotted with this extra layer and then changed to plotting the y-axis as a date it gives an error.  It says that the variable must be of date type.  It seems to be trying to apply the date formatting to all the layers.

This may need a bit of thought, because we

[2019-07-05 17:27] #5261 closed

[2019-07-05 17:33] #2841 closed

[2019-07-07 06:02] rdstern commented on #5396
Two more suggestions on the PICSA graphs concern the lines, and particularly the tercile lines.
a) A suggestion in the Malawi workshop was that the label for the terciles could usefully be above the line (as now) for the upper tercile, and below the line for the lower tercile.  I quite like that idea.
b) Where it currently says tercile, could that become a drop-down, with tercile as the default.

[2019-07-07 06:47] rdstern commented on #5094
I have now looked at this topic in more detail.

Rug plots are usually designed to add simple lines at the sides of the existing plot.  These little lines are usually the margins of what is in the main plot.
But they don't have to be.  They could show another variable and this was (and still is) my main concern here.  I would particularly like to show which years were censored in graphs of (say) t

[2019-07-08 07:08] #5343 closed

[2019-07-09 09:13] Carolnikie commented on #5387
I have reviewed this and it's working well on my side.

[2019-07-11 07:06] dannyparsons commented on #5310
Have discussed with Shadrack and this is almost ready to be implemented.

[2019-07-11 08:16] #5387 closed

[2019-07-11 08:19] dannyparsons commented on #5387
Thanks for reviewing @Carolnikie. In future, commenting on the pull request about a review of the code is better so its in the same place as the code.

[2019-07-11 08:39] dannyparsons commented on #5395
We've discussed this with Shadrack and think the best approach is to write our own function so we can make a few additions to the `dms2dd()` function and also avoid having to add a whole package for a single function.

[2019-07-11 09:01] dannyparsons commented on #5363
For columns at least, we decided to have the current data frame columns so that you can see existing columns, replace an existing column or give a name similar to an existing name. That makes sense for columns, For graphs/models I think that's probably less useful but we kept it for consistency.

So, you're suggesting only to see the names of what has already been saved for that dialog? I could se

[2019-07-11 09:07] dannyparsons commented on #5396
There are a collection of issues here with the dialog, and a few more we have found this week.
I suggest we make new issue(s) with the bugs and improvements detailed to make it easier for Steven to work on.

[2019-07-11 09:14] dannyparsons commented on #5397
duplicate of #5321

[2019-07-11 09:14] #5397 closed

[2019-07-11 09:14] dannyparsons commented on #4899
duplicate of #5321

[2019-07-11 09:14] #4899 closed

[2019-07-11 09:27] dannyparsons commented on #5045
We decided not to be clever and guess what day the user wants when changing the month, only changing the day down from 31 to avoid an impossible date.

We could be slightly clever and decide that if the day is the end of the month, when the month changes, that the user wants the day to change to stay at the end of the month as well. If the user doesn't want this, it could be annoying, but if its t

[2019-07-11 09:48] dannyparsons commented on #5321
This relates to editing layers issue so good if you can look at this as well.

[2019-07-11 09:54] dannyparsons commented on #5408
Not sure how this is happening because only the date is supplied from the dialog, none of the shifted columns are being passed in.
I think what's easiest is always going from Jan-Dec because then only date is used. We could add an (optional) receiver for year which could then do a shifted y-axis.

[2019-07-11 09:58] #5409 closed

[2019-07-11 10:13] dannyparsons commented on #5367
I don't think these very short names are useful unless the longer name is also easily available. Unless you're already familiar with these codes you will need more information.
On the dialog we're using checkboxes so there's space for text. I like the "medium" length names i.e. "Number of frost days" we could have "FD (Number of frost days)" or "Number of frost days (FD)"
Then the "long" descripti

[2019-07-11 10:24] dannyparsons commented on #5368
If we have a geometry receiver then it must auto fill in the same way ggplot2 detects the geometry column. According to the help https://ggplot2.tidyverse.org/reference/ggsf.html it assumes the column called `geometry`.

I would like some extra options on the right side, particularly point size and label size, these would be good without the full subdialog for layer options.
Then I agree having a

[2019-07-11 11:13] dannyparsons commented on #5367
Most of the issues with this come from being tied to functions in the climdex package, for some of these like using station, I don't see an easy way of solving without a rewrite.

I would not be in favour of adding a station receiver to the dialogs yet, especially if it will autofill the station, because its not doing anything with it yet, and a user might think they can do something to enable it.

[2019-07-11 11:21] shadrackkibet commented on #1926
I think this should be closed now. Most of these ideas have been implemented. I suggest anything that remains to be reported as specific separate issues.

[2019-07-11 11:47] shadrackkibet commented on #5013
@Wycklife please proceed with this task. I am available to provide support if you need.

[2019-07-11 12:10] #5413 closed

[2019-07-11 12:16] dannyparsons commented on #5398
If we have this for the Use Summaries dialog, shouldn't we also have this for the normal bar chart dialog?

[2019-07-11 12:25] #1926 closed

[2019-07-11 12:36] dannyparsons commented on #5398
Do we actually need anything other than the counts for the label? If so, then we don't need a receiver and its much easier. It's going to be complicated implementing rounding etc. correctly for only numeric labels.

[2019-07-11 13:36] #5375 closed

[2019-07-11 15:03] Wycklife commented on #5013
@shadrackkibet It's fine, thanks

[2019-07-12 16:00] rdstern opened #5420 "Multiple plots strikes again!"
In the TMA workshop the (known) plotting bugs all were evident on the same day - even the same task.
The one I hope is simple to solve is that when the multiple plots button is used, then when the dialogue is opened again the multiple feature is still there, but it says Single Variable.  I assume this is on all those dialogues.
Try, for example Describe > Specific > Histogram.  Change the Single V

[2019-07-13 11:06] rdstern opened #5421 "Problems with the fit 3-variable model"
In the **Model > 3 variable > Fit model** it does not cope with missing values in the data.

The **Model > 2 Variable > Fit Model** and the **Model > General > Fit Model** do cope nicely.

@stevenndungu  worked on them and they seem to be working well.  The 3 variable must have been omitted.  This is both for the fitting itself and then for saving the fitted values and residuals etc.

The example

[2019-07-13 11:55] rdstern opened #5422 "Finding points in a polygon?"
From where we are now, this would be very useful, but I don't know how to do this.

Here is my problem.  In each country with climatic data we are being given the station data to draw on a map.  The station file needs checking - in each case.  Often, for example in Tanzania, the station file does not include the region, or the district variables.  It would be helpful if it did, both to support che

[2019-07-13 12:53] dannyparsons commented on #5422
The solution in the link looks good for doing this.

[2019-07-13 12:58] dannyparsons commented on #5421
@maxwellfundi can you suggest someone to take this? It should be simple by following what was done for the 2 variable dialog.

[2019-07-15 08:07] Ogik99 commented on #5094
@dannyparsons @maxwellfundi what's are your thoughts on the above

[2019-07-16 07:12] rdstern commented on #4902
[dodomacrops.zip](https://github.com/africanmathsinitiative/R-Instat/files/3395739/dodomacrops.zip)
This file shows a problem with the crops when there are missing values in the data.
This is the dialogue:
![image](https://user-images.githubusercontent.com/11226469/61272926-32c6b500-a7a0-11e9-887e-839d3c95cf86.png)
The detailed results are in the sheet called crop_def that gives the results each y

[2019-07-16 13:50] Ogik99 commented on #4539
@maxwellfundi this issue can now be closed. It's addressed by #5382

[2019-07-16 13:56] Ogik99 commented on #5025
@dannyparsons can we go ahead and implement facet option for PICSA rainfall graphs

[2019-07-16 14:07] Ogik99 commented on #5047
We have been able to at least add peaks and valleys to the line plot.
Adding correlations and linear regression equations can be implemented using the broom package.
@dannyparsons @maxwellfundi  any suggestion on the design. Can we have these options on the plotting sub dialogue as suggested by @rdstern  above.

[2019-07-16 14:11] Ogik99 commented on #4533
Seems this issue was already resolved. Can it be closed?

[2019-07-16 14:21] Ogik99 commented on #4429
#5164

[2019-07-16 14:35] Ogik99 commented on #4313
#5266

[2019-07-16 14:53] volloholic commented on #5321
There are probably now multiple issues mixed up here. I looked quickly at #5397  and #4899 with @rdstern  and the problem was simply that the main geom has not been assigned a position when first set. This is the iposition parameter when adding the geom to the base operator.
We will follow up this issue over the next day or two.

[2019-07-16 14:59] Ogik99 commented on #4196
Seems like this task was completed. Can it be closed now

[2019-07-16 16:53] Ogik99 commented on #4130
#5266

[2019-07-16 17:00] Ogik99 commented on #4089
#5349

[2019-07-16 17:07] Ogik99 commented on #4027
#5037

[2019-07-16 17:11] Ogik99 commented on #3917
#5349

[2019-07-16 17:13] Ogik99 commented on #3860
@maxwellfundi ?

[2019-07-16 17:28] Ogik99 commented on #3513
#5266

[2019-07-16 19:16] rdstern commented on #5025
This is already available in the current dialogue.  I suggest this can be closed

[2019-07-17 05:22] rdstern opened #5427 "Error when saving an rds file when a filter is in use"
When a file (say dodoma) is saved as an rds file, then a filter in operation is kept on re-opening.  But the remainder of the data was not saved.  If there were 2000 filtered values out of the 28,000 then it says 2000(2000) on reopening.
Getting rid of the filter just leaves the 2000 values present.

[2019-07-18 06:35] rdstern commented on #5342
Here is an example with a rug plot and the Dodoma data
![image](https://user-images.githubusercontent.com/11226469/61433888-69313b00-a92c-11e9-8299-498e3ff87a56.png)

I think it is possibly better with the rug at the top:
![image](https://user-images.githubusercontent.com/11226469/61434067-de047500-a92c-11e9-9cc5-df1cebb45178.png)
Having a colour option for the rug is perhaps useful?
![image](http

[2019-07-18 06:41] rdstern commented on #5342
To do this for multiple elements I stacked the data, then did a line plot.  I then did a simple
Rug <- ifelse(is.na(value),NA,Date).  The Rug is numeric, so I had to make it into a date with the R origin of 1/1/1970.
Then simply made that into the x-variable on the rug-plot layer.

[2019-07-18 06:50] rdstern opened #5428 "Simplifying the Define Climatic Data system"
I am thinking here of the dates part of the system particularly.  This is what is filled automatically on many of the climatic dialogues.  This follows discussions with @volloholic .

I propose we only define one (date value) at a time.  For example, for Dodoma we sometimes need doy and sometimes s_doy.  Only one is defined at a time.  If you want to change then you can.  So you could do some anal

[2019-07-18 06:54] rdstern opened #5429 "Small addition to the Make Date dialogue"
In the Make Date dialogue one option with a single column is for you to specify the origin.  Could we add the R default.  It could simply be given as R. The code should be simple, because it could be adapted from Excel - the origin is 1/1/1970.

[2019-07-18 06:57] rdstern opened #5430 "Adding a Date when a layer is added in ggplot graphs"
I hope this is simple to add.  In the main dialogues for (say) a line plot, or a rug plot the x or y could be a date column.  When numeric is ok, then so is a date.
But when I add a layer to a graph the date columns don't appear.  They should.

[2019-07-18 07:05] rdstern opened #5431 "Line plot has multiple plot bug in Version 5.1"
**Describe the bug**
In the graphs you have the option of Single or Multiple y.  In the line plot:
a) Complete it with single - I think any x and y.  Then close. Then return to the dialogue it has lost the y and the multiple is now there.

Also the multiple still says Single - which is a bug on other graphics dialogues too.  And on the line plot there is a funny area added half into the control.

[2019-07-18 12:35] Ivanluv commented on #5431
@dannyparsons  I think commenting of the `SetReceiverStatus()` on the load event of the

`ucrVariablesAsFactors` is the cause of this bug

[2019-07-18 15:23] rdstern commented on #5342
For multiple sites and a single element here is an example:
![image](https://user-images.githubusercontent.com/11226469/61470046-3f9e0100-a978-11e9-9a1d-c5e74ae2b71c.png)

It has the free-scale for the Y which works quite well here.  I suggest Free scale Y is the default if multiple elements and the same Y is the default for a single element, but you can have free scale then.

[2019-07-19 01:35] shadrackkibet commented on #5428
In addition to the above, this dialogue should give a message somewhere when defining variables as climatic is successful.

[2019-07-21 16:09] rdstern commented on #5342
Looking at the existing **Climatic > Check Data > Display Daily** I suggest this plot above could be a similar dialogue to the Graph there.
a) The new one could be simply Graph and a 3rd button could be **Graph by Year**.
a) The existing dialogue is the Graph by Year and could remain.  It is designed particularly for rainfall, but it could be for any (single) element.  That graph by year function

[2019-07-22 09:38] rdstern opened #5434 "Output window always scrolls to the bottom?"
I have been (painfully) editing a daily climatic file to make corrections to the temperature data.

I describe my method to give context, but the final question is then simple.

My method has been to do a quality control run, then put the logical column back into the daily data frame and then to filter on those rows.  I have about 90 rows of data to consider making corrections.

The correction is

[2019-07-22 09:47] rdstern opened #5435 "Small addition to the replace value in data function?"
In my corrections to the climatic data I am repeatedly using this function.  An example is as follows:

**Replace Value in Data
data_book$replace_value_in_data(data_name="DODOMA.AIRPORT.DATA", col_name="Tmax", rows="21142", new_value=NA)**
I am also recording my action manually in an Excel file with the offending values.
Now this function is almost keeping the record I need of my actions.
Could it

[2019-07-23 12:03] Ivanluv commented on #5368
I would like to  know,should point sizes and label sizes be receivers?
Also from the point group box which receivers are point options and which ones are label options

[2019-07-23 12:05] shadrackkibet commented on #5342
@africanmathsinitiative/developers I need someone to make designer amendments here.

[2019-07-23 12:47] Ogik99 commented on #1789
#5436

[2019-07-24 07:48] Ivanluv commented on #5270
@rdstern  am able to produce the graph but have no idea on how to use plotly while using the dilogue.Could you assist me on this please.

[2019-07-24 07:58] rdstern commented on #5270
I'll check with @dannyparsons .  My understanding now is that neither plotly or the R-plot will work with a combined graph.

[2019-07-24 08:03] Ivanluv commented on #5270
okay.Thanks

[2019-07-24 10:18] #5333 closed

[2019-07-24 14:57] #4539 closed

[2019-07-24 14:59] dannyparsons commented on #5047
I think a good first step would be to have some example plots showing percentages on Mosaic Plots, correlations and linear regression equations using `broom` just done in R and then we look at the R code to see how we might want to incorporate this into the dialogs.

[2019-07-24 15:00] #4533 closed

[2019-07-24 15:02] dannyparsons commented on #4313
The scales packages is separate from the initial task of implementing the scale options for different data types - starting with discrete and date scales.

[2019-07-24 15:03] #4196 closed

[2019-07-24 15:04] dannyparsons commented on #4130
This is now implemented in the PICSA graphs dialog. The general solution for this will be making our own data type for "day of the year" which will be able to display as a string but be stored internally as a number.

[2019-07-24 15:06] dannyparsons commented on #4027
@Ogik99 are these all done (apart from 4.)?

[2019-07-24 15:08] dannyparsons commented on #3513
solution is being discussed here https://github.com/africanmathsinitiative/R-Instat/issues/4130#issuecomment-514671106

[2019-07-24 15:08] #3513 closed

[2019-07-24 15:09] dannyparsons commented on #3512
solution is being discussed here https://github.com/africanmathsinitiative/R-Instat/issues/4130#issuecomment-514671106

[2019-07-24 15:09] #3512 closed

[2019-07-24 15:13] #5025 closed

[2019-07-24 15:27] dannyparsons commented on #5429
While looking at this, could the special origins have the date written next to them, so instead of "Excel" it says "Excel (1899/12/30)"? And the same for others? That would mean you don't have to check what each of them mean separately. Then the same for the new R date.

[2019-07-24 15:29] dannyparsons commented on #5430
This is a general issue that we have often set the data type as c("numeric", "factor") for many aes. I think now this was a mistake and we should allow be allowing any column for these. We only need to restrict if its specifically for "numeric" only or for factor/character etc.
@maxwellfundi @Ogik99 let's look at how we could easily modify this for the geoms.

[2019-07-24 15:35] dannyparsons commented on #5428
I think these will be good improvements to the system.

[2019-07-24 15:36] dannyparsons commented on #5434
This is an easy thing to add to our Options dialog.

[2019-07-24 16:59] rdstern commented on #5434
Might not scrolling to the bottom also be a possible option on the right-click menu in the output window?

[2019-07-24 17:00] dannyparsons opened #5438 "Enable Plot Options sub dialog for multiple variables"
I think we can now enable the Plot Options sub dialog on graphics dialog when we have multiple variables. Facets and other options should now work correctly when stacking.

I am not sure if we can also enable the Layer Options, this could be tested but I suggest leaving it disabled for now.

[2019-07-24 17:44] #5427 closed

[2019-07-24 20:54] maxwellfundi commented on #5438
Great, in almost all cases I have used plot options with multiple variables I found it working. @Ogik99 and I will have a test on the layer options

[2019-07-24 21:03] maxwellfundi commented on #5428
Yes, Shadrack you are right. I think a message box to say it's successful
would be an awesome idea.
Mostly people don't know if the operation is successful or not because they
are used to see some something happen on clicking ok.

On Wed, 24 Jul 2019, 18:35 Danny Parsons, <notifications@github.com> wrote:

[2019-07-24 21:06] maxwellfundi commented on #5430
Great we will do!

On Wed, 24 Jul 2019, 18:29 Danny Parsons, <notifications@github.com> wrote:

[2019-07-25 08:34] dannyparsons commented on #5438
Great, let's first make sure to enable Plot Options on all the dialogs.

[2019-07-25 11:55] dannyparsons commented on #5202
Just an update, I've now purchased the EV certificate and going through the validation process, which should take about a week, and then we'll be able to use the same certificate across any number of apps including R-Instat/Climsoft/CAST.

[2019-07-25 15:50] rdstern opened #5440 "Possible nasty bug after the Delete sheets dialogue"
I eventually got the following:
![image](https://user-images.githubusercontent.com/11226469/61887538-bf3c4a80-aef9-11e9-8e7d-aaa0908323b3.png)

This was a severe test of R-Instat.  Until this appeared it was holding up well.  I think the problem is with the delete of the sheets, but describe the process I went through.  It was also deliberately quite a test of R-Instat.
[PLUVIOMETRIC_monthly_data_

[2019-07-25 16:52] rdstern commented on #5440
I have discovered a bit more.
I went through the 3 steps again, but carefully deleted the individual sheets in order.  Here was the command, which seems to be ok.  (I put in bold the difference to the one that gives the problem.)
# Code generated by the dialog, Delete Data Frames
data_book$delete_dataframes(data_names=**c("P.17","P.18"**,"P.19","P.20","P.21","P.22","P.23","P.48","P.67","P.113","P.

[2019-07-25 18:48] #5300 closed

[2019-07-25 20:11] chrismclarke commented on #5202
Sounds great!

[2019-07-26 08:21] rdstern commented on #5440
Just to report that I have since managed to sort out these data and got an inventory graph.  This was before deleting any data frames.  I then went from the last data frame to the first, by right-clicking at the bottom left (where it lists all the data frames) and got the dreaded cross - see above - again.

I clicked to continue, then did delete the data frames, then checked from the bottom tabs t

[2019-07-26 10:11] dannyparsons opened #5444 "Infill missing dates - name change?"
There is often confusion about "Infill missing dates" because "infilling missing" is also associated with processes that replace missing values in data with estimated values. Whereas in this context by "missing dates" we means rows which are missing not missing values.

Proposed name changes are:
- Insert missing dates
- Insert rows for missing dates
- Fill date gaps
- Pad missing dates

I don't t

[2019-07-26 10:21] Ogik99 commented on #4027
Yes Danny, part four is yet to be implemented.

[2019-07-26 10:32] rdstern commented on #5444
I checked also with Carlos - we both go for **Fill Date Gaps** from the list above.

Or perhaps "Complete dates"., but I think Fill Date Gaps is clear.

[2019-07-26 10:40] dannyparsons commented on #5444
In `tidyr` language it is called "complete" but I think Fill is more immediately understandable.

I can't think of anything better than **Fill Date Gaps** so we could go for this unless other suggestions?

[2019-07-26 11:03] volloholic commented on #5444
Happy with
Fill date gap
or maybe
Complete date series
Complete date sequence
Complete date column

[2019-07-26 11:26] dannyparsons commented on #5444
I quite like **Complete date series** but maybe its too technical compared to **Fill date gaps**.

How well do either of these translate into French (or Spanish)?

[2019-07-26 11:31] Ogik99 commented on #5047
We actually used the ggpmisc package to add peaks and valleys to the line plot. I extended the use of this package in adding the coefficient of determination and regression equation. I particularly used the survey data set
![poly_eq](https://user-images.githubusercontent.com/43957868/61948957-f2421500-afb1-11e9-8104-fb581fd69125.jpeg)

[2019-07-26 11:32] Ogik99 commented on #5047
`survey <- data_book$get_data_frame(data_name="survey")
last_graph <- ggplot2::ggplot(data=survey, mapping=ggplot2::aes(x=yield, y=field)) + ggplot2::geom_line() + theme_grey()
last_graph +  stat_poly_eq(formula = y ~ x, aes(label = paste(..eq.label.., ..rr.label..,sep = "~~~")), parse = TRUE)`

[2019-07-26 11:33] Ogik99 commented on #5047
I used the script window on R-Instat to produce the above plot

[2019-07-26 11:34] Patowhiz commented on #5239
Different proposition.

Currently the display as html and display in separate window options don't have the feature to set the number of rows that a user wants to be displayed. It's fine for display in separate  window option because the data frame don't take long to be displayed. But for display as html if the records are many then it takes long. Was this done intentionally, if not then we could

[2019-07-26 11:36] Ogik99 commented on #5047
I found the following links to be useful:
https://docs.r4photobiology.info/ggpmisc/
https://stackoverflow.com/questions/7549694/adding-regression-line-equation-and-r2-on-graph

[2019-07-26 12:20] rdstern commented on #5444
Into Spanish Fill Date Gaps is slightly easier.  David, what is the French?

Remplir les lacunes de date? For Fill Date Gaps?

[2019-07-26 12:25] dannyparsons commented on #5239
If easy to add then yes, it could be useful.

[2019-07-26 12:35] dannyparsons commented on #5444
Let's go with **Fill date gaps** then.

[2019-07-26 12:38] dannyparsons commented on #4027
Ok great I'll close this and reopen the general issue on adding text to graphs.

[2019-07-26 12:38] #4027 closed

[2019-07-26 12:52] Patowhiz opened #5445 "Use Enumerations In Place of Hard Coded values"
Currently, we have properties/variable which hold values that hold meaning. The number of applicable values that can be set to these variables are limited. For developers to use the appropriate values they have to look at the respective class methods to understand their meanings else the risk introducing bugs in the code.

I suggest using enumerators in place of these hard-coded values. This will

[2019-07-26 12:52] Patowhiz commented on #5445
Already mentioned in issue #5216

[2019-07-26 12:52] #5445 closed

[2019-07-26 12:53] Patowhiz commented on #5216
One of the classes that need improvements in regards to this are `RSyntax ` in file **clsRSyntax**, the `iCallType `could be implemented as an enumerator.

[2019-07-26 16:19] rdstern commented on #5310
On the missing options the third is the percentage missing.
I tried to have less than 1, but it insists on integers starting from 1.  Ideally I would like to be able to type any positive value less than 100.  But it should at least allow one decimal with 0.1 as the minimum, rather than simply integer values.

Apart from that, the missing options seem to be working, singly and also in the combinati

[2019-07-26 16:23] dannyparsons commented on #5310
@shadrackkibet for percentages this could be replaced by a textbox to allow any number typed.

[2019-07-26 16:45] shadrackkibet commented on #5310
great I will make this change now.

[2019-07-26 17:47] Ogik99 commented on #5047
`# Code generated by the dialog, Line Plot
survey <- data_book$get_data_frame(data_name="survey")
last_graph <- ggplot2::ggplot(data=survey, mapping=ggplot2::aes(x=field, y=yield)) + ggplot2::geom_line() + theme_grey() + ggpmisc::stat_poly_eq(formula="y ~ x", aes(label=paste(..eq.label.., ..rr.label.., sep = '~~~')), parse="TRUE")
data_book$add_graph(graph_name="last_graph", graph=last_graph, data

[2019-07-26 17:50] Ogik99 commented on #5047
`# Code generated by the dialog, Line Plot
survey <- data_book$get_data_frame(data_name="survey")
last_graph <- ggplot2::ggplot(data=survey, mapping=ggplot2::aes(x=yield, y=field)) + ggplot2::geom_line() + theme_grey() + ggpmisc::stat_poly_eq(formula="y ~ x", aes(label=paste(..eq.label.., ..rr.label.., sep = '~~~')), parse="TRUE")
data_book$add_graph(graph_name="last_graph", graph=last_graph, data

[2019-07-26 17:53] Ogik99 commented on #5047
@dannyparsons @maxwellfundi tried implementing this with visual studio. Seems to work well from my end. Any thoughts?

[2019-07-26 18:41] #5321 closed

[2019-07-26 18:43] dannyparsons commented on #4902
fixed by #5447

[2019-07-26 18:43] #4902 closed

[2019-07-27 08:40] dannyparsons commented on #5047
very nice to have this. Let's now think what the options will be. What are the possible variables such as `eq.label` and `rr.label`? Will this be on the main dialog or sub dialog? etc.

[2019-07-27 09:17] rdstern commented on #5047
I agree.  very exciting.
On our principles of keeping the main dialogues simple perhaps this is another tab or even another button.  I notice there is quite a range of items we could add - including a grob or a small table.  Do we want to think of them all together?

[2019-07-27 10:04] #5310 closed

[2019-07-28 10:18] rdstern opened #5450 "Package to transform plots into ggplots"
From the description the package [ggplotify](https://cran.r-project.org/web/packages/ggplotify/ggplotify.pdf) sounds interesting?  With using different packages, e.g. for Wind roses, and other possible graphs from the circular (or perhaps the extRemes) package - or others, it sort of seems a miracle if they can become ggplots.

I see this as exploration at this stage, possibly interesting?

It loo

[2019-07-29 17:14] shadrackkibet commented on #5395
[code]
@dannyparsons here is the implementation of the R function. Any comments?

[2019-07-29 17:58] shadrackkibet commented on #5395
Here is the design.

![image](https://user-images.githubusercontent.com/26301973/62070573-73640b00-b243-11e9-89b7-017b61727f1d.png)

[2019-07-29 18:08] dannyparsons commented on #5395
Looks pretty good. Few small points:
- We can add a check that `ns` only contains the right letters, currently I could have "y" and it wouldn't complain.
- `we1 == T` can be replaced with `we1`, since it's already logical
- instead of checking if `mm` and `ss` are missing I would have 0 as their defaults, then a check is not needed. That's then clearer to the user what is happening
- it would be g

[2019-07-29 20:26] shadrackkibet commented on #5395
Thanks, yes it is true that when `ns` is provided then `dd` should be positive. On your 5th point, I want  `/` and not `*` because I have minutes converted to seconds.

[code]

I am not sure if it is common to have N/S E/W column. I think if this is not available then `dd` has positives\negatives. What do you think,  should we also add a check if `dd` has positives and negatives then `ns` isn't ne

[2019-07-30 08:00] dannyparsons commented on #5395
You don't want `%in% 0:60` because that only allows integers.
I've simplified a bit. I don't think we get too complicated with the checks, if `dd` has negative values and `dir` is also supplied they should go back and decide what they want to do. I've modified it so that `dir` is not required. We don't have to use this if we don't want to.
A length check would be good but if any are length 1 then

[2019-07-30 09:33] shadrackkibet commented on #5395
Thanks.

[2019-07-30 10:06] dannyparsons commented on #5428
An output message when defining is now done.

[2019-07-30 11:44] #5429 closed

[2019-07-30 14:54] #5395 closed

[2019-07-30 14:59] rdstern commented on #5242
@jkmusyoka agrees with my view.  In this Mozambique workshop we have participants who are much less confident with the mouse etc.  It would have helped them if the right-click for the columns were also activated when you are in a cell.

So I am repeating my request.

[2019-07-30 15:10] dannyparsons commented on #5428
The changes in use of defined climatic variables (when merged) with require some changes in climatic dialogs:

- The method `SetClimaticType` can still be used - but what it does will change. Instead of restricting the selector to only show variables of a certain climatic type it will set the receiver to autofill the variable of that type if one and only one exists, and will still show the full li

[2019-07-30 15:15] rdstern commented on #5428
They sound great.  One small change I would like to confirm will happen automatically in the PICSA rainfall is that the station will (by default) be included in the facets on the main dialogue.

[2019-07-30 15:26] dannyparsons commented on #5428
Yes, the good thing is that we can now set two kinds of types for a receiver. A facet receiver can be restricted to only show factors (if we want) and also have an autofill type which is climatic - year variables so if there is only one climatic - year variable it will autofill, and the selector will show all variables of the first type (factors in this case).

I have set it up so that the climati

[2019-07-30 15:30] rdstern opened #5460 "PICSA rainfall graphs in Version 5.2"
1. The addition of them mean line when labelled now prints with many decimals.  I think it is also the wrong line.  When there are facets it gives the overall mean.  This is only for numeric summaries .  It seems to be working fine for dates.
2. When there are dates the yaxis limits still seems to have a problem.  It sets to 1 Jan to 31 Dec automatically and needs to be unset.  It is more obedient

[2019-07-30 18:24] shadrackkibet opened #5461 "Homogenization of climatic data"
**Is your feature request related to a problem? Please describe.**
I have now started thinking about the implementation of `homogen` function from `climatol` package in R-Instat.

**Describe the solution you'd like**
I suggest this as a special dialog in the climatic menu. I am yet to come up with the design of the dialog. This is still at an early stage as the Rcode is not yet ready.

**Describe

[2019-07-30 18:42] dannyparsons commented on #5461
This is a good starting point. Once we have a full R script we can work on implementation into R-Instat and possible changes we might propose for the package.

[2019-08-01 13:25] #5322 closed

[2019-08-01 13:42] shadrackkibet commented on #5332
Adding this to the summaries subdialog is not yet done. So this should remain open.

[2019-08-01 16:18] rdstern commented on #5460
Another problem is to add extra layers, either using Multiple or adding another line.  I wanted to plot the start and end on the same graph.   But it seems to insist that the Y must then be a date- type column.  So the variable I wanted wasn't there in Multiple.  And it gave an error.

I have now tried again.  When I go into PICSA graphs and click on Multiple it says numerics - but shows me no col

[2019-08-02 15:36] rdstern commented on #4102
This bug - if it is the same has messed us up in the Mozambique workshop.
We had data for a single station that needed infill.  But there was no station variable.  It doesn't like it.
It needs a station name, if there is infilling to be done.  It works fine if nothing needs to be infilled.
It may be simply that it now says something like:
336 values filled in for station xxx.
Perhaps all that need

[2019-08-03 11:00] rdstern opened #5463 "Crops and multiple stations"
Currently the crops dialogue doesn't seem to cope with multiple stations.  It works fine with multiple stations, but then the final probabilities add over all the stations.
Could they please add another dimension to the tables so the results are given station-by-station.

The dialogue currently produces 2 data frames called drop_def and crop_prop.  The detailed crop_def is fine.  It has the statio

[2019-08-03 15:30] shadrackkibet commented on #5461
@dannyparsons I now have suggestions to propose to the author of **climatol** package.

1. An option to pick a data frame in a tidy format as shown below to be added. This will then make it easy for us to implement his function in R-Instat.
2. The current `homogen()` function works with one element at a time. It will be nice to add an option to pick an element\elements from the data frame.
3. last

[2019-08-04 10:13] dannyparsons commented on #5463
Yes I think the raw calculations are being done by station so its just to include station in the subsequent summaries which is not a big task.

[2019-08-04 13:13] rdstern commented on #5407
Now I have tried the data file again and can't reproduce the problem!  It does seem to cope with spaces in the sheet names as I found with data from Mozambique.
I do have an Excel file that crashes R-Instat however.  It is a horrific structure.  I attach the file to show the problem.  It is the November sheet (the last one, called Novembro 2016).  It has a horrific number of columns - I can't find

[2019-08-05 06:02] rdstern commented on #4603
1. A small improvement here is to the dekads and pentades.  They now generate correctly, but the abbreviated versions are character, rather than factor.  Please could they be factor.  (It is currently difficult to make them a factor, because they come in alphabetical order, when they should be in the period in the year-order.  (And fixing that is a pain, because there are so many levels.)
As with

[2019-08-05 08:56] rdstern commented on #5398
I am adding to this subject a bit now.  There are 2 topics here.  One is adding labels to the bar charts and the other is whether the labels are just for counts or can be for anything.  That's because the formatting is more complicated for the anythings and is always simple for the counts.

The standard bar chart automatically is for a count.  Then  all you give is the x variable and the count aut

[2019-08-05 09:18] rdstern opened #5464 "Adding a column chart button to the bar chart dialogue"
I suggest this could be quite an easy addition.

The current Describe > Specific > Bar Chart dialogue has 2 buttons at the top.  I suggest a third button Column Chart after the Pie Chart.

This is the same as the Bar Chart, but with the stat="identity" as automatic.  It is alternatively geom_col which we have already.  So it can call geom_col.
a) This is just the same as geom_bar, but with the sta

[2019-08-06 13:02] rdstern opened #5465 "Add to the numeric option to the right-click menu"
Could we rename the Convert to Numeric into **Convert to Numeric - Labelled** and add a further option to **Convert to Numeric**.  That second option could do a drop_label (or equivalent) from sjlabelled first.

Or leave the first option as it is and the second one is **Convert to Numeric - no label**.

I keep having the problem and have to do the **Prepare > Data Frame > Convert Columns** with a

[2019-08-07 06:12] rdstern opened #5466 "Improve one-variable summarise dialogue"
This is a useful dialogue.  I use it a lot, but only in the "default" way where it uses the standard base-R command of **summary**.  Once improved it could also be very useful in teaching.

You can tick the options button to use our own summary statistics.  It would be very useful if this worked well and I make suggestions for discussion on this.  This would also help the production of summary sta

[2019-08-07 07:41] rdstern opened #5467 "Bug to report on One Variable Frequencies?"
Our version of **Describe > One Variable > Frequencies** is good now.

I tried the default, which can produce a lot of printout.  Then found there was a way of grouping, that works well.  And it is nicely in the dialogue.  Here it is for temperatures with the default of 10 groups:
![image](https://user-images.githubusercontent.com/11226469/62603131-2b9d4d80-b8ed-11e9-9556-31f7be0fe374.png)

If you

[2019-08-07 08:26] rdstern opened #5468 "ggplotify and cowplot and ggresidpanel"
We continue to improve the graphics.  As @volloholic will be working with the AMI team next week I wonder whether any of the following packages may help us:

1. ggplotify
We do sometimes use "ordinary" plots in R - usually from a package.  This seems to be able to turn them into ggplots.
2. cowplot.
This provides nice clean themes - that was how it started.  It now has one for a map that might be

[2019-08-07 10:55] rdstern commented on #5467
I have now compared the results with those from Prepare > Column: Reshape > Column Summaries
You get the same messages there.  In the one-way frequencies there is a disabled Save checkbox.

With the more general Column Summaries with multiple variables and multiple summaries it gives an awful display in the output window - as it assumes one row and as many columns as there are variables Times summ

[2019-08-07 11:32] rdstern opened #5469 "Adding the gt package?"
It describes itself as" Easily generate information-rich, publication-quality tables from R".  It isn't yet in CRAN but it seems already to be recommended widely - and it is from [RStudio](https://github.com/rstudio/gt)

We will need this sort of feature.  Is this what we need.  I wonder how easily it could be incorporated?

[2019-08-08 08:41] rdstern commented on #2882
Has anything changed here in the more recent version of RDotNet?  Anything that might make this easier?

[2019-08-08 09:21] rdstern commented on #4347
Very nice to have the Wakefield keyboard now in our calculator.
I have 2 (small?) suggestions for improvements:
a) The command is given as wakefield::age() by default.  If you accept, then it says it requires the sample size.  Now we know that, because it is the size of the worksheet.  So could that be included whenever a worksheet is current.  Sometimes there is no workshhet when you first enter

[2019-08-08 13:00] rdstern commented on #5293
I think this is fixed now by @dannyparsons so am closing it.

[2019-08-08 13:00] #5293 closed

[2019-08-09 07:31] shadrackkibet commented on #5469
Good to also consider other packages like `kableExtra`  and  `knitr`

[2019-08-12 08:12] rdstern commented on #5367
I did not make my point above clearly enough, causing @dannyparsons to misunderstand one of the changes I would like.

a) In the dialogue there would be very minor changes only.  We keep the text, just change "exceeding" to ≥ in indices 20, 21, 22.  (And change the corresponding tooltip.) Also perhaps include the abbreviation with the number, e.g.
Monthly/Yearly maximum one-day precipitation [17]

[2019-08-13 06:11] rdstern opened #5470 "Spells dialogue, remaining issue"
I have been checking the spells, now merged into the master.

As far as I can tell on the first check, the unconditional spells is fine (I have yet to add missing, but so far so good even on that).  But not the conditional spells.
They should start with a spell of 0 on the day before the period starts.  So they can't be more than the unconditional spells.  Now they are.
A good test is the longest

[2019-08-14 09:27] rdstern commented on #5332
@Wycklife I have just been looking at the circular keyboard on the calculator.  Great that it is there.
a) I think it has na.rm=FALSE as the default for all the summaries.  The ordinary mean in the summaries keyboard has na.rm=TRUE so it would be good to change to that, on the circular keyboard, for consistency.
b) When you use the option to show the arguments, the end of the command is ,... and t

[2019-08-16 08:26] rdstern opened #5472 "Adding regex and/or rex package"
Here is a data set that is giving me some trouble to disentangle.

[MalawiStationslist.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/3508555/MalawiStationslist.xlsx)

It reads into R-Instat, though special symbols are not displayed well in reogrid.  They are ok in R if you view the data frame.

I would like to make the case for adding regex reasonably soonin some form?  Possibly e

[2019-08-16 21:58] rdstern commented on #5332
I have been trying to rewrite the circular chapter in the climatic guide.  That gave me a small problem in suggesting how the commands should work in the keyboard.  For example:
1. The mean is given as follows - when the data are in radians.
circular::mean.circular(circular::circular(x,modulo="2pi"),na.rm=TRUE)
2. When in degrees the mean is:
circular::mean.circular(circular::circular(x,modulo="2p

[2019-08-18 08:10] rdstern commented on #5332
@Wycklife the issue has become much simpler, since proposing that we add a set of keys and also a special dialogue to define variables as climatic.
The remaining dialogue is the extra circular tab in the Prepare > Column: Reshape > Column Summaries dialogue.

On this Tab I propose that (unlike the calculator) we assume the relevant columns are circular - defined elsewhere.

I suggest 2 blocks, wit

[2019-08-18 08:30] rdstern opened #5474 "New menu item and new dialogue to define circular"
I propose a new menu item in the Prepare menu.  It is called **_Column: Define_**.   and is below Column: Date and above Column: Reshape.
It can start with just two items.  The first is a copy (at least for now) of Prepare > Data Frame > Convert Columns and is also called **_Convert Columns_**.  Then there is a line.  Under the line is Circular.
This is a new dialogue.  There is the usual data sel

[2019-08-18 08:57] rdstern commented on #5421
I think now @dannyparsons and @volloholic and others have been looking at this issue, which is more general than the 3-variable modelling.

I am probably repeating what you have discovered, but my look is as follows.  The complications are all to do with coping with missing values in the data.  (Later it would be good to also address filters and @volloholic seems to think this is possible now?
a)

[2019-08-18 17:45] rdstern commented on #5461
@shadrackkibet I want to make sure I have understood what you want in your 3 requests.

First is that you want it to be able to read the initial data from a "tidy" data frame.  Should we specify what this tidy data frame will contain, in relation to the way he reads the data now?  I notice the example you give is monthly data and the dates are in 2 columns.  And the name is given in 2 ways, namely

[2019-08-19 09:05] Ivanluv commented on #5422
Any more ideas on how this dialogue should look like?Also what should be the appropriate name of the dialogue?
![image](https://user-images.githubusercontent.com/45068931/63252453-7d908c80-c278-11e9-8eae-25862aa35066.png)

[2019-08-19 09:24] shadrackkibet commented on #5461
@rdstern thanks for your insights,  below is my response.

Yes, I think we need to be specific. Currently, his package assumes infilling which I assume we do it from daily level and then we can obtain monthly/yearly/seasonal summaries. I am not sure if we can directly infill monthly/yearly data at the moment.  `homogen` function has an option `nm` to be set when you are dealing with yearly/monthly

[2019-08-19 09:49] rdstern commented on #5422
This looks very nice - and simple.  I think the Title could be **_Locating Points from Maps_**.  Each time it will be a single map, but it will often be used by a succession of maps in turn.
Then, in the Shape File group box there is also a single receiver with the label **_Name_**, which is the variable in the shape file that will be reported in the receiving variable.

So I think there could be

[2019-08-20 06:09] Wycklife commented on #5332
@rdstern Sorry for late reply, I've been away. I'm happy to make these changes right away

[2019-08-20 06:13] Wycklife commented on #5332
@rdstern On the issue of adding radio buttons, we had a discussion with @shadrackkibet and he suggested not to have it on the keyboard.

[2019-08-20 07:41] Ivanluv commented on #5422
Does this look okay?
![image](https://user-images.githubusercontent.com/45068931/63327278-8cd60f80-c336-11e9-8583-ca0485d152c3.png)

[2019-08-20 09:15] rdstern commented on #5332
@Wycklife welcome back.   That's right now.  As we define data to be circular, before using the functions such as the mean, we don't need the radio buttons any more.  It has made the commands much simpler.

[2019-08-20 09:17] rdstern commented on #5422
Looks very good.  Just delete the s from Columns.

[2019-08-20 09:31] Ivanluv commented on #5422
Great.Doing that now

[2019-08-20 12:22] shadrackkibet commented on #5332
Just to check, Is someone working on the R code for the summaries sub dialog?

[2019-08-20 12:48] rdstern commented on #5332
@Wycklife is working on circular, but I am not sure if he is yet doing the tab on the summaries dialogue.  That's all that I know.  And that would anyway start at the VB end I assume.

[2019-08-21 06:54] Wycklife commented on #5332
@shadrackkibet  I thought we were to do it together after the design?

[2019-08-21 06:57] Wycklife commented on #5332
@rdstern I'm working on the design for the tab. When it's ready then I would like to put it here for discussion before R code is added.

[2019-08-21 15:11] rdstern commented on #5422
@Ivanluv I wonder where the dialogue should go in the climatic menu.  Earlier I was thinking it could be added as Climatic > Mapping > Check Stations, with the current mapping therefore becoming Climatic > Mapping > Map.

Now I wonder if it would go better under Climatic > Check Data.  There could be a line at the bottom or the current options, i.e. under QC Rainfall and the Check Stations or Chec

[2019-08-22 06:42] Ivanluv commented on #5422
@rdstern  I think  putting it under Climatic > Check Data would be fine

[2019-08-22 06:43] rdstern commented on #5422
@Ivanluv  Sounds good.  I agree.

[2019-08-23 11:19] Patowhiz commented on #5242
Okay, I'll do this

[2019-08-26 09:12] rdstern commented on #5474
@AlexSananka  the new circular features in R-Instat are now just about working.  This new dialogue is needed to complete the features.  I wonder if this would be a good task for you to try to do, jointly with perhaps @Wycklife who has been developing the other features in relation to the R Circular package?  It involves quite a lot, but I think should be a relatively easy set of tasks.  I will che

[2019-08-26 10:27] rdstern commented on #5464
@Ogik99 I like this addition very much.
a) It gives a developer error when you go into the dialogue.
![image](https://user-images.githubusercontent.com/11226469/63683627-c73a2380-c7f2-11e9-9635-c8e1d057556a.png)
Then it goes in ok.
b) It seems to reset to the bar chart each time you return to the dialogue.  .
c) It is an alternative to the line chart, etc.  So could you swap the controls for the Y

[2019-08-26 10:59] rdstern commented on #5464
And I am not sure the added factor is sensible as often as for an ordinary bar chart.  But it does no harm.  Here is an example:
![image](https://user-images.githubusercontent.com/11226469/63685782-2484a380-c7f8-11e9-80fa-3c611a3b24dc.png)

So worth including the By Variable (Optional) control and the Position control as in the bar chart.
And in the bar chart it could be called By Variable and not

[2019-08-27 07:55] rdstern opened #5478 "Stronger duplicates detection is sometimes needed"
We have a quite good "system" now for detecting duplicates.  But it assumes that duplicates need to be omitted.  A second reason for a duplicate is that a day, or month or year, etc has been mis-typed.  So the duplicate is there because there is also a gap.
In the attached file 10 Nov is duplicated in many years, while the corresponding 19 Nov is missing.  The position of the duplicate is also (in

[2019-08-27 09:00] shadrackkibet commented on #5332
Since we are making an assumption that a column has been defined as circular when we are getting summaries. I think we should add this facility somewhere.

[2019-08-27 09:23] rdstern commented on #5332
@shadrackkibet yes indeed we should define it somewhere.  That's what is specified in #5474.
In addition there should be an extra circular button in the calculator - I have asked Wycliffe for this that does the definition there.  It just gives the circular::circular command

[2019-08-27 11:30] Wycklife commented on #5332
@rdstern @shadrackkibet Yes I've added the button. I see it has several parameters, should I just add them all?

[2019-08-27 11:54] shadrackkibet commented on #5332
Yes, all these parameters should be added for the calculator button.
`circular(x, type = c("angles", "directions"),
  units = c("radians", "degrees", "hours"),
  template = c("none", "geographics", "clock12", "clock24"),
  modulo = c("asis", "2pi", "pi"),
  zero = 0, rotation = c("counter", "clock"), names)`

[2019-08-27 13:57] rdstern commented on #5332
It doesn't matter having all the options, but most are for the graphs - which we don't use.  And the package says it doesn't yet use type.  The 2 important ones are modulo, where the default should be "2pi" and units where the default is the same as the package I think, namely "radians".

[2019-08-28 06:37] Patowhiz commented on #5478
This will be interesting. It's doable if the column type is known and the pattern is fairly recognisable.  My suggestion is, this should be implemented in a way that the user will get to see the changes that are about to happen to the concerned column even before they happen and possibly give an option of where to change.

[2019-08-28 10:58] Patowhiz opened #5480 "Enhancing the receiver control and removing the selector control?"
**Is your feature request related to a problem? Please describe.**
Currently the receiver is used as the ultimate destination of the columns to be used in any purpose that the user desires. The current operation is you select the receiver then you select the column from the selector. This works nice but it also contravenes the principles of a good design and user flow, from left to right. (@lilycl

[2019-08-28 11:28] Ivanluv commented on #5268
@dannyparsons  from the `ucrGeomWithAes` ,after,clicking on Boxplot Options,the `data` parameter in ` clsRggplotFunction`  lacks the `clsFilteredDataOperator` parameter which is the reason i think is causing the first issue

[2019-08-28 13:04] dannyparsons commented on #5465
Instead of this I suggest keeping a single "covert to numeric" item in the menu and include a pop up box for when the two different types of converting may give different answers and ask the user to choose.
So, if we detect that a character column has some non-numeric values then the pop up would appear and ask if you want a "normal" convert which will introduce some missing values, or a labelled

[2019-08-28 13:09] dannyparsons opened #5482 "Column summaries output display for no by factors"
Originally from here #5465

[2019-08-28 13:22] dannyparsons opened #5483 "Issue with quantiles of Date columns"
Originally from here #5482, this may have been reported somewhere already but I couldn't find it, close if this is a duplicate.

[2019-08-28 13:45] dannyparsons commented on #2882
There's no change related to this in the new version unfortunately.

[2019-08-28 13:49] dannyparsons commented on #5367
Ok thanks. I like the addition of the short names in a) and these could also be the column names as suggested in b) (in lower case though to keep with naming conventions). I think we should also be able to add the long name as the label too.

[2019-08-28 13:59] dannyparsons commented on #5472
It's a really big topic since regex is a whole language itself. Defining a keyboard for it is quite a big task. Even then, a keyboard may not be very useful unless you already understand regex.
We could put some thought into what could be useful for us as in initial step - possibly common examples instead of keys for commands, but we would need to put some time into it.

[2019-08-28 14:03] dannyparsons commented on #5421
With @shadrackkibet we discussed a solution which is to use the base plots instead of autoplot. This solves all the issue. I think this was detailed in another issue but I can't seem to find it.

[2019-08-28 14:07] dannyparsons commented on #5422
How about **Locating Points in Shape File** as the title?

I can see the logic for Climatic > Check Data but I feel its going to be a bit hidden there. Whereas  Climatic > Mapping would be an obvious place to look for this kind of thing.

[2019-08-28 14:21] dannyparsons commented on #5464
So will we then get rid of the "Use Summaries" dialog that currently does bar charts from already summarised data? I guess it won't be needed once we have this.

[2019-08-28 14:35] rdstern commented on #5465
I would be very happy with that.

[2019-08-28 15:34] rdstern commented on #5421
That would be great.

[2019-08-28 15:36] rdstern commented on #5422
Happy with that.  I think there will be more dialogues there, so having the Map one level down would also be good.

[2019-08-28 15:39] rdstern commented on #5464
I am still assuming we may want to have some nicely formatted tables from summary data as the third option.  And I like the concept, so suggest we keep it - at least for now.

[2019-08-28 15:46] dannyparsons commented on #5332
I think the "show arguments" is meant to show the default R values for the function. I'm not sure why the default for `na.rm` in ordinary mean is `TRUE`. Shouldn't we be consistent with the R default, and our default in Column Summaries etc. and have `na.rm = FALSE`? If so then the circular functions should also stay as `na.rm = FALSE`?

[2019-08-28 15:52] rdstern commented on #5332
Oooh, I have just asked Wycliffe to change to TRUE, partly to be consistent with the ordinary mean.  We don't always do the R defaults and I rather liked the flexibility that without the arguments it does the R default.  Then, when you include the arguments it does the other R-option?

[2019-08-28 16:43] dannyparsons commented on #5480
I agree that the selector/receiver experience for the user can be improved, and the left/right left/right movements are inefficient. It's good you raise this issue.

One much simpler and less drastic change to improve this (that has been documented for a long time but I can't seem to find the issue now) is to automatically set the focus to the next receiver after filling the previous one. This wou

[2019-08-28 16:48] dannyparsons commented on #5268
Ok thanks that makes sense for how the sub dialog is set up.

[2019-08-28 17:12] #5194 closed

[2019-08-28 17:19] dannyparsons commented on #5332
I think we want consistency whether you show arguments or not. So simplest is to keep the R defaults for "show argument" so its the same as no arguments.

Sorry @Wycklife! I think we are going back to `na.rm = FALSE` in all cases. It was good this came up though as we notice the regular summary functions need changing. Can you make both the circular and summary tabs to have `na.rm = FALSE` for the

[2019-08-28 17:24] shadrackkibet commented on #5332
The summaries tab is okay, we have `na.rm=FALSE` as the default.

[2019-08-28 17:30] Wycklife commented on #5332
@dannyparsons Okay, but the tab is okay. Just changing the position only for the tab.

[2019-08-28 17:36] dannyparsons commented on #5332
Sorry I meant the Summaries Keyboard, I was only meaning the Calculator dialog and the show arguments options.

[2019-08-29 14:07] Patowhiz commented on #5480
Yeah, I can see how it's important to also think of the end users with little compute literacy, and that has made me rethink the simplicity . Have a look at the design sketch proposal below. We can create a custom combo box like control(We could advance the existing one), and the label can change from just the name to select column: , then the change of the data frames can be pushed just besides i

[2019-08-29 21:44] shadrackkibet commented on #4102
I don't seem to get this Bug. @rdstern  can you attach Mozambique dataset you used? I used above dataset GT54_86 and this now works properly.

[2019-08-30 05:47] rdstern commented on #4102
Good you don't get it!  Let me test your new version and get back to you.

[2019-08-30 08:26] #5341 closed

[2019-08-30 09:09] rdstern commented on #5480
@Patowhiz can we also consider a further issue on the selection of variables - both single and multiple.  We need to be able to handle "wide" data frames better than we do - and that is with whatever "system" for the controls.  An example is the R-package DAAG where the data frame called rockArt has 641 variables.  A recent Kenya survey had 4000 variables!
SPSS has groups of variables and I assume

[2019-08-30 09:19] rdstern commented on #5480
And while on the general issue of the dialogues a more crazy suggestion.  On some (long) dialogues and particular screen resolutions I am not able to see the 5 bottom keys.  So I can't press OK.  Could there be a key combination or a possibility to tab to these controls.  My possible key combination would (if possible be 3 keys <ctrl>ok, <ctrl>re, <ctrl>cl, <ctrl> he and <ctrl>sc, but that is very

[2019-08-30 09:23] rdstern opened #5485 "Small but on Open from Library"
This is annoying rather than serious.  It is on Open From Library with the R package sets.  I think it only applies with packages where there are sufficient data sets that there is scrolling.  For example the datasets package, or DAAG.
In that case scroll and choose a package near the end.  It jumps back to the start.  If you persist and scroll again then it is now fine.

As I said it is slightly

[2019-08-30 09:27] dannyparsons commented on #5480
Typing in the receivers and having auto complete are things we thought of from the start but delayed implementing, they would definitely be good improvements.
Also a better display in the multiple receiver, enhancing the list box or otherwise is good to consider.

At the very beginning we considered the combo box type controls you presented but decided against these as they are very difficult for

[2019-08-30 10:10] rdstern opened #5486 "An improved Climatic > Check Data > Display Daily Table"
We have currently adapted a function from Helen Greatrex for this purpose.
I am happy with all it does, but would like some enhancements.
@dannyparsons is very reluctant to continue editing this code, rather than starting again.  I wonder how much time that would take?
What I would like includes the following:
a) Missing values summaries doesn't seem to work
b) Possibly add annual summaries
c) Get

[2019-08-31 06:19] rdstern opened #5488 "Make more use of cmsaf?"
There is now a new version of cmsaf.

We already install cmsaf, largely (or exclusively?) because we can export data to the cmsaf toolbox.  I think this is mainly to be able to include station summaries on cmsaf maps.

Could we make more use of some of the functions of cmsaf within R-Instat?  I am thinking particularly of **_box_mergetime_** and/or **_cmsaf.cat_** and/or **_levbox_mergetime_** to

[2019-08-31 09:26] Patowhiz commented on #5480
@rdstern yes, we could implement the autocomplete in any way that we want(we have partly done this in CLIMSOFT- handling several stations and elements with long names, and the autocomplete shortens the selection process after just typing 3 characters!).

@rdstern I think the proposal to use shortcut keys in such scenarios of hidden controls is a good temporary solution, Sometimes I face the same p

[2019-08-31 11:24] rdstern commented on #5480
@Patowhiz some very interesting, and encouraging ideas here.  I would also hope that @volloholic can join this discussion.
Just one point that the main set of issues I would like to be able to address with wide datasets is not particularly those with ones where the variable names are wide, but datasets where there are many variables, i.e. there are many "columns" of data.
Where the variable names

[2019-08-31 14:08] Patowhiz commented on #5480
@rdstern yes, I think such ideas **(a),(b),(c)** will help with the wide data sets, from which we can make the receiver pick the variables from the structured source to enable the user do **(d)**. Again with a good autocomplete I don't think if it will be that hard for users to use the feature. ( [wikipedia ](https://en.wikipedia.org/wiki/Autocomplete) has references to research and studies done o

[2019-08-31 15:55] volloholic commented on #5480
I am pleased with where this discussion has got to. The autocomplete feature is one we have always agreed needs to be implemented and I would be happy someone got on and did something on this as soon as possible.
I think the argument for keeping the selector structure has been made but I would like to reinforce the fact that visibly seeing which dataframe you are working in is essential, people al

[2019-09-02 07:57] rdstern opened #5489 "PICSA graphs caption problem"
I did a simple PICSA graph for data from Dodoma.
I added a sub-title and caption using the sub-dialogue

I then wanted to change their position to centre them.  This may be useful enough that it could be included in the PICSA dialogue in the future.  It is the hjust argument.  Currently it is available from the Plot Options > Themes > Full options.  If you change the default of 0 to 0.5 it is cent

[2019-09-02 08:35] rdstern opened #5490 "PICSA rainfall graphs - omit Line Options now?"
The PICSA rainfall graphs are a complicated line graph with points etc.
There are 3 option buttons, namely
Line Options - because it is a line graph
Plot options
PICSA options

We can now use the **_Plot options_** to edit the Line layer in the graph.
So I suggest we omit the LineOptions button.

I still quite like the special button, e.g. Line Options when we have a line graph.  It is just a bit

[2019-09-02 09:25] rdstern opened #5491 "PICSA Rainfall graphs with multi-line caption"
One of the sub-dialogues for PICSA has Title, Sub-Title and Caption.

I suggest some edits to the title tab.
a) Delete the word Graph from Graph Title etc.  It is in a Graph box, so that's clear.
b) Move the controls over a bit and add a checkbox after the font size Default unchecked "As Caption".  If checked then it changes the **_vjust_** argument appropriately, so it is at the bottom left.  I a

[2019-09-02 09:50] maxwellfundi commented on #5491
@rdstern So you mean after the font sizes for all of them or just the caption or just the subtitle. the default for caption goes to bottom right.  If the checkbox would be for all, it would be where I have painted?

![image](https://user-images.githubusercontent.com/9798689/64106110-34643080-cd80-11e9-849c-50e6fecd1ff8.png)

[2019-09-02 09:59] rdstern commented on #5491
I now don't think my idea will work anyway.  I have been trying to get the subtitle to be on the bottom left of the graph and can't do that.  I thought the vjust would do vertically, what hjust does horizontally.
What is possible is a multi-line caption.  They would then both be on the right.

We would then (in the dialogue) have Caption 1 and Caption 2 in the dialogue.  Then we add /n to the code

[2019-09-02 10:03] maxwellfundi commented on #5490
@rdstern  Yes, we can simply remove the current **Line Options** and edit the line from the plot options.  @Wycklife please take up this. it should not take too much time.

[2019-09-02 10:28] #4603 closed

[2019-09-02 10:45] Ivanluv commented on #4347
@rdstern  do these designer changes on wakefield calculatorlook okay?
![image](https://user-images.githubusercontent.com/45068931/64109283-c885c600-cd87-11e9-80e4-000a3454ad36.png)

[2019-09-02 11:01] rdstern commented on #4347
@Ivanluv  Great.  That looks much neater.  Well done

[2019-09-02 12:57] Wycklife commented on #5474
I have started working on this issue.

[2019-09-02 15:19] maxwellfundi commented on #5464
@rdstern i think the reason why we had the X variable tarting is because its the only receiver needing to be filled. it would be confusing to have the first receiver not mandatory.

[2019-09-03 07:02] Ivanluv commented on #4347
@rdstern on your point a above, do you mean that we calculate the length of the dataframe and add it automatically to age() function?

[2019-09-03 07:22] #5254 closed

[2019-09-03 07:28] rdstern commented on #4347
Not just for the age(), but for each function where there is the n= argument.  So, when you give the command it works!
Currently, try the command, say for death.  Click on the key and you get death().  If you use **Try** it says you have an error.  If I add n=103, which happens to be the size of my current worksheet, then it works fine.
So, as we know the size of the worksheet, we should make life

[2019-09-03 08:48] #5485 closed

[2019-09-03 14:43] rdstern commented on #5470
I now get a problem with the ordinary spells.
I can get this by opening the library Dodoma data.  Then (it is climatic) the Climatic > Prepare Summaries works fine for the total annual rainfall.  Spells gives an error:
It says:
![image](https://user-images.githubusercontent.com/11226469/64183273-8e88f280-ce61-11e9-913f-5c9156828ef7.png)

[2019-09-03 15:56] rdstern opened #5494 "Omit the warning message after recovery"
I have found it remarkably easy to crash R-Instat as I have been testing.

I then do appreciate the options to recover.  But there are only 2 options, and I have never needed the reminder.
Sometimes there is a single option and sometimes neither recovery option is available.  But I always get the message to check if I am sure.
I find:
a) When there was no other option - then it is certainly redund

[2019-09-04 05:52] rdstern opened #5495 "PICSA rainfall graphs themes"
I have been keen to show the value of different themes in the presentation of the PICSA graphs.  For example tufte is always simple, and bw may be useful.

When used, the theme is then given very early in the ggplot command.  And it doesn't always seem to do much.  I am able to change the theme and am not quite sure what I could expect to happen.  I wonder if the theme given at the end of the comm

[2019-09-04 07:27] maxwellfundi commented on #5431
This seems to have been fixed with #5432  from @Ivanluv

[2019-09-04 07:27] #5431 closed

[2019-09-04 07:33] maxwellfundi commented on #5276
@Wycklife  can we revisit this

[2019-09-04 07:38] rdstern opened #5496 "Linking R-Instat to PICSA climate app?"
Chris Clarke is working for the PICSA team and is updating his climate app.
It takes (annual) summary data of the sort we produce in R-Instat and displays the results very attractively and interactively.  For PICSA this is for mobile phones and is a sort of alternative option to having the graphs (Climatic > PICSA > Rainfall Graphs) on paper.
The app is [here](https://picsa-climate-tool.web.app).

[2019-09-04 08:04] maxwellfundi opened #5497 "Adding stat_ecdf in list of geoms."
We have **stat_ecdf** on cummulative distribution graph. Now that we can edit layers from the Plot Options sub dialog, then we need to add **stat_ecdf** in the list of geoms.

Anyone wanting to take this up  here is the documentation for guidance - https://ggplot2.tidyverse.org/reference/stat_ecdf.html

[2019-09-04 09:08] rdstern opened #5499 "Minor issue with day-of-year range sub-dialogue"
This sub-dialogue is called by the Climatic > Prepare > Climatic Summary and by other dialogues in Climatic > Prepare.
The minor problem - unless it affects other things is the To field which is here set to the variable end_rains
![image](https://user-images.githubusercontent.com/11226469/64241112-00614a80-cefb-11e9-8a05-9d6c055dad61.png)

When I return to the main dialogue it is fine:

![image](h

[2019-09-04 09:25] rdstern commented on #5470
I have tried again with the spells result I would like:
It generates the following sequence of commands:
Running one line at a time gives the commands:

**spell_length <- instat_calculation$new(type="calculation", result_name="Dry_Spell", sub_calculations=list(instat_calculation$new(calculated_from= list("Dodoma18c"="rain"), type="calculation", function_exp="(rain <= 0.85) & rain >= 0", result_nam

[2019-09-05 11:58] dannyparsons commented on #5486
For these changes a rewrite is going to be quicker. To have our own function to do this is not a lot of work. If we wanted to fit it into our general tables system that's a lot more, but I don't think we're wanting that just now.

[2019-09-05 12:35] dannyparsons commented on #5480
I'm also not against a more major re-design of dialog but I don't think starting by looking at with this big change is the way to do.

@Patowhiz one thing that already have agreement to help with user experience on dialogs is "Auto switching focus to next receiver after being filled". We definitely have an issue on that somewhere. A suggestion for an implementation of this would be really great. I

[2019-09-05 12:54] dannyparsons commented on #5491
@maxwellfundi if we had a multi line text box for the caption, would that automatically give a multi line caption on the plot?

[2019-09-05 12:58] #5332 closed

[2019-09-05 18:02] dannyparsons commented on #4347
I can see the argument for this but then this applies to the functions on all the keyboards. For example `mean()` doesn't run without additional arguments.
There is a more obvious default for `n` in the `wakefield` keys, but I'm concerned we'll lose consistency in the calculator if we only do this here and don't consider others implications for the rest of the dialog.

[2019-09-06 04:18] maxwellfundi commented on #5491
@dannyparsons I don't think multiline textbox will have multiline caption. We will need to format the caption to be on two lines

[2019-09-06 04:34] rdstern commented on #5491
I wasn't even thinking of any change in the coding.  It was just
a) for the whole text for the caption to be visible and
b) to tempt users that there could be more text in this caption then one would want in a title or subtitle.
c) I also don't think it is unreasonable for the user to type the **_\n_** within the text if they want the caption to have a line feed, i.e. to appear on 2 or more lines.

[2019-09-06 06:19] rdstern opened #5503 "Completing the circular components in R-Instat"
The addition of circular statistical summaries into R-Instat, largely by @Wycklife with support from others, has been a major enhancement.
They are as follows:
a) Circular keyboard on the calculator - including a key to define a variable as circular
b) Circular tab on the Prepare > Column: Reshape > Column Summaries
These have been merged for the next release
c) Polar coordinates in the plotting s

[2019-09-06 08:28] rdstern commented on #4347
Most of the commands need a variable and then give the result.  The variable comes from the data frame, so we help people by showing the data frame.  Wakefield commands all need the n and it is such an obvious value that we should give it.  Most equivalent commands that need extra inputs have a default value, like the random normal, with defaults 0 and 1.  Wakefield demands this value and we have

[2019-09-06 09:31] rdstern opened #5504 "Factor keyboard for the calculator"
This is such a good idea that I am boldly suggesting it for Version 0.5.4, i.e. even by the time of the Cameroon AIMS course - though it certainly isn't vital!
I am also suggesting @Wycklife, because he has become expert in adding keyboards to the calculator.  But he may prefer different tasks?  In which case he could support whoever does the work.
We have a **_dates keyboard_** and a **_character

[2019-09-09 10:07] Patowhiz commented on #5480
@dannyparsons I agree going with a sudden big change may not be the best way to go about it. I'll look into enhancing the receiver for the autocomplete option.

I still don't get how the auto switching focus to the next helps this situation. I could be wanting to still change the current selection in the current receiver. With auto switching, the program will be doing against want I want to do and

[2019-09-09 10:23] Patowhiz opened #5506 "Enhancing the single receiver control - Enabling Autocomplete"
**Is your feature request related to a problem? Please describe.**
Currently we can't type into the single receiver control. A user has to use the selector to get the set the selected variable to use.

**Describe the solution you'd like**
We would like to enable editing of the single receiver. The user will be able to type and get autocomplete suggestions, or to select a list of available variable

[2019-09-09 10:36] rdstern commented on #5506
An alternative - or additional option, - assuming we are keeping the selector for now, is to be able to limit the variables shown in the data selector.  We already have 4 options with the right-click, so these could be added?  There is also a special right-click in the receivers too.

[2019-09-09 11:18] Patowhiz commented on #5506
@rdstern yes I get your point. Since @dannyparsons suggested we don't do an overhaul of the design. I was thinking of doing this in phases. I'm suggesting we first start by making the receiver editable and with autocomplete features, and also make it be a combobox that has variable which the user can select. These variables will come from the selector. That means, the receiver only shows variables

[2019-09-09 11:21] Patowhiz commented on #4009
Great we now need to discuss on how the variable sets would be accessible to the dialogs, in particular to those dialogs selectors. @dannyparsons suggested the data options, what are your thoughts @rdstern ?

[2019-09-09 11:22] Patowhiz commented on #5506
@rdstern what would be going into the receiver's special right click?

[2019-09-09 12:32] Patowhiz commented on #5239
We now have a new release of this package, [sjPlot 2.7.1](https://cran.r-project.org/web/packages/sjPlot/news/news.html) in which a new parameter **digits** has been added to the function for printing html.

[code]

[2019-09-10 07:33] #5497 closed

[2019-09-10 18:52] dannyparsons commented on #5494
I can see the issue. But the reason for the warning is that it's a last chance to recover potentially a lot of work lost work from a crash, so I'm reluctant to remove it for convenience. I hope as time goes on crashes are less common too!

I was thinking to simplify the options for the recovery files. Instead of saving a copy, just have a button to open the location of the file, then they can make

[2019-09-10 20:38] dannyparsons commented on #5491
@maxwellfundi why don't you think this will work? The easiest way to know is to try, it shouldn't take more than a few minutes to find out.

[2019-09-10 21:08] dannyparsons commented on #5506
Let's please keep one idea per issue. Related discussions on grouping variables should be in a separate issue so this can focus on the idea of typing in the receiver.

[2019-09-10 21:19] dannyparsons commented on #5480
@Patowhiz see my earlier comment:

Think about auto switching focus is for single receivers. After a variable has been put in a single receiver in almost all cases you want the focus to then move to the next receiver. As I said, for a multiple receiver its less clear. Adding a single item to a multiple receiver I think you don't want the focus to change. If you add more than one item in one go, I

[2019-09-10 21:24] dannyparsons commented on #4009
It should be in the Data Options - and we have a tab for Columns which is where it should go. The design of that will need some thought.

I think Roger also suggested on the right click in the selector. There could be a "Sets" item which has sub items to let you check/uncheck a group to make those variables visible/invisible in the selector.

[2019-09-11 04:23] rdstern commented on #5480
One obvious dialogue to practice with could be the **_Prepare > Dates > Make Date_**.  With the buttons at the top set to the third option i.e. Year-Month-Day the corresponding single receivers are usually completed in that order.

[2019-09-11 08:17] maxwellfundi commented on #5491
@dannyparsons  maybe i wasnt clear, multiline textbox would not automatically give us a multiline caption we will need to have \n after every line if we wanted that.

[2019-09-11 08:19] rdstern commented on #5491
And I think that is fine.  The multi-line is just so we see it all.  We could even have a tooltip to say put \n for a new line.

[2019-09-11 08:28] maxwellfundi commented on #5491
okay, if thats the case then am happy to have a multi line caption text box

[2019-09-11 09:15] dannyparsons commented on #5428
The system is now implemented meaning that setting the **climatic type** of a receiver only controls what is autofilled by default, other variables will still be displayed in the selector.
This means we likely want to set the climatic type for more receviers now, where we have an obvious default but we previously didn't want to restrict what the user could choose.
Please add suggestions to the fol

[2019-09-11 10:05] dannyparsons commented on #4952
I would like to make some progress on improving this. Here are some suggestions:

- The dialogs have a multiple receiver, followed by a single receiver

For the summarise dialog the summaries will be:
- Numeric by numeric: correlations
- Numeric by categorical: numerical summaries by the levels of the factor
- Categorical by numeric: ANOVA table
- Categorical by categorical: Frequency tables

This

[2019-09-11 10:32] Patowhiz opened #5508 "Auto Switching of Single Receivers Focus on Selector Variables Selections"
**Is your feature request related to a problem? Please describe.**
At the moment you have to manually change the focus of the single receiver before selecting the variable you want to use.

**Describe the solution you'd like**
Changing focus of single receivers automatically on selection of variables in the selector

**Additional context**
This issue is in relation to the design changes suggested

[2019-09-11 10:42] Patowhiz commented on #5480
@dannyparsons yes I now get your point. Let me create another issue for the auto switching also.

So in relation to this issue we now have 3 immediate issues:

- [ ] Enabling typing, autocomplete and selection of variables in single receivers. #5506
- [ ] Display of Groups/Sets of variables in the selector. #4009
- [ ] Enabling auto switching of focus on single receivers on selection of variables

[2019-09-11 10:43] Patowhiz commented on #5508
@dannyparsons I'm not sure if I'm correct about this, at the moment I can see there is only a one way link between the selector and the receiver, in which it's the receiver that knows about the selector and the selector is not aware of any receivers, right? That is, the receiver is the one listening to the selector? If so, then the auto switching of focus issue will necessitate a 2 way binding whe

[2019-09-11 10:58] dannyparsons commented on #5508
Yes that's right, currently the Selector doesn't know about its receivers, so we need to add this as well.

I hope this can be implemented without needing a change on every dialog. Notice that `Receiver.Selector` is a property so we can modify the `Set` method to set up this linking of the receiver to its selector.
The ordering should then be determined by the tab index of the receivers, not the o

[2019-09-11 11:00] dannyparsons commented on #4069
Something other than a `ListView` control would be needed to achieve this functionality and I'm open to suggestions of a different control which keeps the same basic functionality we currently have.

[2019-09-11 11:02] #5239 closed

[2019-09-11 11:11] Patowhiz commented on #5508
Okay that was insightful.

[2019-09-11 11:29] Patowhiz commented on #4069
@dannyparsons @rdstern  what about building in a functionality to rearrange the variables (Shifting up and down) inside the multi receiver?
So you will only  need to change the order in any way that you wish .  I think the issue here is the order in which the variables are tabulated, so after adding the new variable you just shift it to the position you want.

[2019-09-11 11:47] rdstern commented on #5428
@dannyparsons  I agree with the above:.  We can add gradually to it:

**_Fill Date Gaps_** - this may have been updated.  Currently the date is autofilled and the focus remains there.  The focus should be on the factor - Usually the station.  This could be done after the data has been defined as climatic.  If so, then the Station should be filled.
**_Inventory_** Focus is fine.  Can we have all th

[2019-09-11 11:54] shadrackkibet commented on #5428
I have changed focus for this [here](https://github.com/africanmathsinitiative/R-Instat/pull/5425/commits/ced8b80e056242c5a127fc05712ad9405f12ddc9) but not auto-filled.

[2019-09-11 11:57] dannyparsons commented on #5428
I think we could add a further metadata property for climatic data.

`element_type` - It has 3 values: 0 - not an element column (e.g. station), 1 - an element column, 2 - the primary element column (this would be rain by default but changeable on the define dialog)

So `element_type` of 1 or 2 property would autofilling all elements on the inventory plot dialog.
The primary element could be used

[2019-09-11 12:01] dannyparsons commented on #5428
I think something discussed but not written down was that you can now only have one column for each climatic type. i.e. there is only one year column. Is that correct? It hasn't been implemented in the code yet.
With the new system, there wouldn't be much use for having two columns defined as the same type because it would then prevent the autofilling and it's now not being used to restrict the se

[2019-09-11 12:06] dannyparsons commented on #4069
Yes if we could reorder the variables then it significantly increases the need to remove and re-add variables in many cases. It doesn't quite address the original issue in the most simple way, but that would be harder to implement and I like adding reordering because its simple and solves many issues not just this one.
My concern is how to do this without taking up a lot of space on the dialog, or

[2019-09-11 12:14] rdstern commented on #5428
Yes I was assuming that.  You are welcome to have tow day-of-year columns, say, but only one will be defined at a time.  So you could then easily do an analysis from January to December.  Then later, redefine the date elements and do an analysis for the shifted dates.

You could then, alternatively, change the automatically filled in variables on each dialogue - good luck if you went that tortuous

[2019-09-11 12:26] Patowhiz commented on #4069
We could implement this in different ways depending on how easy it is to the user;

1. Through drag and drop
2. Through  buttons - we could implement floating buttons that become visible when an item is selected and the receiver has focus.

Either of the above could be done in away that extra space is not needed or just a tiny space will be needed.(I think so)

I'm not sure how this will be percei

[2019-09-11 12:36] Patowhiz commented on #4620
I had a quick look at #4915, #5502 and in general the Climsoft Import dialog internal implementation, I must say we have already laid out the basics of connecting to the database.

Most SQL .Net drivers are quite powerful and can help us access the whole database schema, this leaves me to wonder why we didn't implement the connectivity to Climsoft database in a general way that doesn't need us to

[2019-09-11 13:18] dannyparsons commented on #4069
Drag and drop would be my choice, but I don't assume that will be simple. Maybe look into that first and see what options are, it may be simple with a different type of control?

[2019-09-11 13:43] dannyparsons commented on #4620
It's not been a hugely requested feature in my experience. If you think about the type of user who is comfortable using a database, they are less likely to be a typical R-Instat user and more likely to be comfortable in R, Python etc. Of course Climsoft is a special case because of the whole software around the database. There was an immediate need for a Climsoft connection by existing climatic us

[2019-09-11 13:52] dannyparsons opened #5510 "Tab order/index on all dialogs"
@africanmathsinitiative/developers in preparation for the change coming here https://github.com/africanmathsinitiative/R-Instat/issues/5508, this will only work correctly if the tab order is set correctly for each dialog.
Can I ask that as you do other work, have a quick check that the dialog you're working on has tab order set up correctly. It's very quick to do, if you're not sure about it ask @

[2019-09-11 15:36] #5470 closed

[2019-09-13 12:50] shadrackkibet commented on #5506
I like this feature. This will really improve user experience. I often see users trying to type into the receiver a lot especially for the single receivers. Having this feature will allow them to do so. I think this is an example of a feature that will really have a lot of impact.

[2019-09-14 09:09] shadrackkibet commented on #5474
Since I am going to include some components of circular statistics in my essay I am going to support Wycklife on this task.