[2018-01-23 08:32] maxwellfundi commented on #4211
@rdstern  from the previous discussion you were not sure if we wanted to remove it or not but from @dannyparsons  view, if its preventing other receivers from work then we can remove it, which was my initial thought.
I am going to remove the  geom_boxplot(aes(group=year)) then we can think more carefully how we get it to work in the future.

[2018-01-23 08:39] maxwellfundi commented on #4007
@dannyparsons  we need to re look at this reogrid issue you mentioned fro the next version.

[2018-01-23 11:47] rdstern commented on #4211
You are right, we have to remove this for now.   As a temporary measure we might be able to edit the script file.  And possibly the special climatic boxplot in the future might include the feature.  But that's not for the next release.

[2018-01-24 08:12] ZIRANA11 opened #4374 "Comparing Columns"
On the filter dialog there is only one receiver box making it impossible to compare two columns in a case where one needs to filter out some values from two different columns. In my case I wanted to find values from the column **start2** that are greater than those in **start1**, but with only one receiver box it couldn't be done.
![filter](https://user-images.githubusercontent.com/28622260/353210

[2018-01-24 09:03] Patowhiz commented on #4374
A good feature suggested here. This reminds to also ask about editing a filter.

[2018-01-24 09:38] rdstern commented on #4374
You are right, there is a lot that still needs to be added on the system for filters.  Not easy stuff but worth considering alongside the other tasks for discussion with David/Danny.  For example there is no OR (there is AND).
Now that said, it would be good for users to also know about "work-arounds" when needed.  So how would you do this now if needed (say for E-SIAC)?  Hint - think of our power

[2018-01-24 09:44] Patowhiz commented on #4332
@MainaJohnO where/how  did you get/create the arguments passed to these functions ?

[code]

[code]

[2018-01-25 06:35] ZIRANA11 commented on #4374
Yes the calculator can be useful for now,

On Wed, Jan 24, 2018 at 12:38 PM, rdstern <notifications@github.com> wrote:

[2018-01-26 06:04] dannyparsons commented on #4372
We actually did have this on the right click menu originally. Then the menu got very long and we removed lots of items, including the 2 hide items. Happy to consider adding it back now if we feel it's needed. We would need 2 items, 1 to just hide the selected columns and 1 to go to the dialog to be able to unhide columns. @rdstern any thoughts?

[2018-01-26 06:06] #4345 closed

[2018-01-26 06:07] #4230 closed

[2018-01-26 08:36] rdstern commented on #4309
I am pleased to see the "original levels" has now been added to the summaries.  I presume it could also be added to the climatic summaries dialogue?
But I also wanted to query how the other improvements to the column summaries are coming on - including first, last and nth - and correlations, etc.
And to tempt discussion on another suggestion now David and Danny are there.  This is a sort of carry

[2018-01-26 09:52] MainaJohnO opened #4375 "Column:Date-Make Date (Changing the Day of the year to reflect the exact day of the Month)"
![capture_topicone_task1](https://user-images.githubusercontent.com/32262789/35433834-b14224c2-0239-11e8-8874-e66528e4e5ca.PNG)
 There is this data SAMRAIN we are working on and the first five columns are as in the attached image where Strt1-Strt4 take in specific days of the year.  Task1 is to make the columns Strt1-Strt4 more informative by formatting the columns to show the day in the year as "

[2018-01-26 11:41] shadrackkibet commented on #4309
ok, i will add that on climatic summary.

[2018-01-26 12:04] rdstern opened #4376 "Importing csv with yaml and also json files"
I notice that our importing includes options for csv with yaml and also json files.

I wonder how we currently read them into R-Instat and whether improvements are needed.

With my limited understanding there could be 2 issues.

a) The formats allow metadata.  Do we notice and put this automatically into "our" metadata?  So is the metadata automatically included in an Instat Object.
b) I think the

[2018-01-29 10:04] rdstern opened #4377 "naniar package and shadow data frame"
This relates to the other naniar issue introduced by Lily, see #3711. And to the export of data from CLIMSOFT to R-Instat.
 There are 2 aspects of the data in CLIMSOFT that may not be included in the first round of exporting:
a) Each observation can have a flag associated with it.  This is used to denote T for trace, or E for estimated or D for dubious.  It is possible that the export of the data

[2018-01-29 14:59] ZIRANA11 opened #4378 "An error on Climatic"
This error comes up every time I try to get the start of the rains, end of the season and the spells.
![error](https://user-images.githubusercontent.com/28622260/35516932-1f841616-051e-11e8-856d-f1a07705df8b.png)

[2018-01-29 16:32] rdstern commented on #4378
Thanks for reporting this.  It is all good, because it indicates what we could now try to do.

It worked fine for me, but the steps I needed to go through are different to the old Instat.
So 2 things need to be done.
1) These steps will have to be included in the description of the tasks in e-SIAC.
2) Some users will still do what you have done, and the next steps are not clear from the error mess

[2018-01-30 08:00] rdstern commented on #4075
I have changed the milestone to 4.11 in the hope that this might be a really easy job.  I have sometimes been confused that what I thought was an easy task (1-2 hours?) has sometimes seemed to take forever.

So I wonder about the team trying some "possibly easy" tasks while David or Danny are around - and that's partly to confirm that it is really easy.

In this case the existing dialogue seems fi

[2018-01-30 09:02] dannyparsons commented on #4375
One option could be to make a full Date column from this, which wouldn't exactly be in the same format.
We can create something of the form "24 Apr" in R but this would have to be a character column, and so you lose all the date properties. It depends how this column needs to be used. If it's for further calculation then date makes sense. If it's for display e.g. graphs then we might have ways of

[2018-01-30 09:36] rdstern commented on #4375
It is good that you are using the e-siac to point out things that may not yet be possible in R-Instat.
We don't have to be able to do exactly the same in R-Instat as we did in the old Instat, but we should be able to do sensible things that make the subject very easy for training.

One thing you can do now is as follows:

a) Use the dialogue Climatic > Dates > Make Date (or Prepare > Column: Dates

[2018-01-30 09:51] dannyparsons commented on #4376
I believe that `rio` has decided that it's general import function will always return a single dataframe. It used to e.g. be able to return multiple data frames in a list from Excel. But it decided it was simpler that it always returns the same data type, which I think is nice.
So would be interesting to see what it would do with more complex structures, but I would guess we would need to write so

[2018-01-30 09:56] dannyparsons commented on #4378
This issue was caused by the Date column not defining a valid key. The data was originally in wide format so they stacked it. It then had duplicate/missing dates which meant the climatic dialogs cannot create the Date as a key. We discussed how to resolve this in various ways e.g. filtering out wrong dates/using duplicates and the team now understand this issue.
I think it could be common enough t

[2018-01-30 10:07] dannyparsons commented on #4075
yes the code is easy, the complicated part is creating our specific date user control that inherits from ucrCore, but I agree that's something easier to do together. @shadrackkibet do you want to take this up?

[2018-01-30 10:08] maxwellfundi opened #4379 "String Handling dialog should allow to Replace a character with an empty string"
We have had a case where we had a year column with a y character at the start (y1923, y1924......) except for the 365 rows of 1928 which a had a proper year(1928).

We wanted to replace the y in all the years after 1922 with an empty string but the dialog couldnot allow that.

A solution is to make the dialog pass in an empty string as the replace value when the replace value is empty.

[2018-01-30 11:53] shadrackkibet commented on #4075
yep i am happy to pick up this task.

[2018-01-31 07:21] rdstern opened #4381 "Executing commands from the script file"
Having got this far with the script file I would like to go a bit further - of course - or at least understand better why we can't.

Suppose I would like to execute a new R command that is not yet available in R-Instat.  The t.test command is one example and the prop.test command is another and wilcok.test is a third.  They are all in the main stats package.  And we can't yet do this simple infere

[2018-01-31 12:01] dannyparsons commented on #4381
From looking into this it is now possible to display output through the script window, and I have updated it to allow this. So now by default it expects output from every line and tries to display it. This doesn't seem to cause any issues when there is no output to display, but this should now be tested to see if there are issues. If there are, we could add a "suppress output" checkbox on the scri

[2018-01-31 12:05] #4379 closed

[2018-01-31 12:24] #4348 closed

[2018-01-31 12:26] #4211 closed

[2018-02-01 11:25] rdstern opened #4385 "Adding hypothesis tests to the model menu"
I have made this into a 4.11 milestone because I would like it to be discussed before David and Danny leave - at least discussed.

I suggest that **adding a tests keyboard** to the calculator will be:
a) Very useful in its own right.
b) Useful for the next workshop in Riga in early May (with e-learning component in April)
c) Quick and easy to do
d) Sets us free in the modelling to concentrate on t

[2018-02-01 11:30] rdstern opened #4386 "Giving the by command?"
Is there any way we can currently give the **by** command in R-Instat.  I am thinking initially with a command we type into the calculator or in the script window.  That sort of gives the same power for functions (like the statistical tests) that the summary dialogues gives for data manipulation.

The information says it is to  "Apply a Function to a Data Frame Split by Factors"

[2018-02-01 14:06] rdstern commented on #4385
I have pondered more and now suggest this be a new dialogue.  It will still be based on the calculator type, just as the dialogue for Prepare > Column: Generate > Enter is.

But having a separate dialogue will simplify many things:
1) It can go anywhere - I suggest below the line in the modelling menu.
2) I hope it will be easy for it to take account of filters
3) Although it will mainly be produc

[2018-02-02 06:41] dannyparsons commented on #4386
If your calculation returns a single value you can use `dplyr`, e.g.

`survey %>% dplyr::group_by(Village.) %>% dplyr::summarise(t.test(Field, Size)$p.value)`

[code]
works in the calculator.

In the script window this would be:
[code]

To get the full output for a statistical test you can use `by`:
`by(survey, survey$Village., function(x) t.test(x$Field, x$Size))`

[code]

[2018-02-02 07:00] rdstern commented on #4386
That's great - already!  Now if we add that to my new suggested dialogue in #4385 - no longer in the calculator - then we have that feature in at least one dialogue - which can be a stepping-stone for those who want to use the feature elsewhere.  Then I think the script window can provide (at least initially) some of the looping we need.

[2018-02-02 12:22] rdstern commented on #4385
To construct the dialogue look first at the dialogue for the Prepare > Column: Calculations > Calculate
![image](https://user-images.githubusercontent.com/11226469/35731183-956bc626-080c-11e8-9366-3d6a347cc070.png)

and also the one for Prepare > Column: Generate > Enter, namely:
![image](https://user-images.githubusercontent.com/11226469/35731133-66146c0c-080c-11e8-99ca-93c3af7845c8.png)

1. The

[2018-02-02 13:21] dannyparsons opened #4389 "Cut/Copy/Paste right click items needed on script window"

[2018-02-03 05:00] #4350 closed

[2018-02-04 15:46] rdstern opened #4390 "Graph in R viewer does not reset"
This may be a repeat of an issue raised earlier.

The default is for the graphs to appear in the output window.  To get a clear graph I sometimes then use Describe > View Graph and choose to have the graph in the R viewer.

This now changes the display forever.  I just wanted that graph in the R viewer.  But I find that it has changed the setting in the Tools > Options dialogue.  I hope this can b

[2018-02-04 16:13] rdstern opened #4391 "POssibly simple improvements in the filter system"
I know there will soon(?) be a range of improvements.  Here are some I would like from the work today:

1. Filtering on a date column.
I wanted to choose dates > 1965-12-31, i.e. dates from 1966.  The obvious way doesn't work, by which I mean Date1 > 1965-12-31.  This however does not give an error and does a sensible filter - but it is wrong.  The correct syntax is Date1 > as.Date("31-12-31").  W

[2018-02-05 08:14] rdstern opened #4392 "Improving the climatic events?"
For Lesotho I needed to get the dates of the first frost in the year (and the last).  I was sort of able to do it with our Prepare > Reshape > Column Summaries dialogue.  I finished with the graph below:

![first frost_4stations](https://user-images.githubusercontent.com/11226469/35792801-ca55f49c-0a46-11e8-8b16-3fa0e21a6612.jpeg)

But the process is contorted.  And today I tried through the start

[2018-02-05 13:12] dannyparsons commented on #4350
@rdstern, @shadrackkibet has worked on improving this, it might not be the design we want in the long term but it would be good to now test again to check that it is at least reasonably functional.

[2018-02-05 13:13] dannyparsons commented on #4390
Yes I think this is just an issue of not resetting the graph option, maybe when closing the dialog without running. It should be simple to find and fix the issue.

[2018-02-05 13:15] rdstern commented on #4350
Great.  Will do.

[2018-02-05 13:25] maxwellfundi commented on #4389
Great, will add that.

[2018-02-06 10:52] rdstern opened #4396 "Error in summarise back to original level"
I used the Prepare > Column: Reshape > Column Summaries back to the original level for the first time.
I was using a filter at the time and it gave me an error as follows:

Error running R command(s)

Error in parse(text = x, keep.source = FALSE) :
  <text>:1:28: unexpected symbol
1: ~( (Station %in% c('MOHALE'S
                               ^
The error occurred in attempting to run the following

[2018-02-06 12:16] rdstern opened #4397 "A query on the plotting?"
This is working well.

I have been doing PICSA-type graphs, with the year as the x-axis.  And various statistics plotted as the Y.
1. For the trainer of trainers workshop I have 4 graphs on a page.  It will be single stations for the other workshops.
2. I use line plots, together with the points.  That's 2 layers.
3. Then I wanted to add the median for each station.  That's a straight line, but it

[2018-02-06 17:47] rdstern commented on #2392
I tried the QC Temperature analysis with a set of data from Lesotho.  The option I tried was the difference.  I left the setting of 0 as the default.  The error message was as follows with the important bit in bold:

Error running R command(s)

Error in parse(text = x, keep.source = FALSE) :
  <text>:2:0: unexpected end of input
1: ~**(Tmax - Tmin) <**
   ^

The error occurred in attempting to run

[2018-02-06 18:31] rdstern commented on #4128
The diff from the zoo package isn't yet implemented in the transform dialogue.  The button gives lag instead.

[2018-02-06 18:55] rdstern commented on #2392
1. In the temperature QC the labels should be changed from mm (which is for rain to deg (for degrees).
2. When there are 2 columns in the temperatures (usually tmax and tmin), then the "same" and "diff" calculations should be for both of these columns.  I think currently they are only for the first of them,i.e. usually for Tmax only.

[2018-02-09 06:10] rdstern opened #4400 "Calculator problem with a particular variable name"
I have had a problem with the use of the calculator and a particular variable name I have been using.

I had a variable called Tmin.  I changed some values in that Variable and put the result in a new variable called Tmin1.

I then calculated another variable when Tmin1<0 and it worked fine.  But Tmin1<-5 gave the wrong answer.  It gave FALSE every time, even when Tmin1 was NA.  I tried brackets e

[2018-02-10 18:02] rdstern opened #4401 "Points from analysis of Lesotho climatic data"
The following is a report of the analyses I have just done on the Lesotho climatic data.  This was for 12 stations of rainfall, Tmax and Tmin.  About 400,000 days of rainfall data and 200,000 of tmax and tmin.  This was "for real" in that the resulting graphs will be used next week - Feb 12 2018 on a PICSA workshop.

[Analysis of Lesotho climatic data.docx](https://github.com/africanmathsinitiativ

[2018-02-11 11:19] rdstern opened #4402 "Adding a new option on the Make Date dialogue"
This should be a simple additional format to add.  It has come from the chillR package which has a special format for this function.
For us it can be simply an additional format (I hope) in the existing dialogue.

It is for a single column and is simply "Year(4 digit)MonthDay (YEARMODA)".  We have many variations of this format.  It does not have a separator so is something like 20170514.  It is a

[2018-02-11 18:38] rdstern opened #4403 "Check the chillR package"
The chillR package is designed for many things, including calculating growing degree days, (GDDs)that were in the original Instat and need to be added before too long.

It works on hourly temperature data.  It includes a procedure to calculate hourly data from max and min - and that could be very useful.
It also includes a useful looking function to infill temperature records from an auxillary sou

[2018-02-12 08:02] shadrackkibet commented on #4401
This has been set such that when you have you expression ,then select your variable it will automatically add it in between the brackets even if your cursor is not active.
When you enable show arguments checkbox you can automatically add your variable to the first parameter without having your cursor active.

What i can easily do for now is to add space in between the brackets for all commands. A

[2018-02-12 09:17] rdstern commented on #4106
I have a further request.  But this needs discussion.  It is (for some summaries, particularly max and min to also allow carry columns.  Let me give an example.  I have daily temperature data for different years (e.g. Dodoma) and possibly also for different stations (e.g. our Ghana data).  I would like the hottest day each year, i.e. Tmax is the variable and the summary is the Max of Tmax in the y

[2018-02-13 08:16] rdstern opened #4406 "Custom control for day of year"
Many of the climatic dialogues have a first and last day of the year - set now to 1 and 366.  It would be much better to have a control where you could give the Month and then the day of the month.  They could each be drop-down lists.  This would be easy to use, because often what is needed is the 1st of the month and hence one would only have to change the month drop-down.
1. This would still pas

[2018-02-13 08:47] rdstern opened #4407 "Multiple spell lengths on the Climatic > Spells dialogue"
This extends the existing spell dialogue to be able to produce multiple spell lengths in a single use of the dialogue.
I suggest new-style radio buttons at the top with Single and Multiple as the labels.
If Single, then the dialogue is as now.
If multiple then:
a) There is a **First Day** number (or that part of the new custom control, see #4406   but not a To day).
b) Instead there is a Number of

[2018-02-13 09:21] rdstern opened #4408 "Spell lengths with variable start"
Danny has added the possibility of being able to read from a linked data frame in a dialogue.
 The Spells dialogue is a good example to start with.

Here are 2 examples:
a) I would like the longest spell length in the x (say 21) days after the start.
b) Flowering takes about 20 days and starts, say, 40 days after planting.  So what is the longest spell length between day 41 and 60 after planting.

[2018-02-14 10:18] dannyparsons commented on #4397
Yes, but only using the General Graphics dialog, and this does relate to the apply on all layers checkbox.

 I used survey data.
1. added a layer of points: survey data; x = Village., y = Yield. **unchecked apply on all layers**.
2. added a layer of points survey_by_Village. data; x = Village., y = median_Yield (and made the points red so I could see the layers)

This then worked producing the cod

[2018-02-14 10:22] dannyparsons commented on #4397
Note: if you don't uncheck apply on all layers it doesn't work because it tries to use the summary data frame for both layers. I can see why it does that but not sure it's the most sensible behaviour. I think it should probably work without unchecking apply on all layers and when you add a second layer and change the data frame it should be able to work out which data frame is for which layer.

[2018-02-14 10:28] dannyparsons commented on #4396
Because you have `original_level=TRUE` currently you need a key to add back to the original data. We've discussed possible changes to this with @volloholic and @shadrackkibet. Without saving to the original level (or with a key defined in original level) this should work.

[2018-02-14 10:41] dannyparsons commented on #4400
It should work with `Tmin1<(-5)` or `Tmin1< -5`. WIthout the brackets you have `<-` which is assignment so that messes up the inequality you want. I think that's why it's always suggested to put spaces between symbols.

[2018-02-14 10:46] dannyparsons commented on #4402
Do you mean a format to convert from? So we should add `%Y%m%d` to the list of formats for a single column? Where does the chillR package come into this?

[2018-02-14 10:58] rdstern commented on #4402
That's correct.  chillR only comes in because that this packages introduced me to this format - which is called YEARMODA, (and seems quite common) so we might mention that name when we give the format.  I assume we don't need its function specially for that format.  It has a YEARMODA2Date function.

We may well make use of the chillR package for other functions, with patch_daily_temperatures looki

[2018-02-14 11:48] dannyparsons commented on #4401
I think the issue is different. It's about bracket on the basic keyboard, not from functions. I think what it does now for function is ok. But when you click the `( )` bracket button on the basic keyboard it should put the cursor in the middle. At the moment if I click `( )` and then click something else, it appears before both brackets.

[2018-02-14 11:52] dannyparsons commented on #4106
I think what you're asking for is a filter and then a subset of columns for cases like min and max, the same could be done for others as well I think. Is this the same dialog or something different?

[2018-02-14 11:58] rdstern commented on #4106
If you can filter to say (x = max(x)), or first(x) etc and then the dialogue specifies the subset of the columns to give, then yes.  Of course there may already be a more general filter in operation as well.

[2018-02-14 12:01] dannyparsons commented on #4106
I forgot there's also a `by` in there because it's `x == max(x)` within the factor levels you've selected, so it's very similar to the summaries. I'm not sure if it's less confusing to have them together or in separate dialogs.

[2018-02-14 12:12] shadrackkibet commented on #4401
Thanks for clarifying this. I will sort out that.

[2018-02-14 12:48] rdstern opened #4410 "Plotting issues with line plots"
Some of these points are more general than the line plots.

Last week I did some quick plots for PICSA work in Lesotho and everyone was very happy with the work.  I was also very happy with the way the plotting system was holding up.

Now (today) I have to produce some presentation plots and that is raising some (relatively minor?) issues and questions.  I say minor, because I think I will be able

[2018-02-14 12:55] dannyparsons commented on #4410
1. You can do this by going to the layers tab on the subdialog and then editing the layer, but that's not very obvious. I think a button the main dialog makes sense.
2. At the moment that's all we can do because we don't have access to the layer. We can basically only add to it which means adding options but not really editing.

[2018-02-14 14:29] rdstern commented on #4410
1. You said: "You can do this by going to the layers tab on the subdialog and then editing the layer, but that's not very obvious. I think a button the main dialog makes sense. "
No you can't edit that layer on the layer tab.  It says that feature is not possible, because it was generated on the main dialogue.  If you could have done (or if you can implement that for the points), then you don't ne

[2018-02-14 16:36] rdstern opened #4411 "Column summaries"
I have a file with 12 stations of daily data.

I am doing what I think is a simple summary of a logical column - though that may not be the problem.

The error was as follows:

Error running R command(s)

Error in parse(text = x, keep.source = FALSE) :
  <text>:1:10: unexpected ','
1: ~(Rainday,
             ^

The error occurred in attempting to run the following R command(s):

InstatDataObject$c

[2018-02-14 18:18] rdstern commented on #4410
I attach the graphs I produced. It was OK, but quite hard work.  The points above were part of it.

1.  What would make it much easier would be to have the facility to edit a theme and then use the edited one.  I needed to enlarge the size of the labels on the axes in the same way on all the graphs.  They came sometimes from different data frames and so the settings didn't remain and I had to chan

[2018-02-14 18:57] rdstern opened #4412 "Reading CHIRPS data from IRI as netcdf"
If I go to the IRI website I can download CHIRPS data in date order.  This is unlike (I think) the CHIRPS site that has a separate file for each month or year.

The site is [here](https://iridl.ldeo.columbia.edu/SOURCES/.UCSB/.CHIRPS/.v2p0/.daily/)

Many formats are possible including netcdf.  Here is an example of data from Bolivia.
[NETCDF data.zip](https://github.com/africanmathsinitiative/R-In

[2018-02-16 10:21] #4128 closed

[2018-02-16 22:40] rdstern opened #4413 "Updating geoms for plots"
ggplot2 has an update_geom_defaults command.  In the documentation it says:

"Modify geom/stat aesthetic defaults for future plots".  Examples include:
update_geom_defaults("point", list(colour = "darkblue"))
update_geom_defaults("point", list(colour = "black"))

This seems very useful for us.  I could certainly have made good use of it recently to help gets some graphs consistent.  Surprisingly t

[2018-02-17 01:43] rdstern opened #4414 "Limits in giving commands in R-Instat?"
We can now give commands to R-Instat in 2 ways:
1) Through the Prepare > Calculations > Calculate dialogue
2) Through the script window

And Maxwell has been adding to the right-click in the script window, being able to save and load, and paste etc.  This is a facility that many people have asked for, and I have found both these ways to be useful.

I need to understand more about the limitations o

[2018-02-17 08:02] rdstern commented on #3306
We now have the tab for the missing value options.  I also do it manually.  I think that doing my manual system from the dialogue would be easy to implement (Danny/David to confirm) and would be very happy if that could be implemented from the dialogue.  It would be great to have it in the climatic summary for the Benin workshop- which would be automatic, because that uses the same sub-dialogue.

[2018-02-17 08:09] rdstern commented on #4407
I have changed this to 4.12.  I have a sort of hope that this might be easy to implement.  But at least this issue can be discussed and (with agreement) the radio buttons can be added to show intent.

[2018-02-18 17:09] rdstern commented on #3067
There has been discussion on whether to continue with Helen's function for this - which needs some work, or to ignore that.  I think (on balance) I suggest we continue and adapt Helen's function.  But I am keen to get something working in the April release.  I add it to aspects I really hope can be working (like crop and improvements to the climatic > summary commands.

But I would be happy if (fo

[2018-02-19 13:29] #4389 closed

[2018-02-20 12:36] dannyparsons commented on #4411
I believe this is an issue when you use the Summaries subdialog from different main dialogs (in the same session). It sometimes does this with summaries. Could that have been what you did?

[2018-02-20 12:39] dannyparsons commented on #4410
Ah yes you are right with that. I think a button on the main dialog makes sense anyway.

[2018-02-20 12:41] dannyparsons commented on #4412
I still need to write to the author of the netcdf package about this detection. It shouldn't be difficult to implement.

[2018-02-20 12:53] dannyparsons commented on #4413
`update_geom_defaults` looks very useful and we could have a dialog for this, since it's geom settings it could use the same control as the layer options we have at the moment.

[2018-02-20 14:11] dannyparsons commented on #4414
Yes that's completely possible. The only limitation on commands is that the package must be available on your machine. So its powerful but dangerous.

[2018-02-20 14:13] rdstern commented on #4414
Wow.  Dangerous is my middle name.  I must try some examples and report.

[2018-02-20 14:17] dannyparsons commented on #4414
Try, for example, a very short command: `q()`

[2018-02-20 14:24] dannyparsons commented on #3067
I'll have a look again at implementing Helen's code.

[2018-02-20 14:39] rdstern commented on #3067
Great.  Thanks.

[2018-02-20 14:43] rdstern commented on #4414
That's not dangerous; just a pretty efficient way of stopping the session!  Just the sort of thing to (perhaps) not put into our help - or lots of people might then try it.

[2018-02-20 17:31] rdstern commented on #4413
Could we change Describe > Themes... to **Describe > Defaults** and then have 2 dialogues, one for **Geoms** and the other for **Themes**?
Then could the dialogue for Geoms have simply a main dialogue with the **Layer > Geom** control. As the main control.
I presume the R-code could then (at least start by being very simple, i.e. just the **update_geom_defaults** command?

If that is all we do, th

[2018-02-20 17:34] dannyparsons commented on #4413
I think we could easily reset to the standard defaults by unloading and reloading the `ggplot2` package. That seemed to be suggested from what I read but haven't actually tried it.

[2018-02-20 17:37] rdstern commented on #4413
Sounds really good.

[2018-02-21 11:57] dannyparsons commented on #4341
I have added the `wakefield` package and updated the packages (#4418). I haven't added the others yet as they are not used anywhere as of yet. Once the dialogs using these are being developed I can add the packages and they can be developed before the packages are added.

[2018-02-21 12:57] #4014 closed

[2018-02-21 12:59] dannyparsons commented on #4014
Slightly changed the dialog to include a "Close R-Instat now" button, since it's common to want to restart if you get this message. I tried having a "Restart" button instead but this seems complicated in VB.NET and so probably not worth the effort over close.

![image](https://user-images.githubusercontent.com/11214914/36481013-5abcccb0-1706-11e8-9d07-606ba4c174ee.png)

[2018-02-21 14:01] dannyparsons opened #4420 "Adding stat_summary as a "geom""
There's a lot of `stat_???` functions in `ggplot2` which we will eventually want to implement. However, I think `stat_summary` is extremely useful even if this is the only one we have to start.

It is coming up a lot with the agriculture type data for example, adding means or medians as points/lines on top of a plot. This is possible through our general graphics by using layers with different data

[2018-02-21 14:33] dannyparsons opened #4421 "reorder() function for reordering factor by other variables"
`reorder()` in `stats`:

e.g.
`reorder(x = survey$Village., y = survey$Yield, FUN = mean)` reorders Villages in order of mean Yield.

This looks like an easy way to, for example, order stations by latitude and will be easy to implement once we have a design of the dialog. I think this should be part of the current reorder levels dialog.

[2018-02-21 14:38] rdstern commented on #4421
Sounds excellent.  I just had a tortuous time re-ordering a factor to be in altitude order in Lesotho.

This is presumably one of our famous new radio buttons in the dialogue.  The column to reorder to will be in a factor-level worksheet.  This will also often be easy to generate with our restore original levels dialogue - or our factor data frame.

Being able to paste a whole column in the data f

[2018-02-21 15:14] dannyparsons commented on #4421
It's not so simple for a column from a different data frame. `reorder` works when the ordering by column is the same length as the factor column. If latitude was also at the daily level this would work e.g. with mean as the function. We would have to be more clever using our linking system to get this to work across data frames, which we could do, but I suggest getting it to work as is at the mome

[2018-02-21 15:34] dannyparsons commented on #4313
This is probably the most common `ggplot` option that we don't have implemented in R-Instat now, so I think this should be the next big thing we do on graphics, expect possibly for themes.
The code is fairly simple but there are a lot of options so it will take time to carefully think out the design.

[2018-02-21 15:49] rdstern commented on #4420
Here is a clear discussion of stat v geom from [stack overflow](https://stackoverflow.com/questions/38775661/what-is-the-difference-between-geoms-and-stats-in-ggplot2).  It emphasises that the **stat** is needed particularly for plots of raw data like line, or point - which we use enough.  The other stat that is mentioned is identity, which is needed for bar and pie charts etc, where the data have

[2018-02-21 16:30] #4390 closed

[2018-02-21 16:41] dannyparsons commented on #4288
Might be easiest to look at this problem in a live demo

[2018-02-21 16:59] dannyparsons opened #4424 "Vertical facets options doesn't work"

[2018-02-22 11:37] dannyparsons commented on #4424
This could have been because two facet variables were used. If so, then if `dir` isn't a parameter of `facet_grid()` so vertical/horizontal options shouldn't have been visible.

[2018-02-22 11:40] dannyparsons opened #4425 "Developer error reopening boxplot dialog"
Developer error occurred from the top panel when reopening the dialog with jitter selected. Also the layer options button said "Boxplot Options" instead of "Jitter Options". Choosing boxplot and then jitter again fixed the issue

[2018-02-22 11:53] dannyparsons opened #4426 "Column name tooltip feature in RStudio"
RStudio has a nice tooltip when you hover over column names in the data view.

Showing the range for numeric columns:
![image](https://user-images.githubusercontent.com/11214914/36536964-a9ca97ea-17c6-11e8-961c-626395ae43fe.png)

and number of levels for factor columns:
![image](https://user-images.githubusercontent.com/11214914/36536975-b0bf8100-17c6-11e8-99e4-39b9dd92a605.png)

Seems like a real

[2018-02-22 13:34] dannyparsons commented on #4075
This can now be implemented as the DateTimePicker control exists. The function for dates is still `seq` (or `seq.Date`, both the same so whatever is easiest for the dialog).
by is a character of the form `"x ???s"` where `x` is an **integer** and `???` is either `day`, `week`, `month` or `year`. So I suggest this is an nud/textbox and a combo box. See `?seq.Date`.
The other parameters such as `len

[2018-02-23 07:37] rdstern commented on #4330
Great.  There is a good document on graphs, [here](http://r-statistics.co/Top50-Ggplot2-Visualizations-MasterList-R-Code.html).  This is the third in an interesting series.

It may be useful for our documentation team to examine this list (and perhaps the other 2 tutorials) and see what we can already do - and what remains.  It makes use of (at least) the following geoms that we don't yet include:

[2018-02-23 12:24] lilyclements opened #4429 "Interaction plots"
I quite like using interaction plots when exploring the data and thought perhaps something like this could be appropriate for R-Instat especially since it is quite an easy couple of functions to implement.

**Three Way Interaction**
There's a really easy function to do a three-way interaction plot (And it's ggplot!). It's with the `dae` package and is `interaction.ABC.plot`. I've used it several t

[2018-02-23 15:45] rdstern commented on #4429
That's really interesting.  We do need to get back to our modelling dialogues and that certainly includes having interaction plots.  Recently I have become more impressed with the outputs from the mosaic project, see, for example [here](https://cran.r-project.org/web/packages/mosaic/vignettes/plotModel-vignette.html).

They have the main package called mosaic, also mosaiccore, and mosaicmodel.  I'

[2018-02-27 12:27] shadrackkibet commented on #4407
I am going ahead to add Top radio buttons to this.

[2018-02-27 12:30] #4385 closed

[2018-03-01 17:23] lilyclements commented on #4429
Sorry it's taken a while to reply! I couldn't get it to work on my macbook for some reason and wasn't reunited with my laptop until Tuesday.

`plotModel` is a nice function. It's not one I've come across before, but is definitely one which looks really useful.

* It uses `ggplot2`
* The code for the two-way interaction plots are much simpler than what I was suggesting and additionally the function

[2018-03-03 11:59] rdstern opened #4435 "The View R Objects dialogue"
The recent Hypothesis tests dialogue has produced more R Objects.

It would be good if the Prepare > R Objects > View dialogue had more options available.  Currently all options are disabled except graphs.

[2018-03-04 07:51] rdstern opened #4436 "Version of reogrid?"
I wonder what version of reogrid we are using?  Version 2.0 was late 2016 when it went fully free and open source.  version 2.1 was October 2017, see[ here](https://reogrid.net/change-log/).

This may be worth updating to?
If we add another programmer, then perhaps there are bits they could add that we need?

[2018-03-04 12:49] rdstern opened #4437 "Adding the portes package?"
Now we are easily able to do significance tests in R-Instat - though in a way that isn't for the faint-hearted, I have been looking for other packages that might add useful tests - and would be easy to implement.

The portes package does look interesting as it implements tests for time series - and we just may be challenged in this direction during the workshop in Riga.  It needs more investigatio

[2018-03-04 13:23] rdstern opened #4438 "agricolae package and giving commands to R-Instat"
There are various task views in R.  One is called **Experimental design** - which is also for the analysis of experimental data.  This says that the default package is **agricolae.**  It has quite a lot in it, though it is pretty traditional stuff.

I was looking particularly for more significance tests and it has plenty.  So that might be reason enough to include it - and add an agriccolae keyboa

[2018-03-05 16:07] rdstern opened #4439 "Extending the File > New dialogue even more"
I now propose 3 of our radio buttons for the File > New dialogue.

One is just **New** and is the current dialogue. The second could be **Wakefield** and is discussed in another issue, see #4347.  The third is called **Data** and is a facility to add lines of data automatically see #4438.
 The third option should be an easy addition?  It needs to have the number of rows (as does the first option),

[2018-03-05 16:59] rdstern commented on #4438
In discussions with David I am now a bit further on this example:

1) Loading new packages.  I enquired whether this had to be done through RStudio and could not become a facility in R-Instat.  David's view is that RStudio does this really well (including dependencies) and from the internet.  This is best left to RStudio.
2) Input of the 3 commands, with data could be done very nicely as part of t

[2018-03-05 17:05] lilyclements opened #4440 "Hypothesis Calculator"
I had a look at the hypothesis calculator. For testing the keys/dialog as a whole:

* I noticed there were a few hypothesis tests that are missing - is this intentional? (I can't say I've heard of these, but they are `ansari`, `mantelhaen`, `quade`, `PP`)
* There's also the normal bugs which I assume are known (bugs are similar problems in the other calculator - e.g., you can insert a factor when

[2018-03-05 17:39] rdstern commented on #4252
What has happened to this issue.  What is the current state?

[2018-03-05 17:43] rdstern commented on #4270
What has happened to this issue?  I thought it would be done just by adding the function given above?
Just to be clear, whenever there are duplicate records this function gives the index number, as Patrick shows above.

[2018-03-06 22:33] rdstern commented on #4440
I like those comments.  Thanks.
1. I can't think why we need more than one test at a time.  So could pressing a button do a clear first?
2. I can't see why I messed the 4 tests ansari, mantelhaen, quade, PP.  So let's add them.
3. It is a big keyboard though, so here is my suggestion for splitting it into 2.
a) Stats1 has 16 keys plus Clear.  Though if a new key does clear anyway, then the little

[2018-03-07 07:33] rdstern commented on #4440
I view this dialogue as particularly useful for running a wide range of analyses that may not (quite) be in R-Instat yet.  In the past these are analyses we would try first in RStudio.  Now I want to start seeing what is possible in R-Instat.  Here is one example from the agricolae pdf:

**data(potato )
potato[,1]<-as.factor(potato[,1])
model<-lm(cutting ~ date + variety,potato)
df<-df.residual(mo

[2018-03-07 11:00] dannyparsons commented on #4429
These all look interesting. Just one comment that the two way interaction plot we can do all through our scatter plot dialog as we have the geom_smooth options there now.

[2018-03-07 15:21] #4402 closed

[2018-03-08 08:09] rdstern commented on #4381
I suggest a few more features for the script window.  I do understand the dangers, but find it very useful.  (David has also admitted he is now sometimes using it in preference to going to RStudio!  Wow!)

1. I like the improvements that Maxwell has made.
2. He tells me that Undo and Redo will be easy to add in this control - I believe they sort of come automatically!
3. Could we also have **Run C

[2018-03-08 08:32] rdstern opened #4442 "Ordinary graph did not display in output window - adjusted boxplot"
This was an ordinary plot, i.e. not a ggplot.  It displays fine in the R window.  It is also a bit sensitive to the text in the script window, in a way I don't understand.  When I use:

[code]
This is the code by adjusting just line 2 from the ordinary boxplot.  Then it appears quickly in a separate window and then there is a blank rectangle in the output window.

An alternative is to not save the

[2018-03-08 17:42] rdstern opened #4444 "Script window - extra bracket added?"
I think this is a bug in the operation of the script file.  It occurred when I ran a command that was split over 2 lines.  It seems to add an extra bracket.

I think I have seen this before, but assumed it was me, and so fiddled with the number of brackets myself.

Here is the example - it is from the **openair** package.  I think that is one of the packages we have as part  of R-Instat, though it

[2018-03-09 09:50] rdstern opened #4445 "Giving R commands in R-Instat - options by context!"
1. We have always felt that users should be encouraged to migrate from R-Instat to RStudio when they need to give commands to R, rather than just using the dialogues.  This route continues and we should also continue to check that it is as simple and encouraging as possible.

2. An alternative is to give R commands within R-Instat.  David and Danny have always been reticent about this options, and

[2018-03-09 13:53] rdstern commented on #4445
I now have a specific example for the features above for my climatic work.  We have the dialogue to produce extremes (Climatic > Prepare > Extremes).  These have then to be analysed and the package called extRemes is the obvious one to use - and already part of R-Instat.  But there are no dialogues yet, so how should we use it?  I tried first the code here:

**z <- extRemes::revd(100, loc=20, scal

[2018-03-09 16:53] rdstern commented on #3844
What is the state on this dialogue and code?  If you need help, then please tell us.  It is one of the key dialogues for version 4.12.

[2018-03-11 10:13] rdstern opened #4446 "Giving commands to R-Instat"
Here is a common situation in example files in R.  This doesn't (yet?) run in the script window, but might be solved through the enhanced File > New option suggested in #4439.

(It is part of the first example in the rms package)

**n <- 1000 # define sample size
set.seed(17) # so can reproduce the results
treat <- factor(sample(c('a','b','c'), n,TRUE))
num.diseases <- sample(0:4, n,TRUE)
anova.rm

[2018-03-12 09:03] rdstern opened #4447 "Change commands shown in output window"
Here is an example of a command in R-Instat:

Dodoma <- InstatDataObject$get_data_frame(data_name="Dodoma")
**last_graph <- ggplot2::ggplot(data=Dodoma, mapping=ggplot2::aes(y=Rain, x=month_abbr)) + ggplot2::geom_boxplot() + theme_grey()**
InstatDataObject$add_graph(graph_name="last_graph", graph=last_graph, data_name="Dodoma")
InstatDataObject$get_graphs(data_name="Dodoma", graph_name="last_graph

[2018-03-12 09:32] rdstern opened #4448 "Bugs in the script window"
There are 2 bugs I have found:

a) Danny tells me that standard R commands should run.  This example does not run:
**n <- 1000 # define sample size
set.seed(17) # so can reproduce the results
treat <- factor(sample(c('a','b','c'), n,TRUE))
num.diseases <- sample(0:4, n,TRUE)
age <- rnorm(n, 50, 10)
cholesterol <- rnorm(n, 200, 25)
weight <- rnorm(n, 150, 20)
sex <- factor(sample(c('female','male')

[2018-03-12 13:00] bethanclarke opened #4449 "Include ggalt as a package"

[2018-03-12 13:10] dannyparsons commented on #4442
This isn't a script window issue. Most non-ggplot objects cannot be saved in a way that allows them to be displayed again. In this case adjbox prints a graph but returns a list, but there's no way to save the graph object and reuse it. So (even in RStudio):
[code]
won't print the graph when you run `x`. It will display from the first line which is why you see it pop up in R. So from the script win

[2018-03-12 13:20] dannyparsons commented on #4444
This is an interesting one. It's because from the script window it's trying to capture the output of each line (to be able to display in the output window. Since each line is being treated separately it think brackets are missing. I think if it wasn't trying to capture output for the output window it would work correctly.
At the moment it always tries to capture output because even if there isn't

[2018-03-12 14:46] dannyparsons commented on #4446
This all runs fine for me in the script window (except line 5 which seems to be a mistake)

[2018-03-12 14:53] dannyparsons commented on #4446
You might not have had spaces around the assignment. So `n<-1000` instead of `n <- 1000` could have been the cause.

[2018-03-12 14:54] dannyparsons commented on #4447
For graphs its fairly straightforward to extract the plain R code but in general this isn't simple or obvious what the "plain" R code is for a general command.

[2018-03-12 14:59] bethanclarke opened #4450 "Global data frame being overridden when a second geom with a different data frame is added"
Suppose we have created a scatter plot and now we want to circle some specific points on the plot. Then, we would use a second layer called geom_encircle to do so. In order for the geom encircle to circle specific points, we need to filter the data frame used to create the scatter plot, save it as a new data frame and then map this data frame to geom encircle.

Example
Create a scatter plot
`ggplo

[2018-03-12 15:07] rdstern commented on #4444
In discussions on a possible continuation character for R commands over multiple lines it seems there isn't one.  But one solution suggested is to put the whole command in a bracket.  Then when you get to the end of a line, the bracket isn't closed.  Curly bracket is suggested I think too.

I wonder if that would help us here.  It is still ordinary R and perhaps R-Instat could check for that?

[2018-03-12 15:10] dannyparsons commented on #4450
This looks like it's almost working because the second data frame is getting added into the second layer. So we just need it to not change the global data frame when apply on all layers is unchecked.

[2018-03-12 15:12] dannyparsons commented on #4444
No the issue isn't with R its just that in R-Instat it tries to capture the output of each line separately.

[2018-03-12 15:14] rdstern commented on #4444
Yes and I was wondering if R-Instat could check for a not closed { and then assume it waits for the end of the next line!

[2018-03-13 12:13] lilyclements commented on #4440
This sounds good. So we need to add the four missing tests in the stats package,
1. If we implement a clear if you click on another button before the new test comes up, what do we want to happen if we click on the test we're already on? So I'm on `poisson` and put in my parameters etc, then click `poisson` again. Do we want this to clear the receiver completely? Or alternatively to "reset" the rec

[2018-03-13 12:20] lilyclements commented on #4440
This sounds good. So we need to add the four missing tests in the stats package,
1. If we implement a clear if you click on another button before the new test comes up, what do we want to happen if we click on the test we're already on? So I'm on `poisson` and put in my parameters etc, then click `poisson` again. Do we want this to clear the receiver completely? Or alternatively to "reset" the rec

[2018-03-13 15:16] bethanclarke opened #4452 "When adding a second layer to a scatter plot, geom_point is replaced with geom_boxplot"
When adding a second layer to a scatter plot, `geom_point` is replaced with `geom_boxplot`. I found this problem when I was trying to recreate the first graph in Top 50 ggplot2 Visualizations - The Master List
http://r-statistics.co/Top50-Ggplot2-Visualizations-MasterList-R-Code.html#Marginal%20Histogram%20/%20Boxplot

Example
Say we want to create a scatter plot of area vs population where we map

[2018-03-13 15:23] bethanclarke commented on #4452
This issue occurs on other plot dialogs too!

[2018-03-13 15:25] bethanclarke commented on #4452
Additionally this problem does NOT occur when creating this graph using the general graphics dialog

[2018-03-13 23:30] lilyclements commented on #3844
In the "single" checkbox, would it be useful for the user to specify multiple days? (so a combo box not nud) Or is there not a particular advantage to this?

Additionally, David and I discussed potentially the inclusion of three checkboxes to "Include Day/Amount".
This would mean, for example, that the user can look at periods where rainfall is greater than 200 - or if they check the checkbox - eq

[2018-03-14 08:02] shadrackkibet commented on #3844
@lilyclements  i think it will be good if you share the latest Rcode here. I am going to take over from where @Patowhiz  reached.

[2018-03-16 19:52] rdstern commented on #4435
Would this be a dialogue Patrick could look at?  I hope that, just checking that the str() command can be given would allow it to be useful for viewing.  And we should have the option to delete objects as well.  They used to work I think?

There are lots of ways the dialogue could be made more useful, but only if they can (at this stage) be done quickly.  Here is my initial list:
a) Can some infor

[2018-03-16 22:17] rdstern commented on #4338
What is the current state of this feature?  It would be good to have it in Version 4.12?

[2018-03-17 02:28] rdstern commented on #4406
After discussion with Danny I suggest a new custom control here.  The current From <daynumber_in_year> To (Day_number_in_year) e.g. From 1 To 366 could be replaced by a **From/To button**.  This opens a sub-dialogue.

This has a selector on the left with just the linked data-frames.  Usually there will be only 1.  If there are none, then the control could still be there with no data frames availab

[2018-03-17 03:46] rdstern commented on #4112
There is a (sort-of) related issue and that is to add an option to the same commands (start and end and day of extreme) that also provides a further date column.  So the main column is (as now) the day-of-year, but there is a checkbox "Add Date column" and this adds a firther column, which is the date (including the year, i.e. a proper date! of the start and/or end.

[2018-03-17 04:57] Patowhiz commented on #4435
Let me have a look at it.

On Fri, Mar 16, 2018, 10:52 PM rdstern <notifications@github.com> wrote:

[2018-03-19 03:12] rdstern commented on #2392
Some of the items above have been addressed.  But others remain - and there are more!  This is for the temperatures, i.e.
1) The label mm has been changed to deg C.  Thanks
2) When 2 columns are given the calculations should be for both of them.
3) The QC should take account of a filter.
4) New - the cursed up-down are still there!  This is actually a good dialogue for them.  But is it possible fo

[2018-03-19 18:32] Muthenya commented on #4338
@rdstern most of the work has already been done. What is remaining concerns the issue of including a checkbox and a tooltip. Maybe that can be discussed more and also the Multiple option.

[2018-03-19 20:05] rdstern opened #4460 "|Adding the coin package for more hypothesis tests"
The coin package looks interesting for us.  I have included Lily in case it could be useful for her MSc project?  It is mentioned in the clinical trials and survival task views and so just may be of some interest to consider.
More generally, for us it includes a pretty general system for hypothesis testing.  It looks to be as close as hypothesis testing can get to our ideas of looking for general

[2018-03-19 20:12] rdstern commented on #4338
That's great.  I would argue that the Multiple would be useful, but is of lower priority.  Once the restore hierarchy is done, then it would be good to get it merged.

[2018-03-20 03:24] rdstern opened #4461 "Web stuff and the analysis of text data"
This is for later, but there seems to be a set of interesting packages for the harvesting and then analysis of text data.  They include:

1) rvest - is this the latest by Hadley Wickham?  It is described as "Easily Harvest (Scrape) Web Pages".
2) quanteda - "A fast, flexible, and comprehensive framework for quantitative text analysis in R." - links to tidyverse and ggplot2.
3) tidytext  - "Text mi

[2018-03-22 20:46] rdstern opened #4462 "Up-Down controls with ggplot"
When I do hline (horizontal line) then look at the geom parameters the first one is the yintercept.  I wanted a line at the point 3.9.
I can't do this, because of the damn up-down control goes in integer values.  Please can we do something about this.  There must be many similar places, both in ggplot and more generally.

The current up-down seems quite flexible as long as I want whole numbers.  I

[2018-03-23 09:43] dannyparsons commented on #4435
The simple thing to get working first is just printing the object 'as is' in the output window. For certain objects things like structure and list items are very long and generally not useful whereas printing normally does something sensible. If the printing was working it would already be useful and other options can be added later.

[2018-03-26 12:15] shadrackkibet commented on #4425
This seems to have been fixed. I can't replicate it.

[2018-03-26 12:18] shadrackkibet commented on #3067
This should now be closed.

[2018-03-26 12:26] shadrackkibet commented on #4075
This is now implemented . This can be closed.

[2018-03-26 12:36] #4075 closed

[2018-03-26 17:09] rdstern opened #4465 "Menu changes in dates dialogues"
A very simple change for now!  But quite important in the explanation of our climatic strategy.

It is great that the generate dates dialogue has now been enabled.

The dates menu is the same in 2 places.  It is from Prepare > Column: Dates and also Climatic > Dates (in the Prepare section of the climatic menu).  That's fine and should stay.

Then there is
Make Date
Use Date
Infill Missing Dates
e

[2018-03-27 06:58] #4465 closed

[2018-03-27 11:24] maxwellfundi opened #4468 "Duplicate row"
I have been testing the duplicate dialog and i wanted to check how the new feature @shadrackkibet  has added works and wanted to deliberately produce a duplicate row. Like we have a duplicate column from the right click menu, I was wondering if having a duplicate row feature is a sensible option @rdstern

[2018-03-27 11:42] #4270 closed

[2018-03-27 12:03] Patowhiz commented on #4435
@dannyparsons I'm making that to fall under the "All contents" option.

[2018-03-27 12:06] Patowhiz commented on #4435
@dannyparsons what's your opinion about the data frame itself also being viewed as an object. Should this be included?

[2018-03-27 18:45] bethanclarke commented on #4462
@rdstern I have fixed this issue, just waiting for the pull request to be merged

[2018-03-27 18:46] #4449 closed

[2018-03-31 11:14] rdstern commented on #4446
OK

[2018-03-31 11:14] #4446 closed

[2018-03-31 11:16] rdstern commented on #4448
Answered I think, by the addition of the space.

[2018-03-31 11:16] #4448 closed

[2018-03-31 11:22] rdstern commented on #4445
I think that Maxwell is continuing to enhance the right-click for the script window.  This is to confirm two additions:
a) Could we have an option to run the current line.  (And then to move to the next line.)  This could also have <ctrl-Enter> as a short-cut, which is then consistent with RStudio.  (And running a single line would not give the warning.
b) Could we also have a short-cut to run a s

[2018-03-31 11:33] rdstern commented on #3067
1. The code for Missing is currently M as a default.  You can type m, but it is then changed automatically to M.  I would prefer m there, and another option of miss.
2, Currently the default for the monthly options is to give them all.  This is not sensible.  I would prefer the default to have all unticked instead.
3. If it is easy to add the mis, for the summary of missing values as another optio

[2018-03-31 11:46] dannyparsons commented on #4425
Can you try also opening the sub dialogs? That might be part of the problem.

[2018-03-31 21:39] dannyparsons commented on #4468
I don't think this is needed in the same way duplicate column is. If there is a case then it could be on the row right click.

[2018-04-01 12:16] dannyparsons commented on #4435
- Deleting objects should be in a separate dialog
- I don't think data frames should be viewable here - we are looking at objects associated with a data frame and we already have a view dialog for data frames.

There's lots of interesting functions we could think of using here which could be discussed. But I think the priority now is to get something that's useful and works. So I suggest two optio

[2018-04-01 12:26] dannyparsons commented on #4445
Also to check that the Script window is now using the built in cut/copy/paste functions of the textbox and not our own custom functions? They should also be the first three items on the right click.

[2018-04-03 08:00] maxwellfundi commented on #4445
@rdstern  We have the feature of running selected text. Do you mean we could now be able to run a line at a time by clicking on run and the cursir moves to the next line like RStudio?

@dannyparsons  yes, the copy, cut and paste use the inbuilt functions not our own functions. I will also move them to the top of the list.
I purpose to have this for the next version.

[2018-04-03 08:02] maxwellfundi commented on #4468
Yes, I agree it could go to the row right click menu. What i did not know is if its a sensible option to have. If there is no such case then this issue can be closed.

[2018-04-03 08:05] maxwellfundi commented on #4462
@bethanclarke  When you fix an issue, Kindly reference the issue on the pull request so that the issues are closed automatically when work is merged in.

An example is  If you comment on your pull request  **Fixes #4462**  then when the pull request is merged the issue 4462 will be automatically closed.

[2018-04-03 09:47] rdstern commented on #4445
I answer to
We have the feature of running selected text. Do you mean we could now be able to run a line at a time by clicking on run and the cursir moves to the next line like RStudio?

Absolutely.  And (also like RStudio) <ctrlEnter> is a shortcut key for that.  And it does not warn when running a line at a time.

[2018-04-03 10:19] shadrackkibet commented on #3067
@dannyparsons  i was wondering if adding ` summary_count_missing`  which is already one of our summary functions to the list of summaries in the `display_daily_table ` function will fix  **2** above. Please have a look at it.

[2018-04-03 10:27] rdstern commented on #4468
It isn't so simple as duplicate column, because the items in the row could have different types, e.g. first one may be a factor, while the second is a variate.  I would be inclined to close it for now.
There is no special item for this in Genstat.  However, Genstat has copy/paste, which could be used for this purpose, i.e. you copy a row and then insert a blank row and then paste.
This works OK in

[2018-04-03 10:34] #4468 closed

[2018-04-05 11:08] dannyparsons opened #4480 "One Variable Summaries - custom summaries method rewrite"
The method used in the one variable summaries dialog to do custom summaries was written before the calculation system was in place therefore it is not consistent in the use of the summaries subdialog. There are some bugs including errors doing percentiles/proportions/counts.

The dialog should be adapted to use the new calculation system methods.

[2018-04-05 13:24] shadrackkibet commented on #3067
@dannyparsons ?

[2018-04-05 14:35] dannyparsons commented on #3067
Yes that's added and done. I also changed the default summary to "sum" only. The function doesn't allow no summaries so that seemed the sensible default.

[2018-04-05 18:16] rdstern opened #4484 "Climatic summaries"
I really like the improvements with the climatic summaries.

There is an issue I found when using Dodoma.rds.  I used the dialogue as it, for annual.  Then I wanted to check that it is OK also for within year, so I clicked at the top tab for within year and put in abbr month.
I did not run that.  Instead I went back to the annual summary.  The error is that the information on the months is not cle

[2018-04-06 06:34] shadrackkibet commented on #4484
I am struggling to replicate this Bug, Perhaps because i am using Dodom.xlsx  instead?(I have an issue loading dataset from instat collection #4455). But i think the error should be the same.
Could you paste the code produced on the output window when you moved from one Top radio button to the other. What i am expecting to change between the two chunks of code is just` factor=c("Year")` for annual

[2018-04-06 07:45] rdstern commented on #4484
I don't think that is the issue.
It comes from having (at some stage) included the monthly factor.  Then returning to looking at annual data summaries.
For example if (with just annual) I now change the element to sunh it runs fine  - the first time.  Now return to the dialogue, which still looks fine - and press OK again.  Now you get monthly summaries.  And (as you say) it has put the 2 factors

[2018-04-06 08:15] dannyparsons commented on #4484
I've been able to replicate it as well. Will look into the issue.

[2018-04-06 08:39] Patowhiz commented on #4435
@dannyparsons are you suggesting that I make the All contents radio button to be Print?

[2018-04-06 08:49] dannyparsons commented on #4435
I'm suggesting a radio button called "Print" which just gets the object, calling the get_objects method.
Then a second which calls str on the object.
There shouldn't be anything special needed for graph objects.

Getting components can come later because that will take more time. I chose these two because they should be simple to implement.

[2018-04-06 08:53] Patowhiz commented on #4435
My understanding is 'Print' is similar to all contents, which currently just prints the object. Not unless I'm not getting what all contents means.

[2018-04-06 08:58] dannyparsons commented on #4435
It could mean different things for some objects. In R print displays the object in a "nice" way, which may be different from the actual contents of the object. e.g. a graph is stored as a list but prints as an image.
Anyway, print is the most useful and all we need for now.

[2018-04-06 09:03] Patowhiz commented on #4435
Aha! now I get you. I'm using R command `show` for All contents. I'll add the print radio button and make it the default.

[2018-04-06 09:04] #4484 closed

[2018-04-06 09:09] dannyparsons commented on #4435
show is the same as print - in most cases, so that's not really appropriate for All contents. I'm not sure if we will even need All Contents since str and print do most things - if we do I'm not sure what function we will use which is why I think we don't have All Contents until we decide what it should do and how.

[2018-04-06 10:02] dannyparsons commented on #4435
looks good

[2018-04-07 07:56] rdstern commented on #4309
The summaries dialogue (and hence climatic summaries has changed a lot.  It is looking very impressive now.  I have changed the name of this issue to list what I think remains.  It is getting very exciting!

1. We now have **First and Last and nth**.  What remains is the add the OrderBy facility to these summaries.  I suggest we keep First/Last/nth where they are now.  In addition we repeat them i

[2018-04-07 08:50] rdstern commented on #2775
Now that we can use data from a linked worksheet, this end-of-the season dialogue can be "completed".
1. The new "system" for choosing the day numbers can be added - as it has been for the summary, extremes and spells.  This will enable the end of the season the start on the date of the end of the rains.
2. The evaporation should be able to pick-up data on the evaporation from another column in th

[2018-04-07 17:53] dannyparsons commented on #4309
Can these be separate issues, one for each point? For the workflow I think it's better if this can be closed and new ones opened.

[2018-04-07 18:38] rdstern opened #4497 "Summaries - first and last and nth"
The summaries dialogue (and hence climatic summaries has changed a lot. It is looking very impressive now.

We now have First and Last and nth. What remains is the add the **OrderBy** facility to these summaries. I suggest we keep First/Last/nth where they are now.

In addition we repeat them in the 2-variable tab - with the OrderBy label for that block of summaries. So it is effectively another s

[2018-04-07 18:41] rdstern opened #4498 "Summaries - max and min extended"
Danny has added the facility (in the Climatic extremes dialogue) to provide the observation number (i.e. day of the year) when the max and min occurred.

So in the 2-variable summary tab can we add 2 more blocks, one for **Maximum** and the other for **Minimum**. Inside these blocks are First, Last, Count.  And this is the first (last, and number of occurrences) of the maximum for a related variab

[2018-04-07 18:45] rdstern opened #4499 "Summaries - missing tab implemented"
The tab is there to set the result to be missing if the number of missing values in a column (or the proportion) exceeds a threshold.

I hope this is easy to implement, because we already have the summary of the number of missing.  So, behind the scenes, it can include this extra calculation.

So we add the facility in the Missing tab to make the result missing when a given number, or proportion o

[2018-04-07 19:11] rdstern opened #4500 "Adding an evapotranspiration dialogue"
This is a new dialogue.  At least for now it could go at the bottom of Climatic > Prepare with a line under End of the rains and then the dialogue saying Evapotranspiration.

It could have two tabs with the first saying **Penman-Monteith** and the second saying **Hargreaves**.  This is consistent with the FAO recommendations to use P/M all the time, but with Hargreaves possible if there is only te

[2018-04-08 07:25] rdstern opened #4501 "Climatic summaries - the third tab"
I think this is an easy one!

I am getting very pleased with the **Prepare > Column: Reshape > Column Summaries** and the related **Climatic > Prepare > Climatic Summaries**.

Now the climatic dialogue has 3 of the new-style Radio Buttons at the top.  The first 2 currently say **Annual** and **Within Year**.  If there is space then I suggest that **Within Year** becomes **Annual + Within Year**.

[2018-04-09 09:02] bethanclarke commented on #4500
@maxwellfundi Danny said he's sent me an invite but I can't find it anywhere. I've already created the dialog for this, but thank you.

[2018-04-09 14:39] shadrackkibet commented on #4501
@rdstern  Do we then hide the year receiver when you are on **Within Year** option?

[2018-04-09 14:55] rdstern commented on #4501
Right.  Just as  you hide the Within Year on the first option, now you hide the Year on the third option.

[2018-04-10 08:10] dannyparsons commented on #4497
I think this will get confusing for our summary system to have it in two places. Not sure what a good solution is though.

[2018-04-10 08:11] rdstern opened #4506 "Improving the Deletion of rows of data"
We have a dialogue which is in Prepare > Data Frame > Delete Rows/Columns

The way I usually use it is to apply a filter with a condition and then delete all the rows that remain visible.

I think this is our own code.  Would it be possible to be able to add the code to use it with the condition?  So I could delete if a column is TRUE, or if (Rain == 9988) for example?

This would make it much eas

[2018-04-10 08:14] rdstern commented on #4497
It is like the max and min being in 2 places.  I assume it is complicated for the coding, rather than the user? In that case let's put it back into the 2 variable tab only.  However these will then run with, or without, the variable on that tab.  That is unlike correlations, etc, for which the additional variable is needed.

[2018-04-10 09:27] Wycklife opened #4508 "Parallel coordinates plot"
When working on parallel coordinates plots dialog , in the subdialog we can only order in three ways **(Any class, All class , Skewness)** ,yet when working on the graphics we needed to order by a column as shown in the code below.Could a selector and a receiver for the orders be added so that this is possible?

![snipping](https://user-images.githubusercontent.com/33898404/38547078-f3b19aec-3cb6-

[2018-04-10 10:08] dannyparsons commented on #4508
Good question - @maxwellfundi had you looked into this when you did the dialog?

[2018-04-10 10:14] maxwellfundi commented on #4508
@dannyparsons  Not really. This has come up from the graphs that are being generated from which had not been considered in the before.

[2018-04-10 10:23] rdstern opened #4509 "Regular Sequence dialogue"
Most people on this course are using R-Instat in French, i.e. with their language set to French.

This is sort of OK for most things and Tape (from Ivory Coast) will look at the translations.  But the regular sequence dialogue has a real issue in that the control for the data frame is now moved and almost hidden behind the new radio buttons.  And those radio buttons have moved to the left of the d

[2018-04-10 10:38] rdstern opened #4510 "Toolbar for script window"
This would have been so useful today in the workshop.

We discussed how to automate data transfer to R-Instat.  This made us open the script window.  Now they want to know how to close it!  So much easier if only it were on the toolbar.  We will need to consider the design, because I think we used the proposed script design for the log window.  Maybe bwe could swap the two!!!

[2018-04-10 10:48] dannyparsons commented on #4508
I think this should be added then. When depends on how urgent it is @rdstern

[2018-04-10 10:50] dannyparsons commented on #4509
This is a general issue with radio buttons and our translation system shifting the positions during translation. There are probably other dialogs with the same issue.
So once we correct our translation system this should be fixed.

[2018-04-10 10:50] maxwellfundi commented on #4508
When we were doing this with @shadrackkibet  and @ZIRANA11  we figured out this would be a good addition to enhance functionality of the dialog.

[2018-04-10 10:51] dannyparsons commented on #4508
Great, if it's quick then I suggest just do it.

[2018-04-10 10:59] maxwellfundi commented on #4508
It needs careful thoughts because there are other additions on the subdialog I think might be important to add. Example is in the order, there is long list of possible things to add but from the previous issue @rdstern  advised to have the current ones. So lets hear what @rdstern  thinks and discuss how to implement that possibly inclusive of other features.

[2018-04-10 14:45] rdstern commented on #4509
This is getting more major as an issue.
For the Display of daily data the OK and other buttons are hidden on the French machine.
Also the Check data QC for rainfall and temperature are disabled!  (Fine on mine - in English.)

Danny you were wondering if Ian might be able to point us in the right direction.  It would be good if this could be done soon.  In addition Tape is happy to work on the actu

[2018-04-10 14:55] rdstern commented on #3067
There is a bug here, so this dialogue doesn't run.

Here is the message:

**Error running R command(s)

Error in eval(expr, pf) : attempt to apply non-function

The error occurred in attempting to run the following R command(s):

.temp_val <- capture.output(InstatDataObject$display_daily_table(data_name="Dodoma", climatic_element="Rain", date_col="Date", year_col="Year", Misscode="m", monstats=c(s

[2018-04-10 15:11] Wycklife opened #4511 "Export to openrefine"
I have been trying to test this dialog (Prepare>Check Data>Export to openrefine). Whenever i try to export any data set to Openrefine,this bug pops up, what might be the problem?

![image](https://user-images.githubusercontent.com/33898404/38565515-3090faa6-3cea-11e8-8520-d341cb9a3622.png)

![image](https://user-images.githubusercontent.com/33898404/38565554-4ca37af2-3cea-11e8-9d5f-835475f3300b.pn

[2018-04-10 18:28] rdstern opened #4512 "Column names"
I am not sure whether this will be resolved once the language issues are behind us.

A column was named annees, but with an acute accent on the first e.  Proper French!  The computer was set to French.  The Merge dialogue was distinctly unhappy with that name, which it changed so something like ann@es or ann$es, I forget.  And then it complained a lot, before giving the sub-dialogue.
All was OK on

[2018-04-11 06:15] rdstern opened #4513 "Display of daily climatic data - for one year?"
In #3067 there is currently information about a bug in the tabular display of climatic data.

This is a request for a new feature.  It is simply to be able to display the table for a single year (or possibly for a set of years).

This may need a checkbox, or perhaps could use the dialogue just as it is.  This might need guidance from Danny and David.   I am adding Beth to the list, because I think

[2018-04-12 06:30] rdstern opened #4514 "Graphics: the facets tab"
A very small issue I hope.

On the facets tab (sub-dialogue for the graphs), the "Free Y axis" option had been ticked.  It wasn't needed so we de-selected the option.  And the resulting graph was OK.  But coming back to that TAB it has re-selected itself.
I assume this may be the case with other options also, at least on this Facets TAB, but I haven't checked.

[2018-04-12 07:12] rdstern opened #4515 "Message when plotting a graph concerning temporary location"
This seems (as far as I can tell) to only affect me!

I did an inventory graph (I think it could be any graph) and got the following message:

**instat
A problem occured saving your graph in the temporary location: C:\Users\Roger Stern\AppData\Local\Temp\R_Instat_Temp_Graphs
To ensure graphs can be viewed, graphs will now appear in a pop up R viewer. You can change this setting in Tools > Options:

[2018-04-12 10:52] rdstern opened #4517 "Proportions not working in simple summaries"
I was delighted to see that the one variable summarise has the same options as the others.

But the one for the proportions for a single column - getting the proportion > 0 did not work.  It gave the following error:

**Error running R command(s)
Error in paste("x", value, sep = test) :
  argument "value" is missing, with no default
The error occurred in attempting to run the following R command(s

[2018-04-12 15:55] dannyparsons commented on #4511
Open Refine is a software and this needs to be installed on your machine to be able to use this dialog. @lilyclements is that correct?

[2018-04-12 15:56] dannyparsons commented on #4512
I also now have an example of the same problem with another dataset so I can test this and fix.

[2018-04-12 16:08] lilyclements commented on #4511
Yes, so you can install it from here - http://openrefine.org/download.html

[2018-04-12 16:46] dannyparsons commented on #4513
We did discuss this before and the decision was not to put it in and just use filters, but I still like the option. You could use this option instead of a global filter, but if you both applied a global filter and typed in years it would apply both "filters" first the global filter, then the selected years. So you may end up with nothing if you think the global filter will be ignored if you type d

[2018-04-12 16:59] dannyparsons commented on #4515
This usually happens when the temporary files get cleared while R-Instat is open, meaning it can't access this folder any more. It should be able to recreate it when you restart R-Instat (and VS running R-Instat). If not maybe another program is access the Temp folder so R-Instat can't. You could restart your machine.
If that fails you could also go to that location and delete the folder if it exi

[2018-04-12 17:12] shadrackkibet commented on #4406
@dannyparsons  i think most of this is now done, can this be closed?

[2018-04-12 17:34] dannyparsons commented on #4517
@shadrackkibet we had noticed this before, is there an issue for it already?

[2018-04-12 18:39] rdstern commented on #2775
There is a problem with the current end of season dialogue.  It doesn't take account of missing values.  This is important.  Currently it seems to put the end on the earliest day if there are missing values.
It isn't easy to take account of them properly, but I had lengthy discussions with Lily, so I guess code is there, but perhaps commented out for now.
It is a problem on this workshop.

[2018-04-12 18:43] rdstern opened #4520 "Start of the rains and filters"
The start of the rains dialogue currently seems to ignore filters.
Is this the case with all the climatic events dialogues?

[2018-04-12 18:49] rdstern commented on #4512
Great, thanks.  What does "fix" mean?  I have assumed they will have to avoid accents forever, but that may be over negative?

[2018-04-12 18:54] dannyparsons commented on #4511
If users know what OpenRefine is they should they need it installed, but this information will be important to include in the help file for the dialog.

[2018-04-12 18:55] dannyparsons commented on #4406
Yes this is done! And any new dialogs can have this from the beginning now.

[2018-04-12 18:55] #4406 closed

[2018-04-12 18:57] dannyparsons opened #4521 "Packages to add"
- SPEI

[2018-04-12 19:00] dannyparsons commented on #4512
Fix means we remove accents in columns names at import. There seems to be good methods for this in R already.

[2018-04-12 19:03] rdstern commented on #4512
That's fine.  And I assume the renaming won't allow them to be added there?

[2018-04-12 19:20] rdstern opened #4522 "Changing the type of a linked column"
We have been moving from daily to annual data a lot.
This has involved (often) making the year column (in the daily data) into a factor.  It is then a factor in the annual data frame.  I have therefore shown them about duplicate and making the duplicated column into a variate, which most have used.  But not all!
It seems as though those who changed the year into a variate then found that the link

[2018-04-12 19:24] dannyparsons commented on #4512
Yes we can catch it there too.

[2018-04-13 06:36] Wycklife commented on #4511
Thanks for your feedback, but i did all that, i tried it in R and it was successful, in Rinstat,  it brings out those two bugs, it doesn't open the browser.

[2018-04-13 08:08] lilyclements commented on #4511
Interesting. In R are you running the `write.csv` function as well as the `refine_upload`?
From a quick google, I think the error is coming from the `write.csv` part of this (this is something we need in R-Instat because of the instatdataobject (I think! It's been a long time!) but is not necessary in R)

I'm happy to skype later to see it through on your laptop, perhaps around 2pm your time?

[2018-04-13 10:36] rdstern opened #4523 "Graphs in R-Instat - making it easy"
[Bougouni_Graphiques_benin.pptx](https://github.com/africanmathsinitiative/R-Instat/files/1906925/Bougouni_Graphiques_benin.pptx)

This is a PICSA presentation showing graphs used in Mali.  This was produced with the old Instat, but could also have been with Excel.
At the end are the first graphs from R-Instat.  It is clear we should be able to trump (bad word now) the old Instat, but not yet.  I

[2018-04-13 13:45] rdstern opened #4524 "Using geom text in plotting"
I have been trying to add text to a graph, using geom_text.  I may be trying to do the wrong thing?  If you look at all the examples of geom_text (or geom_label, [see](http://ggplot2.tidyverse.org/reference/geom_text.html)  they use data from the same data frame as the other plotting elements.  I am using data from a different data frame.  Logically I feel this should work and be useful.  But addi

[2018-04-13 13:59] dannyparsons opened #4525 "File path tool tip on recent files"
The recent files items on the menu and toolbar could have a tooltip showing the file path. I noticed this when I had two recent files with the same name, it would have been good to see the path on hover. I think this is standard in other software.

[2018-04-13 15:11] rdstern opened #4526 "Minor improvements to plotting - setting default values"
In themes with x axis and y axis, I was looking at the y-axis label size (and x-axis) and also the size of the values at the tick marks.  I wonder what the default is?  Currently they are all set to 0.  I think the default value may be 15.  But they change in units of 0.1, so it would be good to have a better idea of reasonable values.

We thought earlier of putting a few items also on the main th

[2018-04-13 22:07] dannyparsons commented on #4501
@shadrackkibet done?

[2018-04-13 22:18] dannyparsons commented on #4435
We now have some options working on this dialog.

[2018-04-13 22:18] #4435 closed

[2018-04-13 22:25] dannyparsons commented on #3844
A version of this dialog is now implemented.

[2018-04-13 22:25] #3844 closed

[2018-04-14 06:36] rdstern opened #4528 "Adding to remove or adding remove to filter?"
In preparing climatic data for R-Instat I usually have to remove unwanted rows of data.
These are usually for non-days, like 31 June or 29 Feb in non-leap years.

I can do this now
1) By filtering to keep the unwanted days and then removing the rows (right-click) on rows,
2) By filtering to drop the unwanted days and putting the data to keep into another data frame.

After discussion with Danny I

[2018-04-14 06:50] rdstern opened #4529 "Improving the filter sub-dialogue"
Currently it is easy to choose levels of a factor in the filter sub-dialogue.  But the system with other types of column would be helped if a keyboard could be added.
With the current layout there could at least be some help for users, e.g. a pull-down for what is typed that includes NA and some other examples.  Better could be a simple keyboard with the numbers, a minus and also NA.  (Anything el

[2018-04-14 07:02] rdstern opened #4530 "Add brackets to the filter and other calculations"
When using the filter and a single condition, the formula generated has brackets.  When there are 2 (or more?) conditions there are no additional brackets.  This has become very visible recently with the excellent new facilities in the climatic dialogues, e.g. **"(doy_366 >= 1) & doy_366 <= 366"**
This doesn't look good.  I hope it is simple to make it clearer, as: **"(doy_366 >= 1) & (doy_366 <=

[2018-04-14 08:16] shadrackkibet commented on #4501
Yep this is done but Pullrequest is not yet merged.

[2018-04-14 09:57] #4367 closed

[2018-04-14 11:08] #4524 closed

[2018-04-14 11:14] dannyparsons commented on #4524
This is because it is incorrectly setting "data1" as the data frame for both layers, so the first layer crashes. I've now fixed this and checked that your example works.
This all works with geom_text or label but I like annotate as well because it means for just a single piece of text you don't need to create a whole data frame for it. However, with what we now have everything should be possible.

[2018-04-14 11:35] dannyparsons commented on #4420
@bethanclarke this is not needed by any particular deadline but something really good to have. It should be just as easy as adding a geom. Could you look into adding this when you get time?

[2018-04-14 11:40] dannyparsons commented on #3047
We discovered that R edits the registry each time you install R so if you install an older version later then that is the one that will be detected by the RLink (and RStudio). This should be fairly uncommon, but its worth knowing this in case it comes up and it could go in the installation documentation somewhere.

[2018-04-14 11:40] #3047 closed

[2018-04-14 11:46] dannyparsons commented on #4526
I think the default sizes depend on the theme chosen - but we could have our own default which are more sensible. I also suggest we have a way of displaying the min/max for these which I'll write separately.

[2018-04-14 11:53] dannyparsons commented on #4528
David suggested that this is just a subset where the data goes back into the same data frame. This is currently possibly in the filter/subset dialog, so we may not need any new additions?
This is separate from improvements to the filter capabilities which we do want to do like NOT and OR.

[2018-04-14 11:59] dannyparsons commented on #4530
Yes the brackets should be tidier - either both with brackets or neither.

[2018-04-14 12:48] dannyparsons commented on #4523
@maxwellfundi the legend issue should be easy to fix can you quickly look into it?

[2018-04-14 12:49] dannyparsons commented on #4520
@shadrackkibet can you test? This shouldn't be the case as the calculation system uses the current filter.

[2018-04-14 12:56] #1814 closed

[2018-04-14 12:56] dannyparsons commented on #1910
Are these all added now?

[2018-04-14 13:01] rdstern commented on #4524
So are you suggesting we add annotate as another (sort of) layer as well?

[2018-04-14 13:17] rdstern commented on #1910
So far I think the calculator is (temporarily ok).  So this can be closed.  That's not the same as the summary statistics.
There will be more soon, in a circular keyboard, but that should be a separate issue.

[2018-04-14 14:59] shadrackkibet commented on #4520
Yes that is true. I have checked in other climatic dialogs that uses calculation system and all ignore the current filter.

[2018-04-14 16:31] dannyparsons commented on #4520
Ok thanks, I'll look into that.

[2018-04-14 17:09] #4512 closed

[2018-04-15 08:06] rdstern commented on #4252
Following use of the plotting in the Benin workshop I confirm that having commonly used options also on the main themes sub-dialogue would be useful.
The list above is roughly what we needed here, namely:
1. Legend position (including no legend).  This still doesn't work so we had to edit the script file for this.
2. Angle for x-axis tick-mark labels.
3. Size of x-axis label (and y-axis label).  A

[2018-04-15 08:35] rdstern opened #4533 "Labels on plotting to reset correctly"
Overall the graphics are working well now.  So it is a good time for them to work brilliantly!

There are some (minor) things on this dialogue that could usefully be improved on boxplot (and some other dialogues):

1. When you move from boxplot to jitter or violin, then the label Boxplot Options correctly changes to Voilin or Jitter options.  But when you close the dialogue and then return it now

[2018-04-16 08:56] rdstern opened #4534 "Column Summaries and correlations"
When you do a correlation in this dialogue it works well.  But the names of the resulting columns in the summary sheet reflect only the name of the column from the main sheet, i.e. corr_X2.  This was when I had 2 columns on the main dialogue, namely named X2 and X4.

I used the correlation with X4 (of course the correlation x4x4 =1 and I wanted to check that this was not a problem.  It wasn't.)
My

[2018-04-16 09:36] rdstern opened #4535 "Extending the Describe > Specific > Summary Tables dialogue"
There is presumably quite a lot that can be extended, for example colours, etc, which would be a sub-dialogue.
Here I am interested in the "bread-and-butter", namely:
1) Treat summary columns as a further factor.  This is on the dialogue, but inactive.
2) Treat summary statistics as a further factor.  This is not there yet.

For 1) we can change the order of the "levels" of the summary columns, by

[2018-04-16 10:04] dannyparsons commented on #4252
There shouldn't be any complication getting this to work as our dialog system is set up to all be in sync so I don't see why this can't start now.

[2018-04-16 10:05] dannyparsons commented on #4533
@maxwellfundi this should be simple to get back in sync, especially the buttons, can you look into.

[2018-04-16 10:16] rdstern opened #4536 "Export of graphs doesn't work"
I tried export of the last graph using file > export > graph as image.  When I pressed OK I get

**Error running R command(s)
Error in UseMethod("grid.draw") :
  no applicable method for 'grid.draw' applied to an object of class "list"
The error occurred in attempting to run the following R command(s):
last_graph <- InstatDataObject$get_graphs(data_name="Guinee2_by_year_Station", graph_name="last_

[2018-04-16 11:18] rdstern opened #4537 "Improving the Describe > Specific > Boxplot dialogue - jitter plot defaults"
There are a number of issues with this dialogue. This issue is concerned with the defaults for the jitter plot component.
1. In the instructions on jitter plots it says that if you don't give a value for the horizontal jitter, then it defaults to 40% (i.e. 0.4).  I would prefer (our) default to be smaller than this and suggest 0.2.
2. The vertical jitter also defaults to 0.4 and I would prefer our

[2018-04-16 11:31] maxwellfundi commented on #4537
@rdstern  This could actually be fixed easily by adding these parameters to the violin and jitter functions when they are selected and updating the our layer parameters too.

[2018-04-16 11:46] dannyparsons commented on #4537
Yes we could add options for these on the main dialog when jitter is selected. They would be synced with the sub dialogs automatically if done correctly.

For the values, it does default to 40% for horizontal/vertical but that is not equal to setting them to 0.4. The amount of jitter is specified in units on the axis - so it depends on the data. If the parameter is not given, ggplot does a calcula

[2018-04-16 11:52] rdstern commented on #4537
I am not quite clear on this.  Currently the jitter plot is part of the boxplot dialogue, where the x-axis is a factor, and there (I think) the 0.4  and 40% are the same thing?  I realise that (in general) we can use jitter plots for other than x being a factor, but we can't do that in this dialogue.

[2018-04-16 12:05] rdstern opened #4538 "Editing more layers from the main plot dialogue"
In the Describe > Specific > Line dialogue we can easily add 2 more layers, i.e. for the points and/or for a smoothed line.

I have found this to be useful and propose that (similarly) we be able to add jitter plots to either boxplots or to violin plots.

One problem is that if we add this layer, then we cannot edit the default value.

There are 2 possible solutions:
1) We drop the restriction on

[2018-04-16 12:13] maxwellfundi commented on #4536
What sort of a graph was this? ggplot object? I seem to get the same issue when I try exporting none ggplot

[2018-04-16 12:16] dannyparsons commented on #4537
Ah yes that's right for factors the levels are taken as integer so 0.4 is 40%.
So 40% can be the default for horizontal. For the vertical jitter this depends on the y axis scale.

[2018-04-16 12:25] rdstern commented on #4536
Yes it was an "ordinary" ggplot

[2018-04-16 12:28] rdstern commented on #4537
That's where I don't like 40% for horizontal.  That's the same as the size of a boxplot or violin plot.  So you don't see them.
And I suggest it is confusing - and not always necessary to have any vertical jitter.  And often it will be confusing.  So my default for vertical is zero.  That's also consistent with CAST.

[2018-04-16 15:00] shadrackkibet commented on #2775
@dannyparsons  to fix **2** above. Does this involve just passing **evaporation column** where we have 5 here `(pmax(x + y- 5, 0)` or there is something else that needs to be added to this calculation?

`water_balance_min <- instat_calculation$new(type="calculation", function_exp="Reduce(function(x, y) pmin(pmax(x + y- 5, 0), 60), replace_NA_min, accumulate=TRUE)", result_name="water_balance_min",

[2018-04-16 15:18] rdstern commented on #2775
This depends what "problem" you are fixing!
1. Currently the water balance just uses a constant as you say, e.g. y-5.  We would like to be able to use a column.  This could be a column in the same worksheet, i.e. on a daily basis (easiest initially I assume) or in a linked worksheet.  If in a linked worksheet, then I assume that the evaporation column will be merged, and so will be also daily - as

[2018-04-16 15:25] rdstern opened #4539 "Add a formula control to the arguments for geom smooth."
This is an extra field.  It could usefully be one where some examples are given, but you could type.  This is like some of the fields in the Climatic > PICSA > Crops dialogue.
So there is a pull-down, which gives some examples:
y ~ x (This is the default)
y ~ poly(x,3)
y ~ log(x)
y ~ splines::bs(x,3)

[2018-04-16 15:26] rdstern commented on #4538
It is just one click compared to two, if we go the usual editing of layers route.

On the other hand this helps people get used to the "standard" system.  If both are easy to do, then I am still biased to option 1.

[2018-04-16 15:48] rdstern opened #4540 "jitter plot plus boxplot or jitter plot plus violin plot"
There are 3 ways to do this.  They are equally easy, but logically different.

Usually you want **jitter and then boxplot**, because then the central box will overwrite the middle part of the jitter.  Similarly with violin plots, i.e. jitter plus violin rather than violin plus jitter.

So there are 3 obvious possibilities:
1) Put Add boxplot checkbox on the jitter plot.  We could just have the one

[2018-04-16 20:01] dannyparsons commented on #3732
We now have this "Day of Year" control

[2018-04-16 20:01] #3732 closed

[2018-04-16 20:02] #3518 closed

[2018-04-17 07:49] maxwellfundi commented on #4537
@dannyparsons  what am adding here now is the new parameters to the jitter. Do we need nuds where the users can change or we can just have these parameters added automatically when jitter is selected.

[2018-04-17 08:00] rdstern commented on #4537
Either is possible.  I was assuming the second, i.e. "just have these parameters added automatically when jitter is selected".  These will be sensible for the case here (i.e. the x-s are a factor and keep to our principle of having the main dialogue as simple as possible.
At the same time, could you explore one I missed,  in my list of items for these dialogues.  That is to make the outlier colour

[2018-04-17 08:10] shadrackkibet commented on #4408
@dannyparsons i think this is now done. Can this be closed?

[2018-04-17 08:17] maxwellfundi commented on #4537
Adding outlier colour as red could also be added automatically and is easy too. I wonder if you would like it to apply to all the three plots or just the boxplot

[2018-04-17 08:39] rdstern commented on #4537
It is just the boxplot.  That's the only one that has **outlier colour** as an argument

[2018-04-17 09:46] maxwellfundi commented on #4533
yeah fixed the sync already on the plot dialogs- Box and hist

[2018-04-17 09:56] rdstern commented on #4533
Great

[2018-04-17 13:32] rdstern commented on #4292
I have been asked here why we can't have a legend with the graphs.  I therefore tried adding +theme(legend.position="right") at the end of the line.  Nothing happens!  When I look at the instructions in R it all looks very simple.  I am using the graphics window in R, but hope that isn't an issue.  Shouldn't be.

[2018-04-17 13:44] dannyparsons commented on #4538
I am happy with 1. and what I will do instead is that layers from the main dialog cannot have their geom (and data frame maybe) changed. Then this is an alternative for any dialog.

[2018-04-17 13:44] maxwellfundi commented on #4292
@rdstern  that seems fine.I am surprised Its not working for you. Right is usually a default place where the legend appears. Foe example when i create this scatterplot of yield by village and add variety as the factor it produces  the followig graph with the legend on the right using the below code

![image](https://user-images.githubusercontent.com/9798689/38873312-213debbc-425e-11e8-8903-384a188

[2018-04-17 13:45] #4408 closed

[2018-04-17 13:53] dannyparsons commented on #4537
The vertical jitter can't be a nud because it could be any scale depending on the data. The horizontal jitter is usually going to be between 0 and 1 but I think they could be both be textboxes to make it easier.

I now think we should have something like "Auto" and "Fixed" radio buttons side by side - one set for horizontal one for vertical. Where "Auto" removes the parameter and does the ggplot d

[2018-04-17 21:49] rdstern opened #4543 "New error with line plots?"
I tried some of the new plotting capabilities, but came unstuck at the first fence.
When I tried the Multiple option in the Describe > Specific > Line plot dialogue for a plot that had worked before it gave me:

**Error running R command(s)
Error in FUN(X[[i]], ...) : object 'value' not found
The error occurred in attempting to run the following R command(s):
Guinee2_by_year_Station <- InstatDataO

[2018-04-18 04:30] rdstern commented on #3067
The dialogue now works.  Thanks.

**There is one oddity of [1] printed at the start of the 5 lines between each year.**

But there are one (or more) bugs when the option is added to include the missing values to the list of summaries.
**1) A short-term fix is to disable this option for now.**
2) It gives the wrong answer.  For the example I used it gave 122.0 each and every month.
3) There should

[2018-04-18 09:47] dannyparsons commented on #4543
So the issue here is with the line:
`Guinee2_by_year_Station <- InstatDataObject$get_data_frame(data_name="Guinee2_by_year_Station")`
which is getting the data not stacked whereas the graph is assuming the data is stacked.
It would be good to understand how this happened.

[2018-04-18 11:26] dannyparsons commented on #3067
I've changed the label to `n_miss`. I also can replicate the error in 5. but I don't get the wrong answers in 2. Which data did you use for that?
3. This is how all the summaries are formatted in the function so we can't really change that.

[2018-04-18 11:48] rdstern commented on #3067
[Output from plot daily Koundara.docx](https://github.com/africanmathsinitiative/R-Instat/files/1923808/Output.from.plot.daily.Koundara.docx)

Here is the output I had.  Look first at the second table in Word, which is how it looks in the output window.  It is data from Guinee, for Koundara.  I will send Danny a copy.  It will soon be in the Instat library.

As an aside, when I copy (as RTF) and d

[2018-04-18 12:04] maxwellfundi opened #4545 "Boxplot dialog needs to have 3 functions"
We need  3 separate geom functions so that there is no need to dd and remove parameters due to the new suggested enhancement including adding default outlier.colour and the jitter  height and widths.

[2018-04-18 14:02] dannyparsons commented on #4545
I suggest this should be done before those further improvements are made to save undoing work later.

[2018-04-18 16:27] dannyparsons commented on #3067
Fixed all apart from 3. This would take a bit more messing about with the code which I thought wasn't a priority at this time, but could still be done.

[2018-04-20 10:36] rdstern commented on #2775
Here are some small improvements that would also help the end of rains/season dialogue:

1. Change the order of the controls.  Swap the End of Rains and End of Season, so the End of Rains is first!
2. In the End of Rains control change **Amount** to **Last Amount**.
3. Add mm after the 3 up-down controls for Last Amount, Capacity and Water Balance.

And just to check that I think there is current

[2018-04-20 12:13] dannyparsons opened #4550 "Make Date dialog - Date Picker for Origin"
Currently we just have a combo box with two items for specifying the `origin` parameter to `as.Date`. But there are examples (e.g. NETcdf files) where we need to choose our own origin date. Therefore I would like to replace the combo box with a DatePicker control. We now have our DatePicker user control so it should be simple to replace this in the dialog.

[2018-04-21 06:38] rdstern commented on #4024
I now really do have a possible structure for this dialogue.
1. It builds on the existing boxplot dialogue.  That is being changed a bit now, and the changes can also be included on the climatic boxplot.
2. So the radio buttons (Boxplot, Jitter, Violin) are the same.  So are all the buttons on the left hand side and of course the bottom.
3. The change is just in the buttons on the right-hand side,

[2018-04-21 08:30] rdstern opened #4551 "New default when adding layers"
Currently the default new layer on the plotting sub-command is a boxplot.  I have never wanted that as an added layer yet. If there is no layer, then I am fine with a boxplot.  But when (usually) there are existing layers then making the last layer the default is what we do elsewhere, i.e. keeping the last value.  And that would be good here.
So if we start with a line plot and add a layer, it set

[2018-04-21 08:51] rdstern commented on #2392
On item 7, in discussion with David he said that the dialogue uses our calculation system.  This means that "behind the scenes" it produces logical columns for the subset.  So what should be easy is to be able to show these filter columns.  It would all be very easy if they are initially shown in the main data frame.  Then they will automatically be transferred to the subset.
Perhaps this could be

[2018-04-21 09:10] #4528 closed

[2018-04-22 07:40] rdstern commented on #4523
The legend isn't given when there are multiple layers.  Currently this could be added with a suitable script file.  This was written by David and I provide it here for reference:

This was the original code - no legend:

Guinee2_by_year_Station <- InstatDataObject$get_data_frame(data_name="Guinee2_by_year_Station")
last_graph <- ggplot2::ggplot(data=Guinee2_by_year_Station, mapping=ggplot2::aes(x=

[2018-04-22 08:32] rdstern commented on #4550
Do we want to replace the current options completely?  Excel and Gregorian may still be useful.

Could we change the label **Specify Origin** to just **Origin**.  Then we have 3 options, namely Excel, Gregorian and Specify.  If you choose Specify, then it opens the date picker?

[2018-04-22 17:59] dannyparsons commented on #4550
Yes I'm fine with that. The date picker could even be visible when you select Excel or Gregorian (maybe disabled) so that you can see the date it will use. Then you choose specify to enable and edit yourself?

[2018-04-22 18:49] rdstern commented on #4550
Additionally, these are examples where the variable may be numeric.  There is only one common example that could be numeric and you don't want to treat it as such.  That is the YEARMODA format (yyyymmdd).  I suggest this is the only common combination, because a) it is common and b) the other orders, e.g. ddmmyyyy are likely to be character variables anyway, so they keep the leading zero.

So I su

[2018-04-23 08:27] rdstern opened #4552 "Export to CPT"
Just to check as this was so requested on the recent Benin workshop and there is currently no open issue.  It is clearly a good "selling point".
Some of the files I was shown had the geog data on the main (daily) worksheet, but I would be quite happy if they had to be on a (linked?) sheet at the station level instead.  That is the natural level for this information.

[2018-04-23 11:34] dannyparsons opened #4553 "Summarise non numeric columns"
We have summaries in column summaries dialog which do not need to be numeric columns e.g. count missing, first, last, but the Variables to Summarise receiver is restricted to numeric columns. Can this be changed to allow any variable type?

[2018-04-23 14:40] #4553 closed

[2018-04-23 14:45] dannyparsons commented on #4550
I would suggest we need to restrict the receiver to non numeric columns when format is specified anyway, because the format option only works with non numeric columns.
It means you would have to convert your numeric to character to be able to import but it should be clear because the receiver will not show numeric columns. That also makes the change to the dialog much easier.

[2018-04-23 15:04] rdstern commented on #4550
I have no problem with that solution, except that you are likely to  have selected the variable, before choosing **Specify Format** on the radio buttons.   So the column is already in the receiver.
So it isn't just a question of not allowing numeric columns in the selector with that option.  Will it also clear the receiver in that case?  If so, then fine.

[2018-04-23 15:12] rdstern opened #4555 "Having factor levels in data order"
Here is an example from Mike.  There are 3 columns of data with the first being a character variable with 42 levels.  For the analysis it needs to be made into a factor.  But ideally the levels would remain the same as in the data and not in alphabetical order.  I think that is possible using the FORCATS package?  It would also usually solve our usual problem with making a Month factor in climatic

[2018-04-23 15:20] dannyparsons opened #4556 "Line plot bug with factors on x axis plus other factors"
In the line plot dialog we have added `group = 1` in the `aes` when `x` is a factor. This forces all the points to be connected (otherwise there is no line). However, if the other factor receiver is also filled in then it still connects all the points instead of just the ones in the same factor group. e.g. in the graph below only the points of the same colour should be connected but because of `gr

[2018-04-23 16:13] rdstern commented on #4550
If it would clear the receiver, and this solution makes you more comfortable, then let's go for that.

[2018-04-24 13:35] rdstern opened #4557 "Reordering data frames"
This now works in reogrid - just the same as in Excel.  But I wonder if it works for us, i.e. in the Instat object? When you reorder using reogrid it is just in the front end.  Does it also reorder in the metadata?

Is this feature going to be a blessing or a curse?

[2018-04-24 14:03] Patowhiz commented on #4281
@rdstern  in  item (b) do you mean, change the name of the **resulting column** from **day_in_year** to **doy_365** or the actual **checkbox text name** from **Day In Year** to **doy_356**?

![usedate](https://user-images.githubusercontent.com/21179007/39192182-5095d1c6-47e1-11e8-9cf1-56e802b12fdb.JPG)

[2018-04-24 14:10] Patowhiz commented on #4281
Then on the same. I noticed the resulting column of Dekad has prefix **dekad** which starts with **small d** and not **capital D**. In your request you suggest **Dekad** and not **dekad**. Should I use the capital D or just small d for consistency? I don't know if this matters anyway.

[2018-04-24 14:33] Patowhiz commented on #4281
@rdstern  for item (e) , just to clarify, we should add Shift Quarter checkbox just below shift Year, the day up-down control should be removed(the parameter will have value 1 as default).  Then we add a checkbox Quarter in the Other Functions sections.

@dannyparsons should the `split_date` functions used doesn't have the quarter parameter. Should I go ahead and have it included, though I would n

[2018-04-24 16:12] Patowhiz commented on #4024
@rdstern . I'm trying to translate your suggestions ofthe design. I'm not understanding point 4 to 9. Below is a screenshot of the previous design of this dialog. I have added drawings to illustrate the visual bits than I could grasp from your points. Please expound more, I'm I close to what you are trying to explain?

![climatic boxplot](https://user-images.githubusercontent.com/21179007/39199951

[2018-04-24 16:47] rdstern commented on #4281
Just the resulting column name.  It is fine in the dialogue as it is.  It is so that the other column (366) can be called doy.

[2018-04-24 16:57] rdstern commented on #4281
On item e, that is correct.  And I suggest dekad with small d as the name of the column.  I'll leave it to Danny to command on the split_date.  I just checked that the lubridate package has a quarter function, and this allows the starting month to be specified.

[2018-04-24 17:31] Patowhiz commented on #4281
Okay. Item (a) (b) and (c) are done.
The additional Quarter function  requires additions on the split_date. I can include it once that is sorted.

![usedate2](https://user-images.githubusercontent.com/21179007/39203754-6fcb7bbe-47fe-11e8-8e12-dbfdf169ab9e.JPG)

[2018-04-24 17:37] rdstern commented on #4024
So yes, you are right to get rid of the special layout buttons on the left.  So, on the left, it looks like the ordinary boxplot/jitter/violin dialogue.

Then have a look at the Climatic > Prepare > Summary dialogue with the Within year option button selected.  The right-hand side is consistent with that dialogue - except the day-of-year control isn't needed.  So the field headings are as for the

[2018-04-25 07:15] maxwellfundi commented on #4024
@Patowhiz  Are you working on this or should I assign it to @Muthenya  to recreate  this layout?

[2018-04-25 07:25] maxwellfundi commented on #4551
This sounds reasonable to have for consistency as well. I had a similar question where I actually wanted the default layer to be the first in the alphabet, but I dont remember the reason why @dannyparsons  advised to have boxplot as the default layer.

@dannyparsons  What do you think about this issue?

[2018-04-25 09:26] Muthenya commented on #4024
@rdstern I've began work on the issue and I've noticed a bit of a mix up. Your explanation is based on the Boxplot in Describe > Specific > Boxplot... and not Climatic > Check Data > Boxplot..., though this doesn't really influence the changes that need to be done on Climatic > Check Data > Boxplot... . I just wanted to mention that.

[2018-04-25 09:27] bethanclarke commented on #2392
@dannyparsons do we have any R-code that produces a factor column telling us which check was not satisfied?

[2018-04-25 09:30] rdstern commented on #4024
That's right.  I didn't feel that the current Climatic > Check Data > Boxplot dialogue is much help to us.  I was keen now on a change that is consistent (as far as possible) with the Describe > Specific > Boxplot (that's the LHS of the dialogue) and also with the other climatic dialogues.  There I used the Climatic > Prepare > Climatic Summaries as ab example.

[2018-04-25 09:30] bethanclarke commented on #4252
@maxwellfundi @rdstern is anyone assigned to this? I can make the necessary changes to the themes sub-dialog. This will be good for the documentation where we want to change labels but have that huge themes dialog!

[2018-04-25 09:42] maxwellfundi commented on #4252
@bethanclarke  I have design ready for this, just the back end code. Woud you like to take over? You could pull my branch called **sdgplotss**

[2018-04-25 10:30] bethanclarke commented on #4252
Yes, thanks @maxwellfundi that would be great.

I see that you have created user controls for changing the text. Do we use the same ucr for titles, axis titles and axis labels?

[2018-04-25 10:40] bethanclarke commented on #4252
@rdstern I'm going to create another themes sub-dialog which is simpler and maybe then this themes sub-dialog could be the main dialog?

[2018-04-25 11:15] maxwellfundi commented on #4252
What do you mean the user controls for text? you mean the ones on the sdgThemes? If its those then we can be able to use them in our case. We have Axis custom control that is used in the sdgPlots.

[2018-04-25 11:54] Muthenya commented on #4024
@rdstern this is how far I have gone with the designer. I just want to check if I have captured your explanation correctly.
![image](https://user-images.githubusercontent.com/32125033/39244082-41ad42ae-4898-11e8-86fe-d9941530b2a4.png)

[2018-04-25 12:24] Patowhiz commented on #4024
@Muthenya I hope you have had a look at my drawings too. I think Rogers response to it was that the layout should go.

[2018-04-25 12:34] Muthenya commented on #4024
Okay. Now I see @Patowhiz .

[2018-04-25 12:43] rdstern commented on #4024
Yes, perfect, except, as Patrick says, the Layout box is not needed.

[2018-04-26 06:25] maxwellfundi commented on #4462
@bethanclarke  has this been fixed already?

[2018-04-26 06:28] maxwellfundi commented on #4341
- SPEI

[2018-04-26 06:28] maxwellfundi commented on #4521
There is a duplicate of this issue

[2018-04-26 06:28] #4521 closed

[2018-04-26 06:29] maxwellfundi commented on #4521
#4341  Is now the only issue with these packages to add.

[2018-04-26 06:36] maxwellfundi commented on #4514
I have tested this. This  issue is only with the **"Free Y axis"** but not with other checkboxes.

[2018-04-26 07:07] maxwellfundi commented on #4258
@dannyparsons  I am wondering if we still need the swap parameters? After a discussion with you sometime back, you claimed that if we had a reason to do it here, then we should have it elsewhere on the graphs dialogs. Does this still stand?

[2018-04-26 07:28] Muthenya commented on #4024
@rdstern I made the corrections. I'm currently not certain of the functionality of the new controls. I would like to understand how the controls will work so that I can set them up correctly.

[2018-04-26 10:12] shadrackkibet commented on #3506
@dannyparsons i think this is now done. This can be closed.

[2018-04-26 10:40] rdstern opened #4561 "Trivial change on right-click menu"
The new option is there for Reorder Columns on the right-click menu.  It calls a dialogue, so should have "..." after the entry.

Is there ever as simpler correction to make!

[2018-04-26 12:36] #4561 closed

[2018-04-26 13:58] Patowhiz commented on #4525
Working on this.

[2018-04-26 17:52] rdstern opened #4565 "Guinee data for the Instat library"
[Guinea2.zip](https://github.com/africanmathsinitiative/R-Instat/files/1952357/Guinea2.zip)

Could these files please be added into the Instat collection in the next release.
In the current climatic directory, (in the Instat library) please make a Guinea directory and then unzip these 4 files into that directory.

I am busy constructing a climatic tutorial which uses these data.

[2018-04-27 06:32] rdstern opened #4567 "Setting for the Filter sub-dialogue"
Is the setting for the filter sub-dialogue correct?
I am busy capturing screens and find that the Filter sub-dialogue insists on being on top whatever other application I move to, e.g. Powerpoint.  The other R-Instat dialogues seem more polite!

Is this a feature of all sub-dialogues or is this one just being too insistent?

[2018-04-27 07:54] rdstern commented on #3067
I am still not able to get this dialogue to work!  I am starting to regret using the code from Helen - which you must be also.
1. A minor point is that OK becomes enabled when clicking on the option to display the count of missing values.
2. More major is the message below.  I was analysing the data from Guinea, Koundara, where I have filtered for just Koundara and also for Year < 1983.  The messa

[2018-04-27 18:39] rdstern opened #4570 "Column metadata not reset?"
I had an RDS file with daily data, plus annual summaries - start of the rains, etc.
I deleted the data frame of the annual summaries.
When I then look at the column metadata it still contains the dependent columns, mentioning start, etc

[2018-04-27 20:41] dannyparsons commented on #4557
No this doesn't link to the Instat Object so this needs to be done.

[2018-04-27 20:43] dannyparsons commented on #4281
I can help with modifications to the R code if needed, but @shadrackkibet may also be able to modify this R code.

[2018-04-27 20:47] dannyparsons commented on #4551
Yes happy with the current layer being the default for the next layer. I would still keep boxplot as the default for the first layer as its common, the first alphabetically could be something very uncommon.

[2018-04-27 20:50] dannyparsons commented on #2392
The logical columns would be easier because it is the same expression as the filter e.g. "Rain > 100" done as a mutate (calculation) will give the logical column

[2018-04-27 20:50] rdstern commented on #4551
I would be happy with boxplot as the default first layer.  I have never wanted it as the additional layer, but it would be a natural possible first layer when using the **Describe > General > Graphics** dialogue.

[2018-04-27 20:55] rdstern commented on #2392
I would be happy with those logical columns being produced.  I assume there would be one for each check.  I would be quite happy for them initially to be produced for the main data frame - and then the filtering would automatically carry them to the filtered data frame.

[2018-04-27 20:56] dannyparsons commented on #4514
Do you know why this is happening?

[2018-04-27 20:58] dannyparsons commented on #4258
This might need some discussion on what we want to do generally with these options

[2018-04-27 21:06] #4556 closed

[2018-04-28 03:34] maxwellfundi commented on #4551
I think to some people boxplot is still a very uncommon plot and having it as a dropdown menu, then its intuitive that there more layers where the user can simply click and select the layer they want.

[2018-04-28 08:51] rdstern opened #4572 "Small change in Climatic > Prepare dialogues"
There are 6 dialogues in the Climatic > Prepare menu.
What is good about them all is that most fields are automatically completed.  That's the climatic "system".

A small edit would be useful in Transform, Climatic Summaries and Extremes.

In these dialogues the system cannot complete the element, because it could be one of many - in general.
But could it be the control with the initial focus, i.e

[2018-04-28 14:11] rdstern opened #4573 "Added another feature for Climatic > Date > Infill Missing Dates"
I edit this,  on 1 December 2018 because I suggest a) is no longer needed.  It would do no harm, but (for the climatic) the new option on coping with missing values makes this option less important.  But a new issue has emerged instead.

Actually the new feature is sufficiently different I am going to close this one and start a new one.

Could there be an extra option on this dialogue and some min

[2018-04-28 17:47] rdstern opened #4574 "Minor changes to the calculator"
We don't have a comma yet, and that is needed for many functions.
I suggest it go in the bottom left corner of the Basic keyboard, instead of Del.

Then we also don't have NA.  I suggest this go next to the " " and above when on the Logical and symbols keyboard.

I have made it for 4.16, simply because I assume it should be very quick.  If not, then change to Pending.

[2018-04-28 19:06] shadrackkibet commented on #4281
Sure, I am going to modify this R code.

[2018-04-30 16:44] dannyparsons opened #4577 "Update to R 3.5.0"
A new major version of R has been released which R-Instat currently doesn't support. We should update to support this new version. It means we will need the "3.5" versions of the R packages for users to install. And this will probably replace the "3.4" versions (otherwise we need two copies of the packages and significantly increase the installer size). However this will mean users won't be able t

[2018-05-01 09:27] rdstern opened #4578 "Variable labels added from Climate Prepare commands?"
Could there be a checkbox to add a label for the climatic prepare dialogues?
For example, for the Start of the rains it could be something like ">20mm in 3 days, from 1 Apr to 31 Jul", or even "> 20 in 3 days from 92 to 188".

Maybe it could be/start by adapting the standard comment for these dialogues and then giving the option to copy (perhaps partly) to the variable label.

In general it would

[2018-05-01 14:25] rdstern commented on #2392
I wonder if someone is working on these dialogues.  The items above, raised on March 19th, still remain.

For example, in the temperature QC, when both elements have been included then still the QC checks are only on the first element.

  Some may need David's help and he will be around from Thursday.

[2018-05-01 15:02] shadrackkibet commented on #2392
I am happy to look into this in the course of the week. @bethanclarke are you working on this?

[2018-05-01 15:10] rdstern commented on #2392
I hope that Beth will be looking into these dialogues when David is back.  But that will be particularly to add the box-plot outliers, currently not enabled - rather than the other features.

[2018-05-01 15:13] shadrackkibet commented on #2392
ok, i will be looking into this.

[2018-05-01 16:56] shadrackkibet commented on #2392
@rdstern  i am i correct to say that you want this to be strict filters when two or more checks are applied? instead of or `(|)` this to be changed to and `(&)`?

For example when i check Acceptable Range(Element1) and Acceptable Range(Element2) we currently have.
`temp_filter <- instat_calculation$new(type="filter", function_exp="Tn <= 0 | Tn >= 30 | Tx <= 10 | Tx >= 50", calculated_from=list("Gh

[2018-05-01 20:55] rdstern commented on #2392
Thank you for showing me this.  I think it is the OR all the way through - as it was.  And great that it now includes both Tmax and Tmin.

And that gives one of the filters.  What does the option save = 2 do?  Is there another setting that would enable the filter to be saved into the original data frame?

And do the other checks re-use the same filter name, or have a different one?  Ideally they w

[2018-05-02 08:07] maxwellfundi commented on #4577
@dannyparsons  Considering we have about a week to the next release, I suggest we start testing this new R Version to see if it works well because having both the 3.4 and 3.5 packages, we will have the size increase to almost double. what @africanmathsinitiative/developers think about this?

[2018-05-02 12:40] shadrackkibet commented on #2392
`save=2` mean the calculation and the result is saved.
Whether there is a setting that will enable the filter to be saved into the original data frame i am not sure about it  @dannyparsons can respond to this.

[2018-05-02 14:45] shadrackkibet commented on #2392
@rdstern on **Same** and **Jump** is the calculation supposed to check for both Element 1 and Element 2 if they are there?

[2018-05-02 15:03] rdstern commented on #2392
That's correct.
And Difference is only sensible if both are there.  So it is disabled if only one element is included.

[2018-05-03 06:30] shadrackkibet commented on #2392
Will it be good to auto fill Element1 and Element2 receivers at this stage?

[2018-05-03 07:08] rdstern commented on #2392
I would really like that.  But there is an issue (in the future) that we may want sometimes to use the dialogue for other climatic elements, e.g. dry-bulb and wet bulb.  And sometimes we want to just have Tmin as the only element.  Danny seems to think this is difficult, i.e. if it is filled automatically, then currently this is the only element allowed.

I'll check, but this is (unfortunately) no

[2018-05-03 07:54] #4574 closed

[2018-05-03 08:14] shadrackkibet commented on #2392
This is general with most climatic dialogs using calculation system. Danny said he will have a look at it.That is also at issue #4520.

[2018-05-03 09:37] Patowhiz commented on #4281
@shadrackkibet  thanks.
@rdstern the new dialog will have the shown design changes.

![use date](https://user-images.githubusercontent.com/21179007/39569736-c1873ca0-4ece-11e8-92ea-0e0326585ff5.JPG)

[2018-05-04 10:06] rdstern commented on #4007
I am now closing this issue, because it has been overtaken by #4557.  I am making #4557 into end of May, i.e. milestone0.4.17.

[2018-05-04 10:06] #4007 closed

[2018-05-04 10:08] rdstern commented on #4557
I have closed #4007, which is on the same topic.  This is sort of an update.  So I am changing the milestone to 0.4.17 on this one as the previous one was 0.4.16.

[2018-05-06 16:33] dannyparsons commented on #2392
I still need to look into the issue of filters not working with the calculation system.

We could have autofilling without the restriction of the column type. That would be useful here and lots of other dialogs where its usually rainfall but doesn't need to be. We don't have this yet but there's no reason we can't implement this.

[2018-05-06 16:40] dannyparsons commented on #4281
I don't think the Day control should be removed in Shifted section. Even if it doesn't apply to the quarter function it still applies to day and year so we're losing some functionality by removing it.

[2018-05-06 16:44] dannyparsons commented on #4330
If geom are being added it would be great to get the stat_summary "geom" added from here https://github.com/africanmathsinitiative/R-Instat/issues/4420.

[2018-05-06 16:46] dannyparsons commented on #4420
I've changed the milestone if geoms are being added now. This could be important for climatic? Because it makes it much easier to add summary values to a graph without having to create the summaries first and using multiple data frames in a plot

[2018-05-06 17:12] dannyparsons opened #4581 "Position for Bar Chart dialog"
From using the bar chart dialog a lot it would be useful to have the position parameter on the main dialog. It only affect the bars when you have a second factor but I find that people often want to change the position to "dodge" instead of the default "stack". There's not much on the main dialog currently so I think this can be added there.

I also wonder if we should have "dodge" as our default

[2018-05-07 07:12] maxwellfundi commented on #4581
We can have either thats sensible and used more. I have not known why stack is the default, but there could be a better reason why we can have dodge as our default.

[2018-05-07 07:16] maxwellfundi commented on #4420
@dannyparsons  I see this has changed milestone and i can have a look at it this week. Hopefully by next release.

[2018-05-07 09:06] Patowhiz commented on #4281
Okay. I'm retaining the day control.

[2018-05-07 10:11] maxwellfundi commented on #4420
@dannyparsons  I think we can add this as a geom- I have been looking at it and it could work in two ways

1. As a geom  where you have no geom function, but the geom required is passed in as a parameter of the `stat_summary` like this

`ggplot() +  stat_summary(data=mtcars, mapping= aes(cyl, mpg),fun.y = "mean", colour = "red", size = 2, geom = "line")`

or
`ggplot(data=mtcars, mapping= aes(cyl,

[2018-05-08 06:31] rdstern commented on #4281
I don't feel strongly.  But in practice I find the starting month is OK and this is a crowded dialogue.  In the (I hope only slightly) longer term we need shifted month ( where 1 is (say) August) and shifted dekad and pentad - as mentioned above.  They won't have the day i9n the month either.  Which is one reason why it would be rare to use it for the year or day of year.

Not now for those, becau

[2018-05-08 07:00] maxwellfundi commented on #4424
@dannyparsons  I have looked at this and this is the missing detail i have found out

There is something we need to change here.
1. We use `facet_wrap()` when we are faceting with only one variable and use` facet_grip()` when we are faceting with two variables.
We use the Horizontal or Vertical facets when using the `facet_wrap()` when we have none of the checkboxes checked but when we check eithe

[2018-05-08 07:34] shadrackkibet commented on #4501
This is now done. Can be closed.

[2018-05-08 07:51] maxwellfundi commented on #4501
@rdstern this is now done. Closing this now.

[2018-05-08 07:51] #4501 closed

[2018-05-08 09:09] maxwellfundi commented on #4536
@dannyparsons I have been investigating this issue. Our Dialog is set up properly, everything passed in as needed. I get the below error even in R where I use the function withwhich seems to be an internal issue with ggsave where it cant handle List psroperly.

[code]

[2018-05-08 12:52] dannyparsons commented on #4581
Let's go for "dodge" as the default if no one has objections. We can change it back later if we find good reasons and being on the main dialog users can easily change it.

[2018-05-08 13:00] maxwellfundi commented on #4581
Okay great! Will be on it

[2018-05-08 13:05] #4525 closed

[2018-05-08 13:11] dannyparsons commented on #4420
I'm not quite sure of the differences between these suggestions but yes it can be added as a "geom" so that it appears in the geom selector. I don't think we need a special dialog for it.

[2018-05-08 13:13] maxwellfundi commented on #4420
Great! @bethanclarke  are you still working on the geom?

[2018-05-08 13:31] dannyparsons commented on #4536
If `InstatDataObject$get_graphs(data_name="survey", graph_name="myBar")` is returning a list containing the ggplot object instead of just the ggplot object then that is the problem. You can more easily check this by running the R code in RStudio.

[2018-05-08 13:56] shadrackkibet commented on #4281
@rdstern i have now added `quarter` and `s_quarter` as parameters for ` split date` function. Also added
` with_year` and `fiscal_start` = `s_start_month` as parameters and can now be implemented by Patrick.
 There is another function `semester` which could be added but we noticed that it doesn't have a start month parameter. After a discussion with Danny we found that it is not sensible to add th

[2018-05-08 14:01] Patowhiz commented on #4281
Thanks Kibet.

On Tue, May 8, 2018, 4:56 PM Shadrack Kibet <notifications@github.com>
wrote:

[2018-05-08 15:47] rdstern commented on #4581
I agree with that.  namely having Dodge as the default, then Stack and third Fill.
I assume this will only apply when there are 2 factors.  Of course it is also possible to have the 2 factors filled, when one of them is the facets.  This means that there is really only in each boxplot, but the colour etc is dictated by the second factor.

I assume this issue can be closed once this is added.  I ju

[2018-05-08 16:58] dannyparsons commented on #4581
When there is only one factor then position has no effect, the levels are always on the x axis.

[2018-05-08 17:00] dannyparsons commented on #4577
I agree there should be good testing of R 3.5.0 before updating. Given that next week we have two important workshops there isn't much time to test this properly and so updating before then will be a risk. I suggest we stick with the current 3.4.x versions for this release and plan an update, possible R-Instat 0.5 for a few weeks time once we have tested this out.

[2018-05-08 17:29] maxwellfundi commented on #4536
@dannyparsons  we have checked this with @shadrackkibet  and ` InstatDataObject$get_graphs(data_name="survey", graph_name="myBar")` returns a list containing ggplot objects. It could be the reason why this does not work.

[2018-05-08 18:40] dannyparsons commented on #4536
Yes that will be the issue. There should be a parameter to control this I think its `as_list`.

[2018-05-08 23:30] Patowhiz commented on #4372
@rdstern what are you thoughts about this. I can close this issue if this is not desirable. In addition to the above, I noticed the menu item is labeled **Hide column**. Is this preferable than **Hide/show column**. I find the latter much more descriptive.

[2018-05-09 07:37] rdstern commented on #4372
First the small one.  Yes I think the menu item should be **Hide/Show Columns**.  I had forgotten this feature, perhaps because it was not on the right/click menu.

We could add it back, but there may be complications?
However, I do like some of its current features already.
In a "narrow" data set you can see that some columns are hidden, because it says "Showing 9 out of 12 columns".  That's good

[2018-05-09 09:18] rdstern commented on #4550
I am not sure of the proposed action for the YEARMODA format now?  I have just got data for Riga and this has the same format and comes as numeric.  Works fine when I change to character type.

[2018-05-09 09:49] Patowhiz commented on #4281
@rdstern this issue has finally been fully addressed. The final layout is as shown. I've retained the day control as @dannyparsons suggested.

![use date](https://user-images.githubusercontent.com/21179007/39808324-42a522fe-5387-11e8-9696-2afb6c94130c.JPG)

[2018-05-09 09:53] rdstern commented on #4281
OK, great.

[2018-05-09 10:12] rdstern opened #4585 "Infill missing dates"
I tried, for I think the first time, doing the infill without a station factor.  It didn't seem to like this and gave an error.  I then made the (single) station code into a factor and included it.  Then it ran OK.  And it infilled.

I can't generate the error again.  It seems to be OK when there is nothing to add.  If the error isn't easy to find then I can clarify in more detail.

[2018-05-09 10:22] rdstern opened #4587 "Small change in Make Date"
In the make date dialogue when there is a **single column** and the **specify format option** then could the data selector be set to only show **non-numeric** columns.

Note that this is only set in this way for **single column + specify format**.  (If it were single column + specify origin, then the column would be numeric!)

I hope this is really simple, so could be done for the forthcoming rele

[2018-05-10 09:34] dannyparsons commented on #4550
The simple solution is to restrict the receiver to non-numeric column when origin is selected. @shadrackkibet can't remember if this has been started already? If important for the next version now.

[2018-05-10 09:35] dannyparsons commented on #4281
Looks good - the Quarter function is important for the next release so needs to be completed soon.

[2018-05-10 09:36] dannyparsons commented on #4585
Could I have a look at the data set?

[2018-05-10 09:37] dannyparsons commented on #4550
Sorry that should be when **format** is specifed, not origin.

[2018-05-10 09:38] dannyparsons commented on #4587
Note that this should be excluding numeric only, because character/factor are all fine.

[2018-05-10 09:49] shadrackkibet commented on #4550
I am on top of this. Will finish up.

[2018-05-10 10:00] rdstern commented on #4585
It was the station data sent by Jorg on Tuesday.  I think you have a copy?

[2018-05-10 10:29] #4585 closed

[2018-05-10 10:46] Patowhiz commented on #4572
This works fine on my end. The element receiver for the dialogs in the climatic prepare menu gets the focus by default now.
@dannyparsons this is ready for you.

[2018-05-10 12:46] #4572 closed

[2018-05-11 20:03] #2392 closed

[2018-05-11 21:16] bethanclarke commented on #4407
@shadrackkibet are you still working on this?

[2018-05-15 07:33] maxwellfundi commented on #4420
@dannyparsons I am now adding this to the list of geoms, the parameter `geom` can take many options, bar, line, point.......etc. Have you got like the most common/desired geoms here?

[2018-05-15 09:19] maxwellfundi commented on #4444
@dannyparsons  how do you think we can implement this?

[2018-05-15 10:40] bethanclarke commented on #4420
@maxwellfundi I still have geoms to add but they are not urgent. I have other work to do doing in the mean time.

[2018-05-15 13:13] maxwellfundi commented on #4234
Among the things I have found not working properly here is when you open the specific plot options where you can edit that layer from sdgLayer.  So if aesthetics are added here, this bugs because it can not match the aesthetics from sdglayer to the stacked variables.
However the layer parameters work. I would then suggest if we could disable the aesthetics tab on sdglayer when we are using multipl

[2018-05-15 14:26] dannyparsons commented on #4234
What bugs are there on the aesthetics tab? It would be annoying to have to disable this.

[2018-05-15 14:33] dannyparsons commented on #4444
We could implement detecting incomplete lines and then e.g. only running lines that are complete and run incomplete lines with the following lines. It would take a bit of work to implement and correctly detect "incomplete" R lines so I would put this as low priority and changed the milestone to ANYTIME.
If there's a suggestion for something simpler that would also be useful then something might be

[2018-05-16 06:10] maxwellfundi commented on #4420
@dannyparsons  thanks for the insight. I will add all these to the list of the geoms.

[2018-05-16 06:11] maxwellfundi commented on #4444
Great, I think am happy with your suggestion and hope @rdstern is too.

[2018-05-16 06:15] maxwellfundi commented on #4536
@dannyparsons  When you have sometime, please have a check at the `InstatDataObject$get_graphs(data_name="survey", graph_name="myBar") ` to see how better we can get the outputs for the graphs.

[2018-05-16 08:34] Patowhiz commented on #4421
@rdstern  @dannyparsons. Any suggestions of how this dialog should look like?

[2018-05-16 09:05] Patowhiz commented on #4372
@rdstern this can be done quickly.
I think "Showing 30 of 158 columns (6 hidden)" would be correct for a wide datasets.
Should we add the hide column item before Delete Column in the context menu ?

<img width="255" alt="column reorder" src="https://user-images.githubusercontent.com/21179007/40107622-695309c8-5901-11e8-8dcb-ff2290fc05f9.png">

[2018-05-16 18:46] Muthenya commented on #4587
This seems to have been done. I guess it can now be closed.

[2018-05-17 07:51] maxwellfundi commented on #4587
@africanmathsinitiative/developers This doesnt seem to have been referenced on a pull request. Was it solved so that i can close it now as @Muthenya  suggests.

[2018-05-17 09:49] Muthenya commented on #4452
@bethanclarke I'm not encountering this issue when I do the same. I'm not certain if it has already been resolved.

[2018-05-17 11:35] rdstern opened #4603 "Continue improvements in the use date dialogue"
1. The addition of the quarter function has been a good improvement.
2. The main suggestions I make now are to improve the layout of the check-boxes.
3. In addition, I think the Pentad does not work correctly.  It should produce a factor with 72 levels, and with just 5 (or 6) days in each month.  Perhaps Beth can look quickly at this?
4. And more of the variables should have an option of labels.

[2018-05-17 11:53] bethanclarke commented on #4462
this has been fixed

[2018-05-17 11:56] #4462 closed

[2018-05-17 12:00] rdstern commented on #2775
In the problem with missing values for the end of the season this has just resulted in problems in an analysis in Togo.  This is not so simple, but I thought Lily made some progress before she left.  Once her exams are over, perhaps there could be some discussions between her and Beth on how far she got?

[2018-05-17 13:53] shadrackkibet commented on #4587
I did this, this can be closed.

[2018-05-17 20:50] lilyclements commented on #2775
Hi Roger, what is the issue with the missing values? Is it that it puts the end on the earliest day if there are missing values?
I'll have a look through the r code once exams are out of the way to see if there's anything started on this (it was a while ago so I'm struggling to remember! Sorry!).

[2018-05-18 04:32] rdstern commented on #2775
That's exactly the problem.  I remember we had the seemingly clever idea that after missing values the water balance would resume twice - once starting empty and the second time starting full.  Then the result that is recorded remains missing until those two options give the same figure.  Then it resumes ordinarily.

Then (once that is done) the water balance is recorded as missing if there are an

[2018-05-18 05:54] #4587 closed

[2018-05-18 11:07] bethanclarke commented on #4603
I’ve been working on use date dialog in R, just looking at the code so far.

I’ve created a month column which is a factor where 1 is Aug, 2 Sept etc. to July 12- I’ve just don’t this by relabelling the levels. I created another month factor column produced using fct_shift() command from the forcats package which has the following levels: Aug > Sept ... >July.

For pentads I found another function

[2018-05-20 15:33] rdstern commented on #3852
There are two topics here.  I hope both are small.
1. The water balance option has still the fixed evapotranspiration column set to a constant.  Please could it have the same improvements as the Prepare > End of the rains to use a column.
And also the correction for missing that is Lily (after exams, with Beth) will be applied here too.  This column of water balance is what is processed further in

[2018-05-20 20:30] rdstern opened #4605 "New dialogue for PICSA rainfall graphs"
We currently have a **Climatic > PICSA > Rainfall** menu.  The item is disabled.
It might now be called Rainfall Graphs, because that is the part of the PICSA that it makes really easy.  And that is the bit that is now a bit time consuming.

It is based on the **Describe > Specific > Line plot** dialogue.  So use that to start with.
It uses the annual summary data frame that has the data to be plo

[2018-05-21 05:52] rdstern opened #4606 "Column summaries - small issues"
The test set of data I used had 2 columns - from File > New
data_1 is 1,2,3,4,5,6,7,8,9,10
data_2 is 1,2,3,4,NA,5,NA,6,7,8

So very simple - no factors!
Use Prepare > Column: Reshape > Column Summaries

1. Get the proportion > 4
For data_1 it is 0.6 - correct.
For data_2 it is still 0.6 - **incorrect**.  It should be 0.5.  Presumably it is setting the missing values to TRUE.
2. Get the correlation

[2018-05-21 06:45] dannyparsons commented on #4421
Not quite sure yet, there should at least be a receiver and a combo box for the function.
It may be worth thinking about other options for the dialog if this is going to be done e.g. order alphabetically, month names etc.

[2018-05-21 09:11] dannyparsons commented on #4452
We think we have fixed this so I will close, @bethanclarke can you double check the issue is resolved now?

[2018-05-21 09:11] #4452 closed

[2018-05-21 09:16] dannyparsons commented on #4372
Before we had Hide and Unhide as two items on this menu, and then removed them, maybe because the menu was getting too long, can't remember. So if we add back hide, we need to be able to unhide from the right click as well (which goes to the Hide dialog).
@Patowhiz what was the change done in #4602?

[2018-05-21 09:26] dannyparsons commented on #4606
@africanmathsinitiative/developers This would be good for someone to look into carefully, particularly the problem with proportions and understand the R code and identify the problem. I'd like to point out that this was both implemented and tested without anyone noticing that it sometimes gives the wrong answer.

[2018-05-21 09:54] dannyparsons commented on #4567
Kind of a general problem that it was the only way we could ensure that subdialogs appear above main dialogs. But it shouldn't need to be on top of everything - just the main dialog. @maxwellfundi @Patowhiz  can this be looked into again?

[2018-05-21 09:56] bethanclarke commented on #4606
I will look at these issues @rdstern

[2018-05-22 07:07] rdstern opened #4607 "Rainfall quality control at month level"
In the **Climatic > Check Data > Rainfall QC** dialogue the one item that hasn't been implemented is the check that the total rainfall for the month is totally zero.  (This is important, because sometimes it may really be zero for the whole month, or it could be that the data were missing and mistakenly replaced by zero.  Excel makes that sort of thing easy!)

I suggest a simple way this could be

[2018-05-22 08:51] maxwellfundi commented on #4424
This is moved from #4514
A very small issue I hope.

On the facets tab (sub-dialogue for the graphs), the "Free Y axis" option had been ticked. It wasn't needed so we de-selected the option. And the resulting graph was OK. But coming back to that TAB it has re-selected itself.
I assume this may be the case with other options also, at least on this Facets TAB, but I haven't checked.

[2018-05-22 08:51] #4514 closed

[2018-05-22 08:53] maxwellfundi commented on #4424
@volloholic  now suggests that we change this tab. The change would be that we have a row and column facet variables instead of the current 1st facet and 2nd facet and this way, we would have both facets variables as optional.

[2018-05-22 08:58] rdstern commented on #4424
Where is this change?  I often use a single facet, particularly year or month, and now possibly quarter.  When one facet is used, e.g. month, then I hope it will, by default, have the layout as a rectangle and not 12 in a line (or column).  Or have I misunderstood this possible change?

[2018-05-22 09:28] Patowhiz commented on #4603
@rdstern @dannyparsons what will we be shifting in Day in Year if the day control is to be removed from the form? And what will be the group header names of the 2 sections?
Below is a sample design of what's proposed. @bethanclarke could you have the R code merged if its ready?

![new use date design](https://user-images.githubusercontent.com/21179007/40354010-8d461fe6-5dbb-11e8-99ac-d91b04a44a80.

[2018-05-22 09:30] rdstern opened #4608 "Importing text or Excel file"
Our File > Open is pretty good already.  Item 1 below may be complicated to fix, but item 2 (from Excel) should be easy.

1. This was provided as a txt file that doesn't preview (I don't think that is easy to change) and doesn't import.  It is given below.

2. So I imported into Excel and saved as an Excel file.  It does import from Excel, but a simple feature seems missing from the Excel Import.

[2018-05-22 09:30] bethanclarke commented on #4452
I've double checked this and it has been resolved

[2018-05-22 09:33] Patowhiz commented on #4372
@dannyparsons pull request #4602 had changes in frmMain where I changed the menu item form just hide column to hide/show column. Maxwell suggested we merge it first since it touched frmMain.

[2018-05-22 09:37] rdstern commented on #4603
Patrick, my first impression is that this looks very nice.
Check with Danny on the Day control.  With this layout I would now be happy to keep it as you have it. Default is 1.
But it only makes sense for the (Shifted) Year and the (Shifted) Day of Year.  So it is hidden (Iand not part of the R code) for Month, Dekad, Pentad or Quarter.

[2018-05-22 09:38] Patowhiz commented on #4372
@dannyparsons I don't find it logical to have unhide on the right click because right click touches on the visible column only. Any action made affects that visible column only. I think having hide, and making it do the action immediately instead of going to the dialog will be better from the user's perspective

[2018-05-22 09:50] rdstern commented on #4372
I have an alternative suggestion.  I also feel we should be careful if we are close to, but different from Excel.
I am not sure what Hide is doing currently in R-Instat?  Is it automatically hiding the selected columns?  Or does it go to the dialogue.  I am quite happy if it hides without going to the dialogue.

But then there is the dialogue which is more general than the right-click, because we

[2018-05-22 10:20] bethanclarke commented on #4603
@patowhiz would you like me to send you the R Code or for me to implement it in the dialog?

@dannyparsons, was the R-Code I sent what we were looking for?

[2018-05-22 10:25] rdstern commented on #4603
Beth, I suggest you implementing might be more efficient time-wise.  Then Patrick can proceed with other tasks and then come back to this dialogue later to test and then help his understanding.

[2018-05-22 10:28] rdstern commented on #4603
Currently I like the blocks, partly because they emphasise the possibility of shifting for the first set and not for the others.  I don't have a good name to distinguish the sets, so let's not bother for now.

[2018-05-22 10:33] bethanclarke commented on #4603
@patowhiz I can include the new R code for pentads in the data object but I’ll have to check will Danny about the other lines of code

[2018-05-22 10:37] Patowhiz commented on #4372
@rdstern the hide column in the Prepare>Data Frame menu goes to the dialog. That's why I would prefer the right click hide column to hide the column directly(It seems logical cause the column is already selected and the experience will be similar to other softwares).

I second you in the unhide suggestion. Having it at the bottom is a viable option. The Hide Sheet and unhide sheet are already on t

[2018-05-22 10:38] Patowhiz commented on #4372
@dannyparsons based on your opinion I could start this right away.

[2018-05-22 10:41] rdstern commented on #4372
Yes, I had just re-discovered that we already have hide and unhide sheet.  If we do add Unhide Columns there, then perhaps change Hide to Hide Sheet (and add dot,dot, dot!).  And Unhide becomes Unhide Sheet.

[2018-05-22 11:35] Patowhiz commented on #4603
@bethanclarke okay. I would be finalising the design discussion with danny once he arrives then I could share the design code changes with you for the implementation as @rdstern has suggested above.

[2018-05-22 11:49] maxwellfundi commented on #4424
@rdstern  When using  `facet_grid` facetting by one variable would mean we have the 12 in a line or column depending with if you selected the row or column variable.
I am not sure if that is what would be desirable because @volloholic  was for the idea we get rid with the panel and the checkboxes for the number of columns and rows when we use `facet_wrap`

[2018-05-22 12:00] Patowhiz commented on #4567
Okay. This is just an issue of TopMost property of the Form. Fixing this

[2018-05-22 12:08] rdstern opened #4610 "Editing an awkward data file in R-Instat"
[haiti_156stations_mensuelles_plus.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/2026282/haiti_156stations_mensuelles_plus.xlsx)

This is already a better file than I was sent as that did not have the station names.  I suspect from the NaN that it may actually have come from R.
But my issue is how (in R-Instat) do I change these NaN strings to be proper missing values?  I tried a

[2018-05-22 13:19] Patowhiz commented on #4608
I'm working on this.

[2018-05-22 13:29] Patowhiz commented on #4608
@rdstern which one will you prefer between Provide Column Names and Generate Column Names, as the label of the checkbox?

[2018-05-22 15:28] rdstern commented on #4424
I agree that looks OK, but I assume that I can also ask for 3 by 4 instead?  I might have dekads, e.g. 36 instead of months, and then I guess that 6 by 6 will be clearer than 36 by 1?

[2018-05-22 15:31] rdstern commented on #4608
Either, I think Add Column Names perhaps!  Then it should also add them into the preview window?

[2018-05-22 16:12] rdstern opened #4611 "Improving the Climate Inventory Plots?"
![stations_30](https://user-images.githubusercontent.com/11226469/40374471-0a0b35aa-5de1-11e8-8daa-83e96bec5a72.jpeg)

Here is an inventory graph of 30 of the stations from Haiti.  They are **monthly data**, (rainfall totals), so stretching the Inventory graph.  And pretty good.  But:
- [ ] 1. The small lines that seem to indicate short gaps are not real.  Take the first station for example, Borgn

[2018-05-22 16:26] rdstern opened #4613 "Infill monthly data or complete factor level combinations"
I have monthly data from 156 stations.  There are some missing months.  I have the years and the months and they can both be factors.  I would like to infill the months, and perhaps years.
This could be special for the climatic, but could also implement perhaps the option generally in our Prepare > Factor menu.  There is a Complete function in [dplyr](https://stackoverflow.com/questions/39961798/h

[2018-05-22 17:01] rdstern commented on #4608
[haiti_156stations_mensuelles.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/2027716/haiti_156stations_mensuelles.xlsx)

Here is the data file - and my second problem.  I wanted to change the NaN in this file to missing (in R-Instat) and don't think we currently have an easy way to do this.

It is an easy edit in Excel, which I used.  But what should/could be used in R-Instat?

[2018-05-23 04:40] mmumbo opened #4614 "Two variable frequencies"
Can the **_Row Variable_** receiver have a multiple options just in case you want to view more than one variable at a time?

[2018-05-23 04:44] mmumbo opened #4615 "Three way frequencies"
You might want to view the variable headings from the output of either Tables or Graphs. From the dialog the option for the Table or Graph title is deactivated, could this be a problem or something?

[2018-05-23 07:08] rdstern commented on #4605
Here are some examples of possible graphs.  And I forgot one element above.  It is good to have a footnote, acknowledging the source of the data.  And also a second one that provides the definition being plotted.

![image](https://user-images.githubusercontent.com/11226469/40347866-b56f3754-5d99-11e8-94ba-0f0a267fee65.png)

And then:
![image](https://user-images.githubusercontent.com/11226469/4034

[2018-05-23 09:12] dannyparsons commented on #4610
On the Import dialog I just changed the missing value string to NaN and it worked.

[2018-05-23 09:44] dannyparsons commented on #4424
We can fix the number of rows/columns for facet_wrap to 1 to get something similar to what facet_grid does, but I agree it would be good allow the user to choose to do facet_grid with one variable - but I am not sure how that would look on the dialog.

[2018-05-23 09:51] dannyparsons commented on #4613
complete is a good option in general.
But maybe something more useful for climatic would be something based on dates. It's easy to get a sequence of dates by day/month/week/year etc. so we could adapt our infill missing dates to specify a time period. This could be a good general option for climatic if we are saying that all climatic data must have a date column, even if it's not daily.

[2018-05-23 09:54] dannyparsons commented on #4614
If you have more than one row variable then you don't have a 2 way table any more. The 3 variable can do multiple 2 way tables or the General Frequency Tables can have more than 2 variables.

[2018-05-23 10:06] dannyparsons opened #4616 "Packages to add"
- Hmisc (https://github.com/africanmathsinitiative/R-Instat/pull/4600#issuecomment-391290946)
- SPEI

[2018-05-23 11:31] shadrackkibet commented on #4550
I think this was done , so this can be closed.

[2018-05-23 12:14] bethanclarke commented on #4606
@dannyparsons I can't seem to find the calculate_summary command anywhere. This the code for proportion > 4:
`InstatDataObject$calculate_summary(data_name="test1", columns_to_summarise=c("a","b"), test="'>'", value=4, summaries=c("proportion_calc"), silent=TRUE)`

[2018-05-23 12:18] shadrackkibet commented on #3067
@rdstern  I am unable to replicate this error, How did you get that?

[2018-05-23 15:07] rdstern commented on #4610
I accept this was a possibility I missed.  But otherwise how could I make this edit once in R-Instat?

[2018-05-23 15:18] dannyparsons commented on #4610
You can use the replace dialog and set NaN as old value and "Missing" as new value. It can do multiple columns in one go but only if they are the same type.

[2018-05-23 15:21] rdstern commented on #4610
I tried that.  It seems the obvious one.  But they were all character variables and so did not appear in the data selector.  Let me look again.

[2018-05-23 15:32] rdstern opened #4618 "message: Could not add text to debug log file"
This is a new one for me.  I have been getting this in my current run of R-Instat 0.4.16.  Initially occasionally, but now so persistent that I have to quit.  I'll try again before sending this issue.

**Debug Log File
Could not add text to debug log file at:C:\Users\Roger Stern\AppData\Local\Temp\R-Instat_debug_log_auto_save\debug_log2.R
Could not find a part of the path 'C:\Users\Roger Stern\App

[2018-05-23 15:37] rdstern commented on #3067
I now tried again with the same data file.  And it crashed.  Then I opened again and tried and it all worked fine.  Confusing.  Let's close for now if the other small issue is fixed.  Then wait and see the problem.

[2018-05-24 05:35] dannyparsons commented on #4610
There is an issue with that dialog where the receiver gets restricted to a type when you add a variable but doesn't get back to all variables when you remove it. So that should work when this is fixed.

[2018-05-24 05:50] dannyparsons commented on #4618
This could happen if your temporary files were deleted while R-Instat was open.

[2018-05-24 05:51] #3067 closed

[2018-05-24 10:18] maxwellfundi opened #4620 "Importing from databases"
It would be a good additional  to have a new dialog that import data from tables in databases- Sql, Acess etc....

[2018-05-24 10:19] maxwellfundi opened #4621 "Date picker control needed while filtering"
We would like to have a date picker for the filtering dialog when we dealing with a date column.

[2018-05-24 10:49] bethanclarke commented on #4606
There is a problem when it comes to calculating the correlations.

`summary_cor` function requires arguments x and y, however x is not defined in VB. So I am trying to implement the argument x, where x is equal to the column(s) from the multiple receiver. But when we have multiple columns it either needs to a vector, matrix or data frame containing the variables from the multiple receiver.

First,

[2018-05-24 12:21] Patowhiz commented on #4608
To answer your question above. On the import dialog, there is a Missing Value String textbox. You can just type in the NaN inside the textbox and that will change those values to missing. Please note currently, this doesn't show up in the preview until you change leave the control( the event happens on change of focus) but I have fixed that.

Upon more research I had to use `readr `library for the

[2018-05-24 12:45] dannyparsons commented on #4616
- SPEI

[2018-05-24 14:12] dannyparsons commented on #4606
In `InstatDataObject$calculate_summary` it takes the `columns_to_summarise` and passes those in as `x` one at a time. So its ok not to have `x` passed in directly to `InstatDataObject$calculate_summary`. The `y` is passed in directly from the 2-variables tab on the subdialog.

I think the issue with correlations is the missing value option. `cor` has the `use` parameter to specify how to handle mi

[2018-05-24 16:51] Patowhiz commented on #4603
Final design of the dialog.
![use date design](https://user-images.githubusercontent.com/21179007/40499851-d7c62da0-5f8b-11e8-9229-cfa8a1c6ae26.JPG)

[2018-05-24 16:54] Patowhiz commented on #4603
Final design of the dialog.

![usedate](https://user-images.githubusercontent.com/21179007/40500002-3cf59b5c-5f8c-11e8-8cd9-9f5335872f04.JPG)

[2018-05-24 17:45] rdstern commented on #4603
Looks good.  What are those funny symbols (or half-symbols) for example after the checkbox in Day in Year, Numeric?

[2018-05-24 18:22] Patowhiz commented on #4603
It's just my screen resolution doing that. Though they will disappear
during runtime.

On Thu, May 24, 2018, 8:45 PM rdstern <notifications@github.com> wrote:

[2018-05-24 19:19] bethanclarke commented on #4606
I have added the same missing options that we have on the Correlations dialog to the Summaries sub-dialog.
![sdgsummaries](https://user-images.githubusercontent.com/16190039/40507593-a42f178c-5f8f-11e8-816e-51774e7a8fa8.PNG)

But when I test it in R-Instat, I get the following error message:
![columnsummariesissue](https://user-images.githubusercontent.com/16190039/40507780-c0c4cbda-5f8f-11e8-822f

[2018-05-24 21:40] rdstern commented on #4610
I think this is the other main problem.  I am now importing another awkward data set into R-Instat.
[Cape Perrin.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/2034644/Cape.Perrin.xlsx)
[Haiti rainfall 1993-2010 mm_eng.pdf](https://github.com/africanmathsinitiative/R-Instat/files/2034645/Haiti.rainfall.1993-2010.mm_eng.pdf)

I started with the pdf file (attached) and after some eff

[2018-05-25 06:26] dannyparsons commented on #4606
It seems that the quotes around "complete.obs" are removed inside the function when doing the summary. One way around this quickly is to have `use = "'complete.obs'"` which is single quotes inside the double quotes. Then it will work.

I also think it's worth revisiting the options for missing values. e.g. From the help for `cor`

But we don't want an error if there are no complete cases. So it mi

[2018-05-25 06:40] dannyparsons commented on #4610
I used the Text Find/Replace dialog to replace spaces with blank and that worked for me with and without a filter. After that replacement they convert to numeric correctly.

It might be good to have a quick way of looking at "non numeric" values in a character/factor column. Possibly a special filter, although not sure we can make it as easy as the filtering in Excel.

[2018-05-25 06:47] rdstern commented on #4610
When I filtered to select all the rows where a space need be removed and then used Prepare > Column: Text > Find/Replace and then Replace all it gives me:

**Error running R command(s)
Error in self$get_data_objects(data_name)$add_columns_to_data(col_name,  :
  Length of new column must be divisible by the length of the data frame
The error occurred in attempting to run the following R command(s):

[2018-05-25 07:44] rdstern commented on #4610
I am now more convinced we need to change something in the way we convert between types of data.  With the current system I have managed to completely mess up the column for the day of the month - see below.  It came as text because I had a Total value as well as the levels 1 to 31.  But the fact that 10(th) is coded 2, etc is already confusing.

![image](https://user-images.githubusercontent.com/

[2018-05-25 07:50] rdstern commented on #4605
Here is perhaps our first example of independent work using R-Instat.  It is mainly rainfall graphs.  I am not sure I like quite so many points on the axes, but that is a detail.
These graphs have all the components above except the footnotes to give details of what is plotted, plus acknowledgement of the source.

The graphs above were with the old Instat, while the ones in the pdf file here are w

[2018-05-25 08:30] dannyparsons commented on #4610
A simple option we need is to remove the labels. Which could be from the metadata or the levels/labels dialog.

[2018-05-25 09:02] rdstern commented on #4610
Sounds good.  That would work.

[2018-05-25 13:00] bethanclarke commented on #4606
Thank you @dannyparsons
`"na.or.complete"` does seem like the most sensible option,
After discussing with Roger today, we do not want missing options. Instead, if omit missing values is checked then we have use = "na.or.complete". The only problem is we only want to include this parameter when correlations and/or covariance is checked on the sub-dialog and I don't know how to link the two.

Also,

[2018-05-25 13:19] #4567 closed

[2018-05-25 13:22] bethanclarke commented on #4606
@rdstern you're right about the issue with trimmed mean.  I checked mean and trimmed mean on the sub-dialog but we only obtain the trimmed mean.

@dannyparsons Roger suggested writing another function for trimmed mean, what are your thoughts on this? If yes, it would be very easy for me to include.

[2018-05-25 13:35] dannyparsons commented on #4606
1. I think @shadrackkibet could look at adding the `use = "na.or.complete"`

2. In your new `proportion_calc` function, it looks good for `na.rm = TRUE` but I tried:
[code]
I would expect this to either be `NA` because there are missing values or 0.4 because 4 out of 10 (including missing) are greater than 0.4. `NA` is probably the answer in line with how our other summaries deal with missing valu

[2018-05-25 13:51] bethanclarke commented on #4606
Ah of course, I didn't think of that case! Thanks @dannyparsons , I've included that line to the code and it works.

Okay, I have added a trimmed mean function with the parameter trimmed rather than trim.

[2018-05-27 07:13] #4536 closed

[2018-05-27 08:41] #4581 closed

[2018-05-28 06:50] rdstern opened #4626 "Logical columns - replace l by L?"
Is there any reason why we should not have L instead of l to denote a logical column in R-Instat?

We now produce quite a lot of logical columns and the (l) looks like a bit like (1), and so not clear.  Having (L) would be clear?

[2018-05-28 06:54] rdstern commented on #4603
To complete the dialogue needs Beth's code.  Could Patrick (for now) disable the Pentade and the Dekad (with label) options, and then get the rest of the dialogue working - presumably using the old code.  Then Beth can share the R code for the other options, or add those options herself later?

[2018-05-28 13:22] dannyparsons commented on #3926
Coming back to this and other suggestions in #3990 and #4421 I think a Sort subdialog similar to Genstat would be useful. Apart from reordering by another column (#4421), I think this can be done in the front end. So that when you return from the sub dialog the control shows the new order, which could still be modified before you click ok. I think that's quite useful so you see the new order.

For

[2018-05-28 15:08] Muthenya commented on #4626
I'll go ahead and make the change.

[2018-05-28 21:01] rdstern commented on #3926
I note that the forcats package has:
fct_inorder(f, ordered = NA)
fct_infreq(f, ordered = NA)

[2018-05-29 06:30] #4626 closed

[2018-05-29 07:10] dannyparsons commented on #3926
Those are useful too, and I like the ordered parameter as well.

[2018-05-29 10:40] bethanclarke commented on #4606
@shadrackkibet I have just made a pull request which has the R code and a few changes to the dialogs.

[2018-05-30 09:41] mhabimana opened #4635 "Issue with Importing from Climsoft Database"
We have been trying to import data from Climsoft database with R-Instat version 0.4.16 but we keep getting this error message.

![image](https://user-images.githubusercontent.com/10340170/40712499-911c96b2-6406-11e8-8f56-b53399868448.png)

[2018-05-30 10:20] rdstern commented on #4635
It will be useful to get this feature working again.  The first version was done by Marcellin and David a long time ago, so I am not surprised that it needs to be tested now.  I am assuming that the final tests of this feature will be when CLIMSOFT is implemented in Maseno with the Western Kenya data.

Meanwhile it is also important to test the ease with which R-Instat can read data exported from

[2018-05-30 12:48] rdstern commented on #4610
[cape Perrin.zip](https://github.com/africanmathsinitiative/R-Instat/files/2053877/cape.Perrin.zip)

This shows the importance of being able to have text columns without insisting on labels.
1. I imported the data from the Excel file - cape.perrin.
2. Used the filter to make another sheet called cape.perrin2 without the Total rows at the end of each year of data.
3. Used Stack to stack the data by

[2018-05-30 13:30] dannyparsons commented on #4610
Yes this is an issue with the labels. A work around is to use the Convert Columns dialog and untick the option to "Create labels" and this will prevent it trying to create labels and you won't get this error.

[2018-05-30 13:36] mhabimana commented on #4635
@rdstern Thanks, It is connecting well to climsoft database and get the metadata but unable to display these in R-Instat worksheet for further climatic analysis as a result it display the error message below:
![image](https://user-images.githubusercontent.com/10340170/40723386-831b87fa-6427-11e8-884b-5b587bac6fc7.png)

[2018-05-31 06:54] rdstern opened #4640 "Frequency tables revisited?"
We soon need to revisit our ways of tabulating data in the describe menu.

We currently use the sjplot package, partly because it seems to cope well with labelled data, it links well with SPSS data, it also uses ggplot.  The author has a set of packages, sjplot, sjstats, sjmisc in particular and makes good use of the tidyverse system.

But David and Danny have never been very enthusiastic about th

[2018-05-31 08:55] maxwellfundi opened #4641 "Date Pickers Controls for Import from Climsoft dialog"
I would suggest that, now that we have date picker controls it will be good to have that implemented everywhere we have the date to be selected.
On this dialog, the start date and end date should be changed to date pickers

![image](https://user-images.githubusercontent.com/9798689/40772948-163f510e-64ca-11e8-9e63-e1e04787eb0e.png)

[2018-05-31 09:18] Patowhiz commented on #4603
@rdstern @dannyparsons @bethanclarke  this is now ready. However a few points to note.
Shifting of pentad,dekad does not work - Rcode missing.
Pentad,dekad,quarter abbreviations and  also week abbreviation and name are disabled - will be enabled once Rcode is ready.
The image below illustrates the controls disabled.

I have also modified the R code to take up the new parameters and to adapt to the

[2018-05-31 09:27] dannyparsons commented on #4641
Yes good idea.

[2018-05-31 09:30] dannyparsons commented on #4603
This has made good progress. I suggest @bethanclarke now takes over the pull request to add the remaining functions before it is merged since it's not fully functional yet.

[2018-05-31 09:59] maxwellfundi opened #4642 "Use Date to be able to split dates to hours, minutes etc"

[2018-05-31 10:26] maxwellfundi opened #4643 "Message box for R version needs to be more informative"
We have a very nice message box when people install R-Instat and dont have an updated version of R but it needs to be more informative.
I suggest we have a recommendation there saying something like "We recommend you install R version(Whatever version runs best with that version/What version is working well )"

[2018-05-31 10:45] dannyparsons commented on #4642
This would not be the Use Date dialog - as the Date class does not contain hours/minutes. However, this is what our Make/Use Date-Time dialogs should be able to do. Good to have the CLIMSOFT example for when this is implemented.

[2018-05-31 13:27] rdstern commented on #4605
Having discussed the forthcoming Malawi workshop it would be great if this dialogue could be started - possibly finished - in time for the workshop.  It should be easy to make some quick progress, because it is essentially an adaptation of the prepare > Specific > Line Plot dialogue.  There will be an extra PICSA sub-dialogue.

I am assuming Maxwell is the obvious person to do this.  he could then

[2018-05-31 14:12] dannyparsons commented on #3067
This was because `summary_count_missing=""` was added to the function incorrectly, which has now been corrected in the dialog.

[2018-05-31 15:00] dannyparsons commented on #2775
Closing this but can be reopened if issue is not fixed.

[2018-05-31 16:31] bethanclarke commented on #2775
I’m still working on evaporation but I have this strange bug. Could one of you @maxwellfundi @shadrackkibet take a look at what I’ve done so far please?

[2018-05-31 18:00] #4608 closed

[2018-06-01 15:06] maxwellfundi commented on #4605
I will take on this task hopefully complete by the time for the workshop

[2018-06-01 20:18] maxwellfundi commented on #4605
@rdstern  Will this have the button to our general plots sub dialog?

Just to seek Clarifications on
**1. Just one column is plotted. We probably don't need the option here to have multiple Y columns, but perhaps leave it initially.**
Can we then just have a single receiver for this instead of the current multiple/single if we will only plot one variable?

**2. One complication usually is the defa

[2018-06-01 20:38] rdstern commented on #4024
The climatic boxplot dialogue looks excellent.
But I tried with the library data from Dodoma.  And I cannot get anything to display in the Year variable.  I was assuming it would autofil the Year column, but it is blank and does not include the possibility of including the year column in the dialogue.

[2018-06-01 20:49] rdstern commented on #4605
You ask:
Just one column is plotted. We probably don't need the option here to have multiple Y columns, but perhaps leave it initially.
On item 1 almost all plots will have a single y variable, so one possibility is (as you say, to disable this option and that would make the dialogue simpler.
There are just a few exceptions.  In particular it may be useful to plot the start of the rains together w

[2018-06-01 22:07] Muthenya commented on #4024
@rdstern this is because the Year Receiver is set to only include factors. Once you change the Year column to factor it will autofill.

[2018-06-02 04:56] maxwellfundi commented on #4605
So am not sure how we could edit more than one geom from the main dialog, but for this case it would be easy to add the size and colour for the points by using the colour control and a nud to pass in size which are only visible when add points checkbox is checked.

![image](https://user-images.githubusercontent.com/9798689/40870544-71f30844-663a-11e8-9399-531fd21678e1.png)

[2018-06-02 06:06] rdstern commented on #4610
[Toussaint Louverture 1943.txt](https://github.com/africanmathsinitiative/R-Instat/files/2064717/Toussaint.Louverture.1943.txt)
This is an interesting file to import.  I used the new importing, which looks great.

Then found it would be better to make 99.99 into NA and not make factor columns.  All seems to work!

Now a problem.  Not with the importing, but a text editing problem.  The rainfall co

[2018-06-02 06:36] rdstern opened #4649 "The rainfall and temperature quality control dialogues"
They are now looking great.  But still to complete:

a) I cannot get the rainfall to work.  Even with a simple example for Dodoma (from library) checking just rain > 50mm it says:

**Error running R command(s)
Error in self$apply_instat_calculation(manipulation, curr_data_list, previous_manipulations) :
  No data specified for calculation.
The error occurred in attempting to run the following R co

[2018-06-02 07:59] rdstern commented on #4024
Ok, thanks.  I was hoping that the Year column need not be a factor for this dialogue, because the command could do the add.factor() to it.  This is usually a pain, but in the results for this dialogue will not display the label for the x variable, because it is obvious.

[2018-06-02 18:13] Muthenya commented on #4024
I understand. I restricted it to factor because of the options the receiver could have from the drop-down required factors expect for None.

[2018-06-02 20:10] rdstern commented on #4605
@maxwellfundi this is possible, but I would still prefer the simplicity of the main line plot command, but:
a) With the default on this plot being larger points
b) Hopefully with the facility added generally to be able to edit the geoms (such as this one) from the main dialogue just as the geoms on other layers can be edited.  If I understand Danny correctly, there isn't a good reason why this can

[2018-06-04 08:32] rdstern opened #4650 "Calculation problem saving variable incorrectly - and perhaps elsewhere?"
I did a simple calculation, (Prepare > Column: Calculate > Calculations) namely **Tmax * 25.4**.  This was to change the data from inches to mm.  I decided to save the results in a new column called **tmax**.  I am taking advantage of the fact that R is case sensitive.

But it seems that R-Instat is not being case sensitive.  In the saving column it (at the last minute) changed my proposed **tmax*

[2018-06-04 09:19] rdstern commented on #4603
There is one additional item that would be useful here and that Patrick might do, before the "official handover" to Beth.  That is to dictate the order that the resulting variables are produced.  To me there is an obvious order and that is not too far from the current order of the controls.

While there could we move Quarter so it is before Dekad in the "top group"?

So I suggest either:

a) That

[2018-06-04 11:43] rdstern opened #4651 "Summary statistics to add a Model tab"
I suggest an additional tab in the statistics offered by the Prepare > Column: Reshape > Column Summaries dialogue (and others that share the same sub-dialogues).

This is called Model and it has (initially) just one checkbox which is Standard Error of the Mean.  This is just sem<-sd(x)/sqrt(length(x)).

I don't know whether this should be a function (as Beth did for the trimmed mean) or just done

[2018-06-04 12:19] maxwellfundi commented on #4605
I will then have to remove the colour and size from the main dialog then we can have them added by default or moved to the PICSA options subdialog. I will be adding the extra Line options buttons too.
I will consult Danny how we can edit these kind of additional geoms generally so that we give the users the chance to edit them .

[2018-06-04 14:32] mhabimana commented on #4635
@maxwellfundi This has finally worked with the new version 0.4.17. Now I am able to load data into R-Instat worksheet.

[2018-06-04 16:36] maxwellfundi commented on #4635
Great!  Am happy to hear the new version has now worked properly.

I think it's important for us to know why that wasn't reading properly so
that it doesn't happen in the future.

On Mon, Jun 4, 2018, 17:32 Marcellin <notifications@github.com> wrote:

[2018-06-04 19:59] rdstern commented on #4640
This has become more urgent to examine so I have changed the Milestone.

I put the diamonds data frequency tables task into tutorial 1.  It takes so long that Caroline had to kill R-Instat and restart.  That's perhaps a good lesson, but not one that we want.  We will take it out of the tutorial but still it is a good incentive to examine this facility.

[2018-06-04 20:15] rdstern opened #4652 "Unstack has a new problem"
Unstack has lost its power between 4.16 and 4.17.

It now has the buttons at the top for restore hierarchy.  And I think this is OK - but not tested propoerly.

But Tutorial 2 uses the ordinary unstack and this has lost the control that gives the column to unstack!  This needs to go back.  In the meantime could someone quickly say how we can use the script file to be able to do an ordinary unstack

[2018-06-05 07:36] Muthenya commented on #4652
@dannyparsons I have already added back the control and the paremeter. @rdstern is there any other issue that you have come across with the dialog?

[2018-06-05 07:58] Muthenya commented on #4024
Okay. If that's the case, I can begin work on it to have it as an extra option.

[2018-06-05 08:13] rdstern commented on #4024
The first part should be simple, i.e. to allow a numeric year column to be used in the dialogue.  I am keen on this.  This part doesn't need an extra control.  It just needs (I think) for  as.factor(year) to be used.
The second part would be great - but only if it works.  It changes the structure of the boxplot command a bit.  Maxwell tried that change for the general boxplot dialogue and it cause

[2018-06-05 08:22] dannyparsons commented on #4610
I think this has been resolved with the Text Split function

[2018-06-05 08:22] #4610 closed

[2018-06-05 08:26] dannyparsons commented on #4650
This is an interesting one, it is happening because of the items in the combobox which are the existing columns. It seems that if VB finds a match which what you typed and what's in the combo box, regardless of case, it will update your value to match the item in the list. There is no problem in R having two columns with different cases.
@maxwellfundi @Patowhiz could someone see if it's possible t

[2018-06-05 08:32] Patowhiz commented on #4650
I can have  a look at this one

[2018-06-05 08:33] rdstern commented on #4024
Agreed.  Try it and let's see what happens.  The extra control can always be hidden again later.
No, just a minute, not an extra control.  Have it as an extra option instead on the Year pull down, i.e. **X Axis Numeric**, just below the **X Axis** option.

And, while you are there can you check on the Facet options?  Currently they are for **Facet Row** and **Facet Column**.  Same is for Within Ye

[2018-06-05 08:35] maxwellfundi commented on #4605
@rdstern  I have now, from your above text desiged the initial PICSA Sub dialog design.  Please have a look

![image](https://user-images.githubusercontent.com/9798689/40964755-92b2dda8-68b4-11e8-963e-9153bd5bff21.png)

[2018-06-05 08:38] rdstern commented on #4610
Is it with Text Split?  I agree it has been resolved.  For the record I used Text > Transform > Substring.  Then I found the substring from 1 to -2 as you suggested.  The use of negative values works a treat!

[2018-06-05 09:01] Muthenya commented on #4024
I have already began work on the first part, that is, including X Axis Numeric option.

Now for the second part, I went through this initially with @volloholic and he strongly suggested that it be possible for one to have two elements as Facet Row or Column, hence the current functionality.

[2018-06-05 09:47] rdstern commented on #4605
Looks good.
a) At the top I would say **Add Mean**, **Add Median, Add Terciles**. Default unticked.
b) If any is ticked, then the option tickbox **Add Label** appears. So don't need the Add label section, which will simplify the sub-dialogue a bit.
c) On the same line as Y-axis Title have a checkbox **Y Axis Labels** for their size (as you have for the x axis.
d) Under that line the checkbox for S

[2018-06-05 12:26] rdstern commented on #4024
That's right when you want to have the possibility of 2 variables for the facets.  When you have a single variable, then we will usually use Facet wrap.  So it could usefully be added as an option.  But it is as well, and not instead, of what you have now.  See the reference [here](http://ggplot2.tidyverse.org/reference/facet_wrap.html).

[2018-06-05 12:43] bethanclarke commented on #4603
@Patowhiz have you made the changes in Roger's last message?

[2018-06-05 12:56] Patowhiz commented on #4603
@rdstern I'm not sure about the proposed structure in your item (b) perhaps @dannyparsons  can comment on it. (What about the aspect of grouping based on variables that can be shifted and those that can't, that was the original idea).
@bethanclarke no, I haven't changed the position of the quarter in the design i.e according to Roger's new design proposal.

[2018-06-05 13:08] rdstern commented on #4603
My item b) has no change on the dialogue.  It is concerned only with the order of resulting columns that are produced and added to the data frame.  I suggested a logical order to them.  Currently when you opt for both month_abbr and year for example, the month is produced first and the year is a variable after the month.

[2018-06-05 13:12] Patowhiz commented on #4603
Okay. That's fine. I can have that done quickly

[2018-06-05 13:13] bethanclarke commented on #4649
@shadrackkibet okay for me to start on this? Just want to check before I make any more conflicts!

[2018-06-05 13:15] shadrackkibet commented on #4649
Yes, please go on.

[2018-06-05 13:41] dannyparsons commented on #4651
I think this needs to be it's own function but is easy to add. Need to make sure it handles missing values carefully.

[2018-06-05 13:44] dannyparsons commented on #4635
The error originally posted is a general error in connecting the front end to R. It could be that 0.4.16 did not install R packages correctly for example, so the error may not have been with the specific dialog.

@mhabimana are you able to test this again with the old R-Instat 0.4.16 to see if it still gives the same error?

[2018-06-05 13:45] dannyparsons commented on #4610
Yes thanks it's substring not split.

[2018-06-05 13:48] shadrackkibet commented on #4651
I am working on this.

[2018-06-05 13:49] dannyparsons commented on #4605
Having two buttons to open the layer options for the two geoms is definitely possible.

[2018-06-05 13:53] maxwellfundi commented on #4605
@dannyparsons, Yes that should be very possible to implement. So then that would mean we have an extra button next to the control adding the other geom I think so that it does not confuse people with the other ones. I wonder how the dialog would be if we had like 3 geoms passed in this way, we would have too many buttons ???

[2018-06-05 13:58] dannyparsons commented on #4605
With many layers, or even two, we could have a drop down button i.e. like the last 10 dialogs button, which gives the layers on the drop down. That will reduce the number of things on the dialog.

[2018-06-05 14:05] mhabimana commented on #4635
@dannyparsons: Both 0.4.16 and 0.4.17 are now importing data without error:Below is the dialogue is using 0.4.16
![image](https://user-images.githubusercontent.com/10340170/40980988-7d6184a8-68e2-11e8-8b48-f1524db1acc3.png)

[2018-06-05 14:12] bethanclarke commented on #4649
I have fixed issue (a), it was due to grouping running without the parameter calculated_from. It was doing this because grouping should only run when we have Station selected but it was running when there was no variable for Station selected.

However, that being said, if you have multiple options checked it still doesn't work, so I am currently looking into this

[2018-06-05 14:21] dannyparsons commented on #4635
Thanks @mhabimana that's great, then I am quite sure it was an installation issue with 0.4.16 and not the dialog. I will close this issue but now you are able to import the data please feel free to make any suggestions for improvements to the importing dialog in a new issue.

[2018-06-05 14:21] #4635 closed

[2018-06-05 14:23] dannyparsons commented on #4649
If it would help I am happy to look at the R code produced for the calculation to find the source of the remaining issues.

[2018-06-05 14:36] bethanclarke commented on #4649
@dannyparsons thank you but I think I have figured out the problem! I am only have an issue when I have outliers checked along with another option and this is because of change that has been made recently, which is the options are being assigned and then used rather than going straight into the rain_filter function

[2018-06-05 16:55] bethanclarke opened #4653 "Open data from file"
When I click on a data set from the list at the bottom of the File menu, the Open data from file dialog opens instead of the data set I've selected.

[2018-06-05 20:07] dannyparsons commented on #4653
Yes this was a bug introduced by a change in the import dialog. @Patowhiz will correct this

[2018-06-05 20:34] bethanclarke commented on #4649
Issues a) (for the most part!) and c) are fixed.

I now have the outlier results assigned to outlier_test_calculation, the R-code is as follows:
[code]

Now the issue is when we have more than one option checked, for example Large and Outlier. The R-code produces a new data frame with the correct rain_fall filter, and the R-code runs in R no
problem:

[code]

But this error appears in R-Instat:
![

[2018-06-05 20:44] Patowhiz commented on #4603
@rdstern I've set the resulting columns to be arranged in the following order; leap year, year ,month, day in month, day in year 366, day in year, quarter, dekad, pentad, week, weekday. (I wasn't quite sure if you wanted the year to be the last or to be grouped with the other year value).

@bethanclarke the changes have now been made.
Below is a screenshot of the new design.

![use date](https://u

[2018-06-05 20:46] Patowhiz commented on #4603
@rdstern  this is more of a question, How is shifting of the month column supposed  to work, I mean what will be the expected result? The shifting of the month is currently not implemented in the R code.

[2018-06-05 21:27] rdstern commented on #4603
It will look the same.  But the Month is an ordered factor, (and also circular) with (by default) Jan having level 1, Feb is 2 and Dec is 12.  If shifted to August, then August will be level 1 and July will be level 12.  Then tables and graphs will go from August to July.  It is the function fct_shift in the forcats package.

[2018-06-05 21:34] Patowhiz commented on #4603
Now i get it. Thank you

[2018-06-06 10:01] dannyparsons commented on #4649
There's no problem with the second calculation actually. It gives an error only when you run it after the first calculation. This is because you are trying to add the second calculation into the same data frame produced from the first calculation (because of `result_data_frame="Rainfall_Filter"`) and it can only add new data to an existing data frame if there is a key because it needs to merge the

[2018-06-06 12:37] dannyparsons opened #4655 "Bug with decimal option in convert dialog"
Originally here https://github.com/africanmathsinitiative/R-Instat/pull/4636#issuecomment-395051155

![image](https://user-images.githubusercontent.com/11214914/41038569-8cb9e4de-698e-11e8-80ff-5219145a9b9a.png)

[2018-06-06 13:00] #4653 closed

[2018-06-07 10:01] rdstern opened #4659 "New dialogue to reshape climatic data"
In the Haiti workshop I decided to include the steps to reorganise daily data into the "shape" needed.  This was tough and - in hindsight - unnecessary.

When data are a real mess the initial steps are usually taken outside R-Instat.  There are then 3 common shapes:
a) One column (variable) per year.  This is the old Instat.
b) One variable per month - so the 12 months have to be stacked.  There i

[2018-06-07 11:13] #4545 closed

[2018-06-07 11:41] rdstern opened #4661 "R-Instat could be messing up climatic data?"
Perhaps this should be that Roger has found a way to use R-Instat to mess up climatic data!
In this Haiti workshop we organised the daily climatic data and then used the inventory plot to show the rain days.  The pattern of rainfall during the year did not correspond with participants' views.  The months of December/January should be pretty dry and November to February fairly dry.

If there is a p

[2018-06-07 12:05] dannyparsons opened #4662 "Combine Factors - new options"
There are two parameters to `interaction` which we don't have on the dialog. I think they should be included:

- `sep` the separator, default `"."` - a combo box
- `lex.order` determines order of levels of new factor, default `FALSE` - a checkbox

[2018-06-07 12:11] rdstern commented on #4661
[Petion_Perrin_All.zip](https://github.com/africanmathsinitiative/R-Instat/files/2080324/Petion_Perrin_All.zip)

I now add the data file.  I have checked the months and this IS the problem.  In the version for analysis the old Sep(tember) has become December, i.e. level 12, because September is the last month in the alphabet.  I looked at the data for September and December 1952.

[2018-06-07 13:01] rdstern opened #4663 "Start of rains error message"
When doing the start of the rains:
a) OK is enabled immediately, i.e..before I have ticked any option for the start.  I think that perhaps the first checkbox could be checked by default, and then this would be fine.
b) With the data given in #4661 I get the following error message.  However it does appear to be working in that it produces the results and they seem to be correct.

**Error running R

[2018-06-07 14:14] rdstern opened #4664 "Message with the new climatic date selector"
![image](https://user-images.githubusercontent.com/11226469/41105194-1d7770de-6a3b-11e8-973c-4255c1d48cf5.png)

I set the dates from March 1 to June 30 in the Start of the Rains dialogue.  I then went to the spells dialogue and clicked on the Day Range button.  I get this odd message.

It doesn't seem to do me any harm, but I don't understand it either.

When I press OK I get to the date selector

[2018-06-07 18:36] Muthenya commented on #4024
@rdstern this is how I have implemented the **as.factor** option so that I don't really interfere with the initial set up. I know it's a bit different but still works well. I would really like to get your take on it.

![image](https://user-images.githubusercontent.com/32125033/41117892-fb9023d8-6a96-11e8-9e58-347b39bf1935.png)

The other issue is clarification on whether this implementation is onl

[2018-06-07 18:46] rdstern commented on #4024
That looks great.  2 things to confirm.
When you have x-axis, and the year could be numeric, what does it do exactly?
a) The year column may then already be a factor - which is fine.
b) If numeric it could do an as.factor() and then treat it as a factor.
c) Ideally, if numeric it would treat it as numeric - as discussed in #4211.  But (if that isn't there yet), then it might take too much time.

Y

[2018-06-07 19:28] Muthenya commented on #4024
For a) and b) that is the case, but maybe just to clarify further;
1. When Year is already a factor, both **X Axis** and **X Axis Factor** options will treat it as factor.
2. When Year is numeric, **X Axis** will treat it as numeric and **X Axis Factor** will do an as.factor() and then treat it as a factor.

[2018-06-07 20:41] rdstern commented on #4024
Perfect!  That's absolutely right.

[2018-06-07 20:43] rdstern opened #4665 "Spell Lengths error message"
I went on to the spells dialogue - same data from Haiti as the start of the rains problem.

1. Simple use of the dialogue gives me this message;

**Error running R command(s)
Error in self$get_data_objects(data_name)$add_key(col_names, key_name) :
  key columns must have unique combinations
The error occurred in attempting to run the following R command(s):
InstatDataObject$add_key(data_name="Peti

[2018-06-08 08:06] shadrackkibet commented on #4663
I am going to fix this issues.

In b) above, this is happening because of wrong the wrong dataframe on `add_key` function. This is because you had `Petion_Perrin_stacked_subset1_by_STATION_year` dataframe and now when you switched to the original dataframe this was not updated.

[2018-06-08 08:13] dannyparsons commented on #4659
Yes this would be good to have as a dialog.

We also considered whether it should be able to do this for multiple files/data frames in one go e.g. if you have the format in a) for the same element for 20 stations it could do them altogether using the sheet name as the station ID.

Should the dialog take file(s) as the input or data frame(s)? i.e. do they have to import the data into R-Instat first

[2018-06-08 08:16] #4651 closed

[2018-06-08 08:34] dannyparsons commented on #4024
It's good that this is working with numeric/factor x-axis. I think we could find solutions which are less confusing for users as I think "X axis" and "X axis factor" is not ideal, however this does get complicated to have x numeric as we saw before. So I don't think it's straightforward to get this better and if it is working well as it is I think we keep it like this.

For the facet wrap option,

[2018-06-08 08:35] shadrackkibet commented on #4606
@dannyparsons This can be closed now.

[2018-06-08 08:45] rdstern commented on #4024
I'd like that solution of Facet wrap whenever there is a single facet.  I am also assuming that the options are linked, so the ordinary sub-dialogue remains available?  And would be set to correspond to the settings chosen..  Is this true?

If so, then we could always change the facet to Facet grid there.  So everything remains available - it is just that those options we need 99% of the time are

[2018-06-08 08:52] dannyparsons commented on #4665
I am not sure why the dialog is trying to add a key from this dialog, however the error creating the key is telling you that "Date1" and "STATION" do not have unique combinations, so this may be one part of a problem.

This doesn't sound like the only problem here though!

[2018-06-08 08:53] rdstern commented on #4659
I give a possible design for the dialogue below.  I would also really like it to be able to use multiple data frames, but would be happy if we started with just one for now.
In the use of multiple data frames, as Danny says, this could then be through multiple files, or the import could be done first and then the multiple data frames are used.  I would be happy with (just) multiple data frames.  T

[2018-06-08 08:54] dannyparsons commented on #4663
Ah ok, this is probably the issue here too #4665

[2018-06-08 08:55] dannyparsons commented on #4665
Ok from what @shadrackkibet said here #4663 this is an issue with the dialog not the unique combinations

[2018-06-08 09:08] rdstern commented on #4665
Aha, you are right they are not unique combinations.
Now this is 2 key mistakes I made in this workshop:
1) I got the data in the wrong order with the date column, because of the language issue.
2) I didn't check that the Station by Date should be unique for our climatic analyses.  At least I think so.  Am I right that it doesn't make much sens to continue with these analyses if not.

I am really

[2018-06-08 09:16] rdstern opened #4667 "Graphs not in the output window"
This is something I often get.  I am also often having 2 copies of R-Instat (test version plus latest release) open at the same time.  I assumed this was causing the problem and so have continued without comment.

But in the workshop it also happened to quite a lot of the participants - perhaps 1/3 (6) of them.  So now I wonder why and whether there is anything we can do, so this event happens mor

[2018-06-08 10:32] shadrackkibet commented on #4663
I have noticed that in this dataset there are 62 rows of duplicates. So this is part of the problem when creating a key.
![image](https://user-images.githubusercontent.com/26301973/41153719-4303f0e4-6b20-11e8-91aa-826badd64661.png)