[2020-06-13 07:48] lloyddewit commented on #5835
@shadrackkibet Thanks for sharing the document.

@lilyclements This appears to be a sort of style guide that could be applied to any UI. If you have time at some point, please could you tell me a little about the document's background?

@africanmathsinitiative/developers I'm interested in any R-Instat development documentation that may exist. I'd like to collect it together and share it on the Tai

[2020-06-13 08:13] rdstern opened #5839 "Add a new Structured menu to R-Instat"
This is from @volloholic and has grown from looking where to add time series analysis into the current menu structure in R-Instat.
The idea is to have a **_new Menu, called Structured,_** just after the Model menu, so before Climatic.
This would have the same general structure as the whole system, so Prepare, Describe, Model.  (I don't think we need File, at least initially.)
Currently I suggest t

[2020-06-13 11:46] dannyparsons commented on #5839
I like the idea of separating these out from the main menus.

On the structure of the menu, I would first subdivide by type: Circular, Low-Flow, Survival, Time Series. Then they have their own submenus: Prepare, Describe, Model, or if there are few items, it could be one submenu with separators for Prepare, Describe, Model to avoid going down two levels.

I think it would be confusing if e.g. the

[2020-06-13 20:22] rdstern commented on #4228
@dannyparsons recent work has been making use of the purrr package.  He now claims this is the way we should do looping - at least for the hypothesis tests.

[2020-06-13 22:45] rdstern commented on #5839
So, if I have understood @dannyparsons suggestion - which @volloholic supports, there would be a new menu.  And (though not with much enthusiasm) we continue for now with the name Structured.  The possible menu could be

[code]
Any of these (eventually could be their own menu instead, i.r. moved to the top.  Perhaps there would be a third option (later) to display neither.  For now, they don't see

[2020-06-16 09:32] shadrackkibet commented on #5792
@rdstern @maxwellfundi ?

[2020-06-17 06:25] #5323 closed

[2020-06-17 12:49] rdstern opened #5843 "New dialogue called Verification Summary"
This builds on the current verification facilities.  It uses the ideas of the summary dialogue to be able to produce the verification summaries for any combination of factor levels, including station and season.  The other difference is that (like the existing summaries) the results will usually be saved in a new data frame.

There will now be 2 dialogues.  We suggest Compare be moved to its own s

[2020-06-17 22:25] rdstern commented on #4944
I suggest the Taylor diagram could now be added.  We could usefully consider whether the version from plotrix or the one from openair is the better to add.
Neither version is a ggplot2 graph, so it would be good to check the use of the ggplotify package at the same time.
There is also a potential good home for the graph as part of the verification dialogues.  There are graphs with the verification

[2020-06-18 11:32] shadrackkibet commented on #5843
Another idea could be to make **Continuous, Categorical, Binary**  top radio buttons so that this choice is explicit, and then we have all the summaries as checkboxes in the main dialog. The summaries can then be grouped depending on the options above. That means we will not need the sub dialog and also no need to detect data in the receivers, we will instead hide variables in the selector dependi

[2020-06-18 16:26] rdstern commented on #5843
@shadrackkibet that seemed to me to be a very good suggestion and I have discussed with @dannyparsons .  He also supports it.  It greatly simplifies the work in creating this new dialogue.  It means that users need to be aware themselves, of the type of their data and hence the sort of test they need.  I agree with you that this is a sensible change.

[2020-06-19 09:16] shadrackkibet opened #5846 "Hide/unhide dialogs - dataframes and columns"
These dialogs do both hiding and unhiding, but we call the dialogs **Hide Dataframe(s)** and **Hidden Dataframe(s)**. I think the names should be **Hide/Unhide Dataframe(s)** and **Hide/Unhide Column(s)** respectively.

I think we should also be consistent in naming,  one dialog is called **Hide Dataframe(s)** and the other is **Hidden column(s)**. At least the names of multiple receivers are cons

[2020-06-19 19:00] lilyclements commented on #5835
@lloyddewit For the "Making dialogs" document, I wouldn't say I wrote it at all - I just took the appropriate bits out of a Windows guide and popped it into a document.
The document it is based off guidelines here - https://docs.microsoft.com/en-us/windows/win32/uxguide/guidelines
Perhaps that should be noted in the document.

@shadrackkibet you mentioned that some bits may need updating. This is

[2020-06-22 09:52] lilyclements commented on #5830
Will fix up the columns spacing and bits.

However, the empty space to the right is from the regex keyboard, this comes up when the checkbox is selected. However, the checkbox is currently disabled (I think, always. However, perhaps I'm misreading the code. It has been a while!)
Happy to make it so the dialog is a reasonable size, and then extends to this size when the regex keyboard is displayed?

[2020-06-22 12:23] shadrackkibet commented on #5008
@lilyclements can you also add this into your list? looks related to the sort of things you are now working on. Thanks.

[2020-06-22 12:41] shadrackkibet opened #5851 "Save control - Columns"
The save control now enables you to define the position to save columns in a dataframe.

- The button is opening a subdialog, therefore, it should have ellipsis `...`.
- The button should be aligned properly with the input control.

See below an example.

![image](https://user-images.githubusercontent.com/26301973/85288670-c4ee3780-b49e-11ea-8c8f-4f89f83b6a25.png)

[2020-06-22 13:46] rdstern commented on #5830
That would be great assuming it is easy.  I would also very much like us to be able to include regex before too long, but that may not just be here and isn't a job for now.  There are too many other things to do before that.

[2020-06-22 15:36] lilyclements commented on #5846
Do we want Hide/Unhide or Hide/Show?

The menu option to get to the columns dialog says "Hide/Show Column(s)", whereas to get to the data frame equivalent, the option says "Unhide"

[2020-06-22 16:00] shadrackkibet commented on #5846
I am happy for the menu option (toolstrip text) to be changed to **Hide/Unhide Column(s)** for consistency. @rdstern what do you think?

[2020-06-23 07:04] Patowhiz commented on #5851
If it's agreed to turn it into an ellipsis I suggest putting it inside the input control just like the way we did with comment button that opens up a pop up with a bigger area for adding more comments. Which also prompts me to ask shouldn't we be styling it just like the "comment" popup.

[2020-06-23 07:45] #5830 closed

[2020-06-23 12:18] Patowhiz opened #5857 "Import Dataset 2 Trial Import Bug"
When I try to import a file using wrong parameters as shown below, I get an error. This is fine because the code is not correct. However, If I correct it and run it the second time, the same error gets thrown and I can no longer import any other file until I restart R-Instat. Looking at the error window, it tell me I may need to restart R-Instat, should this be the case at all times?

`Sheet2 <- r

[2020-06-23 13:10] Patowhiz commented on #5700
@rdstern I've also implemented importing of multiple missing values even for the CSV files. But I must mention that input of 0 as missing value for CSV files will not be supported (Because the rio package uses fread command which recognises 0 as a boolean).

Running the following code in Rstudio
`Sheet2 <- rio::import(file="E:/ICPAC WORKSHOP/VoiMet.csv_1.csv", stringsAsFactors=TRUE, skip=1, na.str

[2020-06-24 06:29] #5839 closed

[2020-06-24 13:35] shadrackkibet commented on #5792
@rdstern I just want to check before I proceed with this task. I thought Renaming of filters was the only task to be done here. Do we need to be able to delete and also reorder filters?

[2020-06-24 14:12] rdstern commented on #5792
@shadrackkibet yes I thought so.  Otherwise will there be a different way to delete the filters?

[2020-06-25 06:38] shadrackkibet commented on #5792
Apart from the dialog,  I thought of enabling the user to delete from right click in the selector. This should not only apply to filters, we might want to allow for other objects as well.

[2020-06-25 08:33] rdstern commented on #5342
@Ivanluv when I look at the example right at the top it would be better to swap the rugplot round, i.e. give the rug just when there are missing values, rather than when there are not.  I think you just have to get rid of the `!` in the formula.

[2020-06-25 11:09] shadrackkibet commented on #4944
I am now starting work on this. @rdstern I thought of including this under **Climatic>Prepare>** under the new dialog **Compare: Summary** then below **Compare: Taylor Diagram**.

[2020-06-25 12:21] shadrackkibet commented on #4944
I drafted the design for this dialog as shown below.

![IMG_20200625_145555_300](https://user-images.githubusercontent.com/26301973/85718452-36c0be00-b6f7-11ea-82f8-c206e70861b6.jpg)

[2020-06-25 16:52] rdstern commented on #4944
@shadrackkibet as far as I can judge the layout seems fine.  We have elsewhere got, for example Describe > One Variable > Summarise and then Describe > One Variable > Graph underneath which is the same structure that you are proposing.  That might point towards the dialogue being a bit more general, in which case the Taylor might be a button.  It might then be Taylor and Other even.  For now I am

[2020-06-26 06:51] rdstern opened #5862 "Add the segmented package?"
This takes an ordinary model - usually from lm or glm and assesses whether there are breakpoints that could improve the model.  This generalises the simple broken-stick method we have just added to the Model > Fit > 2 Variable dialogue.

All the functions either start with an "ordinary" model or with a segmented model.  So it fits well in either the Compare Models or Use model.  Perhaps it is some

[2020-06-26 10:06] lilyclements opened #5864 "Fixes required to the Import Dataset dialog"
There are a few minor code changes we came across when redesigning the dialog

1. Under "Excel Options" there is a checkbox titled `ucrChkRange`. This currently is not referred to in the VB code, meaning that it is still called "Checkbox1". When this is checked, the `ucrInputTextTo` and `ucrInputTextFrom` should be visible (otherwise they should not be visible). These has labels attached to them -

[2020-06-26 13:25] lilyclements opened #5866 "Bug in ucrSave - distance too far between the text and receiver"
The spacing between the text and the receiver in the ucrSave is sometimes too far.

This seems to occur depending on the order things are coded in the dialog

To yield the bug:
[code]

Switching the first two lines also gives the bug. Or this also gives the bug:

[code]

But if you instead run in the following order then the bug does not happen:

[code]

I am not sure why this is, and there is the

[2020-06-27 16:24] shadrackkibet opened #5868 "Redo from the script window"
This might be a duplicate issue.

In the script window you are allowed to undo. I find it useful to be able to redo as well. This feature can be added on the right click and also enable the shortcut to work, In Rstudio it is **(ctrl+shift+Z)** and I think in  most softwares

[2020-06-28 11:08] rdstern opened #5869 "Convert factor to Logical gives an error"
I think this is all linked to our use of labelled data?

The example I found was with the Dodoma data in the R-Instat climatic library.  I made a logical variable as in (tmax > 29).  Saved into tmax29.  Then I duplicated the variable into a factor with 2 levels.  This was called tmax29F.  All was fine.

Then I tried to make it into a logical variable again.

a) Using Prepare > Data Frame > Convert

[2020-06-29 12:19] lilyclements commented on #5833
Have started work on this, however, I have some questions

1.  Would you want this written with the `instat_calculation` system? Otherwise is `tidyverse` okay?
2. Can I just clarify that "Summary" gives summaries of missing values (number and percentage and complete years). What does "Details" count?
3. For `Summary = TRUE`, what would the `End` argument do?

[2020-06-29 12:36] #5762 closed

[2020-06-29 13:16] shadrackkibet opened #5870 "Scatterplot dialog"
The save control seems to overlap with the label receiver. Should be reduced in size? See below

![image](https://user-images.githubusercontent.com/26301973/86010199-bc0fdf80-ba23-11ea-9d9f-e1e9cef94527.png)

[2020-06-29 13:45] shadrackkibet opened #5871 "Three variable frequencies design"
This dialog is unnecessarily wide when **Both** option is selected. I suggest the Graph Frequencies options be moved so that the dialog width is maintained when you are in any of the options at the top.

![image](https://user-images.githubusercontent.com/26301973/86013119-76edac80-ba27-11ea-9483-de5f11b3f7c4.png)

[2020-06-29 14:03] rdstern commented on #5788
@Patowhiz said (I think) that he is waiting for my response on this issue.  I am quite sure how to respond.  If changing what it doesn't recognise to format = "csv" will work as I think I understand you mean, then that would be good.  Of course it isn't csv here - it has spaces between variables I think.  I assume that still works for this file.

[2020-06-29 14:10] Patowhiz commented on #5788
Thank you for the feedback @rdstern. Will solve this in a more general manner.

[2020-06-29 14:12] rdstern commented on #5833
@dannyparsons I can't answer the first question - could you advise on

"Would you want this written with the instat_`calculation system`? Otherwise is `tidyverse `okay?"

Yes, when Summary is selected, then it gives just the first table above.

2. If Details is selected, then it gives the further summaries, shown in the tables below the Summaries table.  Which ones would depend on what else is cho

[2020-06-29 21:17] rdstern commented on #5833
Danny's answer was first to "simply" program in R - so presumably using tidyverse.  Then it can ba adapted for R-Instat.

[2020-06-29 23:43] Patowhiz opened #5872 "UcrInput Click Event"
**Is your feature request related to a problem? Please describe.**
Some dialogs like `dlgExportRObjects` , `dlgExportRWorkSpace` etc are currently listening to click events of type `ucrInput` control. Currently this event is not being raised because it doesn't exist. The only way to concretely listen for the event is by accessing their inner controls and listening for their click event.

For insta

[2020-06-30 04:40] Patowhiz commented on #5789
I can work on this once PR #5738 is merged.

[2020-06-30 04:47] rdstern commented on #5789
Great - thanks @Patowhiz

[2020-06-30 04:53] Patowhiz commented on #5618
@rdstern was this fixed? I can see @Wycklife mentioned this in his PR #5750. If it was fixed then I suggest closing the issue

[2020-06-30 05:00] Patowhiz commented on #5612
@Wycklife is now working on this.

[2020-06-30 05:18] Patowhiz commented on #5596
@rdstern yes we can have a similar "examples" functions like in the data frame dialog. I suggest we have the examples button just above the combobox to be consistent with the data frame dialog and also future dialogs that may need this. I'm have no reservations with having it in another place though.

Please share some of the examples that you have.

![dlgEnter](https://user-images.githubuserconte

[2020-06-30 05:19] rdstern commented on #5618
@Patowhiz happy for you to do this.

From a quick check it looks as though the simple first issue is fixed - the controls are wider.  But it still ignores the filter.  I tried with the (usual) survey data from the library and filtered so the first visible row was case 11.  It still deleted the first 2 rows in the data frame, even though they were not visible.

I am not sure what should be done.  I

[2020-06-30 05:30] rdstern commented on #5596
@Patowhiz happy to have you add this.  Could you move the Show Arguments over a little and put it at the same level to the right of that?

[2020-06-30 05:31] Patowhiz commented on #5590
@rdstern you last issue can easily be solved by setting an allowable limit to the number of dataframes selectable. @Wycklife I can work on this if you are yet to start work on it.

[2020-06-30 05:35] rdstern commented on #5590
@Patowhiz that would be great.

[2020-06-30 05:41] Patowhiz commented on #5589
@rdstern were the 2 items fixed? I have a PR touching on these 2 dialogs. I could add in the changes if you were not satisfied with the last PR in regards to this issue. I noticed the file name still starts much further, is the current position of the label "OK" with you?

[2020-06-30 05:46] rdstern commented on #5589
@Patowhiz please could you check and complete if necessary.

[2020-06-30 05:49] Patowhiz commented on #5572
@rdstern I can see there is a merged PR #5572 done by @Ivanluv that mentions this issue. Was this issue solved? If not is it just 1 of the items or all?

[2020-06-30 05:52] rdstern commented on #5572
@rdstern can you check, or perhaps @Ivanluv can do so?

[2020-06-30 05:58] Patowhiz commented on #5530
@rdstern @Wycklife were these issues fixed? If so then I think this issue can now be close

[2020-06-30 06:02] Patowhiz commented on #5496
I'm now commencing work on this integration

[2020-06-30 06:05] Patowhiz commented on #5407
@rdstern based on my comments above I suggest that this issue be closed.

[2020-06-30 06:11] rdstern commented on #5407
ok - closing!

[2020-06-30 06:11] #5407 closed

[2020-06-30 06:20] Patowhiz commented on #5011
@rdstern apart from the date(which I'm not sure on how that can be solved in this dialog), the rest of the issue was solved.

![dlDuplicate](https://user-images.githubusercontent.com/21179007/86090570-fd030500-bab2-11ea-9ff1-5efa0e72228c.JPG)

[2020-06-30 06:31] rdstern commented on #5011
@Patowhiz I agree that this can be closed.

[2020-06-30 06:31] #5011 closed

[2020-06-30 08:56] Ivanluv commented on #5572
There issues above were solved.However, @dannyparsons suggested that the R code needed further changes to allow it to work for non-climatic data

[2020-06-30 14:51] Patowhiz commented on #5596
Yes I can do that. Will have this ready for your review as soon as you share the examples.

[2020-07-01 00:09] Patowhiz commented on #5649
As suggested by @lloyddewit I'll create a separate issue explaining the possible extra features from which  this conversation thread can continue. So for now, the PR solves importing of datasets with multiple data frames. I'll leave the code I added for the extra features though.

[2020-07-01 01:36] Patowhiz commented on #5618
@rdstern I like your suggestion in item (2). Currently, there is no clear way of letting the user know what he/she is about to delete. We could have the 2 options when a filter is detected. Should I go ahead and do it that way? Of course the easier and quicker alternative is to disable the dialog when filter is detected as you have suggested above. I'm happy to do either.

[2020-07-01 09:20] Wycklife commented on #5530
@Patowhiz @shadrackkibet These were fixed, it should be closed.

[2020-07-01 09:22] #5530 closed

[2020-07-01 09:36] #5815 closed

[2020-07-01 16:56] Patowhiz opened #5876 "Popup Component"
Currently we have code that is responsible for creating a custom "popup" in different dialogs and controls. As discussed with @dannyparsons there's need to have this code in a central place which will help in future maintenance, enhancement and avoid repetition of code as more dialogs continue taking advantage of this feature.

Check screenshots of the popups below
![popup1](https://user-images.gi

[2020-07-02 02:59] Patowhiz commented on #5596
@rdstern that is the new design. Awaiting the sample commands.

![dlgEnter](https://user-images.githubusercontent.com/21179007/86311513-3f4e5280-bc29-11ea-96b6-cc8d6ca7702f.png)

[2020-07-02 07:26] shadrackkibet commented on #5810
@rdstern I have taken over this to tidy up code then I will hand over to @Wycklife to proceed with the addition of above tests.

[2020-07-02 10:49] rdstern commented on #5596
@Patowhiz that is great.  I am looking at it now.  I am finding other small items I would like to change.  Happy for you to complete all this, or for Wyclife to do some of the tasks if that fits.  Then I would like @lilyclements to review, because it is a good example where the layout can be really helpful and she is great on this type of detail.

a) I would prefer the Examples button after the Sh

[2020-07-02 11:33] Patowhiz commented on #5596
Most of the items stated are relatively easy. I'm happy to have @Wycklife take over once PR #5878 is merged.  I took up this purposely to demonstrate the custom popup .component.  @Wycklife if you already have a lot I can still proceed and do the new items raised

[2020-07-02 11:39] rdstern commented on #5596
Thanks @Patowhiz I support your suggestion for @Wycklife to do a "take-over" as soon as you have done the bits that are in your domain.  He has been very efficient on other dialogues involving keyboards and it would be good for him to be comfortable in the corresponding R commands here.

[2020-07-02 13:34] lilyclements commented on #5833
Great, thank you for clarifying. I have got it to work for summary and details (year, month, day - not hours, minutes, seconds).
It's currently in a function but only works for one element, I'm unsure how to get it to work for multiple but can look into this later.

I am a little unclear on the `order` option of `TRUE` and `FALSE`. What should these options alter?

Thanks

[2020-07-03 10:14] lilyclements commented on #5869
So I've had a little look and to simplify this problem I tend to get this when converting any factor to a logical variable (via this dialog, at least).

I am not confident with the `data_object_R6` file, however, I assume the change should be made on line 1209:

[code]

Base-R will convert a factor to a logical if that factor has levels "TRUE/FALSE". Otherwise, it makes them missing (see below).
W

[2020-07-03 10:26] lilyclements opened #5879 "File > Export dialogs. Minor tidy up."
The File > Export dialogs need a minor tidy:

* The save label is far from the receiver and too close to the edge
* The receiver can be lined up with the comment text box.

![image](https://user-images.githubusercontent.com/21180424/86454044-9da52f00-bd16-11ea-9adc-a8224d8693f4.png)

![image](https://user-images.githubusercontent.com/21180424/86454160-c1687500-bd16-11ea-972a-2579187838c6.png)

![i

[2020-07-06 08:44] #5816 closed

[2020-07-07 06:41] rdstern opened #5881 "More options on extremes for peaks"
This should involve Caleb once he can be assigned issues.

He has a Word document which is attached.
[extremes-dialogue (1).docx](https://github.com/africanmathsinitiative/R-Instat/files/4880460/extremes-dialogue.1.docx)

It includes a proposed addition to the **_Climatic > Prepare > Extremes_** dialogue at the end of the document.  That is a good start, but it needs some editing.  I propose the f

[2020-07-07 06:49] Ivanluv commented on #5871
@africanmathsinitiative/climsoft-developers  am taking this up

[2020-07-07 13:03] #5872 closed

[2020-07-07 17:08] rdstern commented on #5823
There are two small(?) tasks that still need to be done on this tab with the dates.  These are for the x-axis and also y-axis.
1) As mentioned above the tab does not "remember" the setting as date, but returns to continuous.
2) You can set the minimum and maximum dates, in the dialogue.  The initial value is currently the current date.  Instead, once a dataset (or variable has been chosen it would

[2020-07-07 20:23] rdstern opened #5884 "Add to the graph option on the toolbar"
We now have a good example of a non-ggplot graph in R-Instat.  (This is a Taylor plot in the Climatic > Prepare menuIt would be good for this to display "In R window".  This can be done via the Tools > Options > Graph Options menu.

But this is tedious.  It would be good if it could be an option on the toolbar and the graph icon does just what is needed for a ggplot graph.  Could it also do it for

[2020-07-07 20:25] rdstern commented on #5868
Good idea.  I hope this will be a very quick feature for @Patowhiz to do.

[2020-07-08 10:25] #4944 closed

[2020-07-08 10:31] lloyddewit opened #5885 "Taylor diagram improvements"
Related to Issue #4944. The initial implementation of  Taylor diagrams was done in PR #5867. This PR was merged but some small issues remain (see comments from @rdstern below).

Minor points: Label should be Estimated, and not Estimate.
I wonder about changing both the position and label for the first receiver. Perhaps it could become Facet (Station): and also perhaps moved to be below the Estimat

[2020-07-08 16:40] rdstern opened #5886 "Adding gev and gpd to the distributions in R-Instat"
Ibrahim has also been working on this topic, but he is not yet on github.
There is a list of distributions that is used in at least 3 dialogues.  This does not (yet) include the extreme value distributions and they should be added.  The same list is used in:
a) Model > Probability Distributions > Show Probabilities
b) Model > Probability Distributions > Random Samples
c) Model > Fit Model > One Va

[2020-07-09 08:24] #5843 closed

[2020-07-09 08:57] #5266 closed

[2020-07-09 08:58] rdstern opened #5887 "Adding an extreme value dialogue"
This is already provided under Climatic > Model > Extremes.

But that dialogue is simply copied from the old Instat and almost certainly the code and dialogue need to be very different.

This will almost certainly use the fevd function from the extRemes package.  It allows trends etc and so may be "Interesting" to construct.
We may also call other functions to use the resulting object, in the same

[2020-07-09 11:01] rdstern opened #5888 "Graphs to compare station and satellite data"
In comparing station data with satellite (or reanalysis) data there are now many numerical methods of comparison.  It is very important to also have a variety of graphical ways to complement the numerical summaries.

We have already added the Taylor diagram.  This should be used and interpreted.  The Verification package and the hydroGOF package also include a variety of graphs.  What are they and

[2020-07-09 11:12] lilyclements commented on #5870
Working on this design now

[2020-07-09 15:13] rdstern opened #5890 "Small chenges to Frm main"
The 2 dialogues Prepare > Data Frame > Hide/Show Columns and Prepare > Data Objects > Hide Dataframes are slightly inconsistent and Dataframes should become Data Frames.  So it should be Hide/Show Data Frame(s).

There may be other inconsistencies like this.

When frm main is changed next, then this change could be included.  Or perhaps now?

[2020-07-09 15:55] rdstern commented on #5831
I now have some different points, while we are here!
a) the dialogue is still quite wide.  Is this needed?
b) More important and I will check with @dannyparsons is the name of the dialogue and also the R-code.  It currently uses melt and unstack uses the opposite.  This has now (I think) changed to pivot_longer and pivot_wider.

We also used a different function when you are stacking multiple sets

[2020-07-09 18:45] rdstern commented on #5810
I am looking at the dialogue so far.
a) The null hypothesis on testing is a textbox not an up-down.  It can take only numeric values and they could be negative.
b) You have misunderstood the discussion and the Hypothesis is not needed.  Put the default values into the null-hypothesis.  The third control is not needed.
c) Add the separator to the categories in the testing as mentioned in the issue

[2020-07-09 20:55] rdstern commented on #5461
The snht package also includes pairwisesnht where there are multiple stations.  I suggest that (at least initially, and possibly all we need) could be to add this facility to the current dialogue for both the neighbouring and multiple sites in the following ways:
a) If there is a single neighbouring site it will often be the satellite estimate, and hence be another variable.  The dialogue needs th

[2020-07-10 08:24] rdstern opened #5892 "Dialogue to traqnsfer and import satellite and reanalysis data"
This is almost certainly a new dialogue, but it may also influence (and be influenced by the importing of netcdf files dialogue.
It is designed to make it easy to import historical records from satellite (and possibly also reanalysis data.  Initially it may be limited to the IRI data, but later it would expand to include other data sources.
It would be able:
a) To choose a single point, a set of p

[2020-07-10 08:29] rdstern opened #5893 "Small edit when using Filter to get a Subset"
@shadrackkibet is making a series of improvements to the Filter dialogue/system.

One small additional point is when you use the Filter dialogue to get a subset.  The row variable is then still in red, i.e. as though a filter is applied.  I suggest the filter should be removed.

[2020-07-10 08:44] Patowhiz commented on #5868
@rdstern I thought so too, after doing research online, VB.NET doesn't offer any direct redo for the textbox control. Apparently you can only use the same undo functionality to toggle between undo and redo.  But with a custom work around, this is doable

[2020-07-10 09:27] #5871 closed

[2020-07-10 09:30] #5846 closed

[2020-07-10 10:06] #5870 closed

[2020-07-10 13:36] shadrackkibet commented on #5799
I would like to reopen this but I can't since I don't have rights to reopen! @rdstern @lloyddewit, please reopen.

@Ivanluv The dialog design is not great. I should have checked this by pulling your branch, that was my fault I didn't review properly! Perhaps @lilyclements can help to sort out this.

1)The radio buttons at the top still overlap. Try moving from one radio button to another to see it

[2020-07-10 13:46] lilyclements commented on #5799
Happy to do this. In the case of Save Graph, this seems to be a larger issue on the whole (see #5866) however there is a way around it in the dialog code.

[2020-07-11 07:43] lloyddewit commented on #5799
@shadrackkibet I opened the issue again as you requested

[2020-07-11 08:28] #5799 closed

[2020-07-11 09:07] #5879 closed

[2020-07-11 12:10] shadrackkibet opened #5899 "Inconsistencies graphics dialogs - Plot Options or Options"
@rdstern is there a reason why the button(Options) in Two variable Graph and Cumulative/Exceedance dialogs is different from that in other graphics dialogs under Describe>Specific, there it is called **Plot Options**. I claim these should be consistent because both buttons call the same sub dialog. I, therefore, suggest a change of the two-variable graph and Cumulative/Exceedance button to **Plot

[2020-07-12 10:40] shadrackkibet commented on #5868
On a side note, I also note that it will be much convenient in future to make some items on the rights click as icons on top perhaps just in the script window? this might also apply to the log window items.

[2020-07-12 10:59] Patowhiz commented on #5868
@shadrackkibet that's a good suggestion that I think is worth creating an issue for.

[2020-07-12 13:43] shadrackkibet commented on #5886
@IbrahimDanDije Here is an issue to attach your findings.

[2020-07-12 13:53] shadrackkibet commented on #5887
@Comfort123977 @Cal-Insta I am just about to start looking into this. What are your initial reactions on this subject?

[2020-07-12 14:28] Comfort123977 commented on #5887
Caleb and I are currently working on the new layout, which we intend to upload later.

[2020-07-13 14:48] #5342 closed

[2020-07-14 08:53] lilyclements commented on #5833
I'm still working on the code, however, it can be looked at for now (I hope!)

To do on the code:
* Currently only works for one element - need to implement it so that it works for more.
* Sort "Order" option - currently only works for one element, so this has not been set up
* Currently the Hour/Minute/Second options are not set up - @rdstern do you have a data set you could point me to so I can

[2020-07-14 09:17] lilyclements commented on #5833
![IMG_20200714_094813](https://user-images.githubusercontent.com/21180424/87408029-d668c200-c5ba-11ea-86dc-80a5fd3a6c05.jpg)

Here is a design - this is for when summary is selected on the top radio buttons. Presumably the current set up is for when graph is selected?
The bits in blue are only visible when certain check boxes are selected. Namely, the omit start and end options are visible when "S

[2020-07-15 07:07] shadrackkibet opened #5901 "Displaying a filter in operation"
_Originally posted by @rdstern in https://github.com/africanmathsinitiative/R-Instat/pull/5860#issuecomment-658311939_

@rdstern I suggest adding this as part of the label below the data view window which is easy to do.

[2020-07-16 06:35] rdstern opened #5903 "Additions to the display daily data graph"
These are suggestions to go on the main dialogue:

1. Have a group box with the label Layout (Facets): Rows
I hope this can work and is easy to produce.  I suggest 5 radio-button options:
a) `Default`  (that is as now with elements in rows and Stations in columns)
b) `All (Grouped by Element) `(This is then a single column.  It groups the variables by Element)
c) `All (Grouped by Station) `
d) `St

[2020-07-17 19:13] lloyddewit opened #5905 "Reduce size of R-Instat GitHub repository from 4.2 GB to <1 GB"
The current R-Instat GitHub repository (repo) is currently around 4.2 GB. This means that the repo can only be reliably cloned if the developer has a good Internet connection. Some of the interns are currently unable to clone the repo.

The repo is currently also too large to clone internally within GitHub. This is because GitHub will not clone a repo that has files larger than 100 MB. The R-Insta

[2020-07-18 09:18] shadrackkibet opened #5906 "Adding identical button into the calculator keyboard"
I give a case example where I had to use `identical` function. When infilling missing values using the new Climatic>Check Data>Fill Missing values dialog I had to quickly check if two columns are the same to see if infilling by factors, using different methods etc are really different. @rdstern might have other examples where this is useful.

I, therefore, suggest adding this as a button into the

[2020-07-18 09:47] shadrackkibet opened #5907 "Improving the layout: Spacing, aligning etc Enter dialog"
The spacing of buttons in the keyboard is not consistent between the two dialogs below. The calculator looks better, I therefore suggest improvement of the layout of the Enter dialog as follows; some of these might apply to the calculator.

- [ ] The buttons should be close to each other like in the calculator
- [ ] The save control should be close to its label
- [ ] Some labels should have colons

[2020-07-18 10:22] rdstern commented on #5906
@shadrackkibet on the 2 minor points I agree:
a) There should be a colon after Expression in the calculator
b) The Try (to me) should be read only!

c) Your main issue is that you would like an Identical, or Compare or Differences function in the calculator.  If so, then I suggest it could go better in the Summary keyboard if it produces a single value.  If it produces a True False variable then i

[2020-07-18 12:49] #5461 closed

[2020-07-18 16:45] Wycklife commented on #5907
@shadrackkibet @rdstern Is this still under discussion or should be taken up?

[2020-07-18 17:33] rdstern commented on #5907
There is more than the above to do on the Enter dialogue.  @Patowhiz has started work on improving the Enter dialogue with the idea that you will continue.  I am keen that the basic keyboard from the calculate also be used entirely (partly for consistency) in Enter.  And there are other changes that are additional to those above in #5596.

[2020-07-22 12:34] lilyclements opened #5909 "dlgVisualiseData - Improvements."
The following improvements for dlgVisualiseData were highlighted by @rdstern in #5898

1. The Guess option could be very useful if the colours were different - so if character variables were clearer: They are usually just an odd observation. I wonder if they could give % character as the other graph gives % missing?

2. Changing the palette helps a bit. I suggest for us it would be much clearer if

[2020-07-22 12:37] lilyclements commented on #5909
To 1 -
Since the plots are a ggplot we can alter ourselves to add things. For example, if we wanted percentage missing in the `vis_guess` plot

[code]

You mention about getting percentage characters in this plot. There is a way to do this, however, it involves dissecting their `vis_guess` function to create quite a long bit of code. I'm not sure if it is too useful, but here is how the Uganda dat

[2020-07-24 08:33] Cal-Insta opened #5910 "Testing Taylor diagram"
**Describe the bug**
In comparing the newly created Taylor diagrams in R-Instat, The Saltpond dataset which is merged dataset containing sunshine data from a station and also data from a satellite were used in exploring the diagrams as a graphical method of comparing the satellite and satellite data.

The data was filtered and missing values were removed from the dataset. The Taylor diagram drawn

[2020-07-24 08:33] rdstern opened #5911 "Periodic splines for our Markov chain fitting?"
@dannyparsons and @jkmusyoka I keep re-discovering periodic splines that I suggest we should consider as an alternative to the current circular functions for our Markov chain modelling.

a) There is a package called splines, with a function periodicSpline, which sounds what we need.  Unfortunately it has been removed from CRAN.  I assume we could still extract the function from there if needed.  (

[2020-07-24 09:28] shadrackkibet commented on #5910
@Cal-Insta thanks for reporting this bug. Really good that you are testing this dialog and reporting issues you find. Please keep testing and reporting any bugs.

In trying to investigate the source of the bug, I didn't replicate the bug you got above. I did import the data directly as `.xlsx` into R-Instat. First I notice you have data for two stations (Salpond and Tamale) so that should be taken

[2020-07-24 10:29] Cal-Insta commented on #5910
@shadrackkibet thank you for the clarification and having a closer look at it. I figured the problem was from leaving the station receiver empty and not an issue with the dialogue. The oversight was not seeing the dataset contained multiple stations.
I am now clearly satisfied with the diagrams and I believe this issue can be closed.

[2020-07-24 10:33] #5910 closed

[2020-07-26 14:27] rdstern commented on #5635
I would like to make adding time series to R-Instat into a high priority now.  This would go onto the new **_Structured_** menu in R-Instat.  I suggest this could be relatively easy, after the initial step, which is the define dialogue.  The basic time series structure in R is ts, while zoo is a bit more general.  But I suggest we implement tsibbles as in the tsibble package.

This makes a tibble

[2020-07-26 15:52] rdstern commented on #5635
This menu has become important for at least 2 reasons.  The first is general, that climatic data are time series, hence analysts need to understand the concepts of time series analysis.  The second is that an important topic in our work is the infilling of missing data in the series.  And a number of the functions for this infilling build on the time-series models fitted to the data.  This is sort

[2020-07-26 21:00] Comfort123977 commented on #5887
@shadrackkibet Caleb and I have come up with our initial thought on how the dialogue could look like.

The dialogue would contain three main controls or fitting options. The **Distributions** to be considered, the **Estimation methods** and the **Parameter specification** to allow for trends. Each of these options would take a group-box.

1. The first group box would contain a check-box for select

[2020-07-26 21:05] Cal-Insta commented on #5887
@shadrackkibet, our initial thoughts on how the dialogue could appear in the shown in the image displayed below. We can make time to discuss more on specifications. Thank you.
![fit_cooo](https://user-images.githubusercontent.com/66616144/88489421-100ed500-cf8c-11ea-90a7-9e3aa5f09782.png)

[2020-07-28 17:56] rdstern commented on #5887
@Cal-Insta and @Comfort123977 thank you for your suggestions above.  Please have a look at where @Ivanluv has got to, on the possible dialogue.  He has chosen to put some of your suggestions on buttons.  Also (in the current version) his checkbox that says Save Graph is actually Save Model.  He also has a combo control for the distribution.
One difference is that he doesn't yet have a possibility

[2020-07-31 10:19] lloyddewit commented on #5838
Note: There is an interesting discussion on the pros and cons of this approach in PR #5875.

[2020-08-05 16:45] rdstern commented on #5317
@dannyparsons I think this is the issue that discusses the vexed question of the start and end of the rains producing a logical column for censoring, i.e. when the event doesn't happen.
I understood the change in the code that is needed should be easier once dplyr had implemented something in Version 0.9 and they are past that version now.
This may now be a simple item to fix.  I am hoping that @l

[2020-08-05 17:30] rdstern commented on #5903
Following suggestions by @shadrackkibet the R patchwork package looks useful to add to R-Instat.  I think this enables all we need - that is if I have understood @shadrackkibet suggestions properly.  It also looks useful more generally possibly to enhance our existing Describe > Combine Graphs dialogue.

For this dialogue  I suggest all that is needed can be accomplished through 2 controls on the

[2020-08-06 06:48] #5792 closed

[2020-08-06 09:01] shadrackkibet commented on #5903
@rdstern using your initial suggestions above we have simplified this further while trying to achieve the flexibility required. We suggest the following:

- We change **Free y-axis** checkbox into a combobox with the label **Scale:**. Inside the Combo box we have three options, `Free_y, Free_x, Free`. By default `Free_y`.  Now we use `facet_wrap` which allows free scales.
- A combo box with the la

[2020-08-06 09:23] shadrackkibet commented on #5903
I also suggest changing the colour of the rug plot to red to be consistent with inventory plot.

[2020-08-06 09:47] rdstern commented on #5903
Sounds good.
I did think the rugplot looked clear when black.  Happy to try red for consistency.  I also want to improve the inventory plot later.
Could there be a combobox for the rugplot colour?

[2020-08-06 09:49] shadrackkibet commented on #5903
Yes, we will add that.

[2020-08-06 17:23] fran2or opened #5919 "Frequency of Specific Number of Dry Days Dialogue in R-Instat"
**Is your feature request related to a problem? Please describe.**
Work with some colleagues in Haiti have given rise to this problem.  In addition to having the feature of the longest dry spell which works well for them, they will also want a feature in R-Instat that can easily help them produce yearly  information of the frequency of a specific number of dry days within a period of every year av

[2020-08-06 18:09] shadrackkibet commented on #5919
@fran2or thanks for the feature request. A workaround is to use the **Climatic>Prepare>Climatic Summaries**. Top right option **Within Year** should be able to do this. Under summaries use **More Tab**(see below). You can change the threshold (7,10,15 etc) for the counts. Please make sure you rename a column after each summary is produced to avoid overriding the summary. Once you have your summari

[2020-08-06 21:20] rdstern commented on #5919
@fran2or very good idea - though I still think the results are difficult to use.  But as @shadrackkibet says, we should have them and it should be in the spells dialogue.  It is the parallel of the same idea in the extremes dialogue.  It should also be relatively easy to add.  I suggest our usual buttons, where the existing dialogue is the **_Maximum_** button and there is a second button with the

[2020-08-07 09:25] dannyparsons commented on #5919
I don't think this can quite be done in the way @shadrackkibet presents since it first requires calculating all the spells within the period and then a more complex filter. I like the filter method @rdstern mentions which would be simple to implement as an option to the spells dialogs.

@fran2or I think it can be done with a combination of dialogs in R-Instat currently. If you need to do this now

[2020-08-10 10:15] lilyclements commented on #5317
I think I am up to speed now. What is the change that was made in dplyr v0.9 that is relevant for updating this status summary to allow for TRUE/FALSE/NA?

Currently we run the following, am I right in assuming the change would be with this line?
`start_of_rains_status <- instat_calculation$new(type="summary", function_exp="n() > 0", result_name="start_rain_status", save=2)`

[2020-08-10 10:24] lilyclements opened #5925 "Start of Rains - OK enabled bug"
**Describe the bug**
I came across a minor bug in the "start of rains" dialog where I think OK is enabled in a situation which it should not be. However, I wanted to check in case the issue is instead with the code.

**To Reproduce**
1. Import the Ghana data,
2. Open the Start of Rains dialog, the "station", "date", and "rain" columns are filled.
3. Click to display "Day of Year" and "Date"
4. Cli

[2020-08-10 10:55] dannyparsons commented on #5317
The changes in `dplyr` relate to new parameters to deal with empty factor levels when doing `group_by` and/or `filter`. Our problem was that when all the days in a year were removed by the filter because the condition wasn't met that year was left out of the summary output because it became an empty level. So the year is either missing, or if merged with an existing yearly data frame the value for

[2020-08-10 11:07] lilyclements commented on #5925
@rdstern another question about the OK enabling in this dialog.
Currently OK isn't enabled if "Day of Year" is not selected from the "Display" option box (even if other check boxes are selected).
Is this intentional? If I change the code, it runs fine if "Day of Year" is not checked and instead another checkbox in the "Display Options" is selected.

[2020-08-10 11:17] dannyparsons commented on #5919
Francis asked how to do this in the current version so here's what I did using the Ghana data in the library:

1. Climatic > Prepare > Transform. Choose Spells option, condition `<= 0.85` and check Calculate by year. This gives a column of spell count but we want to filter for only the end of the spell to get all the lengths. As Roger mentioned this is when the next spell value is 0.
2. Prepare >

[2020-08-10 16:27] lilyclements commented on #5317
So I think that the argument we are interested in here is the `.drop = FALSE` in `group_by()`.
The issue with using `.preserve()` is that there are future `group_by()` arguments which "remove" the preserved items.

I'm using the Rwanda daily data since it has stations and all columns already set up. Note that under these conditions, 2017 Gisenyi Aero is "censored" (so I've filtered to after 2010 t

[2020-08-11 10:55] lilyclements commented on #5317
I have a small question to clarify:

1. If the `start_rain` column is missing due to no planting date fitting the criteria given, then should the `start_status` be `FALSE`?
2. If the `start_rain` column is missing due to missing values in the rain column, should the `start_status` value be missing as well? Currently this is given as `TRUE` in R-Instat.
If this should not be missing, then when shou

[2020-08-11 18:26] lilyclements commented on #5317
Three comments on using `.drop = FALSE`:

1. `.preserve` is only relevant when the data is grouped.
2. From what I can tell, `.preserve` is further only relevant if `.drop = TRUE`.
When `.drop = FALSE`, `.preserve` does not change(?):

![117645677_652096775664845_7623277145669485512_n](https://user-images.githubusercontent.com/21180424/89929921-d2ec4900-dc01-11ea-81fe-20ba140b4171.jpg)

3. I've fo

[2020-08-12 07:21] #5064 closed

[2020-08-12 08:37] #5779 closed

[2020-08-12 10:09] lilyclements commented on #5317
I'll give a solution to "3." above, and then a summary of everything so far.

However, as is often the case, a solution to "3." above brings a new set of problems.
If the variables that we group by are factors (that is, station and year are factors) then 2017 Gisenyi is present in the final summary, even if it were filtered out before running `.drop = FALSE`.
However, I don't if converting the yea

[2020-08-13 08:42] Comfort123977 commented on #5881
![Pics](https://user-images.githubusercontent.com/58643069/90112879-7c3d5700-dd48-11ea-93da-48548c36dd9d.jpg)

From the data frame choose a variable or an element to which you want to investigate threshold. The station, Date, Year and Day of Year can be automatically filled if the data is already declared as climatic.
**Investigate Thresholds**
The investigate threshold radio button is chosen, we

[2020-08-13 08:46] Cal-Insta commented on #5881
Attached is also the new document using the extRemes package for mrl, threshrange plots,
[peaks.pdf](https://github.com/africanmathsinitiative/R-Instat/files/5068026/peaks.pdf)
 and declustering.

[2020-08-13 14:51] lilyclements commented on #5317
Shifting the `group_by` to run before filtering allows for the `.preserve` to work how we expect it to -

[code]

Then the output is -

[code]

[2020-08-14 11:37] dannyparsons commented on #5317
Great so the next step is the add the option in our summary system for `.preserve` (and `.drop`) parameters. We also need to slightly modify how the start of rains calculation is done so that the `group_by` is done before.

[2020-08-14 11:43] lilyclements commented on #5833
As far as I'm aware, the inventory code is written and working. It is currently written using code in R - a copy of the code is given [here](https://github.com/africanmathsinitiative/R-Instat/files/5074368/Inventory.Code.0.3.zip)

[2020-08-15 09:21] rdstern opened #5928 "Graphical comparison of model and observed data"
There seems to be a book that explains the analyses using the openair package. [ Chapter 19](https://bookdown.org/david_carslaw/openair/sec-conditionalQuantile.html) considers conditional quantiles and they seem to be useful?

Let me put this into context.
We are usually comparing daily values and the comparisons may be for one station or for a number of stations.

a) One type of plot keeps the ti

[2020-08-15 15:19] Patowhiz commented on #5146
From the authors, for this package to be use, there are some packages that will be needed to be shipped with R_instat

@rdstern @dannyparsons @lloyddewit  do we want to make these packages available in R-Instat, or would you rather prefer this implemented in away that the dialog would require internet on the first run?

[2020-08-17 07:24] lloyddewit commented on #5728
In PR #5738 @Patowhix reported:

For more details, please see @Patowhiz 's screendumps, added 15 Aug 2020, in PR #5738.

[2020-08-17 09:26] #5791 closed

[2020-08-17 09:42] rdstern opened #5929 "Small change in Climatic > Check Data > Inventory"
In this dialogue I usually include all the elements in the file.  Most of them are defined as climatic elements in the Define > Climatic dialogue.  Please could the default be to include them by default in the dialogue.

[2020-08-17 09:49] rdstern opened #5930 "Small change in Climatic > Check Data > QC temperatures"
This dialogue works well.  But it is primarily intended for Tmax and Tmin.  These could be included, by default when they have been defined in Climatic > Define.  (The rainfall is included automatically in the companion dialogue to QC rainfall.)

[2020-08-17 09:53] rdstern opened #5931 "Small change in Climatic > PICSA > Crops"
This dialogue works well.
The one small problem is with the End of the Rains control.  It doesn't "remember" the previous setting.  The Start of the rains does remember, so please could this be done in the same way for the end of the rains.

[2020-08-17 10:43] #5868 closed

[2020-08-17 20:20] rdstern commented on #5596
Given the same basic keyboard as the calculator, I suggest 16 keys on the extra keyboard.  10 of these are already there from the existing Enter keyboard:
1)` :`
2) E
3) c( )
4) NA
5) rep
6) seq
7) pi
8) LETTERS
9) letters
10) months (month.abb, or mon- on existing keyboard)
Then also
11) factor - key gives factor( )
12) date - key gives as.date(' ')
13) day - key gives 'day'
14) month - key gives

[2020-08-18 11:23] rdstern opened #5934 "Two minor changes in the Use Date dialogue"
@Ivanluv I hope these are both quick and easy to make.

1. The dialogue currently saves all the new variables at the end of the sheet.  Could this be changed to be just after the date variable.
2. The current order of the variables causes an unnecessary problem in the (later) define climatic data.  When the month is not January and two year variables are generated, then currently the factor variab

[2020-08-18 13:43] shadrackkibet commented on #5630
@rdstern  I think everything has been sorted out here. Can this be closed?

[2020-08-18 14:07] rdstern commented on #5630
I am happy for this to be closed.  It concerns the summary statistics used for verification and hence those that are in the verification and hydroGOF packages.

However, a small task I found recently, for @shadrackkibet or another of the AIMS interns is that the openair package seems to have a useful similar function, called modstats, and also possibly useful  references as follows:

[code]
We can

[2020-08-18 18:46] Cal-Insta opened #5937 "Use extreme model dialogue"
This issue is related to #5887. @rdstern suggests a second dialogue aside from the **Fit Extreme Model** to be created and named the **Use Extreme Model**. This is because many functions in the extRemes package use the model that has been fitted.

The dialogue would be an improvement of the **Model > Use model >Use model keyboard**. This issue suggests a possible layout or design for the **Use Ext

[2020-08-18 18:50] Comfort123977 commented on #5937
@rdstern Please find in the attached document the r-code for use extreme model and possible layout.
[use-extreme-model.pdf](https://github.com/africanmathsinitiative/R-Instat/files/5092269/use-extreme-model.pdf)

[2020-08-18 18:52] Cal-Insta commented on #5937
![use extreme model](https://user-images.githubusercontent.com/66616144/90553343-84f0bb80-e194-11ea-8c29-8792e274a117.jpg)

[2020-08-18 19:13] Comfort123977 commented on #5928
@Cal-Insta and @Comfort123977  have gone through some graphs using hydroGOF and openair. Please find attached a copy of the related document.
[Graphical Comparison.pdf](https://github.com/africanmathsinitiative/R-Instat/files/5092357/Graphical.Comparison.pdf)

[2020-08-18 19:27] Cal-Insta commented on #5928
@Comfort123977 and I have looked at some graphs in the hydroGOF package and openair package. In the hydroGOF package, we found the ggof plot (graphical goodness of fit) was interesting. There is also a plot2 function that gives a basic plot of the two-time series. There is the conditional quantile plot in the verification package but the conditional quantile plot in the openair package is more fle

[2020-08-19 07:00] #4800 closed

[2020-08-21 12:00] lilyclements opened #5939 "Changing data frames to tibbles"
Following a recent discussion, I have been looking into changing data frames to tibbles, and the impact this may have.

First I'll outline general issues seen, and then the problems found when I implemented it in R-Instat and ran through the "Prepare" menu.

**General Issues**
I have an R-file [here](https://github.com/africanmathsinitiative/R-Instat/files/5108652/Tibbles.vs.Data.Frames.zip) that

[2020-08-21 12:27] lilyclements opened #5940 "Add "stringdist" package into R-Instat"
When running `Prepare > Column: Text > Distance` the `stringdist` package isn't in R-Instat.

This should be added into the Rsetup.R file (most recent version is 0.9.6)

[2020-08-21 13:08] lilyclements opened #5942 "Some "Prepare" Menu dialogs that need clearing up."
I came across a couple of dialogs in the Prepare menu which need some minor changes.

1. Prepare > Check Data > Non-numeric cases
a) Usually the first letter of each word is capitalised in the title of the dialog. Further, the main form before clicking on this has a hyphen between "non" and "numeric"
b) The checkbox is too small so the words are cut out
c) The data frame selector is lower than the

[2020-08-22 10:33] rdstern opened #5944 "Missing value plots from imputeTS package"
The latest version of this package has added ggplot graphs for the missing values.  We should either add them to the existing missing dialogue, or add a new dialogue.  I think we could add them as (an) additional button to the existing dialogue.

The first is  `imputeTS::ggplot_na_distribution(Tmax,x_axis=date) `

Here is an example of the resulting graph:
![image](https://user-images.githubuserco

[2020-08-24 20:24] Wycklife commented on #5925
@rdstern Can this be taken up or is it still under discussion?

[2020-08-24 20:55] lilyclements commented on #5925
@Wycklife I've got the code with this fixed in a branch so was just waiting for confirmation before syncing and putting it in a PR.

[2020-08-25 06:45] #5890 closed

[2020-08-25 06:55] Wycklife commented on #5925
@lilyclements Okay, I wanted to pick it up but it's okay if you've fixed it. Thank you for letting me know.

[2020-08-25 18:12] rdstern opened #5947 "Problem with the quality contol for temperature dialogue"
This is the first time I have used this dialogue with multiple data frames.  My example is not so easy to reproduce, but @dannyparsons says there must be an obvious error.  Here is the R-code:

[code]
The dialogue was as follows, and please notice that the data frame was for the station called `ang`.  I had earleir used the dialogue with another sheet called `lic`  and the first line of the code a

[2020-08-26 07:19] #5899 closed

[2020-08-26 07:20] #5930 closed

[2020-08-26 09:41] shadrackkibet commented on #5947
This should be easy to fix. Just  ensure that the data frame is updated correctly here;
[code]

[2020-08-26 09:50] Wycklife commented on #5947
@shadrackkibet I'm on it now.

[2020-08-26 11:43] lilyclements commented on #5639
I had a little look at running `as_tsibble` through the calculator system in R-Instat.

I read time series data into R-Instat and created different time-index formats through the "Use Date" dialog to try out in the `index` parameter in the `as_tsibble` function.
There were not any problems from what I could see, however, perhaps there is more I should be looking at. This was to just create a time

[2020-08-26 12:27] rdstern commented on #5639
I respond to some of the points:
1) I like the idea of the Duplicates before the define.  Should we have the same Tidy and Examine menu (from climatic) first?  It includes the Duplicates dialogue.
2) Should we therefore also include the Dates dialogues first as well?
3) Then instead of Define Climatic Data we have Define Time-series data?

On importing of the data from the library, could you check

[2020-08-27 07:45] rdstern opened #5949 "Compare dialogues moved on frmmain"
Currently the Compare Dialogues are within the Climatic > Summary menu.
We suggest that most of the operations fit (slightly) better in the Describe part of the Climatic menu.
a) We propose a Main item in the Climatic menu called **_Compare_**.  It is before mapping.
b) Within this main climatic menu the first 2 items are the existing **_Calculation..._** and **_Summary..._**  (No longer called Co

[2020-08-27 09:55] lilyclements commented on #5639
1. I'm not sure why a "Tidy and Examine" set of dialogs would be useful for only one of the structured define dialogs rather than all four. I don't know the structured data in the "Define Circular" or "Define Low_Flow" dialogs but looking at my initial "messy real-world" survival data I use in the PhD, some dialogs in the "Tidy and Examine" menu are relevant.
However, I don't follow why some dialo

[2020-08-27 10:26] lilyclements commented on #5639
On importing the data - I have updated my branch with the latest version and am still getting an error.

[2020-08-27 14:54] rdstern commented on #5639
On your item 1 I was following your suggestion that perhaps the check for duplicates would be useful in the Time series menu.  I was then thinking that this is an item in the Tidy and examine menu in Climatic.  So there is a sort of parallel between the climatic menu (where the data are time series) and this new menu.

So as the Check for **_duplicates_** is conveniently in the Climatic menu it me

[2020-08-27 15:37] rdstern opened #5950 "Oddity with circular plots"
Here is an example of the problem.
Open the standard survey data from the R-Instat library
Use Describe > Specific > Bar Chart
a) Do a Bar chart of the Fert variable.
b) Now return to the dialogue.  And all is fine.  (It has remembered all the settings.)
c) Now use Plot Options > Coordinates and choose Polar Coordinates. Get the Plot.
d) Now return to the dialogue.  All is not fine
It has switched

[2020-08-27 17:26] Patowhiz commented on #5950
@rdstern I **think** I know what is the problem.
It's the way the dialog is set up to determine the checked radio button from the Rcode. It uses parameter name `coord_polar` to uncheck the radio button Bar Chart. This seems sensible until you activate the polar coordinates. They write into the base operator, passing `coord_polar` as one of its parameters. Thus on reopening the Pie Chart radio butt

[2020-08-27 19:45] rdstern commented on #5950
@Patowhiz that's a relief and obvious now you explain it.  I was worried this was a more general problem, but your answer shows clearly that it just affects this dialogue.  And we have always had the pie chart as one of our graphs.  It is the only graph that always uses coord_polar.  Now the idea is that any geom could opt to use polar coordinates.  But I can now see that this one is different, an

[2020-08-28 09:55] Patowhiz commented on #5950
@shadrackkibet looking at the ggplot in reference to producing these 2 types of plots and my comments above on the nature of the scripts produced. What would be the ideal parameter name to "attach" to in "remembering" the previous checked radio button when reopening the dialog. I'm leaning towards using parameter position of ggplot2::geom_bar but I'm not sure if that is the only way or rather the

[2020-08-28 13:36] Patowhiz commented on #4915
@rdstern on your original item 2, The sub-dialogue. Do we have a reason as to why the we have a separate R dialog for entering the password. I initially thought that this was the only way to pass the password to R. But digging deeper into the R database driver interface, that's not the case. If there is no concrete reason for the extra R dialog, then in addition your design proposals, I came up wi

[2020-08-28 13:45] Patowhiz commented on #4915
@rdstern. Below is the current state of the dialog. I also have to say, the choice of using date pickers makes it impossible to not select dates. Date pickers don't accept null or empty inputs. Will we always require users to enter date ranges? If not, then I suggest looking into another form of input or introducing another checkbox that toggles between selecting date range or not.

<img width="20

[2020-08-28 13:58] Wycklife commented on #5949
@africanmathsinitiative/developers Is anyone working on the formmain? I have done this but then I realized my branch has conflicts when I try to create a pull request.

[2020-08-28 14:08] shadrackkibet commented on #5949
I think you might have updated your master branch before #5935 was merged. Make sure your branch is in syc with the main master branch before you continue.

[2020-08-28 14:39] shadrackkibet commented on #5950
I had a quick look into this but I didn't check vb code. I think the reason why that happens is because of `ggplot2::coord_polar()` which is added to the base operator `+` when you use the sub dialog(plot options) and when on **pie-chart** radio button. So when this is added in the subdialog (plot options) and then on reopen `setRcodeForControls` is run which then updates the panel to pie-chart. I

[2020-08-29 10:26] Patowhiz commented on #4915
@rdstern following our discussions. Following your descriptions Below is a sketch of the main dialog, I have omitted the unstack checkbox for now as that could potentially be a separate issue and a bigger change. The establish connection button will open the database connection subdialog(see sketch above). And of course it will change to Connection Established as outlined in the issue comment abov

[2020-08-29 10:42] Patowhiz commented on #4915
@rdstern following our discussions on the climsoft import "wizard". Below are my rough sketches on some of the design details. I also welcome @lloyddewit comments between the above proposed design and the wizard sketch.

Ideally, this could be 1 dialog showing a dynamic UI to the user in 3 steps (think of a paginated web form). I find this easier and could be used as a basis of simplifying importi

[2020-08-29 11:56] rdstern commented on #4915
@Patowhiz the designs look good.  The one point that is available currently - though perhaps not sufficiently obvious is that you can import just the metadata, i.e. information about the stations, without necessarily importing any data.  I like that.  Ideally that could also include element information, i.e. all stations that have temperature data, but I am not sure that information is (yet) easil

[2020-08-29 13:19] Patowhiz commented on #4915
@rdstern  oh! yes, for the wizard, we can have a skip this step checkbox, or just allow users be able to not to select any element, either way.
On the issue of the metadata, currently we have a table that stores metadata about all elements in  a station(you can access this information in the station element metadata form). Though I'm not sure if met services are filling in this metadata informatio

[2020-08-30 07:13] #5596 closed

[2020-08-30 07:13] #5876 closed

[2020-09-01 06:57] Ivanluv commented on #5801
This seems to be  solved already

[2020-09-01 08:18] rdstern commented on #5944
I hoped there might be some comments on the suggestions above.  Perhaps they are in Taiga?  Anyway let me continue with a more definite set of suggestions.
a) We confirm that ggplot_na_distribution can be used with the usual ggplot facets?  See above.
b) We change the name of the Infill Missing Values in the menu to just Missing Values.  In the menu it might move to below the Display Daily, which

[2020-09-01 08:52] rdstern commented on #5944
The Graphical display options mentioned above can have a design that is consistent with the design of the Climatic > PICSA > Rainfall Graph dialogue.

a) Usual data selector
b) Single receiver with label Observed:
c) Single receiver with label Imputed:
d) Single receiver with label True Values (Optional):
e) Single receiver automatically filled with Date variable and label X-Variable:  (As in PICS

[2020-09-01 14:55] rdstern commented on #5590
@Patowhiz was this on your current list.  For me the important feature is to be able to export multiple sheets to Excel.  This would be very useful as part of our quality control work for climatic.

[2020-09-01 17:53] shadrackkibet commented on #3995
This is just to report on the progress so far. It is not yet working properly therefore I am working on fixing bugs. I inherited URLs from existing R code which seems to need updating to work properly.

**Designer update:**

![image](https://user-images.githubusercontent.com/26301973/91887543-93120200-ec93-11ea-8f6c-29140fdc72f8.png)
![image](https://user-images.githubusercontent.com/26301973/9188

[2020-09-02 02:21] Patowhiz commented on #4915
@rdstern in regards to the items that you have proposed in your comments, below is the main dialog and sub dialog current design and functionality. I have opted to satisfy your requests first before looking into the wizard.

<img width="207" alt="subdialog" src="https://user-images.githubusercontent.com/21179007/91924690-10616500-ecdc-11ea-8b19-63ffd18574f7.PNG">

<img width="335" alt="new main di

[2020-09-02 02:33] Patowhiz commented on #4915
Further into you thoughts in regards to the results of the dialog,

1. Would you also like the stations column to be converted to factor?

2. I've decided to use the `abbreviation` only column as requested by you, but then I noticed if we wanted to build a relationship key between the elements metadata and observation data, I think we may want the `elementId` column.

3. In regards to the date-tim

[2020-09-02 08:19] rdstern commented on #4915
Great.
1. Yes Station column could be a factor.
2. Don't need to change too much from current situation with the elements.  Later we will offer an option to unstack and that will name the variables with the abbreviation.
3. I don't trust Climsoft to not have duplicate observations.  So we shouldn't have unstacking as mandatory.  I think they are unique, but only if you include the hour of recordin

[2020-09-02 13:53] Patowhiz commented on #4915
@rdstern I'm not sure if "now" would be a correct name of the datetime, then I'm also keen on not using database keywords in the sql queries that retrieve the data. Below is a screenshot of the dataview with the results of the data from the dialog.

<img width="396" alt="dataview" src="https://user-images.githubusercontent.com/21179007/91991430-8a750680-ed3b-11ea-8a2a-c94a4b697be4.PNG">

[2020-09-02 14:02] rdstern commented on #4915
I agree.  Do we need obs?  Could be just datetime and date?
Looks good.

[2020-09-02 17:20] shadrackkibet commented on #3995
@rdstern it will be good to get your thoughts on this. I now have something that works. So it will be good to sort out the list of sources.

[2020-09-03 08:53] rdstern opened #5959 "Serious problem with the PICSA crops dialogue"
This is serious, but I hope simple to solve.
It occurs when there are multiple stations in the file.  Then, as far as I can see, the totals used in the comparison are for all the sites, and not for the single site.
[Moz4CropsTest.zip](https://github.com/africanmathsinitiative/R-Instat/files/5167289/Moz4CropsTest.zip)

If needed the attached file shows the problem.  Look at ctop_prop5 that gives th

[2020-09-03 17:12] rdstern opened #5963 "Improving the Model > Probability Distributions > Show Model dialogue"
I put this in the context of our suggestion to improve statistics teaching.  I was thinking earlier of a paper/study on adding extremes and another on adding circular data to the teaching.  I wonder now about combining the two and having a paper on "Including extreme and circular data in statistics teaching".  In the extremes, let me also mention that the analysis is a 2-stage process and getting

[2020-09-04 08:50] rdstern opened #5964 "The circular menu"
We need to check that no one else is editing frm main, but this should be quick - I hope.
There is already Structured > Circular, with the Define dialogue.
a) Add `Calculator `below Define (This should have the ordinary Calculator from the Prepare Menu.  Ideally when opened it has the Circular keyboard automatically.
b) Add `Summaries` below that.  Ideally when you open the sub-dialogue it starts

[2020-09-04 16:46] rdstern opened #5965 "New Wind/Pollution Rose dialogue"
This is a new dialogue to implement the Wind/Pollution Rose plot from the OPenair package.  It is to go into the new Circular menu.
It is described in Chapter 5 of the Openair [Manual](https://davidcarslaw.com/files/openairmanual.pdf) together with examples of its use.
I start the design below, but there are many options which I hope that @HawardKetoyoMsatsi can explore to add, in particular to th

[2020-09-04 16:55] rdstern opened #5966 "More circular plots from openair package"
There are 6 more circular plots provided by the Openair package.
Percentile Rose
Frequency Rose
Polar Plot
Polar Cluster
Polar Annulus
Polar Frequency
These may become 6 dialogues or (say) 2 dialogues with 3 radio buttons in each or...?  From a quick look I fail to see the connections that would help in structuring the dialogues.  Once decided they should be easy to construct and code, because the

[2020-09-05 01:03] Patowhiz commented on #4915
@rdstern below are screenshots of the wizard dialog and its step. Its flexible enough to cater all the items raised in this issue.

Connect to database
<img width="439" alt="1" src="https://user-images.githubusercontent.com/21179007/92293479-9c69cb80-ef2c-11ea-9ee7-14e46de7b450.PNG">

Import stations
<img width="439" alt="2" src="https://user-images.githubusercontent.com/21179007/92293482-a25fac80

[2020-09-05 01:08] Patowhiz commented on #4915
To access the wizard I've put into the Import from climsoft main dialog a temporary button through which you can access. But with your approval I can have another quick PR that creates a menu link through which a user can access the wizard dialog separately without launching this main dialog.(I think this will help reduce confusion during testing)

<img width="338" alt="temporary main dialog" src=

[2020-09-05 01:54] Patowhiz commented on #5949
In addition to those menu items under the Climatic, I would suggest another menu for the Import From Climsoft Wizard just below the current Import, @rdstern might have a good name for it. Then the PR could be merged and used in PR 5957.

[2020-09-05 02:14] Patowhiz commented on #5950
@shadrackkibet thank you for your feedback

[2020-09-05 06:59] shadrackkibet commented on #5944
I asked the author of the package if the package supports faceting see his response [here](https://github.com/SteffenMoritz/imputeTS/issues/46#issuecomment-687562068). Being able to facet is important to us therefore I think it is worth having a wrapper around these functions to allow facetting.

[2020-09-05 08:01] rdstern commented on #5944
@shadrackkibet I agree with the faceting, and capability of handling multiple stations.  I didn't fully follow the explanation in his message.  It gave the impression of being limited to 4 stations.

[2020-09-05 10:08] #5949 closed

[2020-09-05 19:07] Patowhiz commented on #5590
@rdstern do we really need the radio buttons? The dialog could be intelligent enough to detect when its a single data frame selected or a multiple data frames and automatically change the file types available and the options too.

[2020-09-06 07:15] rdstern commented on #5590
@Patowhiz I looked at your File > Export Objects dialogue where you have our "ordinary" data selector and then a multiple receiver and that would be fine.  As you say, we don't need radio buttons.  And I like the idea of having the data selector where you obviously view all the data frames, compared to the current arrangement with a drop down.  Good idea.

[2020-09-06 08:23] shadrackkibet commented on #5944
I give my suggestions as shown in the screenshots below. We can add more options into the sub dialog, but initially, we start with providing "important" ones in the main dialog.

![image](https://user-images.githubusercontent.com/26301973/92321471-f5238c00-f032-11ea-8610-29d7961caf65.png)
![image](https://user-images.githubusercontent.com/26301973/92321478-fe145d80-f032-11ea-8546-dcf6cf3dcdcb.png)

[2020-09-06 08:30] rdstern commented on #4611
I had assumed that, when we examine the packages for missing values, then our inventory plot would be "found wanting", i.e. we would probably replace it.  But, on the contrary, it seems to be holding up well.  So I propose it is worth examining the current code and making improvements.  Some ideas are suggested above.
a) I suggest that some improvements will necessitate activating the special Inve

[2020-09-06 08:35] shadrackkibet commented on #5944
Another plot provided in this package below. `ggplot_na_intervals()`

![image](https://user-images.githubusercontent.com/26301973/92321720-ee961400-f034-11ea-86ea-af16f2a57f9b.png)

[2020-09-06 08:44] rdstern commented on #5944
This looks really good.  Minor suggestions only.
a) Change the label "Observed:" to "Element:".  That's what we use on the climatic summary dialogue for example.
b) The Facet is presumably by station, so it is only enabled (or visible) when the Station field is filled.
c) It seems clear there will be a `Display Options` button later, so perhaps put it in its usual place now and disable.  There is

[2020-09-07 07:38] #5700 closed

[2020-09-07 10:13] dannyparsons commented on #5146
We don't need to install the GitHub version of the package. The package is available on CRAN so can be installed in the usual way.

[2020-09-07 10:40] dannyparsons commented on #5869
Yes this is a good solution. I suggest we have an equivalent check on factor columns as on numeric - if all the levels are `TRUE`, `FALSE` then convert, if these are not the only levels then stop.

The slightly longer term solution is to be able to have a warning message if NAs will be introduced to allow users the option to convert even if some values will be lost.

[2020-09-07 13:59] shadrackkibet commented on #5964
I discussed this with @HawardKetoyoMsatsi. I think this is a good task for him to get started with some bits of coding in VB with help from others.

[2020-09-07 14:32] Patowhiz commented on #5590
Addressing item 3.

From my analysis of the `rio` package in regards to exporting to excel, there are important things that I would like to point out;

1. It cannot add a list of new sheets to an existing workbook ( and I'll be very happy if someone else finds this possible), you can only add a single sheet name using the `which` parameter, the `which` list cannot be vector or a list of names to o

[2020-09-07 15:27] rdstern commented on #5590
I really like this layout.  I assume the checkbox on save as a single file is disabled (or invisible) if only one sheet is selected?

While here, the Export File control (and Save File Control used to look as though you could type into the space.  I think this has been mentioned before.  I am happy if it became even wider than this, because the path is sometimes long, and that you could left or ri

[2020-09-07 15:38] dannyparsons commented on #5590
I don't think we should worry about trying to append to existing Excel files, that's messy in all sort of ways as you point out and would need quite a bit of work to be done very well.

I think we should just have one option to create a new Excel file. If you choose an existing file, then it is replaced, and you get the warning about this to tell you from the file dialog.

I am not sure about gett

[2020-09-07 15:57] Patowhiz commented on #5590
@dannyparsons this is what I initially thought, on the contrary I think and found the rio package is updated to handle this well. And it's also very easy to detect this in R-Instat. The rio package already clearly explains the file types that can be appended to and it matches what @rdstern proposes.

@dannyparsons the options are the same `.rds` file formats now accepts more than a single structur

[2020-09-07 16:15] Patowhiz commented on #5590
`I really like this layout. I assume the checkbox on save as a single file is disabled (or invisible) if only one sheet is selected?`

@rdstern yes. If only 1 sheet is selected, it becomes invisible. If several are selected then it becomes visible.

@rdstern I'm happy to make it wider. But also that is limited. Would you welcome a popup similar to the one in the  comments text box? That will ensur

[2020-09-07 16:21] dannyparsons commented on #5590
I am not sure you understood my point on the radio buttons, I would like them so that the user first makes a choice between a single or multiple export, because they are quite different in terms of options and choices. I know we can detect this easily and the R code is easy but I don't think that actually makes it easy for the user. In fact, I think without the radio buttons we are adding confusin

[2020-09-07 16:37] rdstern commented on #5590
I don't feel strongly either way.  Happy to have the button if  Danny feels strongly about it.
 What I do like is our usual selector, rather than the drop down we used to have.  I have not noticed when using the dialogue repeatedly, that it has remained on the previous data frame, rather than the current one - and so exported the wrong one.

So I like our "usual" selector as we have elsewhere, wit

[2020-09-07 16:49] Patowhiz commented on #5590
`I think what would make the dialog clearer is to have a drop down to choose the file type being saved. I think this should be an explicit option on the dialog instead of hidden in the file dialog. This way we could also explain what the options were for multiple. e.g. "Excel (multiple sheets)", "RDS (list of data frames)", "RData (separate data frames)"`

`I don't see an easy way of exporting mul

[2020-09-07 17:55] rdstern commented on #5590
I give in.  There are too many cooks here.  I would just like multiple data frames, when needed to be able to be exported to Excel. The details of the dialogue and other options when there are multiple data frames are all bonuses.

[2020-09-07 20:26] rdstern opened #5968 "The circlize package?"
This could be added to the circular menu - and under the existing plotting dialogues in its own section.

Some examples with climatic data are provided in the MSc essay here.
[Legon_Seth_Owusu_aimsgh-essay-1516.pdf](https://github.com/africanmathsinitiative/R-Instat/files/5184769/Legon_Seth_Owusu_aimsgh-essay-1516.pdf)

Examples of the code for some line types are [here](https://www.r-graph-galler

[2020-09-08 09:43] rdstern opened #5969 "Very minor point in File > Open with Excel"
This is in importing from Excel.  I had 3 files each with 3 sheets to import.
First works fine.  I select all the sheets and there is a check-box for this.
When I return to the dialogue it is (correctly) the same as before, i.e. with the checkbox ticked and all sheets selected.
Now I choose another Excel file.
There are no sheets selected in this new file - correctly - but the select all is still

[2020-09-08 10:23] IbrahimDanDije commented on #5968
Well received dear Prof,
Best regards!
Ibrahim

On Mon, Sep 7, 2020, 9:26 PM rdstern <notifications@github.com> wrote:

[2020-09-08 11:49] HawardKetoyoMsatsi commented on #5964
I am done working on this issue...

[2020-09-09 09:24] mhabimana commented on #4915
@Patowhiz - Thanks for improving on this. I am happy with the design, having both options (manual selection and wizard option) is very good and suitable. I can see you are selecting stationId but when it comes to element, your are selecting element abbreviations, I wonder if possible to bring together both (**stationId;stationName**) and (**elementId;elementName**) displays in the selector and rec

[2020-09-09 10:56] Patowhiz commented on #4915
@mhabimana thank you for going through this.
@rdstern had interesting reasons as to why abbreviations would be good, and also why having both ids and abbreviations isn't necessary.  Would be nice to hear his thoughts about your suggestions.

Please note you can now also import the elements information. So any extra information not captured in the observation data dataframe can be views in the elem

[2020-09-09 12:53] mhabimana commented on #4915
@Patowhiz -Thanks,I think is Roger prefers to use the stationId,let the elementId be used too  instead of the element abbreviation,assuming the element abbreviation can be added in the dataframe when required as you said.But as I said earlier,it would be great to have both stationid and elementid in both selector and receiver,

[2020-09-10 06:57] #5612 closed

[2020-09-10 08:22] Patowhiz commented on #5590
Below are screenshots of what I have come up with.

Exporting single data frame
<img width="339" alt="single data frame" src="https://user-images.githubusercontent.com/21179007/92700582-a853f400-f357-11ea-82e5-4d229d50ce78.PNG">

Exporting multiple data frames to a single file
<img width="340" alt="single file" src="https://user-images.githubusercontent.com/21179007/92700625-b570e300-f357-11ea-884

[2020-09-10 08:55] Patowhiz commented on #5590
There are further improvements that may be easy to implement and will also more than justify extending the dialogue.
This uses the export dialogue from the rio package and we will continue to use that.

1. It currently can export to Excel (xlsx files).
2. There are some formats that could be added to the file list. In particular it exports to matlab and sas that we don't have in our list. Also ope

[2020-09-10 12:36] dannyparsons opened #5973 "Climatic > Compare > Time Series Graph dialog"
This is the design for a new dialog. I think the menu item is already there for it.

@Wycklife could you create the dialog and sub dialog designs below?

The main dialog has 4 receivers, 3 checkboxes and then a button leading to the subdialog, and a save control to save the graph.

The sub dialog has a group box with a number of checkboxes (just put a few in for now), then a text box, a combo box,

[2020-09-10 13:25] mhabimana commented on #4915
@Patowhiz - I am looking at this and it looks very good. I am suggesting you to add on this dialog another box and label for selecting or including elements because,in real sense(what a user see after clicking the,**Next** Button,is the dialog for elements(i.e.: the next button calls the dialog where to fill elements details :
![image](https://user-images.githubusercontent.com/10340170/92733456-5f

[2020-09-10 20:15] rdstern opened #5974 "Adding the conditional quantile plot"
In #5928 we describe the set of dialogues needed for the graphical comparison of station and gridded data.  One of these is the conditional quantiles plot from the openair package.  [Chapter 19](https://davidcarslaw.com/files/openairmanual.pdf) of the sort of book on this openair package describes their use.
I suggest @HelenaMwangila could design this dialogue and then try to implement it.  Once d

[2020-09-11 09:04] #5508 closed

[2020-09-11 13:30] dannyparsons opened #5976 "Packages for next version"
- stringdist

@rdstern @lilyclements @africanmathsinitiative/developers any new packages that need to be added for newly created dialogs?

[2020-09-11 13:44] shadrackkibet commented on #5976
- imputeTS
- chillR
-changepoint
-trend

[2020-09-11 14:49] Patowhiz commented on #5976
ggplotgui package  as mentioned in issue #5146 ?

[2020-09-11 14:56] dannyparsons commented on #5976
Is the dialog implemented yet? Let's only include packages once a dialog is merged so we avoid unnecessarily adding packages before they are in use.

[2020-09-11 16:02] Wycklife commented on #5973
@dannyparsons I'm sorry I have just seen this now.  I have done this. Changes are on pr #5965. Kindly get them. I did them earlier

[2020-09-11 23:04] Patowhiz opened #5977 "Reading text files with multiple missing values"
Currently you can only specifying a single missing value when reading text files, as stated by @rdstern in this [comment](https://github.com/africanmathsinitiative/R-Instat/pull/5824#issuecomment-688287543), some text files may have multiple missing values.

The import dialog needs to be able to allow users to specify multiple missing values and read the files correctly.

[2020-09-11 23:06] Patowhiz commented on #5977
As I mentioned in [comment](https://github.com/africanmathsinitiative/R-Instat/pull/5738#issuecomment-591280974) in PR #5738, [comment](https://github.com/africanmathsinitiative/R-Instat/issues/5700#issuecomment-590719158) and [comment](https://github.com/africanmathsinitiative/R-Instat/issues/5700#issuecomment-648135811) in issue #5700, the missing values was only implemented for excel and csv.

[2020-09-11 23:26] Patowhiz opened #5979 "Import files with odd extensions"
As observed in issue #5788, users may need to read files with odd extensions but similar structure to csv type of files. RIO package has inbuilt features that make reading these types of files possible.

To enable importing of these types of files possible and take advantage of rio, we may need to implement the dialog in a way that a user can specify the format that corresponds to the structure of

[2020-09-12 08:06] rdstern commented on #3589
I now have another example of data where this feature would be very useful.
I have a data frame where variables called ...6, ...8, ...10 etc are the data and ...7, ...9, ...11 etc are the flag fields.
The feature already half works now, in that I can select multiple variables in the control.  But then it just moves one of them.
Here are some examples
[togo_daily_6_elements.xlsx](https://github.com

[2020-09-14 06:48] #5947 closed

[2020-09-14 09:27] dannyparsons commented on #3589
@Patowhiz could you check if this is easy to add as an enhancement to our reorder control?

[2020-09-14 12:16] dannyparsons opened #5980 "Seasonality Plots dialog"
This is the design for the seasonality plots dialog. This is to compare the seasonality of two columns, in general "reference" data and "estimates". The graphs are of summary data based on the seasonality column chosen, but the dialog uses the original (usually daily) data because that is the level where the calculations are done. Because of this the R code is slightly none trivial. Here is the ty

[2020-09-14 14:51] HawardKetoyoMsatsi commented on #5980
Yes please I will take it up and work on it closely with @shadrackkibet.

[2020-09-14 15:02] rdstern commented on #5980
@HawardKetoyoMsatsi that is great.  We would like you to move over to this quite quickly, so @dannyparsons may volunteer to "take-over" the work on the circular menu.  There will be plenty to return to, on circular, later.

The seasonality plot also contains some interesting statistical ideas.

[2020-09-14 17:22] HawardKetoyoMsatsi commented on #5980
I will handle this.

[2020-09-14 17:28] Patowhiz commented on #3589
Yes, I'll check this.

[2020-09-14 19:19] dannyparsons commented on #3995
I've had a think about the design of the dialog which is as it was when it was first designed a while back. To make it more in line with how we now do dialogs I have a suggestion for a new design below. I don't think it's too much work to change. Does this look a bit better and clearer?

![iri_dialog](https://user-images.githubusercontent.com/11214914/93127551-0836fb80-f6c6-11ea-9e82-d6e674b180ba.

[2020-09-14 19:56] dannyparsons commented on #3995
I've discussed the list of data with @rdstern to reorganise it. We suggest the Sources should mainly be the organisation list (except when there's clearly just one product that's well known). There might be more to add later but we focused on the current list.

So Sources and Data will be:

**NASA**
Daily Precipitation
3-Hourly Precipitation

(I don't think we need the pre-gauge data as well)

**N

[2020-09-15 07:26] rdstern commented on #5963
No take-up by @jkmusyoka yet, so I proceed myself.  @Ivanluv has made the initial changes to the dialogue and may wish to continue.  Then I'll pass this on to @jkmusyoka.
The one change from the above is that I suggest a small file could go into our R-Instat library (instead of being added to the new-data frame examples) and be used here.  Maybe it could be in the model menu.
[show_model.zip](http

[2020-09-15 09:06] rdstern commented on #5965
@Ivanluv given Haward has moved (temporarily) to some comparison work with Danny, I wonder whether you could move to adding this dialogue?

[2020-09-15 09:31] Ivanluv commented on #5965
@rdstern  I will be haapy to take this up

[2020-09-15 11:04] mhabimana commented on #4915
@Patowhiz - Good to name the Checkbox, **Include Elements Info**

[2020-09-15 11:12] Patowhiz commented on #4915
@mhabimana thanks. Will do this.

[2020-09-15 15:30] Patowhiz commented on #5619
Fundamentally, I'm implementing this in accordance with the design and implementation principles used in popular spreadsheet packages like excel;
1. Users can paste to the whole column. Data will be paste from first row to the end of the copied data. The other rows will not be changed.
2. Users can paste to a column from the selected cell row position. Data will be paste starting from the cell row

[2020-09-15 15:34] Patowhiz commented on #5884
I have also added menu items for pasting as shown below. users can also use Ctrl + V to copy into a cell.

Pasting into column
<img width="292" alt="paste into column" src="https://user-images.githubusercontent.com/21179007/93231867-e56a1d00-f781-11ea-9979-e8155b513d87.png">

Pasting into cell
<img width="323" alt="paste into cell" src="https://user-images.githubusercontent.com/21179007/93231911-f

[2020-09-15 15:34] Patowhiz commented on #5619
I have also added menu items for pasting as shown below. users can also use Ctrl + V to copy into a cell.

Pasting into column
<img width="292" alt="paste into column" src="https://user-images.githubusercontent.com/21179007/93231867-e56a1d00-f781-11ea-9979-e8155b513d87.png">

Pasting into cell
<img width="323" alt="paste into cell" src="https://user-images.githubusercontent.com/21179007/93231911-f

[2020-09-15 15:52] Patowhiz opened #5981 "Import Dialog Code Implementation Quality"
I find the dialog code a bit messy(unstructured) and disorganised. I think this would make future support of the dialog a bit harder as different developers add code to it.

The import dialog is one of the dialogs that I categorise as special dialogs. It uses multiple R commands, has several controls that are not our custom controls, requires toggling visibility of "layout" controls which is not d

[2020-09-15 16:46] dannyparsons commented on #5619
This sounds like a sensible starting point.

I would be happy with starting with only allowing to paste into one column at a time. But multiple is also useful if it can be done.

Could you explain what you mean by "Paste into column"? I don't see why there should be separate Paste buttons? There should just be one Paste button - the R method should be the same whether it is a single value/partial

[2020-09-15 16:58] dannyparsons commented on #5619
Also, I know that the menu is long but I don't like Copy and Paste being on a sub menu, they are good to have quick access to.

[2020-09-15 18:38] Patowhiz commented on #5619
@dannyparsons thanks for the feedback.

I used Paste Into Column label just for consistency.  I'm happy to just label it Paste. But then it sounded inconsistent with Rename Column, Delete Column etc. They both end with "column". If we go with just Paste, shouldn't we be also labelling Rename, Duplicate etc ?

Yes I agree.

On the logical column, do you think it's a good idea to accept values 1 or

[2020-09-15 18:38] Patowhiz commented on #5619
@dannyparsons thanks for the feedback.

I used Paste Into Column label just for consistency.  I'm happy to just label it Paste. But then it sounded inconsistent with Rename Column, Delete Column etc. They both end with "column". If we go with just Paste, shouldn't we be also labelling Rename, Duplicate etc ?

Yes I agree.

On the logical column, do you think it's a good idea to accept values 1 or

[2020-09-15 18:39] Patowhiz commented on #5619
@dannyparsons thanks for the feedback.

I used Paste Into Column label just for consistency.  I'm happy to just label it Paste. But then it sounded inconsistent with Rename Column, Delete Column etc. They both end with "column". If we go with just Paste, shouldn't we be also labelling Rename, Duplicate etc ?

Yes I agree.

On the logical column, do you think it's a good idea to accept values 1 or

[2020-09-15 18:40] Patowhiz commented on #5619
@dannyparsons thanks for the feedback.

I used Paste Into Column label just for consistency.  I'm happy to just label it Paste. But then it sounded inconsistent with Rename Column, Delete Column etc. They both end with "column". If we go with just Paste, shouldn't we be also labelling Rename, Duplicate etc ?

Yes I agree.

On the logical column, do you think it's a good idea to accept values 1 or

[2020-09-16 06:01] rdstern commented on #5881
I have been looking in more detail at what is needed for this Climatic > Prepare > Extremes dialogue.  I had originally thought that it was straightforward. The main issue (as usual) is that the packages are for a single station.  If this is a good way to start, then fine.  But it would be good for the dialogue to be able to cope with multiple stations.  In what is needed, there are 2 main functio

[2020-09-16 06:34] HelenaMwangila commented on #5974
After looking at the controlQuantile() function, I tried to design a layout of the dialogue.
![image](https://user-images.githubusercontent.com/67306949/93300465-7d5a1c00-f7ff-11ea-97c9-aed6d997edaf.png)
I would like any useful input to improve it, before moving to the next step.

[2020-09-16 06:50] Ivanluv commented on #5965
@HawardKetoyoMsatsi  has already added the windrose form in his PR #5970.I can continue working on this when the PR is merged

[2020-09-16 08:20] dannyparsons commented on #5619
I think we can just have a single `Paste` item and this will cover pasting into a cell/column/range etc.

For logical, a 1-0 column is different from a logical column as a different type in R and some functionality will be slightly different so let's not mix them up. It's easy to convert a 1-0 column to logical if you want so I think we can keep it strictly as TRUE/FALSE.

[2020-09-16 08:33] dannyparsons commented on #5974
This looks good. For the Compare section in general we need to agree on a consistent name for the two column being compared. Lots of different combinations are used in different packages.

I quite like "Reference" and "Estimates" which is general enough for different uses and quite clear which column to put in each place. Reference is a bit more general than Observations and so it would allow, for

[2020-09-16 10:20] lloyddewit commented on #5965
@Ivanluv Just a note that PR #5970 has been replaced by PR #5983

[2020-09-16 14:06] #5964 closed

[2020-09-17 10:20] rdstern commented on #5881
I have been examining the declustering options in the different packages.  I am (almost) convinced that the decluster from extRemes should be used.  It has a number of useful options that should be included in the dialogue.  And there are some aspects I still don't understand.  This is largely because of my weakness in using R.  I list some aspects below:

a) I think it can cope (automatically) th

[2020-09-17 15:00] Patowhiz commented on #5619
@rdstern I need you suggestion on the labelling of the menu toolstrip and their locations.

I would also like to point out a few additions;

1. When you paste from the column right click menu, the implementation assumes the first row of the clipboard data is a header and therefore skips it when pasting to the dataframe.

2. When you paste from a particular cell, the implementation assumes there is

[2020-09-17 15:11] Patowhiz commented on #5619
In addition, the pasting can only be done to existing columns. If the current changes are review and agreed on, I'm happy to implement pasting new columns to data frame. I think it's related to this issue.

[2020-09-17 15:30] dannyparsons commented on #5619
I am not sure what would be most appropriate for the headers assumption. It might be easier to assume no headers even from the Data View header. For example, what should happen if the pasted headers are different from the current ones? Does that rename the columns? That might be useful but not sure we want to do too many things in one go.

[2020-09-17 19:31] Patowhiz commented on #5619
@dannyparsons from @rdstern PR comments, I've thought more about the headers.
I think when pasting from the column header, the header should also be renamed. To take up the new name. This will put it consistent with pasting to a newly created column, because the created column should have the pasted header. Again this is also what would happen if I pasted to a spreadsheet.

If the data doesn't hav

[2020-09-18 08:02] rdstern opened #5986 "Dialogue to facilitate running a new function in R-Instat"
The script window allows me to run more or less any small sequence of R-commands.  I often use it for a new function from one of our existing packages, or maybe I add a new package and try a function.
This works well on the examples that are almost always provided in the manual associated with the package.
But I would then often like to:
a) run the example with data from R-Instat, rather than from

[2020-09-18 09:07] rdstern commented on #5881
The second important issue in this dialogue is the mrl plot.  This is to help in choosing the appropriate threshold.  The 2 obvious packages are the mrl function and plot in extRemes and the mrl plot in texmex.
The main problem is that neither function copes currently with the multiple stations that we often have in our data sets.  WE can ignore the stations and, in some instances it will be good

[2020-09-18 16:06] rdstern opened #5988 "Supporting reproducible results in climatic applications of R-Instat, particularly in PICSA"
I first describe the problem that has prompted this issue.
In Mozambique in 2020 we had a data file with daily data from 4 stations.  We used these data for PICSA through a succession of R-Instat dialogues.
a) There were various graphs, including one on the **_start of the rains_** each year. There is a separate graph for each station. This used in PICSA to calculate the chance of the start by var

[2020-09-18 23:38] Patowhiz commented on #5146
@dannyparsons it's not clear to me if R-Instat is set up to run a shiny app.
The ggplot shiny app runs in its own server process which seems to be in a separate thread process. Running it from R-Instat results in runtime errors of long running threads.

@dannyparsons do you have ideas that I could explore to solve this issue. My thoughts point to more complex solutions that I'm not comfortable wit

[2020-09-21 16:35] Patowhiz commented on #5884
I had previously thought that this was a problem in the front end but after looking into the code much further, I realised this is deeper in the R backend

@dannyparsons can verify this
My understanding is, fundamentally, currently graphs are determined by checking the class types of the objects stored. The current class types recognised as graphs are `ggplot, gg, gtable, grob, ggmultiplot, ggsurv

[2020-09-21 16:53] Patowhiz opened #5991 "Pasting New Columns to Data Frame"
As mentioned in issue #5619, a user may want to paste to a new column rather than an existing column.

It would be good to add this feature, currently there is no undo in pasting to existing columns, which overwrites existing data, this may be undesirable to the users .
Add any other context or screenshots about the feature request here.

[2020-09-21 16:56] Patowhiz opened #5992 "Pasting New Data Frame"
As mentioned in issue #5619, a user may want to paste to a new data frame as new sheet rather than to an data frame.

[2020-09-21 17:00] Patowhiz commented on #5619
I have created issues for pasting to new columns #5991 and pasting new data frame #5992

[2020-09-21 17:03] Patowhiz opened #5993 "Copying data frame"
Currently, the copy implementation creates a duplicate data frame rather than copying the whole data frame data.
A user may want to just copy the whole data frame to paste into a spreadsheet. This could be useful especially whenever a user wants to easily save several stages of the processed data frame to a separate file.

[2020-09-22 11:40] Patowhiz commented on #5991
@rdstern also adds

[2020-09-23 08:47] #5973 closed

[2020-09-23 09:07] dannyparsons commented on #5992
My comment from here https://github.com/africanmathsinitiative/R-Instat/pull/5982#issuecomment-694725883

[2020-09-23 09:12] dannyparsons commented on #5991
I don't quite agree with Roger's comment. I think it's really easy to mistakenly copy the wrong thing which then ends up being longer or shorter than intended. If this happens you may then be pasting everything one cell too high/low. This is really dangerous and could mess up a whole analysis.

So I would like it to be a requirement that pasting a completely new column is the correct length. I thi

[2020-09-23 09:15] Patowhiz commented on #5884
I'm adding @rdstern comment and my comment from the PR here. This for @dannyparsons to counter check my findings.

@rdstern comment

My reply

[2020-09-23 12:09] Patowhiz opened #5995 "Model > One Variable > Fit Model dialog produced script"
The script produced by the dialog has redundant R code.  think some of the lines of code can be omitted.

[code]

I think line
[code]
could be unnecessary.

[2020-09-23 12:10] Patowhiz commented on #5995
@Ivanluv I've been told by @rdstern you are looking into enhancing the dialog, probably you can have a look at what's causing this redundant scripts to be produced.

[2020-09-23 12:44] Ivanluv commented on #5995
Yeah, I am to make improvements to the dialogue .I will fix this  when making the improvements.However, I cant work on this now since   PR#5861 has changes on the same dialogue

[2020-09-23 13:13] Patowhiz opened #5996 "View Graph Dialog"
Currently this dialog shows list of ggplot graphs only. The dialog needs to be enhanced to show all graphs that can be displayed through the R Viewer toolbar option.

[2020-09-23 14:28] rdstern commented on #5995
That's right.  We need to wait for #5861 to be merged first.

[2020-09-24 16:53] rdstern opened #5997 "A new (to us) data set to support testing of climatic dialogues"
[Niger10a.zip](https://github.com/africanmathsinitiative/R-Instat/files/5277723/Niger10a.zip)

I provide an R-Instat version of the data.  @Patowhiz may soon have a copy in Climsoft.  We have been told that these are freely available data.  I hope that is true.

I am finding that this is a reasonably demanding set of data that could be used to test R-Instat's capabilities.
a) It is daily data from

[2020-09-25 15:37] rdstern opened #5998 "A second climatic data set (3 hour data) and some initial problems"
In #5997 we showed some daily data.  That is daily and about 150,000 records and 43 elements.  Allows us to check that R-Instat copes ok with lots of elements.

[Niger10syn.zip](https://github.com/africanmathsinitiative/R-Instat/files/5283656/Niger10syn.zip)

These are synoptic (3-hour) data on 20 elements.  There are about 500,000 records.
I have a number of small issues already, some related to

[2020-09-27 16:25] rdstern opened #5999 "Correct and extend the calculator for dates and times"
This is initially for discussion and comment by @dannyparsons or others who are clearer on the date and time functions.  This is mainly on changes to the Prepare > Calculator dialogue.

We need to do more to handle (climatic) data that is measured within a day, and the Date keyboard in the calculator may provide most of what we need.

- [x] a) I suggest we rename the keyboard as Dates/Times
- [x]

[2020-09-28 09:58] HawardKetoyoMsatsi commented on #5966
The other kinds of rose plots use different functions, I therefore suggest we have a menu leading to 5 different dialogs for each plot.
![menu](https://user-images.githubusercontent.com/16137042/94418459-f7c85b80-0170-11eb-9eb9-e308e5d4b9f2.jpeg)

[2020-09-28 11:38] rdstern commented on #5903
No change needed, but I include an "interesting" graph that uses this dialogue:
![image](https://user-images.githubusercontent.com/11226469/94423608-cd7e9a00-0180-11eb-8d10-da14d5002123.png)
1) It is showing tmin, (X2) tmax (X3) and rain (X5).
2) Sometimes there is a connecting line in the temperaure data that looks odd (like linear interpolation).  It isn't interpolating, but is a date gap.
3) So

[2020-09-28 12:05] lilyclements opened #6000 "Bug in the R-code for the `make_inventory_plot`"
**Describe the bug**
There is a bug when running the Inventory Graph code for a "DOY-Year Plot" when there is no climatic year column defined.

**To Reproduce**
1. Go to `File > Import from Library ...` and import the `ghana_two_stations.RDS` data set. This data set has a date column and not a year column.
2. Go to `Climatic > Check Data > Inventory ...`
3. Enter the Date and Elements, and select

[2020-09-29 07:03] rdstern commented on #5965
@HawardKetoyoMsatsi I have suggested you take over the coding of this example.  This is partly because it will become a very important dialogue for us, in at least 2 ways.  As the title of the dialogue makes clear, it allows us to start with tools for pollution data.  In addition, as a wind-rose plot is seems extremely flexible and powerful.

Unfortunately it also seems to be awkward to code.  Thi

[2020-09-29 09:07] lloyddewit commented on #3577
Inline documentation was also discussed in PR #5985 by @dannyparsons , @Patowhiz , @shadrackkibet and @lloyddewit.

It was agreed that we should select one or more dialogs to be 'model dialogs' for commenting. The model dialogs should be fully commented and referenced in the developer's guide. The other dialogs would only need comments for their non-standard methods and behaviour.

**Selected comm

[2020-09-30 11:40] rdstern opened #6002 "Small addition to Prepare > Check Data > Non-numeric cases"
@Patowhiz could you add the position control to this dialogue once @lilyclements changes have been merged.  Could you also add the line, so the default position for the saved variable is after the variable in the receiver, once that has been added.  Ideally add a comment to this line, so Lily can repeat it, in further dialogues that she will examine.

[2020-10-01 06:06] rdstern commented on #6000
This is a great find and I like the resulting plot.  Here it is:
![image](https://user-images.githubusercontent.com/11226469/94773223-406f5700-03b3-11eb-859e-c144a2a75e83.png)

This also emphasises (to me anyway) that this is a very useful dialogue and one I cannot find in any package.  But it still needs a lot of improvements and is in an area that we have videos to produce for our contract.  For

[2020-10-01 06:07] #5942 closed

[2020-10-01 06:17] rdstern opened #6003 "Small change to the File > Close Data Book option"
I assume this will be quick to do. It is an obvious one for @Patowhiz and check back if it is not a small task.

It correctly gives a warning that all data will be lost.  If I don't want to lose any data, then I save, and then use this option.  But it still asks.  Most software would detect that the data have not been changed and only ask if there were changes.  Could this check be made here, so i

[2020-10-04 08:24] #6000 closed

[2020-10-04 08:42] #5884 closed

[2020-10-04 08:43] #3589 closed

[2020-10-05 08:31] rdstern commented on #5383
I confirm the ideas above, that we now have with the data from the 14 countries.  I suggest 3 edits to the Climatic > Tidy and Examine > Tidy Daily data dialogue.

1. As mentioned above, when there is the 3rd option, i.e. 31 variables with one for each day, could there be an option to "Include Flag Field".  This is a checkbox, at the top to the left of the receiver.  Default unchecked.  If checked

[2020-10-05 08:37] Ivanluv commented on #5995
@Patowhiz  I have just tried looking at this and the last line, `data_book$get_graphs(data_name="dodoma", graph_name="last_graph")` seems to be needed for the graph to be displayed

[2020-10-05 09:13] rdstern opened #6005 "Change as.factor to as_factor?"
We currently have 4 ways to make a factor variable.  We can use right-click, or the Prepare > Factor > Convert to Factor, or Prepare > Data Frame > Convert, or Prepare > Calculator

I suggest we make them consistent, by using as_factor (from forcats) rather than the base as.factor.  Currently the calculator uses forcats, so this doesn't have to change.  The others would change.

[2020-10-05 10:45] lilyclements commented on #6005
1. I'm happy to change these. I just want to double check what is the difference between converting something to an ordered factor against converting to a factor?
2. There are two dialogs where `as.factor` is run as an additional function (not the main function). These dialogs are dlgClimaticBoxplot and dlgTwoVariableFitModel. Should I convert these to `forcats::as_factor` as well?
3. Additionally

[2020-10-05 11:02] lilyclements commented on #6005
1. I'm happy to change these. I just want to double check what is the difference between converting something to an ordered factor against converting to a factor? [Edit: I have worked this out now - see end for an additional comment]
2. There are two dialogs where `as.factor` is run as an additional function (not the main function). These dialogs are dlgClimaticBoxplot and dlgTwoVariableFitModel.

[2020-10-05 13:20] dannyparsons commented on #5383
3. Yes this can give an error/message when there are duplicates and the data won't be produced. I can edit this in the function.

[2020-10-06 17:34] lilyclements opened #6007 "Define dialog for survival data (in the structured menu)"
The new "Structured" menu has an option for Survival data. This is an idea for the Define Survival Object dialog for this menu where a `surv` object is created.

The function is `Surv` in the `survival` package. It has five parameters which are given below and then listed in more detail:
* `time`
* `time2`
* `event`
* `type`
* `origin`

The dialog is centred around the `type` parameter which relat

[2020-10-07 07:54] rdstern opened #6008 "At least a minor change on the visdat dialogue"
This is working well now.  Could we make a very minor change at least and perhaps add some further options.

a) The very minor change is that currently on Visualising data the default is sort = TRUE, which I find confusing, and would strongly prefer sort = FALSE.  (I use that in a proposed video and have to make the change in the script window)
b) Better would be to add some of the options, now th

[2020-10-07 15:26] lilyclements commented on #6008
To respond to the end of this issue - I will look at this and comment by the end of the week.

[2020-10-07 20:04] rdstern commented on #5383
So could this work be shared.  In the tasks above @dannyparsons could perhaps do task 3, for when there are duplicates.
@Patowhiz then does task 1, for the flag fields.  This is a bigger task.

After discussion with @dannyparsons we drop task 2.  It is more complicated, at least for the months, and not too difficult to ensure that the variables are numeric.

[2020-10-08 09:02] dannyparsons commented on #5383
I'd like to think about the options for 1. a bit more before we do something. My instinct is to have a separate receiver for the flags, but I know this wouldn't be ideal to use if they come in next to each other.
The changes for 1. and 3. are interlinked so they shouldn't be done simultaneously in different issues and should probably be done together at the same time, so I don't think splitting th

[2020-10-08 09:28] dannyparsons commented on #4915
Sorry I am coming to this issue quite late. I have tried to catch up on the discussion.

This is done to ensure that the password is never stored in the front end and never appears in any R code that is generated. By using the pop up box directly from R, the password does not need to be passed from the front end into R. So security is the reason. Also, for reproducibility the R code can freely be

[2020-10-08 11:31] rdstern commented on #5383
Happy for @dannyparsons to take this over.  So @Patowhiz I am taking you off this issue.  It needs Danny for one of items anyway, so (as he says), sensible that he does both.

[2020-10-08 11:37] rdstern commented on #5632
Having discussed with @dannyparsons we suggest as follows:

Perhaps in a box, at the top it says  `Load Data... `
Then
[code]
These are each live links.  So clicking on File above opens the File menu, while Open from File is the same as File > Open From File.  Similarly Open from Library

This should be quick and easy, so consult if it is starting to take too much time.

[2020-10-08 13:38] dannyparsons commented on #5632
We can keep the same label that's currently there and change to the text to "Load Data...". Then add 3 labels below, probably in a more normal font size, for the 3 items Roger mentioned. These three could display as links, so in blue and underlined with the mouse changing when hovered over, to indicate they are to be clicked.

[2020-10-09 12:12] dannyparsons opened #6012 "Separate missing value options on summary dialogs"
I have a suggested change for missing value options on dialogs that produce summaries. Since videos will be made soon showing these dialogs I want to raise this now and if agreed implement quickly before videos are started.

Currently on e.g. the Column Summaries dialog there is a checkbox to exclude missing values, and then detailed missing value options a tab on the Summaries subdialog. There's

[2020-10-10 05:35] shadrackkibet commented on #6012
@rdstern what are your views on this? I am happy to proceed with this task.

[2020-10-10 06:45] rdstern commented on #6012
I was very pleased with this suggested changes.  I have felt that the presence of the Missing checkbox on the main dialogue, separated from the missing tab, on the sub-dialogue, was a bit confusing.  And the issue is becoming increasingly important, because of the work needed on at least documenting the climate normals.

[2020-10-10 18:37] lilyclements commented on #6008
b) There are two `sort_...` functions
`sort_type` applies to `vis_dat` and is default `TRUE`. Is this the one you want in, and for the default to be `FALSE`?
There is also `sort_miss` in the `vis_miss` function which sorts the columns by missing to non-missing. This is default `FALSE`. Do you want this one in as well?

d) The `large_data_size` argument corresponds to the number of cells in a data

[2020-10-11 09:05] lloyddewit commented on #3577
The in-line documentation will describe the features and behaviour of individual classes. Developers also need to understand how the classes interact within R-Instat, and how the classes should be used together to implement R-Instat functionality.
This architectural information should be documented somewhere.

One option would be to use a tool like DocFx to generate a static web site from the in-l

[2020-10-12 04:23] Patowhiz commented on #4915
@dannyparsons yes. I noticed why the prompt was from Rm I've retained that functionality.

As to the ucrButtons, I agree that is part of a much wider discussions. I was keen not to touch the control. It's still the one that I'm using in the wizard. We had a brief discussion with @lloyddewit about it.

Once this code is ready and looked at we can have a separate issue discussing how such wizard dia

[2020-10-12 14:38] dannyparsons commented on #3577
@lloyddewit that sounds very sensible and something we would like to do. We probably have enough documented already that a website would already be useful. I see that DocFx has a VS integration so looks like a sensible option.

[2020-10-12 19:37] rdstern commented on #6012
As @dannyparsons says, there are a number of dialogues with this option.  I have just been using the Climatic > Prepare > Extremes dialogue and this has the Missing checkbox, but no option to go to the summaries sub-dialogue.  But it might still be using the same "system" and so the missing options could also usefully be added here as well?

[2020-10-12 20:48] rdstern opened #6015 "Interesting graph"
![image](https://user-images.githubusercontent.com/11226469/95739286-81ece580-0c82-11eb-9714-c12a5bd30e9d.png)
This is an interesting heat map shown about corona virus.

It is time series, but quite clearly shows 45 separate time series pretty clearly.  I don't know how easily we can do these heat maps in R-Instat?

[2020-10-12 22:00] rdstern commented on #5996
The extRemes package uses base graphics, and has quite a collection.  The circular package also uses base graphs.  They are not automatically produced as objects.  So our usual command, say
`last_graph <- plot(1:5, 1:5)`  which is our sort of command doesn't work as there is no object.  I think it is ok for ggplot and lattice graphs

But
[code]

will make an object in the ordinary way.  Then `last

[2020-10-13 06:57] #5950 closed

[2020-10-13 09:09] dannyparsons commented on #6015
Here is a similar graph https://stackoverflow.com/a/14290705/6424231

I think it can be done with fairly standard use of `geom_tile`, `geom_text` and `facet_wrap`. Possibly with some rounding needing to be done on the values beforehand.

[2020-10-13 09:20] dannyparsons commented on #6015
Here's my go, done with the General Graphics dialog in R-Instat:

![image](https://user-images.githubusercontent.com/11214914/95841841-bbcef200-0d3d-11eb-8ba3-3e03bce9afb7.png)

[2020-10-14 07:15] Patowhiz commented on #5632
From the above comments by @rdstern and @dannyparsons , below is the sketch that I have come up with(colours not included).

![sketch](https://user-images.githubusercontent.com/21179007/95954882-b12b6000-0e04-11eb-8e83-0d809c802c1c.jpg)

However, I took time to look into other packages that have designs with contents similar to what is proposed above. I got one that could be contextualised to meet

[2020-10-14 07:17] Patowhiz commented on #5632
Will start working on this as soon as I get feedback on either of the designs. I'm happy with either.

[2020-10-14 07:46] rdstern commented on #5632
@Patowhiz many thanks for looking into this.
I prefer the welcome screen, i.e. the second layout above, rather than the sketch.

Could this just replace the left-hand (i.e. the data) window?
Within this, I like the word **_Welcome_** at the top!  Could be in the top middle of the window?

Then I would now re-instate our New Data Frame....  There is plenty of space and it is then consistent with th

[2020-10-14 08:04] Patowhiz commented on #5632
@rdstern yes. We could just replace the data window. But again, I'm thinking why let the **output window** be shown with the new **welcome window**? How do will the 2 relate with each other(do they complement each other? what about in future when we have a feature of changing the working space). There is a clear relationship between the **data window** and **output window**.

@rdstern what about t

[2020-10-14 08:14] rdstern commented on #5632
My reasoning is a combination of points.
a) The result of using the new welcome screen is to add data into the left-hand window.  Unlike a spreadsheet, the results are in a separate window and that is unaffected.
b) I am often restarting with a new data set, but continuing an analysis.  So the results window still has graphs, etc.
c) And it would be simpler to finish.  The main things of importanc

[2020-10-14 08:35] dannyparsons commented on #5632
We need to keep the output window visible from start up. As well as what Roger mentions, R code is run when R-Instat starts and it would be wrong for this not to be visible by default.

I like the ideas for the left side view from VS Code, thanks for sharing that. In particular the 3 sections for "Start", "Recent" and "Help". I think we should have exactly the same. Help can have links to the Help

[2020-10-14 08:59] Patowhiz commented on #5632
@rdstern @dannyparsons thank you. Sounds contextualised well enough. Will start the design now. On starting R-Instat, the Data View window will have 3 sections labelled as; Start, Recent, Help. Each sections will have links similar to what's show in the screenshot above but with content similar to what is the in the menu and as proposed in this issue.

With the new thoughts put forward, @rdstern d

[2020-10-14 09:22] Patowhiz commented on #5383
Sounds good.,

[2020-10-14 10:24] rdstern commented on #5632
@Patowhiz you are right that the Welcome isn't possible as a part of the new screen each time.  If really easy then perhaps at the top, there is **_Welcome to R-Instat_** just the first time R-Instat is loaded.  But that's a luxury!

[2020-10-14 11:16] dannyparsons commented on #5632
We could try a bigger label at the top for "Welcome" or another suitable place. Might be nice but might not look good, maybe try a few different things and see.

[2020-10-14 15:21] Patowhiz opened #6018 "Correct Expressions Producing Errors On Clicking Try Control In Enter Dialog"
Currently in the enter dialog, when you type in a plain numeric or character value as the expression (see screenshot below), the try control gives an error but on clicking ok the command runs successfully and generates a column filled with the typed value.

The screenshots below can be used to reproduce the error.
Numeric expression
<img width="436" alt="error_1" src="https://user-images.githubuse

[2020-10-14 15:42] Patowhiz commented on #6018
We discussed with @Wycklife and found that this was not a problem in the dialog enter.
Upon looking into `ucrTry` control, it runs the script produced by the dialog as internal command through `frmMain.clsRLink.RunInternalScriptGetOutput() `, which internally runs the command through `capture.output( )` R command.

I investigated this further and found the problem is in the `capture.output( )` R c

[2020-10-14 15:59] dannyparsons commented on #6018
That's really great. I have known about this error in `capture.output()` for a while but didn't look into or expect it to be fixed in R! Great that it will be fixed in a new version. it's an annoyance for us but not that crucial as it's only the Try that uses it, so I think we can just wait for the release of the updated version of R.

[2020-10-14 16:03] dannyparsons commented on #6018
I don't see why we need another issue for this? We can assign this issue to Wycklife to check back on once R 4.1 is released.

[2020-10-14 17:02] Patowhiz commented on #6018
@dannyparsons yes. An alternative to this could be, to use `frmMain.clsRLink.RunInternalScript`. Runs the command and returns true or false. The downside is it doesn't capture any R error returned.

I'm happy to wait for the next version.

[2020-10-14 17:20] dannyparsons commented on #6018
yeah that's not really what we want so let's wait.

[2020-10-15 10:58] Patowhiz commented on #5632
@rdstern here is a screenshot of the design. Please suggest the links to add in the Help section.
The number of recent files shown by default are 5 (just like in the file menu). The "more" button lets you view more recent files.
@dannyparsons I've made the maximum viewable recent files to be 30. But only 5 can be view in the file menu as before. There is a comment in the code that suggest this sho

[2020-10-15 11:22] Patowhiz commented on #6002
@lilyclements @rdstern which PR should I wait for? Were the changes merged?

[2020-10-15 11:46] lilyclements commented on #6002
Yes changes have been merged. It was PR #5943

[2020-10-15 12:11] Patowhiz commented on #6003
@rdstern Will do this once PR #6019 is merged. Changes will affect the same controls.

[2020-10-15 12:12] Patowhiz commented on #5995
@Ivanluv okay, what about line  `data_book$get_models(data_name="dodoma", model_name="last_model")` ?

[2020-10-15 12:25] dannyparsons commented on #5632
Looks very nice! I think there could be a "Welcome" label at the top in a slightly bigger font. But I don't mind with or without it, maybe it doesn't fit completely because this will appear when you delete all the data as well, so it's not really a "welcome" then. I let Roger decide on that.

The `...` is missing on `New Data Frame` and there shouldn't be a space before the `...`

What does the Mo

[2020-10-15 12:28] dannyparsons commented on #5632
Also can you test what happens when you change the size of the Data View window. Fixed position would be fine, we don't really want them moving about when the window resizes.

[2020-10-15 20:14] Patowhiz commented on #6002
This is not as simple as I thought. The dialog produces the following script;

[code]

@dannyparsons I can't find `data_book$run_instat_calculation` function in `instat_object_R6.R` file. I'm struggling to understand where this function is called from.

Below is how it's being set up in the dialog;

<img width="622" alt="runcal" src="https://user-images.githubusercontent.com/21179007/96180848-ba6b

[2020-10-16 05:58] Patowhiz opened #6020 "Typing/Replacing data in single cell in the grid"
Currently the code implemented does validation at the VB.Net side.
As mentioned by @dannyparsons in this [comment](https://github.com/africanmathsinitiative/R-Instat/pull/5982#issuecomment-692847413) in PR #5982, this needs to be redone to use the same principles used in  PR #5982.

@dannyparsons comments

[2020-10-16 08:54] dannyparsons commented on #6020
I think that's right. Entering a value in a single cell is just a specific case of pasting so it should use now use the same new R function that has been written for pasting. Then the VB validation can be removed as you mentioned and this code becomes tidier.

[2020-10-16 11:05] dannyparsons commented on #5976
- pbs #6006

[2020-10-16 12:31] lilyclements commented on #6008
@rdstern to
d) The `large_data_size` option is only for `vis_dat` and `vis_miss`. If I am understanding correctly that this control relates to that parameter, then this should not be present for `vis_guess`
e) Is the sample fraction option a fraction of the number of rows to sample from? If so, then the `x` parameter in the `vis_` function should equal the `slice_sample` function in the `dplyr` pa

[2020-10-16 17:41] lilyclements commented on #6002
I'm not sure the process to modify it, however, if it helps the `run_instat_calculation` function is written in the `calculations.R` file.

[2020-10-16 19:48] rdstern opened #6024 "Grid to display accents and other symbols?"
![image](https://user-images.githubusercontent.com/11226469/96302335-8ef63580-0ff0-11eb-9301-e2932d8c4a6d.png)
[Station and Elements Niger.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5393964/Station.and.Elements.Niger.xlsx)

The elements imports easily into R-Instat.  And the information is correctly imported, including accents and symbols like the degree symbol.  But they don't

[2020-10-18 07:58] #5980 closed

[2020-10-19 06:21] Patowhiz commented on #6024
@rdstern by grid, you mean the data view window?

[2020-10-19 06:26] rdstern commented on #6024
Yes the reogrid.
Here is an example showing it doesn't display extended characters
![image](https://user-images.githubusercontent.com/11226469/96408861-44391100-11dc-11eb-9347-00c4317719d4.png)
[Station and Elements Niger.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5399504/Station.and.Elements.Niger.xlsx)
This is the file I used. - First sheet

[2020-10-19 06:50] rdstern opened #6025 "Small change in climatic summaries dialogue?"
Can the data receiver in this dialogue be changed to become a multiple receiver?
I don't know now why we made it a single receiver - I think that was a mistake on my part.

If not easy, then leave it.  But it is a much used dialogue and would be needed for the SPI video as well as in its own right.

Ideally this would be for the forthcoming release?  Is that possible?

[2020-10-19 08:04] Patowhiz opened #6026 "Option to set maximum number of recent files remembered by R-Instat"
We now have additions in PR #6019 that allow users view recent files to a maximum of 30 files. A user may want to increase or reduce this number.

Currently we don't have this setting in options dialog. For such functionality to be added, we need the option to be added.

[2020-10-19 11:35] dannyparsons commented on #6025
The code will work exactly the same with multiple columns so it's a simple change on the dialog.
@africanmathsinitiative/developers Can someone available take this up? It's needed urgently but should be simple.

[2020-10-19 12:00] lilyclements opened #6027 "Option to add a method ".IsCurrentReceiver()" to ucrReceiver controls."
In the `Define Surv Object` dialog, I think there needs to be a way to determine which ucrReceiver is currently selected.

For example, if the "Interval" button is checked, then there are three receivers: "Entry Time", "Exit Time", and "Event".

![image](https://user-images.githubusercontent.com/21180424/96441445-7315ae00-1201-11eb-868a-78c93564b6dc.png)

If "Interval2" is checked, there are two r

[2020-10-19 13:06] Ivanluv commented on #6025
Am looking at this

[2020-10-19 13:09] Patowhiz commented on #5996
@rdstern that will certainly work. I can simply do a change like in PR #5990, by including support of object of types "recordedplot" to be recognised as graph objects. I've done and tested this, it works.

However, I found out that, the R function `grDevices::recordPlot()` only works when there is a display list. So when you use the function in R-Instat, it works when you display the graph in the

[2020-10-19 13:25] shadrackkibet commented on #6025
Sorry, @Ivanluv Since I am already working on moving missing values options from the sub-dialog which involves this dialog, I suggest to work on this since I already have an open PR on this dialog.

[2020-10-19 13:29] Ivanluv commented on #6025
Okay

[2020-10-19 13:42] shadrackkibet commented on #6027
@lilyclements  I found a check to do this. Try doing something like ` ucrSelector.CurrentReceiver Is ucrReceiver`

[2020-10-19 14:41] lilyclements commented on #6027
Great thanks! It is under
`ucrSelectorFitObject.CurrentReceiver.Name Is "ucrReceiverEvent"`

[2020-10-19 14:41] #6027 closed

[2020-10-19 15:40] rdstern opened #6029 "Improving the Inventory graph"
![image](https://user-images.githubusercontent.com/11226469/96472651-9f90f080-1228-11eb-91ad-c9a5dc23960d.png)

It would be good to enhance different aspects of this graph.  It is a function and hence I suggest these be added as a sub-dialogue.
There are a number of elements to add and that is for daily data.  It would also be good if it could work better for hourly data.
Among the additions would

[2020-10-20 09:09] #5959 closed

[2020-10-20 09:22] lilyclements commented on #6008
Presumably, if the nud for the Sampling Fraction is `1` then the `x` parameters in the `vis_` functions should still be the data frame (or selected columns). This is because if we use `vis_miss(x = dplyr::slice_sample(.data = <dataset>, prop = 1)` the rows are no longer in the order that they were in the data set (and it is running code that is not required).
If the nud is less than `1`, the `x` p

[2020-10-20 16:07] dannyparsons commented on #5976
- visdat

[2020-10-20 16:16] dannyparsons commented on #5976
@africanmathsinitiative/developers please keep track of PRs that you create which require new R packages to be added to the project. We have found a number of R packages used in active dialogs already merged which were not on this list or not linked to PRs. These dialogs won't work in the release version of R-Instat unless we know we need to add them to the list of R packages.

I suggest we have a

[2020-10-20 17:51] rdstern opened #6031 "Another very small change in frmmain climatic"
Whole @shadrackkibet is changing frmmain in #6030 could this one be done at the same time.

In Climatic > Check Data could you please swap Fill Missing Values and Display Daily.  So Display Daily goes above the line and Fill Missing Values goes below.

[2020-10-21 06:15] rdstern commented on #5398
@shadrackkibet with the current pull request I suggest it is time to retreat a bit.  I tried again with the survey dataset.  I made a summary of the counts and mean yields by village and variety.  The Add labels is just on the Describe > General > Use Summaries dialogue.
My first example looks like this:
![image](https://user-images.githubusercontent.com/11226469/96679677-0539c580-136c-11eb-8995-d

[2020-10-21 08:11] lloyddewit commented on #3577
In issue #5976, @dannyparsons wrote:

This is not directly related to in-line documentation. I mention it in this issue because we could consider including this guidance in the technical documentation website described above.

[2020-10-21 08:16] lloyddewit commented on #3577
More guidance from @dannyparsons (WhatsApp msg) that we could consider for the technical documentation website:

[2020-10-21 12:38] rdstern commented on #3995
As this is getting ready to be merged - and I am happy with that - want to check more (possibly once it has been merged) with what happens in practice.  I took 25 minutes for chirps for a single point and @dannyparsons says that's quite normal.  And that it may not be much longer if an area is downloaded.

But we should perhaps alert users to that - perhaps with a video included?  And what happens

[2020-10-21 13:05] dannyparsons commented on #3995
Good points, can you please add them to an issue so we don't lose these points? Maybe a new issue for improvements so the old one can be closed.

[2020-10-21 13:28] Patowhiz opened #6033 "Unstacking data when importing from climsoft"
Currently there is no option to automatically unstack data when importing from climsoft.

From discussions we had with @rdstern, a new option needs to be added that unstacks the data when the user wants to when importing from climsoft.

When this option is checked, imported data will automatically be unstacked and a new data frame produced.

Below is what has been proposed by @rdstern

[2020-10-21 15:14] #6025 closed

[2020-10-21 16:05] #3995 closed

[2020-10-21 16:07] dannyparsons commented on #6012
Yes I think so. Let's list the dialogs where this needs to be added:

- [ ] Describe > One Variable > Summarise
- [ ] Describe > Two Variable > Summarise
- [ ] Climatic > Prepare > Extremes (possibly)

[2020-10-21 16:08] dannyparsons commented on #6012
This isn't urgent for the next release though.

[2020-10-22 07:11] Patowhiz commented on #5996
@dannyparsons, @rdstern mentioned that you may have a script that we could use to support viewing of ordinary graphs without much input from VB.Net front end?

[2020-10-22 07:59] Patowhiz opened #6035 "Linking and remembering open file path to save or export file path"
Currently, if I open a file using **File > Open From File**, when saving the same file the Save Dialog prompt takes me to the documents folder.
When I restart R-Instat, and use **File > Open From File** it always takes me to Document folder.

@rdstern and I would like to propose the following.

1. Can we make by default the Save and Export dialogs open the directory used in **Open From File** by u

[2020-10-22 08:43] #5632 closed

[2020-10-22 09:13] dannyparsons commented on #5996
`grDevices::recordPlot()` looks useful, possibly we want to incorporate this into how we recall graphs e.g. as another call type for non-ggplot graphics. But it will have several other implications in other parts of the software that need to be considered. It would also be worth us looking into alternatives to `grDevices::recordPlot()` that might be even easier for us to use.

[2020-10-22 09:56] rdstern commented on #6035
This started as a discussion about the idea of a "working directory".  But I am happy to emulate what Excel does.  I note that R-Instat does open files from a variety of sources.
a) The example by @Patowhiz is the most common.  We use File > Open from File and choose a file.  It remembers the directory.  Then Save or Export will start, by default in the same directory.
b) We re-use a recent file.

[2020-10-22 10:04] Patowhiz commented on #6035
@dannyparsons what are your thoughts on this. Any suggestions?

[2020-10-22 10:54] Patowhiz commented on #6024
@rdstern in my laptop. I'm also unable to view the Name column which has the accents. I'm wondering why it seems to be visible in your laptop.

<img width="477" alt="no_col" src="https://user-images.githubusercontent.com/21179007/96862332-005d3a80-146e-11eb-8783-8ac8899a36ba.PNG">

[2020-10-22 11:11] rdstern commented on #6024
@Patowhiz that's a different feature.  Make the R view of the data much wider and you will then see the last variable.  Or, I assume, use the scroll bar

[2020-10-22 12:40] dannyparsons commented on #6035
Yes this would be good to sort out, and as Roger mentions its not simple because some locations that we open we do not want to be remembered. But for the others it may be good to be remembered. But some things are not clear to me, for example saving a graph or the log file, does that remember the same global location or it's own? We also have a principle that dialogs open as they were closed so th

[2020-10-22 14:24] Patowhiz commented on #6035
@dannyparsons I think a "working directory" is an advanced solution to the simple problem that I have defined above. A "working directory" to me is basically a directory that a user chooses to let a software automatically save files that are currently opened. In other software, even the metadata files(like settings, files about current opened files etc) and temporary files( like periodically auto

[2020-10-22 14:29] #5383 closed

[2020-10-22 16:23] #5976 closed

[2020-10-23 10:46] shadrackkibet commented on #5398
@rdstern looking into your examples above, my understanding is that the problem with the labels is with positioning. I tried positioning the labels to get graphs below.
![image](https://user-images.githubusercontent.com/26301973/96994029-c3a84680-1534-11eb-93da-407143d2f536.png)
![image](https://user-images.githubusercontent.com/26301973/96994587-99a35400-1535-11eb-9063-c32c4137553b.png)
![image](

[2020-10-23 13:37] Patowhiz commented on #6024
I initially thought that the problem was in the grid itself, searching online I couldn't find a similar problem. Then upon looking into the grid much more in detail I noticed that these accents are displayed well in the import dialog preview. Looking into the settings of the 2 grids, their set up is relatively the same.

Looking into it from the R perspective;
To preview the data, the import dialo

[2020-10-23 14:23] rdstern commented on #5398
@shadrackkibet that's great and exactly what I would like.  How does that work with the dialogue?

[2020-10-24 10:57] shadrackkibet commented on #5398
Check that on my PR. Thanks

[2020-10-24 11:17] rdstern opened #6041 "Curious possible bug adding labels to R-Instat names"
This is a very esoteric example, but it throws me out of R-Instat and just may be more general than this example.
I open from library, use ggplot2 and diamonds.  I click on the help button in this dialogue to get information on each variable.
I now put the data into R-Instat and press on the icon to open the column metadata.
I copy the description of each variable from the help file in the browser

[2020-10-25 11:10] rdstern opened #6042 "Serious bug with the Position button"
The recent version (0.6.3) has introduced a bug on the dialogues that use the Position button.
I originally thought this was linked to the new Calculator dialogue that has been updated to include this facility.  But it seems more general than this.
I just tried also with the Right-click > Duplicate dialogue and have the same bug.  After using this facility it doesn't recognise the new variable.  I

[2020-10-25 22:07] Patowhiz commented on #6002
@lilyclements thank you.
This is an interesting issue. Current backend functionality that we have for adding and at the same time reordering the columns could not support the feature requested here.
I have extended that feature, will also be useful in future if we get a similar problem.
There was also a small bug in the `calculation.R`, but I've managed to add the functionality with major change i

[2020-10-26 03:23] rdstern opened #6044 "Two important changes needed related to the summarise dialogue"
Preparing the video on the second tutorial I am now absolutely convinced we need to make both these changes urgently.  The resolve awkwardness in the 2nd R-Instat tutorial that are both of the type I feel is the "Genstat syndrome".
Genstat introduced the idea of factors, etc that is also central to R and extremely useful.  But we got used to paying a heavy price in Genstat for the concept of being

[2020-10-26 04:02] rdstern opened #6045 "Minor oddity with the new startup window in R-Instat"
I have given it the label here reogrid as representing the data window.
There are 3 parts to the content of this new window:

a) Shortcuts to File New, Open and Library
b) Recent files
c) Help information

Now, when you start, a) and the heading for b) and c) appear immediately.  Then there is a pause - a few seconds and then the files for b) appear.

To me this looks odd.  I don't know if you agr

[2020-10-26 05:57] shadrackkibet commented on #6031
This should be closed.

[2020-10-26 06:55] Patowhiz commented on #6045
@rdstern I could look into speeding up the display of (b), I didn't do that because I would have had to restructure the sequence of things when starting R-Instat, which would have probably delayed the PR.

Alternatively I could also ensure the heading is only displayed when the recents have loaded. Or rather do both.

I think swapping (b) and (c) would look odd from a UI amd UX perspective.  The i

[2020-10-26 07:07] rdstern commented on #6045
I am happy with either.  And no urgency on this.  It is purely cosmetic and is working fine.  I am using it and am really pleased with the way it works.

[2020-10-26 16:25] rdstern commented on #6044
Having discussed with @volloholic and @dannyparsons today, there seems to be a simple solution, which could - if necessary - at least partly - be implemented quickly.
a) The current receiver for the factor-type variables currently accepts everything non-numeric.  It should be relaxed to accept any variable.  Please could this be done as soon as possible.
b) When a non-factor is used, then a checkb

[2020-10-27 07:32] Patowhiz commented on #6042
@rdstern @dannyparsons this bug is as a result of the updated package, `dplyr`. The script that adds new column has the functionality of positioning the newly added column. The part which positions the column uses `dplyr::select()` function. And it does this by passing parameters that select the variables of the data frame in the rearranged order(see screenshot below). However, when doing this, th

[2020-10-27 07:53] Patowhiz commented on #5588
@rdstern I just found this 2019 issue. Would you now like me to look into it?

[2020-10-27 08:58] Patowhiz commented on #6041
@rdstern I'm not sure why in the diamond documentation they chose to use `price in US dollars (\$326–\$18,823)` instead of just `price in US dollars ($326–$18,823)`. Could be the intention was to "escape" the $ sign in the tool used to generate the documentation.

The error was caught in my machine. And the new label was not saved to the instat object, though it appeared accepted by the columns me

[2020-10-28 07:44] #5801 closed

[2020-10-29 11:52] Patowhiz commented on #6045
@rdstern I've made the recent header and files to be displayed when R-Instat is fully "initialised" (and almost the same time the output window displays the initial command). I realised doing so is much safer (`R` has to be initialised first before any opening of file operations) and won't deviate from current loading events much.

I've also optimised the code to prevent unnecessary calls of refre

[2020-10-30 08:41] Patowhiz commented on #5991
@rdstern at the moment we have pasting to existing new columns. Where it always assumes that there are no column headers in the copied data. I'm not sure if pasting to new columns should always be through a dialog or not. If not a must, I'm not sure on the default functionality in terms of whether the column header should always be assumed not to be in the copied data.

@rdstern below is a sketch

[2020-10-30 08:48] Patowhiz commented on #5991
@rdstern the label "Click ok to paste data to new columns" will also be used to give user feedback on why the data cannot be pasted. It's colour will change to red when there is something wrong with the data(for instance longer data length than the selected data frame).

[2020-10-30 09:15] Patowhiz commented on #5992
@rdstern below is a sketch of the possible dialog.
![paste_data_frame](https://user-images.githubusercontent.com/21179007/97683483-79314780-1aa9-11eb-801d-02519f1d0a80.jpg)

The label "Click ok to paste data to new data frame" will also be used to give user feedback on why the data cannot be pasted. It's colour will change to red when there is something wrong with the data.

[2020-10-30 11:56] lilyclements opened #6057 "Fixing the minor issues in the calculator, including the position of the resulting variable"
The name of this issue is now more general to indicate other improvements made while this issue is fixed.

There is a very small bug with the `TestOKEnabled` in the calculator dialog where OK is enabled if there is no name given in the ucrSave for the new column. Currently the sub aimed at this is:

[code]

However this does not run if you remove the name of the new column. This means that you can

[2020-10-31 09:57] rdstern commented on #5992
Looks fine.  Would it be good to add 2 more bits of information?  Number of Variables and also Number of Rows?

[2020-10-31 10:15] rdstern commented on #5991
1) I assume this will always be after the existing data?  Or is the first control "Paste Data To" giving where?  If so, then could it be "Paste Data After Variable".  Default could be the last variable in the existing data.  Perhaps None, or blank could mean it is at the start?
2) Should the header should be Paste Data to New Columns, rather than Column?
3) In the Prepare > Column: Calculate > Reg

[2020-10-31 23:47] rdstern opened #6058 "Issues related to 2nd tutorial"
As part of the upgrade at the end of the year I am redoing the 2 introductory tutorials and we are adding videos with them.

I suggest they would be reported as part of our video deliverables, partly because I find them good to use for the new climatic users of R-Instat as part of their introduction.  I think they will go down well.

1) The only item that I suggest has enhanced Tutorial 1 has been

[2020-11-02 10:16] mhabimana commented on #4915
@Patowhiz - I suggest you to keep the Import from Climsoft wizard dialog only instead of both options,the wizard option is straight forward and simple.
![image](https://user-images.githubusercontent.com/10340170/97856110-ea246980-1d0c-11eb-81e5-f306b0e2cfca.png)

[2020-11-02 15:23] N-thony commented on #6029
![image](https://user-images.githubusercontent.com/68591383/97885437-084f9100-1d30-11eb-8e4d-7eebb04454e0.png)

[2020-11-02 15:23] N-thony commented on #6029
![image](https://user-images.githubusercontent.com/68591383/97885507-1ef5e800-1d30-11eb-9108-eb3faf6655d5.png)

[2020-11-02 15:24] N-thony commented on #6029
![image](https://user-images.githubusercontent.com/68591383/97885555-3208b800-1d30-11eb-9162-a03faeb4ddce.png)

[2020-11-02 15:24] N-thony commented on #6029
![image](https://user-images.githubusercontent.com/68591383/97885607-42209780-1d30-11eb-8220-d4e7559fd077.png)

[2020-11-02 15:24] N-thony commented on #6029
![image](https://user-images.githubusercontent.com/68591383/97885647-51074a00-1d30-11eb-880b-8c72db19f33f.png)

[2020-11-02 15:27] N-thony commented on #6029
@Roger, I have made the design for the inventory sub dialog to improve the inventory graph.

[2020-11-02 15:33] Patowhiz commented on #5991
@rdstern current implementation is;
a) If it is too short, then missing values(NA) will be appended.
b) If it is too long, data will not be pasted.

I'm happy to change the functionality
Feedback is given to the user before proceeding. See example screenshot below.

<img width="452" alt="pasting_1" src="https://user-images.githubusercontent.com/21179007/97886599-d80cf000-1d39-11eb-9bb9-538c769b053

[2020-11-02 15:39] Patowhiz commented on #5991
@rdstern a user can paste more than 1 column. So the "Paste Data To" is meant to select the data frame.
I used Paste Data to New Column(s) because it could be 1 or more new columns.

Will push the PR for this for more testing.

[2020-11-02 17:21] rdstern commented on #6029
@N-thony many thanks for this.  Overall it looks good, and I wonder if you have made parallel progress with new arguments in the function.  Then different aspects could then be tried as the sub-dialogues are progressively implemented.  They can be tested using rstudio or through the script window.
This does now also need input from @dannyparsons as well.  Here are some comments.  They are based on

[2020-11-02 17:31] rdstern commented on #5991
@Patowhiz this looks great.  I look forward to the PR.
My question above was partly on where the new variables are pasted within the existing data frame.  I assume the default is after the existing data?

[2020-11-02 17:48] Patowhiz commented on #5991
@rdstern yes. At the moment ,the new variables are saved after the existing data i.e after the last column.

[2020-11-03 08:26] Patowhiz commented on #5992
@rdstern under what menu should this dialog be opened from?

[2020-11-03 08:26] Patowhiz commented on #5991
@rdstern under what menu should this dialog be opened from?

[2020-11-03 08:40] rdstern commented on #5992
I assume at last we are starting our edit menu properly, so it could go there?  Paste has its own section there?  I assume Paste is activated, when there is something for your new Paste.  Underneath (in the same section) there is Paste New Column(s) and Paste New Data Frame?

[2020-11-03 08:48] Patowhiz commented on #5992
Okay. Doing a separate PR to add the menu items.

[2020-11-03 11:12] #6002 closed

[2020-11-03 11:12] #6042 closed

[2020-11-03 12:53] Wycklife opened #6060 "Adding three plots dialogs from the circular package in Structur>Circular menu"
These dialogs, Rose Plot (same as wind rose?), Density Plot and scatter Plot already have a placeholder under Circular sub menu in the structured menu. I have been comparing these plots from the circular package and reproducing the same using ggplot2 package. I find it efficient, consistent with our graphics and flexible to extend these plots using ggplot2 rather than those in circular package whi

[2020-11-03 13:17] dannyparsons commented on #6024
`convert_to_character` is used to take care of formatting of columns to display in the grid using the metadata. This issue definitely looks solveable from what you've looked at. The important question though, is why the convert option messes up the display. That's the next thing to find out. I can look into that in the R code or you may want to continue?

There is also inconsistency in how we disp

[2020-11-03 13:43] mhabimana commented on #4915
What is your view on my suggestion of keeping the wizard dialog and not both options? does it make any sense to you?

[2020-11-03 13:45] mhabimana commented on #4915
What is your view on my suggestion of keeping the wizard dialog and not both options? does it make any sense to you?

[2020-11-03 14:05] lilyclements commented on #6060
Would you mind sharing the code for doing these in the `ggplot2` package? (Just more out of interest than anything else).

[2020-11-03 14:05] dannyparsons commented on #6041
`\` is a special escape character in R e.g. `\n` for new line. Hence, when you do `"\$"` it's looking for that as a special escape, which it isn't. If you just want a `\` in your string then you need to use two of them `"\\"`.

It's not clear how we can trap this very easily. Replacing each `\` by `\\` would be safe to prevent errors but might not be what was intended. This might be what we do for

[2020-11-03 14:45] dannyparsons commented on #5999
I need to understand a bit more clearly by discussing with Roger exactly what might be useful for g) before suggesting something to implement.

[2020-11-03 19:36] Patowhiz commented on #4915
@mhabimana thank you for your feedback.  Yes it makes sense. The wizard was an idea I had in making it easy for climsoft users to import data, I'm happy you happen to find it so. I'm also happy with either options because it gives user's the freedom to choose either options.

Will be keen to get other's feedback on the same

[2020-11-04 11:15] shadrackkibet opened #6062 "Taylor diagram bug"
When the same variable is used as a station and group as shown below then the dialog bugs!
![image](https://user-images.githubusercontent.com/26301973/98104602-b6ca1200-1ea7-11eb-8000-1a41f5e172ea.png)

Clearly, the function doesn't allow this from the error output.
![image](https://user-images.githubusercontent.com/26301973/98104722-e547ed00-1ea7-11eb-8692-704799786a1c.png)

The only way to avoid

[2020-11-05 10:59] #5788 closed

[2020-11-05 10:59] #5969 closed

[2020-11-05 10:59] #5977 closed

[2020-11-05 17:41] dannyparsons commented on #5991
This should be under the Edit menu I believe.

I like the ideas here. I hadn't thought of a dialog for pasting new columns but this is nice because you can check what will happen and make sure it's as expected.

Where does pasting as a new data frame come in? It's basically the same so I think it can also be in this dialog. Possibly an option at the top to paste into an existing data frame or a ne

[2020-11-05 18:07] dannyparsons commented on #6045
That's an improvement, but it still looks odd for the 3 sections not to appear at the same time. Can you delay the Start and Help sections to appear at the same time as the Recent section?

[2020-11-05 18:21] dannyparsons commented on #6042
Thanks for looking into that and finding the existing function for reordering, that's better than the existing code which is a repetition.

We should gradually move all our data management tasks to align with `dplyr` which will give more consistency but that can be done over time.

[2020-11-06 11:28] rdstern opened #6068 "Minor addition in the Climatic > Prepare > Climatic Summaries dialogue"
This is to add a 4th button - really the first button - at the start of the top of the dialogue.  It is called Station.  The other 3 buttons will have to become a bit smaller to keep the same size for the dialogue.
The default is still the Year button.
If the Station option is chosen then I am happy that the same other items remain visible, as are on the Year button.  But the Station must be compl

[2020-11-06 17:49] shadrackkibet commented on #6068
Yes, this is easy to implement. The summary R function can cope well with this functionality. For example for the mean, maximum, count of non-missing and sum will look like this.

[code]
Only that I don't see the reason why we need other receivers like Date, DOY and Year etc. It won't be used anywhere in code. Perhaps we just keep them for consistency.

[2020-11-07 09:04] rdstern opened #6069 "Add a view all data button below the current data"
This should be simple - and would be very nice.  It is another feature that will make R-Instat that bit more attractive.  It became clear to @volloholic on viewing the first tutorial video.  And generally we are finding that R-Instat is standing up well, with a variety of small ideas making it smoother and more attractive.

Currently the default is that 1000 rows are shown in the grid.  To see the

[2020-11-07 09:11] rdstern opened #6070 "Add a view all data button at the side, after the visible variables"
This is the sideways partner to issue #6069 .

Then grid currently has a default of 30 variables.
In #6069 we have suggested this button below the data, when not all rows are shown.  This is the partner button, when not all variables are shown.  It does exactly the same, i.e. it calls the R viewer.

Again it should only appear when there are more variables in the data, than can be shown.  Currentl

[2020-11-07 11:27] rdstern opened #6071 "Improved Copy from reogrid etc"
I am very happy with the new facilities for pasting into a grid.

I would like to check on the reverse operation, namely copying from the grid - and presumably also from the column and sheet metadata - as an export facility

It currently seems to work pretty well already, but it doesn't copy the names of the variables.  In the metadata the situation is (not surprisingly) the same.

[2020-11-07 11:31] rdstern opened #6072 "Prepare > Keys and Links Add Key and add Link"
They both seem to work.  But we now report something into the output window for most changes like this.

Could that we added here too.  It just needs one line.

A larger change (not urgent) would be to allow links between variables with different names.

[2020-11-07 11:40] rdstern opened #6073 "Two possible changes in Prepare > Check Data > Non-Numeric Cases"
, 1. There is currently an option to write to a subset.  I would prefer a filter.  Could the checkbox be changes to "Create Filter of Non-Numeric Cases". Default, as now, is unchecked.
If checked, then there is another checkbox visible on the same line that says "Create as Subset" Default is unchecked.
If both are checked, then it does as now.  If only the filter is checked, then it just does a fi

[2020-11-08 07:22] rdstern commented on #6073
Discussions with @dannyparsons indicate these may not be small changes.  If that is the case, then they can wait.

[2020-11-08 07:27] rdstern opened #6074 "Trivial change in Prepare > Text > Split"
![image](https://user-images.githubusercontent.com/11226469/98459523-84643180-2193-11eb-88a6-53e5ddb6916e.png)

What has happened to the Position control here.  Usually it is the right size, but just not quite aligned.  I would love that to be corrected.   But here it has grown fatter and just looks messy!  Could it be resized please.

[2020-11-09 11:42] lilyclements commented on #5835
@rdstern this issue can be closed

[2020-11-10 09:11] #5835 closed

[2020-11-10 09:15] dannyparsons commented on #6070
The default limit of 30 was there because we had instability with some datasets when the maximum was higher. I'm happy to reconsider a higher default limit if it can be shown that these issues are no longer there. This would require some extensive testing with a variety of wide datasets by multiple developers.

[2020-11-10 10:31] dannyparsons commented on #6071
@Patowhiz could you check in the reogrid functionality if we can copy the column headers? If not, we may have to implement some of the copying manually, which would be less desirable. We can also request features on the reogrid repo if needed.

For implementation, my suggestion would be that if the first row is part of the selection when copying then that should include the column headers as well.

[2020-11-10 10:53] dannyparsons commented on #6073
This could be done by writing our own custom function to do this, which would mean we can have all the flexibility needed. But that's a bit of work to rewrite.

[2020-11-10 11:24] rdstern opened #6078 "Labelling boxplots with the date in plotly"
I am sure @dannyparsons was able to do this before, but I can't see how now!  In boxplots in plotly this is what you get now when you hover:
![image](https://user-images.githubusercontent.com/11226469/98667935-0a74a980-2347-11eb-9a97-913c56ad4064.png)

It would be great if it could be labelled with the Date variable, rather than just the value of the observation

[2020-11-10 14:05] dannyparsons commented on #6078
I can't seem to find a simple solution to this without adding a layer of points. One solution is to add a layer of points only for the outliers by filtering and setting the label of these points. I can't find an easier way to this and can't remember if this was the solution used before.

[2020-11-10 14:09] dannyparsons commented on #6078
For the climatic boxplots, would it be useful to have an option to label outliers with a `geom_text` layer? This would then display without using plotly.

[2020-11-10 15:04] rdstern commented on #6078
Is it [here](https://stackoverflow.com/questions/36325154/how-to-choose-variable-to-display-in-tooltip-when-using-ggplotly) for plotly?
If it is easy, then it would also be good to be able to label the outliers only in the ordinary boxplot.  Earlier ggplot insisted on 1.5 for the coefficient, but now it can be changed.  It would be good to add that also on the main (climatic) boxplot.  It is alrea

[2020-11-10 16:11] dannyparsons commented on #6078
I think the link you sent only work for `geom_point` but try it for boxplot and see.

Those options are easy to add where needed.

[2020-11-10 16:26] rdstern commented on #6078
Would it work then if we had a geom_point before the boxplot layer - at least as an option?

[2020-11-10 17:32] dannyparsons commented on #6078
I would suggest a point layer on top with the data filtered for the outliers only. Then it should work with labels and plotly.

[2020-11-10 21:26] rdstern opened #6080 "Improve the position control in various dialogues"
a) This can start with the calculator.  The Save Result control (which now has the position button added) I thought used to be a pull-down, so it was easy to choose the existing variables.  If so, it has gone now.  Please could it be either put back of put there if it wasn't ever there before.
 To see what is needed see, for example Prepare > Check > Duplicates where there is the pull-down.  That

[2020-11-11 06:03] Patowhiz commented on #6002
@rdstern you may need to reopen this issue once PR #6067 is merged. We discussed with @dannyparsons in regards to the changes and modifications he has added to the R function that affects this dialog. And changes made in PR #6067 are good and necessary.

[2020-11-11 07:46] Patowhiz commented on #6071
Looking into this

[2020-11-11 10:31] dannyparsons opened #6081 "Climatic boxplots possible improvements"
There is a date receiver on the climatic boxplots dialog but it doesn't seem to do anything. Is it needed?

[2020-11-11 10:59] dannyparsons commented on #6081
Couple of other things from the dialog:

- When having vertical x axis tick marks we should add ` vjust = 0.5` and `hjust = 1` so that the labels line up nicely
- In facets, should we set `drop = FALSE` so that empty factor levels are not removed (especially when using the omit below option)> I got confused with this graph missing two months because I filtered out dry days
![image](https://user-im

[2020-11-11 11:28] rdstern commented on #6081
a) I like the idea of lining up.
b) Agreed that Drop = FALSE would make it all clearer.  Is that option available under facets in case we wanted it otherwise?
c) I am still hoping that the date will be useful in this dialogue, because I would like it to be in the label for outliers, etc.

Another question on the graphs - not needed usually for this dialogue.  Can the depth of the heading be altere

[2020-11-11 12:05] Patowhiz opened #6082 "Associating rds files to R-Instat"
@rdstern requests

[2020-11-11 13:11] dannyparsons commented on #6081
Sounds good.

@africanmathsinitiative/developers could someone make these changes on climatic boxplots?

and, add `drop = FALSE` to the facet functions.

I'll make a separate issue for adding `drop` to the facets tab on the Plot Options subdialog so we have this option generally.

We'll leave the date receiver then as we hope to use it in future.

[2020-11-11 13:18] dannyparsons opened #6083 "Add drop parameter to facets on Plot Options subdialog"
`facet_wrap()` and `facet_grid()` have a `drop` parameter:

This is a useful option to have, especially when filtering. I suggest this is added to the Facets tab on the Plot Options subdialog as a checkbox: "Drop empty factor levels". Default is checked as in R.

@africanmathsinitiative/developers can someone take this up? @maxwellfundi could also support this

[2020-11-12 07:32] shadrackkibet commented on #6083
I am taking up this.

[2020-11-12 10:57] shadrackkibet commented on #6081
I am also taking this up. In addition to the above, I will change `ggplot2::xlab("")` into `ggplot2::xlab(NULL)`. The latter gives more room for the graph below the x-axis.

[2020-11-12 11:34] shadrackkibet opened #6085 "Removing a filter from Data options and Add button"
Currently, when you got a filter say `Filter2` you can just add it into the receiver from data options subdialog and once you click return the filter is activated (red rows on the data frame) and also it remains on the receiver. Can I be allowed to do the reverse? i.e when a filter is already added into the receiver and then cleared, once return is clicked then that specific filter is then removed

[2020-11-12 12:44] shadrackkibet commented on #6068
@Ivanluv any progress on this?

[2020-11-12 12:46] #5966 closed

[2020-11-12 12:56] dannyparsons commented on #6081
That would be good to give more space. I think the "correct" way to do this in ggplot would be `+ theme(axis.title.x = element_blank())`. That would then be consistent with the themes dialog. Does that also give the extra space? If not, I'm happy with your solution.

[2020-11-12 16:15] dannyparsons commented on #6080
There is also a serious issue in the Calculator. It used to have a checkbox in the save control will allows for saving or not saving the column. If not saving the result is printed only. This option has been removed. Can it be added back as part of this work?

[2020-11-12 16:16] dannyparsons commented on #6045
@Patowhiz can you make this change soon? It affects the loading on videos so important to do soon.

[2020-11-13 01:41] Patowhiz commented on #6045
@dannyparsons Yes. So when starting R-Instat, do we let the grid be displayed with a "No Data Loaded" label, or we just make the left side be blank? i.e until R has fully loaded.

[2020-11-13 07:33] Wycklife commented on #6080
@dannyparsons I'm including that change

[2020-11-13 09:48] dannyparsons commented on #6045
Blank until the rest of loaded, the "No Data Loaded" label should be removed.

[2020-11-13 11:12] Ivanluv commented on #6068
@shadrackkibet  am looking at this

[2020-11-13 13:21] Patowhiz commented on #6045
Below is a screenshot of R-Instat during startup. The menu items become visible when recents have fully loaded.

<img width="650" alt="startup" src="https://user-images.githubusercontent.com/21179007/99076393-1f15a380-25cc-11eb-87ff-31f9167bca0e.png">

[2020-11-13 14:25] dannyparsons commented on #6045
that looks good

[2020-11-13 18:23] Wycklife commented on #6080
@rdstern  I have looked and the dialogs mentioned above, and non of the has the ticked/unticked option, did you therefore mean that, that option should be added in all the above dialogs? Kindly clarify no. 3 above.

[2020-11-13 19:33] dannyparsons opened #6090 "Guess column types when importing & dialog"
We have now changed how factor levels are ordered when converting to factor (#6088). In order to be consistent with this when importing data and making factors I am adding an option to our import method to guess the column types. This is useful, particularly with wide datasets where a user may have to spend quite a lot of time changing column types before doing anything else. Hopefully we can redu

[2020-11-13 20:34] rdstern commented on #6080
@Wycklife the confusion could be the poor formatting of my original message.  Se if it is clear now.

[2020-11-14 08:34] Patowhiz commented on #6069
@rdstern do you want the button on the left or right below the grid? See screenshot below.

<img width="746" alt="view_all_button" src="https://user-images.githubusercontent.com/21179007/99143276-483a4080-266d-11eb-8035-313f514e2a9e.PNG">

[2020-11-16 08:07] #3372 closed

[2020-11-16 08:07] #3642 closed

[2020-11-16 08:07] #4041 closed

[2020-11-16 08:07] #4555 closed

[2020-11-16 08:07] #6005 closed

[2020-11-16 14:49] dannyparsons commented on #6069
I don't think it's easy to add a button inside the the spreadsheet window i.e. between the last row of the spreadsheet and the sheet tabs, as this is all one control. Maybe reogrid has a way of doing this, I'm not sure. A "cheat" to do this could be to add a row 1001 and make it not look like a row, maybe by merging the cells, and having the text/button in the cell. I don't know if this will look

[2020-11-17 14:18] #6083 closed

[2020-11-17 16:23] #6003 closed

[2020-11-18 10:04] #5934 closed

[2020-11-18 10:08] #6062 closed

[2020-11-18 17:06] shadrackkibet commented on #6031
@rdstern @dannyparsons @lloyddewit?

[2020-11-18 17:15] #6031 closed

[2020-11-18 17:39] #5008 closed

[2020-11-19 08:35] shadrackkibet opened #6094 "Show NA as a level - Labels/Levels"
- The labels/levels dialog doesn't show NA as a level on the grid, I thought it should. @dannyparsons @rdstern  any reason why this is not the case? This is easy to enable since it is already possible through the filter as shown below.

- I also thought **View labels/labels**  is much more clear as the label on right-click rather than just **Labels/Labels**. This dialog is used mostly to view labe

[2020-11-19 10:46] dannyparsons commented on #6094
`NA` isn't really a level, but it could be useful to display. The reason it isn't is because the levels/labels are editable and `NA` should not be edited. Also, as `NA` is not a level it doesn't have a label, so there are complications with displaying it.

As the dialog is for viewing and editing, I think that's why the title is as it is. It was was called Viewing I think users would be less likel

[2020-11-19 11:19] rdstern commented on #6094
About 3 years ago I requested 4 changes.  Some have been implemented.  The 2 that remain:

1. The number of levels given at the top. You can find them by scrolling to the bottom, but it could just say Levels xxx on the top line.
2. The number of missing values in the factor column. This would also be on the top line as Missing Values: yyy. Usually it will be zero and it may be that we then don't m

[2020-11-19 11:49] dannyparsons commented on #6094
Happy with those additions as separate labels on the dialog.

[2020-11-20 11:11] lilyclements opened #6095 "Updating to make_factor"
With the addition of the `make_factor` function in the software, we need to update some functions in dialogs. The functions `factor`, `as.factor`, or `as_factor` should be updated where the levels are automatically set (i.e., where there is no `levels` parameter currently read in).

Places which need to be updated are:

* data_object_R6.R - in the `split_date` function (but not everywhere, such as

[2020-11-20 17:35] rdstern commented on #6078
I wonder if one of our other R-gurus could help on this issue - perhaps either @HawardKetoyoMsatsi  or @shadrackkibet or @lilyclements ?  If too time consuming or difficult, then happy to drop it, but I hope something is possible.

Just to emphasise what I would like - and it will be included in the next video on graphical methods to start the quality control.  I would like to know which observati

[2020-11-20 21:11] rdstern opened #6099 "Additional option in Climatic > Check Data > Display Daily Graph"
Here is the current graph for the Ghana data plotting 5 elements:
![image](https://user-images.githubusercontent.com/11226469/99848226-4c84c300-2b71-11eb-9792-181cbcae6c50.png)

This is closer to what I would like

![image](https://user-images.githubusercontent.com/11226469/99848816-5f4bc780-2b72-11eb-9b8c-99e27bdc9e47.png)

[code]
1. In the code above I have added `strip.position="right"` which h

[2020-11-22 14:06] shadrackkibet opened #6100 "Compare summaries dialog"
I think it is much convenient to have "Estimated" receiver as a multiple receiver on this a dialog. We often have estimates from various sources which we want to compare with station observation. therefore changing the single receiver into multiple will make it convenient to obtain summaries rather than using the dialog multiple times. This is already possible via the summary function therefore it

[2020-11-23 07:20] rdstern commented on #6099
While puzzling with this new feature there are a few simple improvements that could usefully be made in this dialogue.  Possibly @dannyparsons will add to this list.  These changes could be by @Ivanluv or could involve @N-thony who is making similar improvements to the Inventory plots.

a) The colours of the rugplot should become Black as the Default.  It is currently Red and that can be confusing

[2020-11-23 07:38] rdstern opened #6101 "Add Not condition to filter"
Could this be really easy to add.  For now I suggest it could be below the & and or option and we could get rid of the Remove Condition button for now.  It would just reverse the condition, by adding` !`  in front of the condition.

I give an example that I needed recently.  Climatic data from Garoua has 9 days when tmin > 100 degrees.  That is an easy condition to examine.  Then I would like the

[2020-11-23 11:53] rdstern opened #6102 "Small changes in climatic boxplots"
I have now been using this dialogue quite a lot in preparing a corresponding video.  It has held up quite well, but here are 3 small points:

a) When you first come into the dialogue it correctly completes the control, but not the within year one.  Usually this is the month control.  Could this be added when it exists.  The same lack occus when you press reset.

b) I am not sure what "Vertical x t

[2020-11-23 12:53] lilyclements commented on #6078
The stackoverflow solution works for `geom_point` but not for `geom_boxplot`

e.g.

[code]

After a little look around I think Danny's suggestion is best - add an outlier layer as `geom_point` with a `label = date` parameter, then `ggplotly` will add the label value. However, perhaps @shadrackkibet or @HawardKetoyoMsatsi will have a look and disagree.

I'm sure there is a much better way to do thi

[2020-11-24 06:44] rdstern commented on #6078
@lilyclements this looks great.  In the current boxplot you can alter the coef = 1.5 to another value and I assume this works automatically for the labelling here.
I now wonder how this can be added to the dialogue?  If it is an extra layer then ideally it would also appear as such and so could be edited as existing layers are done?  I am not sure if that might be possible.
The way your solution i

[2020-11-25 06:57] shadrackkibet opened #6104 "Help button - Import From IRI"
It is always important to understand the data set you are downloading. This is also to support writing for users who would like to produce a summary of sources, temporal and spatial ranges etc. To support this there are various documentations on the web to aid understanding of these datasets. I, therefore, suggest that we add help button into this dialog which will link into the web. This will lin

[2020-11-25 07:14] shadrackkibet opened #6105 "Multiple receiver for estimates on Taylor diagram"
Taylor diagrams are quite popular for use in the inter-comparison analysis, I have seen it used in several papers. The function from openair package is flexible enough to allow multiple estimates at a time. I, therefore, suggest we change the single receiver "Estimate" into a multiple receiver because we often have several estimates to compare. This is similar to what I have suggested in #6100. @r

[2020-11-26 10:49] rdstern opened #6106 "New bug on PICSA rainfall graph"
[four_stations_raindays.zip](https://github.com/africanmathsinitiative/R-Instat/files/5602352/four_stations_raindays.zip)

In the graph above I used multiple y of the 3 levels of raindays.  The Name (Station) was a facet, but I don't think that is relevant.

It works fine until I add a line for the mean.  Then it gives an error as follows:
![image](https://user-images.githubusercontent.com/1122646

[2020-11-27 09:28] #5398 closed

[2020-11-29 07:31] shadrackkibet opened #6108 "Packages for the next version"
@africanmathsinitiative/developers please add any new packages for the next version here. Also, add a link to any PR that uses the package.

[2020-11-29 07:33] shadrackkibet commented on #6108
- texmex #6107

[2020-12-02 12:52] dannyparsons opened #6110 "Export to World Weather Record dialog"
For WMO we have been asked to implement in R-Instat the ability to export data in the format required for submission to the World Weather Record, which national Met services are required to do for WMO. You don't need to know all the details about this but if you want to see here for more background https://www.wmo.int/pages/prog/wcp/wcdmp/GCDS_2.php and there is a WMO guide with specific details o

[2020-12-05 20:52] lilyclements commented on #6078
1. Do we want the option for both `geom_text` and `geom_point`, where the former is not used when `ggplotly` is ran?
2. I wasn't aware of this way to find the outlier values on the QC dialog. I have amended the code given above to use code given in the QC dialog (although in `tidyverse` rather than the `calculations` system).
This means that there is no issue of the `for` loop, and allows for a bi

[2020-12-06 10:17] rdstern commented on #6102
[ghana_2_stations_for_qcrain.zip](https://github.com/africanmathsinitiative/R-Instat/files/5648575/ghana_2_stations_for_qcrain.zip)

I found more oddities in the climatic boxplot code.  Maybe they can be fixed by @lilyclements, but I suspect it may need a look at the code by @dannyparsons to be efficient.

![image](https://user-images.githubusercontent.com/11226469/101277293-58949580-37ab-11eb-94f

[2020-12-06 19:01] rdstern opened #6111 "Small change needed in probability/exceedance graphs"
The changes in the dialogue seem to have been hard work.

Now I hope this is a simple point to fix.  Currently when you use the Add points option it now also subtracts the lines!

Here is what it used to do!

![image](https://user-images.githubusercontent.com/11226469/101289649-be0d7400-37f5-11eb-8b94-96fcf328db1b.png)

[2020-12-07 07:18] rdstern commented on #6106
While editing I used facets from the main dialogue.  the default, with 2 stations is for the facets to give 2 columns.  The more obvious is 2 rows, so the years can be compared at the 2 sites.  Could there be a similar pull-down control as in the climatic boxplot dialogue to specify the way of doing facets?

[2020-12-07 08:34] Wycklife opened #6112 "Adding Sadore dataset to the R-Instat library"
This is a new climatic dataset from Niger. It should be added in the Instat > Browse > Climatic > Niger > Sadore >Sadore.RDS.

[2020-12-07 09:43] rdstern commented on #6112
Just to mention not to have a special directory called Sadore.  It can go into the Niger directory along with other datasets from the same country.

[2020-12-07 10:57] lloyddewit commented on #6112
@Wycklife This PR seems to be covered by PR #6113. Can we close this PR? thanks

[2020-12-07 11:11] Wycklife commented on #6112
@lloyddewit This is an issue being fixed by PR  #6113.

[2020-12-07 11:23] lloyddewit commented on #6112
@Wycklife yes, you are correct. Sorry I misread this as a PR. I deleted my comment above.

[2020-12-07 12:01] dannyparsons commented on #6110
@HawardKetoyoMsatsi Can you respond to this? This is an important task so if you can't take it up then we need to assign it to someone else.

[2020-12-07 13:32] HawardKetoyoMsatsi commented on #6110
@dannyparsons someone just drew my attention to this, I missed the alert when the issue was raised. I would like to take it up, I however would need about one day to do it, I hope that will be enough to meet the urgency of the task.  I will also need some help, I may closely involve @shadrackkibet in the this.

[2020-12-07 14:11] HawardKetoyoMsatsi commented on #6110
@rdstern or @dannyparsons I am about to start the "Export to World Weather Record dialog" I would like to first know the menu under which I will put the dialog so that I can add empty forms for frmmain changes to be merged as soon as possible.

[2020-12-07 14:28] dannyparsons commented on #6110
That would be great. It's not quite that urgent. If you could get this done by the end of the week that would be great.

I think this can go under Climatic > File > Export for World Weather Records

[2020-12-08 07:53] rdstern opened #6115 "Problem in code for Rainfall quality control"
[niger_4_dly_forqctest.zip](https://github.com/africanmathsinitiative/R-Instat/files/5657361/niger_4_dly_forqctest.zip)

Here is the file I have been using.

The test that is failing is the detection of a consecutive sequence of rain days.  The default test is that a sequence of more than 10 consecutive rain days is filtered and reported as suspicious.
Here is the code that is used:

[code]

The r

[2020-12-08 10:27] lilyclements commented on #6102
I followed through this sequence with the data set you've given above. I didn't have issues in changing from the last data frame to the first data frame, but did find the same issue when changing the coefficient on the sub-dialog. To add to this, if I just open the "Boxplot Options" sub dialog (and don't click anything, then close it), the plot/code is no longer omitting zero values.

[2020-12-08 11:18] lilyclements commented on #5706
@Patowhiz do you mean for on the PICSA rainfall graph dialog > PICSA Options > Lines > then check "Add Mean Line"?

I am now getting the mean line in `plotly`.
`geom_hline` (so, the code used to create the mean line in our plot) not working in `plotly` was reported on stackoverflow [here](https://stackoverflow.com/questions/34604980/geom-hline-not-working-properly-with-ggplotly) in 2016. If I run

[2020-12-08 11:59] lilyclements commented on #5869
@dannyparsons on line 1209 would we want something like

[code]

The `else` statement would need to change though since this does convert numeric to logicals, even if they are not logical-like, just as in R:

[code]

[2020-12-08 12:27] dannyparsons opened #6117 "Improve design of SPI/SPEI dialog"
Once the SPI/SPEI dialog updates are merged here #6116 the dialog design could be improved. I suggest:

- The SPI/SPEI option becomes button type radio buttons at the top of the dialog
- Kernel Type becomes a combo box
- Time Scale should include "Month" in some ways as it's a number of months. Possibly "Time Scale (Months)"

It would be good to consider the general positioning of the options on t

[2020-12-08 12:47] lilyclements commented on #6117
Happy to take this on

[2020-12-11 15:55] lilyclements opened #6121 "New corrr package in R for correlations"
I came across the new `corrr` package which deals with handling correlations in R. I thought I should summarise main aspects of the package in case any of the features could fit into R-Instat.

**Main Correlation Function**
The function to perform correlations is `correlate`. This function seemingly runs the same as the `cor` function we currently use however there are a few minor differences:
- T

[2020-12-11 17:43] dannyparsons commented on #6110
@HawardKetoyoMsatsi How have you got on with this? Your initial suggestion of 1 day might have been optimistic? :)

[2020-12-12 05:17] HawardKetoyoMsatsi commented on #6110
@dannyparsons I am done, I opened a pull request (#6122). Kindly take a look at it.

[2020-12-12 14:53] #6117 closed

[2020-12-12 17:55] dannyparsons commented on #6115
That's right, missing values make `cumsum` return all `NA`s after the first missing value. `cumsum` doesn't cope with missing values other than this. We could fix in a number of ways, just need to think what's the most usable.

[2020-12-16 13:28] lilyclements commented on #6121
Another feature of the `correlate` function in this package that I have come across is how it deals with missing values.

The usual `cor` function puts an `NA` when considering correlations if there is a missing value in the variable. However, the `correlate` function calculates the value in the "complete case" scenario:

[code]

[2020-12-18 07:29] rdstern commented on #6115
@dannyparsons a second problem with this dialogue is the detection of dry months.  I suggest this should be simpler to solve.  It works fine if you select months to omit from the check.  But otherwise it finds no problems and so always delivers an empty data frame.  That's misleading.  I wonder who could fix that?

And @dannyparsons on the missing value problem above there must be a simple functio

[2020-12-18 11:07] Felicityahafianyo opened #6127 "fran2or"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem, particularly of error messages.

**R

[2020-12-18 11:34] dannyparsons commented on #6108
- `zyp` for dialogs on NCMP coming soon

[2020-12-18 11:57] shadrackkibet commented on #6115
@dannyparsons on the first problem. I think we can easily fix it with `ifelse()` what do you think?
[code]

[2020-12-18 12:00] shadrackkibet commented on #6115
The second problem is as a result of the setup of the dialog which should be easy to fix.

[2020-12-18 12:10] shadrackkibet commented on #6115
@rdstern this dialog is mainly meant for rainfall Qc I think it should autofill element receiver with rainfall.

[2020-12-18 13:14] Sammyong opened #6128 "I am requesting for the Mac version of R-Instat"
I am a MacBook user and I really need the version of R-Instat to run directly on my Mac book because I don't have a windows machine.

[2020-12-18 13:47] dannyparsons commented on #6127
Hi @Felicityahafianyo thanks for signing up to GitHub and following R-Instat. If you have a specific issue or suggestion to share with us, please let us know. If not right now, I'll close this issue, but you can always open a new one any time. Thanks, Danny

[2020-12-18 14:01] dannyparsons commented on #6128
Thanks @Sammyong we're working to hopefully have a better Mac solution next year. It's good to know there's a need for it. We'll update you on the progress.

[2020-12-18 20:01] rdstern commented on #5974
@N-thony you were asking for a new task.  Could you take this on?  It completes our initial set of dialogues to compare station and satellite data.

[2020-12-18 21:30] N-thony commented on #5974
@rdstern is sure! I would like to work on this

[2020-12-19 07:16] rdstern opened #6129 "Small bug in input of Excel file"
![image](https://user-images.githubusercontent.com/11226469/102683499-8c1ee900-41c9-11eb-9b76-a3d2616c7c4b.png)

Here is the bug.
Here is the offending data file.  I had thought this was ok?

[R-Instat Training Data.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/5719004/R-Instat.Training.Data.xlsx)
The problem is that a space is allowed in the sheet name in Excel - but not in R.
![

[2020-12-19 10:13] rdstern commented on #6129
I think I understand where it has come from!  Excel used (by default) to select the first sheet.  And (I think) check is was an acceptable name for R.  Now it starts with no sheet.  The sheet names are just as in Excel - so can have a space and that's fine.  When you now choose a sheet it changes the name and (I assume) doesn't then go through that check.  I don't know what happens if multiple she

[2020-12-20 08:19] shadrackkibet commented on #5974
The option  `openair::conditionalQuantile()` is flexible enough. @N-thony please proceed with this implementation. I am available to support in case you need help.

[2020-12-20 09:17] #6008 closed

[2020-12-20 09:27] #5881 closed

[2020-12-20 16:39] dannyparsons opened #6131 "NCMP Dialogs"
This is for a new menu of dialogs: Climatic > NCMP. NCMP stands for National Climate Monitoring Products. They are defined by WMO https://www.metoffice.gov.uk/hadobs/opace2_tt_ncmp/. In the folder here https://github.com/africanmathsinitiative/R-Instat/tree/master/instat/static/InstatObject/R/Backend_Components/NCMP each file defines a function which is based on R scripts produced by WMO for NCMP.

[2020-12-21 09:33] shadrackkibet commented on #4760
@rdstern @lloyddewit please reopen this issue. I initially changed the "plan" but forgot to remove "Fixes" in the PR which led to this being closed. Thanks

[2020-12-21 09:58] lloyddewit commented on #4760
@shadrackkibet reopened as requested

[2020-12-25 08:48] rdstern commented on #6080
There is also the same issue in the Climatic > Prepare > Transform dialogue, i.e. to add the Position button.  Also to make the default position to be just after that variable specified in the dialogue.
At the same time, that dialogue looks poor, simply because of the width of the radio buttons.  There is a lot of unnecessary blank space at the right of the dialogue.  Please could the buttons be m

[2020-12-28 07:32] rdstern opened #6135 "bar charts needs corrections and possibly single_multiple option"
I have indicated @dannyparsons, not that I expect him to do this - and it isn't urgent - but to confirm the two points below a) that it is easy? b) Good to not disable the option buttons.

There are 2 bar chart dialogues.  One in the Describe > Specific and the other in Describe > General > Use Summaries.
In the other graphs the main receiver has a Single/Multiple option.  This is absent from the

[2020-12-28 07:47] rdstern opened #6136 "A general summary that it would be useful to do?"
I would like a summary that I don't think is possible from the Column Summaries dialogue.  Perhaps it can be an example of the General summary?

Once we have the data each year for the normals I would like to claim that it would be useful to see where the current year fits into these years.  This is easy if the data file has a single station.  My problem is that we will usually have multiple stati

[2020-12-28 07:54] rdstern opened #6137 "A script or file for RStudio to produce normals?"
The normals can easily be done in R-Instat.  And the current videos show the steps.

I suggest this is ideal while countries are deciding what to do.  And the current dialogues work well for each of these steps.

Once a country has decided what they will do, then this is also an excellent example to organise a script and run this when needed.  That could (I assume) still be in R-Instat, or it may

[2020-12-28 18:36] lilyclements commented on #6131
Looking at these nuds for the start/end year options throughout the various R-codes. I have some questions:

1. Where these nuds are optional, should I have a checkbox leading to the nud to ask if they want to alter the value?
2. What should I set the default values as? Additionally, I'm not sure what the minimums/maximums should be. I can see what works with the Ghana sample data set given, but d

[2020-12-29 16:07] dannyparsons commented on #6131
The optional nuds can be left out for now. We need to think a bit more how we want to set those.

For the subdialog, maybe something similar to the Import NetCDF dialog with a message box. It doesn't need to be that detailed though to give the missing information.
![image](https://user-images.githubusercontent.com/11214914/103297299-edc42c00-49ef-11eb-9836-99b2df11fcdf.png)

[2020-12-29 18:02] dannyparsons commented on #6110
I've been informed of an update to the WWR format. There is now a 2020 version. It requires minor changes to our specification above. An update example text file is here https://wmoomm.sharepoint.com/:t:/s/wmocpdb/EeGnVAcKRwlDi-s0nBSPBgQBfBHORiAeSsDtxfMDX69s1g?e=PIC8Yy and the updated document is here https://wmoomm.sharepoint.com/:b:/s/wmocpdb/EZQ1TtZNjHBCk__iUl0OT2MBdepNValcllwQooBGVCPzhw?e=a4d5

[2020-12-29 18:09] dannyparsons commented on #6110
@Patowhiz you can now check here for whether the file control is needed. On the dialog the user selects a folder, not a file, as multiple files are created.

[2020-12-29 18:25] dannyparsons commented on #6110
@HawardKetoyoMsatsi Once this is merged can you enable and show the menu item and also edit it so that it is "Export to World Weather Record**s...**"? It is missing the last part.

[2020-12-29 21:25] lilyclements opened #6142 "Dialog Design Amendments"
I've come across two dialogs that need a small clear up - dlgAddLink and dlgAnonymiseIDColumn

In dlgAddLink, the data frame selector cuts off too early and so it is not all visible.

![image](https://user-images.githubusercontent.com/21180424/103315014-44dff600-4a1c-11eb-8d14-759519fed55b.png)

In dlgAnonymiseIDColumn, it is very spaced out and so inconsistent with other dialogs.

![image](https:

[2020-12-30 11:57] lilyclements commented on #6131
Thanks for this. As a small side-note "until" is spelt wrong in that dialog message. Is it okay for me to fix this in the PR with the NCMP dialogs, or should I do a new PR?

[2021-01-04 11:14] dannyparsons commented on #6131
That could be in the same, thanks.

[2021-01-04 11:41] rdstern commented on #6099
@Ivanluv I would like to accept so this is merged.  Just one detail

The By control doesn't remember the previous setting.  It seems to reset to Station-Element

[2021-01-04 12:52] rdstern commented on #6081
@shadrackkibet it would be good to merge these points.  Did you see @dannyparsons query above?

[2021-01-05 06:57] rdstern opened #6146 "Data book size can become very large"
I suggest this issue could usefully be resolved for the next release.  I hope this can be in January and can be Version 7 - sort of at the end of the WMO/UK Met contract.
The issue that I have called a bug, because I suggest it does need to be considered early, is that the saved size of an R-Instat data book can become very large.  I strongly suggest this be considered urgently.
The reason I notic

[2021-01-05 08:34] Patowhiz commented on #6110
@dannyparsons the file input control can now also handle export of multiple files to particular folder, it can be used here, once PR #5873 is merged.

[2021-01-05 10:01] dannyparsons commented on #6110
The folder selector is only used to pass a folder parameter to the R function for this dialog. The saving is done within the R function we wrote. See from testing the dialog, or when it's merged. That may or may not be what the folder control is set up for?

[2021-01-05 10:18] #6068 closed

[2021-01-05 11:59] #6099 closed

[2021-01-05 12:11] Ivanluv commented on #6108
- `DEscTools` and `MKinfer` for the one variable fit model  #6004

[2021-01-05 12:52] rdstern commented on #5422
@Ivanluv I wonder of the state of this dialogue?  If it is now quick for you to complete, then that would be great.  It seems, from above, that its position on the menu is now settled.  Otherwise, if there is still quite a bit to do, then it could be a good topic to hand to Antoine?

[2021-01-05 13:00] Ivanluv commented on #5422
@rdstern I would prefer Antoine to look at it

[2021-01-05 13:01] rdstern opened #6148 "Make the structured menu optional"
@dannyparsons had fairly complex ideas about the items in the structured menu and the menu itself.  Currently it is unlike the other special menus in that it is not optional.  I suggest it should be optional, and that should be a simple task for @Patowhiz.  It would become another item in the View menu and be before Climatic - as it is in the list of menus?

![image](https://user-images.githubuser

[2021-01-05 16:16] N-thony commented on #6106
@dannyparsons I would like to work on this issue.

[2021-01-07 04:07] Patowhiz commented on #6110
@dannyparsons the control was designed to it's to do the same. It's used in dialogs that save file through R. So it writes into the specified R parameter.

[2021-01-07 08:48] N-thony commented on #5013
@shadrackkibet  I would like to work on this issue. Could you please clarify where the issue is? Thanks.