[2022-07-28 20:34] #7648 closed

[2022-07-28 20:38] MeSophie opened #7673 "Translation issues when we right click on one column."
Using the French translation of R-Instat 0.7.7 when you make a right click on one column, the some sub-menu which is still in English (**Delete Cells, Paste , Filter Rows, Select Columns, Remove Column Selection and Help**).

![colonne](https://user-images.githubusercontent.com/106779233/181632539-2a9d08ef-b7bf-452e-a175-1b54faef086b.png)

[2022-07-28 20:45] MeSophie opened #7674 "Translation issues on Rename Column Dialog"
Using the French translation of R-Instat 0.7.7 there are some words which are still in English ( **Single and renames With**).

![image](https://user-images.githubusercontent.com/106779233/181633558-3bca36a1-bf87-4a09-8e89-73b62150062e.png)

[2022-07-28 21:02] MeSophie opened #7675 "Translation issues on Select Columns Dialog"
Using the French translation of R-Instat 0.7.7 there are some words which are still in English on Select Columns Dialog  (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/181636705-d85cd0f3-5e69-4ae3-809b-11faf741da20.png)

[2022-07-28 21:09] rdstern commented on #7675
@MeSophie I also notice the title is "Selection de colonne", i.e. singular.  That's the literal translation of "Column Selection".  But that could be (and usually is) plural.  So I suggest the translation should be "Selection des colonnes"?  Agreed?

[2022-07-28 21:11] MeSophie opened #7676 "Translation issues on Filter Rows Dialog"
Using the French translation of R-Instat 0.7.7 there are some words which are still in English on Filter Rows Dialog (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/181637800-964b72cc-83f6-44dd-a58d-7400f3e9e41e.png)

[2022-07-28 21:27] MeSophie commented on #7675
@rdstern yes Roger you are right.

[2022-07-28 21:34] MeSophie opened #7678 "Translation issues on Select Columns Dialog"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem, particularly of error messages.

**R

[2022-07-28 21:35] #7678 closed

[2022-07-28 21:59] rachelkg opened #7679 "PICSA Menu French translation issues"
PICSA menu items are not translated.
![2022-07-28_14-17-12](https://user-images.githubusercontent.com/85707390/181643205-58d02a42-5905-425a-bcd8-32a8e4d039a3.png)

The titles of PICSA Temperature Graphs and PICSA General Graphs and PICSA Crops are not translated.
![2022-07-28_14-43-48](https://user-images.githubusercontent.com/85707390/181643335-57a91dbb-6b63-46d3-ab97-e6c35f777ca8.png)

The Plot

[2022-07-29 05:48] rdstern opened #7681 "Add a Bayesian keyboard to the set in the Fit Models keyboard."
This is a suggestion for @Tula1 to undertake, perhaps together with @EstherNjeriLiberatta?  Also there should (soon after) also be a Bayesian keyboard (using the same packages) in the Use Models keyboard.  Perhaps @Tula1 can specify that as this issue is resolved.  Each package below will have some functions that start with data and others that use the model.

a) We have suggested that the `bayesg

[2022-07-29 06:23] rdstern commented on #7515
@lloyddewit I note you wonder (as I do) whether this could just be related to my machine?  And sometimes my machine runs slowly - perhaps my imagination.
However, I have just loaded Version 0.7.7 and it still appears.

Maybe an advance is that I can get the message systematically by changing the language, as shown below:  And the message now reports to fr when I change to French.
![image](https://

[2022-07-29 06:31] lloyddewit commented on #7515
@rdstern thanks for the extra info.
In our catch up next Thursday, maybe we could try and recreate on your machine and my machine, and then look at which processes are consuming memory.

[2022-07-29 06:46] N-thony commented on #7675
@MeSophie this one can be done directly in CrowdIn.

[2022-07-29 06:49] lloyddewit commented on #7648
@rachelkg happy it fixed some of the issues. The reason it didn't work earlier is that the CrowdIn changes hadn't been merged into the database. For the next few days (while we prepare the new release) I will merge the CrowdIn updates each day. You should then see the changes when you run the latest Master version of R-Instat.

There are 2 possible reasons for this:

1. The text is in CrowdIn but

[2022-07-29 07:10] MeSophie opened #7683 "Translation issues on Display Daily Data Dialog"
1- Following the step _Climatic> Check Data> Display Daily Data_ in French translation of R-Instat 0.7.7,  the names of colours  are still in English for the three options _Graph, Graph by Day and Table_. Also it will be nice to change **Tableau de données** to **Tableaux des  données**, **Option de données** to **Option des données**  and translate  **Rug colours** to French in Graph by Day optio

[2022-07-29 07:39] lloyddewit commented on #7675
@N-thony Thank you for your Slack message above. The translated controls for this dialog are shown below. I think that the reason 'Selection' is not translated is because `lblSelection` is not in the database.

I suggest that:
- I update the `form_controls` table in the database.
- @MeSophie Updates CrowdIn with all the necessary translations

We can then close this issue. Is that OK from your sid

[2022-07-29 07:52] N-thony commented on #7675
@lloyddewit exactly, most of the new controls are not in the database, update the `form_controls` table in the database will sort out most of the translations problem we have.
@MeSophie I will go with you through `CrowdIn` later today or early tomorrow, to show you how you can correct/translate the text directly from your end.

[2022-07-29 08:02] N-thony opened #7684 "Bug in Filer Rows Dialogue"
This bug occurs when after filter the rows and you want to create a subset with that has the same name of an existing data in the Data View instead of adding `1`. In the screenshot below the new dataframe was expecting to be `Mayange1` but it overwrites `Mayange` with the new one
![image](https://user-images.githubusercontent.com/68591383/181712859-dcb47bc6-8cba-48d3-9083-b99e9b3e295e.png)

[2022-07-29 08:10] #7663 closed

[2022-07-29 08:49] Ivanluv commented on #7621
@lilyclements how do we

@rdstern am slightly confused and have no idea on how we can get counts using the current summary Table. Is it already implemented in the summary Table dialogue and what are the steps for generating the counts?

[2022-07-29 09:12] lloyddewit commented on #7675
@N-thony @MeSophie I updated the `form_controls` table in PR #7686 and merged it into 'master'.
You should be able to fix the remaining issues in CrowdIn.
Note: 'Selection:' is not yet in CrowdIn (but 'Selection`, without the colon, is in).

[2022-07-29 10:46] Patowhiz opened #7687 "Tool tips in R-Instat"
We need tooltips for the advanced dialogs in R-Instat.
I think the VB.Net tooltip is not sufficient enough for our purpose.
I suggest a custom tooltip that can show more useful content for the user in a format that we can dictate.

Then I also suggest that this custom tooltip be extensively used in displaying control tool tips in advanced dialogs.

[2022-07-29 10:48] Patowhiz opened #7688 "General windrose plot dialog"
In some instances we may want to plot wind roses for other elements that are not wind.
Will be useful to think of a dialog that is general enough to be used for this purpose.

[2022-07-29 13:21] N-thony opened #7690 "Minor change in End of Rains/Season Dialogue"
We need to change the default Capacity from `1` to `100`
![image](https://user-images.githubusercontent.com/68591383/181769318-90cd6e06-a18c-48d8-9b86-de6b3d50814e.png)

[2022-07-29 13:41] Patowhiz opened #7691 "Autosaving interval and functionality"
When working with multiple long datasets. The autosave takes several and prevents the user from interacting with the software.

[2022-07-29 13:43] Patowhiz opened #7692 "Increase default number of maximum columns to display"
We are increasingly reaching the 30 columns limit, especially when producing climatic summaries.
As discussed with @rdstern , it's good to have the limit increased to 50 columns.

[2022-07-29 14:07] Patowhiz opened #7694 "Saving output window as rtf and opening it in other sofware"
Currently we can only save the output window as an rtf file. We noticed that at time the output rtf file can be very big, even over 500MB, this kind of size makes it incompatible with other software like word and wordpad.
@N-thony may wish to add.

[2022-07-29 16:01] rachelkg commented on #7648
@lloyddewit

As far as crowdin says the translation in there is 100%.

There are definitely items that are not in crowdin. The ones i have found are in issues:

- #7599
- #7647
- #7650 (this has lots that is not yet in crodwin but also also has a french item that is showing up in the English version)

There are also definitely items that used to be in French and are translated in Crowdin but not s

[2022-07-29 18:23] #7692 closed

[2022-07-30 07:07] rdstern commented on #7515
I have checked as on version 0.7.7 I get the error consistently.  And R-Instat is running very slowly.
![image](https://user-images.githubusercontent.com/11226469/181879103-172b5731-b616-415a-9748-81861a8474cb.png)

And it occasionally goes up to 6 gigabytes that it needs.  Something is wrong.  I have now found that when I change language it is slow and gives me the error consistently.  I have yet

[2022-07-30 07:28] rdstern opened #7695 "Correct error on the mapping dialogue and possibly improve the R-code?"
I think this may be an @anastasia-mbithe challenge?

I get the error in the following way:
a) Run the initial layer - a gadm file.
b) Add a second station file and plot points.
![image](https://user-images.githubusercontent.com/11226469/181879658-b76b4695-7d18-431a-8552-d508d4f62069.png)
This runs fine.
c) Now I wanted to change the size of the labels - which is geom label repel.  I go to that geo

[2022-07-30 11:02] rdstern commented on #7621
@Ivanluv here is an example:
![image](https://user-images.githubusercontent.com/11226469/181907936-54264222-e462-419a-b579-ec2a18fa1e28.png)

In our dialogues we have to choose between the counts and any single percentage.  It should be possible to to provide multiple statistics in the frequency tables so that we have both together - or even counts, plus overall percentage, plus row percentages pl

[2022-07-30 11:46] lilyclements commented on #7621
@rdstern @Ivanluv
R code wise this is straight forward. We just add an extra parameter to say to put the counts and percentages in a single cell.

it would be something like

`paste0(<counts-variable>, “ (“, <percentage-variable>”, “%)”)`

I’ll add a parameter to the summary tables function to offer combining percentages and counts to a single cell. (Any suggestions for a succinct parameter name a

[2022-07-30 12:27] Patowhiz commented on #7515
@rdstern @lloyddewit

I also noticed this on KMD staff machines and it also happens in my machine too.

I've also seen this happen in climsoft too when we use it for long.

It relates to sqlite database, which we only use for translations.

@lloyddewit I suspect it's because we are opening and closing new connections everytime we translate  a dialog. It could be the connection resource is not bein

[2022-07-30 12:30] Patowhiz commented on #7660
Thanks for creating this issue @rdstern. I'm looking into it.

[2022-07-30 18:07] rdstern opened #7697 "Making rows and columns visible in reogrid"
@Patowhiz you will remember the problem you had with paging in the grid.
a) If there are just a few more variables than are visible, e.g. 32 when there are 30 at a time, then you can page to see the last 2 variables.  But they don't initially seem to be there.  The scroll at the bottom doesn't make them visible.  You can find them by going insistently to the left within the (seemingly empty) grid

[2022-07-31 05:36] N-thony commented on #7671
@derekagorhom can you fix the first problem i.e the developer error?
The second problem is due to the translation `Noir` is not recognized by `R` therefore the input control was not supposed to be translated. This is already fixed in the merged version.

[2022-07-31 05:51] N-thony commented on #7672
I have tried to reproduce this but I couldn't with 0.7.6, 0.7.7, and the merged version
![image](https://user-images.githubusercontent.com/68591383/182012218-a631a3dc-d9ec-4616-a991-f4b06bf3d754.png)

[2022-07-31 06:31] #7620 closed

[2022-07-31 06:48] N-thony commented on #7672
@Vitalis95 what is to be fix here is to set the default value i.e `Count` in the `Statistiques input control`

[2022-07-31 06:58] N-thony commented on #7673
@MeSophie  **Levels/Labels** is not translated too, please add it in the Json file.

[2022-07-31 07:00] N-thony commented on #7673
@MeSophie you missed to add  **Remove Column Selection and Help**

[2022-07-31 07:06] N-thony commented on #7674
@MeSophie I cannot see **Single**, **Multiple**, **Rename With** in the Json, please add them

[2022-07-31 07:13] MeSophie commented on #7673
@N-thony  the menu already has **Help** and **Levels/Labels**

[2022-07-31 07:20] MeSophie opened #7698 "Translation issues in File menu."
Some Sub menu of **File** menu are still in English in French translation of R-Instat 0.7.7. (refer to the figure).

![image](https://user-images.githubusercontent.com/106779233/182014738-01bb796c-261e-44db-ab75-9354c788fa5f.png)

[2022-07-31 07:36] MeSophie commented on #7674
@N-thony
Check the not_menu they are there.

On Sun, Jul 31, 2022 at 9:07 AM N-thony ***@***.***> wrote:

--

*SOPHIE*

************************************************************************

************************************************************************

*Climate Science Alumna *| *AIMS-Cameroon*

*African Institute for Mathematical Sciences (AIMS) *| *AIMS-Cameroon*

*The Next Einste

[2022-07-31 08:15] MeSophie opened #7699 "Translation issues in Filter Rows Dialogue."
Using the French translation of R-Instat 0.7.7 in **Filter Rows** dialog (Filter Rows>Define New Filter>Add), the notification message which appears when you forget to **add filter** before **return** is in English  and **Select All Levels** is Still in English.

![Screenshot 20(message error en francais)](https://user-images.githubusercontent.com/106779233/182016628-ea32e753-a30e-4e91-85e3-9ac31c

[2022-07-31 08:40] MeSophie opened #7700 "Translation issues when open R-Instat."
When we open R-Instat 0.7.7 using the French translation, the Auto recover notification message is in English.

![image](https://user-images.githubusercontent.com/106779233/182017987-1c86b251-1389-4650-83b8-0a6d51983f07.png)

[2022-07-31 08:54] MeSophie opened #7701 "Translation issues in Export Datasets Dialogue."
The Export Datasets Dialog is not translate in French translation of R-Instat 0.7.7.

![Screenshot 10(message vert non traduit)](https://user-images.githubusercontent.com/106779233/182018585-a79821b3-fc20-4a53-a0da-c0b9c803abc5.png)

[2022-07-31 08:54] #7664 closed

[2022-07-31 09:01] lloyddewit commented on #7515
@Patowhiz Thank you, this is an excellent comment and very helpful. I will implement a single database connection and we can see if this helps.

[2022-07-31 09:13] MeSophie opened #7702 "Translation issues in Define Climatic Data Dialog"
Using the **Define Climatic Data** the French translation of R-Instat 0.7.7 (Climatic >Define Climatic Data),  the message generated when we check duplication is in English. Also **vérifier les**  is not complete.

![image](https://user-images.githubusercontent.com/106779233/182019382-c029a38e-b3f9-4532-9bc3-84a64b5b64f4.png)

[2022-07-31 09:32] MeSophie opened #7703 "Translation issues in Density Graph Dialog."
Using Density Graph Dialog (Climatic > Compare >Density Graph)  in French translation of R-Instat 0.7.7, **Density/Ridges and Density Ridges** are not translate.

![Screenshot (Taduction density-Ridges)](https://user-images.githubusercontent.com/106779233/182020092-46029428-89f3-4ea2-a900-90f2721fe6fd.png)

[2022-07-31 09:49] MeSophie opened #7704 "Translation issues in Evapotranspiration Dialogue."
Using Evapotranspiration Dialog (Climatic > Prepare >Evapotranspiration) in French translation of R-Instat 0.7.7, **Cultu** should be **culture** and **Solair** **Solaire**.

![Screenshot (traduction de plusieurs mots entrecoupes)](https://user-images.githubusercontent.com/106779233/182020629-40ce0b21-a1ea-448f-9335-c6d8048b7977.png)

[2022-07-31 10:22] #7568 closed

[2022-07-31 10:24] #5349 closed

[2022-07-31 10:27] #6782 closed

[2022-07-31 11:55] MeSophie opened #7705 "Translation issues in Correlation Dialogue."
Using Correlation Dialog (Climatic > Compare >Correlation) in French translation of R-Instat 0.7.7,**Model name, Two Variables,
 First Variable, Second Variable, Numerics, and Multiple variables** are not translate

![Screenshot 28(traduction)](https://user-images.githubusercontent.com/106779233/182027074-0643d185-53ec-4b4a-88bf-fc26139b6765.png)

Following the step: Climatic > Compare >Correlatio

[2022-07-31 12:25] MeSophie opened #7706 "Translation issues in Prepare menu"
Using Prepare menu  in French translation of R-Instat 0.7.7,  **Data Book, Column: Calculator, and Column: Numeric** sub-menu are not translate and also **Add (Merge) Columns, Rename Column, Duplicate Columns, Filter Rows and  Select column** dialog in Data Frame sub-menu (Prepare > Data Frame).

![Screenshot(traduction)](https://user-images.githubusercontent.com/106779233/182026236-bf107e51-7667-

[2022-07-31 13:48] rdstern opened #7707 "Correct misleading message in Tools > Install R package dialogue"
Here is an example:

![image](https://user-images.githubusercontent.com/11226469/182029131-22ac1232-d57e-40ce-bf0e-a421b366577f.png)

If you give an incorrect name, so there is no package in CRAN, then it says so.

This seems to be an acceptable package name, but it is not (currently) in CRAN.  I get the same message with the mmtable2 package?

The splines package has been archived.  Perhaps a bet

[2022-07-31 17:35] #7673 closed

[2022-07-31 17:35] #7674 closed

[2022-07-31 17:35] #7675 closed

[2022-07-31 17:35] #7676 closed

[2022-07-31 17:35] #7703 closed

[2022-07-31 18:33] Vitalis95 commented on #7668
@N-thony on first part  of this issue, mostly we use tailored products generated from rain, tmin or tmax depending on the user, it has also multiple receiver to allow more than one variable.  I don't know if it is possible those receivers to autofill automatically, we can have a call and discuss on that,

[2022-08-01 07:25] rdstern commented on #7515
@lloyddewit I have been monitoring the memory use, with version 0.7.7 open all the time, and the test version open as I need it.  Until recently there was no problem.  Now I tested the new principal components dialogue from Vitalis.  That's #7654.  I noticed the memory used in the test version has increased.  So I have kept running an example of that dialogue and the memory usage is now quite high

[2022-08-01 08:34] Patowhiz commented on #7515
@rdstern very good to see you be performance and memory conscious (I've been raising this for quite a while) .
That's what we need now. It's now becoming clear that code memory and performance optimization should now be part of R-Instat team DNA. We need to save memory so that we can create room for large datasets usage, we are increasingly getting them from our users.

[2022-08-01 09:29] Patowhiz commented on #4918
@rdstern can you confirm that 50 columns is ideal, or do a test with 100 displayed columns using a long data sets. If it hold well, I can increase the default to 100 or the 330 suggested above. Will be good to strike a balance on the sweet spot.

[2022-08-01 09:39] lloyddewit commented on #7672
@N-thony @Vitalis95 I could not recreate. The 'statistiques' options are now English text which I think is correct (because the text is used directly in the R `geom_density()` call). So I think this issue is fixed. Please can you confirm and close this issue if appropriate?
Thanks!

[2022-08-01 09:43] Patowhiz commented on #4381
@lilyclements not yet. After going through the discussions. There are still items on this issue that need to be addressed.

[2022-08-01 09:44] rdstern commented on #4918
@Patowhiz I would be happy to be cautious and have 1000 rows and 50 variables for now.  Then also to have the development team routinely using 1000 rows and 100 variables for now, and possibly checking whether there are speed differences?

I don't think we need more than 100, as I really like the paging that @ChrisMarsh82 has provided.  So having round numbers makes it more obvious what you are pa

[2022-08-01 09:52] lloyddewit commented on #3721
Accidentally closed by PR #6621

[2022-08-01 10:39] derekagorhom commented on #7671
I agree with @lloyddewit, i tried to recreate the error but everything looks fine on my end
@N-thony please did you encounter the errors when you tried to recreate it?

[2022-08-01 10:44] lloyddewit commented on #7683
@MeSophie Thank you for the clearly written issue. I especially appreciated that you gave the full menu path for each dialog.

Summary:

Climatic> Check Data> Display Daily Data

- [x] the names of colours are still in English for the three options Graph, Graph by Day and Table. <- drop down lists are not translated, already covered by issue #3721
- [ ] it will be nice to change Tableau de données

[2022-08-01 12:14] Fidel365 commented on #7598
@rachelkg , we already worked on this in PR #7622

[2022-08-01 15:38] N-thony commented on #7671
@lloyddewit the bug reported above by Sophie was due to translation and it was reported by using version 0.7.7 but this was already fixed in the merged version.
We can close this if there is not one the above errors in the merged version

[2022-08-01 15:56] N-thony commented on #7672
@lloyddewit I think we need just to make the small change by setting `Statistiques input control` default value to `Counts` as before in version 0.7.4
![image](https://user-images.githubusercontent.com/68591383/182190058-65ed751a-cdd9-46d9-b040-a3abfe35b89a.png)

[2022-08-01 16:02] N-thony commented on #7683
Now I think @MeSophie got the access to the Repo in CrowdIn, so it will be good that @rachelkg @MeSophie and I to go ahead and make the corrections/translations in CrowdIn.

[2022-08-02 06:26] lloyddewit commented on #7671
@N-thony @derekagorhom Thanks for the feedback, I'll close the issue

[2022-08-02 06:26] #7671 closed

[2022-08-02 08:04] rdstern commented on #5862
@N-thony  we seem to be missing some packages that used to be there?  There is also now a streamlined way of adding packages, so please could there be a pull request for these to be added for the forthcoming release?
`verification` used to there and is in some dialogues including the Model > Fit Model > Hypothesis Tests Keyboards.
`coin` used to be there and is in the same dialogue
`segmented` is

[2022-08-02 08:10] rdstern opened #7714 "Reading a json or html or txt file into R-Instat"
Here is the file
[wikivital_mathematics.zip](https://github.com/africanmathsinitiative/R-Instat/files/9240241/wikivital_mathematics.zip)

It is a json file, which should import - but it seems not to be a data frame.  So File > Import Data Frame doesn't work.  Is there something that can be done, either with this dataset - which seems interesting - or with the import dialogue, for data of this type

[2022-08-02 09:02] Ivanluv commented on #7621
@rdstern  We could have a checkbox ,below the `Percentages` group box, that's only visible when the percentages receiver is filled. When checked  we get both Percentages and counts  and when unchecked we only get percentages

[2022-08-02 10:05] rdstern commented on #7621
Sounds good on the specific tables/graphs frequency tables dialogue.  It could be labelled something like Show both % and count.

For the 2 variable situation we could change the current percentage control and have the group box with label perhaps Results.  Inside there are 4 checkboxes

- [ ] Counts (default checked)
- [ ] % of First Variable(s)
- [ ] % of Second Variable
- [ ] Overall %
- [ ] Ga

[2022-08-03 06:32] lloyddewit commented on #7672
@N-thony Ok, understood. Please could you assign one of the developers for this?
thanks

[2022-08-03 07:43] Ivanluv commented on #7621
@lilyclements could you add the parameters to the summary tables, so that I can proceed with adding the functionality in the dialogues

[2022-08-03 07:58] Ivanluv commented on #7651
@N-thony is this already fixed. I am not getting the bug

[2022-08-03 08:06] N-thony commented on #7651
@Ivanluv the problem is still there, I checked with the merged version. You can see how the controls are overlapping.
![image](https://user-images.githubusercontent.com/68591383/182557116-b0d2b3be-3327-49c5-8c43-5632adcee81d.png)

[2022-08-03 09:04] N-thony commented on #7651
@Ivanluv thanks for the quick discussion, I think this is due to the translation
@lloyddewit I cannot see dlgSelectColumns in the database.
![image](https://user-images.githubusercontent.com/68591383/182569593-00710e5c-24f6-4148-8e62-e6914af0456e.png)
![image](https://user-images.githubusercontent.com/68591383/182569642-6f145f16-a2f7-4305-98b4-9cc483eceb0a.png)

[2022-08-03 10:37] #7672 closed

[2022-08-03 22:41] rachelkg commented on #7679
Hello @N-thony
I have also noticed that when I open plot options the Y Axis view looks like this in R-Instat but when i go to change it and resolve the overlapping and misalignment issues in visual basic it looks like this. Could someone more experienced resolve this please?
![2022-08-03_15-38-53](https://user-images.githubusercontent.com/85707390/182724659-cdf11001-0dcd-4ebc-bcf4-ab4b2159916e.png

[2022-08-04 06:33] N-thony commented on #7679
@rachelkg it is a `user control` used there for the axes options, have a look of the `ucrAxes` and see if you can make the chnages
![image](https://user-images.githubusercontent.com/68591383/182779053-258e3465-0dd9-48ea-9825-f46cf58e3cf0.png)

[2022-08-04 08:23] Patowhiz opened #7727 "Graphs of high resolutions"
Users asked if R-Instat could be produce graphs with high resolution.
When looking into this, I found that for the output viewer, we are technically taking a snapshot of the graphs produced using a fixed width and height. This interfere with the original resolution of the graph as produced by the functions.

I suggest getting the graphs images directly from the graph objects.

[2022-08-04 08:40] #7690 closed

[2022-08-04 08:42] #7556 closed

[2022-08-04 08:46] rdstern commented on #7727
I like this, because I suggest it resolves a major problem in the current version of R-Instat.  This currently saves the graph itself, somewhere, and is therefore lost when the current R-Instat session finishes.
David has proposed we save the commands instead - and again, back as part of the R-Instat data book.

I now propose that this also solves the resolution problem for the graph.  This has be

[2022-08-05 16:01] #7633 closed

[2022-08-05 18:56] rachelkg commented on #7679
@N-thony Thank you!

[2022-08-09 06:03] rdstern opened #7741 "Please check possible error in results for 3-way frequencies dialogue"
In writing the help for the Describe > 2/3 Variables > 3-way frequencies dialogue I suggest the R-commands are giving the wrong answers.  I hope someone can check this - possibly also using RStudio to confirm.

I have been using our usual rice survey data.  I have reordered the fertgrp factor, so it goes 0, 0.5-2, > 2, but that is not particularly relevant (I have also tried without that).

Here i

[2022-08-09 08:39] lloyddewit commented on #6978
@Vitalis95 Thank you for fixing this issue in PR #7644.
Unfortunately, these changes broke the master build so I had to revert the PR.
Please could you reimplement in a new PR?
Thanks and sorry for the inconvenience.

[2022-08-09 09:46] MeSophie opened #7742 "Translation issue in Convert to Numeric dialog"
Using the French translation of R-Instat 0.7.7 the explication giving by Convert to Numeric dialog (right click on the column > convert to numeric) is  in English  (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/183617972-b957ba02-6d7a-4738-809e-4f6d000f4646.png)

[2022-08-09 09:56] MeSophie opened #7743 "Translation issue trying to Delete column(s)/Delete Row(s)"
Using the French translation of R-Instat 0.7.7  messages generated  by Delete row(s)/Column(s)  **(right click on the column/Row > Delete Column/Row)** are in English (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/183619520-ac8848a7-1f98-49c9-b9cf-ffa39f2b0a53.png)

![image](https://user-images.githubusercontent.com/106779233/183619634-d3628ac2-a8a3-4094-8079-7d9

[2022-08-09 10:14] MeSophie opened #7744 "Translation issue on File and Tidy and Examine sub-menu of Climatic menu"
Using the French translation of R-Instat 0.7.7 there are some dialog text in **Climatic** sub-menus which are  still in English (refer to figures ).
1- **Climatic>File**
![image](https://user-images.githubusercontent.com/106779233/183622470-26c8218c-1fd1-4be0-8123-1980e56cc561.png)

2-**Climatic>Tidy and Examine**
![image](https://user-images.githubusercontent.com/106779233/183623018-993225ef-2ba3

[2022-08-09 10:19] MeSophie opened #7746 "Translation issue trying to close R-Instat"
Using the French translation of R-Instat 0.7.7 the confirmation message trying to close  R-Instat is in English (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/183624214-ff0943e9-5e1c-4246-8f32-47bf6cf3eca7.png)

[2022-08-09 10:28] MeSophie opened #7747 "Translation issue in the R-Instat interface"
The R-Instat interface showing by the French translation of R-Instat 0.7.7 has some words in English (refer to figure ).

![image](https://user-images.githubusercontent.com/106779233/183626714-08be68dd-f284-401a-aa84-c5d81adc09f4.png)

[2022-08-09 10:58] MeSophie opened #7749 "Translation issue on Data Frame, Check Data, Column:Numeric, and Data Reshape sub-menu of Prepare menu"
Using the French translation of R-Instat 0.7.7 there are some sub-menus text and dialog text in **Prepare** menu which are still in English (refer to figures )

![image](https://user-images.githubusercontent.com/106779233/183629687-7e800548-4b9b-4ef5-a774-e81706e014be.png)

1- Prepare>Data Frame
![image](https://user-images.githubusercontent.com/106779233/183630219-11be310b-5275-4460-a15c-59adfd7b

[2022-08-10 10:24] MeSophie opened #7750 "Translation issue when trying to select and add variable(s) in a dialog"
Using the French translation of R-Instat 0.7.7 when we are trying to seclect variable(s) in a dialog, the option proposed are still in English (refer to figures )
![image](https://user-images.githubusercontent.com/106779233/183877737-0da73795-ce78-4bb5-9fff-9c843509232a.png)

[2022-08-10 12:33] MeSophie opened #7751 "Translation issue in Duplicate Rows Dialog"
Using the French translation of R-Instat 0.7.7 there are some words which still in English in Duplicate Rows dialog (Climatic >Tidy and Examine). Also the notification message generated by this dialogue is in English (refer to figures )
![image](https://user-images.githubusercontent.com/106779233/183901952-fa844558-2b2a-404f-ba19-624e6bd8a8f6.png)

![image](https://user-images.githubusercontent.co

[2022-08-10 13:06] MeSophie opened #7752 "Translation issue on Filter Rows Dialog"
Using the French translation of R-Instat 0.7.8 there are some words which are still in English in Filter Rows Dialog (right click > Filter Rows >Define new filter> add a variable with different label) (refer to figure )

![image](https://user-images.githubusercontent.com/106779233/183908822-659b9277-3638-437f-bd33-be98a7bca208.png)

[2022-08-10 13:22] MeSophie opened #7753 "Translation issue in main menu options"
Using the French translation of R-Instat 0.7.8
1-  Delete row(s) options(right click on row(s) ) **supprimer le(s) ligne(s)** is not well translate.
![image](https://user-images.githubusercontent.com/106779233/183912007-7556f0e3-76fa-457a-b8a4-d73b6f222e4b.png)

2-Climatic>Date>use date **Date d'ulilisation** is not well trranslate
![image](https://user-images.githubusercontent.com/106779233/18391

[2022-08-10 17:46] rdstern opened #7754 "Two inconvenient bugs in the use of reogrid"
The new reogrid is working well, generally.  In the current workshop for DRC we have been using it quite a lot and there are a couple of either bugs, or features, that I hope can be eliminated.

Both can be show with the data here.

[Station_Moanda.xls](https://github.com/africanmathsinitiative/R-Instat/files/9302597/Station_Moanda.xls)

It reads in easily, but has extra variables.  Scroll across

[2022-08-10 17:49] rdstern commented on #7606
@Patowhiz and perhaps @N-thony may have a view here.  I now feel the DRC participants would have liked and Add/Drop button instead of just the Add?  Some of them are less experienced than most climatic users so far, and the easier we can make it, the better.

[2022-08-10 17:55] rdstern opened #7755 "Deleting a data frame seems very slow?"
In the DRC workshop we sometimes have quite a lot of data frames.  This is because we started with 26 stations, each separate, and then have some further appended data frames.

Delete seems to work fine, but it seems very slow (with this number of data frames).  May be that's inevitable, but I wonder if the code can be made more efficient?  Perhaps this could be an @N-thony task initially?

[2022-08-11 11:23] MeSophie opened #7757 "Translation issue in PICSA sub-menu"
By Using the R-Instat 0.7.8, we have some texts on sub-menu PICSA (Climatic >PICSA) which are not yet translate.
![PICSA](https://user-images.githubusercontent.com/106779233/184122747-c68e1efd-debe-4a5d-bc89-748be247269a.png)

[2022-08-11 11:37] MeSophie opened #7758 "Translation issue in Climatic Summaries dialog"
By using R-Instat 0.7.8, we have some words in Climatic Summaries (Climatic>Prepare>Climatic Summaries) which are not well translate
![Climatic-prepare-climatic-Summary1](https://user-images.githubusercontent.com/106779233/184124628-85f8f844-7ed7-40ee-aee3-d86d1150529b.png)

**Climatic>Prepare>Climatic Summaries>summaries**

![image](https://user-images.githubusercontent.com/106779233/184135644-27

[2022-08-11 13:29] MeSophie opened #7759 "Translation issue in QC Temperatures dialog"
By using R-Instat 0.7.8, we have some words in QC Temperatures dialog (Climatic>Check Data>QC Temperature) which are not yet translate
![image](https://user-images.githubusercontent.com/106779233/184144327-4fb83d66-9d88-4f3f-908b-f86b97069de1.png)

[2022-08-11 13:51] MeSophie opened #7760 "Translation issue in QC Rainfall dialog"
By using R-Instat 0.7.8, we have **Omettre les**  in QC dialog (Climatic>Check Data>QC Rainfall) which is not well translate it should be **Omettre les mois**
![image](https://user-images.githubusercontent.com/106779233/184149053-14ba66ea-515f-4924-9dd4-af462f7411b0.png)

[2022-08-11 14:01] MeSophie opened #7761 "Translation issue in Transform dialog"
By using R-Instat 0.7.8, we have some words in Transform dialog (Climatic>Prepare>Transform) which are not yet translate

![image](https://user-images.githubusercontent.com/106779233/184151194-db3fd93f-b2ae-4b23-add6-b996341e1726.png)

[2022-08-11 16:49] Patowhiz commented on #7606
It's about time we also implement a drag and drop!

[2022-08-12 02:47] rdstern commented on #7515
Got it again, but this time I hadn't done much.  I am not sure what triggers it.  This time I had used only 3 dialogues - though with quite a complicated data set.
a) I imported a recent data set
b) I used the Climatic > Check Data > Rainfall qc
c) I used the Prepare > Column: Factor > Levels/Labels

The log file has a real oddity from the rainfall qc.  Here it is:
[logfile when out of memory.zip]

[2022-08-12 06:15] N-thony commented on #6671
@anastasia-mbithe any progress on this?

[2022-08-12 08:34] rdstern opened #7765 "reogrid problem displaying shape-file data is still there on occasions"
@Patowhiz solved the display problem for shape files when they are imported into R-Instat.  It works fine then.
I then added the station file, and all works ok.
I then saved both as an rds file - I was pleased - that's highly convenient as R-Instat has multiple sheets.
When I re-open the rds file the shape file data frames have their original problem back again.  So each rwo is very wide - as it u

[2022-08-12 08:59] rdstern opened #7766 "Transform dialogue degree options don't seem to work now"
This is the Climatic > Prepare > Transform > Degree option.

It was added by @anastasia-mbithe and seemed to work fine.  Recently @Vitalis95 added the option for tmax and tmin to be added by default if they were recognised as climatic.

Now we tried in the DRC workshop and it gives an error.  I tried the simple diurnal range and then the tmean option.  Both gave an error.  This was in a dataset wi

[2022-08-12 09:42] MeSophie opened #7767 "Translation and design issue in import excel data frame dialog"
By using R-Instat 0.7.8, we have some words in Import excel data frame  (File>Import From File>Select excel file) **nombre de ligne à prévisualiser** and **nombre de ligne à ignorer** are superposed on the selection box. Also **Nombre maximal de lignes à** is not well translate (It is missing **ignorer**).

![image](https://user-images.githubusercontent.com/106779233/184326183-93a418a2-07e3-464d-9

[2022-08-12 11:07] MeSophie opened #7768 "Translation issue in Check Station Location Dialog."
By using R-Instat 0.7.8, we have some words in Check Station Location Dialog (Climatic>Mapping>Check Station Location Dialog) which are not translate. **Also all the comments generated by comment box are in English no matter the dialog we are using.**
![image](https://user-images.githubusercontent.com/106779233/184340428-1dacfa95-e9d4-478a-b6da-33381e763661.png)

[2022-08-12 21:35] rdstern commented on #7515
@lloyddewit I now have the exception problem again.  This is (again) after some time and I have done almost nothing in R-Instat - but the log file has a real oddity.  It is (I think) from a different dialogue to last time, but has a similar feature that I don't understand.
It is in the Climatic > Prepare > Transform dialogue and in a function that now gives an error message.  Here is a picture of

[2022-08-14 08:52] rdstern commented on #7493
@N-thony can you do this?  It would be good to avoid confusion.  Could you do a) above?  Or should someone else , e.g. @dannyparsons or @lilyclements do this?
I ask because - at the same time - I have another type of variable to specify which I mention in another issue.  But it would be good to do it at the same time.

The other type is different.  An example is File > New Data Frame > Lists > Wor

[2022-08-14 11:21] rdstern opened #7770 "Add facilities to analyse lists"
In  `File > New Data Frame > Lists > Words/Literature > Shakespeare/sonnets`, the variable list.lines comes into R-Instat as a list.

![image](https://user-images.githubusercontent.com/11226469/184530167-98e1eb32-4f2d-4bb3-a2e2-d65d83afed04.png)

There is a bit of initial work for @lilyclements and then (assuming she agrees) most could perhaps be done by @anastasia-mbithe ?

a) I have added the re

[2022-08-14 18:54] rdstern opened #7771 "Make better names in File > New Data Frame > Lists?"
@anastasia-mbithe I wonder if the last word in the command could be the default name of the data frame, rather than data1, data2, etc.  Only do this if it is easy to do.
So, for example, when the command is:
`read_corpora(data=rcorpora::corpora("mathematics/primes_binary"))`
then the default name would be `binary`

[2022-08-15 06:29] rdstern opened #7772 "Improve behavior of position control in (at least) the Prepare > Data Frame > Row Numbers/Names dialogue"
When the row variable is added, then the default position is the Start, i.e. the first column.
So, try this example:
File > New Data Frame > Lists > Maths > Primes
Then
File > New Data Frame > Lists > Maths > Binary Primes
Now use the Row Numbers/Names dialogue on each.
On the primes it is fine and the row variable is first.
But when you move to the Binary Primes it has changed to become last!

I

[2022-08-15 06:49] Ivanluv commented on #6659
@rachelkg could you confirm that this is now fixed

[2022-08-15 07:11] rdstern opened #7773 "Translate the comments and improve the translation database"
We used the French version last week - for the first time in anger!
a) It went well in that there were no instances where the fact we used French seemed to be the cause of a specific problem
b) But it showed that there is a lot to add to the database, so the translation is more complete.
There were some on the DRC workshop who were relative beginners in computing, and in English.  A more complete

[2022-08-15 07:56] lloyddewit commented on #7773
@rdstern, thanks for all the feedback.

I am currently drafting a PR 'done criteria' checklist. Whenever a developer creates a PR thay should complete the checklist before they request test/review. I propose that the checklist includes:

- 'Change the R-Instat language to Russian. View each changed dialog/form/menu in Russian. If there is any text that is not translated (even if the text was not a

[2022-08-15 07:57] rdstern opened #7774 "Translate popup menus in R-Instat"
Is there an easy way to find them all in the code?

I have an impression that none, or hardly any are translated so far.  And the nature of a popup is that this was an unwelcome surprise in the workshop.

I am using the French version:
a) Here is right-click > Convert to numeric
![image](https://user-images.githubusercontent.com/11226469/184596745-a9ef8eaa-bea8-49d1-9351-ba61342856f7.png)

b) Here

[2022-08-15 08:35] Patowhiz commented on #7765
I will look into this.

[2022-08-15 09:17] Ivanluv opened #7775 "Incorrect number of rows in the Prepare>Data Frame > Delete Column/ Rows dialogue after deleting rows"
On reopening of the Prepare>Data Frame > Delete Column/ Rows dialogue, after deleting rows, the number of rows displayed by the **Number Of Rows** input does not get updated

[2022-08-15 10:07] rdstern opened #7777 "Simplify the Prepare > Data Frame > Add (Merge) Data dialogue when possible"
Here is an example to show what I would like.

`File > New Data Frame > Lists > Maths > Primes`
Then
`File > New Data Frame > Lists > Maths > Binary Primes `
Now add a row variable to each data frame - making it a key variable (uses Prepare >Data Frame > Row Numbers/Names dialogue.
Now I would like to add the binary primes variable to the primes data frame.

![image](https://user-images.githubuser

[2022-08-16 05:59] Patowhiz opened #7778 "Output object types in R-Instat, how to process and display them at both R and .Net level"
@dannyparsons @ChrisMarsh82 @lloyddewit @rdstern @lilyclements.
Currently, we can only display 2 R outputs in the output viewer; **Graphs** and **Text**.

**Graph outputs**
These are displayed by internally running an extra R command, `grDevices::png`,  that takes a "snapshot" of the printed graph image with a specific resolution and saves it as a file that is then displayed in the output viewer.

[2022-08-16 08:49] #7279 closed

[2022-08-16 09:20] EstherNjeriLiberatta opened #7779 "Missing Aesthetic options in the Mosaic dialog: Describe>Graphs>Mosaic plot"
**Describe the bug**
The mosaic dialog does not appear to have the `Geom Aesthetics` options at all. This might not be a new issue, it has been there for a while. Currently, it is not clear why they are missing.

**To Reproduce**
1. Go to 'Describe'
2. Click on 'Specific tables/Graphs'
3. Scroll down to 'Mosaic plot'
4. See bug

**Expected behaviour**
Layer options are visible and enabled.

**Scre

[2022-08-16 09:53] lloyddewit commented on #7778
@Patowhiz Thanks for the chat this morning. I added some personal notes below. If I misunderstood anything, then please let me know.

@rdstern From the user perspective, the main potential advantage of this approach is that it would help users to run long intensive sessions, and then save the output window, without creating memory issues. The potential downside is that writing/reading temp files i

[2022-08-16 17:42] rachelkg commented on #6659
yes @rdstern confirms that this is resolved.

Thank you,

Rachel

[2022-08-17 09:41] anastasia-mbithe commented on #7684
@N-thony, am not sure if we have to change anything, because when we use, Apply As Filter option it overwrites and replaces the original dataset. Yet, when you use, Apply As Subset it does not replace the original and automatically adds a new sheet. So, in your case, you needed to use the subset option. You can correct me if that is not what you intended.

![image](https://user-images.githubuserco

[2022-08-17 10:28] #7775 closed

[2022-08-17 11:01] Patowhiz commented on #7778
@lloyddewit thanks for your feedback. You are correct.
I've also discussed this with @ChrisMarsh82. He generally agrees with the concept.

[2022-08-17 13:09] N-thony commented on #7777
@derekagorhom can you try this? Let me know if you have any problem.

[2022-08-17 13:12] N-thony commented on #7767
@MeSophie  can you check with merged version if this is already fixed? I found that same of the translations issues you noticed during the DRC workshop with the first released version 0.7.8 are already fixed in the merged version. If the issue is already fixed in the merged version, please clode it. Thanks.

[2022-08-18 07:29] Ivanluv opened #7786 "FIlter not clearing in Prepare >Data Frame > Filter Rows DIalogue"
using the Survey Dataset. Open the Prepare >Data Frame > Filter Rows dialogue and Define A New Filter eg
![image](https://user-images.githubusercontent.com/45068931/185334601-8bc52d97-3b0b-4d86-aa3e-8ed1545c18e5.png)
and click Ok

1. Delete the survey dataset
2. Reopen the survey dataset
3. Reopen the Filter Rows dialogue

The Receiver still contains the filter and on clicking Ok the following err

[2022-08-18 09:37] MeSophie commented on #7767
@N-thony  I assume that the merged version is the update version in VS. If Yes, there is still **Nombre maximum de ligne à** which is not well translate. Thank you.

[2022-08-18 09:42] #7772 closed

[2022-08-18 09:54] #7766 closed

[2022-08-18 10:27] N-thony commented on #7767
@MeSophie yes, check the issues you have opened about the translation in the merged version, if the problem is still there leave the issue open otherwise close it.

[2022-08-19 09:28] Patowhiz opened #7789 "Bug in line chart dialog"
There is a bug in dialog  **Describe > Specific Tables/Graphs > Line/Smooth/Dumbell/Slope Plot** Line Plot Option.

The script produced by the dialog in the first load is different from the one produced when I reload the dialog.

**First load Script**

[code]

**Re-load Script**
[code]
Notice `group=1` is missing in the second load.

[2022-08-19 09:30] Patowhiz commented on #7789
This can be fixed after PR #7782 is merged. To prevent conflicts.

[2022-08-19 11:10] #7786 closed

[2022-08-19 17:27] RafaelFrance opened #7791 "To add package Robust"
Hello,

First, sorry for my English.
Second, thank a lot for this great software. I am learning statistic and its help me a lot.

I would like to add into the Wish list some features of the package Robust.

I think first about :
- Trimmed Mean
- Winsorized Mean
- M-Estimator.
Ideally, this could be located in the summary menus

Thanks again

[2022-08-19 17:46] rdstern opened #7792 "Dialogues where the layout in French is incomplete"
I simply list dialogues I have found where problems remain:
I have started with the Climatic menu:

a) Export to cpt.  The top radio buttons 2 and 3 seem incomplete

b) Climatic > Tidy and Examine > Stack.
![image](https://user-images.githubusercontent.com/11226469/185665578-e3e10830-3b06-4262-9221-4227b9c4d46b.png)
The plusiers line may be inclmplete.  It is certainly odd when the checkbox is che

[2022-08-19 20:31] rachelkg opened #7794 "Layout issues with french version of Stack (Pivot) dialog"
Hello @N-thony,

This one looks too complicated for me to feel confident changing it. Please could you do it?

I have circled the layout issues in red. The Nouveau nom....issue is a recurring issue with the Save.urc which affects many dialogs so it would be great to finally have this solved.

There are also some database issues as a number of items are not translated, what would you like me to be

[2022-08-19 20:38] rachelkg commented on #7794
Here are some more examples of the Save Urc issue
![2022-08-19_13-34-28](https://user-images.githubusercontent.com/85707390/185703413-ac3f5ed9-d031-4235-9f1d-035cd9090728.png)
![2022-08-19_13-34-44](https://user-images.githubusercontent.com/85707390/185703417-21379dda-fe5a-4740-b224-9895111f162a.png)
![2022-08-19_13-36-36](https://user-images.githubusercontent.com/85707390/185703422-7bffd394-6360-

[2022-08-19 21:12] rachelkg opened #7795 "French Layout issue in One Variable Frequencies Dialog"
Hello @N-thony

I have fixed most of the issues on this one but am not sure about this one. it looks like maybe the french text is underneath the english text? What do you think? Your expertise would be appreciated!

Thanks,

Rachel
![2022-08-19_14-10-21](https://user-images.githubusercontent.com/85707390/185707874-325c09c8-86d1-412f-ab34-9dcd56121762.png)

[2022-08-19 22:32] rachelkg commented on #7792
@rdstern issue
a) changed layout and updated crowdin translation
b) I have passed this on to Antoine as it was too complicated for me see issue: Layout issues with french version of Stack (Pivot) dialog #7794
c) is a problem with the Save.urc I would love to see it resolved but have not been able to get anyone to work on it, I have mentioned it again to Antoine in issue #7794. Please see issue #67

[2022-08-19 22:32] rachelkg commented on #7792
Please close this once you have checked the pull request as I have made separate issues for the bits Antoine will do.

Thanks,

Rachel

[2022-08-20 08:06] rdstern opened #7797 "Amend the action in variable numbers when there is a prefix"
The Prepare > Column: Text > Split is an example
![image](https://user-images.githubusercontent.com/11226469/185735189-15e4c023-539c-4764-ae90-c5f547a418fe.png)

This used to give variable numbers `line1`, `line2`, etc - so using the prefix.

@dannyparsons proposed and I think implemented a change, so now the variable names are `line`, `line1`, `line2`, etc

This is often highly convenient, but th

[2022-08-20 10:41] rdstern commented on #7797
I have another reason now, for wanting the optional change.  After using the current system I stacked the data and got rid of the name part.  Here was the result:
![image](https://user-images.githubusercontent.com/11226469/185742274-0dd44780-c3c1-4980-8306-8808972af03a.png)
The blank is now a pain.  If it were 0 I could add 1.  I'd prefer 1 to 14, quite a lot, compared to blank to 13!  I begin to

[2022-08-20 10:49] rdstern opened #7798 "Minor cosmetic improvement to the stack dialogue."
The stack dialogue is generally working well.  Here it is:
![image](https://user-images.githubusercontent.com/11226469/185742412-7fd70f16-cb46-43e3-96df-1bee15984e99.png)

Usually I use it in default mode to carry all columns.  This time I chose to select columns to carry.  That's made it awkward and a bit of a pain to use.  This may be automatic and apply to other dialogues too.

a) When used in

[2022-08-21 10:09] rdstern opened #7799 "Small improvement to the File > New Data Frame dialogue"
I am now using this dialogue for some videos.  Please could @N-thony check that these are sensible.  Then perhaps they can be done by @anastasia-mbithe who is currently doing something else on this dialogue.
a) There is a default for the numeric option that currently says 1,10.  I keep changing that, when the dataframe is longer than 10 rows.  Please change it to 1,1000000.  Then it is still ok if

[2022-08-21 11:01] N-thony commented on #7799
@rdstern yes this seems simple, @anastasia-mbithe can do it.

[2022-08-21 17:29] rdstern opened #7800 "Some simple improvements to the calculator"
@anastasia-mbithe I hope you could do this.  I am writing the possible video script called **_Fun with numbers_** that uses this dialogue.

a) In our new integer keyboard, the binary key includes an as.integer function at the start.  This has the problem that all integers more than just over 1000 come as NA.  Try with a data frame of 10,000 (say) and the first variable being 1, 2, 3, ... (That's n

[2022-08-22 17:56] Patowhiz commented on #7789
@N-thony this can be fixed by any team member without risk of conflict. Thanks

[2022-08-22 17:59] Patowhiz opened #7803 "Bug in Climatic Inventory Dialog"
The climatic inventory dialog throws an error shown below.
<img width="353" alt="inventory" src="https://user-images.githubusercontent.com/21179007/185988003-3a60758d-5644-4d8e-acff-66fe66ba174a.png">

@N-thony this can also be fixed by anyone. Thanks

[2022-08-23 08:17] Vitalis95 commented on #7803
@N-thony, I have used Dodoma dataset with defaults but I could not get that bug, @Patowhiz are there options you selected?

![image](https://user-images.githubusercontent.com/89011415/186107203-a58ec0eb-7761-4db7-99b5-8383be218f57.png)

[2022-08-23 08:47] rdstern commented on #7800
I have also found a bug or two in the calculator - in the development version - it is ok in Version 0.7.7.
![image](https://user-images.githubusercontent.com/11226469/185849330-7eae2a5c-c95e-411c-97de-23788f2c8a7f.png)

The error in the formula is simply that the bracket is omitted.  The error used to be given in the popup.

Now very puzzling but the bug then appeared in version 7.7 and now it all

[2022-08-23 15:23] rdstern opened #7804 "Saved rds file doesn't re-import into R-Instat"
This is a file I am preparing for a training video called `fun with numbers`.  I am doing some pretty crazy things with numbers, so want to do more investigation before anyone looks at it.  So wait please!  It is also a good example of stretching R-Instat, perhaps even stretching R!

Here is the current error message when I try to import.
![image](https://user-images.githubusercontent.com/11226469

[2022-08-23 15:39] rdstern commented on #7754
A third problem I find is to make a variable (list or character) very wide.  This is linked to the problem (for text) that it is left justified, so I need the variable to be wide to be able to read it.  This is linked with the option I have found to use Column: Text > Transform > Wrap and word wrap a variable.  This seems to work fine.  What doesn't work is that when I take off the word-wrap, the

[2022-08-24 06:50] #7798 closed

[2022-08-24 09:32] rdstern opened #7805 "Possible bug in digitsum function"
The DescTools package has a DigitSum function.  This is now on the Integer keyboard in our calculator.
After discussion with David, I am pretty convinced there is a bug in the function.
DigitSum(1234) is 10.

It first goes wrong with 100,000 I think.
DigitSum(100000) = 0, so is 200000, 300000, etc.

There is more fun with things like 2200000.  I think that is ok, i.e. 4, but add a zero and the sum

[2022-08-24 09:46] rdstern opened #7806 "Adapt a function in R-Instat, or write a package?"
David introduced me to a great feature that can be used in R-Instat (or RStudio)

I illustrate with the DigitSum function, that was described in #7805.  We think there is a possible bug in the function.

Typing
DescTools:::DigitSum
or getAnywhere("DigitSum") or (DigitSum)
gives the function code!

![image](https://user-images.githubusercontent.com/11226469/186386038-4b593a9d-5542-4394-b247-a782d11

[2022-08-24 09:56] rdstern opened #7807 "Add reverse to the R-Instat string functions"
I am suggesting @anastasia-mbithe for this, because she is already working on the calculator.  Also this is a function I am assuming for the maths camps!

Could a function called reverse be added to the text/string keyboard
![image](https://user-images.githubusercontent.com/11226469/186388573-c8e03293-c60a-4090-b9a2-50383a378682.png)

I suggest it could go on the second-to-bottom row so the keys l

[2022-08-24 09:57] Tula1 commented on #6419
@rdstern , @Vitalis95 and I found that the ` decluster ` function outputs a numeric number giving the number of clusters of threshold exceedances. The function does not output a list of clusters with their corresponding cluster values that can be added to a data frame as a factor column. From the `evd` package, we have the `clusters` function which identifies clusters of exceedances and outputs a

[2022-08-24 09:59] rdstern commented on #6419
@Tula1 excellent find.  Let's implement the `clusters` function

[2022-08-24 15:04] Patowhiz opened #7808 "How we process, store and retrieve objects in the R data book"
@lloyddewit @ChrisMarsh82 @dannyparsons @rdstern @lilyclements
Currently we rely on the class type of objects to identify and filter the objects contained in the data book in R.
Some packages produce objects that have multiple class types which overlap with other "category" of objects.
For instance;
1. Graphs could be in html "category".
2. Tables could be in html or text "category".

That means i

[2022-08-25 06:51] rdstern opened #7811 "The grid behaves differently in different versions of R-Instat"
I have generated an extreme grid here.  I exported to Excel and explain below how it has come about.
[factorial.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/9421937/factorial.xlsx)

However my main concern was (isn't now!) to import the R versions back into R-Instat. There are 2 files.
[fun with numbers.zip](https://github.com/africanmathsinitiative/R-Instat/files/9422082/fun.wit

[2022-08-25 07:16] lloyddewit commented on #7774
The majority of this issue is covered by issue #3721. I added a note:

![image](https://user-images.githubusercontent.com/57253949/186598703-6b67684d-eb6c-4abe-8848-5e6861714003.png)

However, the final example above is a text field. We will try and fix this.
@MeSophie Please could you check which error messages can be displayed in the `Essayer` text field and add these messages to the English JSO

[2022-08-25 07:23] rdstern commented on #3721
@lloyddewit I wonder about the situation regarding tooltips.  For example the Prepare > Calculator dialogue has quite a lot of them?  Are they done dialogue-by-dialogue or more generally?

[2022-08-25 07:28] lloyddewit commented on #3721
The tooltip translation mechanism is in place and working. However each time a tooltip is updated/added it needs to go through the standard JSON/CrowdIn/database process. I will try and regenerate the list of all tooltip text, and add any missing tooltip text to the JSON file for translation. This should solve the issue for most tooltips. If there are any tooltips still not translating, then we'll

[2022-08-25 07:54] rdstern opened #7812 "Add alignmment options to the grid?"
I assume this might add to an entry in the toolbar and also possibly in the Edit menu.

With some character fields an entry can become very wide.  I have also an extreme situation with the files supplied in #7811

The Excel file has a wide column (very wide - over 2500 characters).  I would like the Excel options of being able to look at it left-justified, (possibly centred) or right-justified.
I

[2022-08-25 08:20] lloyddewit commented on #7806
@lilyclements
- I understand that the `getAywhere()` is a standard R function, and is not something we would edit.
- The `getAnywhere()` documentation says that it searches in the loaded namespaces. If R-Instat functions are not found, then is creating a package the best approach? Would this interfere with any plans @dannyparsons or @volloholic may have for creating a complete R package for Cran?

[2022-08-25 08:32] rdstern commented on #7806
Mainly to provide some statistics!  I discussed how big a task it would be to put the functions in R-Instat into packages.  @lilyclements found there are about:
a) 95 summary functions
b) 226 databook functions
c) 107 stand-alone functions

I'll leave her to comment on the desirability and feasibility of making these into (perhaps) 3 packages.  Then we should discuss with @dannyparsons and/or @vol

[2022-08-25 08:47] lloyddewit commented on #7808
@Patowhiz
- are you saying that a table is either an 'html' or 'text' object and we currently have no way of checking if it's a table?
- or are you saying that there is a table class with multiple inheritance from both 'html' and 'text' classes?

[2022-08-25 10:46] lloyddewit commented on #7800
@rdstern I'm a bit puzzled by this. The comment translation is implemented in PR #7783 but this PR is not yet merged (waiting for @N-thony 's review/approval). If you are testing on the latest master, then the comment should always be in English.
Are you testing on a different branch? Or did you change the comment manually?
thanks

[2022-08-25 11:02] rdstern commented on #7800
I have been using various pull requests and the master.  Now I am in English and using Patrick's recent changes to the output window.  I haven't ever edited the comment - at least not recently.  Here is a dialogue:
![image](https://user-images.githubusercontent.com/11226469/186647926-7a95ff9e-50fe-4473-9a3f-3af1855be2a3.png)

[2022-08-26 08:11] Tula1 commented on #6419
@lilyclements we tried to reproduce the `clusters` function in R using the Ghana dataset and add the clusters column to the dataframe . Here is the code:

[code]
But we got the following error:

[code]
Please advice on alternative ways we can add the column to the dataframe.

[2022-08-26 08:26] lloyddewit commented on #7800
@rdstern
The comment translation is not implemented on the branches you tested. I assume that the last time you tested PR #7783, you exited in French. R-Instat then stored the French comment as the default. When you restarted R-Instat in the master branch, then R-Instat reloads the last specified comment (in this case the French comment). However, master branch doesn't have the comment translation

[2022-08-26 08:32] rdstern commented on #7714
The data are available on the [Minor Planet Centre](https://minorplanetcenter.net/data).

here is the location:
![image](https://user-images.githubusercontent.com/11226469/186858519-c4ab78f8-0f4c-474e-b0a8-702be88cf3f6.png)

There are 3 alternative files and each one gives some problems

a) The txt file imports (seemingly) easily.  But there are additional fields that start after many rows - as in

[2022-08-26 08:34] rdstern commented on #7800
@lloyddewit great - thanks.

[2022-08-26 16:15] shadrackkibet opened #7817 "Error in in from qevd has now been resolved"
The following error from the Mosaic package has now been resolved. Check the conversation in https://github.com/ProjectMOSAIC/mosaic/issues/779#issuecomment-1228642666

[code]

@africanmathsinitiative/developers it should be easy to update the **Show Model** dialog to use `extRemes` package.

[2022-08-26 16:58] rdstern commented on #7817
@shadrackkibet I don't quite understand.  Do you mean the `extRemes` or the `Mosaic` package for Show Model?

[2022-08-27 07:14] #7807 closed

[2022-08-27 10:52] rdstern opened #7818 "Extend the integer keyboard still further"
There is still more in the primes package we can add.  @anastasia-mbithe I am really pleased with the way you have been able to implement this keyboard.

a) Do we still need the prime key at the bottom.  I am not sure what it is adding now?
b) nth prime needs a tooltip, e.g. Gives the n-th prime.  For example nth_prime(1000)= 7919.  Also when you include the parameters, it is given as `n =`.  That

[2022-08-27 10:58] shadrackkibet commented on #7817
Currently, what is used for GEV, Gambel & Pareto in the Show Model dialog is the `texmex` package -  which works okay. `Mosaic` package provides a generic function for plotting & showing Illustrated probability calculations from distributions (which could be from different packages). So the request here is instead of `texmex` & `Mosaic` we change to `extRemes` & `Mosaic`. Hopefully, this makes sen

[2022-08-27 11:39] rdstern opened #7819 "Correct the pbirth and qbirth keys in the calculator"
@anastasia-mbithe I hope it is ok, that I continue to suggest you work on the calculator?
pbirth currently gives an error if you give it a variable, rather than a number.
It is a good example to show the use of the sapply function.
So it should change as a default to become a use of sapply, see below:

![image](https://user-images.githubusercontent.com/11226469/187027784-f9c05d90-381b-42fa-98f6-de

[2022-08-28 09:01] rdstern opened #7820 "Check on stem and leaf in Describe > One Variable > Frequencies dialogue"
For @N-thony to allocate.

Try any set of data, e.g. the usual survey data plotting the yield.
Use Describe > One Variable > Frequencies > Stem with the yield.

Nothing seems to be plotted.

This is a text graph, not a high-resolution plot.  I am not sure whether that is the problem?

[2022-08-28 09:36] rdstern opened #7821 "Correct and hopefully also improve the Describe > One Variable > Graph dialogue"
As with the stem plot I suggest this is for @N-thony to allocate.

In this dialogue the default bar chart can be pretty bad.  Here it is for the field variable in the survey, made into a factor, and flipped.  Note it is in character, rather than the factor (numerical) order.  In an ordinary factor like the variety it ignores the order of levels and just uses its own alphabetical.

![image](https:/

[2022-08-29 08:40] Ivanluv commented on #7820
@rdstern  the `stem` function does not seem to produce high resolution plots. All examples in the `stem` function documentation are  producing text graphs

[2022-08-30 08:41] anastasia-mbithe commented on #7818
@rdstern , for point (a) we had the prime key to generate prime numbers equal to the number of rows. For instance, we could use it to generate the first 1000 prime numbers. So, should we keep it, or it's not needed?

[2022-08-30 10:31] Patowhiz opened #7825 "Maximum factor shown option in one variable summarise dialog"
The default value for Maximum factor shown is 7.
I suggest this to be changed to 12. Reason being, in many of our climate workshops we often want to also have a summary of the 12 months.

![1 variable](https://user-images.githubusercontent.com/21179007/187414829-87483633-c5bf-4ab3-9154-5f3f47ef07bd.PNG)

[2022-09-02 08:46] rdstern commented on #7820
Yes, but the merged #6858 seemed to produce these text plots earlier.  It was by @EstherNjeriLiberatta and I am not sure what has changed since, so we no longer get the graph.  Oh - I tried again and now we do!!!  I'll check more, but close meanwhile!

[2022-09-02 08:46] #7820 closed

[2022-09-02 16:43] N-thony commented on #7318
@rdstern do you have any suggestions? Thanks.

[2022-09-03 21:26] lilyclements opened #7828 "Create a new dialog "Import from Postgres""
Create a new dialog "Import from Postgres"

This is related to the PLH work, and relevant for the GPI Retreat taking place on 12th September.

![image](https://user-images.githubusercontent.com/21180424/188288008-026a87f5-529c-4326-8cc9-440a092e6321.png)

The "Import from Postgres" dialog has four labels and four input boxes at the start:

* Username (takes a string)
* Database name (takes a strin

[2022-09-03 21:35] lilyclements opened #7829 "Create a new dialog "Import from Rapidpro""
This is related to the PLH work, and relevant for the GPI Retreat taking place on 12th September.

![image](https://user-images.githubusercontent.com/21180424/188288153-dcf74c8d-5f49-4526-97d3-3213684a9073.png)

The "Import from Rapidpro" dialog:

* There are two buttons at the top "Get user data" and "Get flow data"
* `Site:` label, followed by an input box which takes a string
* `Token:` label,

[2022-09-05 07:19] #7825 closed

[2022-09-05 07:22] #7789 closed

[2022-09-05 07:24] #7662 closed

[2022-09-05 07:28] #7800 closed

[2022-09-05 07:28] #7819 closed

[2022-09-05 10:10] lilyclements commented on #7821
@rdstern - @Vitalis95 and I looked at this issue together and have fixed it so that if _one_ column is selected, the y-axis is in the correct order. However, if more than one column is selected, then the y-axis is converted to a character variable because there are now factor levels from multiple variables; for example:

![image](https://user-images.githubusercontent.com/21180424/188424786-d707592

[2022-09-05 14:12] Vitalis95 commented on #6345
The dialog runs `stats::anova` to the saved model. This gives an error in R for factor response variable
[code]
[code]
If instead you use `car::Anova`, then it works.
This is the description of the function;
Calculates type-II or type-III analysis-of-variance tables for model objects produced by` lm, glm, multinom` (in the `nnet` package), `polr` (in the `MASS` package), `coxph` (in the `survival`

[2022-09-05 16:40] lilyclements commented on #7493
@rdstern we currently use `(L)` for logical. Is there a different letter you can think we should use here?

[2022-09-05 23:43] Patowhiz commented on #7808
After thinking about this further, I suggest using 4 parameters in processing, storing and retrieving objects, namely;
1. `data_name` - used to identify the data name that the object belongs to.
2.  `object_name` - used to identify the name of the object.
3.  `object_type` - used to identify the _type_ of the object, for instance, graph, table, model, string
4.  `object_format` -  used to identify

[2022-09-06 06:28] rdstern commented on #7493
I am wondering if we have the general (S) for structure.  As you say (L) is already in use.

[2022-09-06 06:39] N-thony commented on #7493
@rdstern (S) is already used for structure. What if we keel (L) for List and (B) for Logical?

[2022-09-06 09:14] N-thony commented on #7768
@lloyddewit this is fixed except the text in the box i.e
![image](https://user-images.githubusercontent.com/68591383/188596579-cd9237de-34cf-42af-b3cb-d2ef031f7f46.png)

[2022-09-06 09:14] #7768 closed

[2022-09-06 09:22] #7795 closed

[2022-09-06 09:48] #7760 closed

[2022-09-06 10:09] #7757 closed

[2022-09-06 10:12] #7761 closed

[2022-09-06 10:20] Patowhiz commented on #7808
Below is a presentation of the object metadata I suggest we store, than can simplify objects processing.
| object_name | object_type | object_format | object |
| ------ | ------ | ------ | ------ |
| "scatter_plot1" | "graph" | "image" | scatter_plot |
| "rain_bar_chart" | "graph" | "image" | rain_bar_chart |
| "summary_table1" | "table" | "text" | summary_table1 |
| "summary_vars_table" | "table"

[2022-09-06 10:22] rdstern commented on #7821
@lilyclements I can live with that - I suppose - for the example above.  But here is your solution for 4 variables without the Flip.
![image](https://user-images.githubusercontent.com/11226469/188610350-69e7198a-d1f6-46c4-86a5-27eadfa0601c.png)

Giving the following:
![image](https://user-images.githubusercontent.com/11226469/188610813-0d482abc-b2e5-4645-88e9-466893446f4d.png)

So, in this dialogu

[2022-09-06 10:37] #7759 closed

[2022-09-06 11:04] #7751 closed

[2022-09-06 12:13] #7747 closed

[2022-09-06 12:39] #7752 closed

[2022-09-06 13:50] Patowhiz commented on #4620
@dannyparsons @lloyddewit @rdstern
It's now 2022 and @lilyclements has written issue #7828 which relates to importing from Postgress sql database.
I strongly suggest that dialog to be generally designed in a way that we can add support for importing from other  RDBMS as well.
All relational database management systems (RDBMS) have standard connection requirements which let's us easily design a gen

[2022-09-06 13:52] Patowhiz commented on #7828
This issue relates to issue #4620. I strongly suggest that instead of a custom dialog for PLH or Postgress import, we take this chance to design and implement it as explained in https://github.com/africanmathsinitiative/R-Instat/issues/4620#issuecomment-1238180394 of that issue.

[2022-09-06 14:17] rdstern commented on #4620
@lilyclements and @dannyparsons just to add to @Patowhiz comments, in the recent review of R GUIs there are the following topics:
`Import Data File Types (how many)` - R-Instat does quite well here (31), together with BlueSky (30) and RKWard (31).
The next item in the review list is:
`Import Database (how many)` - here BlueSky has 6, while Rattle and R-Instat have 1 each.  The others have zero.  T

[2022-09-06 14:48] lilyclements commented on #4620
Sounds interesting! I guess the next step is knowing what is in common between these different data bases that relate to sql (eg climsoft dlg, and the suggested Postgres dialog), and to design a dialog.
@Patowhiz do you know which dialogs in R Instat import from an sql database?

[2022-09-06 15:06] Patowhiz commented on #4620
@lilyclements currently we only have the climsoft one. The connection sub dialog has an implementation that can give you a hint of the standard requirements of a typical RDBMS. I would suggest using it in designing a general import dialog.

[2022-09-07 06:54] #7706 closed

[2022-09-07 07:04] #7705 closed

[2022-09-07 07:25] #7702 closed

[2022-09-07 08:09] #7698 closed

[2022-09-07 10:48] #6345 closed

[2022-09-07 11:08] MeSophie commented on #7753
Fixed in Crowdin.

[2022-09-07 11:09] #7753 closed

[2022-09-07 12:18] #7704 closed

[2022-09-07 12:35] #7683 closed

[2022-09-07 13:15] Patowhiz opened #7852 "Follow up changes after PR #7782 is merged"
@rdstern @lloyddewit @africanmathsinitiative/developers
PR #7782 makes several underlying changes that require some dialogs implementations to be changed.
The following are the dialogs that will have to be modified after the PR is merged.

**Hight priority**
1. View object and View Graph dialog - @rdstern I propose the 2 dialogs to now be merged into one. We now have the underlying R and VB.Net im

[2022-09-07 13:18] Patowhiz commented on #7852
In addition, as mention in PR#7782, **Describe > Two/Three variables > Summarise** dialog needs discussions with @rdstern on how we can produce 1 table at a time. Currently it produces 2 html tables in 1 command. I suggest @N-thony to look at this. He may wish to delegate too.

[2022-09-07 18:27] dannyparsons commented on #7778
@Patowhiz Thanks for this. I haven't been able to review this and all the implications carefully, but I can see some of the advantages to this approach.

However, I don't like having these functions `view_graph_object`, `view_text_object`, `view_html_object` now being external and part of the R script. We try to keep the R code as close to "normal" R code as possible and this is adding more custom

[2022-09-07 18:38] dannyparsons commented on #7808
I'm happy with this approach to object metadata. This is an improvement on our current system where types are not well defined. I would just suggest changing `object_label` to `object_type`, as label is too generic and this is describing the type of the object.

When changing internal structures in the data book you need to consider backward compatibility of older RDS files/data books i.e. you nee

[2022-09-07 21:53] Patowhiz commented on #7808
@dannyparsons thanks for your feedback.
I changed `object_label` to `object_type_label`, is that more descriptive enough?
In regards to backward compatibility of older RDS, I had not thought about that. I will add that functionality as well, and also try to detect the `object_type_labe`l from the class type just like before.
I'll also look into the cloning aspects.

[2022-09-07 22:00] Patowhiz commented on #7808
@dannyparsons on a separate note.
We are now thinking about staking advantage of the new implementation in saving objects as an RDS file.
I noticed you decided to put graphs inside a separate data book. Key point being the data book, I wonder why?
I intend to suggest storing all objects together, we can now definitively identify them.
I wonder what other alternative we have in saving these objects

[2022-09-07 22:12] Patowhiz commented on #7778
@dannyparsons that principle is well noted.
The downside to that approach is how do we detect and respond accordingly when the script is run in the script window? I was leaning towards a solution where, an output script run by the dialog behaves in a similar manner even when run in the script window.
Before, `grDevices::png` was not being called when the script was being run in the output window,

[2022-09-07 22:33] Patowhiz commented on #7778
In addition as indicated in my code comments. R-Studio has a way of detecting when the output should go to their output viewer.
I'm still exploring how that can be possible in R-Instat. One think that is clear when investigating this, for every image or graph output, R-Studio creates a temporary file. When looking into the file, it is what's displayed in their viewer.

[2022-09-07 23:55] Patowhiz opened #7854 "Limiting heights of outputs in the output viewer"
Some outputs are very long. When produced the user has to always scroll back to the top to view the output from the begining.
With the new maximise feature, I think it will be easier to always have the maximise link visible to the users. So that that they don't have to scroll. All they need to do is click on it and see the whole output.

I suggest limiting the heights of the outputs in the output

[2022-09-08 09:08] lloyddewit commented on #7808
@Patowhiz Thank you for the discussion yesterday. I also support storing the metadata explicitly, rather than trying to deduce it.

I understand that you propose to store metadata in a 2-dimensional table with one row for each 'object_name', and 1 column for 'object_type_label', 'object_format' and 'object' respectively. Did I understand correctly?

Should we instead consider an 'output_object' cl

[2022-09-08 09:48] MeSophie commented on #7679
Fixes (Partially) in Crowdin.

[2022-09-08 10:13] Patowhiz commented on #7808
@lloyddewit thanks for the queries.

Yes, It's a 2 dimensional structure implemented through a list of list. The "outer" list has named elements and that's where the `object_name` is used.  The "inner" list which is basically the element of the "outer" list contains the `object_type_label`, `object_format` and `object` as elements.
I used this approach to just build on what was existing.

I find R

[2022-09-08 12:12] lloyddewit commented on #7808
@Patowhiz ok, fair point, thank you
@lilyclements do you have a view on using classes versus lists in R?

[2022-09-08 12:13] lloyddewit commented on #7778
@dannyparsons @Patowhiz Thank you for the comments above.

I understand that we want the R code in the output window to be as generic as possible so that it could potentially be executed outside R-Instat (e.g. in RStudio). Therefore, we want to minimise calling R-Instat specific functions (such as functions that determine the output destination for graphs, tables, etc.).

Would the following behav

[2022-09-08 13:06] Patowhiz commented on #7778
@lloyddewit yes you understood the issue correctly.

This is precisely what I'm trying to avoid. For instance, as a user when I execute a script that produces a html output, I expect it to be displayed within R-Instat, regardless of the source of the execution. To me that consistency is important. Reason being, as a user I may want to share my outputs, and it's now trivially easy to do that in R-I

[2022-09-08 13:28] Vitalis95 opened #7860 "Improvements to Define New Filter dialog"
@Patowhiz  In Filter Rows dialog, I am using survey dataset and I want to filter Kesen and Nanda Villages, the control `Select Levels:` should update automatically to show that I have selected 2 Levels i.e `Levels: 2`

![image](https://user-images.githubusercontent.com/89011415/189122583-2baed282-5ca8-48c1-ab3e-57763f98b45f.png)

[2022-09-08 16:28] dannyparsons commented on #7778
I would also like to have consistency with code run through the script window, however, unfortunately, I don't think the benefits of this outweigh modify the script that every dialog produces. Although the script window is important, it's still an "advanced" feature, and not used by all.

So for now I would go for option 2, and be looking for ways of having the detection done through the script wi

[2022-09-08 18:46] lilyclements commented on #7808
I don't have experience in using classes in R, unfortunately. I know a little about R6 classes, but not enough to form a useful opinion. I would suggest that @dannyparsons would be very useful in this discussion

[2022-09-08 18:50] dannyparsons commented on #7778
Also, the proposed method 1 will only work if the script in the script window is generated from a dialog and includes the view function at the end. If the user writes their own script we will still need some detection of the output, as plain R won't have these view functions.

[2022-09-09 09:53] #7758 closed

[2022-09-09 10:39] rdstern commented on #7812
I assume alignment and word-wrap (perhaps unlike Excel) only apply to whole variables (columns).  Alignment could be for multiple variables, while word-wrap will only be for a single variable in each data frame.  I assume there will be entries in the Edit menu and perhaps an additional item, with a pull-down, in the toolbar?  I am not so keen on adding to the right-click menu for these.

I describ

[2022-09-09 11:48] rdstern commented on #7778
I have had a very constructive discussion with @Patowhiz and try to give my understanding of the differences in the 2 approaches.

Here is a boxplot for the survey data with the current (David/Danny) script and the new (Patrick) script.

Danny/David:
[code]
And the Patrick code:
[code]
So my (limited) understanding is as follows:
a) Lines 1 and 2 above are essentially unchanged.
b) Line 3 adds the

[2022-09-09 12:20] N-thony opened #7866 "Hide Edit > Paste New Columns... menu"
@lloyddewit or @rdstern  when I go to Edit > Paste New Columns... menu it takes to an empty dialogue below, could we make this menu hidden since the dialogue is not yet implemented?
![image](https://user-images.githubusercontent.com/68591383/189348360-ab3069c1-2615-48a1-888b-d1abccd2207a.png)

[2022-09-09 12:21] N-thony commented on #7866
@MeSophie can you make this change?

[2022-09-09 14:59] lloyddewit commented on #7866
yes, makes sense

[2022-09-09 15:33] lloyddewit commented on #7778
likely not!
The only thing I would add is that `view_object()` is R-Instat specific and won't work in other environments. Also, as @dannyparsons pointed out, the script window should be able to send output to a sensible location just using standard R.
I personally like the idea of the output window just showing the 'real' R script (not the R-Instat specific internal code) but I don't have strong v

[2022-09-09 17:04] Patowhiz commented on #7778
Okay.
I'll remove the `view_object` and replace it with `get_object`, just like before.
So the sequence of the script will be the same.
`get_object` will call view_object internally, the user will not know that.

[2022-09-09 17:18] rdstern commented on #7778
Aaah, has @lloyddewit finally told me what the situation is.  If I now understand then the get_object function would also work in RStudio.  And `view` might be currently an invisible argument.  If so then, in general there may be various options in `view` that would only work in R-Instat, but at least some (maybe only the default, or different ones) would also work in rstudio.  That would be fine.

[2022-09-09 18:11] Patowhiz commented on #7778
No. The view will always work in any R environment.  It's designed to do so..
I also don't understand what real R script means.
I'm agreeing to revert back to get_object even though I strongly think it makes the script inefficient, because I'm assuming performance will always.be negligible..

[2022-09-10 07:05] rdstern opened #7870 "Adding keyboards for Bayesian modelling"
I suggest adding the `arm` and also the `rstanarm` keyboards to the Fit Model keyboard.

There is also the simpler `statsr` package used in the coursera course.  If this is added, then I suggest it be added to the hypothesis tests keyboard.  It needs more inputs, so is not so easy to use, via the keyboard.  So priority there is probably to add the Bayesian part of this package to the Model > Fit M

[2022-09-12 07:16] #7573 closed

[2022-09-12 08:15] rdstern opened #7873 "Adding or deleting rows in a dataframe fails for at least one class of data"
This figure shows an example of the problem.  This is the problem when inserting a row:

[code]
I used right-click, but get the same when using the Prepare > Data Frame > Insert/Delete dialogue

![image](https://user-images.githubusercontent.com/11226469/189601776-8844b10d-63fa-46e4-92b4-477ef26988e9.png)

This is the error when deleting a row.

This is the command:
[code]

![image](https://user-i

[2022-09-12 08:30] rdstern opened #7874 "Could piping be added to the Prepare > Calculator and perhaps also Prepare > Column: Numeric > Enter?"
I notice that piping now has its own symbol in base R.  It is |>.  We have some calculator keys that have become complicated, for example

`primes::generate_n_primes(n=nrow(x=(data1)))`

I wonder if this could be given more neatly if piping were allowed?  That would be good anyway, and also as part of our teaching of R, for those who could use R-Instat partly via giving commands.

[2022-09-12 10:33] rdstern commented on #7632
@lloyddewit great that there seems to be progress on this (these) issues.
Of course I add further points!
a)  Just as we have multiple data frames, I wonder if we could also have similar tabs for multiple code windows?
I notice this is one of the items in the list of about 45 in the comparison on R GUIs.  And no-GUI currently has this feature.  It is prominent in RStudio.
![image](https://user-ima

[2022-09-12 11:44] rdstern opened #7876 "Even more for the Integer keyboard!"
@anastasia-mbithe This is looking impressive already.  This is for after the existing pull request has been included.

First 4 minor points:
a) The new-style Help is excellent on the integer keyboard.  But it misses the `gmp` package, at least visibly.  It goes to gmp from the main button, but should also include it as the first in the drop-down list.   Could you please add that.  At the same time

[2022-09-13 09:14] #7545 closed

[2022-09-13 09:17] lloyddewit commented on #7632
@rdstern Thank you, good points, I'll try and implement

[2022-09-13 15:53] dannyparsons commented on #7808
I'm happy starting with a list for now as we can quite easily convert this to a class later.

On graphs being stored outside the data_book, this was a temporary fix due to some types of graphs being extremely large when saved within the RDS file and this was causing saving and auto saving to be very slow. The big disadvantage of the separate data_book is that saved graphs are lost after the sessio

[2022-09-14 06:12] rdstern commented on #7493
@N-thony the idea is that S for structure is general that it has a special structure.  So our circular data is already of type S.  So I suggest that Lists should also be of type S at least for now.  In addition I have been working on the Integer keyboard.  This produces variables of class bigz or bigq, see below:  They should also have type S.

I would like to return to the situation that if there

[2022-09-17 16:58] rdstern commented on #7812
And on alignment there is one change we should make.  That is to left-align numeric variables - that are currently centred.
Here is an example:
![image](https://user-images.githubusercontent.com/11226469/190867986-fadbd445-8052-4e96-ba13-9e562dc4e703.png)

The numbers are centred in R-Instat.  They are left justified in the R-viewer.
They are a calculation 2^x1-1 with x1 being 1 to 100 in this fil

[2022-09-17 17:20] rdstern opened #7884 "Files with bigz data don't re-open in R-Instat"
The new integer keyboard has bigz() as the first key.  It allows exact maths - which is fun.

Here is an example:
![image](https://user-images.githubusercontent.com/11226469/190868280-a5d67c87-6275-48a1-afc6-1f739921be21.png)

In the data frame x1 is from 1 to 100.  The next variable is 2^x1.  Then we are producing the third variable as shown above.

When I save with this third variable it appears

[2022-09-18 14:16] rdstern opened #7885 "Prepare > Data Frame > Convert gives a very odd result"
I hope @dannyparsons could explain this result, but expect it could become a puzzle for @lilyclements?
Here is a data frame called abundant
[abundant.zip](https://github.com/africanmathsinitiative/R-Instat/files/9594046/abundant.zip)

It has character variables that need to be made numeric:
![image](https://user-images.githubusercontent.com/11226469/190904495-f094caec-102a-43fa-9000-0b9505e7440b.p

[2022-09-19 09:35] rdstern opened #7886 "Adding a new lists keyboard into the calculator"
Here is an example of a dataset, where a variable contains a set of simple expressions
[superabundant20.xlsx](https://github.com/africanmathsinitiative/R-Instat/files/9597668/superabundant20.xlsx)
Here it is in R-Instat:
![image](https://user-images.githubusercontent.com/11226469/190988252-ffd9cae2-8782-4ad4-ba5c-5bea86c28d6b.png)
In this data frame I got the 3rd variable from the integer keyboard

[2022-09-19 15:41] rdstern opened #7887 "A challenging dataset to open and use in R-Instat?"
It is a dataset on superabundant numbers.  This is the [website](https://oeis.org/A189228)
![image](https://user-images.githubusercontent.com/11226469/191053431-682cf2b1-82b7-41fb-87fb-bf891a1f2fa8.png)

The site [here](http://oeis.org/A004394/b004394.txt) shows the data.  They may be downloaded and are here:

[superabundant.zip](https://github.com/africanmathsinitiative/R-Instat/files/9600339/sup

[2022-09-21 10:27] rdstern opened #7888 "Problem with bigz class of data in R-Instat"
I describe the problem from first principles, because checking whether there is a problem in RStudio might be a useful early step.

`bigz` and `bigq` are classes of variables that enable calculations with unlimited precision on numbers.  They are from the `gmp` package and are on the integer keyboard in the calculator.  I have recently been having problems re-opening some rds files saved with thes

[2022-09-21 11:10] rdstern opened #7889 "Happy numbers made easy?"
@lloyddewit perhaps an example for the new script window!?

Happy numbers are fun!  They are defined using sums of squares, but in a rather curious way.  They are the sums of squares of the digits in each number.  So ssqd(13) = 1^2 + 3^2 = 10.  Then ssqd(10) = 1^2 + 0^2 = 1.  That sequence means 13 is a happy number.  If you do the same with 7, you find 7 is also a happy number.
(The sequence is 7

[2022-09-21 13:06] Patowhiz commented on #7808
In addition we now also have html objects which can be bigger in size than even graph objects.
We need a general design of how we will save objects efficiently, elaborately and in a consistent way.

[2022-09-22 05:43] rdstern opened #7890 "Be able to colour rows (as well or instead of columns) in R-Instat?"
We currently have an option to colour columns.  I suggest we add a row option to the dialogue, so we can colour rows.
One option should be using a logical column, so it is coloured when TRUE.
There are many other possibilities.  At the simplest level I would like the row right-click to be able to colour the current row.  We should, from there, be able to use (at least) a logical column.
I am sugge

[2022-09-22 06:24] N-thony commented on #7890
@derekagorhom this is good opportunity since you recently asked me for more issues, would you like to try this?

[2022-09-22 10:56] N-thony opened #7892 "Bug under Edit > Copy Menu"
This bug occurs when I click on Edit > Copy menu
![image](https://user-images.githubusercontent.com/68591383/191729020-a434451a-5aa7-4843-bcb6-e5e12edb142b.png)

[2022-09-26 12:16] N-thony commented on #7818
@anastasia-mbithe how is it going with this?

[2022-09-26 12:17] N-thony commented on #7892
@derekagorhom  can you fix this?

[2022-09-26 12:18] N-thony commented on #7860
@Vitalis95 how is it going with this? Also remember to update the board.

[2022-09-26 12:20] N-thony commented on #7794
@derekagorhom any progress?

[2022-09-26 12:20] N-thony commented on #7799
@anastasia-mbithe any progress?

[2022-09-26 12:21] N-thony commented on #6978
@Vitalis95 can you an update about this?

[2022-09-26 12:25] N-thony commented on #6377
@Vitalis95 any progress? This has been here for long.

[2022-09-26 12:44] #7892 closed

[2022-09-27 12:53] N-thony commented on #7643
@rdstern could you check again item a)?

[2022-09-28 10:15] berylwaswa opened #7895 "The Factorize Key Error"
I have been testing the calculator and have worked with the basic, integer, probability, and transform keyboards.
I was working on the rice/chess problem when I got stuck because of an error on the factorize key, on the integer keyboard.
 I wanted to produce the factors for numbers in a column but instead, it kept bringing an error.
On the first attempt, I got an error that said I had not installe

[2022-09-28 10:59] N-thony commented on #7895
@berylwaswa I think this is due to your R version, I found out that 4.1.3 has this function under `primes package` so you need to upgrade your R version and run again

[2022-09-29 08:01] N-thony commented on #7684
@rdstern since we have two possibilities here of choosing either we create a new data frame containing the filtered data or over write the existing with the filtered data.
I think we can close this issue.

[2022-09-29 08:01] #7684 closed

[2022-09-29 10:13] derekagorhom commented on #7777
Hello Antoine, please i will need you help in fixing issue #7777, first is with the ucrFromDataFrame, when changing the setdatatype its now does not display any of the data types for the dataset.

[2022-09-29 10:35] #7771 closed

[2022-09-29 10:35] #7799 closed

[2022-09-30 06:48] Vitalis95 commented on #7803
I am closing this issues after discussing it with @Patowhiz , I couldn't get the bug from my side.

[2022-09-30 06:48] #7803 closed

[2022-09-30 08:06] #6541 closed

[2022-09-30 08:06] #6645 closed

[2022-10-03 08:20] N-thony commented on #6726
@MeSophie can you try this?

[2022-10-03 13:16] N-thony commented on #6526
@rdstern this issue seems to be fully solved, could we close it? Thanks

[2022-10-03 15:13] john-bagiliko opened #7901 "Climatic > Dates >Fill Date Gaps gives a weird error"
I am trying to fill date gaps in my dataset. I want to ensure complete years.

![data_options](https://user-images.githubusercontent.com/40699289/193611435-f6882576-4b30-4b5a-a97a-bd11f95f75ff.PNG)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Climatic > Dates > Fill Date Gaps'
2. Check  'Ensure complete years' and 'Sort Data after filling gaps'
3. See error

![Error_capture1](http

[2022-10-04 07:10] N-thony commented on #7741
@derekagorhom can you try this? I'm happy to support you.

[2022-10-04 07:13] N-thony commented on #7262
@anastasia-mbithe can you take this over? I'm happy to support you.

[2022-10-04 07:13] rdstern commented on #6526
ok

[2022-10-04 07:13] #6526 closed

[2022-10-04 07:15] #7258 closed

[2022-10-04 07:25] derekagorhom commented on #7741
ok i will have a look at it

[2022-10-04 08:13] #7818 closed

[2022-10-04 08:45] #7318 closed

[2022-10-04 08:45] #6686 closed

[2022-10-04 08:52] #7829 closed

[2022-10-08 21:07] rdstern commented on #7884
@ChrisMarsh82 I have now - after talking to David, seen that this issue is easy to resolve.  The problem re-opening a dataset with a bigz or a bigq variable is because the gmp package has not been loaded.  If that is loaded first - perhaps (in case we want to reopen a dataset) maybe it should always be included on startup of R-Instat?

[2022-10-10 10:25] #6978 closed

[2022-10-10 16:05] rdstern opened #7906 "Check output from skim options once html is a possible format for the output window"
I hope the html output in the window will soon be implemented?  Now @ChrisMarsh82 is back I wonder what stage the work on this topic by @Patowhiz has got to?

Once implemented, then I hope the skim command output can be checked.  Here is an example, where the layout might be clearer in html:
![image](https://user-images.githubusercontent.com/11226469/194908742-83734e20-c7e5-4cfe-af60-b665089dfc45.

[2022-10-11 06:55] berylwaswa commented on #7895
Okay thank you.

[2022-10-11 09:58] rdstern commented on #7812
I think that's fine.  I am more concerned that the grid should go back to the original height if it can, so if no variable is wrapped?
And I would also like to be sure there is an easy way that a very wide column (say 2000 characters - or even 500 - like the statquotes)  can be made narrower, without having to do it manually.  I think you can make it full width by double-clicking on it.  But how t

[2022-10-11 09:59] #7774 closed

[2022-10-11 10:04] #7701 closed

[2022-10-11 12:38] N-thony commented on #7812
@derekagorhom can you implement this? Let me know if you face a problem.

[2022-10-12 07:49] anastasia-mbithe commented on #7262
@rdstern, am trying to understand this issue. so which is the new tabulation system? or which dialog uses it so that I can have an idea of it

[2022-10-12 09:17] rdstern commented on #6770
@N-thony the main item (I think) is the formatting of the table output in ways that parallel the graphics sub-dialogue.  This was started by Ivan and then @rachelkg prepared a document on how this could be completed.
@lilyclements discussed this topic with John on her recent visit and I think he has started the work and has an initial pull request.

I have another small separate improvement that c

[2022-10-12 09:30] rdstern opened #7910 "Is the latest version of One Variable > Summarise > Customised installed?"
@lilyclements this seems to work well in that it never crashes.  But I thought it could now produce some summaries for (ordered) factors or dates?
With the dodoma data the dates give the following results:
![image](https://user-images.githubusercontent.com/11226469/194918157-f61561cc-0290-4efd-9f23-ad95f2201c05.png)

I thought you had fixed it, so that minimum, maximum, etc were given, and even sh

[2022-10-12 09:35] N-thony commented on #7812
@derekagorhom in the options group box you can have two radio buttons, `wrap` and `unwrap`, the default is wrap which does what the dialogue is doing now, and `unwrap` will just run the code proposed by @lilyclements above.
so when you click wrap it will display the `nud control` to enter the `width`.
@rdstern what do you think?
![image](https://user-images.githubusercontent.com/68591383/195306788

[2022-10-12 10:13] rdstern commented on #7812
I was thinking that this wrapping/unwrapping - like the alignment might go elsewhere - possibly in the Edit menu.  Then we would delete the wrap option from that dialogue.
For reference I also note the suggestion from David that alignment should become part of the column metadata?

[2022-10-12 10:20] rdstern opened #7911 "Adding new help context numbers"
I include a few examples to start with, so @N-thony can instruct a new intern with the method of doing this.  I will also send periodically the new help file as well.
This has help context numbers that need to be included in each dialogue and sub-dialogue.
Here are some to be added/changed.
If you use the Describe Two/Three variables then

a) Pivot table dialogue needs help context 417
b) Two way

[2022-10-12 10:48] derekagorhom commented on #7812
@rdstern please does this mean  we are to create a new dialogue for wrap/unwrap?

[2022-10-15 11:51] rdstern opened #7914 "Odd feature when reopening a control with an expression"
Here is the curiosity with the Prepare > Numeric > Enter dialogue.  It is the same with the Prepare > Calculator.

![image](https://user-images.githubusercontent.com/11226469/195984327-d951ab51-c123-4c3a-96ea-55a3a48a15bc.png)

I typed the expression `"Bachelor's Degree"`.  This works fine.  But press Close and then reopen the dialogue and the quote is repeated twice.  If you do this again (and po

[2022-10-17 08:31] anastasia-mbithe opened #7917 "Link the Missing Options subdialog to specific areas required."
This is from a conversation I had with @N-thony.

The missing options sub dialog is currently linked to the Describe>One Variable> Summarise dialog under the Customised button.
Add the sub dialog to;
1. Describe > Two variables dialog when we have Omit missing values checkbox. The checkbox is visible when we have Numeric by Categorical and Numeric by Numeric summaries.
2. Describe > Specific Table

[2022-10-18 11:22] MeSophie commented on #7749
I noticed that  **Random Split...** and **Scale/Distance...** are already translate in Crowdin but still in English in R-Instat. For **Merge (Join)...** and **Stack (Pivot Longer)...** I fixes it in Json file.
Please @lloyddewit and @N-thony  can you have a look ?

![image](https://user-images.githubusercontent.com/106779233/196410461-b3adeb07-a5b5-42ba-9eb1-a9d65d0672c7.png)

![image](https://use

[2022-10-18 12:02] N-thony commented on #7749
@MeSophie good, it is probably that those controls are not in the database or maybe they are but named differently.
@Vitalis95 would you like to look at it?

[2022-10-18 12:04] MeSophie commented on #7744
I make some modification on **Import and Tidy Shapefile...** translation in Crowdin. @N-thony please have a look.  I close this issue because because by solving #7749 we will also solve the missing translation of this issue (Stack (Pivot Longer)).

[2022-10-18 12:04] #7744 closed

[2022-10-18 12:35] Vitalis95 commented on #7749
@MeSophie , could check if these texts are in the Json file. You can add them if there are not there so that I can add them to the database
![image](https://user-images.githubusercontent.com/89011415/196430070-9daa82b1-7c00-4435-b4b7-be4d2566c246.png)
![image](https://user-images.githubusercontent.com/89011415/196430214-ed6bec71-177c-49dc-8cc3-b5e1678b0449.png)

[2022-10-18 12:41] N-thony commented on #7679
@MeSophie sounds good, @Vitalis95 can you check this too and make the changes in your branch?

[2022-10-18 13:07] MeSophie commented on #7749
@Vitalis95 I added **Display As Data Frame, Centre, Whole Data Frame and Distance.**  the rest was already in the Json file.

[2022-10-18 13:18] MeSophie commented on #7601
@N-thony I think we can close this issues. What do you think? We already solve this through #7701.

[2022-10-18 14:52] MeSophie commented on #7600
@N-thony and @lloyddewit this translation is still **Enregistrer les données à** in R-Instat.

![image](https://user-images.githubusercontent.com/106779233/196465209-c1d981f1-a1d2-479e-b0ac-07df61630242.png)

[2022-10-18 15:35] MeSophie commented on #7599
This Dialog has some modifications I added Variable Name, Variable Label, Lists, Levels and Name in Json file.
For New Data Frame >Construction, Try is still Try in french version.

![image](https://user-images.githubusercontent.com/106779233/196474294-c8826298-4edc-483d-9e18-d79d831a604e.png)

For New Data Frame > Lists I added Category and Show Command.

![image](https://user-images.githubuserco

[2022-10-19 19:23] lilyclements commented on #3432
@rdstern I just wanted to check about multiple missing values - do we want R-Instat to be able to recognise that, say, -99 is NA?

[code]

Where I am getting a bit confused is that if I run `mean(df$s2, na.rm = TRUE)`, then it still doesn't recognise `9` as `NA`. Just want to check I am on the right page though before pursuing further

[2022-10-19 19:37] lilyclements commented on #6419
@Tula1 nice find. So try running in a script window the following:

[code]

I think you should find that the `clusters` output is _not_ a vector, but is instead a list. We want to put this as a vector back into the data frame. I found this by looking at a simple example in the `clusters` help page.

I'll go through an example here, with some questions to consider. And I'll just run this example fo

[2022-10-19 20:00] lilyclements commented on #7910
@rdstern the mean/min/max/median changes are fixed here: #7465 - it is just yet to be merged

[2022-10-20 09:52] #7914 closed

[2022-10-20 12:31] rdstern commented on #3432
@lilyclements great you are back on this.  Let me read through the comments above before I make suggestions.  The best example data I have is the Pakistan MICS data that imports easily.  This is SPSS data where up to 3 missing value codes are possible for each variable.  There some variables like age have some "ordinary" missing, but 99 might be refused and so on.  In another variable 9 may be mis

[2022-10-20 14:26] lilyclements commented on #7262
@anastasia-mbithe the new tabulation system uses the code `data_book$summary_table` (see my comment above). This is used in the One Variable dialog for custom tables I believe. It is also used here #7920 in this PR that @Vitalis95 is working on.

[2022-10-21 05:16] N-thony commented on #7821
@lilyclements yes, this was asssigned to @Vitalis95.
@Vitalis95 can you give an update on this?

[2022-10-21 05:55] Vitalis95 commented on #7821
@N-thony , on this issue , there was already a PR #7831 which  @lilyclements closed
I will reach out to @lilyclements , the function we had added initially converted the y-axis to a character variable  if more than one column is selected, it should be left as factors

[2022-10-21 07:24] #7773 closed

[2022-10-21 08:16] lloyddewit commented on #7599
@MeSophie Thank you for identifying this.
The easiest way to spot text that is not currently translated is to select Russian. I think that only the 6 strings highlighted below need to be added to the JSON file. After the CrowdIn translations are done, and the database updated, then the strings should then translate automatically.

There's no mechanism yet to translate the column headings in the 'C

[2022-10-21 08:23] lilyclements commented on #7821
Not sure why I closed this - think it was an accidental closure. It is now reopened

[2022-10-21 08:26] lloyddewit commented on #7600
@MeSophie Thank you for spotting. If we change the English text in this dialog to 'Save Data As:` and also change the JSON file, then this should fix this issue.
Please could you do this? thanks

![image](https://user-images.githubusercontent.com/57253949/197149453-8609baeb-255b-45b8-97d6-488062617703.png)

[2022-10-21 08:40] lloyddewit commented on #7749
@MeSophie I understand these were added in PR #7921, it's always good to reference the PR.

@Vitalis95 did you start this yet? if not I'm happy to look at it, let me know

Thanks!

[2022-10-21 09:09] Vitalis95 commented on #7749
@lloyddewit , I have started looking at it

[2022-10-21 17:53] rdstern opened #7929 "Adding summaries of data from frequency tables?"
I asked @berylwaswa for a school example of data that could be typed in, after using the File > New Data Frame dialogue.
She has given me the following example:
![image](https://user-images.githubusercontent.com/11226469/197253316-108da127-567b-447c-9e6b-9a135a58c0dc.png)

I initially rejected it, because it is using data on frequencies and I keep hoping we will move past that.  So I would prefer

[2022-10-22 14:17] rdstern commented on #3432
@lilyclements I have sent the MICS data and that includes the household data, file hh.sav.
1) This file has 53280 rows and 329 variables.
2) The 24th variable is called HH26B.  This is numeric, and has just one value, 97, labelled as Inconsistent.  There are 16788 missing (NA) for this variable.  There are no observations with the value 97.
3) The 145th variable is HC3.  This is numeric with 2180

[2022-10-22 20:22] lilyclements commented on #4620
@Patowhiz what sort of input fields would we have on a general import dialog? Should we work on designing this

[2022-10-23 07:59] lloyddewit commented on #6720
I tried to recreate this bug. The closest I could get is shown in the screenshot below. I think this bug no longer exists so I will close this issue.
@rdstern Please could you also try and recreate? And if successful reopen the issue?
Thanks!

![image](https://user-images.githubusercontent.com/57253949/197381045-6ff0c5d6-4217-423c-ae08-c2593dafb9cc.png)

[2022-10-23 08:13] lloyddewit commented on #6619
I was not able to recreate the error above, and I think it is fixed. However, I was able to trigger a different error (see screenshot below). I will investigate. I suspect I need to fix this in the RScript library.

![image](https://user-images.githubusercontent.com/57253949/197381579-982bc6d3-2a0b-4f84-99be-316d60828ffd.png)

[2022-10-23 09:26] lloyddewit commented on #6720
I managed to recreate the bug. I pasted the R code from PR #6619 into the script window. When I came back about an hour later, a line containing single quotes (sse below) was surrounded by many more single quotes. Lines with double quotes were unaffected.
Since this issue was opened, the Script window has been completely rewritten and now uses the third-party Scintilla control. Therefore, I doubt

[2022-10-23 10:20] lloyddewit commented on #5807
I tried to recreate this bug. The script window now allows the user to assign using `=`. If I follow the test case above, then I still get an error. But I don't think this is a problem. The [R language reference](https://cran.r-project.org/doc/manuals/r-release/R-lang.html) states:

The [R manual](https://stat.ethz.ch/R-manual/R-devel/library/base/html/assignOps.html) states:

In other words the `

[2022-10-23 10:20] #5807 closed

[2022-10-23 10:25] lloyddewit commented on #4444
This is now fixed so I will close.

[2022-10-23 10:25] #4444 closed

[2022-10-23 10:35] lloyddewit commented on #4381
@rdstern @Patowhiz
I think all the items in this PR have been fixed, are OTBE or are reflected in issue #7632. I think it will be easier to manage the script window enhancements if we close this issue.
If you think there are additional enhancements/fixes in this PR not covered elsewhere, then please could you add them to issue #7632 ?
Thanks

[2022-10-23 10:35] #4381 closed

[2022-10-23 10:45] lloyddewit commented on #4216
I understand that the remaining parts of this issue are:
- In the script window, do not display a warning each time the user selects 'Run All' (maybe have a checkbox 'do not show this again' or something similar)
- Allow the script window to be used even if a dialog is open

@rdstern If I misunderstood, then please let me know, thanks

[2022-10-24 07:54] Patowhiz commented on #4381
@lloyddewit agreed.

[2022-10-24 08:49] Patowhiz commented on #4620
@lilyclements happy to help with the design.
The first step is of course to connect to a database. This design will probably be the same as the sub dialog for connecting to Climsoft database. Inputs required are;
![climsoft_connect](https://user-images.githubusercontent.com/21179007/197485078-49297260-b3db-4f70-a2ca-4444d05997df.PNG)

The disabled "Connect" button, asks for a password which we don

[2022-10-24 09:02] Patowhiz commented on #6720
@lloyddewit very strange indeed. I wonder which other R script is capable of causing this. We could then get a pattern that can help with further investigation.

[2022-10-24 09:11] Patowhiz commented on #7812
@derekagorhom he means we have as a menu item under the edit menu. And also include it as a column metadata. Then once that is done, wee can remove the option from the Transform Text Column dialog.
@N-thony including this as part of the column metadata, may requires some R data book additions.

[2022-10-24 09:44] lloyddewit commented on #7749
@Vitalis95 Thank you for the database changes in PR #7926.
The prepare menu now seems to translate completely apart from 2 strings.
Tools/options/import and Prepare/Data Reshape/Scale Distance dialog also have some untranslated text.
I think all of these should be reolved when PR #7908 and PR #7927 are merged, apart from:
- Number of Preview Rows:
- Scale/Distance
- Selected Variables
- New Data F

[2022-10-24 10:01] lloyddewit commented on #6720
@Patowhiz I think it's any script that contains single quotes, even a minimal script like:
[code]
I don't think that it's not caused by any dialog, the problem is purely in the script window.
I am currently running an R-Instat instance in debug mode. I put breakpoints on all the handler functions that are called when the text changes. This may give me more info.

[2022-10-24 11:50] N-thony commented on #7707
@rdstern I also noticed that when you click Reset button nothing happen.
![image](https://user-images.githubusercontent.com/68591383/197519146-dc9dfcd2-4c59-4f3a-b78b-3d707bf3f866.png)

[2022-10-24 13:16] lilyclements commented on #4620
@Patowhiz great thanks for explaining all of this.

So presumably the sub-dialog you have displayed there will run:

[code]

[2022-10-24 13:17] lilyclements commented on #4620
@derekagorhom has started work on the postgresr dialog, but I think we should hold off until we have discussed this dialog design.

@Patowhiz are you thinking this will go in the general file menu?

[2022-10-25 05:42] Patowhiz commented on #4620
@lilyclements yes to the above.
Please note that we already have a command that will ask for the password. So the sub dialog simply sends the following script to R.
`data_book$database_connect(dbname="mariadb_climsoft_test_r_db_v4", host="localhost", port=3306, user="root")
`
I would suggest we use the same connection prompt sub-dialog used by climsoft dialog. We can easily generalise it too.

In

[2022-10-25 05:45] Patowhiz commented on #6720
@lloyddewit aha yes. That should explain it.
I didn't know we changed `DoNotTranslate` to `DoNotDelete`. Or is that a knew key phrase you introduced in the translation system?

[2022-10-25 08:58] N-thony commented on #7812
@lilyclements I think @rdstern just runned the following code in the `script window`
`data1 <- data_book$get_data_frame(data_name = data1)`
`View(data1)`

[2022-10-25 09:03] N-thony commented on #7777
@rdstern on item b) I think it is because we are using `data_book$add_columns_to_data(data_name="primes", col_data=primes)` and this is adding the column in the primes dataset, it overwrites if it find the same columns.

![image](https://user-images.githubusercontent.com/68591383/197731482-36e4755a-a316-47e2-8352-37a1391a7e02.png)

[2022-10-25 10:57] lilyclements opened #7931 "Minor bug in Script Window message"
@Patowhiz can you assign this to who can fix it? It is a very minor one that I came across! But in ucrScript, we currently have

https://github.com/africanmathsinitiative/R-Instat/blob/ab00c9ea6ecfbb9c99bdd94812bc674307130212/instat/ucrScript.vb#L383

[code]

If I try and paste something in the script window and I get the error message, it crashes. I think the issue is that we do not want to use `

[2022-10-25 11:02] Patowhiz commented on #7931
@lilyclements you mean even text pasting into the script window?
Are you using the development version of R-Instat or the release version?
@lloyddewit recently added a new control to the script window. I didn't get any bug when I pasted to it.

[2022-10-25 11:23] lilyclements commented on #7931
@Patowhiz pasting text is fine, because we shouldn't get the error message then. The issue I'm getting is with the error message. We should have a message pop up if I try to paste something that I shouldn't - but instead the program crashes because our error message is incorrect.

[2022-10-25 11:26] Patowhiz commented on #7714
@rdstern we do support importing html and json files in the normal file import dialog. Rio supports html tables by default, please note it must be a html table. To import complicated htmls we have to implement web scrapping.

@anastasia-mbithe could you quickly have a look at whether the attached file imports correctly. If it does kindly outline for us the steps.

[2022-10-25 11:51] Patowhiz commented on #7931
@lilyclements it's not crashing on my end, neither I'm I getting the message. How can I reproduce the error message. I'm using the latest changes from the master.

[2022-10-25 11:59] lilyclements commented on #7931
@Patowhiz I am using the latest version too - it occurs for me if I paste something like a picture not from the R environment. Like if I paste a photo from my PC (I only discovered the issue because I thought I had copied something else)

[2022-10-25 12:19] Patowhiz commented on #7931
@lilyclements okay. @anastasia-mbithe kindly try and reproduce this too, as outlined above by @lilyclements. Use the latest changes from the master. It would be useful if you investigate at what point it breaks. Many thanks.

[2022-10-25 14:39] N-thony opened #7932 "Script window opened but it is not checked on Toolbar shortcut button"
![image](https://user-images.githubusercontent.com/68591383/197804039-986e2b67-daf5-4b35-8168-5c0606175cb4.png)

[2022-10-25 15:22] N-thony commented on #7777
@derekagorhom I fixed item b) please fix item a)

[2022-10-26 07:30] N-thony commented on #7812
@lilyclements I suspect now this issue is from `Reogrid` which doesn't allow data with exponential notation. I'm investigating this with the `Reogrid` documentation if we can allow these kind of data. You can try to enter for example `1.810032e+09` in any cell and it will remove the exponential notation.

[2022-10-26 08:36] anastasia-mbithe commented on #7714
@Patowhiz, I've been looking into this, for now, there's an error as @rdstern had noted that the dataset is not a data frame. It seems the Rio package doesn't support importing JSON files directly, we have to use jsonlite::fromJSON() and its imported to R as a list,  in our case with the dataset proposed, a large list.

I tried to convert the data from this file/site to a data frame and I got 1 ob

[2022-10-26 09:56] anastasia-mbithe commented on #7931
@Patowhiz and @lilyclements, am not able to reproduce the error as well, if I paste an image/picture, nothing happens; no error message, no crashing.

[2022-10-26 09:57] N-thony commented on #7931
Same to me, I was not able to reproduce this error.

[2022-10-26 10:05] lloyddewit commented on #6720
@Patowhiz You are correct! It should be `DoNotTranslate`. I fixed it in my comment above.

[2022-10-26 10:10] Patowhiz commented on #7714
That's interesting. It is important that we implement `json` files import.
@anastasia-mbithe can you do that in the import dialog?
Of course only if it's in the list of @rdstern and @N-thony priorities.

[2022-10-26 10:18] lilyclements commented on #7931
The issue isn't about triggering the error message - the issue is that when the error message is triggered, R-Instat crashes.
We want the error message to be triggered, but of course don't want to crash R-Instat.
So we need to find out how to trigger the error message for you so that we can work out if it causes a crash.

I have worked out the problem that was causing the crash, and so I have fixe

[2022-10-26 11:04] #7931 closed

[2022-10-26 21:01] rdstern commented on #7812
@N-thony the grid does allow e-notation for a variable.  I think you organised and simplified the Scientific option in the column metadata.  There, if you change the option to TRUE the variable will be in e-notation.  In presentation, we don't have a fixed number of decimals yet, but we do have scientific.  We don't (yet?) have any options that some numbers in a variable could be in scientific and

[2022-10-27 06:46] rdstern opened #7936 "Add facilities for tabulating and summarising multiple response questions"
We do need to add facilities for processing multiple response questions in survey-type data.  They are in SPSS and are very common.  There is little mentioned in R.  Here is one useful entry on [stack-overflow](https://stackoverflow.com/questions/9265003/analysis-of-multiple-response).

This mentions the UserFriendlyScience package as providing a route.  That has been removed from CRAN, because th

[2022-10-27 06:51] N-thony commented on #7812
@rdstern yes, I got it, I will investigate now if it is possible that some numbers in variable could be in scientific and others not
![image](https://user-images.githubusercontent.com/68591383/198211645-d2a28a83-4467-46cb-81f9-d4c43374f33f.png)

[2022-10-27 08:51] rdstern opened #7938 "Minor bug on Prepare > Data Frame > Rename"
I think this is simple for @N-thony to do, or allocate, as it has happened on other dialogues.  But it just may be tricky - and then we have to leave it as a "feature" rather than a bug.

When you rename multiple and then click ok when you are still in the last variable you have renamed then this last variable is ignored.  I don't know enough to suggest that the Ok key should close the previous co

[2022-10-27 11:19] lilyclements commented on #4620
Okay great. @Patowhiz where on this design do you then get to specify the specific table you want to import (that is, run the `DBI::dbListTables(plh_con)`)? Are these the options in that drop down by "Selected Stations"?

<img width="322" alt="image" src="https://user-images.githubusercontent.com/21180424/198270836-783035dc-c272-406b-96b2-b3bf9d797812.png">

[2022-10-27 11:56] Patowhiz commented on #4620
@lilyclements
In climsoft we have hardcoded the tables, because we know them, and the dialog is specific to the database and tables it is importing them from. The options in the "Selected Stations" drop down just dictate the sql "select" statement that shows the stations. For instance, as a user I may want to view stations by station id or station name.

In this general case, I think you will have

[2022-10-27 12:50] Patowhiz opened #7939 "Space between dialog comment and script produced"
In the script window, there is a space (new line) between the comment and script the produced by the dialog. This space is omitted in the output widow. I find this inconsistent. I suggest this space in the script window to also be removed.
@N-thony @rdstern if you both agree, you can delegate someone to do this.

**Script window example**
![space](https://user-images.githubusercontent.com/21179007

[2022-10-28 08:18] lloyddewit commented on #7749
PR #7908 has now been merged. Most of the problems above have been resolved. The only remaining problems are shown below. I think we can solve most of these by adding text to the JSON file. When PR #7927 is merged, then I'll test again.

----

In the Tools/Options dialog, the window needs to be moved to give space for the Russian translation:

![image](https://user-images.githubusercontent.com/572

[2022-10-28 08:39] #7600 closed

[2022-10-28 09:12] rdstern opened #7941 "Adding Expand to the Stack dialogue?"
I need a second opinion on my solution and the location of this function.  I have been very pleased to find it.

It builds on the problem I raised in #7929 where the data were frequencies.  I wanted the be able to stretch out the data to show how it would have looked in "ordinary" form.

I have now found a solution in the package called `vcdExtra`.  We already have vcd (Visualising Categorical Dat

[2022-10-31 10:33] rdstern opened #7944 "Add 2 keys and change help button in Prepare > Calculator > Transform keyboard"
@anastasia-mbithe there are a number of issues coming still on the calculator.  Here is the first - the transform keyboard.

Here is the current Transform keyboard:
![image](https://user-images.githubusercontent.com/11226469/198980071-168c99fd-c210-4c19-be1d-e501a22b365f.png)

a) In the second and third rows I hope there could be a change in the width, so there can be 5 keys in each.  After cumsum

[2022-10-31 12:15] rdstern opened #7945 "Improve the Prepare > Calculator > Summary keyboard"
@anastasia-mbithe there is already an issue on adding another section to this keyboard.  This adds to the work on the existing keys.

a) The mode key can produce multiple modes if they exist.  This can currently only be saved into a new variable if it is a whole fraction of the length.  So add the rep function round it as you have done elsewhere:

So change the current : `statip::mfv()`

Into `rep

[2022-11-01 06:38] N-thony commented on #7941
@rdstern I have added vcdExtra in PR #7934

[2022-11-01 06:53] rdstern commented on #7941
@N-thony great - thanks

[2022-11-01 16:28] rdstern commented on #7777
@N-thony I tried this and got this error:

![image](https://user-images.githubusercontent.com/11226469/199285373-0d81e6ef-f4b0-4267-b8d0-cf9111ca9ffb.png)

[2022-11-01 19:44] rdstern commented on #7876
@lilyclements and @anastasia-mbithe and @berylwaswa I would like to put this issue "to bed" for now.

![image](https://user-images.githubusercontent.com/11226469/199312462-1242ebf8-4671-40cf-ad34-c22b9d284d7c.png)

Here is the latest version .
a) The factorize2 key uses the DescTools package and works fine, as shown above.
b) I think the `primes` package used to also have a factorize function, but

[2022-11-02 04:21] N-thony commented on #7777
@rdstern this is now fixed.

[2022-11-02 10:18] rdstern opened #7947 "Improve the Add Columns to Data function?"
This is an interesting oddity, which I suggest needs just a small edit.  I wonder if @lloyddewit might be prepared to look at it.  Otherwise it could be @N-thony?  It could wait till the new integer keyboard, by @anastasia-mbithe is available.

Here is how to get this item.
a) File > New Data Frame, change rows to 100 and click to give the 2 variables including the first going 1 to 100.
b) Use Pre

[2022-11-03 08:38] anastasia-mbithe commented on #7618
Am closing this because it was fixed in PR #7904

[2022-11-03 08:38] #7618 closed

[2022-11-03 09:11] rdstern opened #7950 "Add a simple Find dialogue into the Edit menu?"
I would like to see the Edit menu "completed".  I am including @Patowhiz in this issue, just to get his take on the suggestions below.  Also it may prompt him to advise on how the Copy > Paste features can be completed - I think there is still a bit to go here.  Then @N-thony could advise, but this might be a simple task for Derrick or Victor, once agreed.

I would like to be able to use reogrid a

[2022-11-05 07:29] rdstern commented on #7806
@lilyclements can we proceed on this topic?  From Monday Victor is returning to INNODEMS after an intensive 6 months computing course.  And Derrick is also a computer science graduate.  And I have a suggestion for a modest starting point.  I suggest we start with a few of the databook functions.  (That's category b) above.  And we choose those that are used frequently, when pressing the script but

[2022-11-06 09:49] #7917 closed

[2022-11-06 12:07] rdstern opened #7953 "Adding random sampling to the probability keyboard in the calculator"
We don't yet have the commands to generate random samples.  I suggest they go in the probability keyboard they are a new section called `Random`.

a) the existing probability keys are 5 across.  So I suggest we continue with that layout.
b) The first row might be `uniform, normal, uni_integer, bernoulli, binomial`
c) the second row could then be `poisson, nbinomial, gamma, beta, sample`

d) Unifor

[2022-11-06 18:19] rdstern commented on #7929
So the additions to the summary keyboard could usefully be as follows.

a) It is a block with label Frequencies
b) The updated Help button can remain in its current position as part of the Summary block.
c) It has (like the summary block) 5 keys per row.
d) The first row is length, sum, min, max, mode1
e) The second row is miss, mean, median, var, sd
f) the third row is mad, IQR, distinct,propn, q

[2022-11-07 06:50] rdstern commented on #5628
Recent discussions with @dannyparsons suggest this may be a reasonably straightforward feature to add.  If so, then I am keen that we start with the calculator, but then consider extending the feature to other data prepare dialogues

[2022-11-08 12:50] anastasia-mbithe commented on #7876
@rdstern,
The function sapply(x, gmp::lucnum) gives a very weird output. Do you mind if we use Zseq::Lucas(n=nrow(data), gmp=TRUE)?

In the image below, column Calc is generated by the sapply function, while Calc1 is generated by Zseq::Lucas().

![image](https://user-images.githubusercontent.com/89011047/200567793-56f5532b-0ed4-4b1a-950e-b5f8d175ac9a.png)

[2022-11-10 08:48] anastasia-mbithe opened #7955 "Importing a large dataset with many columns/ variables"
This follows after a task in Importing files from JSON format, described in issue #7714.
So I got a way of reading and importing the file in R, https://github.com/africanmathsinitiative/R-Instat/files/9240241/wikivital_mathematics.zip. However, I couldn't get to import the same file in R-Instat.

Here are the R codes;
data1<- jsonlite::fromJSON(txt = "D:/Datasets/wikivital_mathematics.json", simpl

[2022-11-10 09:58] rdstern opened #7956 "Add tab and other keys to improve data entry into reogrid"
Here is a dataset I have just entered into R-Instat, i.e. using reogrid.  I found it awkward in R-Instat compared to Excel, but also had a small problem in Excel.
![image](https://user-images.githubusercontent.com/11226469/201052411-88b5fa87-9185-4e88-97d6-021550010229.png)

Before adding to the facilities in reogrid, I would like the programmer to try the task I set myself.

Now @berylwaswa who I

[2022-11-10 10:43] derekagorhom commented on #7812
@lilyclements and @rdstern  do you have any R code for implementing alignment options also, i,e  to implement left-align, right-align and center for column variables in the datasets.

[2022-11-10 11:00] rdstern commented on #7812
@derekagorhom I also wonder whether you need R code for the alignment options to be able to do it in reogrid?
Perhaps you could check with the right-click at the bottom - and View data-frame on the R viewer for the data frame, to see whether this has the same alignment as reogrid, for example for numeric variables that are centred in reogrid?
However, @lilyclements it does link to the R-Instat dat

[2022-11-10 11:38] berylwaswa opened #7957 "Improve the New Data Frame dialogue"
@N-thony on the new data frame dialogue, when I change the type of the first variable to a factor, the 1,1000 is not cleared. Please make it such that when the variable is a factor the 1,1000 is cleared since it's not relevant anymore. Below is an image of what the dialog looks like when the first variable is changed to factor.
![New Data Frame 11_10_2022 2_21_16 PM](https://user-images.githubuser

[2022-11-10 15:11] rdstern commented on #7957
@berylwaswa in the video you could (behind the scenes) change the 1,1000 to NA, which is what the correction will probably do.
@N-thony that correction isn't quite so obvious, but (for simplicity) I suggest that is what you do?  It would be ok for the 1,1000 to apply, even if it is a factor, though it doesn't now.  If I just make it a factor it currently makes it just the level 1, which is clearly

[2022-11-11 10:02] rdstern opened #7959 "Options to show/hide the comments and R-commands in output window no longer work?"
@ChrisMarsh82 and @Patowhiz we used to have the option in Tools > Options > Output Window to show or hide the R-commands and the comments.
They no longer appear to work.
I wondered whether this might be related to Patrick's changes for html, but they don't work either in Version 0.7.7?
I would be happy for the options to be implemented differently, if that is your preference, but would like the op

[2022-11-11 13:10] Patowhiz commented on #7959
It's absolutely possible.  Will look into it

[2022-11-11 13:21] rdstern commented on #7959
@Patowhiz just to mention that the old system worked fine, but only for the future.  So if you switched off the commands, then they remained for the past and were off from when you did it.
The converse is more important, because ideally our default would be to not show command.  Then you could always switch them on later.  It would be ideal if it then showed the commands for the whole session, and

[2022-11-12 18:25] rdstern opened #7962 "Add a special window for the Help files in R-instat"
This video shows how to get [help with SPSS](https://www.youtube.com/watch?v=_wh8TbY5Keo).
We currently use a browser window.  It would be good to use - like SPSS - a separate window.

We call 2 separate help systems in R-Instat.  The "ordinary" help from each dialogue, or the help menu, gets to a similar help system as the one used by SPSS.
Some of the halfway dialogues also call R-help, i.e. spe

[2022-11-13 10:31] rdstern opened #7963 "Adding yet another package - mainly for data sets"
The [book is by MIchael Franke](https://michael-franke.github.io/intro-data-analysis/Chap-01-00-intro-topics.html)
Here is an idea: of the content:
![image](https://user-images.githubusercontent.com/11226469/201516441-2c3b599a-aca2-4aa8-8d74-78e4067c92e3.png)

The reason I am interested in the book now is particularly because of the data sets, described in Section 1.5:
![image](https://user-images

[2022-11-13 21:33] rdstern commented on #6744
@lloyddewit Here is a script - well a function from the DescTools package documentation, function Fibonacci.  It gives an error.
[code]
When I put it into the script window - development version - the function part.  It gives an error and says:

![image](https://user-images.githubusercontent.com/11226469/201544715-e31e1a93-74e0-4ece-8585-47e966cbe3e2.png)

[2022-11-15 19:45] #7876 closed

[2022-11-15 19:45] #7944 closed

[2022-11-16 09:21] N-thony commented on #7956
@mmulahvictor for item b) which is related to issue 7273, in the `ucrDataViewReoGrid` just move the code in line `177` in the If block i.e after line `178`
![image](https://user-images.githubusercontent.com/68591383/202140521-f02fd702-e61f-4f65-8dad-7c29db2b8ef6.png)

[2022-11-17 10:19] N-thony commented on #7956
yes, this is actually easy for @mmulahvictor to implement.

[2022-11-17 18:21] rdstern commented on #7910
I still don't see a difference in the One Variable summarise - for ordered factors:
![image](https://user-images.githubusercontent.com/11226469/202525092-9c71958f-5bef-4de6-81ab-8960907168f5.png)

or for dates:
![image](https://user-images.githubusercontent.com/11226469/202525350-61504cee-ee9e-43ca-875e-79310dc96d51.png)

So I wondered if perhaps the changes were added to the general dialogue.  So

[2022-11-18 05:57] N-thony commented on #7812
@derekagorhom how is it going? Since we can not handle the alignment with R, I think we can get rid of the alignment control from then dialogue, and think of the alignment option later and this can be merged as it is now.

[2022-11-18 05:59] N-thony commented on #7794
@derekagorhom can you check if this is fix then close it?

[2022-11-18 06:00] N-thony commented on #7741
@derekagorhom I think this is fixed in PR 7916, have a look.

[2022-11-18 06:02] N-thony commented on #7213
@derekagorhom is this completed?

[2022-11-18 06:06] N-thony commented on #7817
@Vitalis95 any plan about this? Please update the spreadsheet.

[2022-11-18 06:07] N-thony commented on #7749
@MeSophie can you check if this is now fixed and probably close this issue?

[2022-11-18 06:14] Vitalis95 commented on #7817
@N-thony , there is an open Pull Request on distributions, when it will be matched I will do this to avoid merging conflicts

[2022-11-18 06:44] N-thony commented on #7125
@Vitalis95 do you still have some work to complete this issue or it is fully done?

[2022-11-18 06:47] N-thony commented on #6377
@Vitalis95 can you check with @Patowhiz about this issue?

[2022-11-18 08:07] rdstern commented on #7963
@N-thony I am now more convinced we should add the package above.  Could you do your magic as an issue for the next release.  Please note that it is not in CRAN, so has to be installed from github as shown above.  That's a similar situation to the mmtable2 package.

I tried those commands as an R-Instat script and it worked fine.  Rachel installed through RStudio.

[2022-11-18 08:20] N-thony commented on #7956
@mmulahvictor let me know if you an issue with this.

[2022-11-18 08:31] derekagorhom commented on #7213
Yes

[2022-11-18 08:52] N-thony commented on #7495
@anastasia-mbithe can you close this if it is completed?

[2022-11-18 08:56] N-thony commented on #7888
@anastasia-mbithe any plan about this? Also update the spreadsheet. Thanks!

[2022-11-19 16:54] rdstern commented on #7212
We now have the ggpairs dialogue working and here are 2 nice examples from tutorial 1.

![image](https://user-images.githubusercontent.com/11226469/202861816-6b5a7acd-b19f-42ad-b206-1f5855f1b59d.png)

Now there is something missing from these plots and that is the legend.  We don't know which colour corresponds to which group, etc.

Here is the dialogue:
![image](https://user-images.githubusercont

[2022-11-20 11:39] rdstern opened #7968 "Improving the Climatic > Model > Extremes dialogue"
I am making this issue from the pull request:

I have been working with @Vitalis95 and @Ivanluv on improving the extremes dialog. These are the improvements:

i) Under the Bayesian fit method, prior parameters, Initial values and number of iterations was added to improve the model.
ii) We added the confidence intervals tab that outputs the parameter and return level, with corresponding return peri

[2022-11-20 18:41] rdstern commented on #7968
It will be good for you to explain, ready for testers, what you have done to test the new dialogue, before expecting others to check. This to include which data you used, and what models you fitted.
a) I like the new Options sub-dialogue. It is a good improvement. Please tidy the bottom of the sub-dialogue, so the controls are centred and there isn't that large space.
b) I tested with the dodoma d

[2022-11-20 18:42] rdstern commented on #7968
The issues raised above have now been sorted. Attached is a description of how the added parameters in the dialogs work. I have used the Dodoma Dataset to test the dialogs.

Please have a look at it.

[Testing the Extremes Dialogs..docx](https://github.com/africanmathsinitiative/R-Instat/files/9784822/Testing.the.Extremes.Dialogs.docx)

[2022-11-20 21:15] MeSophie commented on #7749
@N-thony  we still have **Selected Variables** , **Scale/Distance**,  and **Whole Data Frame** in english.

![image](https://user-images.githubusercontent.com/106779233/202925645-06be1ce2-fba3-4954-b700-c0c405931b32.png)

![image](https://user-images.githubusercontent.com/106779233/202925670-42a67e71-781b-4bb2-b47a-4fb747325140.png)

![image](https://user-images.githubusercontent.com/106779233/202

[2022-11-21 06:50] N-thony commented on #7212
@rdstern I think this will be good for @MeSophie to work on it, it will help her more on understanding the coding concept of R-Instat.

[2022-11-21 06:51] N-thony commented on #7212
@MeSophie can you take this over?

[2022-11-21 06:55] N-thony commented on #7749
@MeSophie I think those controls are missing in the database, @Vitalis95 can you check if they are missing and add them in the database?

[2022-11-21 10:21] #7741 closed

[2022-11-21 11:13] #7714 closed

[2022-11-21 12:55] N-thony commented on #6770
@anastasia-mbithe after our discussion, you are happy this over. We can work this together.

[2022-11-21 16:44] rdstern opened #7971 "Add new humidity elements into the Define Climatic Dialogue"
[bohicon.zip](https://github.com/africanmathsinitiative/R-Instat/files/10058352/bohicon.zip)

I am adding a climatic dataset from Bohicon in Benin.  Just one year!
In the Define climatic data it would be useful if 2 more elements could be included, namely `Minimum RH (%)` and `Maximum RH (%)`.
Here is the current dialogue:
![image](https://user-images.githubusercontent.com/11226469/203111010-43e5a

[2022-11-22 09:44] #6726 closed

[2022-11-22 10:21] #7670 closed

[2022-11-22 11:02] #7957 closed

[2022-11-22 15:38] rdstern commented on #7532
@MeSophie I first wish to check that apsimx is being installed in the new version of R-Instat.  Please can you check, and make an issue of this, if not.  Otherwise your examples dialogue won't work anyway.

Then, could you write a script to run apsimx for an example of a model.  Choose an example where all the climatic elements already exist, and without any missing values.  In general getting the

[2022-11-23 06:44] rdstern commented on #6744
While I am thinking about it, I list some examples of sample scripts that could be well documented and available, for teaching purposes, and to facilitate tasks that are not so simple directly from the dialogues.  These are just to record them and this does not affect the timing/priority of these improvements in R-Instat.
a) We have a tweaking guide - and tweaking dialogues, i.e. starting with a d

[2022-11-23 08:04] MeSophie opened #7974 "Uninstalled apsimx package."
I am working on a new dialog (apsimx examples) for crop simulation. This dialog needs the apsimx package to be able to run its models package which is not yet installed in R-instat. Please can this package be part of the pre-installed package?

![image](https://user-images.githubusercontent.com/106779233/203497051-9204a1a2-08d2-4d99-b136-54f0ae853d50.png)

[2022-11-23 08:26] rdstern commented on #7974
@N-thony can you arrange that, either by writing the corresponding issue in the required way, or by showing @MeSophie how she can do that.

[2022-11-23 08:29] N-thony commented on #7974
@rdstern sounds good

[2022-11-23 10:39] Patowhiz commented on #7959
@rdstern I've been thinking about this for a while now, More comments below.

 I find the current default counter intuitive because;

1. We have a "To Script" button I every dialog. Any user can always go back to the dialog and use the button to have a look at the code.
2. We have an Audit log that can always be viewed. It has a log of all the scripts produced. Users can always go to it and check

[2022-11-24 11:07] #7121 closed

[2022-11-24 11:07] #7778 closed

[2022-11-24 11:07] #7808 closed

[2022-11-24 11:19] #7707 closed

[2022-11-24 14:27] rdstern opened #7979 "Continue to improve the output window"
The output window now takes html.
This has been merged, so that other dialogues can use this major new feature.

There remain some oddities [reported here](https://github.com/africanmathsinitiative/R-Instat/pull/7853#issuecomment-1324094630).

I hope they can soon be resolved too.

[2022-11-24 15:16] rdstern opened #7980 "Adapt the Describe > One Variable > Frequencies as no output now from the stem option"
@N-thony I would like you to manage who does what on the set of issues for the new output window.
This one looks messy and needs a bit of detective work, to sort it out, that may be additional and unrelated.  I wonder if @Vitalis95 might be able to undertake it?  I expect others to be simpler and you may be able (in parallel) to do some yourself, in just a few minutes, or to allocate them.

This s

[2022-11-24 15:42] rdstern opened #7981 "Adapt the Describe > 2/3 Variables > Two-Way Frequencies for the new Output Window"
@Patowhiz I am suggesting you could fix this dialogue quickly, because there is also something odd about the Graphics part, described below.

a) The tables part is html, so now needs to go to the output window
b) The graphics part is odd.  It says it can't find the temporary location:

![image](https://user-images.githubusercontent.com/11226469/203822157-cb3c7346-f70f-47ac-a7b4-b326b465432d.png)

[2022-11-24 16:49] rdstern opened #7982 "The new object stuff isn't working for the simple linear regression model"
With the survey data I use the Model > Two variable > Fit dialogue as follows:
![image](https://user-images.githubusercontent.com/11226469/203832971-cafed689-e1ca-4480-9fce-95a9138db6cc.png)

It looks the same in Version 0.7.7 and the new merged version.  It runs fine in 7.7 and gives an error in the merged version.  Here is the R code in the 2 versions:
Version 0.7.7:
[code]
It is a lot longer in

[2022-11-24 21:16] rachelkg commented on #7979
Hi @Patowhiz,
Exciting progress on the output window!

So far, I have noticed a couple of oddities.

- For one thing i cannot see my whole graph without maximizing which seems annoying, as you cannot look at the graph in reference to the data.

- Second, sometimes the graph has a scroll bar and sometimes it does not, though the two graphs are the same size. The first time I made the graph there wa

[2022-11-25 07:02] rdstern opened #7983 "Add Options button to Describe > One Variable > Summarise > Customised"
Maybe this Options button will be a special version of the Format Table.
Or preferably the `Format Table` will also be available as another button?

The Options would then just enable the Labels (Names) for each Column to be specified, and also the order of the summaries could be chosen.
It is possible that the Column names will also be a feature of the Format Table, because that would be useful g

[2022-11-25 08:17] rdstern opened #7984 "Adapt the Describe > 2/3 Variables > Three-Way Frequencies for the new Output Window"
This should be simple for anyone to do, once @Patowhiz has fixed the 2-variable frequencies.  For the graph option I get the same problem as the 2 variable:
![image](https://user-images.githubusercontent.com/11226469/203933087-2aa27a3e-81a7-455b-b866-bf99696bf317.png)

Maybe he will therefore sort out both dialogues at the same time, or leave this to someone else?

Another topic to check is that b

[2022-11-25 09:19] N-thony commented on #7852
@Patowhiz as now PR #7853, we can have a quick discussion about everything above and then I will enable the team how can do it systematically.

[2022-11-25 14:15] #7533 closed

[2022-11-25 14:33] #7971 closed

[2022-11-25 14:53] #7945 closed

[2022-11-25 14:53] #7929 closed

[2022-11-26 10:07] rdstern commented on #5706
@Patowhiz plotly does not seem to be working yet in the new windows.  At least in the examples I tried it didn't do anything, i.e. it didn't go into plotly.
I used the survey data, and tried with a boxplot and bar chart.  No error, but just nothing happened.
I also tried in 0.7.7 and all was still fine.
Now I also wonder, with plotly in our own window (so no longer a browser) whether:
a) We make i

[2022-11-26 13:34] rdstern opened #7985 "Making (much) more use of our Pivot Tables in our new (html) windows?"
For spreadsheet users the pivot tables/graphs are probably the best part of the software for doing statistics.
We have pivot tables/graphs in R-Instat already, and now perhaps looking even better with our new html system.
I have recently found - for the first time - a book with a [chapter and video on this rpivotTable package](https://rforhr.com/pivottables.html).
@Patowhiz one thing he does in th

[2022-11-26 14:02] rdstern opened #7986 "Possible menu changes in the Describe menu"
@lilyclements I would like to check when we meet on Monday, before any implementation.  I would also like @N-thony view, because he is pretty good on design!  Once agreed, then perhaps he can suggest who could implement.
@lloyddewit you may have other ideas and the changes may not be quite so trivial, because I am suggesting small wording changes and we need to remember the language translation im

[2022-11-27 09:12] Patowhiz commented on #7984
@rdstern I'm happy to refactor this.
But first, I have an issue with the dialog's design. I'm seeing multiple grouping factor receivers. And some receivers have factors in brackets while others don't. I suggest alternative labels.
The script produced by the both option is basically the one produced by the table option. I also wonder why we have the both options in the first place, I find that to b

[2022-11-27 09:18] Patowhiz commented on #7981
I can quickly do this. I also suggest that we loose the "Both" option. Just as proposed in issue #7984

[2022-11-27 09:18] rdstern commented on #7984
@Patowhiz just to mention that the difference in the labels is deliberate, in your example, because the row variable (the first one) doesn't have to be a factor.  Usually it is, but it is sometimes very convenient to have the frequencies of a numeric variable (like the yields in the survey) to see how many repeats there are, and also to get the cumulative percentages.
The others do need to be fact

[2022-11-27 09:20] rdstern commented on #7981
@Patowhiz great - but can we (at least for now) disable, rather than lose it.  Unless you think it will never come back?

[2022-11-27 09:46] rdstern commented on #7985
I report here that a new pull request - to be merged soon - means it now works!

I suggest this could also be a great component for @jkmusyoka course next year.

Here is an example of an html file.

[survey.zip](https://github.com/africanmathsinitiative/R-Instat/files/10097882/survey.zip)

Here is a picture from within the file.

![image](https://user-images.githubusercontent.com/11226469/20412830

[2022-11-27 09:58] Patowhiz commented on #7985
@rdstern the html file shared needs to have the folder files as well. The html file loads the necessary java script and css files from the associated folder. To see the associated folder, save the file in a black directory.
This is normal even when saving html files from the web using your browser.

[2022-11-27 10:02] Patowhiz commented on #7981
If it ever comes back, the 2 options should be added as 2 check boxes accompanied by a corresponding 2 save controls.
I suggest that we loose it for now. It will simplify the dialog immensely for the user. I suggest this also for 2 way frequencies.
Should I do so?

[2022-11-27 10:06] Patowhiz commented on #7984
If the row variable doesn't have to be a factor, then why are we adding the factor in brackets. Why not eliminate it entirely?

[2022-11-27 10:35] rdstern commented on #7984
We thought, because it is usually a factor.  But I would be Ok to not have the `(Factor)` as the word Variable does include a factor.

[2022-11-27 13:09] lloyddewit commented on #6720
Fixed in PR #7988

[2022-11-27 13:09] #6720 closed

[2022-11-27 13:20] lloyddewit commented on #5986
@rdstern Can we close this issue (see comment from @Patowhiz above)?
thanks

[2022-11-27 14:01] lloyddewit commented on #4932
Fixed in PR #7871

[2022-11-27 14:01] #4932 closed

[2022-11-27 14:08] lloyddewit opened #7989 "Summary of Script window changes requested"
This issue summarizes all the currently open changes requested that are related to the Script window:

- [ ] add tabbed windows
- [ ] tidy up file open/save/save-as functionality
- [ ] add reformat option to tidy indentation and line breaks (including splitting long lines)
- [ ] make 'ctrl-enter' execute the R statement at the cursor (rather than just the line), this should fix the current bugs wi

[2022-11-28 04:39] N-thony commented on #7852
@Patowhiz could we have this chat today? Let me know when you are available.

[2022-11-28 05:08] N-thony commented on #7986
@rdstern I think we can leave `Two/Three Variables` since we are using only texts for menu items title and to make it consistents with other menu items specially with `One Variable`
I agree with items a) and b) i.e `Pivot Table/Graph` since Graph is the word the most used in R-Instat, I think they are still some part called differently and it will be good to make it consistent all depending on whi

[2022-11-28 07:27] anastasia-mbithe commented on #7895
Since we solved this issue by removing Primes::prime_factors() function from the factorize key and using only DescTools::Factorize() function which works well, am closing this issue.

[2022-11-28 07:27] #7895 closed

[2022-11-28 08:51] #7860 closed

[2022-11-29 11:33] rdstern commented on #7986
@N-thony, what do you think?

I also like @lilyclements suggestion to simplify the menu items for the graphics dialogues.  I think it was Shadrack who wanted the more comprehensive items, and they don't seem to be so appropriate for our intended audience.

[2022-11-29 11:40] N-thony commented on #7986
@rdstern that sounds good to me and happy with @lilyclements's suggestion. I think if all is good @derekagorhom can start making the changes?

[2022-11-29 12:22] N-thony commented on #7986
@lilyclements I just changed the Plot in capital letters for `Scatter Plot...` `Line Plot...`

[2022-11-29 13:24] lilyclements opened #7993 "Adding options to gt summary table"
To follow on from Issue #6770, I wanted to create a new issue to discuss changes to the table sub-dialogs since the design has changed a lot since we first discussed!

We currently have two sub dialogs for summary tables: `sdgFormatSummaryTable` and `sdgSummaryTables`. We want some consistency with the sub-dialogs for `ggplot2`. This means we still want two sub-dialogs, but we want to mix things u

[2022-11-29 13:24] #6770 closed

[2022-11-29 21:56] rachelkg opened #7994 "Import from library Instat Collection Browse"
Hello @Patowhiz and @N-thony

I have noticed that when you use the Import From Library > Load from Instat Collection > Browse it opens to the library initially. But if you then navigate away from the R-Instat library to use a different file, the next time it does not revert back to the library, instead it remembers the random place that the user when to and reopens there. I think that it would be

[2022-11-30 07:16] Patowhiz commented on #7994
@rachelkg yes it is possible. @N-thony would be good to have this solved in the next release.

[2022-11-30 07:32] N-thony commented on #7994
@rachelkg I had a quick check of this and the code seems fine, and when I tried with the released version it always open to the library initially. If you try running R-Instat with the visual studio version, it will not as expected.

[2022-11-30 07:39] N-thony commented on #7986
@rdstern I agree with this, I also had a quick check `Line/Smooth/Dumbell/Slope` dialogue, the title is Line Plot, but if you change the option to `Smooth` or `Dumbel` or `Slope` it is still Line Plot as dialogue, perhaps in such case we can make it dynamic, anytime you change the option the title also change?
![image](https://user-images.githubusercontent.com/68591383/204735108-99cc6365-47bd-4187

[2022-11-30 21:17] lilyclements commented on #5706
@rdstern from a quick look, there have been a lot of neat features to include! I'll find some time to explore these further and write up a summary in another issue